/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.abilityUpgradesPanel
{
	width: 550px;
	flow-children: down;
	visibility: collapse;
}

.showingAbilityUpgrades .HasUpgrades.abilityUpgradesPanel
{
	visibility: visible;
}

.shopClosed .abilityUpgradesPanel
{
	opacity: 0.5;
}

#upgradeOptions
{
	flow-children: down;
	width: 100%;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 12px;
	margin-top: 10px;
}

.upgradeTierDivider
{
	margin-top: 18px;
	flow-children: right;
	margin-bottom: 3px;
}

.upgradeTierText
{
	color: grey;
	font-size: 12px;
	padding-left: 6px;
	vertical-align: center;
}

.numAPPoints
{
	color: white;
	font-size: 16px;
	vertical-align: center;
}

.abilityUpgrade
{
	width: 100%;
	background-color: rgba( 0, 0, 0, 0.4 );
	border-radius: 4px;
	opacity: 0.4;
	margin-bottom: 4px;
}

.abilityUpgrade.owned
{
	opacity: 1;
	background-color: #2e5d68;
}

#abilityIcon
{
	width: 64px;
	height: 64px;
	margin-right: 8px;
	vertical-align: center;
	border-radius: 8px;
	visibility: collapse;
}

.upgradeText
{
	flow-children: right;
	vertical-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 45px;
}

.upgradeName
{
	color: gold;
	font-size: 16px;
	visibility: collapse;
	vertical-align: center;
}

#upgradeDesc
{
	color: darkgrey;
	font-size: 16px;
	vertical-align: center;
	padding-right: 80px;
}

#upgradeDesc .highlight
{
	color: white;
}

.purchasedIcon
{
	margin-right: 8px;
	horizontal-align: right;
	vertical-align: center;
	visibility: collapse;
}

.owned .purchasedIcon
{
	visibility: visible;
}

#AbilityUpgradesLabel
{
	width: 100%;
	background-color: #213235;
	color: #00DDFF;
	text-transform: uppercase;
	font-size: 21px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 3px;
	visibility: collapse;
}

.abilityUpgradePip
{
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/ability_point_indicator_png.vtex");
	height: 28px;
	width: 28px;
	margin-left: -5px;
}

.owned .abilityUpgradePip
{
	wash-color: white;
}

.AbilityPointsNum_1 .DividerAbilityUpgradeTier_1 .abilityUpgradePip,.AbilityPointsNum_2 .DividerAbilityUpgradeTier_1 .abilityUpgradePip,.AbilityPointsNum_3 .DividerAbilityUpgradeTier_1 .abilityUpgradePip,.AbilityPointsNum_4 .DividerAbilityUpgradeTier_1 .abilityUpgradePip,.AbilityPointsNum_2 .DividerAbilityUpgradeTier_1 .abilityUpgradePip,.AbilityPointsNum_3 .DividerAbilityUpgradeTier_1 .abilityUpgradePip,.AbilityPointsNum_4 .DividerAbilityUpgradeTier_1 .abilityUpgradePip,.AbilityPointsNum_4 .DividerAbilityUpgradeTier_2 .abilityUpgradePip
{
	background-image: url("s2r://panorama/images/hud/ability_point_indicator_active_png.vtex");
}

.AbilityPointsNum_1 .AbilityUpgradeTier_1.abilityUpgrade,.AbilityPointsNum_2 .AbilityUpgradeTier_1.abilityUpgrade,.AbilityPointsNum_3 .AbilityUpgradeTier_1.abilityUpgrade,.AbilityPointsNum_4 .AbilityUpgradeTier_1.abilityUpgrade,.AbilityPointsNum_2 .AbilityUpgradeTier_2.abilityUpgrade,.AbilityPointsNum_3 .AbilityUpgradeTier_2.abilityUpgrade,.AbilityPointsNum_4 .AbilityUpgradeTier_2.abilityUpgrade,.AbilityPointsNum_4 .AbilityUpgradeTier_3.abilityUpgrade
{
	opacity: 0.7;
}

.AbilityPointsNum_1 .AbilityUpgradeTier_1.abilityUpgrade.owned,.AbilityPointsNum_2 .AbilityUpgradeTier_1.abilityUpgrade.owned,.AbilityPointsNum_3 .AbilityUpgradeTier_1.abilityUpgrade.owned,.AbilityPointsNum_4 .AbilityUpgradeTier_1.abilityUpgrade.owned,.AbilityPointsNum_2 .AbilityUpgradeTier_2.abilityUpgrade.owned,.AbilityPointsNum_3 .AbilityUpgradeTier_2.abilityUpgrade.owned,.AbilityPointsNum_4 .AbilityUpgradeTier_2.abilityUpgrade.owned,.AbilityPointsNum_4 .AbilityUpgradeTier_3.abilityUpgrade.owned
{
	opacity: 1;
}

.AbilityPointsNum_1 .AbilityUpgradeTier_1.unowned.abilityUpgrade:hover,.AbilityPointsNum_2 .AbilityUpgradeTier_1.unowned.abilityUpgrade:hover,.AbilityPointsNum_3 .AbilityUpgradeTier_1.unowned.abilityUpgrade:hover,.AbilityPointsNum_4 .AbilityUpgradeTier_1.unowned.abilityUpgrade:hover,.AbilityPointsNum_2 .AbilityUpgradeTier_2.unowned.abilityUpgrade:hover,.AbilityPointsNum_3 .AbilityUpgradeTier_2.unowned.abilityUpgrade:hover,.AbilityPointsNum_4 .AbilityUpgradeTier_2.unowned.abilityUpgrade:hover,.AbilityPointsNum_4 .AbilityUpgradeTier_3.unowned.abilityUpgrade:hover
{
	opacity: 1;
	brightness: 2;
}

.AbilityPointsNum_1 .AbilityUpgradeTier_1.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_2 .AbilityUpgradeTier_1.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_3 .AbilityUpgradeTier_1.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_4 .AbilityUpgradeTier_1.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_2 .AbilityUpgradeTier_2.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_3 .AbilityUpgradeTier_2.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_4 .AbilityUpgradeTier_2.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_4 .AbilityUpgradeTier_3.abilityUpgrade #upgradeDesc .highlight
{
	color: #67fe9c;
}

.AbilityPointsNum_1 .AbilityUpgradeTier_1.owned.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_2 .AbilityUpgradeTier_1.owned.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_3 .AbilityUpgradeTier_1.owned.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_4 .AbilityUpgradeTier_1.owned.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_2 .AbilityUpgradeTier_2.owned.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_3 .AbilityUpgradeTier_2.owned.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_4 .AbilityUpgradeTier_2.owned.abilityUpgrade #upgradeDesc .highlight,.AbilityPointsNum_4 .AbilityUpgradeTier_3.owned.abilityUpgrade #upgradeDesc .highlight
{
	color: white;
}

.upgradeButton
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 20px;
	visibility: collapse;
	background-color: #4596a9;
	padding: 3px 20px 3px 20px;
	border-radius: 5px;
}

.AbilityPointsNum_1 .AbilityUpgradeTier_1 .upgradeButton,.AbilityPointsNum_2 .AbilityUpgradeTier_1 .upgradeButton,.AbilityPointsNum_3 .AbilityUpgradeTier_1 .upgradeButton,.AbilityPointsNum_4 .AbilityUpgradeTier_1 .upgradeButton,.AbilityPointsNum_2 .AbilityUpgradeTier_2 .upgradeButton,.AbilityPointsNum_3 .AbilityUpgradeTier_2 .upgradeButton,.AbilityPointsNum_4 .AbilityUpgradeTier_2 .upgradeButton,.AbilityPointsNum_4 .AbilityUpgradeTier_3 .upgradeButton
{
	visibility: visible;
}

.AbilityPointsNum_1 .AbilityUpgradeTier_1.owned .upgradeButton,.AbilityPointsNum_2 .AbilityUpgradeTier_1.owned .upgradeButton,.AbilityPointsNum_3 .AbilityUpgradeTier_1.owned .upgradeButton,.AbilityPointsNum_4 .AbilityUpgradeTier_1.owned .upgradeButton,.AbilityPointsNum_2 .AbilityUpgradeTier_2.owned .upgradeButton,.AbilityPointsNum_3 .AbilityUpgradeTier_2.owned .upgradeButton,.AbilityPointsNum_4 .AbilityUpgradeTier_2.owned .upgradeButton,.AbilityPointsNum_4 .AbilityUpgradeTier_3.owned .upgradeButton
{
	visibility: collapse;
}

.upgradeButton Label
{
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 2px;
}

.apCostContainer
{
	height: 100%;
	background-color: rgba( 0, 0, 0, 0.4 );
	flow-children: right;
	padding-left: 5px;
	padding-right: 5px;
}

.apCostLabel
{
	vertical-align: center;
	color: white;
	font-weight: bold;
	font-size: 18px;
}

.apLabel
{
	margin-top: 2px;
	color: grey;
	vertical-align: center;
	font-size: 12px;
	margin-left: 2px;
}

#AbilityUpgradesHeaderContainer
{
	flow-children: down;
	background-color: #32747E;
	width: 100%;
	height: 96px;
}

#AbilityHeaderLabels
{
	flow-children: down;
	vertical-align: center;
	horizontal-align: center;
}

#AbilityName
{
	horizontal-align: center;
	color: white;
	font-size: 32px;
	font-weight: bold;
}

AbilityDetailsTooltip #AbilityName,AbilityDetailsTooltip #abilityLevelButtonContainer,AbilityDetailsTooltip .AbilityUpgradeLockContainer
{
	visibility: collapse;
}

AbilityDetailsTooltip #AbilityUpgradesHeaderContainer
{
	height: 45px;
}

AbilityDetailsTooltip #UpgradesLabel
{
	margin-top: 0px;
}

AbilityDetailsTooltip .abilityUpgradesPanel
{
	margin-top: 20px;
}

#UpgradesLabel
{
	horizontal-align: center;
	color: #b0b0b0;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: -5px;
	font-weight: bold;
}

#abilityLevelButtonContainer
{
	width: 100%;
	background-color: #494949;
	padding-top: 10px;
	padding-bottom: 10px;
	visibility: collapse;
}

.mods_dash
{
	background-color: #32747E;
	height: 3px;
	vertical-align: center;
	width: 45%;
	border-radius: 3px;
	z-index: 1;
}

.mods_dash.align_right
{
	horizontal-align: right;
}

.AbilityUpgradeLockContainer
{
	width: 504px;
	height: 42px;
	horizontal-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: -23px;
	z-index: 9;
}

.abilityLockedContainer
{
	horizontal-align: center;
	flow-children: right;
	background-color: black;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	z-index: 2;
}

.levelUnlockLabel
{
	margin-bottom: -3px;
	vertical-align: center;
	color: #757575;
	margin-left: 7px;
	font-size: 18px;
}

.mod_lock_icon
{
	background-image: url("s2r://panorama/images/hud/shop_ability_upgrades_lock_icon_png.vtex");
	width: 16px;
	height: 20px;
	background-size: 100% 100%;
	horizontal-align: center;
}

.blueAP
{
	color: blueAPTextColor;
}

