/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

PopupReportPlayer
{
	width: 600px;
}

.MainBody
{
	flow-children: down;
	horizontal-align: center;
	padding: 20px;
}

#Contents
{
	flow-children: right;
	horizontal-align: center;
	padding: 20px 0px;
}

#PlayerInfo
{
	flow-children: down;
	margin-right: 30px;
	max-width: 200px;
}

.LabelRow
{
	flow-children: down;
	horizontal-align: center;
	margin: 5px 0px;
}

.DescArea
{
	max-width: 490px;
	margin-bottom: 5px;
}

.ButtonRow
{
	flow-children: down;
	margin-top: 20px;
	horizontal-align: center;
	flow-children: right;
}

#FeedbackMsg
{
	margin-top: 20px;
	width: 800px;
	height: 400px;
	overflow: clip scroll;
	text-overflow: clip;
	white-space: normal;
}

.TagsDesc
{
	horizontal-align: center;
	font-size: 15px;
	margin-top: 5px;
	color: #666666;
}

.TypeLabel
{
	text-transform: uppercase;
	vertical-align: center;
	margin-right: 5px;
	font-weight: semi-bold;
	opacity: 0.5;
	font-size: 16px;
	margin-bottom: 5px;
}

TextEntry #PlaceholderText
{
	horizontal-align: left;
}

#ReportedUserComments
{
	width: 450px;
}

#HeroImage
{
	margin-top: 0px;
	height: 100px;
	width: 80px;
	margin-bottom: 10px;
}

