/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

CitadelPopupRankedSchedule
{
	flow-children: right;
	margin-top: 100px;
	height: 420px;
	width: 900px;
	vertical-align: center;
	horizontal-align: center;
	background-color: #121212;
	border-radius: 15px;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
}

CitadelPopupRankedSchedule.Hidden
{
	opacity: 0;
	pre-transform-scale2d: 0.3;
}

#SchedulesContainer
{
	flow-children: down;
}

#RegionName
{
	vertical-align: center;
	width: 150px;
	text-align: center;
	flow-children: down;
	font-weight: bold;
}

.selected
{
	color: ritualGreen;
	font-weight: bold;
	font-size: 14px;
	margin-top: 5px;
}

#SetSchedulePopupButton
{
	visibility: collapse;
}

.canSetSchedule #SetSchedulePopupButton
{
	visibility: visible;
}

#DescContainer
{
	width: fill-parent-flow(1.0);
	height: 100%;
	padding: 30px;
	background-color: #222;
	flow-children: down;
	color: offWhite;
}

#ButtonRow
{
	flow-children: right;
}

#SchedulesContainer
{
	padding: 20px 40px;
}

.desc
{
	font-size: 17px;
	font-weight: semi-bold;
	opacity: 0.7;
}

.warning
{
	color: #da6868;
	font-weight: semi-bold;
	font-size: 16px;
	margin-top: 20px;
}

.timeSegment
{
	background-color: offWhite&10;
}

#Weekends
{
	visibility: collapse;
}

