/* Prettified by Source 2 Viewer 11.0.0.0 - https://valveresourceformat.github.io */

CitadelPopupGlobalLeaderboard
{
	flow-children: right;
	height: 800px;
	width: 1480px;
	vertical-align: center;
	horizontal-align: center;
	background-color: #282826f8;
	border-radius: 7px;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
}

CitadelPopupGlobalLeaderboard.Hidden
{
	opacity: 0;
	pre-transform-scale2d: 0.3;
}

#HeroSelectionContainer
{
	width: 64%;
	flow-children: down;
	height: 100%;
	margin: 24px 0px 24px 0px;
}

#CountryContainer
{
	width: 35%;
	margin: 24px 0px 24px;
}

.headerContainer
{
	flow-children: down;
	margin-left: 40px;
}

#Heroes
{
	flow-children: right-wrap;
	width: 100%;
	ui-scale: 80%;
	margin: 20px 0px 0px 36px;
}

#CountriesSelection
{
	flow-children: right;
	width: 100%;
}

.countryLabel
{
	margin: 8px 8px 8px 0px;
	color: #FFEFD740;
	font-size: 16px;
	font-weight: bold;
	padding: 1px 8px 2px 8px;
	transition-property: color;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
	text-overflow: shrink;
}

.countryLabel:hover
{
	color: #FFEFD7aa;
}

.countryLabel:selected
{
	background-color: offWhite&66;
	border-radius: 3px;
	color: offBlack;
}

@keyframes 'RotateIcon'
{
	0%
	{
		pre-transform-rotate2d: 0deg;
	}
	
	100%
	{
		pre-transform-rotate2d: -360deg;
	}
	
}

#ErrorLoadingLabel,#LeaderboardEmptyLabel
{
	visibility: collapse;
	vertical-align: center;
	horizontal-align: center;
	color: #DE5555;
	ignore-parent-flow: true;
}

.errorLoadingData #ErrorLoadingLabel,.leaderboardEmpty #LeaderboardEmptyLabel
{
	visibility: visible;
}

#SearchingIcon
{
	width: 40px;
	height: 40px;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 2px;
	background-image: url("s2r://panorama/images/control_icons/spinner_png.vtex");
	background-size: contain;
	background-position: center top;
	animation-name: RotateIcon;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	wash-color: white;
	ignore-parent-flow: true;
	visibility: collapse;
}

.loadingData #SearchingIcon
{
	visibility: visible;
}

.loadingData #PlayersContainer,.errorLoadingData #PlayersContainer
{
	visibility: collapse;
}

#PlayersContainer
{
	flow-children: down;
	overflow: squish scroll;
	margin: 20px 0px 0px 0px;
	width: 100%;
}

#PlayersRatingContainer
{
	height: 600px;
	width: 440px;
	margin-bottom: 12px;
	background-color: gradient( linear, 50% 50%, 0% 0%, from( #FFEFD702), to( #FFEFD705) );
	border-radius: 3px;
	padding: 0px 8px 20px 0px;
}

.heroIcon
{
	width: 48px;
	height: 48px;
	border-radius: 3px;
	margin: 0px 12px 0px 0px;
}

.headerLabel,.heroLabel
{
	font-size: 32px;
	font-weight: bold;
	vertical-align: center;
	margin-top: 6px;
}

.headerDescLabel
{
	font-size: 20px;
	font-weight: bold;
	margin-top: -4px;
	color: #FFEFD740;
}

.playerRatingHeaderLogo
{
	width: 28px;
	height: 18px;
	background-size: contain;
	background-image: url("s2r://panorama/images/ranked/topbadge_png.vtex");
	margin: 0px 24px 0px 0px;
	vertical-align: center;
}

.playerRatingName
{
	font-weight: bold;
	font-size: 20px;
	color: #FFEFD740;
	margin-left: 12px;
}

.playerRatingLabel
{
	font-weight: bold;
	font-size: 20px;
	color: #FFEFD715;
	width: 40px;
	text-align: center;
	margin: 0px 4px 0px 8px;
}

.footerNote
{
	font-size: 14px;
	color: #FFEFD715;
	width: 440px;
	padding: 0px 40px;
	text-align: center;
}

CitadelHeroCard
{
	opacity: 0.5;
}

CitadelHeroCard:selected
{
	opacity: 1;
	brightness: 2;
}

#TopHeroesContainer
{
	flow-children: right;
	horizontal-align: right;
	height: 100%;
	margin-right: 4px;
}

CitadelHeroImage
{
	height: 25px;
	width: 25px;
}

CitadelRankedBadgeMini#RankedBadge
{
	height: 30px;
	width: 53px;
	visibility: collapse;
}

.showingGlobalLeaderboards CitadelRankedBadgeMini#RankedBadge
{
	visibility: visible;
}

.playerSnippet
{
	margin-right: 15px;
}

.playerSnippet,.playerInfoContainer
{
	width: 100%;
}

