/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

PopupDiscordInvite
{
	width: 700px;
}

PopupDiscordInvite.Loading
{
	width: 450px;
}

.MainBody
{
	flow-children: down;
	horizontal-align: center;
	padding: 20px;
}

.LabelRow
{
	flow-children: down;
	horizontal-align: center;
	margin: 5px 0px;
}

.DescArea
{
	margin-bottom: 20px;
}

.Loading .LoadedPanel,.NotLoadedPanel
{
	visibility: collapse;
}

.Loading .NotLoadedPanel
{
	visibility: visible;
}

#LinkContainer
{
	horizontal-align: center;
	margin: 30px 0px 10px 0px;
	width: 400px;
}

#DiscordLink
{
	border: 1px solid silvered&30;
	padding: 2px 5px 2px 5px;
	font-size: 22px;
	color: silvered&90;
	text-align: left;
	width: 350px;
}

.TextCopied #DiscordLink
{
	border: 1px solid brandGreen&30;
	color: brandGreen&60;
}

#LinkText
{
	vertical-align: center;
	margin-right: 5px;
}

#CopyToClipboard
{
	width: 22px;
	height: 24px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_copy.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: offWhite;
	opacity: 0.6;
}

#CopyToClipboard:hover
{
	opacity: 1;
}

.CopiedText
{
	opacity: 0;
	margin-bottom: 20px;
	margin-top: 5px;
	color: brandGreen;
	font-weight: bold;
	font-size: 18px;
}

.TextCopied .CopiedText
{
	opacity: 1;
}

