/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

PopupPlayerFeedback.PopupPanel
{
	width: 600px;
	padding: 24px 28px 16px 28px;
}

.PopupTitle
{
	text-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	font-family: block;
	font-size: 32px;
	margin-top: 20px;
	margin-bottom: 0px;
	color: offWhite&88;
}

.PopupDesc
{
	text-align: center;
	horizontal-align: center;
	color: offWhite&44;
	margin-top: 16px;
}

.ButtonsTitle
{
	text-align: center;
	horizontal-align: center;
	margin-top: 0px;
	margin-bottom: 16px;
	text-transform: uppercase;
	font-family: block;
	color: offWhite&44;
}

.Buttons
{
	flow-children: right;
	horizontal-align: center;
}

.Buttons .SecondaryButton .completedText
{
	visibility: collapse;
}

.Buttons .SecondaryButton .buttonIcon
{
	width: 16px;
	height: 16px;
	wash-color: offBlack;
	vertical-align: middle;
	margin-top: 3px;
	margin-right: 4px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.Buttons #DiscordButton .buttonIcon
{
	background-image: url("s2r://panorama/images/icons/icon_discord.vsvg");
}

.hasCreatedDiscordInvite .Buttons #DiscordButton
{
	opacity: 0.4;
}

.hasCreatedDiscordInvite .Buttons #DiscordButton .buttonIcon
{
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
}

.hasCreatedDiscordInvite .Buttons #DiscordButton .completedText
{
	visibility: visible;
}

.hasCreatedDiscordInvite .Buttons #DiscordButton .defaultText
{
	visibility: collapse;
}

.Buttons #ForumButton .buttonIcon
{
	background-image: url("s2r://panorama/images/icons/icon_feedback.vsvg");
}

.hasJoinedForum .Buttons #ForumButton
{
	opacity: 0.4;
}

.hasJoinedForum .Buttons #ForumButton .buttonIcon
{
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
}

.hasJoinedForum .Buttons #ForumButton .completedText
{
	visibility: visible;
}

.hasJoinedForum .Buttons #ForumButton .defaultText
{
	visibility: collapse;
}

#EscapeButton
{
	flow-children: right;
	vertical-align: middle;
	horizontal-align: center;
	margin: 66px 0px 16px;
	height: 28px;
	opacity: 0.2;
	transition-property: brightness;
	transition-timing-function: ease-in-out;
	transition-duration: 0.10s;
}

#EscapeButton:hover
{
	brightness: 2.0;
}

#EscapeButton > Label
{
	margin-left: 4px;
	font-size: 20px;
	color: offWhite&88;
	font-family: block;
	text-transform: uppercase;
	vertical-align: center;
}

#EscapeButton > CitadelBinding
{
	vertical-align: middle;
}

