/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@keyframes 'AnimInputFieldFocusIdle'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0.1;
	}
	
}

@keyframes 'PopupBackgroundTransitionOn'
{
	0%
	{
		opacity-mask: url("s2r://panorama/images/buttons/button_nav_mask_threshold_psd.vtex");
		opacity-mask-threshold: 100% 2%;
	}
	
	100%
	{
		opacity-mask: url("s2r://panorama/images/buttons/button_nav_mask_threshold_psd.vtex");
		opacity-mask-threshold: 2% 2%;
	}
	
}

@keyframes 'PopupKeybindBackgroundTransitionOn'
{
	0%
	{
		opacity-mask: url("s2r://panorama/images/masks/wipe_test_01_bw_wide_psd.vtex");
		opacity-mask-threshold: 100% 5%;
	}
	
	100%
	{
		opacity-mask: url("s2r://panorama/images/masks/wipe_test_01_bw_wide_psd.vtex");
		opacity-mask-threshold: 50% 20%;
	}
	
}

@keyframes 'InputInvalidBorder'
{
	0%
	{
		wash-color: colorEnemy;
		opacity: 1;
	}
	
	100%
	{
		wash-color: offWhite;
		opacity: 0.05;
	}
	
}

@keyframes 'NegativeShake'
{
	0%
	{
		transform: translateX(2px);
	}
	
	60%
	{
		transform: translateX(2px);
	}
	
	61%
	{
		transform: translateX(-2px);
	}
	
	100%
	{
		transform: translateX(-2px);
	}
	
}

PopupKeybind.PopupPanel
{
	min-width: 256px;
	padding: 0px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 32px 0px;
	border-radius: 4px;
	border: 0px;
	background-color: none;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/buttons/button_nav_mask_threshold_psd.vtex");
	opacity-mask-threshold: 0% 2%;
	animation-name: PopupBackgroundTransitionOn;
	animation-duration: 0.25s;
	animation-iteration-count: 1;
}

PopupKeybind.PopupPanel .PopupBackground
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-image: paperTile01;
	brightness: 1.25;
	saturation: 1.25;
	background-image: url("s2r://panorama/images/textures/paper_tile_1k_01_psd.vtex");
	opacity-mask: url("s2r://panorama/images/buttons/button_nav_mask_threshold_psd.vtex");
	opacity-mask-threshold: 2% 2%;
	animation-name: PopupBackgroundTransitionOn;
	animation-duration: 0.25s;
	animation-iteration-count: 1;
}

PopupKeybind.PopupPanel .PopupBackgroundShadow
{
	overflow: noclip;
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	position: 0px 8px 0px;
	background-color: rgba(0, 0, 0, 0.5);
	opacity-mask: url("s2r://panorama/images/buttons/button_nav_mask_threshold_psd.vtex");
	opacity-mask-threshold: 2% 2%;
	animation-name: PopupBackgroundTransitionOn;
	animation-duration: 0.25s;
	animation-iteration-count: 1;
}

PopupKeybind.PopupPanel .PopupContent
{
	flow-children: down;
	min-width: 256px;
	height: fit-children;
	padding: 24px 48px;
}

.PopupTitle
{
	horizontal-align: center;
	margin-bottom: 2px;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	color: offWhite&44;
}

#SingleKeyBindLabel
{
	horizontal-align: center;
	visibility: collapse;
	margin-bottom: 2px;
	font-size: 14px;
	font-style: italic;
	color: colorEnemy;
	opacity: 0.65;
}

.SingleKeyBind #SingleKeyBindLabel
{
	visibility: visible;
}

#HeroIcon
{
	vertical-align: center;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	img-shadow: 0px 0px 16px #000000aa;
}

#HeroIcon.Hide
{
	visibility: collapse;
}

#BindingNameContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 2px;
}

#BindingCommandName
{
	horizontal-align: center;
	vertical-align: center;
	margin: 0px;
	text-align: center;
	font-family: sans;
	font-size: 22px;
	font-weight: semi-bold;
	color: offWhite;
	text-overflow: shrink;
}

#BindingsContainer
{
	flow-children: right;
	padding: 16px 0px;
	horizontal-align: center;
}

#BindingsContainer .ColGap
{
	width: 8px;
	height: 100%;
}

#BindingsContainer .Binding
{
	flow-children: down;
	horizontal-align: center;
	padding: 16px;
	background-color: offWhite&06;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0);
	opacity-mask: url("s2r://panorama/images/masks/rough_edge_02.png");
	transition-property: background-color, box-shadow;
	transition-duration: 0.2s;
}

#BindingsContainer .Binding .SlotType
{
	margin-bottom: 8px;
	font-size: 14px;
	text-transform: uppercase;
	color: offWhite&33;
}

#BindingsContainer .Binding .InputField
{
	height: 48px;
	margin-right: 8px;
}

#BindingsContainer .Binding CitadelKeyboardGlyph
{
	horizontal-align: center;
	transition-property: opacity;
	transition-duration: .25s;
}

#BindingsContainer .Binding CitadelKeyboardGlyph.Hide
{
	opacity: .05;
	transition-property: opacity;
	transition-duration: 0.25s;
}

#BindingsContainer .Binding .KeyContainer
{
	background-color: black;
	horizontal-align: center;
	height: 50px;
	width: 280px;
	margin: 10px 10px;
}

#BindingsContainer .Binding .KeyContainer Label
{
	font-family: occult;
	horizontal-align: center;
	text-align: center;
	color: offWhite;
}

#BindingsContainer .Binding:hover
{
	background-color: offWhite&11;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
}

#BindingsContainer .Binding.Active
{
	background-color: offWhite&0c;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.35);
}

#BindingsContainer .Binding.Active .InputField .Border
{
	wash-color: brandGreen;
	opacity: 1;
	animation-name: AnimInputFieldFocusIdle;
	animation-duration: 1s;
	animation-delay: 0.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#BindingsContainer .Binding.Active #PrimaryBindingContainer,#BindingsContainer .Binding.Active #SecondaryBindingContainer
{
	background-color: offWhite&11;
}

#BindingsContainer .Binding.InvalidBinding .InputField .Border
{
	wash-color: colorEnemy;
	opacity: 1;
	animation-name: InputInvalidBorder;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#BindingsContainer .Binding .ButtonWrapper
{
	horizontal-align: center;
	vertical-align: center;
}

#AddSecondaryBindingPanel
{
	vertical-align: center;
	width: fit-children;
	height: 100%;
	padding: 12px 12px;
	background-color: offWhite&06;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0);
	transition-property: background-color, box-shadow;
	transition-duration: 0.2s;
}

#AddSecondaryBindingPanel .ExpandSecondary
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-family: block;
	color: offWhite&66;
}

#AddSecondaryBindingPanel:hover
{
	background-color: offWhite&11;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
}

#AddSecondaryBindingPanel:active
{
	sound: "UI.MainMenu.Activate";
	brightness: 1.5;
	transform: scale3d( 0.98, 0.98, 1 );
}

#AddSecondaryBindingPanel.NoBindings
{
	background-color: #00000033;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0);
}

#AddSecondaryBindingPanel.NoBindings Label
{
	color: offWhite&06;
}

#AddSecondaryBindingPanel.Hide
{
	visibility: collapse;
}

.InputButton.Disabled
{
	opacity: 0.2;
}

#PrimaryBinding,#SecondaryBinding
{
	cursor: text;
}

#SecondaryBindingContainer.Hide
{
	visibility: collapse;
}

.Binding .Active #PrimaryBinding,.Binding .Active #PrimaryBinding
{
	border-color: blue;
	border-radius: 3px;
	background-color: white;
}

#AssignedKey
{
	font-size: 40px;
	color: offWhite;
	margin-bottom: 20px;
}

#InvalidInput
{
	sound: "UI.Settings.Error";
	font-family: block;
	font-size: 16px;
	color: colorEnemy;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.001;
	text-overflow: shrink;
}

#InvalidInput Image
{
	width: 32px;
	height: 32px;
	margin: 0px 8px;
	transform: translateX(0px);
	background-image: url("s2r://panorama/images/icons/not.vsvg");
	background-size: 32px;
	background-texture-size: 32px;
	background-repeat: no-repeat;
	wash-color: colorEnemy;
}

.InvalidBinding
{
	sound: "UI.Settings.Error";
}

.InvalidBinding #InvalidInput
{
	animation-name: AppearAndFade;
	animation-duration: 2s;
	animation-iteration-count: 1;
}

.InvalidBinding #InvalidInput Image
{
	animation-name: NegativeShake;
	animation-timing-function: ease-out;
	animation-duration: 0.06s;
	animation-iteration-count: 4;
}

#BindingConflictWarning
{
	color: offWhite&66;
}

#DupeBindingContainer1,#DupeBindingContainer2
{
	flow-children: down;
	horizontal-align: center;
	padding-top: 11px;
	visibility: collapse;
}

#DupeBindingContainer1 Label,#DupeBindingContainer2 Label
{
	font-size: 16px;
	font-weight: semi-bold;
}

.AlreadyBound #DupeBindingContainer1,.AlreadyBound #DupeBindingContainer2
{
	visibility: visible;
}

#BindingConflictWarning
{
	margin-bottom: 4px;
}

#BindingConflictWarning,#ExistingBinding,#PrimaryDupeDisplayGlyph,#SecondaryDupeDisplayGlyph
{
	vertical-align: center;
	padding: 0px;
}

#PrimaryDupeDisplayGlyph,#SecondaryDupeDisplayGlyph
{
	margin-right: 8px;
}

#ExistingBinding
{
	color: colorEnemy;
}

.Buttons
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 16px;
}

#ClearBinding1,#ClearBinding2
{
	margin-right: 0px;
}

#ResetBinding
{
	tooltip-position: left;
}

.HasBindingConflict #ConfirmBinding
{
	background-color: rgb(255, 94, 0);
}

#EscapeButton
{
	flow-children: right;
	vertical-align: middle;
	horizontal-align: center;
	margin: 66px 0px 16px;
	height: 28px;
	opacity: 0.2;
	transition-property: brightness;
	transition-timing-function: ease-in-out;
	transition-duration: 0.10s;
}

#EscapeButton:hover
{
	brightness: 2.0;
}

#EscapeButton > Label
{
	margin-left: 4px;
	font-size: 20px;
	color: offWhite&88;
	font-family: block;
	text-transform: uppercase;
	vertical-align: center;
}

#EscapeButton > CitadelBinding
{
	vertical-align: middle;
}

.unitSpecificBindIndicator
{
	horizontal-align: right;
	max-height: 10px;
	max-width: 10px;
	border-radius: 5px;
	background-color: brandGreen;
	vertical-align: center;
	margin-right: 10px;
}

.KeybinderCursor
{
	height: 100%;
	width: 1.5px;
	margin: 12px 0px;
	background-color: brandGreen;
	horizontal-align: center;
	visibility: collapse;
	border-radius: 4px;
	animation-name: Blink;
	animation-duration: 0.5s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

.ShowCursor .KeybinderCursor
{
	visibility: visible;
}

.HR1px
{
	width: 100%;
	height: 4px;
	margin: 0px;
	background-color: none;
	background-image: url("s2r://panorama/images/textures/line_1px_png.vtex");
	background-repeat: repeat;
	background-size: contain;
	background-position: center;
	wash-color: offWhite;
	opacity: 0.025;
}

@keyframes 'Blink'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

@keyframes 'AppearAndFade'
{
	0%
	{
		opacity: .8;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

