/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

CitadelPopupRankedSummary
{
	flow-children: right;
	height: 750px;
	width: 1300px;
	vertical-align: center;
	horizontal-align: center;
	background-color: #121212;
	border-radius: 15px;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
}

CitadelPopupRankedSummary.Hidden
{
	opacity: 0;
	pre-transform-scale2d: 0.3;
}

#ReportContainer
{
	flow-children: down;
	width: 50%;
	height: 100%;
}

#TitleRow
{
	padding: 30px;
	width: 100%;
}

.rankTitle
{
	font-size: 26px;
	horizontal-align: left;
	margin-top: 5px;
}

.rankPhaseTitle
{
	horizontal-align: right;
	vertical-align: middle;
	font-weight: semi-bold;
	opacity: 0.5;
}

CitadelRankedBadgeFull
{
	ui-scale: 190%;
	vertical-align: middle;
	horizontal-align: center;
	margin-top: 30px;
	animation-name: FadeIn;
	animation-duration: 0.7s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

@keyframes 'FadeIn'
{
	0%
	{
		pre-transform-scale2d: 0.8;
		opacity: 0;
		brightness: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.3;
		brightness: 5;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		opacity: 1;
		brightness: 1;
	}
	
}

#RankFX
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
}

.rankResultLabel
{
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
	color: ritualGreen;
	horizontal-align: center;
	margin-top: -40px;
	visibility: collapse;
}

.numberOfGames
{
	font-weight: semi-bold;
	horizontal-align: center;
	margin-top: 30px;
	font-size: 20px;
	opacity: 0.7;
}

#ClosePopupButton
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 40px;
}

#MatchesContainer
{
	width: fill-parent-flow(1.0);
	height: 100%;
	padding: 30px;
	background-color: #222;
	flow-children: down;
	color: offWhite;
}

.matchHistoryTitle
{
	font-weight: bold;
	margin-top: 10px;
}

#MatchesContainer
{
	width: fill-parent-flow(1.0);
	height: 100%;
}

#Matches
{
	width: 100%;
	height: fill-parent-flow(1.0);
	margin-top: 10px;
	flow-children: right-wrap;
	overflow: squish scroll;
}

