/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

PopupBuildTagPicker.PopupPanel
{
	flow-children: down;
	margin-bottom: 100px;
	width: 850px;
	max-height: 800px;
	padding: 20px;
	vertical-align: center;
	horizontal-align: center;
	overflow: scroll;
}

.CloseButton
{
	vertical-align: top;
	horizontal-align: right;
	ignore-parent-flow: true;
	width: 25px;
	height: 25px;
	background-size: auto 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
	background-color: none;
	wash-color: offWhite;
}

.Title
{
	horizontal-align: center;
	font-family: bold;
	font-size: 50px;
	font-family: serif;
	letter-spacing: 0.5px;
	font-weight: bold;
	color: offWhite;
	horizontal-align: center;
}

.TagContainer
{
	horizontal-align: center;
	width: 100%;
	flow-children: down;
	padding: 8px;
}

.AllItems
{
	visibility: collapse;
}

.ShowAllItems .AllItems
{
	visibility: visible;
}

.BuildItems
{
	visibility: visible;
}

.ShowAllItems .BuildItems
{
	visibility: collapse;
}

.TagHeader
{
	font-weight: semi-bold;
}

.TagList
{
	flow-children: right-wrap;
	margin: 8px;
}

