/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

CitadelPopupRankedInfo
{
	flow-children: right;
	height: 800px;
	width: 1300px;
	vertical-align: center;
	horizontal-align: center;
	background-color: #121212;
	border-radius: 15px;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
}

CitadelPopupRankedInfo.Hidden
{
	opacity: 0;
	pre-transform-scale2d: 0.3;
}

#InfoContainer
{
	flow-children: down;
	width: 50%;
	padding: 50px 50px 20px 50px;
}

#TextArea
{
	flow-children: down;
	height: 650px;
	overflow: squish scroll;
	padding-right: 20px;
}

.descText
{
	font-weight: medium;
	opacity: 0.6;
}

.descSubHead
{
	text-transform: uppercase;
	margin-top: 30px;
	font-weight: semi-bold;
	margin-bottom: 10px;
}

#ButtonRow
{
	flow-children: right;
	vertical-align: bottom;
}

#AwardsContainer
{
	width: fill-parent-flow(1.0);
	height: 100%;
	padding: 30px;
	background-color: #222;
	flow-children: down;
	color: offWhite;
}

.medalsTitle
{
	horizontal-align: center;
	margin-bottom: 5px;
	font-family: Forevs Demo;
	font-size: 26px;
	font-weight: bold;
	opacity: 0.6;
}

.rankRow
{
	flow-children: right;
	horizontal-align: center;
	margin: 5px 0px;
}

.rankContainer
{
	width: 100px;
	height: 140px;
	margin: 5px;
	background-color: offBlack;
}

.tierRow
{
	height: 200px;
	width: 100%;
	border: 1px solid blue;
	margin-top: 20px;
}

.upperRanks CitadelRankedBadgeFull
{
	ui-scale: 130%;
}

.note Label
{
	text-align: center;
	font-weight: semi-bold;
	horizontal-align: center;
	margin-top: 20px;
	font-size: 16px;
	padding: 0px 50px;
	color: #58ba7e;
}

