/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

PopupCommendPlayer
{
	width: 700px;
}

.MainBody
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	padding: 20px;
}

.CommendChoice
{
	width: 160px;
	height: 160px;
	background-color: #000000;
	margin: 5px 10px;
	border-radius: 10px;
	flow-children: down;
	border: 2px solid #ffffff10;
	padding-top: 10px;
}

.CommendChoice Label
{
	horizontal-align: center;
	font-weight: semi-bold;
	text-align: center;
}

.CommendChoice:hover
{
	brightness: 1.6;
	background-color: #1b1b1b;
}

#CommendButtons
{
	flow-children: right;
	margin-top: 20px;
}

.ButtonRow
{
	horizontal-align: center;
}

