/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

PopupJoinForum
{
	width: 700px;
}

PopupJoinForum.Loading
{
	width: 450px;
}

.MainBody
{
	flow-children: down;
	horizontal-align: center;
	padding: 20px;
}

.LabelRow
{
	flow-children: down;
	horizontal-align: center;
	margin: 5px 0px;
}

.DescArea
{
	margin-bottom: 20px;
}

.PromptDescPanel
{
	flow-children: down;
	margin-bottom: 20px;
}

.ButtonRow
{
	horizontal-align: center;
}

.LoadedPanel,.LoadingPanel,.PromptPanel
{
	visibility: collapse;
}

.Results .LoadedPanel,.Loading .LoadingPanel,.Prompt .PromptPanel
{
	visibility: visible;
}

.PromptPanel
{
	flow-children: down;
}

#LinkContainer
{
	horizontal-align: center;
	margin: 30px 0px 10px 0px;
	width: 400px;
}

#DiscordLink
{
	border: 1px solid silvered&30;
	padding: 2px 5px 2px 5px;
	font-size: 22px;
	color: silvered&90;
	text-align: left;
	width: 350px;
}

.TextCopied #DiscordLink
{
	border: 1px solid brandGreen&30;
	color: brandGreen&60;
}

#LinkText
{
	vertical-align: center;
	margin-right: 5px;
}

#CopyToClipboard
{
	width: 18px;
	height: 20px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_copy.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: offWhite;
	opacity: 0.6;
	margin-left: 10px;
}

#CopyToClipboard:hover
{
	opacity: 1;
}

.CopiedText
{
	opacity: 0;
	margin-bottom: 20px;
	margin-top: 5px;
	color: brandGreen;
	font-weight: bold;
	font-size: 18px;
}

.TextCopied .CopiedText
{
	opacity: 1;
}

.FieldRow
{
	margin: 10px 0px;
	horizontal-align: center;
	flow-children: down;
}

#AccountDetails
{
	flow-children: down;
	background-color: #00000030;
	horizontal-align: center;
	margin: 20px;
}

.accountDetailsTitle
{
	font-weight: bold;
	margin: 15px 0px 5px 0px;
	font-size: 18px;
}

.FieldLabel
{
	font-weight: semi-bold;
	horizontal-align: center;
	margin-bottom: 3px;
}

.EmailField
{
	padding-bottom: 20px;
	border-bottom: 1px solid #ffffff04;
}

#passwordRow
{
	flow-children: right;
	horizontal-align: center;
}

