/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

PopupCustomMatch
{
	width: 700px;
}

.MainBody
{
	flow-children: down;
	horizontal-align: center;
	padding: 20px;
}

#ContentArea
{
	flow-children: down;
	margin-top: 10px;
	width: 500px;
}

.CreateMatch
{
	width: 100%;
}

.CreateMatchButton
{
	height: 70px;
	background-color: #000000;
	margin: 5px 10px;
	border-radius: 10px;
	flow-children: down;
	border: 2px solid #ffffff10;
	background-color: #ffffff10;
	horizontal-align: center;
}

.CreateMatchButton Label
{
	horizontal-align: center;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	padding: 0px 30px;
}

.CreateMatchButton:hover
{
	brightness: 1.6;
	background-color: #717171;
}

.CodeEntry
{
	flow-children: down;
	margin-left: 15px;
	width: 100%;
}

#PartyCodeEntry
{
	horizontal-align: center;
	width: 400px;
	height: 50px;
	margin: 10px 0px;
	border: 2px solid #333333;
}

#PartyCodeEntry Label
{
	font-size: 20px;
	letter-spacing: 0px;
	vertical-align: middle;
	margin: 0px 10px;
	color: #333333;
}

.ButtonContainer
{
	flow-children: right;
}

.Separator
{
	width: 70%;
	background-color: #ffffff05;
	horizontal-align: center;
	height: 2px;
	margin: 30px 0px;
}

.codeEntryLabel
{
	margin-bottom: 0px;
	font-weight: semi-bold;
	horizontal-align: center;
}

.ButtonRow
{
	width: fit-children;
	horizontal-align: center;
}

