/* Prettified by Source 2 Viewer 11.0.0.0 - https://valveresourceformat.github.io */

PopupPrivateBots
{
	width: 700px;
}

.MainBody
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	padding: 20px;
}

.DifficultyChoice
{
	width: 120px;
	height: 150px;
	background-color: #000000;
	margin: 5px 10px;
	border-radius: 10px;
	flow-children: down;
	border: 2px solid #ffffff10;
}

.DifficultyChoice Label
{
	horizontal-align: center;
	font-weight: semi-bold;
}

.DifficultyChoice:hover
{
	brightness: 1.6;
	background-color: #1b1b1b;
}

#BotMatchButtons
{
	flow-children: right;
	margin-top: 20px;
}

.difficultyImg
{
	width: 70px;
	height: 70px;
	horizontal-align: center;
	margin-bottom: 5px;
	margin-top: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.4;
	wash-color: offWhite;
}

.Easy .difficultyImg
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/bots_easy_png.vtex");
}

.Medium .difficultyImg
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/bots_med_png.vtex");
}

.Hard .difficultyImg
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/bots_hard_png.vtex");
}

.ButtonRow
{
	horizontal-align: center;
}

