/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

PopupQueueOptions
{
	flow-children: down;
	width: 750px;
	padding: 30px 40px;
	vertical-align: center;
	horizontal-align: center;
	background-color: #333333;
	border-radius: 15px;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
}

PopupQueueOptions.Hidden
{
	opacity: 0;
	pre-transform-scale2d: 0.3;
}

#TitleArea
{
	margin-bottom: 20px;
	horizontal-align: center;
}

.divider
{
	width: 100%;
	height: 2px;
	background-color: offBlack&10;
}

#ChatSelection
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff05 ), color-stop( 0.5, #9b9b9b30 ), to( #ffffff05 ) );
	min-height: 80px;
	padding: 10px 0px;
	flow-children: right;
}

#ChatSelection.inPartyChat
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff10 ), color-stop( 0.5, #63d28630 ), to( #ffffff10 ) );
}

#ChatSelection.inTeamChat
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff10 ), color-stop( 0.5, #81c6ff30 ), to( #ffffff10 ) );
}

#ChatSelection.chatDisabled
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff05 ), color-stop( 0.5, #9b9b9b30 ), to( #ffffff05 ) );
}

.localPlayerInParty .chatTypeLabel.inPartyOnly
{
	visibility: visible;
}

.chatTypeLabel.notInPartyOnly
{
	visibility: visible;
}

.localPlayerInParty .chatTypeLabel.notInPartyOnly
{
	visibility: collapse;
}

#ChatTypeIcon
{
	width: 50px;
	height: 100%;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/global/chat_type_teamchat.vsvg");
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: center;
}

.inPartyChat #ChatTypeIcon
{
	background-image: url("s2r://panorama/images/global/chat_type_partychat.vsvg");
}

.inTeamChat #ChatTypeIcon
{
	background-image: url("s2r://panorama/images/global/chat_type_teamchat.vsvg");
}

.chatDisabled #ChatTypeIcon
{
	background-image: url("s2r://panorama/images/global/chat_type_disabled.vsvg");
}

#ChatTypeSelector
{
	border-radius: 50px;
	vertical-align: middle;
	max-width: 230px;
	horizontal-align: right;
	ignore-parent-flow: true;
	background-color: none;
	box-shadow: none;
	border: 2px solid offWhite&80;
	margin-right: 20px;
}

#ChatTypeSelector Label
{
	font-size: 16px;
	font-weight: semi-bold;
	vertical-align: middle;
	color: offWhite;
}

.optionTitleArea
{
	flow-children: down;
	vertical-align: middle;
}

.chatTypeLabel
{
	font-weight: bold;
	font-size: 16px;
	visibility: collapse;
}

.localPlayerInParty .chatTypeLabel.inPartyOnly
{
	visibility: visible;
}

.chatTypeLabel.notInPartyOnly
{
	visibility: visible;
}

.localPlayerInParty .chatTypeLabel.notInPartyOnly
{
	visibility: collapse;
}

#LanePreference
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff05 ), color-stop( 0.5, #9b9b9b30 ), to( #ffffff05 ) );
	min-height: 80px;
	padding: 10px 0px;
	flow-children: right;
	visibility: collapse;
}

.localPlayerInParty #LanePreference
{
	visibility: visible;
}

#LanePreferenceIcon
{
	width: 50px;
	height: 100%;
	wash-color: offWhite;
	vertical-align: middle;
	opacity: 0.7;
	background-image: url("s2r://panorama/images/icons/icon_lanes.vsvg");
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: center;
}

#LanePreferenceTitle
{
	font-weight: bold;
	color: offWhite;
	vertical-align: middle;
	font-size: 16px;
}

#LanePreferenceSelector
{
	border-radius: 50px;
	vertical-align: middle;
	max-width: 230px;
	horizontal-align: right;
	ignore-parent-flow: true;
	background-color: none;
	box-shadow: none;
	border: 2px solid offWhite&80;
	margin-right: 20px;
}

#LanePreferenceSelector Label
{
	font-size: 16px;
	font-weight: semi-bold;
	vertical-align: middle;
	color: offWhite;
}

#LanePreferenceSelectorDropDownMenu
{
	width: 170px;
	background-color: offWhite;
}

#BalancedDesc,#PartyLaneDesc
{
	visibility: collapse;
}

.isBalancedLane #BalancedDesc
{
	visibility: visible;
}

.isPartyLane #PartyLaneDesc
{
	visibility: visible;
}

DropDownMenu Label
{
	padding-top: 0px;
}

#TeammatePreference
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff05 ), color-stop( 0.5, #9b9b9b30 ), to( #ffffff05 ) );
	min-height: 80px;
	padding: 10px 0px;
	flow-children: right;
}

#MMPreferenceSelector
{
	border-radius: 50px;
	vertical-align: middle;
	max-width: 230px;
	horizontal-align: right;
	ignore-parent-flow: true;
	background-color: none;
	box-shadow: none;
	border: 2px solid offWhite&80;
	margin-right: 20px;
}

#MMPreferenceSelector Label
{
	font-size: 16px;
	font-weight: semi-bold;
	vertical-align: middle;
	color: offWhite;
}

#TeammatePrefTitle
{
	font-weight: bold;
	color: offWhite;
	vertical-align: middle;
	font-size: 16px;
}

#ChatTypeSelectorDropDownMenu,#LanePreferenceSelectorDropDownMenu,#MMPreferenceSelectorDropDownMenu
{
	width: 230px;
	background-color: offWhite;
}

#MMPreferenceCheckbox
{
	vertical-align: center;
	horizontal-align: right;
	margin-right: 30px;
}

#MMPreferenceCheckbox .TickBox
{
	height: 30px;
	width: 30px;
}

.dashboardNote
{
	font-size: 14px;
	font-weight: semi-bold;
	opacity: 0.5;
	max-width: 320px;
}

#TeammatePreference .dashboardNote
{
	max-width: 420px;
}

#TeamIcon
{
	width: 50px;
	height: 100%;
	background-image: url("s2r://panorama/images/icons/icon_lanes.vsvg");
	background-size: 26px;
	height: 100%;
	wash-color: offWhite;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_extra_competitive.vsvg");
	background-repeat: no-repeat;
	background-position: center;
}

#ButtonRow
{
	horizontal-align: center;
	margin-top: 20px;
}

#ButtonRow #ClosePopupButton:hover
{
	sound: soundMainMenuHover;
}

#ButtonRow #ClosePopupButton:active
{
	sound: soundMainMenuActivate;
}

.CloseButton
{
	width: 48px;
	height: 48px;
	background-color: rgba( 255, 255, 255, 0.02 );
	horizontal-align: right;
	background-image: url("s2r://panorama/images/control_icons/purgatory_png.vtex");
	background-size: 100% 100%;
}

.CloseButton:hover
{
	brightness: 2.0;
}

