/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#NPEModal
{
	flow-children: down;
	height: 400px;
	width: 700px;
	vertical-align: center;
	horizontal-align: center;
	background-color: offWhite;
	background-image: url("s2r://panorama/images/npe/modal_bg_png.vtex");
	background-img-opacity: 0.3;
	border-radius: 10px;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
	color: offBlack;
	padding: 10px;
}

.MainBody
{
	flow-children: down;
	width: 100%;
	height: 100%;
}

.NPEBody
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

.NPEImage
{
	width: 240px;
	height: 100%;
	background-color: #010101;
	background-image: url("s2r://panorama/images/npe/npe_heroes3_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

.NPEText
{
	flow-children: down;
	width: 100%;
	height: 100%;
}

.introText
{
	font-weight: bold;
}

.NewPlayerHeader
{
	margin-bottom: 0px;
	background-color: #47D3FF;
	width: 100%;
}

.NewPlayerIcon
{
	width: 22px;
	height: 22px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_thumbsup.vsvg");
	wash-color: offBlack;
	background-size: contain;
	margin-bottom: 3px;
}

.NewPlayerTitle
{
	font-weight: bold;
	font-size: 30px;
	color: offBlack;
	vertical-align: middle;
	margin-top: 0px;
	horizontal-align: left;
}

.HeaderText
{
	flow-children: right;
	margin-left: 30px;
	margin: 20px 0px 0px 30px;
}

.BodyText
{
	padding: 20px 30px;
	flow-children: down;
	width: 100%;
	height: fit-children;
	vertical-align: top;
	margin-top: 0px;
}

.TypeLabel
{
	font-size: 20px;
	font-weight: medium;
	color: offBlack;
	height: fit-children;
}

.PopupButtonRow
{
	flow-children: none;
	width: 100%;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
}

#StartButton
{
	background-color: offBlack;
	horizontal-align: left;
	margin-top: 30px;
	border-radius: 5px;
	transition-property: brightness, background-color;
	transition-duration: 0.2s;
}

#StartButton Label
{
	font-size: 36px;
	font-family: serif;
	font-weight: bold;
	padding: 5px 30px;
	color: offWhite;
}

#StartButton:hover
{
	brightness: 1.5;
	background-color: offBlack;
}

#StartButton:hover Label
{
	font-style: italic;
}

#SubmitButton
{
	width: 240px;
	height: 60px;
	background-color: #00C14D;
	border-radius: 20px;
}

#SubmitButton Label
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	color: #FFFFFF;
}

#SubmitButton:disabled
{
	background-color: #545454;
}

#CancelButton
{
	horizontal-align: right;
	vertical-align: middle;
}

#CancelButton Label
{
	text-transform: uppercase;
	color: #FFFFFF77;
	font-size: 24px;
}

