/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

a
{
	color: #afb4b4;
	text-decoration: underline;
}

a:hover
{
	color: #FFFFFF;
	text-decoration: underline;
}

.PopupPanel
{
	vertical-align: middle;
	horizontal-align: center;
	flow-children: down;
	padding: 30px;
	width: 800px;
	background-color: #222222;
}

Label
{
	color: silvered;
}

#TitleLabel
{
	font-size: 34px;
	font-weight: bold;
	padding: 10px;
}

#MessageLabel
{
	font-size: 22px;
	font-weight: medium;
	padding: 0px 10px;
}

.PopupButtonRow
{
	flow-children: right;
	margin-top: 20px;
}

.NoTitle #TitleLabel,.NoMessage #MessageLabel
{
	visibility: collapse;
}

.NoTitle #MessageLabel
{
	margin-top: 12px;
}

