/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#MatchIDEntry
{
	horizontal-align: center;
	width: 400px;
	height: 50px;
	margin: 20px 0px;
	border: 2px solid #333333;
}

#MatchIDEntry Label
{
	font-size: 20px;
	letter-spacing: 0px;
	vertical-align: middle;
	margin: 0px 10px;
	color: #333333;
}

.ButtonContainer
{
	flow-children: right;
}

