/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
PopupActivatedAbilitiesSelection
{
	height: 100%;
	width: 100%;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
	opacity: 1.0;
}

.imbueSelection
{
	visibility: collapse;
}

.imbue .imbueSelection
{
	visibility: visible;
}

.imbue .activeSelection
{
	visibility: collapse;
}

PopupActivatedAbilitiesSelection.Hidden
{
	opacity: 0;
}

PopupActivatedAbilitiesSelection AbilitySlotIcon#PurchaseItemIcon
{
	height: 48px;
	padding-left: 0px;
	padding-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

PopupActivatedAbilitiesSelection #AbilitySlotMenu
{
	width: 658px;
	box-shadow: none;
	border: 0px;
	background-color: none;
	border-radius: 0px;
	margin-top: 161px;
}

.ActilitiesSelectionContainer
{
	box-shadow: fill #000000dd 0px 0px 12px 0px;
	background-color: colorCommonDarkGray;
	flow-children: down;
	width: 768px;
	height: 560px;
	horizontal-align: center;
	vertical-align: center;
}

#PurchaseItemLabel
{
	margin-top: 10px;
	font-size: 24px;
	horizontal-align: center;
	text-transform: uppercase;
	color: #ffcc00;
}

#PurchaseItemIcon
{
	margin-top: 40px;
	horizontal-align: center;
	tooltip-position: right;
}

#ActivatedAbilityChooseLabel
{
	margin-top: 141px;
	font-size: 24px;
	horizontal-align: center;
	text-transform: uppercase;
	color: #ffcc00;
}

#exit_button
{
	width: 54px;
	background-color: rgba( 255, 255, 255, 0.02 );
	horizontal-align: right;
	height: 45px;
}

#exit_button:hover
{
	brightness: 2.0;
}

#exit_button Label
{
	horizontal-align: center;
	vertical-align: center;
	color: grey;
	font-size: 32px;
	margin-top: 3px;
}

#ModToPurchaseContainer
{
	flow-children: right;
	horizontal-align: center;
	width: 100%;
	padding: 40px;
}

.WeaponMod #ModToPurchaseContainer
{
	background-color: courageDarkerColor;
}

.ArmorMod #ModToPurchaseContainer
{
	background-color: fortitudeDarkerColor;
}

.TechMod #ModToPurchaseContainer
{
	background-color: spiritDarkerColor;
}

.topModContainer
{
	horizontal-align: center;
}

#ModNameAndCostContainer
{
	margin-left: 20px;
	vertical-align: center;
}

#modNameToPurchase
{
	color: #F3F0E7;
	font-size: 30px;
	font-weight: semibold;
}

#ModCost
{
	margin-left: 5px;
	color: #FFED79;
	font-size: 24px;
	font-weight: bold;
}

#ModsSellContainer
{
	flow-children: down;
	width: 100%;
}

.WeaponMod #ModToPurchaseContainer
{
	border-bottom: 8px solid courageColor;
}

.ArmorMod #ModToPurchaseContainer
{
	border-bottom: 8px solid fortitudeColor;
}

.TechMod #ModToPurchaseContainer
{
	border-bottom: 8px solid spiritColor;
}

#ModsContainer
{
	flow-children: right;
}

.sellButton
{
	margin-left: 16px;
	margin-right: 16px;
	background-color: rgba (243, 240, 231, 0.05);
	padding: 8px 40px 8px 40px;
	border-radius: 5px;
}

.sellButton:hover
{
	background-color: rgba (243, 240, 231, 0.15);
}

.sellButton:disabled
{
	opacity: 0.5;
}

.sellButton Label
{
	vertical-align: center;
}

#HeaderContainer
{
	height: fit-children;
	width: 100%;
	flow-children: down;
	margin: 28px;
}

#HeaderContainer Label
{
	horizontal-align: center;
}

#ButtonsContainer
{
	horizontal-align: center;
	margin: 10px;
	flow-children: right;
}

.HeaderLabel
{
	font-size: 24px;
	font-weight: semibold;
}

.headerDesc
{
	font-size: 18px;
	color: #F3F0E744;
}

