/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
PopupSellMaxItems.PopupPanel
{
	flow-children: down;
	width: 900px;
	padding: 0px;
}

.PopupPanel
{
	background-color: rgb(46, 44, 39);
	border: 0px;
}

#ModToPurchaseContainer
{
	flow-children: right;
	horizontal-align: center;
	width: 100%;
	padding: 40px;
	border-bottom: 8px solid #FF410D;
}

#ModNameAndCostContainer
{
	margin-left: 20px;
	vertical-align: center;
}

.goldIcon
{
	vertical-align: center;
}

#ModCost
{
	margin-left: 5px;
	color: #FFED79;
	font-size: 24px;
	font-weight: bold;
}

#modNameToPurchase
{
	color: #F3F0E7;
	font-size: 30px;
	font-weight: semibold;
}

.topModContainer
{
	horizontal-align: center;
}

.WeaponMod #ModToPurchaseContainer
{
	background-color: weaponColorFaded;
	background-color: courageBrightColor&30;
}

.ArmorMod #ModToPurchaseContainer
{
	background-color: armorColorFaded;
	background-color: fortitudeBrightColor&30;
}

.TechMod #ModToPurchaseContainer
{
	background-color: techColorFaded;
	background-color: spiritBrightColor&30;
}

#HeaderLabel
{
	vertical-align: center;
	color: #FF410D;
	font-size: 30px;
	font-weight: semibold;
}

#HeaderContainer
{
	height: fit-children;
	width: 100%;
	flow-children: down;
	margin: 32px;
}

#CompletePurchaseLabel
{
	text-align: center;
	margin-top: 20px;
}

#ModsSellContainer
{
	flow-children: down;
	width: 100%;
}

#ModsContainer
{
	flow-children: right-wrap;
	margin: 0px 50px;
}

.buttonToSell
{
	flow-children: down;
	height: 140px;
	width: 140px;
	border-radius: 4px;
	margin: 4px;
	padding: 4px;
	horizontal-align: center;
}

.centerAlign
{
	horizontal-align: center;
}

#modIconContainer
{
	flow-children: down;
	vertical-align: center;
}

.mod_icon_background_container
{
	height: 60px;
	width: 60px;
	horizontal-align: center;
	padding: 10px;
	background-color: black;
}

#modName
{
	margin-top: 16px;
	font-weight: semi-bold;
	text-align: center;
	color: rgba (243, 240, 231, 0.5);
}

.selectedItemToSell #modName
{
	font-weight: bold;
	color: rgb(26, 26, 26);
}

.mod_icon
{
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
}

#ButtonsContainer
{
	horizontal-align: center;
	margin: 48px;
	flow-children: right;
}

.sellButton
{
	margin-left: 16px;
	margin-right: 16px;
	background-color: rgba (243, 240, 231, 0.05);
	padding: 16px 30px 16px 30px;
	border-radius: 3px;
}

.sellButton:hover
{
	background-color: rgba (243, 240, 231, 0.15);
}

.sellButton:disabled
{
	opacity: 0.5;
}

.sellButton Label
{
	vertical-align: center;
}

.selectedItemToSell.buttonToSell
{
	background-color: #676767;
	border: 4px solid white;
	padding: 0px;
}

CitadelModIcon
{
	horizontal-align: center;
}

.WeaponMod .mod_icon
{
	wash-color: weaponColor;
}

.WeaponMod .buttonToSell
{
	background-color: weaponColorFaded;
}

.WeaponMod .buttonToSell:Hover
{
	background-color: #FFA82666;
}

.WeaponMod .selectedItemToSell.buttonToSell
{
	background-color: shardColor&50;
}

.ArmorMod .mod_icon
{
	wash-color: armorColor;
}

.ArmorMod .buttonToSell
{
	background-color: armorColorFaded;
	background-color: fortitudeBrightColor&30;
}

.ArmorMod .buttonToSell:Hover
{
	background-color: #00FF9966;
	background-color: fortitudeBrightColor&10;
}

.ArmorMod .selectedItemToSell.buttonToSell
{
	background-color: armorColor;
	background-color: shardColor&50;
}

.TechMod .mod_icon
{
	wash-color: techColor;
}

.TechMod .buttonToSell
{
	background-color: techColorFaded;
	background-color: spiritBrightColor&30;
}

.TechMod .buttonToSell:Hover
{
	background-color: #00DDFF66;
	background-color: spiritBrightColor&10;
}

.TechMod .selectedItemToSell.buttonToSell
{
	background-color: shardColor&50;
}

.headerDesc
{
	color: #F3F0E788;
	horizontal-align: center;
}

.headerDesc .highlight
{
	color: white;
}

.sellButton Label
{
	font-size: 30px;
	font-weight: semi-bold;
}

#DestroyItemButton
{
	background-color: #CC340A;
}

#DestroyItemButton:hover
{
	background-color: #FF410D;
}

#DestroyItemButton.sellButton:disabled
{
	background-color: rgba(243, 240, 231, 0.05);
}

#DestroyItemButton.sellButton:disabled Label
{
	color: rgba(243, 240, 231, 0.05);
}

