/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define paperTile01: url("s2r://panorama/images/textures/paper_tile_1k_01_psd.vtex");
PopupJoinOrCreateParty.PopupPanel
{
	padding: 0px 0px 0px 0px;
	border-radius: 0px;
	border: 0px;
}

.Header
{
	width: 100%;
	height: fit-children;
	background-image: paperTile01;
	background-repeat: repeat;
	background-size: 1024px;
}

.Title
{
	horizontal-align: left;
	text-align: center;
	font-family: oracle;
	color: brandGreen;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 24px;
	padding-left: 42px;
	padding-top: 24px;
}

.Sections
{
	flow-children: down;
	padding: 15px 42px 15px 42px;
}

.Section
{
	flow-children: down;
	horizontal-align: left;
}

.Section .SectionTitle
{
	text-align: center;
	margin-bottom: 2px;
	color: offWhite;
	font-weight: semi-bold;
}

.Section .SectionDesc
{
	color: #E4D5BF44;
}

.Section .SecondaryButton
{
	horizontal-align: center;
}

.Section .SectionColumnContainer
{
	flow-children: right;
	padding: 20px 0px 20px 0px;
}

.Section .SectionLeftColumn
{
	flow-children: down;
	width: 400px;
}

.Section .SectionRightColumn
{
	flow-children: down;
	width: 275px;
}

#LaneSection .SectionLeftColumn
{
	width: 275px;
}

#LaneSection .SectionRightColumn
{
	width: 400px;
}

#LanePreferenceContainer
{
	flow-children: right;
}

#LanePreferenceSelector
{
	horizontal-align: right;
	border: 1px solid offWhite&22;
	background-color: offBlack&66;
}

#LanePreferenceIcon
{
	width: 26px;
	height: 100%;
	wash-color: offWhite;
	vertical-align: middle;
	opacity: 0.7;
	background-image: url("s2r://panorama/images/icons/icon_lanes.vsvg");
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 7px;
}

#CreateButton,#CopyButton
{
	horizontal-align: right;
	vertical-align: center;
}

#CreateButton:disabled,#CopyButton:disabled
{
	visibility: collapse;
}

#EscapeButtonPanel
{
	vertical-align: center;
}

#LeavePartyButton
{
	horizontal-align: right;
	vertical-align: center;
	flow-children: right;
}

#LeavePartyButton:disabled
{
	visibility: collapse;
}

#LeavePartyButton Label
{
	color: #f34d4d;
	vertical-align: center;
	font-weight: semi-bold;
	margin-left: 10px;
}

#LeavePartyButton Image
{
	width: 25px;
	height: 25px;
	wash-color: #f34d4d;
}

#InfoIcon
{
	margin-left: 8px;
	wash-color: offWhite;
	tooltip-position: bottom;
}

#CreatedPartyCodePanel
{
	flow-children: right;
}

#JoinCodeTextEntry
{
	margin-top: 12px;
	background-color: offBlack;
	max-width: 200px;
	border-radius: 5px;
	font-size: 24px;
	height: 52px;
	vertical-align: center;
}

#JoinCodeTextEntry #PlaceholderText
{
	text-align: left;
	horizontal-align: center;
	margin-top: 0px;
}

#JoinCodeTextEntry:focus
{
	border: 2px solid offWhite&44;
}

#CreatedPartyCode
{
	margin-top: 12px;
	border: 1px solid offWhite&22;
	background-color: offBlack&66;
	width: 150px;
	font-size: 24px;
	font-weight: bold;
	font-family: block;
	padding: 10px 0px 10px 0px;
	text-align: center;
}

#CreatedPartyCode.PartyCodeHidden
{
	color: offWhite&22;
}

#JoinCodeTextEntry
{
	horizontal-align: right;
}

#ShowHideIcon
{
	width: 28px;
	height: 100%;
	wash-color: offWhite;
	vertical-align: middle;
	opacity: 0.7;
	background-image: url("s2r://panorama/images/icons/icon_eye.vsvg");
	background-size: 28px 20px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 12px;
	margin-left: 15px;
}

#ShowHideIcon.PartyCodeHidden
{
	background-image: url("s2r://panorama/images/icons/icon_eye_disabled.vsvg");
}

.HiddenValueInputRow
{
	flow-children: right;
}

.HR1px
{
	width: 100%;
	height: 4px;
	margin: 0px settingsBodyPaddingLeft;
	background-color: none;
	background-image: url("s2r://panorama/images/textures/line_1px_png.vtex");
	background-repeat: repeat;
	background-size: contain;
	wash-color: black;
	opacity: 0.5;
}

#JoinSection.Hide,#CreatedPartyCodePanel.Hide
{
	visibility: collapse;
}

