/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.MainBody
{
	flow-children: down;
	horizontal-align: center;
	padding: 20px;
}

.LabelRow
{
	flow-children: down;
	horizontal-align: center;
	margin: 15px 0px;
}

.DescArea
{
	max-width: 660px;
	margin-bottom: 20px;
}

.SmDescArea
{
	max-width: 660px;
	margin-top: 20px;
}

.ButtonRow
{
	flow-children: down;
	margin-top: 20px;
	horizontal-align: center;
	flow-children: right;
}

#FeedbackMsg
{
	margin-top: 20px;
	width: 600px;
	height: 400px;
	overflow: clip scroll;
	text-overflow: clip;
	white-space: normal;
}

.TagsDesc
{
	horizontal-align: center;
	font-size: 15px;
	margin-top: 5px;
	color: #666666;
}

.TypeLabel
{
	text-transform: uppercase;
	vertical-align: center;
	margin-right: 5px;
	font-weight: semi-bold;
	opacity: 0.5;
	font-size: 18px;
	margin-bottom: 5px;
}

.TypeLabelDetail
{
	vertical-align: center;
	margin-right: 5px;
	opacity: 0.2;
	font-size: 15px;
	margin-bottom: 5px;
	max-width: 300px;
}

TextEntry #PlaceholderText
{
	horizontal-align: left;
}

.formContents
{
	background-color: #00000080;
	padding: 20px;
}

.subheader
{
	font-size: 20px;
	font-weight: bold;
	color: silvered;
	padding-left: 8px;
	margin-bottom: 10px;
}

.ErrorLabel
{
	horizontal-align: center;
	vertical-align: center;
	font-weight: semi-bold;
	color: colorEnemy;
	margin: 10px 0px 0px 0px;
}

.friendSelected .ErrorLabel
{
	opacity: 0;
}

PopupPlaytestUser CitadelInviteFriendMenu
{
	height: 500px;
	width: 800px;
}

.LocWarning
{
	horizontal-align: center;
	vertical-align: center;
	font-weight: semi-bold;
	color: #88F;
	max-width: 300px;
	margin: 10px 0px 0px 0px;
	visibility: collapse;
}

.ShowLocWarning .LocWarning
{
	visibility: visible;
}

