/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

PregameChooseBuild
{
	flow-children: down;
	margin-top: 100px;
	width: 850px;
	padding-bottom: 40px;
	vertical-align: center;
	horizontal-align: center;
	background-color: #333333;
	border-radius: 15px;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
}

PregameChooseBuild.Hidden
{
	opacity: 0;
	pre-transform-scale2d: 0.3;
}

#SelectBuild
{
	background-color: offWhite;
	width: 600px;
	horizontal-align: center;
	padding: 20px;
	margin-top: 0px;
	flow-children: down;
}

.selectBuildHeader
{
	text-align: center;
	horizontal-align: center;
	width: 100%;
	font-family: sans;
	font-weight: bold;
	color: offBlack;
	font-weight: 24px;
}

.selectBuildSubHead
{
	text-align: center;
	horizontal-align: center;
	width: 100%;
	font-family: sans;
	font-weight: semi-bold;
	color: offBlack;
}

#BuildChoices
{
	flow-children: right;
	height: 100px;
	width: 100%;
	margin-top: 20px;
}

.buildChoice
{
	width: 50%;
	height: 100%;
	background-color: offBlack;
	flow-children: down;
	margin: 0px 10px;
	border-radius: 10px;
}

.buildPrimaryLabel
{
	font-size: 18px;
	font-weight: bold;
	horizontal-align: center;
	margin-top: 20px;
}

.buildSubLabel
{
	font-size: 18px;
	font-weight: semi-bold;
	horizontal-align: center;
	margin-top: 5px;
	opacity: 0.5;
}

.buildChoice:hover
{
	background-color: #999;
}

