/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#NewPlayerWelcome
{
	flow-children: down;
	height: 400px;
	width: 700px;
	vertical-align: center;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/npe/modal_bg_png.vtex");
	border-radius: 10px;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
	padding: 0px;
	opacity: 1.0;
	border: 0px solid red;
	pre-transform-scale2d: 1.0;
}

.MainBody
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

.NPEImage
{
	width: 278px;
	height: 100%;
	background-image: url("s2r://panorama/images/npe/npe_heroes3_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

.NPEText
{
	flow-children: down;
	width: fill-parent-flow(1.0);
	height: 100%;
}

.introText
{
	font-weight: bold;
}

.NewPlayerHeader
{
	margin-bottom: 0px;
	background-color: #47D3FF;
	width: 100%;
	padding: 10px;
}

.NewPlayerIcon
{
	width: 22px;
	height: 22px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_thumbsup.vsvg");
	wash-color: #153D4A;
	background-size: contain;
	margin-bottom: 3px;
}

.NewPlayerTitle
{
	font-weight: bold;
	font-size: 24px;
	color: #153D4A;
	font-family: CriteriaCF;
	vertical-align: middle;
	margin-top: 0px;
	margin-left: 10px;
	horizontal-align: left;
}

.HeaderText
{
	horizontal-align: center;
	flow-children: right;
}

.BodyText
{
	padding: 30px;
	flow-children: down;
}

.TypeLabel
{
	font-size: 20px;
	font-weight: medium;
	color: #252525ee;
	height: fit-children;
}

.PopupButtonRow
{
	flow-children: none;
	width: 100%;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
}

#StartButton
{
	background-color: brandGreen;
	horizontal-align: center;
	margin-top: 30px;
	border-radius: 5px;
	margin-bottom: 30px;
}

#StartButton Label
{
	font-size: 26px;
	font-family: CriteriaCF;
	font-weight: bold;
	padding: 10px 30px;
	color: rgb(61, 61, 61);
}

#StartButton:hover
{
	brightness: 1.5;
}

#SubmitButton
{
	width: 240px;
	height: 60px;
	background-color: #00C14D;
	border-radius: 20px;
}

#SubmitButton Label
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	color: #FFFFFF;
}

#SubmitButton:disabled
{
	background-color: #545454;
}

#CancelButton
{
	horizontal-align: right;
	vertical-align: middle;
}

#CancelButton Label
{
	text-transform: uppercase;
	color: #FFFFFF77;
	font-size: 24px;
}

