/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

HeroLabsPatchNotes.PopupPanel
{
	width: 800px;
	height: fit-children;
	padding: 15px 25px;
}

#TitleLabel
{
	font-size: 36px;
	font-weight: bold;
	font-family: sans;
	color: silvered;
	font-family: serif;
}

.PatchNotesPanel
{
	flow-children: down;
	height: 440px;
	width: 100%;
	background-color: #00000033;
	border: 1px solid #99999911;
	overflow: scroll;
	margin-top: 15px;
	padding: 8px 15px;
}

#PatchNotesLabel
{
	width: 710px;
	font-size: 18px;
	line-height: 26px;
	font-weight: medium;
	text-shadow: 2px 2px 0px #00000090;
	font-family: sans;
	color: silvered&ea;
}

#PatchNotesLabel b
{
	font-size: 20px;
	line-height: 40px;
	font-family: sans;
	font-weight: bold;
	color: white;
}

#PatchNotesLabel i
{
	color: white;
}

