/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#countdown_timer
{
	horizontal-align: center;
	margin: 20px;
}

.RemainingTime
{
	color: red;
	font-size: 36px;
}

.PopupDescription
{
	max-width: 400px;
}

