/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

PopupSellMaxItems.PopupPanel
{
	flow-children: down;
	width: 1050px;
	padding: 0px;
}

.PopupPanel
{
	background-color: rgb(46, 44, 39);
	border: 0px;
}

#ModToPurchaseContainer
{
	flow-children: right;
	horizontal-align: center;
	width: 100%;
	padding: 40px;
	border-bottom: 8px solid #FF410D;
}

#ModNameAndCostContainer
{
	margin-left: 20px;
	vertical-align: center;
}

.goldIcon
{
	vertical-align: center;
}

#ModCost
{
	margin-left: 5px;
	color: #FFED79;
	font-size: 24px;
	font-weight: bold;
}

#modNameToPurchase
{
	color: #F3F0E7;
	font-size: 30px;
	font-weight: semibold;
}

.topModContainer
{
	horizontal-align: center;
}

.SellingWeaponMod #ModToPurchaseContainer
{
	background-color: weaponColorFaded;
	background-color: courageBrightColor&30;
}

.SellingArmorMod #ModToPurchaseContainer
{
	background-color: armorColorFaded;
	background-color: fortitudeBrightColor&30;
}

.SellingTechMod #ModToPurchaseContainer
{
	background-color: techColorFaded;
	background-color: spiritBrightColor&30;
}

#HeaderLabel
{
	vertical-align: center;
	color: #FF410D;
	font-size: 30px;
	font-weight: semibold;
}

#HeaderContainer
{
	height: fit-children;
	width: 100%;
	flow-children: down;
	margin: 32px;
}

#CompletePurchaseLabel
{
	text-align: center;
	margin-top: 20px;
}

#ModsSellContainer
{
	flow-children: down;
	width: 100%;
}

#ModsContainer
{
	flow-children: down-wrap;
	margin: 0px 50px;
	height: 380px;
}

.ShowOnlyActive #ModsContainer
{
	flow-children: right;
	height: fit-children;
}

.buttonToSell
{
	border: 2px solid transparent;
	margin: 8px;
}

.buttonToSell #ModView
{
	horizontal-align: center;
	vertical-align: middle;
	opacity: 1.0;
	brightness: 1.0;
	ui-scale: 120%;
}

.centerAlign
{
	horizontal-align: center;
}

#ButtonsContainer
{
	horizontal-align: center;
	margin: 48px;
	flow-children: right;
}

.sellButton
{
	margin-left: 16px;
	margin-right: 16px;
	background-color: rgba (243, 240, 231, 0.05);
	padding: 16px 30px 16px 30px;
	border-radius: 3px;
}

.sellButton:hover:enabled
{
	background-color: rgba (243, 240, 231, 0.15);
}

.sellButton:disabled
{
	opacity: 0.5;
}

.sellButton Label
{
	vertical-align: center;
}

.WeaponMod .mod_icon
{
	wash-color: weaponColor;
}

.WeaponMod.buttonToSell
{
	background-color: weaponColorFaded;
}

.WeaponMod.buttonToSell:Hover
{
	background-color: #FFA82666;
}

.ArmorMod .mod_icon
{
	wash-color: armorColor;
}

.ArmorMod.buttonToSell
{
	background-color: armorColorFaded;
	background-color: fortitudeBrightColor&30;
}

.ArmorMod.buttonToSell:Hover
{
	background-color: #00FF9966;
	background-color: fortitudeBrightColor&10;
}

.TechMod .mod_icon
{
	wash-color: techColor;
}

.TechMod.buttonToSell
{
	background-color: techColorFaded;
	background-color: spiritBrightColor&30;
}

.TechMod.buttonToSell:Hover
{
	background-color: #00DDFF66;
	background-color: spiritBrightColor&10;
}

.headerDesc
{
	color: #F3F0E788;
	horizontal-align: center;
}

.headerDesc .highlight
{
	color: white;
}

.sellButton Label
{
	font-size: 30px;
	font-weight: semi-bold;
}

.buttonToSell.sellRecommended
{
	border: 2px solid #ffffff40;
	animation-name: recommended_to_sell;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
}

.recommendedToSellLabel
{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: red;
	padding: 0px 4px;
	background-color: offWhite&80;
	color: offBlack;
	font-family: sansMono;
	horizontal-align: center;
	width: 100%;
	text-align: center;
	z-index: 100;
	visibility: collapse;
}

.sellRecommended .recommendedToSellLabel
{
	visibility: visible;
}

@keyframes 'recommended_to_sell'
{
	0%
	{
		brightness: 1;
	}
	
	50%
	{
		brightness: 2;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

.modsRow
{
	flow-children: right;
	horizontal-align: center;
	width: fit-children;
}

