/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	width: 800px;
	height: 600px;
	padding-top: 16px;
}

.HasFriends #NoFriendsOnline
{
	visibility: collapse;
}

#FriendGroup
{
	width: 675px;
	height: 400px;
	min-height: 200px;
	horizontal-align: center;
}

#FriendGroup CitadelFriend
{
	background-color: none;
}

#NoFriendsOnline
{
	width: 100%;
}

#FriendList
{
	visibility: collapse;
	width: 100%;
	height: 100%;
	flow-children: right-wrap;
	overflow: squish scroll;
	background-color: #111111;
	padding: 0px 0px;
}

#FriendList .InviteFriendGroup CitadelFriend
{
	width: fill-parent-flow( 1.0 );
}

.InviteFriendGroup
{
	width: 45%;
	height: fit-children;
	flow-children: right;
	padding: 0px 5px;
	margin: 2%;
}

.ShowCancel .CloseText,.CancelText
{
	visibility: collapse;
}

.ShowCancel .CancelText
{
	visibility: visible;
}

.InviteFriendGroup:hover
{
	background-color: #000;
}

.IsLayoutLargeScreen .InviteFriendGroup
{
	width: 100%;
	height: fit-children;
	flow-children: right;
	ui-scale: 150%;
}

.HasFriends #FriendList
{
	visibility: visible;
}

.CannotInvite #InviteButton,.CannotInviteText
{
	visibility: collapse;
}

.CannotInvite .CannotInviteText
{
	visibility: visible;
}

.CannotInviteText
{
	vertical-align: center;
	color: #8588a0;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
}

.StatusGroup
{
	height: 100%;
}

#InviteButton
{
	width: 30px;
	height: 30px;
	margin-right: 5px;
	horizontal-align: right;
	wash-color: #5e5e5e;
	border: 1px solid #8d8d8d;
	border-radius: 3px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
	background-size: 60% 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.InviteFriendGroup:hover #InviteButton
{
	width: 30px;
	height: 30px;
	margin-right: 5px;
	horizontal-align: right;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B51 ), to( #5C9C68 ) );
	wash-color: #ABEAA8;
	border-radius: 3px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
	background-size: 60% 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#InviteButton Label
{
	font-size: 22px;
	vertical-align: center;
	margin-top: 5px;
	horizontal-align: center;
	color: #ffffffaa;
}

PopupPartyInviteFriend .PopupButton
{
	horizontal-align: center;
}

VerticalScrollBar
{
	margin-right: 2px;
}

CitadelUserName #FriendName
{
	color: red;
}

