/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define itemDraftAppearEnhanced: "UI.ItemDraft.Appear.Enhanced";
PopupPickEnhanceItem.PopupPanel
{
	flow-children: down;
	width: 1350px;
	height: 800px;
	padding: 0px;
	background-color: none;
	border: 0px;
	sound: itemDraftAppearEnhanced;
	box-shadow: none;
	border-radius: 0px;
	margin-bottom: 30px;
}

#Background
{
	background-image: url("s2r://panorama/images/hud/brawl/enhance_bg.vsvg");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	wash-color: shardColor;
	wash-color: enhancedColorBright;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( enhancedColorBright ), to(enhancedColorDark ) );
	opacity-mask: url("s2r://panorama/images/masks/rough_edge_02b_png.vtex") 0.8;
	animation-name: fadeInBG;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

@keyframes 'fadeInBG'
{
	0%
	{
		opacity: 0;
		transform: translateY(0px);
		pre-transform-scale2d: 0;
	}
	
	75%
	{
		opacity: 0;
		transform: translateY(0px);
		pre-transform-scale2d: 1;
	}
	
	85%
	{
		opacity: 1;
		transform: translateY(0px);
		pre-transform-scale2d: 1.1;
	}
	
	100%
	{
		opacity: 1;
		transform: translateY(0px);
		pre-transform-scale2d: 1;
	}
	
}

Label
{
	color: offBlack;
}

#ModNameAndCostContainer
{
	margin-left: 20px;
	vertical-align: center;
}

.goldIcon
{
	vertical-align: center;
}

#ModCost
{
	margin-left: 5px;
	color: #FFED79;
	font-size: 24px;
	font-weight: bold;
}

#modNameToPurchase
{
	color: #F3F0E7;
	font-size: 30px;
	font-weight: semibold;
}

.topModContainer
{
	horizontal-align: center;
}

#HeaderLabel
{
	vertical-align: center;
	color: offBlack;
	font-size: 50px;
	font-weight: semibold;
	font-family: oracle;
	animation-name: textAppear;
	animation-duration: 0.3s;
	animation-delay: 0.2s;
	animation-iteration-count: 1;
}

@keyframes 'textAppear'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
		brightness: 1;
	}
	
	50%
	{
		brightness: 1;
		transform: rotateZ(-5deg);
		pre-transform-scale2d: 1.5;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
		brightness: 1;
	}
	
}

.fade_in
{
	animation-name: fadeInDelay;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
}

@keyframes 'fadeInDelay'
{
	0%
	{
		opacity: 0;
	}
	
	80%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

#HeaderContainer
{
	height: fit-children;
	width: 100%;
	flow-children: down;
	margin-bottom: 32px;
}

#CompletePurchaseLabel
{
	text-align: center;
	margin-top: 20px;
}

#ModsSellContainer
{
	flow-children: down;
	width: 100%;
	padding: 150px;
}

#ModsContainer
{
	flow-children: down-wrap;
	margin: 0px 50px;
	height: 380px;
}

.ShowOnlyActive #ModsContainer
{
	flow-children: right;
	height: fit-children;
}

.buttonToEnhance
{
	border: 2px solid transparent;
	margin: 8px;
}

.buttonToEnhance #ModView
{
	horizontal-align: center;
	vertical-align: middle;
	opacity: 1.0;
	brightness: 1.0;
	ui-scale: 120%;
}

.centerAlign
{
	horizontal-align: center;
}

.headerDesc
{
	horizontal-align: center;
	font-weight: semi-bold;
}

.headerDesc .highlight
{
	color: white;
}

.buttonToEnhance.sellRecommended
{
	border: 2px solid #ffffff40;
	animation-name: recommended_to_sell;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
}

.modsRow
{
	flow-children: right;
	horizontal-align: center;
	width: fit-children;
}

