/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.PopupPanel
{
	height: fit-children;
	border: 1px solid rgba(255, 255, 255, 0.025);
	border-radius: 8px;
	background-color: #181716;
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #2c2a28 ), to( #181716 ) );
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 32px 0px;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-right: 64px;
	padding-left: 64px;
	min-width: 450px;
	vertical-align: middle;
	horizontal-align: center;
	flow-children: down;
	opacity-mask: url("s2r://panorama/images/masks/wipe_radial_1024x512_psd.vtex");
	opacity-mask-scale: cover;
	opacity-mask-threshold: 0% 2%;
	transition-property: transform, opacity-mask, box-shadow;
	transition-duration: 0.2s;
}

.PopupPanel.Hidden
{
	visibility: visible;
	transform: scale3d( 0.95, 0.95, 1.0 );
	opacity-mask-threshold: 100% 2%;
	box-shadow: 0 0 0px transparent;
	transition-duration: 0.2s;
}

.PopupPanel.WideMode
{
	min-width: 800px;
}

.PopupTitle
{
	font-size: 30px;
	font-weight: bold;
	color: grey;
	margin-bottom: 10px;
	horizontal-align: center;
}

.PopupDescription Label
{
	font-size: 20px;
	letter-spacing: 0px;
}

Label.PopupDescription
{
	font-size: 20px;
	letter-spacing: 0px;
	color: #afb4b4;
}

.Centered
{
	text-align: center;
	horizontal-align: center;
}

.PopupButtonRow
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 20px;
}

#ReplayPendingPopup #CancelButton
{
	margin-top: 32px;
}

.WarningDialog.PopupPanel
{
	border: 1px solid red;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #370202 ), to( #131617ee ) );
}

.WarningDialog .PopupTitle
{
	font-weight: bold;
	color: #ff8d8d;
}

.PopupAbandonMatch #TitleLabel
{
	color: #ee2d2d;
}

.PopupAbandonMatch #MessageLabel
{
	font-size: 23px;
	font-weight: semi-bold;
}

.PopupAbandonMatch #Button0
{
	width: 260px;
}

.PopupAbandonMatch #Button0 Label
{
	font-weight: bold;
	text-overflow: shrink;
	color: #ee2d2d;
}

