/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) );
	background-color: #231F20;
	border-top: 5px solid #7A7A7A;
	border-bottom: 5px solid #7A7A7A;
	box-shadow: inset #00000040 0px 5px 100px 30px;
	background-image: url("s2r://panorama/images/textures/bg_smoke_psd.vtex");
	background-img-opacity: 0.3;
	background-size: cover;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-right: 64px;
	padding-left: 64px;
	min-width: 450px;
	vertical-align: middle;
	horizontal-align: center;
	opacity: 1.0;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
	flow-children: down;
}

@keyframes 'popup_open'
{
	from
	{
		max-height: 10px;
	}
	
	to
	{
		max-height: 500px;
	}
	
}

.PopupPanel.WideMode
{
	min-width: 800px;
}

.PopupPanel.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
	box-shadow: 0 0 0px transparent;
}

.PopupTitle
{
	font-size: 30px;
	font-weight: bold;
	color: grey;
	margin-bottom: 10px;
	horizontal-align: center;
}

.PopupDescription Label
{
	font-size: 20px;
	letter-spacing: 0px;
}

Label.PopupDescription
{
	font-size: 20px;
	letter-spacing: 0px;
	color: #afb4b4;
}

.Centered
{
	text-align: center;
	horizontal-align: center;
}

.PopupButtonRow
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 20px;
}

#ReplayPendingPopup #CancelButton
{
	margin-top: 32px;
}

.WarningDialog.PopupPanel
{
	border: 1px solid red;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #370202 ), to( #131617ee ) );
}

.WarningDialog .PopupTitle
{
	font-weight: bold;
	color: #ff8d8d;
}

#AbandonGamePopup #Button0 > Label
{
	font-weight: bold;
	color: #ff4d4d;
}

#AbandonGamePopup
{
	border-color: #ff4d4d;
}

