/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

PostMatchSurvey
{
	flow-children: down;
	margin-top: 100px;
	height: 620px;
	width: 850px;
	vertical-align: center;
	horizontal-align: center;
	background-color: #333333;
	border-radius: 15px;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
}

PostMatchSurvey.Hidden
{
	opacity: 0;
	pre-transform-scale2d: 0.3;
}

.surveyTitle
{
	font-size: 56px;
	margin-left: 30px;
	color: #FFFFFF;
	margin-top: 20px;
}

.matchSurveyContainer,#SurveyQuestionsContainer
{
	flow-children: down;
	horizontal-align: center;
}

.matchSurveyContainer
{
	margin-top: 20px;
	margin-bottom: 20px;
	min-width: 800px;
}

#SurveyQuestion1
{
	margin-top: 0px;
}

.TitleRow
{
	flow-children: right;
	horizontal-align: left;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#QuestionLabel
{
	color: white;
	font-size: 24px;
	vertical-align: center;
}

#StarsRow,#HeroRow
{
	visibility: collapse;
	flow-children: right;
	horizontal-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.showStars #StarsRow,.showHeroes #HeroRow
{
	visibility: visible;
}

.showHeroes #RatingsContainer
{
	visibility: collapse;
}

#QuestionIcon
{
	width: 40px;
	height: 40px;
	vertical-align: center;
	margin-right: 5px;
}

#StarsRow
{
	horizontal-align: center;
	flow-children: right;
}

.Hero
{
	width: 50px;
	height: 50px;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0.2;
	transition-property: opacity, wash-color, background-image;
	transition-duration: 0.2s;
}

.Star
{
	width: 150px;
	height: 60px;
	background-color: #FFFFFF11;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 8px;
	opacity: 0.2;
	transition-property: opacity, wash-color, background-image, background-color;
	transition-duration: 0.2s;
}

.starInner
{
	background-image: url("s2r://panorama/images/hud/survey_star_png.vtex");
	width: 48px;
	height: 48px;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition-property: opacity, wash-color, background-image;
	transition-duration: 0.2s;
	vertical-align: center;
	horizontal-align: center;
	opacity: 2.5;
}

.Sel_1 #Star1,.Sel_2 #Star1,.Sel_3 #Star1,.Sel_4 #Star1,.Sel_5 #Star1,.Sel_2 #Star2,.Sel_3 #Star2,.Sel_4 #Star2,.Sel_5 #Star2,.Sel_3 #Star3,.Sel_4 #Star3,.Sel_5 #Star3,.Sel_4 #Star4,.Sel_5 #Star4,.Sel_5 #Star5,.Sel_1_Forced #Star1,.Sel_2_Forced #Star1,.Sel_3_Forced #Star1,.Sel_4_Forced #Star1,.Sel_5_Forced #Star1,.Sel_2_Forced #Star2,.Sel_3_Forced #Star2,.Sel_4_Forced #Star2,.Sel_5_Forced #Star2,.Sel_3_Forced #Star3,.Sel_4_Forced #Star3,.Sel_5_Forced #Star3,.Sel_4_Forced #Star4,.Sel_5_Forced #Star4,.Sel_5_Forced #Star5
{
	opacity: 1.0;
	background-color: #00000077;
}

.Sel_1 #Star1 .starInner,.Sel_2 #Star1 .starInner,.Sel_3 #Star1 .starInner,.Sel_4 #Star1 .starInner,.Sel_5 #Star1 .starInner,.Sel_2 #Star2 .starInner,.Sel_3 #Star2 .starInner,.Sel_4 #Star2 .starInner,.Sel_5 #Star2 .starInner,.Sel_3 #Star3 .starInner,.Sel_4 #Star3 .starInner,.Sel_5 #Star3 .starInner,.Sel_4 #Star4 .starInner,.Sel_5 #Star4 .starInner,.Sel_5 #Star5 .starInner,.Sel_1_Forced #Star1 .starInner,.Sel_2_Forced #Star1 .starInner,.Sel_3_Forced #Star1 .starInner,.Sel_4_Forced #Star1 .starInner,.Sel_5_Forced #Star1 .starInner,.Sel_2_Forced #Star2 .starInner,.Sel_3_Forced #Star2 .starInner,.Sel_4_Forced #Star2 .starInner,.Sel_5_Forced #Star2 .starInner,.Sel_3_Forced #Star3 .starInner,.Sel_4_Forced #Star3 .starInner,.Sel_5_Forced #Star3 .starInner,.Sel_4_Forced #Star4 .starInner,.Sel_5_Forced #Star4 .starInner,.Sel_5_Forced #Star5 .starInner
{
	background-image: url("s2r://panorama/images/hud/survey_star_selected_png.vtex");
	opacity: 1.0;
}

#RatingsContainer
{
	flow-children: none;
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
}

.ratingsLabel
{
	font-size: 24px;
	color: #FFFFFF77;
}

#NotFunLabel
{
	horizontal-align: left;
}

#FunLabel
{
	horizontal-align: right;
}

#KindOfFun
{
	horizontal-align: center;
}

.heroIcon
{
	padding-top: 20px;
	flow-children: down;
	width: 120px;
	height: 168px;
	background-color: #FFFFFF11;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 8px;
}

.selectedHero.heroIcon
{
	background-color: #00000077;
}

.alignCenter
{
	horizontal-align: center;
}

.heroIconImage
{
	width: 64px;
	height: 64px;
	margin-bottom: 10px;
}

.heroIconName
{
	font-size: 21px;
	color: #FFFFFF77;
}

.heroIconPIP
{
	height: 32px;
	width: 32px;
	border-radius: 16px;
	background-color: #FFFFFF11;
}

.selectedHero .heroIconPIP
{
	background-color: #FFCC00;
}

.DisableRow
{
	margin-top: 10px;
	horizontal-align: center;
}

.PopupButtonRow
{
	flow-children: none;
	width: 100%;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
}

#SubmitButton
{
	width: 240px;
	height: 60px;
	background-color: #00C14D;
	border-radius: 20px;
}

#SubmitButton Label
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	color: #FFFFFF;
}

#SubmitButton:disabled
{
	background-color: #545454;
}

#CancelButton
{
	horizontal-align: right;
	vertical-align: middle;
}

#CancelButton Label
{
	text-transform: uppercase;
	color: #FFFFFF77;
	font-size: 24px;
}

