/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelSettingsEnum
{
	flow-children: right;
}

CitadelSettingsEnum.OLD
{
	width: 100%;
}

CitadelSettingsEnum.OLD Label
{
	font-size: 16px;
}

CitadelSettingsEnum.OLD #title
{
	width: fit-children;
}

CitadelSettingsEnum.OLD #values
{
	overflow: scroll;
}

CitadelSettingsEnum Label
{
	vertical-align: center;
	white-space: nowrap;
	text-overflow: shrink;
}

CitadelSettingsEnum #title
{
	font-weight: semi-bold;
	padding-left: 0px;
}

CitadelSettingsEnum #values
{
	flow-children: down;
}

CitadelSettingsEnum.HorizontalEnum #values
{
	flow-children: right;
}

CitadelSettingsEnum.HorizontalEnum #values RadioButton
{
	margin-right: 5px;
}

.SummonedUnitAutoattack #title
{
	width: 162px;
}

