/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelSettingsSlider
{
	flow-children: down;
}

#Title
{
	width: fill-parent-flow(1.0);
}

#Slider
{
	width: 100%;
}

CitadelSettingsSlider:disabled Panel Label
{
	color: #333333;
}

CitadelSettingsSlider Label
{
	color: #7d8688;
}

PopupSettings CitadelSettingsSlider Label
{
	font-size: 18px;
	color: #7d8688;
	vertical-align: center;
	margin: 0px;
	padding-top: 4px;
	padding-left: 5px;
	letter-spacing: 1px;
	font-weight: thin;
}

#dota_minimap_hero_size Slider,#CameraSpeedSlider Slider
{
	margin-bottom: 0px;
}

