/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelSettingsToggle
{
	flow-children: right;
}

CitadelSettingsToggle.RightLeftFlow
{
	flow-children: left;
}

CitadelSettingsToggle.RightLeftFlow .SwitchButton
{
	margin-right: 16px;
}

CitadelSettingsToggle:active
{
	sound: soundMainMenuActivate;
}

.SwitchButton
{
	width: 40px;
	height: 20px;
	vertical-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px 20px;
	background-image: url("s2r://panorama/images/buttons/switch_background.vsvg");
	flow-children: right;
}

.SwitchButton:active
{
	brightness: 1.5;
	transform: scale3d( 0.98, 0.98, 1 );
}

#handle
{
	transition-property: transform;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}

.ToggleOff #handle
{
	width: 20px;
	height: 20px;
	margin-left: 0px;
	vertical-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	background-image: url("s2r://panorama/images/buttons/switch_handle_off.vsvg");
	img-shadow: 0px 2px 8px 2 rgba( 0, 0, 0, 0.5);
	transform: translateX(0px);
}

.ToggleOn #handle
{
	width: 20px;
	height: 20px;
	vertical-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	background-image: url("s2r://panorama/images/buttons/switch_handle_on.vsvg");
	img-shadow: 0px 0px 12px 1 brandGreen&66;
	transform: translateX(20px);
}

