/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelSettingsSlider
{
	flow-children: right;
	vertical-align: center;
}

CitadelSettingsSlider TextEntry
{
	vertical-align: center;
	max-width: 88px;
	height: fit-children;
	padding: 4px;
	border: 2px solid offWhite&00;
	border-radius: 4px;
	background-color: offBlack&00;
	box-shadow: inset rgba( 0, 0, 0, 0) 0px 2px 6px;
	background-image: none;
	transition-property: color, background-color, border-color, background-image;
	transition-duration: 0.3s;
}

CitadelSettingsSlider TextEntry:hover
{
	color: offWhite;
	border-color: offWhite&11;
	background-color: offBlack&33;
	background-image: url("s2r://panorama/images/textures/paper_tile_1k_01_png.vtex");
	box-shadow: inset rgba( 0, 0, 0, 0.5) 0px 2px 6px;
}

CitadelSettingsSlider TextEntry:focus
{
	color: white;
	border-color: offWhite&11;
	background-color: offBlack&66;
	background-image: url("s2r://panorama/images/textures/paper_tile_1k_01_png.vtex");
	box-shadow: inset rgba( 0, 0, 0, 0.5) 0px 2px 6px;
}

.TitleContainer
{
	vertical-align: center;
	width: fit-children;
}

#Title
{
	width: 280px;
}

#Slider
{
	vertical-align: center;
	width: 300px;
	margin-right: 16px;
}

CitadelSettingsSlider:disabled Panel Label
{
	color: #333333;
}

CitadelSettingsSlider Label
{
	vertical-align: center;
	margin: 0px;
	padding-right: 16px;
	font-size: 18px;
	font-weight: semi-bold;
	color: offWhite&33;
}

