/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.ability_tooltip
{
	margin: 4px;
	visibility: collapse;
	tooltip-position: bottom;
	tooltip-body-position: 50% 50%;
	z-index: 1001;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 16px 1px;
	flow-children: down;
}

.ability_tooltip.TooltipVisible
{
	visibility: visible;
}

.overlayNoise
{
	width: 100%;
	height: 100%;
	z-index: 100;
	background-image: url("s2r://panorama/images/textures/noise_common_512tile_psd.vtex");
	brightness: 1.25;
	-s2-mix-blend-mode: multiply;
	ignore-parent-flow: true;
}

#ability_panel
{
	width: 100%;
}

.ability_tooltip_extras
{
	width: 328px;
	visibility: collapse;
	box-shadow: fill rgba(0, 0, 0, 0.35) 0px 0px 12px 4px;
	opacity: 0;
	transition-duration: 0.05s;
	transition-property: opacity;
	transition-timing-function: ease-in;
	margin-left: 20px;
	margin-right: 20px;
	padding: 12px;
	flow-children: down;
	z-index: 1001;
}

.ability_tooltip_extras.TooltipVisible
{
	visibility: visible;
	opacity: 1;
	transition-duration: 0s;
}

.ability_tooltip_extras
{
	background-color: #222222;
}

.abilityMods
{
	color: #00FFCC;
	font-size: 16px;
}

.tooltipErrorContainer
{
	padding: 3px 0px 3px 15px;
	background-color: #FF410D;
	visibility: collapse;
	width: 100%;
}

.notInShopArea .tooltipErrorContainer,.topLevelCantAfford .tooltipErrorContainer,.notInShopArea .returnToShopLabel,.topLevelCantAfford .cantAffordLabel
{
	visibility: visible;
}

@keyframes 'FlashErrorLabel'
{
	0%
	{
		color: #FF410D;
	}
	
	25%
	{
		color: white;
	}
	
	50%
	{
		color: #FF410D;
	}
	
	75%
	{
		color: white;
	}
	
	100%
	{
		color: #FF410D;
	}
	
}

.failedToBuy .shopErrorLabel
{
	animation-name: FlashErrorLabel;
	animation-duration: 1s;
	animation-iteration-count: 2;
}

@keyframes 'FlashErrorContainer'
{
	0%
	{
		background-color: white;
	}
	
	25%
	{
		background-color: #FF410D;
	}
	
	50%
	{
		background-color: white;
	}
	
	75%
	{
		background-color: #FF410D;
	}
	
	100%
	{
		background-color: white;
	}
	
}

.failedToBuy .tooltipErrorContainer
{
	animation-name: FlashErrorContainer;
	animation-duration: 1s;
	animation-iteration-count: 2;
}

.returnToShopLabel,.cantAffordLabel
{
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	visibility: collapse;
}

