/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.ability_element_unit_target
{
	height: 100%;
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	visibility: visible;
}

#unit_target
{
	width: 100%;
	height: 100%;
}

#scaled_panel
{
	width: 300px;
	height: 300px;
}

#unscaled_panel
{
	width: 300px;
	height: 300px;
}

.friendly .square,.friendly .diamond
{
	border: 2px solid rgb(0, 255, 76);
}

.diamond
{
	width: 100px;
	height: 100px;
	vertical-align: center;
	horizontal-align: center;
	border: 2px solid rgb(255, 0, 0);
	transform: rotateZ( 45deg );
	clip: radial( 50% 50%, 160deg, 310deg );
}

.shiv_cannot_kill .diamond
{
	border: 2px solid rgb(255, 254, 254);
}

.shiv_can_kill .diamond
{
	border: 4px solid rgb(255, 0, 0);
	animation-name: can_kill_pulse;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
}

@keyframes 'can_kill_pulse'
{
	0%
	{
		pre-transform-scale2d: 1.5;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

.is_progress .diamond
{
	visibility: collapse;
}

#hint_container
{
	horizontal-align: center;
	flow-children: right;
	y: 180px;
}

.stack_count
{
	visibility: collapse;
	vertical-align: center;
	horizontal-align: center;
	y: -70px;
	font-size: 40px;
	text-align: center;
	color: white;
	width: 40px;
	height: 40px;
	font-weight: semi-bold;
}

.lockon_progress
{
	visibility: collapse;
	width: 100px;
	height: 100px;
	z-index:-2;
	border-radius: 50%;
	clip: radial( 50% 50%, 0deg, 360deg );
	border: 8px solid rgb(255, 0, 0);
	vertical-align: center;
	horizontal-align: center;
}

.lockon_progress_inner
{
	visibility: collapse;
	width: 96px;
	height: 96px;
	border-radius: 50%;
	clip: radial( 50% 50%, 0deg, 360deg );
	border: 4px solid rgb(255, 255, 255);
	z-index:-1;
	vertical-align: center;
	horizontal-align: center;
}

.locking_on .lockon_progress,.locking_on .lockon_progress_inner
{
	visibility: visible;
}

.stack_is_locked.lockon_progress
{
	visibility: visible;
	border-color: rgb(0, 0, 0);
}

@keyframes 'lock_flash'
{
	0%
	{
		border: 6px solid rgb(255, 255, 255);
	}
	
	30%
	{
		border: 6px solid rgb(255, 164, 164);
	}
	
	100%
	{
		border: 6px solid rgb(255, 97, 97);
	}
	
}

.stack_is_locked.lockon_progress_inner
{
	visibility: visible;
	border-color: rgb(255, 97, 97);
	animation-name: lock_flash;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
}

