/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.ImportantStatImage
{
	background-size: contain;
	background-repeat: no-repeat;
}

.StatusEffectEMP .ImportantStatImage,.StatusEffectEMP #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/properties/condition_silence.vsvg");
	wash-color: spiritBrightColor;
}

.StatusEffectStun .ImportantStatImage,.StatusEffectStun #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/properties/condition_stun.vsvg");
	wash-color: spiritBrightColor;
}

.StatusEffectFreeze .ImportantStatImage,.StatusEffectFreeze #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/properties/condition_freeze.vsvg");
	wash-color: spiritBrightColor;
}

.StatusEffectBurn .ImportantStatImage,.StatusEffectBurn #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/properties/condition_burn.vsvg");
	wash-color: spiritBrightColor;
}

.StatusEffectSleep .ImportantStatImage,.StatusEffectSleep #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/properties/condition_sleep.vsvg");
	wash-color: spiritBrightColor;
}

.StatusEffectDisarmed .ImportantStatImage,.StatusEffectDisarmed #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/properties/condition_disarm.vsvg");
	wash-color: spiritBrightColor;
}

.StatusEffectImmobilize .ImportantStatImage,.StatusEffectImmobilize #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/properties/condition_immobilize.vsvg");
	wash-color: spiritBrightColor;
}

.StatusEffectTether .ImportantStatImage,.StatusEffectTether #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/properties/condition_chain.vsvg");
	wash-color: spiritBrightColor;
}

.StatusEffectInvisible .ImportantStatImage,.StatusEffectInvisible #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_invisible.vsvg");
	wash-color: armorColor;
}

.StatusEffectStacks .ImportantStatImage,.StatusEffectStacks #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_stacks.vsvg");
	wash-color: offWhite;
}

.StatusEffectInfiniteClip .ImportantStatImage,.StatusEffectInfiniteClip #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/icon_infinite.vsvg");
	wash-color: courageBrightColor;
}

.StatusEffectBulletDebuff .ImportantStatImage,.StatusEffectBulletDebuff #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/properties/debuff.vsvg");
	wash-color: spiritBrightColor;
}

.StatusEffectBuff .ImportantStatImage,.StatusEffectBuff #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_toxic.vsvg");
	wash-color: spiritBrightColor;
}

.StatusEffectPetrify .ImportantStatImage,.StatusEffectPetrify #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_petrify_psd.vtex");
	wash-color: spiritBrightColor;
}

.StatusEffectCustomDebuff .ImportantStatImage,.StatusEffectCustomDebuff #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/properties/debuff.vsvg");
	wash-color: spiritBrightColor;
}

.StatusEffectUnstoppable .ImportantStatImage,.StatusEffectUnstoppable #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/unstoppable_psd.vtex");
	wash-color: spiritBrightColor;
}

.StatusEffectDisplacement .ImportantStatImage,.StatusEffectDisplacement #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/properties/condition_knockdown.vsvg");
	wash-color: offWhite;
}

.StatusEffectSilence .ImportantStatImage,.StatusEffectSilence #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/properties/condition_silence.vsvg");
	wash-color: spiritBrightColor;
}

.prop_souls.AbilityPropertyIcon,.prop_souls .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/icons/icon_soul.vsvg");
	wash-color: shardColor;
}

.prop_cast.AbilityPropertyIcon,.prop_cast .ImportantStatImage
{
	background-image: url("s2r://panorama/images/upgrades/property_cast_psd.vtex");
}

.StatDesc_TechRange,.prop_distance.AbilityPropertyIcon,.prop_distance .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/range.vsvg");
	wash-color: spiritBrightColor;
	opacity: 1;
}

.StatDesc_WeaponRange,.prop_range.AbilityPropertyIcon,.prop_range .ImportantStatImage
{
	background-image: url("s2r://panorama/images/upgrades/property_range.vsvg");
}

.prop_radius.AbilityPropertyIcon,.prop_radius .ImportantStatImage
{
	background-image: url("s2r://panorama/images/upgrades/property_range.vsvg");
}

.StatDesc_MaxHealth,.prop_health.AbilityPropertyIcon,.prop_health .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/health.vsvg");
	wash-color: armorColor;
	opacity: 1;
}

.StatDesc_HealthRegen,.StatDesc_BaseHealthRegen,.StatDesc_OutOfCombatHealthRegen
{
	background-image: url("s2r://panorama/images/icons/properties/health_regen.vsvg");
	wash-color: armorColor;
	opacity: 1;
}

.prop_healing.AbilityPropertyIcon,.prop_healing .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/heal.vsvg");
	wash-color: armorColor;
	opacity: 1;
}

.StatDesc_BulletArmor,.prop_bullet_armor_up.AbilityPropertyIcon,.prop_bullet_armor_up .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/resist_bullet_color.vsvg");
}

.StatDesc_BulletArmorDamageReduction,.prop_bullet_armor_down.AbilityPropertyIcon,.prop_bullet_armor_down .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/resist_bullet_color.vsvg");
	wash-color: none;
	opacity: 1;
}

.prop_combat_barrier.AbilityPropertyIcon,.prop_combat_barrier .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/armor_alt.vsvg");
	wash-color: armorColor;
}

.StatDesc_BaseWeaponDamage,.StatDesc_BulletDamage,.prop_bullet_damage.AbilityPropertyIcon,.prop_bullet_damage .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/damage_bullet_color.vsvg");
	wash-color: none;
	opacity: 1;
	margin-right: 3px;
}

.StatDesc_MeleeDamage,.StatDesc_LightMeleeDamage,.StatDesc_HeavyMeleeDamage,.prop_melee_damage.AbilityPropertyIcon,.prop_melee_damage .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/melee.vsvg");
	wash-color: courageBrightColor;
	opacity: 1;
	margin-right: 3px;
}

.StatDesc_LightMeleeDamage
{
	background-image: url("s2r://panorama/images/icons/properties/melee_light.vsvg");
	wash-color: courageBrightColor;
	opacity: 1;
}

.StatDesc_MeleeDamage
{
	background-image: url("s2r://panorama/images/icons/properties/damage_melee_color.vsvg");
	wash-color: none;
	opacity: 1;
}

.StatDesc_TechPowerAmp,.StatDesc_TechDamageScale,.prop_tech_damage.AbilityPropertyIcon,.prop_tech_damage .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/damage_magic_color.vsvg");
}

.prop_tech_power.AbilityPropertyIcon,.prop_tech_power .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/spirit.vsvg");
	wash-color: spiritBrightColor;
}

.prop_damage.AbilityPropertyIcon,.prop_damage .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/damage_crit.vsvg");
	wash-color: colorEnemy;
}

.StatDesc_FireRate,.StatDesc_RoundsPerSecond,.prop_fire_rate.AbilityPropertyIcon,.prop_fire_rate .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/fire_rate.vsvg");
	wash-color: courageBrightColor;
	opacity: 1;
	margin-right: 3px;
}

.prop_tech_armor_down.AbilityPropertyIcon,.prop_tech_armor_down .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/armor_spirit_color.vsvg");
	wash-color: none;
}

.StatDesc_TechArmorDamageReduction,.prop_tech_armor_up.AbilityPropertyIcon,.prop_tech_armor_up .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/resist_spirit_color.vsvg");
	wash-color: none;
	opacity: 1;
}

.StatDesc_TechDuration,.prop_duration.AbilityPropertyIcon,.prop_duration .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/duration.vsvg");
	wash-color: spiritBrightColor;
	opacity: 1;
}

.prop_slow.AbilityPropertyIcon,.prop_slow .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/condition_slow.vsvg");
	wash-color: spiritBrightColor;
}

.prop_generic.AbilityPropertyIcon,.prop_generic .ImportantStatImage
{
	background-image: url("s2r://panorama/images/upgrades/property_generic_psd.vtex");
	visibility: collapse;
}

.StatDesc_RunSpeed,.prop_move_speed.AbilityPropertyIcon,.prop_move_speed .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/move_speed.vsvg");
	wash-color: armorColor;
	opacity: 1;
	margin-right: 3px;
}

.StatDesc_SprintSpeed
{
	background-image: url("s2r://panorama/images/icons/properties/move_sprint.vsvg");
	wash-color: armorColor;
	opacity: 1;
	margin-right: 3px;
}

.StatDesc_StaminaCooldown,.prop_stamina_recovery.AbilityPropertyIcon,.prop_stamina_recovery .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/move_stamina_recharge.vsvg");
	wash-color: armorColor;
	opacity: 1;
}

.StatDesc_Stamina
{
	background-image: url("s2r://panorama/images/icons/properties/move_stamina.vsvg");
	wash-color: armorColor;
	opacity: 1;
}

.StatDesc_StaminaRegenIncrease,.StatDesc_StaminaRegenPerSecond
{
	background-image: url("s2r://panorama/images/icons/properties/move_stamina_recharge.vsvg");
	wash-color: armorColor;
	opacity: 1;
}

.prop_courage.AbilityPropertyIcon,.prop_courage .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_courage.vsvg");
	wash-color: courageBrightColor;
	margin-right: 3px;
}

.prop_fortitude.AbilityPropertyIcon,.prop_fortitude .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude.vsvg");
	wash-color: fortitudeBrightColor;
	margin-right: 3px;
}

.prop_spirit.AbilityPropertyIcon,.prop_spirit .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_spirit.vsvg");
	wash-color: spiritBrightColor;
	margin-right: 3px;
}

.StatDesc_ClipSizeIncrease,.StatDesc_ClipSizeBonus,.prop_clipsize.AbilityPropertyIcon,.prop_clipsize .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/ammo_clip_size.vsvg");
	wash-color: courageBrightColor;
	opacity: 1;
}

.StatDesc_ReloadSpeed,.prop_reload_speed.AbilityPropertyIcon,.prop_reload_speed .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/ammo_reload.vsvg");
	wash-color: courageBrightColor;
}

.StatDesc_ReloadTime
{
	background-image: url("s2r://panorama/images/icons/properties/ammo_reload.vsvg");
	wash-color: courageBrightColor;
	opacity: 1;
}

.StatDesc_TechCooldown,.prop_cooldown.AbilityPropertyIcon,.prop_cooldown .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/cooldown.vsvg");
	wash-color: spiritBrightColor;
	opacity: 1;
}

.StatDesc_TechCooldownBetweenCharges,.prop_charge_cooldown.AbilityPropertyIcon,.prop_charge_cooldown .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/recharge.vsvg");
	wash-color: spiritBrightColor;
	opacity: 1;
}

.prop_invisible.AbilityPropertyIcon,.prop_invisible .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_invisible.vsvg");
}

.prop_stun.AbilityPropertyIcon,.prop_stun .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/condition_stun.vsvg");
	wash-color: spiritBrightColor;
}

.prop_revealed.AbilityPropertyIcon,.prop_revealed .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_revealed_psd.vtex");
}

.prop_silence.AbilityPropertyIcon,.prop_silence .ImportantStatImage
{
	background-image: url("s2r://panorama/images/icons/properties/condition_silence.vsvg");
	wash-color: spiritBrightColor;
}

.StatDesc_MeleeResist
{
	background-image: url("s2r://panorama/images/icons/properties/resist_melee_color.vsvg");
	wash-color: none;
	opacity: 1;
}

.StatDesc_DebuffResist
{
	background-image: url("s2r://panorama/images/icons/properties/debuff_remove.vsvg");
	wash-color: armorColor;
	opacity: 1;
}

.StatDesc_BulletSpeed
{
	background-image: url("s2r://panorama/images/icons/properties/bullet_velocity.vsvg");
	wash-color: courageBrightColor;
	opacity: 1;
}

.StatDesc_BulletSpeedIncrease
{
	background-image: url("s2r://panorama/images/icons/properties/bullet_velocity.vsvg");
	wash-color: courageBrightColor;
	opacity: 1;
}

.StatDesc_DPS
{
	background-image: url("s2r://panorama/images/icons/properties/damage_bullet_color.vsvg");
	wash-color: none;
	opacity: 1;
}

.StatDesc_TechPower
{
	background-image: url("s2r://panorama/images/hud/core/icon_spirit.vsvg");
	wash-color: spiritBrightColor;
}

.StatDesc_TechLifesteal
{
	background-image: url("s2r://panorama/images/icons/properties/health_stealing_spirit_color.vsvg");
}

.StatDesc_TechLifesteal_Color
{
	background-image: url("s2r://panorama/images/icons/properties/health_stealing_spirit_color.vsvg");
}

.StatDesc_BulletLifesteal
{
	background-image: url("s2r://panorama/images/icons/properties/health_stealing_bullets_color.vsvg");
	wash-color: none;
	opacity: 1;
}

.StatDesc_TechShieldHealth
{
	background-image: url("s2r://panorama/images/icons/properties/armor_spirit_color.vsvg");
}

.StatDesc_BulletShieldHealth
{
	background-image: url("s2r://panorama/images/icons/properties/armor_bullet.vsvg");
}

.StatDesc_HealingOutput
{
	background-image: url("s2r://panorama/images/icons/properties/healing_booster.vsvg");
	wash-color: armorColor;
	opacity: 1;
}

.StatDesc_CritDamageReceivedScale,.StatDesc_CritDamageBonusScale
{
	background-image: url("s2r://panorama/images/icons/properties/damage_crit.vsvg");
	wash-color: colorEnemy;
	opacity: 1;
}

.StatDesc_MaxChargesIncrease
{
	background-image: url("s2r://panorama/images/icons/properties/charge.vsvg");
	wash-color: spiritBrightColor;
	opacity: 1;
}

.PropertiesIcon.Gun
{
	background-image: url("s2r://panorama/images/icons/properties/gun.vsvg");
}

.PropertiesIcon.Ammo
{
	background-image: url("s2r://panorama/images/icons/properties/ammo.vsvg");
}

.PropertiesIcon.AmmoClipSize
{
	background-image: url("s2r://panorama/images/icons/properties/ammo_clip_size.vsvg");
}

.PropertiesIcon.AmmoReload
{
	background-image: url("s2r://panorama/images/icons/properties/ammo_reload.vsvg");
}

.PropertiesIcon.AmmoReloadFast
{
	background-image: url("s2r://panorama/images/icons/properties/ammo_reload_fast.vsvg");
}

.PropertiesIcon.AmmoReloadAuto
{
	background-image: url("s2r://panorama/images/icons/properties/ammo_reload_auto.vsvg");
}

.PropertiesIcon.FireRate
{
	background-image: url("s2r://panorama/images/icons/properties/fire_rate.vsvg");
}

.PropertiesIcon.BulletVelocity
{
	background-image: url("s2r://panorama/images/icons/properties/bullet_velocity.vsvg");
}

.PropertiesIcon.Range
{
	background-image: url("s2r://panorama/images/icons/properties/range.vsvg");
}

.PropertiesIcon.RangeClose
{
	background-image: url("s2r://panorama/images/icons/properties/range_close.vsvg");
}

.PropertiesIcon.RangeLong
{
	background-image: url("s2r://panorama/images/icons/properties/range_long.vsvg");
}

.PropertiesIcon.RangeAOE
{
	background-image: url("s2r://panorama/images/icons/properties/range_aoe.vsvg");
}

.PropertiesIcon.BulletsPiercing
{
	background-image: url("s2r://panorama/images/icons/properties/bullets_piercing.vsvg");
}

.PropertiesIcon.BulletsPiercingArmor
{
	background-image: url("s2r://panorama/images/icons/properties/bullets_piercing_armor.vsvg");
}

.PropertiesIcon.Melee
{
	background-image: url("s2r://panorama/images/icons/properties/melee.vsvg");
}

.PropertiesIcon.MeleeLight
{
	background-image: url("s2r://panorama/images/icons/properties/melee_light.vsvg");
}

.PropertiesIcon.MeleeLight
{
	background-image: url("s2r://panorama/images/icons/properties/melee_light.vsvg");
}

.PropertiesIcon.Health
{
	background-image: url("s2r://panorama/images/icons/properties/health.vsvg");
}

.PropertiesIcon.HealthRegen
{
	background-image: url("s2r://panorama/images/icons/properties/health_regen.vsvg");
}

.PropertiesIcon.Heal
{
	background-image: url("s2r://panorama/images/icons/properties/heal.vsvg");
}

.PropertiesIcon.HealingBooster
{
	background-image: url("s2r://panorama/images/icons/properties/healing_booster.vsvg");
}

.PropertiesIcon.ResistBullet
{
	background-image: url("s2r://panorama/images/icons/properties/resist_bullet.vsvg");
}

.PropertiesIcon.ResistMelee
{
	background-image: url("s2r://panorama/images/icons/properties/resist_melee.vsvg");
}

.PropertiesIcon.ResistSpirit
{
	background-image: url("s2r://panorama/images/icons/properties/resist_spirit.vsvg");
}

.PropertiesIcon.Armor
{
	background-image: url("s2r://panorama/images/icons/properties/armor_alt.vsvg");
}

.PropertiesIcon.ArmorBullet
{
	background-image: url("s2r://panorama/images/icons/properties/armor_bullet.vsvg");
}

.PropertiesIcon.ArmorMelee
{
	background-image: url("s2r://panorama/images/icons/properties/armor_melee.vsvg");
}

.PropertiesIcon.ArmorSpirit
{
	background-image: url("s2r://panorama/images/icons/properties/armor_spirit.vsvg");
}

.PropertiesIcon.HealthSteal
{
	background-image: url("s2r://panorama/images/icons/properties/health_steal.vsvg");
}

.PropertiesIcon.HealthStealingBullets
{
	background-image: url("s2r://panorama/images/icons/properties/health_stealing_bullets.vsvg");
}

.PropertiesIcon.HealthStealingMelee
{
	background-image: url("s2r://panorama/images/icons/properties/health_stealing_melee.vsvg");
}

.PropertiesIcon.HealthStealingSpirit
{
	background-image: url("s2r://panorama/images/icons/properties/health_stealing_spirit.vsvg");
}

.PropertiesIcon.DebuffRemove
{
	background-image: url("s2r://panorama/images/icons/properties/debuff_remove.vsvg");
}

.PropertiesIcon.MeleeParry
{
	background-image: url("s2r://panorama/images/icons/properties/melee_parry.vsvg");
}

.PropertiesIcon.MoveSpeed
{
	background-image: url("s2r://panorama/images/icons/properties/move_speed.vsvg");
}

.PropertiesIcon.MoveStamina
{
	background-image: url("s2r://panorama/images/icons/properties/move_stamina.vsvg");
}

.PropertiesIcon.MoveStaminaRecharge
{
	background-image: url("s2r://panorama/images/icons/properties/move_stamina_recharge.vsvg");
}

.PropertiesIcon.MoveDodge
{
	background-image: url("s2r://panorama/images/icons/properties/move_dodge.vsvg");
}

.PropertiesIcon.MoveDodgeRecharge
{
	background-image: url("s2r://panorama/images/icons/properties/move_dodge_recharge.vsvg");
}

.PropertiesIcon.MoveSlide
{
	background-image: url("s2r://panorama/images/icons/properties/move_slide.vsvg");
}

.PropertiesIcon.MoveDash
{
	background-image: url("s2r://panorama/images/icons/properties/move_dash.vsvg");
}

.PropertiesIcon.MoveDoubleJump
{
	background-image: url("s2r://panorama/images/icons/properties/move_double_jump.vsvg");
}

.PropertiesIcon.Zipline
{
	background-image: url("s2r://panorama/images/icons/properties/zipline.vsvg");
}

.PropertiesIcon.Visibility
{
	background-image: url("s2r://panorama/images/icons/properties/visibility.vsvg");
}

.PropertiesIcon.Spirit
{
	background-image: url("s2r://panorama/images/icons/properties/spirit.vsvg");
}

.PropertiesIcon.Duration
{
	background-image: url("s2r://panorama/images/icons/properties/duration.vsvg");
}

.PropertiesIcon.Cooldown
{
	background-image: url("s2r://panorama/images/icons/properties/cooldown.vsvg");
}

.PropertiesIcon.Charge
{
	background-image: url("s2r://panorama/images/icons/properties/charge.vsvg");
}

.PropertiesIcon.Recharge
{
	background-image: url("s2r://panorama/images/icons/properties/recharge.vsvg");
}

.PropertiesIcon.Debuff
{
	background-image: url("s2r://panorama/images/icons/properties/debuff.vsvg");
}

.PropertiesIcon.ConditionBleed
{
	background-image: url("s2r://panorama/images/icons/properties/condition_bleed.vsvg");
}

.PropertiesIcon.ConditionBurn
{
	background-image: url("s2r://panorama/images/icons/properties/condition_burn.vsvg");
}

.PropertiesIcon.ConditionFreeze
{
	background-image: url("s2r://panorama/images/icons/properties/condition_freeze.vsvg");
}

.PropertiesIcon.ConditionToxic
{
	background-image: url("s2r://panorama/images/icons/properties/condition_toxic.vsvg");
}

.PropertiesIcon.ConditionShock
{
	background-image: url("s2r://panorama/images/icons/properties/condition_shock.vsvg");
}

.PropertiesIcon.ConditionSlow
{
	background-image: url("s2r://panorama/images/icons/properties/condition_slow.vsvg");
}

.PropertiesIcon.ConditionChain
{
	background-image: url("s2r://panorama/images/icons/properties/condition_chain.vsvg");
}

.PropertiesIcon.ConditionImmobilize
{
	background-image: url("s2r://panorama/images/icons/properties/condition_immobilize.vsvg");
}

.PropertiesIcon.ConditionKnockdown
{
	background-image: url("s2r://panorama/images/icons/properties/condition_knockdown.vsvg");
}

.PropertiesIcon.ConditionSleep
{
	background-image: url("s2r://panorama/images/icons/properties/condition_sleep.vsvg");
}

.PropertiesIcon.ConditionDisarm
{
	background-image: url("s2r://panorama/images/icons/properties/condition_disarm.vsvg");
}

.PropertiesIcon.ConditionSilence
{
	background-image: url("s2r://panorama/images/icons/properties/condition_silence.vsvg");
}

.PropertiesIcon.ConditionStun
{
	background-image: url("s2r://panorama/images/icons/properties/condition_stun.vsvg");
}

.PropertiesIcon.DamageWeapon
{
	background-image: url("s2r://panorama/images/icons/properties/damage_weapon.vsvg");
}

.PropertiesIcon.DamageWeaponColor
{
	background-image: url("s2r://panorama/images/icons/properties/damage_weapon_color.vsvg");
}

.PropertiesIcon.DamageBullet
{
	background-image: url("s2r://panorama/images/icons/properties/damage_bullet.vsvg");
}

.PropertiesIcon.DamageBulletColor
{
	background-image: url("s2r://panorama/images/icons/properties/damage_bullet_color.vsvg");
}

.PropertiesIcon.DamageMelee
{
	background-image: url("s2r://panorama/images/icons/properties/damage_melee_color.vsvg");
}

.PropertiesIcon.DamageMagic
{
	background-image: url("s2r://panorama/images/icons/properties/damage_magic_color.vsvg");
}

.PropertiesIcon.DamageCrit
{
	background-image: url("s2r://panorama/images/icons/properties/damage_crit.vsvg");
}

.PropertiesIcon.DamageOverTime
{
	background-image: url("s2r://panorama/images/icons/properties/damage_over_time_color.vsvg");
}

.PropertiesIcon.Death
{
	background-image: url("s2r://panorama/images/icons/properties/death.vsvg");
}

