/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.abilityDetailsTooltip
{
	width: 520px;
	background-color: #444444;
	border-radius: 8px;
	box-shadow: fill rgba(0, 0, 0, 0.35) 0px 0px 12px 4px;
	margin-top: 12px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
	flow-children: down;
}

.abilityDetailsTooltip.TooltipVisible
{
	transition-duration: 0.1s;
	opacity: 1;
}

AbilityDetailsPanel
{
	width: 100%;
	visibility: collapse;
}

.showingAbilityStats AbilityDetailsPanel
{
	visibility: visible;
}

#additionalAbillitiesDetails
{
	flow-children: right-wrap;
	visibility: collapse;
	width: 100%;
	margin-top: 15px;
}

.ContainerPanel
{
	width: 49%;
	flow-children: down;
	ui-scale: 60%;
	margin-bottom: 5px;
}

.additionalAbilitiesTitle
{
	width: 100%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
}

#additionalAbillitiesDetails .ContainerPanel
{
	border-top: 1px solid white;
}

