/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define detail_text_color: rgb(173, 173, 173);
@define upgrade_color: rgb(150, 255, 150);
@define bonus_color: rgb(120, 255, 255);
#ability_panel
{
	flow-children: down;
	horizontal-align: left;
	width: 512px;
}

.ability_header
{
	flow-children: right;
	width: 100%;
	height: 96px;
	background-color: rgba( 0, 0, 0, 0.6 );
}

.itemWeapon .ability_header,.is_spectator .itemWeapon .ability_header
{
	background-color: weaponBGColor4;
}

.itemArmor .ability_header,.is_spectator .itemArmor .ability_header
{
	background-color: armorBGColor4;
}

.itemTech .ability_header,.is_spectator .itemTech .ability_header
{
	background-color: techBGColor4;
}

.can_afford.itemWeapon .ability_header,.is_spectator .can_afford.itemWeapon .ability_header
{
	background-color: weaponModsColor;
}

.can_afford.itemArmor .ability_header,.is_spectator .can_afford.itemArmor .ability_header
{
	background-color: armorModsColor;
}

.can_afford.itemTech .ability_header,.is_spectator .can_afford.itemTech .ability_header
{
	background-color: techModsColor;
}

.owned_item .ability_header
{
	background-color: colorEnemy;
}

.ability_icon
{
	visibility: collapse;
}

#PurchasedIconContainer
{
	height: 100%;
	width: 73px;
	background-color: black;
	visibility: collapse;
	horizontal-align: right;
}

.owned_item #PurchasedIconContainer
{
	visibility: visible;
}

.purchasedIcon
{
	horizontal-align: center;
	vertical-align: center;
	ui-scale: 130%;
}

.ability_title
{
	color: colorCommonOffWhite;
	font-size: 30px;
	vertical-align: center;
	max-width: 378px;
	font-weight: bold;
}

.can_afford .ability_title
{
	color: white;
}

.owned_item .ability_title
{
	color: black;
}

.buyLine
{
	width: 100%;
	flow-children: left;
}

.next_purchasable_item .buyLine
{
	visibility: visible;
}

.owned_item .buyLine,.disabled .buyLine
{
	visibility: collapse;
}

.buyDetails
{
	padding: 8px 18px 8px 18px;
	width: 100%;
}

.buyFor
{
	color: #FFCC00;
	font-size: 16px;
	line-height: 20px;
}

.sellLine
{
	width: fit-children;
	visibility: collapse;
}

.sellFor
{
	color: #00FF99;
	font-size: 16px;
	line-height: 20px;
}

.owned_item .sellLine
{
	visibility: visible;
}

.invalidLine
{
	visibility: collapse;
	width: 100%;
	padding: 8px 18px 8px 18px;
	background-color: #FF410D30;
	color: colorCommonOffWhite;
}

.upgradeInvalid
{
	color: #FF410D;
	font-size: 16px;
	line-height: 20px;
}

.disabled .invalidLine
{
	visibility: visible;
}

.upgradeCost
{
	margin-top: -4px;
	font-size: 21px;
	font-weight: bold;
	color: colorEnemy;
}

.owned_item .upgradeCost
{
	color: black;
}

.can_afford .upgradeCost
{
	color: colorGold;
}

.usedAsComponentLine
{
	visibility: collapse;
}

.usedAsComponent .usedAsComponentLine
{
	visibility: visible;
}

.usedAsComponentLabel
{
	color: colorCommonOffWhite;
	font-size: 18px;
	horizontal-align: left;
}

.costAndIcon
{
	flow-children: right;
}

.usedAsComponent .costAndIcon
{
	visibility: collapse;
}

.costIcon
{
	width: 16px;
	height: 16px;
	margin-bottom: 0px;
	margin-left: 4px;
	vertical-align: center;
	wash-color: colorEnemy;
}

.can_afford .costIcon,.owned_item .costIcon
{
	wash-color: colorGold;
}

.discount
{
	visibility: collapse;
	background-color: green;
	font-size: 20px;
	color: colorCommonOffWhite;
	height: 100%;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 7px;
}

.cost_discounted .discount
{
	visibility: visible;
}

#upgradeStats
{
	color: upgrade_color;
	width: 100%;
}

#bonus_stats
{
	color: #66FF99;
	visibility: collapse;
}

.has_bonus_stats #bonus_stats
{
	visibility: visible;
	margin-top: 16px;
	opacity: 0.3;
}

#upgradePropertyContainer,#modifiedPropertyContainer
{
	width: 100%;
	flow-children: down;
	visibility: collapse;
}

#modifiedPropertyContainer,.affects_other_abilities.show_modifies_panel #modifiedPropertyContainer
{
	border-bottom: 1px solid grey;
}

.show_modifies_panel #modifiedPropertyContainer
{
	border-bottom: 0px;
}

#upgradePropertyContainer.hasAnyProperties,#modifiedPropertyContainer.hasAnyProperties
{
	visibility: visible;
}

#modifiedPropertyContainer
{
	flow-children: down;
	width: 100%;
	margin-left: 10px;
	margin-right: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#upgradePropertyContainer
{
	flow-children: down;
	width: 100%;
	padding-bottom: 10px;
	margin-top: 10px;
}

.upgradeProperty
{
	width: 100%;
	height: 30px;
	margin-bottom: 4px;
	flow-children: right;
}

.upgradeProperty Label
{
	vertical-align: center;
}

#propertyIcon
{
	width: 24px;
	height: 24px;
	background-size: 24px;
	vertical-align: center;
	margin-right: 8px;
	wash-color: colorCommonOffWhite;
	visibility: visible;
}

#propertyIcon.prop_generic
{
	visibility: visible;
}

.propertyName
{
	margin-right: 8px;
	vertical-align: center;
	font-size: 21px;
	font-weight: semi-bold;
	color: colorCommonOffWhite;
	opacity: 0.35;
}

.propertyValues
{
	flow-children: right;
	width: fit-children;
	vertical-align: center;
	horizontal-align: right;
}

.usedAsComponent .propertyValues
{
	visibility: collapse;
}

.propertyValue
{
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}

.itemWeapon .propertyValue,.itemWeapon .affectedValDelta
{
	color: #FF9900;
}

.hasPropertyValue .itemWeapon .propertyValue
{
	color: colorCommonOffWhite;
}

.itemArmor .propertyValue,.itemArmor .affectedValDelta
{
	color: #00FF99;
}

.itemTech .propertyValue,.itemTech .affectedValDelta
{
	color: #00DDFF;
}

.prop_tech_damage .propertyName,.itemWeapon .prop_tech_damage .propertyValue,.itemArmor .prop_tech_damage .propertyValue
{
	color: techColor;
	opacity: 1;
}

.prop_weapon_damage .propertyName,.itemArmor .prop_weapon_damage .propertyValue,.itemTech .prop_weapon_damage .propertyValue
{
	color: weaponColor;
	opacity: 1;
}

.affectedValArrow
{
	height: 12px;
	width: 12px;
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: center;
	wash-color: colorCommonOffWhite;
	opacity: 0.25;
}

.affectedValNew
{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.propertyAdjustedValue
{
	color: #66FF99;
	font-size: 21px;
	visibility: collapse;
	min-width: 25px;
	text-align: center;
}

.itemWeapon .propertyAdjustedValue
{
	color: weaponColor;
}

.itemArmor .propertyAdjustedValue
{
	color: armorColor;
}

.itemTech .propertyAdjustedValue
{
	color: techColor;
}

.prop_tech_damage .propertyAdjustedValue
{
	color: techColor;
}

.prop_weapon_damage .propertyAdjustedValue
{
	color: weaponColor;
}

.hasAdjustedValue .propertyAdjustedValue
{
	visibility: visible;
}

.hasAdjustedValue .propertyValue,.hasAdjustedValue .propertyValueDiff.propertyValue
{
	margin-right: 8px;
	color: colorCommonOffWhite;
	opacity: 0.25;
	text-decoration: line-through;
}

.ability_details,.ability_property
{
	color: colorCommonOffWhite;
	font-size: 18px;
	margin-left: 10px;
	horizontal-align: left;
}

.ability_desc
{
	color: lightgrey;
	font-size: 18px;
	horizontal-align: left;
}

#affectedPropertiesContainer
{
	width: 90%;
	height: fit-children;
	vertical-align: center;
	flow-children: down;
}

.affectedAbilityProperty
{
	width: 100%;
	flow-children: right;
	vertical-align: center;
}

.affectedPropertyName
{
	margin-right: 8px;
	font-weight: semi-bold;
	color: colorCommonOffWhite;
	opacity: 0.35;
}

.affectedValCur
{
	font-size: 18px;
	font-weight: bold;
	color: colorCommonOffWhite;
	opacity: 0.15;
}

.affectedValDelta
{
	color: #66FF99;
	margin-right: 5px;
	visibility: collapse;
}

.trained_level
{
	color: gold;
}

.inactive_level
{
	color: rgb(172, 172, 172);
}

.bonusGain
{
	color: #66FF99;
}

.itemWeapon .bonusGain
{
	color: weaponColor;
}

.itemArmor .bonusGain
{
	color: armorColor;
}

.itemTech .bonusGain
{
	color: techColor;
}

.hero_bonus.bonusGain
{
	color: #66FF99;
}

#ability_hero_list
{
	padding-top: 5px;
	padding-bottom: 5px;
	height: 40px;
	width: 100%;
	visibility: collapse;
	flow-children: left;
	background-color: #383838;
	margin-top: 5px;
}

.affects_other_abilities #ability_hero_list
{
	border-top: 1px solid grey;
	margin-top: 0px;
}

.ownedByLabel
{
	ignore-parent-flow: true;
	horizontal-align: left;
	color: colorCommonOffWhite;
	font-size: 16px;
	vertical-align: center;
	margin-left: 10px;
}

.affectedAbilitiesContainer
{
	margin: 24px 24px 8px 24px;
	visibility: collapse;
	flow-children: down;
	width: 100%;
}

.affects_other_abilities #affected_abilities_container_upgrades
{
	visibility: visible;
}

.affected_ability
{
	width: 100%;
	height: fit-children;
	margin-bottom: 16px;
	font-size: 18px;
	flow-children: right;
}

#ability_image
{
	width: 40px;
	height: 40px;
	margin-right: 16px;
	border-radius: 4px;
	vertical-align: center;
	wash-color: colorCommonOffWhite;
	opacity: 0.75;
}

.owned_by_friends #ability_hero_list
{
	visibility: visible;
}

.hero_icon
{
	margin-right: 10px;
	width: height-percentage(100%);
}

.ability_code_name
{
	color: grey;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

#details
{
	width: 100%;
	margin-bottom: 8px;
	font-size: 21px;
	line-height: 26px;
	font-weight: semi-bold;
	color: colorCommonOffWhiteA35;
}

#DetailsContainer
{
	padding: 24px;
	padding-bottom: 20px;
	background-color: colorCommonDarkGray;
	flow-children: down;
	width: 100%;
}

.itemWeapon #DetailsContainer
{
	background-color: weaponBGColor2;
}

.itemArmor #DetailsContainer
{
	background-color: armorBGColor2;
}

.itemTech #DetailsContainer
{
	background-color: techBGColor2;
}

.show_details #DetailsContainer
{
	visibility: visible;
}

.highlight
{
	color: white;
}

#TitleContainer
{
	width: 100%;
	padding: 16px 24px 16px 24px;
	flow-children: down;
}

.affectedPropertyDeltaContainer
{
	flow-children: right;
}

#ComponentOfContainer
{
	width: 100%;
	flow-children: down;
	background-color: colorCommonDarkGray;
	visibility: collapse;
}

.usedAsComponent #ComponentOfContainer
{
	visibility: visible;
}

#ComponentsContainer
{
	width: 100%;
	flow-children: down;
	background-color: colorCommonDarkGray;
	visibility: collapse;
}

.hasComponentMods #ComponentsContainer
{
	visibility: visible;
}

#componentOfList
{
	width: 100%;
	flow-children: down;
}

#componentsList
{
	width: 100%;
	flow-children: down;
}

.componentMod
{
	flow-children: right;
	height: 68px;
}

.componentModDetails
{
	flow-children: down;
	vertical-align: center;
	margin-bottom: 4px;
}

#ComponentsLabelContainer
{
	padding: 5px;
	padding-left: 20px;
	background-color: colorCommonDarkestGray;
	opacity: 0.5;
	width: 100%;
}

.componentsLabel
{
	color: colorCommonOffWhite;
	font-size: 18px;
	font-weight: semi-bold;
	text-transform: uppercase;
	margin-top: 2px;
}

.componentModIconContainer
{
	margin-left: 16px;
	margin-right: 8px;
	padding: 4px;
	vertical-align: center;
}

.isWeaponComponent .componentModIconContainer
{
	background-color: weaponModsColor;
}

.isArmorComponent .componentModIconContainer
{
	background-color: armorModsColor;
}

.isTechComponent .componentModIconContainer
{
	background-color: techModsColor;
}

.owned_item .componentModIconContainer,.componentOwned .componentModIconContainer
{
	wash-color: colorCommonOffWhite;
	background-color: none;
}

#componentModIcon
{
	width: 40px;
	height: 40px;
	border-radius: 4px;
	vertical-align: center;
	opacity: 0.75;
}

.owned_item #componentModIcon,.componentOwned #componentModIcon
{
	wash-color: colorCommonOffWhite;
}

.componentModName
{
	color: colorCommonOffWhite;
	font-size: 20px;
	font-weight: semi-bold;
}

.owned_item .componentModName,.componentOwned .componentModName
{
	color: rgba(243, 240, 231, 0.7);
}

.componentModOwnedDisplay
{
	color: colorCommonOffWhite;
	font-size: 18px;
	visibility: collapse;
}

.componentOwned .componentModOwnedDisplay
{
	visibility: visible;
}

.componentModRequiredDisplay
{
	visibility: collapse;
}

.componentRequired .componentModRequiredDisplay
{
	color: gold;
	font-size: 18px;
	visibility: visible;
}

.componentModConsumedDisplay
{
	color: colorCommonOffWhite;
	font-size: 18px;
	visibility: collapse;
}

.owned_item .componentModConsumedDisplay
{
	visibility: collapse;
}

#ModifiesLabelContainer
{
	padding: 5px;
	padding-left: 20px;
	background-color: colorCommonDarkestGray;
	opacity: 0.5;
	width: 100%;
}

.modifiesLabel
{
	color: colorCommonOffWhite;
	font-size: 18px;
	font-weight: semi-bold;
	text-transform: uppercase;
	margin-top: 2px;
}

#ModifiesContainer
{
	width: 100%;
	margin-top: 8px;
	flow-children: down;
	background-color: colorCommonDarkGray;
	visibility: collapse;
}

.usedAsComponent #ModifiesContainer
{
	visibility: collapse;
}

.affects_other_abilities #ModifiesContainer,.show_modifies_panel #ModifiesContainer
{
	visibility: visible;
}

.propertyValueCurrent,.propertyValueNew,.upgradeProperty .affectedValArrow
{
	visibility: collapse;
}

.propertyValueNew
{
	vertical-align: center;
	text-align: center;
}

.hasPropertyValue .propertyValueCurrent,.hasPropertyValue .propertyValueNew,.hasPropertyValue .affectedValArrow
{
	visibility: visible;
}

.hasPropertyValue .propertyValueCurrent
{
	color: colorCommonOffWhite;
	opacity: 0.25;
}

.hasPropertyValue .propertyValueAdjustedContainer
{
	ignore-parent-flow: false;
}

.propertyValueAdjustedContainer
{
	font-size: 21px;
	font-weight: bold;
	flow-children: right;
	vertical-align: center;
}

