/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.prop_healing .ImportantStatImage,.StatDesc_HealthRegen,.StatDesc_BaseHealthRegen
{
	background-image: url("s2r://panorama/images/upgrades/property_health_regen_psd.vtex");
}

.prop_tech_armor_up .ImportantStatImage,.prop_tech_armor_down .ImportantStatImage,.StatDesc_TechArmorDamageReduction
{
	background-image: url("s2r://panorama/images/upgrades/property_tech_armor_psd.vtex");
}

.prop_bullet_armor_up .ImportantStatImage,.prop_bullet_armor_down .ImportantStatImage,.StatDesc_BulletArmorDamageReduction
{
	background-image: url("s2r://panorama/images/upgrades/property_bullet_armor_psd.vtex");
}

.large.prop_damage,.prop_damage .ImportantStatImage
{
	background-image: url("s2r://panorama/images/damage_psd.vtex");
	opacity: 0.8;
}

.large.prop_bullet_damage,.prop_bullet_damage .ImportantStatImage,.StatDesc_BulletDamage
{
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/upgrades/property_bullet_dmg.vsvg");
	background-size: contain;
	wash-color: courageBrightColor;
	opacity: 0.3;
}

.StatDesc_BaseWeaponDamage
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_force.vsvg");
	background-repeat: no-repeat;
	background-size: contain;
	wash-color: courageBrightColor;
	opacity: 0.3;
}

.large.prop_melee_damage,.prop_melee_damage .ImportantStatImage,.StatDesc_MeleeDamage,.StatDesc_LightMeleeDamage,.StatDesc_HeavyMeleeDamage
{
	background-image: url("s2r://panorama/images/damage_melee_psd.vtex");
	opacity: 0.3;
	wash-color: courageBrightColor;
	opacity: 0.3;
}

.large.prop_tech_damage,.prop_tech_damage .ImportantStatImage,.StatDesc_TechPowerAmp,.StatDesc_TechDamageScale
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_mystic.vsvg");
	background-repeat: no-repeat;
	background-size: contain;
	wash-color: spiritBrightColor;
	opacity: 0.8;
}

.prop_duration .ImportantStatImage
{
	background-image: url("s2r://panorama/images/upgrades/property_duration_psd.vtex");
}

.prop_distance .ImportantStatImage,.StatDesc_WeaponRange
{
	background-image: url("s2r://panorama/images/upgrades/property_range_psd.vtex");
}

.StatDesc_ClipSizeBonus
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/clip_size_psd.vtex");
}

.StatDesc_ClipSizeIncrease
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/clip_size_psd.vtex");
}

.StatDesc_ReloadSpeed
{
	background-image: url("s2r://panorama/images/upgrades/property_reload_speed_psd.vtex");
}

.StatDesc_RoundsPerSecond
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/fire_rate_psd.vtex");
}

.StatDesc_FireRate
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/fire_rate_plus_psd.vtex");
}

.StatDesc_BulletSpeed
{
	background-image: url("s2r://panorama/images/upgrades/property_bullet_velocity_psd.vtex");
}

.StatDesc_BulletSpeedIncrease
{
	background-image: url("s2r://panorama/images/upgrades/property_bullet_velocity_psd.vtex");
}

.prop_cast .ImportantStatImage
{
	background-image: url("s2r://panorama/images/upgrades/property_cast_psd.vtex");
}

.prop_generic .ImportantStatImage
{
	background-image: url("s2r://panorama/images/upgrades/property_generic_psd.vtex");
}

.large.prop_generic
{
	background-image: url("s2r://panorama/images/upgrades/property_generic_upgrade_arrow_psd.vtex");
}

.large.prop_cast
{
	background-image: url("s2r://panorama/images/upgrades/property_cast_large_psd.vtex");
}

.prop_cooldown .ImportantStatImage,.large.prop_cooldown,.StatDesc_TechCooldown
{
	background-image: url("s2r://panorama/images/upgrades/property_cooldown_large_psd.vtex");
}

.large.prop_duration,.StatDesc_TechDuration
{
	background-image: url("s2r://panorama/images/upgrades/property_duration_large_psd.vtex");
}

.large.prop_distance,.StatDesc_TechRange
{
	background-image: url("s2r://panorama/images/upgrades/property_range_large_psd.vtex");
}

.prop_move_speed .ImportantStatImage,.large.prop_move_speed,.StatDesc_RunSpeed,.StatDesc_SprintSpeed
{
	background-image: url("s2r://panorama/images/upgrades/property_move_speed_large_psd.vtex");
}

.StatDesc_Stamina
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/springy_boots_psd.vtex");
}

.StatDesc_StaminaRegenPerSecond
{
	background-image: url("s2r://panorama/images/upgrades/property_stamina_regen_psd.vtex");
}

.prop_health .ImportantStatImage,.large.prop_health,.StatDesc_MaxHealth
{
	background-image: url("s2r://panorama/images/upgrades/property_health_large_psd.vtex");
}

.StatDesc_ReloadTime
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/quick_reload_psd.vtex");
}

.StatDesc_DPS
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_force.vsvg");
	background-repeat: no-repeat;
	background-size: contain;
	wash-color: courageBrightColor;
	opacity: 0.6;
}

.prop_slow .ImportantStatImage,.large.prop_slow
{
	background-image: url("s2r://panorama/images/upgrades/property_slow_large_psd.vtex");
}

.StatDesc_TechPower
{
	background-image: url("s2r://panorama/images/hud/core/icon_spirit.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: spiritBrightColor;
}

.StatDesc_TechLifesteal
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/health_stealing_tech_psd.vtex");
}

.StatDesc_BulletLifesteal
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_stealing_bullets_psd.vtex");
}

.StatDesc_TechShieldHealth
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_mystic.vsvg");
	background-repeat: no-repeat;
	background-position: center;
}

.StatDesc_BulletShieldHealth
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_force.vsvg");
	background-repeat: no-repeat;
	background-position: center;
}

.StatDesc_HealingOutput
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/healing_booster_psd.vtex");
}

.StatDesc_CritDamageReceivedScale
{
	background-image: url("s2r://panorama/images/upgrades/property_crit_reduction.vsvg");
}

.StatDesc_MaxChargesIncrease
{
	background-image: url("s2r://panorama/images/upgrades/property_cast_psd.vtex");
}

.StatDesc_TechCooldownBetweenCharges
{
	background-image: url("s2r://panorama/images/upgrades/property_charge_cooldown.vsvg");
}

