/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
@define damageColor: RGB( 122, 25, 58 );
@define ammoColor: RGB( 163, 43, 44 );
@define damageAuraColor: RGB( 198, 66, 41 );
@define healthColor: RGB( 77, 93, 22 );
@define armorAuraColor: RGB( 77, 176, 130 );
@define energyColor: RGB( 68, 97, 191 );
@define techAuraColor: RGB( 65, 88, 181 );
@define utilityColor: RGB( 165, 91, 30 );
@define utilityAuraColor: RGB( 210, 167, 57 );
@define activeEnemyColor: RGB( 210, 43, 44 );
.mod_weapon #mod_icon,.isWeapon #mod_icon
{
	wash-color: courageDarkerColor;
}

.mod_armor #mod_icon,.isArmor #mod_icon
{
	wash-color: fortitudeDarkerColor;
}

.mod_tech #mod_icon,.isTech #mod_icon
{
	wash-color: spiritDarkerColor;
}

#StatsAndModsContainer .mod_weapon #mod_icon,#StatsAndModsContainer .isWeapon #mod_icon
{
	wash-color: courageBrightColor;
}

#StatsAndModsContainer .mod_armor #mod_icon,#StatsAndModsContainer .isArmor #mod_icon
{
	wash-color: fortitudeBrightColor;
}

#StatsAndModsContainer .mod_tech #mod_icon,#StatsAndModsContainer .isTech #mod_icon
{
	wash-color: spiritBrightColor;
}

#StatsAndModsContainer.gShopOpen .mod_weapon #mod_icon,#StatsAndModsContainer.gShopOpen .isWeapon #mod_icon
{
	wash-color: courageDarkerColor;
}

#StatsAndModsContainer.gShopOpen .mod_armor #mod_icon,#StatsAndModsContainer.gShopOpen .isArmor #mod_icon
{
	wash-color: fortitudeDarkerColor;
}

#StatsAndModsContainer.gShopOpen .mod_tech #mod_icon,#StatsAndModsContainer.gShopOpen .isTech #mod_icon
{
	wash-color: spiritDarkerColor;
}

.mod_weapon .unowned #mod_icon,.mod_armor .unowned #mod_icon,.mod_tech .unowned #mod_icon
{
	wash-color: none;
}

.isTier4 #mod_icon
{
	wash-color: #1a1a1a;
}

.ability_icon
{
	background-image: none;
	background-size: 40px;
	width: 40px;
	height: 40px;
	margin-left: 4px;
	vertical-align: center;
}

.item_gadget .mod_icon,.item_gadget .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/upgrade_active_psd.vtex");
}

.item_gadget_enemy .mod_icon,.item_gadget_enemy .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/upgrade_active_enemy_psd.vtex");
	wash-color: activeEnemyColor;
}

.upgrade_tech_pricey .mod_icon,.upgrade_tech_pricey .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/upgrade_active_gold_psd.vtex");
	wash-color: yellow;
	opacity: 1;
}

.upgrade_infinite .mod_icon,.upgrade_infinite .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/upgrade_infinite_psd.vtex");
}

.item_passive .mod_icon,.item_passive .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/upgrade_passive_psd.vtex");
}

.upgrade_health .mod_icon,.upgrade_health .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_psd.vtex");
}

.upgrade_health2 .mod_icon,.upgrade_health2 .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/base_armor_psd.vtex");
}

.healthTank .mod_icon,.healthTank .ability_icon,.healthTank.AdjustedStatAbility
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_tank_psd.vtex");
}

.upgrade_armor .mod_icon,.upgrade_armor .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/armor_psd.vtex");
	wash-color: armorColor;
}

.upgrade_wdamage .mod_icon,.upgrade_wdamage .ability_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/weapon_damage_psd.vtex");
}

.upgrade_tech_resist .mod_icon,.upgrade_tech_resist .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/upgrade_shield_psd.vtex");
	wash-color: armorColor;
}

.upgrade_melee .mod_icon,.upgrade_melee .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/melee_icon_psd.vtex");
	wash-color: #dd1111ff;
}

.upgrade_all_stats .mod_icon,.upgrade_all_stats .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/all_stats_psd.vtex");
}

.upgrade_weapon .mod_icon,.upgrade_weapon .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/weapon_power_psd.vtex");
	wash-color: damageColor;
}

.upgrade_tech .mod_icon,.upgrade_tech .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/tech_power_psd.vtex");
	wash-color: techColor;
}

.upgrade_speed .mod_icon,.upgrade_speed .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/speed_icon_psd.vtex");
	wash-color: utilityColor;
}

.upgrade_energy .mod_icon,.upgrade_energy .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/energy_icon_psd.vtex");
	wash-color: #FFFFFFFF;
	wash-color: energyColor;
}

.upgrade_ammo .mod_icon,.upgrade_ammo .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/ammo_icon_psd.vtex");
	wash-color: ammoColor;
}

.upgrade_fire_rate .mod_icon,.upgrade_fire_rate .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/fire_rate_icon_psd.vtex");
	wash-color: damageColor;
}

.upgrade_aura .mod_icon,.upgrade_aura .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/aura_icon_psd.vtex");
}

.upgrade_aura_damage .mod_icon,.upgrade_aura_damage .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/aura_icon_psd.vtex");
	wash-color: damageAuraColor;
}

.upgrade_aura_health .mod_icon,.upgrade_aura_health .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/aura_icon_psd.vtex");
	wash-color: armorAuraColor;
}

.upgrade_aura_energy .mod_icon,.upgrade_aura_energy .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/aura_icon_psd.vtex");
	wash-color: energyColor;
}

.path_closed .mod_icon,.path_closed .ability_icon
{
	saturation: 0;
	opacity: 0.2;
}

.baseWeaponry .mod_icon,.baseWeaponry .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/base_weaponry_psd.vtex");
}

.clipSize .mod_icon,.clipSize .ability_icon,.clipSize.AdjustedStatAbility
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/clip_size_psd.vtex");
}

.titanicMagazine .mod_icon,.titanicMagazine .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/titanic_magazine_psd.vtex");
}

.ammoScavenger .mod_icon,.ammoScavenger .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/ammo_scavenger_psd.vtex");
	background-repeat: no-repeat;
}

.rapidRounds .mod_icon,.rapidRounds .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/rapid_rounds_psd.vtex");
}

.quickReload .mod_icon,.quickReload .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/quick_reload_psd.vtex");
}

.electrifiedBullets .mod_icon,.electrifiedBullets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/electrified_bullets_psd.vtex");
}

.galvanicStorm .mod_icon,.galvanicStorm .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/electrified_bullets_psd.vtex");
}

.piercingBullets .mod_icon,.piercingBullets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/piercing_bullets_psd.vtex");
}

.stabilizer .mod_icon,.stabilizer .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/stabilizer_psd.vtex");
}

.highVelocityMag .mod_icon,.highVelocityMag .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/high_velocity_mag_psd.vtex");
}

.closeRange .mod_icon,.closeRange .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/close_range_psd.vtex");
}

.headshotBooster .mod_icon,.headshotBooster .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/headshot_booster_psd.vtex");
}

.longRange .mod_icon,.longRange .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/long_range_psd.vtex");
}

.reaperRounds .mod_icon,.reaperRounds .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/reaper_rounds_psd.vtex");
}

.pointBlank .mod_icon,.pointBlank .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/point_blank_psd.vtex");
}

.slowingBullets .mod_icon,.slowingBullets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/slowing_bullets_psd.vtex");
}

.inhibitor .mod_icon,.inhibitor .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/inhibitor_psd.vtex");
}

.critDamage .mod_icon,.critDamage .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/crit_damage_psd.vtex");
}

.techResistShredder .mod_icon,.techResistShredder .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/tech_resist_shredder_psd.vtex");
}

.arcaneEater .mod_icon,.arcaneEater .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/arcane_eater_psd.vtex");
}

.enhancedPrecision .mod_icon,.enhancedPrecision .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/enhanced_precision_psd.vtex");
}

.fireRate .mod_icon,.fireRate .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/fire_rate_psd.vtex");
}

.fireRatePlus .mod_icon,.fireRatePlus .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/fire_rate_plus_psd.vtex");
}

.fireRatePlusPlus .mod_icon,.fireRatePlusPlus .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/fire_rate_plus_plus_psd.vtex");
}

.bulletDamageAura .mod_icon,.bulletDamageAura .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/bullet_damage_aura_psd.vtex");
}

.adrenalineRush .mod_icon,.adrenalineRush .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/adrenaline_rush_psd.vtex");
}

.armorBreakingBullets .mod_icon,.armorBreakingBullets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/armor_breaking_bullets_psd.vtex");
}

.bulletResistShredder .mod_icon,.bulletResistShredder .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/bullet_resist_shredder_psd.vtex");
}

.detentionRounds .mod_icon,.detentionRounds .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/detention_rounds_psd.vtex");
}

.bansheeSlugs .mod_icon,.bansheeSlugs .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/banshee_slugs_psd.vtex");
}

.heightAdvantage .mod_icon,.heightAdvantage .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/height_advantage_psd.vtex");
}

.empBullets .mod_icon,.empBullets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/emp_bullets_psd.vtex");
}

.targetedSilence .mod_icon,.targetedSilence .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/targeted_silence_psd.vtex");
}

.toxicBullets .mod_icon,.toxicBullets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/toxic_bullets_psd.vtex");
}

.berserker .mod_icon,.berserker .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/berserker_psd.vtex");
}

.fervor .mod_icon,.fervor .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/fervor_psd.vtex");
}

.hollowPoint .mod_icon,.hollowPoint .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/hollow_point_psd.vtex");
}

.pristineEmblem .mod_icon,.pristineEmblem .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/pristine_emblem_psd.vtex");
}

.longshot .mod_icon,.longshot .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/longshot_psd.vtex");
}

.headhunter .mod_icon,.headhunter .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/headhunter_psd.vtex");
}

.siphon_bullets .mod_icon,.siphon_bullets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/siphon_bullets_psd.vtex");
}

.explosiveBullets .mod_icon,.explosiveBullets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/explosive_bullets_psd.vtex");
}

.medicBullets .mod_icon,.medicBullets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/medic_bullets_psd.vtex");
}

.serratedBullets .mod_icon,.serratedBullets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/serrated_bullets_psd.vtex");
}

.hemorrhage .mod_icon,.hemorrhage .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/serrated_bullets_psd.vtex");
}

.autoReloader .mod_icon,.autoReloader .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/auto_reloader_psd.vtex");
}

.ricochet .mod_icon,.ricochet .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/ricochet_psd.vtex");
}

.advancedWeaponry .mod_icon,.advancedWeaponry .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/advanced_weaponry_psd.vtex");
}

.surgingPower .mod_icon,.surgingPower .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/vampiric_burst_psd.vtex");
}

.baseTech .mod_icon,.baseTech .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/base_tech_psd.vtex");
}

.techPower .mod_icon,.techPower .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/tech_damage_psd.vtex");
}

.megaSpirit .mod_icon,.megaSpirit .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/boundless_spirit_psd.vtex");
	background-repeat: no-repeat;
}

.soaringSpirit .mod_icon,.soaringSpirit .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/soaring_spirit_psd.vtex");
	background-repeat: no-repeat;
}

.magicStorm .mod_icon,.magicStorm .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/magic_storm_psd.vtex");
	background-repeat: no-repeat;
}

.megaCourage .mod_icon,.megaCourage .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/mega_courage.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.infuser .mod_icon,.infuser .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/infuser_psd.vtex");
	background-repeat: no-repeat;
}

.techOverflow .mod_icon,.techOverflow .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/tech_damage_psd.vtex");
}

.magicOverflow .mod_icon,.magicOverflow .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/magic_overflow_psd.vtex");
}

.techRange .mod_icon,.techRange .ability_icon,.techRange.AdjustedStatAbility
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/tech_range_psd.vtex");
}

.spiritualDominion .mod_icon,.spiritualDominion .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/spiritual_dominion_psd.vtex");
}

.extraCharge .mod_icon,.extraCharge .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/extra_charge_psd.vtex");
}

.chargeMastery .mod_icon,.chargeMastery .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/extra_charge_psd.vtex");
}

.rapidRecharge .mod_icon,.rapidRecharge .ability_icon,.rapidRecharge.AdjustedStatAbility
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/rapid_recharge_psd.vtex");
}

.healthStealingTech .mod_icon,.healthStealingTech .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/health_stealing_tech_psd.vtex");
}

.techVulnerability .mod_icon,.techVulnerability .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/tech_vulnerability_psd.vtex");
}

.escalatingExposure .mod_icon,.escalatingExposure .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/escalating_exposure_psd.vtex");
}

.healbane .mod_icon,.healbane .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/healbane_psd.vtex");
}

.mokrillScorn .mod_icon,.mokrillScorn .ability_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/grappler/grappler_regen_psd.vtex");
}

.synthAffliction .mod_icon,.synthAffliction .ability_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/synth/synth_affliction_psd.vtex");
}

.succor .mod_icon,.succor .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/succor_psd.vtex");
}

.blurredVision .mod_icon,.blurredVision .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/blurred_vision_psd.vtex");
}

.techDurationExtender .mod_icon,.techDurationExtender .ability_icon,.techDurationExtender.AdjustedStatAbility
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/tech_duration_extender_psd.vtex");
}

.slowingTech .mod_icon,.slowingTech .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/slowing_tech_psd.vtex");
}

.techArmorReductionAura .mod_icon,.techArmorReductionAura .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/tech_armor_reduction_aura_psd.vtex");
}

.empBlast .mod_icon,.empBlast .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/emp_blast_psd.vtex");
}

.immobilize .mod_icon,.immobilize .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/immobilize_psd.vtex");
}

.healPreventer .mod_icon,.healPreventer .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/heal_preventer_psd.vtex");
}

.medicBeam .mod_icon,.medicBeam .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/medic_beam_psd.vtex");
}

.quantumChimaera .mod_icon,.quantumChimaera .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/quantum_chimaera_psd.vtex");
}

.clarity .mod_icon,.clarity .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/clarity_psd.vtex");
}

.techImbuedBullets .mod_icon,.techImbuedBullets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/tech_imbued_bullets_psd.vtex");
}

.techArmorPulse .mod_icon,.techArmorPulse .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/tech_shield_pulse_psd.vtex");
}

.tormentAura .mod_icon,.tormentAura .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/torment_aura_psd.vtex");
}

.knockdown .mod_icon,.knockdown .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/knockdown_psd.vtex");
}

.phantomStrike .mod_icon,.phantomStrike .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/phantom_strike_psd.vtex");
}

.warpStone .mod_icon,.warpStone .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/warp_stone_psd.vtex");
}

.areaImmobilize .mod_icon,.areaImmobilize .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/area_immobilize_psd.vtex");
}

.areaImmobilize .mod_icon,.areaImmobilize .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/area_immobilize_psd.vtex");
}

.abilityRefresher .mod_icon,.abilityRefresher .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/refresher_module_psd.vtex");
}

.powerShard .mod_icon,.powerShard .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/echo_shard_psd.vtex");
}

.imbuedAbility .mod_icon,.imbuedAbility .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/tech_damage_psd.vtex");
}

.durationExtender .mod_icon,.durationExtender .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/duration_extender_psd.vtex");
}

.superiorDuration .mod_icon,.superiorDuration .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/arcane_persistance_psd.vtex");
}

.advancedTech .mod_icon,.advancedTech .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/advanced_tech_psd.vtex");
}

.glitch .mod_icon,.glitch .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/glitch_psd.vtex");
}

.baseArmor .mod_icon,.baseArmor .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/base_armor_psd.vtex");
}

.bulletArmor .mod_icon,.bulletArmor .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/bullet_armor_psd.vtex");
}

.improvedBulletArmor .mod_icon,.improvedBulletArmor .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/improved_bullet_armor_psd.vtex");
}

.bulletArmorPlus .mod_icon,.bulletArmorPlus .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/bullet_armor_plus_psd.vtex");
}

.techArmor .mod_icon,.techArmor .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/tech_armor_psd.vtex");
}

.techDefender .mod_icon,.techDefender .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/tech_defender_psd.vtex");
}

.techPurge .mod_icon,.techPurge .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/tech_purge_psd.vtex");
}

.healthRegen .mod_icon,.healthRegen .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_regen_psd.vtex");
}

.resilience .mod_icon,.resilience .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/resilience_psd.vtex");
}

.endurance .mod_icon,.endurance .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/endurance_psd.vtex");
}

.healthSstealingBullets .mod_icon,.healthSstealingBullets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_stealing_bullets_psd.vtex");
}

.bulletArmorPulse .mod_icon,.bulletArmorPulse .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/bullet_armor_pulse_psd.vtex");
}

.bulletShield .mod_icon,.bulletShield .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/bullet_shield_psd.vtex");
}

.metalSkin .mod_icon,.metalSkin .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/metal_skin_psd.vtex");
}

.meleeDamage .mod_icon,.meleeDamage .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/melee_damage_psd.vtex");
}

.meleeElectrified .mod_icon,.meleeElectrified .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/melee_electrified_psd.vtex");
}

.meleeKnockdown .mod_icon,.meleeKnockdown .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/melee_knockdown_psd.vtex");
}

.boxingGlove .mod_icon,.boxingGlove .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/boxing_glove_psd.vtex");
}

.acolytesGlove .mod_icon,.acolytesGlove .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/acolytes_glove_psd.vtex");
}

.meleeCharge .mod_icon,.meleeCharge .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/melee_charge_psd.vtex");
}

.charmedWraps .mod_icon,.charmedWraps .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/charmed_wraps_psd.vtex");
}

.meleeDeflector .mod_icon,.meleeDeflector .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/melee_deflector_psd.vtex");
}

.doubleJump .mod_icon,.doubleJump .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/double_jump_psd.vtex");
}

.rollEvasion .mod_icon,.rollEvasion .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/roll_evasion_psd.vtex");
}

.healthRegenAura .mod_icon,.healthRegenAura .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_regen_aura_psd.vtex");
}

.radarDrone .mod_icon,.radarDrone .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/radar_drone_psd.vtex");
}

.debuffReducer .mod_icon,.debuffReducer .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/debuff_reducer_psd.vtex");
}

.debuffRemover .mod_icon,.debuffRemover .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/debuff_remover_psd.vtex");
}

.portableRejuv .mod_icon,.portableRejuv .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/rebirth_psd.vtex");
}

.overdrive .mod_icon,.overdrive .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/overdrive_psd.vtex");
}

.healingBooster .mod_icon,.healingBooster .ability_icon,.healingBooster.AdjustedStatAbility
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/healing_booster_psd.vtex");
}

.leech .mod_icon,.leech .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/leech_psd.vtex");
}

.bulletDeflector .mod_icon,.bulletDeflector .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/bullet_deflector_psd.vtex");
}

.weaponJammer .mod_icon,.weaponJammer .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/weapon_jammer_psd.vtex");
}

.bulletArmorReductionAura .mod_icon,.bulletArmorReductionAura .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/bullet_armor_reduction_aura_psd.vtex");
}

.camouflageSuit .mod_icon,.camouflageSuit .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/camouflage_suit_psd.vtex");
}

.lastStand .mod_icon,.lastStand .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/return_fire_psd.vtex");
}

.advancedArmor .mod_icon,.advancedArmor .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/advanced_armor_psd.vtex");
}

.regenerativeArmor .mod_icon,.regenerativeArmor .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/last_stand_psd.vtex");
}

.baseUtility .mod_icon,.baseUtility .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/base_utility_psd.vtex");
}

.ziplineSpeed .mod_icon,.ziplineSpeed .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/zipline_speed_psd.vtex");
}

.ziplineMastery .mod_icon,.ziplineMastery .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/zipline_mastery_psd.vtex");
}

.sprintBooster .mod_icon,.sprintBooster .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/sprint_booster_psd.vtex");
}

.improvedCourage .mod_icon,.improvedCourage .ability_icon
{
	background-image: url("s2r://panorama/images/hud/core/icon_courage.vsvg");
}

.superiorStamina .mod_icon,.superiorStamina .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/superior_stamina_psd.vtex");
}

.cardioCalibrator .mod_icon,.cardioCalibrator .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/cardio_calibrator_psd.vtex");
}

.unstoppable .mod_icon,.unstoppable .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/unstoppable_psd.vtex");
}

.colossus .mod_icon,.colossus .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/colossus_psd.vtex");
}

.improvedStamina .mod_icon,.improvedStamina .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/improved_stamina_psd.vtex");
}

.controlledFall .mod_icon,.controlledFall .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/controlled_fall_psd.vtex");
}

.cloakingDevice .mod_icon,.cloakingDevice .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/cloaking_device_psd.vtex");
}

.fastReload .mod_icon,.fastReload .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/fast_reload_psd.vtex");
}

.preditorVision .mod_icon,.preditorVision .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/preditor_vision_psd.vtex");
}

.fireRateAura .mod_icon,.fireRateAura .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/fire_rate_aura_psd.vtex");
}

.techArmorAura .mod_icon,.techArmorAura .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/tech_armor_aura_psd.vtex");
}

.springyBoots .mod_icon,.springyBoots .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/springy_boots_psd.vtex");
}

.rocketBooster .mod_icon,.rocketBooster .ability_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/lash/lash_death_slam_psd.vtex");
}

.magicCarpet .mod_icon,.magicCarpet .ability_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/kelvin/ice_path_psd.vtex");
}

.deployableBulletShield .mod_icon,.deployableBulletShield .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/deployable_bullet_shield_psd.vtex");
}

.healthNova .mod_icon,.healthNova .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/health_nova_psd.vtex");
}

.restorativeLocket .mod_icon,.restorativeLocket .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/restorative_locket_psd.vtex");
}

.stimPak .mod_icon,.stimPak .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/stimpak_psd.vtex");
}

.savior .mod_icon,.savior .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/savior_psd.vtex");
}

.techGrenade .mod_icon,.techGrenade .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/thermal_detonator_psd.vtex");
}

.fleetfootBoots .mod_icon,.fleetfootBoots .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/fleetfoot_boots_psd.vtex");
}

.kineticSash .mod_icon,.kineticSash .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/kinetic_sash_psd.vtex");
}

.activeReload .mod_icon,.activeReload .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/deployable_bullet_shield_psd.vtex");
}

.empWave .mod_icon,.empWave .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/emp_wave_psd.vtex");
}

.forceBlast .mod_icon,.forceBlast .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/force_blast_psd.vtex");
}

.iceBlast .mod_icon,.iceBlast .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/ice_blast_psd.vtex");
}

.stasis .mod_icon,.stasis .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/stasis_psd.vtex");
}

.shiftingShroud .mod_icon,.shiftingShroud .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/shifting_shroud_psd.vtex");
}

.lifeLine .mod_icon,.lifeLine .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/life_line_psd.vtex");
}

.smoke .mod_icon,.smoke .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/smoke_psd.vtex");
}

.advancedRecharge .mod_icon,.advancedRecharge .ability_icon,.advancedRecharge.AdjustedStatAbility
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/advanced_recharge_psd.vtex");
}

.spiritualFlow .mod_icon,.spiritualFlow .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/spiritual_flow_psd.vtex");
}

.magicBurst .mod_icon,.magicBurst .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/magic_burst_psd.vtex");
}

.magicShock .mod_icon,.magicShock .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/magic_shock_psd.vtex");
}

.rupture .mod_icon,.rupture .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/rupture_psd.vtex");
}

.revitalizer .mod_icon,.revitalizer .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/revitalizer_psd.vtex");
}

.disarm .mod_icon,.disarm .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/disarm_psd.vtex");
}

.weaponEater .mod_icon,.weaponEater .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/advanced_weaponry_psd.vtex");
}

.leveler .mod_icon,.leveler .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/advanced_weaponry_psd.vtex");
}

.magicReverb .mod_icon,.magicReverb .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/magic_reverb_psd.vtex");
}

.arcaneMedallion .mod_icon,.arcaneMedallion .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/arcane_medallion_psd.vtex");
}

.lifestrikeGauntlets .mod_icon,.lifestrikeGauntlets .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/lifestrike_gauntlets_psd.vtex");
}

.glassCannon .mod_icon,.glassCannon .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/glass_cannon_psd.vtex");
}

.intensifyingClip .mod_icon,.intensifyingClip .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/auto_reloader_psd.vtex");
}

.reinforcingCasings .mod_icon,.reinforcingCasings .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/bullet_armor_plus_psd.vtex");
}

.critshot .mod_icon,.critshot .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/crit_damage_psd.vtex");
}

.vexBarrier .mod_icon,.vexBarrier .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/last_stand_psd.vtex");
}

.veilWalker .mod_icon,.veilWalker .ability_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/veil_walker_psd.vtex");
}

AbilitySlotIcon CitadelHudAbilityUpgradePips
{
	visibility: collapse;
}

