/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.abilityDetailsTooltip
{
	width: 550px;
	background-color: #444444;
	border-radius: 8px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
	flow-children: down;
}

ShopAbilityUpgradesPanel.abilityDetailsTooltip
{
	background-color: #515151;
}

.abilityDetailsTooltip.TooltipVisible
{
	transition-duration: 0.1s;
	opacity: 1;
}

AbilityDetailsPanel
{
	width: 100%;
	min-height: 320px;
}

.showingAbilityStats AbilityDetailsPanel
{
	visibility: visible;
}

#additionalAbillitiesDetails
{
	flow-children: right-wrap;
	visibility: collapse;
	width: 100%;
}

.hasAdditionalAbilities #additionalAbillitiesDetails
{
	visibility: visible;
}

.ContainerPanel
{
	width: 49%;
	flow-children: down;
	ui-scale: 60%;
	margin-bottom: 5px;
}

.additionalAbilitiesTitle
{
	width: 100%;
	color: white;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-left: 10px;
	font-size: 15px;
}

#additionalAbillitiesDetails .ContainerPanel
{
	border-top: 1px solid white;
}

#additionalAbilitiesList
{
	flow-children: right;
}

.abilityButton
{
	width: 85px;
	height: 85px;
	padding: 5px;
	margin: 5px;
	background-color: rgba( 255, 255, 255, 0.05 );
	border-radius: 5px;
	vertical-align: center;
	horizontal-align: center;
}

#abilityButtonName
{
	color: white;
}

