/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.prop_healing
{
	background-image: url("s2r://panorama/images/upgrades/property_health_regen_psd.vtex");
}

.prop_tech_armor_up
{
	background-image: url("s2r://panorama/images/upgrades/property_tech_armor_psd.vtex");
}

.prop_tech_armor_down
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_tech_armor_down.vsvg");
}

.prop_bullet_armor_up
{
	background-image: url("s2r://panorama/images/upgrades/property_bullet_armor_psd.vtex");
}

.prop_bullet_armor_down
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_bullet_armor_down.vsvg");
}

.prop_damage
{
	background-image: url("s2r://panorama/images/damage_psd.vtex");
	opacity: 0.8;
}

.prop_bullet_damage
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_force.vsvg");
	background-repeat: no-repeat;
	background-size: contain;
	wash-color: courageBrightColor;
	opacity: 0.8;
}

.prop_melee_damage
{
	background-image: url("s2r://panorama/images/damage_melee_psd.vtex");
	opacity: 0.8;
}

.prop_tech_damage
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_mystic.vsvg");
	background-repeat: no-repeat;
	background-size: contain;
	wash-color: spiritBrightColor;
	opacity: 1;
}

.prop_duration
{
	background-image: url("s2r://panorama/images/upgrades/property_duration_psd.vtex");
}

.prop_distance
{
	background-image: url("s2r://panorama/images/upgrades/property_range_psd.vtex");
}

.prop_cast
{
	background-image: url("s2r://panorama/images/upgrades/property_cast_psd.vtex");
}

.prop_generic
{
	background-image: url("s2r://panorama/images/upgrades/property_generic_psd.vtex");
}

.prop_cooldown
{
	background-image: url("s2r://panorama/images/upgrades/property_cooldown_large_psd.vtex");
}

.prop_charge_cooldown
{
	background-image: url("s2r://panorama/images/upgrades/property_charge_cooldown.vsvg");
}

.prop_move_speed
{
	background-image: url("s2r://panorama/images/upgrades/property_move_speed_large_psd.vtex");
}

.prop_health
{
	background-image: url("s2r://panorama/images/upgrades/property_health_large_psd.vtex");
}

.prop_slow
{
	background-image: url("s2r://panorama/images/upgrades/property_slow_large_psd.vtex");
}

.prop_range
{
	background-image: url("s2r://panorama/images/upgrades/property_range.vsvg");
}

.prop_radius
{
	background-image: url("s2r://panorama/images/upgrades/property_range_psd.vtex");
}

.prop_fire_rate
{
	background-image: url("s2r://panorama/images/upgrades/fire_rate_icon_psd.vtex");
}

