/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelAvatarImage #AvatarImage
{
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: #222;
	background-image: url("s2r://panorama/images/icons/icon_steam.vsvg");
	background-size: 60% 60%;
	background-position: center;
	background-img-opacity: 0.05;
	background-repeat: no-repeat;
}

CitadelAvatarImage #BorderImage
{
	width: 100%;
	height: 100%;
	opacity: 0;
	ignore-parent-flow: true;
}

#FriendIndicator
{
	background-color: blue;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #0056D6 ), to( #1A9FFF ) );
	height: 15px;
	width: 15px;
	horizontal-align: right;
	vertical-align: bottom;
	z-index: 10;
	visibility: collapse;
}

.IsFriend #FriendIndicator
{
	visibility: visible;
}

#SteamFriendIcon
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/icons/icon_steam_friend.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	margin: 2px;
	opacity: 0.8;
	vertical-align: middle;
}

