/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.WindowRoot
{
	width: 100%;
	height: 100%;
	font-family: Retail Demo, Radiance, FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}

#Hud
{
	width: 100%;
	height: 100%;
}

#Dashboard
{
	width: 100%;
	height: 100%;
	background-color: #00000033;
	background-color: gradient( linear, 0% 00%, 100% 100%, from( #121513 ), to( #131615 ) );
}

#Dashboard.in_matchmaking
{
	background-color: #346135;
}

#Dashboard.connectedToGame
{
	background-color: #00000033;
}

#LoadingScreenTitle
{
	background-color: green;
}

