/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

CitadelPostGameScoreboard
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: top;
	font-family: sans;
}

CitadelPostGameScoreboard.Team1Victory
{
	background-color: gradient( linear, 0% 0%, 50% 100%, from( team1Color&10 ), to( team1Color&00 ) );
}

CitadelPostGameScoreboard.Team2Victory
{
	background-color: gradient( linear, 0% 0%, 50% 100%, from( team2Color&00 ), to( team2Color&10 ) );
}

CitadelPostGameScoreboard.Team2Victory.localPlayerIsTeam2
{
	background-color: gradient( linear, 0% 0%, 50% 100%, from( team2Color&10 ), to( team2Color&00 ) );
}

CitadelPostGameScoreboard.Team1Victory.localPlayerIsTeam2
{
	background-color: gradient( linear, 0% 0%, 50% 100%, from( team1Color&00 ), to( team1Color&10 ) );
}

#PlayerReportContainer,.localplayer #PlayerReportContainer,.CanReportPlayers .localplayer #PlayerReportContainer,.CanReportPlayers .localplayer.PlayerSnippet:hover #PlayerReportContainer,.CanReportPlayers .localplayer.Selected #PlayerReportContainer,.ReportedPlayer #PlayerReportContainer,.ReportedPlayer.PlayerSnippet:hover #PlayerReportContainer
{
	opacity: 1;
	margin-top: 20px;
	width: 100%;
	height: 30px;
	horizontal-align: center;
	brightness: 0.5;
}

#PlayerReportContainer:hover
{
	brightness: 1.5;
}

#ReportPlayerLabel
{
	flow-children: right;
	ignore-parent-flow: true;
	horizontal-align: middle;
	padding: 3px 10px;
	border-radius: 3px;
	background-color: #000000;
	vertical-align: middle;
	border: 1px solid offWhite&60;
	opacity: 0;
	brightness: 0.5;
	tooltip-position: bottom;
}

.CanReportPlayers #ReportPlayerLabel
{
	opacity: 0.4;
}

.localplayer #ReportPlayerLabel
{
	visibility: collapse;
}

.ReportedPlayer #ReportPlayerLabel
{
	opacity: 0;
}

#ReportPlayerLabel:hover
{
	brightness: 1.3;
	opacity: 1;
	saturation: 1;
	background-color: rgb(149, 43, 43);
	border: 1px solid offWhite&00;
}

.reportLabel
{
	font-weight: semi-bold;
	font-size: 16px;
	margin-bottom: 2px;
	color: offWhite&70;
}

.reportedLabel
{
	font-weight: semi-bold;
	font-size: 16px;
	margin-bottom: 2px;
	color: offWhite;
	visibility: collapse;
}

#reportIcon
{
	width: 15px;
	height: 15px;
	margin-right: 8px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_report.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: offWhite;
	opacity: 0.7;
}

#ReportedPlayerLabel,.ReportedPlayer #ReportPlayerLabel
{
	visibility: collapse;
}

.ReportedPlayer #ReportedPlayerLabel
{
	visibility: visible;
}

#ScoreContainer
{
	width: 100%;
	border-top: 80px solid offBlack&60;
}

#GoldAndTimeContainer
{
	horizontal-align: center;
	flow-children: right;
}

.localPlayerIsTeam2 #GoldAndTimeContainer
{
	flow-children: left;
}

.TimeContainer
{
	margin: 0px 5px;
	background-color: offBlack;
}

.TimeContainer Label
{
	font-size: 18px;
	font-family: Retail Text Demo;
	font-weight: semi-bold;
	padding: 4px 20px;
}

#PatronImageContainer
{
	width: 2000px;
	height: 700px;
	transform: translateY(-100px);
	horizontal-align: center;
	background-image: url("s2r://panorama/images/post_game/patron_bg_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.6;
}

.Team2Victory #PatronImageContainer,.localPlayerIsTeam2.Team1Victory #PatronImageContainer
{
	background-position: right;
	transform: translateY(-100px);
	background-image: url("s2r://panorama/images/post_game/patron_bg_r_psd.vtex");
}

.titleContainer
{
	flow-children: up;
	height: 110px;
}

#Team2TitleContainer,.localPlayerIsTeam2 #Team1TitleContainer
{
	horizontal-align: right;
}

.localPlayerIsTeam2 #Team2TitleContainer
{
	horizontal-align: left;
}

.TeamNamesContainer
{
	width: 100%;
	margin-top: 140px;
	horizontal-align: center;
	max-width: 1600px;
}

.nameContainer
{
	flow-children: right;
}

.TeamName
{
	font-family: serif;
	font-size: 26px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-weight: bold;
}

#Team1TitleContainer .TeamName
{
	color: team1Color;
}

#Team2TitleContainer .TeamName
{
	color: team2Color;
}

.TeamColorCircle
{
	width: 26px;
	height: 26px;
	background-color: #fff;
	border-radius: 40px;
	margin-right: 10px;
	margin-top: 4px;
}

#Team1TitleContainer .TeamColorCircle
{
	wash-color: team1Color;
}

#Team2TitleContainer .TeamColorCircle
{
	wash-color: team2Color;
}

#Team1TitleContainer,.localPlayerIsTeam2 #Team2TitleContainer
{
	animation-name: teamName_move_in_left;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
}

@keyframes 'teamName_move_in_left'
{
	0%
	{
		transform: translateX(-500px);
		opacity: 0;
	}
	
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
	
}

#Team2TitleContainer,.localPlayerIsTeam2 #Team1TitleContainer
{
	animation-name: teamName_move_in_right;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
}

@keyframes 'teamName_move_in_right'
{
	0%
	{
		transform: translateX(500px);
		opacity: 0;
	}
	
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
	
}

#HeroImage
{
	height: 128px;
	width: 111px;
	horizontal-align: center;
	vertical-align: bottom;
	border-bottom: 5px solid offWhite&90;
}

.localplayer #HeroImage
{
	background-color: red;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( offWhite&05 ), to( offWhite&00 ) );
}

#Team1Players #HeroImage
{
	border-bottom: 5px solid team1Color&90;
}

#Team2Players #HeroImage
{
	border-bottom: 5px solid team2Color&90;
}

.PlayersContainer
{
	margin-top: 270px;
	flow-children: right;
	horizontal-align: center;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	animation-delay: 0.2s;
}

@keyframes 'players_move_in'
{
	0%
	{
		transform: translateY(500px);
		opacity: 0;
	}
	
	100%
	{
		transform: translateY(0px);
		opacity: 1;
	}
	
}

.localPlayerIsTeam2 .PlayersContainer
{
	flow-children: left;
}

.TeamPlayersContainer
{
	flow-children: right;
}

.PlayerStatsContainer
{
	width: 100%;
	margin-top: 10px;
	background-color: offWhite&20;
	padding: 0px 0px;
	overflow: noclip;
}

.localplayer .PlayerStatsContainer
{
	background-color: offWhite&30;
}

#StatsTypeContainer
{
	margin-top: 193px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0px 0px;
	width: 180px;
	vertical-align: bottom;
	margin-bottom: 51px;
}

CitadelPostGameScoreboard .PlayerStatsContainer:hover #StatsTypeContainer
{
	margin-bottom: 20px;
}

#StatsTypeContainer Label
{
	color: offWhite&50;
	letter-spacing: 1px;
	font-size: 17px;
	margin: 10px 0px;
}

.SoulsStatLabel
{
	margin-top: 30px;
}

#StatsTypeContainer,.PlayerStatsContainer
{
	flow-children: down;
}

#StatsTypeContainer Label,#PlayerName
{
	horizontal-align: center;
	text-transform: uppercase;
	font-weight: semi-bold;
	text-align: center;
}

.StatsLabelContainer
{
	width: 100%;
	overflow: noclip;
}

#Kills.StatsLabelContainer,#Assists.StatsLabelContainer,#ObjDamage.StatsLabelContainer
{
	background-color: #00000050;
}

.highestNetworth.StatsLabelContainer
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( shardColor&40 ), to( shardColor&00 ) );
}

.mostHeroDamage.StatsLabelContainer
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #2972FF40 ), to( #2972FF00 ) );
}

#Kills.mostKills.StatsLabelContainer
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #FF5D5D40 ), to( #00000050 ) );
}

#ObjDamage.mostDamage.StatsLabelContainer
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #E4A83340 ), to( #00000050 ) );
}

#Assists.mostAssists.StatsLabelContainer
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #A230CA40 ), to( #00000050 ) );
}

.mostHealing.StatsLabelContainer
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #AEF02240 ), to( #AEF02200 ) );
}

.StatsLabel
{
	margin: 10px 0px;
	horizontal-align: center;
	text-transform: uppercase;
	font-weight: medium;
	font-size: 17px;
}

.highestNetworth .StatsLabel,.mostHeroDamage .StatsLabel,.mostKills .StatsLabel,.mostDamage .StatsLabel,.mostAssists .StatsLabel,.mostHealing .StatsLabel
{
	font-weight: bold;
}

Label.StatsLabel.Title
{
	margin-bottom: 30px;
	font-weight: bold;
	color: offWhite;
}

.PlayerSnippet
{
	flow-children: down;
	width: 105px;
	margin-left: 5px;
	margin-right: 5px;
}

.PlayerSnippet.Selected
{
	brightness: 2;
}

#NameBarGraphs
{
	width: 100%;
	flow-children: down;
	background-color: offWhite&30;
	padding: 15px 5px 25px 5px;
}

#PlayerName Label
{
	font-weight: semi-bold;
	font-size: 17px;
	height: 26px;
	text-align: center;
	text-overflow: shrink;
}

#Team1Players #NameBarGraphs,#Team1Players .PlayerStatsContainer
{
	background-color: team1Color&20;
}

.localPlayerIsTeam1 #Team1Players .localplayer #NameBarGraphs,.localPlayerIsTeam1 #Team1Players .localplayer .PlayerStatsContainer
{
	background-color: team1Color&50;
}

#Team2Players #NameBarGraphs,#Team2Players .PlayerStatsContainer
{
	background-color: team2Color&20;
}

.localPlayerIsTeam2 #Team2Players .localplayer #NameBarGraphs,.localPlayerIsTeam2 #Team2Players .localplayer .PlayerStatsContainer
{
	background-color: team2Color&50;
}

#ModBarGraph
{
	horizontal-align: center;
	width: 80%;
	margin: 10px 15px;
}

.VictoryContainer
{
	margin-top: 80px;
}

.Team2Victory .VictoryContainer
{
	horizontal-align: right;
}

.VictoryLabel
{
	font-size: 60px;
	font-weight: bold;
	font-family: serif;
	font-style: italic;
	color: offWhite;
	visibility: collapse;
}

.Team1Victory #Team1TitleContainer .VictoryLabel,.Team2Victory #Team2TitleContainer .VictoryLabel
{
	visibility: visible;
}

.Team2Victory .VictoryLabel,.localPlayerIsTeam2.Team1Victory .VictoryLabel
{
	horizontal-align: right;
}

.localPlayerIsTeam2.Team2Victory .VictoryLabel
{
	horizontal-align: left;
}

#ScoreboardMods
{
	visibility: collapse;
	margin-top: 470px;
	horizontal-align: left;
	background-color: #676057;
	width: 1200px;
	flow-children: right;
}

.ShowingTeam1Mods #ScoreboardMods
{
	background-color: team1ColorDarker;
}

.ShowingTeam2Mods #ScoreboardMods
{
	background-color: team2ColorDarker;
}

.ShowingTeam2Mods #ScoreboardMods,.localPlayerIsTeam2 #ScoreboardMods
{
	horizontal-align: right;
}

.ShowingTeam2Mods.localPlayerIsTeam2 #ScoreboardMods
{
	horizontal-align: left;
}

.localPlayerIsTeam2 .ShowingTeam1Mods #ScoreboardMods,.localPlayerIsTeam1 .ShowingTeam2Mods #ScoreboardMods,.ShowingTeam1Mods .localPlayerIsTeam2 #ScoreboardMods,.ShowingTeam2Mods .localPlayerIsTeam1 #ScoreboardMods
{
	background-color: red;
}

.ShowingPlayerInfo #ScoreboardMods
{
	visibility: visible;
}

#SwitchPage
{
	flow-children: down;
	horizontal-align: middle;
	vertical-align: bottom;
	margin-bottom: 100px;
	opacity: 0.3;
}

#SwitchPage Label
{
	font-size: 18px;
	font-weight: bold;
	color: offWhite;
	text-transform: uppercase;
	padding: 8px 0px 12px 0px;
}

#GraphIcon
{
	width: 20px;
	height: 20px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/icons/icon_graph.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8;
	wash-color: offWhite;
}

#NavArrow
{
	width: 20px;
	height: 10px;
	wash-color: offWhite;
	opacity: 0.8;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/icons/icon_carat.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#SwitchPage:hover
{
	opacity: 0.8;
}

.TeamNetworth
{
	width: 140px;
	height: 70px;
}

.ScoreBG
{
	opacity: 0.2;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}

#Team1Networth .ScoreBG
{
	wash-color: team1Color;
}

#Team2Networth .ScoreBG
{
	wash-color: team2Color;
}

#Team1Networth .ScoreBG,.localPlayerIsTeam2 #Team2Networth .ScoreBG
{
	background-image: url("s2r://panorama/images/hud/teamscore_souls_backer_l.vsvg");
}

#Team2Networth .ScoreBG,.localPlayerIsTeam2 #Team1Networth .ScoreBG
{
	background-image: url("s2r://panorama/images/hud/teamscore_souls_backer_r.vsvg");
}

.SoulsValueContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	margin-top: -3px;
}

.clamp_width
{
	horizontal-align: center;
	width: 1600px;
}

.matchIDLabel
{
	color: #787878;
	font-size: 18px;
	font-family: Retail Text Demo;
	vertical-align: middle;
	ignore-parent-flow: true;
	horizontal-align: right;
	margin-right: 10px;
}

.ScoreContainer
{
	flow-children: right;
	horizontal-align: middle;
	vertical-align: middle;
	margin-bottom: 16px;
}

.TotalSoulsLabel
{
	font-size: 10px;
	font-weight: semi-bold;
	color: #FFFFFF44;
	horizontal-align: center;
	visibility: collapse;
}

.SoulsValue,.ScoreLabel
{
	font-size: 16px;
	font-weight: bold;
	vertical-align: center;
	margin-left: 4px;
	font-family: serif;
}

#Team1Networth .SoulsValue,#Team1Networth .ScoreLabel
{
	color: team1ColorBright;
}

#Team2Networth .SoulsValue,#Team2Networth .ScoreLabel
{
	color: team2ColorBright;
}

.ScoreLabel
{
	font-size: 22px;
}

.TeamScore .ScoreLabel
{
	margin-left: 0px;
}

.ScoreLabel .demote
{
	font-size: 14px;
	color: #70F8C130;
	color: #70F8C1;
}

#Team1Networth .ScoreLabel .demote
{
	color: team1Color;
}

#Team2Networth .ScoreLabel .demote
{
	color: team2Color;
}

.SoulsImage
{
	background-size: 100% 100%;
	vertical-align: center;
	background-image: url("s2r://panorama/images/hud/core/icon_soul.vsvg");
	height: 18px;
	width: 15px;
	opacity: 0.3;
}

#TotalSoulsContainer .SoulsImage
{
	visibility: collapse;
}

.TeamScore .SoulsImage
{
	width: 12px;
	height: 14px;
	opacity: 0.5;
}

#Team1Networth .SoulsImage
{
	wash-color: team1ColorBright;
}

#Team2Networth .SoulsImage
{
	wash-color: team2ColorBright;
}

.demote
{
	font-size: 12px;
}

#PlayerAward
{
	height: 35px;
	width: 35px;
	background-size: 100% 100%;
	horizontal-align: right;
	vertical-align: center;
	transform: translateX(15px);
}

.mostKills #PlayerAward
{
	background-image: url("s2r://panorama/images/post_game/stat_kills_png.vtex");
	wash-color: #FF5D5D;
}

.mostDamage #PlayerAward
{
	background-image: url("s2r://panorama/images/post_game/stat_objective_damage_png.vtex");
	wash-color: #E4A833;
}

.mostHealing #PlayerAward
{
	background-image: url("s2r://panorama/images/post_game/stat_healing_png.vtex");
	wash-color: #AEF022;
}

.highestNetworth #PlayerAward
{
	background-image: url("s2r://panorama/images/post_game/stat_souls_png.vtex");
	wash-color: shardColor;
}

.mostAssists #PlayerAward
{
	background-image: url("s2r://panorama/images/post_game/stat_assists_png.vtex");
	wash-color: #A230CA;
}

.mostHeroDamage #PlayerAward
{
	background-image: url("s2r://panorama/images/post_game/stat_hero_damage_png.vtex");
	wash-color: #2972FF;
}

