/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

CitadelSelectionHeroCard,CitadelRosterHeroCard,CitadelHeroCard
{
	width: 132px;
	height: 179px;
	background-color: offBlack;
	margin: 5px;
	border-radius: 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #A69885 ), to( #72695A ) );
	transition-property: pre-transform-scale2d;
	transition-duration: 0.04s;
	box-shadow: 0px 0px 20px #00000090;
	z-index: 10;
	tooltip-position: top;
}

CitadelRosterHeroCard,CitadelRosterConfirmPage,CitadelSelectionHeroCard
{
	height: 100px;
	width: 90px;
}

.isNewPlayer CitadelSelectionHeroCard.laneTesting,.isNewPlayer CitadelSelectionHeroCard.newPlayers
{
	opacity: 1;
}

CitadelHeroCard:hover
{
	pre-transform-scale2d: 1.2;
	z-index: 100;
}

CitadelRosterHeroCard,CitadelSelectionHeroCard
{
	margin: 2px;
	opacity: 1;
	width: fill-parent-flow(1.0);
	height: width-percentage(135%);
	transition-property: pre-transform-scale2d, transform;
	transition-duration: 0.1s;
}

CitadelRosterHeroCard.inRoster,CitadelSelectionHeroCard.inRoster
{
	opacity: 1;
	pre-transform-scale2d: 1;
}

CitadelRosterHeroCard.isAssigned,CitadelSelectionHeroCard.isAssigned
{
	opacity: 0.1;
	pre-transform-scale2d: 1;
}

CitadelRosterHeroCard.disabled:hover,CitadelSelectionHeroCard.disabled:hover
{
	pre-transform-scale2d: 1;
	saturation: 0;
	wash-color: #ce1b36ee;
	brightness: 0.5;
	z-index: 100;
}

CitadelRosterHeroCard.isAssigned:hover,CitadelSelectionHeroCard.isAssigned:hover
{
	pre-transform-scale2d: 1;
	brightness: 0.5;
	z-index: 100;
}

CitadelSelectionHeroCard:selected
{
	pre-transform-scale2d: 1.30;
	z-index: 100;
	brightness: 1.1;
}

CitadelRosterHeroCard.inRoster,CitadelSelectionHeroCard:selected
{
	background-color: brandGreen&60;
	background-color: #84AC2F;
	background-color: offWhite;
	transform: translateY(-10px);
	pre-transform-scale2d: 1.1;
	z-index: 99;
}

CitadelRosterHeroCard.isPriority
{
	pre-transform-scale2d: 1.2;
	z-index: 100;
	background-color: #ffe58f;
}

CitadelRosterHeroCard.isHighPriority
{
	pre-transform-scale2d: 1.3;
	z-index: 101;
	background-color: #dd9eff;
}

CitadelRosterHeroCard:hover,CitadelSelectionHeroCard:hover
{
	pre-transform-scale2d: 1.35;
	z-index: 100;
	brightness: 1.1;
	opacity: 1;
	z-index: 1000;
}

CitadelSelectionHeroCard.isHeroLabsHero,CitadelRosterHeroCard.isHeroLabsHero,CitadelHeroCard.isHeroLabsHero
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ce9b54 ), to( #674915 ) );
}

#GrainOverlay
{
	width: 100%;
	height: 100%;
	border-radius: 3px;
	z-index: 100;
}

.SelectedState
{
	width: 100%;
	height: 100%;
	border: 3px solid spiritBrightColor;
	border: 3px solid offWhite;
	border-radius: 0px;
	visibility: collapse;
	z-index: 100;
}

.isPriority .SelectedState
{
	border: 3px solid #ffc533;
}

.isHighPriority .SelectedState
{
	border: 3px solid #a464ff;
}

.SelectedIcon
{
	width: 20px;
	height: 20px;
	border-radius: 0px 0px 10px 0px;
	background-color: #00FF99;
	background-color: spiritBrightColor;
	background-color: offWhite;
}

.isPriority .SelectedIcon
{
	background-color: #ffc533;
}

.isHighPriority .SelectedIcon
{
	background-color: #a464ff;
}

.IconCheck
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
	wash-color: #000000;
	width: 80%;
	height: 90%;
	opacity: 0.9;
	horizontal-align: left;
	vertical-align: top;
}

CitadelRosterHeroCard.inRoster .SelectedState,CitadelSelectionHeroCard.inRoster .SelectedState,CitadelSelectionHeroCard:selected .SelectedState
{
	visibility: visible;
}

.isNewPlayer CitadelHeroCard.newPlayers:hover #GrainOverlay
{
	border: 3px solid #87d316;
	z-index: 20;
}

.isPriority .IconCheck,.isHighPriority .IconCheck
{
	visibility: collapse;
}

#Starred
{
	width: 80%;
	height: 90%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	horizontal-align: left;
	vertical-align: top;
	z-index: 15;
	opacity: 0.9;
	background-image: url("s2r://panorama/images/icons/icon_star.vsvg");
	visibility: collapse;
	wash-color: #000000;
}

.isPriority #Starred,.isPriority.inRoster #Starred,.isHighPriority #Starred,.isHighPriority.inRoster #Starred
{
	visibility: visible;
}

#GradiantOverlay
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 50%, 0% 100%, from( offBlack&00 ), to( offBlack ) );
	z-index: 3;
	opacity: 0.5;
}

CitadelHeroCard #GradiantOverlay
{
	opacity: 1;
}

#HeroImage
{
	width: 100%;
	opacity: 1;
	horizontal-align: center;
	transition-property: transform, opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}

CitadelHeroCard:hover #HeroImage
{
	opacity: 1;
}

.rosterCard #HeroImage
{
	opacity: 1;
}

.rosterCard.inRoster #HeroImage
{
	saturation: 1;
	opacity: 1;
	img-shadow: 0px 0px 12px #ffffff20;
}

#RosterIcon
{
	width: 25px;
	height: 25px;
	margin: 7px 4px;
	horizontal-align: right;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition-duration: 0.3s;
	transition-property: opacity;
	img-shadow: 0px 0px 10px #000000;
	background-image: url("s2r://panorama/images/icons/roster_icon_png.vtex");
	visibility: collapse;
	z-index: 10;
}

.choosePreferred #RosterIcon
{
	opacity: 0;
}

.inRoster #RosterIcon
{
	visibility: visible;
}

CitadelRosterHeroCard.inRoster #RosterIcon
{
	visibility: collapse;
}

#NamePlate
{
	width: 100%;
	height: 65px;
	vertical-align: bottom;
	padding-bottom: 0px;
	flow-children: down;
	z-index: 30;
	flow-children: up;
}

CitadelRosterHeroCard #NamePlate,CitadelSelectionHeroCard #NamePlate
{
	visibility: collapse;
}

#HeroInfo
{
	flow-children: down;
	vertical-align: bottom;
	width: 100%;
	z-index: 15;
	transition-duration: 0.2s;
	transition-property: transform;
	transition-timing-function: ease-in-out;
}

.inRoster.isPriority #HeroInfo,.inRoster.isHighPriority #HeroInfo
{
	background-color: #ffc533;
}

.inRoster #HeroInfo,CitadelSelectionHeroCard:selected #HeroInfo
{
	background-color: spiritBrightColor;
	background-color: offWhite;
}

#HeroName
{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: offBlack;
	text-overflow: shrink;
	font-family: "Market Deco";
	font-family: "Swear Deck Demo";
	font-family: serif;
	opacity: 1;
	letter-spacing: 0.5px;
	horizontal-align: center;
	text-shadow: 0px 0px 0px 5.0 offBlack&90, 2px 2px 0px 3.0 offBlack;
	padding: 0px 2px;
	text-transform: uppercase;
	max-height: 30px;
	color: offWhite;
	font-weight: bold;
}

CitadelRosterHeroCard #HeroName,CitadelSelectionHeroCard #HeroName
{
	font-size: 22px;
	max-height: 30px;
	text-shadow: 0px 0px 0px 3.0 offBlack, 2px 5px 0px 3.0 offBlack;
}

.AspectRatio16x10 CitadelRosterHeroCard #HeroName,.AspectRatio16x10 CitadelSelectionHeroCard #HeroName
{
	font-size: 20px;
	margin-top: 1px;
}

CitadelHeroCard:hover #HeroName
{
	opacity: 1;
}

CitadelRosterHeroCard.inRoster #HeroName,CitadelSelectionHeroCard:selected
{
	opacity: 1;
	color: offBlack;
	text-shadow: none;
	text-shadow: 0px 0px 0px 3.0 offWhite, 2px 5px 0px 3.0 offBlack;
}

.ViewDetails
{
	opacity: 0;
	flow-children: right;
	transition-duration: 0.3s;
	transition-property: transform, opacity;
	transition-timing-function: ease-in;
}

.ViewDetails Label
{
	font-family: CriteriaCF;
	text-transform: uppercase;
	font-size: 13px;
	margin-top: 3px;
	margin-left: 1px;
	text-shadow: 0px 0px 5px #000000;
	color: #ffffff;
}

.ViewDetails .Arrow
{
	width: 12px;
	height: 12px;
	margin-top: 2px;
	margin-left: 5px;
}

.isPriority #Add,.isHighPriority #Add,.inRoster #Add
{
	visibility: collapse;
}

#DevMessageOpen,#DevMessageAssigned
{
	horizontal-align: middle;
	vertical-align: top;
	margin-bottom: 0px;
	padding: 1px 4px 0px 4px;
	border-radius: 2px;
	font-weight: medium;
	visibility: collapse;
	z-index: 100;
	width: fit-children;
}

#DevMessageOpen Label,#DevMessageAssigned Label
{
	font-size: 10px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 2px;
	text-align: center;
	text-overflow: shrink;
	max-height: 15px;
	horizontal-align: center;
}

#DevMessageNewPlayers
{
	horizontal-align: middle;
	vertical-align: top;
	margin-bottom: 0px;
	padding: 1px 2px 0px 3px;
	border-radius: 2px;
	font-weight: medium;
	opacity: 0;
	z-index: 100;
	width: fit-children;
	width: 100%;
	transition-property: opacity;
	transition-duration: 0.1s;
}

#DevMessageNewPlayers Label
{
	font-size: 13px;
	color: #000000ee;
	font-weight: bold;
	margin-bottom: 4px;
	text-align: center;
	text-overflow: shrink;
	max-height: 18px;
	width: 100%;
}

.RecommendedHeroIcon
{
	width: 50px;
	height: 50px;
	horizontal-align: right;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/main_menu/recommended_icon_backer_png.vtex");
	background-size: contain;
	visibility: collapse;
	opacity: 1;
	z-index: 100;
	animation-name: newplayer_glow;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

.isNewPlayer .newPlayers .RecommendedHeroIcon
{
	visibility: visible;
}

.isNewPlayer .singlePlayer.isHeroTesting .laneTesting .RecommendedHeroIcon,.isNewPlayer .singlePlayer.isBotMatch .laneTesting .RecommendedHeroIcon,.isNewPlayer .changeHero.isHeroTesting .laneTesting .RecommendedHeroIcon,.isNewPlayer .changeHero.isBotMatch .laneTesting .RecommendedHeroIcon
{
	visibility: visible;
}

.isNewPlayer .multiplayer .newPlayers .RecommendedHeroIcon
{
	visibility: visible;
}

#DevMessageHeroLabs
{
	horizontal-align: middle;
	vertical-align: top;
	margin-bottom: 0px;
	padding: 1px 4px 0px 4px;
	border-radius: 2px;
	font-weight: medium;
	visibility: collapse;
	z-index: 100;
	width: fit-children;
	margin-bottom: 3px;
	background-color: #d36c16ee;
}

.isHeroLabsHero #DevMessageHeroLabs
{
	visibility: visible;
}

#DevMessageHeroLabs Label
{
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	text-overflow: shrink;
	max-height: 15px;
	horizontal-align: center;
}

.HeroLabsHeroIcon
{
	width: 50px;
	height: 50px;
	horizontal-align: right;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/main_menu/herolabs_icon_backer_png.vtex");
	background-size: contain;
	opacity: 1;
	z-index: 100;
	visibility: collapse;
}

.isHeroLabsHero .HeroLabsHeroIcon
{
	visibility: visible;
}

.HeroLabsIcon
{
	width: 13px;
	height: 13px;
	background-image: url("s2r://panorama/images/icons/icon_herolabs.vsvg");
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #ffffff;
	background-size: contain;
	vertical-align: top;
	horizontal-align: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 35%;
	height: 35%;
}

CitadelSelectionHeroCard .HeroLabsHeroIcon,CitadelRosterHeroCard .HeroLabsHeroIcon
{
	width: 40px;
	height: 40px;
}

.inRoster .HeroLabsHeroIcon,CitadelSelectionHeroCard:selected .HeroLabsHeroIcon,CitadelSelectionHeroCard:selected:hover .HeroLabsHeroIcon,CitadelRosterHeroCard.inRoster:hover .HeroLabsHeroIcon
{
	opacity: 0;
}

.LockIcon
{
	width: 12px;
	height: 12px;
	background-image: url("s2r://panorama/images/control_icons/lock_medium_png.vtex");
	wash-color: #153D4A;
	background-size: contain;
	vertical-align: top;
	horizontal-align: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 18px;
	height: 18px;
}

.isAssigned .LockIcon
{
	wash-color: #4A3D15;
}

.LockedHeroIcon
{
	width: 50px;
	height: 50px;
	horizontal-align: right;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/main_menu/assigned_icon_backer_psd.vtex");
	background-size: contain;
	visibility: collapse;
	opacity: 1;
	z-index: 100;
	animation-name: newplayer_glow;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

.isLocked #HeroImage
{
	saturation: 0.0;
	wash-color: #000000fd;
}

@keyframes 'newplayer_glow'
{
	0%
	{
		brightness: 1;
	}
	
	50%
	{
		brightness: 2;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

.NewPlayerIcon
{
	width: 12px;
	height: 12px;
	background-image: url("s2r://panorama/images/icons/icon_thumbsup.vsvg");
	wash-color: #264a15;
	background-size: contain;
	vertical-align: top;
	horizontal-align: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 35%;
	height: 35%;
	animation-name: newplayer_icon;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes 'newplayer_icon'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	10%
	{
		pre-transform-scale2d: 1.2;
		transform: rotateZ(2deg);
	}
	
	15%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	20%
	{
		pre-transform-scale2d: 1.2;
		transform: rotateZ(-2deg);
	}
	
	35%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
}

CitadelSelectionHeroCard .RecommendedHeroIcon,CitadelRosterHeroCard .RecommendedHeroIcon
{
	saturation: 0.2;
	opacity: 0.6;
	saturation: 1;
	opacity: 1;
	width: 40px;
	height: 40px;
}

CitadelSelectionHeroCard:hover .RecommendedHeroIcon,CitadelRosterHeroCard:hover .RecommendedHeroIcon
{
	saturation: 1;
	opacity: 1;
}

.inRoster .RecommendedHeroIcon,CitadelSelectionHeroCard:selected .RecommendedHeroIcon,CitadelSelectionHeroCard:selected:hover .RecommendedHeroIcon,CitadelRosterHeroCard.inRoster:hover .RecommendedHeroIcon
{
	opacity: 0;
}

CitadelHeroGrid .openTesting #DevMessageOpen,CitadelRosterConfirmPage .openTesting #DevMessageOpen
{
	visibility: visible;
	background-color: #00B5E0ae;
}

.isNewPlayer CitadelHeroGrid .newPlayers:hover #DevMessageNewPlayers,.isNewPlayer CitadelRosterConfirmPage .newPlayers:hover #DevMessageNewPlayers
{
	background-color: #87d316;
	opacity: 1;
}

CitadelHeroGrid .assignedPlayersOnly #DevMessageAssigned,CitadelRosterConfirmPage .assignedPlayersOnly #DevMessageAssigned
{
	visibility: visible;
	background-color: #ce1b36ae;
}

.disabled
{
	saturation: 0;
	wash-color: #ce1b36ee;
	brightness: 0.5;
}

.assignedPlayersOnly #HeroName,.openTesting #HeroName,.isNewPlayer .newPlayers #HeroName,.isHeroLabsHero #HeroName
{
	margin-bottom: 2px;
}

CitadelRosterHeroCard .DevMessage,CitadelSelectionHeroCard .DevMessage
{
	visibility: collapse;
}

