/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelKeyboardGlyph
{
	width: fit-children;
	height: fit-children;
	visibility: visible;
	flow-children: right;
	vertical-align: middle;
	horizontal-align: center;
	border-radius: 4px;
}

.MouseButtonGlyphContainer,.KeyboardKeyGlyphContainer
{
	width: fit-children;
	height: fit-children;
	min-width: 18px;
	min-height: 18px;
	vertical-align: middle;
	horizontal-align: center;
}

.KeyboardKeyGlyphContainer
{
	background-color: #333;
	border-radius: 4px;
}

.ModifierCombinerContainer Label,.KeyboardKeyGlyphContainer Label,.UnboundGlyph Label
{
	vertical-align: middle;
	horizontal-align: center;
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 0px;
	text-shadow: none;
	color: magenta;
	text-align: center;
	text-transform: uppercase;
	margin: 3px 6px 1px 6px;
	font-weight: black;
	font-family: block;
}

.ModifierCombinerContainer Label.ModifierCombinerLabel
{
	font-size: 14px;
	vertical-align: middle;
	color: offWhite&dd;
	margin: 0px 0px 0px 0px;
}

.MouseButtonGlyphContainer
{
	width: 20px;
	height: 20px;
	padding: 0px;
}

@keyframes 'SawtoothTransparency'
{
	0%
	{
		opacity: 0.85;
	}
	
	50%
	{
		opacity: 0.35;
	}
	
	100%
	{
		opacity: 0.85;
	}
	
}

.KeyboardButtonGlyph,.MouseButtonGlyph
{
	width: 100%;
	height: 100%;
	background-texture-size: 40px 40px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.ModifierCombinerContainer
{
	width: fit-children;
	height: fit-children;
	vertical-align: middle;
	margin-left: 4px;
	margin-right: 4px;
}

.light .MouseButtonGlyph
{
	color: keybindHousingBGColor;
	background-color: #00000000;
}

.light .MouseButtonGlyphContainer
{
	background-color: #00000000;
}

.light .KeyboardKeyGlyphContainer
{
	background-color: keybindHousingBGColor;
}

.ability_key_container .light .KeyboardKeyGlyphContainer
{
	background-color: keybindBGColor;
}

.inHideoutIntro .light .KeyboardKeyGlyphContainer
{
	background-color: #96DBD0;
}

CitadelKeyboardGlyph.light .KeyboardButtonGlyph
{
	wash-color: offBlack;
}

CitadelKeyboardGlyph.light Label
{
	color: offBlack;
}

CitadelKeyboardGlyph.dark
{
	background-color: #333;
}

.dark .KeyboardKeyGlyphContainer
{
	background-color: #222;
}

CitadelKeyboardGlyph.dark Label
{
	color: #ccc;
}

CitadelKeyboardGlyph.knockout
{
	border: 1px solid #ccc;
	background-color: transparent;
}

.knockout .UnboundKeyboardGlyphContainer,.knockout .KeyboardKeyGlyphContainer
{
	background-color: transparent;
}

CitadelKeyboardGlyph.knockout Label
{
	color: #ccc;
}

#hero_testing_stub .ModifierCombinerContainer,#hero_testing_stub .KeyboardKeyGlyphContainer
{
	margin-left: 4px;
}

.upgradeReminderUI .ModifierCombinerContainer Label,.upgradeReminderUI .KeyboardKeyGlyphContainer Label
{
	font-size: 12px;
}

.InviteHotkeyAccept .KeyboardKeyGlyphContainer
{
	background-color: #48D595;
}

.InviteHotkeyDecline .KeyboardKeyGlyphContainer
{
	background-color: #9C3333;
}

.HideoutInviteHotkeys .ModifierCombinerContainer Label,.HideoutInviteHotkeys .KeyboardKeyGlyphContainer Label
{
	color: #111111;
}

#MatchmakingStatus CitadelKeyboardGlyph.light Label
{
	color: #000;
}

#MatchmakingStatus .light .KeyboardKeyGlyphContainer
{
	background-color: deeplyOminousGreen;
}

#MatchmakingStatus.State_WaitingForPartyRosters .light .KeyboardKeyGlyphContainer
{
	background-color: offWhite&22;
}

CitadelMatchInProgressStatus.StatusNotification .Details .Desc .light .KeyboardKeyGlyphContainer
{
	background-color: ominousGreen;
	margin-top: -6px;
	padding-top: 4px;
}

.RatingButton .light .KeyboardKeyGlyphContainer,#Skip .light .KeyboardKeyGlyphContainer
{
	background-color: ominousGreen&44;
}

.RatingButton CitadelKeyboardGlyph.light Label,#Skip CitadelKeyboardGlyph.light Label
{
	color: #2a363f;
}

