/* Prettified by Source 2 Viewer 11.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
@import url("s2r://panorama/styles/ability_icons.vcss_c");
@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
.CitadelPrivilegedFeatures
{
	border: 3px solid #ffffff10;
	horizontal-align: right;
	flow-children: down;
	padding: 8px;
	background-color: #ffffff07;
	padding-right: 20px;
	transition-property: transform, opacity;
	transition-duration: 0.1s;
	opacity: 0;
	transform: translateX(500px);
	visibility: collapse;
}

.PrivilegedFeaturesDisabled .CitadelPrivilegedFeatures,.CitadelPrivilegedFeatures.ToggleVisible
{
	transform: translateX(0px);
	opacity: 1;
}

.IsShowingDashboardPage .CitadelPrivilegedFeatures
{
	visibility: visible;
}

#HeaderContainer
{
	flow-children: right;
	horizontal-align: center;
}

#HeaderContainer Label
{
	font-size: 24px;
	font-weight: bold;
}

.DisabledFeaturesStatusContainer
{
	horizontal-align: center;
}

.PrivilegedFeaturesDisabled .DisabledFeaturesStatusContainer
{
	visibility: collapse;
}

#FeatureListContainer
{
	flow-children: right;
	padding: 8px;
}

.statusIcon
{
	width: 35px;
	height: 35px;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 5px;
}

.DisabledFeatureContainer
{
	width: 120px;
	height: 100px;
	background-color: darkred;
	margin: 8px;
	padding: 4px;
	flow-children: down;
}

.DisabledFeatureContainer .CommsRestrictedIcon
{
	background-image: url("s2r://panorama/images/global/report/status_comms_bad_png.vtex");
}

.DisabledFeatureContainer .ReportingDisabledIcon
{
	background-image: url("s2r://panorama/images/global/report/status_reports_bad_png.vtex");
}

.DisabledFeatureContainer .PausingDisabledIcon
{
	background-image: url("s2r://panorama/images/global/report/status_pause_bad_png.vtex");
}

.DisabledFeatureContainer .LowPriorityIcon
{
	background-image: url("s2r://panorama/images/global/report/status_lowpriority_bad_png.vtex");
}

.DisabledFeatureContainer:disabled
{
	background-color: rgb(65, 65, 65);
	brightness: 0.3;
	opacity: 0.4;
}

.DisabledFeatureContainer:disabled .CommsRestrictedIcon
{
	background-image: url("s2r://panorama/images/global/report/status_comms_good_png.vtex");
}

.DisabledFeatureContainer:disabled .ReportingDisabledIcon
{
	background-image: url("s2r://panorama/images/global/report/status_reports_good_png.vtex");
}

.DisabledFeatureContainer:disabled .PausingDisabledIcon
{
	background-image: url("s2r://panorama/images/global/report/status_pause_good_png.vtex");
}

.DisabledFeatureContainer:disabled .LowPriorityIcon
{
	background-image: url("s2r://panorama/images/global/report/status_lowpriority_good_png.vtex");
}

.DisabledFeatureContainer:disabled .InactiveLabel
{
	visibility: visible;
}

.DisabledFeatureContainer:disabled .ActiveLabel
{
	visibility: collapse;
}

.DisabledFeatureContainer:disabled:hover
{
	opacity: 0.9;
}

.DisabledFeatureContainer Label
{
	horizontal-align: center;
	vertical-align: center;
	text-overflow: shrink;
	text-align: center;
	font-weight: semi-bold;
	font-size: 16px;
}

.DisabledFeatureContainer .InactiveLabel
{
	visibility: collapse;
}

