/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define playerDetailsWidth: 88px;
@define playerContainerWidth: 120px;
@define playerDetailsMargin: 0px;
CitadelHudTopBar
{
	height: 100%;
	width: fit-children;
	vertical-align: top;
	horizontal-align: center;
	flow-children: none;
	color: offWhite;
}

CitadelHudTopBar.showNewTopbar
{
	height: 755px;
}

.connectedToHideout CitadelHudTopBar
{
	visibility: collapse;
}

#GradientBacker
{
	width: 100%;
	height: 100px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000aa ), to( #00000000 ) );
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.2, #ffffff ), color-stop( 0.5, #ffffff ), color-stop( 0.8, #ffffff ), to( #ffffff00 ) );
}

.spec_mode CitadelHudTopBar
{
	margin-top: 8px;
}

#TeamsContainer
{
	width: 1260px;
	height: 100%;
	horizontal-align: center;
}

.showNewTopbar #TeamsContainer
{
	width: 1400px;
}

.ChatContainer
{
	width: 1400px;
	height: 100%;
	horizontal-align: center;
	z-index: -1;
}

.ChatContainer CitadelHudTopBarChat
{
	width: 700px;
	height: 100%;
	margin-top: 86px;
}

.ChatContainer CitadelHudTopBarChat.team1
{
	horizontal-align: left;
}

.ChatContainer CitadelHudTopBarChat.team2
{
	horizontal-align: right;
}

.ChatContainer CitadelHudTopBarChat.friend
{
	horizontal-align: left;
}

.ChatContainer CitadelHudTopBarChat.enemy
{
	horizontal-align: right;
}

.GameClock
{
	width: fit-children;
	vertical-align: top;
	horizontal-align: center;
	background-color: #00000090;
	ignore-parent-flow: true;
	world-blur: ingameHudBlur;
	padding: 5px;
	margin-top: 8px;
	overflow: noclip;
	border-radius: 5px;
}

.TimeLow .GameClock
{
	animation-name: TimeLowPulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.TimeCritical .GameClock
{
	animation-name: TimeCriticalPulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.Overtime
{
	visibility: collapse;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #a32727;
	text-shadow: 0px 0px 3.0 offBlack&60;
	font-family: block;
}

.InOvertime .Overtime
{
	visibility: visible;
	animation-name: inOvertimeOvertime;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.InOvertime .GameTime
{
	visibility: visible;
	animation-name: inOvertimeGameClock;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.connectedToHideout .GameClock,.connectedToHideout .TeamNetworth
{
	visibility: collapse;
}

.WaitingForHudUpdate .GameClock
{
	visibility: collapse;
}

.GameTime
{
	font-size: 14px;
	color: offWhite&90;
	horizontal-align: center;
	vertical-align: center;
	width: 80px;
	height: 20px;
	font-weight: semi-bold;
	text-align: center;
	padding: 2px 10px;
	font-family: block;
	margin-top: 1px;
}

@keyframes 'TimeLowPulse'
{
	0%
	{
		background-color: #00000090;
	}
	
	50%
	{
		background-color: #ebc93490;
	}
	
	100%
	{
		background-color: #00000090;
	}
	
}

@keyframes 'TimeCriticalPulse'
{
	0%
	{
		background-color: #6b0b0b90;
	}
	
	50%
	{
		background-color: #ff0f0f90;
		pre-transform-scale2d: 1.2;
	}
	
	100%
	{
		background-color: #6b0b0b90;
	}
	
}

@keyframes 'inOvertime'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

@keyframes 'inOvertimeOvertime'
{
	0%
	{
		opacity: 0;
	}
	
	25%
	{
		opacity: 0;
	}
	
	40%
	{
		opacity: 0;
	}
	
	50%
	{
		opacity: 1;
	}
	
	80%
	{
		opacity: 1;
	}
	
	90%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

@keyframes 'inOvertimeGameClock'
{
	0%
	{
		opacity: 1;
	}
	
	25%
	{
		opacity: 1;
	}
	
	40%
	{
		opacity: 1;
	}
	
	50%
	{
		opacity: 0;
	}
	
	80%
	{
		opacity: 0;
	}
	
	90%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

CitadelHudTopBarTeam
{
	height: fit-children;
	width: 528px;
	overflow: noclip;
	flow-children: right;
}

.showNewTopbar CitadelHudTopBarTeam
{
	width: 600px;
}

CitadelHudTopBarTeam .PlayerContents
{
	width: 100%;
	overflow: noclip;
	horizontal-align: center;
}

@define topBarMargin: 980px;
CitadelHudTopBarTeam.team1
{
	horizontal-align: left;
}

CitadelHudTopBarTeam.team2
{
	horizontal-align: right;
}

CitadelHudTopBarTeam.friend
{
	horizontal-align: left;
}

CitadelHudTopBarTeam.enemy
{
	horizontal-align: right;
}

#PlayersContainer
{
	height: 1000px;
	width: 100%;
	horizontal-align: center;
	margin-right: 0px;
	flow-children: right;
	z-index: 2;
	overflow: noclip;
}

.connectedToHeroTesting #TeamFriendly #PlayersContainer,.gamemode_streetbrawl #TeamFriendly #PlayersContainer
{
	flow-children: left;
}

CitadelHudTopBarPlayer
{
	width: playerDetailsWidth;
	overflow: noclip;
	ui-scale: 100%;
	margin: 0px;
	transition-property: pre-transform-scale2d, transform;
	transition-duration: 0.2s;
}

CitadelHudTopBarPlayer.TriggerKillStreak
{
	transform: translateY(20px);
	z-index: 1;
	transition-property: transform;
}

.gScoreboardOpen CitadelHudTopBarPlayer.TriggerKillStreak
{
	transform: translateY(0px);
	pre-transform-scale2d: 1;
	transition-property: transform, pre-transform-scale2d;
	transition-duration: 0s;
}

CitadelHudTopBarPlayer.SpectateHover
{
	margin-top: 5px;
	transition-property: brightness, margin-top;
	transition-duration: 0.3s;
}

CitadelHudTopBarPlayer.SpectatorTarget.SpectateHover
{
	brightness: 1;
	margin-top: 0px;
	transition-property: brightness, margin-top;
	transition-duration: 0.3s;
}

.wants_scoreboard CitadelHudTopBarPlayer:selected #PlayerNameNWContainer
{
	height: fit-children;
}

.wants_scoreboard CitadelHudTopBarPlayer
{
	height: 600px;
}

#PlayerDetailsContainer
{
	width: 100%;
	width: playerDetailsWidth;
	horizontal-align: middle;
	height: 230px;
	z-index: 20;
	overflow: noclip;
	transition-property: margin, brightness;
	transition-duration: 0.2s;
}

.gamemode_streetbrawl.GameStatePreGame #PlayerDetailsContainer
{
	height: 140px;
}

.showNewTopbar #PlayerDetailsContainer
{
	height: fit-children;
}

#SpectatePlayerButtonPanel
{
	width: 100%;
	height: 125px;
	visibility: collapse;
}

.spec_mode #SpectatePlayerButtonPanel
{
	visibility: visible;
}

.SpectatorTarget #HeroImageArea,.LocalPlayer #HeroImageArea,.IsInLocalPlayerLane #HeroImageArea
{
	pre-transform-scale2d: 1;
	transition-duration: 0s;
}

CitadelModIcon
{
	height: 20px;
	width: 20px;
}

.PlayerInfoContainer
{
	width: 100%;
	padding-top: 94px;
	padding-bottom: 0px;
}

#PlayerModsContainer CitadelModsPurchasedPanel
{
	width: 100%;
	margin: 0px 0px;
	visibility: visible;
	horizontal-align: center;
}

.showNewTopbar #PlayerModsContainer CitadelModsPurchasedPanel
{
	visibility: visible;
}

CitadelModsPurchasedPanel#mod_weapon
{
	background-color: courageDarkerColor&aa;
}

CitadelModsPurchasedPanel#mod_armor
{
	background-color: fortitudeDarkerColor&aa;
}

CitadelModsPurchasedPanel#mod_tech
{
	background-color: spiritDarkerColor&aa;
}

#PlayerAbilitiesContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 10px;
	visibility: visible;
	opacity: 0.5;
}

CitadelHudTopBarPlayer:hover #PlayerAbilitiesContainer
{
	opacity: 1;
}

#BackgroundStrip
{
	background-image: url("s2r://panorama/images/hud/top_bar/topbar_panel_backer_team1.vsvg");
	background-size: 100% 100%;
	background-position: center top;
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	opacity: 0;
	world-blur: ingameHudBlur;
	transform: translateY(-200px);
	transition-property: transform;
	transition-duration: 0.2s;
}

.team2 #BackgroundStrip
{
	background-image: url("s2r://panorama/images/hud/top_bar/topbar_panel_backer_team2.vsvg");
}

.wants_scoreboard #BackgroundStrip
{
	opacity: 0.4;
	transform: translateY(0px);
}

.HeroContents
{
	height: 120px;
	width: 100%;
	flow-children: none;
	z-index: 2;
	margin-top: 0px;
}

#HeroImageArea
{
	width: 100%;
	height: 100px;
}

.HeroContentsBG
{
	height: 80px;
	width: 80px;
	z-index: 0;
	border-radius: 100px;
	background-color: #ffffff05;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #FFEFD780 ), to( #92929280 ) );
	border-bottom: 4px solid offWhite&70;
	opacity-mask: url("s2r://panorama/images/hero_badges/hero_image_mask_psd.vtex");
}

.HeroContentsCoinBackground
{
	height: 100%;
	width: 100%;
	background-img-opacity: 1;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	opacity: 0;
	background-image: url("s2r://panorama/images/hud/top_bar/coin_background_selected.vsvg");
	background-img-opacity: 1;
	opacity-brush: gradient( linear, 0% 100%, 0% 0%, from( #00000090 ), to( #e8e8e860 ) );
	transition-property: opacity;
	transition-duration: 0.25s;
}

.LocalPlayer .HeroContentsCoinBackground,.SpectatorTarget .HeroContentsCoinBackground,.IsInLocalPlayerLane .HeroContentsCoinBackground
{
	opacity: 0.5;
}

.team1 CitadelHudTopBarPlayer.IsInLocalPlayerLane .HeroContentsCoinBackground
{
	wash-color: team1Color;
}

.team2 CitadelHudTopBarPlayer.IsInLocalPlayerLane .HeroContentsCoinBackground
{
	wash-color: team2Color;
}

.team1 CitadelHudTopBarPlayer.SpectatorTarget .HeroContentsCoinBackground,.team1 CitadelHudTopBarPlayer.LocalPlayer .HeroContentsCoinBackground
{
	brightness: 3;
	wash-color: team1Color;
	opacity: 1;
}

.team2 CitadelHudTopBarPlayer.SpectatorTarget .HeroContentsCoinBackground,.team2 CitadelHudTopBarPlayer.LocalPlayer .HeroContentsCoinBackground
{
	brightness: 3;
	wash-color: team2Color;
	opacity: 1;
}

.LocalPlayer .HeroContentsCoinBackground,.SpectatorTarget .HeroContentsCoinBackground,.IsInLocalPlayerLane .HeroContentsCoinBackground
{
	wash-color: colorEnemy;
}

CitadelHudTopBarPlayer.KillStreak.LocalPlayer .HeroContentsCoinBackground,CitadelHudTopBarPlayer.KillStreak.SpectatorTarget .HeroContentsCoinBackground,CitadelHudTopBarPlayer.KillStreak.IsInLocalPlayerLane .HeroContentsCoinBackground
{
	wash-color: shardColor;
}

CitadelHudTopBarPlayer.TriggerKillStreak.LocalPlayer .HeroContentsCoinBackground,CitadelHudTopBarPlayer.TriggerKillStreak.SpectatorTarget .HeroContentsCoinBackground,CitadelHudTopBarPlayer.TriggerKillStreak.IsInLocalPlayerLane .HeroContentsCoinBackground
{
	opacity: 0;
}

CitadelHudTopBarPlayer.LocalPlayer.Dead .HeroContentsCoinBackground,CitadelHudTopBarPlayer.SpectatorTarget.Dead .HeroContentsCoinBackground,CitadelHudTopBarPlayer.IsInLocalPlayerLane.Dead .HeroContentsCoinBackground
{
	wash-color: offBlack;
	opacity: 0.7;
	opacity-brush: gradient( linear, 0% 100%, 0% 0%, from( #000000 ), to( #000000 ) );
}

.team1 CitadelHudTopBarPlayer.LocalPlayer.healthLow .HeroContentsCoinBackground,.team2 CitadelHudTopBarPlayer.LocalPlayer.healthLow .HeroContentsCoinBackground,.team1 CitadelHudTopBarPlayer.SpectatorTarget.healthLow .HeroContentsCoinBackground,.team2 CitadelHudTopBarPlayer.SpectatorTarget.healthLow .HeroContentsCoinBackground,.team1 CitadelHudTopBarPlayer.IsInLocalPlayerLane.healthLow .HeroContentsCoinBackground,.team2 CitadelHudTopBarPlayer.IsInLocalPlayerLane.healthLow .HeroContentsCoinBackground
{
	wash-color: #b02727;
	animation-name: LowHealthFlash;
	animation-iteration-count: infinite;
	animation-duration: 0.7s;
	img-shadow: 0px 0px 20px #b02727;
}

@keyframes 'LowHealthFlash'
{
	0%
	{
		wash-color: #b02727;
		img-shadow: 0px 0px 20px #b02727;
	}
	
	50%
	{
		wash-color: #ff3c3c;
		img-shadow: 0px 0px 20px #ff3c3c;
	}
	
	100%
	{
		wash-color: #b02727;
		img-shadow: 0px 0px 20px #b02727;
	}
	
}

.HeroContentsCoinInnerBorder
{
	height: 100%;
	width: 100%;
	background-image: url("s2r://panorama/images/hud/top_bar/coin_inner_border.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	opacity: 0;
}

.team1 .HeroContentsCoinInnerBorder
{
	wash-color: team1Color;
}

.team2 .HeroContentsCoinInnerBorder
{
	wash-color: team2Color;
}

.Dead .HeroContentsCoinBackground,.team1 CitadelHudTopBarPlayer.Dead.LocalPlayer .HeroContentsCoinBackground,.team1 CitadelHudTopBarPlayer.Dead.SpectatorTarget .HeroContentsCoinBackground,.team2 CitadelHudTopBarPlayer.Dead.LocalPlayer .HeroContentsCoinBackground,.team2 CitadelHudTopBarPlayer.Dead.SpectatorTarget .HeroContentsCoinBackground,.Dead .HeroContentsCoinInnerBorder,.team1 CitadelHudTopBarPlayer.Dead.LocalPlayer .HeroContentsCoinInnerBorder,.team1 CitadelHudTopBarPlayer.Dead.SpectatorTarget .HeroContentsCoinInnerBorder,.team2 CitadelHudTopBarPlayer.Dead.LocalPlayer .HeroContentsCoinInnerBorder,.team2 CitadelHudTopBarPlayer.Dead.SpectatorTarget .HeroContentsCoinInnerBorder,.HeroIconContainer
{
	width: playerDetailsWidth;
	vertical-align: bottom;
}

#HeroBadge
{
	vertical-align: bottom;
	horizontal-align: center;
	ignore-parent-flow: true;
	z-index: 1;
	visibility: visible;
}

.Frog #HeroBadge
{
	visibility: collapse;
}

#FrogImage
{
	vertical-align: bottom;
	horizontal-align: center;
	ignore-parent-flow: true;
	height: 94px;
	width: playerDetailsWidth;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0px 0px 170px 170px;
	z-index: 1;
	background-image: url("s2r://panorama/images/heroes/frog_vertical_psd.vtex");
	visibility: collapse;
}

.Frog #FrogImage
{
	visibility: visible;
}

.Dead #HeroIcon
{
	wash-color: #00000070;
	saturation: 0;
	brightness: 0.1;
}

.Disconnected #HeroIcon
{
	brightness: 0.25;
}

.Dead .HeroContents
{
	animation-name: DeadFlip;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
}

@keyframes 'DeadFlip'
{
	0%
	{
		transform: translateZ(3px, 1px) rotateZ(0deg);
	}
	
	20%
	{
		transform: translateZ(-3px, 20px) rotateZ(11deg);
	}
	
	40%
	{
		transform: translateZ(15px, -11px) rotateZ(-11deg);
	}
	
	60%
	{
		transform: translateZ(-13px, 12px) rotateZ(0deg);
	}
	
	80%
	{
		transform: translateZ(12px, -13px) rotateZ(1deg);
	}
	
	100%
	{
		transform: translateZ(-10px, -2px) rotateZ(-10deg);
	}
	
}

.wants_scoreboard CitadelHudTopBarPlayer.SpectatorTarget,.wants_scoreboard CitadelHudTopBarPlayer.LocalPlayer,.wants_scoreboard CitadelHudTopBarPlayer.IsInLocalPlayerLane
{
	margin-top: 0px;
}

.HeroInnerContent
{
	height: 100%;
	width: 100%;
}

.HeroLevelBacker
{
	width: 20px;
	height: 20px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 28px;
	z-index: 10;
	opacity: 0.9;
	background-color: offBlack;
	border: 1.5px solid offWhite;
	border-radius: 50px;
	opacity: 0.5;
	visibility: collapse;
}

.gScoreboardOpen .HeroLevelBacker
{
	visibility: visible;
}

.gamemode_streetbrawl .HeroLevelBacker
{
	visibility: collapse;
}

.HeroLevelLabel
{
	horizontal-align: center;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: offWhite;
	horizontal-align: center;
	vertical-align: center;
	z-index: 3;
	font-family: oracle;
	margin-top: 0px;
	color: shardColor;
	color: offWhite;
}

.DeadLabel
{
	font-size: 11px;
	font-weight: bold;
	color: #444444ff;
	vertical-align: center;
	horizontal-align: left;
	font-family: CriteriaCF;
	margin-left: 12px;
	margin-top: 1px;
	visibility: collapse;
}

#HealthBar
{
	height: 50px;
	width: 16px;
	vertical-align: middle;
	margin-bottom: 14px;
	z-index: 2;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

#TeamFriendly #HealthBar
{
	transform: rotateZ(-10deg);
	margin-left: 10px;
}

#TeamEnemy #HealthBar
{
	transform: rotateZ(7deg);
	margin-right: 4px;
	horizontal-align: right;
}

.HealthVisible #HealthBar
{
	opacity: 1;
	transition-duration: 2.0s;
}

.Dead #HealthBar
{
	background-color: #FF565630;
	background-color: #00000000;
	visibility: collapse;
}

#HealthBar_Border
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_backer_vert_border.vsvg");
	background-size: 100% 100%;
	wash-color: offBlack;
}

#HeroHealth
{
	height: 60px;
	width: 100%;
	vertical-align: center;
	horizontal-align: right;
	opacity-mask: url("s2r://panorama/images/hud/healthbar/healthbar_backer_vert_mask.vsvg");
	ui-scale: 80%;
	transition-property: width;
	transition-duration: 0.01s;
}

.team2 #HeroHealth,.enemy #HeroHealth
{
	margin-right: 0px;
	horizontal-align: left;
}

#HeroHealth_Left
{
	background-color: #00FF99;
	background-color: offWhite;
}

.enemy #HeroHealth_Left
{
	background-color: #FF5656;
}

.team1 #HeroHealth_Left
{
	background-color: team1ColorBright;
}

.team2 #HeroHealth_Left
{
	background-color: team2ColorBright;
}

.team1.friend #HeroHealth_Left,.team2.friend #HeroHealth_Left
{
	background-color: offWhite;
}

.team1.enemy #HeroHealth_Left,.team2.enemy #HeroHealth_Left
{
	background-color: #FF5656;
}

ProgressBar
{
	background-color: #000000de;
	border-radius: 0px;
}

.Dead #HeroHealth
{
	visibility: collapse;
}

#KillStreakContainer
{
	width: 300px;
	height: 300px;
	horizontal-align: center;
	z-index: -1;
	overflow: noclip;
	margin-right: 5px;
	margin-top: 0px;
	opacity: 0;
	transition-duration: 0.5s;
	transition-property: opacity, pre-transform-scale2d, transform;
	transform: translateY(-30px);
}

.KillStreak #KillStreakContainer
{
	opacity: 0.25;
}

.TriggerKillStreak #KillStreakContainer
{
	opacity: 1;
}

#KillStreakParticlePanel
{
	height: 100%;
	width: 100%;
	transform: translateY(-70px);
	opacity: 0.9;
}

.gScoreboardOpen #KillStreakParticlePanel
{
	opacity: 0.1;
}

.TriggerKillStreak #KillStreakText
{
	opacity: 1;
	animation-name: KillStreakTextIn;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

#KillStreakText
{
	animation-name: none;
	vertical-align: top;
	horizontal-align: center;
	margin-top: 190px;
	transform: rotateZ( -10deg ) translateY(-10px) translateX(5px);
	overflow: noclip;
	flow-children: right;
	padding: 0px 5px;
	opacity: 0;
}

.KillStreakNum
{
	font-size: 30px;
	text-shadow: 0px 0px 0px 6.0 #000000;
	font-weight: semi-bold;
	font-family: oracle;
	color: #25FFAF;
	vertical-align: top;
	margin-right: 4px;
	margin-bottom: 0px;
	z-index: 10;
}

.IsFirstBlood .KillStreakNum
{
	visibility: collapse;
}

.KillStreakLabelContainer
{
	margin-top: 0px;
	margin-left: 5px;
	flow-children: down;
	horizontal-align: right;
	vertical-align: middle;
}

.KillStreakLabel
{
	font-weight: bold;
	horizontal-align: right;
	font-family: block;
	color: #25FFAF;
	text-shadow: 0px 0px 0px 4.0 offBlack;
	font-size: 14px;
	text-transform: uppercase;
	flow-children: right;
	visibility: collapse;
}

.KillStreak .SpreeText
{
	visibility: visible;
}

.IsFirstBlood .FirstBlood
{
	visibility: visible;
}

@keyframes 'KillStreakTextIn'
{
	0%
	{
		opacity: 0;
		transform: rotateZ(-30deg) translateY(0px);
		pre-transform-scale2d: 0.1;
		brightness: 1;
	}
	
	50%
	{
		opacity: 0.5;
		transform: rotateZ(-5deg) translateY(-20px);
		pre-transform-scale2d: 1.3;
		brightness: 3;
	}
	
	100%
	{
		opacity: 1;
		transform: rotateZ(-10deg) translateY(-10px) translateX(5px);
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

.TeammateKeybind
{
	visibility: collapse;
}

.VoiceBar
{
	margin-top: 140px;
	width: 60px;
	height: 30px;
	border-radius: 3px;
	background-color: offWhite;
	horizontal-align: center;
	vertical-align: top;
	box-shadow: 2px 2px 0px 3.0 offBlack&30;
	background-image:url("s2r://panorama/images/icons/voice_chat_icon_psd.vtex");
	background-size: 40% 60%;
	background-position: center;
	background-repeat: no-repeat;
	visibility: collapse;
}

@keyframes 'JoinedTeamChat'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.2;
	}
	
	70%
	{
		pre-transform-scale2d: 1;
		opacity: 1;
	}
	
}

.VoiceActive .VoiceBar
{
	visibility: visible;
}

.PartyVoiceActive .VoiceBar
{
	visibility: visible;
	background-color: ritualGreen;
}

.DeathStatus
{
	horizontal-align: left;
	vertical-align: middle;
	width: 100%;
	visibility: collapse;
	z-index: 3;
}

.Enemy .DeathStatus
{
	horizontal-align: right;
}

.Dead .DeathStatus
{
	visibility: visible;
}

.RespawnContainer
{
	height: fit-children;
	width: fit-children;
	horizontal-align: center;
	vertical-align: top;
	margin-bottom: 30px;
	flow-children: right;
}

.Enemy .RespawnContainer
{
	flow-children: left;
	horizontal-align: center;
}

.DeathIcon
{
	width: 13px;
	height: 15px;
	wash-color: #FF5656;
	vertical-align: center;
	margin: 0px;
	opacity: 0.6;
	margin-right: 3px;
	margin-top: -2px;
	visibility: collapse;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/hud/icons/skull.vsvg");
}

.Enemy .DeathIcon
{
	margin-right: 0px;
	margin-left: 3px;
}

.RespawnTimer
{
	color: #FFFFFF30;
	color: #FE420E;
	text-shadow: 0px 0px 0px 5.0 offBlack;
	font-size: 32px;
	margin-bottom: 1px;
	font-weight: bold;
	vertical-align: center;
	margin-top: 15px;
}

.Rejuvenator
{
	width: 20px;
	height: 20px;
	background-size: cover;
	z-index: 3;
	img-shadow: 0px 0px 3px 3.0 #000000;
	margin: 0px 1px;
	visibility: collapse;
}

.SpectatorImage
{
	visibility: collapse;
	horizontal-align: center;
	margin-top: 5px;
	width: 15px;
	height: 15px;
}

.SpectatorTarget .SpectatorImage
{
	visibility: visible;
}

.RejuvenatorIcon,.RebirthIcon,.RebirthAndRejuvenator
{
	visibility: collapse;
}

.HasRejuvenator .Rejuvenator,.HasRejuvenator .RejuvenatorIcon,.HasRebirth .RebirthIcon,.HasRebirthAndRejuv .RebirthAndRejuvenator
{
	visibility: visible;
	visibility: collapse;
}

.wants_scoreboard .Rejuvenator
{
	visibility: collapse;
}

.RejuvenatorIcon
{
	overflow: noclip;
	width: 100%;
	height: 100%;
	wash-color: #FFCC00;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-image: url("s2r://panorama/images/hud/icons/rejuvenator.vsvg");
}

.RebirthIcon
{
	overflow: noclip;
	width: 100%;
	height: 100%;
	wash-color: #FFCC00;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-image: url("s2r://panorama/images/hud/icons/rebirth.vsvg");
}

.RebirthAndRejuvenator
{
	overflow: noclip;
	width: 100%;
	height: 100%;
	wash-color: #FFCC00;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-image: url("s2r://panorama/images/hud/icons/rebirth_and_rejuvenator.vsvg");
}

.NetworkStatus
{
	width: 85%;
	horizontal-align: middle;
	height: 20px;
	background-color: rgb(255, 230, 0);
	z-index: 5;
	margin-top: 40px;
	visibility: collapse;
}

.NetworkIcon
{
	overflow: noclip;
	width: 50px;
	height: 14px;
	vertical-align: center;
	horizontal-align: center;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/hud/icons/disconnected.vsvg");
	wash-color: offBlack;
}

.Disconnected .NetworkStatus
{
	visibility: visible;
}

#CriticalIndicator
{
	z-index: 10;
	margin-top: 80px;
	margin-left: 0px;
	horizontal-align: center;
	visibility: collapse;
}

#CriticalIndicator Label
{
	font-size: 12px;
	color: white;
	font-family: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 5.0 colorEnemy;
	text-overflow: shrink;
	margin-left: 24px;
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.enemy #CriticalIndicator Label
{
	margin-left: 0px;
	margin-right: 20px;
}

.Language_japanese #CriticalIndicator Label
{
	max-height: 18px;
}

.healthLow #CriticalIndicator
{
	visibility: visible;
}

#StatusRow
{
	height: 40px;
	vertical-align: top;
	horizontal-align: center;
	flow-children: right;
	margin-top: 125px;
}

.item_draft_enabled #StatusRow
{
	margin-top: 110px;
}

.UltimateStatus
{
	height: 22px;
	width: 22px;
	margin: 0px 1px;
	border-radius: 50%;
	z-index: 99;
	visibility: collapse;
	opacity: 0.6;
}

.Dead .UltimateStatus
{
	opacity: 0.3;
}

.UltimateStatusBG
{
	width: 100%;
	height: 100%;
	background-color: offWhite;
}

.team1 .UltimateStatusBG
{
	background-color: team1Color;
}

.team2 .UltimateStatusBG
{
	background-color: team2Color;
}

@keyframes 'UltimateReady'
{
	0%
	{
		pre-transform-scale2d: 2;
		transform: translate3d(0px, -12px, 0px);
		brightness: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 0.85;
		transform: translate3d(0px, 4px, 0px);
		brightness: 4;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: translate3d(0px, 0px, 0px);
		brightness: 1;
	}
	
}

#UltimateAbilityIconMini
{
	vertical-align: center;
	horizontal-align: center;
	width: 22px;
	height: 22px;
	background-image: url("s2r://panorama/images/hud/top_bar/icon_ultimate_off.vsvg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.UltimateCooldownReady #UltimateAbilityIconMini
{
	vertical-align: center;
	horizontal-align: center;
	width: 22px;
	height: 22px;
	background-image: url("s2r://panorama/images/hud/top_bar/icon_ultimate.vsvg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	img-shadow: 0px 0px 4px 3 black;
	opacity: 1;
}

.UltimateUnlocked .UltimateStatus
{
	background-color: offBlack;
	visibility: visible;
	box-shadow: 0px 0px 8px 3 black;
}

.UltimateCooldownReady .UltimateStatus
{
	background-color: none;
	box-shadow: none;
	opacity: 1;
	animation-name: UltimateReady;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
}

.UltimateCooldownReady .UltimateStatusBG
{
	background-color: none;
}

.LockedOverlay
{
	width: 100%;
	height: 100%;
}

.UltimateUnlocked .LockedOverlay
{
	visibility: collapse;
}

.LockedIcon
{
	height: 11px;
	width: 11px;
	background-size: 100% 100%;
	opacity: 0.2;
	background-image: url("s2r://panorama/images/control_icons/lock_psd.vtex");
	vertical-align: center;
	horizontal-align: center;
}

#UltimateAbilityIcon
{
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
	overflow: noclip;
	z-index: 1;
}

CitadelHudTopBarPlayer:not(.UltimateCooldownReady) #UltimateAbilityIcon
{
	opacity: 1;
}

.wants_scoreboard #UltimateStatus
{
	opacity: 0;
}

@define statsWidth: 77.5px;
@define statTopBottomMargin: 8px;
#PlayerNameNWContainer
{
	flow-children: down;
	width: 95%;
	height: 30px;
	horizontal-align: center;
	opacity: 0;
	world-blur: ingameHudBlur;
	border-radius: 0px 0px 2px 2px;
	transition-property: opacity;
	transition-duration: 0.07s;
}

#PlayerModsContainer
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	visibility: visible;
	margin-bottom: 5px;
	padding-top: 3px;
	margin-left: 2px;
}

.objDamageLabel
{
	font-size: 12px;
	horizontal-align: center;
	vertical-align: center;
}

.objDamageTitle
{
	font-weight: semi-bold;
	opacity: 0.3;
}

.objDamageContainer
{
	margin-top: 2px;
	visibility: collapse;
}

.showNewTopbar .objDamageContainer
{
	visibility: visible;
}

.AssitsContainer
{
	margin-bottom: 4px;
}

.wants_scoreboard .showNewTopbar #PlayerNameNWContainer,.gDetailView .showNewTopbar #PlayerNameNWContainer
{
	height: 330px;
}

.wants_scoreboard #PlayerNameNWContainer
{
	opacity: 1;
	height: 330px;
	height: fit-children;
}

.wants_scoreboard CitadelHudTopBarPlayer:selected #PlayerNameNWContainer
{
	brightness: 1.5;
}

.PlayerNetworthContainer,CitadelHudItemBarGraph,#KDAContainer,.PlayerName,#TotalSoulsContainer
{
	visibility: collapse;
}

.wants_scoreboard CitadelHudItemBarGraph,.wants_scoreboard #KDAContainer,.wants_scoreboard .PlayerName,.wants_scoreboard #TotalSoulsContainer,.gDetailView CitadelHudItemBarGraph,.gDetailView #KDAContainer,.gDetailView .PlayerName
{
	visibility: visible;
}

.LaneSwapAvailable CitadelHudItemBarGraph,.LaneSwapAvailable #KDAContainer
{
	visibility: collapse;
}

CitadelHudItemBarGraph,#KDAContainer,.KDALabels,.StatContainer,.PlayerName
{
	horizontal-align: center;
}

.PlayerName
{
	height: 34px;
	margin-top: 30px;
}

CitadelHudItemBarGraph
{
	width: 100%;
	margin: 2px 0px;
	transition-property: pre-transform-scale2d, background-color;
}

CitadelHudItemBarGraph:hover
{
	pre-transform-scale2d: 1.2;
	background-color: offBlack&aa;
	world-blur: ingameHudBlur;
	z-index: 10;
	width: 100%;
}

CitadelHudTopBar CitadelHudItemBarGraph
{
	background-color: #00000030;
}

#KDAContainer
{
	width: fit-children;
}

.StatContainer
{
	width: 100%;
}

.HeroName
{
	padding-top: 4px;
	text-overflow: shrink;
	max-height: 30px;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-family: serif;
	text-transform: uppercase;
	color: #FFF6D8;
	opacity: 0.9;
	font-size: 16px;
}

.PlayerName
{
	text-overflow: shrink;
	height: 22px;
	text-align: center;
	width: 100%;
	font-weight: semi-bold;
	color: #FFF6D8;
	opacity: 0.5;
	font-size: 16px;
	font-family: oracle;
	font-weight: normal;
}

.InParty .PlayerName
{
	color: #C8E8B5;
}

.wants_scoreboard CitadelHudTopBarPlayer:selected .PlayerName,.wants_scoreboard CitadelHudTopBarPlayer #TotalSoulsContainer
{
	opacity: 1;
}

.goldIcon.PlayerGoldIcon
{
	height: 9px;
	width: 9px;
	margin-right: 3px;
	vertical-align: center;
}

.goldIcon.TeamGoldIcon
{
	height: 15px;
	width: 15px;
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
}

.StatLabel
{
	font-size: 10px;
	width: 21px;
	text-align: center;
	opacity: 0.2;
	font-weight: semi-bold;
}

.PlayerStat
{
	vertical-align: center;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	color: offWhite;
}

.PlayerStat.deaths
{
	opacity: 0.3;
	font-weight: normal;
}

.PlayerStat.assists
{
	font-weight: normal;
	opacity: 0.6;
}

.ForwardSlash
{
	color: #5B5B5B80;
	text-align: center;
	vertical-align: center;
	margin: 2px 4px 0px 4px;
	font-size: 10px;
	font-weight: normal;
}

.KDAStats
{
	horizontal-align: center;
}

#ModsContainer
{
	margin-top: 200px;
	margin-left: 30px;
	flow-children: right;
}

.Enemy #ModsContainer
{
	margin-left: -25px;
}

#ModsAndAbilitiesContainer
{
	horizontal-align: center;
	vertical-align: bottom;
}

CitadelHudTopBar CitadelTopBarPlayerDetails
{
	visibility: visible;
	flow-children: right;
	opacity: 0.7;
}

CitadelHudTopBarPlayer:hover CitadelTopBarPlayerDetails
{
	opacity: 1;
}

.TeamNetworth
{
	width: 300px;
	margin-top: 45px;
	horizontal-align: center;
}

.gamemode_streetbrawl .TeamNetworth
{
	visibility: collapse;
}

.TeamScore
{
	width: 145px;
}

.TeamScore.Right
{
	horizontal-align: right;
}

.ScoreBG
{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	wash-color: #000000;
	padding-left: 50px;
	opacity-mask: url("s2r://panorama/images/masks/dust_01_psd.vtex");
}

.Right .ScoreBG
{
	padding-left: 0px;
	padding-right: 50px;
}

.team1 .ScoreBG
{
	wash-color: team1Color;
}

.team2 .ScoreBG
{
	wash-color: team2Color;
}

.ScoreLabel
{
	horizontal-align: center;
	font-size: 22px;
	font-weight: bold;
	vertical-align: center;
	text-align: center;
	color: white;
	font-family: oracle;
}

.TeamIcon
{
	background-size: 100% 100%;
	vertical-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 26px;
	width: 30px;
	margin: 4px 0px;
}

.team1 .TeamIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_team1_psd.vtex");
}

.team2 .TeamIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_team2_psd.vtex");
}

#TotalSoulsContainer .SoulsImage
{
	visibility: collapse;
}

.TotalAmount
{
	flow-children: right;
	vertical-align: middle;
	horizontal-align: center;
	margin-top: 20px;
}

.NetworthLabel
{
	horizontal-align: center;
	text-transform: uppercase;
	color: #ffffff80;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	margin-bottom: -15px;
}

#NetworthContainer Label
{
	text-align: center;
}

#NetworthContainer .NetworthLabel
{
	width: 130px;
}

#RejuvenatorCharges
{
	width: 200px;
	height: 130px;
	margin-right: 10px;
	horizontal-align: middle;
	flow-children: right;
}

.gScoreboardOpen #RejuvenatorCharges
{
	margin-top: 100px;
	visibility: collapse;
}

#RejuvenatorCharges #RejuvenatorTimer,#RejuvenatorCharges #RejuvenatorFriendly,#RejuvenatorCharges #RejuvenatorEnemy
{
	width: 70px;
	height: 100%;
}

#RejuvenatorCharges #RejuvenatorEnemy
{
	horizontal-align: right;
}

#RejuvenatorCharges .rejuvIcon
{
	width: 70px;
	height: 40px;
	align: center bottom;
	margin-bottom: 5px;
	background-size: 100% 100%;
	img-shadow: 0px 0px 10px #00000060;
}

#RejuvenatorCharges .RejuvCount_1 .rejuvIcon
{
	background-image: url("s2r://panorama/images/hud/top_bar/team_rejuv_1_png.vtex");
}

#RejuvenatorCharges .RejuvCount_2 .rejuvIcon
{
	background-image: url("s2r://panorama/images/hud/top_bar/team_rejuv_2_png.vtex");
}

#RejuvenatorCharges .RejuvCount_3 .rejuvIcon
{
	background-image: url("s2r://panorama/images/hud/top_bar/team_rejuv_3_png.vtex");
}

#RejuvenatorCharges .RejuvCount_4 .rejuvIcon
{
	background-image: url("s2r://panorama/images/hud/top_bar/team_rejuv_4_png.vtex");
}

#RejuvenatorCharges #RejuvenatorTimer
{
	visibility:collapse;
	opacity: 1;
}

#RejuvenatorCharges #RejuvenatorTimer.has_rejuv
{
	visibility:visible;
}

#RejuvenatorCharges .rejuvTimer
{
	width: 30px;
	height: 30px;
	align: center bottom;
	margin-bottom: 10px;
	background-size: 100% 100%;
}

#RejuvenatorCharges .rejuvTimer #StatusEffectInner
{
	wash-color: offBlack;
	opacity: 0.8;
}

#RejuvenatorCharges .rejuvTimer .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/icons/rejuvenator.vsvg");
	wash-color: offWhite;
	background-size: 80% 80%;
	opacity: 0.6;
}

#RejuvenatorCharges #StatusEffectBorder
{
	opacity: 0.3;
}

.ArrowPanel
{
	visibility: collapse;
	vertical-align: middle;
	margin-top: 1px;
	width: 6px;
	height: 12px;
	margin-left: 2px;
	background-size: contain;
	background-repeat: no-repeat;
}

.ShowingArrow1 .ArrowPanel
{
	visibility: visible;
	background-image: url("s2r://panorama/images/shop/tooltip_modified_arrow_1.vsvg");
}

.ShowingArrow2 .ArrowPanel
{
	visibility: visible;
	background-image: url("s2r://panorama/images/shop/tooltip_modified_arrow_2.vsvg");
}

.ShowingArrow3 .ArrowPanel
{
	visibility: visible;
	background-image: url("s2r://panorama/images/shop/tooltip_modified_arrow_3.vsvg");
}

.StatIcon
{
	height: 10px;
	width: 10px;
	background-size: 100% 100%;
	vertical-align: center;
	visibility: collapse;
}

.KillsIcon
{
	background-image: url("s2r://panorama/images/hud/kill_death_icon_psd.vtex");
	wash-color: #00B272;
}

.IconDeath
{
	background-image: url("s2r://panorama/images/hud/death_icon_png.vtex");
	wash-color: #FF5656;
}

.LaneContainer
{
	width: 60px;
	height: 5px;
	vertical-align: top;
	margin-top: 7px;
	z-index: 5;
	margin-left: 35px;
	margin-right: 0px;
}

.Friendly .LaneContainer
{
	margin-left: 20px;
	margin-right: 0px;
}

.LaneContainer.NumPlayers2
{
	width: 150px;
}

.connectedToHeroTesting:not(.isDefaultMap) .LaneContainer
{
	visibility: collapse;
}

#TotalSoulsContainer
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	opacity: 0;
}

.SoulsValueContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 0px;
	padding: 1px 5px 0px 5px;
	border-radius: 0px 0px 3px 3px;
	background-color: offBlack;
	margin-top: 76px;
	padding-top: 20px;
	box-shadow: 2px 2px 0px #00000050;
	border-bottom: 3px solid #00000000;
}

.HasRejuvenator .SoulsValueContainer
{
	border-bottom: 3px solid gold;
}

.Dead .SoulsValueContainer
{
	opacity: 0.3;
}

.item_draft_enabled .SoulsValueContainer
{
	visibility: collapse;
}

.team1 .SoulsValueContainer
{
	background-color: team1Color;
}

.team2 .SoulsValueContainer
{
	background-color: team2Color;
}

.KillStreak .SoulsValueContainer
{
	background-color: #90FFE3;
}

.ScoreContainer
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: middle;
	padding-right: 5px;
}

.Language_brazilian .ScoreContainer
{
	padding-right: 2px;
}

.Language_czech .ScoreContainer
{
	padding-right: 1px;
}

.Language_german .ScoreContainer
{
	padding-right: 5px;
}

.Language_latam .ScoreContainer
{
	padding-right: 1px;
}

.Language_polish .ScoreContainer
{
	padding-right: 0px;
}

.Language_russian .ScoreContainer
{
	padding-right: 0px;
}

.Language_spanish .ScoreContainer
{
	padding-right: 2px;
}

.Right .ScoreContainer
{
	horizontal-align: left;
	padding-right: 0px;
	padding-left: 5px;
}

.Language_brazilian .Right .ScoreContainer
{
	padding-left: 2px;
}

.Language_czech .Right .ScoreContainer
{
	padding-left: 1px;
}

.Language_german .Right .ScoreContainer
{
	padding-left: 5px;
}

.Language_latam .Right .ScoreContainer
{
	padding-left: 1px;
}

.Language_polish .Right .ScoreContainer
{
	padding-left: 0px;
}

.Language_russian .Right .ScoreContainer
{
	padding-left: 0px;
}

.Language_spanish .Right .ScoreContainer
{
	padding-left: 2px;
}

.team1 .ScoreContainer
{
	wash-color: team1Foreground;
}

.TotalSoulsLabel
{
	font-size: 10px;
	font-weight: semi-bold;
	color: #FFFFFF44;
	horizontal-align: center;
	vertical-align: middle;
	visibility: collapse;
}

.SoulsValue
{
	color: offWhite;
	font-size: 15px;
	font-family: oracle;
	font-weight: bold;
	vertical-align: center;
	color: offWhite;
	vertical-align: middle;
	margin-left: 0px;
	opacity: 1;
	text-align: center;
	horizontal-align: center;
	text-overflow: shrink min( 15px );
}

CitadelHudTopBarPlayer .demote
{
	font-size: 12px;
	margin-left: 2px;
	font-weight: normal;
	color: offWhite&90;
}

.team1 .SoulsValue
{
	wash-color: team1Foreground;
}

.KillStreak .SoulsValue
{
	wash-color: offBlack;
}

.TeamNetworth .demote
{
	font-size: 14px;
	color: offWhite&90;
}

#PauseIndicator
{
	z-index: 10;
	margin-top: 53px;
	margin-left: 0px;
	horizontal-align: center;
	z-index: 100;
	height: 40px;
	visibility: collapse;
}

#PauseIcon
{
	background-image: url("s2r://panorama/images/icons/icon_pause.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	border: 5px solid offBlack;
	border: 5px solid colorEnemy;
	border-radius: 3px;
	horizontal-align: right;
	transform: rotateZ(10deg);
	img-shadow: 0px 0px 0px 5.0 offBlack;
	img-shadow: 0px 0px 0px 5.0 colorEnemy;
	background-color: offBlack;
	margin-right: 10px;
	wash-color: offWhite;
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#PauseIndicator Label
{
	font-size: 14px;
	color: offWhite;
	font-family: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 5.0 offBlack;
	text-shadow: 0px 0px 5.0 colorEnemy;
	text-overflow: shrink;
	margin-left: 24px;
	margin-top: 20px;
	padding: 0px 2px;
	background-color: offBlack;
	background-color: colorEnemy;
	padding: 2px 1px 1px 4px;
	border-radius: 1px;
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.enemy #PauseIndicator Label
{
	margin-left: 0px;
	margin-right: 20px;
}

.Language_japanese #PauseIndicator Label
{
	max-height: 18px;
}

.playerPaused #PauseIndicator
{
	visibility: visible;
}

.KillsAndAbilityPointsContainer
{
	horizontal-align: center;
	margin-top: 80px;
	flow-children: down;
	visibility: collapse;
	width: 200px;
}

.gamemode_streetbrawl .KillsAndAbilityPointsContainer
{
	margin-top: 140px;
}

.wants_scoreboard .KillsAndAbilityPointsContainer
{
	visibility: visible;
}

.ScoreRow
{
	horizontal-align: middle;
	width: 159px;
	height: 40px;
	margin: 3px 0px;
}

.ScoreNumbers
{
	width: 100%;
	height: 22px;
	flow-children: right;
	vertical-align: bottom;
}

.APLabel,.KillsLabel
{
	horizontal-align: center;
	font-weight: bold;
	width: 100%;
	text-align: center;
	font-size: 15px;
	vertical-align: bottom;
	height: 20px;
	font-family: sansMono;
	border-radius: 3px;
	world-blur: ingameHudBlur;
	wash-color: #00000044;
}

.ScoreTypeLabel
{
	width: 60px;
	font-family: sans;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: semi-bold;
	vertical-align: middle;
	text-align: center;
	text-overflow: shrink;
	opacity: 0.7;
	text-shadow: 0px 0px 8px #00000044;
}

.ScoreNumber
{
	width: 50px;
	height: 100%;
}

.FriendlyAP,.FriendlyKills
{
	color: offWhite;
}

.EnemyAP,.EnemyKills
{
	horizontal-align: right;
	ignore-parent-flow: true;
}

.ScoreTypeIcon
{
	width: 18px;
	height: 18px;
	ignore-parent-flow: true;
	horizontal-align: center;
	opacity: 0.6;
	margin-bottom: 2px;
}

.TeamKills .ScoreTypeIcon
{
	background-image: url("s2r://panorama/images/hud/kill_death_icon_psd.vtex");
	background-size: contain;
	wash-color: offWhite;
}

.TeamAbilityPoints .ScoreTypeIcon
{
	background-image: url("s2r://panorama/images/hud/ap_icon.vsvg");
	background-size: contain;
	wash-color: offWhite;
}

#LaneSwapContainer
{
	width: 50px;
	height: 50px;
	margin-top: 160px;
	horizontal-align: center;
	border-radius: 50% 50%;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #fbfbfb40 ), to( #c0c0c040 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #404040 ), to( #202020 ) );
	box-shadow: 2px 2px 0px 3.0 offBlack&30;
	background-color: offWhite;
	box-shadow: 0px 0px 30px black&90;
	z-index: 21;
	opacity: 0.2;
	visibility: collapse;
}

#LaneSwapContainer:hover
{
	brightness: 1.5;
	opacity: 1;
}

CitadelHudTopBarPlayer.LaneSwapDefault.LaneNum1 #LaneSwapContainer,CitadelHudTopBarPlayer.LaneSwapRequesting.LaneNum1 #LaneSwapContainer,CitadelHudTopBarPlayer.LaneSwapReceiving.LaneNum1 #LaneSwapContainer
{
	wash-color: laneYellowColor;
}

CitadelHudTopBarPlayer.LaneSwapDefault.LaneNum3 #LaneSwapContainer,CitadelHudTopBarPlayer.LaneSwapRequesting.LaneNum3 #LaneSwapContainer,CitadelHudTopBarPlayer.LaneSwapReceiving.LaneNum3 #LaneSwapContainer
{
	wash-color: laneGreenColor;
}

CitadelHudTopBarPlayer.LaneSwapDefault.LaneNum4 #LaneSwapContainer,CitadelHudTopBarPlayer.LaneSwapRequesting.LaneNum4 #LaneSwapContainer,CitadelHudTopBarPlayer.LaneSwapReceiving.LaneNum4 #LaneSwapContainer
{
	wash-color: laneBlueColor;
}

CitadelHudTopBarPlayer.LaneSwapDefault.LaneNum6 #LaneSwapContainer,CitadelHudTopBarPlayer.LaneSwapRequesting.LaneNum6 #LaneSwapContainer,CitadelHudTopBarPlayer.LaneSwapReceiving.LaneNum6 #LaneSwapContainer
{
	wash-color: lanePurpleColor;
}

.wants_scoreboard #LaneSwapContainer
{
	opacity: 1.0;
}

.LaneSwapAvailable #LaneSwapContainer
{
	visibility: visible;
}

.gamemode_streetbrawl #LaneSwapContainer
{
	visibility: collapse;
}

.LaneSwapRequesting #LaneSwapContainer
{
	opacity: 1;
	background-color: offBlack&ee;
	wash-color: none;
}

.LaneSwapReceiving #LaneSwapContainer
{
	opacity: 1;
	animation-name: LaneSwapRequestIncoming;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.LaneSwapRejecting #LaneSwapContainer,.LaneSwapRejected #LaneSwapContainer
{
	opacity: 1;
	background-color: #555555ee;
	background-color: colorEnemy&40;
	wash-color: none;
}

#LaneSwapIcon
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/icons/icon_refresh.vsvg");
	background-image: url("s2r://panorama/images/hud/zipline/icon_swap_request.vsvg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.8;
	transition-property: opacity;
	transition-duration: .05s;
	wash-color: offBlack;
	padding: 0px;
	width: 30px;
}

#LaneSwapIcon:hover
{
	opacity: .8;
}

.LaneSwapRequesting #LaneSwapIcon
{
	background-image: url("s2r://panorama/images/hud/zipline/icon_swap_pending.vsvg");
	wash-color: white;
	background-size: contain;
}

.LaneSwapReceiving #LaneSwapIcon
{
	background-image: url("s2r://panorama/images/icons/envelope.vsvg");
	background-image: url("s2r://panorama/images/hud/zipline/icon_swap_incoming.vsvg");
	background-size: contain;
}

.LaneSwapRejecting #LaneSwapIcon,.LaneSwapRejected #LaneSwapIcon
{
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
	background-size: contain;
	background-size: 20px;
	wash-color: offWhite;
	opacity: 0.5;
}

@keyframes 'LaneSwapRequestIncoming'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateY(2px);
		brightness: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.1;
		transform: translateY(-2px);
		brightness: 3.5;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: translateY(2px);
		brightness: 1;
	}
	
}

@keyframes 'TagGroove1'
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(2deg);
	}
	
	50%
	{
		transform: rotateZ(2deg);
	}
	
	51%
	{
		transform: rotateZ(-1deg);
	}
	
	75%
	{
		transform: rotateZ(-1deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

#StretBrawlContainer
{
	horizontal-align: middle;
	flow-children: down;
	width: 200px;
	margin-top: 40px;
	visibility: collapse;
}

.gamemode_streetbrawl #StretBrawlContainer
{
	visibility: visible;
}

#StretBrawlContainer Label
{
	horizontal-align: middle;
	font-family: block;
	text-transform: uppercase;
	font-size: 20px;
	opacity: 0.8;
	font-family: block;
}

#StretBrawlContainer .subTitle
{
	font-size: 12px;
	opacity: 0.3;
	font-family: block;
	visibility: collapse;
}

.GameStatePreGame #StretBrawlContainer .subTitle
{
	visibility: visible;
}

#StretBrawlContainer #ScoreCounter
{
	padding: 3px;
	background-color: offBlack&aa;
	border-radius: 50px;
	flow-children: right;
	horizontal-align: middle;
	margin: 5px 0px 10px 0px;
	background-color: #00000090;
	border: 2px solid offWhite&10;
	world-blur: ingameHudBlur;
}

#StretBrawlContainer #ScoreCounter .point
{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin: 0px 2px;
	border: 2px solid offWhite&07;
}

.leftscore1 #StretBrawlContainer #ScoreCounter .point.pt1,.leftscore2 #StretBrawlContainer #ScoreCounter .point.pt1,.leftscore3 #StretBrawlContainer #ScoreCounter .point.pt1,.leftscore2 #StretBrawlContainer #ScoreCounter .point.pt2,.leftscore3 #StretBrawlContainer #ScoreCounter .point.pt2,.leftscore3 #StretBrawlContainer #ScoreCounter .point.pt3
{
	background-color: team1Color;
	background-color: offWhite;
	border: 2px solid offBlack&90;
}

.rightscore1 #StretBrawlContainer #ScoreCounter .point.pt5,.rightscore2 #StretBrawlContainer #ScoreCounter .point.pt5,.rightscore3 #StretBrawlContainer #ScoreCounter .point.pt5,.rightscore2 #StretBrawlContainer #ScoreCounter .point.pt4,.rightscore3 #StretBrawlContainer #ScoreCounter .point.pt4,.rightscore3 #StretBrawlContainer #ScoreCounter .point.pt3
{
	background-color: team2Color;
	background-color: colorEnemy;
	border: 2px solid offBlack&90;
}

#StretBrawlContainer #ScoreCounter .matchpoint
{
	background-image: url("s2r://panorama/images/icons/icon_crown.vsvg");
	background-size: 56% 56%;
	background-position: center center;
	background-repeat: no-repeat;
	background-img-opacity: 0.3;
	wash-color: offWhite;
}

