/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHudPauseMsg
{
	flow-children: down;
	margin-bottom: 10px;
	overflow: noclip;
}

#TeamMsg
{
	width: 400px;
	height: fit-children;
	background-color: #FF959520;
	font-family: "Exo";
	overflow: noclip;
}

