/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHudQuickResponse
{
	vertical-align: bottom;
	horizontal-align: center;
	width: 600px;
	height: 80px;
	margin-bottom: 52px;
}

.quick_response_container
{
	flow-children: right;
	horizontal-align: center;
	width: fit-children;
}

.quick_response_text
{
	vertical-align: center;
	color: white;
	font-size: 16px;
	margin-left: 3px;
}

CitadelHudQuickResponse .action_binding
{
	margin-top: 0px;
	color: white;
}

