/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelZiplineBoostIcon
{
	height: 45px;
	width: 45px;
	border-radius: 100px;
	background-color: #ffffff80;
	padding: 5px;
}

.connectedToHeroTesting CitadelZiplineBoostIcon
{
	visibility: collapse;
}

#CooldownMask
{
	width: 100%;
	height: 100%;
	background-color: offBlack&ee;
	opacity: 0.90;
	border: 1px solid #FFFFFF15;
	opacity-mask: url("s2r://panorama/images/masks/no_mask_png.vtex");
	visibility: collapse;
}

.cooling_down #CooldownMask
{
	visibility: visible;
}

.ability_key_container
{
	height: 18px;
	width: 24px;
	vertical-align: bottom;
	horizontal-align: center;
}

.ability_key
{
	font-size: 14px;
	color: offBlack;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
	horizontal-align: center;
}

.cooldown_timer
{
	horizontal-align: center;
	text-align: center;
	color: offWhite;
	text-overflow: shrink;
	font-weight: semi-bold;
	font-family: sansMono;
	text-shadow: 0px 0px 5px 2.0 #000000;
	font-size: 16px;
	vertical-align: bottom;
	margin-bottom: 5px;
	z-index: 9;
}

.off_cooldown .cooldown_timer
{
	visibility: collapse;
}

