/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define hintShowDuration: 0.25s;
@define hintTimingFunction: ease-in;
@define colorEmphasis: #FFCC00;
@define colorCommonOffBlack: #222222;
.NPEContainer
{
	width: 500px;
	height: 620px;
	color: offWhite;
}

.NPEBacker
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/npe/main_menu_backer.vsvg");
	background-size: cover;
}

.NewPlayerPanel
{
	width: 368px;
	font-size: 18px;
	font-weight: semi-bold;
	color: #222222ee;
	margin-right: 20px;
	opacity: 1;
	vertical-align: middle;
	horizontal-align: right;
	flow-children: right;
	z-index: 100;
	ignore-parent-flow: true;
	animation-name: newplayer_glow;
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes 'newplayer_glow'
{
	0%
	{
		brightness: 1;
	}
	
	50%
	{
		brightness: 1.2;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

.NewPlayerTable
{
	flow-children: down;
	width: 100%;
}

.NewPlayerHeader
{
	width: 100%;
	margin-left: 20px;
}

.IntroContent
{
	width: 100%;
	padding: 5px 20px 10px 20px;
}

.IntroContent Label
{
	font-size: 18px;
	font-weight: medium;
	color: #ffffffee;
}

.introText
{
	font-weight: bold;
	color: #ffffff;
}

.NewPlayerIcon
{
	width: 22px;
	height: 22px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_thumbsup.vsvg");
	wash-color: #153D4A;
	background-size: contain;
	margin-bottom: 3px;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes 'newplayer_icon'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	10%
	{
		pre-transform-scale2d: 1.5;
		transform: rotateZ(2deg);
	}
	
	15%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	20%
	{
		pre-transform-scale2d: 1.5;
		transform: rotateZ(-2deg);
	}
	
	35%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
}

.NewPlayerTitle
{
	font-weight: bold;
	font-size: 65px;
	max-width: 300px;
	color: offWhite&90;
	font-family: serif;
	font-style: italic;
	vertical-align: middle;
	margin-top: 0px;
	line-height: 50px;
	height: 150px;
	transform: translateY(10px);
}

.SkipTutorialButton
{
	padding-right: 10px;
	horizontal-align: right;
	margin: 0px 3px;
	vertical-align: bottom;
	margin-bottom: 30px;
	margin-right: 50px;
	ignore-parent-flow: true;
}

.SkipTutorialButton Label
{
	horizontal-align: right;
	font-size: 18px;
	color: offWhite&20;
	text-decoration: underline;
	margin-bottom: 1px;
}

.SkipTutorialButton:hover
{
	color: offWhite;
}

.SkipTutorialButton:hover Label
{
	color: offWhite;
}

#NewPlayerTasks
{
	flow-children: down;
	width: 100%;
}

.EntryName
{
	font-weight: bold;
	horizontal-align: center;
	color: #222222;
}

.TaskStatus
{
	width: 50px;
	height: 40px;
	horizontal-align: right;
	margin: 0px 10px 0px 0px;
	background-image: url("s2r://panorama/images/getting_started/checklist_task_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: visible;
}

.Completed .TaskStatus
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
}

.NewPlayerTask
{
	flow-children: right;
	width: 100%;
	padding: 15px;
	background-color: #00000020;
	border-bottom: 1px solid #ffffff05;
}

.NewPlayerTask:hover
{
	background-color: #ffffff03;
}

.NewPlayerTask.FinishedRow
{
	flow-children: down;
	background-color: #00000000;
	border-bottom: 0px solid #00000000;
}

.NewPlayerTask.FinishedRow:hover
{
	background-color: #00000000;
}

.TaskContent
{
	flow-children: down;
	max-width: 240px;
}

.TaskName
{
	vertical-align: middle;
	max-width: 100%;
	font-weight: normal;
	font-size: 20px;
}

.TaskHighlight
{
	font-weight: semi-bold;
}

.TimeEstimate
{
	font-size: 16px;
	text-transform: uppercase;
	color: #47D3FF80;
	color: offWhite&20;
}

.NewPlayerTask:disabled .TimeEstimate
{
	visibility: collapse;
}

.Arrow
{
	vertical-align: middle;
	margin-left: 15px;
	width: 25px;
	height: 25px;
	horizontal-align: right;
	transition-property: margin-left, wash-color, transform, opacity;
	transition-duration: 0.3s;
	opacity: 0;
	wash-color: offWhite;
	ignore-parent-flow: true;
}

.NewPlayerTask:hover .Arrow
{
	opacity: 1;
}

.NewPlayerTaskSpacer
{
	width: 2px;
	height: 30px;
	background-color: #ffffff50;
	horizontal-align: right;
	margin: 0px 25px 0px 25px;
	visibility: visible;
	opacity: 0.75;
	border-radius: 3px;
}

.FinishedText
{
	horizontal-align: center;
	visibility: collapse;
	text-align: center;
}

.FinishedText.ShowFinish,.FinishTutorialButton.ShowFinish
{
	visibility: visible;
}

.FinishTutorialButton
{
	visibility: collapse;
	background-color: brandGreen;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 3px;
	horizontal-align: center;
}

.FinishTutorialButton Label
{
	horizontal-align: right;
	font-size: 26px;
	font-weight: bold;
	font-family: serif;
	color: offBlack;
	margin-top: 4px;
	padding: 6px 25px;
}

.FinishTutorialButton:hover
{
	background-color: #C4FF47;
}

.FinishTutorialButton:hover Label
{
	color: #222222;
}

.NewPlayerTask:disabled
{
	opacity: 0.1;
}

.queueStatusLabel
{
	visibility: collapse;
}

.NewPlayerTask:disabled .queueStatusLabel
{
	visibility: visible;
	color: colorEnemy;
}

