/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelModIcon
{
	tooltip-body-position: 50% 50%;
	overflow: noclip;
	padding: 3px;
}

CitadelModIcon.newSlotUnlocked
{
	animation-name: FlexSlotUnlocked;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

@keyframes 'FlexSlotUnlocked'
{
	0%
	{
		pre-transform-scale2d: 1;
		border: 3px solid offWhite&00;
	}
	
	50%
	{
		pre-transform-scale2d: 2;
		border: 3px solid offWhite;
		background-color: offWhite&20;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		border: 3px solid offWhite&00;
	}
	
}

CitadelModIcon.IsNewItem
{
	animation-name: isNewItem;
	animation-duration: 1s;
	animation-iteration-count: 5;
}

@keyframes 'isNewItem'
{
	0%
	{
		brightness: 1;
		wash-color: none;
	}
	
	50%
	{
		brightness: 5;
		wash-color: white;
	}
	
	100%
	{
		brightness: 1;
		wash-color: none;
	}
	
}

.mod_icon
{
	height: 100%;
	width: 100%;
	margin: 2px;
	background-size: 100% 100%;
	background-position: 50% 50%;
}

.IsBeingDragged .mod_icon_background_container
{
	height: 96px;
	width: 96px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

#PurchaseItemIcon .mod_icon_background_container
{
	margin-top: 8px;
}

.mod_icon_background_container
{
	background-size: 32px;
	width: 32px;
	height: 32px;
	border-radius: 3px;
	background-image: none;
	vertical-align: center;
	horizontal-align: center;
}

.mod_tier_line:hover .mod_upgrade_text,.selected .mod_upgrade_text
{
	color: white;
}

.mod_icons_container
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	margin-bottom: 10px;
}

.mod_icon_single_container
{
	flow-children: none;
	height: 35px;
	width: 35px;
	border-radius: 3px;
	background-color: #00000030;
	z-index: 1;
}

.isWeapon .mod_icon_single_container
{
	background-color: #DD9541;
}

.isArmor .mod_icon_single_container
{
	background-color: fortitudeBrightColor;
}

.isTech .mod_icon_single_container
{
	background-color: spiritBrightColor;
}

#StatsAndModsContainer .isWeapon .mod_icon_single_container
{
	background-color: courageDarkerColor;
}

#StatsAndModsContainer .isArmor .mod_icon_single_container
{
	background-color: fortitudeDarkerColor;
}

#StatsAndModsContainer .isTech .mod_icon_single_container
{
	background-color: spiritDarkerColor;
}

#StatsAndModsContainer.gShopOpen .isWeapon .mod_icon_single_container
{
	background-color: #DD9541;
}

#StatsAndModsContainer.gShopOpen .isArmor .mod_icon_single_container
{
	background-color: fortitudeBrightColor;
}

#StatsAndModsContainer.gShopOpen .isTech .mod_icon_single_container
{
	background-color: spiritBrightColor;
}

#StatsAndModsContainer .unowned.mod_icon_single_container
{
	background-color: #ffffff05;
	opacity: 0.8;
}

#StatsAndModsContainer .unowned.mod_icon_single_container
{
	background-color: #11111190;
	background-color: #ffffff05;
}

.Locked .mod_icon_single_container
{
	background-image: url("s2r://panorama/images/hud/shop_ability_upgrades_lock_icon_png.vtex");
	background-size: 35% 45%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-img-opacity: 0.25;
}

#StatsAndModsContainer .Locked .mod_icon_single_container
{
	background-img-opacity: 0.15;
	background-size: 40% 50%;
}

#AbilitySlotMenu .unowned.mod_icon_single_container
{
	background-color: #ffffff10;
	opacity: 0.3;
}

#BuyNextButton .mod_icon
{
	wash-color: offWhite;
}

#BuyNextButton .isWeapon .mod_icon_single_container
{
	background-color: courageColor;
}

#BuyNextButton .isTech .mod_icon_single_container
{
	background-color: spiritColor;
}

#mod_tier_label
{
	horizontal-align: center;
	margin-top: -6px;
	height: 16px;
	background-size: 100% 100%;
	z-index: 2;
	border-radius: 2px;
}

#PurchaseItemIcon #mod_tier_label
{
	ignore-parent-flow: true;
	vertical-align: top;
}

#mod_tier_label.ModTierLevel1
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_01.vsvg");
	width: 7px;
}

#mod_tier_label.ModTierLevel2
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_02.vsvg");
	width: 11px;
}

#mod_tier_label.ModTierLevel3
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_03.vsvg");
	width: 16px;
}

#mod_tier_label.ModTierLevel4
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_04.vsvg");
	width: 21px;
}

.isTech #mod_tier_label
{
	wash-color: spiritLightColor;
}

.isWeapon #mod_tier_label
{
	wash-color: courageLightColor;
}

.isArmor #mod_tier_label
{
	wash-color: fortitudeLightColor;
}

PopupSellMaxItems CitadelModIcon,.largeDragIcon.IsBeingDragged
{
	width: 80px;
	height: 80px;
	margin: 0px;
	padding: 0px;
}

PopupSellMaxItems .mod_icon_single_container,PopupActivatedAbilitiesSelection .mod_icon_single_container
{
	width: 80px;
	height: 80px;
	margin: 0px;
	padding: 0px;
	horizontal-align: center;
}

PopupSellMaxItems .mod_icon_background_container,PopupActivatedAbilitiesSelection .mod_icon_background_container,.largeDragIcon.IsBeingDragged .mod_icon_background_container
{
	width: 56px;
	height: 56px;
	margin: 0px;
	padding: 0px;
}

PopupSellMaxItems #PurchaseItemIcon .mod_icon_background_container,PopupActivatedAbilitiesSelection #PurchaseItemIcon .mod_icon_background_container,.largeDragIcon.IsBeingDragged .mod_icon_background_container
{
	margin: 0px;
	padding: 0px;
}

PopupSellMaxItems #ModToPurchaseContainer CitadelModIcon,PopupActivatedAbilitiesSelection #ModToPurchaseContainer CitadelModIcon,.largeDragIcon.IsBeingDragged CitadelModIcon
{
	width: 128px;
	height: 128px;
	margin: 0px;
	padding: 0px;
}

PopupSellMaxItems #ModToPurchaseContainer .mod_icon_single_container,PopupActivatedAbilitiesSelection #ModToPurchaseContainer .mod_icon_single_container,.largeDragIcon.IsBeingDragged .mod_icon_single_container
{
	width: 128px;
	height: 128px;
	margin: 0px;
	padding: 0px;
}

PopupSellMaxItems #ModToPurchaseContainer .mod_icon_background_container,PopupActivatedAbilitiesSelection #ModToPurchaseContainer .mod_icon_background_container,.largeDragIcon.IsBeingDragged #ModToPurchaseContainer .mod_icon_background_container
{
	width: 96px;
	height: 96px;
	margin: 0px;
	padding: 0px;
}

.IsBeingDragged.mod_icon_single_container
{
	flow-children: down;
	height: 151px;
	width: 96px;
}

.IsBeingDragged .mod_icon_background_container,.IsBeingDragged #modIconContainer
{
	background-color: #787878;
}

PopupActivatedAbilitiesSelection .unowned.mod_icon_single_container
{
	opacity: 1;
	background-color: rgba(243, 240, 231, 0.05);
}

PopupActivatedAbilitiesSelection .unowned.mod_icon_single_container:Hover,AbilitySlotIcon.Hovered .unowned.mod_icon_single_container
{
	opacity: 1;
	background-color: rgba(243, 240, 231, 1);
}

.LaneColor
{
	visibility: collapse;
	width: 100%;
	height: 2px;
	vertical-align: bottom;
}

.BlueLane .LaneColor
{
	background-color: blue;
	visibility: visible;
}

.YellowLane .LaneColor
{
	background-color: yellow;
	visibility: visible;
}

.OrangeLane .LaneColor
{
	background-color: orange;
	visibility: visible;
}

.PurpleLane .LaneColor
{
	background-color: purple;
	visibility: visible;
}

#CooldownMask
{
	width: 100%;
	height: 100%;
	background-color: offBlack&ee;
	visibility: collapse;
	transform: scaleX(-1);
}

.OnCooldown #CooldownMask
{
	visibility: visible;
}

