/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelModBonusDisplay
{
	flow-children: down;
	background-color: Black;
	width: 200px;
	min-height: 345px;
	height: fit-children;
	border: 2px solid #ffffff08;
	border-radius: 10px;
	margin-bottom: 20px;
}

#StatsAndModsContainer CitadelModBonusDisplay
{
	margin-bottom: 165px;
	margin-left: 23px;
}

CitadelHudItemBarGraph#ItemBarGraph
{
	horizontal-align: left;
}

#HeaderContents
{
	flow-children: down;
	background-color: offBlack;
	width: 100%;
	padding: 10px;
}

.investmentType
{
	font-weight: bold;
	font-size: 17px;
}

.WeaponSlot .investmentType
{
	color: courageBrightColor;
}

.ArmorSlot .investmentType
{
	color: fortitudeBrightColor;
}

.TechSlot .investmentType
{
	color: spiritBrightColor;
}

.investmentDesc
{
	font-weight: semi-bold;
	color: offWhite&60;
	font-size: 14px;
}

.barGraphAndBonuses
{
	height: 280px;
	width: 100%;
	flow-children: right;
}

.bonusLabel
{
	font-size: 14px;
	font-weight: bold;
	min-width: 46px;
}

.bonusCost
{
	color: shardColor&30;
	font-weight: semi-bold;
}

.tierReached .bonusCost
{
	color: shardColor;
}

#BonusesContainer
{
	vertical-align: bottom;
	overflow: noclip;
	padding: 10px 0px 20px 10px;
	flow-children: up;
	width: fill-parent-flow(1.0);
}

.tierNotReached
{
	background-color: #FFFFFF05;
	opacity: 0.4;
	wash-color: #b67070;
}

.WeaponSlot .ProgressBarLeft
{
	background-color: courageBrightColor;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( courageBrightColor ), to( courageLightColor) );
}

.ArmorSlot .ProgressBarLeft
{
	background-color: fortitudeBrightColor;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( fortitudeBrightColor ), to( fortitudeLightColor) );
}

.TechSlot .ProgressBarLeft
{
	background-color: spiritBrightColor;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( spiritBrightColor ), to( spiritLightColor) );
}

.WeaponSlot .currentTier
{
	background-color: courageColor;
}

.ArmorSlot .currentTier
{
	background-color: fortitudeColor;
}

.TechSlot .currentTier
{
	background-color: spiritColor;
}

.tierReached
{
	background-color: #FFFFFF05;
	opacity: 0.1;
}

.tierReached .bonusCost
{
	color: shardColor&50;
}

.bonusValueTier
{
	width: 100%;
	margin-bottom: 3px;
	padding: 1px 3px 1px 3px;
	flow-children: right;
	overflow: noclip;
}

#Bonus4
{
	brightness: 1.2;
	border: 1px solid offWhite&20;
}

#StarIcon
{
	width: 12px;
	height: 12px;
	background-image: url("s2r://panorama/images/icons/icon_star.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -1px;
	vertical-align: middle;
	opacity: 0.6;
	wash-color: goldColor;
	visibility: collapse;
}

#Bonus4 #StarIcon
{
	visibility: visible;
}

.bonusValueTier.currentTier
{
	pre-transform-scale2d: 1.3;
	box-shadow: 0px 0px 30px #00000090;
	z-index: 5;
	border-radius: 2px;
	padding: 2px 5px;
	flow-children: right;
	margin-left: 20px;
}

.Language_russian .bonusValueTier,.Language_ukrainian .bonusValueTier
{
	width: 112px;
}

.Language_czech .bonusValueTier,.Language_spanish .bonusValueTier,.Language_brazilian .bonusValueTier,.Language_polish .bonusValueTier,.Language_german .bonusValueTier,.Language_latam .bonusValueTier,.Language_turkish .bonusValueTier
{
	width: 100px;
}

.bonusValueTier.hoverNextTier
{
	opacity: 0.8;
	z-index: 6;
	background-color: #ffffff20;
	box-shadow: 0px 0px 30px #00000090;
	z-index: 5;
	border-radius: 2px;
	padding: 2px 5px;
	animation-name: nextTier;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

.bonusValueTier.hoverGainedTiers
{
	opacity: 0.1;
}

.WeaponSlot .bonusValueTier.hoverNextTier
{
	animation-name: nextTierWeapon;
}

@keyframes 'nextTierWeapon'
{
	0%
	{
		background-color: courageDarkerColor;
	}
	
	50%
	{
		background-color: courageColor&50;
	}
	
	100%
	{
		background-color: courageDarkerColor;
	}
	
}

.ArmorSlot .bonusValueTier.hoverNextTier
{
	animation-name: nextTierVitality;
}

@keyframes 'nextTierVitality'
{
	0%
	{
		background-color: fortitudeDarkerColor;
	}
	
	50%
	{
		background-color: fortitudeColor&50;
	}
	
	100%
	{
		background-color: fortitudeDarkerColor;
	}
	
}

.TechSlot .bonusValueTier.hoverNextTier
{
	animation-name: nextTierSpirit;
}

@keyframes 'nextTierSpirit'
{
	0%
	{
		background-color: spiritDarkerColor;
	}
	
	50%
	{
		background-color: spiritColor&50;
	}
	
	100%
	{
		background-color: spiritDarkerColor;
	}
	
}

.bonusSoulsThreshold
{
	horizontal-align: right;
}

#CenterProgressBar
{
	width: 100%;
	opacity: 1;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff00 ), color-stop( 0, #ffffff00 ), color-stop( 0.1, #ffffff ), to( #ffffff ) );
	background-color: #ffffff20;
	background-color: courageLightColor&10;
	vertical-align: bottom;
	animation-name: deltaswipe;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-iteration-count: 1;
}

@keyframes 'deltaswipe'
{
	0%
	{
		opacity: 1;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff00 ), color-stop( 0.9, #ffffff00 ), color-stop( 1, #ffffff20 ), to( #ffffff20 ) );
	}
	
	70%
	{
		opacity: 1;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff00 ), color-stop( 0, #ffffff00 ), color-stop( 0.1, #ffffff20 ), to( #ffffff20 ) );
	}
	
	100%
	{
		opacity: 1;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff20 ), color-stop( 0, #ffffff20 ), color-stop( 0.1, #ffffff20 ), to( #ffffff20 ) );
	}
	
}

#CenterProgressBar
{
	z-index: 2;
}

.ProgressBarLeft
{
	z-index: 3;
}

.modsProgressBar
{
	width: 30px;
	height: 100%;
	margin: 10px 0px;
	horizontal-align: left;
	vertical-align: middle;
	border-radius: 2px;
	border: 1px solid #ffffff10;
	tooltip-position: top;
}

#BarPercentContainer
{
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 5;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.percentBar
{
	height: 1px;
	width: 100%;
	background-color: #FFFFFF07;
	z-index: 2;
}

.percentBar.tierReached
{
	background-color: #00000090;
}

.percentBar.currentTier
{
	background-color: #ffffff;
	box-shadow: 0px 0px 20px #00000050;
	height: 3px;
}

.percentBar.hoverNextTier
{
	background-color: #ffffff;
	height: 3px;
}

.WeaponSlot .percentBar.hoverNextTier
{
	background-color: courageBrightColor;
	height: 3px;
	animation-name: barFlashWeapon;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

@keyframes 'barFlashWeapon'
{
	0%
	{
		background-color: #ffffff90;
	}
	
	50%
	{
		background-color: courageBrightColor;
	}
	
	100%
	{
		background-color: #ffffff90;
	}
	
}

.ArmorSlot .percentBar.hoverNextTier
{
	background-color: fortitudeBrightColor;
	height: 3px;
	animation-name: barFlashVitality;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

@keyframes 'barFlashVitality'
{
	0%
	{
		background-color: #ffffff;
	}
	
	50%
	{
		background-color: fortitudeBrightColor;
	}
	
	100%
	{
		background-color: #ffffff;
	}
	
}

.TechSlot .percentBar.hoverNextTier
{
	background-color: spiritBrightColor;
	height: 3px;
	animation-name: barFlashSpirit;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

@keyframes 'barFlashSpirit'
{
	0%
	{
		background-color: #ffffff90;
	}
	
	50%
	{
		background-color: spiritBrightColor;
	}
	
	100%
	{
		background-color: #ffffff90;
	}
	
}

.progressBarContainer
{
	width: 50px;
	padding: 0px 10px;
	height: 300px;
	margin-top: 5px;
}

.gShopOpen .progressBarContainer
{
	margin-left: 2px;
	margin-right: 2px;
}

