/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPartyInviteList
{
	width: 100%;
	vertical-align: bottom;
	flow-children: down;
	visibility: collapse;
}

CitadelPartyInviteList.ConnectedToGC
{
	visibility: visible;
}

.HasPartyInvites #InviteGroup
{
	visibility: visible;
}

#InviteGroup
{
	width: 100%;
	flow-children: down;
	visibility: collapse;
}

#InviteHeaderGroup
{
	flow-children: right;
	width: 100%;
	padding-left: 10px;
	horizontal-align: center;
}

.InviteHeaderMessage
{
	horizontal-align: left;
	text-transform: uppercase;
	color: #48D595;
	font-family: block;
	text-transform: uppercase;
	flow-children: right;
	font-size: 24px;
	vertical-align: middle;
}

.InviteHeaderText .InviteCount
{
	font-size: 40px;
	color: offWhite;
	margin-left: 0px;
	margin-top: 1px;
	vertical-align: center;
	text-align: center;
	font-weight: bold;
	margin-right: 10px;
	text-overflow: shrink;
	opacity: 0;
}

#InviteList
{
	width: 100%;
	flow-children: down;
}

.InviteCount
{
	horizontal-align: left;
}

#PartyInfoInvites .PartyInfoIcon
{
	background-image: url("s2r://panorama/images/control_icons/addfriend_png.vtex");
	background-color: aqua;
}

#InviteList CitadelPartyInvite
{
	width: 100%;
	height: 60px;
	padding-left: 4px;
	margin-bottom: 4px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #C3FBE209), to( #C3FBE201 ) );
	background-image: url("s2r://panorama/images/friends_list/friend_bg_psd.vtex");
	background-img-opacity: 0.02;
	border-radius: 3px 0px 0px 3px;
	world-blur: ingameHudBlur;
	border-radius: 40px 0px 0px 40px;
}

.IsLayoutSmallScreen #InviteList CitadelPartyInvite
{
	width: 100%;
	height: 105px;
	padding-left: 10px;
	margin-top: 5px;
}

.IsLayoutSmallScreen #PartyInfoInvites
{
	width: 50px;
	height: 50px;
}

.HideoutInviteHotkeys
{
	flow-children: right;
	visibility: collapse;
}

.InHideout .AllowInviteHotkeys .HideoutInviteHotkeys
{
	visibility: visible;
}

.HideoutInviteHotkeys .InviteHotkeyAccept Label
{
	color:#48D595;
}

.HideoutInviteHotkeys .InviteHotkeyDecline Label
{
	color:#9C3333;
}

.HideoutInviteHotkeys .InviteHotkeyAccept,.HideoutInviteHotkeys .InviteHotkeyDecline
{
	flow-children: right;
	margin-left: 8px;
}

.HideoutInviteHotkeys .InviteHotkeyAccept Label,.HideoutInviteHotkeys .InviteHotkeyDecline Label
{
	vertical-align: middle;
	font-family: block;
	text-transform: uppercase;
}

.EscapeHint
{
	visibility: collapse;
}

#Hud:not(.InHideout) .HasPartyInvites .EscapeHint
{
	visibility: visible;
}

#Hud.InHideout CitadelPartyInviteList.HasPartyInvites:not(.AllowInviteHotkeys) .EscapeHint
{
	visibility: visible;
}

.EscapeHint Label
{
	padding-top: 1px;
	vertical-align: middle;
	font-family: block;
	text-transform: uppercase;
}

.EscapeHint Label CitadelBinding
{
	transform: translateY( -1px );
}

