/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelProfilePage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	flow-children: right;
	background-color: #00000090;
}

.MainContents
{
	width: 1700px;
	height: 900px;
	flow-children: right;
	margin-left: 100px;
	margin-top: 80px;
	animation-name: contentAppear;
	animation-duration: 0.5s;
}

@keyframes 'contentAppear'
{
	0%
	{
		opacity: 0;
		transform: translateX(300px);
	}
	
	100%
	{
		opacity: 1;
		transform: translateX(0px);
	}
	
}

.LeftPanel
{
	width: 25%;
	height: 100%;
}

.RightPanel
{
	width: 75%;
	flow-children: down;
	height: 100%;
}

.AspectRatio16x10 .RightPanel
{
	width: 70%;
}

.ProfileSection
{
	width: 100%;
	height: 210px;
	flow-children: right;
	padding: 0px 20px;
	margin-bottom: 30px;
}

#ProfileInfo
{
	flow-children: down;
}

#MatchBlockBigContainer,#MatchBlockMiniContainer
{
	flow-children: right;
	visibility: collapse;
}

.hasBigMatchBlocks #MatchBlockBigContainer,.hasMiniMatchBlocks #MatchBlockMiniContainer
{
	visibility: visible;
}

#HeroScenePanel
{
	width: 550px;
	height: 70%;
	horizontal-align: left;
	vertical-align: middle;
	ignore-parent-flow: true;
	ignore-parent-flow: true;
	margin-bottom: 0px;
	opacity-brush: gradient( linear, 0% 70%, 0% 100%, from( #ffffff ), to( #ffffff00 ) );
}

#HeroInfoArea
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	flow-children: down;
	margin-bottom: 150px;
	margin-left: 70px;
}

.bigHeroName
{
	font-family: serif;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: -10px;
}

.bigHeroLabel
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	opacity: 0.6;
}

.StatsSectionLoading
{
	visibility: collapse;
	width: 100%;
	height: 100%;
	background-color: #00000050;
	ignore-parent-flow: true;
}

.StatsSectionLoading Label
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 30px;
	color: offWhite;
	font-weight: bold;
}

.isLoadingStats .StatsSectionLoading
{
	visibility: visible;
}

.isLoadingStats #StatsSection,.isLoadingStats #Statistics,.isLoadingStats #MatchHistoryArea
{
	visibility: collapse;
}

#StatsSection
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: down;
	overflow: clip scroll;
	visibility: collapse;
}

.StatsFooter
{
	width: 100%;
	height: 150px;
	visibility: collapse;
	flow-children: right;
	padding: 0px 20px;
	visibility: collapse;
}

.StatRow
{
	width: 100%;
	flow-children: right;
	padding: 10px 0px;
}

.StatValue
{
	vertical-align: center;
	width: 190px;
	margin-right: 20px;
}

.StatValue Label
{
	color: offWhite;
	font-size: 28px;
	font-weight: bold;
	horizontal-align: right;
	font-family: sansMono;
}

.StatName
{
	vertical-align: center;
	width: fill-parent-flow( 1.0 );
}

.StatName Label
{
	color: #a4a4a4;
	font-size: 26px;
}

#SelfImage
{
	width: 60px;
	height: 60px;
	margin: 0px 15px;
	border: 2px solid #4c4c4c90;
}

#SelfName
{
	vertical-align: center;
}

#SelfName Label
{
	font-weight: bold;
	font-size: 26px;
}

#FavoriteHeroImage
{
	width: 80px;
	height: 100px;
	vertical-align: center;
	margin-right: 20px;
	padding: 1px;
}

#FavoriteHeroImage:hover
{
	border: 1px solid white;
	padding: 0px;
}

.HeroRightCol
{
	flow-children: down;
	vertical-align: center;
}

.MostPlayedLabel
{
	font-size: 22px;
	color: #888888;
}

.MostPlayedNameLabel
{
	font-size: 30px;
	color: white;
}

#HeroFeatureArea
{
	flow-children: down;
	ignore-parent-flow: true;
	vertical-align: bottom;
	margin-bottom: 120px;
	margin-left: 60px;
	visibility: collapse;
}

.showingAllHeroes #HeroFeatureArea
{
	visibility: visible;
}

#HeroFeatureLabel
{
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: offWhite;
	opacity: 0.3;
}

#HeroFeatureName
{
	font-size: 40px;
	font-family: serif;
	font-weight: bold;
	text-transform: uppercase;
	color: offWhite;
}

#MatchHistoryArea
{
	flow-children: down;
	width: 100%;
}

.titleArea
{
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	flow-children: right;
}

.smallTitle
{
	text-transform: uppercase;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 22px;
}

#MatchHistoryButton
{
	horizontal-align: right;
	flow-children: right;
	opacity: 0.3;
}

#MatchHistoryButton:hover
{
	opacity: 1;
}

#allHistoryIcon
{
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-left: 5px;
	background-image: url("s2r://panorama/images/icons/arrow_east.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: offWhite;
}

#MatchHistoryButton .smallTitle
{
	font-weight: semi-bold;
	font-size: 20px;
	text-transform: none;
}

#MatchHistoryList
{
	flow-children: right;
	height: 140px;
}

.MatchBlockBig
{
	width: 275px;
	height: 136px;
	background-color: #00000090;
	flow-children: down;
	margin-right: 10px;
	border-radius: 5px;
}

.MatchBlockBig.team1,.gameMiniBlock.team1
{
	background-color: #534716;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b250c ), to( #534716 ) );
}

.MatchBlockBig.team2,.gameMiniBlock.team2
{
	background-color: #2D3C70;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0f1941 ), to( #2D3C70 ) );
}

.MatchBlockBig:hover
{
	brightness: 1.3;
	background-color: #333;
}

.teamStripe
{
	height: 6px;
	width: 100%;
}

.team1 .teamStripe
{
	background-color: team1Color;
}

.team2 .teamStripe
{
	background-color: team2Color;
}

.gameContent
{
	flow-children: right;
	width: 100%;
}

.gameInfo
{
	flow-children: down;
	padding: 10px;
	width: fill-parent-flow(1.0);
}

#gameResultRow
{
	width: 100%;
	flow-children: right;
}

.gameResult
{
	font-weight: bold;
	font-size: 16px;
}

.gameNetworth
{
	font-weight: bold;
	font-size: 16px;
	color: shardColor;
	horizontal-align: right;
	vertical-align: bottom;
	margin: 10px;
	ignore-parent-flow: true;
	z-index: 10;
}

.heroName
{
	font-weight: bold;
	font-size: 22px;
	text-transform: uppercase;
	font-family: serif;
}

.gameDuration
{
	font-weight: medium;
	font-size: 16px;
	opacity: 0.7;
}

.gameDate
{
	font-weight: normal;
	font-size: 16px;
	opacity: 0.5;
	vertical-align: bottom;
	margin-top: 15px;
}

.heroImg
{
	height: 100%;
	width: 95px;
	horizontal-align: right;
}

.gameMiniBlock .heroImg
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	horizontal-align: center;
	margin-top: 68px;
}

#Overlay
{
	width: 100%;
	height: 100%;
	background-color: #000000f1;
	ignore-parent-flow: true;
	z-index: 100;
	opacity: 0;
}

.viewDetails
{
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;
}

.viewDetails Label
{
	text-transform: uppercase;
	opacity: 0.6;
	font-size: 20px;
	font-weight: semi-bold;
}

.arrowIcon
{
	background-image: url("s2r://panorama/images/icons/arrow_east.vsvg");
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin-left: 5px;
	opacity: 0.6;
	background-size: contain;
	background-repeat: no-repeat;
}

.gameMiniBlock .arrowIcon
{
	width: 25px;
	height: 25px;
}

.MatchBlockBig:hover #Overlay,.gameMiniBlock:hover #Overlay
{
	opacity: 1;
}

.MiniMatchBlock
{
	flow-children: right;
	width: 415px;
	height: 136px;
	margin-left: 0px;
}

.MiniMatchBlock .heroImg
{
	opacity-brush: gradient( linear, 0% 0%, 0% 30%, from( #ffffff00 ), to( #ffffff ) );
}

.AspectRatio16x10 .MiniMatchBlock
{
	width: 360px;
}

.gameMiniBlock
{
	width: 60px;
	background-color: #333;
	height: 100%;
	margin: 0px 5px;
	flow-children: down;
	border-radius: 5px;
}

.gameResultShort
{
	horizontal-align: middle;
	font-weight: bold;
	font-size: 16px;
	margin-top: 20px;
	text-align: center;
}

.win .gameResultShort,.win .gameResult
{
	color: rgb(97, 231, 97);
}

.loss .gameResultShort,.loss .gameResult
{
	color: rgb(200, 84, 84);
}

#Statistics
{
	width: 100%;
	height: fill-parent-flow(1.0);
	flow-children: down;
	margin-top: 30px;
}

#StatsContent
{
	flow-children: right;
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/main_menu/slate_texture_png.vtex");
}

#HeroList
{
	height: 100%;
	width: 275px;
	background-color: offBlack&90;
	flow-children: down;
	overflow: squish scroll;
}

#StatsBlock
{
	height: 100%;
	width: fill-parent-flow(1.0);
	background-color: #000000aa;
	background-img-opacity: 0.4;
	flow-children: right;
}

#StatsTitle
{
	ignore-parent-flow: true;
	width: 100%;
	height: 170px;
	padding-left: 50px;
	flow-children: down;
	padding-top: 50px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #76767630 ), to( #ffffff00 ) );
}

.hero_orion #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( orionColor&20 ), to( orionColor&00 ) );
}

.hero_astro #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( astroColor&20 ), to( astroColor&00 ) );
}

.hero_bebop #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( bebopColor&20 ), to( bebopColor&00 ) );
}

.hero_atlas #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( atlasColor&20 ), to( atlasColor&00 ) );
}

.hero_chrono #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( chronoColor&20 ), to( chronoColor&00 ) );
}

.hero_forge #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( forgeColor&20 ), to( forgeColor&00 ) );
}

.hero_ghost #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( ghostColor&20 ), to( ghostColor&00 ) );
}

.hero_gigawatt #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( gigawattColor&20 ), to( gigawattColor&00 ) );
}

.hero_haze #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( hazeColor&20 ), to( hazeColor&00 ) );
}

.hero_hornet #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( hornetColor&20 ), to( hornetColor&00 ) );
}

.hero_inferno #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( infernoColor&20 ), to( infernoColor&00 ) );
}

.hero_kelvin #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( kelvinColor&20 ), to( kelvinColor&00 ) );
}

.hero_lash #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( lashColor&20 ), to( lashColor&00 ) );
}

.hero_krill #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( krillColor&20 ), to( krillColor&00 ) );
}

.hero_shiv #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( shivColor&20 ), to( shivColor&00 ) );
}

.hero_dynamo #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( dynamoColor&20 ), to( dynamoColor&00 ) );
}

.hero_viscous #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( viscousColor&20 ), to( viscousColor&00 ) );
}

.hero_warden #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( wardenColor&20 ), to( wardenColor&00 ) );
}

.hero_wraith #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( wraithColor&20 ), to( wraithColor&00 ) );
}

.hero_yamato #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( yamatoColor&20 ), to( yamatoColor&00 ) );
}

.hero_tengu #StatsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( tenguColor&20 ), to( tenguColor&00 ) );
}

.statSectionLabel
{
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: offWhite;
	opacity: 0.3;
}

.statSectionName
{
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 30px;
	vertical-align: middle;
	font-family: serif;
	text-transform: uppercase;
}

#StatsLeft
{
	width: 40%;
	height: 100%;
	flow-children: down;
	padding: 50px;
	margin-top: 150px;
}

#StatsRight
{
	width: 60%;
	height: 100%;
	flow-children: right-wrap;
	padding-top: 80px;
}

.StatRow
{
	flow-children: right;
}

.statValue
{
	font-weight: bold;
}

.statLabel
{
	font-weight: semi-bold;
	opacity: 0.9;
}

.TextStat
{
	flow-children: down;
	margin-right: 30px;
	margin-bottom: 40px;
	width: 40%;
}

.TextStat.largeStat .statValue
{
	font-size: 50px;
	font-weight: semi-bold;
}

.TextStat .statValue
{
	font-size: 40px;
	font-weight: semi-bold;
}

.BlockStat
{
	flow-children: down;
	height: 220px;
	width: 140px;
	margin: 0px 10px;
}

.BlockStat .statValue
{
	font-size: 50px;
	font-weight: semi-bold;
	margin-top: 10px;
	max-height: 45px;
	margin: 20px 10px 0px 10px;
	text-overflow: shrink;
	text-align: center;
}

.BlockStat .labelContainer
{
	horizontal-align: center;
	height: 60px;
}

.BlockStat .statLabel
{
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	padding: 0px 10px;
	opacity: 0.6;
}

.subStat
{
	font-size: 16px;
	text-transform: uppercase;
	opacity: 0.5;
	visibility: collapse;
}

.BlockStat.isZeroValue,.TextStat.isZeroValue
{
	opacity: 0.1;
}

.blockBacker
{
	width: 100%;
	height: 78%;
	ignore-parent-flow: true;
	vertical-align: bottom;
	border-radius: 3px;
	box-shadow: 0px 0px 30px #00000090;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3e3b3b ), to( #03030300 ) );
	border: 3px solid #ffffff05;
}

.BlockStat .statValue,.BlockStat .statLabel,.BlockStat .subStat
{
	horizontal-align: center;
}

.BlockStat .subInfo
{
	horizontal-align: center;
}

.StatIcon
{
	width: 60px;
	height: 60px;
	background-image: url("s2r://panorama/images/post_game/stat_objective_damage_png.vtex");
	background-size: contain;
	horizontal-align: center;
	img-shadow: 0px 0px 12px 5.0 #000000;
	margin-top: 20px;
}

.Kills .StatIcon
{
	background-image: url("s2r://panorama/images/post_game/stat_kills_png.vtex");
	wash-color: #FF5D5D;
}

.Assists .StatIcon
{
	background-image: url("s2r://panorama/images/post_game/stat_assists_png.vtex");
	wash-color: #A230CA;
}

.ObjectiveDmg .StatIcon
{
	background-image: url("s2r://panorama/images/post_game/stat_objective_damage_png.vtex");
	wash-color: #E4A833;
}

.PlayerDmg .StatIcon
{
	background-image: url("s2r://panorama/images/post_game/stat_hero_damage_png.vtex");
	wash-color: #2972FF;
}

.Healing .StatIcon
{
	background-image: url("s2r://panorama/images/post_game/stat_healing_png.vtex");
	wash-color: #AEF022;
}

.Networth .StatIcon
{
	background-image: url("s2r://panorama/images/post_game/stat_networth_png.vtex");
	wash-color: shardColor;
}

#ForumButton
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 20px;
	opacity: 0.3;
	visibility: collapse;
	flow-children: right;
}

.hasJoinedForum #ForumButton
{
	visibility: visible;
}

.ForumIcon
{
	width: 16px;
	height: 16px;
	wash-color: silvered;
	vertical-align: middle;
	margin-top: 3px;
	opacity: 1;
	margin-right: 8px;
	background-image: url("s2r://panorama/images/icons/icon_feedback.vsvg");
	background-size: contain;
}

.defaultText
{
	font-weight: semi-bold;
	text-decoration: underline;
}

.hero_orion #HeroRowBackground
{
	background-color: orionColor;
}

.hero_astro #HeroRowBackground
{
	background-color: astroColor;
}

.hero_bebop #HeroRowBackground
{
	background-color: bebopColor;
}

.hero_atlas #HeroRowBackground
{
	background-color: atlasColor;
}

.hero_chrono #HeroRowBackground
{
	background-color: chronoColor;
}

.hero_forge #HeroRowBackground
{
	background-color: forgeColor;
}

.hero_ghost #HeroRowBackground
{
	background-color: ghostColor;
}

.hero_gigawatt #HeroRowBackground
{
	background-color: gigawattColor;
}

.hero_haze #HeroRowBackground
{
	background-color: hazeColor;
}

.hero_hornet #HeroRowBackground
{
	background-color: hornetColor;
}

.hero_inferno #HeroRowBackground
{
	background-color: infernoColor;
}

.hero_kelvin #HeroRowBackground
{
	background-color: kelvinColor;
}

.hero_lash #HeroRowBackground
{
	background-color: lashColor;
}

.hero_krill #HeroRowBackground
{
	background-color: krillColor;
}

.hero_shiv #HeroRowBackground
{
	background-color: shivColor;
}

.hero_dynamo #HeroRowBackground
{
	background-color: dynamoColor;
}

.hero_viscous #HeroRowBackground
{
	background-color: viscousColor;
}

.hero_warden #HeroRowBackground
{
	background-color: wardenColor;
}

.hero_wraith #HeroRowBackground
{
	background-color: wraithColor;
}

.hero_yamato #HeroRowBackground
{
	background-color: yamatoColor;
}

.hero_tengu #HeroRowBackground
{
	background-color: tenguColor;
}

.heroRow
{
	width: 265px;
	height: 50px;
	border-top: 2px solid offWhite&00;
	border-bottom: 2px solid offWhite&00;
	margin: 1px 0px;
	opacity: 0.5;
}

.heroRow:selected
{
	background-color: #000000aa;
	opacity: 1;
}

.heroRow:hover
{
	background-color: #000000aa;
	opacity: 0.8;
}

#HeroRowImage
{
	height: 50px;
	width: 50px;
	saturation: 0.3;
	transition-property: transform;
	transition-duration: 0.1s;
}

.heroRow:selected #HeroRowImage,.heroRow:selected .heroRowName
{
	transform: translateX(10px);
	saturation: 1;
}

.heroRowName
{
	margin-left: 60px;
	vertical-align: center;
	font-family: serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.3px;
	font-size: 18px;
	margin-top: 3px;
	text-shadow: 1px 1px 2px 3.0 #00000050;
	transition-property: transform;
	transition-duration: 0.1s;
}

#HeroRowBackground
{
	height: 100%;
	width: 100%;
	opacity-brush: gradient( linear, 100% 0%, 0% 0%, from( #ffffff ), to( #ffffff20 ) );
}

