/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelMatchInProgressStatus.StatusNotification .Icon
{
	background-image: url("s2r://panorama/images/control_icons/warning_alt_png.vtex");
	wash-color: ominousGreen;
	animation-name: WaitingPulseLight;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

CitadelMatchInProgressStatus.StatusNotification .Details Label
{
	color: ominousGreen;
}

CitadelMatchInProgressStatus.StatusNotification .Details .Desc
{
	padding-top: 0px;
	margin-top: 0px;
	color: deeplyOminousGreen;
	height: 28px;
}

