/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelWatchPage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	flow-children: down;
}

#WatchTitle
{
	horizontal-align: left;
	margin-top: 50px;
	ignore-parent-flow: true;
	width: 100%;
	margin-top: 90px;
}

.playOptionBottom
{
	background-color: #202020;
	width: 100%;
	padding: 0px 15px 0px 15px;
	height: 185px;
}

.playOptionBottom .backArrow
{
	wash-color: white;
	transform: rotateY( 180deg );
	height: 26px;
	width: 28px;
	horizontal-align: left;
	margin-left: 15px;
	margin-right: 10px;
	transition-property: transform, margin-left;
	transition-duration: 0.3s;
}

.MatchContents
{
	width: 1660px;
	flow-children: down;
	horizontal-align: center;
	margin-top: 170px;
	horizontal-align: center;
}

#LoadingContainer
{
	width: 100%;
	height: 700px;
	background-color: #00000088;
	visibility: collapse;
}

.IsLoading #LoadingContainer
{
	visibility: visible;
}

#LoadingContainer Label
{
	font-size: 24px;
	color: white;
	horizontal-align: center;
	vertical-align: center;
}

#MatchContainer
{
	width: 100%;
	height: 680px;
	max-width: 1600px;
	horizontal-align: center;
	flow-children: right-wrap;
}

.FeaturedMatchesLabel
{
	visibility: collapse;
	font-size: 26px;
	font-weight: bold;
	color: brandGreen&aa;
	vertical-align: bottom;
}

.IsFeaturedMatchPage .FeaturedMatchesLabel
{
	visibility: visible;
}

.IsLoading #MatchContainer
{
	visibility: collapse;
}

#MatchContainer .active_match
{
	margin: 10px;
	max-width: 770px;
	width: 50%;
	height: 140px;
	background-color: offBlack&ea;
	border-radius: 5px;
	border: 3px solid offWhite&20;
	transition-property: transform, background-color;
	transition-duration: 0.1s;
}

#MatchContainer .FeaturedMatch.active_match
{
	height: 260px;
}

#MatchContainer .matchLoading
{
	border: 3px solid gray;
	background-color: #99999920;
}

#MatchContainer .IsLive
{
	border: 3px solid #7B9C35;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( team1ColorDarker&ee ), to( team2ColorDarker&ee ) );
}

#MatchContainer .matchSpectateFull
{
	border: 3px solid #9D5050;
	opacity: 0.5;
}

.active_match:hover
{
	transform: translateY(-3px);
}

.active_match.matchLoading:hover
{
	transform: translateY(0px);
}

.active_match.matchSpectateFull:hover
{
	transform: translateY(0px);
	opacity: 0.3;
}

.NavButtonContainer
{
	width: 1600px;
	horizontal-align: center;
	padding: 0px 10px 20px 10px;
}

#GotoMatchID
{
	horizontal-align: right;
}

#HeroFilter
{
	height: 40px;
	vertical-align: bottom;
}

.ToggleMatchesButton
{
	horizontal-align: center;
	margin-bottom: 70px;
}

#CurrentActiveMatches
{
	color: brandGreen;
	font-weight: bold;
	visibility: collapse;
	vertical-align: bottom;
	margin-bottom: 35px;
}

#CurrentActiveMatches Label
{
	color: brandGreen;
}

.HasActiveMatches #CurrentActiveMatches
{
	visibility: visible;
}

#ShowAllMatchesButton,.IsFeaturedMatchPage #ShowFeaturedMatchesButton,.NoFeaturedMatches #ShowFeaturedMatchesButton
{
	visibility: collapse;
}

.IsFeaturedMatchPage #ShowAllMatchesButton
{
	visibility: visible;
}

.IsFeaturedMatchPage #HeroFilter,.IsLoading #HeroFilter,.IsLoading #ShowAllMatchesButton,.IsLoading #ShowFeaturedMatchesButton,.IsLoading .FeaturedMatchesLabel
{
	visibility: collapse;
}

DropDownMenu #AllHeroesOption
{
	padding: 20px 10px;
	text-align: left;
}

#HeroImage
{
	width: 64px;
	height: 64px;
}

.HeroName
{
	height: 100%;
}

.HeroDropDownOption
{
	width: 100%;
	flow-children: right;
}

.HeroFilterCtn
{
	horizontal-align: left;
	flow-children: right;
}

.HeroFilterText
{
	vertical-align: center;
	margin-right: 15px;
}

#FriendsOnlyCheckbox
{
	vertical-align: bottom;
	padding-bottom: 8px;
	margin-left: 400px;
}

