/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelStatScalingLabel
{
	flow-children: right;
	background-color: #00000000;
}

CitadelStatScalingLabel.ShowFormula
{
	background-color: #00000080;
}

.hero_stats CitadelStatScalingLabel
{
	background-color: none;
}

.displayStatsContainer CitadelStatScalingLabel
{
	horizontal-align: right;
}

.ShowFormula .ScalingStatBox
{
	padding: 0px;
	vertical-align: bottom;
	horizontal-align: center;
}

CitadelStatScalingLabel.HasScalingStats
{
	visibility: visible;
}

.ScalingStatValue
{
	font-size: 14px;
	font-weight: semi-bold;
	color: offWhite&aa;
	margin-left: 5px;
}

.hero_stats .ScalingStatValue
{
	font-size: 18px;
	color: offWhite&aa;
	margin-left: 5px;
}

.hero_stats .ScalingStatAltMultiply
{
	font-size: 18px;
	margin-right: -5px;
	margin-left: 0px;
}

.ScalingStatImage
{
	height: 18px;
	width: 18px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: center;
	z-index: 2;
}

.ShowFormula .ScalingStatImage
{
	height: 16px;
	width: 16px;
}

.FormulaHiddenContainer .ScalingStatImage,.AbilityPanelStat .ScalingStatImage
{
	width: 40px;
	height: 30px;
	margin-right: -5px;
	background-position: right;
}

#HeaderAttributesContainer .FormulaHiddenContainer .ScalingStatImage,#HeaderAttributesContainer .AbilityPanelStat .ScalingStatImage
{
	width: 30px;
	height: 26px;
}

.hero_stats .FormulaHiddenContainer .ScalingStatImage
{
	width: 40px;
	height: 34px;
	z-index: 2;
	margin-right: 0px;
}

#HeroStatsDisplay .ScalingStatImage
{
	visibility: collapse;
}

.ScalingStat_WeaponPower .ScalingStatImage
{
	background-image: url("s2r://panorama/images/shop/keystat_courage_arrow_png.vtex");
}

.ScalingStat_ArmorPower .ScalingStatImage
{
	background-image: url("s2r://panorama/images/shop/keystat_fortitude_arrow_png.vtex");
}

.ScalingStat_TechPower .ScalingStatImage
{
	background-image: url("s2r://panorama/images/shop/keystat_spirit_arrow_png.vtex");
}

.ShowFormula .ScalingStat_TechPower .ScalingStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_spirit.vsvg");
	wash-color: spiritBrightColor;
}

.ShowFormula .ScalingStat_WeaponPower .ScalingStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_courage.vsvg");
	wash-color: courageBrightColor;
}

.ShowFormula .ScalingStat_ArmorPower .ScalingStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude.vsvg");
	wash-color: fortitudeBrightColor;
}

.AttributeCurrentValue
{
	font-size: 22px;
	font-weight: bold;
	margin-right: 3px;
}

.StatFormula,.FormulaHiddenContainer,.FormulaShowingContainer
{
	flow-children: right;
}

.StatFormula
{
	background-color: #00000040;
	padding: 3px 3px 5px 5px;
}

.ShowFormula .StatFormula
{
	background-color: none;
	padding: 3px 0px;
}

.StatFormula Label,.FormulaHiddenContainer Label,.AbilityPanelStat Label
{
	font-size: 14px;
	font-weight: semi-bold;
	color: offWhite&80;
}

.ScalingStatAltMultiply
{
	margin: 0px 0px 2px 0px;
	font-family: "Swear Text Demo";
	font-weight: bold;
	opacity: 0.8;
}

Label.ScalingStatCurrentValue
{
	font-size: 18px;
	margin-right: 5px;
	margin-top: 1px;
}

.ScalingStat_WeaponPower .ScalingStatCurrentValue
{
	color: courageBrightColor;
	font-weight: bold;
}

.ScalingStat_TechPower .ScalingStatCurrentValue
{
	color: spiritBrightColor;
	font-weight: bold;
}

.ScalingStat_ArmorPower .ScalingStatCurrentValue
{
	color: fortitudeLightColor;
	font-weight: bold;
}

.HeaderContainer .ScalingStatCurrentValue
{
	margin-right: 5px;
	margin-top: -1px;
}

.ScalingAmount
{
	flow-children: right;
	padding: 0px 3px 0px 10px;
	margin-left: -5px;
	z-index: 1;
	visibility: collapse;
}

.gDetailView .ScalingAmount
{
	visibility: visible;
}

.ImageAndMultiplierContainer
{
	flow-children: left;
}

.ScalingStat_WeaponPower .ScalingAmount
{
	background-color: courageDarkColor;
}

.ScalingStat_ArmorPower .ScalingAmount
{
	background-color: fortitudeDarkColor;
}

.ScalingStat_TechPower .ScalingAmount
{
	background-color: spiritDarkColor;
}

.BaseLabel,.ModsLabel
{
	font-weight: bold;
	color: offWhite&80;
	font-size: 14px;
}

.HideModsValue .ModsLabel,.HideModsValue .ModsAddition,.HideModsValue .ShowFormula .ModsAddition
{
	visibility: collapse;
}

.StatAddition
{
	margin-top: 3px;
}

.FormulasContainer,.FormulasContainer Label,.FormulasContainer Panel,.StatAddition
{
	vertical-align: center;
}

.ShowFormula .ScalingStatValue,.ShowFormula .FormulaHiddenContainer,.FormulaShowingContainer,.AttributeCurrentValue,.StatAddition
{
	visibility: collapse;
}

.StatParentheses
{
	width: 6px;
}

.StatAddition
{
	width: 10px;
}

.StatParentheses,.StatX .StatAddition,.ScalingStatAltValue,.ScalingStatAltMultiply
{
	font-style: italic;
}

.ScalingStatAltValue,.ScalingStatAltMultiply,.ScalingStatCurrentValue,.ShowFormula .ScalingStatValue,.StatAddition,.ShowFormula .StatParentheses
{
	color: #FFFFFF86;
}

.ScalingStatAltMultiply,.ScalingStatValue
{
	visibility: collapse;
}

.ShowFormula .FormulaShowingContainer,.ShowFormula .StatAddition,.ShowFormula .ScalingStatAltMultiply
{
	visibility: visible;
}

.AbilityPanelStat
{
	visibility: collapse;
}

AbilityPropertyPanel .FormulaHiddenContainer,AbilityPropertyPanel .FormulaShowingContainer,.ScalingStatCurrentValue
{
	visibility: collapse;
}

AbilityPropertyPanel .ScalingStatCurrentValue
{
	horizontal-align: right;
	margin-top: -5px;
}

AbilityPropertyPanel .AbilityPanelStat,.gDetailView AbilityPropertyPanel .ScalingStatCurrentValue,.gDetailView .ScalingStatAltMultiply,.gDetailView .ScalingStatValue
{
	visibility: visible;
}

.gDetailView .IsReadOnly AbilityPropertyPanel .ScalingStatCurrentValue
{
	visibility: collapse;
}

AbilityPropertyPanel .ScalingStatValue
{
	margin-left: 0px;
}

