/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#AchievementPage
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111 ), to( #222222 ) );
	flow-children: down;
	overflow: clip scroll;
}

.AchievementCtn
{
	flow-children: right;
	margin-bottom: 10px;
	width: 100%;
}

.AchievementStar
{
	width: 30px;
	height: 30px;
	background-image: url("s2r://panorama/images/icons/icon_star.vsvg");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.GroupCtn
{
	width: 100%;
	flow-children: down;
}

.GroupHeader
{
	width: 100%;
	flow-children: right;
	margin-bottom: 10px;
}

.GroupHeader .AchievementStar
{
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

.GroupHeader .GroupName
{
	font-size: 35px;
}

#GroupContents
{
	width: 100%;
	flow-children: down;
	margin-left: 30px;
	margin-bottom: 40px;
}

#GroupList
{
	margin-top: 20px;
	width: 100%;
	flow-children: down;
	margin-left: 40px;
}

#Hero
{
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

.AchievementCtn .AchievementStar
{
	margin-right: 20px;
}

.AchievementText
{
	color: white;
	font-size: 30px;
	margin-right: 40px;
}

.AchievementDate
{
	color: gray;
	font-size: 20px;
	vertical-align: center;
}

.GoldStar .AchievementStar
{
	wash-color: yellow;
}

.SilverStar .AchievementStar
{
	wash-color: gray;
}

.BronzeStar .AchievementStar
{
	wash-color: brown;
}

.BookProgressCtn
{
	flow-children: down;
	width: 100%;
}

.BookProgress
{
	font-size: 40px;
	color: white;
	margin-left: 60px;
}

.UnlockProgress
{
	font-size: 24px;
	color: white;
	margin-left: 100px;
}

.XPProgress
{
	font-size: 24px;
	color: white;
	margin-left: 100px;
}

