/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelAltInfoPanel
{
	background-color: #1A2B2D95;
	padding: 6px 20px;
	width: 100%;
	border-top: 2px solid #11111140;
}

CitadelAltInfoPanel.NoAdjustedStats
{
	visibility: collapse;
}

.AltInfoLabel
{
	font-size: 16px;
	font-weight: medium;
	margin-top: -3px;
	opacity: 0.6;
}

.gDetailView .HoldAltDesc,.AdjustedStats
{
	visibility: collapse;
}

.gDetailView .AdjustedStats
{
	visibility: visible;
}

.AdjustedStats
{
	flow-children: down;
	width: 100%;
}

#AdjustedStatsContainer
{
	flow-children: down;
	width: 100%;
}

#AdjustedStatsLabel
{
	font-size: 14px;
	font-weight: bold;
	opacity: 0.4;
	margin-bottom: 5px;
}

.AdjustedStatRow
{
	width: 100%;
	background-color: #00000040;
	padding: 8px 10px;
	margin: 0px 3px 3px 0px;
	border-radius: 30px;
}

.AffectedValArrow
{
	height: 12px;
	width: 12px;
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: center;
	wash-color: colorCommonOffWhite;
	opacity: 0.25;
}

.AdjustedStatDiff
{
	ignore-parent-flow: true;
	horizontal-align: right;
	flow-children: right;
}

.ArmorAdjustedMod.AdjustedStatAbility
{
	wash-color: armorColor;
}

.TechAdjustedMod.AdjustedStatAbility
{
	wash-color: techColor;
}

.WeaponAdjustedMod.AdjustedStatAbility
{
	wash-color: weaponColor;
}

.AdjustedStatAbility
{
	width: 24px;
	height: 24px;
	margin-right: 8px;
	background-size: 100% 100%;
}

#AdjustedStat_upgrade_tech_power .AdjustedStatAbility,#AdjustedStat_Spirit .AdjustedStatDiff
{
	visibility: collapse;
}

.AdjustedStatBase
{
	font-weight: bold;
	margin-right: 5px;
}

#AdjustedStat_upgrade_tech_power .AdjustedStatBase
{
	visibility: visible;
	wash-color: techColor;
}

.AdjustedStatName
{
	opacity: 0.7;
	font-weight: semi-bold;
	font-size: 16px;
	text-overflow: shrink;
	max-height: 30px;
}

.AdjustedStatDiffBase
{
	opacity: 0.7;
	font-weight: bold;
}

.AdjustedStatDiffModified
{
	font-weight: bold;
}

