/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelShopModsList
{
	height: 100%;
	width: 100%;
	visibility: collapse;
	overflow: clip scroll;
	horizontal-align: center;
	flow-children: down;
}

.showingWeapon CitadelShopModsList
{
	background-color: gradient( linear, 10% 0%, 100% 0%, from( #583F21 ), to( courageDarkColor&60 ) );
	wash-color: none;
}

.showingArmor CitadelShopModsList
{
	background-color: gradient( linear, 10% 0%, 100% 0%, from( fortitudeDarkColor ), to( fortitudeColor&30 ) );
	wash-color: none;
}

.showingTech CitadelShopModsList
{
	background-color: spiritColor;
	background-color: spiritDarkColor&30;
	background-color: gradient( linear, 10% 0%, 100% 0%, from( spiritDarkerColor ), to( spiritColor&30 ) );
	wash-color: none;
}

.showingFavorites CitadelShopModsList
{
	background-color: #7b752f90;
	background-color: gradient( linear, 10% 0%, 100% 0%, from( #7b752f90 ), to( #7b752f20 ) );
	wash-color: none;
}

.showingFilters CitadelShopModsList
{
	background-color: #3e3a34;
	wash-color: none;
}

.showingSearch CitadelShopModsList
{
	background-color: #3e3a34;
	wash-color: none;
}

.showingFavorites CitadelShopModsList VerticalScrollBar .ScrollThumb
{
	background-color: buildsLightColor;
	wash-color: none;
}

.showingWeapon CitadelShopModsList:hover VerticalScrollBar .ScrollThumb
{
	transform-origin: 0% 50%;
	transform: scale3D(1, 1, 1);
	background-color: courageBrightColor;
	wash-color: none;
}

.showingArmor CitadelShopModsList VerticalScrollBar .ScrollThumb
{
	transform-origin: 0% 50%;
	transform: scale3D(1, 1, 1);
	background-color: fortitudeColor;
	wash-color: none;
}

.showingTech CitadelShopModsList:hover VerticalScrollBar .ScrollThumb
{
	transform-origin: 0% 50%;
	transform: scale3D(1, 1, 1);
	background-color: spiritBrightColor;
	wash-color: none;
}

.showingArmor CitadelShopModsList:hover VerticalScrollBar .ScrollThumb
{
	transform-origin: 0% 50%;
	transform: scale3D(1, 1, 1);
	background-color: fortitudeBrightColor;
	wash-color: none;
}

.showingFavorites CitadelShopModsBuild:hover VerticalScrollBar .ScrollThumb
{
	transform-origin: 0% 50%;
	transform: scale3D(1, 1, 1);
	background-color: buildsLightColor;
	wash-color: none;
}

.shopClosed CitadelShopModsList VerticalScrollBar .ScrollThumb
{
	background-color: #4D4D4D;
	wash-color: none;
}

.showingWeapon #ShopModsListWeapon
{
	visibility: visible;
	animation-iteration-count: 1;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
	border-top: 7px solid courageBrightColor;
}

.showingTech #ShopModsListTech
{
	visibility: visible;
	animation-iteration-count: 1;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
	border-top: 7px solid spiritBrightColor;
}

.showingArmor #ShopModsListArmor
{
	visibility: visible;
	animation-iteration-count: 1;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
	border-top: 7px solid fortitudeBrightColor;
}

.showingFavorites #ShopModsBuild
{
	visibility: visible;
	animation-iteration-count: 1;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
	border-top: 0px solid #C3B661;
}

.showingFilters #ShopModsListAll
{
	visibility: visible;
	animation-iteration-count: 1;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
	border-top: 7px solid #555;
}

@keyframes 'courageAnimateIn'
{
	0%
	{
		transform: translate3d( -550px, 0px, 0px );
		opacity: 0;
	}
	
	100%
	{
		transform: translate3d( 0px, 0px, 0px );
		opacity: 1;
	}
	
}

@keyframes 'spiritAnimateIn'
{
	0%
	{
		transform: translate3d( 550px, 0px, 0px );
		opacity: 0;
	}
	
	100%
	{
		transform: translate3d( 0px, 0px, 0px );
		opacity: 1;
	}
	
}

