/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.AvailableBook
{
	width: 300px;
	height: 500px;
}

.BookBody
{
	width: 300px;
	margin-top: 20px;
	flow-children: down;
	margin: 20px;
}

#BookCover
{
	width: 100%;
	height: 400px;
	brightness: 0.4;
	background-color: black;
}

.ComingSoon #BookCover
{
	blur: gaussian( 7.0 );
}

.AvailableBook:hover .BookBody
{
	transform: scale3D( 1.1, 1.1, 1 );
}

.AvailableBook:hover #BookCover
{
	brightness: 1.0;
}

.ComingSoon.AvailableBook:hover .BookBody
{
	transform: none;
	brightness: 0.4;
}

.BookFooter
{
	width: 100%;
	height: 40px;
	background-color: #666666;
}

.Progress
{
	vertical-align: center;
	horizontal-align: center;
}

.ComingSoonLabel
{
	visibility: collapse;
	vertical-align: center;
	horizontal-align: center;
}

.ComingSoon .Progress
{
	visibility: collapse;
}

.ComingSoon .ComingSoonLabel
{
	visibility: visible;
}

.UnlockAvailableStatus
{
	horizontal-align: right;
	vertical-align: top;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #444444;
	border: 2px solid geistBookColor;
	margin-left: -5px;
}

.UnlockCount
{
	horizontal-align: center;
	vertical-align: center;
	color: geistBookColor;
	font-size: 20px;
	font-weight: bold;
}

.HasUnlock .UnlockAvailableStatus
{
	background-color: offBlack;
}

.UnlockStatus
{
	vertical-align: top;
	horizontal-align: right;
	flow-children: right;
	z-index: 2;
	visibility: collapse;
}

.ComingSoon .UnlockStatus
{
	visibility: collapse;
}

.UnlockProgress
{
	width: 150px;
	height: 20px;
	border: 1px solid white;
	padding: 1px;
	background-color: black;
	margin-top: 10px;
}

#UnlockFillPct
{
	height: 100%;
	background-color: white;
}

