/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelModifiedAbilities.noDisplayedModifiers
{
	opacity: 0;
}

.WeaponMod CitadelModifiedAbilities
{
	background-color: courageDarkerColor;
}

.TechMod CitadelModifiedAbilities
{
	background-color: spiritDarkerColor;
}

