/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

CitadelPartyInviteList
{
	width: 100%;
	vertical-align: bottom;
	flow-children: down;
	visibility: collapse;
	background-color: silvered&30;
}

CitadelPartyInviteList.ConnectedToGC
{
	visibility: visible;
}

.HasPartyInvites #InviteGroup
{
	visibility: visible;
}

#InviteGroup
{
	width: 100%;
	flow-children: down;
	visibility: collapse;
	margin-bottom: 10px;
}

#InviteHeaderGroup
{
	flow-children: right;
	width: 100%;
	padding-left: 10px;
	horizontal-align: center;
	background-color: offBlack;
}

.InviteHeaderMessage
{
	horizontal-align: left;
}

.InviteHeaderText
{
	text-transform: uppercase;
	padding-bottom: 8px;
	padding-left: 0px;
	background-color: none;
	opacity: 1;
	flow-children: right;
	font-size: 20px;
	color: offWhite;
	margin: 0px;
	padding-top: 8px;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 1px;
}

#InviteList
{
	width: 100%;
	flow-children: down;
}

.InviteCount
{
	horizontal-align: left;
}

.InviteCount
{
	font-size: 20px;
	color: offWhite;
	margin-left: 0px;
	margin-top: 1px;
	vertical-align: center;
	text-align: center;
	font-weight: bold;
	margin-right: 10px;
	text-overflow: shrink;
}

#PartyInfoInvites .PartyInfoIcon
{
	background-image: url("s2r://panorama/images/control_icons/addfriend_png.vtex");
	background-color: aqua;
}

#InviteList CitadelPartyInvite
{
	width: 100%;
	height: 60px;
	padding-left: 20px;
	margin-top: 5px;
}

.IsLayoutSmallScreen #InviteList CitadelPartyInvite
{
	width: 100%;
	height: 105px;
	padding-left: 10px;
	margin-top: 5px;
}

.IsLayoutSmallScreen #PartyInfoInvites
{
	width: 50px;
	height: 50px;
}

