/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelKeyboardGlyph
{
	width: fit-children;
	height: fit-children;
	visibility: visible;
	flow-children: right;
	vertical-align: middle;
	horizontal-align: center;
	margin-left: 4px;
	margin-right: 4px;
	background-color: #222;
	border-radius: 4px;
}

.UnboundKeyboardGlyphContainer,.MouseButtonGlyphContainer,.KeyboardKeyGlyphContainer
{
	margin: 1px;
	padding: 1px;
	width: fit-children;
	height: fit-children;
	min-width: 18px;
	min-height: 18px;
	vertical-align: middle;
	horizontal-align: center;
}

.UnboundKeyboardGlyphContainer,.KeyboardKeyGlyphContainer
{
	background-color: #333;
	border-radius: 4px;
}

.UnboundKeyboardGlyphContainer Label,.ModifierCombinerContainer Label,.KeyboardKeyGlyphContainer Label
{
	vertical-align: middle;
	horizontal-align: center;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 0px;
	color: #FFFFFF;
	text-shadow: 2px 2px 0px 1.0 #000000;
	text-align: center;
	text-transform: uppercase;
	margin-left: 4px;
	margin-right: 4px;
}

.ModifierCombinerContainer Label.ModifierCombinerLabel
{
	font-size: 14px;
	vertical-align: middle;
}

.MouseButtonGlyphContainer
{
	width: 20px;
	height: 20px;
	padding: 0px;
}

.UnboundGlyph
{
	width: 20px;
	height: 20px;
	padding: 0px;
	background-image: url("s2r://panorama/images/glyphs/unbound.vsvg");
	background-texture-size: 40px 40px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	animation-name: SawtoothTransparency;
	animation-duration: 1.0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes 'SawtoothTransparency'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

.MouseButtonGlyph
{
	width: 100%;
	height: 100%;
	background-texture-size: 40px 40px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.ModifierCombinerContainer
{
	width: fit-children;
	height: fit-children;
	vertical-align: middle;
	margin-left: 4px;
	margin-right: 4px;
}

CitadelKeyboardGlyph.light
{
	background-color: #aaa;
}

.light .UnboundKeyboardGlyphContainer,.light .KeyboardKeyGlyphContainer
{
	background-color: #ccc;
}

CitadelKeyboardGlyph.light Label
{
	text-shadow: none;
	color: #333;
}

CitadelKeyboardGlyph.dark
{
	background-color: #333;
}

.dark .UnboundKeyboardGlyphContainer,.dark .KeyboardKeyGlyphContainer
{
	background-color: #222;
}

CitadelKeyboardGlyph.dark Label
{
	color: #ccc;
}

CitadelKeyboardGlyph.knockout
{
	border: 1px solid #ccc;
	background-color: transparent;
}

.knockout .UnboundKeyboardGlyphContainer,.knockout .KeyboardKeyGlyphContainer
{
	background-color: transparent;
}

CitadelKeyboardGlyph.knockout Label
{
	color: #ccc;
	text-shadow: none;
}

#hero_testing_stub .UnboundKeyboardGlyphContainer Label,#hero_testing_stub .ModifierCombinerContainer Label,#hero_testing_stub .KeyboardKeyGlyphContainer Label
{
	padding: 1px;
	font-size: 14px;
}

.upgradeReminderUI .UnboundKeyboardGlyphContainer Label,.upgradeReminderUI .ModifierCombinerContainer Label,.upgradeReminderUI .KeyboardKeyGlyphContainer Label
{
	font-size: 8px;
	text-shadow: 1px 1px 0px 1.0 #000000;
}

.ability_container CitadelKeyboardGlyph
{
	background-color: transparent;
}

.ability_container .MouseButtonGlyphContainer
{
	wash-color: #222;
	opacity: 3.75;
	margin-bottom: 5px;
}

.ability_container .UnboundKeyboardGlyphContainer,.ability_container .ModifierCombinerContainer,.ability_container .KeyboardKeyGlyphContainer
{
	background-color: transparent;
}

.ability_container .UnboundKeyboardGlyphContainer Label,.ability_container .ModifierCombinerContainer Label,.ability_container .KeyboardKeyGlyphContainer Label
{
	ui-scale: 111%;
	text-shadow: none;
	color: offBlack;
}

