/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelKeyboardGlyph
{
	width: fit-children;
	height: fit-children;
	visibility: visible;
	flow-children: right;
	vertical-align: middle;
	horizontal-align: center;
	margin-left: 4px;
	margin-right: 4px;
	padding: 2px;
	background-color: #222;
	border-radius: 4px;
}

.UnboundKeyboardGlyphContainer,.MouseButtonGlyphContainer,.KeyboardKeyGlyphContainer
{
	margin: 1px;
	padding: 2px;
	min-width: 24px;
	min-height: 24px;
	width: fit-children;
	height: fit-children;
	padding: 2px;
}

.UnboundKeyboardGlyphContainer,.KeyboardKeyGlyphContainer
{
	background-color: #333;
	border-radius: 4px;
}

.UnboundKeyboardGlyphContainer Label,.ModifierCombinerContainer Label,.KeyboardKeyGlyphContainer Label
{
	vertical-align: middle;
	horizontal-align: center;
	font-size: 14px;
	letter-spacing: 2px;
	color: #FFFFFF;
	text-shadow: 2px 2px 0px 1.0 #000000;
	text-align: center;
}

.ModifierCombinerContainer Label.ModifierCombinerLabel
{
	font-size: 24px;
}

.MouseButtonGlyphContainer
{
	width: 20px;
	height: 20px;
}

.MouseButtonGlyph
{
	width: 100%;
	height: 100%;
	background-texture-size: 40px 40px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.ModifierCombinerContainer
{
	width: fit-children;
	height: fit-children;
	margin-left: 4px;
	margin-right: 4px;
}

