/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelPartyInvite
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.PartyButton
{
	width: 36px;
	height: 36px;
	margin: 4px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: center;
	margin-right: 6px;
	transition-duration: 0.2s;
	transition-property: brightness;
}

.IsLayoutSmallScreen .PartyButton
{
	width: 60px;
	height: 60px;
	margin: 4px;
}

.InMatchMaking #InMMAccept
{
	visibility: visible;
}

#InMMAccept
{
	vertical-align: center;
	width: 180px;
	visibility: collapse;
}

#InMMAccept Label
{
	color: red;
	horizontal-align: right;
	vertical-align: center;
}

#AcceptInvite,#AcceptInviteInGame
{
	background-image: url("s2r://panorama/images/control_icons/icon_party_invite_psd.vtex");
	background-position: 50% 50%;
	background-size: 40px 40px;
	visibility: collapse;
}

.DisabledInvite
{
	background-image: url("s2r://panorama/images/control_icons/icon_party_invite_psd.vtex");
	background-position: 50% 50%;
	background-size: 40px 40px;
	opacity: 0.1;
	saturation: 0;
	visibility: collapse;
}

.CanAccept #AcceptInvite,.InGame #AcceptInviteInGame
{
	visibility: visible;
}

.InMatchMaking #AcceptInvite,.InGame #AcceptInvite
{
	visibility: collapse;
}

.InMatchmaking #DisabledInMM
{
	visibility: visible;
}

.InParty #DisabledInParty
{
	visibility: visible;
}

.IsLayoutSmallScreen #AcceptInvite
{
	background-image: url("s2r://panorama/images/control_icons/icon_party_invite_psd.vtex");
	background-position: 50% 50%;
	background-size: 60px 60px;
}

#PartyMembers
{
	width: fill-parent-flow( 1.0 );
	flow-children: right;
	vertical-align: center;
}

#PartyMembers CitadelAvatarImage
{
	width: 40px;
	height: 40px;
}

#PartyMembers CitadelFriend:hover
{
	background-color: none;
}

#RejectInvite
{
	background-image: url("s2r://panorama/images/control_icons/icon_party_reject_psd.vtex");
	background-position: 50% 50%;
	background-size: 40px 40px;
	margin-right: 12px;
}

.IsLayoutSmallScreen #RejectInvite
{
	background-image: url("s2r://panorama/images/control_icons/icon_party_reject_psd.vtex");
	background-position: 50% 50%;
	background-size: 60px 60px;
}

#PartyOverflow
{
	font-size: 30px;
	color: white;
	vertical-align: center;
	visibility: collapse;
}

.HasOverflowMembers #PartyOverflow
{
	visibility: visible;
}

