/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHudSubtitles
{
	width: 400px;
	height: 100%;
	flow-children: up;
	horizontal-align: center;
	margin-bottom: 150px;
}

Panel.Subtitle.HasEntity Label.ForWorld
{
	visibility: collapse;
}

Panel.Subtitle:not(.HasEntity) Label.ForEntity
{
	visibility: collapse;
}

Label
{
	font-size: 16px;
	font-weight: semi-bold;
	horizontal-align: center;
	background-color: #000000ee;
	color: silvered;
	padding: 0px 5px;
}

