/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
CitadelRosterHeroDetails
{
	opacity: 1;
	height: 100%;
	width: 100%;
}

.isHeroLabs CitadelRosterHeroDetails
{
	background-color: #d5941c0d;
	background-color: gradient( linear, 0% 0%, 100% 0px, from( #d5941c00 ), color-stop( 0.3, #d5941c0d ), color-stop( 0.8, #d5941c0d ), to( #d5941c00 ) );
}

.HasNoHeroes #HeroDetailsContainer
{
	visibility: collapse;
	vertical-align: center;
	horizontal-align: center;
}

#HeroDetailsContainer
{
	width: 100%;
	height: 100%;
}

#NoHeroSelectedContainer Label
{
	horizontal-align: center;
}

#NoHeroSelectedContainer
{
	width: fit-children;
	margin-bottom: 260px;
	vertical-align: bottom;
	horizontal-align: center;
	background-color: #000000;
	padding: 0px 10px;
	background-color: rgba(255, 100, 100, 0.7);
}

.HasValidRoster #NoHeroSelectedContainer
{
	visibility: collapse;
}

#NoHeroSelectedContainer Label
{
	text-align: center;
	horizontal-align: center;
}

.NoHeroTitle
{
	font-size: 30px;
	font-family: CriteriaCF;
	font-weight: bold;
	margin-bottom: 10px;
	visibility: collapse;
}

.NoHeroDesc
{
	font-size: 20px;
	font-weight: semi-bold;
	text-shadow: 2px 2px 0px #00000040;
	horizontal-align: middle;
	text-align: center;
	margin-bottom: 0px;
	width: fit-children;
	color: rgb(255, 100, 100);
	color: offWhite;
}

.NoHeroBottom
{
	font-size: 18px;
	font-weight: medium;
	color: #ffffff90;
	visibility: collapse;
}

.hasEnoughHeroes .NoHeroDesc
{
	visibility: collapse;
}

#HeroDetails
{
	width: 100%;
	height: 750px;
	z-index: 2;
	horizontal-align: right;
	margin-right: 50px;
	margin-top: 90px;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.HasNoHeroes #HeroDetails
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

#HeroScenePanel
{
	width: 1240px;
	height: 1200px;
	horizontal-align: center;
	background-color: #00000001;
	margin-right: 150px;
	height: 100%;
}

#RecommendedHeroBG
{
	width: 500px;
	height: 100%;
	horizontal-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: -1;
	background-img-opacity: 0.2;
}

.newPlayersPanel
{
	background-color: #87d316;
	padding: 6px 10px 6px 10px;
	flow-children: right;
	horizontal-align: center;
	opacity: 0;
	vertical-align: top;
	border-radius: 3px;
	margin-top: 60px;
	z-index: 100;
}

.newPlayerContent
{
	flow-children: right;
	horizontal-align: center;
}

#AbilityAndVideos
{
	horizontal-align: right;
	vertical-align: top;
	flow-children: down;
	margin-top: 120px;
	visibility: collapse;
}

.ShowingVideo:not(.isHeroLabsHero) #AbilityAndVideos
{
	visibility: visible;
}

.AbilitiesLabel
{
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff90;
	text-align: center;
	letter-spacing: 1px;
	width: 100%;
	font-weight: medium;
	margin: 20px 0px 10px 0px;
	horizontal-align: center;
	opacity: 0;
	width: 500px;
	vertical-align: top;
	margin-top: 50px;
}

#HeroAbilitiesContainer
{
	margin-top: 10px;
	margin: 20px;
	margin-top: 20px;
	overflow: noclip;
	horizontal-align: center;
}

.recommendedLabel
{
	color: #222;
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

.recommendedThumb
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/icons/icon_thumbsup.vsvg");
	background-size: contain;
	z-index: 100;
	wash-color: #000000;
	opacity: 0.9;
	margin-right: 10px;
}

.isNewPlayer .newPlayers .newPlayersPanel
{
	visibility: visible;
	opacity: 1;
}

.isHeroTesting .newPlayersPanel,.isBotMatch .newPlayersPanel,.multiplayer .newPlayersPanel
{
	visibility: collapse;
	opacity: 0;
}

.isNewPlayer .isHeroTesting .laneTesting .newPlayersPanel,.isNewPlayer .isBotMatch .laneTesting .newPlayersPanel
{
	visibility: visible;
	opacity: 1;
}

.isNewPlayer .multiplayer .newPlayers .newPlayersPanel
{
	visibility: visible;
	opacity: 1;
}

#HeroAbilitiesContainer
{
	margin-top: 20px;
}

#HeroLabsHeroBG
{
	width: 500px;
	height: 100%;
	horizontal-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: -1;
	background-img-opacity: 0.2;
}

.heroLabsPanel
{
	background-color: #d36c16;
	padding: 6px 10px 6px 10px;
	flow-children: right;
	horizontal-align: center;
	vertical-align: top;
	border-radius: 3px;
	margin-top: 60px;
	z-index: 100;
	opacity: 0;
}

.isHeroLabsHero .heroLabsPanel
{
	opacity: 1;
}

.heroLabsContent
{
	flow-children: right;
	horizontal-align: center;
}

.heroLabsLabel
{
	color: #eee;
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

.heroLabsIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/icons/icon_herolabs.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	z-index: 100;
	wash-color: #ffffff;
	opacity: 0.9;
	margin-right: 10px;
}

.isBotMatch .rosterHeroesDesc,.isHeroTesting .rosterHeroesDesc,.botHeroDesc
{
	visibility: collapse;
}

.isBotMatch .botHeroDesc
{
	visibility: visible;
}

.rosterHeroesDesc
{
	horizontal-align: center;
}

#HeroDetailsTitle
{
	flow-children: down;
	max-width: 450px;
	height: 100%;
	vertical-align: top;
	margin-left: 120px;
	margin-top: 90px;
}

#HeroName
{
	font-size: 80px;
	line-height: 80px;
	height: 110px;
	margin-bottom: -10px;
	text-overflow: shrink;
	font-weight: bold;
	font-family: serif;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

#HeroTopDesc
{
	font-size: 26px;
	font-weight: semi-bold;
	font-family: serif;
}

#HeroDesc
{
	font-size: 18px;
	font-weight: semi-bold;
	text-align: justify;
	opacity: 0.6;
	line-height: 26px;
	font-family: sans;
	text-shadow: 0px 0px 10px 3.0 #00000090;
	margin: 10px 0px;
}

.abilityContainer
{
	margin-bottom: 5px;
	horizontal-align: center;
	transition-property: pre-transform-scale2d, background-color, box-shadow;
	transition-duration: 0.2s;
	border-radius: 3px;
	height: 80px;
	overflow: noclip;
}

#AbilityIcon
{
	background-color: #00000090;
	opacity: 0.5;
	border-radius: 3px;
	margin-right: -20px;
	ui-scale: 70%;
}

.abilityNameContainer
{
	flow-children: down;
	vertical-align: center;
	width: 100%;
	padding: 5px 20px;
	border-radius: 0px 3px 3px 0px;
}

.citadelAbilityName
{
	font-size: 20px;
	font-weight: bold;
	horizontal-align: center;
	margin-top: 3px;
}

.citadelAbilityQuip
{
	font-size: 18px;
	text-align: center;
	horizontal-align: center;
	opacity: 0.7;
	font-weight: medium;
	margin-top: 3px;
}

#AbililtyMovie
{
	width: 480px;
	height: 300px;
	border: 2px solid #ffffff10;
}

.showingAbility1 #Ability1,.showingAbility2 #Ability2,.showingAbility3 #Ability3,.showingAbility4 #Ability4
{
	pre-transform-scale2d: 1.1;
	wash-color: spiritBrightColor;
	box-shadow: 0px 0px 20px #00000090;
	z-index: 100;
}

.showingAbility1 #Ability1,.showingAbility2 #Ability2,.showingAbility3 #Ability3,.showingAbility4 #Ability4
{
	background-color: #000000;
	opacity: 1;
}

.showingAbility1 #Ability1 Label,.showingAbility2 #Ability2 Label,.showingAbility3 #Ability3 Label,.showingAbility4 #Ability4 Label
{
	color: #ffffff;
}

.isHeroLabsHero #AbilityMovie
{
	visibility: collapse;
}

#HeroLabsContainer
{
	width: 100%;
	horizontal-align: center;
	flow-children: down;
	background-color: #845125;
	border-radius: 3px;
	margin-top: 30px;
	visibility: collapse;
}

.isHeroLabsHero #HeroLabsContainer
{
	visibility: visible;
}

#HeroLabsHeader
{
	flow-children: right;
	width: 100%;
	background-color: #d36c16;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #d36c16 ), to( #d36c1600 ) );
	padding: 5px;
}

#HeroLabsContent
{
	flow-children: right;
}

#HeroLabsHeader .heroLabsIcon
{
	margin: 5px 10px 5px 5px;
	width: 18px;
	height: 18px;
}

#HeroLabsHeader .heroLabsLabel
{
	font-size: 18px;
}

.heroLabsText
{
	width: fill-parent-flow(1.0);
	vertical-align: middle;
	padding: 15px;
	font-size: 16px;
	font-weight: semi-bold;
	opacity: 0.8;
}

#HeroLabsContainer Button
{
	margin: 15px;
}

