/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelShopMod,CitadelShopMod.atMaxActiveSlots.owned
{
	min-height: 80px;
	height: 120px;
	width: 108px;
	padding: 5px;
	tooltip-position: right;
	tooltip-body-position: 50% 50%;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.05s;
	wash-color: colorEnemy&90;
	opacity: 0.8;
	brightness: 0.5;
}

CitadelShopMod.canAffordMod,CitadelShopMod.owned
{
	wash-color: none;
	opacity: 1;
	brightness: 1;
}

.gEditingBuilds CitadelShopMod.recommended
{
	wash-color: buildsLightColor;
}

CitadelShopMod.isActiveItem
{
	border-radius: 5px;
}

.ModTierHovered CitadelShopMod.isActiveItem
{
	border-radius: 5px;
}

CitadelShopMod.canAffordMod:hover,CitadelShopMod.owned:hover
{
	pre-transform-scale2d: 1.05;
	z-index: 10;
}

.shopClosed CitadelShopMod:hover
{
	pre-transform-scale2d: 1;
}

CitadelShopMod.owned
{
	box-shadow: none;
}

CitadelShopMod.owned:hover
{
	opacity: 1;
}

CitadelShopMod.atMaxActiveSlots
{
	brightness: 0.5;
}

CitadelShopMod.itemDisabled
{
	wash-color: #00000060;
	opacity: 0.2;
	box-shadow: none;
	saturation: 0;
}

CitadelShopMod.itemDisabled:hover
{
	pre-transform-scale2d: 1;
}

.Searching CitadelShopMod
{
	visibility: collapse;
}

.Searching CitadelShopMod.SearchMatch
{
	visibility: visible;
}

.mod_backer
{
	height: 100%;
	width: 100%;
	vertical-align: bottom;
	background-color: #000000ae;
	border-radius: 5px;
	box-shadow: 5px 5px 2px courageDarkerColor&80;
	background-color: offWhite;
	ignore-parent-flow: true;
}

CitadelShopMod.canAffordMod:hover .mod_backer,CitadelShopMod.owned:hover .mod_backer,CitadelShopMod.usedAsComponent:hover .mod_backer
{
	box-shadow: 2px 2px 0px courageDarkerColor&80;
}

CitadelShopMod.owned .mod_backer,CitadelShopMod.usedAsComponent .mod_backer
{
	background-color: offBlack;
	box-shadow: 2px 2px 0px courageDarkerColor&80;
}

.recommended_icon
{
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
	width: 22px;
	height: 22px;
	z-index: -1;
	wash-color: buildsLightColor&50;
}

.recommended .recommended_icon
{
	visibility: visible;
}

.recommended.usedAsComponent .recommended_icon,.recommended.owned .recommended_icon
{
	visibility: collapse;
}

.modStatusCol
{
	width: 30px;
	height: 30px;
	ignore-parent-flow: true;
	vertical-align: top;
	padding: 2px;
	border-radius: 5px 0px 0px 0px;
}

.recommended .modStatusCol
{
	background-color: buildsColor;
}

.spec_mode .recommended .modStatusCol
{
	visibility: collapse;
}

.owned .modStatusCol
{
	background-color: offWhite&ee;
}

.usedAsComponent .modStatusCol
{
	background-color: offBlack&00;
}

.isWeapon.owned .modStatusCol
{
	background-color: courageBrightColor;
}

.isTech.owned .modStatusCol
{
	background-color: spiritBrightColor;
}

.isArmor.owned .modStatusCol
{
	background-color: fortitudeBrightColor;
}

.isWeapon .modIconContainer
{
	background-color: #DD9541;
}

.isArmor .modIconContainer
{
	background-color: fortitudeBrightColor;
}

.isWeapon.isActiveItem .modIconContainer
{
	background-color: courageLightColor;
}

.owned.isWeapon.isActiveItem .modIconContainer,.owned.isTech.isActiveItem .modIconContainer,.owned.isArmor.isActiveItem .modIconContainer
{
	background-color: offBlack;
}

.isTech .modIconContainer
{
	background-color: spiritBrightColor;
}

.isTech.isActiveItem .modIconContainer
{
	background-color: spiritLightColor;
}

.isArmor.isActiveItem .modIconContainer
{
	background-color: fortitudeLightColor;
}

.defensive_icon
{
	width: 24px;
	height: 25px;
	horizontal-align: right;
	vertical-align: bottom;
	background-color: #1091A5;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude_shield.vsvg");
	background-img-opacity: 0.9;
	border-radius: 2px 0px 0px 0px;
	visibility: collapse;
}

.defensive .defensive_icon
{
	visibility: visible;
}

.owned .defensive_icon
{
	background-color: #00000000;
	opacity: 0.1;
}

.mod_icon
{
	background-image: none;
	background-size: 40px;
	width: 40px;
	height: 40px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1;
	transition-property: opacity, saturation;
	transition-duration: 0.3s;
	margin: 8px;
	wash-color: offWhite;
}

.isActiveItem .mod_icon
{
	wash-color: offBlack;
}

.isWeapon .mod_icon
{
	wash-color: courageDarkerColor;
}

.isTech .mod_icon
{
	wash-color: spiritDarkerColor;
}

.isArmor .mod_icon
{
	wash-color: fortitudeDarkerColor;
}

.owned .mod_icon
{
	opacity: 1;
}

#ModTier4 .owned .mod_icon
{
	opacity: 1;
	wash-color: #1a1a1a;
}

.isWeapon.usedAsComponent .mod_icon,.isWeapon.owned .mod_icon
{
	wash-color: courageBrightColor;
}

.isArmor.usedAsComponent .mod_icon,.isArmor.owned .mod_icon
{
	wash-color: fortitudeBrightColor;
}

.isTech.usedAsComponent .mod_icon,.isTech.owned .mod_icon
{
	wash-color: spiritBrightColor;
}

.isActiveItem.isWeapon.owned .mod_icon
{
	wash-color: courageLightColor;
}

.isActiveItem.isArmor.owned .mod_icon
{
	wash-color: fortitudeLightColor;
}

.isActiveItem.isTech.owned .mod_icon
{
	wash-color: spiritLightColor;
}

#background
{
	width: 100%;
	height: 100%;
	transition-property: background-color;
	transition-duration: 0s;
	flow-children: down;
}

.mod_bg
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: offWhite;
}

.modIconContainer
{
	horizontal-align: center;
	width: 100%;
	border-radius: 5px 5px 0px 0px;
	height: 55px;
}

.ModTierHovered .modIconContainer
{
	border-radius: 5px 5px 0px 0px;
}

.usedAsComponent .modIconContainer,.owned .modIconContainer
{
	background-color: offBlack;
}

.isTier4 .owned .modIconContainer
{
	background-color: #ffffff00;
	border-brush: gradient( linear, 0% 0%, 80% 100%, from( #1a1a1a ), to( #1a1a1a90 ) );
}

#ModTier4 .isWeapon.owned .modIconContainer
{
	background-color: gradient( linear, 50% 100%, 0% 0%, from( courageLightColor ), to( courageColor ) );
}

#ModTier4 .isArmor.owned .modIconContainer
{
	background-color: gradient( linear, 50% 100%, 0% 0%, from( fortitudeLightColor ), to( fortitudeColor ) );
}

#ModTier4 .isTech.owned .modIconContainer
{
	background-color: gradient( linear, 50% 100%, 0% 0%, from( spiritLightColor ), to( spiritColor ) );
}

.usedAsComponent #background,.owned #background
{
	opacity: 1;
}

.usedAsComponent #background:hover,.owned #background:hover
{
	background-color: colorCommonDarkestGray;
}

.sellWillDestroyItem.owned #background:hover .mod_icon
{
	wash-color: colorCommonDarkestGray;
}

#SellOverlay
{
	background-color: offBlack;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.owned:hover #SellOverlay
{
	visibility: visible;
}

.MessageContent
{
	vertical-align: middle;
	horizontal-align: middle;
	width: 100%;
	padding: 5px;
	flow-children: down;
}

.SellLabel
{
	width: 100%;
	height: 20px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 0px 5px 2.0 #000000;
}

.ItemName
{
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: semi-bold;
	text-align: center;
}

.isTech .ItemName
{
	color: spiritBrightColor;
}

.isWeapon .ItemName
{
	color: courageBrightColor;
}

.SellCost
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 10px;
	height: 24px;
}

#SellCostAmount
{
	font-weight: bold;
	color: offWhite;
	vertical-align: middle;
	margin-bottom: 4px;
	font-size: 16px;
}

#SellOverlay .goldIcon
{
	width: 20px;
	height: 20px;
	margin-right: 0px;
}

#ReturnToShop
{
	background-color: offBlack&ee;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.shopClosed CitadelShopMod:hover #ReturnToShop
{
	visibility: visible;
}

.ReturnLabel
{
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

CitadelShopMod.owned:hover #ReturnToShop
{
	visibility: collapse;
}

#CantAfford
{
	background-color: offBlack&f1;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

CitadelShopMod:hover #CantAfford
{
	visibility: visible;
}

CitadelShopMod.canAffordMod:hover #CantAfford,CitadelShopMod.owned:hover #CantAfford,.shopClosed CitadelShopMod:hover #CantAfford
{
	visibility: collapse;
}

.shopClosed CitadelShopMod:hover #CantAfford
{
	visibility: collapse;
}

.CantAffordLabel
{
	width: 100%;
	color: #dc3939;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

#AddToBuild
{
	background-color: buildsDarkColor&f1;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.gEditingBuilds CitadelShopMod:hover #AddToBuild
{
	visibility: visible;
}

CitadelShopMod.recommended:hover #AddToBuild,CitadelShopMod.itemDisabled:hover #AddToBuild,#ShopModsSelectedBuild CitadelShopMod:hover #AddToBuild
{
	visibility: collapse;
}

.AddToBuildLabel
{
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

#AlreadyInBuild
{
	background-color: #000000f1;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.gEditingBuilds CitadelShopMod.recommended:hover #AlreadyInBuild
{
	visibility: visible;
}

#RemoveFromBuild
{
	background-color: rgba(187, 31, 31, 0.9);
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.gEditingBuilds #ShopModsSelectedBuild CitadelShopMod:hover #RemoveFromBuild
{
	visibility: collapse;
}

.AddToBuildLabel
{
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

@keyframes 'upgrade_pulse'
{
	0%
	{
		background-color: #333333ff;
	}
	
	50%
	{
		background-color: #635D39FF;
	}
	
	100%
	{
		background-color: #333333ff;
	}
	
}

.mod_name_area
{
	height: fill-parent-flow(1.0);
	width: 100%;
	padding: 5px 2px;
	background-color: none;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: down;
}

.modName
{
	color: offBlack;
	font-size: 15px;
	font-weight: bold;
	line-height: 19px;
	vertical-align: center;
	vertical-align: middle;
	width: 100%;
	max-height: 50px;
	text-overflow: shrink;
	background-color: none;
	font-family: sans;
	text-align: center;
}

.owned .modName
{
	color: offWhite&90;
}

.usedAsComponent .modName
{
	font-style: italic;
	color: offWhite&90;
}

.New .modName
{
	width: 155px;
}

.hover .modName
{
	color: white;
}

.itemDisabled .modName
{
	font-style: italic;
}

.active_tag
{
	background-color: offBlack;
	horizontal-align: middle;
	margin-top: 46px;
	ignore-parent-flow: true;
	border-radius: 2px;
	visibility: collapse;
	min-width: 60px;
	width: fit-children;
}

.isActiveItem .active_tag
{
	visibility: visible;
}

#ActiveTag,#ActiveSlotsFull
{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 0px 3px 0px 3px;
	min-width: 60px;
	height: 17px;
	text-align: center;
}

#ActiveSlotsFull
{
	color: rgb(255, 88, 88);
}

#ActiveSlotsFull,.canAffordMod .atMaxActiveSlots #NewLabel,.atMaxActiveSlots #ActiveTag
{
	visibility: collapse;
}

.canAffordMod .atMaxActiveSlots #ActiveSlotsFull,.canAffordMod .owned.atMaxActiveSlots.New #NewLabel
{
	visibility: visible;
}

.new_tag
{
	horizontal-align: right;
	vertical-align: top;
	text-align: center;
	font-size: 13px;
	ignore-parent-flow: true;
	font-weight: bold;
	background-color: offWhite;
	background-color: #f83a3a;
	color: offWhite;
	visibility: collapse;
	padding: -1px 5px 0px 5px;
	border-radius: 0px 0px 0px 6px;
}

.New .new_tag
{
	visibility: visible;
}

.connectedToNewPlayerSandbox .new_tag,.connectedToLaneTraining .new_tag
{
	visibility: collapse;
}

.purchasedIcon
{
	horizontal-align: right;
	vertical-align: center;
	visibility: collapse;
	width: 100%;
	height: 100%;
	z-index: -1;
	wash-color: offBlack;
	background-size: contain;
}

.destroyIcon
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 8px;
	visibility: collapse;
	width: 24px;
	height: 24px;
	z-index: -1;
}

.sellWillDestroyItem.owned #background:hover .destroyIcon
{
	visibility: visible;
	wash-color: colorCommonDarkestGray;
}

.owned .purchasedIcon
{
	visibility: visible;
}

.sellWillDestroyItem.owned #background:hover .purchasedIcon
{
	visibility: collapse;
}

.showingFilters #ShopModsListAll CitadelShopMod
{
	visibility: collapse;
}

.showingFilters.ShowingWeaponDamageFilter #ShopModsListAll .WeaponDamageFilter,.showingFilters.ShowingMagicDamageFilter #ShopModsListAll .MagicDamageFilter,.showingFilters.ShowingDurabilityFilter #ShopModsListAll .DurabilityFilter,.showingFilters.ShowingFireRateFilter #ShopModsListAll .FireRateFilter,.showingFilters.ShowingClipSizeFilter #ShopModsListAll .ClipSizeFilter,.showingFilters.ShowingMeleeFilter #ShopModsListAll .MeleeFilter,.showingFilters.ShowingHealingFilter #ShopModsListAll .HealingFilter,.showingFilters.ShowingMovementFilter #ShopModsListAll .MovementFilter,.showingFilters.ShowingDisruptionFilter #ShopModsListAll .DisruptionFilter
{
	visibility: visible;
}

.componentIcon
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 8px;
	visibility: collapse;
	width: 20px;
	height: 20px;
	z-index: -1;
	opacity: 0.5;
}

.usedAsComponent .componentIcon
{
	visibility: visible;
}

#ComponentsContainer
{
	flow-children: right;
	horizontal-align: right;
	ignore-parent-flow: true;
	width: fit-children;
	height: 100%;
	z-index: 9;
}

.componentModIconContainer
{
	vertical-align: top;
	margin-top: 31px;
	margin-right: 5px;
	padding: 2px;
	background-color: offWhite;
	border-radius: 80px;
	overflow: noclip;
	width: 28px;
	height: 28px;
}

.owned .componentModIconContainer,.componentOwned .componentModIconContainer
{
	opacity: 1;
	background-color: offBlack&ee;
}

.owned .componentModIconContainer,.componentOwned .componentModIconContainer,.owned .isTechComponent.componentModIconContainer,.owned .isWeaponComponent.componentModIconContainer,.owned .isArmorComponent.componentModIconContainer
{
	background-color: offBlack&90;
}

#componentModIcon
{
	width: 20px;
	height: 20px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1;
}

#componentOwnedIcon
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateX(0px) translateY(3px);
	wash-color: fortitudeBrightColor;
	vertical-align: bottom;
	horizontal-align: right;
	visibility: collapse;
	img-shadow: 0px 0px 0px 3.0 offBlack;
}

.componentOwned #componentOwnedIcon
{
	visibility: visible;
}

.isWeaponComponent #componentModIcon
{
	wash-color: courageDarkColor;
	opacity: 1;
}

.isArmorComponent #componentModIcon
{
	wash-color: fortitudeDarkColor;
	opacity: 1;
}

.isTechComponent #componentModIcon
{
	wash-color: spiritDarkColor;
	opacity: 1;
}

.owned #componentModIcon,.componentOwned #componentModIcon
{
	wash-color: colorCommonOffWhite;
	opacity: 1;
	width: 17px;
	height: 17px;
	margin-right: 4px;
	margin-bottom: 5px;
}

.owned #componentModIcon
{
	opacity: 0.5;
	width: 10px;
	height: 10px;
}

.componentOwned .isWeaponComponent #componentModIcon
{
	wash-color: courageBrightColor;
}

.componentOwned .isArmorComponent #componentModIcon
{
	wash-color: fortitudeBrightColor;
}

.componentOwned .isTechComponent #componentModIcon
{
	wash-color: spiritBrightColor;
}

.owned .isTechComponent #componentModIcon
{
	wash-color: spiritBrightColor;
}

.owned .isWeaponComponent #componentModIcon
{
	wash-color: courageBrightColor;
}

CitadelShopMod.owned:hover .componentModIconContainer
{
	opacity: 0;
}

#Outline
{
	width: 100%;
	height: 100%;
	border: 3px solid white;
	z-index: 100;
	ignore-parent-flow: true;
	border-radius: 5px;
	visibility: collapse;
}

.HoveredItemIsComponent #Outline,.HoveredItemIsUpgrade #Outline
{
	visibility: visible;
}

.owned #Outline
{
	visibility: collapse;
}

