/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelRadialAbilitiesSegment.CitadelRadialAbilitiesSegment
{
	flow-children: down;
	padding: 20px;
	vertical-align: center;
	horizontal-align: center;
	pre-transform-scale2d: 0;
	transition-property: pre-transform-scale2d;
	transition-timing-function: ease-out;
	transition-duration: 0.125s;
	transition-delay: 0.0s;
}

.gAbilityUpgradeMenu CitadelRadialAbilitiesSegment.CitadelRadialAbilitiesSegment
{
	pre-transform-scale2d: 1.0;
}

CitadelRadialAbilitiesSegment.CitadelRadialAbilitiesSegment .radial_ability_contents
{
	vertical-align: center;
	horizontal-align: center;
	transition-property: pre-transform-scale2d;
	transition-timing-function: ease-out;
	transition-duration: 0.0125s;
	transition-delay: 0.0s;
	pre-transform-scale2d: 1.0;
}

CitadelRadialAbilitiesSegment.CitadelRadialAbilitiesSegment #CitadelAbilityIcon
{
	border: 12px;
}

.gAbilityUpgradeMenu .SegmentHover CitadelRadialAbilitiesSegment.CitadelRadialAbilitiesSegment.radial_ability_contents
{
	pre-transform-scale2d: 1.1;
}

#AbilityCostPanel
{
	width: fit-children;
	height: fit-children;
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
	wash-color: red;
	border: 25px;
}

#InnerRadiusSpacer
{
	margin-bottom: 35%;
}

.AspectRatio21x9 #InnerRadiusSpacer
{
	margin-bottom: 25%;
}

.not_trained #AbilityCostPanel
{
	wash-color: offWhite;
}

.trained.can_afford_upgrade #AbilityCostPanel
{
	wash-color: apCurrencyColor;
}

.ability_fully_upgraded #AbilityCostPanel
{
	opacity: 0.0;
}

#AbilityCostPanel .abilityUpgradeCostLabel
{
	color: white;
	font-size: 28px;
	wash-color: apCurrencyColor;
	opacity: 1;
}

.not_trained #AbilityCostPanel .abilityUpgradeCostLabel
{
	visibility: collapse;
}

#AbilityCostPanel .abilityLevelPip
{
	height: 20px;
	width: 20px;
	margin-right: 8px;
	background-size: contain;
	background-position: 50% 50%;
	vertical-align: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/ap_icon_psd.vtex");
	wash-color: offWhite;
	opacity: 0.4;
}

.not_trained #AbilityCostPanel .abilityLevelPip
{
	background-image: url("s2r://panorama/images/hud/unlock_icon.vsvg");
	opacity: 0.1;
	wash-color: offWhite;
}

.not_trained.ability_upgradable #AbilityCostPanel .abilityLevelPip
{
	opacity: 1;
	wash-color: apCurrencyColor;
}

.SegmentUpgradeFailed #AbilityCostPanel
{
	wash-color: colorEnemy;
}

.SegmentUpgradeFailed .abilityUpgradeCostLabel,.SegmentUpgradeFailed .abilityLevelPip
{
	animation-name: Anim_UpgradeFailed;
	animation-timing-function: ease-out;
	animation-duration: 0.06666s;
	animation-iteration-count: 4;
}

@keyframes 'Anim_UpgradeFailed'
{
	0%
	{
		transform: translateX(2px);
	}
	
	60%
	{
		transform: translateX(2px);
	}
	
	61%
	{
		transform: translateX(-2px);
	}
	
	100%
	{
		transform: translateX(-2px);
	}
	
}

CitadelRadialAbilitiesSegment CitadelHudAbilityUpgradePips
{
	width: 100%;
	height: fit-children;
	vertical-align: center;
	horizontal-align: center;
	background-color: transparent;
}

CitadelRadialAbilitiesSegment CitadelHudAbilityUpgradePips #TrainButton
{
	visibility: collapse;
}

CitadelRadialAbilitiesSegment CitadelHudAbilityUpgradePips
{
	visibility: visible;
}

