/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

AbilityDetailsPanel
{
	font-family: sans;
	width: 650px;
	padding: 10px 0px;
}

#UpdateTime
{
	background-color: #11111190;
	color: colorCommonOffWhite;
	font-size: 14px;
	visibility: collapse;
	padding: 0px 8px 1px 8px;
	margin-top: 20px;
	border-radius: 2px;
	font-weight: semi-bold;
}

.recentlyUpdated #UpdateTime
{
	visibility: visible;
}

.HeaderContainer
{
	width: 100%;
	padding: 20px 20px 20px 30px;
}

.AbilityName
{
	font-family: oracle;
	font-weight: bold;
	font-size: 36px;
	max-height: 50px;
	text-overflow: shrink;
	max-width: 370px;
	margin-bottom: 10px;
	margin-left: 6px;
}

.AbilityName .highlight
{
	font-family: "Swear Text Demo";
	font-style: italic;
	font-weight: semi-bold;
	font-size: 32px;
}

#BasicPropertiesContainer
{
	flow-children: right-wrap;
	width: 100%;
	background-color: #00000070;
	background-color: offWhite&08;
	margin: 3px 1px 1px 2px;
	padding: 8px 5px;
}

#BasicPropertiesContainer.NoVisibleBasicProperties
{
	visibility: collapse;
}

#SectionsContainer
{
	padding: 0px 30px 20px 40px;
}

#SectionsContainer,.AbilityPropertiesBlock,#PromotedPropertiesContainer
{
	width: 100%;
}

.AbilityPropertiesBlock
{
	margin-bottom: 5px;
}

.HideHeaderText.AbilityPropertiesBlock
{
	margin-top: 15px;
}

.HeaderRight
{
	horizontal-align: right;
	vertical-align: top;
	flow-children: down;
	margin-right: 0px;
}

#ImbueList
{
	flow-children: down;
}

.ImbueBlock
{
	flow-children: right;
	padding: 3px;
}

.ImbueBlock CitadelModIcon
{
	vertical-align: center;
}

.ImbuedLabel
{
	font-size: 16px;
	horizontal-align: left;
	vertical-align: center ;
	margin-left: 10px;
	color: spiritBrightColor;
	font-weight: bold;
	font-style: italic;
}

#PromotedPropertiesContainer
{
	height: fit-children;
	margin-top: 5px;
}

.CommonAttribute
{
	margin: 0px 2px 0px 0px;
}

.AdditionalHeaderAttribute.CommonAttribute
{
	visibility: visible;
}

.AdditionalHeaderAttribute.CommonAttribute.Hidden
{
	visibility: collapse;
}

#AbilityCooldown
{
	horizontal-align: right;
}

.HeaderContainer AbilityPropertyPanel
{
	width: fit-children;
	height: 34px;
}

.HeaderContainer .HeaderRight AbilityPropertyPanel
{
	height: 34px;
}

#BasicPropertiesContainer AbilityPropertyPanel
{
	width: 49%;
	margin-right: 0px;
	margin-left: 0px;
}

#HeaderAttributesContainer .CurrentValue
{
	font-size: 17px;
}

AbilityPropertyPanel
{
	width: fill-parent-flow(1.0);
	height: 85px;
}

.PropertiesBlockHeaderLabel
{
	font-weight: medium;
	color: silvered;
	font-size: 18px;
	margin-bottom: 8px;
	line-height: 130%;
}

.PropertiesBlockHeaderLabel .AbilityPropertyIcon
{
	width: 22px;
	height: 22px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.HideHeaderText .PropertiesBlockHeaderLabel
{
	visibility: collapse;
}

.PropertiesBlockHeaderLabel .highlight
{
	font-weight: bold;
	color: offWhite;
}

.PropertiesBlockHeaderLabel .highlight_special
{
	color: #e9a34e;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .highlight_weapon
{
	color: #FF9900;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .highlight_tech
{
	color: techColor;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .highlight_armor
{
	color: armorColor;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .highlight_courage
{
	color: courageBrightColor;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .highlight_spirit
{
	color: spiritBrightColor;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .highlight_fortitude
{
	color: fortitudeBrightColor;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .InlineGlyph
{
	width: 20px;
	height: 20px;
}

.PropertiesBlockHeaderLabel .diminish
{
	font-style: italic;
	color: #bfbbb050;
}

#BrawlMsg
{
	flow-children: right;
	padding: 0px 30px 20px 40px;
	margin-bottom: 20px;
	margin-top: -10px;
	visibility: collapse;
}

.brawlModified #BrawlMsg
{
	visibility: visible;
}

#BrawlMsg .brawl_icon
{
	width: 12px;
	height: 12px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/hud/brawl/icon_brawl.vsvg");
	background-size: cover;
	wash-color: #ecc64c;
	margin-right: 5px;
	margin-left: 5px;
	opacity: 0.6;
}

#BrawlMsg Label
{
	font-size: 14px;
	color: silvered;
	opacity: 0.6;
	font-style: italic;
}

