/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHeroChallengeStatus
{
	flow-children: down;
	padding: 36px;
	border-radius: 5px 5px 0px 0px;
	world-blur: ingameHudBlur;
	width: 600px;
	background-image: url("s2r://panorama/images/seasonal/2025/snowball_tooltip_bg_psd.vtex");
	background-img-opacity: 0.3;
	background-color: offBlack&aa;
}

.ChallengeHeader
{
	flow-children: down;
	margin-bottom: 20px;
	horizontal-align: center;
}

.ChallengeHeader Label
{
	font-family: block;
	color: offWhite;
	text-align: center;
	horizontal-align: center;
	text-shadow: 2px 2px 0px #00000030;
}

.ChallengeHeader .ChallengeTitle
{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.ChallengeHeader .ChallengeDescription
{
	font-size: 14px;
	color: offWhite&66;
	font-family: sans;
}

#LocalPlayerChallengeStatus
{
	horizontal-align: center;
}

.ChallengeStatusRowContainer
{
	flow-children: down;
	margin-bottom: 10px;
}

.ChallengeStatusRowContainer .HeroIcons
{
	flow-children: right-wrap;
}

.ChallengeStatusRowContainer .HeroIcons CitadelHeroImage
{
	width: 64px;
	height: 64px;
	padding: 20px 17px 16px 16px;
	saturation: 0;
	opacity: 0.6;
	brightness: 0.5;
	img-shadow: 1px 1px 4px #00000030;
	background-size: cover;
	background-img-opacity: 0.8;
}

.ChallengeStatusRowContainer .HeroIcons CitadelHeroImage.complete
{
	saturation: 1;
	brightness: 1;
	opacity: 1;
	saturation: 0.96;
}

.ChallengeStatusRowContainer CitadelHeroImage:nth-child(3n+1)
{
	background-image: url("s2r://panorama/images/seasonal/2025/ornament_red_psd.vtex");
}

.ChallengeStatusRowContainer CitadelHeroImage:nth-child(3n+2)
{
	background-image: url("s2r://panorama/images/seasonal/2025/ornament_blue_psd.vtex");
}

.ChallengeStatusRowContainer CitadelHeroImage:nth-child(3n+3)
{
	background-image: url("s2r://panorama/images/seasonal/2025/ornament_green_psd.vtex");
}

.ChallengeStatusRowContainer.LocalPlayer .PlayerName
{
	visibility: collapse;
}

.PlayerName
{
	font-size: 16px;
	color: offWhite&11;
	font-family: oracle;
	margin: 0px 0px 8px 4px;
	font-weight: bold;
	text-shadow: 2px 2px 0px #00000030;
}

#FriendsContainer
{
	flow-children: down;
	width: fit-children;
}

#FriendsContainer CitadelHeroImage
{
	width: 36px;
	height: 36px;
	padding: 8px;
}

#FriendsContainer .ChallengeStatusRowContainer
{
	background-color: offBlack&05;
	border-radius: 16px;
	padding: 8px 12px 12px 12px;
	box-shadow: 2px 2px 0px #00000030;
}

#FriendsContainer .ChallengeStatusRowContainer.NoUnlockedHeroes
{
	visibility: collapse;
}

.RefreshButton
{
	visibility: collapse;
	margin: 4px;
	margin-top: 20px;
	border: 1px solid offWhite;
	background-color: green;
	padding: 4px;
}

.FakeData .RefreshButton
{
	visibility: visible;
}

.RefreshButton Label
{
	color: offWhite;
	vertical-align: center;
	horizontal-align: center;
	font-weight:bold;
}

