/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define ModTierTopPadding: 10px;
@define ModTierBottomPadding: 20px;
CitadelShopModsTier
{
	width: 1060px;
	height: fit-children;
	opacity: 1;
	padding: 14px 0px;
	transition-property: brightness, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	tooltip-position: left;
}

.AspectRatio16x10 CitadelShopModsTier
{
	width: 1069px;
}

CitadelShopModsTier.ModTierHovered
{
	opacity: 1;
	wash-color: none;
	z-index: 2;
	background-color: #ffffff05;
}

.ModTier2,.ModTier4
{
	background-color: #00000050;
}

.ModTier2.ModTierHovered,.ModTier4.ModTierHovered
{
	background-color: #ffffff05;
}

.showingWeapon CitadelShopModsTier.ModTierHovered
{
	background-color: courageBrightColor&20;
}

.showingArmor CitadelShopModsTier.ModTierHovered
{
	background-color: fortitudeBrightColor&20;
}

.showingTech CitadelShopModsTier.ModTierHovered
{
	background-color: spiritBrightColor&20;
}

.showingFavorites CitadelShopModsTier.ModTierHovered
{
	background-color: #ffe76030;
}

.showingFavorites CitadelShopModsTier
{
	padding: 20px 0px;
}

#ModTier1
{
	padding-top: 20px;
}

.RelatedItemInOtherTier .ModsContainer CitadelShopMod
{
	opacity: 0.5;
	brightness: 0.5;
}

.RelatedItemInOtherTier .ModsContainer CitadelShopMod:hover
{
	opacity: 1;
	brightness: 1;
}

.RelatedItemInOtherTier .ModsContainer CitadelShopMod.HoveredItemIsComponent
{
	opacity: 1;
	animation-name: itemUpgradeAvailable;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

.RelatedItemInOtherTier .ModsContainer CitadelShopMod.HoveredItemIsUpgrade
{
	wash-color: white;
	pre-transform-scale2d: 1.05;
	opacity: 1;
	brightness: 2;
}

@keyframes 'itemUpgradeAvailable'
{
	0%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.05;
		brightness: 1.5;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

CitadelShopModsTier.canAfford,CitadelHeroDetailsPage CitadelShopModsTier,CitadelHeroDetailsPage CitadelShopModsTier:hover
{
	brightness: 1;
}

.shopClosed CitadelShopModsTier
{
	wash-color: #00000090;
}

CitadelShopModsTier:hover #GoldCostContainer
{
	transition: background-color 0.5s ease-in-out 0s;
}

CitadelShopModsTier.canAfford:hover #GoldAndModsContainer
{
	brightness: 1.35;
	transition: brightness 0.5s ease-in-out 0.0s;
}

CitadelShopModsTier:hover .tierBonusContainer
{
	transition: opacity 0.15s ease-in-out 0.0s;
	opacity: 1;
}

#GoldAndModsContainer
{
	width: 100%;
	height: fit-children;
	brightness: 1;
	transition: brightness 0.15s ease-in-out 0.0s;
	wash-color: #00000020;
	flow-children: right;
}

#PassiveMods
{
	opacity: 1;
	brightness: 1;
	pre-transform-scale2d: 1;
	wash-color: #a405059a;
	transition-property: pre-transform-scale2d, background-color;
	transition-duration: 0.15s;
}

.showingWeapon .ModTierHovered #GoldAndModsContainer
{
	wash-color: #00000000;
}

.canAfford #PassiveMods
{
	wash-color: none;
}

.ModTierHovered #PassiveMods
{
	blur: gaussian(0.0);
	brightness: 1;
	opacity: 1;
	pre-transform-scale2d: 1;
}

#GoldCostContainer
{
	opacity: 0.5;
	vertical-align: middle;
	horizontal-align: center;
	flow-children: right;
	transition: background-color 0.15s ease-in-out 0s;
	margin: 0%;
	height: 100px;
	width: 60px;
}

.ModTierHovered #GoldCostContainer
{
	opacity: 1;
}

.goldContain
{
	flow-children: right;
	horizontal-align: center;
	height: 60px;
	width: fit-children;
	vertical-align: middle;
	transform: rotateZ( -90deg );
	overflow: noclip;
}

#PassiveMods
{
	vertical-align: middle;
}

#PassiveModsContainer
{
	flow-children: right-wrap;
}

.goldIcon
{
	vertical-align: center;
	opacity: 0.2;
	margin-right: 5px;
	width: 12px;
	height: 22px;
}

.canAfford .goldIcon
{
	opacity: 1;
}

.goldCost
{
	color: colorEnemy;
	vertical-align: center;
	font-size: 20px;
	font-weight: bold;
	horizontal-align: center;
	text-align: center;
}

.canAfford .goldCost
{
	color: shardColor;
}

.componentPlus
{
	margin-top: 2px;
	margin-left: 2px;
	visibility: collapse;
}

.ModTier3 .componentPlus,.ModTier4 .componentPlus
{
	visibility: visible;
}

