/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelAccountSurvey
{
	width: 100%;
	height: 180px;
}

.NoQuestionReady
{
	visibility: collapse;
}

.SubmittingResponse #SubmittingResponse
{
	visibility: visible;
}

.SubmittingResponse .SubmittingLabel
{
	visibility: visible;
}

.SubmittingResponse .QuestionText
{
	visibility: collapse;
}

#SurveyQuestion
{
	width: 100%;
	background-color: #0a0a0ada;
	border: 1px solid #a6ffcf04;
	box-shadow: inset #00000040 0px 5px 100px 30px;
	world-blur: menuBlur;
}

#SurveyTitle
{
	color: silvered;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	vertical-align: center;
	margin: 0px 8px;
}

#SurveyDesc
{
	color: #7ea389cc;
	font-weight: bold;
	font-size: 16px;
	font-style: italic;
	margin-left: 8px;
	margin-right: 8px;
	vertical-align: center;
	horizontal-align: right;
	visibility: collapse;
}

#QuestionNumber
{
	color: silvered&88;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin-left: 8px;
	margin-right: 8px;
	vertical-align: center;
	horizontal-align: right;
}

#SurveyHeader
{
	flow-children: right;
	height: fit-children;
	background-color: #58af8012;
	width: 100%;
	padding: 4px 12px;
	height: 40px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #58af8012 ), color-stop( 0.5, #58af8006 ), to( #58af8000 ) );
}

#QuestionContainer
{
	flow-children: right;
	width: 100%;
}

#SurveyQuestion
{
	flow-children: down;
	height: 100%;
}

#ResponseContainer
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
	flow-children: down;
}

.RatingName
{
	font-weight: semi-bold;
	color: silvered&70;
	margin-top: 16px;
	font-weight: bold;
	text-transform: uppercase;
	visibility: collapse;
}

.ShowRatingName .RatingName
{
	visibility: visible;
}

#QuestionLine
{
	flow-children: down;
	height: fill-parent-flow(1.0);
}

#ResponseLine
{
	visibility: collapse;
	flow-children: right;
	vertical-align: bottom;
	margin-bottom: 0px;
	width: 100%;
	margin: 16px 24px 16px 0px;
}

.ShowRatingLine #ResponseLine
{
	visibility: visible;
}

.RatingButton
{
	border-radius: 50%;
	border: 1px solid silvered;
	color: #FFEFD700;
	width: 28px;
	height: 28px;
	margin: 0px 8px 0px 0px;
	transition-property: brightness, background-color;
	transition-duration: 0.12s;
	transition-timing-function: ease-in-out;
	brightness: 0.5;
}

.AwaitingSelection .RatingButton:hover,.RatingButton.Selected
{
	background-color: silvered;
	brightness: 1.2;
}

.AwaitingSelection .RatingButton:hover Label,.RatingButton.Selected Label
{
	color: black;
}

.RatingButton Label
{
	horizontal-align: center;
	color: silvered;
	text-align: center;
	font-family: sansMono;
}

#Skip
{
	vertical-align: top;
	horizontal-align: right;
	border: 1px solid rgb(79, 79, 79);
	height: 28px;
	border-radius: 50px;
	margin: 16px;
	ignore-parent-flow: true;
}

#Skip:hover
{
	brightness: 1.2;
}

#SkipLabel
{
	color: silvered;
	opacity: 0.6;
	transition-property: brightness;
	transition-duration: 0.12s;
	transition-timing-function: ease-in-out;
	brightness: 0.5;
	vertical-align: center;
	font-size: 16px;
	vertical-align: middle;
	font-weight: semi-bold;
	margin-top: 1px;
	height: 28px;
	padding: 0px 10px;
}

.AwaitingSelection #SkipLabel:hover,#SkipLabel.Selected
{
	brightness: 1.2;
}

.SurveyInfo
{
	vertical-align: center;
	opacity: 0.4;
}

.RatingLabel
{
	color: silvered&22;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	vertical-align: center;
	margin-right: 4px;
}

.SubmittingLabel
{
	visibility: collapse;
	font-weight: semi-bold;
	color: silvered;
	margin-top: 4px;
}

.QuestionText
{
	font-weight: semi-bold;
	color: silvered;
	margin-top: 4px;
}

.playtestHighlight
{
	color: #ff7f7f;
}

#HeroDisplay
{
	visibility: collapse;
	margin-right: 16px;
	height: 140px;
}

.ShowHeroPreview #HeroDisplay
{
	visibility: visible;
}

#ItemDisplay
{
	visibility: collapse;
}

.ShowItemPreview #ItemDisplay
{
	visibility: visible;
}

#HeroSelection
{
	visibility: collapse;
	horizontal-align: center;
}

.ShowHeroSelection #HeroSelection
{
	visibility: visible;
	width: 100%;
	flow-children: right;
}

.HeroSelection
{
	width: 128px;
	height: 128px;
	border: 1px solid black;
	margin: 0px 10px;
}

.HeroSelection:hover
{
	border: 1px solid white;
}

#PromptRow
{
	width: fit-children;
	flow-children: down;
}

