/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHudItemBarGraph
{
	flow-children: right;
	width: fit-children;
	height: 100%;
	horizontal-align: center;
	background-color: #ffffff02;
	border-radius: 3px;
	padding: 5px;
}

.modsProgressBar
{
	width: 12px;
	height: 70%;
	horizontal-align: center;
	vertical-align: middle;
	border-radius: 2px;
	border: 1px solid #ffffff10;
	tooltip-position: top;
	margin-top: 6px;
}

.gShopOpen .modsProgressBar
{
	width: 12px;
	height: 74%;
	vertical-align: top;
	margin-top: 0px;
}

#CitadelModBonusDisplay .modsProgressBar
{
	width: 30px;
}

CitadelHudTopBar .modsProgressBar
{
	height: 100%;
	margin-top: 0px;
}

CitadelTooltipModBonusDisplay .modsProgressBar
{
	height: 100%;
	margin: 10px 0px;
}

.progressBarContainer
{
	width: 15px;
	height: 100%;
	flow-children: down;
	margin-top: 5px;
}

.gShopOpen .progressBarContainer
{
	margin-left: 2px;
	margin-right: 2px;
}

#CitadelModBonusDisplay .progressBarContainer
{
	width: 50px;
	padding: 0px 10px;
}

CitadelHudTopBar .progressBarContainer
{
	margin-top: 0px;
}

#CenterProgressBar
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff00 ), color-stop( 0.9, #ffffff30 ), color-stop( 1, #ffffff ), to( #ffffff ) );
	vertical-align: bottom;
	animation-name: deltaswipe;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

@keyframes 'deltaswipe'
{
	0%
	{
		opacity: 1;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff00 ), color-stop( 0.9, #ffffff30 ), color-stop( 1, #ffffff ), to( #ffffff ) );
	}
	
	50%
	{
		opacity: 1;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff00 ), color-stop( 0, #ffffff00 ), color-stop( 0.1, #ffffff ), to( #ffffff ) );
	}
	
	100%
	{
		opacity: 0.01;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff00 ), color-stop( 0, #ffffff00 ), color-stop( 0.1, #ffffff ), to( #ffffff ) );
	}
	
}

.progressBarImage
{
	height: 14px;
	width: 14px;
	background-size: 100% 100%;
	tooltip-position: top;
	margin-left: 1px;
	margin-top: 3px;
}

.gShopOpen .progressBarImage
{
	visibility: visible;
}

.weaponImage
{
	background-image: url("s2r://panorama/images/shop/keystat_courage_png.vtex");
}

.armorImage
{
	background-image: url("s2r://panorama/images/shop/keystat_fortitude_png.vtex");
}

.techImage
{
	background-image: url("s2r://panorama/images/shop/keystat_spirit_png.vtex");
}

.ProgressBarRight
{
	background-color: black;
}

#CenterProgressBar
{
	z-index: 2;
}

.ProgressBarLeft
{
	z-index: 3;
}

CitadelScoreboardMods .ProgressBarRight
{
	background-color: #333333;
}

#WeaponProgressBar .ProgressBarLeft
{
	background-color: courageBrightColor;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( courageBrightColor ), to( courageLightColor) );
}

#ArmorProgressBar .ProgressBarLeft
{
	background-color: fortitudeBrightColor;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( fortitudeBrightColor ), to( fortitudeLightColor) );
}

#TechProgressBar .ProgressBarLeft
{
	background-color: spiritBrightColor;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( spiritBrightColor ), to( spiritLightColor) );
}

.weaponStats .techProgressBarContainer,.weaponStats .armorProgressBarContainer,.armorStats .weaponProgressBarContainer,.armorStats .techProgressBarContainer,.spiritStats .weaponProgressBarContainer,.spiritStats .armorProgressBarContainer
{
	visibility: collapse;
}

.percentBar
{
	height: 1px;
	width: 100%;
	background-color: #FFFFFF07;
	z-index: 2;
}

.percentBar.tierReached
{
	background-color: #00000090;
}

.percentBar.currentTier
{
	background-color: #ffffff;
	height: 1px;
}

#BarPercentContainer
{
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 5;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.gShopOpen #BarPercentContainer,CitadelTooltipModBonusDisplay #BarPercentContainer
{
	opacity: 1;
}

#TopBar #BarPercentContainer
{
	visibility: collapse;
}

#TopBar CitadelHudItemBarGraph
{
	padding: 0px;
	margin: 5px 0px;
}

#TopBar .modsProgressBar
{
	width: 10px;
	margin: 0px 2px;
	border-radius: 50px;
}

#TopBar .progressBarContainer
{
	width: 14px;
}

