/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHudModBarGraph
{
	flow-children: down;
	width: 60px;
}

.modsProgressBar
{
	width: 100%;
	height: 6px;
	margin-top: 1px;
	margin-bottom: 1px;
}

CitadelHudHeroShop .modsProgressBar
{
	height: 12px;
	border-radius: 50px;
	margin: 6px 0px;
}

.gShopOpen CitadelHudModBarGraph
{
	padding: 2px 0px 6px 0px;
}

.ProgressBarRight
{
	background-color: black;
}

CitadelScoreboardMods .ProgressBarRight
{
	background-color: #333333;
}

#WeaponProgressBar .ProgressBarLeft
{
	background-color: courageBrightColor;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( courageBrightColor ), to( courageLightColor) );
}

#ArmorProgressBar .ProgressBarLeft
{
	background-color: fortitudeBrightColor;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( fortitudeBrightColor ), to( fortitudeLightColor) );
}

#TechProgressBar .ProgressBarLeft
{
	background-color: spiritBrightColor;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( spiritBrightColor ), to( spiritLightColor) );
}

.weaponStats #ArmorProgressBar,.weaponStats #TechProgressBar,.armorStats #WeaponProgressBar,.armorStats #TechProgressBar,.spiritStats #WeaponProgressBar,.spiritStats #ArmorProgressBar
{
	visibility: collapse;
}

