/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelBinding
{
	margin: 0px 2px;
}

.Contents
{
	flow-children: right;
}

#HoldProgressBG,#HoldProgress
{
	visibility: collapse;
}

CitadelBinding.HasHoldAction #HoldProgressBG,CitadelBinding.HasHoldAction #HoldProgress
{
	visibility: visible;
	width: 100%;
	height: 100%;
	border: 2px solid ominousGreen;
	border-radius: 6px;
}

CitadelBinding.HasHoldAction #HoldProgressBG
{
	animation-name: WaitingPulse;
	animation-duration: 1.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

CitadelBinding.HasHoldAction .Contents
{
	padding: 2px;
}

CitadelBinding.HasHoldAction.HoldActivated
{
	animation-name: ActivatedPulse;
	animation-duration: 0.2s;
}

CitadelBinding.HasHoldAction.IsPressed #HoldProgressBG
{
	animation-name: none;
	visibility: collapse;
}

CitadelBinding.HasDownAction.DownActivated:not(.HasUpAction)
{
	animation-name: ActivatedPulse;
	animation-duration: 0.2s;
}

CitadelBinding.HasUpAction.HasDownAction
{
	transition-property: pre-transform-scale2d;
	transition-duration: 0.08s;
}

CitadelBinding.HasUpAction.HasDownAction.IsPressed
{
	pre-transform-scale2d: 0.92;
}

@keyframes 'WaitingPulse'
{
	0%
	{
		opacity: 1.0;
	}
	
	50%
	{
		opacity: 0.0;
	}
	
	100%
	{
		opacity: 1.0;
	}
	
}

@keyframes 'ActivatedPulse'
{
	0%
	{
		transform: scale3d( 0.9, 0.9, 1.0 );
	}
	
	100%
	{
		transform: scale3d( 1.0, 1.0, 1.0 );
	}
	
}

.hasControllerConnected.isUsingController #HoldProgress
{
	height: 100%;
	width: 100%;
	border-radius: 40px;
	horizontal-align: center;
}

CitadelBinding CitadelGamePadBinding
{
	visibility: collapse;
}

.hasControllerConnected.isUsingController CitadelBinding CitadelKeyboardBinding
{
	visibility: visible;
}

.hasControllerConnected.isUsingController CitadelBinding CitadelGamePadBinding
{
	visibility: visible;
}

.hasControllerConnected.isUsingController CitadelBinding CitadelKeyboardBinding
{
	visibility: collapse;
}

.hasControllerConnected.isUsingController CitadelBinding.ForceKeyboardGlyphs CitadelKeyboardBinding
{
	visibility: visible;
}

.hasControllerConnected.isUsingController .ZooContainerPanelCitadelBinding CitadelBinding CitadelGamePadBinding,.hasControllerConnected.isUsingController .ZooContainerPanelCitadelBinding CitadelBinding CitadelKeyboardBinding
{
	visibility: visible;
}

.abilities .item_passive CitadelBinding
{
	visibility: collapse;
}

#MatchmakingStatus CitadelBinding.HasHoldAction #HoldProgress
{
	background-color: ominousGreen;
}

