/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_hero_builds_shared.vcss_c");
CitadelShopModsBuild
{
	height: 100%;
	width: 100%;
	overflow: squish scroll;
	background-color: citadelBuildsColorBackgroundGray;
	flow-children: down;
	visibility: collapse;
}

CitadelShopModsBuild .BuildHeaderShared
{
	width: 100%;
	height: 60px;
	flow-children: right;
	background-color: buildsColor;
	border-top: 8px solid buildsLightColor;
}

CitadelShopModsBuild .BuildHeaderShared .SelectedBuildName
{
	margin: 4px;
	vertical-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
}

CitadelShopModsBuild .SelectedBuildDescription
{
	margin: 4px;
	vertical-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
	visibility: collapse;
}

.gEditingBuilds CitadelShopModsBuild .BuildHeader
{
	visibility: collapse;
}

CitadelShopModsBuild .BuildHeader #BrowseHeroBuildsButton
{
	ignore-parent-flow: true;
	horizontal-align: right;
	opacity: 1;
	margin: 5px;
	margin-right: 20px;
}

.gBrowsingBuilds CitadelShopModsBuild .BuildHeader #BrowseHeroBuildsButton
{
	visibility: collapse;
}

CitadelShopModsBuild .BuildHeader #ExitHeroBuildsButton
{
	ignore-parent-flow: true;
	horizontal-align: right;
	opacity: 1;
	visibility: collapse;
	margin: 5px;
	margin-right: 20px;
}

.gBrowsingBuilds CitadelShopModsBuild .BuildHeader #ExitHeroBuildsButton
{
	visibility: visible;
}

CitadelShopModsBuild .BuildHeaderEdit
{
	visibility: collapse;
}

.gEditingBuilds CitadelShopModsBuild .BuildHeaderEdit
{
	visibility: visible;
}

CitadelShopModsBuild .BuildHeaderEdit #BuildNameTextEntry
{
	margin: 4px;
	margin-left: 10px;
	width: 400px;
}

CitadelShopModsBuild .BuildHeaderEdit .AddCategoryButton
{
	ignore-parent-flow: true;
	horizontal-align: right;
	opacity: 1;
	visibility: collapse;
	margin: 0px;
	margin-right: 20px;
}

.gEditingBuilds CitadelShopModsBuild .BuildHeaderEdit .AddCategoryButton
{
	visibility: visible;
}

.gEditingBuilds CitadelShopModsBuild
{
	background-color: citadelBuildsColorDarkBlue;
}

CitadelShopModsBuild #CategoryContainer
{
	flow-children: right-wrap;
	padding: 8px;
	overflow: clip clip;
}

CitadelShopModsBuild #ControlsContainer
{
	flow-children: right;
	height: 60px;
	vertical-align: bottom;
}

CitadelShopModsBuild .SecondaryButton
{
	background-color: lightgrey;
}

CitadelShopModsBuild .SecondaryButton Label
{
	color: black;
}

