/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelConnectionStatus.StatusNotification.Status_NoSteam .Details Label,CitadelConnectionStatus.StatusNotification.Status_SteamUpdating .Details Label
{
	color: steamBlue;
}

CitadelConnectionStatus.StatusNotification .Details Label
{
	color: #9C3333;
}

CitadelConnectionStatus.StatusNotification.Status_NoSteam .Icon,CitadelConnectionStatus.StatusNotification.Status_SteamUpdating .Icon
{
	background-image: url("s2r://panorama/images/icons/icon_steam.vsvg");
	wash-color: steamBlue;
	animation-name: WaitingPulseLight;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.IconContainer
{
	width: 64px;
	height: 64px;
}

.Status_NoSession .IconContainer,.Status_GCUpdating .IconContainer,.Status_LoggingIn .IconContainer
{
	wash-color: #9C3333;
	background-image: url("s2r://panorama/images/main_menu/deadlock_logo_outer.vsvg");
	background-texture-size: 64px 64px;
	background-size: 64px 64px;
	flow-children: none;
}

.Status_GCUpdating .IconContainer,.Status_LoggingIn .IconContainer
{
	animation-name: RotateOuter;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.Icon
{
	vertical-align: middle;
	horizontal-align: center;
	background-size: contain;
	width: 64px;
	height: 64px;
	background-texture-size: 64px 64px;
	background-size: 64px 64px;
	background-repeat: no-repeat;
	background-position: center;
}

.Status_NoSession .Icon,.Status_GCUpdating .Icon,.Status_LoggingIn .Icon
{
	background-image: url("s2r://panorama/images/main_menu/deadlock_logo_inner.vsvg");
	wash-color: none;
}

.Status_GCUpdating .Icon,.Status_LoggingIn .Icon
{
	animation-name: RotateInner;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.Status_NoSession .Icon
{
	animation-name: WaitingPulseLight;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

