/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelPlayPage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	flow-children: right;
}

#BotTitle
{
	horizontal-align: left;
	margin-top: 50px;
	ignore-parent-flow: true;
	margin-top: 90px;
	width: 100%;
}

#PlayOptions
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	overflow: noclip;
}

#SubOptions
{
	flow-children: down;
	overflow: noclip;
}

.playOptionContainer
{
	flow-children: down;
	height: 480px;
	width: 340px;
	margin: 0px 10px 0px 10px;
	border-radius: 10px;
	background-color: #ffffff15;
	box-shadow: 0px 0px 30px #00000090;
	transition-property: pre-transform-scale2d, brightness, border;
	transition-duration: 0.1s;
}

#BotMatchmaking.playOptionContainer
{
	margin-right: 80px;
}

.optionWithPartyContainer
{
	margin: -30px;
	padding: 30px 40px 30px 30px;
	flow-children: down;
}

#1v1Testing
{
	visibility: collapse;
}

.in_party #1v1Testing
{
	visibility: visible;
}

.in_party .playOptionPartyContainer,.HideParties .playOptionPartyContainer
{
	visibility: collapse;
}

.playOptionPartyContainer
{
	height: 60px;
	width: 340px;
	margin: 20px 10px 0px 10px;
	border-radius: 10px;
	background-color: #ffffff15;
	box-shadow: 0px 0px 30px #00000090;
	transition-property: pre-transform-scale2d, brightness, border;
	transition-duration: 0.1s;
}

.createPartyLabel
{
	color: white;
	font-size: 20px;
	vertical-align: center;
	font-weight: semi-bold;
	font-family: CriteriaCF;
}

.playOptionPartyContainer:hover:enabled
{
	brightness: 1.1;
	pre-transform-scale2d: 1.1;
	z-index: 10;
	box-shadow: 0px 0px 20px #00000090;
	background-color: #ffffff20;
}

.playOptionContainer:hover:enabled
{
	brightness: 1.1;
	pre-transform-scale2d: 1.1;
	z-index: 10;
	box-shadow: 0px 0px 20px #00000090;
	background-color: #ffffff20;
}

.playOptionContainer:disabled
{
	opacity: 1;
}

.playOptionContainer:hover .backArrow
{
	transform: translateX(-5px) rotateY( 180deg );
}

.playOptionTop
{
	width: 100%;
	flow-children: down;
	margin: 30px 30px 30px 30px;
	background-size: 100% 100%;
}

.playOptionContainer:disabled .playOptionTop .buttonImage
{
	opacity: 0.5;
	wash-color: #000000aa;
	saturation: 0.2;
}

Label.unavailableText
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
	font-weight: semi-bold;
	z-index: 10;
	visibility: collapse;
}

.playOptionContainer:disabled .unavailableText
{
	visibility: visible;
}

.playOptionBottom
{
	width: 100%;
	padding: 0px 20px;
	height: fill-parent-flow(1.0);
	background-color: #00000040;
}

.buttonImage
{
	width: 180px;
	height: 180px;
	horizontal-align: center;
	margin-bottom: 10px;
	wash-color: offWhite;
	opacity: 0.3;
}

.BotMatchGuidedImage
{
	width: 100%;
	height: 100%;
	background-color: #376a1f;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/main_menu/training_guided_psd.vtex");
}

.HideCoopBot #BotMatchmaking
{
	visibility: collapse;
}

.BotMatchmakingImage
{
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: none;
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_bots_coop.vsvg");
}

.BotMatchEasyImage
{
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: none;
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_bots_normal.vsvg");
}

.BotMatchHardImage
{
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: none;
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_bots_hard.vsvg");
}

.BotsTitle
{
	flow-children: down;
	horizontal-align: center;
}

.playLabel
{
	color: offWhite;
	font-size: 50px;
	font-weight: semi-bold;
	font-family: Swear Deck Demo;
	horizontal-align: center;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;
}

.playLevel
{
	color: #ffffff50;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	horizontal-align: center;
}

#BotMatchmaking .playLevel
{
	opacity: 0;
}

.playDesc
{
	color: #ffffff90;
	font-size: 18px;
	font-weight: medium;
}

.bottomOptionContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	width: 100%;
}

#EnterMatchmaking .backArrow
{
	margin-top: 32px;
}

#EnterMatchmaking,#1v1BotMatch
{
	visibility: collapse;
}

.playOptionBottom .backArrow
{
	wash-color: white;
	transform: rotateY( 180deg );
	height: 26px;
	width: 28px;
	horizontal-align: right;
	margin-left: 15px;
	margin-right: 10px;
	transition-property: transform, margin-left;
	transition-duration: 0.3s;
}

.cardBorder
{
	width: 100%;
	height: 100%;
	border: 5px solid #ffffff00;
	ignore-parent-flow: true;
	z-index: 10;
}

.playOptionContainer:hover:enabled .cardBorder,.playOptionPartyContainer:hover:enabled .cardBorder
{
	border: 5px solid #ffffff90;
}

