/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelProfilePage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	flow-children: right;
}

#Title
{
	horizontal-align: left;
	margin-top: 50px;
	ignore-parent-flow: true;
	margin-left: 150px;
	margin-top: 70px;
}

#Title Label
{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
}

.playOptionBottom
{
	background-color: #202020;
	width: 100%;
	padding: 0px 15px 0px 15px;
	height: 185px;
}

.playOptionBottom .backArrow
{
	wash-color: white;
	transform: rotateY( 180deg );
	height: 26px;
	width: 28px;
	horizontal-align: left;
	margin-left: 15px;
	margin-right: 10px;
	transition-property: transform, margin-left;
	transition-duration: 0.3s;
}

.MainContents
{
	width: 1700px;
	height: 830px;
	flow-children: right;
	margin-left: 100px;
	margin-top: 160px;
	background-color: black;
}

.LeftPanel
{
	width: 20%;
	height: 100%;
}

.RightPanel
{
	width: 70%;
	flow-children: down;
	height: 100%;
	background-color: #252525;
}

.StatsBody
{
	width: 100%;
	height: 100%;
	flow-children: down;
	background-color: offBlack&90;
}

.ProfileSection
{
	width: 100%;
	height: 110px;
	background-color: offBlack;
	flow-children: right;
	padding: 0px 20px;
	margin-bottom: 30px;
}

.StatsSectionLoading
{
	visibility: collapse;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.StatsSectionLoading Label
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 20px;
	color: white;
}

.isLoadingStats .StatsSectionLoading
{
	visibility: visible;
}

.isLoadingStats #StatsSection
{
	visibility: collapse;
}

#StatsSection
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: down;
	visibility: collapse;
	overflow: clip scroll;
}

.StatsFooter
{
	width: 100%;
	height: 150px;
	visibility: collapse;
	flow-children: right;
	padding: 0px 20px;
}

.hasFavoriteHero .StatsFooter
{
	visibility: visible;
}

.StatRow
{
	width: 100%;
	flow-children: right;
	padding: 10px 0px;
}

.StatValue
{
	vertical-align: center;
	width: 190px;
	margin-right: 20px;
}

.StatValue Label
{
	color: offWhite;
	font-size: 28px;
	font-weight: bold;
	horizontal-align: right;
	font-family: sansMono;
}

.StatName
{
	vertical-align: center;
	width: fill-parent-flow( 1.0 );
}

.StatName Label
{
	color: #a4a4a4;
	font-size: 26px;
}

.MatchHistoryTitle
{
	width: 100%;
}

.MatchHistoryTitle Label
{
	color: white;
	padding: 10px;
	font-size: 28px;
	horizontal-align: center;
	text-transform: uppercase;
}

#MatchListingLoading
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	visibility: collapse;
}

.isLoading #MatchListingLoading
{
	visibility: visible;
}

#MatchListingLoading Label
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 30px;
	color: white;
}

#MatchListing
{
	horizontal-align: center;
	width: 90%;
	height: fill-parent-flow( 1.0 );
	flow-children: down;
	padding: 0px 40px;
}

.isLoading #MatchListing
{
	visibility: collapse;
}

.MatchHistoryFooter
{
	width: 100%;
	height: 60px;
	padding: 10px;
}

.MatchHistoryButton
{
	border: 1px solid white;
	height: 100%;
	width: 150px;
	visibility: collapse;
}

.MatchHistoryButton:hover
{
	border: 1px solid yellow;
}

.MatchHistoryButton:hover Label
{
	color: yellow;
}

.MatchHistoryButton Label
{
	color: white;
	font-size: 22px;
	horizontal-align: center;
	vertical-align: center;
}

.canNavPrev #PrevMatchPage
{
	visibility: visible;
}

.canNavNext #NextMatchPage
{
	visibility: visible;
}

#PrevMatchPage
{
	horizontal-align: left;
}

#NextMatchPage
{
	horizontal-align: right;
}

#SelfImage
{
	width: 60px;
	height: 60px;
	vertical-align: center;
	margin: 0px 15px;
	border: 2px solid #4c4c4c90;
}

#SelfName
{
	vertical-align: center;
}

#SelfName Label
{
	font-weight: bold;
	font-size: 26px;
}

#FavoriteHeroImage
{
	width: 80px;
	height: 100px;
	vertical-align: center;
	margin-right: 20px;
	padding: 1px;
}

#FavoriteHeroImage:hover
{
	border: 1px solid white;
	padding: 0px;
}

.HeroRightCol
{
	flow-children: down;
	vertical-align: center;
}

.MostPlayedLabel
{
	font-size: 22px;
	color: #888888;
}

.MostPlayedNameLabel
{
	font-size: 30px;
	color: white;
}

#ForumButton
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 20px;
	opacity: 0.3;
	visibility: collapse;
}

.hasJoinedForum #ForumButton
{
	visibility: visible;
}

.ForumIcon
{
	width: 16px;
	height: 16px;
	wash-color: offBlack;
	vertical-align: middle;
	margin-top: 3px;
	opacity: 1;
	margin-right: 8px;
	background-image: url("s2r://panorama/images/icons/icon_feedback.vsvg");
	background-size: contain;
}

