/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPlayerLevel
{
	height: 60px;
	width: 60px;
	horizontal-align: left;
	vertical-align: bottom;
	transition-property: opacity;
	transition-duration: 0.2s;
	visibility: visible;
	opacity: 1;
	transition-duration: 0.1s;
	transition-timing-function: ease;
	z-index: 2;
}

.PlayerLevelContainer
{
	opacity: 1;
	height: 120px;
	width: 60px;
	vertical-align: bottom;
}

Label
{
	font-family: sansMono;
	font-weight: bold;
}

@define soulsImageHeight: 60px;
@define soulsFillerHeight: 51px;
#PlayerLevelNumber
{
	text-align: center;
	horizontal-align:middle;
	vertical-align: middle;
	font-size: 28px;
	z-index: 4;
	margin-top: 5px;
	margin-left: 5px;
	text-shadow: 0px 0px 6.0 #00000030;
	text-shadow: 0px 0px 10px #00000060;
}

.SoulsLevelImages
{
	height: soulsImageHeight;
	height: 60px;
	width: 60px;
	background-size: 60px soulsImageHeight;
}

#SoulsFrame
{
	background-image: url("s2r://panorama/images/hud/core/spirit_jar_frame_png.vtex");
}

#Souls
{
	height: soulsImageHeight;
	width: 60px;
	vertical-align: bottom;
	horizontal-align: left;
	z-index: 2;
}

#SoulsFill
{
	background-image: url("s2r://panorama/images/hud/core/spirit_jar_fill_png.vtex");
	background-size: 52px soulsFillerHeight;
	background-position: 50% 100%;
	opacity: 0.4;
	margin: 4px 5px;
	height: soulsFillerHeight;
	width: 60px;
	background-repeat: no-repeat;
	vertical-align: bottom;
	z-index: 2;
}

#SoulsFillContainer
{
	width: 100%;
	vertical-align: bottom;
}

.SoulsImage
{
	background-size: 100% 100%;
	vertical-align: center;
	background-image: url("s2r://panorama/images/hud/icons/icon_soul.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 24px;
	wash-color: shardColor;
	wash-color: offWhite;
	opacity: 0.4;
	width: 18px;
	margin-left: 2px;
}

#LevelAmount
{
	flow-children: right;
	horizontal-align: right;
	margin-top: 38px;
	margin-right: 35px;
	ignore-parent-flow: true;
	z-index: 10;
}

#HeroLevelIcon
{
	width: 35px;
	height: 20px;
	background-color: #ffffff30;
	margin-right: 5px;
	margin-top: 3px;
}

.toNext
{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

