/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelKeyboardBinding
{
	width: fit-children;
	height: fit-children;
	vertical-align: center;
	horizontal-align: middle;
	flow-children: right;
}

CitadelKeyboardBinding .MultiBindSeparator
{
	width: fit-children;
	height: fit-children;
	vertical-align: center;
	horizontal-align: middle;
	text-align: center;
}

