/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#NavButton
{
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid white;
	width: 400px;
	height: 240px;
	margin: 30px;
}

#NavButton:hover #Icon
{
	brightness: 1;
}

.IsUnlockable.Unlocked #NavButton
{
	border-color: white;
}

.IsUnlockable #NavButton
{
	border-color: yellow;
}

.IsUnlockable #Icon
{
	saturation: 0;
}

.IsUnlockable.Unlocked #Icon
{
	saturation: 1;
}

.ComingSoon .UnlockCtn,.Unlocked .UnlockCtn
{
	visibility: collapse;
}

.ComingSoon #NavButton
{
	background-color: black;
	border-color: yellow;
}

.ComingSoonText
{
	visibility: collapse;
	font-size: 10px;
	color: yellow;
}

.ComingSoon .ComingSoonText
{
	visibility: visible;
}

.UnlockCtn
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: right;
}

.UnlockIcon
{
	background-image: url("s2r://panorama/images/upgrades/lock_icon_psd.vtex");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	wash-color: red;
	margin-right: 10px;
	margin-bottom: 10px;
}

.CanAfford .UnlockIcon
{
	wash-color: white;
}

.SingleUnlock .UnlockCost
{
	visibility: collapse;
}

.NotReachable #NavButton
{
	background-color: #444444;
	border-color: red;
}

#Icon
{
	width: 100%;
	height: 100%;
	brightness: 0.2;
}

.Prompt
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 28px;
	text-shadow: 1px 1px 0px 3.0 #000000;
	font-weight: bold;
}

