/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelBuildTag
{
	tooltip-position: top;
	tooltip-body-position: 50% 0%;
	context-menu-body-position: 50% 50%;
	margin: 4px;
	margin-right: 20px;
	padding: 2px;
	background-color: buildsLightColor&50;
	flow-children: right;
}

CitadelBuildTag.Small
{
	padding: 0px;
	border: 0px;
	border-radius: 2px;
	margin: 0px 2px;
}

CitadelBuildTag.Small #TagImage
{
	width: 38px;
	height: 38px;
}

CitadelBuildTag.Empty
{
	background-color: offBlack&40;
	opacity: 0.6;
}

CitadelBuildTag.Empty #TagImage
{
	opacity: 0.1;
}

#HeroBuildListItem CitadelBuildTag
{
	margin: 0px 2px;
	border: 1px solid red;
}

#TagImage
{
	width: 60px;
	height: 60px;
}

#TagLabel
{
	visibility: collapse;
	vertical-align: center;
	margin-left: 10px;
	font-weight: bold;
	text-overflow: shrink;
	padding-right: 10px;
	font-size: 14px;
	max-width: 100px;
	max-height: 64px;
	color: offWhite&aa;
}

.ShowLabel #TagLabel
{
	visibility: visible;
}

