/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelModBonus
{
	width: 91px;
	height: 65px;
	horizontal-align: middle;
	flow-children: up;
	overflow: noclip;
}

Label
{
	color: colorCommonOffWhite;
	font-family: "Retail Demo";
}

.modTypeImage
{
	width: 40px;
	height: 40px;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	ignore-parent-flow: true;
	vertical-align: top;
	z-index: 1;
	margin-top: -13px;
	opacity-brush: gradient( linear, 0% 50%, 0% 100%, from( #ffffffff ), to( #ffffff00 ) );
}

.WeaponMods .modTypeImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_courage.vsvg");
	background-image: url("s2r://panorama/images/shop/keystat_courage_png.vtex");
}

.ArmorMods .modTypeImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude.vsvg");
	background-image: url("s2r://panorama/images/shop/keystat_fortitude_png.vtex");
}

.TechMods .modTypeImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_spirit.vsvg");
	background-image: url("s2r://panorama/images/shop/keystat_spirit_png.vtex");
}

.modTypeLabel
{
	horizontal-align: center;
	text-align: center;
	font-family: serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: -4px;
	z-index: 2;
}

.modTypeValue
{
	horizontal-align: center;
	text-align: center;
	font-size: 12px;
	font-weight: semi-bold;
	opacity: 0.6;
	padding-bottom: 0px;
	z-index: 2;
}

.weaponStats .modTypeValue
{
	color: courageLightColor;
}

.armorStats .modTypeValue
{
	color: fortitudeLightColor;
}

.spiritStats .modTypeValue
{
	color: spiritLightColor;
}

CitadelHudModBarGraph
{
	horizontal-align: center;
}

