/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHeroBuildsPage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	visibility: visible;
}

#DashboardShop
{
	visibility: visible;
}

.ButtonItems
{
	flow-children: right;
	horizontal-align: middle;
	vertical-align: middle;
	overflow: noclip;
}

.actionItemButton
{
	background-color: #ffffff10;
	transition-property: background-color;
	transition-duration: 0.3s;
	overflow: noclip;
	padding: 10px 20px;
	width: 320px;
	height: 70px;
	z-index: 10;
	margin-bottom: 10px;
	border-radius: 3px;
	transition-property: background-color, border;
	transition-duration: 0.3s;
}

.actionItemButton Label
{
	vertical-align: center;
	horizontal-align: center;
	font-weight: semi-bold;
	font-size: 34px;
	transition-property: transform, color, brightness;
	transition-duration: 0.3s;
	color: offWhite;
}

.actionItemButton:hover
{
	brightness: 1.6;
}

.actionItemButton:hover Label
{
	color: #ffffff;
}

.actionItemButton:hover .Arrow
{
	transform: translateX(5px);
}

.actionItemButton.disabled,.disabled .ButtonItems,.disabled Label
{
	opacity: 0.6;
}

.disabled.actionItemButton:hover
{
	opacity: 0.6;
}

.disabled.actionItemButton:hover Label
{
	color: offWhite;
}

.disabled.actionItemButton:hover
{
	brightness: 1;
}

.testingButton:hover
{
	brightness: 1.3;
	background-color: #ffffff30;
}

.HeroBuildNav
{
	visibility: collapse;
	flow-children: down;
	background-color: offWhite&05;
	height: 100%;
	width: 510px;
	margin-left: 60px;
	margin-top: 220px;
	margin-bottom: 150px;
	z-index: 300;
}

.NavContainer
{
	flow-children: down;
	margin: 20px;
	width: 100%;
	height: 100%;
}

.creating_build #CreateHeroBuildsNav
{
	visibility: visible;
}

.browsing_build #BrowseHeroBuildsNav
{
	visibility: visible;
}

.HeroBuildsTitle
{
	font-size: 36px;
	font-weight: bold;
	horizontal-align: center;
	text-align: center;
}

.HeroBuildsSubTitle
{
	margin-top: 20px;
	padding: 5px;
	font-weight: bold;
	font-size: 26px;
}

.HeroBuildsDesc
{
	font-family: sans;
	font-size: 18px;
	font-weight: medium;
	text-align: left;
	margin-top: 8px;
	opacity: 0.5;
	padding-bottom: 10px;
}

#BuildCreatorPanel
{
	padding-top: 10px;
	padding-left: 10px;
	flow-children: right;
}

.HeroBuildCreator
{
	font-family: sans;
	font-size: 18px;
	font-weight: medium;
}

.SharePanel
{
	padding: 5px;
	flow-children: right;
}

#HeroBuildName
{
	margin-left: 2px;
	width: 100%;
	font-size: 18px;
	text-overflow: clip;
	white-space: nowrap;
}

#HeroBuildDescription
{
	margin-left: 2px;
	width: 100%;
	height: 220px;
	font-size: 18px;
	text-overflow: clip;
	white-space: normal;
	overflow: squish scroll;
}

.Checkbox
{
	width: 35px;
	height: 35px;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/getting_started/checklist_task_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: visible;
	vertical-align: center;
	wash-color: white;
}

.public_build_checked .Checkbox
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
	wash-color: none;
}

#PublicBuildLabel
{
	margin-top: 4px;
	font-weight: bold;
	font-size: 28px;
}

#CreateHeroBuildPanel
{
	visibility: collapse;
	flow-children: down;
}

#BrowseHeroBuildsPanel #HeroBuildDescription
{
	vertical-align: center;
	margin-left: 2px;
	width: 100%;
	height: 260px;
	font-size: 18px;
	text-overflow: clip;
	white-space: normal;
	overflow: squish scroll;
}

#BrowseHeroBuildsPanel
{
	visibility: collapse;
	flow-children: down;
}

.BrowseHeroBuildDescription
{
	border: 1px solid baseBorder;
	width: 352px;
	height: 36px;
	padding: 4px 7px 3px 7px;
	background-color: #00000050;
	font-size: 18px;
	font-family: sans;
	font-weight: normal;
	color: offWhite;
}

#SaveBuildButton,#BuildSavedButton
{
	margin-right: 10px;
	width: 200px;
	font-family: serif;
	font-weight: bold;
	font-size: 20px;
	color: offWhite;
	background-color: #ffffff30;
	padding: 1px;
	horizontal-align: center;
}

#DeleteBuildButton
{
	width: 200px;
	font-family: serif;
	font-weight: bold;
	font-size: 20px;
	color: offWhite;
	background-color: darkred;
	padding: 1px;
	horizontal-align: center;
}

#SelectBuildButton
{
	font-weight: bold;
	font-size: 28px;
	color: offWhite;
	background-color: #ffffff30;
	padding: 10px;
	margin-top: 20px;
	horizontal-align: center;
}

#FavoriteBuildContainer,#SelectBuildContainer,#EditButtonsContainer
{
	z-index: 12;
	horizontal-align: center;
}

#FavoriteBuildButton
{
	font-weight: bold;
	font-size: 28px;
	color: offWhite;
	background-color: #ffffff30;
	padding: 10px;
	margin-top: 20px;
	horizontal-align: center;
	opacity: 1;
	background-color: #00000030;
}

#FavoriteBuildButtonLabel
{
	color: ritualGreen;
	opacity: 1;
}

.selectedIcon
{
	width: 26px;
	height: 26px;
	wash-color: ritualGreen;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 10px;
}

#EditButtonsContainer
{
	flow-children: right;
}

#SelectBuildContainer
{
	visibility: visible;
}

#FavoriteBuildContainer
{
	visibility: collapse;
}

#DeleteBuildButton
{
	visibility: collapse;
}

.CanDeleteBuild #DeleteBuildButton,#SaveBuildButton
{
	visibility: visible;
}

#BuildSavedButton
{
	visibility: collapse;
}

.IsFavoriteBuild #SelectBuildContainer
{
	visibility: collapse;
}

.IsFavoriteBuild #FavoriteBuildContainer
{
	visibility: visible;
}

.IsBuildSaved #SaveBuildButton
{
	visibility: collapse;
}

.IsBuildSaved #BuildSavedButton
{
	visibility: visible;
}

#ExistingBuildSelector
{
	width: 470px;
	padding-bottom: 20px;
}

#HeroBuildSelector
{
	width: 100%;
}

#CreateBuildContainer,#EditBuildContainer
{
	horizontal-align: center;
}

.SelectionContainer
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	height: 40%;
}

#NewOrEditContainer
{
	visibility: visible;
}

#EditContainer
{
	visibility: collapse;
}

.EditingBuild #EditContainer
{
	visibility: visible;
}

.EditingBuild #NewOrEditContainer
{
	visibility: collapse;
}

#CustomBuild
{
	visibility: visible;
}

#DefaultBuild
{
	visibility: collapse;
}

.IsDefaultBuild #CustomBuild
{
	visibility: collapse;
}

.IsDefaultBuild #DefaultBuild
{
	visibility: visible;
}

