/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelFooterBar
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: right;
	margin: 16px;
	height: 28px;
	z-index: 100;
	width: 100%;
}

.IsShowingHomePage CitadelFooterBar
{
	visibility: collapse;
}

.showPlayMenu.IsShowingHomePage CitadelFooterBar
{
	visibility: visible;
}

.NoFooterBar CitadelFooterBar
{
	visibility: collapse;
}

CitadelFooterBar .FooterCommand
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: middle;
	height: 28px;
	opacity: 0.2;
	transition-property: brightness;
	transition-timing-function: ease-in-out;
	transition-duration: 0.10s;
}

CitadelFooterBar .FooterCommand:hover
{
	brightness: 2.0;
}

CitadelFooterBar .FooterCommand > Label
{
	margin-left: 4px;
	font-size: 20px;
	color: offWhite&88;
	font-family: block;
	text-transform: uppercase;
}

CitadelFooterBar .ReverseFlow.FooterCommand
{
	flow-children: left;
}

#LeftCommandPanel .FooterCommand
{
	horizontal-align: left;
}

.FooterCommandLabel
{
	vertical-align: middle;
	margin-left: 8px;
	font-weight: semi-bold;
}

CitadelFooterBar .controlKeyBind
{
	min-width: 32px;
	min-height: 28px;
	margin: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	background-color: rgba(240, 233, 231, 0.1);
}

.CommandPanel
{
	width: fill-parent-flow( 1.0 );
}

.DefaultESC
{
	visibility: collapse;
}

.useDefaultEsc .DefaultESC
{
	visibility: visible;
}

.InlineGlyph
{
	height: 34px;
	width: 34px;
	background-size: 100% 100%;
}

CitadelFooterBar CitadelBinding
{
	vertical-align: middle;
}

