/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelShopMod
{
	height: 72px;
	width: 640px;
	margin-bottom: 8px;
	tooltip-position: left;
	tooltip-body-position: 50% 50%;
}

.AspectRatio16x10 CitadelShopMod
{
	width: 600px;
}

.modStatusCol
{
	width: 72px;
	height: 72px;
}

.isWeapon .modIconContainer
{
	background-color: courageColor;
}

.isTech .modIconContainer
{
	background-color: spiritColor;
}

.mod_icon
{
	background-image: none;
	background-size: 48px;
	width: 48px;
	height: 48px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1;
	transition-property: opacity, saturation;
	transition-duration: 0.3s;
	margin: 8px;
	wash-color: colorCommonOffWhite;
}

.modIconContainer
{
	width: 72px;
	height: 72px;
}

.owned .mod_icon
{
	opacity: 1;
}

.disabled .mod_icon
{
	visibility: collapse;
}

#background
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.itemContainer
{
	width: 100%;
	height: 100%;
	border-radius: 4px;
	flow-children: right;
	background-color: favBGColor4;
}

.isWeapon .itemContainer
{
	background-color: courageDarkColor;
}

.isTech .itemContainer
{
	background-color: spiritDarkColor;
}

.shopClosed .itemContainer
{
	background-color: defaultBGColor4;
}

#background:hover .itemContainer
{
	background-color: rgb(153, 112, 0);
}

.isWeapon #background:hover .itemContainer
{
	background-color: courageColor;
}

.isTech #background:hover .itemContainer
{
	background-color: spiritColor;
}

.shopClosed #background:hover .itemContainer
{
	background-color: rgb(115, 115, 115);
}

.owned #background .itemContainer
{
	background-color: rgba(26,26,26, 0.5);
	opacity: 1;
}

.owned .modIconContainer
{
	background-color: offBlack;
}

.isWeapon.owned .mod_icon
{
	wash-color: courageBrightColor;
}

.isTech.owned .mod_icon
{
	wash-color: spiritBrightColor;
}

.owned #background:hover .itemContainer
{
	background-color: colorCommonDarkestGray;
	opacity: 1;
}

@keyframes 'upgrade_pulse'
{
	0%
	{
		background-color: #333333ff;
	}
	
	50%
	{
		background-color: #635D39FF;
	}
	
	100%
	{
		background-color: #333333ff;
	}
	
}

.mod_name_area
{
	vertical-align: center;
	flow-children: down;
	padding-left: 8px;
	width: 280px;
}

.AspectRatio16x10 .mod_name_area
{
	width: 250px;
}

.modName
{
	color: rgba(243, 240, 231, 0.7);
	font-size: 21px;
	font-weight: semi-bold;
	vertical-align: center;
	transition-property: color;
	transition-duration: 0.2s;
	text-overflow: shrink;
	width: 100%;
}

.New .modName
{
	width: 155px;
}

.owned .modName
{
	color: rgba(255, 255, 255, 0.5);
}

.hover .modName
{
	color: white;
}

.disabled .modName
{
	color: grey;
	opacity: 0.4;
}

.new_tag
{
	vertical-align: center;
	background-color: red;
	color: white;
	border-radius: 3px;
	visibility: collapse;
	width: 65px;
	text-align: center;
	horizontal-align: right;
	ignore-parent-flow: true;
	font-size: 12px;
	font-weight: semi-bold;
	margin-right: 10px;
}

.New .new_tag
{
	visibility: visible;
}

.connectedToNewPlayerSandbox .new_tag,.connectedToLaneTraining .new_tag
{
	visibility: collapse;
}

.purchasedIcon
{
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
	width: 24px;
	height: 24px;
	z-index: -1;
	wash-color: colorCommonOffWhite;
}

.owned .purchasedIcon
{
	visibility: visible;
}

#ItemCostContainer
{
	width: 192px;
	height: 72px;
	flow-children: right;
	horizontal-align: right;
	vertical-align: center;
	background-color: rgba(26,26,26, 0.4);
}

.AspectRatio16x10 #ItemCostContainer
{
	width: 152px;
}

.canAfford #ItemCostContainer
{
	background-color: rgba(26,26,26, 0.6);
}

.owned #ItemCostContainer,.owned .canAfford #ItemCostContainer
{
	background-color: rgba(26,26,26, 0);
}

#background:hover #ItemCostContainer
{
	background-color: colorCommonDarkestGray;
}

.itemCostContent
{
	margin-right: 16px;
	horizontal-align: right;
	vertical-align: center;
	flow-children: right;
}

.itemGoldIcon
{
	height: 16px;
	width: 16px;
	background-image: url("s2r://panorama/images/hud/orb_icon_png.vtex");
	margin-left: 5px;
	background-size: 100% 100%;
	vertical-align: center;
}

.itemCostLabel
{
	color: colorEnemy;
	font-size: 30px;
	font-weight: bold;
	vertical-align: center;
}

.canAfford .itemCostLabel,CitadelHeroDetailsPage .itemCostLabel
{
	color: colorGold;
}

.purchaseOrderContainer
{
	width: 32px;
	height: 32px;
	margin-right: 16px;
	font-size: 14px;
	font-weight: bold;
	color: favColor;
	vertical-align: center;
	text-align: center;
	background-color: favBGColor1;
	border-radius: 16px;
}

.shopClosed .purchaseOrderContainer
{
	background-color: defaultBGColor1;
	color: colorCommonOffWhite;
}

.owned .purchaseOrderContainer
{
	background-color: colorCommonDarkestGray;
}

.purchaseOrderLabel
{
	font-size: 14px;
	font-weight: bold;
	color: colorCommonOffWhite;
	opacity: 0.5;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	visibility: visible;
}

.owned .purchaseOrderLabel
{
	visibility: collapse;
}

