/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelModIcon
{
	tooltip-body-position: 50% 50%;
	overflow: noclip;
	padding: 3px;
}

CitadelHudTopBar CitadelModIcon
{
	tooltip-body-position: 90% 90%;
}

CitadelHudTopBar .enemy CitadelModIcon
{
	tooltip-body-position: 10% 10%;
}

CitadelHudQuickbuy CitadelModIcon
{
	tooltip-position: top;
}

CitadelModIcon.newSlotUnlocked
{
	animation-name: FlexSlotUnlocked;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

#Enhanced
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	horizontal-align: left;
	visibility: collapse;
	text-shadow: 2px 2px 0px black;
	opacity: 1;
	background-color: gradient( linear, 0% 60%, 60% 0%, from( enhancedColorDark&90 ), to( enhancedColorDark&00 ) );
	background-image: url("s2r://panorama/images/shop/enhanced_arrow_png.vtex");
	background-size: 16px 20px;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.isEnhanced #Enhanced
{
	visibility: visible;
}

@keyframes 'FlexSlotUnlocked'
{
	0%
	{
		pre-transform-scale2d: 1;
		border: 3px solid offWhite&00;
	}
	
	50%
	{
		pre-transform-scale2d: 2;
		border: 3px solid offWhite;
		background-color: offWhite&20;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		border: 3px solid offWhite&00;
	}
	
}

CitadelModIcon.IsNewItem
{
	animation-name: isNewItem;
	animation-duration: 1s;
	animation-iteration-count: 3;
}

CitadelHudTopBarPlayer CitadelModIcon
{
	brightness: 0.8;
	wash-color: team1Color&80;
	ui-scale: 60%;
	margin: 2px;
}

.team2 CitadelHudTopBarPlayer CitadelModIcon
{
	wash-color: team2Color&80;
}

CitadelHudTopBarPlayer CitadelModIcon.isTier0
{
	visibility: collapse;
	opacity: 0.4;
}

CitadelHudTopBarPlayer:selected CitadelModIcon
{
	opacity: 1;
	brightness: 1;
	saturation: 1;
	wash-color: none;
}

@keyframes 'isNewItem'
{
	0%
	{
		brightness: 1;
		wash-color: none;
	}
	
	50%
	{
		brightness: 3;
	}
	
	100%
	{
		brightness: 1;
		wash-color: none;
	}
	
}

.mod_icon
{
	height: 100%;
	width: 100%;
	margin: 2px;
	background-size: 100% 100%;
	background-position: 50% 50%;
}

#ModIconImage
{
	height: 100%;
	width: 100%;
	visibility: collapse;
}

.hasAbility #ModIconImage
{
	visibility: visible;
}

.mod_icon
{
	visibility: collapse;
}

.IsBeingDragged .mod_icon_background_container
{
	height: 96px;
	width: 96px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

#PurchaseItemIcon .mod_icon_background_container
{
	margin-top: 8px;
}

.mod_icon_background_container
{
	background-size: 32px;
	width: 32px;
	height: 32px;
	background-image: none;
	vertical-align: center;
	horizontal-align: center;
}

.mod_icon_background_container
{
	width: 100%;
	height: 100%;
}

.mod_tier_line:hover .mod_upgrade_text,.selected .mod_upgrade_text
{
	color: white;
}

.mod_icons_container
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	margin-bottom: 10px;
}

.mod_icon_single_container
{
	flow-children: none;
	height: 35px;
	width: 35px;
	width: 45px;
	height: 45px;
	background-color: #00000030;
	border-radius: 3px;
	z-index: 1;
}

#SurveyQuestion .mod_icon_single_container
{
	width: 100px;
	height: 100px;
	margin: 17px;
	padding: 0px;
}

#PlayersContainer CitadelHudTopBarPlayer .unowned.mod_icon_single_container
{
	background-color: #00000099;
}

.isWeapon .mod_icon_single_container
{
	background-color: #DD9541;
	background-color: courageLightColor;
}

.isArmor .mod_icon_single_container
{
	background-color: fortitudeBrightColor;
	background-color: fortitudeLightColor;
}

.isTech .mod_icon_single_container
{
	background-color: spiritLightColor;
}

.isTier5 .mod_icon_single_container
{
	background-color: none;
}

#StatsAndModsContainer .unowned.mod_icon_single_container
{
	background-color: #ffffff05;
	opacity: 0.8;
}

#StatsAndModsContainer .unowned.mod_icon_single_container
{
	background-color: #11111190;
	background-color: #ffffff05;
}

.Locked .mod_icon_single_container
{
	background-image: url("s2r://panorama/images/hud/shop_ability_upgrades_lock_icon_png.vtex");
	background-size: 35% 45%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-img-opacity: 0.25;
}

#StatsAndModsContainer .Locked .mod_icon_single_container
{
	background-img-opacity: 0.15;
	background-size: 40% 50%;
}

#AbilitySlotMenu .unowned.mod_icon_single_container
{
	background-color: #ffffff10;
	opacity: 0.3;
}

#BuyNextButton .mod_icon
{
	wash-color: offWhite;
}

#BuyNextButton .isWeapon .mod_icon_single_container
{
	background-color: courageColor;
}

#BuyNextButton .isTech .mod_icon_single_container
{
	background-color: spiritColor;
}

PopupSellMaxItems CitadelModIcon,.largeDragIcon.IsBeingDragged
{
	width: 70px;
	height: 70px;
	margin: 0px;
	padding: 0px;
}

PopupSellMaxItems .mod_icon_single_container,PopupActivatedAbilitiesSelection .mod_icon_single_container
{
	width: 70px;
	height: 70px;
	margin: 0px;
	padding: 0px;
	horizontal-align: center;
}

PopupSellMaxItems .mod_icon_background_container,PopupActivatedAbilitiesSelection .mod_icon_background_container,.largeDragIcon.IsBeingDragged .mod_icon_background_container
{
	width: 56px;
	height: 56px;
	margin: 0px;
	padding: 0px;
}

PopupSellMaxItems #PurchaseItemIcon .mod_icon_background_container,PopupActivatedAbilitiesSelection #PurchaseItemIcon .mod_icon_background_container,.largeDragIcon.IsBeingDragged .mod_icon_background_container
{
	margin: 0px;
	padding: 0px;
}

PopupSellMaxItems #ModToPurchaseContainer CitadelModIcon,PopupActivatedAbilitiesSelection #ModToPurchaseContainer CitadelModIcon,.largeDragIcon.IsBeingDragged CitadelModIcon
{
	width: 128px;
	height: 128px;
	margin: 0px;
	padding: 0px;
}

PopupSellMaxItems #ModToPurchaseContainer .mod_icon_single_container,PopupActivatedAbilitiesSelection #ModToPurchaseContainer .mod_icon_single_container,.largeDragIcon.IsBeingDragged .mod_icon_single_container
{
	width: 128px;
	height: 128px;
	margin: 0px;
	padding: 0px;
}

PopupSellMaxItems #ModToPurchaseContainer .mod_icon_background_container,PopupActivatedAbilitiesSelection #ModToPurchaseContainer .mod_icon_background_container,.largeDragIcon.IsBeingDragged #ModToPurchaseContainer .mod_icon_background_container
{
	width: 96px;
	height: 96px;
	margin: 0px;
	padding: 0px;
}

.IsBeingDragged.mod_icon_single_container
{
	flow-children: down;
	height: 151px;
	width: 96px;
}

.IsBeingDragged .mod_icon_background_container,.IsBeingDragged #modIconContainer
{
	background-color: #787878;
}

PopupActivatedAbilitiesSelection .unowned.mod_icon_single_container
{
	opacity: 1;
	background-color: rgba(243, 240, 231, 0.05);
}

PopupActivatedAbilitiesSelection .unowned.mod_icon_single_container:Hover,AbilitySlotIcon.Hovered .unowned.mod_icon_single_container
{
	opacity: 1;
	background-color: rgba(243, 240, 231, 1);
}

#CooldownMask
{
	width: 100%;
	height: 100%;
	background-color: offBlack&ee;
	visibility: collapse;
	transform: scaleX(-1);
}

.VerticalCooldown #CooldownMask
{
	transform: scaleX( 1 );
	vertical-align: bottom;
}

CitadelHudQuickbuy .isWeapon.VerticalCooldown #CooldownMask
{
	background-color: courageBrightColor&55;
}

CitadelHudQuickbuy .isArmor.VerticalCooldown #CooldownMask
{
	background-color: fortitudeBrightColor&55;
}

CitadelHudQuickbuy .isTech.VerticalCooldown #CooldownMask
{
	background-color: spiritBrightColor&55;
}

.OnCooldown #CooldownMask
{
	visibility: visible;
}

#TierContainer
{
	width: 28px;
	height: 28px;
	horizontal-align: right;
	visibility: collapse;
}

.hasAbility #TierContainer
{
	visibility: visible;
}

.isTier5 #TierContainer
{
	visibility: collapse;
}

.tier_bg
{
	width: 100%;
	height: 100%;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/shop/tier_corner_cap.vsvg");
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: right 0px;
	img-shadow: -4px 0px 10px #000000ee;
}

.isWeapon .tier_bg
{
	wash-color: courageBrightColor;
}

.isArmor .tier_bg
{
	wash-color: fortitudeBrightColor;
}

.isTech .tier_bg
{
	wash-color: spiritBrightColor;
}

#mod_tier_label
{
	horizontal-align: right;
	margin-top: 0px;
	height: 8px;
	background-size: 100% 100%;
	margin-top: 3px;
	margin-right: 0px;
	z-index: 2;
	wash-color: offBlack;
	opacity: 1;
}

.HideModTierLabel #mod_tier_label
{
	visibility: collapse;
}

#PurchaseItemIcon #mod_tier_label
{
	ignore-parent-flow: true;
	vertical-align: top;
}

#mod_tier_label.ModTierLevel1
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_01.vsvg");
	width: 5px;
	margin-right: 4px;
}

#mod_tier_label.ModTierLevel2
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_02.vsvg");
	width: 7px;
	margin-right: 3px;
}

#mod_tier_label.ModTierLevel3
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_03.vsvg");
	width: 9px;
	margin-right: 2px;
}

#mod_tier_label.ModTierLevel4
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_04.vsvg");
	width: 11px;
	margin-right: 1px;
}

#mod_tier_label.ModTierLevel5
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_05.vsvg");
	width: 12px;
	margin-right: 1px;
}

#ChatTextContainer #mod_tier_label
{
	visibility: collapse;
}

CitadelAccountSurvey #TierContainer
{
	ui-scale: 180%;
}

#ActiveTagContainer
{
	horizontal-align: middle;
	ignore-parent-flow: true;
	padding: 0px 2px 0px 2px;
	min-width: 60px;
	height: 100%;
	z-index: 2;
}

#embedded_active_tag
{
	text-transform: uppercase;
	text-overflow: shrink;
	font-weight: bold;
	height: 10px;
	text-align: center;
	horizontal-align: center;
	vertical-align: bottom;
	background-color: #181818;
	font-size: 10px;
	box-shadow: 0px 0px 30px #00000060;
	color: offWhite&aa;
	letter-spacing: 0px;
	border-radius: 2px;
	visibility: collapse;
	margin-bottom: 1px;
}

.isActiveItem #embedded_active_tag
{
	visibility: visible;
}

.isHidden.isActiveItem #embedded_active_tag
{
	visibility: collapse;
}

#LowerLeft .isActiveItem #embedded_active_tag
{
	visibility: collapse;
}

#ItemHidden
{
	width: 100%;
	height: 100%;
	background-color: offBlack;
	visibility: collapse;
}

#ItemHidden Label
{
	font-size: 30px;
	font-family: oracle;
	horizontal-align: center;
	vertical-align: center;
	color: offWhite;
}

.isHidden #ItemHidden
{
	visibility: visible;
}

