/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.TOCDBPage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/book_images/geist/overview_bg_psd.vtex");
	background-size: cover;
	background-position: left;
}

.DimBackground
{
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: black;
	z-index: -1;
}

#TOCBody
{
	vertical-align: middle;
	horizontal-align: left;
	width: 100%;
	height: 90%;
	margin-left: 100px;
}

#NodeCtn
{
	width: 100%;
	height: 100%;
}

#LineCtn
{
	width: 100%;
	height: 100%;
}

.TOCLine
{
	border: 2px solid offWhite&40;
}

.TOCLine.IsLocked
{
	border-color: #888888;
}

#TitleArea
{
	flow-children: down;
	margin-left: 40px;
	margin-top: 40px;
}

#BookLogo
{
	vertical-align: top;
	horizontal-align: left;
	margin: 10px 20px;
	margin-bottom: -10px;
}

.CompleteCtn
{
	vertical-align: top;
	horizontal-align: center;
	flow-children: down;
	margin-top: 20px;
}

.PctComplete
{
	font-size: 24px;
	font-weight: bold;
	horizontal-align: center;
}

.UnlockProgress
{
	font-size: 18px;
	font-weight: semi-bold;
	horizontal-align: center;
	opacity: 0.4;
	font-style: italic;
}

.UnlockProgressCtn
{
	vertical-align: top;
	horizontal-align: center;
	margin-top: 30px;
	flow-children: right;
	background-color: #ffffff05;
	border: 1px solid #ffffff10;
	padding: 15px 20px;
	border-radius: 2px;
}

.UnlockCountCtn
{
	height: 60px;
	width: 60px;
	flow-children: right;
	margin-right: 20px;
	background-color: offBlack;
	border-radius: 100px;
}

.UnlockIcon
{
	width: 22px;
	height: 22px;
	margin: 0px 6px 0px 8px;
	opacity: 1;
	vertical-align: center;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/book_images/icon_key.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: geistBookColor;
}

.UnlockCount
{
	color: geistBookColor;
	font-weight: bold;
	font-size: 25px;
	vertical-align: center;
	text-overflow: shrink;
}

.UnlockProgressBarCtn
{
	width: 250px;
	height: 50px;
	flow-children: down;
}

.UnlockProgressBarCtn Label
{
	font-weight: bold;
	margin-bottom: 10px;
}

.ProgressBarBG
{
	width: 100%;
	height: 100%;
	background-color: #555;
}

#ProgressBarFill
{
	width: 20%;
	height: 100%;
	background-color: geistBookColor;
}

