/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#SpiritValueContainer
{
	width: 100%;
	height: 65px;
	flow-children: right;
}

CitadelModifiedAbilities
{
	flow-children: down;
	height: fit-children;
	width: 50%;
}

#StatContainer_TechPower
{
	width: 200px;
}

#SpiritImpactContainer
{
	padding: 15px;
	visibility: collapse;
}

.SpiritPowerDesc
{
	width: 100px;
}

