/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.goldHistoryPanel
{
	box-shadow: fill #000000dd 6px 0px 12px 3px;
	border: 1px solid black;
	background-color: #2E2E2Ef8;
	border-radius: 12px;
	opacity: 1;
	flow-children: down;
}

#goldChartWrap
{
	background-color: #4C4C4Cf8;
	width: 100%;
	height: 200px;
	margin: 20px;
	padding: 8px;
	border-radius: 8px;
}

#goldChart
{
	width: 100%;
	height: 100%;
	flow-children: right;
	margin-left: 20px;
}

.graphEntry
{
	width: 14px;
	color: grey;
	height: 100%;
	flow-children: up;
	padding-left: 2px;
}

.graphNumber
{
	vertical-align: bottom;
	font-size: 12px;
	text-align: center;
	text-overflow: shrink;
}

#graphBar
{
	width: 100%;
	height: 100%;
	margin-bottom: 2px;
	flow-children: up;
}

.barChunk
{
	width: 100%;
	background-color: gold;
	margin-bottom: 2px;
}

@define ColorCrate: rgb(255, 115, 0);
@define ColorTrooper: gold;
@define ColorDeny: rgb(204, 0, 255);
@define ColorNeutral: rgb(0, 81, 255);
@define ColorPlayerKillBounty: rgb(255, 0, 0);
@define ColorPlayerKillOrb: rgb(255, 108, 108);
@define ColorBossBounty: rgb(18, 168, 168);
@define ColorBoss1Orb: rgb(62, 182, 58);
@define ColorBoss2Orb: rgb(182, 0, 152);
@define ColorBoss3Orb: rgb(0, 126, 88);
@define ColorBaseSentry: rgb(34, 218, 193);
@define ColorDeployable: rgb(182, 77, 7);
@define ColorTrophyKill: rgb(139, 0, 0);
.barChunk.gold_trooper_kill_bounty,.barChunk.gold_orb_trooper
{
	background-color: ColorTrooper;
}

.barChunk.gold_crate
{
	background-color: ColorCrate;
}

.barChunk.gold_orb_deny
{
	background-color: ColorDeny;
}

.barChunk.gold_neutral_kill_bounty,.barChunk.gold_orb_neutral
{
	background-color: ColorNeutral;
}

.barChunk.gold_player_kill_bounty
{
	background-color: ColorPlayerKillBounty;
}

.barChunk.gold_orb_player_kill
{
	background-color: ColorPlayerKillOrb;
}

.barChunk.gold_boss_kill_bounty
{
	background-color: ColorBossBounty;
}

.barChunk.gold_orb_tier_1
{
	background-color: rgb(62, 182, 58);
}

.barChunk.gold_orb_tier_2
{
	background-color: rgb(182, 0, 152);
}

.barChunk.gold_orb_tier_3
{
	background-color: rgb(0, 126, 88);
}

.barChunk.gold_orb_base_sentry
{
	background-color: ColorBaseSentry;
}

.barChunk.gold_orb_deployable
{
	background-color: ColorDeployable;
}

.barChunk.gold_orb_trophy_kill
{
	background-color: ColorTrophyKill;
}

.graphEntry:hover
{
	color: white;
}

.graphEntry:hover #graphBar
{
	background-color: white;
}

#goldSummaryWrap
{
	background-color: #4C4C4Cf8;
	width: 100%;
	height: 300px;
	margin: 20px;
	padding: 8px;
	border-radius: 8px;
}

.summaryHeader
{
	flow-children: right;
	margin-left: 30px;
}

#rangeFullMatch
{
	color: lightgrey;
	font-size: 20px;
}

.single_minute #rangeFullMatch
{
	visibility: collapse;
}

#rangeSingleMinute
{
	color: lightgrey;
	font-size: 20px;
	visibility: collapse;
}

.single_minute #rangeSingleMinute
{
	visibility: visible;
}

#totalGold
{
	font-size: 20px;
	color: gold;
	margin-left: 8px;
}

#goldSummary
{
	margin-top: 60px;
	flow-children: down-wrap;
	opacity: 1;
}

.no_data #goldSummary
{
	transition-duration: 0.2s;
	transition-property: opacity;
	opacity: 0;
}

.summaryEntry
{
	width: 300px;
	flow-children: right;
	visibility: collapse;
	font-size: 18px;
}

.summaryEntry.has_gold
{
	visibility: visible;
}

.summaryName
{
	text-align: right;
	width: 220px;
	line-height: 26px;
	color: grey;
	margin-right: 8px;
}

.has_gold .summaryName
{
	color: white;
}

.summaryValue
{
	font-size: 22px;
	vertical-align: center;
	color: grey;
	margin-left: 5px;
}

.has_gold .summaryValue
{
	color: gold;
}

.colorIndicator
{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	vertical-align: center;
	margin-bottom: 4px;
}

.gold_trooper_kill_bounty .colorIndicator,.gold_orb_trooper .colorIndicator
{
	background-color: ColorTrooper;
}

.gold_orb_deny .colorIndicator
{
	background-color: ColorDeny;
}

.gold_neutral_kill_bounty .colorIndicator,.gold_orb_neutral .colorIndicator
{
	background-color: ColorNeutral;
}

.gold_player_kill_bounty .colorIndicator
{
	background-color: ColorPlayerKillBounty;
}

.gold_orb_player_kill .colorIndicator
{
	background-color: ColorPlayerKillOrb;
}

.gold_boss_kill_bounty .colorIndicator
{
	background-color: ColorBossBounty;
}

.gold_orb_tier_1 .colorIndicator
{
	background-color: ColorBoss1Orb;
}

.gold_orb_tier_2 .colorIndicator
{
	background-color: ColorBoss2Orb;
}

.gold_orb_tier_3 .colorIndicator
{
	background-color: ColorBoss3Orb;
}

.gold_orb_base_sentry .colorIndicator
{
	background-color: ColorBaseSentry;
}

.gold_orb_deployable .colorIndicator
{
	background-color: ColorDeployable;
}

.gold_orb_trophy_kill .colorIndicator
{
	background-color: ColorTrophyKill;
}

.gold_crate .colorIndicator
{
	background-color: ColorCrate;
}

