/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@keyframes 'ShrinkAnimation'
{
	0%
	{
		pre-transform-scale2d: 1.3;
		opacity: 0;
	}
	
	50%
	{
		pre-transform-scale2d: 0.3;
	}
	
	100%
	{
		pre-transform-scale2d: 0.3;
		opacity: 0.7;
	}
	
}

CitadelPregameCountdown
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	z-index: -1;
	flow-children: down;
	background-color: offBlack&50;
	visibility: collapse;
}

.GameStatePreGameWait CitadelPregameCountdown
{
	visibility: visible;
}

#PausedGameContainer
{
	width: 100%;
	height: 100%;
}

#GameCountdown
{
	horizontal-align: center;
	vertical-align: center;
	vertical-align: middle;
	margin-top: 0px;
}

#PausedCountdownLabel
{
	horizontal-align: center;
	vertical-align: middle;
	font-size: 350px;
	font-weight: semi-bold;
	color: offWhite;
	overflow: noclip;
	opacity: 0;
	font-family: serif;
	margin-left: 0px;
}

#PausedLabel
{
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	font-family: serif;
	margin-top: 140px;
	font-size: 40px;
	color: offWhite;
	opacity: 0.7;
}

#PausedCountdownLabel.ShrinkCountdown
{
	animation-name: ShrinkAnimation;
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.PausedText
{
	font-weight: bold;
	font-size: 28px;
	color: offWhite;
	horizontal-align: center;
	vertical-align: middle;
}

.PausedTextContainer
{
	vertical-align: center;
	flow-children: down;
	width: 100%;
	text-align: center;
}

#PauserLabel,#UnpauseButtonLabel
{
	visibility: collapse;
	font-size: 20px;
}

.gameIsPaused #PauserLabel,.gameIsPaused #UnpauseButtonLabel
{
	visibility: visible;
}

.RankName
{
	font-size: 400px;
	font-family: serif;
	text-transform: uppercase;
	font-weight: bold;
	horizontal-align: center;
	max-width: 1600px;
	text-overflow: shrink;
	opacity: 0.2;
	visibility: collapse;
	animation-name: BigRankNameIn;
	animation-duration: 11s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

@keyframes 'BigRankNameIn'
{
	0%
	{
		transform: translateX(-200px);
		opacity: 0;
	}
	
	20%
	{
		opacity: 0.2;
	}
	
	80%
	{
		opacity: 0.2;
	}
	
	100%
	{
		transform: translateX(200px);
		opacity: 0;
	}
	
}

CitadelRankedBadgeFull
{
	horizontal-align: center;
	margin-top: 230px;
	ui-scale: 120%;
	visibility: collapse;
}

.nonRankedMatch .RankName,.nonRankedMatch CitadelRankedBadgeFull
{
	visibility: collapse;
}

#botMatchWarning
{
	margin-top: 150px;
	width: 100%;
	max-width: 700px;
	background-color: #4b0202f3;
	border-radius: 5px;
	padding: 30px;
	horizontal-align: center;
	visibility: collapse;
	flow-children: down;
	opacity: 0.9;
}

.soloBotMatch #botMatchWarning
{
	visibility: visible;
}

.botmatch_warning_title
{
	horizontal-align: center;
	font-weight: bold;
	font-size: 22px;
}

.botmatch_warning_details
{
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
	font-weight: medium;
	opacity: 0.9;
}

