/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelClientVersionStatus.StatusNotification .Icon
{
	background-image: url("s2r://panorama/images/icons/icon_steam.vsvg");
	background-size: 90% 90%;
	background-position: center;
	background-repeat: no-repeat;
	wash-color: steamBlue;
}

CitadelClientVersionStatus.StatusNotification .Details Label
{
	color: steamBlue;
}

