/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelPlayerLevelDisplay
{
	flow-children: right;
	width: fit-children;
	height: 100%;
	color: offWhite;
}

CitadelPlayerLevelDisplay Label
{
	color: offWhite;
}

#BarContainer
{
	width: 150px;
	height: fit-children;
	background-color: #333333;
	padding: 10px 0px 0px 0px;
}

.fadeOut
{
	width: 100%;
	height: 200px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333 ), to( #33333300 ) );
	margin-top: -10px;
}

#LegendContainer
{
	background-color: #476666;
	height: 100%;
	width: 200px;
	flow-children: down;
	padding: 20px;
}

.Legend
{
	flow-children: down;
	width: 100%;
	margin-top: 20px;
}

.legendText
{
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 16px;
	opacity: 0.5;
}

.legendItem
{
	flow-children: right;
	margin: 5px 0px 5px 20px;
	min-height: 50px;
	width: 100%;
	horizontal-align: center;
}

.rewardIcon
{
	width: 30px;
	height: 30px;
	margin-right: 10px;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#APLegend .rewardIcon
{
	wash-color: spiritLightColor;
	background-image: url("s2r://panorama/images/hud/ap_icon.vsvg");
	background-size: 80% 80%;
}

#AbilityLegend .rewardIcon
{
	background-image: url("s2r://panorama/images/hud/unlock_icon.vsvg");
	wash-color: spiritLightColor;
}

#PILegend .rewardIcon
{
	background-image: url("s2r://panorama/images/shop/icon_powerincrease_png.vtex");
}

.rewardText
{
	vertical-align: middle;
	font-weight: bold;
	line-height: 20px;
}

.BonusesContainer
{
	height: fit-children;
	vertical-align: center;
}

#PlayerLevelRewards
{
	width: 100%;
	height: 1300px;
	vertical-align: bottom;
	overflow: noclip;
}

#LevelProgressBar
{
	width: 38px;
	height: 1127px;
	vertical-align: center;
	margin-top: -10px;
	margin-bottom: 20px;
	margin-left: 12px;
	horizontal-align: center;
	border-radius: 0px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: black;
}

#LevelProgressBar .ProgressBarLeft
{
	height: 100%;
	width: 100%;
	background-color: #99FFD644;
}

#LevelProgressBar .ProgressBarRight
{
	height: 100%;
	width: 100%;
	background-color: #000000;
}

#LevelRewardsContainer
{
	vertical-align: center;
	horizontal-align: center;
	height: fit-children;
	margin-top: -10px;
	margin-bottom: 10px;
	flow-children: up;
	overflow: noclip;
	z-index: 5;
}

.levelBonusReward
{
	width: 100px;
	height: 32px;
	margin-top: 4px;
	margin-bottom: 4px;
	flow-children: right;
	margin-left: 7px;
}

.levelRewardImage
{
	height: 32px;
	width: 32px;
	background-size: 60% 60%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	horizontal-align: center;
}

.abilityUnlock .levelRewardImage,.ultimateUnlock .levelRewardImage
{
	background-image: url("s2r://panorama/images/hud/unlock_icon.vsvg");
	wash-color: spiritBrightColor;
	opacity: 0.5;
}

.weaponUpgrade .levelRewardImage
{
	background-image: url("s2r://panorama/images/shop/icon_powerincrease_png.vtex");
	background-size: 60% 60%;
	background-size: 75% 58%;
}

.levelRewardBolt
{
	height: 16px;
	width: 16px;
	background-image: url("s2r://panorama/images/hud/ap_icon.vsvg");
	wash-color: #595855;
	background-size: 100% 100%;
	vertical-align: center;
	opacity: 0;
	wash-color: spiritBrightColor;
	margin-left: 5px;
}

.abilityPoint .levelRewardBolt
{
	opacity: 0.6;
}

.hasLevel.abilityPoint .levelRewardBolt,.hasLevel.abilityUnlock .levelRewardImage,.hasLevel.ultimateUnlock .levelRewardImage
{
	wash-color: spiritBrightColor;
	opacity: 0.2;
}

.hasLevel.weaponUpgrade .levelRewardImage
{
	opacity: 0.1;
	saturation: 0.8;
}

.levelRewardNumber
{
	vertical-align: center;
	margin-left: 3px;
	font-weight: semi-bold;
	font-size: 15px;
	opacity: 0.6;
	font-family: "Swear Text Demo";
	width: 38px;
	text-align: center;
	text-shadow: 2px 2px 3px #000000;
}

.hasLevel .levelRewardNumber
{
	opacity: 0.5;
	color: shardColor;
	font-weight: bold;
}

.bonusContainer
{
	flow-children: right;
}

.BonusText
{
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #B2B0AA;
	vertical-align: center;
	margin-left: 10px;
}

.boldText
{
	font-weight: bold;
	color: #FFFFFF;
}

.bonusImage
{
	height: 40px;
	width: 40px;
	vertical-align: center;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	overflow: noclip;
}

.HeroBonusContainer .bonusImage
{
	horizontal-align: center;
}

.HeroBonusContainer
{
	background-color: offBlack;
	padding: 20px 10px;
}

.weaponPowerImage
{
	background-image: url("s2r://panorama/images/shop/icon_powerincrease_png.vtex");
	background-size: 60% 60%;
	background-size: contain;
}

.abilityUnlockImage
{
	background-image: url("s2r://panorama/images/control_icons/ability_unlock_png.vtex");
	background-size: 80% 80%;
}

.abilityPointBoltImage
{
	background-image: url("s2r://panorama/images/hud/ap_icon.vsvg");
	background-size: 80% 80%;
	wash-color: #00FFFF;
}

.BonusRow
{
	margin: 5px 0px;
}

.HeroBonusValue
{
	horizontal-align: center;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: offWhite;
}

.HeroBonusText
{
	horizontal-align: center;
	text-align: center;
	font-weight: medium;
	font-size: 17px;
	opacity: 0.5;
}

.HeroName
{
	font-size: 20px;
	color: offWhite;
	font-weight: bold;
	padding: 5px 0px 3px 0px;
	horizontal-align: center;
}

.PowerIncreases
{
	font-size: 16px;
	color: offWhite&80;
	margin-bottom: 15px;
}

.BulletResist,.WeaponRange
{
	visibility: collapse;
}

.bulletResistUpgrade .BulletResist,.weaponRangeUpgrade .WeaponRange
{
	visibility: visible;
}

