/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelTopBarPlayerDetails
{
	height: 46px;
	width: 100%;
	tooltip-body-position: 50% 0%;
	visibility: collapse;
	margin-top: 3px;
}

Label
{
	font-family: 'Retail Demo';
}

.PlayerHealth
{
	flow-children: right;
	visibility: collapse;
}

.PlayerHealth Label
{
	font-size: 18px;
	font-weight: medium;
	vertical-align: middle;
}

.HealthIcon
{
	width: 25px;
	height: 25px;
	opacity: 0.2;
	margin-right: 5px;
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_psd.vtex");
	background-size: contain;
}

.TotalNetworth
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 15px;
	flow-children: right;
}

#StatsContainer
{
	height: 100%;
	width: fit-children;
	flow-children: down;
	margin-left: 10px;
}

#HeroStatsContainer
{
	horizontal-align: left;
	height: 400px;
	width: 400px;
	flow-children: right-wrap;
	flow-children: right;
}

#ScoreboardStatsLabel,#AbilityListHeader
{
	color: white;
	horizontal-align: center;
	font-size: 24px;
}

.Seperator
{
	width: 100px;
	height: 100%;
	background-color: #000000BB;
	horizontal-align: right;
	z-index: 2;
	visibility: collapse;
}

.ShowingRight .Seperator
{
	horizontal-align: left;
}

.mod_armor
{
	margin-left: 10px;
	margin-right: 10px;
}

CitadelPostGame .mod_weapon,CitadelPostGame .mod_armor,CitadelPostGame .mod_tech
{
	margin-left: 5px;
	margin-right: 5px;
}

CitadelScoreboardMods.hideScoreboardMods,.wants_scoreboard CitadelHudTopBar CitadelScoreboardMods.hideScoreboardMods
{
	visibility: collapse;
}

.HeroStats
{
	width: fill-parent-flow(1.0);
	height: 100%;
	flow-children: down;
}

#KeyStatPrintout
{
	width: fit-children;
	horizontal-align: middle;
	margin-left: 4px;
	flow-children: down;
	margin-top: 3px;
}

#KeyStatPrintout .heroStat
{
	width: fit-children;
	horizontal-align: center;
}

#KeyStatPrintout .subStats
{
	height: fit-children;
}

#KeyStatPrintout .statIcon
{
	width: 11px;
	height: 11px;
	vertical-align: middle;
	margin-right: 5px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#KeyStatPrintout .Health
{
	opacity: 0.5;
}

#KeyStatPrintout .statIconSm
{
	width: 11px;
	height: 11px;
	margin-right: 3px;
	vertical-align: middle;
	opacity: 0.4;
}

#KeyStatPrintout .StatDesc_DPS
{
	wash-color: courageBrightColor;
}

#KeyStatPrintout .prop_spirit
{
	wash-color: spiritBrightColor;
	margin-bottom: 1px;
}

#KeyStatPrintout .statNumberLg
{
	font-size: 14px;
	font-family: sansMono;
	font-family: oracle;
	font-weight: bold;
	color: offWhite;
	vertical-align: center;
	font-family: oracle;
}

#KeyStatPrintout .hpLabel
{
	font-size: 10px;
	text-transform: uppercase;
	vertical-align: bottom;
	font-weight: bold;
	margin-bottom: 2px;
	margin-left: 3px;
	opacity: 0.4;
	visibility: collapse;
}

#KeyStatPrintout .statNumberSm
{
	font-size: 12px;
}

#KeyStatPrintout .percentSymbol
{
	color: offWhite;
	font-size: 12px;
	font-family: oracle;
	font-weight: normal;
	opacity: 0.2;
}

#Stat_SpiritResist
{
	margin-left: 2px;
}

#Stat_Health
{
	margin-right: 0px;
}

.statBucket
{
	width: 200px;
	height: fill-parent-flow(1.0);
	background-img-opacity: 0.4;
}

.bucketContent
{
	flow-children: down;
	padding: 16px;
	width: 90%;
	vertical-align: middle;
}

.divider
{
	width: 100%;
	height: 2px;
	background-color: offWhite&05;
}

.viewMoreArrow
{
	height: 100%;
	width: 30px;
	background-color: offBlack&40;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/icons/icon_carat_right.vsvg");
	background-size: 8px 14px;
	background-position: center;
	background-repeat: no-repeat;
	background-img-opacity: 0.2;
	opacity: 0.8;
}

#WeaponStats
{
	background-color: courageDarkColor&50;
}

#ArmorStats
{
	background-color: fortitudeDarkColor&50;
}

#TechStats
{
	background-color: spiritDarkColor&50;
}

.statBucket:hover
{
	brightness: 1.3;
	background-img-opacity: 0.6;
}

.bucketTitle
{
	font-size: 14px;
	font-weight: semi-bold;
	opacity: 0.8;
	margin-bottom: 8%;
}

#WeaponStats .bucketTitle
{
	color: courageBrightColor;
}

#ArmorStats .bucketTitle
{
	color: fortitudeBrightColor;
}

#TechStats .bucketTitle
{
	color: spiritBrightColor;
}

.heroStat
{
	width: 200px;
	flow-children: right;
	margin-right: 5px;
}

.statIcon
{
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin-right: 7px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.statIconSm
{
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.statNumberLg
{
	font-size: 20px;
	font-family: sansMono;
	font-weight: bold;
	color: offWhite;
	vertical-align: center;
}

.statNameLg
{
	font-size: 14px;
	font-family: sans;
	font-weight: semi-bold;
	color: offWhite;
	opacity: 0.6;
	margin-left: 5px;
	vertical-align: bottom;
	margin-bottom: 2px;
	text-overflow: shrink;
}

.statNumberSm
{
	font-size: 16px;
	font-family: sans;
	font-family: oracle;
	font-weight: semi-bold;
	color: offWhite&ee;
	vertical-align: bottom;
}

#Stat_BulletResist .statNumberSm
{
	wash-color: courageLightColor;
	opacity: 0.5;
}

#Stat_SpiritResist .statNumberSm
{
	wash-color: spiritLightColor;
	opacity: 0.5;
}

.subStats
{
	flow-children: right;
	horizontal-align: left;
}

.dps_spirit
{
	flow-children: down;
	width: 100%;
	horizontal-align: center;
}

.resists
{
	margin-top: 2px;
}

.subStat
{
	width: fit-children;
	margin-right: 2px;
}

#PlayerInfoContainer
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	margin-left: 330px;
	margin-bottom: 50px;
}

.StatLabel
{
	width: 25px;
	text-align: center;
	vertical-align: center;
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #FFFFFF10;
}

.StatLabel.NetworthStatLabel,.StatLabel.HeroDmgStatLabel,.StatLabel.ObjectiveDmgStatLabel,.StatLabel.HealingStatLabel
{
	width: 90px;
}

.StatLabelsContainer .StatLabel
{
	border-radius: 5px 5px 0px 0px;
}

.AdditionalStatsContainer .StatLabel
{
	padding-top: 10px;
	border-radius: 0px 0px 5px 5px;
}

.HeroStatsContainer
{
	vertical-align: top;
	horizontal-align: right;
	z-index: 3;
	margin-bottom: 0px;
	flow-children: down;
	margin-top: 10px;
	padding: 20px 0px 20px 20px;
}

.ShowingRight .HeroStatsContainer
{
	horizontal-align: left;
}

.HeroStat
{
	vertical-align: middle;
	width: 90px;
	height: 90px;
	overflow: noclip;
	margin-bottom: -10px;
}

.HeroStat.courage,.HeroStat.spirit
{
	transform: translateX(-20px);
}

.CategoryIcon
{
	width: 16px;
	height: 16px;
	horizontal-align: center;
	vertical-align: middle;
	background-size: contain;
	opacity: 1;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.6;
}

.courage .CategoryIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_courage.vsvg");
	wash-color: courageBrightColor;
}

.fortitude .CategoryIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude.vsvg");
	wash-color: fortitudeBrightColor;
}

.spirit .CategoryIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_spirit.vsvg");
	wash-color: spiritBrightColor;
}

.BackgroundLayer
{
	width: 70%;
	height: 70%;
	horizontal-align: center;
	vertical-align: center;
	pre-transform-rotate2d: 45deg;
	border: 5px solid #ffffff30;
	border-radius: 3px;
}

.courage .BackgroundLayer
{
	background-color: #392608;
	border: 5px solid #FFA31B50;
}

.fortitude .BackgroundLayer
{
	background-color: #0C3433;
	border: 5px solid #0DACAA50;
}

.spirit .BackgroundLayer
{
	background-color: #1F3400;
	border: 5px solid #98D63B50;
}

.HeroStatNumber
{
	font-size: 32px;
	horizontal-align: center;
	vertical-align: center;
	font-weight: bold;
	font-family: "NewSpiritTRIAL";
	font-family: sansMono;
	color: offWhite;
}

#MinifiedIcons
{
	flow-children: right;
	brightness: 0.6;
	opacity: 0.5;
	visibility: collapse;
}

#MinifiedIcons .smStat
{
	width: fill-parent-flow(1.0);
	height: 30px;
}

CitadelHudTopBarPlayer:selected #MinifiedIcons
{
	opacity: 1;
	brightness: 1;
}

.courage .HeroStatNumber
{
	text-shadow: 0px 0px 3px 10.0 #312409;
}

.fortitude .HeroStatNumber
{
	text-shadow: 0px 0px 3px 10.0 #0C3433;
}

.spirit .HeroStatNumber
{
	text-shadow: 0px 0px 3px 10.0 #1F3400;
}

.HeroStatLabel
{
	font-size: 12px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 12px;
	margin-left: 2px;
	font-weight: bold;
	font-family: "NewSpiritTRIAL";
}

.courage .HeroStatLabel
{
	color: courageBrightColor;
}

.fortitude .HeroStatLabel
{
	color: fortitudeBrightColor;
}

.spirit .HeroStatLabel
{
	color: spiritBrightColor;
}

#HeroStatsBtn
{
	background-color: offWhite;
	horizontal-align: center;
	vertical-align: center;
	z-index: 10;
	ignore-parent-flow: true;
}

#HeroStatsBtn Label
{
	color: offBlack;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 10px 6px 10px;
	border-radius: 2px;
}

.isPostGame #HeroStatsBtn
{
	horizontal-align: left;
	vertical-align: bottom;
	margin: 30px;
}

.UniversalSlotsLabel
{
	margin-top: 17px;
	color: #676767;
	horizontal-align: center;
	font-weight: bold;
	font-size: 16px;
}

