/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelGameOverDisplay
{
	flow-children: down;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: offWhite&80;
}

.LocalPlayerTeam1.Team1Victory
{
	background-color: team1Color&40;
}

.LocalPlayerTeam2.Team2Victory
{
	background-color: team2Color&40;
}

.LocalPlayerTeam1.Team2Victory,.LocalPlayerTeam2.Team1Victory
{
	background-color: #97494860;
}

@keyframes 'AnimateIn'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

Label
{
	color: offWhite;
	horizontal-align: center;
}

.MessageContents
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
}

CitadelGameOverDisplay.ShowingMessage
{
	opacity: 1;
	animation-name: AnimateIn;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	opacity: 1;
}

.TeamColor
{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	horizontal-align: center;
}

.OutcomeLabel
{
	font-size: 150px;
	text-shadow: 2px 2px 20px #00000090;
}

.LocalPlayerTeam1 .TeamColor
{
	background-color: team1Color;
}

.LocalPlayerTeam2 .TeamColor
{
	background-color: team2Color;
}

.TeamName
{
	letter-spacing: 2px;
}

.LocalPlayerTeam1 .TeamName
{
	color: team1Color;
	text-shadow: 2px 2px 20px #00000090;
}

.LocalPlayerTeam2 .TeamName
{
	color: team2Color;
	text-shadow: 2px 2px 20px #00000090;
}

#ComicProgressBar
{
	margin-top: 50px;
	horizontal-align: center;
	opacity: 0.5;
}

