/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelClientStatus
{
	transform-origin: 0% 0%;
	transition-property: transform;
	transition-duration: 0.2s;
}

.StatusEntry
{
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.8s;
}

.StatusEntry.ShowStatus
{
	opacity: 1.0;
}

.InEscapeMenu.RosterSelectVisible:not(.SettingsVisible) #DefaultStatus
{
	opacity: 0;
}

#DefaultStatus
{
	padding: 16px;
	flow-children: right;
}

.gShopOpen #DefaultStatus
{
	visibility: collapse ;
}

.RosterSelectVisible:not(.SettingsVisible) #DefaultStatus
{
	opacity: 0;
}

#DefaultStatus .GameLogoIcon
{
	height: 64px;
	width: 64px;
	background-image: url("s2r://panorama/images/icons/logo_deadlock_mark_only_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	margin-bottom: 0px;
	wash-color: offWhite;
	opacity: 0.014;
	transition-property: opacity;
	transition-duration: 0.08s;
}

.InEscapeMenu:not(.RosterSelectVisible) #DefaultStatus .GameLogoIcon
{
	opacity: 0.3;
}

.SettingsVisible #DefaultStatus .GameLogoIcon
{
	opacity: 0.3;
}

#DefaultStatus .GameLogoDetails
{
	flow-children: down;
	opacity: 0;
	transform: translateX( -20px );
	transition-property: opacity, transform;
	transition-duration: 0.08s;
}

.RosterSelectVisible #DefaultStatus .GameLogoDetails
{
	opacity: 0;
}

.InEscapeMenu #DefaultStatus .GameLogoDetails
{
	opacity: 0.8;
	transform: none;
}

.SettingsVisible #DefaultStatus .GameLogoDetails
{
	opacity: 0;
	transform: none;
}

#DefaultStatus .GameLogoDetails .GameLogoText
{
	horizontal-align: left;
	height: 64px;
	width: 244px;
	background-image: url("s2r://panorama/images/icons/logo_deadlock_word_only_png.vtex");
	opacity: 0.4;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: center;
	background-position: left;
	wash-color: offWhite;
	margin-left: 14px;
}

#DefaultStatus .GameLogoDetails .GameSubtext
{
	flow-children: down;
	margin-top: -10px;
	margin-left: 16px;
}

#DefaultStatus .GameLogoDetails .GameSubtext .EarlyBuildText
{
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0.06;
	font-family: block;
	font-size: 15.85px;
	letter-spacing: 0.4px;
}

#DefaultStatus .GameLogoDetails .GameSubtext .BuildNumber
{
	opacity: 0.4;
	margin-top: -3px;
	font-weight: light;
	color: #96908788;
	horizontal-align: left;
	font-family: sans;
	font-size: 14px;
}

