/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_hero_builds_shared.vcss_c");
CitadelBuildDetails
{
	flow-children: down;
	width: 600px;
	height: 100%;
	background-color: buildsDarkColor;
}

CitadelBuildDetails.DashboardBuilds
{
	visibility: visible;
}

.HeroBuildsExtraInfo
{
	width: 100%;
	height: 100%;
	border-radius: 3px;
	flow-children: down;
}

.Empty .HeroBuildsExtraInfo
{
	visibility: collapse;
}

.HeroBuildsExtraInfo #BuildInfo
{
	width: 100%;
	flow-children: down;
	padding-bottom: 0px;
}

.HeroBuildsExtraInfo .BuildName
{
	margin-left: 4px;
	margin-bottom: 4px;
	font-weight: bold;
	font-size: 32px;
	height: 48px;
	text-overflow: shrink;
	vertical-align: center;
}

.HeroBuildsExtraInfo .LastUpdated
{
	margin: 4px;
	font-size: 16px;
	font-weight: medium;
	overflow: squish scroll;
	opacity: 0.4;
	max-width: 500px;
}

.HeroBuildsExtraInfo .BuildDescription
{
	margin: 4px;
	font-size: 16px;
	font-weight: semi-bold;
	opacity: 0.8;
	overflow: squish scroll;
	height: 130px;
	width: 500px;
}

.NoLastUpdatedTime .HeroBuildsExtraInfo .LastUpdated
{
	opacity: 0;
}

.HeroBuildsExtraInfo .TagList
{
	horizontal-align: left;
	flow-children: right;
	margin-bottom: 4px;
	max-height: 40px;
}

.HeroBuildsExtraInfo .AuthoringInfo
{
	flow-children: right;
	margin-bottom: 4px;
}

.HeroBuildsExtraInfo #AuthorAvatar
{
	width: 48px;
	height: 48px;
	vertical-align: top;
	margin: 3px;
	margin-left: 3px;
	margin-right: 8px;
}

.HeroBuildsExtraInfo .ExtraInfo
{
	flow-children: right;
}

.HeroBuildsExtraInfo .ExtraInfo Label
{
	vertical-align: center;
	font-weight: semi-bold;
	font-size: 16px;
}

.HeroBuildsExtraInfo .ExtraInfo .buildIDbox
{
	vertical-align: middle;
	margin-left: 10px;
	border-bottom: 2px solid #ffffff20;
}

.HeroBuildsExtraInfo .ExtraInfo .BuildID:hover
{
	brightness: 1.5;
}

.HeroBuildsExtraInfo .ExtraInfo .CopiedToClipboard
{
	margin-left: 20px;
	font-weight: bold;
	visibility: collapse;
}

.TextCopied .HeroBuildsExtraInfo .ExtraInfo .CopiedToClipboard
{
	visibility: visible;
}

.ButtonItems
{
	flow-children: right;
	horizontal-align: middle;
	vertical-align: middle;
}

.actionItemButton
{
	background-color: offWhite;
	transition-property: background-color;
	transition-duration: 0.3s;
	overflow: squish;
	padding: 5px 10px;
	width: 150px;
	height: 40px;
	max-height: 40px;
	z-index: 10;
	margin: 5px 0px;
	margin-bottom: 10px;
	border-radius: 3px;
	transition-property: background-color, border;
	transition-duration: 0.3s;
	visibility: collapse;
	flow-children: right;
}

.actionItemButton.visibleByDefault
{
	visibility: visible;
}

.actionItemButton Label
{
	vertical-align: center;
	horizontal-align: center;
	font-weight: semi-bold;
	font-size: 18px;
	transition-property: transform, color, brightness;
	transition-duration: 0.3s;
	text-overflow: shrink;
	color: offBlack;
}

.actionItemButton:hover
{
	brightness: 1.3;
}

.actionItemButton:hover .Arrow
{
	transform: translateX(5px);
}

.changeHeroIcon
{
	background-image: url("s2r://panorama/images/icons/hero_grid.vsvg");
	wash-color: offBlack;
	background-position: center;
	margin-right: 5px;
	background-size: contain;
	vertical-align: middle;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.actionItemButton.disabled,.disabled .ButtonItems,.disabled Label
{
	opacity: 0.6;
}

.disabled.actionItemButton:hover
{
	opacity: 0.6;
}

.disabled.actionItemButton:hover Label
{
	color: offWhite;
}

.disabled.actionItemButton:hover
{
	brightness: 1;
}

.testingButton:hover
{
	brightness: 1.3;
	background-color: #ffffff30;
}

.HeroBuildNav
{
	visibility: collapse;
	flow-children: down;
	vertical-align: top;
	width: 550px;
	height: fit-children;
	margin-left: 10px;
	margin-top: 80px;
}

.DashboardBuilds .HeroBuildNav
{
	margin-top: 0px;
}

.NavContainer
{
	flow-children: down;
	width: 100%;
	padding: 20px;
}

.HeroBuildsTitle
{
	font-size: 34px;
	font-weight: bold;
	horizontal-align: left;
	text-align: center;
	margin-bottom: 5px;
}

#ChooseHeroButton
{
	width: fit-children;
}

.HeroBuildsSubTitle
{
	horizontal-align: left;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

#HeroBuildDescriptionTextEntry
{
	height: 250px;
	width: 600px;
}

#HeroBuildVersion
{
	margin-top: 10px;
}

.HeroBuildsDesc
{
	font-family: sans;
	font-size: 18px;
	font-weight: medium;
	text-align: left;
	margin-top: 8px;
	opacity: 0.5;
	padding-bottom: 10px;
}

#BuildCreatorPanel
{
	padding-top: 10px;
	padding-left: 10px;
	flow-children: right;
}

.HeroBuildCreator
{
	font-family: sans;
	font-size: 18px;
	font-weight: medium;
}

.SharePanel
{
	padding: 5px;
	flow-children: right;
}

#HeroBuildName
{
	margin-left: 2px;
	width: 100%;
	font-size: 18px;
	text-overflow: clip;
	white-space: nowrap;
}

#HeroBuildDescription
{
	margin-left: 2px;
	width: 100%;
	height: 220px;
	font-size: 18px;
	text-overflow: clip;
	white-space: normal;
	overflow: squish scroll;
}

.Checkbox
{
	width: 35px;
	height: 35px;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/getting_started/checklist_task_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: visible;
	vertical-align: center;
	wash-color: white;
}

.public_build_checked .Checkbox
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
	wash-color: none;
}

#PublicBuildLabel
{
	margin-top: 4px;
	font-weight: bold;
	font-size: 28px;
}

#CreateBuildButton
{
	vertical-align: top;
	horizontal-align: right;
	ignore-parent-flow: true;
	visibility: collapse;
}

#CreateBuildButton
{
	visibility: visible;
}

#BrowseHeroBuildsPanel #HeroBuildDescription
{
	vertical-align: center;
	margin-left: 2px;
	width: 100%;
	height: 260px;
	font-size: 18px;
	text-overflow: clip;
	white-space: normal;
	overflow: squish scroll;
}

#BrowseHeroBuildsPanel
{
	visibility: collapse;
	flow-children: down;
}

.BrowseHeroBuildDescription
{
	border: 1px solid baseBorder;
	width: 352px;
	height: 36px;
	padding: 4px 7px 3px 7px;
	background-color: #00000050;
	font-size: 18px;
	font-family: sans;
	font-weight: normal;
	color: offWhite;
}

#SelectBuildButton
{
	font-weight: bold;
	font-size: 28px;
	color: offWhite;
	background-color: #ffffff30;
	padding: 10px;
	margin-top: 20px;
	horizontal-align: center;
}

#FavoriteBuildContainer,#SelectBuildContainer
{
	z-index: 12;
	horizontal-align: center;
}

.BuildControls
{
	margin-top: 20px;
	vertical-align: bottom;
	horizontal-align: left;
	width: 100%;
	padding: 5px 10px;
	flow-children: right;
}

#ManageBuildControls
{
	padding: 0px;
}

#ManageBuildControls #AuthorControls
{
	flow-children: right;
	horizontal-align: left;
	visibility: collapse;
	vertical-align: center;
}

#ManageBuildControls #AuthorControls .SecondaryButton
{
	max-width: 100px;
}

#ManageBuildControls #RevertBuildButton
{
	tooltip-position: top;
	visibility: collapse;
}

#ManageBuildControls #DeleteBuildButton
{
	horizontal-align: right;
}

.selectedIcon
{
	width: 26px;
	height: 26px;
	wash-color: ritualGreen;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 10px;
}

#ManageBuildsContainer
{
	flow-children: right;
}

#SelectBuildContainer
{
	visibility: visible;
}

#FavoriteBuildContainer
{
	visibility: collapse;
}

#CopyBuildButton
{
	visibility: collapse;
	vertical-align: bottom;
	horizontal-align: left;
	max-width: 160px;
	max-height: 45px;
}

.CanEditBuild #CopyBuildButton,.CanCopyBuild #CopyBuildButton
{
	visibility: visible;
}

.CanEditBuild #ManageBuildControls #AuthorControls
{
	visibility: visible;
}

.CanRevertBuild #ManageBuildControls #RevertBuildButton
{
	visibility: visible;
}

.IsFavoriteBuild #SelectBuildContainer
{
	visibility: collapse;
}

.IsFavoriteBuild #FavoriteBuildContainer
{
	visibility: visible;
}

#ExistingBuildSelector
{
	width: 470px;
	padding-bottom: 20px;
}

#HeroBuildSelector
{
	width: 100%;
	height: 480px;
}

.SelectionContainer
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	height: 40%;
}

#CustomBuild
{
	visibility: visible;
}

#DefaultBuild
{
	visibility: collapse;
}

.IsDefaultBuild #CustomBuild
{
	visibility: collapse;
}

.IsDefaultBuild #DefaultBuild
{
	visibility: visible;
}

#BuildMods
{
	margin-top: 10px;
	flow-children: right-wrap;
	width: 380px;
	horizontal-align: left;
}

#BuildMods CitadelModIcon
{
	margin: 5px;
	pre-transform-scale2d: 1.2;
}

CitadelAbilityOrder
{
	margin-top: 10px;
}

