/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelKeyboardBinding
{
	width: fit-children;
	height: fit-children;
	flow-children: right;
}

CitadelKeyboardBinding .MultiBindSeparator
{
	font-size: 28px;
	width: fit-children;
	height: fit-children;
	vertical-align: bottom;
	text-align: center;
}

