/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#UnlockItem
{
	margin: 10px;
	font-size: 24px;
	padding: 10px;
	border: 1px solid white;
	background-color: black;
	flow-children: down;
}

#ItemImage
{
	width: 200px;
	height: 150px;
}

.ItemButton
{
	width: 100%;
	height: 50px;
	padding: 10px;
}

.ButtonText
{
	horizontal-align: center;
}

#ClaimedButton
{
	visibility: collapse;
}

.Claimed #ClaimedButton
{
	visibility: visible;
}

#ClaimButton .ButtonText
{
	color: red;
}

.Claimed #ClaimButton,.Locked #ClaimButton
{
	visibility: collapse;
}

.CanAfford #ClaimButton .ButtonText
{
	color: white;
}

#LockedButton
{
	visibility: collapse;
}

.Locked #LockedButton
{
	visibility: visible;
}

.CanAfford #ClaimedButton:hover
{
	border-color: yellow;
	background-color: #111111;
}

