/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define untrained_background: #1e3437;
CitadelHudAbilityUpgradePips
{
	height: 240px;
	width: 160px;
	margin-right: 4px;
	margin-left: 4px;
	tooltip-position: left;
	tooltip-body-position: 0% 0%;
	flow-children: down;
	border-radius: 4px;
	background-color: #222;
}

.hud_abilities CitadelHudAbilityUpgradePips
{
	height: 160px;
	width: 170px;
	margin-right: 4px;
	margin-left: 4px;
	padding-top: 10px;
	tooltip-position: left;
	tooltip-body-position: 0% 0%;
	flow-children: down;
	border-radius: 4px;
	background-color: #22222200;
}

CitadelHudAbilities .abilityImages,CitadelHudAbilities #TrainButton
{
	visibility: collapse;
}

CitadelHudAbilityUpgradePips:hover #TrainButton
{
	background-color: colorCommonOffWhite;
}

#AbilityUpgradePips
{
	flow-children: up;
	visibility: visible;
	width: 100%;
	opacity: 0.5;
}

.hud_abilities #AbilityUpgradePips
{
	width: 100%;
}

.HideUpgrades #AbilityUpgradePips
{
	visibility: collapse;
}

.pipAndCostContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

.abilityUpgradeContainer
{
	width: 100%;
	horizontal-align: middle;
	height: 32px;
	margin-top: 5px;
	border-radius: 50px;
	background-color: rgba(26, 26, 26, 0.8);
	animation-iteration-count: 0;
	tooltip-position: left;
	flow-children: none;
}

.hud_abilities .abilityUpgradeContainer
{
	height: 40px;
}

.isUnlocked .abilityUpgradeContainer
{
	opacity: 1;
	background-color: offBlack;
	opacity: 0.5;
}

.isUnlocked .canAffordUpgrade.abilityUpgradeContainer
{
	background-color: offWhite&05;
	opacity: 1;
}

.ability_upgrade_available:hover .canAffordUpgrade.abilityUpgradeContainer
{
	border: 0px solid #ffffff00;
}

.upgradeReadyFlash
{
	width: 100%;
	height: 100%;
	transform: translate3d( 0px, 0px, 0px );
	background-color: offWhite;
	animation-iteration-count: 0;
	visibility: collapse;
}

.isReadOnly .upgradeReadyFlash,.isReadOnly .canAffordUpgrade .upgradeReadyFlash,.isUnlocked.isReadOnly .canAffordUpgrade .upgradeReadyFlash
{
	visibility: collapse;
}

.canAffordUpgrade .upgradeReadyFlash
{
	width: 100%;
	height: 100%;
	transform: translate3d( 0px, 0px, 0px );
	border: 0px solid #ffffff00;
	wash-color: spiritBrightColor;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	visibility: visible;
}

.build_suggestion .canAffordUpgrade .upgradeReadyFlash
{
	wash-color: buildsLightColor;
	border: 1px solid #ffffff;
	brightness: 1.5;
}

.not_trained .upgradeReadyFlash
{
	visibility: collapse;
}

.ability_upgrade_available:hover .canAffordUpgrade .upgradeReadyFlash
{
	background-color: offWhite;
	border: 0px solid #ffffff00;
	animation-name: none;
	visibility: visible;
	animation-name: IconHover;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes 'IconClickable'
{
	0%
	{
		wash-color: spiritBrightColor&50;
	}
	
	50%
	{
		wash-color: spiritBrightColor;
	}
	
	100%
	{
		wash-color: spiritBrightColor&50;
	}
	
}

@keyframes 'IconHover'
{
	0%
	{
		wash-color: spiritBrightColor;
	}
	
	50%
	{
		wash-color: spiritLightColor;
	}
	
	100%
	{
		wash-color: spiritBrightColor;
	}
	
}

.build_suggestion.ability_upgrade_available:hover .canAffordUpgrade .upgradeReadyFlash
{
	visibility: visible;
	animation-name: BuildIconHover;
}

@keyframes 'BuildIconHover'
{
	0%
	{
		wash-color: buildsLightColor;
	}
	
	50%
	{
		wash-color: white;
	}
	
	100%
	{
		wash-color: buildsLightColor;
	}
	
}

.isReadOnly .canAffordUpgrade.abilityUpgradeContainer,.isReadOnly .canAffordUpgrade.abilityUpgradeContainer:Hover
{
	background-color: colorCommonOffWhite;
	animation-name: none;
}

.abilityUpgradeCostLabel
{
	font-weight: black;
	color: colorEnemy;
	opacity: 0.1;
	font-size: 28px;
}

.hasAbilityUpgrade .abilityUpgradeCostLabel
{
	visibility: collapse;
}

.isReadOnly .abilityUpgradeCostLabel
{
	color: offWhite;
	opacity: 1;
}

.isUnlocked .canUnlock .abilityUpgradeCostLabel,.isUnlocked .canAffordUpgrade .abilityUpgradeCostLabel
{
	opacity: 1;
	color: offWhite;
}

.isUnlocked .canAffordUpgrade .abilityUpgradeCostLabel
{
	color: offBlack;
	opacity: 1;
}

.abilityLevelPip
{
	height: 20px;
	width: 20px;
	margin-right: 8px;
	background-size: contain;
	background-position: 50% 50%;
	vertical-align: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/hero_ability_pip_psd.vtex");
	wash-color: colorCommonDarkestGray;
	wash-color: colorEnemy;
	opacity: 0.1;
}

.isUnlocked .canAffordUpgrade .abilityLevelPip,.isReadOnly .abilityLevelPip,.isReadOnly .canAffordUpgrade .abilityLevelPip,.isUnlocked .canUnlock .abilityLevelPip
{
	background-image: url("s2r://panorama/images/hud/hero_ability_pip_psd.vtex");
	wash-color: offWhite;
	opacity: 1;
}

.isUnlocked .canAffordUpgrade .abilityLevelPip
{
	wash-color: spiritBrightColor;
	wash-color: offBlack;
}

.hasAbilityUpgrade.abilityUpgradeContainer,.isReadOnly .hasAbilityUpgrade.abilityUpgradeContainer,.isReadOnly .hasAbilityUpgrade.abilityUpgradeContainer:hover,.isReadOnly .abilityUpgradeContainer
{
	background-color: #23003d;
}

.hasAbilityUpgrade.abilityUpgradeContainer:Hover
{
	background-color: colorCommonDarkestGray;
}

.isUnlocked .hasAbilityUpgrade .abilityLevelPip
{
	height: 24px;
	width: 24px;
	background-size: 24px 24px;
	background-image: url("s2r://panorama/images/hud/ability_upgrade_check_psd.vtex");
	wash-color: spiritLightColor;
	opacity: 1;
	animation-iteration-count: 0;
	margin-right: 0px;
	visibility: visible;
}

.isUnlocked #AbilityUpgradePips
{
	visibility: visible;
	opacity: 1;
}

.isUnlocked #TrainButton
{
	visibility: collapse;
}

#TrainButton
{
	width: 100%;
	background-color: #dab0ff;
	vertical-align: bottom;
	border-radius: 2px;
	height: 130px;
	visibility: collapse;
}

.isReadOnly.canUnlock #TrainButton
{
	visibility: collapse;
}

#TrainButton:Hover
{
	background-color: colorCommonOffWhite;
}

.canUnlock #TrainButton
{
	visibility: visible;
	animation-name: abilityUpgradeContainerAnim;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	margin-bottom: 30px;
}

.canUnlock #AbilityUpgradePips
{
	visibility: collapse;
}

.listHorizontally #TrainButton
{
	height: 100%;
	width: 102px;
}

.unlockText
{
	font-size: 26px;
	font-weight: bold;
	vertical-align: center;
	color: colorCommonOffWhite;
	text-transform: uppercase;
}

.isSelected .unlockText
{
	color: colorCommonDarkestGray;
}

.canUnlock .unlockText
{
	color: colorCommonDarkGray;
}

.unlockButtonContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
}

.unlockIcon
{
	height: 24px;
	width: 24px;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/control_icons/lock_psd.vtex");
	margin-right: 4px;
	wash-color: spiritColor;
	horizontal-align: center;
}

.canUnlock .unlockIcon
{
	background-image: url("s2r://panorama/images/control_icons/lock_unlocked_psd.vtex");
	wash-color: colorCommonDarkestGray;
}

@keyframes 'abilityUpgradeContainerAnim'
{
	0%
	{
		background-color: #dab0ff;
	}
	
	50%
	{
		background-color: white;
	}
	
	100%
	{
		background-color: #dab0ff;
	}
	
}

@keyframes 'animUpgradeReadyFlash'
{
	0%
	{
		transform: translate3d( 0px, 36px, 0px );
	}
	
	100%
	{
		transform: translate3d( 0px, -36px, 0px );
	}
	
}

