/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelItemDraftOption
{
	width: 400px;
	height: 400px;
	overflow: noclip;
}

#Item
{
	horizontal-align: center;
	vertical-align: center;
}

.BonusItem
{
	visibility: collapse;
}

.hasBonus1 #BonusItem1
{
	visibility: visible;
}

.hasBonus2 #BonusItem2
{
	visibility: visible;
}

#BonusItem1
{
	width: 100px;
	height: 100px;
	x: 40px;
	y: 40px;
	transform: rotateZ(-20deg);
}

#BonusItem2
{
	width: 80px;
	height: 80px;
	x: 00px;
	y: 125px;
}

#BonusIndicator
{
	visibility: collapse;
	color: offWhite;
	text-shadow: 0px 0px 8.0 offBlack;
	margin-left: 60px;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
	font-family: block;
	color: #ffffff;
	padding: 5px;
	text-transform: uppercase;
	transform: rotateZ(15deg);
}

.hasBonus1 #BonusIndicator
{
	visibility: visible;
}

#RareIndicator
{
	visibility: collapse;
	color: offWhite;
	text-shadow: 0px 0px 8.0 offBlack;
	horizontal-align: center;
	margin-top: 70px;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	font-family: oracle;
	color: #b6ffe3;
	letter-spacing: -2px;
	padding: 5px;
	text-transform: uppercase;
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.isRare #RareIndicator
{
	visibility: visible;
}

#LegendaryIndicator
{
	visibility: collapse;
	color: offWhite;
	text-shadow: 0px 0px 5.0 offBlack;
	horizontal-align: center;
	margin-top: 60px;
	font-size: 26px;
	font-family: oracle;
	color: #FFD277;
	padding: 5px;
	text-transform: uppercase;
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#TierAndEnhancedContainer
{
	flow-children: right;
	horizontal-align: middle;
	vertical-align: bottom;
	margin-bottom: 64px;
	height: 40px;
}

#TierLabels
{
	visibility: collapse;
}

#TierLabels Label
{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	visibility: collapse;
}

.isWeapon #TierLabels Label
{
	color: courageBrightColor;
}

.isArmor #TierLabels Label
{
	color: fortitudeBrightColor;
}

.isTech #TierLabels Label
{
	color: spiritBrightColor;
}

.ModTier1 #TierLabels .tier_1
{
	visibility: visible;
}

.ModTier2 #TierLabels .tier_2
{
	visibility: visible;
}

.ModTier3 #TierLabels .tier_3
{
	visibility: visible;
}

.ModTier4 #TierLabels .tier_4
{
	visibility: visible;
}

#EnhancedIndicator
{
	visibility: collapse;
	horizontal-align: center;
	padding: 3px 8px;
	margin-left: 4px;
	margin-top: -2px;
	padding-left: 20px;
	flow-children: right;
	transform: rotateZ(-3deg);
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.reveal #EnhancedIndicator
{
	animation-name: enhancedTagAppear;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-delay: 1s;
}

#EnhancedIndicator Label
{
	color: offWhite;
	text-shadow: 0px 0px 8.0 enhancedColorDarker;
	font-size: 22px;
	margin-top: 3px;
	font-family: block;
	color: enhancedColorBright;
	text-transform: uppercase;
	margin-right: 5px;
	font-weight: bold;
}

#EnhancedIndicator .enhancedIcon
{
	width: 30px;
	height: 50px;
	margin-left: -5px;
	margin-bottom: 10px;
	background-image: url("s2r://panorama/images/shop/enhanced_arrow_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -1;
	animation-name: TagGroove1;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

.isEnhanced #EnhancedIndicator
{
	visibility: visible;
}

.isLegendary #LegendaryIndicator
{
	visibility: visible;
}

@keyframes 'enhancedTagAppear'
{
	0%
	{
		pre-transform-scale2d: 2;
		opacity: 0;
	}
	
	20%
	{
		opacity: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		opacity: 1;
	}
	
}

@keyframes 'TagGroove1'
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(2deg);
	}
	
	50%
	{
		transform: rotateZ(2deg);
	}
	
	51%
	{
		transform: rotateZ(-1deg);
	}
	
	75%
	{
		transform: rotateZ(-1deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

@keyframes 'LegGroove1'
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(2deg);
		brightness: 2;
	}
	
	50%
	{
		transform: rotateZ(2deg);
		brightness: 2;
	}
	
	51%
	{
		transform: rotateZ(-1deg);
	}
	
	75%
	{
		transform: rotateZ(-1deg);
		brightness: 2;
	}
	
	76%
	{
		transform: rotateZ(0deg);
		brightness: 2;
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

#Rings
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

#Rings #RingBackground
{
	width: 400px;
	height: 400px;
	background-image: url("s2r://panorama/images/hud/brawl/rings/ring_background_psd.vtex");
	background-position: center center;
	background-size: 100% 100%;
	horizontal-align: middle;
	vertical-align: middle;
}

.isWeapon #Rings #RingBackground
{
	wash-color: courageBrightColor;
}

.isArmor #Rings #RingBackground
{
	wash-color: fortitudeBrightColor;
}

.isTech #Rings #RingBackground
{
	wash-color: spiritBrightColor;
}

#Rings #RingInnerNormal
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-position: center center;
}

.isRare #Rings #RingInnerNormal
{
	visibility: collapse;
}

.isTech #Rings #RingInnerNormal
{
	opacity-brush: gradient( linear, 0% 0%, 100% 100%, from( spiritLightColor ), to( spiritDarkColor ) );
}

.isWeapon #Rings #RingInnerNormal
{
	opacity-brush: gradient( linear, 0% 0%, 100% 100%, from( courageLightColor ), to( courageDarkColor ) );
}

.isArmor #Rings #RingInnerNormal
{
	opacity-brush: gradient( linear, 0% 0%, 100% 100%, from( fortitudeLightColor ), to( fortitudeDarkColor ) );
}

#Rings #RingOuterEnhanced
{
	width: 100%;
	height: 100%;
	opacity-brush: gradient( linear, 0% 0%, 100% 100%, from( enhancedColorBright ), to( enhancedColorDarker ) );
	background-size: 100% 100%;
	visibility: collapse;
	animation-name: backgroundPulseEnhanced;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}

.isEnhanced #Rings #RingOuterEnhanced
{
	visibility: visible;
}

#Rings #RingOuterRare
{
	width: 100%;
	height: 100%;
	width: 400px;
	height: 400px;
	background-image: url("s2r://panorama/images/hud/brawl/rings/ring_outer_rare_psd.vtex");
	opacity-brush: gradient( linear, 0% 0%, 100% 100%, from( #94FFD6 ), to( #62BC98 ) );
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	visibility: collapse;
	img-shadow: 0px 0px 50px shardColor&50;
	animation-name: backgroundPulse;
	animation-duration: 100s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.isRare #Rings #RingOuterRare
{
	visibility: visible;
}

.isLegendary #Rings #RingOuterRare
{
	visibility: visible;
	opacity-brush: gradient( linear, 0% 0%, 100% 100%, from( #ffdf94 ), to( #62BC98 ) );
	img-shadow: 0px 0px 50px #ffc74450;
}

.DraftOption.isWeapon:hover #Rings
{
	transform: rotateZ(-6deg);
}

.DraftOption.isArmor:hover #Rings
{
	transform: rotateZ(3deg);
}

.DraftOption.isTech:hover #Rings
{
	transform: rotateZ(6deg);
}

#BackgroundTexture
{
	background-image: url("s2r://panorama/images/shop/catalog/backer_star_test_png.vtex");
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_normal_psd.vtex");
	horizontal-align: center;
	vertical-align: middle;
	wash-color: offBlack;
	width: 80%;
	height: 80%;
	background-size: cover;
	opacity: 1;
	opacity: 0.6;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes 'backgroundPulse'
{
	0%
	{
		pre-transform-rotate2d: 0deg;
	}
	
	100%
	{
		pre-transform-rotate2d: 360deg;
	}
	
}

@keyframes 'backgroundPulseEnhanced'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.1;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

#BackgroundTexture2
{
	background-image: url("s2r://panorama/images/shop/catalog/backer_star_test_png.vtex");
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_normal_psd.vtex");
	horizontal-align: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	background-size: cover;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes 'backgroundPulse2'
{
	0%
	{
		transform: rotateZ(0deg);
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 0deg;
	}
	
	20%
	{
		pre-transform-scale2d: 1.1;
	}
	
	40%
	{
		pre-transform-scale2d: 0.9;
	}
	
	60%
	{
		pre-transform-scale2d: 1.1;
	}
	
	80%
	{
		pre-transform-scale2d: 0.9;
	}
	
	100%
	{
		transform: rotateZ(0deg);
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 360deg;
	}
	
}

.isRare #BackgroundTexture
{
	wash-color: shardColor;
}

.isRare #BackgroundTexture2
{
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_rare_psd.vtex");
	background-size: 100% 100%;
	opacity-mask: none;
	opacity: 1;
}

.isLegendary #BackgroundTexture2
{
	background-image: url("s2r://panorama/images/shop/catalog/pricetag_legendary_psd.vtex");
	background-size: 100% 100%;
	opacity-mask: none;
	opacity: 1;
	animation-name: legendaryPulse;
	animation-duration: 20s;
	animation-timing-function: linear;
}

@keyframes 'legendaryPulse'
{
	0%
	{
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 0deg;
		brightness: 1;
	}
	
	25%
	{
		pre-transform-scale2d: 0.9;
		brightness: 2;
	}
	
	50%
	{
		pre-transform-scale2d: 1.1;
		brightness: 1;
	}
	
	75%
	{
		pre-transform-scale2d: 0.9;
		brightness: 2;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 360deg;
		brightness: 1;
	}
	
}

