/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelNewsPage
{
	width: 100%;
	height: 100%;
}

.PageContents
{
	horizontal-align: right;
	height: 100%;
	width: 800px;
	background-color: #000e;
	padding: 16px;
	flow-children: down;
}

.PageContents .PageTitle
{
	horizontal-align: center;
	text-align: center;
	font-size: 48px;
	font-family: block;
	text-transform: uppercase;
}

.PageContents .PageSubtitle
{
	horizontal-align: center;
	text-align: center;
}

.PageContents .AsyncContents
{
	margin-top: 12px;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.PageContents .AsyncContents .AsyncSuccessContainer
{
	width: 100%;
	height: 100%;
	flow-children: down;
	overflow: squish scroll;
}

.PageContents .AsyncContents .AsyncSuccessContainer #NewsEntriesList
{
	width: 100%;
	flow-children: down;
}

.NewsEntry
{
	width: 100%;
	flow-children: right;
	margin-bottom: 16px;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.NewsEntry:hover
{
	brightness: 2.0;
}

.NewsEntry:active
{
	brightness: 1.5;
}

.NewsEntry #EntryImage
{
	width: 300px;
	height: width-percentage( 56.25% );
}

.NewsEntry .Details
{
	flow-children: down;
	margin-left: 12px;
}

.NewsEntry .Details .EntryTitle
{
	font-family: block;
	color: soulColor;
	text-transform: uppercase;
	font-size: 32px;
}

.NewsEntry .Details .EntryTimestamp
{
	color: #666;
	font-size: 16px;
	font-family: block;
}

.LoadingMore
{
	width: 100%;
}

.NoMoreToRequest .LoadingMore
{
	visibility: collapse;
}

.LoadingMore .LoadMoreButton
{
	horizontal-align: center;
	visibility: collapse;
}

.CanRequestMore .LoadingMore .LoadMoreButton
{
	visibility: visible;
}

.LoadingMore .LoadInProgress
{
	horizontal-align: center;
	flow-children: right;
	visibility: collapse;
}

.IsRequestingMore .LoadingMore .LoadInProgress
{
	visibility: visible;
}

.LoadingMore .LoadInProgress .Spinner
{
	wash-color: offWhite;
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/control_icons/spinner_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation-name: RotateIcon;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.LoadingMore .LoadInProgress Label
{
	vertical-align: middle;
	font-family: block;
}

