/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelNewsPage
{
	width: 100%;
	height: 100%;
}

.PageContents
{
	horizontal-align: right;
	height: 100%;
	width: 800px;
	background-color: #000d;
	padding: 24px 36px 48px 24px;
	flow-children: down;
}

.PageContents .PageTitle
{
	font-size: 56px;
	margin-left: 12px;
	font-family: oracle;
	font-weight: bold;
	pre-transform-rotate2d: -1deg;
	opacity-mask: url("s2r://panorama/images/main_menu/text_speckle_mask_main_psd.vtex") 0.7;
	opacity-mask-scale: 100% 200%;
	color: offWhite&88;
}

.PageContents .PageSubtitle
{
	margin-bottom: 4px;
	margin-left: 20px;
	margin-top: -4px;
	font-style: italic;
	font-size: 16px;
	color: offWhite&44;
}

.PageContents .AsyncContents
{
	margin-top: 12px;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.PageContents .AsyncContents .AsyncSuccessContainer
{
	width: 100%;
	height: 100%;
	flow-children: down;
	overflow: squish scroll;
}

.PageContents .AsyncContents .AsyncSuccessContainer #NewsEntriesList
{
	width: 100%;
	flow-children: down;
}

.NewsEntry
{
	width: 100%;
	flow-children: right;
	margin-bottom: 16px;
	background-color: #ffffff01;
	transition-property: brightness,pre-transform-scale2d;
	transition-duration: 0.08s;
	pre-transform-scale2d: 0.96;
}

.NewsEntry:hover
{
	brightness: 1.4;
	pre-transform-scale2d: 1;
}

.NewsEntry:active
{
	brightness: 1.0;
}

.NewsEntry #EntryImage
{
	width: 220px;
	height: width-percentage( 56.25% );
}

.NewsEntry:not(.HasEntryImage) #EntryImage
{
	wash-color: offWhite;
	background-color: #222;
	background-image: url("s2r://panorama/images/icons/logo_deadlock_mark_only_png.vtex");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.NewsEntry .Details
{
	flow-children: down;
	margin-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
}

.NewsEntry .Details .EntryType
{
	font-family: block;
	color: offWhite&88;
	text-transform: uppercase;
	font-size: 16px;
}

.NewsEntry .Details .EntryTitle
{
	font-family: block;
	color: gradient( linear, 0% 0%, 0% 100%, from( brandGreen ), to( #A6FFB5 ) );
	text-transform: uppercase;
	font-size: 24px;
}

.NewsEntry .Details .EntryTimestamp
{
	color: offWhite&15;
	font-size: 16px;
	font-family: block;
}

.NewsEntry .Details .EntrySubtitle
{
	color: offWhite&15;
	font-size: 16px;
}

.NewsEntry.SmallUpdate #EntryImage
{
	width: 220px;
	height: 80px;
	background-size: 60px 60px;
	background-img-opacity: 0.4;
	wash-color: brandGreen;
}

.NewsEntry.SmallUpdate .EntryTitle
{
	font-size: 24px;
}

.NewsEntry.SmallUpdate .EntryType
{
	visibility: collapse;
}

.NewsEntry.RegularUpdate #EntryImage
{
	width: 220px;
}

.NewsEntry.RegularUpdate .EntryTitle
{
	font-size: 24px;
}

.NewsEntry.RegularUpdate .EntryType
{
	visibility: collapse;
}

.LoadingMore
{
	width: 100%;
}

.NoMoreToRequest .LoadingMore
{
	visibility: collapse;
}

.LoadingMore .LoadMoreButton
{
	horizontal-align: center;
	visibility: collapse;
}

.CanRequestMore .LoadingMore .LoadMoreButton
{
	visibility: visible;
}

.LoadingMore .LoadInProgress
{
	horizontal-align: center;
	flow-children: right;
	visibility: collapse;
}

.IsRequestingMore .LoadingMore .LoadInProgress
{
	visibility: visible;
}

.LoadingMore .LoadInProgress .Spinner
{
	wash-color: offWhite;
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/control_icons/spinner_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation-name: RotateIcon;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.LoadingMore .LoadInProgress Label
{
	vertical-align: middle;
	font-family: block;
}

