/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelAbilityUpgradeButton
{
	width: 512px;
	height: 160px;
	margin-bottom: 8px;
	border-radius: 8px;
	box-shadow: rgba(0,0,0, 0.5) 0px 0px 16px 0px;
}

CitadelAbilityUpgradeButton:Hover
{
	brightness: 2;
}

.abilityPointsRequiredContainer
{
	height: 100%;
	width: 96px;
	background-color: colorCommonDarkestGray;
	horizontal-align: center;
}

.abilityPointValueContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

.abilityPointBolt
{
	width: 24px;
	height: 24px;
	background-size: 24px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/hud/hero_ability_pip_psd.vtex");
	wash-color: colorUpgrades;
	animation-name: canAffordUpgradePip;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.cantAffordUpgrade .abilityPointBolt
{
	wash-color: colorEnemy;
	animation-iteration-count: 0;
}

.hasUpgrade .abilityPointBolt
{
	width: 56px;
	height: 56px;
	background-size: 56px;
	background-image: url("s2r://panorama/images/hud/ability_upgrade_check_psd.vtex");
	wash-color: colorCommonOffWhite;
	animation-iteration-count: 0;
}

.abilityPointsRequiredLabel
{
	margin-left: 8px;
	font-size: 48px;
	font-weight: bold;
	vertical-align: center;
}

.cantAffordUpgrade .abilityPointsRequiredLabel
{
	color: colorEnemy;
}

.hasUpgrade .abilityPointsRequiredLabel
{
	visibility: collapse;
}

.abilityUpgradeDesc
{
	width: 100%;
	height: 100%;
	padding: 16px;
	font-size: 24px;
	background-color: #73E5E5;
}

.cantAffordUpgrade .abilityUpgradeDesc,.abilityNotTrained .abilityUpgradeDesc
{
	background-color: #295F66;
}

.hasUpgrade .abilityUpgradeDesc
{
	background-color: colorCommonDarkestGray;
}

#upgradeDesc
{
	vertical-align: center;
	font-size: 24px;
	font-weight: semi-bold;
	color: colorCommonDarkestGray;
}

.cantAffordUpgrade #upgradeDesc
{
	color: colorCommonOffWhite;
}

.hasUpgrade #upgradeDesc
{
	color: colorCommonOffWhite;
}

.hoveredLine
{
	width: 3px;
	height: 80%;
	vertical-align: center;
	background-color: #B2FFFF;
	visibility: collapse;
}

.customDescription .upgradeBonusAmount
{
	visibility: collapse;
}

.verticalAlignCenter
{
	margin-right: 4px;
	vertical-align: center;
	font-size: 24px;
	font-weight: bold;
}

.highlight
{
	font-weight: bold;
}

.upgradeBonusAmount
{
	vertical-align: center;
	color: colorCommonDarkestGray;
	font-weight: bold;
	font-size: 24px;
}

.cantAffordUpgrade .upgradeBonusAmount
{
	color: colorCommonOffWhite;
}

.hasUpgrade .upgradeBonusAmount
{
	color: colorCommonOffWhite;
}

@keyframes 'canAffordUpgradePip'
{
	0%
	{
		wash-color: white;
	}
	
	50%
	{
		wash-color: #295F66;
	}
	
	100%
	{
		wash-color: white;
	}
	
}

