/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@keyframes 'page_fade_in'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1.0;
	}
	
}

@keyframes 'page_slide_in_from_left'
{
	0%
	{
		transform: translateX( -100% );
	}
	
	100%
	{
		transform: translateX( 0% );
	}
	
}

@keyframes 'page_slide_in_from_right'
{
	0%
	{
		transform: translateX( 100% );
	}
	
	100%
	{
		transform: translateX( 0% );
	}
	
}

@keyframes 'page_slide_in_from_top'
{
	0%
	{
		transform: translateY( -100% );
	}
	
	100%
	{
		transform: translateY( 0% );
	}
	
}

@keyframes 'page_slide_in_from_bottom'
{
	0%
	{
		transform: translateY( 100% );
	}
	
	100%
	{
		transform: translateY( 0% );
	}
	
}

@keyframes 'page_slide_out_from_left'
{
	0%
	{
		transform: translateX( 0% );
	}
	
	100%
	{
		transform: translateX( 100% );
	}
	
}

@keyframes 'page_slide_out_from_right'
{
	0%
	{
		transform: translateX( 0% );
	}
	
	100%
	{
		transform: translateX( -100% );
	}
	
}

@keyframes 'page_slide_out_from_top'
{
	0%
	{
		transform: translateY( 0% );
	}
	
	100%
	{
		transform: translateY( 100% );
	}
	
}

@keyframes 'page_slide_out_from_bottom'
{
	0%
	{
		transform: translateY( 0% );
	}
	
	100%
	{
		transform: translateY( -100% );
	}
	
}

@keyframes 'page_fade_out_fade_in'
{
	0%
	{
		opacity: 0;
		brightness: 0;
	}
	
	50%
	{
		opacity: 1.0;
		brightness: 0;
	}
	
	100%
	{
		opacity: 1.0;
		brightness: 1.0;
	}
	
}

@keyframes 'fade_in_color_in'
{
	0%
	{
		opacity: 0;
		saturation: 0;
	}
	
	50%
	{
		opacity: 1;
		saturation: 0;
	}
	
	100%
	{
		opacity: 1;
		saturation: 1;
	}
	
}

@keyframes 'color_out_fade_out_old'
{
	0%
	{
		saturation: 1;
	}
	
	50%
	{
		saturation: 0;
	}
	
}

@keyframes 'color_out_fade_out_new'
{
	0%
	{
		opacity: 0;
	}
	
	50%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

#PageContents
{
	width: 100%;
	height: 100%;
}

#BookViewer
{
	horizontal-align: center;
	vertical-align: top;
	width: 1700px;
	height: 956px;
	background-color: black;
	margin-top: 20px;
}

#PageContainer
{
	width: 100%;
	height: 100%;
	background-color: black;
}

.ImagePanelContainer
{
	width: 100%;
	height: 100%;
}

#ImgPanel
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
}

.PageChoiceListContainer
{
	margin-left: 450px;
	margin-top: 200px;
	margin-right: 50px;
	margin-bottom: 50px;
	width: 100%;
	height: 100%;
}

#PageChoiceList
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right-wrap;
}

.ChoiceContainer
{
	horizontal-align: center;
}

.BookPageContainer
{
	width: 100%;
	height: 100%;
}

.DisableNavigation #PrevPage,.DisableNavigation #NextPage,.DisableNavigation #AutoPlay,.DisableNavigation #AutoStop
{
	opacity: 0;
}

