/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelPlayerLevel
{
	height: 170px;
	width: 170px;
	vertical-align: bottom;
	transition-property: opacity;
	transition-duration: 0.2s;
	ui-scale: 55%;
	margin-left: 90px;
	margin-bottom: 80px;
	visibility: collapse;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	z-index: 2;
}

.view_is_in_eye.player_selected CitadelPlayerLevel
{
	visibility: visible;
}

.connectedToNewPlayerSandbox.player_selected CitadelPlayerLevel
{
	visibility: collapse;
}

.wants_scoreboard CitadelPlayerLevel
{
	ui-scale: 70%;
	margin-left: 70px;
}

.PlayerLevelContainer
{
	opacity: 1;
	height: 120px;
	width: 100%;
	vertical-align: bottom;
}

.AtMaxLevel .PlayerLevelContainer
{
	opacity: 0;
}

Label
{
	font-family: sansMono;
	font-weight: bold;
}

@define soulsImageHeight: 120px;
@define soulsFillerHeight: 104px;
.SoulsLevelImages
{
	height: soulsImageHeight;
	width: 120px;
	background-size: 120px soulsImageHeight;
}

#SoulsFrame
{
	background-image: url("s2r://panorama/images/hud/core/spirit_jar_frame_png.vtex");
}

#Souls
{
	height: soulsImageHeight;
	width: 120px;
	vertical-align: bottom;
	horizontal-align: left;
	z-index: 2;
}

#SoulsFill
{
	background-image: url("s2r://panorama/images/hud/core/spirit_jar_fill_png.vtex");
	background-size: 102px soulsFillerHeight;
	background-position: 50% 100%;
	opacity: 0.4;
	margin: 8px 9px 8px 9px;
	height: soulsFillerHeight;
	width: 102px;
	background-repeat: no-repeat;
	vertical-align: bottom;
	z-index: 2;
}

#SoulsFillContainer
{
	width: 100%;
	vertical-align: bottom;
}

#SoulsToNextContainer
{
	margin-top: 32px;
	horizontal-align: center;
}

.SoulsImage
{
	background-size: 100% 100%;
	vertical-align: center;
	background-image: url("s2r://panorama/images/hud/icons/icon_soul.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 24px;
	wash-color: shardColor;
	wash-color: offWhite;
	opacity: 0.4;
	width: 18px;
	margin-left: 2px;
}

.ToNextLabel
{
	color: offWhite&90;
	font-size: 15px;
	img-shadow: 0px 0px 5px offBlack;
	horizontal-align: center;
	font-weight: semi-bold;
}

.NumSoulsRequired
{
	color: offWhite;
	font-size: 24px;
	text-overflow: shrink;
	text-shadow: 0px 0px 5px offBlack;
	margin-bottom: -3px;
	padding: 2px;
	horizontal-align: center;
	font-family: sansMono;
}

#LevelReward
{
	background-size: contain;
	background-repeat: no-repeat;
	background-size: contain;
	background-repeat: no-repeat;
}

.WeaponPowerUpgrade
{
	background-image: url("s2r://panorama/images/hud/core/ghost_reward_power_increase_png.vtex");
	transform: rotateZ(30deg);
	height: 30px;
	width: 30px;
}

.AbilityUnlockUpgrade
{
	background-image: url("s2r://panorama/images/hud/core/ghost_reward_unlock_png.vtex");
	margin-right: -5px;
	height: 30px;
	width: 30px;
}

.AbilityPointUpgrade
{
	background-image: url("s2r://panorama/images/hud/core/ghost_reward_ap_png.vtex");
	height: 30px;
	width: 30px;
}

.PowerIncreaseBonus
{
	width: 50px;
	height: 35px;
	margin-top: 0px;
	background-image: url("s2r://panorama/images/hud/core/ghost_reward_power_increase2_png.vtex");
}

.RewardsAndSoulsNextContainer
{
	horizontal-align: left;
	margin-left: 15px;
	margin-top: 20px;
	width: 100px;
	height: 100px;
}

#RewardsContainer
{
	z-index: 9;
	margin-top: 4px;
	horizontal-align: center;
	flow-children: right;
	width: fit-children;
}

.ToNextLabel
{
	margin-top: -5px;
}

.RangeLabel
{
	color: #ffffff10;
	font-size: 14px;
	font-weight: normal;
	font-weight: medium;
	font-family: sansMono;
	transform: rotateZ( -15deg );
	width: 65px;
	text-align: center;
	visibility: collapse;
}

.TopRange
{
	margin-left: -10px;
	margin-top: 8px;
}

.BottomRange
{
	vertical-align: bottom;
	margin-bottom: 10px;
	margin-left: 10px;
}

#PlayerLevelRewardSummary
{
	width: 200px;
	background-color: #000000;
}

.ShowLevelUpToast .PlayerLevelContainer
{
	opacity: 0;
}

@keyframes 'level_up'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
	50%
	{
		pre-transform-scale2d: 1.7;
		transform: translateY(-40px);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
}

#LevelUpToast
{
	flow-children: down;
	horizontal-align: left;
	vertical-align: bottom;
	z-index: 1000;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.8s;
}

.ShowLevelUpToast #LevelUpToast
{
	opacity: 1;
	animation-name: level_up;
	animation-iteration-count: 1;
	animation-duration: 0.8s;
}

#LevelUp
{
	width: 110px;
	height: 220px;
	font-family: sans;
	z-index: 10;
}

.LevelUpBackground
{
	width: 100px;
	height: soulsImageHeight;
	background-image: url("s2r://panorama/images/hud/core/ghost_fill.vsvg");
	background-size: 100% 100%;
	vertical-align: bottom;
	margin-top: 20px;
}

.soulsTotal
{
	font-size: 34px;
	color: offWhite;
	font-weight: bold;
	text-shadow: 0px 0px 0px 5.0 offBlack;
	text-align: center;
	horizontal-align: center;
	max-width: 110px;
	text-overflow: shrink;
}

.soulsLabel
{
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	opacity: 0.9;
	background-color: offBlack;
	padding: 0px 2px;
}

#LevelUpRewardsContainer
{
	flow-children: down;
	width: 80px;
	horizontal-align: center;
	background-color: #70F8C150;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #00FF9950 ), to( #00000000 ) );
	padding-bottom: 140px;
	margin-bottom: -110px;
	z-index: 9;
}

.ShowLevelUpToast #LevelUpRewardsContainer
{
	animation-name: level_up_rewards;
	animation-iteration-count: 1;
	animation-duration: 0.8s;
	animation-delay: 0.3s;
	animation-timing-function: ease-out;
}

.LevelUpItem
{
	background-color: #70F8C150;
	width: 100%;
	flow-children: down;
	margin-bottom: 3px;
}

@keyframes 'level_up_rewards'
{
	0%
	{
		opacity: 0;
		transform: translateY(200px);
	}
	
	80%
	{
		opacity: 0.2;
	}
	
	100%
	{
		opacity: 1;
		transform: translateY(0px);
	}
	
}

.LevelUpContent
{
	horizontal-align: center;
	flow-children: right;
}

.Reward
{
	flow-children: right;
	vertical-align: middle;
	horizontal-align: center;
	height: 60px;
}

.Reward Label
{
	font-size: 20px;
	color: offBlack;
	font-weight: bold;
	vertical-align: center;
	visibility: collapse;
}

.RewardIcon
{
	width: 40px;
	height: 40px;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.LevelUpItem.weaponPower .RewardIcon
{
	background-image: url("s2r://panorama/images/hud/core/ghost_wp_reward_png.vtex");
	width: 65px;
	height: 35px;
}

.LevelUpItem.abilityPoint .RewardIcon
{
	background-image: url("s2r://panorama/images/hud/core/ghost_reward_ap_png.vtex");
	wash-color: techColor;
}

.LevelUpItem.abilityUnlock .RewardIcon,.LevelUpItem.ultimateUnlock .RewardIcon
{
	background-image: url("s2r://panorama/images/hud/core/ghost_reward_unlock_png.vtex");
	wash-color: techColor;
}

.ultimateUnlock .AwardValue,.abilityUnlock .AwardValue,.abilityPoint .AwardValue
{
	visibility: collapse;
}

