/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.statsContainer
{
	flow-children: right-wrap;
	width: 100%;
}

.WeaponName
{
	font-size: 22px;
	font-weight: bold;
	margin-top: 4px;
}

.heroStatsDisplay
{
	width: 520px;
	flow-children: down;
	border-radius: 10px;
}

.statAttributeContainer
{
	width: 80px;
	height: 40px;
	margin: 2px;
	padding: 0px 0px 0px 10px;
	background-color: #00000070;
	border-radius: 3px;
}

.statAttributeContainer:hover
{
	background-color: #ffffff05;
}

.isZeroValue.statAttributeContainer:hover
{
	background-color: #00000070;
}

.displayStatsContainer .statAttributeContainer
{
	width: 48%;
}

.isZeroValue.statAttributeContainer
{
	opacity: 0.5;
}

.HasScalingStat .statAttributeContainer
{
	border: 2px solid spiritColor&40;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #00000080 ), to( spiritDarkColor&50 ) );
}

.statAttributeContainer CitadelModifiedAttributeLabel
{
	vertical-align: center;
	width: 100%;
	height: 24px;
}

.otherStats,#SpiritImpactContainer
{
	background-color: #00000060;
}

.statTitle
{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0.6;
	margin-bottom: 0px;
	font-family: serif;
}

.displayStatsContainer
{
	padding: 15px;
	width: 100%;
	flow-children: down;
}

.weaponDesc
{
	font-size: 17px;
	font-weight: medium;
	opacity: 0.9;
	margin-bottom: 10px;
	margin-top: -5px;
}

.NoWeaponDesc .weaponDesc
{
	visibility: collapse;
}

#BackgroundContainer
{
	height: 100%;
	width: 100%;
	ignore-parent-flow: true;
}

CitadelHeroStatsWeapon #BackgroundContainer
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #493516 ), to( #271904) );
}

CitadelHeroStatsArmor #BackgroundContainer
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #375B3B ), to( #072F0B) );
}

CitadelHeroStatsTech #BackgroundContainer
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #653A6D ), to( #452456) );
}

