/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelGamePadGlyph
{
	min-width: 28px;
	min-height: 28px;
	width: fit-children;
	height: fit-children;
	visibility: collapse;
}

.hasControllerConnected CitadelGamePadGlyph
{
	visibility: collapse;
}

.hasControllerConnected.ControllerInUse CitadelGamePadGlyph
{
	visibility: visible;
}

.ZooContainerPanel CitadelGamePadGlyph
{
	visibility: visible;
}

.GamePadGlyph
{
	margin: 1px;
	vertical-align: center;
	horizontal-align: right;
	background-texture-size: 64px 64px;
}

CitadelGamePadGlyph .UnboundGamePadGlyph
{
	margin: 1px;
	padding: 2px;
	width: fit-children;
	height: fit-children;
	min-width: 24px;
	min-height: 24px;
	padding: 8px;
	background-color: #222;
	border-radius: 24px;
	horizontal-align: center;
	vertical-align: center;
}

CitadelGamePadGlyph Label.UnboundGamePadGlyph
{
	vertical-align: middle;
	horizontal-align: center;
	font-size: 14px;
	font-family: CriteriaCF;
	font-weight: bold;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-shadow: 2px 2px 0px 1.0 #000000;
	text-align: center;
}

CitadelGamePadGlyph .MultiBindSeparator
{
	width: fit-children;
	height: fit-children;
	vertical-align: bottom;
	text-align: center;
}

CitadelGamePadGlyph.MultiBind
{
	padding-right: 2px;
}

