/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelBookLibraryPage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	flow-children: right;
	background-color: #000000;
	background-image: url("s2r://panorama/images/main_menu/background_nyc_cityscape_bw_psd.vtex");
	background-img-opacity: 0.2;
	background-size: cover;
	background-position: left;
	flow-children: right;
}

.DescriptionPanel
{
	width: 500px;
	height: 100%;
	flow-children: down;
	margin: 80px 60px;
}

.LeftTitle
{
	font-size: 60px;
	color: offWhite;
	font-family: serif;
	font-weight: bold;
	horizontal-align: left;
	text-align: left;
}

.LeftText
{
	margin-top: 10px;
	font-size: 22px;
	color: offWhite&aa;
	font-weight: medium;
	horizontal-align: left;
	text-align: left;
}

.FutureTitle
{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 70px;
	margin-bottom: 0px;
	font-family: serif;
	color: ritualGreen;
}

.FutureText
{
	margin-top: 10px;
	font-size: 18px;
	max-width: 450px;
	line-height: 26px;
	text-align: justify;
	color: offWhite&aa;
	font-weight: medium;
	horizontal-align: left;
}

.MainPanel
{
	width: 1200px;
	height: 100%;
	background-color: offBlack&ee;
	padding-top: 200px;
	flow-children: down;
}

.AvailableTitle
{
	font-size: 26px;
	text-transform: uppercase;
	color: offWhite;
	font-family: sans;
	font-weight: bold;
	horizontal-align: center;
	margin-bottom: 40px;
	opacity: 0.7;
	letter-spacing: 1px;
}

#AvailableBooks
{
	horizontal-align: center;
	height: 100%;
	flow-children: right-wrap;
}

