/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHeroLogo
{
	flow-children: down;
}

.HeroName
{
	font-size: 160px;
	text-overflow: shrink;
	max-height: 120px;
	max-width: 650px;
	font-weight: bold;
	font-family: block;
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	visibility: collapse;
}

.ShowHeroName .HeroName
{
	visibility: visible;
}

.ShowHeroName.ShowHeroLogo .HeroName
{
	font-size: 55px;
}

#LogoImage
{
	width: 600px;
	height: 160px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	visibility: collapse;
	wash-color: offWhite;
	horizontal-align: middle;
}

#ScreensCarousel #LogoImage
{
	img-shadow: 0px 0px 200px 12px black;
}

.ShowHeroLogo #LogoImage
{
	visibility: visible;
}

.hero_bookworm #LogoImage
{
	height: 200px;
	margin-bottom: 10px;
}

.hero_drifter #LogoImage
{
	margin-bottom: 10px;
}

.hero_orion #LogoImage
{
	margin-bottom: 0px;
}

.hero_haze #LogoImage
{
	height: 140px;
	width: 550px;
}

.hero_inferno #LogoImage
{
	width: 550px;
}

.hero_lash #LogoImage
{
	height: 180px;
}

.hero_mirage #LogoImage
{
	height: 200px;
	margin-bottom: 10px;
}

.hero_synth #LogoImage
{
	height: 250px;
}

.hero_shiv #LogoImage
{
	height: 200px;
}

.hero_vampirebat #LogoImage
{
	height: 200px;
}

.Language_english .hero_vampirebat #LogoImage
{
	margin-bottom: -30px;
}

.hero_hornet #LogoImage
{
	margin-bottom: 5px;
}

.hero_viscous #LogoImage
{
	height: 180px;
}

.hero_wraith #LogoImage
{
	width: 550px;
}

.hero_viper #LogoImage
{
	height: 220px;
	margin-bottom: 5px;
}

.hero_priest #LogoImage
{
	margin-bottom: 20px;
	height: 200px;
}

.hero_fencer #LogoImage
{
	margin-bottom: 10px;
	height: 210px;
}

.hero_werewolf #LogoImage
{
	height: 230px;
}

.Language_english .hero_werewolf #LogoImage
{
	margin-bottom: -30px;
}

.hero_necro #LogoImage
{
	margin-bottom: 20px;
	width: 550px;
}

.hero_familiar #LogoImage
{
	height: 250px;
}

.hero_unicorn #LogoImage
{
	height: 250px;
}

#CitadelPostGameNew #LogoImage
{
	padding-top: 20px;
}

#CitadelPostGameNew .hero_synth #LogoImage
{
	height:220px;
}

#CitadelPostGameNew .hero_chrono #LogoImage
{
	width: 600px;
	margin-top: -20px;
}

#CitadelPostGameNew .hero_ghost #LogoImage
{
	width: 400px;
	padding-top: 0px;
}

.hero_haze #LogoImage
{
	opacity-brush: gradient( linear, 40% 0%, 100% 0%, from( #ffffff ), to( #ffffff30) );
}

