/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHudTopBarChat #Messages
{
	width: 100%;
	height: 100%;
}

CitadelHudTopBarChat.gDetailView,CitadelHudTopBarChat.gScoreboardOpen
{
	visibility:collapse;
}

@keyframes 'chat_appear'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateX(0px) translateY(0px);
		opacity: 0;
	}
	
	50%
	{
		pre-transform-scale2d: 1;
		transform: translateX(5px) translateY(5px);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: translateX(0px) translateY(0px);
		opacity: 1;
	}
	
}

@keyframes 'ping_repeated'
{
	0%
	{
		pre-transform-scale2d: 1.05;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@define chatMessageFadeDuration: 0.3s;
.ChatMessage
{
	flow-children: down;
	width: 200px;
	animation-name: chat_appear;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	transition-property: opacity, height;
	transition-duration: chatMessageFadeDuration;
}

.ChatMessage.Expired
{
	opacity: 0.0;
}

.ChatMessage.PingRepeated #MessageContents
{
	animation-name: ping_repeated;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
}

.ChatMessage #ChatArrow
{
	width: 26px;
	min-height: 100px;
	height: fill-parent-flow( 1.0 );
	background-size: 100% 100%;
	horizontal-align: left;
	margin-left: 80px;
	background-image: url("s2r://panorama/images/hud/top_bar/chat_arrow_png.vtex");
	transform: scaleX( 1 ) translateY(5px);
	z-index: 20;
	visibility: collapse;
}

.ChatMessage #MessageContents
{
	flow-children: down;
}

.ChatMessage .ChatBubble .TextContainer
{
	margin-left: 20px;
	border: 0px solid offBlack;
	box-shadow: 3px 3px 0px 23.0 #000000;
	margin-bottom: 5px;
	min-height: 24px;
	max-width: 200px;
	min-width: 90px;
}

.ChatMessage .ChatBubble .TextContainer .bubble_bg
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #D9FFEE ), to( #a4c7b7 ) );
	background-image: url("s2r://panorama/images/hud/top_bar/chat_texture_png.vtex");
	box-shadow: 3px 3px 0px #0C0C0C;
	margin: 1px;
	border: 1px solid #0C0C0C;
	border-radius: 3px;
	animation-name: ChatGroove_Allies;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-frame-time: 400ms;
}

.ChatMessage .ChatBubble .TextContainer #MessageText
{
	font-size: 15px;
	max-height: 60px;
	text-shadow: none;
	font-weight: bold;
	text-align: left;
	color: black;
	text-overflow: shrink;
	padding: 6px 12px 6px 16px;
	font-family: oracle;
}

.MessageType_ItemDraftReaction .ChatMessage .ChatBubble .TextContainer #MessageText
{
	font-size: 20px;
	text-transform: uppercase;
	color: shardColor;
	text-shadow: 0px 0px 4.0 offBlack;
	transform: rotateZ(-5deg);
}

.ChatMessage .ChatBubble #HeroImage
{
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.ChatMessage.MessageType_ItemDraftReaction .TextContainer
{
	border-radius: 3px;
}

.ChatMessage.MessageType_ItemDraftReaction #MessageText
{
	font-family: block;
	color: shardColor;
	font-size: 30px;
	font-size: 20px;
	text-transform: uppercase;
	color: shardColor;
	text-shadow: 0px 0px 4.0 offBlack;
	transform: rotateZ(-2deg);
}

.ChatMessage.MessageTarget_GameAll .TextContainer .bubble_bg
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #effff8 ), to( #ceb2aa ) );
	animation-name: ChatGroove_Allies;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-frame-time: 200ms;
}

.ChatMessage.MessageTarget_GameAll
{
	wash-color: colorEnemy&50;
}

.enemy .ChatMessage #ChatArrow,.team2:not(.friend) .ChatMessage #ChatArrow
{
	horizontal-align: right;
	margin-right: 70px;
	transform: none;
	transform: scaleX( -1 ) translateY(5px);
}

.enemy .ChatMessage .ChatBubble,.team2:not(.friend) .ChatMessage .ChatBubble
{
	horizontal-align: right;
	margin-right: 20px;
}

.enemy .ChatMessage #MessageContents,.team2:not(.friend) .ChatMessage #MessageContents
{
	horizontal-align: right;
}

.enemy .ChatMessage .TextContainer,.team2:not(.friend) .ChatMessage .TextContainer
{
	margin-left: 0px;
	margin-left: 20px;
}

.ChatMessage.ShowArrow #ChatArrow
{
	visibility: visible;
}

.ChatBubble.MessageType_ItemDraftReaction .TextContainer
{
	border-radius: 3px;
}

.ChatBubble.MessageType_ItemDraftReaction #MessageText
{
	font-family: block;
	color: shardColor;
	font-size: 40px;
}

.ChatBubble.MessageType_ItemDraftReaction #MessageText
{
	font-family: block;
	color: shardColor;
	font-size: 40px;
}

.ResponsesContainer
{
	margin-left: 20px;
	visibility: collapse;
}

.HasResponse .ResponsesContainer
{
	visibility: visible;
}

.ResponsesContainer .ResponsesBackground
{
	background-color: #1371ff;
	height: 25px;
	width: 100%;
	vertical-align: bottom;
	border-radius: 10px;
}

.ResponsesContainer .ResponsesBackground .ThumbsUpIcon
{
	height: 15px;
	width: 15px;
	vertical-align: center;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/hud/ping/ping_icon_thanks.vsvg");
	margin-left: 5px;
}

.ResponsesContainer #ResponseHeroes
{
	margin-left: 25px;
	flow-children: right;
}

.ResponsesContainer #ResponseHeroes .ResponseHero
{
	height: 40px;
	width: 40px;
	margin-left: 2px;
}

.ResponsesContainer #ResponseHeroes .ResponseHero #ResponseHeroImage
{
	height: 100%;
	width: 100%;
}

.enemy .ResponsesContainer,.team2:not(.friend) .ResponsesContainer
{
	margin-left: 0px;
	margin-right: 20px;
	horizontal-align: right;
}

@keyframes 'ChatGroove_Allies'
{
	0%
	{
		transform: rotateZ(-1deg) skew(9deg);
	}
	
	25%
	{
		transform: rotateZ(2deg) skew(3deg);
	}
	
	50%
	{
		transform: rotateZ(-2deg) skew(7deg);
	}
	
	75%
	{
		transform: rotateZ(0deg) skew(-5deg);
	}
	
}

