/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelShopMod
{
	min-height: 80px;
	height: 125px;
	width: 80px;
	margin: 2px;
	tooltip-position: left;
	tooltip-body-position: 50% 50%;
	ui-scale: 100%;
	box-shadow: 2px 2px 12px #0007;
	border-radius: 6px;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.05s;
	opacity: 0.8;
	brightness: 0.5;
}

CitadelShopMod
{
	opacity: 0.7;
	brightness: 0.7;
	wash-color: #ff4c4c92;
}

.boldedText
{
	font-weight: bold;
}

.isWeapon .boldedText
{
	color: courageBrightColor;
}

.isTech .boldedText
{
	color: spiritBrightColor;
}

.isArmor .boldedText
{
	color: fortitudeBrightColor;
}

.componentsNotOwned:hover #ComponentRequired
{
	visibility: visible;
}

CitadelShopMod.componentOwned.canAffordMod
{
	animation-name: componentPurchased;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

CitadelShopMod.componentOwned.owned,CitadelShopMod.componentOwned:hover
{
	animation: none;
}

CitadelShopMod.canAffordMod
{
	wash-color: none;
	opacity: 0.5;
	brightness: 0.5;
	transition-property: opacity;
	transition-duration: 0.1s;
}

@keyframes 'componentPurchased'
{
	0%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
	50%
	{
		brightness: 1;
		pre-transform-scale2d: 1.04;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

CitadelShopMod.canAffordMod,CitadelShopMod.owned,CitadelShopMod.usedAsComponent
{
	wash-color: none;
	opacity: 1;
	brightness: 1;
}

CitadelShopMod.usedAsComponent,CitadelShopMod.owned
{
	opacity: 0.7;
}

.gEditingBuilds CitadelShopMod.recommended
{
	wash-color: buildsLightColor;
}

.ModTierHovered CitadelShopMod.isActiveItem
{
	border-radius: 5px;
}

.shopClosed CitadelShopMod:hover
{
	pre-transform-scale2d: 1;
}

CitadelShopMod.owned,CitadelShopMod.usedAsComponent
{
	box-shadow: none;
}

CitadelShopMod.owned:not(.IgnoreOwnership) #ModCard,CitadelShopMod.usedAsComponent #ModCard
{
	opacity: 0.5;
}

#CitadelModHoverTooltip CitadelShopMod.usedAsComponent #ModCard
{
	opacity: 1;
}

CitadelTooltipModHover CitadelShopMod.owned:not(.IgnoreOwnership) #ModCard
{
	opacity: 1;
}

CitadelShopMod.owned:hover #ModCard
{
	opacity: 1;
}

CitadelShopMod.owned:hover
{
	opacity: 1;
}

CitadelShopMod.itemDisabled,CitadelShopMod.disabledFromPurchasing
{
	wash-color: #00000060;
	opacity: 0.2;
	box-shadow: none;
	saturation: 0;
}

CitadelShopMod.itemDisabled:hover,CitadelShopMod.disabledFromPurchasing:hover
{
	pre-transform-scale2d: 1;
}

.Searching CitadelShopMod
{
	visibility: collapse;
}

.Searching CitadelShopMod.SearchMatch
{
	visibility: visible;
}

.mod_backer
{
	height: 100%;
	width: 100%;
	vertical-align: bottom;
	border-radius: 5px;
	ignore-parent-flow: true;
}

CitadelShopMod.canAffordMod:hover .mod_backer,CitadelShopMod.owned:hover .mod_backer,CitadelShopMod.usedAsComponent:hover .mod_backer
{
	box-shadow: 2px 2px 0px courageDarkerColor&80;
}

.quickbuy_icon
{
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
	width: 22px;
	height: 14px;
	z-index: -1;
	margin-left: 1px;
	wash-color: offBlack;
	opacity: 0.7;
}

.isShowingTrainingPage .modStatusCol
{
	visibility: collapse;
}

.quickbuy #Outline
{
	visibility: collapse;
	wash-color: buildsLightColor;
}

.quickbuy .quickbuy_icon
{
	visibility: visible;
}

.recommended_icon
{
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
	width: 22px;
	height: 22px;
	z-index: -1;
	wash-color: buildsLightColor&50;
}

.recommended .recommended_icon
{
	visibility: visible;
}

.quickbuy.recommended .recommended_icon
{
	visibility: collapse;
}

.recommended.usedAsComponent .recommended_icon,.recommended.owned .recommended_icon
{
	visibility: collapse;
}

.modStatusCol
{
	width: 20px;
	height: 20px;
	ignore-parent-flow: true;
	vertical-align: top;
	padding: 2px;
	border-radius: 5px 0px 0px 0px;
}

.recommended .modStatusCol
{
	background-color: buildsColor;
}

.quickbuy .modStatusCol
{
	background-color: buildsLightColor;
}

.spec_mode .recommended .modStatusCol .quickbuy
{
	visibility: collapse;
}

.owned .modStatusCol,.usedAsComponent .modStatusCol
{
	background-color: offBlack;
}

.Language_brazilian .owned .modStatusCol
{
	background-color: none;
}

.Language_latam .owned .modStatusCol
{
	background-color: none;
}

.Language_polish .owned .modStatusCol
{
	background-color: none;
}

.Language_spanish .owned .modStatusCol
{
	background-color: none;
}

.owned.quickbuy .modStatusCol
{
	background-color: colorEnemy;
}

#ItemCostContainer
{
	horizontal-align: center;
	color: shardColor;
	margin-bottom: 3px;
	visibility: collapse;
}

#Discount
{
	ignore-parent-flow: true;
	margin-top: -30px;
}

#ItemCost
{
	color: red;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: sansMono;
}

.owned #ItemCostContainer,.usedAsComponent #ItemCostContainer
{
	opacity: 0;
}

.canAffordMod #ItemCost
{
	color: shardColor;
}

#ModCard
{
	flow-children: down;
	height: fit-children;
	background-image: url("s2r://panorama/images/shop/card_backer_psd.vtex");
	opacity-mask: url("s2r://panorama/images/shop/card_backer_png.vtex");
	background-size: cover;
	width: 100%;
}

#CardBacker
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-size: cover;
}

.ModTier1.isWeapon #CardBacker
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/card_backer_weapon_t1_psd.vtex");
}

.ModTier2.isWeapon #CardBacker
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/card_backer_weapon_t2_psd.vtex");
}

.ModTier3.isWeapon #CardBacker
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/card_backer_weapon_t3_psd.vtex");
}

.ModTier4.isWeapon #CardBacker
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/card_backer_weapon_t4_psd.vtex");
}

.ModTier1.isArmor #CardBacker
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/card_backer_vitality_t1_psd.vtex");
}

.ModTier2.isArmor #CardBacker
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/card_backer_vitality_t2_psd.vtex");
}

.ModTier3.isArmor #CardBacker
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/card_backer_vitality_t3_psd.vtex");
}

.ModTier4.isArmor #CardBacker
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/card_backer_vitality_t4_psd.vtex");
}

.ModTier1.isTech #CardBacker
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/card_backer_spirit_t1_psd.vtex");
}

.ModTier2.isTech #CardBacker
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/card_backer_spirit_t2_psd.vtex");
}

.ModTier3.isTech #CardBacker
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/card_backer_spirit_t3_psd.vtex");
}

.ModTier4.isTech #CardBacker
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/card_backer_spirit_t4_psd.vtex");
}

.canAffordMod #CardBacker
{
	wash-color: none;
}

#CitadelHudHeroShop CitadelShopMod.owned #CardBacker,#CitadelHudHeroShop CitadelShopMod.usedAsComponent #CardBacker
{
	background-color: offBlack;
	background-image: none;
}

.mod_icon
{
	background-image: none;
	background-size: 40px;
	width: 40px;
	height: 40px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1;
	transition-property: opacity, saturation;
	transition-duration: 0.3s;
	margin: 8px;
	wash-color: offWhite;
}

#ModIconImage
{
	width: 100px;
	height: 100px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1;
	transition-property: opacity, saturation;
	transition-duration: 0.3s;
	visibility: collapse;
	margin: 1px;
}

#ShopModsContainer .mod_view:nth-child(3n+1) #ModIconImage
{
	opacity-mask: url("s2r://panorama/images/shop/catalog/cards/icon_mask01_psd.vtex")0.5;
}

#ShopModsContainer .mod_view:nth-child(3n+2) #ModIconImage
{
	opacity-mask: url("s2r://panorama/images/shop/catalog/cards/icon_mask02_psd.vtex")0.5;
}

#ShopModsContainer .mod_view:nth-child(3n+3) #ModIconImage
{
	opacity-mask: url("s2r://panorama/images/shop/catalog/cards/icon_mask03_psd.vtex")0.5;
}

#ModIconImage
{
	visibility: visible;
}

.mod_icon
{
	visibility: collapse;
}

.isActiveItem .mod_icon
{
	wash-color: offBlack;
}

.isWeapon .mod_icon
{
	wash-color: courageDarkerColor;
}

.isTech .mod_icon
{
	wash-color: spiritDarkerColor;
}

.isArmor .mod_icon
{
	wash-color: fortitudeDarkerColor;
}

.owned #ModIconImage
{
	brightness: 0.5;
}

.owned .mod_icon
{
	opacity: 1;
}

.isWeapon.usedAsComponent .mod_icon,.isWeapon.owned:not(.IgnoreOwnership) .mod_icon
{
	wash-color: courageBrightColor;
}

.isArmor.usedAsComponent .mod_icon,.isArmor.owned:not(.IgnoreOwnership) .mod_icon
{
	wash-color: fortitudeBrightColor;
}

.isTech.usedAsComponent .mod_icon,.isTech.owned:not(.IgnoreOwnership) .mod_icon
{
	wash-color: spiritBrightColor;
}

.isActiveItem.isWeapon.owned:not(.IgnoreOwnership) .mod_icon
{
	wash-color: courageLightColor;
}

.isActiveItem.isArmor.owned:not(.IgnoreOwnership) .mod_icon
{
	wash-color: fortitudeLightColor;
}

.isActiveItem.isTech.owned:not(.IgnoreOwnership) .mod_icon
{
	wash-color: spiritLightColor;
}

#background
{
	width: 100%;
	height: 100%;
	transition-property: background-color;
	transition-duration: 0s;
	flow-children: down;
}

.mod_bg
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
}

.modIconContainer
{
	horizontal-align: center;
	width: 100%;
	height: 55px;
}

.paperTexture
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-size: 100% 100%;
	-s2-mix-blend-mode: multiply;
}

.paperBevel
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-size: 100% 100%;
	border-left: 1px solid #fc61;
	border-top: 1px solid #fc61;
	-s2-mix-blend-mode: screen;
	border-radius: 6px;
}

.paperWear
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-size: 100% 100%;
}

.IsBeingDragged .paperTexture,.IsBeingDragged .paperBevel,.IsBeingDragged .paperWear
{
	visibility: collapse;
}

.BuildModEntry:nth-child(3n+1) .paperTexture,.mod_view:nth-child(3n+1) .paperTexture
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/shopitem_papertexture01_psd.vtex");
}

.BuildModEntry:nth-child(3n+2) .paperTexture,.mod_view:nth-child(3n+2) .paperTexture
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/shopitem_papertexture02_psd.vtex");
}

.BuildModEntry:nth-child(3n+3) .paperTexture,.mod_view:nth-child(3n+3) .paperTexture
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/shopitem_papertexture03_psd.vtex");
}

.BuildModEntry:nth-child(4n+1) .paperWear,.mod_view:nth-child(4n+1) .paperWear
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/shopitem_paperwear01_psd.vtex");
}

.BuildModEntry:nth-child(4n+2) .paperWear,.mod_view:nth-child(4n+2) .paperWear
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/shopitem_paperwear02_psd.vtex");
}

.BuildModEntry:nth-child(4n+3) .paperWear,.mod_view:nth-child(4n+3) .paperWear
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/shopitem_paperwear03_psd.vtex");
}

.BuildModEntry:nth-child(4n+4) .paperWear,.mod_view:nth-child(4n+4) .paperWear
{
	background-image: url("s2r://panorama/images/shop/catalog/cards/shopitem_paperwear04_psd.vtex");
}

.usedAsComponent .paperWear,.owned .paperWear
{
	visibility: collapse;
}

.ModTier1 .paperWear
{
	opacity: .5;
}

.ModTier1.isArmor .paperWear
{
	opacity: 1;
	wash-color: #f3e1cc;
}

.ModTier1.isTech .paperWear
{
	opacity: 1;
	wash-color: rgb(247, 232, 213);
}

.ModTier2 .paperWear
{
	opacity: .5;
	wash-color: rgb(223, 192, 164);
	wash-color: rgb(230, 209, 191);
}

.ModTier3 .paperWear
{
	opacity: 0.5;
	wash-color: rgb(188, 141, 116);
	wash-color: rgb(206, 173, 155);
}

.ModTier4 .paperWear
{
	opacity: .5;
	wash-color: rgb(92, 84, 79);
	wash-color: rgb(105, 97, 92);
}

.modIconContainer
{
	height: width-percentage(100%);
}

.usedAsComponent .modIconContainer,.owned .modIconContainer
{
	background-color: offBlack;
}

.sellWillDestroyItem.owned #background:hover .mod_icon
{
	wash-color: colorCommonDarkestGray;
}

#SellOverlay
{
	background-color: offBlack;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	z-index: 15;
}

.owned:hover #SellOverlay,.ForceShowSellOverlay:hover #SellOverlay,#CitadelModHoverTooltip.owned #SellOverlay
{
	visibility: visible;
}

.MessageContent
{
	vertical-align: middle;
	horizontal-align: middle;
	width: 100%;
	padding: 5px 2px;
	flow-children: down;
}

.SellLabel
{
	width: 100%;
	height: 20px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 0px 5px 2.0 #000000;
}

.ItemName
{
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: semi-bold;
	text-align: center;
	text-overflow: shrink;
}

.isTech .ItemName
{
	color: spiritBrightColor;
}

.isWeapon .ItemName
{
	color: courageBrightColor;
}

.isArmor .ItemName
{
	color: fortitudeBrightColor;
}

.SellCost
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 10px;
	height: 24px;
}

#SellCostAmount
{
	font-weight: bold;
	color: offWhite;
	vertical-align: middle;
	margin-bottom: 4px;
	font-size: 16px;
}

#SellOverlay .goldIcon
{
	width: 20px;
	height: 20px;
	margin-right: 0px;
}

#UsedAsComponent
{
	background-color: offBlack&ee;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

CitadelShopMod.usedAsComponent:hover #UsedAsComponent,#CitadelModHoverTooltip .usedAsComponent #UsedAsComponent
{
	visibility: visible;
}

#UsedAsComponent Label
{
	width: 100%;
	font-size: 12px;
	color: offWhite&50;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

#ReturnToShop
{
	background-color: offBlack&ee;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.shopClosed CitadelShopMod:hover #ReturnToShop,#CitadelModHoverTooltip.shopClosed #ReturnToShop
{
	visibility: visible;
}

.isShowingTrainingPage #CitadelModHoverTooltip.shopClosed #ReturnToShop
{
	visibility: collapse;
}

.shopClosed CitadelShopMod.usedAsComponent:hover #ReturnToShop
{
	visibility: collapse;
}

#PurchasingDisabled
{
	background-color: offBlack&ee;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.purchasingDisabled CitadelShopMod:hover #PurchasingDisabled
{
	visibility: visible;
}

.ReturnLabel
{
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.PurchasingDisabledLabel
{
	width: 100%;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

CitadelShopMod.owned:hover #ReturnToShop
{
	visibility: collapse;
}

#CantAfford
{
	wash-color: #fe484880;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 9;
}

CitadelShopMod:hover #CantAfford
{
	visibility: visible;
}

#CantAfford .MessageContent
{
	vertical-align: top;
	margin-top: 33px;
}

CitadelShopMod.canAffordMod #CantAfford,CitadelShopMod.owned:hover #CantAfford,.shopClosed CitadelShopMod:hover #CantAfford,.purchasingDisabled CitadelShopMod:hover #CantAfford
{
	visibility: collapse;
}

.shopClosed CitadelShopMod:hover #CantAfford,.purchasingDisabled CitadelShopMod:hover #CantAfford
{
	visibility: collapse;
}

.CantAffordLabel
{
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	vertical-align: top;
	text-align: center;
	background-color: red;
	color: offWhite;
}

#AddToBuild
{
	background-color: buildsDarkColor&f1;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.gEditingBuilds CitadelShopMod:hover #AddToBuild
{
	visibility: visible;
}

CitadelShopMod.recommended:hover #AddToBuild,CitadelShopMod.itemDisabled:hover #AddToBuild,#ShopModsSelectedBuild CitadelShopMod:hover #AddToBuild
{
	visibility: collapse;
}

.AddToBuildLabel
{
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

#AlreadyInBuild
{
	background-color: #000000f1;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.gEditingBuilds CitadelShopMod.recommended:hover #AlreadyInBuild
{
	visibility: visible;
}

#RemoveFromBuild
{
	background-color: rgba(187, 31, 31, 0.9);
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

.gEditingBuilds #ShopModsSelectedBuild CitadelShopMod:hover #RemoveFromBuild
{
	visibility: collapse;
}

.AddToBuildLabel
{
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

@keyframes 'upgrade_pulse'
{
	0%
	{
		background-color: #333333ff;
	}
	
	50%
	{
		background-color: #635D39FF;
	}
	
	100%
	{
		background-color: #333333ff;
	}
	
}

.mod_name_area
{
	height: fill-parent-flow(1.0);
	width: 100%;
	padding: 5px 2px;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: down;
	visibility: visible;
	opacity: 1;
}

.ModTierHovered .mod_name_area
{
	opacity: 1;
}

.lowResolution .mod_name_area
{
	padding: 4px 0px;
}

.owned .mod_name_area,.usedAsComponent .mod_name_area
{
	background-color: offBlack;
}

.modName
{
	color: offBlack&ff;
	font-size: 15px;
	font-weight: bold;
	vertical-align: center;
	vertical-align: middle;
	width: 100%;
	max-height: 50px;
	text-overflow: shrink;
	background-color: none;
	font-family: sans;
	text-align: center;
	padding: 0 4px;
}

.ModTier3.isWeapon .modName
{
	color: black;
	text-shadow: 0 0 12px #aa8470;
}

.ModTier4.isWeapon .modName
{
	color: #d4472f;
	color: #e4c5a1;
}

.ModTier4.isArmor .modName
{
	color: #70a44b;
	color: #c2e7cd;
}

.ModTier4.isTech .modName
{
	color: #895ae2;
	color: #e3d4f2;
}

.lowResolution .modName
{
	font-size: 14px;
}

.owned #ModCard .modName
{
	color: offWhite&80;
	text-shadow: none;
}

.usedAsComponent #ModCard .modName
{
	color: offWhite;
	font-style: italic;
	opacity: 0.5;
}

#TierContainer
{
	width: 28px;
	height: 28px;
	horizontal-align: right;
	ui-scale: 140%;
	visibility: collapse;
}

.showingFavorites #TierContainer,.showingSearch #TierContainer,PopupSellMaxItems #TierContainer
{
	visibility: visible;
}

.tier_bg
{
	width: 100%;
	height: 100%;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/shop/tier_corner_cap.vsvg");
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: right 0px;
	img-shadow: -4px 0px 10px #000000ee;
	border-radius: 0px 1px 0px 0px;
}

.isWeapon .tier_bg
{
	wash-color: courageBrightColor;
}

.isArmor .tier_bg
{
	wash-color: fortitudeBrightColor;
}

.isTech .tier_bg
{
	wash-color: spiritBrightColor;
}

#mod_tier_label
{
	horizontal-align: right;
	margin-top: 0px;
	height: 8px;
	background-size: 100% 100%;
	margin-top: 3px;
	margin-right: 0px;
	z-index: 2;
	wash-color: offBlack;
	opacity: 1;
}

.HideModTierLabel #mod_tier_label
{
	visibility: collapse;
}

#PurchaseItemIcon #mod_tier_label
{
	ignore-parent-flow: true;
	vertical-align: top;
}

.ModTier1 #mod_tier_label
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_01.vsvg");
	width: 5px;
	margin-right: 4px;
}

.ModTier2 #mod_tier_label
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_02.vsvg");
	width: 7px;
	margin-right: 3px;
}

.ModTier3 #mod_tier_label
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_03.vsvg");
	width: 9px;
	margin-right: 2px;
}

.ModTier4 #mod_tier_label
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_04.vsvg");
	width: 11px;
	margin-right: 1px;
}

.itemDisabled .modName
{
	font-style: italic;
}

.imbue_tag
{
	background-color: offBlack;
	vertical-align: bottom;
	horizontal-align: middle;
	ignore-parent-flow: true;
	border-radius: 2px;
	margin: 0px;
	visibility: collapse;
	min-width: 60px;
	width: 100%;
}

.active_tag
{
	vertical-align: bottom;
	horizontal-align: middle;
	ignore-parent-flow: true;
	margin: 0px;
	visibility: collapse;
	min-width: 60px;
	width: 100%;
	height: 20px;
	margin-bottom: 36px;
	z-index: 2;
}

.active_backer
{
	width: 100%;
	height: 0px;
	background-color: #4a7a98;
	background-color: black;
	vertical-align: middle;
	margin-top: 3px;
}

.imbue_tag
{
	background-color: spiritDarkColor;
}

.isActiveItem .active_tag
{
	visibility: visible;
}

.isImbueItem .imbue_tag
{
	visibility: visible;
}

#ActiveTag,#ImbueTag
{
	font-size: 12px;
	text-transform: uppercase;
	text-overflow: shrink;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 0px 3px 0px 3px;
	height: 16px;
	text-align: center;
	horizontal-align: center;
}

#ImbueTag
{
	color: spiritLightColor;
	text-overflow: shrink;
}

#ActiveTag
{
	background-color: #181818;
	padding: 0px 4px;
	font-size: 11px;
	box-shadow: 0px 0px 30px #00000060;
	color: offBlack&ea;
	color: offWhite&aa;
	letter-spacing: 0px;
	border-radius: 2px;
}

.new_tag
{
	horizontal-align: center;
	white-space: nowrap;
	vertical-align: top;
	text-align: center;
	font-size: 13px;
	ignore-parent-flow: true;
	font-weight: bold;
	background-color: offWhite;
	background-color: #f83a3a;
	color: offWhite;
	visibility: collapse;
	padding: -1px 5px 0px 5px;
	border-radius: 0px 0px 3px 3px;
}

.New .new_tag
{
	visibility: visible;
}

.owned.New .new_tag
{
	visibility: collapse;
}

.connectedToNewPlayerSandbox .new_tag,.connectedToLaneTraining .new_tag
{
	visibility: collapse;
}

.purchasedIcon
{
	horizontal-align: right;
	vertical-align: center;
	visibility: collapse;
	width: 100%;
	height: 100%;
	z-index: -1;
	wash-color: offBlack;
	background-size: contain;
}

.destroyIcon
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 8px;
	visibility: collapse;
	width: 24px;
	height: 24px;
	z-index: -1;
}

.sellWillDestroyItem.owned #background:hover .destroyIcon
{
	visibility: visible;
	wash-color: colorCommonDarkestGray;
}

.Language_brazilian .owned .purchasedIcon
{
	visibility: collapse;
	wash-color: none;
}

.Language_latam .owned .purchasedIcon
{
	visibility: collapse;
	wash-color: none;
}

.Language_polish .owned .purchasedIcon
{
	visibility: collapse;
	wash-color: none;
}

.Language_spanish .owned .purchasedIcon
{
	visibility: collapse;
	wash-color: none;
}

.owned .purchasedIcon,.usedAsComponent .purchasedIcon
{
	visibility: visible;
	wash-color: offWhite;
}

.owned.quickbuy .purchasedIcon
{
	visibility: collapse;
}

.sellWillDestroyItem.owned #background:hover .purchasedIcon
{
	visibility: collapse;
}

.showingFilters #ShopModsListAll CitadelShopMod
{
	visibility: collapse;
}

.showingFilters.ShowingWeaponDamageFilter #ShopModsListAll .WeaponDamageFilter,.showingFilters.ShowingMagicDamageFilter #ShopModsListAll .MagicDamageFilter,.showingFilters.ShowingDurabilityFilter #ShopModsListAll .DurabilityFilter,.showingFilters.ShowingFireRateFilter #ShopModsListAll .FireRateFilter,.showingFilters.ShowingClipSizeFilter #ShopModsListAll .ClipSizeFilter,.showingFilters.ShowingMeleeFilter #ShopModsListAll .MeleeFilter,.showingFilters.ShowingHealingFilter #ShopModsListAll .HealingFilter,.showingFilters.ShowingMovementFilter #ShopModsListAll .MovementFilter,.showingFilters.ShowingDisruptionFilter #ShopModsListAll .DisruptionFilter
{
	visibility: visible;
}

.componentIcon
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 3px;
	visibility: collapse;
	width: 20px;
	height: 20px;
	z-index: -1;
	opacity: 0.5;
}

.componentNotOwnedIcon
{
	width: 40px;
	height: 40px;
	visibility: collapse;
	ignore-parent-flow: true;
	z-index: 99999;
	horizontal-align: center;
	vertical-align: center;
	wash-color: offBlack;
}

.componentsNotOwned .componentNotOwnedIcon
{
	visibility: visible;
}

#ComponentsContainer
{
	flow-children: down;
	horizontal-align: right;
	ignore-parent-flow: true;
	width: fit-children;
	height: 100%;
	z-index: 9;
	margin-top: 3px;
	margin-right: 3px;
	overflow: noclip;
}

#ComponentsContainer
{
	visibility: collapse;
}

.owned #ComponentsContainer
{
	visibility: collapse;
}

.componentModIconContainer
{
	vertical-align: top;
	margin-bottom: 1px;
	background-color: offWhite&70;
	border-radius: 80px;
	overflow: noclip;
	width: 22px;
	height: 22px;
	border: 1px solid #00000060;
	overflow: noclip;
}

.owned .componentModIconContainer,.componentOwned .componentModIconContainer
{
	opacity: 1;
	background-color: #000000;
	border: 0px solid #000000;
}

#componentModIcon
{
	width: 15px;
	height: 15px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1;
	overflow: noclip;
}

#componentOwnedIcon
{
	width: 14px;
	height: 14px;
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: fortitudeBrightColor;
	wash-color: white;
	vertical-align: middle;
	horizontal-align: center;
	margin-top: 3px;
	visibility: collapse;
}

.componentOwned #componentOwnedIcon
{
	visibility: visible;
}

.isWeaponComponent #componentModIcon
{
	wash-color: courageDarkColor;
	opacity: 1;
}

.isArmorComponent #componentModIcon
{
	wash-color: fortitudeDarkColor;
	opacity: 1;
}

.isTechComponent #componentModIcon
{
	wash-color: spiritDarkColor;
	opacity: 1;
}

.owned #componentModIcon,.componentOwned #componentModIcon
{
	wash-color: offWhite;
	opacity: 1;
	width: 17px;
	height: 17px;
	margin-right: 4px;
	margin-bottom: 5px;
}

.owned #componentModIcon
{
	opacity: 0.5;
	width: 10px;
	height: 10px;
}

.componentOwned #componentModIcon
{
	visibility: collapse;
}

CitadelShopMod.owned:hover .componentModIconContainer
{
	opacity: 0;
}

#UpgradeAvailable
{
	width: 70%;
	height: 70%;
	background-image: url("s2r://panorama/images/shop/catalog/sticker_discount_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	horizontal-align: right;
	visibility: collapse;
}

.Language_schinese #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_schinese_png.vtex");
}

.Language_brazilian #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_brazilian_png.vtex");
}

.Language_czech #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_czech_png.vtex");
}

.Language_french #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_french_png.vtex");
}

.Language_german #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_german_png.vtex");
}

.Language_italian #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_italian_png.vtex");
}

.Language_koreana #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_koreana_png.vtex");
}

.Language_latam #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_spanish_png.vtex");
}

.Language_polish #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_polish_png.vtex");
}

.Language_russian #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_russian_png.vtex");
}

.Language_spanish #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_spanish_png.vtex");
}

.Language_thai #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_thai_png.vtex");
}

.Language_turkish #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_turkish_png.vtex");
}

.Language_ukrainian #UpgradeAvailable
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/upgrade/sticker_upgrade_ukrainian_png.vtex");
}

.componentOwned #UpgradeAvailable
{
	visibility: visible;
	animation-name: discountTag;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

.componentOwned.owned #UpgradeAvailable
{
	visibility: collapse;
	animation: none;
}

@keyframes 'discountTag'
{
	0%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
		wash-color: shardColor&30;
	}
	
	50%
	{
		brightness: 2;
		pre-transform-scale2d: 1;
		wash-color: shardColor;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
		wash-color: shardColor&30;
	}
	
}

#Outline
{
	width: 100%;
	height: 100%;
	border: 2px solid white;
	z-index: 9;
	ignore-parent-flow: true;
	visibility: collapse;
}

.HoveredItemIsComponent #Outline,.HoveredItemIsUpgrade #Outline
{
	visibility: visible;
	wash-color: white;
}

.componentOwned #Outline
{
	visibility: visible;
	wash-color: shardColor;
}

.owned #Outline
{
	wash-color: offBlack;
	visibility: visible;
}

.usedAsComponent #Outline
{
	wash-color: offBlack;
	visibility: visible;
}

.quickbuy #Outline
{
	visibility: visible;
	wash-color: buildsLightColor;
}

.isShowingTrainingPage #Outline
{
	visibility: collapse;
}

#BuyOverlay
{
	background-color: buildsColor;
	width: 100%;
	ignore-parent-flow: true;
	vertical-align: bottom;
	visibility: collapse;
	z-index: 100;
}

CitadelShopMod:hover #BuyOverlay
{
	visibility: visible;
}

CitadelShopMod.owned #BuyOverlay
{
	visibility: collapse;
}

#BuyOverlay .MessageContent
{
	vertical-align: middle;
	horizontal-align: middle;
	width: 100%;
	flow-children: down;
	padding: 0px;
}

.BuyLabel
{
	width: 100%;
	height: 20px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1px;
	background-color: offBlack;
	color: offWhite;
	visibility: collapse;
	padding: 0px 0px 16px 0px;
	vertical-align: top;
}

.canAffordMod .BuyLabel
{
	visibility: collapse;
}

.QueueLabel
{
	width: 100%;
	text-align: center;
	font-size: 10px;
	font-weight: semi-bold;
	text-align: center;
	line-height: 14px;
	background-color: buildsLightColor;
	opacity: 1;
	color: offBlack;
}

#InQueue,.quickbuy #NotInQueue,.quickbuy .BuyLabel
{
	visibility: collapse;
}

.quickbuy #InQueue
{
	visibility: visible;
	color: offBlack;
	font-size: 10px;
	font-weight: bold;
}

.isShowingTrainingPage #BuyOverlay,.disabledFromPurchasing #BuyOverlay
{
	opacity: 0;
}

#DisabledForPlaytest
{
	background-color: offBlack&f1;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 10;
}

CitadelShopMod.disabledFromPurchasing:hover #DisabledForPlaytest
{
	visibility: visible;
}

#DisabledForPlaytest .MessageContent
{
	vertical-align: middle;
	margin-top: 15px;
}

.ItemDisabledLabel
{
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	vertical-align: top;
	text-align: center;
}

#ComponentNotOwned
{
	background-color: offWhite;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	padding: 2px 4px;
	horizontal-align: middle;
	vertical-align: top;
	margin-top: 30px;
	ignore-parent-flow: true;
	visibility: collapse;
	z-index: 10;
}

.componentsNotOwned #ComponentNotOwned
{
	visibility: visible;
}

#ItemPurchased
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	border-radius: 5px;
	z-index: 9;
	opacity: 1;
}

CitadelShopMod.owned:not(.IgnoreOwnership) #ItemPurchased
{
	visibility: visible;
}

CitadelShopMod.owned:hover #ItemPurchased,#CitadelModHoverTooltip.owned #ItemPurchased
{
	visibility: collapse;
}

#ItemPurchased Label
{
	width: 100%;
	color: #fa4b4b;
	font-size: 28px;
	font-weight: bold;
	vertical-align: top;
	margin-bottom: 30px;
	margin-left: 2px;
	text-align: center;
	text-transform: uppercase;
	transform: rotateZ(-10deg);
	opacity: 1;
}

#ItemPurchased #SoldSticker
{
	background-image: url("s2r://panorama/images/shop/catalog/text_images/sticker_sold/sticker_sold_checkmark_png.vtex");
	width: 90%;
	height:100%;
	margin-top: 13px;
	horizontal-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	visibility: collapse;
}

CitadelShopMod.isArmor:hover
{
	sound: "UI.Shop.Mod.Hover.Vitality";
}

CitadelShopMod.isWeapon:hover
{
	sound: "UI.Shop.Mod.Hover.Weapon";
}

CitadelShopMod.isTech:hover
{
	sound: "UI.Shop.Mod.Hover.Spirit";
}

