/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelFooterBar
{
	background-color: black;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000 ) );
	width: 100%;
	height: 80px;
	vertical-align: bottom;
	padding: 0px 50px 0px 50px;
	ignore-parent-flow: true;
	z-index: 100;
}

.IsShowingDashboardPage CitadelFooterBar
{
	visibility: collapse;
}

.showPlayMenu.IsShowingDashboardPage CitadelFooterBar
{
	visibility: visible;
}

CitadelFooterBar .FooterCommand
{
	vertical-align: bottom;
	flow-children: right;
	transition-property: transform, brightness;
	transition-duration: 0.1s;
	transition-timing-function: ease;
	margin-right: 40px;
	min-width: 220px;
}

CitadelFooterBar .ReverseFlow.FooterCommand
{
	flow-children: left;
}

CitadelFooterBar .FooterCommand:hover
{
	brightness: 1.3;
	transform: translateY(-2px);
}

.commandPanel
{
	padding-top: 10px;
}

.FooterCommandLabel
{
	vertical-align: middle;
	margin-left: 8px;
	font-weight: semi-bold;
}

CitadelFooterBar .controlKeyBind
{
	min-width: 32px;
	min-height: 32px;
	margin: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	background-color: rgba(240, 233, 231, 0.1);
}

CitadelFooterBar .isMouseButton .controlKeyBind
{
	background-color: none;
	padding-right: 0px;
	padding-left: 0px;
}

#LeftCommandPanel
{
	horizontal-align: left;
}

#CenterLeftCommandPanel
{
	horizontal-align: left;
	margin-left: 25%;
}

#CenterRightCommandPanel
{
	horizontal-align: right;
	margin-right: 25%;
}

#CenterCommandPanel
{
	horizontal-align: center;
}

#RightCommandPanel
{
	horizontal-align: right;
}

.DefaultESC
{
	visibility: collapse;
}

.useDefaultEsc .DefaultESC
{
	visibility: visible;
}

.InlineGlyph
{
	height: 34px;
	width: 34px;
	background-size: 100% 100%;
}

