/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelModifiedAttributeLabel
{
	width: fit-children;
	flow-children: right;
}

CitadelHeroStatsDisplay CitadelModifiedAttributeLabel
{
	horizontal-align: center;
}

.isPostGame CitadelModifiedAttributeLabel
{
	width: 100%;
}

#HeroStats CitadelModifiedAttributeLabel.StatDesc_MaxHealth,#HeroStats CitadelModifiedAttributeLabel.StatDesc_DPS,#HeroStats CitadelModifiedAttributeLabel.StatDesc_TechPower,#HeroStats CitadelModifiedAttributeLabel.StatDesc_BaseHealthRegen,#HeroStats CitadelModifiedAttributeLabel.StatDesc_BulletDamage,#HeroStats CitadelModifiedAttributeLabel.StatDesc_TechDamageScale
{
	flow-children: down;
	margin-top: 5px;
}

CitadelHeroStats CitadelModifiedAttributeLabel
{
	width: 100%;
}

CitadelModifiedAttributeLabel.Elevated
{
	font-weight: bold;
}

CitadelHeroStats #ImportantStatsContainer CitadelModifiedAttributeLabel,CitadelHeroStats #IntroStatsContainer CitadelModifiedAttributeLabel
{
	flow-children: down;
}

CitadelModifiedAttributeLabel#TierBonusValue,CitadelModifiedAttributeLabel#ImportantStatValue
{
	flow-children: none;
}

CitadelModifiedAttributeLabel#TierBonusValue
{
	width: 85px;
}

CitadelModifiedAttributeLabel.ShowBonusDiff
{
	width: 100%;
	margin: 2px 0px;
}

CitadelModifiedAttributeLabel.Elevated
{
	color: courageBrightColor;
	ui-scale: 105%;
	margin-bottom: 15px;
	margin-bottom: 2px;
}

CitadelModifiedAttributeLabel.PropertySearchMatch
{
	animation-name: SearchHighlight;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	background-color: #ffffff00;
	animation-delay: 1s;
	background-color: rgba(255, 255, 151, 0.05);
}

@keyframes 'SearchHighlight'
{
	0%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1;
		brightness: 2;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

#StatsAppliedContainer #PassiveLineItem Label
{
	font-size: 18px;
	font-weight: medium;
}

#AdditionalText
{
	font-size: 17px;
	vertical-align: middle;
	font-weight: semi-bold;
	opacity: 0.6;
	horizontal-align: center;
}

#StatContainer_WeaponRangeFalloffMin .StatImageArea,#StatContainer_WeaponRangeFalloffMax .StatImageArea
{
	visibility: collapse;
}

.ShowBonusDiff.ShowBonusDiffEnd #AdditionalText
{
	width: 290px;
}

.ShowBonusDiff #AdditionalText
{
	width: 260px;
}

CitadelHeroStats #AdditionalText
{
	font-size: 16px;
	horizontal-align: center;
	text-align: center;
	font-weight: semi-bold;
	font-family: sans;
	color: #ffffff60;
	width: 100%;
}

#HeroStatsDisplay #AdditionalText
{
	font-size: 16px;
	font-weight: semi-bold;
	color: #ffffff60;
}

.heroStatsDisplay #AdditionalText
{
	height: 100%;
	text-overflow: shrink;
}

#StatsAppliedContainer #AdditionalText
{
	opacity: 0.5;
	font-size: 17px;
	text-overflow: shrink;
	height: 23px;
	font-size: 18px;
	font-weight: medium;
	color: #ffffff;
}

#TierBonusValue #BaseLabel,#TierBonusValue #ModifiedLabel,#PropertyStatValue #BaseLabel,#PropertyStatValue #ModifiedLabel
{
	text-align: center;
	horizontal-align: center;
	font-family: sansMono;
}

#StatsAppliedContainer .Elevated #AdditionalText
{
	font-weight: bold;
	opacity: 1;
}

#StatsAppliedContainer .Elevated .PostfixValue,#StatsAppliedContainer .Elevated .PrefixValue
{
	font-weight: bold;
}

AbilityDetailsPanel #ImportantStatContainer #PropertyStatValue #BaseLabel,AbilityDetailsPanel #ImportantStatContainer #PropertyStatValue #ModifiedLabel,AbilityDetailsPanel #ImportantStatContainer #PropertyStatValue #StatScalingLabel,AbilityDetailsPanel #CooldownLabel #BaseLabel,AbilityDetailsPanel #CooldownLabel #ModifiedLabel,AbilityDetailsPanel #ChargesLabel #BaseLabel,AbilityDetailsPanel #ChargesLabel #ModifiedLabel
{
	font-size: 20px;
}

.LabelsContainer
{
	flow-children: right;
	horizontal-align: center;
	width: fit-children;
	font-weight: bold;
	margin-right: 5px;
	vertical-align: center;
}

#HeroStatsDisplay .LabelsContainer
{
	margin-right: 4px;
	horizontal-align: left;
}

#StatsAppliedBackground .LabelsContainer
{
	margin-left: 7px;
	margin-right: 0px;
}

.StatusEffectBox .LabelsContainer
{
	margin-right: 5px;
}

CitadelTooltipModDetails #ImportantAttributeContainer .LabelsText
{
	max-width: 90px;
	flow-children: right;
}

.LabelsText
{
	flow-children: right;
	width: fit-children;
}

.LabelsText Label
{
	text-overflow: shrink;
}

#ModifiedLabel
{
	font-family: sansMono;
	text-overflow: shrink;
	max-height: 35px;
	font-size: 18px;
}

.hero_stats #ModifiedLabel,.hero_stats #BaseLabel
{
	font-size: 20px;
}

.hero_stats #GunDamage #ModifiedLabel,.hero_stats #GunDamage #BaseLabel
{
	font-size: 22px;
}

#HeroStatsDisplay #ModifiedLabel,#HeroStatsDisplay #BaseLabel
{
	font-size: 17px;
}

#HeroStatsDisplay #StatContainer_MaxHealth #ModifiedLabel,#HeroStatsDisplay #StatContainer_MaxHealth #BaseLabel,#HeroStatsDisplay #StatContainer_DPS #ModifiedLabel,#HeroStatsDisplay #StatContainer_DPS #BaseLabel,#HeroStatsDisplay #StatContainer_TechPower #ModifiedLabel,#HeroStatsDisplay #StatContainer_TechPower #BaseLabel
{
	font-size: 20px;
}

#HeroStats #CourageStats .HasModifiedValue #ModifiedLabel
{
	color: courageBrightColor;
}

#HeroStats #FortitudeStats .HasModifiedValue #ModifiedLabel
{
	color: fortitudeBrightColor;
}

#HeroStats #SpiritStats .HasModifiedValue #ModifiedLabel
{
	color: spiritBrightColor;
}

#ImportantStatsContainer #ModifiedLabel,#ImportantStatsContainer #BaseLabel,#ImportantStatsContainer #StatScalingLabel,#ImportantStatContainer #ValueFromModsLabel,#ImportantAttributeContainer #ModifiedLabel,#ImportantAttributeContainer #BaseLabel,#ImportantAttributeContainer #StatScalingLabel,#ImportantAttributeContainer #ValueFromModsLabel
{
	font-size: 22px;
}

.gDetailView #ImportantStatsContainer .HasScalingStat #ModifiedLabel,.gDetailView #ImportantStatsContainer .HasScalingStat #BaseLabel,.gDetailView #ImportantStatsContainer .HasScalingStat #StatScalingLabel,.gDetailView #ImportantStatsContainer .HasScalingStat #ValueFromModsLabel,.gDetailView #ImportantAttributeContainer .HasScalingStat #ModifiedLabel,.gDetailView #ImportantAttributeContainer .HasScalingStat #BaseLabel,.gDetailView #ImportantAttributeContainer .HasScalingStat #StatScalingLabel,.gDetailView #ImportantAttributeContainer .HasScalingStat #ValueFromModsLabel
{
	font-size: 18px;
}

#ImportantAttributeContainer .ScalingStat_EWeaponPower #StatScalingLabel
{
	color: courageBrightColor;
}

#ImportantAttributeContainer .ScalingStat_EArmorPower #StatScalingLabel
{
	color: fortitudeBrightColor;
}

#ImportantAttributeContainer .ScalingStat_ETechPower #StatScalingLabel
{
	color: spiritBrightColor;
}

#BaseLabel
{
	font-family: sansMono;
	text-overflow: shrink;
	max-height: 35px;
}

.hero_stats .HasModifiedValue #BaseLabel,.gDetailView .HasScalingStat .HasModifiedValue #BaseLabel
{
	text-decoration: none;
	color: white;
	margin-right: 0px;
}

.gDetailView .HasModifiedValue #BaseLabel,.gDetailView .HasModifiedValue.isAbilityUpgradPreview #BaseLabel
{
	color: #ffffff40;
	text-decoration: line-through;
	margin-right: 5px;
}

#HeroStats .HasModifiedValue #BaseLabel
{
	visibility: visible;
	text-decoration: line-through;
	color: #ffffff40;
	margin-right: 5px;
}

#TierBonusValue.HasModifiedValue #BaseLabel
{
	visibility: collapse;
}

.gDetailView .TechMod #ModifiedLabel
{
	color: spiritBrightColor;
}

.gDetailView .TechMod .prop_weapon_damage #ModifiedLabel
{
	color: spiritBrightColor;
}

.gDetailView .WeaponMod #ModifiedLabel
{
	color: courageBrightColor;
}

.gDetailView .WeaponMod .prop_tech_damage #ModifiedLabel
{
	color: spiritBrightColor;
}

.gDetailView .ArmorMod #ModifiedLabel
{
	color: fortitudeBrightColor;
}

.ShowBonusDiff .LabelsContainer
{
	horizontal-align: left;
}

.BonusDiff
{
	horizontal-align: right;
	ignore-parent-flow: true;
}

.PreBonusValue
{
	opacity: 0.5;
}

.PostBonusValue
{
	font-weight: bold;
}

.TechMod .PostBonusValue
{
	color: spiritBrightColor;
}

.WeaponMod .PostBonusValue
{
	color: courageBrightColor;
}

.ArmorMod .PostBonusValue
{
	color: fortitudeBrightColor;
}

.isNegative .PostBonusValue,.isNegative #BaseLabel,.isNegative .PostfixValue
{
	color: rgb(255, 106, 106);
}

.GreenUpArrow
{
	visibility: collapse;
	vertical-align: middle;
	margin-top: 1px;
	width: 8px;
	height: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/shop/tooltip_modified_arrow_1.vsvg");
	vertical-align: center;
	margin-left: 3px;
}

.Show2Arrows .GreenUpArrow
{
	background-image: url("s2r://panorama/images/shop/tooltip_modified_arrow_2.vsvg");
}

.Show3Arrows .GreenUpArrow
{
	background-image: url("s2r://panorama/images/shop/tooltip_modified_arrow_3.vsvg");
}

#CooldownLabel .GreenUpArrow
{
	pre-transform-rotate2d: 180deg;
}

#TierBonusValue.HasModifiedValue .GreenUpArrow,.isAbilityUpgradPreview .GreenUpArrow,.gDetailView .GreenUpArrow,.gDetailView .HasModifiedValue .GreenUpArrow,.hero_stats .HasModifiedValue .GreenUpArrow,.gDetailView .HasScaledValue .GreenUpArrow,.upgradeBeingHovered .HasModifiedValue .GreenUpArrow
{
	visibility: collapse;
}

.HasModifiedValue .GreenUpArrow,.HasScaledValue .GreenUpArrow
{
	visibility: visible;
}

#AdditionLabel,#ModifiedAdditionLabel
{
	opacity: 0.5;
	vertical-align: center;
	margin-right: 4px;
	margin-left: 6px;
	margin-top: 3px;
}

.BonusDiff,.HasNoPlayer .ShowBonusDiff .BonusDiff,.usedAsComponent .BonusDiff,.usedAsComponent .ShowBonusDiff .BonusDiff
{
	visibility: collapse;
}

.ShowBonusDiff .BonusDiff
{
	visibility: visible;
}

.gDetailView .hero_stats #AdditionLabel,.gDetailView .hero_stats #ModifiedAdditionLabel
{
	visibility: collapse;
}

.hero_stats .HasModifiedValue #ModifiedLabel,.gDetailView .HasScalingStat #ModifiedAdditionLabel,.gDetailView .HasScalingStat #AdditionLabel
{
	visibility: visible;
}

#ModifiedLabel,.gDetailView .HasScalingStat #BaseLabel,#StatScalingLabel,.HasModifiedValue #BaseLabel,.HasScalingStat #BaseLabel,.isAbilityUpgradPreview #ModifiedLabel,#ValueFromModsLabel,.gDetailView .HasScalingStat .HasModifiedValue #ModifiedLabel,.gDetailView .HasScalingStat #ModifiedLabel,.gDetailView .HasScalingStat .IsRoundingDown #ValueFromModsLabel,.gDetailView .HasScalingStat .IsRoundingDown #AdditionLabel,.HideModsValue #ValueFromModsLabel,.gDetailView .HasScalingStat.HideModsValue #ValueFromModsLabel,.gDetailView .HideModsValue #ValueFromModsLabel,.HideModsValue #AdditionLabel,.gDetailView .HasScalingStat.HideModsValue #AdditionLabel,.gDetailView .HideModsValue #AdditionLabel
{
	visibility: collapse;
}

.HasModifiedValue #ModifiedLabel,.gDetailView .HasModifiedValue #ModifiedLabel,.gDetailView .HasScalingStat .isAbilityUpgradPreview.HasModifiedValue #ModifiedLabel,.gDetailView .HasScalingStat .isAbilityUpgradPreview #ModifiedLabel,.HasScalingStat #ModifiedLabel,.gDetailView .HasScalingStat #BaseLabel,.gDetailView .HasScalingStat #StatScalingLabel,.gDetailView .HasModifiedValue #BaseLabel,.gDetailView .HasScalingStat #ValueFromModsLabel,.gDetailView .HasScalingStat #ModifiedAdditionLabel,.gDetailView .HasScalingStat #AdditionLabel
{
	visibility: visible;
}

.ShowBonusDiffEnd .PreBonusValue,.ShowBonusDiffEnd .DiffArrow,#AdditionLabel,#ModifiedAdditionLabel
{
	visibility: collapse;
}

.StatImageArea
{
	visibility: collapse;
}

.StatImage
{
	width: 18px;
	height: 18px;
	background-size: contain;
	margin-right: 4px;
	vertical-align: center;
	opacity: 0.3;
}

.HasStatImage .StatImageArea
{
	visibility: visible;
	vertical-align: middle;
}

.NewOverride
{
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

Label.NewOverride
{
	font-size: 10px;
	color: gold;
	text-shadow: 0px 0px 0px 3.0 courageDarkerColor;
}

.isNewStat .NewOverride
{
	visibility: visible;
}

.ImportantStat Label.NewOverride
{
	font-size: 12px;
}

#CourageStatsContainer Label.NewOverride
{
	text-shadow: 0px 0px 0px 3.0 courageDarkerColor;
}

#FortitudeStatsContainer Label.NewOverride
{
	text-shadow: 0px 0px 0px 3.0 fortitudeDarkerColor;
}

#TierBonusStatImage
{
	visibility: collapse;
	width: 15px;
	height: 15px;
	background-size: contain;
	margin-left: 2px;
	vertical-align: center;
	background-repeat: no-repeat;
	background-position: center;
}

.HasTierBonusStatImage #TierBonusStatImage
{
	visibility: visible;
}

.WeaponMod #TierBonusStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_courage.vsvg");
	wash-color: courageBrightColor;
}

.ArmorMod #TierBonusStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude.vsvg");
	wash-color: fortitudeBrightColor;
}

.TechMod #TierBonusStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_spirit.vsvg");
	wash-color: spiritBrightColor;
}

.Elevated Label
{
	font-weight: bold;
}

