/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@define ModBuildCategoryTopPadding: 10px;
@define ModBuildCategoryBottomPadding: 20px;
@import url("s2r://panorama/styles/citadel_hero_builds_shared.vcss_c");
CitadelShopModsBuildCategory
{
	height: fit-children;
	flow-children: down;
	opacity: 1;
	background-color: citadelBuildsColorContainerBackground;
	border: 2px solid #00000022;
	transition-property: brightness, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	margin: 4px;
	padding: 4px;
	tooltip-position: left;
}

.shopClosed CitadelShopModsBuildCategory
{
	wash-color: #00000090;
}

CitadelShopModsBuildCategory .BuildCategory
{
	width: 100%;
	flow-children: right;
}

CitadelShopModsBuildCategory .BuildCategory .CategoryName
{
	vertical-align: center;
	margin: 4px;
	color: offWhite;
	font-weight: bold;
}

CitadelShopModsBuildCategory .BuildCategory .CategoryDescription
{
	vertical-align: center;
	margin: 4px;
	color: offWhite;
	font-weight: semi-bold;
	opacity: 0.7;
}

CitadelShopModsBuildCategory .NameAndDesc
{
	flow-children: down;
}

CitadelShopModsBuildCategory #BuildCategoryHeader
{
	background-color: #00000033;
}

CitadelShopModsBuildCategory #BuildCategoryHeader .CategoryName
{
	margin-left: 12px;
	margin-top: 6px;
}

CitadelShopModsBuildCategory #BuildCategoryHeaderEdit
{
	visibility: collapse;
}

CitadelShopModsBuildCategory #BuildCategoryHeaderEdit #CategoryDragHandle
{
	margin-top: 5px;
	width: 30px;
	height: 30px;
	background-image: url("s2r://panorama/images/control_icons/move_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

CitadelShopModsBuildCategory #BuildCategoryHeaderEdit .CategoryName
{
	width: 200px;
	height: 34px;
}

CitadelShopModsBuildCategory #BuildCategoryHeaderEdit .CategoryDescription
{
	width: 600px;
}

CitadelShopModsBuildCategory #BuildCategoryHeaderEdit #DeleteCategoryButton
{
	vertical-align: top;
	horizontal-align: right;
	margin: 4px;
	padding-bottom: 4px;
	margin-right: 0px;
	ignore-parent-flow: true;
	background-color: #556588;
}

CitadelShopModsBuildCategory #BuildCategoryHeaderEdit #DeleteCategoryButton .TrashIcon
{
	width: 32px;
	height: 32px;
	wash-color: #e1d9db;
	margin: 0px;
	background-image: url("s2r://panorama/images/control_icons/icon_trash_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.gEditingBuilds CitadelShopModsBuildCategory.Focused
{
	border: 2px dashed lightgrey;
}

.gEditingBuilds CitadelShopModsBuildCategory.Focused #BuildCategoryHeader
{
	visibility: collapse;
}

.gEditingBuilds CitadelShopModsBuildCategory.Focused #BuildCategoryHeaderEdit
{
	visibility: visible;
}

.gEditingBuilds CitadelShopModsBuildCategory.Focused #Overlay #CategoryResizeHandle
{
	visibility: visible;
}

.gEditingBuilds CitadelShopModsBuildCategory:not(.Focused) #Overlay #FocusBlocker
{
	visibility: collapse;
}

CitadelShopModsBuildCategory #Overlay
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
}

CitadelShopModsBuildCategory #Overlay #CategoryResizeHandle
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 20px;
	height: 20px;
	border-right: 2px solid #999;
	border-bottom: 2px solid #999;
	visibility: collapse;
}

CitadelShopModsBuildCategory #Overlay #FocusBlocker
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

CitadelShopModsBuildCategory #Overlay #FocusBlocker:hover
{
	background-color: #ffffff07;
}

CitadelShopModsBuildCategory #ModsContainer
{
	flow-children: right-wrap;
}

.DragPoint
{
	width: 20px;
	height: 20px;
	border: 2px solid red;
}

.gEditingBuilds .Dragging CitadelShopModsBuildCategory:not(.Focused) #Overlay #FocusBlocker
{
	visibility: collapse;
}

.BuildModEntry.DropTarget
{
	border: 3px solid blue;
	border-radius: 2px;
}

.BuildModCategory.DropTarget
{
	border: 2px solid blue;
}

.gEditingBuilds CitadelShopModsBuildCategory.Focused.DropTarget
{
	border: 2px dashed blue;
}

