/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelLearnPage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	flow-children: right;
	background-color: #000000aa;
}

#BotTitle
{
	horizontal-align: left;
	margin-top: 50px;
	ignore-parent-flow: true;
	width: 100%;
	margin-top: 90px;
}

#PlayOptions
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	margin-bottom: 00px;
	overflow: noclip;
}

.playOptionContainer
{
	flow-children: down;
	height: 460px;
	width: 340px;
	margin: 0px 8px;
	border-radius: 2px;
	background-color: #333;
	box-shadow: 0px 0px 30px #00000090;
	transition-property: pre-transform-scale2d, brightness, border;
	transition-duration: 0.1s;
	animation-name: newplayer_glow;
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.hasNewPlayerFlow .hasTasks.playOptionContainer
{
	height: 550px;
}

.hasTasks.taskComplete .cardBorder
{
	border-color: offWhite&10;
}

.playOptionContainer.taskComplete
{
	animation-name: none;
}

.playOptionContainer:hover:enabled
{
	z-index: 10;
	box-shadow: 0px 0px 20px #00000090;
	pre-transform-scale2d: 1.08;
}

.hasTasks.taskComplete.playOptionContainer:hover:enabled .cardBorder
{
	border-color: offWhite&10;
}

.subOption
{
	width: 530px;
	height: 230px;
	flow-children: right;
}

.playOptionContainer:disabled
{
	opacity: 0.2;
}

.playOptionTop
{
	height: 340px;
	width: 100%;
	background-size: 100% 100%;
	background-color: #111;
}

.playOptionContainer:disabled .playOptionTop .buttonImage
{
	opacity: 0.5;
	wash-color: #000000aa;
	saturation: 0.2;
}

Label.unavailableText
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
	font-weight: semi-bold;
	z-index: 10;
	visibility: collapse;
}

.playOptionContainer:disabled .unavailableText
{
	visibility: visible;
}

.playOptionBottom
{
	width: 100%;
	padding: 0px 20px;
	height: fill-parent-flow(1.0);
}

#GettingStarted .buttonImage
{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/npe/menu_get_started_psd.vtex");
	transition-property: background-image;
	transition-duration: 0.2s;
}

#HeroSandbox .buttonImage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/npe/menu_hero_training_psd.vtex");
	transition-property: background-image;
	transition-duration: 0.2s;
}

#LaneTraining .buttonImage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/npe/menu_lane_training_psd.vtex");
	transition-property: background-image;
	transition-duration: 0.2s;
}

#GettingStarted:hover .buttonImage
{
	background-image: url("s2r://panorama/images/npe/menu_get_started_hover_psd.vtex");
}

#HeroSandbox:hover .buttonImage
{
	background-image: url("s2r://panorama/images/npe/menu_hero_training_hover_psd.vtex");
}

#LaneTraining:hover .buttonImage
{
	background-image: url("s2r://panorama/images/npe/menu_lane_training_hover_psd.vtex");
}

.taskComplete .buttonImage
{
	background-color: #111;
}

.BotsTitle
{
	flow-children: down;
}

.playLabel
{
	font-size: 34px;
	vertical-align: center;
	font-weight: bold;
	font-family: serif;
	horizontal-align: left;
}

.playLevel
{
	color: #ffffff50;
	font-size: 22px;
	text-transform: uppercase;
	font-family: CriteriaCF;
	vertical-align: center;
	line-height: 32px;
	font-weight: bold;
}

.playTime
{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0.5;
	margin-bottom: 4px;
	color: brandGreen;
}

.playDesc
{
	color: #ffffff90;
	font-size: 18px;
	font-weight: medium;
}

.bottomOptionContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	width: 100%;
}

.cardBorder
{
	width: 100%;
	height: 100%;
	border: 5px solid ritualGreen;
	ignore-parent-flow: true;
	z-index: 10;
	visibility: collapse;
}

.playOptionContainer:hover:enabled .cardBorder
{
	border: 5px solid ritualGreen;
}

.newPlayerProgress
{
	height: 50px;
	width: 100%;
	background-color: ritualGreen;
	padding-left: 10px;
	visibility: collapse;
}

.taskComplete .newPlayerProgress
{
	background-color: offWhite&10;
	animation: none;
}

.hasNewPlayerFlow .newPlayerProgress
{
	visibility: visible;
}

.TaskStatus
{
	width: 35px;
	height: 35px;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/getting_started/checklist_task_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: visible;
	vertical-align: center;
	wash-color: #000000ee;
}

.taskComplete .TaskStatus
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
	wash-color: none;
}

.completedLabel,.taskComplete .incompleteLabel
{
	visibility: collapse;
}

.taskComplete .completedLabel
{
	visibility: visible;
}

.newPlayerProgressLabel
{
	margin-left: 45px;
	vertical-align: center;
	font-weight: bold;
	color: #000000ee;
	font-size: 18px;
	margin-bottom: 3px;
}

.taskComplete .newPlayerProgressLabel
{
	color: offWhite;
}

.taskComplete .newPlayerProgressLabel
{
	opacity: 0.5;
	font-weight: bold;
}

.newPlayerThumbsUp
{
	horizontal-align: right;
	height: 100%;
	width: 50px;
	background-color: #00000090;
}

.taskComplete .newPlayerThumbsUp
{
	background-color: brandGreen;
	background-color: #48d3ff50;
	visibility: collapse;
}

.NewPlayerIcon
{
	width: 24px;
	height: 24px;
	background-image: url("s2r://panorama/images/icons/icon_thumbsup.vsvg");
	wash-color: brandGreen;
	background-size: contain;
	vertical-align: middle;
	horizontal-align: center;
	margin-bottom: 2px;
	animation-name: newplayer_icon;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.taskComplete .NewPlayerIcon
{
	wash-color: #000000;
	opacity: 0.5;
	animation: none;
}

@keyframes 'newplayer_icon'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	10%
	{
		pre-transform-scale2d: 1.5;
		transform: rotateZ(2deg);
	}
	
	15%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	20%
	{
		pre-transform-scale2d: 1.5;
		transform: rotateZ(-2deg);
	}
	
	35%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
}

@keyframes 'newplayer_glow'
{
	0%
	{
		brightness: 1;
		transform: translateY(0px);
	}
	
	50%
	{
		brightness: 1.5;
		transform: translateY(-3px);
	}
	
	100%
	{
		brightness: 1;
		transform: translateY(0px);
	}
	
}

.in_party #HeroTesting
{
	visibility: collapse;
}

.HeroTestingImage
{
	width: 100%;
	height: 100%;
	background-color: #22626B;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/main_menu/training_herotesting_psd.vtex");
}

