/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelBindingButton
{
	flow-children: right;
	transition-property: brightness;
	transition-duration: 0.2s;
}

CitadelBindingButton:hover
{
	brightness: 2.0;
}

CitadelBindingButton:active
{
	brightness: 1.5;
}

#Binding
{
	vertical-align: middle;
}

#ButtonLabel
{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
	font-family: block;
	padding-top: 2px;
	margin-left: 6px;
	color: #969087;
}

