/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelRosterConfirmPage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

CitadelRosterConfirmPage.isHeroTesting
{
	background-img-opacity: 0.2;
}

#RosterInfo
{
	horizontal-align: right;
	vertical-align: top;
	margin-top: 180px;
	margin-right: 70px;
	width: 420px;
	flow-children: down;
	visibility: collapse;
}

#RosterCardImage
{
	background-image: url("s2r://panorama/images/main_menu/roster_cards_example_png.vtex");
	width: 300px;
	height: 170px;
	background-repeat: no-repeat;
	background-size: contain;
	saturation: 0.9;
	horizontal-align: middle;
	margin-top: -10px;
	margin-bottom: 5px;
}

.selected
{
	font-weight: bold;
	color: offWhite;
}

.priority
{
	color: #f7cf6a;
	font-weight: bold;
}

.high_priority
{
	color: #a464ff;
	font-weight: bold;
}

.isShowingRosterConfirmPage .multiplayer #RosterInfo
{
	visibility: visible;
}

.isShowingRosterConfirmPage .isShowingAbilityVideo.multiplayer #RosterInfo
{
	visibility: collapse;
}

#RosterInstructions
{
	background-color: offWhite&60;
	width: 100%;
	flow-children: down;
	padding: 20px;
	color: offBlack;
}

.ShowingVideo #RosterInstructions
{
	opacity: 0;
}

#KeybindHints
{
	horizontal-align: center;
	flow-children: down;
}

#RosterInstructions Label
{
	color: offBlack;
}

#RosterInstructions .title
{
	font-weight: bold;
	font-size: 22px;
}

#RosterInstructions .desc
{
	font-weight: semi-bold;
	font-size: 17px;
	color: offBlack;
	opacity: 0.9;
}

#RosterInstructions .hint
{
	font-weight: semi-bold;
	font-size: 16px;
	color: offBlack&ea;
	margin-bottom: 5px;
}

.space_bottom
{
	margin-bottom: 10px;
}

.InlineGlyph
{
	max-height: 26px;
	max-width: 26px;
	background-color: offBlack&ee;
	padding: 3px;
	border-radius: 3px;
	opacity: 1;
	vertical-align: middle;
}

#NoHeroSelectedContainer Label
{
	horizontal-align: center;
}

#NoHeroSelectedContainer
{
	width: fit-children;
	vertical-align: bottom;
	horizontal-align: center;
	background-color: #000000;
	padding: 10px 20px;
	background-color: rgba(225, 62, 62, 1);
}

.HasValidRoster #NoHeroSelectedContainer
{
	visibility: collapse;
}

#NoHeroSelectedContainer Label
{
	text-align: center;
	horizontal-align: center;
}

.NoHeroDesc
{
	font-size: 18px;
	font-weight: semi-bold;
	horizontal-align: middle;
	text-align: center;
	margin-bottom: 0px;
	width: fit-children;
	color: offWhite;
}

.NoHeroBottom
{
	font-size: 18px;
	font-weight: medium;
	color: #ffffff90;
	visibility: collapse;
}

.hasEnoughHeroes .NoHeroDesc
{
	visibility: collapse;
}

#HeroTitleContainer
{
	flow-children: down;
	margin-top: 50px;
	margin-left: 50px;
}

.rosterInfoLabel
{
	font-size: 20px;
	font-weight: medium;
}

#BotMatchLabel,#HeroTestingLabel,#PlayLabel
{
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff50;
}

.IsHighSkillRange .PartyHighSkillRange
{
	visibility: visible;
}

.PartyHighSkillRange
{
	visibility: collapse;
	background-color: #881111;
	flow-children: right;
	padding: 10px;
}

.PartyHighSkillRange Label
{
	color: white;
	font-size: 20px;
}

.WarningIcon
{
	width: 35px;
	height: 35px;
	background-color: #FF6363;
	horizontal-align: right;
	border-radius: 0px 0px 0px 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 17% 60%;
	opacity: 1;
	background-image: url("s2r://panorama/images/icons/icon_alert.vsvg");
	vertical-align: center;
	margin-right: 10px;
}

#HeroRowContainer
{
	flow-children: down;
	width: 100%;
	vertical-align: bottom;
	max-width: 1800px;
	horizontal-align: center;
	z-index: 2;
}

.rosterCounts
{
	flow-children: down;
	min-width: 260px;
	margin-top: 15px;
	visibility: collapse;
}

.ShowRosterCounts .rosterCounts
{
	visibility: visible;
}

.rosterCountsLine
{
	flow-children: right;
}

.rosterCountsLine Label
{
	font-weight: semi-bold;
	font-size: 17px;
}

.MultiplePreferredHeroes .rosterCountsLine Label.singular
{
	visibility: collapse;
}

.rosterCountsLine Label.multiple
{
	visibility: collapse;
}

.MultiplePreferredHeroes .rosterCountsLine Label.multiple
{
	visibility: visible;
}

.HasPreferredHero Label.rosterCountsHeroValue
{
	color: #ffc533;
	font-weight: semi-bold;
}

.HasHighPirorityHero Label.rosterCountsHeroValue
{
	color: #a464ff;
	font-weight: semi-bold;
}

#RosterHeroes
{
	flow-children: right;
	width: 100%;
	height: 160px;
	vertical-align: bottom;
	horizontal-align: center;
	max-width: 1650px;
	padding: 30px 20px;
	margin-bottom: 70px;
}

#BotMatchLabel,#SelectHeroLabel,#HeroTestingLabel
{
	visibility: collapse;
}

.isBotMatch .rosterInfoLabel,.isBotMatch #CreateRosterLabel,.isHeroTesting #CreateRosterLabel,.isHeroTesting .rosterInfoLabel,.isBotMatch #PlayLabel,.isHeroTesting #PlayLabel
{
	visibility: collapse;
}

.isHeroTesting #HeroTestingLabel,.isHeroTesting #SelectHeroLabel
{
	visibility: visible;
}

.isBotMatch #BotMatchLabel,.isBotMatch #SelectHeroLabel
{
	visibility: visible;
}

.PageTitle Label
{
	font-size: 26px;
	font-weight: bold;
	font-family: sans;
	letter-spacing: 0px;
	opacity: 0.5;
}

#ConfirmButtonContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 230px;
	z-index: 999;
}

.WaitingForPartyLabel
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 230px;
	font-weight: bold;
	font-size: 26px;
}

.WaitingForPartyLabel,.ConfirmedRosterForParty #ConfirmButtonContainer
{
	visibility: collapse;
}

.ConfirmedRosterForParty .WaitingForPartyLabel
{
	visibility: visible;
}

#ConfirmButton
{
	background-color: offWhite;
	border-radius: 3px 3px 0px 0px;
	margin: 0px;
	flow-children: right;
	padding: 5px 20px;
	opacity: 1;
	transition-property: background-color;
	transition-duration: 0.3s;
	visibility: collapse;
}

.HasValidRoster #ConfirmButton
{
	visibility: visible;
}

#ConfirmButton Label
{
	font-size: 40px;
	color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
	color: #262626;
	font-family: serif;
	margin-top: 5px;
}

#ConfirmButton:hover
{
	background-color: offBlack;
}

#ConfirmButton:hover Label
{
	font-style: italic;
	color: offWhite;
}

#ConfirmButton:hover .eastArrow
{
	transform: translateX(10px);
	wash-color: offWhite;
}

#ConfirmButton:disabled
{
	opacity: 0.1;
	saturation: 0;
}

.eastArrow
{
	width: 35px;
	height: 35px;
	margin-left: 10px;
	margin-top: 1px;
	vertical-align: center;
	transition-property: transform;
	wash-color: #262626;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}

#ReadyUpCall
{
	width: 400px;
	padding: 20px;
	horizontal-align: right;
	flow-children: down;
	visibility: collapse;
	margin: 20px;
	background-color: offBlack;
}

.in_party #ReadyUpCall
{
	visibility: visible;
}

.partyReadyText
{
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	color: offBlack;
}

#matchmakeReadyUp
{
	horizontal-align: center;
	margin-bottom: 20px;
}

.PartyMemberListRow
{
	horizontal-align: center;
	flow-children: right;
}

.PartyMemberList
{
	flow-children: right;
	vertical-align: middle;
}

#partyReadyState
{
	horizontal-align: middle;
	width: 100%;
	flow-children: down;
	vertical-align: middle;
	visibility: collapse;
}

.in_party #partyReadyState
{
	visibility: visible;
}

.PartyReadyText
{
	horizontal-align: center;
	vertical-align: middle;
	color: offBlack;
	font-weight: semi-bold;
}

.can_party_play .PartyReadyText
{
	color: brandGreen;
}

