/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelPlayerLevelRewards
{
	flow-children: down;
	width: 150px;
}

CitadelPlayerLevelRewards.isZoomed
{
	visibility: collapse;
}

#HeroImage
{
	height: 50px;
	width: 50px;
	margin-bottom: -10px;
	horizontal-align: center;
}

.TotalPowerInreasesLabel
{
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	margin-bottom: 5px;
}

CitadelPlayerLevelRewards.AtMaxLevel
{
	visibility: collapse;
}

#NextRewardsContainer
{
	flow-children: down;
	width: 70%;
	horizontal-align: center;
	visibility: collapse;
}

.NextReward
{
	horizontal-align: center;
}

.NextRewardsHeader
{
	background-color: black;
	width: 100%;
	padding: 5px;
}

.NextRewardsLabel
{
	vertical-align: center;
	horizontal-align: center;
	color: #78FFC9;
}

#RewardsContainer
{
	flow-children: down;
	width: 100%;
}

.LevelRewardPip
{
	height: 15px;
	width: 10px;
	background-color: #00000088;
	margin: 2px 0px;
	border-radius: 2px;
}

.LevelRewardPip.RewardAcquired
{
	background-color: white;
}

#PowerIncreaseContainer
{
	width: 100%;
	flow-children: down;
}

.HeroImageAndPowerIncrease
{
	horizontal-align: center;
	flow-children: down;
	background-color: #00000060;
	padding: 10px;
}

.LevelRewardsContent
{
	flow-children: right;
	height: 250px;
}

#LevelRewardPipsContainer
{
	flow-children: up;
	horizontal-align: center;
	padding: 15px 5px;
	height: 100%;
	background-color: shardColor&30;
}

.LevelRewardStatsContainer
{
	flow-children: down;
	width: fill-parent-flow(1.0);
	vertical-align: middle;
	margin: 5px 20px;
}

.LevelRewardStat
{
	width: 100%;
	margin: 10px 0px;
}

.LevelRewardStat Label
{
	horizontal-align: center;
	text-align: center;
	color: offWhite;
}

.RewardValueContainer
{
	flow-children: right;
	horizontal-align: middle;
}

.LevelRewardPlus
{
	font-weight: bold;
	font-size: 16px;
	vertical-align: middle;
	opacity: 0.5;
	margin-top: 3px;
	margin-right: 1px;
}

.LevelRewardValue
{
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.LevelRewardText
{
	font-size: 15px;
	opacity: 0.8;
	font-weight: semi-bold;
	line-height: 110%;
}

.RewardValueIcon
{
	width: 18px;
	height: 18px;
	margin-right: 3px;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.RewardValueIcon.bulletDamage
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_bullet.vsvg");
	wash-color: courageBrightColor;
}

.RewardValueIcon.health
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_psd.vtex");
	wash-color: fortitudeBrightColor;
}

.RewardValueIcon.magicDamage
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_mystic.vsvg");
	wash-color: spiritBrightColor;
}

.RewardValueIcon.bulletResist
{
	background-image: url("s2r://panorama/images/hud/core/icon_armor_force.vsvg");
	wash-color: spiritBrightColor;
}

.RewardValueIcon.weaponRange
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/long_range_psd.vtex");
	wash-color: spiritBrightColor;
}

.NextReward,.PowerIncreaseContainer
{
	width: 100%;
	padding: 3px;
	flow-children: right;
}

.AbilityUnlockUpgrade.NextReward,.AbilityPointUpgrade.NextReward
{
	background-color: #494949;
}

.PowerIncreaseContainer
{
	background-color: #2a2a2a;
}

.NextRewardIcon
{
	height: 30px;
	width: 30px;
	background-size: 100% 100%;
	margin-right: -15px;
}

