/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHeroBuildsSelector
{
	width: 550px;
	height: 300px;
	border: 0px solid baseBorder;
	background-image: none;
	box-shadow: none;
	font-size: 18px;
	font-family: 'Retail Demo';
	font-weight: normal;
	color: offWhite;
	flow-children: down;
	margin-bottom: 10px;
}

CitadelHeroBuildsSelector #HeroBuildList
{
	width: 100%;
	height: fill-parent-flow(1.0);
	overflow: squish scroll;
	flow-children: down;
	background-color: #333;
}

CitadelHeroBuildsSelector.ShowMyBuilds .HeroSelectorHeader .HeroSelectorTab.MyBuilds,CitadelHeroBuildsSelector.ShowFavorites .HeroSelectorHeader .HeroSelectorTab.Favorites,CitadelHeroBuildsSelector.ShowPublicBuilds .HeroSelectorHeader .HeroSelectorTab.PublicBuilds
{
	background-color: #555;
}

CitadelHeroBuildsSelector.ShowPublicBuilds .HeroSelectorLangagueContainer #ShowAllLanguagesToggle
{
	visibility: visible;
}

CitadelHeroBuildsSelector.ShowMyBuilds .HeroBuildListItem.MyBuild,CitadelHeroBuildsSelector.ShowMyBuilds .HeroBuildListItem.DefaultBuild,CitadelHeroBuildsSelector.ShowFavorites .HeroBuildListItem.Favorite,CitadelHeroBuildsSelector.ShowPublicBuilds .HeroBuildListItem.PublicBuild:not(.HidePublic),CitadelHeroBuildsSelector.ShowPublicBuilds .HeroBuildListItem.DefaultBuild:not(.HidePublic)
{
	visibility: visible;
}

CitadelHeroBuildsSelector.ShowPublicBuilds .HeroSelectorHeader .SearchContainer
{
	visibility: visible;
}

CitadelHeroBuildsSelector .HeroSelectorHeader
{
	width: 100%;
	height: 40px;
	flow-children: right;
}

CitadelHeroBuildsSelector .HeroSelectorHeader .HeroSelectorTabContainer
{
	height: 100%;
	vertical-align: bottom;
	flow-children: right;
}

CitadelHeroBuildsSelector .HeroSelectorHeader .HeroSelectorTabContainer .HeroSelectorTab
{
	width: 100px;
	height: 100%;
	margin-right: 6px;
	margin-bottom: 0px;
	vertical-align: bottom;
	border-radius: 3px 3px 0px 0px;
	padding: 0px 10px;
	background-color: #222;
	border-top: 2px solid #555;
	border-left: 2px solid #555;
	border-right: 2px solid #555;
}

CitadelHeroBuildsSelector .HeroSelectorHeader .HeroSelectorTabContainer .HeroSelectorTab .TabLabel
{
	font-weight: semi-bold;
	font-size: 16px;
	vertical-align: middle;
	horizontal-align: middle;
	text-overflow: shrink;
	text-align: center;
}

CitadelHeroBuildsSelector .HeroSelectorHeader .SearchContainer
{
	horizontal-align: right;
	flow-children: right;
	height: 100%;
	visibility: collapse;
	margin-bottom: 3px;
}

CitadelHeroBuildsSelector .HeroSelectorHeader .SearchContainer #SearchBox
{
	padding: 0px;
	vertical-align: center;
	margin-right: 4px;
}

CitadelHeroBuildsSelector .HeroSelectorHeader .SearchContainer #SearchTextEntry
{
	width: 180px;
	height: 40px;
	text-align: center;
	background-color: #333;
	border-radius: 3px;
	border: 3px solid silvered&20;
}

CitadelHeroBuildsSelector .HeroSelectorHeader .SearchContainer #SearchTextEntry > #PlaceholderText
{
	vertical-align: middle;
	font-weight: medium;
	margin-top: 0px;
	font-weight: semi-bold;
}

CitadelHeroBuildsSelector .HeroSelectorHeader .SearchContainer #ClearSearchButton
{
	width: 24px;
	height: 24px;
	vertical-align: middle;
	visibility: collapse;
	visibility: visible;
	background-size: auto 50%;
	background-position: center;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
	horizontal-align: right;
	opacity: 0.3;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.3s;
}

CitadelHeroBuildsSelector .HeroSelectorHeader .SearchContainer #ClearSearchButton:hover
{
	opacity: 0.7;
	pre-transform-scale2d: 1.2;
}

CitadelHeroBuildsSelector .HeroSelectorHeader .SearchContainer .ShowSearchResults #ClearSearchButton
{
	visibility: visible;
}

CitadelHeroBuildsSelector .HeroSelectorHeader #RefreshButton
{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin: 4px;
	padding: 8px;
	background-image: url("s2r://panorama/images/icons/icon_refresh.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-img-opacity: 0.7;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.1s;
}

CitadelHeroBuildsSelector .HeroSelectorHeader #RefreshButton:hover
{
	pre-transform-scale2d: 1.3;
	background-img-opacity: 1;
}

CitadelHeroBuildsSelector .HeroSelectorLangagueContainer
{
	horizontal-align: right;
	flow-children: right;
}

CitadelHeroBuildsSelector .HeroSelectorLangagueContainer #ShowAllLanguagesToggle
{
	margin: 5px;
	margin-left: 2px;
	margin-bottom: 0px;
	margin-top: 8px;
	visibility: collapse;
}

CitadelHeroBuildsSelector .HeroSelectorLangagueContainer #ShowAllLanguagesToggle > Label
{
	margin-top: 0px;
}

CitadelHeroBuildsSelector .HeroBuildListItem:hover
{
	brightness: 1.4;
}

CitadelHeroBuildsSelector .ChangeBuild
{
	font-weight: semi-bold;
}

CitadelHeroBuildsSelector .BuildName
{
	font-weight: bold;
}

CitadelHeroBuildsSelector .HeroBuildListItem
{
	width: fill-parent-flow(1.0);
	min-height: 45px;
	padding: 0px 10px;
	margin-right: 10px;
	horizontal-align: left;
	padding: 6px 10px;
	visibility: collapse;
	flow-children: right;
}

CitadelHeroBuildsSelector .HeroBuildListItem:hover
{
	background-color: #ffffff10;
}

CitadelHeroBuildsSelector .HeroBuildListItem.Selected
{
	background-color: buildsColor;
}

CitadelHeroBuildsSelector .HeroBuildListItem.Selected #BuildNameArea .ActiveBuild
{
	visibility: visible;
}

CitadelHeroBuildsSelector .HeroBuildListItem.ShowFavoriteCount .InfoContainer #FavoriteCount
{
	visibility: visible;
}

CitadelHeroBuildsSelector .HeroBuildListItem.Favorite .InfoContainer #FavoriteIcon
{
	opacity: 1;
	background-image: url("s2r://panorama/images/shop/builds/icon_fave_active.vsvg");
}

CitadelHeroBuildsSelector .HeroBuildListItem.DefaultBuild .InfoContainer #FavoriteIcon
{
	visibility: collapse;
}

CitadelHeroBuildsSelector .HeroBuildListItem .InfoContainer
{
	flow-children: right;
	vertical-align: middle;
}

CitadelHeroBuildsSelector .HeroBuildListItem .InfoContainer.DefaultBuild
{
	visibility: collapse;
}

CitadelHeroBuildsSelector .HeroBuildListItem .InfoContainer .Fill
{
	width: fill-parent-flow(1.0);
}

CitadelHeroBuildsSelector .HeroBuildListItem .InfoContainer #FavoriteCount
{
	visibility: collapse;
	margin: 4px;
}

CitadelHeroBuildsSelector .HeroBuildListItem .InfoContainer .HeroBuildTypeIcon
{
	width: 20px;
	height: 20px;
	vertical-align: center;
	horizontal-align: center;
}

CitadelHeroBuildsSelector .HeroBuildListItem .InfoContainer #FavoriteIcon
{
	margin: 3px;
	background-image: url("s2r://panorama/images/shop/builds/icon_fave_inactive.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	opacity: 0.2;
}

CitadelHeroBuildsSelector .HeroBuildListItem .InfoContainer #FavoriteCount
{
	vertical-align: center;
	color: offWhite;
	font-size: 16px;
	opacity: 0.6;
	font-weight: medium;
	width: fit-children;
	background-color: none;
}

CitadelHeroBuildsSelector .HeroBuildListItem #BuildNameArea
{
	flow-children: down;
	vertical-align: middle;
}

CitadelHeroBuildsSelector .HeroBuildListItem #BuildNameArea .BuildName
{
	font-size: 17px;
	font-weight: semi-bold;
	color: offWhite;
	opacity: 1;
	max-width: 410px;
	max-height: 26px;
}

CitadelHeroBuildsSelector .HeroBuildListItem #BuildNameArea .ActiveBuild
{
	font-weight: bold;
	color: offBlack;
	opacity: 1;
	font-size: 14px;
	visibility: collapse;
}

