/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@define rank0Color: #333333;
@define rank1Color: #CB643B;
@define rank2Color: #96C86F;
@define rank3Color: #66AEBC;
@define rank4Color: #C15F78;
@define rank5Color: #705B9C;
@define rank6Color: #D7644F;
@define rank7Color: #7DD1BA;
@define rank8Color: #E75CC0;
@define rank9Color: #B37134;
@define rank10Color: #A89F96;
@define rank11Color: #D9963F;
CitadelRankedBadgeFull
{
	width: 105px;
	height: 150px;
	background-color: offBlack;
	border-radius: 3px;
	border: 2px solid #ffffff05;
	background-image: url("s2r://panorama/images/ranked/temp/bg_initiate_png.vtex");
	background-size: 100% 100%;
	margin: 10px;
	flow-children: down;
	background-img-opacity: 0.8;
}

#RankIcon
{
	width: 40px;
	height: 40px;
	background-color: offWhite&20;
	horizontal-align: middle;
	margin-top: 45px;
	margin-bottom: 0px;
	visibility: collapse;
}

.RankName
{
	font-size: 20px;
	font-family: serif;
	text-overflow: shrink;
	max-height: 70px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	opacity: 0.8;
	padding: 0px 5px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 15px;
}

