/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

CitadelMatchHistoryBlockSmall
{
	width: 60px;
	background-color: #333;
	height: 100%;
	margin: 0px 5px;
	flow-children: down;
	border-radius: 5px;
}

.heroImg
{
	opacity-brush: gradient( linear, 0% 0%, 0% 30%, from( #ffffff00 ), to( #ffffff ) );
	ignore-parent-flow: true;
	vertical-align: bottom;
	horizontal-align: center;
	margin-top: 68px;
}

.gameResult
{
	horizontal-align: middle;
	font-weight: bold;
	font-size: 16px;
	margin-top: 20px;
	text-align: center;
}

.arrowIcon
{
	width: 25px;
	height: 25px;
}

