/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelTrainingPage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

#BotTitle
{
	horizontal-align: left;
	margin-top: 50px;
	ignore-parent-flow: true;
	width: 100%;
	margin-top: 90px;
}

#PlayOptions
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	margin: 40px;
	overflow: noclip;
}

.ShowShop #PlayOptions
{
	visibility: collapse;
}

.playOptionContainer
{
	flow-children: down;
	height: 460px;
	width: 340px;
	margin: 0px 10px 0px 10px;
	border-radius: 10px;
	background-color: #393939;
	box-shadow: 0px 0px 30px #00000090;
	transition-property: pre-transform-scale2d, brightness, border;
	transition-duration: 0.1s;
}

.playOptionContainerXL
{
	width: 600px;
}

.hasNewPlayerFlow .hasTasks.playOptionContainer
{
	height: 516px;
}

.hasTasks.taskComplete .cardBorder
{
	visibility: collapse;
}

.playOptionContainer:hover:enabled
{
	border-radius: 10px;
	pre-transform-scale2d: 1.05;
	z-index: 10;
	box-shadow: 0px 0px 20px #00000090;
	background-color: #4B4B4B;
}

.subOption
{
	width: 530px;
	height: 230px;
	flow-children: right;
}

.playOptionContainer:disabled
{
	opacity: 1;
}

.playOptionTop
{
	width: 100%;
	height: 300px;
	flow-children: down;
	background-size: 100% 100%;
}

Label.unavailableText
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
	font-weight: semi-bold;
	z-index: 10;
	visibility: collapse;
}

.playOptionContainer:disabled .unavailableText
{
	visibility: visible;
}

.playOptionBottom
{
	width: 100%;
	padding: 0px 20px;
	height: fill-parent-flow(1.0);
	background-color: #00000040;
}

#BrowsableShop .buttonImage
{
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: none;
	background-image: url("s2r://panorama/images/main_menu/menu_shop_lg_png.vtex");
}

#LearnToPlayer .buttonImage
{
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: none;
	background-image: url("s2r://panorama/images/main_menu/menu_learn_png.vtex");
}

#GettingStarted .buttonImage
{
	width: 100%;
	height: 100%;
	background-color: #dedede;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/main_menu/training_guide_psd.vtex");
}

#HeroTesting .buttonImage
{
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: none;
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_sandbox.vsvg");
}

#LaneTraining .buttonImage
{
	width: 100%;
	height: 100%;
	background-color: #376a1f;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/main_menu/training_guided_psd.vtex");
}

#HeroTesting,#LearnToPlayer
{
	visibility: collapse;
}

.BotsTitle
{
	flow-children: down;
}

.buttonImage
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
}

.playLabel
{
	font-size: 32px;
	vertical-align: center;
	font-weight: bold;
	font-family: sans;
	margin-bottom: 10px;
}

.playLevel
{
	color: #ffffff50;
	font-size: 22px;
	text-transform: uppercase;
	font-family: CriteriaCF;
	vertical-align: center;
	line-height: 32px;
	font-weight: bold;
}

.playTime
{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: semi-bold;
	opacity: 0.5;
	margin-bottom: 4px;
	color: brandGreen;
}

.playDesc
{
	color: #ffffff90;
	font-size: 18px;
	font-weight: medium;
}

.bottomOptionContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	width: 100%;
}

.cardBorder
{
	width: 100%;
	height: 100%;
	border: 5px solid #ffffff00;
	ignore-parent-flow: true;
	z-index: 10;
}

.playOptionContainer:hover:enabled .cardBorder
{
	border: 5px solid #ffffff90;
}

.newPlayerProgress
{
	height: 50px;
	width: 100%;
	background-color: #48d3ff;
	padding-left: 10px;
	visibility: collapse;
	animation-name: newplayer_glow;
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.taskComplete .newPlayerProgress
{
	background-color: brandGreen&20;
	background-color: #48d3ff30;
	animation: none;
}

.hasNewPlayerFlow .newPlayerProgress
{
	visibility: visible;
}

.TaskStatus
{
	width: 35px;
	height: 35px;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/getting_started/checklist_task_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: visible;
	vertical-align: center;
	wash-color: #000000ee;
}

.taskComplete .TaskStatus
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
	wash-color: none;
}

.completedLabel,.taskComplete .incompleteLabel
{
	visibility: collapse;
}

.taskComplete .completedLabel
{
	visibility: visible;
}

.newPlayerProgressLabel
{
	margin-left: 45px;
	vertical-align: center;
	font-weight: semi-bold;
	color: #000000ee;
	font-family: CriteriaCF;
	font-size: 18px;
}

.taskComplete .newPlayerProgressLabel
{
	opacity: 0.7;
	color: #ffffff;
	font-weight: medium;
}

.newPlayerThumbsUp
{
	horizontal-align: right;
	height: 100%;
	width: 50px;
	background-color: #23677d;
}

.taskComplete .newPlayerThumbsUp
{
	background-color: brandGreen;
	background-color: #48d3ff50;
}

.NewPlayerIcon
{
	width: 24px;
	height: 24px;
	background-image: url("s2r://panorama/images/icons/icon_thumbsup.vsvg");
	wash-color: techColor;
	background-size: contain;
	vertical-align: middle;
	horizontal-align: center;
	margin-bottom: 2px;
	animation-name: newplayer_icon;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.taskComplete .NewPlayerIcon
{
	wash-color: #000000;
	opacity: 0.5;
	animation: none;
}

@keyframes 'newplayer_icon'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	10%
	{
		pre-transform-scale2d: 1.5;
		transform: rotateZ(2deg);
	}
	
	15%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	20%
	{
		pre-transform-scale2d: 1.5;
		transform: rotateZ(-2deg);
	}
	
	35%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
}

@keyframes 'newplayer_glow'
{
	0%
	{
		brightness: 1;
	}
	
	50%
	{
		brightness: 2;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

.in_party #HeroTesting
{
	opacity: 0.2;
}

#DashboardShop
{
	visibility: collapse;
}

.ShowShop #DashboardShop
{
	visibility: visible;
}

.ShowShop #BotTitle,.ShowShop #PlayOptions
{
	opacity: 0;
}

