/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.HeroCard
{
	width: 130px;
	height: 210px;
	background-color: offBlack;
	margin: 8px;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.04s;
	box-shadow: 0px 0px 20px #00000090;
	z-index: 10;
	overflow: noclip;
	margin: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	tooltip-position: right;
}

.HeroCard:hover
{
	sound: soundHeroCardHover;
}

.HeroCard:active
{
	sound: soundHeroCardActivate;
}

CitadelHeroCard:hover
{
	z-index: 100;
}

#CardBacker
{
	width: 100% - 5px;
	height: 100% - 5px;
	wash-color: #564a48;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/card_backer_psd.vtex");
}

.isPriority #CardBacker
{
	wash-color: #74ddb3;
}

#CardShape
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/card_border_psd.vtex");
	background-size: 100% 100%;
	wash-color: #575757;
}

.HeroCard.RosterSelect
{
	width: 70px;
	height: 113px;
	width: 75px;
	height: 125px;
	margin: 4px;
	background-color: offWhite&05;
	opacity-mask: url("s2r://panorama/images/masks/card_edge_blur_png.vtex");
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.HeroCard.RosterSelect:hover
{
	background-color: offWhite;
	animation-name: none;
}

.HasHeroesInRoster .HeroCard.RosterSelect
{
	saturation: 0.5;
	brightness: 0.4;
	animation-name: none;
	z-index: 1;
	pre-transform-scale2d: 0.98;
}

.HasHeroesInRoster .HeroCard.RosterSelect.inRoster
{
	opacity: 1;
	saturation: 1;
	brightness: 1.5;
	pre-transform-scale2d: 1.05;
	transform: rotateZ(5deg);
	z-index: 2;
}

.HasHeroesInRoster .HeroCard.RosterSelect.isPriority
{
	pre-transform-scale2d: 1.1;
	z-index: 3;
}

.HasHeroesInRoster .HeroCard.RosterSelect.isHighPriority
{
	pre-transform-scale2d: 1.15;
	z-index: 4;
}

.HasHeroesInRoster .HeroCard.RosterSelect.isPriorityToken
{
	pre-transform-scale2d: 1.2;
	z-index: 10;
}

@keyframes 'RandomizeAnim'
{
	0%
	{
		pre-transform-scale2d: 1;
		brightness: 0.5;
	}
	
	50%
	{
		pre-transform-scale2d: 1.05;
		brightness: 1;
		transform: rotateZ(1deg);
		saturation: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 0.5;
	}
	
}

.RandomActive .HeroCard.RosterSelect
{
	animation-name: RandomizeAnim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.RandomActive #HeroPanel .HeroCard.RosterSelect:nth-child(even)
{
	animation-delay: 0.3s;
	wash-color: red;
}

.RandomActive #HeroPanel .HeroCard.RosterSelect:nth-child(odd)
{
	animation-delay: 0s;
	wash-color: green;
}

@keyframes 'cardPulse'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateX(0px) rotateZ(0deg);
	}
	
	50%
	{
		pre-transform-scale2d: 1.04;
		transform: translateX(0px) rotateZ(1deg);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: translateX(0px) rotateZ(0deg);
	}
	
}

.QuickSearchActive .HeroCard
{
	opacity: 0.1;
	saturation: 0.5;
}

.QuickSearchActive .QuickSearchMatch.HeroCard
{
	opacity: 1;
	saturation: 1;
	pre-transform-scale2d: 1.1;
	brightness: 2;
	border: 3px solid green;
}

#GrainOverlay
{
	width: 100%;
	height: 100%;
	border-radius: 3px;
	z-index: 100;
}

.SelectedState
{
	width: 100%;
	height: 100%;
	border-radius: 0px;
	visibility: collapse;
	z-index: 100;
	overflow: noclip;
}

.isNewHero #CardShape
{
	wash-color: #0f7a55;
}

.HasHeroesInRoster .isNewHero #CardShape
{
	wash-color: #0f7a55;
}

.isNewHero.prereleaseOnly #CardShape
{
	wash-color: #575757;
}

.isTestingHero #CardShape
{
	wash-color: #97711d;
}

.inRoster #CardShape,.isNewHero.inRoster #CardShape
{
	wash-color: #c3dcd2;
}

.isPriority #CardShape,.isNewHero.isPriority #CardShape
{
	wash-color: #92eac7;
}

.isHighPriority #CardShape,.isNewHero.isHighPriority #CardShape
{
	wash-color: #33e59f;
}

.isPriorityToken #CardShape,.isNewHero.isPriorityToken #CardShape
{
	wash-color: #dab5ff;
}

.SelectedIcon
{
	width: 40px;
	height: 40px;
	margin-left: -10px;
	horizontal-align: left;
	overflow: noclip;
	vertical-align: bottom;
	visibility: collapse;
}

.isPriority .SelectedIcon
{
	visibility: visible;
}

.isHighPriority .SelectedIcon
{
	visibility: visible;
}

.IconCheck
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
	wash-color: #000000;
	width: 80%;
	height: 90%;
	opacity: 0.9;
	margin-top: 3px;
	horizontal-align: left;
	vertical-align: top;
}

.HeroCard.inRoster .SelectedState,.HeroCard:selected .SelectedState
{
	visibility: visible;
}

.isPriority .IconCheck,.isHighPriority .IconCheck
{
	visibility: collapse;
}

#Starred
{
	width: 25px;
	height: 30px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	wash-color: shardColor;
	visibility: collapse;
	margin-left: 13px;
	margin-bottom: 3px;
	background-size: contain;
}

.isPriority #Starred
{
	visibility: visible;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/priority_png.vtex");
	img-shadow: 0px 0px 3.0 #000000;
	background-position: center bottom;
}

.isHighPriority #Starred
{
	visibility: visible;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/priority_high_png.vtex");
	img-shadow: 0px 0px 3.0 #000000;
}

.isPriority #Starred,.isPriority.inRoster #Starred,.isHighPriority #Starred,.isHighPriority.inRoster #Starred
{
	visibility: visible;
}

#GradiantOverlay
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 50%, 0% 100%, from( offBlack&00 ), to( offBlack ) );
	z-index: 3;
	opacity: 0.5;
}

.RosterSelect #GradientOverlay
{
	visibility: collapse;
}

CitadelHeroCard #GradiantOverlay
{
	opacity: 1;
}

CitadelHeroCard.inRoster #GradiantOverlay
{
	opacity: 0.6;
}

#HeroImage
{
	opacity: 1;
	horizontal-align: center;
	vertical-align: center;
	transition-property: transform, opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
	margin: 2px;
}

.RosterSelect #HeroImage
{
	saturation: 0.8;
	brightness: 0.7;
	opacity: 0.6;
}

CitadelHeroCard:hover #HeroImage
{
	opacity: 1;
}

.RosterSelect:hover #HeroImage
{
	opacity: 1;
	brightness: 1;
	saturation: 1;
}

.RosterSelect #HeroImage
{
	opacity: 1;
	brightness: 1;
	saturation: 1;
}

.prereleaseOnly.HeroCard #HeroImage
{
	wash-color: #000000ea;
}

.rosterCard #HeroImage
{
	opacity: 1;
}

.rosterCard.inRoster #HeroImage
{
	saturation: 1;
	opacity: 1;
	background-color: offWhite;
}

#RosterIcon
{
	width: 25px;
	height: 25px;
	margin: 7px 4px;
	horizontal-align: right;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition-duration: 0.3s;
	transition-property: opacity;
	img-shadow: 0px 0px 10px #000000;
	background-image: url("s2r://panorama/images/icons/roster_icon_png.vtex");
	visibility: collapse;
	z-index: 10;
}

.choosePreferred #RosterIcon
{
	opacity: 0;
}

.inRoster #RosterIcon
{
	visibility: visible;
}

.RosterSelect.inRoster #RosterIcon
{
	visibility: collapse;
}

#NamePlate
{
	width: 100%;
	height: 65px;
	vertical-align: bottom;
	padding-bottom: 0px;
	flow-children: down;
	z-index: 30;
	flow-children: up;
}

.RosterSelect #NamePlate
{
	visibility: collapse;
}

#HeroInfo
{
	flow-children: down;
	vertical-align: bottom;
	width: 100%;
	z-index: 15;
	transition-duration: 0.2s;
	transition-property: transform;
	transition-timing-function: ease-in-out;
}

.inRoster.isPriority #HeroInfo,.inRoster.isHighPriority #HeroInfo
{
	background-color: #ffc533;
}

.inRoster #HeroInfo
{
	background-color: offWhite;
}

#HeroName
{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: offBlack;
	text-overflow: shrink;
	font-family: "Market Deco";
	font-family: "Swear Deck Demo";
	font-family: serif;
	opacity: 1;
	letter-spacing: 0.5px;
	horizontal-align: center;
	text-shadow: 0px 0px 0px 5.0 offBlack&90, 2px 2px 0px 3.0 offBlack;
	padding: 0px 2px;
	text-transform: uppercase;
	max-height: 30px;
	color: offWhite;
	font-weight: bold;
}

CitadelHeroCard:hover #HeroName
{
	opacity: 1;
}

.isPriority #Add,.isHighPriority #Add,.inRoster #Add
{
	visibility: collapse;
}

#DevMessageOpen,#DevMessageAssigned
{
	horizontal-align: middle;
	vertical-align: top;
	margin-bottom: 0px;
	padding: 1px 4px 0px 4px;
	border-radius: 2px;
	font-weight: medium;
	visibility: collapse;
	z-index: 100;
	width: fit-children;
}

#DevMessageOpen Label,#DevMessageAssigned Label
{
	font-size: 10px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 2px;
	text-align: center;
	text-overflow: shrink;
	max-height: 15px;
	horizontal-align: center;
}

.RecommendedHeroIcon
{
	width: 44px;
	height: 44px;
	horizontal-align: right;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/main_menu/recommended_icon_backer_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	visibility: collapse;
	opacity: 1;
	z-index: 100;
	img-shadow: 0px 0px 12px #00000044;
	animation-name: newplayer_glow;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

.RosterSelect .RecommendedHeroIcon
{
	background-image: url("s2r://panorama/images/main_menu/recommended_icon_backer_bottom_png.vtex");
	vertical-align: bottom;
	width: 30px;
	height: 30px;
}

.isNewPlayer .newPlayers .RecommendedHeroIcon
{
	visibility: visible;
}

.isNewPlayer .singlePlayer.isHeroTesting .laneTesting .RecommendedHeroIcon,.isNewPlayer .singlePlayer.isBotMatch .laneTesting .RecommendedHeroIcon,.isNewPlayer .changeHero.isHeroTesting .laneTesting .RecommendedHeroIcon,.isNewPlayer .changeHero.isBotMatch .laneTesting .RecommendedHeroIcon
{
	visibility: visible;
}

.isNewPlayer .multiplayer .newPlayers .RecommendedHeroIcon
{
	visibility: visible;
}

CitadelHudHeroTesting .HeroCard.RosterSelect
{
	horizontal-align: center;
	width: 80px;
}

.LockedHeroIcon
{
	width: 30px;
	height: 30px;
	horizontal-align: right;
	vertical-align: bottom;
	ignore-parent-flow: true;
	background-size: contain;
	visibility: visible;
	border-radius: 3px 0px 0px 0px;
	img-shadow: 0px 0px 10px #000000ee;
	padding: 0px 0px 3px 0px;
	opacity: 1;
	visibility: collapse;
}

.HeroCard.prereleaseOnly .LockedHeroIcon
{
	visibility: visible;
}

.LockIcon
{
	width: 20px;
	height: 30px;
	background-image: url("s2r://panorama/images/control_icons/lock_medium_png.vtex");
	background-size: contain;
	wash-color: offWhite;
	opacity: 0.6;
	background-position: center;
	horizontal-align: center;
	vertical-align: middle;
	background-repeat: no-repeat;
}

@keyframes 'newplayer_glow'
{
	0%
	{
		brightness: 1;
	}
	
	50%
	{
		brightness: 2;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

.NewPlayerIcon
{
	width: 12px;
	height: 12px;
	background-image: url("s2r://panorama/images/icons/icon_thumbsup.vsvg");
	wash-color: #264a15;
	background-size: contain;
	vertical-align: top;
	horizontal-align: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 35%;
	height: 35%;
	animation-name: newplayer_icon;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.RosterSelect .NewPlayerIcon
{
	margin-top: 15px;
}

@keyframes 'newplayer_icon'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	10%
	{
		pre-transform-scale2d: 1.2;
		transform: rotateZ(2deg);
	}
	
	15%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	20%
	{
		pre-transform-scale2d: 1.2;
		transform: rotateZ(-2deg);
	}
	
	35%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
}

.RosterSelect .RecommendedHeroIcon
{
	saturation: 0.2;
	opacity: 0.6;
	saturation: 1;
	opacity: 1;
	width: 30px;
	height: 30px;
}

.inRoster .RecommendedHeroIcon
{
	opacity: 0;
}

.RosterSelect.inRoster .RecommendedHeroIcon
{
	opacity: 0;
}

CitadelHeroGrid .openTesting #DevMessageOpen
{
	visibility: visible;
	background-color: #00B5E0ae;
}

CitadelHeroGrid .assignedPlayersOnly #DevMessageAssigned
{
	visibility: visible;
	background-color: #ce1b36ae;
}

.disabled
{
	saturation: 0;
	wash-color: #ce1b36ee;
	brightness: 0.5;
}

.assignedPlayersOnly #HeroName,.openTesting #HeroName,.isNewPlayer .newPlayers #HeroName
{
	margin-bottom: 2px;
}

.testLabel
{
	horizontal-align: center;
	vertical-align: top;
	text-align: center;
	font-size: 13px;
	ignore-parent-flow: true;
	font-weight: bold;
	background-color: offWhite;
	background-color: #d4963a;
	text-overflow: shrink;
	color: offBlack&ee;
	font-family: block;
	padding: 2px 5px 0px 5px;
	text-transform: uppercase;
	margin-top: 2px;
	margin-left: 3px;
	border-radius: 0px 0px 3px 3px;
	box-shadow: 0px 0px 12px #00000090;
	visibility: collapse;
}

.newLabel
{
	horizontal-align: center;
	vertical-align: top;
	text-align: center;
	font-size: 13px;
	ignore-parent-flow: true;
	font-weight: bold;
	background-color: offWhite;
	background-color: #3ad4a1;
	text-overflow: shrink;
	color: offBlack&ee;
	font-family: block;
	visibility: collapse;
	padding: 2px 5px 0px 5px;
	margin-top: 2px;
	margin-left: 3px;
	border-radius: 0px 0px 3px 3px;
	box-shadow: 0px 0px 12px #00000090;
}

.newOverlay
{
	width: 100%;
	height: 100%;
	visibility: collapse;
	z-index: 80;
}

.prereleaseOnly.HeroCard .newLabel
{
	opacity: 0.2;
}

.isNewHero .newLabel
{
	visibility: visible;
}

.isTestingHero .testLabel
{
	visibility: visible;
}

.PartyMembersWithHeroInRoster
{
	flow-children: down;
	vertical-align: bottom;
	margin-left: 4px;
	margin-bottom: 4px;
	visibility: collapse;
}

.HasPartyMembers .PartyMembersWithHeroInRoster
{
	visibility: visible;
}

.PartyMembersWithHeroInRoster .ExtraPartyMemberCount
{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 2px;
	visibility: collapse;
}

.HasExtraPartyMembers .PartyMembersWithHeroInRoster .ExtraPartyMemberCount
{
	visibility: visible;
}

.PartyMembersWithHeroInRoster .ExtraPartyMemberCount Label
{
	font-size: 14px;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	text-overflow: shrink;
}

.PartyMembersWithHeroInRoster #PartyMemberAvatarImages
{
	flow-children: down;
	vertical-align: bottom;
}

.PartyMembersWithHeroInRoster #PartyMemberAvatarImages CitadelAvatarImage
{
	width: 20px;
	height: 20px;
	margin-top: 2px;
}

.HeroCard.PriorityTokenDragHover
{
	border: 5px solid white;
}

.PriorityToken
{
	width: 36px;
	height: 36px;
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/ultra_priority_token_psd.vtex");
	background-size: cover;
	border-radius: 50%;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 4px;
	margin-left: -35px;
	visibility: collapse;
}

.PriorityToken Label
{
	vertical-align: middle;
	text-overflow: shrink;
	width: 100%;
	text-align: center;
}

.isPriorityToken .PriorityToken
{
	visibility: visible;
}

.BannedIcon
{
	width: 48px;
	height: 48px;
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
	background-size: cover;
	horizontal-align: center;
	vertical-align: middle;
	visibility: collapse;
}

CitadelHeroCard.isBanned
{
	wash-color: #990000;
}

CitadelHeroCard.isBanned .BannedIcon
{
	visibility: visible;
}

