/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHudLevelUpToast
{
	flow-children: down;
	horizontal-align: left;
	vertical-align: bottom;
	z-index: 1000;
	margin-left: 22px;
	margin-bottom: 10px;
	animation-name: level_up;
	animation-iteration-count: 1;
	animation-duration: 0.8s;
}

@keyframes 'level_up'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
	50%
	{
		pre-transform-scale2d: 1.7;
		transform: translateY(-40px);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
}

#LevelUp
{
	width: 110px;
	height: 190px;
	background-image: url("s2r://panorama/images/hud/core/ghost_fill.vsvg");
	background-size: 100% 100%;
	font-family: sans;
	z-index: 10;
}

.soulsTotal
{
	font-size: 34px;
	color: offWhite;
	font-weight: bold;
	text-shadow: 0px 0px 0px 5.0 offBlack;
	text-align: center;
	horizontal-align: center;
	max-width: 110px;
	text-overflow: shrink;
	margin-bottom: -5px;
}

.soulsLabel
{
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	opacity: 0.9;
	background-color: offBlack;
	padding: 0px 2px;
}

#LevelRewardsContainer
{
	flow-children: down;
	width: 80px;
	horizontal-align: center;
	background-color: #70F8C150;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #00FF9950 ), to( #00000000 ) );
	padding-bottom: 140px;
	margin-bottom: -110px;
	z-index: 9;
	animation-name: level_up_rewards;
	animation-iteration-count: 1;
	animation-duration: 0.8s;
	animation-delay: 0.3s;
	animation-timing-function: ease-out;
}

.LevelUpItem
{
	background-color: #70F8C150;
	width: 100%;
	flow-children: down;
	margin-bottom: 3px;
}

@keyframes 'level_up_rewards'
{
	0%
	{
		opacity: 0;
		transform: translateY(200px);
	}
	
	80%
	{
		opacity: 0.2;
	}
	
	100%
	{
		opacity: 1;
		transform: translateY(0px);
	}
	
}

.LevelUpContent
{
	horizontal-align: center;
	flow-children: right;
}

.Reward
{
	flow-children: right;
	vertical-align: middle;
	horizontal-align: center;
	height: 60px;
}

.Reward Label
{
	font-size: 20px;
	color: offBlack;
	font-weight: bold;
	vertical-align: center;
	visibility: collapse;
}

.RewardIcon
{
	width: 40px;
	height: 40px;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.LevelUpItem.weaponPower .RewardIcon
{
	background-image: url("s2r://panorama/images/hud/core/ghost_wp_reward_png.vtex");
	width: 65px;
	height: 35px;
}

.LevelUpItem.abilityPoint .RewardIcon
{
	background-image: url("s2r://panorama/images/hud/core/ghost_reward_ap_png.vtex");
	wash-color: techColor;
}

.LevelUpItem.abilityUnlock .RewardIcon,.LevelUpItem.ultimateUnlock .RewardIcon
{
	background-image: url("s2r://panorama/images/hud/core/ghost_reward_unlock_png.vtex");
	wash-color: techColor;
}

.ultimateUnlock .AwardValue,.abilityUnlock .AwardValue,.abilityPoint .AwardValue
{
	visibility: collapse;
}

