/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

#Contents.GameChatContents
{
	width: fit-children;
	padding: 8px 16px 12px 16px;
	min-width: 0px;
}

.Title
{
	margin: 2px 20px 8px 0px;
	color: offWhite&44;
	font-family: block;
	font-size: 18px;
}

.Options
{
	flow-children: down;
}

.Options RadioButton
{
	margin-bottom: 4px;
}

.Options #ChatPartyOnlyButton
{
	visibility: collapse;
}

.HasParty .Options #ChatPartyOnlyButton
{
	visibility: visible;
}

