/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelPrivateLobbyPage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	flow-children: right;
	background-color: #000000;
	background-image: url("s2r://panorama/images/main_menu/background_nyc_cityscape_bw_psd.vtex");
	background-img-opacity: 0.2;
	background-size: cover;
	background-position: left;
	flow-children: right;
}

.MainHeader
{
	width: 100%;
	flow-children: down;
}

.DashboardPage
{
	width: 100%;
	flow-children: down;
}

#PartyCode
{
	horizontal-align: center;
}

.MainTitle
{
	horizontal-align: center;
}

.MainTitleText
{
	font-size: 40px;
	color: white;
}

.MainBodyCtn
{
	height: fit-children;
	margin-top: 20px;
	horizontal-align: center;
	flow-children: down;
}

.TeamContainer
{
	horizontal-align: center;
	flow-children: right;
}

.OthersContainer
{
	margin-top: 10%;
	height: fit-children;
	horizontal-align: center;
	flow-children: right;
}

.TeamSlot
{
	height: 60px;
	width: 480px;
}

.TeamListing
{
	height: fit-children;
	width: 100%;
	flow-children: down;
}

.TeamCtn
{
	width: 480px;
	flow-children: down;
	margin: 0px 20px;
}

.TeamTitle
{
	width: 100%;
	background-color: black;
	padding: 6px;
}

.TeamTitleText
{
	color: white;
	font-size: 20px;
	horizontal-align: center;
}

.TeamJoinButton
{
	border: 1px solid white;
	margin: 4px;
	width: 100%;
}

.TeamJoinButton:hover
{
	border-color: yellow;
}

.TeamJoinButton:hover .TeamJoinText
{
	color: yellow;
}

.TeamJoinText
{
	color: white;
	horizontal-align: center;
}

.IsPlayerUnassigned #UnassignedJoin
{
	visibility: collapse;
}

.LaunchMatchCtn
{
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: down;
	margin-bottom: 80px;
}

.PartyErrorText
{
	visibility: collapse;
}

.HasPrivateLobbyError .PartyErrorText
{
	visibility: visible;
}

.HasPrivateLobbyError #StartMatch
{
	visibility: collapse;
}

#StartMatch
{
	horizontal-align: center;
	border: 1px solid white;
	padding: 5px 20px;
}

.Spectators
{
	width: 600px;
	flow-children: down;
}

#VersusText
{
	font-size: 40px;
	vertical-align: center;
}

.SettingsPanel
{
	flow-children: down;
}

.SettingsHeader
{
	font-size: 30px;
	color: white;
	padding: 10px;
	horizontal-align: center;
}

.SettingSubSection
{
	margin-top: 20px;
	flow-children: down;
}

.SettingSubSectionHeader
{
	font-size: 20px;
}

