/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define untrained_background: #244a50;
@define untrained_wash: #213c40;
CitadelHudAbilityButton
{
	height: 152px;
	width: 144px;
	margin-right: 4px;
	margin-left: 4px;
	border-radius: 4px;
	background-color: #213C40;
	tooltip-position: left;
	tooltip-body-position: 0% 0%;
}

CitadelHudAbilityButton.listHorizontally
{
	flow-children: right;
	height: 104px;
	width: 214px;
	border-radius: 4px 4px 0px 0px;
}

CitadelHudAbilityButton.isUnlocked
{
	background-color: #73e5e5;
	brightness: 1;
}

CitadelHudAbilityButton.isUnlocked:hover
{
	brightness: 2;
}

CitadelHudAbilityButton.isTrained:Hover
{
	brightness: 2;
}

CitadelHudAbilityButton.canUnlock
{
	background-color: colorCommonDarkestGray;
}

CitadelHudAbilityButton.isSelected
{
	background-color: colorCommonOffWhite;
}

CitadelHudAbilityButton.isSelected:hover
{
	brightness: 1;
}

CitadelHudAbilityButton.horizontalButton
{
	flow-children: right;
	width: 214px;
	height: 104px;
}

#AbilityUpgradePips
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 10px;
}

.listHorizontally #AbilityUpgradePips
{
	vertical-align: center;
	margin-bottom: 0px;
	margin-left: 5px;
}

.abilityLevelPip
{
	width: 24px;
	height: 24px;
	margin-left: 4px;
	margin-right: 4px;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/hud/hero_ability_pip_empty_psd.vtex");
	wash-color: colorCommonDarkestGray;
}

.hasAbilityUpgrade.abilityLevelPip
{
	background-image: url("s2r://panorama/images/hud/hero_ability_pip_psd.vtex");
	wash-color: colorCommonDarkestGray;
	opacity: 1;
	animation-iteration-count: 0;
}

.isUnlocked #AbilityUpgradePips
{
	visibility: visible;
}

#AbilityImage
{
	width: 100%;
	height: 100%;
	wash-color: untrained_wash;
}

.canUnlock #AbilityImage
{
	wash-color: colorCommonDarkestGray;
}

.isUnlocked #AbilityImage
{
	wash-color: #73e5e5;
}

.abilityImageBackground
{
	height: 88px;
	width: 88px;
	margin-bottom: 24px;
	vertical-align: center;
	horizontal-align: center;
	background-color: colorEnemy;
	opacity: 0.25;
}

.isUnlocked .abilityImageBackground
{
	background-color: colorCommonDarkestGray;
	opacity: 1;
}

.canUnlock #AbilityImage .canUnlock .abilityImageBackground
{
	background-color: #00FFFF;
}

.canUnlock .abilityImageBackground
{
	background-color: armorColor;
}

.listHorizontally .abilityImageBackground
{
	width: 80px;
	height: 80px;
	margin: 0px;
	vertical-align: center;
}

.isSelected .abilityImageBackground
{
	opacity: 1;
}

.isSelected.canUnlock .abilityImageBackground
{
	background-color: armorColor;
	opacity: 1;
}

.isSelected #AbilityImage
{
	wash-color: colorCommonOffWhite;
}

.unlockText
{
	font-size: 16px;
	font-weight: bold;
	vertical-align: center;
	color: colorCommonOffWhite;
}

.isSelected .unlockText
{
	color: colorCommonDarkestGray;
}

.canUnlock .unlockText
{
	color: colorCommonDarkGray;
}

#KeybindLabel
{
	font-size: 21px;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 8px;
	color: #33757F;
}

.unlockButtonContainer
{
	horizontal-align: center;
	vertical-align: center;
}

.unlockIcon
{
	height: 24px;
	width: 24px;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/control_icons/lock_psd.vtex");
	margin-right: 4px;
	wash-color: colorEnemy;
}

.canUnlock .unlockIcon
{
	background-image: url("s2r://panorama/images/control_icons/lock_unlocked_psd.vtex");
	wash-color: colorCommonDarkestGray;
}

