/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define offWhite: #FFEFD7;
@define spiritBrightColor: #CE90FF;
CitadelRosterHeroLore
{
	opacity: 1;
	width: 100%;
	height: 100%;
	background-color: #000000aa;
}

#HeroDetailsContainer
{
	horizontal-align: center;
	vertical-align: center;
	height: 550px;
	width: 700px;
}

#HeroDetailsTitle
{
	width: 100%;
	height: fill-parent-flow(1.0);
}

#HeroDetails
{
	width: 100%;
	height: 100%;
	z-index: 2;
	horizontal-align: right;
	opacity: 1;
	background-color: offBlack&ee;
	border: 2px solid offWhite&10;
	world-blur: menuBlur;
	padding: 30px 50px;
}

#HeroName
{
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	color: #111111;
	letter-spacing: -1px;
	height: 36px;
	text-overflow: shrink;
	margin-bottom: -6px;
	visibility: collapse;
}

#HeroTopDesc
{
	font-size: 26px;
	font-weight: semi-bold;
	font-family: serif;
	visibility: collapse;
}

#HeroDesc
{
	font-size: 18px;
	font-weight: semi-bold;
	text-align: justify;
	opacity: 0.6;
	line-height: 26px;
	font-family: sans;
	text-shadow: 0px 0px 10px 3.0 #00000090;
	margin: 10px 0px;
	visibility: collapse;
}

#LoreTitle
{
	font-family: block;
	font-size: 30px;
	margin-bottom: 5px;
}

#HeroLore
{
	font-size: 18px;
	font-weight: semi-bold;
	text-align: justify;
	opacity: 0.6;
	line-height: 26px;
	font-family: sans;
	text-shadow: 0px 0px 10px 3.0 #00000090;
	margin: 10px 0px;
	width: 100%;
	height: 100%;
	overflow: squish scroll;
	padding-right: 20px;
}

