/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
@define transition_time: 0.3s;
CitadelHeroDetailsPage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.LeftPanelBG
{
	background-color: offBlack;
	width: 40%;
	opacity: 0;
	height: 100%;
}

#LeftPanel
{
	width: 550px;
	margin-top: 150px;
	horizontal-align: left;
	margin-left: 150px;
	flow-children: down;
	z-index: 10;
	transition-property: opacity;
	transition-duration: transition_time;
}

#RightPanel
{
	width: 1300px;
	height: 100%;
	horizontal-align: center;
	margin-left: 150px;
	transition-property: transform;
	transition-duration: transition_time;
}

#HeroLabsHeroBG
{
	width: 500px;
	height: 100%;
	horizontal-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: -1;
	background-img-opacity: 0.2;
}

.heroLabsPanel
{
	background-color: #d36c16;
	padding: 6px 10px 6px 10px;
	flow-children: right;
	horizontal-align: center;
	vertical-align: top;
	border-radius: 3px;
	margin-top: 60px;
	z-index: 100;
	opacity: 0;
}

.isHeroLabsHero .heroLabsPanel
{
	opacity: 1;
}

.heroLabsContent
{
	flow-children: right;
	horizontal-align: center;
}

.heroLabsLabel
{
	color: #eee;
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

.heroLabsIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/icons/icon_herolabs.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	z-index: 100;
	wash-color: #ffffff;
	opacity: 0.9;
	margin-right: 10px;
}

CitadelShopModsList#ShopModsListFavorites
{
	visibility: visible;
	horizontal-align: center;
}

#StaticContent
{
	height: 100%;
	width: 100%;
	z-index: 5;
}

#NavContainer
{
	flow-children: right;
	margin-left: 95px;
	padding-left: 5px;
	margin-top: 40px;
}

#NavigationButtons
{
	vertical-align: middle;
	width: 100%;
}

.navigationButton
{
	flow-children: right;
	vertical-align: center;
	padding: 10px;
	height: 100px;
	background-color: #ffffff10;
	opacity: 0.6;
	transition-property: opacity, border, background-color;
	transition-duration: 0.3s;
}

.AspectRatio21x9 #NextButton
{
	margin-right: -20px;
}

#NextButton
{
	horizontal-align: right;
}

.NavButtonText
{
	flow-children: down;
}

.NextBackLabel
{
	font-size: 14px;
	color: #ffffff90;
	font-weight: bold;
	text-transform: uppercase;
}

#NextButton .NavButtonText
{
	margin-left: 10px;
}

.navigationHeroName
{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	vertical-align: center;
	margin-top: -3px;
}

.navigationButton .backArrow
{
	wash-color: #ffffff;
	width: 20px;
	height: 20px;
	transition-property: margin-left, wash-color, transform;
	transition-duration: 0.1s;
}

.navigationButton:hover
{
	background-color: #ffffff10;
}

.navigationButton:hover .backArrow
{
	transform: translateX(-4px);
}

#NextButton:hover .backArrow
{
	transform: translateX(-4px) rotateY( 180deg );
}

#NextButton .backArrow
{
	transform: rotateY( 180deg );
	horizontal-align: right;
}

#HeroDetailsContainer,#HeroDetails
{
	flow-children: down;
	width: 100%;
}

#HeroDetails
{
	padding: 40px;
}

#LowerDetails
{
	width: 100%;
	height: fill-parent-flow(1.0);
	flow-children: down;
}

#HeroBackgroundColor
{
	height: fill-parent-flow(1.0);
	width: 100%;
	ignore-parent-flow: true;
	opacity: 0.7;
	transition-property: background-color;
	transition-duration: 0.3s;
}

#HeroName
{
	font-size: 80px;
	font-weight: bold;
	font-family: serif;
	letter-spacing: 0.5px;
	line-height: 80px;
	text-overflow: shrink;
	horizontal-align: center;
	text-align: center;
	color: offWhite;
	text-transform: uppercase;
}

.HeroCodename
{
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
	opacity: 0.4;
	color: offWhite;
}

#HeroLore
{
	font-size: 18px;
	line-height: 28px;
	font-weight: medium;
	text-shadow: 2px 2px 0px #00000090;
	color: offWhite&90;
	margin-top: 5px;
	padding: 0px 10px;
}

.HeroNameAndLevelsIcon
{
	horizontal-align: center;
	margin-bottom: -20px;
}

#Backstory
{
	background-color: #ffffff00;
	border: 3px solid kelvinColor;
	padding: 5px 20px;
	transition-property: background-color;
	transition-duration: 0.2s;
	margin-top: 15px;
	saturation: 0;
	opacity: 0.7;
}

#Backstory Label
{
	font-size: 20px;
	text-transform: uppercase;
	font-family: CriteriaCF;
	margin-top: 10px;
	font-weight: bold;
}

#HeroType
{
	font-size: 22px;
	font-weight: semi-bold;
	font-weight: medium;
	color: offWhite&80;
	font-weight: semi-bold;
	margin-bottom: 15px;
	horizontal-align: center;
	text-align: center;
}

#HeroAbilitiesContainer
{
	flow-children: down;
	width: fit-children;
	horizontal-align: left;
	vertical-align: top;
	margin-top: 70px;
	z-index: 11;
}

#AbilitiesTitle
{
	font-size: 16px;
	color: #ffffff30;
	font-weight: normal;
	font-family: CriteriaCF;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#AbilitiesContainer
{
	flow-children: down;
}

.abilityContainer
{
	flow-children: right;
}

.abilityNameContainer
{
	flow-children: down;
	vertical-align: center;
	background-color: #40404090;
	width: 600px;
	padding: 10px;
}

.citadelAbilityName
{
	font-size: 24px;
	color: #ffffffff;
	font-weight: semi-bold;
}

.citadelAbilityQuip
{
	font-size: 20px;
	color: #ffffff30;
}

CitadelAbilityIcon
{
	margin: 0px -5px;
	border-radius: 10px;
	width: 67px;
	height: 67px;
	wash-color: offWhite;
	tooltip-position: right;
	opacity: 0.9;
	transition-property: wash-color, pre-transform-scale2d;
	transition-duration: 0.3s;
}

CitadelAbilityIcon:hover
{
	opacity: 1;
}

#HeroStatsContainer
{
	flow-children: down;
	width: 100%;
	padding-top: 50px;
	visibility: collapse;
}

#HeroStatsContent
{
	width: 100%;
	flow-children: down;
}

.separator
{
	width: 35%;
	border-top: 1px solid #ffffff50;
	vertical-align: center;
}

.leftSeperator
{
	margin-right: 20px;
}

.rightSeperator
{
	margin-left: 20px;
}

#TopStats,#BottomStats
{
	flow-children: right;
	width: 100%;
}

#StatsHeaderContainer
{
	flow-children: right;
	width: 100%;
	horizontal-align: center;
	margin-bottom: 15px;
}

#StatsHeader
{
	font-weight: semi-bold;
	font-family: CriteriaCF;
	margin-top: 10px;
}

#BottomStats
{
	margin-top: 40px;
}

.statsContainer
{
	width: 33%;
	flow-children: down;
}

#BottomStats .statsContainer
{
	width: 50%;
	padding-right: 40px;
}

.hero_desc_section_complexity_stars
{
	flow-children: right;
}

.complexity_star
{
	width: 28px;
	margin-top: 6px;
	height: 28px;
	margin-right: 3px;
	opacity: 0.5;
	saturation: 0;
}

.complexity1 .complexity_star.complexity_star1
{
	opacity: 1;
	saturation: 1;
	wash-color: #ffffff;
}

.complexity2 .complexity_star.complexity_star2
{
	opacity: 1;
	saturation: 1;
	wash-color: #ffffff;
}

.complexity3 .complexity_star.complexity_star3
{
	opacity: 1;
	saturation: 1;
	wash-color: #ffffff;
}

.hero_desc_entry
{
	color: white;
	line-height: 24px;
	font-size: 18px;
}

.statName,.hero_desc_title
{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	opacity: 0.8;
	font-family: ArticulatCF;
}

.statValue
{
	font-weight: medium;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 36px;
	font-family: CriteriaCF;
}

#BottomStats .statValue
{
	font-size: 22px;
	width: 100%;
	height: 200px;
	letter-spacing: 0px;
}

#ActionItemsContainer
{
	z-index: 12;
	flow-children: down;
	horizontal-align: center;
}

#ButtonRow
{
	flow-children: right;
	horizontal-align: center;
}

#HeroImage
{
	width: 100px;
	height: 100px;
	background-color: #33333390;
	visibility: collapse;
}

.ButtonItems
{
	flow-children: right;
	horizontal-align: middle;
	vertical-align: middle;
	overflow: noclip;
}

.actionItemButton
{
	background-color: #ffffff10;
	transition-property: background-color;
	transition-duration: 0.3s;
	overflow: noclip;
	padding: 10px 20px;
	width: 320px;
	height: 70px;
	z-index: 10;
	margin-bottom: 10px;
	border-radius: 3px;
	transition-property: background-color, border;
	transition-duration: 0.3s;
}

.in_party #HeroTestingButton
{
	visibility: collapse;
}

#HeroTestingButton Label
{
	font-family: serif;
	font-weight: bold;
	font-size: 38px;
	color: offWhite;
}

#BrowseHeroBuildsButton Label
{
	font-family: serif;
	font-weight: bold;
	font-size: 38px;
	color: offWhite;
}

#CreateHeroBuildsButton Label
{
	font-family: serif;
	font-weight: bold;
	font-size: 38px;
	color: offWhite;
}

.actionItemButton Label
{
	vertical-align: center;
	horizontal-align: center;
	font-weight: semi-bold;
	font-size: 40px;
	transition-property: transform, color, brightness;
	transition-duration: 0.3s;
	width: 280px;
	height: 50px;
	text-overflow: shrink;
	text-align: center;
	color: offWhite;
}

.actionItemButton:hover
{
	brightness: 1.6;
}

.actionItemButton:hover Label
{
	color: #ffffff;
}

.actionItemButton:hover .Arrow
{
	transform: translateX(5px);
}

.actionItemButton.disabled,.disabled .ButtonItems,.disabled Label
{
	opacity: 0.8;
}

.disabled.actionItemButton:hover
{
	opacity: 0.8;
}

.testingButton:hover
{
	brightness: 1.3;
	background-color: #ffffff30;
}

.Arrow
{
	margin-left: 15px;
	margin-top: 5px;
	width: 25px;
	height: 25px;
	transition-property: margin-left, wash-color, transform;
	transition-duration: 0.3s;
	vertical-align: middle;
	margin-bottom: 3px;
}

#HeroScenePanel
{
	width: 1640px;
	height: 100%;
	vertical-align: middle;
	horizontal-align: right;
	background-color: #00000001;
	z-index: 100;
}

.GrainTexture
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/main_menu/grain_png.vtex");
	ignore-parent-flow: true;
}

@keyframes 'LoadUp'
{
	0%
	{
		transform: translateY(300px);
	}
	
	100%
	{
		transform: translateY(0px);
	}
	
}

#PlayerStatsContainer
{
	width: 400px;
	height: 500px;
	z-index: 12;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 150px;
	margin-bottom: 100px;
	flow-children: down;
	visibility: collapse;
}

.playerStatTitle
{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 38px;
	margin-bottom: 4px;
}

#PlayerStatsList
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: down;
	overflow: clip scroll;
	border: 1px solid white;
	background-color: #00000088;
}

.playerStatContainer
{
	width: 100%;
	height: 60px;
	flow-children: right;
}

.playerStatName
{
	vertical-align: center;
	color: #a4a4a4;
	font-size: 32px;
}

.playerStatValue
{
	vertical-align: center;
	width: 140px;
	margin-right: 20px;
	color: white;
	font-size: 28px;
	horizontal-align: right;
	text-align: right;
}

#AbilityDetailsContainer
{
	horizontal-align: center;
	height: 100%;
	width: 601px;
	flow-children: down;
	margin-left: 1320px;
	transition-property: transform;
	transition-duration: transition_time;
	visibility: collapse;
}

.AspectRatio16x10 #AbilityDetailsContainer
{
	margin-left: 1150px;
}

#HeroBackstoryContainer
{
	horizontal-align: right;
	margin-right: 50px;
	height: 100%;
	flow-children: down;
	background-color: #09090A;
	width: 650px;
	padding: 100px 60px 100px 60px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: transition_time;
	overflow: squish scroll;
}

.HeroBackstoryLabel
{
	font-size: 20px;
	font-weight: medium;
	color: offWhite&99;
	line-height: 32px;
}

#HeroFavoritesContainer
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 50px;
	height: 100%;
	flow-children: down;
	background-color: #09090A;
	width: 650px;
	padding: 120px 60px;
	opacity: 0;
	color: offWhite;
	transition-property: opacity;
	transition-duration: transition_time;
	overflow: squish scroll;
}

#BuildsIntroArea
{
	flow-children: down;
}

.titleLabel
{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
}

.descLabel
{
	font-size: 20px;
	font-weight: medium;
	margin-bottom: 20px;
}

.devNote
{
	font-size: 16px;
	opacity: 0.6;
}

.buildName
{
	font-size: 26px;
	font-weight: bold;
	margin: 5px 0px;
}

.buildAuthor
{
	font-size: 20px;
	font-weight: semi-bold;
	margin: 5px 0px;
}

#SelectedBuild
{
	flow-children: down;
	border-top: 1px solid #ffffff20;
	border-bottom: 1px solid #ffffff20;
	width: 100%;
	margin: 20px 0px 30px 0px;
	padding: 20px 0px 30px 0px;
}

#SelectedBuild Button
{
	margin: 0px;
	margin-top: 10px;
}

.ShowingBackstory #HeroBackstoryContainer,.ShowingBuilds #HeroFavoritesContainer
{
	opacity: 1;
}

.ShowingBackstory #HeroStats,.ShowingBuilds #HeroStats
{
	opacity: 0;
}

#AbilityIconsContainer
{
	z-index: 10;
	flow-children: right;
	overflow: noclip;
	horizontal-align: center;
	margin: -10px 0px 20px 0px;
}

.abilityDetails
{
	visibility: collapse;
	height: 100%;
}

.showingAbility1 #AbilityDetails1,.showingAbility2 #AbilityDetails2,.showingAbility3 #AbilityDetails3,.showingAbility4 #AbilityDetails4
{
	visibility: visible;
}

.AbilityIcon:hover
{
	wash-color: spiritBrightColor;
	img-shadow: 0px 0px 12px #ffffff;
	pre-transform-scale2d: 1.15;
}

#movie_preview,.has_movie_preview .noMoviePreview
{
	visibility: collapse;
}

.movieArea
{
	width: 100%;
	height: 420px;
}

.noMoviePreview
{
	background-color: black;
}

.noMovieLabel
{
	width: 300px;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
}

.has_movie_preview #movie_preview
{
	visibility: visible;
}

.movieFooterBar
{
	width: 100%;
	height: 52px;
	background-color: #00000080;
	vertical-align: bottom;
}

AbilityDetailsPanel,CitadelAbilityUpgradeList
{
	background-color: spiritDarkColor;
}

CitadelHeroDetailsPage CitadelAbilityUpgradeList
{
	height: 300px;
	max-height: 280px;
}

.Separator
{
	margin-left: 15px;
	margin-right: 15px;
	opacity: 0.2;
	margin-top: 3px;
}

.topNavButton,.Separator
{
	color: #FFFFFF66;
	text-transform: uppercase;
	font-weight: normal;
	font-family: sans;
	font-size: 18px;
	font-weight: bold;
	transition-property: transform, pre-transform-scale2d, color;
	transition-duration: 0.05s;
}

.topNavButton:hover
{
	color: ritualGreen;
	transform: translateY(-1px);
}

.topNavButton:disabled
{
	color: #FFFFFF11;
}

.topNavButton:selected
{
	color: offWhite;
	font-weight: bold;
}

.HeroBackstoryHeaderLabel
{
	color: #FFFFFFAA;
	margin-bottom: 20px;
	font-weight: bold;
}

.recommendedHeaderContainer
{
	width: 100%;
	height: 100px;
	background-color: #432800;
}

.favIcon,.recommendedHeaderLabel
{
	horizontal-align: center;
}

.favIconContainer
{
	vertical-align: center;
	horizontal-align: center;
}

.recommendedHeaderLabel
{
	color: #FFA53A;
	text-transform: uppercase;
}

.favIcon
{
	background-image: url("s2r://panorama/images/upgrades/recommended_star_psd.vtex");
	background-size: 100% 100%;
	height: 37px;
	width: 37px;
	wash-color: #FFED79;
}

CitadelHeroStats#HeroStats
{
	horizontal-align: right;
	margin-right: 100px;
	margin-top: 200px;
	z-index: 9;
	width: 300px;
}

#InfoIcon
{
	margin-top: 70px;
	tooltip-body-position: 10% 10%;
	visibility: visible;
	ignore-parent-flow: true;
	horizontal-align: right;
	margin-right: 30px;
}

.GraphicCityScape
{
	width: 100%;
	height: 350px;
	background-image: url("s2r://panorama/images/main_menu/graphic_cityscape_png.vtex");
	background-size: auto 100%;
	background-repeat: repeat-x;
	vertical-align: bottom;
	z-index: -1;
}

#HeroLabsContainer
{
	width: 85%;
	horizontal-align: center;
	flow-children: down;
	background-color: #845125;
	border-radius: 3px;
	ignore-parent-flow: true;
	margin-bottom: 260px;
	vertical-align: bottom;
	visibility: collapse;
}

.isHeroLabsHero #HeroLabsContainer
{
	visibility: visible;
}

#HeroLabsHeader
{
	flow-children: right;
	width: 100%;
	background-color: #d36c16;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #d36c16 ), to( #d36c1600 ) );
	padding: 5px;
}

#HeroLabsContent
{
	flow-children: right;
}

#HeroLabsHeader .heroLabsIcon
{
	margin: 5px 10px 5px 5px;
	width: 18px;
	height: 18px;
}

#HeroLabsHeader .heroLabsLabel
{
	font-size: 18px;
}

.heroLabsText
{
	width: fill-parent-flow(1.0);
	vertical-align: middle;
	padding: 15px;
	font-size: 16px;
	font-weight: semi-bold;
	opacity: 0.8;
}

#HeroLabsContainer Button
{
	margin: 15px;
}

