/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_hero_builds_shared.vcss_c");
CitadelAbilityOrder
{
	flow-children: none;
}

CitadelAbilityOrder.DashboardBuilds
{
	visibility: visible;
}

#AbilityBuildContainer
{
	padding: 10px;
	vertical-align: bottom;
	horizontal-align: left;
	height: 160px;
	background-color: offBlack&aa;
	border-radius: 4px;
	border: 2px solid #ffffff03;
	width: 500px;
	margin-bottom: 6px;
}

#AbilityBuildContainer .AbilityBuildLabel
{
	font-size: 16px;
	margin-bottom: 2px;
	font-weight: semi-bold;
}

.gEditingBuilds #AbilityBuildContainer
{
	margin-left: 0px;
	visibility: visible;
	margin: 5px 10px;
	width: 500px;
}

.gEditingBuilds #AbilityBuildContainer #EditAbilityBuild
{
	visibility: visible;
}

#AbilityBuildContainer #AbilityTitleArea
{
	width: 100%;
}

#AbilityBuildContainer #AbilityBuildSummary
{
	horizontal-align: left;
}

#AbilityBuildContainer #EditAbilityBuild
{
	visibility: collapse;
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: top;
	background-color: #ffffff30;
	padding: 3px 10px;
	border-radius: 2px;
}

#AbilityBuildContainer #EditAbilityBuild Label
{
	font-size: 14px;
	font-weight: semi-bold;
}

#AbilityBuildContainer .AbilityBuildInstructionsLabel
{
	margin-left: 40px;
	margin-right: 80px;
	visibility: collapse;
	vertical-align: center;
	horizontal-align: center;
	ignore-parent-flow: true;
}

#AbilityBuildContainer #AbilityBuildSummary
{
	flow-children: right;
	vertical-align: bottom;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityBuildBG
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	flow-children: down;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityBuildBG .AbilityBuildBGBar
{
	width: 100%;
	height: 25px;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityBuildBG .AbilityBuildBGBar.Even
{
	background-color: #00000055;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityBuildBG .AbilityBuildBGBar.Odd
{
	background-color: #000000AA;
}

#AbilityBuildContainer #AbilityBuildSummary #AbilityBuildIcons
{
	vertical-align: bottom;
	height: 100px;
	flow-children: down;
	background-color: offWhite;
	margin-right: 6px;
}

#AbilityBuildContainer #AbilityBuildSummary #AbilityBuildIcons .ability_image
{
	width: 25px;
	height: 25px;
	wash-color: offBlack;
}

#AbilityBuildContainer #AbilityBuildSummary #AbilityBuildPips
{
	flow-children: right;
	height: 100px;
	padding-left: 2px;
	padding-right: 2px;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityPipColumn
{
	vertical-align: bottom;
	height: 100px;
	padding-top: 2px;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityPipColumn.Slot1
{
	height: 75px;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityPipColumn.Slot2
{
	height: 50px;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityPipColumn.Slot3
{
	height: 25px;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityPipColumn .abilityUpgradeContainer
{
	width: 25px;
	horizontal-align: middle;
	height: 18px;
	border-radius: 5px;
	background-color: rgba(26, 26, 26, 0.8);
	tooltip-position: left;
	flow-children: none;
	padding: 1px;
	margin: 1px;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityPipColumn .pipAndCostContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityPipColumn .abilityLevelPip
{
	height: 10px;
	width: 10px;
	background-size: contain;
	background-position: 50% 50%;
	vertical-align: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/hero_ability_pip_psd.vtex");
	wash-color: colorCommonDarkestGray;
	wash-color: offWhite;
	opacity: 0.5;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityPipColumn .abilityUpgradeCostLabel
{
	font-weight: black;
	color: offWhite;
	opacity: 0.5;
	font-size: 13px;
	vertical-align: center;
	text-align: center;
	margin-left: 1px;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityPipColumn.Unlock .abilityLevelPip
{
	wash-color: spiritBrightColor;
	opacity: 1;
}

#AbilityBuildContainer #AbilityBuildSummary .AbilityPipColumn.Unlock .abilityUpgradeCostLabel
{
	visibility: collapse;
}

.EmptyAbilityBuild #AbilityBuildContainer .AbilityBuildBG
{
	visibility: collapse;
}

.gEditingBuilds.EmptyAbilityBuild #AbilityBuildContainer .AbilityBuildInstructionsLabel
{
	visibility: visible;
}

