/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_hero_builds_shared.vcss_c");
CitadelHudHeroBuilds
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
	flow-children: none;
	z-index: 300;
}

CitadelHudHeroBuilds.gBrowsingBuilds.gShopOpen
{
	visibility: visible;
}

.CloseButton
{
	ignore-parent-flow: true;
	width: 36px;
	height: 36px;
	vertical-align: top;
	horizontal-align: right;
	background-size: auto 50%;
	background-position: center;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
}

.CloseButton:hover
{
	pre-transform-scale2d: 1.2;
}

#DashboardShop
{
	visibility: visible;
}

.ButtonItems
{
	flow-children: right;
	horizontal-align: middle;
	vertical-align: middle;
}

.actionItemButton
{
	background-color: grey;
	transition-property: background-color;
	transition-duration: 0.3s;
	overflow: squish;
	padding: 5px 10px;
	width: 150px;
	height: 40px;
	max-height: 40px;
	z-index: 10;
	margin: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	transition-property: background-color, border;
	transition-duration: 0.3s;
	visibility: collapse;
}

.actionItemButton.visibleByDefault
{
	visibility: visible;
}

.actionItemButton Label
{
	vertical-align: center;
	horizontal-align: center;
	font-weight: semi-bold;
	font-size: 20px;
	transition-property: transform, color, brightness;
	transition-duration: 0.3s;
	text-overflow: shrink;
	color: offWhite;
}

.actionItemButton:hover
{
	brightness: 1.6;
}

.actionItemButton:hover Label
{
	color: #ffffff;
}

.actionItemButton:hover .Arrow
{
	transform: translateX(5px);
}

.actionItemButton.disabled,.disabled .ButtonItems,.disabled Label
{
	opacity: 0.6;
}

.disabled.actionItemButton:hover
{
	opacity: 0.6;
}

.disabled.actionItemButton:hover Label
{
	color: offWhite;
}

.disabled.actionItemButton:hover
{
	brightness: 1;
}

.testingButton:hover
{
	brightness: 1.3;
	background-color: #ffffff30;
}

.HeroBuildNav
{
	visibility: collapse;
	flow-children: down;
	vertical-align: top;
	width: 550px;
	height: fit-children;
	margin-left: 60px;
	margin-top: 80px;
}

.NavContainer
{
	flow-children: down;
	width: 100%;
	padding: 20px;
}

#PublishBuildContainer
{
	visibility: collapse;
	horizontal-align: center;
	vertical-align: top;
	padding: 30px;
	background-color: #333;
	width: 610px;
	margin-left: 300px;
	margin-top: 220px;
	flow-children: down;
}

.ShowPublishPanel #PublishBuildContainer
{
	visibility: visible;
}

#PublishBuildContainer .PublishInfo
{
	vertical-align: top;
	flow-children: down;
}

#PublishBuildContainer #PublishBuildButton
{
	margin-top: 25px;
	horizontal-align: center;
	vertical-align: bottom;
}

#EditingHeroBuildsNav
{
	background-color: citadelBuildsColorBackgroundGray;
	visibility: collapse;
}

.gEditingBuilds #EditingHeroBuildsNav
{
	visibility: visible;
}

#EditingHeroBuildsNav .HeroBuildsSubTitle
{
	vertical-align: center;
}

#BrowseHeroBuildsNav
{
	visibility: visible;
}

.gEditingBuilds #BrowseHeroBuildsNav
{
	visibility: collapse;
}

.HeroBuildsTitle
{
	font-size: 34px;
	font-weight: bold;
	horizontal-align: left;
	text-align: center;
	margin-bottom: 5px;
}

.HeroBuildsSubTitle
{
	margin-bottom: 15px;
	horizontal-align: left;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

#HeroBuildDescriptionTextEntry
{
	height: 250px;
	width: 600px;
}

#HeroBuildVersion
{
	margin-top: 10px;
}

.HeroBuildsDesc
{
	font-family: sans;
	font-size: 18px;
	font-weight: medium;
	text-align: left;
	margin-top: 8px;
	opacity: 0.5;
	padding-bottom: 10px;
}

#BuildCreatorPanel
{
	padding-top: 10px;
	padding-left: 10px;
	flow-children: right;
}

.HeroBuildCreator
{
	font-family: sans;
	font-size: 18px;
	font-weight: medium;
}

.SharePanel
{
	padding: 5px;
	flow-children: right;
}

#HeroBuildName
{
	margin-left: 2px;
	width: 100%;
	font-size: 18px;
	text-overflow: clip;
	white-space: nowrap;
}

#HeroBuildDescription
{
	margin-left: 2px;
	width: 100%;
	height: 220px;
	font-size: 18px;
	text-overflow: clip;
	white-space: normal;
	overflow: squish scroll;
}

.Checkbox
{
	width: 35px;
	height: 35px;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/getting_started/checklist_task_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: visible;
	vertical-align: center;
	wash-color: white;
}

.public_build_checked .Checkbox
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
	wash-color: none;
}

#PublicBuildLabel
{
	margin-top: 4px;
	font-weight: bold;
	font-size: 28px;
}

#CreateBuildButton
{
	vertical-align: top;
	horizontal-align: right;
	ignore-parent-flow: true;
}

#BrowseHeroBuildsPanel #HeroBuildDescription
{
	vertical-align: center;
	margin-left: 2px;
	width: 100%;
	height: 260px;
	font-size: 18px;
	text-overflow: clip;
	white-space: normal;
	overflow: squish scroll;
}

#BrowseHeroBuildsPanel
{
	visibility: collapse;
	flow-children: down;
}

.BrowseHeroBuildDescription
{
	border: 1px solid baseBorder;
	width: 352px;
	height: 36px;
	padding: 4px 7px 3px 7px;
	background-color: #00000050;
	font-size: 18px;
	font-family: sans;
	font-weight: normal;
	color: offWhite;
}

#SelectBuildButton
{
	font-weight: bold;
	font-size: 28px;
	color: offWhite;
	background-color: #ffffff30;
	padding: 10px;
	margin-top: 20px;
	horizontal-align: center;
}

#FavoriteBuildContainer,#SelectBuildContainer
{
	z-index: 12;
	horizontal-align: center;
}

.BuildControls
{
	vertical-align: bottom;
	horizontal-align: left;
	min-height: 60px;
	width: 100%;
	padding: 5px 10px;
	flow-children: right;
	background-color: #00000050;
}

#ManageBuildControls
{
	background-color: #00000030;
	padding: 5px 10px;
	visibility: collapse;
}

.gEditingBuilds #ManageBuildControls
{
	visibility: collapse;
}

#ManageBuildControls #EditPublishButtons
{
	flow-children: right;
	horizontal-align: left;
}

#ManageBuildControls #DeleteBuildButton
{
	horizontal-align: right;
}

.HeroBuildsExtraInfo
{
	flow-children: down;
	width: 100%;
	background-color: buildsDarkColor;
	border-radius: 3px;
}

.HeroBuildsExtraInfo #BuildInfo
{
	flow-children: down;
	padding: 10px;
}

.HeroBuildsExtraInfo .BuildName
{
	margin: 4px;
	font-weight: bold;
}

.HeroBuildsExtraInfo .BuildDescription
{
	margin: 4px;
	font-size: 16px;
	font-weight: medium;
	opacity: 0.8;
	max-height: 120px;
	overflow: squish scroll;
}

.NoLastUpdatedTime .HeroBuildsExtraInfo .LastUpdated
{
	visibility: collapse;
}

.HeroBuildsExtraInfo .AuthoringInfo
{
	flow-children: right;
}

.HeroBuildsExtraInfo .AuthoringInfo #AuthorAvatar
{
	width: 32px;
	height: 32px;
	vertical-align: center;
	margin: 3px;
	margin-right: 8px;
}

.HeroBuildsExtraInfo .AuthoringInfo Label
{
	vertical-align: center;
	font-weight: semi-bold;
	font-size: 16px;
}

#FavoriteBuildButton
{
	font-weight: bold;
	font-size: 28px;
	color: offWhite;
	background-color: #ffffff30;
	padding: 10px;
	margin-top: 20px;
	horizontal-align: center;
	opacity: 1;
	background-color: #00000030;
}

#FavoriteBuildButtonLabel
{
	color: ritualGreen;
	opacity: 1;
}

.selectedIcon
{
	width: 26px;
	height: 26px;
	wash-color: ritualGreen;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 10px;
}

#ManageBuildsContainer
{
	flow-children: right;
}

#SelectBuildContainer
{
	visibility: visible;
}

#FavoriteBuildContainer
{
	visibility: collapse;
}

.CanEditBuild #ManageBuildControls
{
	visibility: visible;
}

.CanCopyBuild #CopyBuildButton
{
	visibility: visible;
}

.CanIgnoreBuild #IgnoreBuildButton
{
	visibility: visible;
}

.CanDeleteBuild #DeleteBuildButton
{
	visibility: visible;
}

.CanPublishBuild #PublishBuildButton
{
	visibility: visible;
}

.IsFavoriteBuild #SelectBuildContainer
{
	visibility: collapse;
}

.IsFavoriteBuild #FavoriteBuildContainer
{
	visibility: visible;
}

#ExistingBuildSelector
{
	width: 470px;
	padding-bottom: 20px;
}

#HeroBuildSelector
{
	width: 100%;
	height: 560px;
}

.SelectionContainer
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	height: 40%;
}

#CustomBuild
{
	visibility: visible;
}

#DefaultBuild
{
	visibility: collapse;
}

.IsDefaultBuild #CustomBuild
{
	visibility: collapse;
}

.IsDefaultBuild #DefaultBuild
{
	visibility: visible;
}

