/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelOverlay
{
	height: 100%;
	width: 100%;
}

.StatusMessage
{
	flow-children: right;
	background-color: #111;
	z-index: 9999;
	horizontal-align: center;
	transform: translateY( -100% );
	transition-property: transform, horizontal-align;
	transition-duration: 1s;
	min-width: 300px;
	margin-top: 10px;
	border-radius: 5px;
	height: 0px;
}

.muted #MatchmakingAndGCStatusContainer
{
	border-radius: 5px 5px 0px 0px;
}

.gc_disconnected #MatchmakingAndGCStatusContainer
{
	background-color: #ff4e4e;
}

.AspectRatio16x10 #MatchmakingAndGCStatusContainer
{
	max-width: 200px;
}

.HoldingTab #MatchmakingAndGCStatusContainer
{
	visibility: collapse;
}

.in_matchmaking.isSpectator #MatchmakingAndGCStatusContainer,.gc_disconnected.isSpectator #MatchmakingAndGCStatusContainer,.connectedToGame.in_matchmaking #MatchmakingAndGCStatusContainer,.connecting_server #MatchmakingAndGCStatusContainer
{
	transform: translateY( 0px );
	height: fit-children;
}

.connecting_server #MatchmakingAndGCStatusContainer
{
	vertical-align: center;
	ui-scale: 240%;
	border-radius: 10px 10px 10px 10px;
}

.connectedToGame.in_matchmaking #MatchmakingAndGCStatusContainer,.connectedToGame.gc_disconnected #MatchmakingAndGCStatusContainer
{
	horizontal-align: right;
	margin-right: 10px;
	margin-top: 15px;
}

.gc_disconnected #MatchmakingAndGCStatusContainer .StatusIcon
{
	background-color: #ff4e4e;
}

.OutOfDateClient #ClientOutofDate
{
	transform: translateY( 0px );
	height: fit-children;
	background-color: #63636390;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #2A475E ), to( #1B2838 ) );
}

.OutOfDateClient #MatchmakingAndGCStatusContainer
{
	visibility: collapse;
}

.connectedToGame.OutOfDateClient #ClientOutofDate
{
	visibility: collapse;
}

#SteamIcon
{
	width: 30px;
	height: 30px;
	background-image: url("s2r://panorama/images/icons/icon_steam.vsvg");
	background-size: contain;
	wash-color: #000000;
	vertical-align: middle;
	horizontal-align: middle;
	background-repeat: no-repeat;
	opacity: 0.8;
	vertical-align: middle;
}

.OutOfDateClient .StatusIcon
{
	background-color: #1A9FFF;
	width: 50px;
}

.topStatusText
{
	horizontal-align: center;
	text-transform: uppercase;
}

#Messaging
{
	margin: 8px 10px;
	flow-children: down;
}

#StatusTitleText
{
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	horizontal-align: left;
	text-overflow: shrink;
	margin-top: 1px;
}

.AspectRatio16x10 #StatusTitleText
{
	font-size: 13px;
}

#StatusText
{
	font-size: 15px;
	color: #ffffff80;
	text-align: left;
	horizontal-align: left;
	text-overflow: shrink;
	max-height: 20px;
	font-weight: semi-bold;
}

.AspectRatio16x10 #StatusText
{
	font-size: 13px;
}

.TimeinQueue
{
	font-size: 16px;
	color: #111111ea;
	font-weight: bold;
	align: center bottom;
	margin-bottom: 2px;
	width: 100%;
	text-align: center;
	text-overflow: shrink;
	visibility: visible;
}

.gc_disconnected .TimeinQueue
{
	visibility: collapse;
}

.StatusIcon
{
	width: 30px;
	height: 100%;
	background-color: #999999;
	background-color: #FFEFD7;
}

#SearchingIcon
{
	width: 28px;
	height: 28px;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 2px;
	background-image: url("s2r://panorama/images/main_menu/spinner_png.vtex");
	background-size: contain;
	background-position: center top;
	animation-name: RotateIcon;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transition-property: opacity, pre-transform-rotate2d;
	transition-duration: 0.3s;
	wash-color: #000000;
}

.gc_disconnected #SearchingIcon
{
	visibility: collapse;
}

@keyframes 'RotateIcon'
{
	0%
	{
		pre-transform-rotate2d: 0deg;
	}
	
	100%
	{
		pre-transform-rotate2d: -360deg;
	}
	
}

#ErrorIcon
{
	width: 20px;
	height: 20px;
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/control_icons/error_png.vtex");
	background-size: contain;
	visibility: collapse;
}

.gc_disconnected #ErrorIcon
{
	visibility: visible;
}

#MutedPanel
{
	horizontal-align: left;
	flow-children: right;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 9999;
	width: 50px;
	height: 50px;
	margin: 10px;
	border-radius: 5px;
	visibility: collapse;
}

.GameIsMuted #MutedPanel
{
	visibility: visible;
}

.MutedIcon
{
	width: 30px;
	height: 30px;
	padding: 10px;
	background-image: url("s2r://panorama/images/icons/icon_sound_off.vsvg");
	background-size: contain;
	vertical-align: center;
	horizontal-align: center;
}

.GameMutedLabel
{
	font-size: 16px;
	vertical-align: middle;
	font-weight: bold;
	color: rgb(255, 223, 223);
	margin-bottom: 2px;
}

.subtext
{
	font-size: 14px;
	opacity: 0.7;
	font-weight: semi-bold;
	margin-left: 5px;
}

