/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelParty
{
	width: 100%;
	width: 450px;
	vertical-align: bottom;
	flow-children: down;
}

.InParty #InPartyGroup,.HasPartyInvites #InviteGroup
{
	visibility: visible;
}

.PartyInMM #PartyModeGroup,.PartyInMM #InviteButton
{
	visibility: collapse;
}

.HighSkillRangeAlert
{
	visibility: collapse;
	width: 35px;
	height: 35px;
	background-color: #FF6363;
	border-radius: 0px 0px 0px 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 17% 60%;
	opacity: 1;
	background-image: url("s2r://panorama/images/icons/icon_alert.vsvg");
	vertical-align: center;
	margin-right: 10px;
}

.HighSkillRange .HighSkillRangeAlert
{
	visibility: collapse;
}

#InviteGroup
{
	width: 100%;
	flow-children: down;
	visibility: collapse;
	margin-bottom: 30px;
}

#InPartyMMGroup
{
	width: 100%;
	margin-bottom: 10px;
	visibility: collapse;
}

.PartyInMM #InPartyMMGroup
{
	visibility: visible;
}

.SearchingGroup
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 10px;
}

#InPartyGroup
{
	width: 100%;
	flow-children: down;
	visibility: collapse;
}

#NotInPartyGroup
{
	width: 100%;
	flow-children: down;
}

#PartyCancelMMLabel
{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: black;
	color: white;
}

.IsLayoutSmallScreen #PartyCancelMMLabel
{
	font-size: 36px;
}

#PartyGroup
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	margin-top: 10px;
}

#MembersAndCode
{
	width: 100%;
	flow-children: left;
}

#MemberRow
{
	flow-children: left;
	width: 100%;
}

#MemberList
{
	flow-children: right;
	overflow: clip scroll;
}

#InviteButton
{
	width: 35px;
	vertical-align: middle;
	height: 35px;
	background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
	background-size: 50% 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: 2px solid #8b8b8b;
	visibility: collapse;
	border-radius: 50px;
	margin-right: 10px;
	opacity: 0.5;
}

.ShowInviteButton #InviteButton
{
	visibility: visible;
}

#InviteButton:hover
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B51 ), to( #5C9C68 ) );
	opacity: 1;
}

.DisableInvites #InviteButton
{
	visibility: collapse;
}

#PartyFooterGroup
{
	width: 100%;
	flow-children: down;
	margin-top: 20px;
	padding: 0px 20px 0px 20px;
	margin-bottom: 30px;
	visibility: collapse;
}

#PartyModeGroup
{
	width: 100%;
	flow-children: right;
	padding: 6px 10px;
	background-color: #000000ee;
	visibility: collapse;
}

.GameTypeLabel
{
	vertical-align: center;
	font-size: 16px;
	margin-right: 10px;
	text-transform: uppercase;
	font-family: CriteriaCF;
	color: #ffffff40;
}

.GameTypeSelection
{
	vertical-align: center;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: CriteriaCF;
	color: #ffffff90;
	color: brandGreen;
}

.GameTypeSelection:hover
{
	color: #ffffff;
}

.DiagonalArrow
{
	vertical-align: middle;
	margin-left: 5px;
	width: 12px;
	height: 12px;
	opacity: 1;
	margin-top: -1px;
	transition-property: margin-left, wash-color, transform, opacity;
	transition-duration: 0.3s;
}

#InviteHeaderGroup
{
	flow-children: right;
	width: 100%;
	padding-left: 10px;
	horizontal-align: center;
	background-color: #8588a011;
}

.InviteHeaderText
{
	text-transform: uppercase;
	color: white;
	padding-bottom: 8px;
	padding-left: 0px;
	background-color: none;
	opacity: 1;
	flow-children: right;
	font-size: 24px;
	color: #8588a0;
	margin: 0px;
	padding-top: 8px;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	margin-top: 1px;
}

.IsLayoutSmallScreen .InviteHeaderText
{
	font-size: 30px;
}

#InviteList
{
	width: 100%;
}

.InviteCount
{
	horizontal-align: left;
}

.InviteCount
{
	font-size: 28px;
	color: #fff;
	margin-left: 0px;
	margin-top: 1px;
	vertical-align: center;
	width: 58px;
	text-align: center;
	font-weight: bold;
	text-overflow: shrink;
}

.IsLayoutSmallScreen .InviteCount
{
	font-size: 32px;
}

.PartyInfoBlock
{
	flow-children: right;
}

.PartyInfoIcon
{
	width: 40px;
	height: 40px;
	margin: 5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#PartyCodeGroup
{
	width: fill-parent-flow( 1.0 );
	flow-children: right;
	vertical-align: center;
	visibility: collapse;
}

.PartyInfoBlock Label
{
	color: white;
	vertical-align: center;
	font-size: 30px;
	visibility: collapse;
}

#PartyInfoPlayers .PartyInfoIcon
{
	background-image: url("s2r://panorama/images/control_icons/profilebutton_png.vtex");
	background-color: green;
	visibility: collapse;
}

#PartyInfoSpectators .PartyInfoIcon
{
	background-image: url("s2r://panorama/images/control_icons/eye_png.vtex");
	background-color: blue;
	visibility: collapse;
}

#PartyInfoInvites .PartyInfoIcon
{
	background-image: url("s2r://panorama/images/control_icons/addfriend_png.vtex");
	background-color: aqua;
}

#PartyInfoReady .PartyInfoIcon
{
	background-image: url("s2r://panorama/images/control_icons/achievementsbutton_png.vtex");
	opacity: 0.2;
	visibility: collapse;
}

.AllReady #PartyInfoReady .PartyInfoIcon
{
	opacity: 1.0;
	background-color: green;
	visibility: collapse;
}

#PartyInfoSpectators
{
	visibility: collapse;
}

.HasSpectators #PartyInfoSpectators
{
	visibility: visible;
	visibility: collapse;
}

#MemberList CitadelPartyMember
{
	padding-right: 5px;
}

#MemberList .TeamGroup CitadelPartyMember
{
	margin-top: 0px;
	margin: 5px 0px 0px 0px;
}

#InviteList CitadelPartyInvite
{
	width: 100%;
	height: 60px;
	padding-left: 20px;
	margin-top: 5px;
}

.IsLayoutSmallScreen #MemberList CitadelPartyMember,.IsLayoutSmallScreen #InviteList CitadelPartyInvite
{
	width: 100%;
	height: 105px;
	padding-left: 10px;
	margin-top: 5px;
}

#PartyContextMenu
{
	width: 36px;
	height: 36px;
	margin: 2px;
	vertical-align: center;
	transition-property: opacity;
	transition-duration: .2s;
	opacity: .2;
	background-image: url("s2r://panorama/images/control_icons/icon_dropdown_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: #b8bcdd;
}

#PartyContextMenu Label
{
	visibility: visible;
}

.IsLayoutSmallScreen #PartyContextMenu
{
	width: 48px;
	height: 48px;
	margin: 4px;
}

.IsLayoutSmallScreen #PartyInfoInvites
{
	width: 50px;
	height: 50px;
}

#PartyContextMenu:hover
{
	opacity: 0.5;
}

#PartyContextMenu Label
{
	font-size: 24px;
	vertical-align: center;
	horizontal-align: center;
	color: #ffffffaa;
}

.IsLayoutSmallScreen #PartyContextMenu Label
{
	font-size: 27px;
}

.PartyButton
{
	horizontal-align: center;
	width: 100%;
	margin: 20px 20px 0px 20px;
	height: 60px;
	border-radius: 5px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from(#3c478599), to(#353c6b99) );
	brightness: 1.0;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.PartyButton Label
{
	font-size: 20px;
	horizontal-align: center;
	vertical-align: middle;
	color: #F4F4F4;
	font-weight: black;
	text-transform: uppercase;
}

.MatchButton
{
	horizontal-align: center;
	width: 100%;
	margin-top: 16px;
	min-height: 60px;
	min-width: 192px;
	min-height: 74px;
	padding: 5px 10px 5px 10px;
	transition-property: background-color, wash-color, brightness;
	transition-delay: 0.0s;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	background-image: url("s2r://panorama/images/control_icons/btn_find_match_psd.vtex");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	saturation: 0;
	wash-color: #8588a0;
	border-top: 4px solid #f8e0b622;
	border-right: 4px solid #7a370f33;
	border-bottom: 4px solid #62290bee;
	border-left: 4px solid #f8d25333;
}

.IsLayoutSmallScreen .MatchButton
{
	height: 100px;
}

.CanPartyMM #PartyMatchMaking,.CanPartyPrivate #PartyPrivateMatch,.CanPartyMMRanked #PartyMatchMakingRanked
{
	saturation: 1;
	wash-color: none;
}

.IsLayoutSmallScreen .PartyButton
{
	height: 76px;
}

.MatchButton Label
{
	font-size: 28px;
	vertical-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	padding-top: 3px;
	text-align: center;
	text-overflow: shrink;
	font-weight: bold;
	letter-spacing: 2px;
	color: #eeeeee;
	text-shadow: 0px 0px 0px 2.3 #000;
	transition-property: color;
	transition-delay: 0.0s;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.IsLayoutSmallScreen .MatchButton Label
{
	font-size: 30px;
}

.IsLayoutSmallScreen .PartyButton Label
{
	font-size: 30px;
}

.NoMatchReason
{
	margin-top: 4px;
	color: #dd4e35;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	horizontal-align: center;
	font-size: 20px;
	font-weight: bold;
}

.PartyButton:hover
{
	brightness: 1.4;
}

.IsLayoutSmallScreen .NoMatchReason
{
	font-size: 24px;
	margin-top: 12px;
}

.CanPartyMM #NoPartyMMReason,.CanPartyMMRanked #NoPartyMMRankedReason,.CanPartyPrivate #NoPartyPrivateReason
{
	visibility: collapse;
}

.CanPartyMM #PartyMatchMaking:hover,.CanPartyMMRanked #PartyMatchMakingRanked:hover,.CanPartyPrivate #PartyPrivateMatch:hover
{
	brightness: 1.3;
}

#PartyMatchMaking
{
	background-image: url("s2r://panorama/images/control_icons/btn_find_match_dis_psd.vtex");
}

#PartyPrivateMatch
{
	background-image: url("s2r://panorama/images/control_icons/btn_private_match_dis_psd.vtex");
}

.CanPartyMM #PartyMatchMaking
{
	background-image: url("s2r://panorama/images/control_icons/btn_find_match_psd.vtex");
}

.CanPartyMMRanked #PartyMatchMakingRanked
{
	background-image: url("s2r://panorama/images/control_icons/btn_find_match_psd.vtex");
}

.CanPartyPrivate #PartyPrivateMatch
{
	background-image: url("s2r://panorama/images/control_icons/btn_private_match_psd.vtex");
}

.CanPartyMM #PartyMatchMaking,.CanPartyMMRanked #PartyMatchMakingRanked,.CanPartyPrivate #PartyPrivateMatch
{
	border-top: 4px solid #f8e0b6aa;
	border-right: 4px solid #7a370faa;
	border-bottom: 4px solid #62290baa;
	border-left: 4px solid #f8d253cc;
}

#PrivateBotSettings
{
	width: 100%;
	margin: 8px 0px 0px 0px;
	horizontal-align: center;
	transition-property: background-color;
	transition-duration: .2s;
	visibility: collapse;
}

.HasBotSlots #PrivateBotSettings
{
	visibility: visible;
}

.IsLayoutSmallScreen #PrivateBotSettings
{
	height: 72px;
}

.IsLayoutSmallScreen #PrivateBotSettings Label
{
	font-size: 30px;
}

#PrivateBotSettings:hover Label
{
	color: #ffffffaa;
}

#DisconnectedFromGCGroup
{
	width: 100%;
	height: 130px;
	visibility: visible;
}

.ConnectedToGC #DisconnectedFromGCGroup
{
	visibility: collapse;
}

#PartyNotConnectedToGC
{
	font-size: 20px;
	color: gray;
	horizontal-align: center;
	margin-top: 30px;
	text-transform: uppercase;
	text-align: center;
}

#ConnectedToGCGroup
{
	width: 100%;
	height: fit-children;
	visibility: collapse;
	flow-children: down;
}

.ConnectedToGC #ConnectedToGCGroup
{
	visibility: visible;
}

#PlayOptionDivider
{
	text-align: center;
	horizontal-align: center;
	color: #8588a0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	margin-top: 20px;
	width: 100%;
}

.IsLayoutSmallScreen #PlayOptionDivider
{
	font-size: 32px;
}

.TeamGroup
{
	width: 100%;
	height: fit-children;
	background-color: black;
	border: 2px solid #333;
	margin-bottom: 5px;
	flow-children: down;
}

.TeamHeader
{
	width: 100%;
	height: 85px;
	background-color: #444;
	background-size: 110% 100%;
	flow-children: right;
}

.IsLayoutSmallScreen .TeamHeader
{
	height: 95px;
}

.HasPlayedTogether .TeamHeader
{
	visibility: visible;
}

.TeamHeaderLeft
{
	width: 75px;
	height: 80px;
}

.TeamHeaderRight
{
	width: 100%;
	height: 100px;
	flow-children: down;
}

#TeamRankIcon
{
	width: 100%;
	height: 100%;
}

.IsLayoutSmallScreen .TeamHeaderLeft
{
	margin-left: 20px;
}

.IsLayoutSmallScreen .TeamHeaderRight
{
	margin-left: 15px;
}

.TeamTitleBar
{
	width: 100%;
	height: 45px;
}

.IsLayoutSmallScreen .TeamTitleBar
{
	height: 50px;
}

.HasPlayedTogether .EditTeamName
{
	visibility: visible;
}

.CanRename.NoTeamName .EditTeamName
{
	wash-color: #abadc3;
}

.IsLayoutSmallScreen .EditTeamName
{
	width: 32px;
	height: 32px;
	margin-top: 10px;
	margin-right: 20px;
}

.EditTeamName:hover
{
	brightness: 1.2;
}

.TeamName
{
	width: 275px;
	color: gradient(linear, 0% 0%, 0% 100%, from( #aaaaaa ), to(#ffffff));
	font-size: 28px;
	font-weight: bold;
	vertical-align: bottom;
	text-overflow: shrink;
}

.IsLayoutSmallScreen .TeamName
{
	font-size: 32px;
}

#TeamRankLevel
{
	font-size: 22px;
	font-weight: normal;
	vertical-align: center;
	color: gradient(linear, 0% 0%, 0% 100%, from( #ecb00e ), to(#f7e062));
}

.NoTeamName #TeamRankLevel
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #aaa ), to(#ddd));
}

.TeamNameNotSet
{
	width: 100%;
	color: gray;
	font-size: 28px;
	text-overflow: shrink;
	visibility: collapse;
	vertical-align: center;
}

.NoTeamName .TeamNameNotSet
{
	visibility: visible;
}

.NoTeamName .TeamName
{
	visibility: collapse;
}

.PlayerInTeam .TeamNameNotSet
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #aaa ), to(#ddd));
	font-weight: bold;
	vertical-align: bottom;
}

.PlayerInTeam .TeamName
{
	color: gradient(linear, 0% 0%, 0% 100%, from( #ecb00e ), to(#f7e062));
}

.TeamStats
{
	width: 100%;
	flow-children: right;
}

.TeamStatLabel
{
	font-size: 21px;
	font-weight: bold;
	color: gray;
	margin-right: 10px;
	vertical-align: center;
	margin-left: 15px;
	visibility: collapse;
}

.TeamStatValue
{
	color: white;
	font-size: 21px;
	font-weight: bold;
	vertical-align: center;
	visibility: collapse;
}

.TeamGroup
{
	width: 100%;
	flow-children: down;
}

.PlayGroup
{
	width: 100%;
	flow-children: right;
}

.NotAllPartyReady
{
	margin: 20px 20px;
}

.NotAllPartyReady Label
{
	color: red;
	font-size: 25px;
}

.ReadyUpButton,.EnterMMButton,.NotAllPartyReady
{
	visibility: collapse;
}

.NeedReadyUp .ReadyUpButton,.NotAllReady .NotAllPartyReady,.CanFindMatch .EnterMMButton
{
	visibility: visible;
}

.ButtonCol
{
	flow-children: right;
	width: 100%;
	flow-children: down;
}

.InParty .ButtonCol
{
	flow-children: right;
}

#JoinParty
{
	border-radius: 0px 0px 0px 5px;
}

#CreateParty
{
	border-radius: 0px 0px 5px 0px;
}

#Social
{
	flow-children: right;
	horizontal-align: right;
	margin-top: 5px;
}

.connectedToGame #FriendListButton
{
	visibility: collapse;
}

#CreatePartyButton
{
	visibility: visible;
}

#PartyOptions,#LeavePartyButton,#InviteFriendsButton
{
	visibility: collapse;
}

.InParty #CreatePartyButton
{
	visibility: collapse;
}

.InParty #LeavePartyButton
{
	visibility: visible;
}

#PartyOptions
{
	visibility: collapse;
}

.FriendsIcon
{
	width: 16px;
	height: 16px;
	wash-color: offBlack;
	vertical-align: middle;
	opacity: 0.9;
	margin-right: 4px;
	background-image: url("s2r://panorama/images/icons/icon_friends.vsvg");
	background-size: contain;
}

.PartyOptionsIcon
{
	width: 16px;
	height: 16px;
	wash-color: silvered;
	vertical-align: middle;
	opacity: 0.6;
	background-image: url("s2r://panorama/images/icons/icon_gear.vsvg");
	background-size: contain;
}

.PartyInMM #LeaveParty
{
	visibility: collapse;
}

.NotInPartyButton Label
{
	font-size: 16px;
	color: #c4c4c4;
	vertical-align: center;
	horizontal-align: center;
	font-weight: semi-bold;
}

Label.SocialTitle
{
	font-weight: bold;
	color: offWhite;
	opacity: 0.6;
	text-transform: uppercase;
}

Label.FriendsOnline
{
	font-weight: normal;
	font-size: 15px;
	margin-left: 5px;
	font-weight: medium;
	visibility: visible;
}

Label.FriendsOnline .OnlineNumber
{
	color: offWhite;
	font-weight: bold;
}

Label.FriendsPlaying
{
	font-weight: semi-bold;
	font-size: 14px;
	margin-bottom: 3px;
	margin-left: 0px;
	border-radius: 3px;
	color: brandGreen;
	ignore-parent-flow: true;
	horizontal-align: right;
	visibility: collapse;
}

.HasFriendsInGame Label.FriendsPlaying
{
	visibility: visible;
}

#Social .DiagonalArrow
{
	opacity: 0.8;
	ignore-parent-flow: true;
	horizontal-align: right;
	margin-right: 15px;
	margin-top: 1px;
	opacity: 0;
}

.NotInPartyButton:hover Label.FriendsPlaying
{
	color: offBlack;
}

.PlayerInfo
{
	width: 100%;
	height: 60px;
	flow-children: left;
	margin-top: 10px;
}

.InParty .PlayerInfo
{
	visibility: collapse;
}

.PlayerInfo:hover
{
	brightness: 1.4;
}

Label.viewProfile
{
	vertical-align: middle;
	font-size: 16px;
	font-weight: semi-bold;
	horizontal-align: right;
	margin-right: 15px;
	text-decoration: underline;
	opacity: 0.3;
}

#SelfImage
{
	width: 50px;
	height: 50px;
	vertical-align: center;
	border-radius: 50px;
}

#SelfName
{
	vertical-align: center;
	font-weight: bold;
	text-align: right;
	font-family: sans;
	font-size: 26px;
	margin-right: 20px;
	width: 200px;
	text-overflow: shrink;
}

#SelfName Label
{
	text-align: right;
	horizontal-align: right;
	text-overflow: shrink;
	width: 100%;
	font-size: 22px;
}

#NameAndLink
{
	flow-children: down;
	vertical-align: middle;
}

#SearchingIcon
{
	width: 25px;
	height: 25px;
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/control_icons/spinner_png.vtex");
	background-size: contain;
	animation-name: RotateIcon;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transition-property: opacity, pre-transform-rotate2d;
	transition-duration: 0.3s;
	margin-right: 20px;
}

@keyframes 'RotateIcon'
{
	0%
	{
		pre-transform-rotate2d: 0deg;
	}
	
	100%
	{
		pre-transform-rotate2d: 360deg;
	}
	
}

#JoinParty,#CreateParty
{
	visibility: collapse;
}

.CanCreateParty #JoinParty,.CanCreateParty #CreateParty
{
	visibility: visible;
}

