/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHudModBarGraph
{
	flow-children: down;
	width: 60px;
}

.modsProgressBar
{
	width: 100%;
	height: 6px;
	margin-top: 1px;
	margin-bottom: 1px;
}

CitadelHudHeroShop .modsProgressBar
{
	height: 9px;
	border-radius: 50px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.ProgressBarRight
{
	background-color: black;
}

CitadelScoreboardMods .ProgressBarRight
{
	background-color: #333333;
}

#WeaponProgressBar .ProgressBarLeft
{
	background-color: courageBrightColor;
}

#ArmorProgressBar .ProgressBarLeft
{
	background-color: fortitudeBrightColor;
}

#TechProgressBar .ProgressBarLeft
{
	background-color: spiritBrightColor;
}

.weaponStats #ArmorProgressBar,.weaponStats #TechProgressBar,.armorStats #WeaponProgressBar,.armorStats #TechProgressBar,.spiritStats #WeaponProgressBar,.spiritStats #ArmorProgressBar
{
	visibility: collapse;
}

