/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

AbilityPropertyPanel
{
	font-family: sans;
	margin-right: 2px;
	margin-left: 2px;
}

.BaseValue
{
	color: #ffffff40;
	text-decoration: line-through;
	font-weight: semi-bold;
	margin-right: 5px;
	font-size: 20px;
}

.CurrentValue
{
	font-weight: bold;
	color: offWhite;
	font-size: 20px;
}

.IsStatusEffect .CurrentValue
{
	font-size: 17px;
	margin-right: 5px;
}

.PostBonusValue
{
	color: red;
}

.StatusEffectType
{
	font-weight: bold;
	opacity: 1;
	font-size: 20px;
}

.prop_bullet_damage .ImportantStatType
{
	color: courageBrightColor;
	font-weight: semi-bold;
}

.prop_tech_damage .ImportantStatType
{
	color: spiritLightColor;
	font-weight: semi-bold;
}

.prop_healing .ImportantStatType
{
	color: armorColor;
	font-weight: semi-bold;
}

.gDetailView .DefaultStateVisible,.gScoreboardOpen .DefaultStateVisible,.AltStateVisible,.HeaderContainer .AbilityPropertyName
{
	visibility: collapse;
}

.gDetailView .AltStateVisible
{
	visibility: visible;
}

.CurrentValueSameAsBase .BaseValue,.gDetailView .CurrentValueSameAsBase .BaseValue,.gScoreboardOpen .CurrentValueSameAsBase .BaseValue
{
	visibility: collapse;
}

#AbilityPropertyIcon,#StatusEffectIcon
{
	height: 20px;
	width: 20px;
	background-size: 100% 100%;
	vertical-align: center;
	margin-right: 4px;
	opacity: 0.3;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.IsStatusEffect .AbilityPropertyImageAndValues,.StatusEffectLabel,.IsStatusEffect.IsShowingStatusEffectValue .StatusEffectLabel,.StatusEffectContainer,.IsStatusEffect .AbilityPropertyName,.IsStatusEffect .StatusEffectContainer .BaseValue,.IsStatusEffect .StatusEffectContainer .CurrentValue,.gDetailView .CurrentValueSameAsBase.IsStatusEffect.IsShowingStatusEffectValue .StatusEffectContainer .BaseValue,.gScoreboardOpen .CurrentValueSameAsBase.IsStatusEffect.IsShowingStatusEffectValue .StatusEffectContainer .BaseValue,.StatusEffectPropertyName
{
	visibility: collapse;
}

.IsStatusEffect .StatusEffectContainer,.IsStatusEffect .StatusEffectLabel,.gDetailView .IsStatusEffect.IsShowingStatusEffectValue .StatusEffectContainer .BaseValue,.gScoreboardOpen .IsStatusEffect.IsShowingStatusEffectValue .StatusEffectContainer .BaseValue,.IsStatusEffect.IsShowingStatusEffectValue .StatusEffectContainer .CurrentValue,.IsStatusEffect.IsShowingStatusEffectValue .StatusEffectPropertyName
{
	visibility: visible;
}

.StatusEffectContainer
{
	horizontal-align: center;
	flow-children: down;
}

.AbilityPropertyContainer
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-top: 12px;
	background-color: #00000070;
	width: 100%;
	height: 100%;
}

#PromotedPropertiesContainer .HasScalingStat .AbilityPropertyContainer
{
	border: 2px solid spiritColor&40;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #00000080 ), to( spiritDarkColor&50 ) );
}

.HeaderContainer .AbilityPropertyContainer
{
	height: 35px;
	padding: 2px 7px;
	width: fit-children;
	margin-top: 10px;
}

.HeaderRight .AbilityPropertyContainer
{
	margin-top: 0px;
}

.HeaderContainer .HasScalingStat .AbilityPropertyContainer.gDetailView,.HeaderContainer .HasScalingStat .AbilityPropertyContainer.gScoreboardOpen
{
	padding-right: 40px;
}

#BasicPropertiesContainer .AbilityPropertyContainer
{
	margin-top: 0px;
	background-color: none;
}

.AbilityPropertyImageAndValues
{
	horizontal-align: center;
}

.PropertyImageAndNameContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
}

.AbilityPropertyName,.StatusEffectPropertyName
{
	font-weight: semi-bold;
	font-size: 17px;
	opacity: 0.8;
	text-align: center;
	horizontal-align: center;
	text-overflow: shrink;
	max-height: 20px;
}

.StatusEffectLabel
{
	font-weight: semi-bold;
	font-size: 17px;
	font-style: italic;
	opacity: 0.5;
}

CitadelStatScalingLabel
{
	vertical-align: top;
	horizontal-align: right;
	visibility: collapse;
}

.HasSectionText CitadelStatScalingLabel
{
	margin-top: 15px;
}

.HeaderContainer CitadelStatScalingLabel
{
	margin-top: 5px;
}

.gDetailView .HeaderContainer CitadelStatScalingLabel,.gScoreboardOpen .HeaderContainer CitadelStatScalingLabel
{
	margin-top: 2px;
}

.HasScalingStat CitadelStatScalingLabel
{
	visibility: visible;
}

.HeaderContainer .AbilityPropertyContainer
{
	background-color: #ffffff05;
}

.HeaderContainer #AbilityCooldownBetweenCharge .AbilityPropertyContainer
{
	background-color: #ffffff03;
}

.HeaderContainer .CurrentValue,.HeaderContainer .BaseValue
{
	font-size: 17px;
}

#AbilityProperty_AbilityCooldownBetweenCharge .CurrentValue
{
	font-size: 15px;
	vertical-align: middle;
}

#AbilityProperty_AbilityCooldownBetweenCharge #AbilityPropertyIcon
{
	width: 16px;
	height: 16px;
}

#BasicPropertiesContainer AbilityPropertyPanel
{
	padding: 0px;
	height: 35px;
}

#BasicPropertiesContainer .PropertyImageAndNameContainer
{
	flow-children: right;
	horizontal-align: left;
	padding: 0px 10px;
	background-color: none;
	margin-top: 0px;
}

#BasicPropertiesContainer Label
{
	font-size: 17px;
}

#BasicPropertiesContainer #AbilityPropertyIcon
{
	width: 20px;
	height: 20px;
	opacity: 0.3;
	vertical-align: middle;
}

#BasicPropertiesContainer .AbilityPropertyImageAndValues
{
	margin-right: 5px;
}

#BasicPropertiesContainer .AbilityPropertyName
{
	font-weight: normal ;
	vertical-align: center;
}

.SectionText
{
	visibility: collapse;
	text-transform: uppercase;
	color: #909090;
	font-weight: bold;
	font-size: 14px;
	margin-top: 8px;
}

.HasSectionText .SectionText
{
	visibility: visible;
}

.HasSectionText .AbilityPropertyContainer
{
	height: 70%;
}

