/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

.ability_button_hint
{
	flow-children: down;
}

.buttonContainer
{
	flow-children: down;
	visibility: collapse;
	vertical-align: center;
	padding: 0px 10px;
	min-height: 50px;
	border-radius: 2px;
}

.buttonContainer.active
{
	visibility: visible;
}

.buttonRow
{
	flow-children: right;
}

#context_label
{
	visibility: collapse;
}

.show_context_label #context_label
{
	visibility: visible;
}

.action_label
{
	font-size: 18px;
	color: offWhite;
	font-weight: bold;
	font-family: sans;
	vertical-align: center;
	text-shadow: 1px 1px 5px #00000090;
}

#button_2_label
{
	visibility: collapse;
}

.two_buttons #button_2_label,.two_button_combo #button_2_label
{
	visibility: visible;
}

.button_label
{
	background-color: rgba(240, 233, 231, 0.1);
	color: offWhite;
	padding: 5px 10px;
	margin: 2px;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	margin-right: 10px;
}

.button_label Label
{
	horizontal-align: center;
	vertical-align: center;
}

#slash,#plus
{
	visibility: collapse;
	margin: 2px;
}

.two_buttons #slash
{
	visibility: visible;
}

.two_button_combo #plus
{
	visibility: visible;
}

.InlineGlyph
{
	width: 25px;
	height: 25px;
	opacity: 1;
	vertical-align: center;
}

#ability_image
{
	width: 0px;
	height: 0px;
}

#ability_image.has_image
{
	width: 40px;
	height: 40px;
	horizontal-align: center;
}

.citadel_ability_zipline_boost #ability_image
{
	width: 30px;
	height: 30px;
	background-image: url("s2r://panorama/images/upgrades/mods_utility/zipline_mastery_psd.vtex");
	background-size: contain;
	margin-right: 5px;
	wash-color: offWhite;
	horizontal-align: left;
}

.activeNotice
{
	margin-left: 40px;
	color: white;
	font-weight: bold;
	font-style: italic;
	visibility: collapse;
}

.cooldownNotice
{
	margin-left: 40px;
	color: #fc6a6a;
	font-weight: bold;
	font-style: italic;
	visibility: collapse;
}

.on_cooldown:not(.in_use) .cooldownNotice
{
	visibility: visible;
}

.on_cooldown .action_label .AbilityName
{
	color: offWhite&70;
}

.on_cooldown:not(.in_use) #ability_image
{
	opacity: 0.5;
}

.action_label .Countdown
{
	opacity: 1;
}

.in_use .activeNotice
{
	visibility: visible;
}

