/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelWaitingForPlayersStatus.StatusNotification
{
	flow-children: down;
}

CitadelWaitingForPlayersStatus.StatusNotification .StatusMain
{
	flow-children: right;
}

.IconContainer
{
	width: 64px;
	height: 64px;
	wash-color: offWhite;
	opacity: 0.3;
	background-image: url("s2r://panorama/images/main_menu/deadlock_logo_outer.vsvg");
	background-texture-size: 64px 64px;
	background-size: 64px 64px;
	animation-name: RotateOuter;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.IconContainer .Icon
{
	width: 100%;
	height: 100%;
	wash-color: white;
	background-image: url("s2r://panorama/images/main_menu/deadlock_logo_inner.vsvg");
	background-texture-size: 64px 64px;
	background-size: 64px 64px;
	animation-name: RotateInner;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.Details
{
	margin-left: 12px;
	padding: 0px;
	vertical-align: middle;
}

.Details .Title
{
	text-transform: uppercase;
	font-size: 28px;
	font-family: block;
	opacity: 0.3;
}

.Details .Desc
{
	font-size: 16px;
	font-weight: semi-bold;
	font-family: block;
	text-transform: uppercase;
	opacity: 0.3;
}

.Timeout
{
	width: 64px;
	text-align: center;
	font-family: sansMono;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.3;
}

