/* Prettified by Source 2 Viewer 11.0.0.0 - https://valveresourceformat.github.io */

@define brandGreen: #C4FF47;
@define colorCommonOffWhite: rgb(243, 240, 231);
@define colorCommonOffWhiteA35: rgba(243, 240, 231, 0.35);
@define colorCommonDarkGray: #2e2c27;
@define colorCommonDarkestGray: #1a1a1a;
@define colorEnemy: #FF410D;
@define colorModsShop: #FFDB79;
@define colorGold: #FFED79;
@define colorUpgrades: #00FFFF;
@define colorTeam1: #E7B659;
@define colorTeam2: #5B79E6;
@define baseText: #FFEFD7;
@define baseBorder: #444444ff;
@define selectedTextBackgroundColor: #66666633;
@define goldColor: #FFED79;
@define blueAPTextColor: #80EEFF;
@define brandGreen: #C4FF47;
@define ritualGreen: #65951D;
@define ritualGreenLight: #7CBC1D;
@define offWhite: #FFEFD7;
@define offBlack: #10130D;
@define soulColor: #70F8C1;
@define shardColor: #99FFD6;
@define team1Color: #BF9A53;
@define team1ColorBright: #FBDCA0;
@define team1ColorDark: #7B6A26;
@define team1ColorDarker: #534716;
@define team2Color: #5B79E6;
@define team2ColorBright: #BDCBFF;
@define team2ColorDark: #4156A0;
@define team2ColorDarker: #2D3C70;
@define courageLightColor: #FFD18D;
@define courageBrightColor: #EC9719;
@define courageColor: #9D620B;
@define courageDarkColor: #7F540E;
@define courageDarkerColor: #302306;
@define fortitudeLightColor: #D3FC96;
@define fortitudeBrightColor: #7BBA1D;
@define fortitudeColor: #649717;
@define fortitudeDarkColor: #4C7113;
@define fortitudeDarkerColor: #1F3400;
@define spiritLightColor: #E7C8FF;
@define spiritBrightColor: #CE90FF;
@define spiritColor: #8A55B3;
@define spiritDarkColor: #613484;
@define spiritDarkerColor: #362147;
@define weaponColor: #E58A00;
@define weaponColorFaded: #FFA82622;
@define armorColor: #00FF99;
@define armorColorFaded: #00FF9922;
@define techColor: #00DDFF;
@define techColorFaded: #245359;
@define favColor: #FFDB4C;
@define weaponModsColor: RGB(229, 138, 0);
@define armorModsColor: RGB(0, 178, 107);
@define techModsColor: RGB(0, 155, 178);
@define defaultBGColor0: #21201C;
@define defaultBGColor1: #2E2C27;
@define defaultBGColor2: #3B3832;
@define defaultBGColor3: #47443D;
@define defaultBGColor4: #545047;
@define weaponBGColor0: #402600;
@define weaponBGColor1: #4D2E00;
@define weaponBGColor2: #663D00;
@define weaponBGColor3: #804C00;
@define weaponBGColor4: #8C5400;
@define armorBGColor0: #1A3329;
@define armorBGColor1: #204033;
@define armorBGColor2: #264C3D;
@define armorBGColor3: #346651;
@define armorBGColor4: #3A735C;
@define techBGColor0: #153033;
@define techBGColor1: #1F474C;
@define techBGColor2: #245359;
@define techBGColor3: #2E6A73;
@define techBGColor4: #337680;
@define favBGColor1: #4D3800;
@define favBGColor3: #664A00;
@define favBGColor4: #735400;
@define laneYellowColor: #F9D506;
@define laneBlueColor: #437CDC;
@define lanePurpleColor: #C241A8;
@define laneGreenColor: #309746;
