/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelAbilityDetailsPanel
{
	width: 560px;
	background-color: #000;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 12px 1px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
	flow-children: down;
	border-radius: 8px;
}

CitadelTooltipAbilityDetails.TooltipVisible
{
	transition-duration: 0.1s;
	opacity: 1;
}

AbilityDetailsPanel
{
	width: 100%;
	border-radius: 8px 8px 0px 0px;
}

.UpgradesContainer
{
	background-color: spiritDarkerColor&aa;
	width: 100%;
}

#BottomHeader
{
	width: 100%;
	padding-top: 20px;
	padding-left: 24px;
	padding-right: 24px;
	vertical-align: center;
	font-weight: semi-bold;
	color: offWhite;
	visibility: collapse;
}

CitadelAbilityUpgradeList
{
	padding: 24px;
}

