/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define itemDraftAppearSpirit: "UI.ItemDraft.Appear.Spirit";
@define itemDraftAppearWeapon: "UI.ItemDraft.Appear.Weapon";
@define itemDraftAppearVitality: "UI.ItemDraft.Appear.Vitality";
@define itemDraftAppearRare: "UI.ItemDraft.Appear.Rare";
@define itemDraftAppearEnhanced: "UI.ItemDraft.Appear.Enhanced";
@define itemDraftAppearLegendary: "UI.ItemDraft.Appear.Legendary";
@define DraftOptionRevealDuration: 0.4s;
@define DraftOptionInitialDelay: 0.2s;
@define DraftOptionTimeBetweenOptionsAppearing: 0.4s;
@define DraftSelectedClassDuration: 0.8s;
@define DraftSelectedDuration: 0.5s;
@define LogoHoldTime: 3;
@define SpinTime: .4;
@define SpinnerMaxSpeed: 700;
@define SpinnerAcceleration: 3000;
@define SpinnerDeceleration: 2200;
CitadelItemDraftPanel
{
	background-color: #15002Caa;
	transition-property: opacity;
	transition-duration: 1s;
	overflow: noclip;
}

CitadelItemDraftPanel.ShowLogo
{
	animation-name: wheelReveal;
	animation-duration: 0.2s;
}

CitadelItemDraftPanel.Waiting,CitadelItemDraftPanel.Finish
{
	opacity: 0;
}

#Blur
{
	world-blur: ingameHudBlur;
	opacity: 1;
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 1s;
}

.Waiting #Blur,.ShowLogo #Blur
{
	opacity: 0;
}

#DraftPanelContents
{
	width: 100%;
	height: 100%;
	max-width: 1800px;
	horizontal-align: center;
	ignore-parent-flow: true;
}

#WheelBackground
{
	width: 100%;
	height: 100%;
	width: 3500px;
	height: 3500px;
	pre-transform-scale2d: 1;
	transform: translateY(380px);
	horizontal-align: center;
	vertical-align: center;
	ignore-parent-flow: true;
	opacity: 1;
	opacity-brush: gradient( linear, 0% 20%, 0% 60%, from( #ffffff ), to( #ffffff00 ) );
	transition-property: pre-transform-scale2d;
	transition-duration: 0.3s;
}

#draft_inner_wheel
{
	background-image: url("s2r://panorama/images/hud/brawl/brawl_sigil_inner_psd.vtex");
	opacity: 1;
	background-repeat: no-repeat;
}

#draft_inner_wheel_blur
{
	background-image: url("s2r://panorama/images/hud/brawl/brawl_sigil_inner_blurred_psd.vtex");
	background-repeat: no-repeat;
}

.inner_wheel
{
	background-size: contain;
	background-position: center;
	horizontal-align: center;
	ignore-parent-flow: true;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	vertical-align: center;
	ignore-parent-flow: true;
}

.ShowLogo .inner_wheel
{
	opacity: 0.1;
	animation-name: outerAmbientLoop;
	animation-duration: 100s;
	animation-iteration-count: infinite;
}

#draft_outer_wheel
{
	background-image: url("s2r://panorama/images/hud/brawl/brawl_sigil_outer_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	horizontal-align: center;
	ignore-parent-flow: true;
	opacity: 0.1;
	width: 100%;
	height: 100%;
	vertical-align: center;
	ignore-parent-flow: true;
	animation-name: outerAmbientLoop;
	animation-duration: 400s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}

.ShowLogo #draft_outer_wheel
{
	animation-duration: 200s;
}

@keyframes 'outerAmbientLoop'
{
	0%
	{
		pre-transform-rotate2d: 0deg;
	}
	
	100%
	{
		pre-transform-rotate2d: 360deg;
	}
	
}

#draft_center_wheel
{
	background-image: url("s2r://panorama/images/hud/brawl/brawl_sigil_center_psd.vtex");
	background-size: contain;
	background-position: center;
	horizontal-align: center;
	ignore-parent-flow: true;
	opacity: 0.02;
	width: 100%;
	height: 100%;
	vertical-align: center;
	ignore-parent-flow: true;
}

#OptionsContainer
{
	horizontal-align: center;
	width: 1400px;
	height: 850px;
	padding: 80px 0px;
	vertical-align: bottom;
	margin-bottom: 82px;
}

.NoDraftsAvailable #OptionsContainer
{
	visibility:collapse;
}

.DraftOption
{
	overflow: noclip;
	opacity-mask-threshold: 100% 20%;
	opacity: 1;
	opacity-mask: url("s2r://panorama/images/hud/brawl/rings/ring_reveal_mask_psd.vtex");
	opacity-mask-threshold: 0% 20%;
	transition-property: opacity-mask, brighness, pre-transform-scale2d, transform;
	transition-duration: 0.1s;
}

.DraftOption:hover
{
	brightness: 1.5;
	pre-transform-scale2d: 1.05;
	transform: rotateZ(16deg);
}

.DraftOption.isWeapon:hover
{
	transform: rotateZ(-6deg);
}

.DraftOption.isArmor:hover
{
	transform: rotateZ(3deg);
}

.DraftOption.isTech:hover
{
	transform: rotateZ(6deg);
}

.DraftOption:hover #Rings
{
	brightness: 2;
	pre-transform-scale2d: 1.05;
}

.hidden.DraftOption
{
	visibility: collapse;
	opacity-mask-threshold: 100% 20%;
}

.dismiss.DraftOption
{
	opacity: 0.0;
	opacity-mask-threshold: 100% 20%;
}

.concealed.DraftOption
{
	opacity-mask-threshold: 100% 20%;
	transition-property: opacity;
	transition-duration: .2s;
}

.reveal.DraftOption
{
	opacity: 1.0;
	animation-name: itemReveal;
	animation-duration: DraftOptionRevealDuration;
	animation-iteration-count: 1;
	opacity-mask-threshold: 0% 20%;
}

.reveal.DraftOption.isWeapon
{
	sound: itemDraftAppearWeapon;
}

.reveal.DraftOption.isArmor
{
	sound: itemDraftAppearVitality;
}

.reveal.DraftOption.isTech
{
	sound: itemDraftAppearSpirit;
}

.selected.DraftOption
{
	animation-name: itemSelect;
	animation-duration: DraftSelectedClassDuration;
	animation-iteration-count: 1;
}

.reveal.DraftOption.isLegendary.isWeapon,.reveal.DraftOption.isLegendary.isArmor,.reveal.DraftOption.isLegendary.isTech
{
	sound: itemDraftAppearLegendary;
	animation-name: itemReveal_fancy;
}

.reveal.DraftOption.isRare.isWeapon,.reveal.DraftOption.isRare.isArmor,.reveal.DraftOption.isRare.isTech
{
	sound: itemDraftAppearRare;
	animation-name: itemReveal_fancy;
}

.reveal.DraftOption.isEnhanced.isWeapon,.reveal.DraftOption.isEnhanced.isArmor,.reveal.DraftOption.isEnhanced.isTech
{
	sound: itemDraftAppearEnhanced;
	animation-name: itemReveal_fancy;
}

@keyframes 'itemReveal'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 0.5;
		opacity-mask-threshold: 100% 20%;
		opacity-mask: url("s2r://panorama/images/hud/brawl/rings/ring_reveal_mask_psd.vtex");
	}
	
	40%
	{
		opacity: 1;
		transform: rotateZ(0deg);
		pre-transform-scale2d: 1.1;
	}
	
	60%
	{
		opacity: 1;
		transform: rotateZ(0deg);
		pre-transform-scale2d: 1.05;
		opacity-mask-threshold: 0% 20%;
		opacity-mask: url("s2r://panorama/images/hud/brawl/rings/ring_reveal_mask_psd.vtex");
	}
	
	100%
	{
		opacity: 1;
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'itemReveal_fancy'
{
	0%
	{
		opacity: 1;
		pre-transform-scale2d: 0.5;
		opacity-mask-threshold: 100% 20%;
		opacity-mask: url("s2r://panorama/images/hud/brawl/rings/ring_reveal_mask_psd.vtex");
	}
	
	40%
	{
		opacity: 1;
		transform: rotateZ(0deg);
		pre-transform-scale2d: 1;
		pre-transform-scale2d: 1.5;
	}
	
	60%
	{
		opacity: 1;
		transform: rotateZ(10deg);
		pre-transform-scale2d: 1.2;
		brightness: 3;
		opacity-mask-threshold: 0% 20%;
		opacity-mask: url("s2r://panorama/images/hud/brawl/rings/ring_reveal_mask_psd.vtex");
	}
	
	100%
	{
		transform: rotateZ(0deg);
		pre-transform-scale2d: 1;
		opacity-mask-threshold: 0% 20%;
	}
	
}

@keyframes 'itemSelect'
{
	0%
	{
		opacity: 1;
		transform: rotateZ(0deg);
		pre-transform-scale2d: 1.0;
		brightness: 1;
	}
	
	5%
	{
		opacity: 1;
		transform: rotateZ(-2deg);
		pre-transform-scale2d: 1.3;
		brightness: 1.5;
	}
	
	70%
	{
		opacity: 1;
		transform: rotateZ(-2deg);
		pre-transform-scale2d: 1.3;
		brightness: 1.5;
		opacity-mask-threshold: 0% 0%;
		opacity-mask: url("s2r://panorama/images/hud/brawl/rings/ring_reveal_mask_psd.vtex");
	}
	
	100%
	{
		opacity: 1;
		transform: rotateZ(0deg);
		pre-transform-scale2d: 1;
		brightness: 1;
		opacity-mask-threshold: 100% 20%;
		opacity-mask: url("s2r://panorama/images/hud/brawl/rings/ring_reveal_mask_psd.vtex");
	}
	
}

#TitleContainer
{
	flow-children: down;
}

.AspectRatio16x10 #TitleContainer
{
	margin-left: 30px;
}

#DraftTitle
{
	horizontal-align: center;
	margin-top: 160px;
	margin-bottom: -16px;
}

.NoDraftsAvailable #DraftTitle
{
	visibility: collapse;
}

#DraftTitle Label
{
	font-family: oracle;
	font-weight: bold;
	font-size: 80px;
	text-transform: uppercase;
	horizontal-align: center;
	color: offWhite;
	opacity: 0.8;
	padding: 12px;
	text-overflow: shrink;
}

#CountLabel
{
	color:white;
	vertical-align: bottom;
	margin-bottom: 0px;
	color: offWhite;
	font-family: oracle;
	font-size: 36px;
	margin-left: 15px;
	color: rgb(252, 72, 252);
	text-transform: uppercase;
}

.NoDraftsAvailable #CountLabel
{
	visibility: collapse;
}

#NoDraftContainer
{
	visibility:collapse;
	horizontal-align: center;
	vertical-align: bottom;
	opacity: 0.6;
	font-size: 30px;
}

.NoDraftsAvailable #NoDraftContainer
{
	visibility:visible;
}

#NoDraftLabel
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 20px;
	font-family: block;
	color: offWhite;
	text-transform: uppercase;
	margin-bottom: 15px;
}

#DraftOption1
{
	x: 74px;
	y: 247px;
}

#DraftOption2
{
	x: 500px;
	y: 0px;
}

#DraftOption3
{
	x: 926px;
	y: 247px;
}

#Enhancements
{
	visibility: collapse;
	horizontal-align: center;
}

.HasEnhancements #Enhancements
{
	visibility: visible;
	visibility: collapse;
}

#ReRollPanel
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 290px;
	width: fit-children;
	width: 300px;
}

#ReRollPanel Label
{
	color: offWhite;
}

#ReRollPanel #ReRollDescArea
{
	flow-children: down;
	height: fit-children;
	width: 100%;
}

#ReRollPanel #ReRollDesc
{
	font-size: 20px;
	font-weight: semi-bold;
	margin-bottom: 15px;
	opacity: 0.6;
}

#ReRollPanel #ReRollButton
{
	ui-scale: 140%;
	horizontal-align: center;
}

#ReRollPanel #ReRollCount
{
	font-size: 18px;
	font-weight: semi-bold;
	font-family: block;
	font-style: italic;
	horizontal-align: center;
	opacity: 0.3;
	margin-top: 0px;
	font-family: sans;
	margin-top: 15px;
}

#ReRollPanel.depleted
{
	opacity: 0.6;
}

#ReRollPanel.depleted #ReRollButton
{
	opacity: 0.1;
}

#ReRollPanel.depleted #ReRollDesc
{
	opacity: 0.4;
}

#ReRollPanel.depleted #ReRollCount
{
	animation-name: none;
	color: #110000;
	opacity: 0.5;
}

.NoDraftsAvailable #ReRollPanel
{
	visibility: collapse;
}

.InputButtonBorderRadius.Large
{
	margin-right: 0px;
}

#SkipPanel
{
	width: 250px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 220px;
	visibility: collapse;
}

#SkipPanel Label
{
	color: offWhite;
}

#SkipPanel #SkipDescArea
{
	flow-children: down;
	height: fit-children;
	width: 100%;
}

#SkipPanel #SkipDesc
{
	font-size: 20px;
	font-weight: semi-bold;
	margin-bottom: 15px;
	opacity: 0.6;
}

#SkipPanel #SkipButton
{
	horizontal-align: middle;
}

.CanSkip #SkipPanel
{
	visibility: visible;
}

#LogoContainer
{
	opacity: 0;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
}

.ShowLogo #LogoContainer
{
	opacity: 0;
	animation-name: DisplayLogo;
	animation-duration: 5s;
	animation-delay: 2s;
}

@keyframes 'DisplayLogo'
{
	0%
	{
		opacity: 0;
	}
	
	10%
	{
		opacity: 1;
	}
	
	90%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

#NameContainer
{
	flow-children: right;
	horizontal-align:middle;
	vertical-align: middle;
}

.ShowLogo #NameContainer
{
	animation-name: logoRotate;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	animation-delay: 2s;
}

@keyframes 'logoRotate'
{
	0%
	{
		transform: rotateZ(-15deg);
	}
	
	80%
	{
		transform: rotateZ(5deg);
	}
	
	90%
	{
		transform: rotateZ(-5deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

.logo
{
	font-size: 220px;
	color: offWhite;
	text-transform: uppercase;
	min-height: 220px;
	min-width: 500px;
}

.logo.pt1
{
	margin-right: 0px;
	vertical-align: middle;
	margin-bottom: 150px;
	font-family: oracle;
	font-weight: normal;
	font-style: italic;
	opacity: 1;
	transform: translateX(190px);
	animation-name: word1Intro;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-delay: 2s;
}

@keyframes 'word1Intro'
{
	0%
	{
		opacity: 0;
		transform: translateX(-100px);
	}
	
	20%
	{
		opacity: 1;
		transform: translateX(190px);
	}
	
	90%
	{
		opacity: 1;
		transform: translateX(290px);
	}
	
	100%
	{
		opacity: 0;
		transform: translateX(890px);
	}
	
}

.logo.pt2
{
	vertical-align: middle;
	margin-top: 250px;
	font-family: block;
	opacity: 1;
	transform: translateX(-100px);
	animation-name: word2Intro;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-delay: 2s;
}

@keyframes 'word2Intro'
{
	0%
	{
		opacity: 0;
		transform: translateX(100px);
	}
	
	20%
	{
		opacity: 1;
		transform: translateX(-100px);
	}
	
	90%
	{
		opacity: 1;
		transform: translateX(-200px);
	}
	
	100%
	{
		opacity: 0;
		transform: translateX(-800px);
	}
	
}

.Waiting #DraftPanelContents,.ShowLogo #DraftPanelContents
{
	visibility: collapse;
}

.Waiting #WheelBackground
{
	visibility: collapse;
}

.ShowLogo #WheelBackground
{
	opacity: 0.3;
	pre-transform-scale2d: 0.5;
	transform: translateY(0px);
	opacity-brush: gradient( linear, 0% 0%, 0% 60%, from( #ffffff ), to( #ffffff ) );
	transition-property: opacity, pre-transform-scale2d, transform, opacity-brush;
	transition-duration: 0.7s;
}

@keyframes 'wheelReveal'
{
	0%
	{
		opacity-mask-threshold: 100% 20%;
	}
	
	100%
	{
		opacity-mask-threshold: 0% 20%;
	}
	
}

CitadelItemDraftPanel.ShowLogo
{
	opacity-mask: url("s2r://panorama/images/masks/wipe_alpha_test_01_white_png.vtex");
	opacity-mask-threshold: 0% 20%;
	transition-property: opacity-mask, opacity-mask-threshold;
	animation-name: wipeAnim;
	animation-duration: 3s;
	animation-iteration-count: 1;
}

@keyframes 'wipeAnim'
{
	0%
	{
		opacity-mask-threshold: 100% 20%;
		background-color: #15002Caa;
		opacity-mask: url("s2r://panorama/images/masks/wipe_alpha_test_01_white_png.vtex");
	}
	
	100%
	{
		opacity-mask-threshold: 0% 20%;
		background-color: #15002Caa;
		opacity-mask: url("s2r://panorama/images/masks/wipe_alpha_test_01_white_png.vtex");
	}
	
}

