/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHudBossKilled
{
	height: fit-children;
	width: fit-children;
	margin-left: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.killerContainer
{
	z-index: 2;
	margin-right: 5px;
	flow-children: right;
	border-radius: 3px;
}

#TextContainer
{
	width: fit-children;
	flow-children: right;
}

Label
{
	font-size: 13px;
	color: white;
	text-shadow: 0px 0px 10px #000000;
	vertical-align: bottom;
}

.dataFeedClass
{
	color: #FFED79;
}

.victimContainer
{
	flow-children: right;
	horizontal-align: right;
	margin-left: 5px;
	border-radius: 3px;
	background-color: #FF9900;
}

.victimImageContainer,.killerImageContainer
{
	vertical-align: center;
	margin: 2px;
}

.killerFriend .killerContainer
{
	background-color: #FFEFD7;
}

.killerFriend .killerImageContainer
{
	background-color: #bdae97;
}

.killerFriend .killerContainer Label
{
	color: #000000;
	text-shadow: none;
}

.killerFriend .victimContainer
{
	background-color: #FF5656;
}

.killerEnemy .killerContainer
{
	background-color: #FF5656;
}

.killerEnemy .killerImageContainer
{
	background-color: #820000;
}

.killerTeam1 .killerContainer
{
	background-color: team1Color;
}

.killerTeam2 .killerContainer
{
	background-color: team2Color;
}

.k_ELaneColor_Blue .victimContainer
{
	background-color: laneBlueColor;
}

.k_ELaneColor_Yellow .victimContainer
{
	background-color: laneYellowColor;
}

.k_ELaneColor_Orange .victimContainer
{
	background-color: laneOrangeColor;
}

.k_ELaneColor_Purple .victimContainer
{
	background-color: lanePurpleColor;
}

.midBoss .victimContainer
{
	background-color: white;
}

.midBoss .victimInfo
{
	color: black;
}

.entityImage
{
	height: 28px;
	width: 28px;
}

.killerInfo,.victimInfo
{
	max-width: 200px;
	text-overflow: ellipsis;
}

.personaName
{
	vertical-align: center;
	text-transform: uppercase;
	margin: 3px 10px 5px 10px;
	font-weight: bold;
}

.croasshairImage
{
	height: 19px;
	width: 19px;
	vertical-align: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/kill_feed_crosshair_png.vtex");
	background-size: contain;
	z-index: 3;
}

.arrowImage
{
	height: 17px;
	width: 19px;
	vertical-align: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/kill_feed_arrow_png.vtex");
	background-size: contain;
	margin-left: -10px;
	z-index: 2;
	margin-right: 3px;
}

