/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelOverlay
{
	height: 100%;
	width: 100%;
}

#MutedPanel
{
	horizontal-align: left;
	flow-children: right;
	background-color: #10130Df0;
	z-index: 9999;
	width: 50px;
	height: 50px;
	margin: 22px 0px 0px 22px;
	border-radius: 24px;
	visibility: collapse;
}

.GameIsMuted #MutedPanel
{
	visibility: visible;
}

.MutedIcon
{
	width: 30px;
	height: 30px;
	padding: 10px;
	background-image: url("s2r://panorama/images/icons/icon_sound_off.vsvg");
	background-size: contain;
	vertical-align: center;
	horizontal-align: center;
}

#ClientServerDebugStats
{
	horizontal-align: right;
	vertical-align: bottom;
	margin: 0px 10px 5px 0px;
	text-align: right;
	font-family: sans;
	font-weight: semi-bold;
	font-size: 12px;
	color: #ffffff30;
	text-shadow: 1px 1px 1px black;
}

.InHideout #ClientServerDebugStats
{
	horizontal-align: left;
	vertical-align: top;
	margin: 90px 0px 0px 10px;
	text-align: left;
}

#ClientServerDebugStats.Detailed
{
	horizontal-align: left;
	vertical-align: top;
	margin: 90px 0px 0px 10px;
	text-align: left;
}

#TooltipManager
{
	width: 100%;
	height: 100%;
}

