/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define colorCommonOffWhite: #F3F0E7;
@define colorCommonDarkGray: #2e2c27;
@define colorCommonDarkestGray: #1a1a1a;
@define colorEnemy: #FF410D;
@define colorModsShop: #FFDB79;
@define colorGold: #FFED79;
@define colorUpgrades: #00FFFF;
@define weaponColor: #FFA826;
@define armorColor: #00FF99;
@define techColor: #00DDFF;
@define favColor: #FFDB4C;
@define defaultBGColor1: #333333;
@define defaultBGColor2: #404040;
@define defaultBGColor3: #4D4D4D;
@define defaultBGColor4: #595959;
@define weaponBGColor1: #4D2E00;
@define weaponBGColor2: #663D00;
@define weaponBGColor3: #804C00;
@define weaponBGColor4: #8C5400;
@define armorBGColor1: #204033;
@define armorBGColor2: #264C3D;
@define armorBGColor3: #346651;
@define armorBGColor4: #3A735C;
@define techBGColor1: #1F474C;
@define techBGColor2: #245359;
@define techBGColor3: #2E6A73;
@define techBGColor4: #337680;
@define favBGColor1: #4D3800;
@define favBGColor3: #664A00;
@define favBGColor4: #735400;
CitadelModsPurchasedPanel
{
	width: 100px;
	height: 150px;
	margin: 0px 5px;
	flow-children: down;
	horizontal-align: middle;
	transition-property: transform, width, brightness, background-color;
	transition-duration: 0.2s;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.ModsContainer CitadelModsPurchasedPanel
{
	width: 91px;
	height: 90px;
	margin: 0px;
}

CitadelHudHeroShop CitadelModsPurchasedPanel
{
	background-color: #00000000;
}

@keyframes 'currencyAvailable'
{
	0%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
	}
	
	40%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		brightness: 1.5;
		pre-transform-scale2d: 1.01;
	}
	
	60%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
	}
	
	70%
	{
		brightness: 1.5;
		pre-transform-scale2d: 1.01;
	}
	
	80%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
	}
	
}

.buttonSelectedBorderBS
{
	width: 168px;
	height: 152px;
	horizontal-align: center;
	vertical-align: center;
	border: 0px;
}

CitadelModsPurchasedPanel.listHorizontally
{
	flow-children: right;
	width: 256px;
	height: 104px;
}

CitadelModsPurchasedPanel.selected
{
	width: 100%;
}

#ModsPurchasedHeader
{
	width: 80px;
	height: 100%;
	flow-children: down;
	background-color: #00000090;
}

CitadelScoreboardMods #ModsPurchasedHeader
{
	visibility: collapse;
}

.HeaderContents
{
	flow-children: down;
	align: center center;
}

#ModsContent
{
	flow-children: down;
	vertical-align: middle;
	width: 100%;
	height: fit-children;
}

CitadelScoreboardMods #ModsContent
{
	margin-left: 0px;
	horizontal-align: center;
}

.modCategoryName
{
	font-size: 30px;
	font-family: "Swear Text Demo";
	margin-bottom: 10px;
	font-weight: bold;
}

CitadelScoreboardMods .modCategoryName,#StatsAndModsContainer .modCategoryName
{
	visibility: collapse;
}

.listHorizontally #ModsPurchasedHeader
{
	width: 72px;
	height: 104px;
	margin-left: 8px;
	vertical-align: center;
	horizontal-align: center;
}

.upgrade_available .mod_weapon #ModsPurchasedHeader
{
	animation-name: mods_pulse_weapon;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	background-color: #B26D2D;
}

@keyframes 'mods_pulse_weapon'
{
	0%
	{
		background-color: #FF9900;
	}
	
	50%
	{
		background-color: #B26D2D;
	}
	
	100%
	{
		background-color: #FF9900;
	}
	
}

.upgrade_available .mod_armor #ModsPurchasedHeader
{
	animation-name: mods_pulse_armor;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	background-color: #396C58;
}

@keyframes 'mods_pulse_armor'
{
	0%
	{
		background-color: #00FF99;
	}
	
	50%
	{
		background-color: #396C58;
	}
	
	100%
	{
		background-color: #00FF99;
	}
	
}

.upgrade_available .mod_tech #ModsPurchasedHeader
{
	animation-name: mods_pulse_tech;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	background-color: #32747E;
}

@keyframes 'mods_pulse_tech'
{
	0%
	{
		background-color: #00DDFF;
	}
	
	50%
	{
		background-color: #32747E;
	}
	
	100%
	{
		background-color: #00DDFF;
	}
	
}

.mod_category:hover #ModsPurchasedHeader
{
	animation-name: none;
}

#ModsPurchasedHeader.selected:hover #ModsPurchasedHeader,#ModsPurchasedHeader.selected #ModsPurchasedHeader
{
	animation-name: none;
}

.modCategoryIcon
{
	width: 32px;
	height: 32px;
	horizontal-align: center;
	vertical-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.listHorizontally .modCategoryIcon
{
	width: 40px;
	height: 40px;
}

.modCategoryAmount
{
	font-size: 30px;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 8px;
	font-weight: bold;
	font-family: sansMono;
	color: offWhite;
}

.mod_weapon .modCategoryAmount
{
	text-shadow: 0px 0px 0px 8.0 #312409;
}

.mod_tech .modCategoryAmount
{
	text-shadow: 0px 0px 0px 8.0 #1F3400;
}

.mod_weapon #ModsProgressBar .ProgressBarLeft
{
	background-color: courageBrightColor;
}

.mod_tech #ModsProgressBar .ProgressBarLeft
{
	background-color: spiritBrightColor;
}

#StatsAndModsContainer .modCategoryIcon
{
	visibility: collapse;
}

#ModsProgressBar
{
	width: 50px;
	height: 8px;
	background-color: #000000;
	horizontal-align: center;
	margin-top: 5px;
}

.mod_universal .UniversalSlotsLabel
{
	visibility: visible;
	height: 25px;
	margin-top: 10px;
}

.mod_universal .modCategoryIcon,.mod_universal_locked .modCategoryIcon
{
	visibility: collapse;
	height: 0px;
}

.mod_weapon .modCategoryIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_courage.vsvg");
	wash-color: courageBrightColor;
}

.mod_armor .modCategoryIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude.vsvg");
	wash-color: fortitudeBrightColor;
}

.mod_tech .modCategoryIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_magic.vsvg");
	wash-color: spiritBrightColor;
}

#ModIconsContainer
{
	width: fit-children;
	height: fit-children;
	vertical-align: middle;
	flow-children: right-wrap;
	horizontal-align: center;
}

.listHorizontally #ModIconsContainer
{
	vertical-align: center;
	margin: 0px 0px 0px 0px;
	margin-top: -2px;
}

CitadelHudTopBar #ModIconsContainer
{
	margin-top: 0px;
}

.goldIcon
{
	height: 32px;
	width: 32px;
}

.StatDiffPreview
{
	ignore-parent-flow: true;
	visibility: collapse;
	z-index: 5;
	horizontal-align: center;
	margin-top: 20px;
	font-size: 26px;
	font-weight: bold;
	text-shadow: 0px 0px 0px 5.0 offBlack;
	animation-name: statDiffAddition;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

.showingWeapon .StatDiffPreview
{
	color: courageBrightColor;
}

.showingTech .StatDiffPreview
{
	color: spiritBrightColor;
}

.ShowingStatDiff .StatDiffPreview
{
	visibility: visible;
}

@keyframes 'statDiffAddition'
{
	0%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	50%
	{
		brightness: 2;
		pre-transform-scale2d: 1.1;
	}
	
	100%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
}

