/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

AbilitySlotIcon
{
	tooltip-body-position: 50% 50%;
	overflow: noclip;
	height: 70px;
	width: 48px;
	vertical-align: center;
}

PopupActivatedAbilitiesSelection AbilitySlotIcon
{
	width: 120px;
	height: 120px;
}

AbilitySlotIcon CitadelModIcon
{
	padding-left: 0px;
	padding-top: 0px;
	horizontal-align: center;
}

#AbilityIcon
{
	visibility: collapse;
}

.imbueSelection #AbilityIcon
{
	visibility: visible;
}

.incompatible #AbilityIcon
{
	wash-color: rgb(128, 128, 128);
}

#ModIcon
{
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
	background-position: 50% 50%;
}

.imbueSelection #ModIcon
{
	visibility: collapse;
}

.unowned #ModIcon
{
	background-image: none;
	wash-color: none;
}

.IsBeingDragged.mod_icon_single_container
{
	height: 52px;
	width: 52px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	flow-children: down;
	background-color: black;
	padding: 3px;
}

.IsBeingDragged .mod_tier_label,.IsBeingDragged .current_keybind_label
{
	visibility: collapse;
}

.IsBeingDragged .mod_icon_background_container
{
	margin-top: 0px;
	background-color: black;
}

#PurchaseItemIcon .mod_icon_background_container
{
	margin-top: 8px;
	height: 38px;
	width: 38px;
}

.mod_icon_background_container
{
	height: 46px;
	width: 46px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 10px;
	background-color: #1A1A1A80;
	background-size: 100% 100%;
	border-radius: 3px;
	background-image: none;
	vertical-align: center;
	horizontal-align: center;
}

.mod_tier_line:hover .mod_upgrade_text,.selected .mod_upgrade_text
{
	color: white;
}

.mod_icons_container
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	margin-bottom: 10px;
}

.mod_icon_single_container
{
	border-radius: 3px;
	background-color: #1a1a1a;
	z-index: 1;
	flow-children: down;
	height: 100%;
	width: 100%;
	margin: 0px;
}

.unowned.mod_icon_single_container
{
	background-color: #1a1a1a;
	opacity: 0.3;
}

.mod_weapon .unowned.mod_icon_single_container
{
	background-color: weaponColor;
	opacity: 0.15;
}

.showingWeapon .mod_weapon .unowned.mod_icon_single_container
{
	background-color: #1a1a1a;
	opacity: 0.3;
}

.mod_armor .unowned.mod_icon_single_container
{
	background-color: armorColor;
	opacity: 0.15;
}

.showingArmor .mod_armor .unowned.mod_icon_single_container
{
	background-color: #1a1a1a;
	opacity: 0.3;
}

.mod_tech .unowned.mod_icon_single_container
{
	background-color: techColor;
	opacity: 0.15;
}

.showingTech .mod_tech .unowned.mod_icon_single_container
{
	background-color: #1a1a1a;
	opacity: 0.3;
}

.current_keybind_label
{
	min-height: 24px;
	min-width: 24px;
	padding: 2px;
	background-color: #1A1A1A80;
	visibility: visible;
	horizontal-align: center;
	vertical-align: bottom;
	text-align: center;
	color: grey;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	tooltip-position: bottom;
	tooltip-body-position: 50% 50%;
}

#SignatureSlotMenu .current_keybind_label
{
	visibility: collapse;
}

#mod_tier_label
{
	horizontal-align: center;
	margin-top: -5px;
	height: 14px;
	width: 14px;
	background-size: 100% 100%;
	z-index: 2;
}

#PurchaseItemIcon #mod_tier_label
{
	ignore-parent-flow: true;
	vertical-align: top;
}

#mod_tier_label.ModTierLevel1
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_01_psd.vtex");
}

#mod_tier_label.ModTierLevel2
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_02_psd.vtex");
}

#mod_tier_label.ModTierLevel3
{
	background-image: url("s2r://panorama/images/upgrades/tier_numbers_small_03_psd.vtex");
}

#PurchaseItemIcon .current_keybind_label
{
	visibility: collapse;
}

