/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelModifierMessage
{
	horizontal-align: center;
	vertical-align: bottom;
	height: 250px;
	width: 400px;
	margin-right: 150px;
	margin-bottom: 100px;
	visibility: visible;
	margin-right: 0px;
	margin-bottom: 150px;
}

#MessagesContainer
{
	height: 100%;
	width: 100%;
}

@keyframes 'ShowMessage'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
		opacity: 0;
	}
	
	20%
	{
		opacity: 1;
	}
	
	30%
	{
		transform: rotateZ(-1deg) translateX(10px);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
}

#MessageLabel
{
	font-size: 16px;
	max-width: 260px;
	max-height: 30px;
	text-overflow: shrink;
	opacity: 1;
	color: offWhite;
	font-family: oracle;
	text-shadow: 0px 0px 0px 4.0 rgb(255, 94, 94);
	font-weight: bold;
	width: fit-children;
	vertical-align: middle;
	horizontal-align: right;
	z-index: 3;
}

.MessageContainer.ShowingModifierMessage
{
	animation-name: ShowMessage;
	animation-duration: 1.1s;
	animation-iteration-count: 1;
	transition-property: opacity;
	transition-duration: 0.2s;
	animation-timing-function: ease-out;
	opacity: 1;
}

.IsBuff #MessageLabel
{
	color: offWhite;
	text-shadow: 0px 0px 0px 4.0 offBlack;
}

.MessageContainer
{
	opacity: 0;
	flow-children: right;
	horizontal-align: center;
	padding: 10px;
}

#MessagesContainer1
{
	transform: rotateZ(0deg);
	margin-bottom: 180px;
	vertical-align: bottom;
	padding-right: 0px;
}

#MessagesContainer2
{
	margin-bottom: 145px;
	vertical-align: bottom;
	transform: rotateZ(0deg);
	padding-right: 0px;
}

#MessagesContainer3
{
	margin-bottom: 110px;
	vertical-align: bottom;
	transform: rotateZ(0deg);
	padding-right: 0px;
}

#MessagesContainer4
{
	margin-bottom: 75px;
	margin-right: 0px;
	transform: rotateZ(0deg);
	vertical-align: bottom;
}

#HeroImage
{
	width: 26px;
	height: 26px;
	margin-top: 0px;
	horizontal-align: left;
	background-size: contain;
	vertical-align: middle;
}

#AbilityIcon
{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	img-shadow: 0px 0px 0px 5.0 #000000;
	opacity: 1;
	wash-color: offWhite;
	opacity: 0.7;
	margin-right: 5px;
}

.NoCaster #HeroImage,.NoAbilityImage #AbilityIcon
{
	visibility: collapse;
}

