/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define brandGreen: #C4FF47;
CitadelAnnouncement
{
	width: 100%;
	color: offWhite;
	margin-bottom: 10px;
}

.AnnouncementBody
{
	width: 100%;
	flow-children: down;
}

.TitleRow
{
	width: 100%;
	padding: 5px;
	font-weight: bold;
}

.Title
{
	width: 100%;
}

.TitleText
{
	font-size: 20px;
}

.TimeText
{
	horizontal-align: right;
	vertical-align: center;
	font-size: 12px;
	opacity: 0.3;
	font-weight: normal;
}

.MessageRow
{
	width: 100%;
	padding: 0px 5px;
}

.MessageText
{
	font-size: 16px;
	color: offWhite&90;
}

.IDRow
{
	padding: 5px;
	width: 100%;
	visibility: collapse;
}

.ShowAnnouncementID .IDRow
{
	visibility: visible;
}

.IDText
{
	font-size: 14px;
	color: white;
}

.FooterRow
{
	width: 100%;
	visibility: collapse;
	padding: 5px;
}

.HasURL .FooterRow
{
	visibility: visible;
}

.URLText
{
	font-size: 16px;
	color: #777;
	font-weight: semi-bold;
	color: brandGreen;
}

.URLText:hover
{
	color: white;
}

