/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

CitadelPlayerLevelUpBonuses
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 250px;
	height: fit-children;
	transition-property: opacity;
	transition-duration: 0.5s;
	opacity: 1;
	height: 80px;
	flow-children: right;
}

.deathReplayActive CitadelPlayerLevelUpBonuses,.wants_scoreboard CitadelPlayerLevelUpBonuses
{
	opacity: 0;
}

CitadelPlayerLevelUpBonuses Label
{
	horizontal-align: center;
	vertical-align: center;
}

CitadelPlayerLevelUpBonuses.FadeOutLevelUpToast
{
	opacity: 0;
}

.LevelUpIntro
{
	font-size: 16px;
	font-family: serif;
	font-weight: bold;
	padding: 5px 10px 0px 10px;
	text-align: center;
	color: offWhite&80;
	text-shadow: 0px 0px 3px #000000;
	background-color: #000000ae;
	margin-left: 1px;
	width: 100%;
	min-width: 200px;
}

#SoulsRewardsBanner
{
	width: fit-children;
	height: 100%;
	flow-children: down;
	background-color: #00000040;
}

#SoulsGatheredContainer
{
	flow-children: down;
	background-color: #000000ee;
	padding: 0px 10px;
	height: 100%;
}

.TitleContainer
{
	flow-children: down;
	vertical-align: center;
	horizontal-align: middle;
	padding: 0px 10px;
}

.NumSoulsLabel
{
	color: shardColor;
	font-weight: bold;
	font-size: 28px;
	vertical-align: middle;
	margin-top: 0px;
	text-align: center;
	font-family: serif;
	margin-right: 10px;
	letter-spacing: 1px;
	text-shadow: 0px 0px 3px #000000;
}

.SoulsGatheredLabel
{
	font-size: 16px;
	font-weight: bold;
	color: offWhite&90;
	vertical-align: middle;
	margin-top: -3px;
	font-family: serif;
	text-shadow: 0px 0px 3px #000000;
}

#AwardsContainer
{
	flow-children: right;
	height: 100%;
	width: fit-children;
	horizontal-align: middle;
}

.LevelUpBlock
{
	width: fit-children;
	flow-children: down;
	vertical-align: center;
	margin: 0px 1px;
	height: 100%;
	padding: 0px 10px;
	background-color: #00000090;
}

.LevelUpContent
{
	flow-children: right;
	vertical-align: middle;
	horizontal-align: middle;
}

.AbilityPointIcon
{
	background-image: url("s2r://panorama/images/hud/ap_icon.vsvg");
	height: 80px;
	width: 80px;
	wash-color: spiritLightColor;
}

.AbilityUnlockIcon
{
	background-image: url("s2r://panorama/images/hud/unlock_icon.vsvg");
	wash-color: spiritLightColor;
}

.PowerIncreaseImages
{
	flow-children: right;
	horizontal-align: center;
}

.HeroImageAndPowerText
{
	flow-children: right;
}

.LevelUpIcon
{
	height: 25px;
	width: 25px;
	background-size: 100% 100%;
	horizontal-align: center;
	margin-bottom: 5px;
}

.LevelUpTypeLabel
{
	font-size: 18px;
	font-weight: semi-bold;
	color: offWhite;
	margin-left: 8px;
}

#HeroImage
{
	width: 30px;
	visibility: collapse;
}

.HealthImage,.BulletDamageImage,.MagicDamageImage,.BulletResistImage,.WeaponRangeImage
{
	visibility: collapse;
}

.healthUpgrade .HealthImage
{
	visibility: visible;
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_psd.vtex");
	wash-color: offWhite;
	opacity: 0.5;
	margin-right: 2px;
}

.weaponUpgrade .BulletDamageImage
{
	visibility:visible;
	background-image: url("s2r://panorama/images/hud/core/icon_damage_bullet.vsvg");
	wash-color: offWhite;
	margin-right: 2px;
	opacity: 0.5;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}

.techUpgrade .MagicDamageImage
{
	visibility:visible;
	background-image: url("s2r://panorama/images/hud/core/icon_damage_mystic.vsvg");
	wash-color: offWhite;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
}

.bulletResistUpgrade .BulletResistImage
{
	visibility:visible;
	background-image: url("s2r://panorama/images/hud/core/icon_armor_force.vsvg");
	wash-color: offWhite;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
}

.techResistUpgrade .TechResistImage
{
	visibility: visible;
	background-image: url("s2r://panorama/images/hud/core/icon_armor_mystic.vsvg");
	wash-color: offWhite;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
}

.weaponRangeUpgrade .WeaponRangeImage
{
	visibility: visible;
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/long_range_psd.vtex");
	wash-color: offWhite;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
}

