/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHudQuickBuy
{
	width: 168px;
	height: 90px;
	horizontal-align: center;
	vertical-align: center;
	background-color: rgba(255, 237, 121, 0.05);
	flow-children: right;
	tooltip-position: right;
	tooltip-body-position: 50% 50%;
	padding: 10px;
	brightness: 0.5;
}

CitadelHudQuickBuy.canAfford
{
	animation-name: favoritesBtnCTA;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

.heroTestingDisableMods CitadelHudQuickBuy.canAfford
{
	animation-iteration-count: 0;
}

CitadelHudQuickBuy CitadelModIcon
{
	vertical-align: center;
}

CitadelHudQuickBuy.canAfford
{
	background-color: rgba(255, 237, 121, 0.15);
}

CitadelHudQuickBuy.canAfford:Hover
{
	background-color: rgba(255, 237, 121, 0.30);
}

.shopClosed CitadelHudQuickBuy,.shopClosed CitadelHudQuickBuy:hover
{
	background-color: rgba(255,255,255, 0.025);
	animation: none;
}

.favoritesPurchaedLabel
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	font-size: 16px;
}

.purchasedAllFavorites #NextModItem,.purchasedAllFavorites .nextModInfo,.favoritesPurchaedLabel
{
	visibility: collapse;
}

.purchasedAllFavorites .favoritesPurchaedLabel
{
	visibility: visible;
}

.nextModInfo
{
	width: 100px;
	margin-left: 8px;
	vertical-align: center;
	flow-children: down;
}

.itemName
{
	font-size: 16px;
	color: #ffffff;
	font-weight: semi-bold;
	line-height: 18px;
	text-overflow: shrink;
	max-height: 45px;
}

.nextModCost
{
	flow-children: right;
	margin-top: -2px;
}

.nextModCost Label
{
	font-size: 16px;
	font-weight: semi-bold;
	color: colorEnemy;
	font-family: sansMono;
}

.canAfford .nextModCost Label
{
	color: shardColor;
}

.nextModGoldIcon
{
	width: 12px;
	height: 12px;
	margin-right: 4px;
	vertical-align: center;
	wash-color: shardColor;
}

.itemPurchase
{
	font-size: 16px;
	font-weight: semi-bold;
	color: colorGold;
	visibility: collapse;
}

