/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelSocialPage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	flow-children: down;
	background-color: #000000ee;
}

#SocialTitle
{
	horizontal-align: center;
	margin-top: 60px;
	width: 100%;
	flow-children: down;
	margin-bottom: 15px;
	text-align: center;
}

.PageTitle Label
{
	horizontal-align: center;
}

.playOptionBottom
{
	background-color: #202020;
	width: 100%;
	padding: 0px 15px 0px 15px;
	height: 185px;
}

.playOptionBottom .backArrow
{
	wash-color: white;
	transform: rotateY( 180deg );
	height: 26px;
	width: 28px;
	horizontal-align: left;
	margin-left: 15px;
	margin-right: 10px;
	transition-property: transform, margin-left;
	transition-duration: 0.3s;
}

.MainContents
{
	width: 100%;
	max-width: 1420px;
	horizontal-align: center;
	height: 780px;
	flow-children: right;
	margin-top: 0px;
}

.LeftPanel
{
	width: 30%;
	height: 100%;
	margin-right: 2%;
	flow-children: down;
}

.LeftColHeader
{
	width: 100%;
}

.LeftColHeader CitadelPartyCode
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 10px;
}

.RightPanel
{
	width: fill-parent-flow(1.0);
	flow-children: down;
	height: 100%;
}

.ColumnTitle
{
	color: white;
	font-size: 24px;
	font-family: serif;
	font-weight: bold;
	margin-bottom: 5px;
	font-weight: bold;
	color: offWhite&aa;
}

.PanelBody
{
	width: 100%;
	height: fill-parent-flow(1.0);
	background-color: offBlack&ee;
}

#friend_list
{
	margin: 20px;
}

.HideParties .LeftPanel
{
	visibility: collapse;
}

