/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

CitadelRankedBadgeMini
{
	width: 55px;
	height: 40px;
}

#Badge
{
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.unranked #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank0/badge_sm_psd.vtex");
}

.badgeRank1.badgeTier1 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank1/badge_sm_subrank1_psd.vtex");
}

.badgeRank1.badgeTier2 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank1/badge_sm_subrank2_psd.vtex");
}

.badgeRank1.badgeTier3 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank1/badge_sm_subrank3_psd.vtex");
}

.badgeRank1.badgeTier4 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank1/badge_sm_subrank4_psd.vtex");
}

.badgeRank1.badgeTier5 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank1/badge_sm_subrank5_psd.vtex");
}

.badgeRank1.badgeTier6 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank1/badge_sm_subrank6_psd.vtex");
}

.badgeRank2.badgeTier1 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank2/badge_sm_subrank1_psd.vtex");
}

.badgeRank2.badgeTier2 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank2/badge_sm_subrank2_psd.vtex");
}

.badgeRank2.badgeTier3 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank2/badge_sm_subrank3_psd.vtex");
}

.badgeRank2.badgeTier4 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank2/badge_sm_subrank4_psd.vtex");
}

.badgeRank2.badgeTier5 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank2/badge_sm_subrank5_psd.vtex");
}

.badgeRank2.badgeTier6 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank2/badge_sm_subrank6_psd.vtex");
}

.badgeRank3.badgeTier1 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank3/badge_sm_subrank1_psd.vtex");
}

.badgeRank3.badgeTier2 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank3/badge_sm_subrank2_psd.vtex");
}

.badgeRank3.badgeTier3 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank3/badge_sm_subrank3_psd.vtex");
}

.badgeRank3.badgeTier4 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank3/badge_sm_subrank4_psd.vtex");
}

.badgeRank3.badgeTier5 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank3/badge_sm_subrank5_psd.vtex");
}

.badgeRank3.badgeTier6 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank3/badge_sm_subrank6_psd.vtex");
}

.badgeRank4.badgeTier1 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank4/badge_sm_subrank1_psd.vtex");
}

.badgeRank4.badgeTier2 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank4/badge_sm_subrank2_psd.vtex");
}

.badgeRank4.badgeTier3 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank4/badge_sm_subrank3_psd.vtex");
}

.badgeRank4.badgeTier4 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank4/badge_sm_subrank4_psd.vtex");
}

.badgeRank4.badgeTier5 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank4/badge_sm_subrank5_psd.vtex");
}

.badgeRank4.badgeTier6 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank4/badge_sm_subrank6_psd.vtex");
}

.badgeRank5.badgeTier1 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank5/badge_sm_subrank1_psd.vtex");
}

.badgeRank5.badgeTier2 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank5/badge_sm_subrank2_psd.vtex");
}

.badgeRank5.badgeTier3 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank5/badge_sm_subrank3_psd.vtex");
}

.badgeRank5.badgeTier4 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank5/badge_sm_subrank4_psd.vtex");
}

.badgeRank5.badgeTier5 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank5/badge_sm_subrank5_psd.vtex");
}

.badgeRank5.badgeTier6 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank5/badge_sm_subrank6_psd.vtex");
}

.badgeRank6.badgeTier1 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank6/badge_sm_subrank1_psd.vtex");
}

.badgeRank6.badgeTier2 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank6/badge_sm_subrank2_psd.vtex");
}

.badgeRank6.badgeTier3 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank6/badge_sm_subrank3_psd.vtex");
}

.badgeRank6.badgeTier4 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank6/badge_sm_subrank4_psd.vtex");
}

.badgeRank6.badgeTier5 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank6/badge_sm_subrank5_psd.vtex");
}

.badgeRank6.badgeTier6 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank6/badge_sm_subrank6_psd.vtex");
}

.badgeRank7.badgeTier1 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank7/badge_sm_subrank1_psd.vtex");
}

.badgeRank7.badgeTier2 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank7/badge_sm_subrank2_psd.vtex");
}

.badgeRank7.badgeTier3 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank7/badge_sm_subrank3_psd.vtex");
}

.badgeRank7.badgeTier4 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank7/badge_sm_subrank4_psd.vtex");
}

.badgeRank7.badgeTier5 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank7/badge_sm_subrank5_psd.vtex");
}

.badgeRank7.badgeTier6 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank7/badge_sm_subrank6_psd.vtex");
}

.badgeRank8.badgeTier1 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank8/badge_sm_subrank1_psd.vtex");
}

.badgeRank8.badgeTier2 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank8/badge_sm_subrank2_psd.vtex");
}

.badgeRank8.badgeTier3 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank8/badge_sm_subrank3_psd.vtex");
}

.badgeRank8.badgeTier4 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank8/badge_sm_subrank4_psd.vtex");
}

.badgeRank8.badgeTier5 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank8/badge_sm_subrank5_psd.vtex");
}

.badgeRank8.badgeTier6 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank8/badge_sm_subrank6_psd.vtex");
}

.badgeRank9.badgeTier1 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank9/badge_sm_subrank1_psd.vtex");
}

.badgeRank9.badgeTier2 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank9/badge_sm_subrank2_psd.vtex");
}

.badgeRank9.badgeTier3 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank9/badge_sm_subrank3_psd.vtex");
}

.badgeRank9.badgeTier4 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank9/badge_sm_subrank4_psd.vtex");
}

.badgeRank9.badgeTier5 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank9/badge_sm_subrank5_psd.vtex");
}

.badgeRank9.badgeTier6 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank9/badge_sm_subrank6_psd.vtex");
}

.badgeRank10.badgeTier1 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank10/badge_sm_subrank1_psd.vtex");
}

.badgeRank10.badgeTier2 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank10/badge_sm_subrank2_psd.vtex");
}

.badgeRank10.badgeTier3 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank10/badge_sm_subrank3_psd.vtex");
}

.badgeRank10.badgeTier4 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank10/badge_sm_subrank4_psd.vtex");
}

.badgeRank10.badgeTier5 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank10/badge_sm_subrank5_psd.vtex");
}

.badgeRank10.badgeTier6 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank10/badge_sm_subrank6_psd.vtex");
}

.badgeRank11.badgeTier1 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank11/badge_sm_subrank1_psd.vtex");
}

.badgeRank11.badgeTier2 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank11/badge_sm_subrank2_psd.vtex");
}

.badgeRank11.badgeTier3 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank11/badge_sm_subrank3_psd.vtex");
}

.badgeRank11.badgeTier4 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank11/badge_sm_subrank4_psd.vtex");
}

.badgeRank11.badgeTier5 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank11/badge_sm_subrank5_psd.vtex");
}

.badgeRank11.badgeTier6 #Badge
{
	background-image: url("s2r://panorama/images/ranked/badges/rank11/badge_sm_subrank6_psd.vtex");
}

