/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelBinding
{
	width: fit-children;
	height: fit-children;
	flow-children: right;
}

CitadelBinding CitadelGamePadBinding
{
	visibility: collapse;
}

.hasControllerConnected.ControllerInUse CitadelBinding CitadelKeyboardBinding
{
	visibility: visible;
}

.hasControllerConnected.ControllerInUse CitadelBinding CitadelGamePadBinding
{
	visibility: visible;
}

.hasControllerConnected.ControllerInUse CitadelBinding CitadelKeyboardBinding
{
	visibility: collapse;
}

.hasControllerConnected.ControllerInUse .ZooContainerPanelCitadelBinding CitadelBinding CitadelGamePadBinding,.hasControllerConnected.ControllerInUse .ZooContainerPanelCitadelBinding CitadelBinding CitadelKeyboardBinding
{
	visibility: visible;
}

