/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

AbilityDetailsPanel
{
	font-family: sans;
	width: 600px;
}

#UpdateTime
{
	background-color: #11111190;
	color: colorCommonOffWhite;
	font-size: 14px;
	visibility: collapse;
	padding: 0px 8px 1px 8px;
	margin-top: 20px;
	border-radius: 2px;
	font-weight: semi-bold;
}

.recentlyUpdated #UpdateTime
{
	visibility: visible;
}

.HeaderContainer
{
	width: 100%;
	background-color: #111;
	padding: 20px;
}

.AbilityName
{
	font-family: sans;
	font-size: 29px;
	font-weight: bold;
	margin-bottom: -6px;
}

.AbilityName .highlight
{
	font-family: "Swear Text Demo";
	font-style: italic;
	font-weight: semi-bold;
	font-size: 32px;
}

#BasicPropertiesContainer
{
	flow-children: right-wrap;
	width: 100%;
	background-color: #00000070;
	margin: 3px 1px 1px 2px;
	padding: 8px 5px;
}

#BasicPropertiesContainer.NoVisibleBasicProperties
{
	visibility: collapse;
}

#SectionsContainer,.AbilityPropertiesBlock,#PromotedPropertiesContainer
{
	width: 100%;
}

.AbilityPropertiesBlock
{
	margin-top: 15px;
}

.HideHeaderText.AbilityPropertiesBlock
{
	margin-top: 0px;
}

.HeaderRight
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: up;
	margin-right: 10px;
}

#PromotedPropertiesContainer
{
	height: fit-children;
}

.CommonAttribute
{
	margin: 0px 2px;
}

#AbilityCooldownBetweenCharge
{
	margin: 0px;
	margin-left: -6px;
}

.AdditionalHeaderAttribute.CommonAttribute
{
	visibility: visible;
}

#AbilityCooldown
{
	horizontal-align: right;
}

.HeaderContainer AbilityPropertyPanel
{
	width: fit-children;
	height: 54px;
}

.HeaderContainer .HeaderRight AbilityPropertyPanel
{
	height: 40px;
}

#BasicPropertiesContainer AbilityPropertyPanel
{
	width: 49%;
	margin-right: 0px;
	margin-left: 0px;
}

#HeaderAttributesContainer .CurrentValue
{
	font-size: 17px;
}

AbilityPropertyPanel
{
	width: fill-parent-flow(1.0);
	height: 90px;
}

#SectionsContainer
{
	padding: 0px 20px 15px 20px;
}

.PropertiesBlockHeaderLabel
{
	font-weight: medium;
	color: offWhite&aa;
	font-size: 18px;
	margin-bottom: 8px;
	line-height: 130%;
}

.HideHeaderText .PropertiesBlockHeaderLabel
{
	visibility: collapse;
}

.PropertiesBlockHeaderLabel .highlight
{
	font-weight: bold;
	color: offWhite;
}

.PropertiesBlockHeaderLabel .highlight_weapon
{
	color: #FF9900;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .highlight_tech
{
	color: techColor;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .highlight_armor
{
	color: armorColor;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .highlight_courage
{
	color: courageBrightColor;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .highlight_spirit
{
	color: spiritBrightColor;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .highlight_fortitude
{
	color: fortitudeBrightColor;
	font-weight: bold;
}

.PropertiesBlockHeaderLabel .InlineGlyph
{
	width: 20px;
	height: 20px;
}

.PropertiesBlockHeaderLabel .diminish
{
	font-style: italic;
	color: #bfbbb050;
}

.ImbuedLabel
{
	font-size: 16px;
	horizontal-align: left;
	vertical-align: bottom;
	visibility: collapse;
	margin-bottom: 5px;
	color: spiritBrightColor;
	font-weight: bold;
	font-style: italic;
}

.AbilityIsImbued .ImbuedLabel
{
	visibility: visible;
}

