/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHoliday2025Page
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	flow-children: right;
	background-color: #000000aa;
}

.MainContents
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	max-width: 600px;
}

.CosmeticSection
{
	background-color: rgb(54, 71, 100);
	background-img-opacity: 0.8;
	flow-children: right;
	width: 600px;
	world-blur: ingameHudBlur;
	border-radius: 0px 0px 5px 5px;
	padding: 8px 16px 8px 4px;
	background-image: url("s2r://panorama/images/seasonal/2025/snowball_tooltip_bg_psd.vtex");
}

.SnowballDesc
{
	vertical-align: center;
	color: #CDCDCD;
	font-size: 18px;
	line-height: 20px;
	font-family: oracle;
	text-shadow: 2px 2px 0px #00000030;
}

.SnowballDesc .Emphasis
{
	font-weight: bold;
	color: #f0eeee;
}

#CosmeticAbilityContainer
{
	vertical-align: center;
	tooltip-position: right;
	opacity: 0.9;
	background-color: offBlack&88;
	border-radius: 50px;
	padding: 8px 0px;
	margin: 0px 16px 0px 12px;
	pre-transform-scale2d: 0.9;
	box-shadow: 2px 2px 0px #00000030;
	transition-property: wash-color, pre-transform-scale2d;
	transition-duration: 0.3s;
}

#CosmeticAbilityContainer:hover
{
	opacity: 1;
}

