/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHudPregameSimple
{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.0s;
}

CitadelHudPregameSimple.ShowPregame
{
	transition-duration: 0.5s;
	opacity: 1.0;
}

.HeroDetails
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.5s;
	opacity: 0.0;
}

.HeroLoaded .HeroDetails
{
	opacity: 1.0;
	transition-duration: 0.0s;
}

.HeroDetails #HeroScenePanelBacker
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	margin-right: 00px;
	margin-left: 130px;
	margin-bottom: 60px;
	margin-right: 100px;
	margin-left: 0px;
	opacity: 1;
	blur: gaussian(2px);
	opacity: .03;
	pre-transform-scale2d: 1.1;
}

.AspectRatio21x9 .HeroDetails #HeroScenePanelBacker
{
	margin-right: 0px;
}

.HeroDetails .HeroInfo
{
	flow-children: down;
	vertical-align: middle;
	width: 900px;
	margin-bottom: 64px;
}

.HeroDetails .HeroInfo .HeroRevealLabel
{
	horizontal-align: center;
	text-align: center;
	font-family: block;
	font-size: 32px;
	margin-bottom: 20px;
	color: #999;
}

.HeroDetails .HeroInfo #HeroLogo
{
	horizontal-align: center;
	text-align: center;
}

