/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPrewarmAssetsStatus.StatusNotification
{
	visibility: collapse;
	margin: 0px;
}

CitadelPrewarmAssetsStatus.StatusNotification.Prewarming
{
	visibility: visible;
}

CitadelPrewarmAssetsStatus.StatusNotification .IconContainer
{
	visibility: collapse;
}

CitadelPrewarmAssetsStatus.StatusNotification .Details
{
	opacity: 0.12;
	width: fit-children;
	horizontal-align: right;
	margin-right: 8px;
}

CitadelPrewarmAssetsStatus.StatusNotification .Title
{
	font-size: 18px;
	text-align: right;
	opacity: 0.6;
}

CitadelPrewarmAssetsStatus.StatusNotification .Desc
{
	text-align: right;
	horizontal-align: right;
	font-size: 16px;
}

