/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHeroReleaseVotePage
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	flow-children: right;
	padding-top:60px;
	flow-children: down;
}

.TitleContainer
{
	width: fit-children;
	height:fit-children;
	flow-children: down;
	padding: 60px 80px 0px 80px;
	horizontal-align: center;
	margin-left: -110px;
	opacity-mask: url("s2r://panorama/images/main_menu/hero_release_vote/text_speckle_mask_psd.vtex");
	opacity-mask-scale: 96% 96%;
}

.PageTitle
{
	width: fit-children;
	flow-children: down;
	horizontal-align: center;
	transform: rotateZ( -5deg );
	padding: 0px 20px;
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/text_backer_box_psd.vtex");
	background-size: 100% 100%;
}

.PageTitle Label
{
	font-size: 100px;
}

#Countdown
{
	margin-top: 2px;
	horizontal-align: center;
	padding: 5px 20px;
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/text_backer_box_psd.vtex");
	background-size: 100% 100%;
	transform: rotateZ( 2deg );
	opacity-mask: url("s2r://panorama/images/main_menu/hero_release_vote/text_speckle_mask_psd.vtex");
	opacity-mask-scale: 200% 700%;
}

#Countdown Label
{
	text-align: center;
	font-size: 20px;
	font-family: block;
}

#Countdown Label b
{
	font-size: 26px;
	color: white;
}

#Countdown.CountdownAfterEnd
{
	opacity: 0;
}

.RemainingVotes
{
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/text_backer_box_alt_psd.vtex");
	background-size: 100% 100%;
	padding: 5px 20px;
	horizontal-align: center;
	text-align: center;
	font-size: 26px;
	font-family: block;
	transform: rotateZ( -2deg );
	margin-left: 170px;
	margin-top: -6px;
}

.RemainingVotes b
{
	font-size: 28px;
	color: white;
}

.HowToGet
{
	horizontal-align: center;
	text-align: center;
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/text_backer_box_small_psd.vtex");
	background-size: 100% 100%;
	font-size: 14px;
	font-family: sans;
	font-style: italic;
	padding: 8px 25px;
	padding-top: 6px;
	transform: rotateZ( -1deg );
	margin-top: 4px;
	margin-left: 440px;
}

.HowToGetBonus
{
	horizontal-align: center;
	text-align: center;
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/text_backer_box_small_psd.vtex");
	background-size: 100% 100%;
	font-size: 14px;
	font-family: sans;
	font-style: italic;
	padding: 8px 25px;
	padding-top: 6px;
	transform: rotateZ( -.3deg );
	margin-top: -2px;
	margin-left: 480px;
	margin-bottom: 15px;
}

#HeroReleaseVoteOptions
{
	width: fit-children;
	horizontal-align: center;
	padding-top: 40px;
	padding: 0px 400px;
	overflow: noclip;
}

.HeroReleaseVoteOption
{
	width: 190px;
	height: 520px;
	transition-property: pre-transform-scale2d, border, box-shadow, brightness, transform, wash-color;
	transition-duration: .1s;
}

.HeroReleaseVoteOption:nth-child(1)
{
	margin-left: 0px;
}

.HeroReleaseVoteOption:hover:not(:disabled)
{
	pre-transform-scale2d: 1.06;
	z-index: 3;
	brightness: 1.5;
	transition-property: pre-transform-scale2d, border, box-shadow, brightness, transform, wash-color;
	transition-duration: .1s;
	padding: 0px;
}

.HeroReleaseVoteOption #Background
{
	width: 100%;
	height: 480px;
	background-size: auto 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition-property: wash-color;
	wash-color: #00000033;
}

.HeroReleaseVoteOption:hover:not(:disabled) #Background
{
	wash-color: #00000000;
}

.HeroReleaseVoteOption.Released #Background
{
	wash-color: #00000000;
}

.HeroReleaseVoteOption .LockIconContainer
{
	width: fit-children;
	height: fit-children;
	flow-children: none;
	horizontal-align: right;
	text-align: center;
	vertical-align: bottom;
	margin-bottom: 105px;
}

.HeroReleaseVoteOption .LockIcon
{
	horizontal-align: center;
	text-align: center;
	vertical-align: center;
	margin-bottom: 0px;
	width: 95px;
	height: 95px;
	margin-right: 5px;
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/hero_vote_lock_psd.vtex");
	background-size: auto 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotateZ( -5deg );
}

.HeroReleaseVoteOption .LockIconBacker
{
	width: 160px;
	height: 70px;
	margin-top: 12px;
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/text_backer_box_psd.vtex");
	background-size: 100% 100%;
	opacity-mask: url("s2r://panorama/images/main_menu/hero_release_vote/text_speckle_mask_psd.vtex");
	opacity-mask-scale: 600% 600%;
}

.HeroReleaseVoteOption .ReleasedName
{
	horizontal-align: center;
	text-align: center;
	vertical-align: center;
	padding: 5px 22px;
	transform: rotateZ( -5deg );
	text-overflow: shrink;
	color: #ffffff;
	font-size: 26 px;
	font-family: block;
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/text_backer_box_psd.vtex");
	background-size: 100% 100%;
	opacity-mask: url("s2r://panorama/images/main_menu/hero_release_vote/text_speckle_mask_psd.vtex");
	opacity-mask-scale: 200% 700%;
	visibility: collapse;
}

.HeroReleaseVoteOption .VoteHover
{
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/text_backer_box_white_psd.vtex");
	background-size: 100% 100%;
	opacity-mask: url("s2r://panorama/images/main_menu/hero_release_vote/text_speckle_mask_psd.vtex");
	opacity-mask-scale: 100%;
	horizontal-align: center;
	vertical-align: center;
	padding: 0px 20px 0px 20px;
	transform: rotateZ( -22deg );
	box-shadow: #000000aa 4px 4px 0px 0px;
	visibility: collapse;
	font-size: 50px;
	font-family: block;
	text-overflow: shrink;
	animation-name: VoteGroove;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.HeroReleaseVoteOption:hover:not(:disabled) .VoteHover
{
	visibility: visible;
}

.HeroReleaseVoteOption .BottomSection
{
	width: fit-children;
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 10px;
	margin-bottom: 20px;
	transform: rotateZ( 2deg );
}

.HeroReleaseVoteOption.ThreeDigit .BottomSection
{
	margin-bottom: 5px;
	margin-right: 5px;
}

.HeroReleaseVoteOption:not(.Released) .ReleasedName,.HeroReleaseVoteOption.Released .BottomSection,.HeroReleaseVoteOption.Released .LockIcon
{
	visibility: collapse;
}

.HeroReleaseVoteOption .VoteCounter
{
	margin-bottom: 10px;
	margin-left: -10px;
	width: 40px;
	height: 40px;
	padding: 8px 0px 15px 0px;
	text-align: center;
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/vote_counter_backer_psd.vtex");
	background-size: 100% 100%;
	transform: rotateZ( 8deg );
	wash-color: offWhite;
	color: black;
	font-family: block;
	font-size: 24px;
	visibility: collapse;
}

.HeroReleaseVoteOption.ThreeDigit .VoteCounter
{
	width: 60px;
	height: 60px;
	padding: 16px 0px 0px 0px;
	margin-top:10px;
	font-size: 24px;
	text-overflow: shrink;
}

.HeroReleaseVoteOption .VoteCounterDesc
{
	horizontal-align: center;
	text-align: center;
	padding: 5px 20px;
	padding-right: 25px;
	font-size: 12px;
	font-family: sans;
	font-style: italic;
	visibility: collapse;
	margin-top: 8px;
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/text_backer_box_psd.vtex");
	background-size: 100% 100%;
	opacity-mask: url("s2r://panorama/images/main_menu/hero_release_vote/text_speckle_mask_psd.vtex");
	opacity-mask-scale: 100%;
}

.HeroReleaseVoteOption.ThreeDigit .VoteCounterDesc
{
	margin-top: 25px;
}

.HeroReleaseVoteOption.HasVotesCast:not(.Released) .VoteCounter,.HeroReleaseVoteOption.HasVotesCast:not(.Released) .VoteCounterDesc
{
	visibility: visible;
}

.HeroReleaseVoteOption:enabled:hover
{
	sound: "UI.PlayMenu.Hover";
}

.HeroReleaseVoteOption:active
{
	sound: "UI.PlayMenu.Activate";
}

.HeroTextName
{
	width: 90%;
	height: 60px;
	margin-bottom: 8px;
	vertical-align: bottom;
	horizontal-align: center;
	font-size: 40px;
	color: offBlack;
	font-family: block;
	font-weight: bold;
	text-align: center;
	text-overflow: shrink;
}

.Language_english .HeroTextName
{
	visibility: collapse;
}

.EnglishHeroNames .HeroTextName
{
	visibility: collapse;
}

.Language_japanese .HeroTextName,.Language_schinese .HeroTextName,.Language_koreana .HeroTextName,.Language_thai .HeroTextName
{
	font-size: 38px;
	margin-bottom: 16px;
}

.HeroBakedName
{
	width: 100%;
	height: 60px;
	margin-bottom: 15px;
	vertical-align: bottom;
	visibility: collapse;
}

.Language_english .HeroBakedName
{
	visibility: visible;
}

.EnglishHeroNames .HeroBakedName
{
	visibility: visible;
}

#UnicornPanel
{
	x: 205px;
	transform: rotateZ(-1deg) translateY(-0px) translateX(-0px);
}

#UnicornPanel:hover:not(:disabled)
{
	transform: rotateZ(1deg) translateY(-0px) translateX(-0px);
}

#UnicornPanel:active
{
	brightness: 4;
	wash-color: #ffffff;
}

#UnicornPanel.Released .LockIconContainer
{
	visibility: collapse;
}

#UnicornPanel .HeroBakedName
{
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/hero_unicorn_name_psd.vtex");
	background-size: 100% 100%;
}

#WerewolfPanel
{
	x: 820px transform: rotateZ(-1deg) translateY(-0px) translateX(-0px);
}

#WerewolfPanel:hover:not(:disabled)
{
	transform: rotateZ(-1deg) translateY(-0px) translateX(-0px);
}

#WerewolfPanel .LockIcon
{
	animation-name: VoteGroove;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#WerewolfPanel:active
{
	brightness: 4;
	wash-color: #ffffff;
}

#WerewolfPanel .HeroBakedName
{
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/hero_werewolf_name_psd.vtex");
	background-size: 100% 100%;
}

#PriestPanel
{
	x: 1025px;
	transform: rotateZ(1deg) translateY(-0px) translateX(-0px);
}

#PriestPanel:hover:not(:disabled)
{
	transform: rotateZ(3deg) translateY(-0px) translateX(-0px);
}

#PriestPanel:active
{
	brightness: 4;
	wash-color: #ffffff;
}

#PriestPanel .LockIcon
{
	animation-name: VoteGroove2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#PriestPanel .HeroBakedName
{
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/hero_priest_name_psd.vtex");
	background-size: 100% 100%;
}

#NecroPanel
{
	x: 410px;
	transform: rotateZ(-2deg) translateY(-0px) translateX(-0px);
}

#NecroPanel:hover:not(:disabled)
{
	transform: rotateZ(-4deg) translateY(-0px) translateX(-0px);
}

#NecroPanel .LockIcon
{
	animation-name: VoteGroove3;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#NecroPanel:active
{
	brightness: 4;
	wash-color: #ffffff;
}

#NecroPanel .HeroBakedName
{
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/hero_necro_name_psd.vtex");
	background-size: 100% 100%;
}

#FamiliarPanel
{
	x: 615px;
	transform: rotateZ(1deg) translateY(-0px) translateX(-0px);
}

#FamiliarPanel:hover:not(:disabled)
{
	transform: rotateZ(2deg) translateY(-0px) translateX(-0px);
}

#FamiliarPanel .LockIcon
{
	animation-name: VoteGroove;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#FamiliarPanel:active
{
	brightness: 4;
	wash-color: #ffffff;
}

#FamiliarPanel .HeroBakedName
{
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/hero_familiar_name_psd.vtex");
	background-size: 100% 100%;
}

#FencerPanel
{
	x: 1025px;
	x: 0px;
	transform: rotateZ(1deg) translateY(-0px) translateX(-0px);
}

#FencerPanel:hover:not(:disabled)
{
	transform: rotateZ(3deg) translateY(-0px) translateX(-0px);
}

#FencerPanel .LockIcon
{
	animation-name: VoteGroove2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#FencerPanel:active
{
	brightness: 4;
	wash-color: #ffffff;
}

#FencerPanel .HeroBakedName
{
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/hero_fencer_name_psd.vtex");
	background-size: 100% 100%;
}

#UnicornPanel.Released,#WerewolfPanel.Released,#PriestPanel.Released,#NecroPanel.Released,#FamiliarPanel.Released,#FencerPanel.Released
{
	brightness: 2;
	pre-transform-scale2d: 1.06;
}

@keyframes 'VoteGroove'
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(2deg);
	}
	
	50%
	{
		transform: rotateZ(2deg);
	}
	
	51%
	{
		transform: rotateZ(-1deg);
	}
	
	75%
	{
		transform: rotateZ(-1deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

@keyframes 'VoteGroove2'
{
	0%
	{
		transform: rotateZ(4deg);
	}
	
	25%
	{
		transform: rotateZ(4deg);
	}
	
	26%
	{
		transform: rotateZ(-1deg);
	}
	
	50%
	{
		transform: rotateZ(-1deg);
	}
	
	51%
	{
		transform: rotateZ(0deg);
	}
	
	75%
	{
		transform: rotateZ(0deg);
	}
	
	76%
	{
		transform: rotateZ(2deg);
	}
	
	100%
	{
		transform: rotateZ(2deg);
	}
	
}

@keyframes 'VoteGroove3'
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(-1deg);
	}
	
	50%
	{
		transform: rotateZ(-1deg);
	}
	
	51%
	{
		transform: rotateZ(2deg);
	}
	
	75%
	{
		transform: rotateZ(2deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

