/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHeroSpotlight
{
	width: 100%;
	height: 100%;
}

#CustomHeroBackground
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	ui-scale: 100%;
	opacity: 1;
}

@keyframes 'BGGroove'
{
	0%
	{
		transform: skew(-10deg);
	}
	
	50%
	{
		transform: skew(10deg);
	}
	
	100%
	{
		transform: skew(-10deg);
	}
	
}

#HeroScenePanel
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	background-color: #00000001;
	opacity-mask: url("s2r://panorama/images/masks/hero_roster_psd.vtex");
	max-width: 2000px;
	opacity: 0;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 0.21s;
	transform: translateX(150px);
	opacity-brush: gradient( linear, 50% 50%, 100% 100%, from( #ffffff ), to( #000000 ) );
}

#HeroScenePanel.SceneLoaded
{
	opacity: 1;
}

#HeroScenePanelMask
{
	width: 128px;
	height: 128px;
	background-color: white;
	pre-transform-scale2d: 0;
	horizontal-align: right;
	margin: 24px;
	saturation: 0;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 1.21s;
}

#HeroScenePanelBlur
{
	width: 100%;
	height: 100%;
	background-image: url("panel://HeroScenePanel");
	background-size: contain;
	horizontal-align: center;
	vertical-align: center;
	max-width: 2000px;
	opacity-mask: url("panel://HeroScenePanelMask")-1;
	contrast: 1.4;
	brightness: 1.0;
	transform: translateX(150px);
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 1.21s;
	opacity: 0.3;
}

#HeroScenePanelBlur .FilmGrain
{
	width: 200%;
	height: 200%;
	overflow: noclip;
	opacity: 0.28;
	background-color: red;
	background-image: url("s2r://panorama/images/textures/filmgrain_psd.vtex");
	background-size: 512px;
	animation-name: HeroMezzotintMotion;
	-s2-mix-blend-mode: screen;
	animation-duration: 182ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-frame-time: 64ms;
}

@keyframes 'HeroMezzotintMotion'
{
	0%
	{
		transform: translateX(-54px) translateY(-24px);
	}
	
	20%
	{
		transform: translateX(44px) translateY(-34px);
	}
	
	30%
	{
		transform: translateX(34px) translateY(-44px);
	}
	
	40%
	{
		transform: translateX(-24px) translateY(-54px);
	}
	
	50%
	{
		transform: translateX(-124px) translateY(-54px);
	}
	
	60%
	{
		transform: translateX(-24px) translateY(-154px);
	}
	
	70%
	{
		transform: translateX(-84px) translateY(-14px);
	}
	
	80%
	{
		transform: translateX(-94px) translateY(-14px);
	}
	
	90%
	{
		transform: translateX(-42px) translateY(-76px);
	}
	
	100%
	{
		transform: translateX(-0px) translateY(-14px);
	}
	
}

