/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

CitadelProfilePageMatchHistory
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	flow-children: down;
	background-color: #000000aa;
}

.MatchHistoryTitle
{
	width: 100%;
	margin-top: 100px;
	margin-bottom: 10px;
}

.MatchHistoryTitle Label
{
	color: offWhite;
	font-weight: bold;
	padding: 10px;
	font-size: 36px;
	horizontal-align: center;
	text-transform: uppercase;
}

#MatchListingLoading
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	visibility: collapse;
}

.isLoading #MatchListingLoading
{
	visibility: visible;
}

#MatchListingLoading Label
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 30px;
	color: white;
}

#MatchListing
{
	horizontal-align: center;
	width: 1330px;
	height: 720px;
	flow-children: right-wrap;
}

CitadelMatchHistoryBlockLarge
{
	ui-scale: 115%;
	margin: 5px;
}

.isLoading #MatchListing
{
	visibility: collapse;
}

.MatchHistoryFooter
{
	width: 100%;
	height: 60px;
	padding: 10px;
}

.MatchHistoryButton
{
	border: 1px solid white;
	height: 100%;
	width: 150px;
	visibility: collapse;
}

.MatchHistoryButton:hover
{
	border: 1px solid yellow;
}

.MatchHistoryButton:hover Label
{
	color: yellow;
}

.MatchHistoryButton Label
{
	color: white;
	font-size: 22px;
	horizontal-align: center;
	vertical-align: center;
}

.canNavPrev #PrevMatchPage
{
	visibility: visible;
}

.canNavNext #NextMatchPage
{
	visibility: visible;
}

#PrevMatchPage
{
	horizontal-align: left;
}

#NextMatchPage
{
	horizontal-align: right;
}

