/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#NavButton
{
	margin: 10px;
	font-size: 32px;
	padding: 10px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000FF ), to( #00000000 ) );
}

#NavButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #888888FF ), to( #00000000 ) );
}

.Prompt
{
	font-size: 32px;
}

.ComingSoon .UnlockCtn,.Unlocked .UnlockCtn
{
	visibility: collapse;
}

.ComingSoonText
{
	visibility: collapse;
	font-size: 14px;
	color: yellow;
}

.ComingSoon .ComingSoonText
{
	visibility: visible;
}

.UnlockCtn
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: top;
}

.UnlockIcon
{
	background-image: url("s2r://panorama/images/upgrades/lock_icon_psd.vtex");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.SingleUnlock .UnlockCost
{
	visibility: collapse;
}

.NotReachable #NavButton
{
	border-color: #888888;
}

