/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHeroStatsWeapon
{
	padding-top: 50px;
	overflow: noclip;
}

#GunImage
{
	width: 280px;
	height: 130px;
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: bottom;
}

#WeaponFalloffRange
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: down;
	background-color: #000000ee;
}

.FalloffLabel
{
	font-size: 13px;
	text-transform: uppercase;
	font-weight: semi-bold;
	horizontal-align: right;
	opacity: 0.3;
	horizontal-align: center;
	margin-bottom: -6px;
}

.RangeArrow
{
	height: 20px;
	width: 20px;
	background-size: contain;
	background-image: url("s2r://panorama/images/control_icons/arrow_right_png.vtex");
	vertical-align: center;
}

#StatContainer_WeaponRangeFalloffMin,#StatContainer_WeaponRangeFalloffMax
{
	width: 55px;
	margin: 0;
	border-radius: 0;
	background-color: #00000000;
}

#BulletDPSContainer
{
	horizontal-align: right;
	vertical-align: top;
	ui-scale: 105%;
	margin-bottom: 50px;
}

#BulletDPSContainer CitadelModifiedAttributeLabel
{
	width: fit-children;
}

#StatContainer_DPS
{
	margin: 0px;
	border-radius: 0px;
	min-width: 100px;
	background-color: #00000000;
}

#WeaponInfoContainer
{
	background-color: #00000090;
	height: 120px;
	width: 100%;
	overflow: noclip;
}

.weaponNameAndAttributes
{
	width: 100%;
	padding: 15px;
}

#WeaponAttributesContainer
{
	width: 100%;
	height: 27px;
	margin-top: 8px;
}

#WeaponAttributesContainer #AttributeLabel
{
	background-color: offBlack&aa;
	font-size: 16px;
	font-weight: semi-bold;
	padding: 0px 6px 1px 6px;
	border-radius: 3px;
	margin-right: 8px;
}

.NoSecondaryWeaponDesc #SecondaryWeaponDisplayStats
{
	visibility: collapse;
}

