/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelFriend
{
	tooltip-position: top;
	tooltip-body-position: 50% 0%;
	context-menu-body-position: 50% 50%;
}

#FriendRichPresence Label a
{
	text-decoration: underline;
}

#FriendRichPresence Label a:hover
{
	color: white;
	text-decoration: underline;
}

#FriendNameContainer
{
	flow-children: right;
}

#FriendName
{
	width: 1000px;
}

CitadelFriend #FriendName Label
{
	white-space: nowrap;
}

CitadelFriend #FriendRichPresence Label
{
	white-space: nowrap;
	color: #FFEFD780;
	margin-top: 24px;
	font-size: 14px;
}

.IsLayoutLargeScreen CitadelFriend #FriendRichPresence Label
{
	font-size: 16px;
}

CitadelFriend #FriendImage
{
	horizontal-align: center;
	width: 100%;
	height: 100%;
}

CitadelFriend #FriendAvatarImage,CitadelFriend #EmptyPanel
{
	width: 100%;
	height: 100%;
	ui-scale: 120%;
	vertical-align: bottom;
	border: 1px solid black;
}

#FriendAvatarImage #AvatarImage
{
	width: 150%;
	height: 100%;
}

#FriendNickname
{
	margin-top: 24px;
	margin-right: 0px;
	visibility: collapse;
}

#FriendNickname Label
{
	font-size: 20px;
}

#FriendNickname Label .PersonaName
{
	color: #888888;
	font-size: 14px;
}

.hasSteamNickname #FriendName
{
	visibility: collapse;
}

.hasSteamNickname #FriendNickname
{
	visibility: visible;
}

#FriendImagePanel
{
	vertical-align: center;
}

#HomeFriendsList #FriendImagePanel
{
	box-shadow: none;
	vertical-align: middle;
}

CitadelFriend #EmptyPanel
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #666666 ), to( #999999 ) );
	wash-color: #999999;
}

CitadelFriend #EmptyPanel:hover
{
	wash-color: #CCCCCC;
}

.MobileIcon
{
	vertical-align: bottom;
	horizontal-align: right;
	width: 18px;
	height: 30px;
	margin-right: 5px;
	margin-bottom: 5px;
	wash-color: white;
	background-size: 100% 100%;
	visibility: collapse;
}

#SocialBodyParty .IsMobile .MobileIcon
{
	visibility: visible;
}

CitadelFriend #EmptyPanel:active
{
	sound: "ui_friends_slide_in";
}

CitadelFriend #PartyWithFriendButton
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 60% 60%;
	transform: rotateZ( 0deg);
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B51 ), to( #5C9C68 ) );
	wash-color: #ABEAA8;
	border-radius: 3px;
	transition-property: background-color, wash-color, transform, opacity-mask, opacity, pre-transform-scale2d;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

CitadelFriend #PartyWithFriendButton:hover
{
	wash-color: #ffffff;
}

CitadelFriend #PartyWithFriendButton:active
{
	wash-color: #aaaaaa;
}

CitadelFriend #PartyWithFriendButton.Hidden
{
	visibility: collapse;
}

CitadelFriend #EventLevelIcon
{
	width: 20px;
	height: 20px;
	margin-right: 2px;
	visibility: collapse;
}

CitadelFriend.EventActive #EventLevelIcon
{
	visibility: visible;
}

CitadelFriend.CurrentUser
{
	flow-children: right;
}

CitadelFriend.CurrentUser #FriendImage
{
	width: 48px;
	height: 48px;
	border: 5px solid #64b158;
	box-shadow: #76b06d22 -5px -5px 10px 10px;
}

CitadelFriend.CurrentUser #FriendDetails
{
	flow-children: down;
	margin-left: 10px;
}

.RegionChina #FriendImage
{
	visibility: collapse;
}

CitadelFriend.SoloFriend #FriendAddButton,CitadelFriend.SoloFriend #FriendInviteToGameButton
{
	width: 80px;
	horizontal-align: right;
	opacity: 0;
	vertical-align: center;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B51 ), to( #5C9C68 ) );
	wash-color: #ABEAA8;
	transition-property: opacity;
	transition-duration: 0.3s;
}

CitadelSocialPage CitadelFriend:hover #FriendAddButton,PopupPlaytestUser CitadelFriend.SoloFriend.CanInvite:hover #FriendInviteToGameButton
{
	opacity: 0.4;
	saturation: 0;
}

CitadelSocialPage CitadelFriend #FriendAddButton:hover
{
	opacity: 1;
	saturation: 1;
}

.in_matchmaking CitadelFriend.SoloFriend:hover #FriendAddButton,.party_clear_mode CitadelFriend.SoloFriend:hover #FriendAddButton
{
	visibility: collapse;
}

.LowVisualQuality CitadelFriend.SoloFriend #FriendAddButton,.LowVisualQuality CitadelFriend.SoloFriend:hover #FriendAddButton
{
	wash-color: none;
	border-radius: 0px;
}

CitadelFriend.SoloFriend #AddUnvailableButton
{
	width: 80px;
	horizontal-align: right;
	opacity: 0;
	vertical-align: center;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #a1a1a1 ), to( #5C9C68 ) );
	saturation: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.in_matchmaking CitadelFriend.SoloFriend:hover #AddUnvailableButton,.party_clear_mode CitadelFriend.SoloFriend:hover #AddUnvailableButton
{
	opacity: 0.5;
	visibility: visible;
}

.in_matchmaking CitadelFriend.SoloFriend.CanInvite:hover #AddUnvailableButton
{
	opacity: 0;
}

.InviteText
{
	font-size: 16px;
	font-weight: semi-bold;
	text-align: center;
	horizontal-align: center;
	vertical-align: middle;
	line-height: 20px;
}

#SocialBodyParty #FriendAddButton
{
	visibility: collapse;
}

PopupPartyInviteFriend #FriendAddButton
{
	visibility: collapse;
}

#FriendsOffline #FriendAddButton,#FriendsSentInvite #FriendAddButton,.InSameParty #FriendAddButton
{
	visibility: collapse;
}

CitadelFriend.CurrentUser #FriendName Label .PersonaName
{
	font-weight: bold;
	font-size: 23px;
	color: #94ec8f;
}

CitadelFriend.CurrentUser #FriendName Label
{
	text-shadow: 0px 0px 6px 1.0 #93eb8f55;
}

CitadelFriend.CurrentUser #FriendRichPresence Label
{
	font-size: 14px;
	color: #b2f2ae;
}

CitadelFriend.SoloFriend
{
	width: 100%;
	flow-children: right;
	background-color: #ffffff05;
	transition-property: background-color;
	transition-duration: 0.0s;
}

.SelectedPlayer CitadelFriend.SoloFriend,.FriendsPlayingCitadel .SelectedPlayer CitadelFriend.SoloFriend:hover
{
	background-color:rgba(170, 255, 170, 0.1);
}

.FriendsPlayingCitadel CitadelFriend.SoloFriend:hover
{
	background-color: #ffffff10;
}

.IsLayoutSmallScreen CitadelFriend.SoloFriend
{
	width: 100%;
	flow-children: right;
	padding-bottom: 8px;
	padding-top: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 0px;
	background-color: #343e4400;
	transition-property: background-color;
	transition-duration: 0.0s;
}

CitadelFriend.SoloFriend #FriendImage
{
	width: 48px;
	height: 48px;
	box-shadow: #00000030 0px 0px 15px;
}

#SocialPanelBody CitadelFriend.SoloFriend #FriendImage
{
	width: 60px;
	height: 60px;
}

.Team1 #FriendImage
{
	border: 2px solid #b2b22c;
}

.Team2 #FriendImage
{
	border: 2px solid #ebb150;
}

.Team3 #FriendImage
{
	border: 2px solid #736bd2;
}

.Team4 #FriendImage
{
	border: 2px solid #b82e22;
}

.Team5 #FriendImage
{
	border: 2px solid #908860;
}

.Team6 #FriendImage
{
	border: 2px solid #6499e6;
}

.Team7 #FriendImage
{
	border: 2px solid #dd8aaa;
}

.Team8 #FriendImage
{
	border: 2px solid #dd8531;
}

.IsLayoutSmallScreen #SocialPanelBody CitadelFriend.SoloFriend #FriendImage
{
	width: 80px;
	height: 80px;
}

.HomeFriendsListContainer CitadelFriend.SoloFriend #FriendImage
{
	width: 36px;
	height: 36px;
}

#CurrentUserStatus CitadelFriend.SoloFriend
{
	margin: 0px;
	padding: 0px;
}

#CurrentUserStatus CitadelFriend.SoloFriend #FriendImage
{
	width: 64px;
	height: 64px;
}

CitadelFriend.SoloFriend #FriendDetails
{
	flow-children: none;
	margin-left: 10px;
	width: 100%;
}

#SocialPanelBody CitadelFriend.SoloFriend #FriendDetails
{
	height: 62px;
}

.IsLayoutSmallScreen #SocialPanelBody CitadelFriend.SoloFriend #FriendDetails
{
	height: 90px;
}

CitadelFriend.SoloFriend #FriendNameContainer
{
	width: fill-parent-flow(1.0);
	margin-top: 2px;
}

CitadelFriend.SoloFriend #FriendDetailsContainer
{
	flow-children: right;
}

.IsLayoutSmallScreen CitadelFriend.SoloFriend #FriendNameContainer
{
	width: 100%;
	margin-top: 4px;
}

CitadelFriend.SoloFriend #PartyWithFriendButton
{
	horizontal-align: right;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	opacity: 0.0;
	pre-transform-scale2d: 0.6;
	transition-property: opacity, pre-transform-scale2d, background-color, wash-color, transform, opacity-mask;
	transition-duration: 0.12s;
	border: 1px solid black;
	tooltip-body-position: 0% 50%;
}

#FriendsOpenParties CitadelFriend.SoloFriend #PartyWithFriendButton
{
	opacity: 1;
	pre-transform-scale2d: 1;
}

#FriendsOpenParties CitadelFriend.SoloFriend.ShowInviteInProgress #PartyWithFriendButton
{
	opacity: 0.05;
	pre-transform-scale2d: 1;
}

#FriendsOpenParties CitadelFriend.SoloFriend.ShowInviteInProgress:hover #PartyWithFriendButton
{
	opacity: 0.35;
	pre-transform-scale2d: 1;
	transition-duration: 0.35s;
}

#FriendsOpenParties CitadelFriend.SoloFriend.ShowInviteInProgress:hover #PartyWithFriendButton
{
	opacity: 0.35;
	pre-transform-scale2d: 1;
	transition-duration: 0.35s;
}

.PlayingOrOpenPartyCategory CitadelFriend.SoloFriend:hover #PartyWithFriendButton
{
	opacity: 1;
	pre-transform-scale2d: 1;
	transition-duration: 0.35s;
}

.PlayingOrOpenPartyCategory CitadelFriend.SoloFriend.ShowInviteInProgress:hover #PartyWithFriendButton
{
	opacity: 0.35;
}

#FriendsOnline CitadelFriend.SoloFriend:hover #PartyWithFriendButton
{
	opacity: 1.0;
	pre-transform-scale2d: 1;
	transition-duration: 0.0s;
}

#FriendsOnline CitadelFriend.SoloFriend.ShowInviteInProgress:hover #PartyWithFriendButton
{
	opacity: 0.35;
	pre-transform-scale2d: 1;
	transition-duration: 0.35s;
}

CitadelFriend.SoloFriend.NoPartyInvite #PartyWithFriendButton
{
	visibility: collapse;
}

#InviteButtonContainer
{
	width: 30px;
	height: 30px;
	horizontal-align: right;
	vertical-align: middle;
}

.PendingInviteItem #InviteButtonContainer
{
	visibility: collapse;
}

#PendingInvitesRadialSweepContainer
{
	width: 30px;
	height: 30px;
	border-radius: 3px;
	overflow: noclip;
	wash-color: #93ff8f;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#PendingInvitesRadialSweep
{
	background-size: 1200%;
}

CitadelFriend.ShowInviteInProgress #PendingInvitesRadialSweepContainer
{
	opacity: 0.5;
}

CitadelFriend.ShowInviteInProgress #PartyWithFriendButton
{
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 60% 60%;
	transform: rotateZ( 0deg );
	background-color: none;
	opacity: 0.05;
	pre-transform-scale2d: 1;
	border: 1px solid transparent;
	wash-color: #93ff8f;
	margin: 0px;
	transition-property: background-color, wash-color, transform, opacity-mask, opacity;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.ShowInviteInProgress #InviteButtonContainer:hover #PartyWithFriendButton
{
	transform: rotateZ( 135deg );
	wash-color: red;
}

CitadelFriend.SoloFriend #FriendName Label
{
	color: #FFEFD7;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
}

.IsLayoutSmallScreen CitadelFriend.SoloFriend #FriendName Label
{
	font-size: 30px;
}

.FriendsPlayingCitadel CitadelFriend.SoloFriend #FriendName Label
{
	color: #e3ffc2;
}

.FriendsPlayingCitadel CitadelFriend.InSameParty #FriendName Label
{
	color: #f1eaff;
}

.FriendsOnline CitadelFriend.SoloFriend #FriendName Label
{
	color: #6dcff6;
}

.FriendsOffline CitadelFriend.SoloFriend #FriendName Label
{
	color: grey;
}

.FriendsPlayingCitadel CitadelFriend.SoloFriend #FriendRichPresence Label
{
	margin-top: 24px;
	font-size: 16px;
	letter-spacing: 0px;
	max-width: 320px;
	color: #91c257;
}

.FriendsOnline CitadelFriend.SoloFriend #FriendRichPresence Label
{
	margin-top: 24px;
	font-size: 16px;
	letter-spacing: 0px;
	max-width: 320px;
	color: #4c91ac;
}

.FriendsPlayingCitadel CitadelFriend.InSameParty #FriendRichPresence Label
{
	margin-top: 24px;
	font-size: 16px;
	letter-spacing: 0px;
	max-width: 320px;
	color: #9777ad;
}

.IsLayoutSmallScreen CitadelFriend.SoloFriend #FriendRichPresence Label
{
	margin-top: 36px;
	font-size: 22px;
	max-width: 410px;
}

CitadelFriend.EditMode
{
	flow-children: right;
}

CitadelFriend.EditMode #FriendImagePanel
{
	width: 48px;
	height: 48px;
}

CitadelFriend.EditMode #FriendDetails
{
	flow-children: down;
	margin-left: 10px;
	width: 200px;
}

CitadelFriend.EditMode #PartyWithFriendButton
{
	visibility: collapse;
}

CitadelFriend.EditMode #FriendName Label
{
	font-weight: bold;
	font-size: 16px;
}

CitadelFriend.EditMode #FriendRichPresence Label
{
	font-size: 14px;
	margin-top: 2px;
}

#InPartyGroup CitadelFriend #FriendRichPresence Label
{
	color: #8588a0;
}

#InPartyGroup .IsInvite CitadelFriend #FriendRichPresence Label
{
	color: #8588a0;
}

.FriendPartyInfo
{
	flow-children: right;
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 1px;
	visibility: collapse;
}

#SocialBodyParty .InParty .FriendPartyInfo
{
	visibility: visible;
}

.PartyInfoLabel
{
	font-size: 16px;
	margin-right: 5px;
}

.IsLayoutSmallScreen .PartyInfoLabel
{
	font-size: 22px;
	margin-right: 5px;
}

.PartyInfoLabel.Ready
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #76d678 ), to( #4aad4d ) );
	visibility: collapse;
}

.PartyInfoLabel.NotReady
{
	color: white;
	color: gradient( linear, 0% 0%, 0% 100%, from( #d06c6c ), to( #de4242 ) );
	visibility: collapse;
}

.PartyInfoLabel.Spectator
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ccc ), to( #aaa ) );
	visibility: collapse;
}

.PartyInfoLabel.InvitePending
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #d06c6c ), to( #de4242 ) );
	visibility: collapse;
}

.IsReady .PartyInfoLabel.Ready,.IsNotReady .PartyInfoLabel.NotReady,.IsSpectator .PartyInfoLabel.Spectator,.InSamePartyInvite .PartyInfoLabel.InvitePending
{
	visibility: visible;
}

CitadelFriend.CustomLobbyPlayer
{
	margin-top: 4px;
	margin-bottom: 4px;
	width: 100%;
	tooltip-position: right;
	tooltip-body-position: 0% 50%;
	context-menu-position: right;
	context-menu-body-position: 0% 50%;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0%;
}

CitadelFriend.CustomLobbyPlayer #FriendImage
{
	width: 38px;
	height: 38px;
	box-shadow: #000000 0px 0px 4px 0px;
}

CitadelFriend.CustomLobbyPlayer #PartyWithFriendButton
{
	visibility: collapse;
}

CitadelFriend.CustomLobbyPlayer #FriendDetails
{
	margin-left: 6px;
	margin-right: 0px;
}

CitadelFriend.CustomLobbyPlayer #FriendName Label
{
	color: #ffffff;
	font-size: 19px;
	margin-left: 2px;
}

CitadelFriend.CustomLobbyPlayer #FriendNameContainer
{
	margin-top: 5px;
}

CitadelFriend.CustomLobbyPlayer #FriendRichPresence Label
{
	visibility: collapse;
}

CitadelFriend.PendingInvite
{
	flow-children: right;
}

CitadelFriend.PendingInvite #FriendImage
{
	width: 48px;
	height: 48px;
	box-shadow: #000000 0px 0px 5px 0px;
}

CitadelFriend.PendingInvite #FriendDetails
{
	flow-children: down;
	margin-left: 10px;
	margin-right: 16px;
	width: 200px;
}

CitadelFriend.PendingInvite #PartyWithFriendButton
{
	visibility: collapse;
}

CitadelFriend.PendingInvite #FriendName Label
{
	font-weight: thin;
	font-size: 18px;
	vertical-align: middle;
}

CitadelFriend.PendingInvite #FriendRichPresence Label
{
	margin-top: 2px;
	font-size: 14px;
}

CitadelFriend#ReportPlayer #FriendDetails Label
{
	color: white;
}

