/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#AbilityImage
{
	height: 30px;
	width: 30px;
	margin-right: 10px;
	opacity: 0.6;
	border-radius: 5px;
	vertical-align: center;
}

.AffectedAbility
{
	width: 100%;
	height: fit-children;
	margin: 5px 0px;
	font-size: 18px;
	flow-children: right;
}

.IsImbued.AffectedAbility
{
	background-color: spiritDarkColor;
}

#AffectedPropertiesContainer
{
	width: 90%;
	height: fit-children;
	vertical-align: center;
	flow-children: down;
}

.AffectedAbilityProperty
{
	width: 100%;
	flow-children: right;
	vertical-align: center;
}

.AffectedPropertyName
{
	margin-right: 8px;
	font-weight: semi-bold;
	color: colorCommonOffWhite;
	opacity: 0.6;
	font-size: 16px;
	width: 200px;
	height: 22px;
	text-overflow: shrink;
}

.AffectedPropertySubText
{
	visibility: collapse;
	font-size: 14px;
	font-style: italic;
	opacity: 0.3;
	font-weight: medium;
}

.HasSubText .AffectedPropertySubText
{
	visibility: visible;
}

.AffectedValCur
{
	font-size: 18px;
	font-weight: bold;
	color: colorCommonOffWhite;
	opacity: 0.5;
}

.AffectedValDelta
{
	color: #66FF99;
	margin-right: 5px;
	visibility: collapse;
}

.AffectedPropertyDeltaContainer
{
	ignore-parent-flow: true;
	horizontal-align: right;
}

.AffectedValArrow
{
	height: 12px;
	width: 12px;
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: center;
	wash-color: colorCommonOffWhite;
	opacity: 0.25;
}

.AffectedValNew
{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	font-family: sansMono;
}

.WeaponMod .AffectedValNew,.WeaponMod .AffectedValPostfix
{
	color: courageBrightColor;
}

.ArmorMod .AffectedValNew
{
	color: fortitudeBrightColor;
}

.TechMod .AffectedValNew,.TechMod .AffectedValPostfix
{
	color: spiritBrightColor;
}

.AffectedValPostfix
{
	vertical-align: center;
}

.PropertyNameContainer,.AffectedPropertyDeltaContainer
{
	vertical-align: center;
}

