/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelMatchmakingStatus
{
	flow-children: none;
	padding: 16px;
}

.Main
{
	flow-children: right;
	vertical-align: top;
}

.IconContainer
{
	width: 64px;
	height: 64px;
	background-image: url("s2r://panorama/images/main_menu/deadlock_logo_outer.vsvg");
	background-texture-size: 64px 64px;
	background-size: 64px 64px;
	flow-children: none;
}

.State_WaitingForPartyRosters .IconContainer
{
	wash-color: offWhite;
	animation-name: WaitingPulse;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.State_WaitingForMatch .IconContainer,.State_ConnectingToServer .IconContainer
{
	animation-name: RotateOuter;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	wash-color: ominousGreen;
}

.IconContainer .Icon
{
	vertical-align: middle;
	horizontal-align: center;
	background-size: contain;
	width: 64px;
	height: 64px;
	background-texture-size: 64px 64px;
	background-size: 64px 64px;
	background-repeat: no-repeat;
	background-position: center;
}

.State_WaitingForPartyRosters .IconContainer .Icon
{
	background-image: url("s2r://panorama/images/main_menu/deadlock_logo_inner_noeye.vsvg");
	animation-name: WaitingPulse;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.State_WaitingForMatch .IconContainer .Icon,.State_ConnectingToServer .IconContainer .Icon
{
	background-image: url("s2r://panorama/images/main_menu/deadlock_logo_inner.vsvg");
	animation-name: RotateInner;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.IconContainer .IconCenter
{
	vertical-align: middle;
	horizontal-align: center;
	background-size: contain;
	width: 64px;
	height: 64px;
	background-texture-size: 64px 64px;
	background-size: 64px 64px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
}

.State_WaitingForPartyRosters .IconContainer .IconCenter
{
	opacity: 1;
	background-image: url("s2r://panorama/images/main_menu/deadlock_logo_eye.vsvg");
	animation-name: WaitingPulseEye;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.Time
{
	font-family: sansMono;
	color: offWhite&44;
	width: 64px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin-top: 68px;
}

.State_WaitingForMatch .Time
{
	color: ominousGreen&66;
}

.State_ConnectingToServer .Time
{
	visibility: collapse;
}

.Details
{
	margin-left: 16px;
	flow-children: down;
}

.RosterSelectVisible .Details
{
	opacity: 0;
}

.Details .DetailsRow
{
	margin-top: 16px;
	flow-children: right;
}

.Details .DescriptionRow
{
	width: 100%;
}

.Details .State
{
	color: ominousGreen;
	text-transform: uppercase;
	font-size: 28px;
	font-family: block;
}

.State_ConnectingToServer .Details .State
{
	color: offWhite&88;
}

.Details .Mode
{
	color: ominousGreen;
	text-transform: uppercase;
	font-size: 28px;
	font-family: block;
	margin-left: 6px;
}

.State_ConnectingToServer .Details .Mode,.State_WaitingForPartyRosters .Details .Mode
{
	visibility: collapse;
}

.Details .QueueCount
{
	flow-children: right;
	horizontal-align: left;
	margin: 2px 0px 0px 8px;
	opacity: 0.5;
	visibility: collapse;
}

.ShowQueueCount .Details .QueueCount
{
	visibility: visible;
}

.Details .QueueCount .QueueCountIcon
{
	width: 20px;
	height: 20px;
	wash-color: ominousGreen;
	vertical-align: middle;
	margin-right: 4px;
	margin-top: 0px;
	background-image: url("s2r://panorama/images/icons/icon_steam_friend.vsvg");
	background-size: contain;
}

.Details .QueueCount Label
{
	color: ominousGreen;
	font-family: block;
	margin-top: 4px;
}

.Details .InteractHint
{
	width: 400px;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	margin-top: -4px;
}

.InEscapeMenu .Details .InteractHint,.InDashboard .Details .InteractHint
{
	opacity: 0;
}

.Details .InteractHint Label
{
	overflow: noclip;
	horizontal-align: left;
	text-align: center;
	font-size: 16px;
	font-weight: semi-bold;
	opacity: 0.2;
	color: deeplyOminousGreen;
	font-family: block;
	text-transform: uppercase;
	border-top: 4px;
	margin: 0px 0px 0px 0px;
}

.InHideout .Details .InteractHint Label.DefaultHint
{
	opacity: 0;
}

.Details .InteractHint Label.HideoutHint
{
	opacity: 0;
}

.InHideout .Details .InteractHint Label.HideoutHint
{
	opacity: 1;
}

.Details .InteractHint Label CitadelBinding
{
	transform: translateY(-5px);
	overflow: noclip;
}

#FindingMatchFX
{
	width: 1100px;
	height: 808px;
	wash-color: offWhite;
	brightness: 1;
	vertical-align: top;
	margin-left: -400px;
	margin-top: -400px;
	opacity: 0;
}

.State_ConnectingToServer #FindingMatchFX,.State_WaitingForMatch #FindingMatchFX
{
	opacity: 0.5;
}

