/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelTooltipAbilityDetails.TooltipVisible
{
	transition-duration: 0.1s;
	opacity: 1;
}

AbilityDetailsPanel
{
	width: 100%;
	border-radius: 8px 8px 0px 0px;
}

.UpgradesContainer
{
	background-color: spiritDarkerColor&aa;
	width: 100%;
}

#BottomHeader
{
	width: 100%;
	padding-top: 20px;
	padding-left: 24px;
	padding-right: 24px;
	vertical-align: center;
	font-weight: semi-bold;
	color: offWhite;
	visibility: collapse;
}

CitadelAbilityUpgradeList
{
	padding: 24px;
}

