/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CCitadelSeasonalModal2024
{
	height: fit-children;
	width: fit-children;
	vertical-align: top;
	horizontal-align: right;
	margin-top: 22px;
	margin-right: 520px;
	z-index: 99;
}

#TopContainer
{
	width: 100%;
}

CitadelHeroImage
{
	width: 28px;
	margin: 2px;
	opacity: 1;
	background-color: #00000099;
	box-shadow: inset 0px 0px 8px #00000033;
	border-radius: 2px;
	visibility: collapse;
}

CitadelHeroImage.achievementUnlocked
{
	visibility: visible;
}

#HeroesContainer
{
	flow-children: right-wrap;
	width: fit-children;
	border-radius: 5px;
	background-texture-size: 20px 20px;
	background-image: url("s2r://panorama/images/textures/diagonal_stripes.vsvg");
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #cc4848), to( #9b2628 ) );
	background-img-opacity: 0.03;
	padding: 2px 2px;
	vertical-align: center;
	max-width: 380px;
	margin-right: 120px;
	margin-top: 8px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.05s;
	transition-timing-function: ease-in-out;
}

.showingHeroes #HeroesContainer
{
	opacity: 1;
}

#AwardsContainer
{
	vertical-align: center;
	horizontal-align: right;
	margin-right: 4px;
}

#AwardsLabel
{
	font-size: 24px;
	font-weight: bold;
	vertical-align: center;
	margin-left: 8px;
}

#AwardsBadge
{
	background-image: url("s2r://panorama/images/seasonal/2024/achievement_icon_psd.vtex");
	background-size: contain;
	width: 48px;
	height: 48px;
	margin-top: 4px;
	margin-left: 4px;
	img-shadow: 0px 0px 20px #00000088;
}

