/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelAbilityUpgradeList
{
	flow-children: right;
	width: 100%;
}

CitadelAbilityDetailsPanel .abilityUpgradesHeader,CitadelTooltipAbilityDetails .abilityUpgradesHeader
{
	visibility: collapse;
}

.abilityUpgradesHeader
{
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 24px;
	padding-right: 24px;
	background-color: spiritDarkerColor;
	font-weight: semi-bold;
	color: colorUpgrades;
}

CitadelHeroDetailsPage .abilityUpgradesHeader
{
	margin-bottom: 15px;
}

.abilityUpgradeHeaderLabel
{
	color: black;
	margin-left: 10px;
	font-weight: bold;
	font-family: "New Spirit Trial";
}

CitadelHeroDetailsPage .abilityUpgradeHeaderLabel
{
	color: #ffffff90;
	font-weight: semi-bold;
}

.abilityUpgradeAvailable #TechUpgradesLabel,#TechUpgradesAvailableLabel
{
	visibility: collapse;
}

.abilityUpgradeAvailable #TechUpgradesAvailableLabel
{
	visibility: visible;
}

.abilityUpgradeAvailable .horizontalDivider
{
	width: 48%;
}

.horizontalDivider
{
	width: 68%;
	margin-left: 5px;
	height: 1px;
	background-color: defaultBGColor3;
	vertical-align: center;
	horizontal-align: right;
}

