/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#NavButton
{
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	border: 3px solid geistBookColor&30;
}

#NavButton:hover #Icon
{
	opacity: 1;
}

.IsUnlockable.Unlocked #NavButton
{
	border-color: geistBookColor&30;
}

.IsUnlockable #NavButton
{
	border-color: geistBookColor;
}

.IsUnlockable.CanAfford #NavButton
{
	animation-name: unlockable_flash;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes 'unlockable_flash'
{
	0%
	{
		pre-transform-scale2d: 1;
		box-shadow: 0px 0px 30px 3.0 geistBookColor&30;
	}
	
	50%
	{
		pre-transform-scale2d: 1.03;
		box-shadow: 0px 0px 10px 3.0 geistBookColor;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		box-shadow: 0px 0px 30px 3.0 geistBookColor&30;
	}
	
}

.IsUnlockable.CanAfford.Unlocked #NavButton
{
	animation: none;
}

.IsUnlockable #Icon
{
	saturation: 0;
}

.IsUnlockable.Unlocked #Icon
{
	saturation: 1;
}

.ComingSoon .UnlockCtn,.Unlocked .UnlockCtn
{
	visibility: collapse;
}

.ComingSoon #NavButton
{
	background-color: black;
	border-color: yellow;
}

.ComingSoonText
{
	visibility: collapse;
	font-size: 10px;
	color: yellow;
}

.ComingSoon .ComingSoonText
{
	visibility: visible;
}

.UnlockCtn
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: right;
}

.UnlockIcon
{
	background-image: url("s2r://panorama/images/upgrades/lock_icon_psd.vtex");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	wash-color: red;
	margin-right: 10px;
	margin-bottom: 10px;
}

.CanAfford .UnlockIcon
{
	wash-color: white;
}

.SingleUnlock .UnlockCost
{
	visibility: collapse;
}

.NotReachable #NavButton
{
	background-color: #444444;
	border-color: #ffffff10;
	opacity: 0.15;
}

#Icon
{
	width: 200px;
	height: 120px;
	opacity: 0.4;
}

.UnlockedBadge
{
	width: 25px;
	height: 25px;
	background-color: geistBookColor&30;
	horizontal-align: right;
	border-radius: 0px 0px 0px 5px;
	padding: 0px 0px 3px 3px;
	visibility: collapse;
}

.IsUnlockable.Unlocked .UnlockedBadge
{
	visibility: visible;
}

.UnlockedIcon
{
	width: 20px;
	height: 20px;
	horizontal-align: middle;
	vertical-align: middle;
	background-repeat: no-repeat;
	wash-color: offBlack;
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
	background-size: contain;
	background-position: center;
}

