/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

CitadelFlexUnlockMessage
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: 250px;
	height: fit-children;
	transition-property: opacity;
	transition-duration: 0.5s;
	padding: 20px 50px;
	flow-children: right;
	flow-children: down;
	opacity: 1;
	border-radius: 50px;
	color: offWhite;
	background-color: offBlack&90;
}

.wants_scoreboard CitadelFlexUnlockMessage
{
	opacity: 0;
}

CitadelFlexUnlockMessage Label
{
	horizontal-align: center;
	vertical-align: center;
}

CitadelFlexUnlockMessage.FadeOutMessage
{
	opacity: 0;
}

.FlexSlotUnlockedLabel
{
	font-weight: bold;
	font-size: 28px;
	font-family: serif;
}

.FlexSlotMessage
{
	color: offWhite&ee;
}

.FlexSlotObjectiveName
{
	color: offWhite;
	font-weight: bold;
}

