/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.StatusNotification
{
	flow-children: right;
	margin: 16px;
}

.IconContainer
{
	width: 64px;
	height: 64px;
}

.IconContainer .Icon
{
	vertical-align: middle;
	horizontal-align: center;
	width: 64px;
	height: 64px;
	wash-color: offWhite;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.Details
{
	flow-children: down;
	padding: 8px 0px 8px 8px;
}

.Details .Title
{
	color: offWhite;
	text-transform: uppercase;
	font-size: 24px;
	font-family: block;
	margin-top: 4px;
}

.Details .Desc
{
	color: offWhite&cc;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: semi-bold;
	margin-top: -4px;
	opacity: 0.4;
}

