/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHudActivePlayerStats
{
	transition-property: position;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: left;
	width: 100%;
}

#MovementSpeed
{
	width: 100%;
	height: 10px;
	overflow: clip;
	background-color: #00000050;
}

#MovementSpeedCurrent,#MovementSpeedLabel
{
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}

.isNegative #MovementSpeedLabel
{
	color: #ff0000;
}

.isPositive #MovementSpeedLabel
{
	color: #00ff1e;
}

.movementSpeedContainer
{
	flow-children: right;
	horizontal-align: center;
	text-align: center;
	margin-bottom: -5px;
	width: 170px;
}

#BaseMovementSpeedPanel
{
	horizontal-align: center;
	margin-right: 2px;
	width: 3px;
	height: 100%;
	background-color: #FFFFFFaa;
	z-index: 99;
}

.miniModifier.IsNegative Label,.miniModifier.IsNegative Label
{
	color: #ffcbcb;
}

.miniModifier
{
	margin-bottom: 5px;
	flow-children: right;
	height: 36px;
	visibility: collapse;
	padding-left: 30px;
	margin-left: -10px;
}

.miniModifier.isNegative,.miniModifier.isNegative
{
	background-color: #FF565670;
	visibility: visible;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #7FEEFF20 ), to( #7FEEFF30 ) );
	background-color: #FF565660;
	visibility: visible;
	animation-name: debuffApplied, positiveGleam;
	animation-duration: 0.5s, 2s;
	animation-iteration-count: 1, infinite;
	transition-property: pre-transform-scale2d;
}

.miniModifier.isPositive
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #7FEEFF20 ), to( #7FEEFF30 ) );
	background-color: offWhite&20;
	visibility: visible;
	animation-name: buffApplied, positiveGleam;
	animation-duration: 0.5s, 2s;
	animation-iteration-count: 1, infinite;
	transition-property: pre-transform-scale2d;
}

@keyframes 'buffApplied'
{
	0%
	{
		transform: translateX(0px);
	}
	
	50%
	{
		transform: translateX(5px);
	}
	
	100%
	{
		transform: translateX(0px);
	}
	
}

@keyframes 'debuffApplied'
{
	0%
	{
		transform: translateX(0px);
	}
	
	50%
	{
		transform: translateX(-5px);
	}
	
	100%
	{
		transform: translateX(0px);
	}
	
}

@keyframes 'positiveGleam'
{
	0%
	{
		brightness: 1;
	}
	
	50%
	{
		brightness: 1.5;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

@keyframes 'borderGleam'
{
	0%
	{
		border-brush: gradient( linear, 0% 0%, 0% 100%, from( red ), color-stop( 0.5, #ffc74f ), to( #f000) );
	}
	
	50%
	{
		border-brush: gradient( linear, 0% 0%, 0% 100%, from( red ), color-stop( 0.5, #f000 ), to( #ffc74f) );
	}
	
	100%
	{
		border-brush: gradient( linear, 0% 0%, 0% 100%, from( #f000 ), color-stop( 0.5, #ffc74f ), to( #f000) );
	}
	
}

#weaponPowerContainer.miniModifier,#spiritContainer.miniModifier,#speedDisplayContainer.miniModifier
{
	visibility: visible;
}

.miniModifierCore
{
	padding: 7px 10px;
	width: fit-children;
	height: 100%;
	background-color: #11111100;
	flow-children: right;
}

.statIcon
{
	width: 18px;
	height: 18px;
	vertical-align: middle;
	visibility: visible;
	margin-right: 5px;
}

.armorIcon.bulletResist
{
	wash-color: courageBrightColor;
}

.armorIcon.techResist
{
	wash-color: spiritBrightColor;
}

#speedDisplayContainer
{
	transition-duration: 0.2s;
	transition-property: opacity;
	transition-delay: 0s;
}

.speedDisplayInner
{
	flow-children: right;
	padding: 8px;
	horizontal-align: center;
}

#speedDisplayContainer.IsNegative .speedDisplayInner
{
	background-color: #d9000060;
}

.statNumber
{
	font-size: 17px;
	color: offWhite;
	font-family: sansMono;
	vertical-align: center;
	font-weight: bold;
	vertical-align: middle;
}

#speedDisplayContainer.IsNegative #speedDisplayMS
{
	color: rgb(255, 183, 183);
}

.statPostfix
{
	font-size: 13px;
	vertical-align: middle;
	padding-top: 2px;
	opacity: 0.6;
}

#speedDisplayPostfix.statPostfix
{
	padding-top: 4px;
}

.slowIcon
{
	visibility: visible;
	opacity: 0.5;
}

#speedDisplayContainer.IsNegative .slowIcon
{
	visibility: visible;
}

#casterList
{
	flow-children: right;
	height: 100%;
}

.casterAndModifiers
{
	flow-children: right;
	height: 100%;
	padding-right: 4px;
}

.casterAndModifiers.friend
{
	background-color: #00000060;
}

.isNegative .casterAndModifiers.friend
{
	opacity: 0.5;
	background-color: #6b6b6b82;
	saturation: 0.5;
	brightness: 0.5;
}

.casterAndModifiers.enemy
{
	background-color: #00000050;
}

#heroIcon
{
	width: 36px;
	height: 36px;
}

#modifierList
{
	flow-children: right;
	vertical-align: center;
}

#abilityIcon
{
	width: 20px;
	height: 20px;
	margin: 0px 2px;
	opacity: 0.6;
}

