/* Prettified by Source 2 Viewer 11.0.0.0 - https://valveresourceformat.github.io */

CitadelAnnouncementList
{
	width: 550px;
	max-height: 600px;
	overflow: clip scroll;
}

#AnnouncementList
{
	width: 100%;
	flow-children: down;
}

