/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#NavButton
{
	width: 50px;
	height: 50px;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.2;
}

#NavButton:hover
{
	opacity: 1;
}

.IsUnlockable.Unlocked #NavButton
{
	background-color: black;
}

.ComingSoon .UnlockCtn,.Unlocked .UnlockCtn
{
	visibility: collapse;
}

.ComingSoon #NavButton
{
	background-color: black;
}

.ComingSoonText
{
	visibility: collapse;
	font-size: 10px;
	color: yellow;
}

.ComingSoon .ComingSoonText
{
	visibility: visible;
}

.UnlockCtn
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: right;
}

.UnlockIcon
{
	background-image: url("s2r://panorama/images/upgrades/lock_icon_psd.vtex");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	wash-color: red;
}

.CanAfford .UnlockIcon
{
	wash-color: green;
}

.SingleUnlock .UnlockCost
{
	visibility: collapse;
}

.NotReachable #NavButton
{
	background-color: #444444;
	border-color: #888888;
}

.Next #NavButton
{
	background-image: url("s2r://panorama/images/control_icons/single_arrow_right_png.vtex");
	background-size: 50% 100%;
}

.Prev #NavButton
{
	background-image: url("s2r://panorama/images/control_icons/single_arrow_right_png.vtex");
	background-size: -50% 100%;
}

.TOC #NavButton
{
	background-image: url("s2r://panorama/images/control_icons/hamburger_png.vtex");
}

.Back #NavButton
{
	background-image: url("s2r://panorama/images/control_icons/history_png.vtex");
}

