/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#ProfileCard
{
	z-index: 1;
}

#MenuOptionsContainer
{
	width: 100%;
}

#MenuOptionsPanel
{
	flow-children: down;
	width: 100%;
	transition-property: transform;
	transition-duration: 0.05s;
}

#MenuOptionsPanel Button
{
	padding: 6px 12px 3px 12px;
	margin-bottom: 8px;
	horizontal-align: center;
	width: 100%;
	border: 2px solid #ffffff11;
	transition-property: background-color;
	transition-duration: 0.2s;
}

