/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.BannedHeroes
{
	flow-children: down;
	margin: 8px 0px;
	background-size: 100%;
}

.BannedHeroes #BackgroundImg
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/global/wash_rectangle_bg_psd.vtex");
	background-size: cover;
	opacity-mask: url("s2r://panorama/images/main_menu/text_speckle_mask_main_psd.vtex") 0.7;
	wash-color: rgb(255, 57, 57);
	opacity-mask-scale: 100% 100%;
	background-img-opacity: 0.6;
	ignore-parent-flow: true;
	opacity: 0.3;
	padding: 10px 20px;
}

.BannedHeroes #BannedContent
{
	padding: 20px 50px;
	flow-children: down;
}

.BannedHeroes .Title
{
	horizontal-align: center;
	text-align: center;
	font-family: block;
	text-transform: uppercase;
	margin-bottom: 6px;
	opacity: 0.6;
}

.BannedHeroes #HeroesList
{
	flow-children: right;
	horizontal-align: center;
}

.BannedHero
{
	margin: 0px 4px;
}

.BannedHero #HeroImage
{
	width: 38px;
	height: 38px;
	animation-name: Groove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

