/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHudGameAnnouncements
{
	width: 100%;
	height: 100%;
	opacity: 1;
	flow-children: down;
}

.GenericAnnouncement
{
	padding: 15px 80px 20px 80px;
	flow-children: down;
	horizontal-align: center;
}

.GenericAnnouncement Label.AnnouncementTitle
{
	font-size: 50px;
	font-family: block;
	text-transform: uppercase;
	horizontal-align: center;
	margin: 5px;
	transform: rotateZ(-4deg);
	text-shadow: 0px 0px 8.0 offBlack;
	padding: 0px 5px;
	margin-bottom: -2px;
}

.GenericAnnouncement Label.AnnouncementDescription
{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	horizontal-align: center;
	opacity: 0.7;
	transform: rotateZ(-4deg);
	text-shadow: 0px 0px 3.0 offBlack;
	padding-left: 20px;
}

.wants_scoreboard CitadelHudGameAnnouncements
{
	opacity: 0.5;
}

CitadelHudGameAnnouncements #ToastManager
{
	vertical-align: top;
	horizontal-align: center;
	margin-top: 200px;
	height: 100%;
	flow-children: down;
}

CitadelHudGameAnnouncements #ToastManager > .ToastPanel
{
	opacity: 0.0;
	transition-property: position, opacity, transform, pre-transform-scale2d;
	transition-duration: 0.4s;
	transform: none;
}

CitadelHudGameAnnouncements #ToastManager > .ToastPanel.ToastVisible
{
	opacity: 1.0;
	transform: none;
}

.OvertimeAnnouncement.ToastVisible
{
	animation-name: brawlAnnouncementAnimation;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
}

.MatchPointAnnouncement.ToastVisible
{
	animation-name: brawlAnnouncementAnimation;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
}

.MatchPointAnnouncement.ToastVisible Label
{
	font-size: 50px;
	font-family: block;
	text-transform: uppercase;
	horizontal-align: center;
	margin: 5px;
	transform: rotateZ(-4deg);
	text-shadow: 0px 0px 8.0 offBlack;
	padding: 0px 5px;
	margin-bottom: -2px;
}

@keyframes 'brawlAnnouncementAnimation'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 0.8;
	}
	
	15%
	{
		opacity: 1;
		pre-transform-scale2d: 1.2;
	}
	
	30%
	{
		opacity: 1;
		pre-transform-scale2d: 1;
	}
	
	90%
	{
		opacity: 1;
		pre-transform-scale2d: 1;
	}
	
}

