/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.TeamSlot
{
	width: 100%;
	height: 50px;
	flow-children: right;
	border: 1px solid white;
}

.IsPlayer.TeamSlot
{
	border: 1px solid red;
}

.IsReady.TeamSlot
{
	border: 1px solid green;
}

.Ready
{
	visibility: collapse;
	padding: 6px;
	background-color: offWhite;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 0px 10px;
	vertical-align: middle;
}

.Unready
{
	visibility: collapse;
	padding: 6px;
	background-color: offWhite&90;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 0px 10px;
	vertical-align: middle;
}

.Ready Label,.Unready Label
{
	horizontal-align: center;
	vertical-align: middle;
	color: offBlack;
	font-weight: semi-bold;
	font-size: 16px;
}

.Player
{
	width: 300px;
	height: 50px;
	visibility: collapse;
}

.LocalPlayer .Ready
{
	visibility: visible;
}

.LocalPlayer.IsReady .Ready
{
	visibility: collapse;
}

.LocalPlayer.IsReady .Unready
{
	visibility: visible;
}

.IsPlayer .Player
{
	visibility: visible;
}

.IsPlayer .EmptySlot
{
	visibility: collapse;
}

.EmptySlot
{
	width: 100%;
	height: 100%;
}

CitadelFriend
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

