/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#PartyCodeGroup
{
	flow-children: right;
	vertical-align: center;
	visibility: collapse;
	margin-right: 10px;
}

.InParty #PartyCodeGroup
{
	visibility: visible;
}

.PartyCode
{
	color: #8588a0;
	font-weight: semi-bold;
	font-size: 18px;
}

#CopyPartyCode
{
	width: 16px;
	height: 18px;
	vertical-align: middle;
	margin-left: 10px;
	background-image: url("s2r://panorama/images/icons/icon_copy.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: offWhite;
	margin-top: 1px;
	opacity: 0.6;
}

.ShowPartyCode #PartyCodeVisible,#PartyCodeHidden
{
	visibility: visible;
	color: #ffffff;
	font-family: Retail Text Demo;
	margin-left: 5px;
}

#HideVisibility
{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-left: 8px;
	background-image: url("s2r://panorama/images/icons/icon_eye.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 5px;
	opacity: 0.6;
	wash-color: offWhite;
	visibility: collapse;
}

#ShowVisibility
{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-left: 8px;
	background-image: url("s2r://panorama/images/icons/icon_eye_disabled.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 5px;
	opacity: 0.6;
	wash-color: offWhite;
}

.ShowPartyCode #HideVisibility
{
	visibility: visible;
}

.ShowPartyCode #ShowVisibility
{
	visibility: collapse;
}

#PartyCodeVisible,.ShowPartyCode #PartyCodeHidden
{
	visibility: collapse;
}

.HideLabel .PartyLabel
{
	visibility: collapse;
}

