/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPlayMenu
{
	flow-children: right;
	background-color: #111111f9;
}

#PlayModes
{
	flow-children: down;
	height: 100%;
	padding: 0px 20px;
	margin-left: 60px;
	margin-right: 60px;
	padding-top: 80px;
}

#Option_CalibrationMatches
{
	visibility: collapse;
}

.CalibrationMatchesRequired #Option_Matchmaking
{
	visibility: collapse;
}

.CalibrationMatchesRequired #Option_CalibrationMatches
{
	visibility: visible;
}

#PlayOptions
{
	flow-children: down;
}

Label.PlayTitle
{
	font-size: 28px;
	color: rgba(255, 255, 255, 0.8);
	font-weight: semi-bold;
	color: #262626;
	color: offWhite;
	opacity: 0.3;
	padding: 10px;
	font-family: serif;
}

.playoption Label.menuButtonLabel
{
	font-style: normal;
	font-family: serif;
	font-weight: bold;
	font-size: 26px;
	height: 50px;
	width: 100%;
	border: 1px solid red;
	padding: 0px 5px;
	text-overflow: shrink;
	text-align: center;
	horizontal-align: center;
	color: #FFEFD7aa;
	margin-top: 8px;
	overflow: noclip;
}

.TextArea
{
	flow-children: up;
	width: 100%;
	height: 160px;
	padding: 0px 5px;
	vertical-align: bottom;
	background-color: offBlack&f5;
}

.smallButton .TextArea
{
	background-color: red;
	width: 60%;
	height: 180px;
	horizontal-align: right;
	background-color: none;
	margin-right: 10px;
}

.playoptionLabel
{
	font-size: 38px;
	font-family: serif;
	font-weight: bold;
	horizontal-align: center;
	text-align: center;
	vertical-align: bottom;
	text-overflow: shrink;
	line-height: 32px;
	width: 100%;
}

.smallButton .playoptionLabel
{
	font-size: 26px;
	line-height: normal;
}

.smallButton .subHeader.playoptionLabel
{
	font-size: 26px;
	vertical-align: top;
	visibility: collapse;
}

#Option_HeroLabs:not(.heroLabsUnlocked) .subHeader.playoptionLabel
{
	visibility: visible;
	height: 35px;
}

#LockedContainer
{
	height: fit-children;
	width: 100%;
}

#TitleArea
{
	width: 100%;
	max-height: 80px;
	flow-children: down;
}

#DescArea
{
	width: 100%;
	height: 80px;
}

.smallButton #DescArea
{
	height: 88px;
}

.playoption:enabled:hover Label.menuButtonLabel
{
	color: offBlack;
	transition-property: color, transform;
	transition-duration: 0.08s;
}

#Option_Matchmaking.playoption:hover Label.menuButtonLabel,#Option_PlayersVsBots.playoption:hover Label.menuButtonLabel
{
	color: offBlack;
	transition-property: color, transform;
	transition-duration: 0.08s;
}

#SubModes
{
	flow-children: right;
}

.playoption
{
	margin: 0px;
	flow-children: down;
	margin-bottom: 3px;
	background-color: offBlack;
	border: 1px solid #424242;
	border-radius: 5px;
	transition-property: background-color, pre-transform-scale2d, padding;
	transition-duration: 0.125s;
	transition-timing-function: ease-out;
}

.largeButton.option2
{
	x: 330px;
}

.playoption.fullButton
{
	width: 640px;
	height: 400px;
	margin: 10px;
	horizontal-align: center;
}

.playoption.largeButton
{
	width: 310px;
	height: 400px;
	margin: 10px;
}

#SubModesContainerTop
{
	flow-children: right;
	height: fit-children;
	width: fit-children;
}

#SubModesContainerBottom
{
	flow-children: right;
	height: fit-children;
	width: fit-children;
}

.playoption.smallButton
{
	width: 310px;
	height: 180px;
	margin: 10px;
}

.in_party #Option_HeroTesting
{
	opacity: 0.2;
}

.party_can_sandbox #Option_HeroTesting
{
	opacity: 1;
}

.playoption:enabled:hover
{
	brightness: 1.6;
	pre-transform-scale2d: 1.05;
	sound: soundMainMenuHover;
}

.playoption.fullButton:enabled:hover
{
	brightness: 1.6;
	pre-transform-scale2d: 1.02;
	sound: soundMainMenuHover;
}

.playoption:active
{
	brightness: 1.6;
	pre-transform-scale2d: 1.03;
	sound: soundMainMenuActivate;
}

#Option_Matchmaking.playoption Label.menuButtonLabel,#Option_PlayersVsBots.playoption Label.menuButtonLabel
{
	font-size: 38px;
	text-align: center;
	horizontal-align: center;
	color: offWhite;
	height: 52px;
	text-overflow: shrink;
}

.playoption Label.queueNumber
{
	font-weight: semi-bold;
}

.playoption:enabled:hover Label.queueNumber
{
	color: offBlack;
}

.playoption Label.noQueue
{
	color: #334c9f;
}

Label.playModeDesc
{
	font-family: sans;
	font-size: 15px;
	color: offWhite&70;
	text-align: center;
	horizontal-align: center;
	font-weight: semi-bold;
	width: 100%;
	vertical-align: top;
	height: 100%;
}

.largeButton .playModeDesc
{
	font-size: 19px;
}

#play_low_priority_matchmaking_description
{
	visibility: collapse;
	color: colorEnemy;
	text-overflow: shrink;
	margin-bottom: 5px;
}

.LowPriorityMatchmaking #play_matchmaking_description
{
	visibility: collapse;
}

.LowPriorityMatchmaking #play_low_priority_matchmaking_description
{
	visibility: visible;
}

#Option_CalibrationMatches
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_deadlock_psd.vtex");
	background-size: cover;
	background-img-opacity: 0.3;
}

#Option_Matchmaking
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_deadlock_psd.vtex");
	background-size: cover;
	background-img-opacity: 0.3;
}

#Option_PlayersVsBots
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_playersbots_psd.vtex");
	background-size: cover;
	background-img-opacity: 0.3;
}

#Option_HeroTesting
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_sandbox_horizontal_psd.vtex");
	background-size: cover;
	background-img-opacity: .3;
}

#Option_BotMatch
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_privatebots_horizontal_psd.vtex");
	background-size: cover;
	background-img-opacity: 0.3;
}

#Option_ExploreMap
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_exploremap_psd.vtex");
	background-size: cover;
	background-img-opacity: 0.3;
}

#Option_Lobby
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_custom_match_horizontal_psd.vtex");
	background-size: cover;
	background-img-opacity: 0.3;
}

#Option_BotMatch
{
	visibility: collapse;
}

#UnavailableOverlay
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: #000000ee;
	z-index: 100;
	visibility: collapse;
}

#UnavailableOverlay Label
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	font-weight: bold;
	opacity: 0.9;
	background-color: #000000;
	color: rgb(207, 62, 62);
}

.in_party #UnavailableOverlay
{
	visibility: visible;
}

.new_button
{
	visibility: collapse;
	background-color: brandGreen;
	border-radius: 3px 0px 0px 3px;
	padding: 2px 3px;
	horizontal-align: right;
	vertical-align: top;
	horizontal-align: right;
	vertical-align: center;
	margin-left: 15px;
	margin-top: 0px;
	font-family: sans;
	flow-children: right;
	padding: 1px 8px;
	border-radius: 2px;
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

#Option_ExploreMap .new_button
{
	background-color: #3bcfe9;
}

.nav_menu_item:hover .new_button
{
	margin-right: 0px;
}

#Option_ExploreMap .new_button
{
	visibility: visible;
	horizontal-align: center;
	margin-left: 0px;
	vertical-align: top;
	ignore-parent-flow: true;
	horizontal-align: right;
	border-radius: 0px 0px 0px 3px;
}

.new_button Label
{
	color: offBlack;
	font-size: 14px;
	font-family: sans;
	text-transform: uppercase;
	font-weight: bold;
	horizontal-align: center;
	vertical-align: center;
}

