/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelGamePadGlyph
{
	min-width: 20px;
	min-height: 20px;
	width: fit-children;
	height: fit-children;
	visibility: collapse;
	margin-left: 2px;
	margin-right: 2px;
}

.hasControllerConnected CitadelGamePadGlyph
{
	visibility: collapse;
}

.hasControllerConnected.isUsingController CitadelGamePadGlyph
{
	visibility: visible;
}

.hasControllerConnected.isUsingController .ForceKeyboardGlyphs CitadelGamePadGlyph
{
	visibility: collapse;
}

.ZooContainerPanel CitadelGamePadGlyph
{
	visibility: visible;
}

.GamePadGlyph
{
	width: 20px;
	height: 20px;
	vertical-align: center;
	horizontal-align: center;
	background-texture-size: 40px 40px;
}

CitadelGamePadGlyph .UnboundGamePadGlyph
{
	margin: 1px;
	padding: 2px;
	width: fit-children;
	height: fit-children;
	min-width: 20px;
	min-height: 20px;
	padding: 8px;
	background-color: #222;
	border-radius: 24px;
	horizontal-align: center;
	vertical-align: center;
}

.UnboundGamePadGlyph
{
	background-image: url("s2r://panorama/images/glyphs/unbound.vsvg");
	background-texture-size: 40px 40px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	animation-name: SawtoothTransparency;
	animation-duration: 1.0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes 'SawtoothTransparency'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

CitadelGamePadGlyph .MultiBindSeparator
{
	width: fit-children;
	height: fit-children;
	vertical-align: center;
	text-align: center;
}

CitadelGamePadGlyph.MultiBind
{
	padding-right: 2px;
}

#hud_hero_testing .GamePadGlyph
{
	width: 23px;
	height: 23px;
	background-texture-size: 50px 50px;
	vertical-align: center;
	horizontal-align: center;
}

.ability_container .GamePadGlyph
{
	width: 26px;
	height: 26px;
	background-texture-size: 54px 54px;
}

#ActiveAbilitiesMenu .GamePadGlyph
{
	width: 20px;
	height: 20px;
	background-texture-size: 40px 40px;
}

