/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

#BarsContainer
{
	flow-children: right;
	width: fit-children;
	height: 100%;
	horizontal-align: center;
	background-color: #ffffff05;
	border-radius: 3px;
}

CitadelHudTopBar #BarsContainer
{
	border-radius: 0px;
	background-color: none;
}

.modsProgressBar
{
	width: 12px;
	height: 70%;
	horizontal-align: center;
	vertical-align: middle;
	border-radius: 50px;
	border: 1px solid #ffffff10;
	tooltip-position: top;
	margin-top: 3px;
}

.gShopOpen .modsProgressBar
{
	width: 12px;
	height: 74%;
	vertical-align: top;
	margin-top: 0px;
}

#CitadelModBonusDisplay .modsProgressBar
{
	width: 30px;
}

CitadelHudItemBarGraph.TopBarStyle .modsProgressBar
{
	height: 100%;
	margin-top: 0px;
	border: 0px solid #ffffff00;
}

CitadelTooltipModBonusDisplay .modsProgressBar
{
	height: 100%;
	margin: 10px 0px;
}

.progressBarContainer
{
	width: 22px;
	height: 100%;
	flow-children: down;
	padding: 5px 3px 0px 3px;
	tooltip-position: bottom;
}

#CitadelModBonusDisplay .progressBarContainer
{
	width: 50px;
	padding: 0px 10px;
}

CitadelHudItemBarGraph.TopBarStyle .progressBarContainer
{
	margin-top: 0px;
}

#CenterProgressBar
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff00 ), color-stop( 0.9, #ffffff30 ), color-stop( 1, #ffffff ), to( #ffffff ) );
	vertical-align: bottom;
	animation-name: deltaswipe;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

@keyframes 'deltaswipe'
{
	0%
	{
		opacity: 1;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff00 ), color-stop( 0.9, #ffffff30 ), color-stop( 1, #ffffff ), to( #ffffff ) );
	}
	
	50%
	{
		opacity: 1;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff00 ), color-stop( 0, #ffffff00 ), color-stop( 0.1, #ffffff ), to( #ffffff ) );
	}
	
	100%
	{
		opacity: 0.01;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff00 ), color-stop( 0, #ffffff00 ), color-stop( 0.1, #ffffff ), to( #ffffff ) );
	}
	
}

.progressBarImage
{
	height: 12px;
	width: 12px;
	background-size: 100% 100%;
	tooltip-position: top;
	horizontal-align: center;
	margin-top: 5px;
	opacity: 0.4;
}

.gShopOpen .progressBarImage
{
	visibility: visible;
}

.weaponImage
{
	background-image: url("s2r://panorama/images/shop/keystat_courage_png.vtex");
	background-image: url("s2r://panorama/images/hud/core/icon_courage.vsvg");
	wash-color: courageBrightColor;
}

.armorImage
{
	background-image: url("s2r://panorama/images/shop/keystat_fortitude_png.vtex");
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude.vsvg");
	wash-color: fortitudeBrightColor;
}

.techImage
{
	background-image: url("s2r://panorama/images/shop/keystat_spirit_png.vtex");
	background-image: url("s2r://panorama/images/hud/core/icon_spirit.vsvg");
	wash-color: spiritBrightColor;
}

.ProgressBarRight
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000000 ), to( #222) );
}

#CenterProgressBar
{
	z-index: 2;
}

.ProgressBarLeft
{
	z-index: 3;
}

CitadelScoreboardMods .ProgressBarRight
{
	background-color: #333333;
}

#WeaponProgressBar .ProgressBarLeft
{
	background-color: courageBrightColor;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( courageBrightColor ), to( courageLightColor) );
}

#ArmorProgressBar .ProgressBarLeft
{
	background-color: fortitudeBrightColor;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( fortitudeBrightColor ), to( fortitudeLightColor) );
}

#TechProgressBar .ProgressBarLeft
{
	background-color: spiritBrightColor;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( spiritBrightColor ), to( spiritLightColor) );
}

.weaponStats .techProgressBarContainer,.weaponStats .armorProgressBarContainer,.armorStats .weaponProgressBarContainer,.armorStats .techProgressBarContainer,.spiritStats .weaponProgressBarContainer,.spiritStats .armorProgressBarContainer
{
	visibility: collapse;
}

.percentBar
{
	height: 1px;
	width: 100%;
	background-color: #FFFFFF07;
	z-index: 2;
}

.percentBar.tierReached
{
	background-color: #00000090;
}

.percentBar.currentTier
{
	background-color: #ffffff;
	height: 1px;
}

#BarPercentContainer
{
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 5;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.gShopOpen #BarPercentContainer,CitadelTooltipModBonusDisplay #BarPercentContainer
{
	opacity: 1;
}

CitadelHudItemBarGraph.TopBarStyle #BarPercentContainer
{
	visibility: collapse;
}

CitadelHudItemBarGraph.TopBarStyle CitadelHudItemBarGraph
{
	padding: 0px;
	margin: 8px 0px;
}

CitadelHudItemBarGraph.TopBarStyle .modsProgressBar
{
	width: 6px;
	margin: 0px 2px;
	border-radius: 50px;
}

CitadelHudItemBarGraph.TopBarStyle .progressBarContainer
{
	width: 11px;
}

CitadelHudItemBarGraph
{
	height: 40px;
}

CitadelHudItemBarGraph:hover #BarsContainer
{
	box-shadow: -2px 2px 3.0 white;
}

.progressBarContainer
{
	padding: 8px 0px;
}

#WeaponBarContainer:hover
{
	background-color: courageDarkColor;
}

#ArmorBarContainer:hover
{
	background-color: fortitudeDarkColor;
}

#TechBarContainer:hover
{
	background-color: spiritDarkColor;
}

CitadelHudItemBarGraph.TopBarStyle:hover .modsProgressBar
{
	width: 8px;
	margin: 0px 3px;
}

CitadelHudItemBarGraph.TopBarStyle:hover .progressBarContainer
{
	width: 16px;
	padding: 5px 2px;
}

#StatsAndModsContainer CitadelHudItemBarGraph
{
	height: 100%;
	horizontal-align: middle;
}

CitadelPostGameScoreboardNew #BarsContainer
{
	background-color: #ffffff00;
}

CitadelPostGameScoreboardNew CitadelHudItemBarGraph
{
	height: 80%;
	horizontal-align: middle;
	padding: 8px;
}

CitadelPostGameScoreboardNew .progressBarContainer
{
	padding: 0px 0px;
}

CitadelPostGameScoreboardNew CitadelHudItemBarGraph.TopBarStyle:hover .modsProgressBar
{
	margin: 0px 3px;
}

CitadelPostGameScoreboardNew CitadelHudItemBarGraph.TopBarStyle:hover .progressBarContainer
{
	width: 16px;
	width: 11px;
	padding: 0px 0px;
}

CitadelPostGameScoreboardNew #WeaponBarContainer:hover
{
	background-color: courageDarkColor&00;
}

CitadelPostGameScoreboardNew #ArmorBarContainer:hover
{
	background-color: fortitudeDarkColor&00;
}

CitadelPostGameScoreboardNew #TechBarContainer:hover
{
	background-color: spiritDarkColor&00;
}

