/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@define brandGreen: #C4FF47;
@define ritualGreen: #65951D;
@define ritualGreenLight: #7CBC1D;
@define offWhite: #FFEFD7;
@define offBlack: #10130D;
@define silvered: #C6C6C6;
.dashboard
{
	overflow: noclip;
	font-family: sans;
	background-color: #000000;
}

#BackgroundContainer
{
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: noclip;
}

#BGColor
{
	z-index: 2;
	height: 100%;
	width: 100%;
	transition-property: background-color, background-image;
	transition-duration: 0.3s;
}

.connectedToGame #BGColor
{
	background-color: gradient( linear, 100% 0%, 0% 30%, from( #00000000 ), to( #000000 ) );
}

.isShowingWatchPage #BGColor,.isShowingPlayPage #BGColor,.isShowingRosterConfirmPage #BGColor,.isShowingHeroesPage #BGColor,.isShowingLearnPage #BGColor,.isShowingTrainingPage #BGColor,.isShowingHeroDetailsPage #BGColor,.isShowingRosterConfirmPage #BGColor,.isShowingHeroBuildsPage #BGColor,.isShowingSocialPage #BGColor
{
	background-color: #000000;
	opacity: 0.9;
}

#ForegroundContainer
{
	width: 100%;
	height: 100%;
	max-width: 1920px;
	z-index: 3;
	horizontal-align: center;
}

PopupManager
{
	z-index: 9999;
	opacity: 1;
}

.introMovieActive #ForegroundContainer,.introMovieActive PopupManager
{
	opacity: 0;
	transition-duration: 0.6s;
	transition-property: opacity;
	transition-timing-function: ease-in;
}

.AspectRatio21x9.IsShowingDashboardPage #ForegroundContainer
{
	max-width: 100%;
}

#AlleySides
{
	width: 100%;
	height: 100%;
	border: 1px solid blue;
}

#TestBG
{
	height: 100%;
	width: 100%;
	opacity: 0.6;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/main_menu/background_nyc_cityscape_bw_psd.vtex");
	background-size: cover;
	background-position: left;
	transition-property: background-image;
	transition-duration: 1s;
}

#TestBG
{
	height: 3078px;
	width: 2000px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/main_menu/alley_bg_psd.vtex");
	background-size: cover;
	transform: translateY(-1800px);
	transition-property: background-image;
	transition-duration: 1s;
	animation-name: BGFirstLoad;
	animation-iteration-count: 1;
	animation-duration: 4s;
	animation-timing-function: ease-in;
}

@keyframes 'BGFirstLoad'
{
	0%
	{
		transform: translateY(-1600px);
	}
	
	100%
	{
		transform: translateY(-1800px);
	}
	
}

.in_matchmaking #TestBG
{
	background-image: url("s2r://panorama/images/main_menu/alley_bg_inqueue_psd.vtex");
}

#XLBackfill
{
	height: 100%;
	width: 500px;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/main_menu/background_gothic_backfillxl_jpg.vtex");
	background-size: cover;
	background-position: left;
	visibility: collapse;
}

@keyframes 'SlowPan'
{
	0%
	{
		transform: translateX(0px);
	}
	
	50%
	{
		transform: translateX(-500px);
	}
	
	100%
	{
		transform: translateX(0px);
	}
	
}

#HeroForeground
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	opacity: 1;
	margin-left: 100px;
	animation-name: HeroFirstLoad;
	animation-iteration-count: 1;
	animation-duration: 5s;
	animation-timing-function: ease-in;
}

@keyframes 'HeroFirstLoad'
{
	0%
	{
		opacity: 0;
	}
	
	60%
	{
		opacity: 0;
	}
	
	80%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

#HazeSilhouette
{
	width: 700px;
	height: 90%;
	margin-right: 300px;
	vertical-align: bottom;
	horizontal-align: middle;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	border: 1px solid #00000000;
	background-image: url("s2r://panorama/images/main_menu/haze_silhouette_psd.vtex");
}

.isShowingWatchPage #HeroForeground,.isShowingPlayPage #HeroForeground,.isShowingLearnPage #HeroForeground,.isShowingTrainingPage #HeroForeground,.isShowingHeroesPage #HeroForeground,.isShowingHeroBuildsPage #HeroForeground,.isShowingHeroDetailsPage #HeroForeground,.isShowingRosterConfirmPage #HeroForeground,.isShowingSocialPage #HeroForeground,.in_matchmaking #HeroForeground,.connectedToGame #HeroForeground,.isShowingPostGamePage #HeroForeground
{
	opacity: 0;
}

.HeroArt
{
	width: 100%;
	height: 95%;
	horizontal-align: center;
	vertical-align: bottom;
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
	visibility: collapse;
}

.HeroBacker
{
	width: 80%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-position: center;
	-s2-mix-blend-mode: screen;
	animation-name: BackerPan;
	animation-duration: 100s;
	animation-iteration-count: infinite;
	background-image: url("s2r://panorama/images/main_menu/backer_angle.vsvg");
}

#LadyGeist.HeroArt
{
	animation-name: LGSlowPan;
	animation-duration: 100s;
	animation-iteration-count: infinite;
	background-image: url("s2r://panorama/images/main_menu/geist_png.vtex");
}

@keyframes 'LGSlowPan'
{
	0%
	{
		transform: translateX(0px);
		wash-color: #000000;
	}
	
	2%
	{
		wash-color: #00000000;
	}
	
	24.5%
	{
		transform: translateX(-100px);
		wash-color: #00000000;
		opacity: 1;
	}
	
	25%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

@keyframes 'BackerPan'
{
	0%
	{
		transform: skew(0deg) translateX(50px);
		wash-color: #012414;
	}
	
	24%
	{
		transform: skew(0deg) translateX(150px);
		opacity: 1;
		wash-color: #012414;
	}
	
	25%
	{
		wash-color: #090B39;
		transform: skew(0deg) translateX(150px);
	}
	
	49%
	{
		transform: skew(0deg) translateX(50px);
		wash-color: #090B39;
	}
	
	50%
	{
		wash-color: #381406;
		transform: skew(0deg) translateX(50px);
	}
	
	74%
	{
		transform: skew(0deg) translateX(150px);
		wash-color: #381406;
	}
	
	75%
	{
		wash-color: #2A0613;
		transform: skew(0deg) translateX(150px);
	}
	
	100%
	{
		transform: skew(0deg) translateX(50px);
		wash-color: #2A0613;
	}
	
}

#Haze.HeroArt
{
	animation-name: HazeSlowPan;
	animation-duration: 100s;
	animation-iteration-count: infinite;
	background-image: url("s2r://panorama/images/main_menu/drdynamo_png.vtex");
}

@keyframes 'HazeSlowPan'
{
	0%
	{
		opacity: 0;
	}
	
	24%
	{
		opacity: 0;
	}
	
	25%
	{
		transform: translateX(-100px);
		wash-color: #000000;
		opacity: 1;
	}
	
	27%
	{
		wash-color: #00000000;
	}
	
	49.5%
	{
		transform: translateX(0px);
		wash-color: #00000000;
		opacity: 1;
	}
	
	50%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

#Gigawatt.HeroArt
{
	animation-name: GigSlowPan;
	animation-duration: 100s;
	background-position: center bottom;
	animation-iteration-count: infinite;
	background-image: url("s2r://panorama/images/main_menu/seven_png.vtex");
	background-position: bottom;
}

@keyframes 'GigSlowPan'
{
	0%
	{
		opacity: 0;
	}
	
	49%
	{
		opacity: 0;
	}
	
	50%
	{
		transform: translateX(0px);
		wash-color: #000000;
		opacity: 1;
	}
	
	52%
	{
		wash-color: #00000000;
	}
	
	74.5%
	{
		transform: translateX(-100px);
		wash-color: #00000000;
		opacity: 1;
	}
	
	75%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

#Chrono.HeroArt
{
	animation-name: ChronoSlowPan;
	animation-duration: 100s;
	animation-iteration-count: infinite;
	background-image: url("s2r://panorama/images/main_menu/chrono_png.vtex");
}

@keyframes 'ChronoSlowPan'
{
	0%
	{
		opacity: 0;
	}
	
	74%
	{
		opacity: 0;
	}
	
	75%
	{
		transform: translateX(-100px);
		wash-color: #000000;
		opacity: 1;
	}
	
	77%
	{
		wash-color: #00000000;
	}
	
	99.5%
	{
		transform: translateX(0px);
		wash-color: #00000000;
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

.isShowingWatchPage #XLBackfill,.isShowingPlayPage #XLBackfill,.isShowingRosterConfirmPage #XLBackfill,.isShowingHeroesPage #XLBackfill,.isShowingHeroBuildsPage #XLBackfill,.isShowingLearnPage #XLBackfill,.isShowingTrainingPage #XLBackfill,.isShowingHeroDetailsPage #XLBackfill,.isShowingRosterConfirmPage #XLBackfill
{
	opacity: 0;
}

.connectedToGame #BGOverlay,.connectedToGame #TestBG
{
	background-image: none;
	opacity: 0;
}

#HeroScenePanel
{
	width: 100%;
	height: 100%;
	vertical-align: middle;
	horizontal-align: center;
	background-color: #00000001;
	visibility: collapse;
}

#HeroRosterScenePanel
{
	width: 1440px;
	height: 100%;
	margin-left: 0px;
	vertical-align: middle;
	horizontal-align: center;
	z-index: 1;
	visibility: collapse;
	animation-name: none;
}

.in_matchmaking #HeroRosterScenePanel
{
	visibility: visible;
}

.in_matchmaking #HeroRosterScenePanel.FadeIn
{
	visibility: visible;
	animation-name: RosterFadeIn;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

.in_matchmaking #HeroRosterScenePanel.FadeOut
{
	visibility: visible;
	animation-name: RosterFadeOut;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

.connectedToGame #HeroScenePanel,.connectedToHeroTesting #HeroScenePanel,.connectedToLaneTraining #HeroScenePanel,.connectedToHeroTraining #HeroScenePanel
{
	visibility: collapse;
}

@keyframes 'RosterFadeIn'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

@keyframes 'RosterFadeOut'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

#DashboardContents
{
	width: 100%;
	height: 100%;
	max-width: 2000px;
	transition-property: border;
	transition-duration: 0.8s;
	transition-delay: 0.1s;
}

.AspectRatio21x9 #DashboardContents
{
	width: 100%;
	height: 100%;
	max-width: 3440px;
}

#Library
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 150px;
	width: 300px;
}

#BookBacker
{
	height: 180px;
	width: 100%;
	background-size: cover;
	vertical-align: middle;
	vertical-align: bottom;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

#Library:hover #BookBacker
{
	opacity: 1;
}

#BookCover
{
	width: 130px;
	height: 200px;
	opacity: 0.6;
	overflow: noclip;
	saturation: 0.8;
	background-image: url("s2r://panorama/images/book_images/geist/geist_book_cover_vertical_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	horizontal-align: right;
	vertical-align: bottom;
	border: 2px solid offWhite&05;
	box-shadow: 0px 0px 150px #000000aa;
	ui-scale: 90%;
	margin: 50px;
	transition-property: ui-scale, opacity, saturation, transform;
	transition-duration: 0.2s;
}

#BookNewViolator
{
	width: 50px;
	height: 50px;
	horizontal-align: right;
	margin-top: 25px;
	margin-right: 25px;
}

#BookNewCircle
{
	width: 15px;
	height: 15px;
	background-color: brandGreen;
	border-radius: 50px;
	horizontal-align: center;
	vertical-align: middle;
}

#BookNewFrame
{
	width: 15px;
	height: 15px;
	border: 2px solid brandGreen;
	border-radius: 50px;
	horizontal-align: center;
	vertical-align: middle;
	animation-name: violatorPulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes 'violatorPulse'
{
	0%
	{
		opacity: 0.5;
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 2;
		opacity: 0;
	}
	
}

#Library:hover #BookCover
{
	ui-scale: 100%;
	opacity: 1;
	saturation: 1;
	border: 2px solid offWhite&00;
	box-shadow: 2px 2px 5px #000000aa;
	transform: rotateZ(-3deg);
}

.ViewLabel
{
	horizontal-align: right;
	vertical-align: bottom;
	text-transform: uppercase;
	margin-right: 50px;
	margin-bottom: 10px;
	font-weight: bold;
	text-shadow: 2px 2px 3px #000000;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

#Library:hover .ViewLabel
{
	opacity: 1;
}

#LeftFade
{
	width: 750px;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), to( #000000 ) );
	ignore-parent-flow: true;
	visibility: collapse;
}

#LeftStripe,.connectedToGame.isShowingRosterConfirmPage #LeftStripe
{
	padding: 0px 100px;
	height: 100%;
	width: 580px;
	flow-children: down;
	transition-property: transform;
	transition-duration: 0.15s;
	transform: translateX( -600px );
	background-size: 100%;
	background-position: right;
	visibility: collapse;
	z-index: 8;
	background-color: gradient( linear, 100% 0%, 10% 0%, from( #04040400 ), to( #040404 ) );
}

.IsShowingDashboardPage #LeftStripe,.connectedToGame #LeftStripe
{
	transform: translateX( 0px );
	visibility: visible;
}

.AspectRatio21x9.connectedToGame #LeftStripe
{
	background-color: none;
}

#LogoArea
{
	width: 270px;
	height: fit-children;
	flow-children: down;
	margin: 80px 0px 30px 0px;
}

#dashboard_movie
{
	horizontal-align: middle;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.in_matchmaking #dashboard_movie
{
	blur: gaussian(4.0);
	opacity: 0.6;
	saturation: 0;
}

.introMovieActive #dashboard_movie
{
	opacity: 0;
}

#intro_movie
{
	horizontal-align: middle;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
}

.introMovieActive #intro_movie
{
	opacity: 1;
	transition-duration: 0.6s;
	transition-property: opacity;
	transition-timing-function: ease-in;
}

.connectedToGame #dashboard_movie
{
	visibility: collapse;
}

#GameTitle
{
	horizontal-align: left;
	background-size: cover;
	height: 150px;
	width: 100%;
	flow-children: down;
	background-image: url("s2r://panorama/images/main_menu/dl_v1_png.vtex");
	opacity: 0.9;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	margin-bottom: 0px;
}

.GameSubtext
{
	horizontal-align: center;
	text-transform: uppercase;
	font-weight: semi-bold;
	opacity: 0.2;
	font-family: sans;
	font-size: 16px;
	letter-spacing: 0.1px;
	text-align: center;
}

#GameTitle Label
{
	font-size: 90px;
	vertical-align: middle;
	text-transform: uppercase;
	color: offWhite;
	font-family: "House of Cards";
	font-weight: bold;
	horizontal-align: left;
	text-align: left;
}

#Menu
{
	flow-children: down;
	width: 100%;
	height: 100%;
}

.InGameOptions
{
	width: 100%;
	flow-children: down;
}

.nav_menu_item
{
	flow-children: right;
	transition-property: background-color, brightness;
	transition-duration: 0.2s;
}

.nav_menu_item:disabled
{
	brightness: 0.3;
}

.nav_menu_item.disabled:hover
{
	background-color: #00000000;
	color: rgba(255, 255, 255, 0.5);
	brightness: 0.3;
}

.nav_menu_item.disabled:hover Label
{
	color: rgba(255, 255, 255, 0.5);
	brightness: 0.3;
}

.nav_menu_item.play
{
	background-size: 100% 100%;
	border-radius: 3px 3px 0px 0px;
	margin: 0px;
	margin-bottom: 10px;
	horizontal-align: middle;
	width: 200px;
	height: 65px;
	margin-right: 65px;
	transition-property: background-image;
	transition-duration: 0.2s;
}

.can_ready_up .nav_menu_item.play
{
	margin-bottom: 0px;
}

#reconnect.nav_menu_item.play
{
	width: 340px;
	height: 110px;
}

.nav_menu_item.primary
{
	margin: 0px;
	margin-bottom: 2px;
	width: 280px;
	padding: 0px 0px;
	height: 70px;
	horizontal-align: left;
	flow-children: right;
	overflow: noclip;
}

.menuButtonLabel
{
	horizontal-align: middle;
}

#quit
{
	margin-top: 20px;
}

.isUsingSteamDeck .nav_menu_item.play
{
	background-color: #ffffff15;
}

.hasNewLearn.hasNeverPlayedMM .nav_menu_item.play
{
	background-color: #ffffff15;
}

.nav_menu_item Label
{
	vertical-align: middle;
	font-style: normal;
	font-family: serif;
	font-weight: bold;
	font-size: 44px;
	padding: 2px 0px;
	text-align: left;
	horizontal-align: left;
	color: #FFEFD7;
	letter-spacing: 0.5px;
	transition-property: color, transform;
	transition-duration: 0.08s;
	overflow: noclip;
}

.nav_menu_item:hover Label.menuButtonLabel
{
	color: #7CBC1D;
	transition-property: color, transform;
	transition-duration: 0.1s;
}

#exittesting.nav_menu_item Label
{
	font-weight: bold;
}

#quit.nav_menu_item Label
{
	font-weight: bold;
	font-size: 30px;
	color: #FFEFD750;
}

.nav_menu_item.endsession,#quit.nav_menu_item
{
	height: 50px;
	font-size: 30px;
}

#quit.nav_menu_item:hover Label
{
	color: #FF5656;
}

.endsession Label
{
	color: #FF5656;
}

.nav_menu_item.resume:hover Label
{
	color: ritualGreenLight;
	z-index: 100;
	font-size: 60px;
	transform: rotateZ(-1deg);
}

.hasNewLearn.hasNeverPlayedMM .nav_menu_item.play Label
{
	color: #ffffff;
	font-weight: semi-bold;
}

.nav_menu_item Label.queueNumber
{
	font-size: 16px;
	font-weight: bold;
	font-family: sans;
	text-transform: uppercase;
	visibility: collapse;
	letter-spacing: 0px;
	color: ritualGreen;
	margin-top: -10px;
	border-radius: 2px;
}

.has_users_in_queue .nav_menu_item Label.queueNumber
{
	visibility: visible;
}

.nav_menu_item.endsession,#exittesting.endsession
{
	margin-bottom: 20px;
}

.nav_menu_item.endsession:hover Label
{
	transform: rotateZ(-2deg);
	color: #FF5656;
}

.nav_menu_item.suboption
{
	background-color: #7FAE3A;
	border-radius: 0px 0px 3px 3px;
	margin: 0px;
	margin-bottom: 10px;
	margin-top: 2px;
	visibility: collapse;
}

.nav_menu_item.suboption Label
{
	color: #262626;
}

.nav_menu_item.minor
{
	background-color: none;
	padding: 5px 0px;
	margin: 0px;
}

.nav_menu_item.minor Label
{
	font-size: 20px;
	height: 30px;
	font-weight: semi-bold;
	color:offWhite&40;
	vertical-align: middle;
	font-family: sans;
	transition-property: pre-transform-scale2d, color;
	transition-duration: 0.1s;
}

.nav_menu_item:hover Label,.nav_menu_item:active Label
{
	transform: none;
	font-style: normal;
}

.nav_menu_item:active Label
{
	color: brandGreen;
	pre-transform-scale2d: 0.95;
}

.nav_menu_item:active Image
{
	opacity: 1;
}

.nav_menu_item.minor:hover Label
{
	font-size: 20px;
	color: ritualGreen;
	font-style: normal;
	transition-property: pre-transform-scale2d, color;
	transition-duration: 0.1s;
	pre-transform-scale2d: 1;
}

.PlayContents
{
	width: 100%;
	height: 100%;
}

.Arrow
{
	vertical-align: middle;
	margin-left: 10px;
	width: 32px;
	height: 32px;
	margin-top: 4px;
	transition-property: margin, wash-color, transform;
	transition-duration: 0.1s;
	wash-color: #FFEFD7;
}

.major .Arrow
{
	wash-color: #FFEFD7;
	opacity: 0.8;
}

#matchmakeReadyUp.nav_menu_item.play:hover .Arrow
{
	wash-color: offBlack;
	transform: rotateZ(-20deg) translateY(10px) translateX(-10px);
}

.resume:hover .Arrow
{
	wash-color: ritualGreenLight;
	margin-bottom: 3px;
}

.hasNewLearn.hasNeverPlayedMM .Arrow
{
	wash-color: #FFEFD7;
}

.ArrowBack
{
	vertical-align: middle;
	margin-right: 8px;
	margin-bottom: 4px;
	width: 20px;
	height: 20px;
	opacity: 0.4;
	transition-property: margin-left, wash-color, transform, width;
	transition-duration: 0.1s;
	wash-color: #FFEFD7;
}

.DiagonalArrow
{
	vertical-align: middle;
	margin-left: 8px;
	width: 20px;
	height: 20px;
	margin-top: 6px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.nav_menu_item:hover .DiagonalArrow
{
	wash-color: ritualGreen;
	opacity: 1;
	transition-duration: 0s;
}

.nav_menu_item:hover .DiagonalArrow
{
	wash-color: ritualGreenLight;
	opacity: 1;
}

.endsession:hover .ArrowBack
{
	wash-color: #FF5656;
}

.MenuIcon
{
	width: 50px;
	height: 60px;
	ignore-parent-flow: true;
	transform: translateY(30px);
	horizontal-align: left;
	wash-color: offWhite;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-delay: 0s;
}

.nav_menu_item:hover .MenuIcon,#rosterDetail:hover .MenuIcon
{
	opacity: 0.1;
	transition-duration: 0s;
}

#rosterDetail .MenuIcon
{
	background-image: url("s2r://panorama/images/main_menu/icons/menu_edit.vsvg");
	width: 75px;
	transform: translateX(175px) translateY(30px) rotateZ(-15deg);
}

#watch .MenuIcon
{
	background-image: url("s2r://panorama/images/main_menu/icons/menu_watch.vsvg");
	width: 75px;
	transform: translateX(-50px) translateY(5px) rotateZ(-15deg);
}

#heroes .MenuIcon
{
	background-image: url("s2r://panorama/images/main_menu/icons/menu_heroes_cards.vsvg");
	width: 85px;
	transform: translateX(152px) translateY(-30px) rotateZ(10deg);
}

#match_practice .MenuIcon
{
	background-image: url("s2r://panorama/images/main_menu/icons/menu_practice.vsvg");
	width: 55px;
	transform: translateX(-40px) translateY(0px) rotateZ(0deg);
}

#learn .MenuIcon
{
	background-image: url("s2r://panorama/images/main_menu/icons/menu_learn.vsvg");
	width: 70px;
	transform: translateX(-48px) translateY(20px) rotateZ(10deg);
}

#changehero .MenuIcon
{
	background-image: url("s2r://panorama/images/icons/hero_grid.vsvg");
	width: 60px;
	transform: translateX(230px) translateY(55px) rotateZ(-12deg);
}

#exittesting .MenuIcon
{
	background-image: url("s2r://panorama/images/icons/arrow_west.vsvg");
	width: 40px;
	transform: translateX(-40px) translateY(20px) rotateZ(12deg);
}

#quit .MenuIcon
{
	background-image: url("s2r://panorama/images/main_menu/icons/menu_exit.vsvg");
	width: 75px;
	transform: translateX(-40px) translateY(0px) rotateZ(-5deg);
}

.HeroGrid
{
	width: 30px;
	height: 20px;
	horizontal-align: right;
	vertical-align: middle;
	wash-color: #262626;
}

.smallIcon
{
	width: 20px;
	height: 20px;
	opacity: 0.2;
	margin-right: 6px;
	vertical-align: middle;
	wash-color: offWhite;
	transition-property: opacity, wash-color;
	transition-duration: 0.3s;
}

.SendIcon
{
	background-image: url("s2r://panorama/images/icons/icon_send.vsvg");
	background-size: contain;
	transform: rotateZ(-45deg);
}

.GearIcon
{
	background-image: url("s2r://panorama/images/icons/icon_gear.vsvg");
	background-size: contain;
}

.ZooIcon
{
	background-image: url("s2r://panorama/images/icons/icon_zoo_psd.vtex");
	background-size: 80% 80%;
	background-position: center;
	background-repeat: no-repeat;
}

.nav_menu_item.minor:hover Label
{
	color: ritualGreenLight;
}

.nav_menu_item.minor:hover .smallIcon
{
	wash-color: ritualGreenLight;
	opacity: 1;
}

.highlight
{
	color: white;
}

@keyframes 'violator_rotate'
{
	0%
	{
		transform: rotateZ(0deg);
	}
	
	50%
	{
		transform: rotateZ(180deg);
	}
	
	100%
	{
		transform: rotateZ(360deg);
	}
	
}

.violator
{
	visibility: collapse;
	vertical-align: center;
	animation-name: violator_rotate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	margin-right: 10px;
}

.QuickGuideNewVersion .quick_guide_violator
{
	visibility: visible;
	wash-color: yellow;
}

#hover_tips
{
	background-color: #000000cc;
	width: 720px;
	height: 60px;
	x: 1000px;
	y: 430px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

#hover_tips Label
{
	font-family: "Exo";
	font-size: 18px;
	font-weight: medium;
}

.hover_tips_active #hover_tips
{
	visibility: visible;
	opacity: 1;
}

#QuickMute
{
	width: 25px;
	height: 25px;
	margin-top: 5px;
	background-image: url("s2r://panorama/images/icons/icon_sound_on.vsvg");
	background-size: contain;
	opacity: 0.7;
	margin-right: 100px;
	transition-property: opacity, pre-transform-scale2d, background-image;
	transition-duration: 0.2s;
}

#QuickMute:hover
{
	pre-transform-scale2d: 1.2;
	saturation: 0.8;
}

.muted #QuickMute
{
	background-image: url("s2r://panorama/images/icons/icon_sound_off.vsvg");
}

.muted #QuickMute:hover
{
	pre-transform-scale2d: 1.2;
}

#party_ctn
{
	width: 400px;
	horizontal-align: right;
	vertical-align: top;
	margin: 500px 20px 0px 0px;
	flow-children: down;
	z-index: 1000;
}

#PartyContainer
{
	visibility: collapse;
}

.IsShowingDashboardPage #PartyContainer,.connectedToGame #PartyContainer
{
	visibility: visible;
	visibility: collapse;
}

.HideParty #PartyContainer
{
	visibility: collapse;
}

#PlaytestContainer
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 600px;
	margin: 0px 40px 40px 0px;
	flow-children: down;
	visibility: collapse;
}

#matchmaking_status
{
	background-color: #00000090;
	color: silvered;
	width: 100%;
	flow-children: down;
	z-index: 5;
	visibility: collapse;
}

.IsShowingDashboardPage #PlaytestContainer
{
	visibility: visible;
}

.connectedToGame #PlaytestContainer
{
	visibility: collapse;
}

.matchmaker_header
{
	color: white;
	font-size: 24px;
	visibility: collapse;
	font-weight: medium;
}

.ActiveMatchButton
{
	flow-children: right;
	visibility: collapse;
}

.active_match_title
{
	font-size: 20px;
	vertical-align: bottom;
	color: lightgrey;
	horizontal-align: left;
	vertical-align: center;
	font-weight: medium;
}

.ActiveMatchButton .DiagonalArrow
{
	opacity: 1;
	wash-color: brandGreen;
	width: 15px;
	height: 15px;
}

.unranked_party_blocked,.unranked_mm_paused,.unranked_mm_disabled
{
	visibility: collapse;
}

.IsUnrankedPartyLocked .unranked_party_blocked,.UnrankedMMPaused .unranked_mm_paused
{
	visibility: visible;
}

#playtest_status
{
	flow-children: right;
	padding: 15px;
}

.status_label
{
	vertical-align: middle;
	margin-right: 10px;
	text-transform: uppercase;
	font-weight: semi-bold;
	color: silvered&90;
	font-size: 16px;
}

.HasPlaytestSchedule #new_playtest_schedule
{
	visibility: visible;
}

.playtest_schedule_text
{
	font-size: 28px;
	color: #AAAAFF;
}

.playtest_schedule_name
{
	font-size: 18px;
	color: #888888;
}

#new_playtest_schedule
{
	flow-children: down;
	width: 100%;
	padding: 10px 15px 20px 15px;
	visibility: collapse;
}

#playtest_schedule_info
{
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
}

#playtest_schedule_info Label
{
	vertical-align: middle;
	margin-right: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: silvered&90;
	font-size: 16px;
}

#playtest_schedule_times
{
	flow-children: right;
	width: 100%;
}

.playtest_days
{
	font-weight: bold;
	font-size: 22px;
}

.playtest_date_time
{
	flow-children: right;
}

.playtest_time
{
	opacity: 0.7;
	font-weight: semi-bold;
}

.local_time
{
	font-size: 14px;
	opacity: 0.3;
	vertical-align: bottom;
	margin-left: 8px;
}

.playtest_date_box
{
	width: 49%;
	flow-children: down;
}

.match_queue_text
{
	font-size: 20px;
	vertical-align: bottom;
	color: lightgrey;
	horizontal-align: left;
	vertical-align: center;
}

.server_count
{
	color: red;
	visibility: collapse;
}

.servers_available .server_count
{
	color: white;
}

.show_server_count .server_count
{
	visibility: visible;
}

.match_active_text
{
	font-size: 20px;
	vertical-align: bottom;
	color: lightgrey;
	horizontal-align: left;
	vertical-align: center;
	font-weight: bold;
	color: brandGreen;
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.ActiveMatchButton:hover .DiagonalArrow,.ActiveMatchButton:hover .match_active_text
{
	wash-color: #A5DE4F;
	color: #ffffff;
}

.ActiveMatchButton:hover .DiagonalArrow
{
	transform: translate3d(1px, -1px, 0px);
}

.HasLiveMatches .ActiveMatchButton
{
	visibility: visible;
}

#RecommendFriend
{
	flow-children: right;
	background-color: offWhite;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #007E7C30 ), to( #00E4E130 ) );
	width: 100%;
	padding: 15px 20px;
}

.FriendsIcon
{
	background-image: url("s2r://panorama/images/icons/icon_friends.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-bottom: 1px;
}

.recommendIntro
{
	color: silvered;
	font-weight: semi-bold;
	max-width: 330px;
	margin-right: 20px;
}

#RecommendButton
{
	width: 210px;
	margin: 0px;
	vertical-align: middle;
}

#DiscordForumInvite
{
	flow-children: down;
	background-color: offWhite;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #333c9d30 ), to( #53588f60 ) );
	width: 100%;
	padding: 15px 20px;
	visibility: visible;
}

.hasCreatedDiscordInvite.hasJoinedForum #DiscordForumInvite
{
	visibility: collapse;
}

.in_matchmaking.hasJoinedForum #DiscordForumInvite,.in_matchmaking.hasCreatedDiscordInvite #DiscordForumInvite
{
	visibility: collapse;
}

.completedText
{
	visibility: collapse;
}

.hasCreatedDiscordInvite #DiscordButton .completedText
{
	visibility: visible;
}

.hasCreatedDiscordInvite #DiscordButton .defaultText
{
	visibility: collapse;
}

.hasJoinedForum #ForumButton .completedText
{
	visibility: visible;
}

.hasJoinedForum #ForumButton .defaultText
{
	visibility: collapse;
}

.in_matchmaking #DiscordForumInvite
{
	visibility: collapse;
}

.recommendIntro
{
	color: silvered;
	font-weight: semi-bold;
	width: 330px;
	height: 50px;
	margin-right: 20px;
	white-space: normal;
}

#ButtonRow
{
	flow-children: right;
	margin: 10px 0px;
	vertical-align: bottom;
}

#DiscordButton
{
	margin: 0px;
	background-color: #b5bbfc60;
	vertical-align: middle;
	horizontal-align: right;
}

#DiscordButton:hover
{
	background-color: #e7eaff80;
}

#ForumButton,#DiscordButton
{
	margin: 0px 20px 0px 0px;
}

.ForumIcon
{
	width: 16px;
	height: 16px;
	wash-color: offBlack;
	vertical-align: middle;
	margin-top: 3px;
	opacity: 1;
	margin-right: 8px;
	background-image: url("s2r://panorama/images/icons/icon_feedback.vsvg");
	background-size: contain;
}

.DiscordIcon
{
	width: 16px;
	height: 16px;
	wash-color: offBlack;
	vertical-align: middle;
	margin-top: 3px;
	opacity: 0.9;
	margin-right: 4px;
	background-image: url("s2r://panorama/images/icons/icon_discord.vsvg");
	background-size: contain;
}

.hasCreatedDiscordInvite .DiscordIcon,.hasJoinedForum .ForumIcon
{
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
}

.hasCreatedDiscordInvite #DiscordButton,.hasJoinedForum #ForumButton
{
	opacity: 0.4;
}

.accountIntro
{
	color: silvered;
	font-weight: bold;
	white-space: normal;
	font-size: 20px;
}

.accountDesc
{
	color: silvered;
	font-weight: semi-bold;
	white-space: normal;
}

.ProfileBacker
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/main_menu/profile_backer.vsvg");
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #000000 ), to( #00000000 ) );
	background-position: right;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	wash-color: offWhite;
	opacity: 0.04;
}

#party
{
	width: 390px;
	horizontal-align: right;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 0px;
}

#SocialContainer
{
	vertical-align: top;
	horizontal-align: right;
	flow-children: down;
	width: 600px;
}

#NewPlayerContainer
{
	vertical-align: middle;
	horizontal-align: right;
	ignore-parent-flow: true;
	visibility: collapse;
	z-index: 100;
	margin-top: 0px;
	visibility: collapse;
}

#PlayerProfileCard
{
	width: 100%;
}

#Avatar
{
	width: 40px;
	height: 40px;
	background-color: #222222;
	border-radius: 2px;
	border: 1px solid #333;
	margin-right: 15px;
}

#PlayerName
{
	vertical-align: middle;
	color: #999;
}

.menu_divider
{
	height: 5px;
}

#matchmakeLeave
{
	visibility: collapse;
}

.force_match_button
{
	visibility: collapse;
}

.force_match_button .menuButtonLabel
{
	color: red;
	font-size: 20px;
}

.force_match_button .menuButtonLabel:hover
{
	transform: translateX(5px);
	font-size: 20px;
}

.can_force_mm_unranked #matchmakeForceUnranked
{
	visibility: visible;
}

.can_force_mm_coopbot #matchmakeForceCoopBot
{
	visibility: visible;
}

#matchmakeEnter
{
	visibility: visible;
	flow-children: down;
}

#matchmakeEnterSteamDeck
{
	visibility: collapse;
}

.isUsingSteamDeck #matchmakeEnterSteamDeck
{
	visibility: visible;
}

#matchmakePartyPlayNotReady .PartyError
{
	font-size: 24px;
}

#matchmakeClearReadyUp
{
	horizontal-align: middle;
	margin-top: 20px;
}

#matchmakePartySetMode,#matchmakePartyClearMode,#matchmakeClearReadyUp
{
	visibility: collapse;
	flow-children: down;
}

.party_set_mode #matchmakePartySetMode,.party_clear_mode #matchmakePartyClearMode,.party_clear_ready #matchmakeClearReadyUp,.party_clear_ready #matchmakePartyClearMode
{
	visibility: visible;
}

#matchmakeReadyUp,#matchmakePartyPlay,#matchmakePartyPlayNotReady,.can_ready_up #matchmakePartyPlayNotReady,.in_matchmaking #matchmakePartyPlayNotReady,.can_party_play #matchmakePartyPlayNotReady,.connecting_server #matchmakePartyPlayNotReady,.party_set_mode #matchmakePartyPlayNotReady
{
	visibility: collapse;
}

.in_party #matchmakePartyPlayNotReady
{
	wash-color: #444444;
	visibility: visible;
	flow-children: down;
}

.in_matchmaking #matchmakePartyPlayNotReady
{
	visibility: collapse;
}

.can_ready_up #matchmakeReadyUp,.can_party_play #matchmakePartyPlay
{
	visibility: visible;
}

.isShowingRosterConfirmPage #matchmakeReadyUp
{
	visibility: collapse;
}

.party_clear_ready #matchmakeReadyUp
{
	visibility: collapse;
}

.party_set_mode.in_party #matchmakePartyPlayNotReady
{
	visibility: collapse;
}

.isUsingSteamDeck #matchmakeEnter,.in_party #matchmakeEnter
{
	visibility: collapse;
}

.is_in_lobby #matchmakeReadyUp,.connectedToGame #matchmakeReadyUp,.in_matchmaking #matchmakeReadyUp,.connecting_server #matchmakeReadyUp
{
	visibility: collapse;
}

#rosterDetail,.in_matchmaking.in_party #rosterDetail
{
	visibility: collapse;
}

.in_matchmaking #rosterDetail
{
	visibility: visible;
}

.is_in_lobby #matchmakePartyPlayNotReady,.is_in_lobby #matchmakePartyPlay,.is_in_lobby #matchmakePartySetMode,.is_in_lobby #matchmakePartyClearMode,.connectedToGame #matchmakePartyPlayNotReady,.connectedToGame #matchmakePartyPlay,.connectedToGame #matchmakePartySetMode,.connectedToGame #matchmakePartyClearMode
{
	visibility: collapse;
}

#StatusIcons
{
	horizontal-align: right;
	margin: 20px 410px 0px 0px;
	visibility: visible;
	z-index: 101;
}

.connectedToGame #StatusIcons
{
	visibility: collapse;
}

#Announcements
{
	width: 60px;
	height: 60px;
	horizontal-align: right;
	margin: 0px 5px;
	background-color: offBlack;
	visibility: collapse;
	opacity: 0.5;
	border-radius: 50px;
	border: 2px solid offWhite&10;
	z-index: 101;
}

.ShowAnnouncements #Announcements
{
	background-color: offBlack;
	border: 2px solid #ff606050;
	opacity: 1;
}

.AnnouncementIcon
{
	background-image: url("s2r://panorama/images/icons/icon_announcements.vsvg");
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	wash-color: offWhite;
	opacity: 0.2;
}

.AnnouncementIconClose
{
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
	background-size: 40% 40%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	wash-color: #ff6060;
	opacity: 0.6;
	visibility: collapse;
}

.ShowAnnouncements .AnnouncementIconClose
{
	visibility: visible;
}

.ShowAnnouncements .AnnouncementIcon
{
	visibility: collapse;
}

#Announcements:hover
{
	opacity: 1;
}

.HasAnnouncements.IsShowingDashboardPage #Announcements
{
	visibility: visible;
}

.newBadge
{
	width: 60px;
	height: 60px;
	border-radius: 50px;
	vertical-align: center;
	horizontal-align: center;
	background-color: brandGreen;
	ignore-parent-flow: true;
	visibility: collapse;
}

.HasNewAnnouncements.IsShowingDashboardPage .newBadg
{
	visibility: visible;
	opacity: 0.5;
	animation-name: announcementPulse;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

@keyframes 'announcementPulse'
{
	0%
	{
		opacity: 0.5;
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1.5;
		opacity: 0;
	}
	
}

.HasNewAnnouncements #Announcements
{
	opacity: 1;
	border: 3px solid brandGreen;
	background-color: brandGreen;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( brandGreen ), to( ritualGreen ) );
}

.HasNewAnnouncements .AnnouncementIcon
{
	wash-color: offBlack;
	opacity: 0.95;
}

#ControlZooIcon
{
	width: 50px;
	height: 50px;
	background-color: #00000090;
	horizontal-align: right;
	margin: 0px 5px;
	background-image: url("s2r://panorama/images/icons/envelope.vsvg");
	background-size: 65% 45%;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #000000ea;
}

#LeftStripe
{
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-delay: 0.3s;
}

.showPlayMenu #LeftStripe
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0s;
}

#PlayMenu
{
	height: 100%;
	width: 1200px flow-children: right;
	transition-property: transform;
	transition-duration: 0.15s;
	background-color: gradient( linear, 100% 0%, 80% 0%, from( #00000000 ), to( #000000aa ) );
	background-color: #111111f9;
	background-size: 100%;
	background-position: right;
	z-index: 9;
	flow-children: right;
	opacity: 0;
	transition-property: width;
	transition-duration: 0.05s;
	transition-timing-function: ease;
}

.IsShowingDashboardPage.showPlayMenu #PlayMenu,.connectedToGame.showPlayMenu #PlayMenu
{
	width: 1200px;
	opacity: 1;
	transition-property: width, opacity;
	transition-duration: 0s;
}

#PlayModes
{
	flow-children: down;
	width: 700px;
	height: 100%;
	padding: 0px 20px;
	margin-left: 100px;
	padding-top: 80px;
}

#PlayOptions
{
	flow-children: down;
	width: 100%;
	height: fit-children;
	transform: translateX(-500px);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-delay: 0.05s;
}

.showPlayMenu #PlayOptions
{
	opacity: 1;
	transform: translateX(0px);
	transition-property: transform, opacity;
	transition-duration: 0s;
}

Label.PlayTitle
{
	font-size: 28px;
	color: rgba(255, 255, 255, 0.8);
	font-weight: semi-bold;
	color: #262626;
	color: offWhite;
	opacity: 0.3;
	padding: 10px;
	font-family: serif;
}

.playoption Label.menuButtonLabel
{
	font-style: normal;
	font-family: serif;
	font-weight: bold;
	font-size: 26px;
	height: 50px;
	width: 100%;
	border: 1px solid red;
	padding: 0px 5px;
	text-overflow: shrink;
	text-align: center;
	horizontal-align: center;
	color: #FFEFD7aa;
	margin-top: 8px;
	overflow: noclip;
}

.ImgArea
{
	width: 100%;
	height: 220px;
	background-color: #333;
}

.smallButton .ImgArea
{
	height: 150px;
}

.TextArea
{
	flow-children: up;
	width: 100%;
	height: 160px;
	padding: 0px 5px;
	vertical-align: bottom;
	background-color: offBlack&f5;
}

.playoptionLabel
{
	font-size: 38px;
	font-family: serif;
	font-weight: bold;
	horizontal-align: center;
	text-align: center;
	vertical-align: bottom;
	text-overflow: shrink;
	line-height: 32px;
	width: 100%;
}

#Option_Ranked .playoptionLabel
{
	margin-bottom: -7px;
}

#Option_RankedLocked .playoptionLabel
{
	opacity: 0.5;
}

.smallButton .playoptionLabel
{
	font-size: 26px;
}

#BotDifficultyDropDown
{
	visibility: collapse;
}

#TitleArea
{
	width: 100%;
	max-height: 80px;
	flow-children: down;
}

.rankedAvailableStatus
{
	font-size: 22px;
	text-transform: uppercase;
	color: rgb(199, 83, 83);
	font-weight: bold;
	font-family: serif;
	horizontal-align: center;
	letter-spacing: 1px;
}

#Option_Ranked:hover .rankedAvailableStatus
{
	brightness: 1.3;
}

#DescArea
{
	width: 100%;
	height: 80px;
}

#RankedOpeningSoon
{
	text-align: center;
	font-weight: semi-bold;
	color: rgb(55, 155, 131);
	padding: 0px 20px;
	margin-bottom: 30px;
	font-size: 16px;
}

.playoption:hover Label.menuButtonLabel
{
	color: offBlack;
	transition-property: color, transform;
	transition-duration: 0.08s;
}

#Option_Matchmaking.playoption:hover Label.menuButtonLabel,#Option_PlayersVsBots.playoption:hover Label.menuButtonLabel
{
	color: offBlack;
	transition-property: color, transform;
	transition-duration: 0.08s;
}

#PrimaryModes
{
	width: 780px;
}

#SubModes
{
	width: 780px;
}

.playoption
{
	margin: 0px;
	flow-children: down;
	margin-bottom: 3px;
	background-color: offBlack;
	border: 1px solid #424242;
	border-radius: 5px;
	transition-property: background-color, pre-transform-scale2d, padding;
	transition-duration: 0.2s;
}

.largeButton.option2
{
	x: 330px;
}

.smallButton.option2
{
	x: 220px;
}

.smallButton.option3
{
	x:440px;
}

.playoption.largeButton
{
	width: 310px;
	height: 400px;
	margin: 10px;
}

.playoption.smallButton
{
	width: 200px;
	height: 300px;
	margin: 10px;
}

.in_party #Option_HeroTesting
{
	opacity: 0.2;
}

.party_can_sandbox #Option_HeroTesting
{
	opacity: 1;
}

.playoption:hover
{
	brightness: 1.6;
	pre-transform-scale2d: 1.05;
}

#Option_Matchmaking.playoption Label.menuButtonLabel,#Option_PlayersVsBots.playoption Label.menuButtonLabel
{
	font-size: 38px;
	text-align: center;
	horizontal-align: center;
	color: offWhite;
	height: 52px;
	text-overflow: shrink;
}

#Option_RankedLocked
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/button_ranked_locked_png.vtex");
	background-image: url("s2r://panorama/images/ranked/ranked_closed_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#Option_Ranked
{
	background-image: url("s2r://panorama/images/ranked/ranked_closed_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.playoption Label.queueNumber
{
	font-weight: semi-bold;
}

.playoption:hover Label.queueNumber
{
	color: offBlack;
}

.playoption Label.noQueue
{
	color: #334c9f;
}

#RankedMode .TextArea
{
	flow-children: up;
	width: 100%;
	height: 170px;
	padding: 0px 25px;
	vertical-align: bottom;
	background-color: none;
	margin-bottom: 0px;
}

#Option_RankedLocked .TextArea
{
	margin-bottom: 10px;
}

#RankedMode Label.playModeDesc
{
	height: 85px;
}

#RankArea
{
	width: 250px;
	height: 250px;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 10px;
}

#RankMedal
{
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}

.rankTitle
{
	horizontal-align: center;
	vertical-align: bottom;
	font-weight: bold;
	text-transform: uppercase;
	color: offWhite&30;
	font-family: serif;
	margin-bottom: 10px;
	font-size: 28px;
	max-height: 40px;
	text-overflow: shrink;
	text-align: center;
}

#RankMedal.rank0
{
	background-image: url("s2r://panorama/images/ranked/uninitiated_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#UnlockArea
{
	width: 200px;
	height: 200px;
	horizontal-align: center;
	margin-top: 30px;
	background-size: cover;
}

#RankedProgressCircle
{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: #717171;
}

#RankedProgressCircleAmount
{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: #62e762;
}

#ProgressLabelsContainer
{
	height: 90%;
	width: 90%;
	border-radius: 50%;
	vertical-align: middle;
	horizontal-align: center;
	background-color: #10130d;
}

#ProgressLabels
{
	height: 80px;
	vertical-align: middle;
	horizontal-align: center;
	flow-children: right;
}

#progressAchieved
{
	font-size: 60px;
	font-family: serif;
	font-weight: bold;
}

#progressTotal
{
	font-size: 35px;
	font-family: serif;
	vertical-align: bottom;
	font-weight: semi-bold;
	opacity: 0.3;
}

Label.playModeDesc
{
	font-family: sans;
	font-size: 15px;
	color: offWhite&70;
	text-align: center;
	horizontal-align: center;
	font-weight: semi-bold;
	width: 100%;
	vertical-align: top;
	height: 100%;
}

.largeButton .playModeDesc
{
	font-size: 19px;
}

#play_low_priority_matchmaking_description
{
	visibility: collapse;
	color: colorEnemy;
	text-overflow: shrink;
	margin-bottom: 5px;
}

.LowPriorityMatchmaking #play_matchmaking_description
{
	visibility: collapse;
}

.LowPriorityMatchmaking #play_low_priority_matchmaking_description
{
	visibility: visible;
}

#RankedMode
{
	flow-children: down;
	width: 400px;
	height: 100%;
	padding: 0px 20px;
	padding-top: 80px;
	background-color: #0b0b0b90;
	border-left: 2px solid #ffffff03;
}

#RankedOption
{
	flow-children: down;
	width: 100%;
	padding: 10px;
}

.rankedoption
{
	margin: 0px;
	flow-children: down;
	margin-bottom: 3px;
	width: 310px;
	height: 430px;
	horizontal-align: center;
	transition-property: background-color, pre-transform-scale2d, padding;
	transition-duration: 0.2s;
}

#Option_Ranked:hover
{
	brightness: 1.1;
	pre-transform-scale2d: 1.01;
	animation-name: card_locked;
	animation-iteration-count: 1;
	animation-duration: 0.8s;
	opacity: 0.9;
}

@keyframes 'card_locked'
{
	0%
	{
		transform: rotateZ(0deg);
	}
	
	30%
	{
		transform: rotateZ(-1deg);
	}
	
	50%
	{
		transform: rotateZ(2deg);
	}
	
	70%
	{
		transform: rotateZ(-1deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

#ScheduleInfo
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	padding: 20px 10px;
}

#ScheduleList
{
	horizontal-align: center;
}

#ScheduleList #Weekends
{
	visibility: collapse;
}

.ScheduleTitle
{
	horizontal-align: center;
	font-weight: bold;
	font-size: 18px;
}

#SetSchedule
{
	horizontal-align: center;
	margin: 10px;
	padding: 5px 20px;
	background-size: 100% 100%;
	background-color: ritualGreen;
	opacity: 0.8;
	border-radius: 3px;
	flow-children: right;
	transition-property: opacity, background-color;
	transition-duration: 0.2s;
}

#SetSchedule:hover
{
	brightness: 1.4;
}

#SetSchedule Label
{
	horizontal-align: center;
	vertical-align: center;
	font-weight: bold;
	color: offBlack;
	font-family: serif;
	font-size: 22px;
	color: offBlack;
	margin-top: 5px;
}

@keyframes 'schedule_button_highlight'
{
	0%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		brightness: 1.6;
		pre-transform-scale2d: 1.01;
	}
	
	100%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
	}
	
}

#scheduleIcon
{
	width: 18px;
	height: 18px;
	background-image: url("s2r://panorama/images/icons/icon_calendar.vsvg");
	background-size: contain;
	wash-color: offBlack;
	vertical-align: middle;
	margin-right: 10px;
}

#RankedMode:hover #SetSchedule
{
	animation-name:schedule_button_highlight;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	opacity: 1;
}

#SetScheduleExplainer
{
	font-size: 16px;
	text-align: center;
	opacity: 0.6;
	font-weight: medium;
	margin: 5px 0px;
	visibility: collapse;
}

#ScheduleList,.microText
{
	visibility: collapse;
}

#SetSchedule,#SetScheduleExplainer,.scheduleSelected #ScheduleList,.scheduleSelected .microText
{
	visibility: visible;
}

.scheduleSelected #SetSchedule,.scheduleSelected #SetScheduleExplainer
{
	visibility: collapse;
}

#ViewAllSchedules
{
	visibility: collapse;
	horizontal-align: center;
	margin-top: 30px;
}

.scheduleSelected #ViewAllSchedules
{
	visibility: visible;
}

.segmentContainer
{
	flow-children: down;
}

.rankedSchedule
{
	flow-children: right;
	horizontal-align: center;
	border: 2px solid offWhite&30;
	border-radius: 8px;
	padding: 10px;
	margin: 3px;
}

#ScheduleInfo .rankedSchedule
{
	border: 2px solid offWhite&00;
	margin: 0px;
}

#ScheduleInfo #RegionName
{
	visibility: collapse;
}

.scheduleColumn
{
	flow-children: down;
	margin: 0px 5px;
}

.columnTitle
{
	font-family: sans;
	font-weight: bold;
	font-size: 15px;
	horizontal-align: center;
}

.timeSegment
{
	background-color: #333;
	width: 150px;
	padding: 3px 5px;
	border-radius: 3px;
	margin: 3px 0px;
}

.rankedSchedule:selected
{
	border: 2px solid ritualGreen;
	background-color: ritualGreen&20;
}

.selected
{
	visibility: collapse;
}

.rankedSchedule:selected .selected
{
	visibility: visible;
}

.timeLabel
{
	color: offBlack;
	color: offWhite&90;
	font-size: 15px;
	horizontal-align: center;
	font-weight: bold;
}

.microText
{
	font-size: 14px;
	horizontal-align: center;
	font-weight: medium;
	opacity: 0.5;
}

.DropdownPlaceholder
{
	background-color: #333;
	padding: 10px 30px;
}

#Option_Matchmaking
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_deadlock_psd.vtex");
	background-size: cover;
	background-img-opacity: 0.3;
}

#Option_PlayersVsBots
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_playersbots_psd.vtex");
	background-size: cover;
	background-img-opacity: 0.3;
}

#Option_HeroTesting
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_sandbox_psd.vtex");
	background-size: cover;
	background-img-opacity: 0.3;
}

#Option_BotMatch
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_privatebots_psd.vtex");
	background-size: cover;
	background-img-opacity: 0.3;
}

#Option_Lobby
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_custom_match_psd.vtex");
	background-size: cover;
	background-img-opacity: 0.3;
}

#Option_Ranked
{
	visibility: collapse;
}

.ranked_available #Option_RankedLocked,#RankedScheduleButton
{
	visibility: collapse;
}

#RankedScheduleButton,#RankedInfoButton
{
	horizontal-align: center;
}

.ranked_available #Option_Ranked,.ranked_available #RankedScheduleButton
{
	visibility: visible;
}

#UnavailableOverlay
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: #000000ee;
	z-index: 100;
	visibility: collapse;
}

#UnavailableOverlay Label
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	font-weight: bold;
	opacity: 0.7;
	color: rgb(207, 62, 62);
}

.in_party #UnavailableOverlay
{
	visibility: visible;
}

.connectedToHeroTesting #HeroTestingShop,.in_matchmaking #matchmakeLeave,.disconnected #connect,.disconnected #citadeltv,.connectedToGame #resume,.connectedToGame #disconnect,.connectedToGame #exittesting,.connectedToGame.isSpectator #disconnect_spectator,.connectedToGame #spectate,.connectedToGame.in_post_game #disconnect_spectator
{
	visibility: visible;
}

.connectedToNewPlayerSandbox #HeroTestingShop,.connectedToLaneTraining #HeroTestingShop
{
	visibility: collapse;
}

#HeroTestingShop,#devCommandsMenu,.is_in_lobby #matchmakeEnter,.is_in_lobby #rosterDetail,.in_matchmaking #matchmakeEnter,.connecting_server #matchmakeEnter,.entering_mm #matchmakeEnter,.entering_mm #rosterDetail,.is_in_lobby #matchmakeLeave,.connectedToGame #matchmakeEnter,.connectedToGame #learn,.connectedToGame.isSpectator.in_matchmaking #matchmakeEnter,.connectedToGame.isSpectator.in_matchmaking #rosterDetail,.connecting_server #rosterDetail,.connectedToGame #matchmakeLeave,.connectedToGame #rosterDetail,.disconnected.in_matchmaking #matchmakeEnter,.connectedToHeroTesting #spectate,.connectedToNewPlayerSandbox #spectate,#connect,#citadeltv,.disconnected #resume,.disconnected #disconnect,.connectedToHeroTesting #disconnect,.connectedToNewPlayerSandbox #disconnect,.connectedToGame.isSpectator #disconnect,.connectedToGame.in_post_game #disconnect,.entering_mm #exittesting,.connectedToGame #exittesting,.disconnected #exittesting,.disconnected #exittesting,.connectedToGame.isSpectator #exittesting,.connectedToGame.in_post_game #exittesting,.disconnected #disconnect_spectator,.disconnected #spectate,.gc_disconnected #match_history,.gc_disconnected #submit_feedback,.gc_disconnected #matchmakeLeave,.connecting_server #match_practice,.connectedToGame #match_practice,.connectedToGame #heroes,.connectedToGame #watch,.connecting_server #watch,.connecting_server #social,.connectedToGame #NewPlayerContainer,.connectedToLaneTraining #NewPlayerContainer,.changehero
{
	visibility: collapse;
}

#submit_feedback
{
	visibility: collapse;
}

.connectedToHeroTesting #exittesting,.connectedToHeroTesting .changehero,.connectedToNewPlayerSandbox #exittesting,.connectedToGame.isSpectator #matchmakeEnter,.connectedToGame.isSpectator.in_matchmaking #rosterDetail,.connectedToGame.isSpectator.in_matchmaking #matchmakeLeave,.connectedToHeroTesting.in_matchmaking #matchmakeLeave,.connectedToNewPlayerSandbox.in_matchmaking #matchmakeLeave
{
	visibility: visible;
}

.connectedToNewPlayerSandbox #changehero
{
	visibility: collapse;
}

.connectedToGame #devCommandsMenu
{
	visibility: visible;
}

#reconnect,#lobbyleave,#reconnect_panel,#disconnect_spectator
{
	visibility: collapse;
}

.reconnect_available #reconnect,.leave_lobby_available #lobbyleave,.reconnect_available #reconnect_panel,.leave_lobby_available #reconnect_panel
{
	visibility: visible;
}

#label_leave
{
	visibility: collapse;
}

.SafeToAbandon #label_leave
{
	visibility: visible;
}

.SafeToAbandon #label_abadon
{
	visibility: collapse;
}

.in_party #matchmakeEnter,.in_party #create_party,.in_party.connectedToGame.isSpectator #matchmakeEnter,.in_party.connectedToGame.isSpectator.in_matchmaking #matchmakeEnter
{
	visibility: collapse;
}

#CitadelQuickGuide
{
	width: 100%;
	height: 100%;
}

#BuildInfo
{
	flow-children: down;
	margin-bottom: 40px;
	vertical-align: bottom;
	horizontal-align: left;
	ignore-parent-flow: true;
}

#BuildNumber,.region_label
{
	color: #ffffff20;
	font-size: 14px;
	text-align: left;
}

#QueueSize
{
	vertical-align: bottom;
	horizontal-align: right;
	color: grey;
	margin-right: 50px;
	margin-bottom: 170px;
	font-size: 16px;
}

#devCommandsMenu
{
	width: 600px;
	width: 400px;
	horizontal-align: right;
	vertical-align: bottom;
	z-index: 99;
}

#TooltipManager
{
	width: 100%;
	height: 100%;
	z-index: 10000;
}

#ContextMenuManager
{
	width: 100%;
	height: 100%;
	z-index: 9;
}

.in_scheduled_playtest .match_queue_text
{
	visibility: collapse;
}

.use_mmr_matchmaking.in_scheduled_playtest .match_queue_text
{
	visibility: visible;
}

.in_scheduled_playtest #playtest_upcoming,.in_pre_play_test_count_down #playtest_upcoming
{
	visibility: collapse;
}

.playtest_upcoming_time
{
	font-size: 20px;
	color: offWhite;
	text-align: left;
}

.playtest_message
{
	font-size: 23px;
}

.unranked_mm_paused
{
	color: red;
	font-size: 20px;
	font-weight: bold;
}

.playtest_next_match_time_short_players
{
	font-size: 25px;
	color: red;
}

.playtest_waiting_for_more_players,.playtest_next_match_time
{
	font-size: 24px;
	color: white;
	font-weight: bold;
}

.playtest_next_match_time
{
	visibility: collapse;
}

.has_playtest_countdown .playtest_waiting_for_more_players
{
	visibility: collapse;
}

.has_playtest_countdown .playtest_next_match_time
{
	visibility: visible;
}

.playtest_next_match_time_short_players,.playtest_next_match_time_single_match,.playtest_next_match_time_plural_match
{
	font-size: 22px;
	color: white;
}

.playtest_need_players
{
	font-size: 25px;
}

.in_pre_play_test_count_down .playtest_next_match_time
{
	visibility: visible;
}

.playtest_mmr_matched
{
	font-size: 22px;
	color: white;
	visibility: collapse;
}

.use_mmr_matchmaking .playtest_mmr_matched
{
	visibility: visible;
}

#DashboardPages
{
	width: 100%;
	height: 100%;
	wash-color: white;
	transform-origin: 50% 50%;
	transform: none;
	transition-property: transform, blur, saturation, wash-color, opacity, hue-rotation, pre-transform-scale2d;
	transition-duration: 0.45s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in;
	z-index: 6;
}

.connectedToHeroTesting.isShowingRosterConfirmPage #DashboardPages
{
	visibility: visible;
}

.connectedToGame.isShowingWatchPage #DashboardPages,.connectedToGame.isShowingHeroesPage #DashboardPages,.connectedToGame.isShowingHeroDetailsPage #DashboardPages,.connectedToGame.isShowingPlayPage #DashboardPages,.connectedToGame.isShowingSocialPage #DashboardPages,.connectedToGame.isShowingPostGamePage #DashboardPages,.connectedToGame.isShowingProfilePage #DashboardPages,.connectedToGame.isShowingProfileMatchHistoryPage #DashboardPages,.connectedToGame.isShowingQuickGuide #DashboardPages,.connectedToGame.isShowingLearnPage #DashboardPages,.connectedToGame.isShowingTrainingPage #DashboardPages,.connectedToGame.isShowingHeroBuildsPage #DashboardPages,.connectedToHeroTesting.isShowingRosterConfirmPage #devCommandsMenu,.connectedToGame.connectedToHeroTesting #devCommandsMenu,.connectedToNewPlayerSandbox #DashboardPages,.connectedToHeroTesting #DashboardPages
{
	visibility: collapse;
}

#announcementList
{
	border: 1px solid #ffffff10;
	background-color: offBlack;
	horizontal-align: right;
	margin-right: 420px;
	margin-top: 90px;
	visibility: collapse;
	padding: 10px;
	z-index: 100;
	box-shadow: 0px 0px 60px 3.0 offBlack;
}

.IsShowingDashboardPage.ShowAnnouncements.HasAnnouncements #announcementList
{
	visibility: visible;
}

#PartyContainer
{
	vertical-align: top;
	horizontal-align: right;
	width: 340px;
	height: 160px;
	ignore-parent-flow: true;
}

.in_party #PartyContainer
{
	width: 470px;
}

.PartyMemberListRow
{
	horizontal-align: center;
	flow-children: right;
}

.PartyMemberList
{
	flow-children: right;
	vertical-align: middle;
}

#PartyMemberListReady CitadelPartyMember
{
	padding-right: 8px;
}

.PlayBG
{
	width: 100%;
	height: 100%;
	background-color: #A5DE4F;
	animation-name: play_bg_anim;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	ignore-parent-flow: true;
	opacity: 0;
	blur: gaussian( 15 );
}

@keyframes 'play_bg_anim'
{
	0%
	{
		transform: skew(-13deg, -10deg);
	}
	
	50%
	{
		transform: skew(3deg, 10deg);
	}
	
	100%
	{
		transform: skew(-13deg, -10deg);
	}
	
}

.play:hover .PlayBG
{
	opacity: 1;
}

.watchLiveNow
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: middle;
	visibility: collapse;
	height: 25px;
	margin-left: 15px;
}

#watch:hover .watchLiveNow
{
	color: offWhite;
}

.watchIcon
{
	width: 15px;
	height: 15px;
	vertical-align: middle;
	wash-color: ritualGreenLight;
	background-image: url("s2r://panorama/images/icons/icon_watch.vsvg");
	background-size: auto 100%;
	background-position: center;
	margin-right: 8px;
	transition-duration: 0.1s;
	transition-property: transform, wash-color;
}

#watch:hover .watchIcon
{
	wash-color: offWhite;
	transform: translateY(-3px);
	transition-duration: 0.1s;
}

#watch .live_matches
{
	color: ritualGreenLight;
	font-family: sans;
	font-size: 16px;
	horizontal-align: right;
	vertical-align: center;
	font-weight: bold;
}

#watch:hover .live_matches
{
	color: offWhite;
}

.HasLiveMatches #watch .watchLiveNow
{
	visibility: visible;
}

#friend_list_ctn
{
	background-color: #00000090;
	width: 400px;
	height: 600px;
	horizontal-align: right;
	vertical-align: top;
	margin: 0px 30px 30px 0px;
	flow-children: down;
	padding: 10px;
	z-index: 5;
	visibility: collapse;
}

.ShowFriendsList.IsShowingDashboardPage #friend_list_ctn
{
	visibility: visible;
}

#friend_list
{
	width: 100%;
	height: 100%;
}

#Library
{
	visibility: collapse;
}

.ShowBookPrototype.IsShowingDashboardPage #Library
{
	visibility: visible;
}

#SubOptions
{
	ignore-parent-flow: true;
	width: 100%;
	height: fit-children;
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 130px;
}

#patch_version
{
	visibility: collapse;
}

.HasNewPatchVersion Label.patch_version_text
{
	color: brandGreen;
}

.new_button
{
	visibility: collapse;
	background-color: brandGreen;
	border-radius: 3px 0px 0px 3px;
	padding: 2px 3px;
	horizontal-align: right;
	vertical-align: top;
	horizontal-align: right;
	vertical-align: center;
	margin-left: 15px;
	margin-top: 0px;
	font-family: sans;
	flow-children: right;
	padding: 1px 8px;
	border-radius: 2px;
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.nav_menu_item:hover .new_button
{
	margin-right: 0px;
}

.NewPlayerIcon
{
	width: 12px;
	height: 12px;
	background-image: url("s2r://panorama/images/icons/icon_thumbsup.vsvg");
	wash-color: #153D4A;
	background-size: contain;
	vertical-align: middle;
	margin-bottom: 2px;
	width: 20px;
	height: 20px;
}

@keyframes 'newplayer_icon'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	10%
	{
		pre-transform-scale2d: 1.5;
		transform: rotateZ(2deg);
	}
	
	15%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	20%
	{
		pre-transform-scale2d: 1.5;
		transform: rotateZ(-2deg);
	}
	
	35%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
}

#getting_started_new
{
	visibility: collapse;
}

.HasNewPatchVersion #patch_version_new,.hasNewLearn #learn_new
{
	visibility: visible;
}

.new_button Label,.nav_menu_item .new_button Label
{
	color: offBlack;
	font-size: 14px;
	font-family: sans;
	text-transform: uppercase;
	font-weight: bold;
	horizontal-align: center;
	vertical-align: center;
}

.IsShowingDashboardPage.IsHighSkillRange .PartyHighSkillRange
{
	visibility: visible;
}

.PartyHighSkillRange
{
	visibility: collapse;
	background-color: #661111;
	flow-children: right;
	padding: 10px;
	horizontal-align: right;
	margin-top: 500px;
	max-width: 400px;
}

.PartyHighSkillRange Label
{
	color: white;
	font-size: 20px;
}

.WarningIcon
{
	width: 35px;
	height: 35px;
	background-color: #FF6363;
	horizontal-align: right;
	border-radius: 0px 0px 0px 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 17% 60%;
	opacity: 1;
	background-image: url("s2r://panorama/images/icons/icon_alert.vsvg");
	vertical-align: center;
	margin-right: 20px;
}

#control_zoo
{
	visibility: collapse;
}

.BranchMain #control_zoo
{
	visibility: visible;
}

.precache
{
	background-image: url("s2r://panorama/images/glyphs/mouse1_psd.vtex");
	background-image: url("s2r://panorama/images/glyphs/mouse2_psd.vtex");
	background-image: url("s2r://panorama/images/glyphs/mouse3_psd.vtex");
}

#HeroTestingMenu
{
	width: 1200px;
	height: 800px;
	flow-children: down;
	x: 500px;
	y: 100px;
	background-color: rgba(255, 255, 255, 0.5);
}

