/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

.active_match
{
	width: 100%;
}

.FeaturedMatch.active_match
{
	height: 600px;
}

.teams_ctn
{
	horizontal-align: center;
	flow-children: right;
	vertical-align: middle;
}

.team_score
{
	font-size: 18px;
	color: offWhite;
	vertical-align: middle;
	font-weight: semi-bold;
	font-family: serif;
}

.FeaturedMatch .team_score
{
	font-size: 22px;
}

.match_info
{
	width: 100%;
	height: 100%;
	padding: 10px;
}

.FeaturedMatch .match_info
{
	margin-top: 30px;
}

.center_ctn
{
	width: 100%;
	flow-children: down;
	vertical-align: center;
	margin-top: 35px;
}

.FeaturedMatch .center_ctn
{
	margin-top: 40px;
}

#objectives_map
{
	width: 60px;
	height: 60px;
	vertical-align: top;
	margin: 0px 10px;
}

.FeaturedMatch #objectives_map
{
	width: 110px;
	height: 110px;
	margin-top: 30px;
}

.score_ctn
{
	horizontal-align: center;
}

CitadelRankedBadgeMini
{
	horizontal-align: center;
	vertical-align: bottom;
	ui-scale: 90%;
	visibility: collapse;
}

.FeaturedMatch CitadelRankedBadgeFull
{
	horizontal-align: center;
	vertical-align: bottom;
	transform: translateY(10px);
	ui-scale: 35%;
	visibility: collapse;
}

.Ranked CitadelRankedBadgeFull,.Ranked CitadelRankedBadgeMini
{
	visibility: visible;
}

.match_time_label
{
	font-size: 10px;
	color: #ffffff50;
	text-transform: uppercase;
}

#RegionTag
{
	font-size: 14px;
	font-weight: bold;
	opacity: 0.7;
	color: offWhite&30;
	vertical-align: middle;
	margin: 0px 10px 0px 5px;
}

.FeaturedMatch #RegionTag
{
	color: offBlack&90;
}

#countdown_timer
{
	horizontal-align: center;
	vertical-align: middle;
	margin-bottom: 3px;
	visibility: collapse;
}

.IsLive #countdown_timer
{
	visibility: visible;
}

.IsLive #match_duration
{
	visibility: collapse;
}

.match_time
{
	font-size: 15px;
	color: offWhite&90;
	horizontal-align: center;
	margin-bottom: 5px;
	font-weight: medium;
	margin: 0px 10px;
	width: 90px;
	text-align: center;
	vertical-align: middle;
}

.team_list
{
	flow-children: right;
	vertical-align: middle;
}

.FeaturedMatch .team_list
{
	width: 240px;
	height: 200px;
	flow-children: right-wrap;
}

#team1_list
{
	margin-right: 10px;
}

#team2_list
{
	margin-left: 10px;
}

.FeaturedMatch #team1_list
{
	margin-right: 50px;
}

.FeaturedMatch #team2_list
{
	margin-left: 50px;
}

.spectate_group
{
	horizontal-align: right;
	vertical-align: top;
	flow-children: right;
}

.FeaturedMatch .spectate_group
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 8px;
	ignore-parent-flow: true;
}

#MatchTag
{
	flow-children: right;
	width: fit-children;
	visibility: visible;
}

.FeaturedMatch #MatchTag
{
	width: 100%;
	background-color: #7B9C35;
}

.FeaturedMatch.matchSpectateFull #MatchTag
{
	width: 100%;
	background-color: #9D5050;
}

.tag
{
	padding: 3px 10px 5px 10px;
	border-radius: 0px 0px 3px 0px;
}

#MatchLoadingTag,#LiveNowTag,#SpectatingFullTag,#MatchComplete,#FriendInMatch,#SpectatorCount
{
	visibility: collapse;
}

#MatchLoadingTag
{
	flow-children: right;
	background-color: gray;
}

.matchLoading #MatchLoadingTag
{
	visibility: visible;
}

#SpectatingFullTag
{
	flow-children: right;
	background-color: #9D5050;
}

#LiveNowTag,#SpectatingFullTag
{
	flow-children: right;
	background-color: #7B9C35;
}

.IsLive #LiveNowTag
{
	visibility: visible;
}

.IsLive.matchSpectateFull #LiveNowTag
{
	visibility: collapse;
}

#SpectatingFullTag
{
	flow-children: right;
	background-color: #9D5050;
}

.matchSpectateFull #SpectatingFullTag
{
	visibility: visible;
}

#MatchComplete
{
	margin: 10px;
}

.MatchComplete #MatchComplete
{
	visibility: visible;
}

#MatchLoadingTag
{
	background-color: #666;
}

.IsLoading #MatchLoadingTag
{
	visibility: visible;
}

.IsLive #SpectatorCount
{
	visibility: visible;
	background-color: #00000060;
	height: 100%;
}

.spectator_count
{
	color: offWhite&80;
	opacity: 1;
	font-weight: bold;
	padding: 0px 10px;
	font-size: 14px;
	vertical-align: center;
}

.HasSpectators .spectator_count
{
	visibility: visible;
}

.playerContainer
{
	margin: 4px;
	background-color: #00000070;
	border-radius: 3px;
	flow-children: down;
}

.FeaturedMatch .playerContainer
{
	flow-children: none;
}

.FeaturedMatch #team1_list .playerContainer
{
	background-color: team1Color&50;
}

.FeaturedMatch #team2_list .playerContainer
{
	background-color: team2Color&50;
}

.team_list CitadelAvatarImage,CitadelHeroImage
{
	height: 40px;
	width: 40px;
	border-radius: 1px;
	vertical-align: middle;
}

.FeaturedMatch .team_list CitadelHeroImage
{
	height: 90px;
	width: 68px;
	padding: 0px;
	vertical-align: middle;
}

.FeaturedMatch .team_list CitadelAvatarImage
{
	width: 33px;
	height: 33px;
	horizontal-align: right;
	vertical-align: bottom;
	box-shadow: 0px 0px 20px #00000090;
}

#team1_list
{
	padding-right: 10px;
}

#team2_list
{
	padding-left: 10px;
}

.Abandoned
{
	brightness: 0.5;
	opacity: 0.2;
}

.DimHero
{
	brightness: 0.5;
	opacity: 0.4;
}

#match_id
{
	horizontal-align: left;
	vertical-align: middle;
	margin: 0px 5px;
	font-size: 14px;
	color: offBlack&70;
	color: offWhite&30;
	font-weight: semi-bold;
}

.FeaturedMatch #match_id
{
	color: offBlack&70;
}

#start_time
{
	color: offWhite&20;
	horizontal-align: left;
	font-size: 14px;
	font-weight: semi-bold;
}

#ContentRight
{
	horizontal-align: right;
	flow-children: right;
	height: 100%;
}

#LiveIcon
{
	width: 10px;
	height: 10px;
	background-color: #C4FF47;
	border-radius: 50px;
	margin-right: 8px;
	vertical-align: middle;
}

#SpectatingFullTag #LiveIcon
{
	background-color: #ff9595;
}

#FriendInMatch
{
	background-color: blue;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #0056D6 ), to( #1A9FFF ) );
	height: 28px;
	width: 32px;
	border-radius: 0px 0px 3px 3px;
}

.FeaturedMatch #FriendInMatch
{
	border-radius: 0px;
}

.HasFriend #FriendInMatch
{
	visibility: visible;
}

.SteamFriendIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/icons/icon_steam_friend.vsvg");
	background-size: contain;
	margin: 0px 5px;
	opacity: 0.8;
	vertical-align: middle;
}

.FeaturedMatch #FriendInMatch
{
	border-radius: 0px;
}

#live_now
{
	color: #C4FF47;
	horizontal-align: left;
	font-weight: bold;
	font-size: 14px;
}

#game_mode
{
	color: #000000ae;
	horizontal-align: left;
	font-weight: bold;
	font-size: 14px;
	margin-left: 8px;
}

.spectate_full
{
	color: rgb(255, 149, 149);
	horizontal-align: left;
	font-weight: semi-bold;
	font-size: 14px;
}

.spectate_unavailable
{
	color: offBlack&ee;
	horizontal-align: left;
	font-weight: bold;
	font-size: 14px;
	font-style: italic;
}

#match_time_container
{
	flow-children: right;
	horizontal-align: middle;
}

