/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define offWhite: #FFEFD7;
@define silvered: #C6C6C6;
@define offBlack: #10130D;
#PlayerList
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: top;
	margin: 20px;
	width: 370px;
	visibility: collapse;
}

.IsShowingDashboardPage #PlayerList,.connectedToGame #PlayerList
{
	visibility: visible;
}

.connectedToGame #PlayerList
{
	width: 450px;
}

.isShowingRosterConfirmPage #PlayerList
{
	visibility: collapse;
}

.playersTitle
{
	font-weight: bold;
	text-transform: uppercase;
	opacity: 0.3;
	margin-bottom: 10px;
	visibility: collapse;
}

.connectedToGame .localPlayerInParty .partyLabel,.connectedToGame .hasAnyPlayersNotInParty .playersTitle
{
	visibility: visible;
}

.partyLabel,.connectedToGame .partyLabel
{
	visibility: collapse;
}

.connectedToGame .localPlayerInParty .partyLabel
{
	visibility: visible;
}

.connectedToHeroTesting #ChatSelection
{
	visibility: collapse;
}

.connectedToHeroTesting .localPlayerInParty #ChatSelection
{
	visibility: visible;
}

.playersSection
{
	flow-children: down;
}

.playerList
{
	flow-children: down;
}

#LocalPlayerAndParty
{
	margin-bottom: 0px;
}

.connectedToGame #LocalPlayerAndParty
{
	margin-bottom: 0px;
}

.connectedToHeroTesting #LocalPlayerAndParty
{
	margin-bottom: 0px;
}

#FriendListButton
{
	flow-children: right;
	width: 100%;
	height: 40px;
	background-color: #ffffff30;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff10 ), color-stop( 0.5, #c6ffd830 ), to( #ffffff10 ) );
	border-radius: 0px 0px 5px 5px;
}

.localPlayerInParty #FriendListButton
{
	margin-top: 2px;
}

#FriendListButton:hover
{
	brightness: 1.3;
}

.FriendsIcon
{
	width: 20px;
	height: 20px;
	wash-color: offWhite;
	vertical-align: middle;
	opacity: 0.7;
	margin: 0px 10px 0px 15px;
	background-image: url("s2r://panorama/images/icons/icon_friends.vsvg");
	background-size: contain;
}

.SocialTitle
{
	font-weight: bold;
	color: offWhite;
	vertical-align: middle;
	font-size: 16px;
	margin-left: 5px;
}

#FriendsPlaying
{
	ignore-parent-flow: true;
	horizontal-align: right;
	height: 100%;
	background-color: #63d28650;
	padding: 0px 10px;
	visibility: collapse;
}

.HasFriendsInGame #FriendsPlaying
{
	visibility: visible;
}

.FriendsOnline
{
	font-weight: normal;
	font-size: 15px;
	font-weight: medium;
	vertical-align: middle;
	visibility: visible;
}

.FriendsOnline .OnlineNumber
{
	color: offWhite;
	font-weight: bold;
}

#Teammates
{
	visibility: collapse;
}

.connectedToGame #Teammates
{
	visibility: visible;
}

.connectedToHeroTesting #Teammates
{
	visibility: collapse;
}

.PlayerContainer
{
	flow-children: right;
	width: 370px;
	height: 50px;
	background-color: #222;
	margin-bottom: 2px;
	border: 1px solid #ffffff05;
	border-radius: 3px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #464646 ), to( #333 ) );
}

.connectedToGame .PlayerContainer
{
	width: 450px;
}

.connectedToHeroTesting .PlayerContainer.isBot
{
	visibility: collapse;
}

.PlayerContainer.inParty
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #598b6d70 ), to( #43434380 ) );
}

#LocalPlayerAndParty .PlayerContainer.invitedToParty
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #4efff920 ), color-stop( 0.5, #3b474649 ), to( #4efff920 ) );
}

.PlayerContainer.localPlayer
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #595959 ), to( #444 ) );
}

.localPlayerInParty .PlayerContainer.localPlayer
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #7ec59a70 ), to( #64646480 ) );
}

#ChatControl
{
	margin-right: 0px;
	vertical-align: middle;
	background-color: #00000060;
	width: 50px;
	height: 100%;
	visibility: collapse;
}

.localPlayerInParty #ChatControl,.inTeamChat #ChatControl,.connectedToGame #ChatControl
{
	visibility: visible;
}

#ChatIndicator
{
	width: 30px;
	height: 30px;
	border-radius: 50px;
	vertical-align: middle;
	horizontal-align: middle;
	background-color: none;
	border: 1px solid offWhite;
	box-shadow: 0px 0px 0px #00000000;
	opacity: 0.05;
}

.inPartyChat #ChatIndicator
{
	background-color: #C8E8B5;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #C8E8B5 ), to( #a3be94 ) );
	border: 0px solid offWhite;
	opacity: 1;
}

.inPartyChat.localPlayer #ChatIndicator
{
	background-color: none;
	box-shadow: none;
	border: 2px solid #518133;
	opacity: 1;
}

.inTeamChat #ChatIndicator
{
	background-color: silvered;
	box-shadow: 2px 2px 0px 3.0 #00000090;
	border: 0px solid offWhite&10;
	opacity: 1;
}

.inTeamChat.localPlayer #ChatIndicator
{
	box-shadow: none;
	border: 2px solid silvered&10;
	opacity: 0.3;
}

.chatIcon
{
	background-image: url("s2r://panorama/images/icons/icon_mic.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	horizontal-align: middle;
	opacity: 0.8;
	wash-color: offWhite;
}

.inPartyChat .chatIcon,.inPartyChat .localPlayer #ChatIndicator
{
	wash-color: #518133;
}

.inTeamChat .chatIcon
{
	wash-color: offBlack;
}

.isMuted #ChatIndicator
{
	background-color: none;
	box-shadow: 2px 2px 0px 3.0 #00000090;
	border: 2px solid #FF4F4F;
	vertical-align: middle;
	opacity: 1;
	horizontal-align: middle;
}

.isMuted .chatIcon
{
	background-image: url("s2r://panorama/images/icons/icon_mic_muted.vsvg");
	wash-color: none;
	opacity: 1;
}

#PlayerInfo
{
	flow-children: right;
	vertical-align: middle;
	width: 280px;
}

#CitadelHeroImage
{
	width: 40px;
	height: 50px;
	background-color: #111;
	visibility: collapse;
}

.connectedToGame #CitadelHeroImage
{
	visibility: visible;
}

#CitadelAvatarImage
{
	width: 50px;
	height: 50px;
	margin-right: 5px;
	vertical-align: middle;
	background-color: gray;
	box-shadow: 0px 2px 0px #00000090;
}

.invitedToParty #CitadelAvatarImage
{
	saturation: 0.5;
	brightness: 0.2;
	wash-color: aqua;
}

#PlayerName
{
	font-weight: medium;
	vertical-align: middle;
	color: offWhite&90;
	margin-left: 5px;
	font-size: 16px;
	width: 160px;
	max-height: 30px;
	text-overflow: shrink;
}

.connectedToGame #PlayerName
{
	width: 180px;
}

.localPlayer #PlayerName
{
	font-weight: bold;
}

#InvitedIcon
{
	width: 20px;
	height: 20px;
	horizontal-align: left;
	margin-left: 15px;
	vertical-align: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/icons/envelope.vsvg");
	wash-color: aqua;
	ignore-parent-flow: true;
	visibility: collapse;
}

.invitedToParty #InvitedIcon
{
	visibility: visible;
}

.invitedLabel
{
	ignore-parent-flow: true;
	horizontal-align: right;
	background-color: #ffffff30;
	background-color: rgba(0, 255, 255, 0.3);
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 2px;
	padding: 0px 5px;
	margin-right: 5px;
	visibility: collapse;
}

.invitedToParty .invitedLabel
{
	visibility: visible;
}

#ReportButton
{
	flow-children: right;
	ignore-parent-flow: true;
	horizontal-align: right;
	margin-right: 10px;
	padding: 3px 10px;
	border-radius: 3px;
	background-color: #000000;
	vertical-align: middle;
	border: 1px solid offWhite&60;
	opacity: 0.4;
	brightness: 0.5;
	tooltip-position: bottom;
	visibility: collapse;
}

#ReportButton:hover
{
	brightness: 1.3;
	opacity: 1;
	saturation: 1;
	background-color: rgb(149, 43, 43);
	border: 1px solid offWhite&00;
}

.reportLabel
{
	font-weight: semi-bold;
	font-size: 16px;
	margin-bottom: 2px;
	color: offWhite&70;
}

.reportedLabel
{
	font-weight: semi-bold;
	font-size: 16px;
	margin-bottom: 2px;
	color: offWhite;
	visibility: collapse;
}

#reportIcon
{
	width: 15px;
	height: 15px;
	margin-right: 8px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_report.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: offWhite;
	opacity: 0.7;
}

.connectedToGame #ReportButton
{
	visibility: visible;
}

.connectedToGame .PlayerContainer.localPlayer #ReportButton,.connectedToGame .PlayerContainer.isSpectator #ReportButton,.connectedToGame .PlayerContainer.isBot #ReportButton
{
	visibility: collapse;
}

#ChatSelection
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff05 ), color-stop( 0.5, #9b9b9b30 ), to( #ffffff05 ) );
	height: 60px;
	flow-children: right;
	visibility: collapse;
}

#ChatSelection.inPartyChat
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff10 ), color-stop( 0.5, #63d28630 ), to( #ffffff10 ) );
}

#ChatSelection.inTeamChat
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff10 ), color-stop( 0.5, #81c6ff30 ), to( #ffffff10 ) );
}

#ChatSelection.chatDisabled
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff05 ), color-stop( 0.5, #9b9b9b30 ), to( #ffffff05 ) );
}

.localPlayerInParty #ChatSelection,.connectedToGame #ChatSelection
{
	visibility: visible;
}

.partyOnlyOption
{
	visibility: collapse;
}

.localPlayerInParty .partyOnlyOption
{
	visibility: visible;
}

#ChatTypeIcon
{
	width: 50px;
	height: 100%;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/global/chat_type_partychat.vsvg");
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: center;
}

.inPartyChat #ChatTypeIcon
{
	background-image: url("s2r://panorama/images/global/chat_type_partychat.vsvg");
}

.inTeamChat #ChatTypeIcon
{
	background-image: url("s2r://panorama/images/global/chat_type_teamchat.vsvg");
}

.chatDisabled #ChatTypeIcon
{
	background-image: url("s2r://panorama/images/global/chat_type_disabled.vsvg");
}

#ChatType
{
	flow-children: down;
	vertical-align: middle;
}

.chatTypeLabel
{
	font-weight: bold;
	font-size: 16px;
	visibility: collapse;
}

.localPlayerInParty .chatTypeLabel.inPartyOnly
{
	visibility: visible;
}

.chatTypeLabel.notInPartyOnly
{
	visibility: visible;
}

.localPlayerInParty .chatTypeLabel.notInPartyOnly
{
	visibility: collapse;
}

.playersInTeamChat
{
	font-size: 14px;
	font-weight: semi-bold;
	text-transform: uppercase;
	visibility: collapse;
}

.dashboardNote
{
	font-size: 14px;
	font-weight: semi-bold;
	opacity: 0.6;
	text-transform: uppercase;
}

.connectedToGame .dashboardNote,.chatDisabled .dashboardNote
{
	visibility: collapse;
}

#ChatTypeSelector
{
	border-radius: 50px;
	vertical-align: middle;
	max-width: 155px;
	horizontal-align: right;
	ignore-parent-flow: true;
	background-color: none;
	box-shadow: none;
	border: 2px solid offWhite&80;
	margin-right: 10px;
}

#ChatTypeSelector Label
{
	font-size: 16px;
	font-weight: semi-bold;
	vertical-align: middle;
	color: offWhite;
}

#ChatTypeSelectorDropDownMenu
{
	width: 170px;
	background-color: offWhite;
}

DropDownMenu Label
{
	padding-top: 0px;
}

#PartyButtonRow
{
	flow-children: right;
	horizontal-align: right;
	visibility: collapse;
	margin-top: 15px;
}

#LeavePartyButton
{
	margin: 0px;
}

.localPlayerInParty #PartyButtonRow
{
	visibility: visible;
}

.connectedToGame #FriendListButton,.connectedToHeroTesting #FriendListButton
{
	visibility: collapse;
}

#MatchHistory
{
	font-size: 14px;
	horizontal-align: right;
	ignore-parent-flow: true;
	color: offWhite&50;
	font-weight: semi-bold;
	margin-right: 10px;
	vertical-align: middle;
	text-decoration: underline;
	visibility: collapse;
}

#LinkToProfile
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	visibility: collapse;
}

.localPlayer #LinkToProfile,.localPlayer #MatchHistory
{
	visibility: visible;
}

.connectedToGame #LinkToProfile,.connectedToGame #MatchHistory
{
	visibility: collapse;
}

