/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.devCommandsMenu
{
	flow-children: down;
	background-color: rgba( 51, 51, 51, 0.8 );
	border: 2px solid black;
}

.nav_menu_item
{
	flow-children: down;
	padding-left: 20px;
}

.nav_menu_item:hover
{
	background-color: rgba(255, 255, 255, 0.5);
}

.nav_menu_item:active
{
	background-color: rgba(255, 255, 255, 0.75);
}

.nav_menu_item Label
{
	padding: 2px;
	width: 360px;
	font-style: normal;
	font-size: 24px;
	text-align: left;
	color: rgba(255, 255, 255, 0.5);
}

.nav_menu_item_header
{
	padding-left: 10px;
	padding-right: 32px;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	text-align: left;
	color: rgba(255, 255, 255, 0.5);
}

.nav_menu_item:hover Label,.nav_menu_item:active Label
{
	color: #333;
}

#hover_tips
{
	background-color: #444444ff;
	width: 720px;
	height: 60px;
	x: 1000px;
	y: 430px;
	visibility: collapse;
}

.hover_tips_active #hover_tips
{
	visibility: visible;
}

.connectedToGame #join_team_1,.connectedToGame #join_team_2,.connectedToGame #change_hero
{
	visibility: visible;
}

.connectedToHeroTesting #join_team_1,.connectedToHeroTesting #join_team_2,.connectedToHeroTesting #change_hero,.connectedToNewPlayerSandbox #join_team_1,.connectedToNewPlayerSandbox #join_team_2,.connectedToNewPlayerSandbox #change_hero,.disconnected #join_team_1,.disconnected #join_team_2,.disconnected #change_hero
{
	visibility: collapse;
}

.ShowInMain,#change_hero.ShowInMain,#join_team_1.ShowInMain
{
	visibility: collapse;
}

.BranchMain .ShowInMain,.BranchMain #change_hero.ShowInMain,.BranchMain #join_team_1.ShowInMain
{
	visibility: visible;
}

#SubstituteButton
{
	visibility: collapse;
}

.HasDisconnectedPlayer #SubstituteButton
{
	visibility: visible;
}

