/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelFriendsList
{
	flow-children: down;
}

CitadelFriendsList #FriendsCategories
{
	flow-children: down;
	width: 100%;
	overflow: squish scroll;
	height: fill-parent-flow( 1.0 );
	opacity-mask: url("s2r://panorama/images/masks/scroll_bottom_fade_psd.vtex");
	padding-bottom: 12px;
}

CitadelFriendsList #FriendsCategories #VerticalScrollBar
{
	margin-top: 28px;
	margin-bottom: 28px;
}

CitadelFriendsList .Footer
{
	flow-children: down;
	width: 400px;
	horizontal-align: right;
}

@keyframes 'FriendsListSlide'
{
	0%
	{
		transform: translateY(200px);
		opacity: 0;
	}
	
	50%
	{
		transform: translateY(-4px);
	}
	
	100%
	{
		transform: translateY(0px);
		opacity: 1;
	}
	
}

.FriendsCategory
{
	flow-children: down;
	width: 100%;
	margin-bottom: 16px;
	visibility: collapse;
}

.FriendsCategory.HasFriends
{
	visibility: visible;
}

.FriendsCategory.Party .CategoryTitle
{
	color: #C3FBE2CC;
}

.FriendsCategory.Party
{
	margin-bottom: 16px;
}

.FriendsCategory.Online .CategoryTitle
{
	color: #48CCD566;
}

.FriendsCategory.InGame .CategoryTitle
{
	color: #48D59566;
	margin-top: 12px;
}

.FriendsCategory .CategoryHeader
{
	flow-children: right;
	horizontal-align: right;
	width: 396px;
	color: offWhite&88;
}

.FriendsCategory .CategoryTitle
{
	color: offWhite&44;
	font-family: block;
	font-size: 20px;
	text-transform: uppercase;
	width: fill-parent-flow( 1.0 );
	opacity-mask: url("s2r://panorama/images/main_menu/text_speckle_mask_main_psd.vtex") 0.7;
	opacity-mask-scale: 100% 200%;
}

.FriendsCategory.OutgoingPartyInvites .CategoryTitle
{
	font-size: 14px;
	height: 18px;
	margin-top: -12px;
	color: #C3FBE277;
}

.FriendsCategory #FriendEntries
{
	flow-children: down;
	width: 100%;
}

.FriendsCategory #FriendEntries .ListEntry
{
	horizontal-align: right;
}

.RecommendSection
{
	flow-children: down;
	width: 100%;
}

.RecommendSection .RecommendInfo
{
	flow-children: right;
	margin: 0px 20px 20px 20px;
	width: fit-children;
	horizontal-align: center;
}

.RecommendSection .RecommendInfo Label
{
	vertical-align: middle;
	color: offWhite&22;
	font-family: block;
	font-size: 16px;
	text-transform: uppercase;
}

.RecommendSection .RecommendButton
{
	horizontal-align: center;
	visibility: visible;
	background-image: url("s2r://panorama/images/main_menu/recommend_bg_psd.vtex");
	opacity-mask: url("s2r://panorama/images/main_menu/text_speckle_mask_main_psd.vtex") 0.7;
	opacity-mask-scale: 100% 100%;
	background-img-opacity: 0.3;
	background-size: 100%;
	padding: 16px 32px 16px;
	flow-children: down;
	width: 100%;
	height: 100px;
	margin: 8px 0px 12px 0px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.12s;
	transition-property: brightness, background-color;
}

.RecommendSection .RecommendButton .Icon
{
	width: 48px;
	height: 48px;
	vertical-align: middle;
	margin: 0px 8px 0px 0px;
	font-size: 16px;
	background-image: url("s2r://panorama/images/icons/logo_deadlock_mark_only_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	wash-color: offWhite;
	opacity: 0.1;
	visibility: collapse;
}

.RecommendSection .RecommendButton Label
{
	vertical-align: middle;
	color: offWhite&66;
	text-align: center;
	text-overflow: shrink;
	font-family: block;
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 32px;
	max-height: 40px;
	margin-top: 8px;
	box-shadow: 0px 0px 60px #00000022;
}

.RecommendSection .RecommendButton .SubText
{
	vertical-align: middle;
	color: offWhite&22;
	font-size: 15px;
	text-transform: uppercase;
	text-overflow: shrink;
	margin-top: -3px;
}

.RecommendSection .RecommendButton:hover
{
	brightness: 1.8;
	sound: "UI.FriendsList.Hover";
}

.PartyControls
{
	flow-children: right;
	margin: 0px 12px 2px 0px;
}

.PartyControls .PartyButton
{
	width: 24px;
	height: 24px;
	margin-left: 4px;
	margin-top: -4px;
	tooltip-position: top;
	vertical-align: middle;
	wash-color: #C3FBE2;
	opacity: 0.3;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.PartyControls .PartyButton:hover
{
	brightness: 2.0;
}

.PartyControls .PartyButton:active
{
	brightness: 1.5;
}

.PartyControls .PartyButton.CopyPartyCodeButton
{
	background-image: url("s2r://panorama/images/icons/icon_copy_plus.vsvg");
}

.PartyControls .PartyButton.LeavePartyButton
{
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
}

.InGameControls
{
	width: 76px;
	flow-children: none;
	horizontal-align: right;
	transition-property: opacity, transform;
	transition-duration: .24s;
	opacity-mask: url("s2r://panorama/images/main_menu/text_speckle_mask_main_psd.vtex") 0.7;
	opacity-mask-scale: 100% 200%;
}

.InGameControls .FriendsPlaying
{
	flow-children: right;
	horizontal-align: center;
}

.ShowEscapeMenu .InGameControls
{
	animation-name: FriendsCountFade;
	animation-duration: 0.12s;
	animation-timing-function: ease-in-out;
}

.InGameControls .FriendsIcon
{
	width: 24px;
	height: 24px;
	vertical-align: center;
	wash-color: #48D595;
	opacity: 0.3;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/icons/icon_steam_friend.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

@keyframes 'FriendsCountFade'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

#JoinCreateParty
{
	visibility: collapse;
}

.FriendsCount
{
	font-size: 32px;
	color: #969087;
	vertical-align: top;
	font-family: block;
	margin: 0px 0px 0px 4px;
	color: #48D595;
}

