/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.hero_testing_root
{
	width: 80%;
	height: 100%;
	horizontal-align: right;
	z-index: 7;
	flow-children: down;
}

.connectedToHeroTesting.isShowingRosterConfirmPage #HeroTestingShop
{
	visibility: collapse;
}

.hero_testing_header
{
	width: 100%;
	height: 100px;
}

.hero_selection_offset
{
	width: 100%;
	height: 100%;
	horizontal-align: left;
	padding-left: 100px;
	flow-children: down;
}

.hero_testing_header_label
{
	font-size: 50px;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
	font-family: CriteriaCF;
	text-transform: uppercase;
	horizontal-align: center;
	padding-top: 200px;
}

#hero_selection
{
	width: 1500px;
	height: fit-children;
	horizontal-align: center;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
	flow-children: down;
	ui-scale: 70%;
}

.hud_hero_testing_root,.hero_testing_shop_root
{
	width: 450px;
	flow-children: down;
	x: 0px;
	y: 50px;
	horizontal-align: right;
	z-index: 97;
	visibility: collapse;
}

.connectedToHeroTesting .hud_hero_testing_root,.connectedToHeroTesting .hero_testing_shop_root,.connectedToBotMatch .hero_testing_shop_root
{
	visibility: visible;
}

.connectedToNewPlayerSandbox .hud_hero_testing_root
{
	visibility: collapse;
}

#hero_testing_stub,#hero_testing_container
{
	flow-children: down;
	box-shadow: fill rgba(0, 0, 0, 0.5) 0px 0px 16px 0px;
	background-color: #2E2E2Ef8;
	border-radius: 12px;
	padding: 5px;
	padding-bottom: 20px;
	horizontal-align: right;
	vertical-align: top;
	width: 400px;
	z-index: 98;
	visibility: collapse;
}

#hero_testing_stub
{
	visibility: visible;
}

.gDetailView #hero_testing_stub
{
	visibility: collapse;
}

.gDetailView #hero_testing_container
{
	visibility: visible;
}

.nav_menu_item
{
	flow-children: down;
	width: 400px;
	padding-left: 0px;
}

.nav_menu_item.full_width
{
	width: 380px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav_menu_item.half_width
{
	width: 180px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav_menu_item.third_width
{
	width: 120px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav_menu_item_container
{
	flow-children: right;
	width: 400px;
	padding-left: 0px;
}

.nav_menu_item_container.vertical_item
{
	vertical-align: center;
	flow-children: down;
	width: 200px;
	padding-left: 0px;
}

.nav_menu_item:hover
{
	background-color: rgba(255, 255, 255, 0.5);
}

.nav_menu_item:active
{
	background-color: rgba(255, 255, 255, 0.75);
}

.nav_menu_item Label
{
	padding-right: 16px;
	padding-bottom: 4px;
	font-style: normal;
	font-size: 32px;
	line-height: 52px;
	text-align: left;
	color: rgba(255, 255, 255, 0.5);
}

.small_text Label
{
	padding-right: 32px;
	padding-bottom: 4px;
	line-height: 30px;
	font-size: 20px;
}

.CitadelSettingsCheckbox
{
	flow-children: right;
}

b ToggleButton Label,.CitadelSettingsCheckbox Label
{
	padding-right: 16px;
	padding-bottom: 4px;
	line-height: 30px;
	font-size: 20px;
	text-align: left;
	color: rgba(255, 255, 255, 0.5);
}

.CitadelSettingsCheckbox.half_width
{
	width: 180px;
	padding-left: 10px;
	padding-right: 0px;
}

.set_ap Label
{
	padding-right: 32px;
	padding-bottom: 4px;
	line-height: 30px;
	font-size: 20px;
}

.nav_menu_item_header
{
	padding-left: 10px;
	padding-right: 32px;
	line-height: 52px;
	text-align: left;
	color: rgba(255, 255, 255, 0.5);
	width: 400px;
}

.nav_menu_item_header Label
{
	padding-top: 10px;
	font-style: normal;
	font-size: 32px;
	line-height: 40px;
	text-align: left;
	color: rgba(255, 255, 255, 1.0);
}

.dash
{
	background-color: grey;
	height: 1px;
	vertical-align: center;
	width: 150px;
	x: 210px;
}

.nav_menu_item:hover Label,.nav_menu_item:active Label
{
	color: #333;
}

#hover_tips
{
	background-color: #444444ff;
	width: 720px;
	height: 60px;
	x: 1000px;
	y: 430px;
	visibility: collapse;
}

.hover_tips_active #hover_tips
{
	visibility: visible;
}

.menu_divider
{
	height: 20px;
}

#LaneChallengePanel
{
	flow-children: down;
	border-radius: 12px;
	padding: 0px;
	padding-bottom: 20px;
	horizontal-align: right;
	vertical-align: top;
	width: 400px;
	z-index: 98;
	visibility: collapse;
}

#LaneChallengePanel.laneChallengeActive
{
	visibility: visible;
}

.lane_challenge
{
	padding-right: 16px;
	font-style: normal;
	font-size: 20px;
	line-height: 32px;
	text-align: left;
	color: rgba(255, 255, 255, 0.5);
}

#StopLaneChallengeBtn
{
	visibility: collapse;
}

#StartLaneChallengeBtn
{
	visibility: visible;
}

.laneChallengeActive #StopLaneChallengeBtn
{
	visibility: visible;
}

.laneChallengeActive #StartLaneChallengeBtn
{
	visibility: collapse;
}

.coop_sandbox .hide_in_coop
{
	visibility: collapse;
}

