/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

SortedAbilityMenu
{
	padding: 60px;
	margin-top: 40px;
	margin-bottom: 20px;
	flow-children: down;
}

.mods_header_text
{
	color: grey;
	text-align: center;
	vertical-align: center;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
	horizontal-align: center;
}

#abilitiesContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 10px;
}

SortedAbilityIcon
{
	height: 126px;
	width: 96px;
	margin-left: 10px;
	margin-right: 10px;
	tooltip-position: top;
}

SortedAbilityIcon.Hovered
{
	brightness: 3.0;
}

.abilitiesTextContainer
{
	flow-children: right;
	horizontal-align: center;
	height: 96px;
}

.abilityText
{
	width: 96px;
	height: 100%;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	font-size: 18px;
}

