/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define tierBronzeWash: #bea081;
@define tierSilverWash: #98cdd6;
@define tierGoldWash: #c4bf92;
@define tierPlatinumWash: #b2b6d3;
@define tierMaster: #9489a1;
@define tierGrandmasterWash: #49494e;
CitadelHeroBadgeLarge
{
	width: 200px;
	height: 268px;
}

CitadelHeroBadgeLarge #HeroImage
{
	width: 80%;
	opacity-mask: url("s2r://panorama/images/hero_badges/hero_image_mask_psd.vtex");
	vertical-align: top;
	horizontal-align: center;
}

CitadelHeroBadgeLarge .BadgeIcon
{
	width: 96px;
	height: 96px;
	vertical-align: bottom;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	img-shadow: 0px 0px 20px #000000aa;
}

CitadelHeroBadgeLarge .BadgeRing
{
	width: 100%;
	height: 100%;
	margin-top: 36px;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
}

CitadelHeroBadgeLarge .BadgeRingProgress
{
	width: 100%;
	height: 100%;
	margin-top: 36px;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_inset_ring_psd.vtex");
}

CitadelHeroBadgeLarge .HeroLevel
{
	horizontal-align: center;
	text-align: center;
	vertical-align: bottom;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 0px 0px 8px #000000aa;
	margin-bottom: 22px;
}

CitadelHeroBadgeLarge .BadgeBackground
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #575a55), to( #31332e ) );
	border-radius: 50%;
	width: 100%;
	height: width-percentage (100%);
	margin-top: 36px;
	horizontal-align: center;
}

CitadelHeroBadgeLarge.TierNone .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_0_psd.vtex");
}

CitadelHeroBadgeLarge.TierBronze .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_psd.vtex");
}

CitadelHeroBadgeLarge.TierSilver .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_psd.vtex");
}

CitadelHeroBadgeLarge.TierGold .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_psd.vtex");
}

CitadelHeroBadgeLarge.TierPlatinum .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_psd.vtex");
}

CitadelHeroBadgeLarge.TierMaster .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_psd.vtex");
}

CitadelHeroBadgeLarge.TierGrandmaster .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_6_psd.vtex");
}

CitadelHeroBadgeLarge.TierBronze .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_ring_psd.vtex");
}

CitadelHeroBadgeLarge.TierSilver .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_ring_psd.vtex");
}

CitadelHeroBadgeLarge.TierGold .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_ring_psd.vtex");
}

CitadelHeroBadgeLarge.TierPlatinum .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_ring_psd.vtex");
}

CitadelHeroBadgeLarge.TierMaster .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_ring_psd.vtex");
}

CitadelHeroBadgeLarge.TierGrandmaster .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_6_ring_psd.vtex");
}

CitadelHeroBadgeLarge.TierBronze .BadgeBackground
{
	wash-color: tierBronzeWash;
}

CitadelHeroBadgeLarge.TierSilver .BadgeBackground
{
	wash-color: tierSilverWash;
}

CitadelHeroBadgeLarge.TierGold .BadgeBackground
{
	wash-color: tierGoldWash;
}

CitadelHeroBadgeLarge.TierPlatinum .BadgeBackground
{
	wash-color: tierPlatinumWash;
}

CitadelHeroBadgeLarge.TierMaster .BadgeBackground
{
	wash-color: tierMaster;
}

CitadelHeroBadgeLarge.TierGrandmaster .BadgeBackground
{
	wash-color: tierGrandmasterWash;
}

CitadelHeroBadgeLarge.TierNone .HeroLevel
{
	visibility: collapse;
}

CitadelHeroBadgeLarge.TierNone .BadgeRingProgress
{
	visibility: collapse;
}

CitadelHeroBadgeLarge.TierNone .BadgeBackground
{
	width: 80%;
	margin-top: 56px;
}

CitadelHeroBadgeMedium
{
	width: 88px;
	height: 120px;
}

CitadelHeroBadgeMedium #HeroImage
{
	width: 80%;
	opacity-mask: url("s2r://panorama/images/hero_badges/hero_image_mask_psd.vtex");
	vertical-align: top;
	horizontal-align: center;
}

CitadelHeroBadgeMedium .BadgeIcon
{
	width: 44px;
	height: 44px;
	vertical-align: bottom;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	img-shadow: 0px 0px 36px #000000aa;
}

CitadelHeroBadgeMedium .BadgeRing
{
	width: 100%;
	height: 100%;
	margin-top: 17px;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
}

CitadelHeroBadgeMedium .HeroLevel
{
	horizontal-align: center;
	text-align: center;
	vertical-align: bottom;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 0px 8px #000000aa;
	margin-bottom: 10px;
}

CitadelHeroBadgeMedium .BadgeBackground
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #424640), to( #252722 ) );
	background-color: #424640;
	border-radius: 50%;
	width: 100%;
	height: width-percentage (100%);
	margin-top: 16px;
	horizontal-align: center;
}

CitadelHeroBadgeMedium .BadgeRingProgress
{
	width: 100%;
	height: 100%;
	margin-top: 16px;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_inset_ring_psd.vtex");
}

CitadelHeroBadgeMedium.TierNone .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_0_psd.vtex");
}

CitadelHeroBadgeMedium.TierBronze .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_psd.vtex");
}

CitadelHeroBadgeMedium.TierSilver .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_psd.vtex");
}

CitadelHeroBadgeMedium.TierGold .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_psd.vtex");
}

CitadelHeroBadgeMedium.TierPlatinum .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_psd.vtex");
}

CitadelHeroBadgeMedium.TierMaster .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_psd.vtex");
}

CitadelHeroBadgeMedium.TierGrandmaster .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_6_psd.vtex");
}

CitadelHeroBadgeMedium.TierBronze .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_ring_psd.vtex");
}

CitadelHeroBadgeMedium.TierSilver .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_ring_psd.vtex");
}

CitadelHeroBadgeMedium.TierGold .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_ring_psd.vtex");
}

CitadelHeroBadgeMedium.TierPlatinum .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_ring_psd.vtex");
}

CitadelHeroBadgeMedium.TierMaster .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_ring_psd.vtex");
}

CitadelHeroBadgeMedium.TierGrandmaster .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_6_ring_psd.vtex");
}

CitadelHeroBadgeMedium.TierBronze .BadgeBackground
{
	wash-color: tierBronzeWash;
}

CitadelHeroBadgeMedium.TierSilver .BadgeBackground
{
	wash-color: tierSilverWash;
}

CitadelHeroBadgeMedium.TierGold .BadgeBackground
{
	wash-color: tierGoldWash;
}

CitadelHeroBadgeMedium.TierPlatinum .BadgeBackground
{
	wash-color: tierPlatinumWash;
}

CitadelHeroBadgeMedium.TierMaster .BadgeBackground
{
	wash-color: tierMaster;
}

CitadelHeroBadgeMedium.TierGrandmaster .BadgeBackground
{
	wash-color: tierGrandmasterWash;
}

CitadelHeroBadgeMedium.TierNone .HeroLevel
{
	visibility: collapse;
}

CitadelHeroBadgeMedium.TierNone .BadgeRingProgress
{
	visibility: collapse;
}

CitadelHeroBadgeMedium.TierNone .BadgeBackground
{
	width: 80%;
	margin-top: 24px;
}

CitadelHeroBadgeIcon
{
	width: 36px;
	height: 48px;
}

CitadelHeroBadgeIcon #HeroImage
{
	width: 98%;
	height: width-percentage( 100% );
	border-radius: 50%;
}

CitadelHeroBadgeIcon .BadgeIcon
{
	width: 36%;
	height: 36%;
	vertical-align: bottom;
	margin-bottom: 4px;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	img-shadow: 0px 0px 20px #000000aa;
}

CitadelHeroBadgeIcon .BadgeRing
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	img-shadow: 0px 0px 20px #000000aa;
}

CitadelHeroBadgeIcon .BadgeBackground
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #424640), to( #252722 ) );
	background-color: #424640;
	border-radius: 50%;
	width: 100%;
	height: width-percentage (100%);
	horizontal-align: center;
}

CitadelHeroBadgeIcon.TierNone .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_0_psd.vtex");
}

CitadelHeroBadgeIcon.TierBronze .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_psd.vtex");
}

CitadelHeroBadgeIcon.TierSilver .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_psd.vtex");
}

CitadelHeroBadgeIcon.TierGold .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_psd.vtex");
}

CitadelHeroBadgeIcon.TierPlatinum .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_psd.vtex");
}

CitadelHeroBadgeIcon.TierMaster .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_psd.vtex");
}

CitadelHeroBadgeIcon.TierGrandmaster .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_6_psd.vtex");
}

CitadelHeroBadgeIcon.TierBronze .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_ring_psd.vtex");
}

CitadelHeroBadgeIcon.TierSilver .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_ring_psd.vtex");
}

CitadelHeroBadgeIcon.TierGold .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_ring_psd.vtex");
}

CitadelHeroBadgeIcon.TierPlatinum .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_ring_psd.vtex");
}

CitadelHeroBadgeIcon.TierMaster .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_ring_psd.vtex");
}

CitadelHeroBadgeIcon.TierGrandmaster .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_6_ring_psd.vtex");
}

CitadelHeroBadgeIcon.TierBronze .BadgeBackground
{
	wash-color: tierBronzeWash;
}

CitadelHeroBadgeIcon.TierSilver .BadgeBackground
{
	wash-color: tierSilverWash;
}

CitadelHeroBadgeIcon.TierGold .BadgeBackground
{
	wash-color: tierGoldWash;
}

CitadelHeroBadgeIcon.TierPlatinum .BadgeBackground
{
	wash-color: tierPlatinumWash;
}

CitadelHeroBadgeIcon.TierMaster .BadgeBackground
{
	wash-color: tierMaster;
}

CitadelHeroBadgeIcon.TierGrandmaster .BadgeBackground
{
	wash-color: tierGrandmasterWash;
}

CitadelHeroBadgeIcon.TierNone .BadgeBackground
{
	width: 80%;
	margin-top: 5px;
}

