/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.hero_testing_root
{
	width: 80%;
	height: 100%;
	horizontal-align: right;
	flow-children: down;
}

.hero_testing_root.gShopOpen
{
	visibility: collapse;
}

.hero_testing_header
{
	width: 100%;
	flow-children: down;
}

.gScoreboardOpen.menu_expanded .hero_testing_header
{
	visibility: collapse;
}

.hero_selection_offset
{
	width: 100%;
	height: 100%;
	horizontal-align: left;
	padding-left: 100px;
	flow-children: down;
}

.hero_testing_header_label
{
	font-size: 50px;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
	font-family: CriteriaCF;
	text-transform: uppercase;
	horizontal-align: center;
	padding-top: 200px;
}

#hero_selection
{
	width: 1500px;
	height: fit-children;
	horizontal-align: center;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
	flow-children: down;
	ui-scale: 70%;
}

#collapse_menu_panel
{
	margin-top: 15px;
	width: 100%;
	visibility: collapse;
	horizontal-align: center;
}

.gScoreboardOpen #collapse_menu_panel
{
	visibility: visible;
}

.no_tab_active #collapse_menu_panel
{
	visibility: collapse;
}

#collapse_button
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	opacity: 0.7;
}

#collapse_button Label
{
	text-transform: uppercase;
	font-weight: bold;
}

.expand_label
{
	visibility: visible;
}

.collapse_label
{
	visibility: collapse;
}

.menu_expanded .expand_label
{
	visibility: collapse;
}

.menu_expanded .collapse_label
{
	visibility: visible;
}

#collapse_icon
{
	vertical-align: middle;
	margin-left: 10px;
}

.menu_expanded #collapse_icon
{
	transform: rotateZ(180deg);
}

#LaneChallengePanel
{
	visibility: collapse;
}

.hud_hero_testing_root
{
	flow-children: down;
	x: 0px;
	y: 50px;
	horizontal-align: right;
	visibility: collapse;
}

.connectedToHeroTesting .gShopOpen.hud_hero_testing_root
{
	visibility: collapse;
}

.connectedToHeroTesting .hud_hero_testing_root
{
	visibility: visible;
}

.connectedToHeroTesting.connectedToHideout .hud_hero_testing_root
{
	visibility: collapse;
}

.connectedToNewPlayerSandbox .hud_hero_testing_root
{
	visibility: collapse;
}

.nav_menu_item.small_text .InlineGlyph
{
	width: 25px;
	height: 25px;
	vertical-align: center;
}

.nav_menu_tab_contents
{
	flow-children: down;
}

.tab_selector
{
	height: fit-children;
	width: fit-children;
	flow-children: right;
	horizontal-align: center;
	visibility: collapse;
}

.tab_wrapper
{
	max-width: 150px;
}

#hero_tools,#game_rules,#hero_control
{
	visibility: collapse;
}

.gScoreboardOpen.menu_expanded #hero_tools,.gScoreboardOpen.menu_expanded.hero_tools_active #hero_tools,.gScoreboardOpen.menu_expanded.game_rules_active #game_rules,.gScoreboardOpen.menu_expanded.hero_control_active #hero_control
{
	visibility: visible;
}

#hero_testing_stub
{
	flow-children: down;
	box-shadow: fill rgba(0, 0, 0, 0.5) 0px 0px 16px 0px;
	background-color: #2E2E2Ef8;
	border-radius: 12px;
	padding: 5px;
	padding-bottom: 20px;
	horizontal-align: right;
	vertical-align: top;
	width: 400px;
	z-index: 98;
}

.hero_testing_tab
{
	margin-right: 15px;
}

.hero_testing_tab .RadioBox
{
	visibility: collapse;
}

.hero_testing_tab Label
{
	horizontal-align: center;
	text-align: center;
	box-shadow: 0px 0px 0px #00000044;
	padding-right: 5px;
	padding-left: 5px;
}

.nav_menu_item
{
	flow-children: down;
	width: 400px;
	padding-left: 0px;
}

.nav_menu_item.full_width
{
	width: 380px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav_menu_item.half_width
{
	width: 200px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav_menu_item.third_width
{
	width: 130px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav_menu_item_container
{
	flow-children: right;
	width: 400px;
	padding-left: 0px;
}

.nav_menu_item_container.vertical_item
{
	vertical-align: center;
	flow-children: down;
	width: 200px;
	padding-left: 0px;
}

.nav_menu_item:hover
{
	background-color: rgba(255, 255, 255, 0.5);
}

.nav_menu_item:active
{
	background-color: rgba(255, 255, 255, 0.75);
}

.nav_menu_item Label
{
	padding-right: 16px;
	padding-bottom: 4px;
	font-style: normal;
	font-size: 32px;
	text-overflow: shrink min( 18px );
	line-height: 52px;
	text-align: left;
	color: offWhite&66;
}

.Language_japanese .nav_menu_item Label
{
	padding-right: 0px;
	font-size: 16px;
}

.Language_french .nav_menu_item Label,.Language_indonesian .nav_menu_item Label,.Language_russian .nav_menu_item Label,.Language_thai .nav_menu_item Label,.Language_turkish .nav_menu_item Label,.Language_ukrainian .nav_menu_item Label
{
	font-size: 18px;
}

.small_text Label
{
	padding-right: 32px;
	padding-bottom: 4px;
	line-height: 30px;
	font-size: 18px;
}

.Language_brazilian .small_text Label,.Language_czech .small_text Label,.Language_french .small_text Label,.Language_german .small_text Label,.Language_italian .small_text Label,.Language_latam .small_text Label,.Language_polish .small_text Label,.Language_russian .small_text Label,.Language_spanish .small_text Label,.Language_thai .small_text Label,.Language_turkish .small_text Label,.Language_ukrainian .small_text Label
{
	font-size: 18px;
	line-height: 26px;
}

.Language_indonesian .small_text Label,.Language_japanese .small_text Label
{
	padding-right: 0px;
	font-size: 16px;
}

.CitadelSettingsCheckbox
{
	flow-children: right;
}

b ToggleButton Label,.CitadelSettingsCheckbox Label
{
	padding-right: 16px;
	padding-bottom: 4px;
	line-height: 30px;
	font-size: 18px;
	text-align: left;
	color: offWhite&66;
}

.CitadelSettingsCheckbox.half_width
{
	width: 200px;
	padding-left: 10px;
	padding-right: 0px;
}

.set_ap Label
{
	padding-right: 32px;
	padding-bottom: 4px;
	line-height: 30px;
	font-size: 20px;
}

.testing_prompt
{
	width: 380px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 8px;
	margin-right: 4px;
}

.testing_prompt Label
{
	color: offWhite&66;
}

.gScoreboardOpen .testing_prompt
{
	visibility: collapse;
}

.nav_menu_item_header
{
	padding-left: 10px;
	padding-top: 8px;
	padding-right: 32px;
	line-height: 52px;
	text-align: left;
	color: rgba(255, 255, 255, 0.5);
	width: 400px;
}

.nav_menu_item_header Label
{
	font-style: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: left;
	color: offWhite;
	max-width: 200px;
	text-overflow: shrink;
	font-family: block;
}

.Language_german .nav_menu_item_header Label,.Language_japanese .nav_menu_item_header Label
{
	line-height: normal;
	font-size: 28px;
}

.Language_french .nav_menu_item_header Label
{
	font-size: 21px;
}

.Language_italian .nav_menu_item_header Label,.Language_latam .nav_menu_item_header Label,.Language_spanish .nav_menu_item_header Label
{
	font-size: 24px;
}

.Language_thai .nav_menu_item_header Label
{
	max-height: 60px;
}

.dash
{
	background-color: grey;
	height: 1px;
	vertical-align: center;
	width: 40%;
	x: 210px;
}

.nav_menu_item:hover Label,.nav_menu_item:active Label
{
	color: offWhite&66;
}

.menu_divider
{
	height: 20px;
}

.coop_sandbox .hide_in_coop
{
	visibility: collapse;
}

