/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define tierBronzeWash: #bea081;
@define tierSilverWash: #98cdd6;
@define tierGoldWash: #c4bf92;
@define tierPlatinumWash: #b2b6d3;
@define tierMaster: #9489a1;
@define tierGrandmasterWash: #49494e;
CitadelHeroBadge
{
	width: 88px;
	height: 120px;
}

CitadelHeroBadge #HeroImage
{
	width: 80%;
	opacity-mask: url("s2r://panorama/images/hero_badges/hero_image_mask_psd.vtex");
	vertical-align: top;
	horizontal-align: center;
}

CitadelHeroBadge .BadgeIcon
{
	width: 44px;
	height: 44px;
	vertical-align: bottom;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	img-shadow: 0px 0px 12px #000000aa;
}

CitadelHeroBadge .BadgeRing
{
	width: 100%;
	height: 100%;
	margin-top: 17px;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
}

CitadelHeroBadge .HeroLevel
{
	horizontal-align: center;
	text-align: center;
	vertical-align: bottom;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 0px 8px #000000aa;
	margin-bottom: 10px;
}

CitadelHeroBadge .BadgeBackground
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #424640), to( #252722 ) );
	background-color: #424640;
	border-radius: 50%;
	width: 100%;
	height: width-percentage (100%);
	margin-top: 16px;
	horizontal-align: center;
}

CitadelHeroBadge.TierNone .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_0_psd.vtex");
}

CitadelHeroBadge.TierBronze .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_psd.vtex");
}

CitadelHeroBadge.TierSilver .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_psd.vtex");
}

CitadelHeroBadge.TierGold .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_psd.vtex");
}

CitadelHeroBadge.TierPlatinum .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_psd.vtex");
}

CitadelHeroBadge.TierMaster .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_psd.vtex");
}

CitadelHeroBadge.TierGrandmaster .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_6_psd.vtex");
}

CitadelHeroBadge.TierBronze .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_ring_psd.vtex");
}

CitadelHeroBadge.TierSilver .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_ring_psd.vtex");
}

CitadelHeroBadge.TierGold .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_ring_psd.vtex");
}

CitadelHeroBadge.TierPlatinum .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_ring_psd.vtex");
}

CitadelHeroBadge.TierMaster .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_ring_psd.vtex");
}

CitadelHeroBadge.TierGrandmaster .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_6_ring_psd.vtex");
}

CitadelHeroBadge.TierBronze .BadgeBackground
{
	wash-color: tierBronzeWash;
}

CitadelHeroBadge.TierSilver .BadgeBackground
{
	wash-color: tierSilverWash;
}

CitadelHeroBadge.TierGold .BadgeBackground
{
	wash-color: tierGoldWash;
}

CitadelHeroBadge.TierPlatinum .BadgeBackground
{
	wash-color: tierPlatinumWash;
}

CitadelHeroBadge.TierMaster .BadgeBackground
{
	wash-color: tierMaster;
}

CitadelHeroBadge.TierGrandmaster .BadgeBackground
{
	wash-color: tierGrandmasterWash;
}

CitadelHeroBadge.TierNone .HeroLevel
{
	visibility: collapse;
}

CitadelHeroBadge.TierNone .BadgeBackground
{
	width: 80%;
	margin-top: 24px;
}

CitadelHeroBadgeProgress
{
	width: 88px;
	height: 120px;
}

CitadelHeroBadgeProgress #HeroImage
{
	width: 80%;
	opacity-mask: url("s2r://panorama/images/hero_badges/hero_image_mask_psd.vtex");
	vertical-align: top;
	horizontal-align: center;
}

CitadelHeroBadgeProgress .BadgeIcon
{
	width: 44px;
	height: 44px;
	vertical-align: bottom;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	img-shadow: 0px 0px 12px #000000aa;
}

CitadelHeroBadgeProgress .BadgeRing
{
	width: 100%;
	height: 100%;
	margin-top: 17px;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
}

CitadelHeroBadgeProgress .HeroLevel
{
	horizontal-align: center;
	text-align: center;
	vertical-align: bottom;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 0px 8px #000000aa;
	margin-bottom: 10px;
}

CitadelHeroBadgeProgress .BadgeBackground
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #424640), to( #252722 ) );
	background-color: #424640;
	border-radius: 50%;
	width: 100%;
	height: width-percentage (100%);
	margin-top: 16px;
	horizontal-align: center;
}

CitadelHeroBadgeProgress .BadgeRingInset
{
	width: 100%;
	height: 100%;
	margin-top: 16px;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_inset_ring_psd.vtex");
}

CitadelHeroBadgeProgress #BadgeRingBaseXP
{
	width: 100%;
	height: 100%;
	margin-top: 16px;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_active_ring_psd.vtex");
}

CitadelHeroBadgeProgress #BadgeRingProgressXP
{
	width: 100%;
	height: 100%;
	margin-top: 16px;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_active_ring_progress_psd.vtex");
}

CitadelHeroBadgeProgress.TierNone .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_0_psd.vtex");
}

CitadelHeroBadgeProgress.TierBronze .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_psd.vtex");
}

CitadelHeroBadgeProgress.TierSilver .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_psd.vtex");
}

CitadelHeroBadgeProgress.TierGold .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_psd.vtex");
}

CitadelHeroBadgeProgress.TierPlatinum .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_psd.vtex");
}

CitadelHeroBadgeProgress.TierMaster .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_psd.vtex");
}

CitadelHeroBadgeProgress.TierGrandmaster .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_6_psd.vtex");
}

CitadelHeroBadgeProgress.TierBronze .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_ring_psd.vtex");
}

CitadelHeroBadgeProgress.TierSilver .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_ring_psd.vtex");
}

CitadelHeroBadgeProgress.TierGold .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_ring_psd.vtex");
}

CitadelHeroBadgeProgress.TierPlatinum .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_ring_psd.vtex");
}

CitadelHeroBadgeProgress.TierMaster .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_ring_psd.vtex");
}

CitadelHeroBadgeProgress.TierGrandmaster .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_6_ring_psd.vtex");
}

CitadelHeroBadgeProgress.TierBronze .BadgeBackground
{
	wash-color: tierBronzeWash;
}

CitadelHeroBadgeProgress.TierSilver .BadgeBackground
{
	wash-color: tierSilverWash;
}

CitadelHeroBadgeProgress.TierGold .BadgeBackground
{
	wash-color: tierGoldWash;
}

CitadelHeroBadgeProgress.TierPlatinum .BadgeBackground
{
	wash-color: tierPlatinumWash;
}

CitadelHeroBadgeProgress.TierMaster .BadgeBackground
{
	wash-color: tierMaster;
}

CitadelHeroBadgeProgress.TierGrandmaster .BadgeBackground
{
	wash-color: tierGrandmasterWash;
}

CitadelHeroBadgeProgress.TierNone .HeroLevel
{
	visibility: collapse;
}

CitadelHeroBadgeProgress.TierNone .BadgeRingProgress
{
	visibility: collapse;
}

CitadelHeroBadgeProgress.TierNone #BadgeRingProgressActive
{
	visibility: collapse;
}

CitadelHeroBadgeProgress.TierNone .BadgeBackground
{
	width: 80%;
	margin-top: 24px;
}

CitadelHeroBadgeIcon
{
	width: 36px;
	height: 48px;
}

CitadelHeroBadgeIcon #HeroImage
{
	width: 98%;
	height: width-percentage( 100% );
	border-radius: 50%;
}

CitadelHeroBadgeIcon .BadgeIcon
{
	width: 36%;
	height: 36%;
	vertical-align: bottom;
	margin-bottom: 4px;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	img-shadow: 0px 0px 12px #000000aa;
}

CitadelHeroBadgeIcon .BadgeRing
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	img-shadow: 0px 0px 20px #000000aa;
}

CitadelHeroBadgeIcon .BadgeBackground
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #424640), to( #252722 ) );
	background-color: #424640;
	border-radius: 50%;
	width: 100%;
	height: width-percentage (100%);
	horizontal-align: center;
}

CitadelHeroBadgeIcon.TierNone .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_0_psd.vtex");
}

CitadelHeroBadgeIcon.TierBronze .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_psd.vtex");
}

CitadelHeroBadgeIcon.TierSilver .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_psd.vtex");
}

CitadelHeroBadgeIcon.TierGold .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_psd.vtex");
}

CitadelHeroBadgeIcon.TierPlatinum .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_psd.vtex");
}

CitadelHeroBadgeIcon.TierMaster .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_psd.vtex");
}

CitadelHeroBadgeIcon.TierGrandmaster .BadgeIcon
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_6_psd.vtex");
}

CitadelHeroBadgeIcon.TierBronze .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_ring_psd.vtex");
}

CitadelHeroBadgeIcon.TierSilver .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_ring_psd.vtex");
}

CitadelHeroBadgeIcon.TierGold .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_ring_psd.vtex");
}

CitadelHeroBadgeIcon.TierPlatinum .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_ring_psd.vtex");
}

CitadelHeroBadgeIcon.TierMaster .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_ring_psd.vtex");
}

CitadelHeroBadgeIcon.TierGrandmaster .BadgeRing
{
	background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_6_ring_psd.vtex");
}

CitadelHeroBadgeIcon.TierBronze .BadgeBackground
{
	wash-color: tierBronzeWash;
}

CitadelHeroBadgeIcon.TierSilver .BadgeBackground
{
	wash-color: tierSilverWash;
}

CitadelHeroBadgeIcon.TierGold .BadgeBackground
{
	wash-color: tierGoldWash;
}

CitadelHeroBadgeIcon.TierPlatinum .BadgeBackground
{
	wash-color: tierPlatinumWash;
}

CitadelHeroBadgeIcon.TierMaster .BadgeBackground
{
	wash-color: tierMaster;
}

CitadelHeroBadgeIcon.TierGrandmaster .BadgeBackground
{
	wash-color: tierGrandmasterWash;
}

CitadelHeroBadgeIcon.TierNone .BadgeBackground
{
	width: 80%;
	margin-top: 5px;
	background-color: none;
}

CitadelHudTopBarPlayer.SpectatorTarget CitadelHeroBadge .BadgeBackground,CitadelHudTopBarPlayer.LocalPlayer CitadelHeroBadge .BadgeBackground
{
	opacity: 0;
}

.team1 CitadelHeroBadge.TopBar .BadgeBackground
{
	background-color: team1Color;
}

.team2 CitadelHeroBadge.TopBar .BadgeBackground
{
	background-color: team2Color;
}

CitadelHudTopBarPlayer.KillStreak CitadelHeroBadge .BadgeBackground
{
	background-color: #90FFE3;
}

.team1 CitadelHudTopBarPlayer.healthLow CitadelHeroBadge .BadgeBackground,.team2 CitadelHudTopBarPlayer.healthLow CitadelHeroBadge .BadgeBackground
{
	background-color: #b02727;
	animation-name: LowHealthFlash;
	animation-iteration-count: infinite;
	animation-duration: 0.7s;
	box-shadow: 0px 0px 20px #b02727;
}

CitadelHudTopBarPlayer.Dead CitadelHeroBadge #HeroImage
{
	saturation: 0;
	brightness: 0.2;
}

CitadelHudTopBarPlayer.Dead CitadelHeroBadge .BadgeBackground
{
	background-color: offBlack&ee;
}

@keyframes 'LowHealthFlash'
{
	0%
	{
		background-color: #b02727;
		box-shadow: 0px 0px 20px #b02727;
	}
	
	50%
	{
		background-color: #ff3c3c;
		box-shadow: 0px 0px 20px #ff3c3c;
	}
	
	100%
	{
		background-color: #b02727;
		box-shadow: 0px 0px 20px #b02727;
	}
	
}

.healthLow #HeroImage
{
	wash-color: colorEnemy&90;
	animation-name: LowHealthPortraitFlash;
	animation-iteration-count: infinite;
	animation-duration: 0.7s;
}

@keyframes 'LowHealthPortraitFlash'
{
	0%
	{
		wash-color: colorEnemy&50;
	}
	
	50%
	{
		wash-color: colorEnemy&00;
	}
	
	100%
	{
		wash-color: colorEnemy&50;
	}
	
}

.damageImpactInstance.team1 CitadelHeroBadge .BadgeBackground
{
	background-color: team1Color;
}

.damageImpactInstance.team2 CitadelHeroBadge .BadgeBackground
{
	background-color: team2Color;
}

.damageImpactInstance.team1.Critical CitadelHeroBadge .BadgeBackground,.damageImpactInstance.team2.Critical CitadelHeroBadge .BadgeBackground
{
	background-color: #b02727;
	animation-name: LowHealthFlash;
	animation-iteration-count: infinite;
	animation-duration: 0.7s;
	box-shadow: 0px 0px 20px #b02727;
}

.damageImpactInstance.killed CitadelHeroBadge .BadgeBackground,.damageImpactInstance.assist CitadelHeroBadge .BadgeBackground
{
	background-color: #b02727;
	animation-iteration-count: infinite;
	animation-duration: 0.7s;
}

