/* Prettified by Source 2 Viewer 11.0.0.0 - https://valveresourceformat.github.io */

#HeroesContainer
{
	flow-children: right-wrap;
	padding: 40px;
	width: 100%;
}

CitadelSelectionHeroCard:hover
{
	brightness: 2.0;
}

