/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHeroStatsDisplay
{
	width: 100%;
	height: 100%;
}

Label
{
	color: colorCommonOffWhite;
	font-family: sans;
}

#HealthStatsContainer,#WeaponTechContainer
{
	width: fill-parent-flow(1.0);
	height: 100%;
}

.isPostGame #HealthStatsContainer,.isPostGame #WeaponTechContainer
{
	width: 426px;
}

#HealthStatsContainer
{
	margin-right: 5px;
}

#WeaponStatsContainer,#TechStatsContainer
{
	width: 100%;
}

.StatsHeader
{
	flow-children: right;
	padding: 5px 15px;
	width: 100%;
	height: 80px;
}

.StatsContainer
{
	flow-children: down;
	padding: 8px 15px;
}

.isPostGame .StatsContainer
{
	flow-children: right-wrap;
}

#StatContainer_MaxHealth,#StatContainer_DPS,#StatContainer_TechPower,#StatContainer_BaseHealthRegen,#StatContainer_BulletDamage,#StatContainer_TechDamageScale
{
	width: fill-parent-flow(1.0);
}

.StatElement
{
	padding: 3px 0px;
}

.isPostGame .StatElement
{
	min-width: 49%;
}

.IsZeroValue
{
	opacity: 0.2;
}

.DamageReport #WeaponTechContainer
{
	visibility: collapse;
}

.DamageReport #StatContainer_MaxHealth
{
	margin-left: 0px;
}

.DamageReport #StatContainer_BaseHealthRegen
{
	margin-left: 10px;
}

.DamageReport #HealthStats
{
	flow-children: right-wrap;
	width: 100%;
	height: 100%;
}

.DamageReport #HealthStats .StatElement
{
	visibility: collapse;
	width: 50%;
	margin-bottom: 5px;
}

.DamageReport #HealthStats #StatContainer_BulletArmorDamageReduction
{
	visibility: visible;
}

.DamageReport #HealthStats #StatContainer_TechArmorDamageReduction
{
	visibility: visible;
}

.DamageReport #HealthStats #StatContainer_BulletShieldHealth
{
	visibility: visible;
}

.DamageReport #HealthStats #StatContainer_TechShieldHealth
{
	visibility: visible;
}

.DamageReport #HealthStats #StatContainer_MaxHealth CitadelModifiedAttributeLabel
{
	horizontal-align: center;
}

#HeroName
{
	font-size: 24px;
	font-weight: bold;
	font-family: serif;
	text-transform: uppercase;
	margin-bottom: -4px;
}

.player_name_text
{
	font-weight: semi-bold;
	opacity: 0.6;
}

