/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

Label
{
	color: colorCommonOffWhite;
	font-family: sans;
}

.hero_stats
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

#CitadelHudHeroShop .hero_stats
{
	horizontal-align: center;
	width: 480px;
	margin-top: 30px;
}

.TopStatsContainer
{
	flow-children: down;
	width: 330px;
}

.BottomStatsContainer
{
	width: 100%;
	margin-left: 10px;
}

CitadelHeroDetailsPage .TopStatsContainer
{
	flow-children: down;
}

.PercentBonusContainer
{
	horizontal-align: right;
	flow-children: right;
	vertical-align: bottom;
	margin-bottom: 10px;
	visibility: visible;
}

CitadelHeroDetailsPage .PercentBonusContainer
{
	visibility: collapse;
}

.PercentBonusIcon
{
	width: 18px;
	height: 18px;
	margin-right: 5px;
	margin-top: 2px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_psd.vtex");
	wash-color: offWhite;
	opacity: 1;
	background-size: contain;
	background-repeat: no-repeat;
}

#WeaponStats .PercentBonusIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_force.vsvg");
	wash-color: courageBrightColor;
}

#VitalityStats .PercentBonusIcon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_psd.vtex");
	wash-color: fortitudeBrightColor;
}

.PercentBonusTitle
{
	font-size: 16px;
	font-weight: bold;
	opacity: 0.3;
	vertical-align: middle;
	margin-top: 1px;
}

.StatsTypeLabel
{
	padding: 10px 0px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff50;
	font-size: 16px;
	text-align: center;
}

#VitalityStats .StatsTypeLabel
{
	color: fortitudeBrightColor;
}

#SpiritStats .StatsTypeLabel
{
	color: spiritBrightColor;
}

#WeaponStats .StatsTypeLabel
{
	color: courageBrightColor;
}

.StatsParent
{
	flow-children: down;
	width: 100%;
	margin-bottom: 10px;
}

.ParentStatsContainer
{
	width: 100%;
	flow-children: down;
}

.StatCategoryTitleArea
{
	width: 100%;
	flow-children: right;
	padding: 0px 15px;
}

CitadelHeroDetailsPage .ParentStatsContainer
{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.StatsContainer
{
	width: 100%;
	flow-children: right-wrap;
}

#SpiritStats
{
	width: 100%;
	flow-children: none;
	height: fit-children;
}

.TooltipOverride
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
}

CitadelHeroDetailsPage #SpiritStats
{
	visibility: collapse;
}

.SpiritLabelAndStatContainer
{
	width: 100%;
	horizontal-align: left;
	flow-children: down;
}

#HeroStatsTooltip .SpiritLabelAndStatContainer
{
	horizontal-align: center;
}

#SpiritStatsContainer
{
	width: 100%;
	min-height: 80px;
	flow-children: none;
	background-color: #2e2e2e;
}

#HeroStatsTooltip #SpiritStats
{
	width: 50%;
	horizontal-align: center;
}

#SpiritStatsContainer .StatElement
{
	horizontal-align: center;
	vertical-align: middle;
	height: 60px;
	width: 100%;
}

.SpiritTooltipButton
{
	horizontal-align: right;
	width: 50%;
	height: 100%;
	visibility: collapse;
}

#HeroStatsTooltip .SpiritTooltipButton
{
	visibility: collapse;
}

.SpiritContent
{
	flow-children: right;
	width: 100%;
}

.SpiritTooltipLabel
{
	padding: 5px 15px;
	background-color: offWhite&30;
	vertical-align: center;
	horizontal-align: center;
	color: offBlack;
	font-weight: bold;
	font-size: 15px;
	font-weight: semi-bold;
	visibility: collapse;
}

.AbilityIcons
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: bottom;
	padding: 10px;
	margin-right: 30px;
}

.Ability
{
	width: 60px;
	height: 60px;
	background-color: offWhite;
	border-radius: 50px;
	margin: 0px 5px;
}

#VitalityStatsContainer #TopBanner
{
	background-color: #001413;
	height: 5px;
	width: 100%;
}

CitadelHudHeroShop .HeaderLabel,#StatsAndModsContainer .HeaderLabel
{
	visibility: collapse;
}

.BonusValue
{
	visibility: collapse;
}

.hasItemBonus .BonusValue
{
	visibility: visible;
}

.StatElement
{
	width: 49.5%;
	height: 74px;
	tooltip-position: bottom;
	background-color: #2E2E2E;
}

.StatElement:hover
{
	background-color: #656565;
}

CitadelHeroStats CitadelModifiedAttributeLabel
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
}

#ImportantStatsContainer CitadelModifiedAttributeLabel,#IntroStatsContainer CitadelModifiedAttributeLabel
{
	horizontal-align: center;
	flow-children: down;
	margin: 10px 0px 10px 0px;
}

#WeaponStatsContainer #IntroStatsContainer
{
	background-color: #2D1B00;
	height: 90px;
	width: 100%;
	margin-bottom: 2px;
	overflow: noclip;
}

#GunDetails
{
	flow-children: down;
	margin-left: 20px;
	vertical-align: middle;
}

#GunArt
{
	width: 220px;
	height: 120px;
	horizontal-align: right;
	margin-right: 0px;
	background-size: cover;
	transform: translateY(-30px);
	z-index: 2;
	saturation: 0;
	opacity: 0.1;
}

.GunName
{
	font-size: 26px;
	font-weight: bold;
	color: offWhite;
	margin-bottom: 4px;
}

.GunTypeContainer
{
	flow-children: right;
}

.GunIcon
{
	width: 25px;
	height: 15px;
	opacity: 0.4;
	margin-right: 5px;
	background-size: contain;
	background-image: url("s2r://panorama/images/heroes/guns/icon_pistol.vsvg");
}

.GunType
{
	font-size: 15px;
	font-weight: semi-bold;
	font-family: "New Spirit Trial";
	color: #FFFFFF60;
	vertical-align: middle;
	margin-top: 1px;
}

.DamageContainer
{
	flow-children: right;
	horizontal-align: middle;
	margin-bottom: -3px;
}

#GunDamage
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: bottom;
	width: 124px;
}

.DamageIcon
{
	width: 25px;
	height: 25px;
	margin-right: 5px;
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: #AA997F;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/hud/core/icon_damage_force.vsvg");
}

.DamageAmount
{
	font-size: 22px;
	font-weight: bold;
	color: offWhite;
	vertical-align: middle;
	font-family: sansMono;
}

.DamageType
{
	font-size: 17px;
	font-weight: semi-bold;
	color: #AA997F;
	vertical-align: middle;
	font-family: sans;
}

CitadelStatScalingLabel
{
	vertical-align: top;
	horizontal-align: right;
	ui-scale: 80%;
}

.HeaderLabel
{
	text-transform: uppercase;
	font-weight: semi-bold;
	margin-bottom: 10px;
	opacity: 0.6;
}

