/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define hintShowDuration: 0.25s;
@define hintTimingFunction: ease-in;
@define colorEmphasis: #FFCC00;
@define colorCommonOffWhite: #F3F0E7;
.hintPanel
{
	width: 768px;
	font-size: 21px;
	color: colorCommonOffWhite;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
	flow-children: right;
}

.container
{
	width: 768px;
	horizontal-align: center;
	flow-children: right;
}

.capLeft
{
	width: 48px;
	height: 96px;
	border-radius: 48px 0px 0px 48px;
	background-color: rgba( 0, 0, 0, 0.8 );
	transform: translate3d(336px, 0px, 0px);
}

.hintActive .capLeft
{
	animation-name: translateCapLeft;
	animation-duration: hintShowDuration;
	animation-timing-function: hintTimingFunction;
	animation-fill-mode: forwards;
}

@keyframes 'translateCapLeft'
{
	0%
	{
		transform: translate3d(336px, 0px, 0px);
	}
	
	100%
	{
		transform: translate3d(0px, 0px, 0px);
	}
	
}

.capRight
{
	width: 48px;
	height: 96px;
	border-radius: 0px 48px 48px 0px;
	background-color: rgba( 0, 0, 0, 0.8 );
	transform: translate3d(-336px, 0px, 0px);
}

.hintActive .capRight
{
	animation-name: translateCapRight;
	animation-duration: hintShowDuration;
	animation-timing-function: hintTimingFunction;
	animation-fill-mode: forwards;
}

@keyframes 'translateCapRight'
{
	0%
	{
		transform: translate3d(-336px, 0px, 0px);
	}
	
	100%
	{
		transform: translate3d(0px, 0px, 0px);
	}
	
}

.body
{
	horizontal-align: center;
	width: 672px;
	background-color: rgba( 0, 0, 0, 0.8 );
	pre-transform-scale2d: 1, 1;
}

.hintActive .body
{
	animation-name: scaleBody;
	animation-duration: hintShowDuration;
	animation-timing-function: hintTimingFunction;
	animation-fill-mode: forwards;
	overflow: noclip;
}

@keyframes 'scaleBody'
{
	0%
	{
		pre-transform-scale2d: 0, 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1, 1;
	}
	
}

.hintActive .hintPanel
{
	opacity: 1;
}

#hintText
{
	width: 624px;
	text-align: center;
	align: center center;
	padding: 24px;
	margin-left: 48px;
	border-radius: 8px;
	opacity: 0;
}

.hintActive #hintText
{
	animation-name: showText;
	animation-duration: 0.2s;
	animation-delay: hintShowDuration;
	animation-timing-function: hintTimingFunction;
	animation-fill-mode: forwards;
}

.hintTextEmphasis
{
	color: colorEmphasis;
	font-weight: bold;
}

@keyframes 'showText'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.infoIcon
{
	width: 64px;
	height: 64px;
	margin: 16px;
	vertical-align: center;
	border-radius: 48px;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/control_icons/info_icon.vsvg");
	wash-color: colorEmphasis;
	opacity: 0;
	transform: translate3d(-48px, 0px, 0px);
}

.hintActive .infoIcon
{
	animation-name: showIcon;
	animation-duration: 0.2s;
	animation-delay: hintShowDuration;
	animation-timing-function: hintTimingFunction;
	animation-fill-mode: forwards;
}

@keyframes 'showIcon'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.InlineGlyph
{
	height: 40px;
	width: 40px;
	background-size: 100% 100%;
}

