/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#gold_and_ap_container
{
	flow-children: right;
	horizontal-align: left;
	vertical-align: bottom;
	margin-left: 30px;
	margin-bottom: 105px;
	ui-scale: 100%;
	transition-property: ui-scale, transform, margin-bottom, margin-left, opacity;
	transition-duration: 0.05s;
	transition-timing-function: ease-out;
}

#gold_and_ap_container.gShopOpen
{
	margin-left: 30px;
	margin-bottom: 280px;
	transform: translateX(0px) translateY(-8px);
	visibility: visible;
}

#HudCurrentAPContainer,#hudGoldContainer
{
	width: fit-children;
	flow-children: right;
}

.CurrencyLabel
{
	font-size: 32px;
	vertical-align: middle;
	color: blueAPTextColor;
	font-weight: bold;
	font-family: sansMono;
}

#HudCurrentAPContainer .CurrencyLabel
{
	color: spiritLightColor;
}

#hudGoldContainer .CurrencyLabel
{
	color: shardColor;
}

.infiniteMoney #hudAPInfinite
{
	visibility: visible;
	height: 30px;
	width: 30px;
	vertical-align: middle;
}

#hudAPInfinite
{
	visibility: collapse;
}

#hudAPPointsAvailable
{
	margin-left: -8px;
	height: 40px;
	width: 65px;
	background-color: #10130D;
	vertical-align: center;
}

.bottomCurrencyContainer
{
	flow-children: right;
	margin-left: 20px;
}

#CurrentGoldAmount
{
	flow-children: right;
	vertical-align: middle;
	margin-bottom: 5px;
}

#hudCurGoldIcon
{
	horizontal-align: center;
	height: 40px;
	background-image: url("s2r://panorama/images/hud/icons/icon_soul.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 24px;
	margin-right: 5px;
	vertical-align: middle;
	wash-color: shardColor;
}

#hudGoldLabel
{
	font-size: 14px;
	text-transform: uppercase;
	color: offWhite;
	opacity: 0.4;
	vertical-align: bottom;
	margin-bottom: 5px;
	margin-left: 5px;
}

.infiniteMoney #hudCurGoldLabel
{
	visibility: collapse;
}

#hudGoldInfinite
{
	visibility: collapse;
}

.infiniteMoney #hudGoldInfinite
{
	visibility: visible;
	height: 30px;
	width: 30px;
	vertical-align: center;
	wash-color: offWhite;
	vertical-align: bottom;
}

.death_penalty_gold
{
	vertical-align: bottom;
	horizontal-align: right;
	color: offWhite;
	text-align: right;
	opacity: 0.5;
	visibility: visible;
}

.hudDeathGoldContainer
{
	visibility: collapse;
	flow-children: right;
	vertical-align: center;
	margin-left: 10px;
	margin-top: 7px;
}

#hudDealthGoldLabel
{
	margin-right: 3px;
}

.hudDeathGoldContainer Label
{
	font-size: 14px;
	color: #ffffff;
	font-weight: semi-bold;
	font-family: sansMono;
	text-align: center;
	horizontal-align: center;
	text-transform: uppercase;
}

#hudUnsecuredLabel
{
	opacity: 0.2;
}

@keyframes 'death_penalty_danger_pulse'
{
	0%
	{
		opacity: 0.2;
	}
	
	50%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0.2;
	}
	
}

.death_penalty_gold_danger_level_2 .hudDeathGoldContainer
{
	color: rgb(255, 145, 145);
	animation-name: death_penalty_danger_pulse;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
}

.death_penalty_gold_danger_level_3 .hudDeathGoldContainer
{
	color: rgb(255, 64, 64);
	text-shadow: 2px 2px 20px 2 rgb(100, 12, 12);
	animation-name: death_penalty_danger_pulse;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
}

.death_penalty_gold_danger_level_4 .hudDeathGoldContainer
{
	color: rgb(255, 64, 64);
	text-shadow: 2px 2px 20px 2 rgb(100, 12, 12);
	font-size: 25px;
	animation-name: death_penalty_danger_pulse;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
}

.death_penalty_gold_danger_level_2 .death_penalty_gold
{
	color: rgb(255, 145, 145);
}

.death_penalty_gold_danger_level_4 .death_penalty_gold,.death_penalty_gold_danger_level_3 .death_penalty_gold
{
	color: rgb(255, 64, 64);
	text-shadow: 2px 2px 20px 2 rgb(100, 12, 12);
}

.death_penalty_gold_danger_level_1 .hudDeathGoldContainer,.death_penalty_gold_danger_level_2 .hudDeathGoldContainer,.death_penalty_gold_danger_level_3 .hudDeathGoldContainer,.death_penalty_gold_danger_level_4 .hudDeathGoldContainer
{
	visibility: visible;
	width: fit-children;
}

.gShopOpen .hudDeathGoldContainer
{
	visibility: collapse;
}

#hudDeathGoldIcon
{
	vertical-align: center;
	horizontal-align: center;
	width: 12px;
	height: 12px;
	opacity: 0.3;
	margin-right: 3px;
	wash-color: colorEnemy;
}

@keyframes 'death_penalty_gold_gained_anim'
{
	0%
	{
		opacity: 1;
	}
	
	50%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

#death_penalty_gold_flash
{
	vertical-align: bottom;
	horizontal-align: left;
	background-color: gradient( linear, 0% 0%, 0% 50%, from( #ff000000 ), to( #ff0000 ) );
	width: 250px;
	height: 20px;
	opacity: 0;
}

.death_penalty_gold_gained #death_penalty_gold_flash
{
	height: 80px;
	opacity: 0.6;
	transition-property: opacity, height;
	transition-duration: 1s;
	transition-timing-function: ease-in;
}

