/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHudMatchEnd
{
	width: 100%;
	height: 100%;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

CitadelHudMatchEnd.ShowMatchEnd
{
	opacity: 1.0;
	transition-duration: 0.0s;
}

#MatchCompleteBG
{
	width: 100%;
	height: 100%;
	opacity: 1;
	background-color: white;
	opacity: 0.5;
	ignore-parent-flow: true;
	opacity-mask-threshold: 10% 0%;
	opacity-mask: url("s2r://panorama/images/hud/brawl/round_complete_mask_psd.vtex");
	animation-name: wipeAnim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-iteration-count: 1;
}

.LocalPlayerTeam1.Team1Victory #MatchCompleteBG
{
	wash-color: team1Color;
}

.LocalPlayerTeam2.Team2Victory #MatchCompleteBG
{
	wash-color: team2Color;
}

.LocalPlayerTeam1.Team2Victory #MatchCompleteBG,.LocalPlayerTeam2.Team1Victory #MatchCompleteBG
{
	background-color: #912422;
}

@keyframes 'wipeAnim'
{
	0%
	{
		opacity-mask-threshold: 100% 0%;
		opacity-mask: url("s2r://panorama/images/hud/brawl/round_complete_mask_psd.vtex");
	}
	
	100%
	{
		opacity-mask-threshold: 10% 0%;
		opacity-mask: url("s2r://panorama/images/hud/brawl/round_complete_mask_psd.vtex");
	}
	
}

.Contents
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 70px;
}

.Contents Label
{
	horizontal-align: center;
	text-align: center;
}

#TeamResultsTop
{
	visibility: collapse;
}

.OutcomeLabel
{
	font-size: 200px;
	text-shadow: 2px 2px 20px #00000090;
	text-align: center;
	font-family: oracle;
	color: offWhite;
}

.LocalPlayerTeam1 .TeamColor
{
	background-color: team1Color;
}

.LocalPlayerTeam2 .TeamColor
{
	background-color: team2Color;
}

.TeamName
{
	letter-spacing: 2px;
}

.LocalPlayerTeam1 .TeamName
{
	color: team1Color;
	text-shadow: 2px 2px 20px #00000090;
}

.LocalPlayerTeam2 .TeamName
{
	color: team2Color;
	text-shadow: 2px 2px 20px #00000090;
}

#patron_logo
{
	horizontal-align: center;
	opacity: 0.5;
}

.localPlayerTeam1 #patron_logo
{
	background-image: url("s2r://panorama/images/hud/objectives/team1_patron_logo_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 170px;
	width: 570px;
}

.localPlayerTeam2 #patron_logo
{
	background-image: url("s2r://panorama/images/hud/objectives/team2_patron_logo_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 170px;
	width: 570px;
}

