/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHudMovementSpeed
{
	transition-property: position;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: left;
	margin-bottom: 35px;
	width: 200px;
	visibility: collapse;
}

CitadelHudMovementSpeed.showMovespeed
{
	visibility: visible;
}

#MovementSpeed
{
	width: 100%;
	height: 10px;
	overflow: clip;
	background-color: #00000050;
}

#MovementSpeed .ProgressBarLeft
{
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFFAA ), to( #FFFFFF22 ) );
	border-right: 3px solid #FFFFFFaa;
}

#MovementSpeed .ProgressBarRight
{
	height: 100%;
	width: 100%;
	background-color: #00000000;
}

#MovementSpeedCurrent,#MovementSpeedLabel
{
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}

.isNegative #MovementSpeedLabel
{
	color: #ff0000;
}

.isNegative #MovementSpeed .ProgressBarLeft
{
	border-right: 3px solid #ff0000;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #590000 ), to( #9f0000 ) );
}

.isPositive #MovementSpeedLabel
{
	color: #00ff1e;
}

.isPositive #MovementSpeed .ProgressBarLeft
{
	border-right: 3px solid #00ff1e;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00630c ), to( #00be16 ) );
}

.movementSpeedContainer
{
	flow-children: right;
	horizontal-align: center;
	text-align: center;
	margin-bottom: -5px;
	width: 170px;
	visibility: collapse;
}

#BaseMovementSpeedPanel
{
	horizontal-align: center;
	margin-right: 2px;
	width: 3px;
	height: 100%;
	background-color: #FFFFFFaa;
	z-index: 99;
}

