/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.damageImpactContainer
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	width: fit-children;
	height: fit-children;
	margin-bottom: 500px;
	transition-property: opacity;
	transition-duration: 1s;
}

#damageImpactInfo
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
	transition-property: opacity;
	transition-duration: 1s;
}

.damageImpactInstance
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
	pre-transform-scale2d: .1;
	opacity: 0;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: .32s;
	transition-timing-function: cubic-bezier(.75,1.53,.97,1.4);
	margin: 64px;
}

.playerName
{
	flow-children: right;
	font-size: 18px;
	color: #FF5F11;
	margin-left: 4px;
	vertical-align: center;
}

.playerAbility
{
	font-size: 24px;
	font-weight: bold;
	color:black;
	vertical-align: bottom;
}

.playerAbilityIcon
{
	width: 200px;
	height: 200px;
}

.damageValue
{
	visibility: collapse;
}

.healthBarContainer
{
	width: 140px;
	height: 30px;
	background-color: #222222;
	border-bottom: 2px solid #343435;
	z-index: 2;
	border: 2px solid #222;
}

#healthBarContainerSource
{
	visibility: collapse;
}

#healthBarSource,#healthBarTarget
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

#healthRemainingSource
{
	flow-children: right;
	width: 120px;
	height: 30px;
	background-color: #884A2D;
	border-bottom: 2px solid #FD6011;
}

#healthRemainingTarget
{
	flow-children: right;
	width: 120px;
	height: 30px;
	background-color: #2d884b;
	border-bottom: 2px solid #33ff0b;
}

#healthRemovedTarget
{
	width: 10px;
	height: 30px;
	background-color: white;
	transition-property: width, background-color;
	transition-duration: 0.5s;
}

#heroIconContainerSource
{
	width: 120px;
	height: 120px;
	margin-bottom: -16px;
	horizontal-align: left;
}

#heroIconContainerTarget
{
	width: 120px;
	height: 120px;
	margin-bottom: -16px;
	horizontal-align: center;
}

#heroIconBackgroundSource
{
	width: 75px;
	height: 75px;
	border: 2px solid black;
	border-radius: 50%;
	background-color: #900;
	box-shadow: fill 0px 2px 12px black;
}

#heroIconBackgroundTarget
{
	width: 120px;
	height: 120px;
	border: 2px solid black;
	border-radius: 50%;
	background-color: rgb(15, 110, 2);
	box-shadow: fill 0px 2px 12px black;
}

#heroIconSource
{
	visibility: visible;
	width: 75px;
	height: 75px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

#heroIconTarget
{
	visibility: visible;
	width: 120px;
	height: 120px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

#heroIconSource.heroDead,#heroIconTarget.heroDead
{
	wash-color: red;
}

.damageImpactInstance.fadeIn.fadeOut
{
	opacity: 0;
	pre-transform-scale2d: 1;
}

.damageImpactInstance.fadeIn
{
	transition-duration: 3s;
	pre-transform-scale2d: 1;
	opacity: 1;
}

.FlowDown
{
	flow-children: down;
}

