/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define unlearnedWashColor: rgba(255, 255, 255, 0.2);
@define abilityOffsetX: 440px;
@define abilityOffsetY: 240px;
.hud_abilities
{
	vertical-align: bottom;
	margin-bottom: 10px;
	border-radius: 6px;
	flow-children: down;
}

.hotkeyReminder
{
	text-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 0px;
	opacity: 0.6;
	font-size: 16px;
	letter-spacing: 0.5px;
	color: spiritLightColor;
}

.abilitiesHeaderColor
{
	width: 100%;
	height: 6px;
	background-color: spiritBrightColor;
	vertical-align: top;
	z-index: 1;
	visibility: collapse;
}

.gShopOpen .hud_abilities,.wants_scoreboard .hud_abilities,.gDetailView .hud_abilities
{
	background-color: colorCommonDarkGray;
	padding: 5px 10px 0px 10px;
	border-top: 6px solid spiritBrightColor;
}

.gShopOpen .abilitiesHeaderColor,.wants_scoreboard .abilitiesHeaderColor,.gDetailView .abilitiesHeaderColor
{
	visibility: visible;
}

.ability_container
{
	width: fit-children;
	height: 220px;
	flow-children: up;
	vertical-align: bottom;
	overflow: noclip;
	tooltip-position: right;
	transition-property: transform, wash-color, margin;
	transition-duration: 0.2s;
}

.items .ability_container
{
	width: 40px;
	height: 40px;
}

.teleport .ability_container
{
	width: 60px;
	height: 60px;
	padding: 5px;
}

.items .ability_container.item_passive
{
	visibility: visible;
}

.items .ability_container.item_passive.Hidden
{
	visibility: collapse;
}

.items .ability_container.empty
{
	opacity: 0;
}

.held .ability_container.empty
{
	visibility: collapse;
}

.action_button .ability_container
{
	width: 80px;
}

.button_container
{
	width: 60px;
	height: 60px;
	vertical-align: center;
	margin-top: 0px;
}

.button_container
{
	width: 120px;
	height: 120px;
	margin: 0px -5px;
}

.Tier1 .button_container
{
	width: 120px;
}

.ability_bg
{
	width: 100%;
	height: 100%;
	background-size: cover;
	wash-color: #e8e4ea;
	background-image: url("s2r://panorama/images/hud/core/ability_static_frame_icon_tex_png.vtex");
	background-image: url("s2r://panorama/images/hud/core/ability_static_frame_icon.vsvg");
	background-image: url("s2r://panorama/images/hud/core/ability_frame_0.vsvg");
}

.Tier0.not_trained .ability_bg,.Tier0.not_trained .ability_ring
{
	opacity: 0.1;
	saturation: 0;
	wash-color: #000000aa;
	transition-property: background-image, pre-transform-scale2d;
	transition-duration: 0.35s;
}

.learning_ability .ability_bg
{
	pre-transform-scale2d: 1.2;
}

.ability_ring
{
	width: 100%;
	height: 100%;
	background-size: cover;
	wash-color: #e8e4ea;
	opacity: 0.8;
	background-image: url("s2r://panorama/images/hud/core/ability_static_frame_border.vsvg");
}

.Tier0 .ability_ring
{
	visibility: collapse;
}

.ability_ring
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.Tier1 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_1.vsvg");
	background-image: url("s2r://panorama/images/hud/core/ability_frame_0.vsvg");
	animation-name: testUpgrade;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
}

@keyframes 'testUpgrade'
{
	0%
	{
		brightness: 1;
		wash-color: spiritBrightColor&00;
		transform: rotateZ(0deg);
	}
	
	50%
	{
		pre-transform-scale2d: 1.3;
		wash-color: spiritBrightColor;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		wash-color: spiritBrightColor&00;
		transform: rotateZ(0deg);
	}
	
}

.Tier2 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_2.vsvg");
	animation-name: testUpgrade2;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
}

@keyframes 'testUpgrade2'
{
	0%
	{
		brightness: 1;
		wash-color: spiritBrightColor&00;
		transform: rotateZ(0deg);
	}
	
	50%
	{
		pre-transform-scale2d: 1.3;
		wash-color: spiritBrightColor;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		wash-color: spiritBrightColor&00;
		transform: rotateZ(0deg);
	}
	
}

.Tier3 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_3.vsvg");
	animation-name: testUpgrade3;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
}

@keyframes 'testUpgrade3'
{
	0%
	{
		brightness: 1;
		wash-color: spiritBrightColor&00;
		transform: rotateZ(0deg);
	}
	
	50%
	{
		pre-transform-scale2d: 1.3;
		wash-color: spiritBrightColor;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		wash-color: spiritBrightColor&00;
		transform: rotateZ(0deg);
	}
	
}

.signature.item_passive.Tier0 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_passive_0.vsvg");
}

.signature.item_passive.Tier0.not_trained .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_1.vsvg");
}

.signature.item_passive.Tier1 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_passive_1.vsvg");
	animation-name: testUpgradePassive;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
}

@keyframes 'testUpgradePassive'
{
	0%
	{
		brightness: 1;
		wash-color: spiritBrightColor&00;
		transform: rotateZ(0deg);
	}
	
	50%
	{
		pre-transform-scale2d: 1.3;
		wash-color: spiritBrightColor;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		wash-color: spiritBrightColor&00;
		transform: rotateZ(0deg);
	}
	
}

.signature.item_passive.Tier2 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_passive_2.vsvg");
	animation-name: testUpgradePassive2;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
}

@keyframes 'testUpgradePassive2'
{
	0%
	{
		brightness: 1;
		wash-color: spiritBrightColor&00;
		transform: rotateZ(0deg);
	}
	
	50%
	{
		pre-transform-scale2d: 1.3;
		wash-color: spiritBrightColor;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		wash-color: spiritBrightColor&00;
		transform: rotateZ(0deg);
	}
	
}

.signature.item_passive.Tier3 .ability_bg
{
	background-image: url("s2r://panorama/images/hud/core/ability_frame_passive_3.vsvg");
	animation-name: testUpgradePassive3;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
}

@keyframes 'testUpgradePassive3'
{
	0%
	{
		brightness: 1;
		wash-color: spiritBrightColor&00;
		transform: rotateZ(0deg);
	}
	
	50%
	{
		pre-transform-scale2d: 1.3;
		wash-color: spiritBrightColor;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		wash-color: spiritBrightColor&00;
		transform: rotateZ(0deg);
	}
	
}

.cooling_down .ability_bg,.ability_not_ready .ability_bg
{
	opacity: 0.05;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.cooling_down .ability_ring,.ability_not_ready .ability_ring
{
	opacity: 0.5;
	wash-color: #000000;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.active .ability_bg,.active .ability_ring,.channeling .ability_bg,.channeling .ability_ring,.ability_upgradable .ability_ring
{
	opacity: 1;
	wash-color: #dab0ffc2;
}

.image_container
{
	width: 100%;
	height: 100%;
	vertical-align: middle;
	horizontal-align: middle;
}

.action_button .button_container
{
	height: 50px;
	background-color: rgba(0, 0, 0, 0.438);
}

.active #button_container,.active #stack_charges
{
	transform: translateY(-10px);
}

.active .image_container
{
	background-size: 100% 100%;
}

.Tier0.active .ability_ring,.Tier1.active .ability_ring,.Tier2.active .ability_ring,.Tier3.active .ability_ring,.channeling .ability_ring
{
	transform: rotateZ(10deg);
	animation-name: ActiveRotate;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes 'ActiveRotate'
{
	0%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(180deg);
	}
	
}

.ability_icon
{
	width: 24px;
	background-size: 24px;
	height: width-percentage(100%);
	horizontal-align: right;
	vertical-align: top;
}

.action_button .ability_icon
{
	opacity: 0;
}

.new_item .button_container
{
	background-color: #ffe91ec2;
	wash-color: #b969ffc2;
	transition-property: background-color;
	transition-duration: 1s;
}

.active .button_container,.channeling .button_container
{
	z-index: 100;
	animation-name: ability_active;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.not_trained .image_container
{
	saturation: 0;
	opacity: 0.8;
}

@keyframes 'ability_active'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
	50%
	{
		pre-transform-scale2d: 1.1;
		transform: translateY(-10px);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
}

.learning_ability .image_container
{
	saturation: 1;
	wash-color: offWhite;
	opacity: 1;
}

.not_enough_mana .button_container
{
	wash-color: rgb(36, 75, 100);
	border: 0px;
}

.ability_upgradable .button_container
{
	border: 0px solid transparent;
}

.ability_key_container
{
	width: 24px;
	height: 18px;
	padding-top: 0px;
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: bold;
	horizontal-align: left;
	text-overflow: shrink;
	color: offBlack;
	background-size: cover;
	text-align: center;
	border-radius: 2px;
	wash-color: #dedede;
	z-index: -1;
	text-transform: uppercase;
	horizontal-align: middle;
	vertical-align: bottom;
}

.not_trained .ability_key_container
{
	opacity: 0.1;
}

.ability_upgradable .ability_key_container
{
	opacity: 1;
}

.ability_not_ready .ability_key_container
{
	opacity: 0.2;
}

.active .ability_key_container,.channeling .ability_key_container
{
	wash-color: #dab0ffc2;
	opacity: 1;
}

.ability_key
{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	horizontal-align: left;
	text-overflow: shrink;
	color: offBlack&ee;
	text-align: center;
	text-transform: uppercase;
	horizontal-align: middle;
	vertical-align: bottom;
}

.not_trained .ability_key
{
	color: offBlack;
}

.ability_upgradable .ability_key
{
	opacity: 1;
}

Label.ability_key
{
	font-weight: bold;
}

.action_button .ability_key
{
	line-height: 18px;
}

.action_button .ability_key
{
	font-size: 15px;
	width: 100%;
	height: 18px;
	vertical-align: bottom;
}

.item_passive .ability_key
{
	opacity: 0;
}

.learning_ability .ability_key,.ability_upgradable .ability_key
{
	opacity: 1;
	color: white;
}

.connectedToNewPlayerSandbox.heroTestingDisableUpgrades #abilities
{
	visibility: collapse;
}

#abilities
{
	width: fit-children;
	height: 250px;
	vertical-align: top;
	flow-children: right;
	ui-scale: 90%;
}

.gShopOpen #abilities
{
	height: 150px;
}

.gShopOpen #abilities:hover,.wants_scoreboard #abilities,.gDetailView #abilities
{
	height: 240px;
}

.ability_name
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 12px;
	color: darkgrey;
	width: 90%;
	text-transform: uppercase;
}

.action_button .ability_name
{
	opacity: 0;
}

.active.trained .ability_name
{
	color: white;
}

.has_ability_image .ability_name
{
	visibility: collapse;
}

.unlockProgress
{
	color: white;
	opacity: 0.1;
	vertical-align: middle;
	horizontal-align: center;
	font-size: 18px;
	font-weight: semi-bold;
	text-overflow: shrink;
	visibility: collapse;
}

.trained .unlockProgress,.learning_ability .unlockProgress,.ability_upgradable .unlockProgress
{
	visibility: collapse;
}

.ability_image
{
	height: 47%;
	margin-top: 3px;
	width: height-percentage( 100% );
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
	opacity: 0.95;
	wash-color: offBlack;
}

.not_trained .ability_image
{
	height: 53%;
	margin-top: 0px;
	width: height-percentage( 100% );
	wash-color: #ffffff;
	opacity: 0.05;
	transition-property: wash-color, opacity, pre-transform-scale2d;
	transition-duration: 0.35s;
}

.ability_upgradable .ability_image
{
	height: 53%;
	margin-top: 0px;
	width: height-percentage( 100% );
	wash-color: #ffffff;
	opacity: 1;
	transition-property: wash-color, opacity, pre-transform-scale2d;
	transition-duration: 0.35s;
}

@keyframes 'FlashAbilityIcon'
{
	0%
	{
		opacity: 0.6;
		pre-transform-scale2d: 1;
		wash-color: offBlack;
	}
	
	50%
	{
		opacity: 1;
		pre-transform-scale2d: 1.1;
		wash-color: offBlack;
	}
	
	100%
	{
		opacity: 0.6;
		pre-transform-scale2d: 1;
		wash-color: offBlack;
	}
	
}

@keyframes 'FlashAbilityBG'
{
	0%
	{
		opacity: 0.3;
		wash-color: #9d87ff;
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		opacity: 1.0;
		wash-color: #9d87ff;
		pre-transform-scale2d: 1.1;
	}
	
	100%
	{
		opacity: 0.3;
		wash-color: #9d87ff;
		pre-transform-scale2d: 1;
	}
	
}

.ability_upgradable .image_container
{
	saturation: 1;
	wash-color: #9d87ff;
	opacity: 1;
	animation-name: FlashAbilityIcon;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

.ability_upgradable .ability_bg
{
	saturation: 1;
	wash-color: #7662cf;
	opacity: 1;
	animation-name: FlashAbilityBG;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

.ability_upgradable .ability_ring
{
	saturation: 1;
	wash-color: #9d87ff;
	opacity: 1;
	animation-name: FlashAbilityBG;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

.learning_ability .ability_image
{
	pre-transform-scale2d: 1.5;
	wash-color: #ffffff;
}

.ability_image
{
	height: 50%;
	margin-top: 0px;
	width: height-percentage( 100% );
}

.cooling_down .ability_image
{
	wash-color: offBlack;
}

.ability_not_ready .ability_image
{
	wash-color: offBlack&30;
}

.has_ability_image .ability_image
{
	visibility: visible;
}

.bonusCounter
{
	font-size: 18px;
	font-weight: bold;
	horizontal-align: center;
	text-align: center;
	vertical-align: bottom;
	color: black;
	text-shadow: 0px 0px 0px 5.0 rgba(200, 200, 200, 0.95);
	opacity: 0;
	text-overflow: shrink;
	margin-bottom: 25px;
}

.active .bonusCounter
{
	text-shadow: 0px 0px 0px 5.0 #dab0ffc2;
}

.hasBonusCounter .bonusCounter
{
	opacity: 1;
	z-index: 1;
}

.ability_not_ready.hasBonusCounter .bonusCounter
{
	opacity: 0.3;
	color: rgba(200, 200, 200, 0.95);
	text-shadow: 0px 0px 0px 5.0 offBlack;
}

@keyframes 'FlashBonusCounter'
{
	0%
	{
		text-shadow: 0px 0px 0px 5.0 rgba(200, 200, 200, 0.95);
		transform: translateY(0px);
	}
	
	50%
	{
		text-shadow: 0px 0px 0px 5.0 yellow;
		transform: translateY(-10px);
	}
	
	100%
	{
		text-shadow: 0px 0px 0px 5.0 rgba(200, 200, 200, 0.95);
		transform: translateY(0px);
	}
	
}

.bonusCounterIncreased .bonusCounter
{
	animation-name: FlashBonusCounter;
	animation-duration: 0.8s;
}

.unifiedChargeCounter
{
	font-size: 18px;
	font-weight: bold;
	horizontal-align: right;
	text-align: center;
	vertical-align: top;
	color: black;
	background-color: rgba(200, 200, 200, 0.95);
	opacity: 0;
}

.cooldown_refills_all_charges.trained .unifiedChargeCounter
{
	opacity: 1;
	z-index: 1;
}

@keyframes 'FlashUnifiedRechargeCounter'
{
	0%
	{
		background-color: rgba(200, 200, 200, 0.95);
	}
	
	50%
	{
		background-color: yellow;
	}
	
	100%
	{
		background-color: rgba(200, 200, 200, 0.95);
	}
	
}

.unifiedChargeCounterIncreased .unifiedChargeCounter
{
	animation-name: FlashUnifiedRechargeCounter;
	animation-duration: 0.8s;
}

.tier
{
	horizontal-align: left;
	margin-right: 5px;
	vertical-align: bottom;
	font-size: 16px;
	line-height: 20px;
	color: gold;
	visibility: collapse;
}

.cooling_down #cooldown_mask,.ability_not_ready #cooldown_mask
{
	width: 100%;
	height: 100%;
	background-color: offBlack&ee;
	opacity: 0.90;
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_standard.vsvg");
}

.Tier0.cooling_down #cooldown_mask,.Tier0.ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_0.vsvg");
}

.Tier1.cooling_down #cooldown_mask,.Tier1.ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_1.vsvg");
}

.Tier2.cooling_down #cooldown_mask,.Tier2.ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_2.vsvg");
}

.Tier3.cooling_down #cooldown_mask,.Tier3.ability_not_ready #cooldown_mask
{
	opacity-mask: url("s2r://panorama/images/hud/core/ability_frame_3.vsvg");
}

.cooling_down .ability_image
{
	opacity: 0.6;
}

.active .ability_image,.channeling .ability_image
{
	opacity: 1;
	wash-color: offBlack;
}

#cooldown_mask
{
	transform: scaleX(-1);
}

.cooling_down .ability_name,.ability_not_ready .ability_name
{
	color: lightgrey;
	opacity: 0.3;
}

.active.cooling_down #cooldown_mask,.active.ability_not_ready #cooldown_mask,.channeling.cooling_down #cooldown_mask,.channeling.ability_not_ready #cooldown_mask
{
	visibility: collapse;
	opacity: 0;
}

.cooldown_timer
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 30px;
	color: offWhite;
	visibility: collapse;
	text-overflow: shrink;
	font-weight: semi-bold;
	font-family: sansMono;
	text-shadow: 0px 0px 5px 2.0 #000000;
}

.cooling_down .cooldown_timer
{
	visibility: visible;
}

.active.cooling_down .cooldown_timer,.channeling.cooling_down .cooldown_timer
{
	visibility: collapse;
}

.action_button .cooldown_timer
{
	font-size: 35px;
}

#active_toggle
{
	width: 100%;
	height: 100%;
	opacity: 0;
	border: 2px solid yellow;
	box-shadow: inset rgba(255,255,0, 0.2) 0px 0px 12px 0px;
	pre-transform-scale2d: 1.3;
}

.toggled_on #active_toggle
{
	opacity: 1;
}

.stack_charges
{
	width: 60%;
	height: 10px;
	border: 1px solid #000;
	border-radius: 15px;
	margin-bottom: 115px;
	visibility: collapse;
	vertical-align: bottom;
	horizontal-align: middle;
	ignore-parent-flow: true;
	transition-property: margin, transform;
	transition-duration: 0.3s;
}

.has_stack_charges .stack_charges
{
	visibility: visible;
	height: 10px;
}

.Tier2 .stack_charges,.Tier3 .stack_charges
{
	transform: translateY(-5px);
}

.has_stack_charges .stack_charges.stack_cooldown_complete
{
	opacity: 0;
}

.has_stack_charges
{
	margin-top: 0px;
}

.cooldown_refills_all_charges .stack_divider_container
{
	visibility: collapse;
}

.items .stack_charges
{
	width: 100%;
}

.stack_charges .ProgressBarLeft
{
	background-color: #f5f5f5;
}

.stack_charges .ProgressBarMiddle
{
	background-color: #8b7ca7;
}

.stack_charges .ProgressBarRight
{
	background-color: #00000088;
}

.stack_divider_container
{
	width: 100%;
	height: 100%;
	z-index: 1;
}

.stack_divider
{
	width: 1px;
	height: 100%;
	background-color: black;
}

.ability_key,.ability_level,.ability_icon
{
	z-index: 1;
}

#expanded_info
{
	width: 100%;
	visibility: collapse;
}

.gDetailView .items #expanded_info
{
	visibility: collapse;
}

.expanded_name
{
	margin-top: 2px;
	horizontal-align: center;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	color: white;
}

#slot_item_1
{
	margin-right: 8px;
}

#slot_item_3
{
	margin-right: 8px;
}

CitadelHudAbilities CitadelHudAbilityUpgradePips
{
	ignore-parent-flow: true;
	visibility: collapse;
	ui-scale: 60%;
}

.wants_scoreboard CitadelHudAbilities CitadelHudAbilityUpgradePips,.gDetailView CitadelHudAbilities CitadelHudAbilityUpgradePips
{
	visibility: visible;
}

