/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define TimeForOutOfCombat: 5.0;
.objective
{
	width: 100%;
	height: 75px;
	margin-top: 0px;
	visibility: collapse;
}

.objective.is_transforming
{
	opacity: 0.3;
	animation-name: transforming_rumble;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-duration: 0.06s;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.objective.is_titan
{
	opacity: 1;
}

.objective.is_titan.on_damaged
{
	opacity: 1;
}

@keyframes 'transforming_rumble'
{
	0%
	{
		transform: translateY(2px);
	}
	
	50%
	{
		transform: translateY(0px);
	}
	
	100%
	{
		transform: translateY(-2px);
	}
	
}

.is_tier1.objective
{
	width: 100px;
	horizontal-align: center;
	margin: 0px 3px 0px 3px;
}

.is_tier2.objective
{
	width: 400px;
	margin-top: 40px;
	horizontal-align: center;
}

.gamemode_streetbrawl .is_tier2.objective
{
	width: 100px;
	margin-top: 0px;
}

.is_titan.objective
{
	max-width: 700px;
	width: fill-parent-flow(1.0);
	margin-top: 20px;
	height: 100px;
}

.out_of_combat.is_titan.objective
{
	opacity: 0.4;
}

.friend .objective.is_active
{
	animation-name: health_appear_patron;
	animation-iteration-count: 1;
	animation-duration: 1s;
}

@keyframes 'health_appear_patron'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.1;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

.friend .objective.is_shield_generator.is_active
{
	animation-iteration-count: 1;
	animation-duration: 1s;
}

@keyframes 'health_appear_shieldgens'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
	50%
	{
		pre-transform-scale2d: 1.05;
		transform: translateY(0px);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
}

#unit_data
{
	width: 100%;
	height: 100%;
	flow-children: down;
	z-index: 10;
}

.ObjectiveInvulnerable #unit_data
{
	opacity: 0.5;
}

.is_titan #unit_data
{
	width: 90%;
	horizontal-align: center;
}

.objective.is_active
{
	visibility: visible;
}

.objective.is_active.is_tier1
{
	visibility: collapse;
}

.gamemode_streetbrawl .objective.is_active.is_tier1
{
	visibility: visible;
}

.is_titan.out_of_combat.objective.is_active
{
	visibility: collapse;
}

.is_titan.out_of_combat.objective.is_active.on_damaged
{
	opacity: 1;
	visibility: visible;
}

#name
{
	vertical-align: center;
	text-shadow: 0px 0px 10px 1 black;
	font-family: oracle;
	text-transform: uppercase;
	vertical-align: bottom;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 22px;
	horizontal-align: middle;
	text-align: center;
	max-height: 32px;
	margin-right: 5px;
	text-overflow: shrink;
	font-family: oracle;
}

.group_container #name,.is_tier1 #name
{
	font-size: 18px;
}

.is_tier1 #name,.is_tier2 #name
{
	visibility: collapse;
}

.is_titan #name
{
	visibility: collapse;
}

#patron_logo
{
	visibility: collapse;
}

.is_titan #patron_logo
{
	visibility: visible;
}

.localPlayerTeam2 #team_enemy_container #patron_logo,.localPlayerTeam1 #team_friendly_container #patron_logo,.TeamSpectator #team_friendly_container #patron_logo
{
	background-image: url("s2r://panorama/images/hud/objectives/team1_patron_logo_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 270px;
	wash-color: offWhite;
}

.localPlayerTeam1 #team_enemy_container #patron_logo,.localPlayerTeam2 #team_friendly_container #patron_logo,.TeamSpectator #team_enemy_container #patron_logo
{
	background-image: url("s2r://panorama/images/hud/objectives/team2_patron_logo_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 270px;
	wash-color: offWhite;
}

#top
{
	horizontal-align: center;
}

#bottom
{
	flow-children: down;
	height: 100%;
	width: 100%;
}

.is_transforming #bottom,.ObjectiveInvulnerable #bottom
{
	opacity: 0.3;
	saturation: 0;
	brightness: 0.5;
}

.backdoor_protected #shield_image
{
	visibility: visible;
}

#BackdoorProtection
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
	visibility: collapse;
}

.is_tier1 #BackdoorProtection,.is_neutral #BackdoorProtection
{
	visibility: collapse;
}

.gamemode_streetbrawl #BackdoorProtection
{
	visibility: collapse;
}

#BackdoorProtection Label
{
	font-family: block;
	text-transform: uppercase;
	font-size: 14px;
	color: offWhite;
	vertical-align: middle;
	text-shadow: 0px 0px 3.0 offBlack&50;
	margin-left: 5px;
	margin-top: 1px;
	opacity: 0.2;
}

#BackdoorProtection #shield_image
{
	width: 16px;
	height: 16px;
	background-size: contain;
	background-image: url("s2r://panorama/images/upgrades/mods_armor/revitalizer_psd.vtex");
	wash-color:rgb(27, 236, 132);
	vertical-align: middle;
	img-shadow: 0px 0px 2px 3.0 #000000;
}

.is_tier1 #BackdoorProtection #shield_image
{
	visibility: collapse;
}

.backdoor_protected #BackdoorProtection
{
	visibility: visible;
}

#OutOfRange
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
	visibility: collapse;
}

#OutOfRange Label
{
	font-family: block;
	text-transform: uppercase;
	font-size: 14px;
	color: offWhite;
	vertical-align: middle;
	text-shadow: 0px 0px 3.0 offBlack&50;
	margin-left: 5px;
	margin-top: 1px;
	opacity: 0.2;
}

.cant_damage #OutOfRange
{
	visibility: visible;
}

.fakeHealthbar
{
	background-color: offBlack;
	margin: 0px 0px 5px 0px;
	border-radius: 3px;
	opacity-mask: url("s2r://panorama/images/hud/objectives/healthbar_mask_png.vtex");
	width: fill-parent-flow(1.0);
	background-color: rgb(109, 23, 23);
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_darker_psd.vtex");
	background-size: cover;
	background-position: center top;
	wash-color: colorEnemy;
	height: 50px;
	visibility: collapse;
	opacity: 0.1;
}

#team_friendly_container .fakeHealthbar
{
	wash-color: offWhite;
}

.TeamSpectator #team_friendly_container .fakeHealthbar
{
	wash-color: team1Color;
}

.TeamSpectator #team_enemy_container .fakeHealthbar
{
	wash-color: team2Color;
}

.fakeHealthbar.patron_fake_2
{
	wash-color: offBlack;
}

.is_titan .patron_fake_1
{
	visibility: visible;
	opacity: 0.5;
}

.is_titan.is_weakened .patron_fake_2
{
	visibility: visible;
}

.is_titan.is_weakened .patron_fake_1
{
	visibility: collapse;
}

#healthbar_background
{
	width: 100%;
	height: 100%;
	background-color: black;
	margin: 0px 5px 5px 5px;
	border-radius: 3px;
	width: fill-parent-flow(1.0);
}

#healthbar_progress
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/hud/objectives/healthbar_mask_png.vtex");
}

#healthbar_progress .ProgressBarLeft
{
	visibility: visible;
	wash-color: colorEnemy;
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_darker_psd.vtex");
	background-size: cover;
	height: 100%;
}

#healthbar_progress .ProgressBarMiddle
{
	opacity: 0;
}

.on_damaged #healthbar_progress .ProgressBarMiddle
{
	background-color: rgb(255, 166, 166);
	opacity: 1;
	transition-property: background-color, opacity;
	transition-duration: 0.5s;
}

.team1 #healthbar_progress .ProgressBarLeft
{
	wash-color: team1Color;
}

.team2 #healthbar_progress .ProgressBarLeft
{
	wash-color: team2Color;
}

.friend #healthbar_progress .ProgressBarLeft
{
	wash-color: offWhite;
}

.neutral #healthbar_progress .ProgressBarLeft
{
	wash-color: shardColor;
}

.friend .on_damaged #healthbar_progress .ProgressBarMiddle
{
	background-color: rgb(165, 34, 34);
	opacity: 1;
	transition-property: background-color, opacity;
	transition-duration: 0.5s;
}

.neutral #healthbar_progress .ProgressBarLeft
{
	background-color: rgb(0, 76, 216);
	background-color: shardColor;
}

.neutral.on_damaged #healthbar_progress .ProgressBarMiddle
{
	background-color: rgb(176, 59, 59);
	opacity: 1;
	transition-property: background-color, opacity;
	transition-duration: 0.5s;
}

.is_dead #healthbar_background
{
	opacity: 0.5;
}

.is_weakened #healthbar_background
{
	opacity: 1;
}

.entityImage
{
	width: 100px;
	height: 50px;
}

.is_titan .entityImage,.is_shield_generator .entityImage,.is_mid .entityImage
{
	visibility: collapse;
}

#deadlabel
{
	visibility: collapse;
	horizontal-align: center;
	width: 100%;
	height: 80%;
	font-family: oracle;
	font-weight: semi-bold;
	font-size: 26px;
	vertical-align: bottom;
	opacity: 0;
	background-color: rgb(186, 29, 29);
	z-index: 100;
}

.is_tier1 #deadlabel,.is_shield_generator #deadlabel
{
	height: 70%;
}

@keyframes 'is_dead_pulse'
{
	0%
	{
		opacity: 0;
	}
	
	16%
	{
		opacity: 1;
	}
	
	33%
	{
		opacity: 0;
	}
	
	50%
	{
		opacity: 1;
	}
	
	66%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.is_dead #deadlabel
{
	animation-name: is_dead_pulse;
	animation-duration: 1s;
	animation-iteration-count: 1;
	visibility: visible;
}

@keyframes 'is_dead_pulse'
{
	0%
	{
		opacity: 0;
	}
	
	16%
	{
		opacity: 1;
	}
	
	33%
	{
		opacity: 0;
	}
	
	50%
	{
		opacity: 1;
	}
	
	66%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

#deadlabel Label
{
	vertical-align: middle;
	font-size: 30px;
	font-weight: semi-bold;
	text-align: center;
	color: offWhite;
	horizontal-align: center;
	font-family: oracle;
	max-height: 40px;
	text-overflow: shrink;
}

.is_dead #unit_data
{
	visibility: visible;
}

@keyframes 'is_dead_fade'
{
	90%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

#transformingLabel
{
	visibility: collapse;
	horizontal-align: center;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 100;
}

#transformingLabel Label
{
	vertical-align: middle;
	font-size: 20px;
	margin-top: 5px;
	font-weight: semi-bold;
	text-transform: uppercase;
	font-family: oracle;
	text-align: center;
	color: white;
	horizontal-align: center;
}

.friend .is_transforming #transformingLabel
{
	animation-duration: 7.0s;
	animation-iteration-count: infinite;
	visibility: visible;
}

.is_transforming #transformingLabel
{
	animation-duration: 7.0s;
	animation-iteration-count: infinite;
	visibility: visible;
}

@keyframes 'is_transforming_pulse_friend'
{
	0%
	{
		background-color: colorEnemy;
	}
	
	50%
	{
		background-color: offBlack;
	}
	
	100%
	{
		background-color: colorEnemy;
	}
	
}

@keyframes 'is_transforming_pulse'
{
	0%
	{
		background-color: gray;
	}
	
	50%
	{
		background-color: offBlack;
	}
	
	100%
	{
		background-color: gray;
	}
	
}

.objective.is_dead
{
	animation-name: is_dead_fade;
	animation-duration: 2.0s;
	animation-iteration-count: 1;
}

.HealthBars
{
	flow-children: right;
	horizontal-align: middle;
	height: 100%;
	width: 98%;
	height: 16px;
}

#bulletshield_background
{
	width: 100px;
	height: 100%;
	background-color: black;
	margin: 0px 0px 5px 5px;
	border-radius: 3px;
	visibility: collapse;
}

.HasBulletShield #bulletshield_background
{
	visibility: visible;
}

.is_dead #bulletshield_background
{
	visibility: collapse;
}

#bulletshield_progress
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/hud/objectives/healthbar_mask_png.vtex");
}

#bulletshield_progress .ProgressBarLeft
{
	visibility: visible;
	wash-color: orange;
	background-color: rgb(109, 23, 23);
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_darker_psd.vtex");
	background-size: cover;
}

#bulletshield_progress .ProgressBarMiddle
{
	opacity: 0;
}

.is_shield_generator,.is_barracks_boss
{
	width: 50%;
}

.is_shield_generator.is_dead
{
	opacity: 0.5;
	wash-color: gray;
}

#out_of_range
{
	ignore-parent-flow: true;
	horizontal-align: middle;
	vertical-align: middle;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: semi-bold;
	z-index: 100;
	opacity: 0.7;
	margin-top: -2px;
	color: offBlack;
	visibility: collapse;
}

.is_mid.cant_damage #out_of_range
{
	visibility: visible;
}

#boss_background
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	vertical-align: bottom;
	opacity: 0.5;
}

.is_tier1 #boss_background,.is_tier2 #boss_background,.is_shield_generator #boss_background
{
	height: 70%;
	visibility: collapse;
}

.is_tier2 #boss_background
{
	visibility: collapse;
}

#team_1_container .is_shield_generator #boss_background,#team_1_container .is_titan #boss_background,.spec_mode #team_1_container .yellowLane #boss_background,.spec_mode #team_1_container .greenLane #boss_background,.spec_mode #team_1_container .blueLane #boss_background,.spec_mode #team_1_container .purpleLane #boss_background
{
	background-color: team1Color&80;
}

.gamemode_streetbrawl.localPlayerTeam1 #team_1_container #boss_background,.gamemode_streetbrawl.localPlayerTeam2 #team_2_container #boss_background
{
	background-color: team1Color&80;
	background-color: offWhite&40;
}

.gamemode_streetbrawl.localPlayerTeam1 #team_2_container #boss_background,.gamemode_streetbrawl.localPlayerTeam2 #team_1_container #boss_background
{
	background-color: team1Color&80;
	background-color: colorEnemy&40;
}

.is_titan #boss_background
{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: none;
	opacity: 1;
	margin-bottom: 5px;
}

.localPlayerTeam2 #team_enemy_container .is_titan #boss_background,.localPlayerTeam1 #team_friendly_container .is_titan #boss_background,.TeamSpectator #team_friendly_container .is_titan #boss_background
{
	background-image: url("s2r://panorama/images/hud/objectives/team1_patron_backer_png.vtex");
}

.cant_damage
{
	opacity: 0.2;
}

.ObjectiveInvulnerable #boss_background
{
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

@keyframes 'laneYellow_is_being_attacked'
{
	0%
	{
		background-color: rgba(192, 192, 65, 0.8);
	}
	
	50%
	{
		background-color: colorEnemy ;
	}
	
	100%
	{
		background-color: rgba(192, 192, 65, 0.8);
	}
	
}

@keyframes 'laneOrange_is_being_attacked'
{
	0%
	{
		background-color: rgba(221, 120, 37, 0.8);
	}
	
	50%
	{
		background-color: colorEnemy ;
	}
	
	100%
	{
		background-color: rgba(221, 120, 37, 0.8);
	}
	
}

@keyframes 'laneBlue_is_being_attacked'
{
	0%
	{
		background-color: rgba(65, 122, 192, 0.8);
	}
	
	50%
	{
		background-color: colorEnemy ;
	}
	
	100%
	{
		background-color: rgba(65, 122, 192, 0.8);
	}
	
}

@keyframes 'lanePurple_is_being_attacked'
{
	0%
	{
		background-color: rgba(105, 65, 192, 0.8);
	}
	
	50%
	{
		background-color: colorEnemy ;
	}
	
	100%
	{
		background-color: rgba(105, 65, 192, 0.8);
	}
	
}

@keyframes 'laneGreen_is_being_attacked'
{
	0%
	{
		background-color: laneGreenColor&80;
	}
	
	50%
	{
		background-color: colorEnemy ;
	}
	
	100%
	{
		background-color: laneGreenColor&80;
	}
	
}

@keyframes 'team1_is_being_attacked'
{
	0%
	{
		background-color: team1Color&80;
	}
	
	50%
	{
		background-color: colorEnemy;
	}
	
	100%
	{
		background-color: team1Color&80;
	}
	
}

@keyframes 'team2_is_being_attacked'
{
	0%
	{
		background-color: team2Color&80;
	}
	
	50%
	{
		background-color: colorEnemy;
	}
	
	100%
	{
		background-color: team2Color&80;
	}
	
}

@keyframes 'overtimeFlash'
{
	0%
	{
		background-color: #ff5e5e;
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		background-color: #00000030;
		pre-transform-scale2d: 0.98;
	}
	
	100%
	{
		background-color: #ff5e5e;
		pre-transform-scale2d: 1;
	}
	
}

#player_teams_container #team_1_container.friend .on_damaged #boss_background
{
	animation-name: team1_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#player_teams_container #team_2_container.friend .on_damaged #boss_background
{
	animation-name: team2_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#player_teams_container #team_1_container.friend .yellowLane.on_damaged #boss_background,#player_teams_container #team_2_container.friend .yellowLane.on_damaged #boss_background
{
	animation-name: laneYellow_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#player_teams_container #team_1_container.friend .greenLane.on_damaged #boss_background,#player_teams_container #team_2_container.friend .greenLane.on_damaged #boss_background
{
	animation-name: laneOrange_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#player_teams_container #team_1_container.friend .blueLane.on_damaged #boss_background,#player_teams_container #team_2_container.friend .blueLane.on_damaged #boss_background
{
	animation-name: laneBlue_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#player_teams_container #team_1_container.friend .purpleLane.on_damaged #boss_background,#player_teams_container #team_2_container.friend .purpleLane.on_damaged #boss_background
{
	animation-name: lanePurple_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#player_teams_container #team_1_container.friend .greenLane.on_damaged #boss_background,#player_teams_container #team_2_container.friend .greenLane.on_damaged #boss_background
{
	animation-name: laneGreen_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#PausedOverlay
{
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
	z-index: 100;
	font-family: block;
	visibility: collapse;
}

.DefenderInPit #PausedOverlay
{
	visibility: visible;
}

#PausedOverlay .pauseTitle
{
	font-weight: bold;
	horizontal-align: center;
	font-family: block;
	text-transform: uppercase;
	font-size: 22px;
	margin-top: 6px;
	text-shadow: 0px 0px 5.0 offBlack;
	color: #c86d6d;
	visibility: collapse;
}

.ObjectiveInvulnerable #PausedOverlay .pauseTitle
{
	visibility: visible;
}

#PausedOverlay .pauseDesc
{
	font-weight: bold;
	horizontal-align: center;
	font-weight: semi-bold;
	font-style: italic;
	color: silvered;
	text-shadow: 0px 0px 3.0 offBlack;
	color: #ffffffaa;
	font-size: 16px;
	opacity: 0.6;
	visibility: collapse;
	vertical-align: bottom;
	margin-bottom: 3px;
	margin-left: 10px;
}

.ObjectiveInvulnerable #PausedOverlay .pauseDesc
{
	visibility: visible;
}

#PausedOverlay .resistantDesc
{
	font-weight: bold;
	horizontal-align: center;
	font-weight: semi-bold;
	font-style: italic;
	color: silvered;
	text-shadow: 0px 0px 3.0 offBlack;
	color: #ffffffaa;
	font-size: 16px;
	opacity: 0.6;
	vertical-align: bottom;
	margin-bottom: 5px;
}

.DefenderInPit #PausedOverlay .resistantDesc
{
	visibility: visible;
}

.ObjectiveInvulnerable #PausedOverlay .resistantDesc
{
	visibility: collapse;
}

.gScoreboardOpen .objective
{
	visibility: collapse;
}

