/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define healthbarHeight: 75px;
@keyframes 'midhealth_pulse'
{
	0%
	{
		background-color: #FCFF6D00;
	}
	
	50%
	{
		background-color: #FCFF6D00;
	}
	
	100%
	{
		background-color: #FCFF6D00;
	}
	
}

@keyframes 'health_pulse'
{
	0%
	{
		background-color: #FF410D00;
	}
	
	50%
	{
		background-color: #FF410D00;
	}
	
	100%
	{
		background-color: #FF410D00;
	}
	
}

@keyframes 'health_pulse_text'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.08;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'health_pulse_text2'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.03;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'vibrate3'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	30%
	{
		pre-transform-scale2d: 1.03;
	}
	
	45%
	{
		pre-transform-scale2d: 1.05;
	}
	
	50%
	{
		pre-transform-scale2d: 1.03;
	}
	
	90%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'vibrate'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	30%
	{
		pre-transform-scale2d: 1.1;
	}
	
	45%
	{
		pre-transform-scale2d: 1.05;
	}
	
	50%
	{
		pre-transform-scale2d: 1.1;
	}
	
	90%
	{
		pre-transform-scale2d: 1;
	}
	
}

#health_bar
{
	background-color: #333333ea;
	width: 100%;
	height: 100%;
	margin: 4px 0px 1px 1px;
	opacity-mask: url("s2r://panorama/images/hud/healthbar/healthbar_backer_mask.vsvg");
}

.healthLow #health_bar
{
	transition-property: background-color, transform;
	transition-duration: 0.4s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.healthMid #health_bar
{
	transition-property: background-color, transform;
	transition-duration: 0.4s;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

.healthLow .progress_bar_current
{
	color: #FFE3DB;
	text-shadow: 0px 0px 5px colorEnemy;
	transition-property: color, text-shadow;
	transition-duration: 0.4s;
}

.progress_bar_numbers
{
	height: 100%;
	flow-children: right;
	vertical-align: center;
	visibility: visible;
	horizontal-align: right;
	transform: translateY(-2px);
	visibility: collapse;
}

.healthLow #current_health
{
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.bar_num_col_left
{
	horizontal-align: left;
	vertical-align: center;
	flow-children: right;
}

.bar_num_col_right
{
	horizontal-align: right;
	vertical-align: center;
	flow-children: right;
}

.progress_bar_max
{
	font-size: 16px;
	vertical-align: center;
	font-weight: bold;
	horizontal-align: right;
	text-align: right;
	padding-right: 5px;
	color: rgba(255, 255, 255, 0.5);
}

.progress_bar_current
{
	font-size: 24px;
	font-weight: bold;
	padding-left: 6px;
	margin-top: 0px;
	color: colorFriendly;
	color: #ffffff;
	vertical-align: center;
	transition-property: color, text-shadow;
	transition-duration: 0.1s;
	text-shadow: 1px 1px 0px #0c0c0cee;
}

#current_health.healthLost
{
	color: white;
	text-shadow: 0px 0px 5px colorEnemy;
	transition-property: color, text-shadow;
	transition-duration: 0.4s;
}

#max_health
{
	color: #ddddddaa;
	font-size: 14px;
	font-weight: semi-bold;
	margin-left: 2px;
	margin-right: 8px;
	vertical-align: middle;
	margin-top: 3px;
}

.large_progress_bar
{
	width: 40px;
	height: healthbarHeight;
}

.health_bar_line
{
	overflow: noclip;
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: bottom;
	height: 350px;
	width: 75px;
}

.healthMid .health_bar_line
{
	transition-property: pre-transform-scale2d;
	animation-name: vibrate3;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
}

.healthLow .health_bar_line
{
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
	animation-name: vibrate;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

.health_bar_border
{
	margin: 10px;
	vertical-align: bottom;
}

#pending_healing
{
	width: 65px;
	height: 100%;
	margin: 4px 0px 1px 1px;
}

#pending_healing .ProgressBarMiddle
{
	background-color: rgb(119, 219, 119);
}

#pending_healing .ProgressBarLeft,#pending_healing .ProgressBarRight
{
	opacity: 0;
}

#pending_incoming_damage
{
	width: 65px;
	height: 100%;
	margin: 4px 0px 1px 1px;
}

#pending_incoming_damage .ProgressBarMiddle
{
	background-color: rgb(232, 127, 61);
}

#pending_incoming_damage .ProgressBarLeft,#pending_incoming_damage .ProgressBarRight
{
	opacity: 0;
}

#health_bar .ProgressBarLeft
{
	background-color: colorLocalHealthbar;
	background-color: #00FF99;
	background-color: #FFEFD7;
	background-size: cover;
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_png.vtex");
}

.team1 #health_bar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_team1_png.vtex");
}

.team2 #health_bar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_team2_png.vtex");
}

.team1.friend #health_bar .ProgressBarLeft,.team2.friend #health_bar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_png.vtex");
}

.healthMid #health_bar .ProgressBarLeft
{
	background-color: colorLocalHealthbar;
}

#health_bar .ProgressBarMiddle
{
	background-color: rgba(0, 0, 0, 0);
}

#health_bar .ProgressBarRight
{
	background-color: rgba(0, 0, 0, 0);
}

#health_bar.healthLost .ProgressBarMiddle
{
	background-color: #cc340a;
	transition-duration: 1s;
	transition-property: background-color;
}

.SpectatingTeamWest #health_bar.healthLost .ProgressBarMiddle
{
	background-color: #f6805f;
}

#healthBottomEdge
{
	width: 100%;
	height: 4px;
	background-color: rgba(192, 192, 192, 0.3);
	background-color: #00D37F;
	vertical-align: middle;
	z-index: 10;
	visibility: collapse;
}

#healthBottomEdge .tick
{
	width: 2px;
	background-color: rgba(0, 0, 0, 0.521);
	height: 4px;
}

.healthMid #healthBottomEdge
{
	background-color: #fff41d87;
	background-color: #fff41d00;
}

.healthLow #healthBottomEdge
{
	background-color: #FF410D50;
	background-color: #FF410D00;
}

#health_bar_frame
{
	wash-color: #142304;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_frame_with_regen.vsvg");
}

.healthLow #health_bar_frame
{
	wash-color: #FF410D;
	wash-color: #FF5656;
	wash-color: #cc340a;
}

.SpectatingTeamWest .healthLow #health_bar_frame
{
	wash-color: #580000;
}

