/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.SpectateTopBar
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000ee ), to( #00000000 ) );
	padding-bottom: 2px;
	font-size: 16px;
	color: #ffffffaa;
	border-top: 8px solid offBlack;
	height: 240px;
	width: 100%;
	vertical-align: top;
	flow-children: down;
}

#spectate_target
{
	margin-top: 12px;
	flow-children: down;
}

#camera_section
{
	flow-children: down;
}

#fow_view_section
{
	margin-bottom: 64px;
	flow-children: right;
	height: 24px;
	text-align: right;
}

.spectate_element
{
	width: 220px;
	horizontal-align: right;
}

.spectatingTitle
{
	font-size: 15px;
	font-weight: semi-bold;
	opacity: 0.2;
	font-family: block;
	text-transform: uppercase;
	max-width: 170px;
	text-overflow: shrink;
	max-height: 24px;
}

#fow_view_section .spectatingTitle
{
	horizontal-align: right;
	text-align: right;
	width: fill-parent-flow( 1.0 );
	vertical-align: center;
}

.spectateInfoIcon
{
	width: 22px;
	height: 22px;
	background-image: url("s2r://panorama/images/profile/info.vsvg");
	background-size: contain;
	opacity: 0.25;
	wash-color: offWhite;
	vertical-align: middle;
	horizontal-align: right;
	margin: 0px 12px 0px 4px;
	transition-property: opacity, pre-transform-scale2d, background-image;
	transition-duration: 0.2s;
}

.cameraName
{
	margin-top: -4px;
}

.specPlayerNav
{
	flow-children: right;
}

.spectatingUnit .SpectateTopBar
{
	background-color: #FFEFD730;
}

.spectatingUnit.spectatingTeam1 .SpectateTopBar
{
	background-color: team1Color&50;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( team1Color&30 ), to( team1Color&00 ) );
	border-color: team1Color;
}

.spectatingUnit.spectatingTeam2 .SpectateTopBar
{
	background-color: team2Color&50;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( team2Color&30 ), to( team2Color&00 ) );
	border-color: team2Color;
}

.dead.spectatingUnit .SpectateTopBar
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( colorEnemy&30 ), to( colorEnemy&00 ) );
	border-color: colorEnemy;
}

.SpectateBottomBar
{
	vertical-align: bottom;
	width: 100%;
	color: #ffffffaa;
}

.fowControlItem
{
	flow-children: right;
	margin-top: 5px;
	color: colorCommonOffWhiteA35;
}

.amberFOWSelected .amberFOWButton,.sapphireFOWSelected .sapphireFOWButton,.targetFOWSelected .targetFOWButton,.bothFOWSelected .bothFOWButton
{
	color: colorCommonOffWhite;
}

.spectateModeRoaming .targetFOWButton
{
	color: #FFEFD730;
}

.keyBind
{
	background-color: #ffffff30;
	color: offWhite;
	border-radius: 2px;
	padding: 0px 5px 1px 5px;
	margin-right: 5px;
	opacity: 1;
}

.spectatorOnlyControl
{
	visibility: collapse;
}

.spacer
{
	margin-right: 40px;
}

.TeamSpectator .spectatorOnlyControl
{
	visibility: visible;
}

.spectatingUnitControl,.TeamSpectator .spectatingUnitControl
{
	visibility: collapse;
}

.spectatingUnit .spectatingUnitControl
{
	visibility: visible;
}

.playerName
{
	visibility: collapse;
}

.spectatingUnit .playerName
{
	visibility: visible;
}

.flightControl,.TeamSpectator .flightControl
{
	visibility: collapse;
}

.spectateModeRoaming .flightControl
{
	visibility: visible;
}

.spectatingUnit .notSpectatingUnitControl,.TeamSpectator .spectatingUnit .notSpectatingUnitControl
{
	visibility: collapse;
}

#title_area
{
	flow-children: right;
}

.highlighted
{
	color: offWhite;
	font-weight: bold;
	font-size: 24px;
	opacity: 1;
}

.highlightedTeam
{
	font-size: 16px;
	font-weight: semi-bold;
	margin-left: 4px;
}

.spectatingTeam1 .highlightedTeam
{
	color: team1ColorBright&90;
}

.spectatingTeam2 .highlightedTeam
{
	color: team2ColorBright&90;
}

.mouseButtons
{
	background-image: url("s2r://panorama/images/hud/mouse_icon_two_buttons.vsvg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 20px;
	width: 17px;
	margin-right: 5px;
	margin-top: 3px;
	visibility: collapse;
	wash-color: #F3F0E7;
}

.defaultCycleButtons.spectatingUnit .mouseButtons
{
	visibility: visible;
}

.nextPrevBinds
{
	visibility: collapse;
}

.spectatingUnit .nextPrevBinds
{
	visibility: visible;
}

.spectatingUnit.defaultCycleButtons .nextPrevBinds
{
	visibility: collapse;
}

#cursor_mode
{
	horizontal-align: left;
	vertical-align: center;
	flow-children: right;
}

.spectateModeRoaming #cursor_mode
{
	visibility: collapse;
}

#swap_camera,#flight_control,#cursor_mode,#change_teams
{
	flow-children: right;
}

#flight_control
{
	flow-children: down;
}

#fly_up,#fly_down
{
	flow-children: right;
	horizontal-align: left;
}

.keybindTitle
{
	font-weight: semi-bold;
	font-size: 14px;
	vertical-align: center;
	height: 24px;
	line-height: 16px;
	color: offWhite&88;
	margin: 1px 0px;
}

.keyBind
{
	font-weight: semi-bold;
	font-size: 14px;
	color: offWhite&ee;
	text-align: center;
}

.isUsingController .keyBind
{
	height: 24px;
}

.InlineGlyph
{
	height: 20px;
	width: 20px;
	padding: 2px;
	vertical-align: center;
	background-texture-size: 40px 40px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.MouseButton1
{
	background-image: url("s2r://panorama/images/glyphs/mouse1.vsvg");
}

.MouseButton2
{
	background-image: url("s2r://panorama/images/glyphs/mouse2.vsvg");
}

.MouseButton3
{
	background-image: url("s2r://panorama/images/glyphs/mouse3.vsvg");
}

.MouseButton4
{
	background-image: url("s2r://panorama/images/glyphs/mouse4.vsvg");
}

.MouseButton5
{
	background-image: url("s2r://panorama/images/glyphs/mouse5.vsvg");
}

.KeyboardArrowUp
{
	background-image: url("s2r://panorama/images/glyphs/keyboard_arrow_up.vsvg");
}

.KeyboardArrowDown
{
	background-image: url("s2r://panorama/images/glyphs/keyboard_arrow_down.vsvg");
}

.KeyboardArrowLeft
{
	background-image: url("s2r://panorama/images/glyphs/keyboard_arrow_left.vsvg");
}

.KeyboardArrowRight
{
	background-image: url("s2r://panorama/images/glyphs/keyboard_arrow_right.vsvg");
}

.TeamSpectator .spectatingUnit #change_teams
{
	visibility: visible;
	flow-children: right;
}

#respawn_section
{
	visibility: collapse;
	flow-children: right;
	margin-left: 20px;
}

.respawnTimer
{
	font-size: 20px;
}

.marginLabel
{
	margin-left: 10px;
}

.viewing_as_player #flight_control
{
	visibility: collapse;
}

.spectateModeRoaming #change_teams
{
	visibility: collapse;
}

