/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.resource_container.blood
{
	width: 560px;
}

#ability_resource_progress
{
	width: 440px;
	height: 25px;
	horizontal-align: center;
	opacity: 0.7;
}

#ability_resource_progress .ProgressBarLeft
{
	background-color: red;
}

.mana #ability_resource_progress .ProgressBarLeft
{
	background-color: blue;
}

#ability_resource_progress .ProgressBarRight
{
	background-color: black;
}

@keyframes 'red_flash_bg'
{
	0%
	{
		border: 5px solid rgba(255, 0, 0, 1 );
	}
	
	10%
	{
		border: 5px solid rgba(255, 0, 0, 1 );
	}
	
	100%
	{
		border: 5px solid rgba(0, 0, 0, 1);
	}
	
}

.cast_failed #ability_resource_progress
{
	animation-name: red_flash_bg;
	animation-duration: 0.2s;
	animation-iteration-count: 4;
}

#resource_available
{
	horizontal-align: center;
}

