/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define healthbarHeight: 75px;
.bars_container
{
	margin-top: 20px;
	ignore-parent-flow: true;
	horizontal-align: right;
	overflow: noclip;
	flow-children: right;
	horizontal-align: right;
	padding: 15px 20px 20px 20px;
	transform: rotateZ(-20deg);
	padding: 15px 20px 20px 20px;
	width: 145px;
	max-height: 450px;
	padding: 0px;
	margin-right: 20px;
	width: 135px;
	height: 310px;
}

@keyframes 'midhealth_pulse'
{
	0%
	{
		background-color: #FCFF6D00;
	}
	
	50%
	{
		background-color: #FCFF6D00;
	}
	
	100%
	{
		background-color: #FCFF6D00;
	}
	
}

@keyframes 'health_pulse'
{
	0%
	{
		background-color: #FF410D00;
	}
	
	50%
	{
		background-color: #FF410D00;
	}
	
	100%
	{
		background-color: #FF410D00;
	}
	
}

@keyframes 'health_pulse_text'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.08;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'health_pulse_text2'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.03;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'vibrate3'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	30%
	{
		pre-transform-scale2d: 1.03;
	}
	
	45%
	{
		pre-transform-scale2d: 1.05;
	}
	
	50%
	{
		pre-transform-scale2d: 1.03;
	}
	
	90%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'vibrate'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	30%
	{
		pre-transform-scale2d: 1.1;
	}
	
	45%
	{
		pre-transform-scale2d: 1.05;
	}
	
	50%
	{
		pre-transform-scale2d: 1.1;
	}
	
	90%
	{
		pre-transform-scale2d: 1;
	}
	
}

#health_bar
{
	background-color: #333333ea;
	width: 66px;
	height: 212px;
	margin: 4px 0px 1px 1px;
	opacity-mask: url("s2r://panorama/images/hud/healthbar/healthbar_backer_mask.vsvg");
}

.healthLow #health_bar
{
	transition-property: background-color, transform;
	transition-duration: 0.4s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.healthMid #health_bar
{
	transition-property: background-color, transform;
	transition-duration: 0.4s;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

.healthLow .progress_bar_current
{
	color: #FFE3DB;
	text-shadow: 0px 0px 5px colorEnemy;
	transition-property: color, text-shadow;
	transition-duration: 0.4s;
}

.progress_bar_numbers
{
	height: 100%;
	flow-children: right;
	vertical-align: center;
	visibility: visible;
	horizontal-align: right;
	transform: translateY(-2px);
	visibility: collapse;
}

.healthLow #current_health
{
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.bar_num_col_left
{
	horizontal-align: left;
	vertical-align: center;
	flow-children: right;
}

.bar_num_col_right
{
	horizontal-align: right;
	vertical-align: center;
	flow-children: right;
}

.progress_bar_max
{
	font-size: 16px;
	vertical-align: center;
	font-weight: bold;
	horizontal-align: right;
	text-align: right;
	padding-right: 5px;
	color: rgba(255, 255, 255, 0.5);
}

.progress_bar_current
{
	font-size: 24px;
	font-weight: bold;
	padding-left: 6px;
	margin-top: 0px;
	color: colorFriendly;
	color: #ffffff;
	vertical-align: center;
	transition-property: color, text-shadow;
	transition-duration: 0.1s;
	text-shadow: 1px 1px 0px #0c0c0cee;
}

#current_health.healthLost
{
	color: white;
	text-shadow: 0px 0px 5px colorEnemy;
	transition-property: color, text-shadow;
	transition-duration: 0.4s;
}

#max_health
{
	color: #ddddddaa;
	font-size: 14px;
	font-weight: semi-bold;
	margin-left: 2px;
	margin-right: 8px;
	vertical-align: middle;
	margin-top: 3px;
}

.large_progress_bar
{
	width: 40px;
	height: healthbarHeight;
}

.small_progress_bar
{
	height: healthbarHeight;
	width: 10px;
	margin-top: 3px;
}

.health_bar_line
{
	overflow: noclip;
}

.healthMid .health_bar_line
{
	transition-property: pre-transform-scale2d;
	animation-name: vibrate3;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
}

.healthLow .health_bar_line
{
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
	animation-name: vibrate;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

.health_bar_border
{
	margin: 30px;
}

.regen_container
{
	flow-children: right;
	vertical-align: top;
	horizontal-align: left;
	padding: 30px 6px 2px 42px;
	margin-top: 3px;
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 1;
}

.health_regen_boosted.regen_container
{
	animation-name: regenBoost;
	animation-iteration-count: infinite;
	animation-duration: 0.2s;
}

.regen_image
{
	vertical-align: center;
	height: 8px;
	width: 7px;
	wash-color: offWhite;
	margin-right: 3px;
	opacity: 0.3;
	transition-property: wash-color;
	transition-duration: 0.2s;
}

.health_regen_boosted .regen_image
{
	wash-color: colorFriendly;
}

.health_regen_negative .regen_image
{
	wash-color: colorEnemy;
	transform: rotateY(180deg);
}

.regen_value
{
	line-height: 16px;
	font-size: 10px;
	color: offWhite;
	font-weight: semi-bold;
	transition-property: color;
	transition-duration: 0.2s;
}

.health_regen_boosted .regen_value
{
	color: colorFriendly;
}

@keyframes 'regenBoost'
{
	0%
	{
		wash-color: none;
	}
	
	50%
	{
		wash-color: green;
	}
	
	100%
	{
		wash-color: none;
	}
	
}

.health_regen_boosted .regen_container
{
	visibility: visible;
	opacity: 0.5;
}

.health_regen_negative .regen_container
{
	visibility: visible;
	opacity: 1;
}

.health_regen_negative .regen_value
{
	color: colorEnemy;
	font-weight: bold;
}

#shield_bar,#tech_shield_bar
{
	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid offBlack;
	font-size: 12px;
	visibility: collapse;
	border-radius: 3px;
	ignore-parent-flow: true;
	horizontal-align: right;
	transform: rotateZ(12deg);
	margin-right: 29px;
	margin-top: 30px;
}

.shieldActive #shield_bar
{
	visibility: visible;
}

.shieldActive #tech_shield_bar
{
	margin-right: 12px;
}

.techShieldActive #tech_shield_bar
{
	visibility: visible;
}

#shield_bar .ProgressBarLeft
{
	background-color: courageBrightColor;
}

#tech_shield_bar .ProgressBarLeft
{
	background-color: spiritBrightColor;
}

#shield_bar .ProgressBarMiddle,#tech_shield_bar .ProgressBarMiddle
{
	background-color: rgba(0, 0, 0, 0);
}

#shield_bar .ProgressBarRight,#tech_shield_bar .ProgressBarRight
{
	background-color: rgba(0, 0, 0, 0);
}

#shield_bar .progress_bar_current,#tech_shield_bar .progress_bar_current
{
	font-size: 14px;
	line-height: 14px;
	margin-top: 1px;
}

#shield_bar .progress_bar_divider,#tech_shield_bar .progress_bar_divider
{
	font-size: 14px;
	line-height: 14px;
}

#shield_bar .progress_bar_max,#tech_shield_bar .progress_bar_max
{
	font-size: 12px;
	line-height: 14px;
	font-weight: medium;
	vertical-align: bottom;
	margin-left: 2px;
	margin-top: 4px;
}

#pending_incoming_damage
{
	width: 65px;
	height: 212px;
	margin: 4px 0px 1px 1px;
	opacity-mask: url("s2r://panorama/images/hud/healthbar/healthbar_backer_mask.vsvg");
}

#pending_incoming_damage .ProgressBarMiddle
{
	background-color: rgb(232, 127, 61);
}

#pending_incoming_damage .ProgressBarLeft,#pending_incoming_damage .ProgressBarRight
{
	opacity: 0;
}

#health_bar .ProgressBarLeft
{
	background-color: colorLocalHealthbar;
	background-color: #00FF99;
	background-color: #FFEFD7;
	background-size: cover;
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_png.vtex");
}

.team1 #health_bar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_team1_png.vtex");
}

.team2 #health_bar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_team2_png.vtex");
}

.team1.friend #health_bar .ProgressBarLeft,.team2.friend #health_bar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_png.vtex");
}

.healthMid #health_bar .ProgressBarLeft
{
	background-color: colorLocalHealthbar;
}

#health_bar .ProgressBarMiddle
{
	background-color: rgba(0, 0, 0, 0);
}

#health_bar .ProgressBarRight
{
	background-color: rgba(0, 0, 0, 0);
}

#health_bar.healthLost .ProgressBarMiddle
{
	background-color: #cc340a;
	transition-duration: 1s;
	transition-property: background-color;
}

.SpectatingTeamWest #health_bar.healthLost .ProgressBarMiddle
{
	background-color: #f6805f;
}

#healthBottomEdge
{
	width: 100%;
	height: 4px;
	background-color: rgba(192, 192, 192, 0.3);
	background-color: #00D37F;
	vertical-align: middle;
	z-index: 10;
	visibility: collapse;
}

#healthBottomEdge .tick
{
	width: 2px;
	background-color: rgba(0, 0, 0, 0.521);
	height: 4px;
}

.healthMid #healthBottomEdge
{
	background-color: #fff41d87;
	background-color: #fff41d00;
}

.healthLow #healthBottomEdge
{
	background-color: #FF410D50;
	background-color: #FF410D00;
}

#health_bar_frame
{
	wash-color: #142304;
	width: 68px;
	height: 220px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_frame_with_regen.vsvg");
}

.healthLow #health_bar_frame
{
	wash-color: #FF410D;
	wash-color: #FF5656;
	wash-color: #cc340a;
}

.SpectatingTeamWest .healthLow #health_bar_frame
{
	wash-color: #580000;
}

#RejuvenatorContainer
{
	width: 38px;
	height: 40px;
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_rejuv_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	horizontal-align: left;
	overflow: noclip;
	margin-top: 15px;
	margin-left: 11px;
	visibility: collapse;
}

.HasRejuvenator #RejuvenatorContainer
{
	visibility: visible;
}

.healthLow #RejuvenatorContainer
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_rejuv_low_png.vtex");
}

.energy_bar_line
{
	width: 100%;
	flow-children: right;
	visibility: collapse;
}

.energyActive .energy_bar_line
{
	visibility: visible;
}

.energy_bar_border
{
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}

#energy_bar
{
	font-size: 12px;
	visibility: collapse;
	height: 24px;
}

.energyActive #energy_bar
{
	visibility: visible;
}

#energy_bar .ProgressBarLeft
{
	background-color: rgba(51, 102, 255, 0.8);
}

#energy_bar .ProgressBarMiddle
{
	background-color: rgba(0, 0, 0, 0);
}

#energy_bar .ProgressBarRight
{
	background-color: rgba(0, 0, 0, 0);
}

#energy_bar .progress_bar_current
{
	font-size: 18px;
	line-height: 18px;
	color: lightblue;
	font-weight: bold;
}

#energy_bar .progress_bar_max
{
	font-size: 16px;
	line-height: 18px;
	color: grey;
	font-weight: bold;
}

#energyBottomEdge
{
	width: 100%;
	height: 4px;
	background-color: rgba(192, 192, 192, 0.3);
	vertical-align: bottom;
	z-index: 10;
}

#energyBottomEdge .tick
{
	width: 2px;
	background-color: rgba(0, 0, 0, 0.521);
	height: 4px;
}

#energyBottomEdgeLit
{
	width: 100%;
	height: 4px;
	background-color: blue;
	vertical-align: bottom;
}

.energy_bar_line
{
	width: 100%;
	flow-children: right;
	visibility: collapse;
}

.energyActive .energy_bar_line
{
	visibility: visible;
}

.energy_bar_border
{
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}

#HealingPanel
{
	background-color: #00FF0088;
	z-index: 15;
	width: 100%;
}

