/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.clip
{
	opacity: 0.8;
	margin-right: 5px;
	background-color: #00000027;
}

#progress_bar
{
	width: 8px;
	height: 10px;
	background-color: white;
}

@keyframes 'no_clip_flash'
{
	0%
	{
		background-color: #00000000;
	}
	
	50%
	{
		background-color: rgba(255, 0, 0, 0.9);
	}
	
	100%
	{
		background-color: #00000000;
	}
	
}

.reload_failed_no_ammo #reload_fail_flasher
{
	transition-property: background-color;
	transition-duration: 0.4s;
	animation-name: no_clip_flash;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
	opacity: 1;
}

#reload_fail_flasher
{
	width: 100%;
	height: 100%;
	background-color: red;
	opacity: 0.0;
}

