/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

#HealthBarContent
{
	flow-children: down;
	height: 100%;
	width: 100%;
	opacity: 1;
}

#hud_health_bars
{
	visibility: collapse;
}

#hud_health_bars_stacked
{
	horizontal-align: right;
	width: 100%;
}

.view_is_in_eye.player_selected #hud_health_bars
{
	visibility: visible;
}

#hud_held
{
	height: 65px;
	width: fit-children;
	margin-top: 5px;
	margin-right: 100px;
	visibility: collapse;
}

#HealthRegenAndTotal
{
	width: 115px;
	height: 254px;
	horizontal-align: right;
	ignore-parent-flow: true;
	vertical-align: top;
	margin-top: 5px;
	margin-right: 10px;
	transform: rotateZ(-10deg);
	visibility: collapse;
}

.view_is_in_eye.player_selected #HealthRegenAndTotal
{
	visibility: visible;
}

.healthRegenContainer
{
	flow-children: right;
	vertical-align: top;
	ignore-parent-flow: true;
	visibility: collapse;
}

.healthContainer
{
	horizontal-align: right;
	opacity: 1;
	margin-top: 100px;
	z-index: 100;
	width: 100px;
	height: 65px;
	margin-right: 10px;
	flow-children: down;
}

.healthBacker
{
	width: 90%;
	height: 100%;
	wash-color: vivaciousGreen;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/hud/core/health_backer.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
	opacity: 1;
	vertical-align: bottom;
}

.healthRegenContainer
{
	horizontal-align: left;
	vertical-align: top;
}

#RecentHealContainer
{
	flow-children: down;
	horizontal-align: left;
	margin-left: 35px;
	visibility: collapse;
	margin-bottom: 5px;
	vertical-align: top;
	margin-top: 30px;
}

.healCountersActive #RecentHealContainer
{
	visibility: visible;
}

.recentHealCounter
{
	vertical-align: bottom;
	opacity: 0;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: 0.2s;
	flow-children: right;
	margin-bottom: 3px;
	background-color: #00000000;
	padding: 2px 3px;
}

.recentHealCounter.healCounterActive
{
	opacity: 1;
	visibility: visible;
}

.recentHealCounter.healCounterActive.healCounterFading
{
	opacity: 0;
}

.healCounterIcon
{
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: center;
}

.recentDamageCounters
{
	flow-children: down;
	horizontal-align: left;
	margin-left: 35px;
	visibility: collapse;
	margin-bottom: 5px;
	vertical-align: top;
	margin-top: 160px;
}

.damageCountersActive .recentDamageCounters
{
	visibility: visible;
}

.recentDamageCounter
{
	vertical-align: bottom;
	opacity: 0;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: 0.2s;
	flow-children: right;
	margin-bottom: 3px;
	background-color: #6d030300;
	padding: 2px 3px;
}

.recentDamageCounter.damageCounterActive
{
	opacity: 1;
	visibility: visible;
}

.recentDamageCounter.damageCounterFading
{
	opacity: 0;
}

.damageCounterIcon
{
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: center;
}

#HealthRegenAndTotal .recentDamageCounterLabel
{
	font-weight: semi-bold;
	color: #D74949;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0px 0px 3.0 offBlack;
}

#HealthRegenAndTotal .healCounterLabel
{
	font-weight: semi-bold;
	color: lightgreen;
	font-size: 12px;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0px 0px 3.0 offBlack;
}

.currentHealthLabel
{
	font-weight: bold;
	color: offWhite;
	font-family: sans;
	letter-spacing: 0px;
	font-size: 32px;
	text-overflow: shrink;
	max-width: 100%;
	margin-left: 5px;
	padding-left: 2px;
	margin-bottom: -12px;
	margin-top: 6px;
	text-shadow: 0px 0px 0px 5.0 offBlack;
}

.localPlayerMidHealth .currentHealthLabel
{
	color: #DDFF56;
}

.localPlayerLowHealth .currentHealthLabel,.healthLow .currentHealthLabel
{
	color: #FF5656;
	text-shadow: 0px 0px 0px 5.0 offBlack;
	font-size: 36px;
	margin-top: 0px;
}

.healthRegenLabel
{
	color: #ffffff9F;
	font-size: 14px;
	font-weight: bold;
	font-family: sansMono;
}

.totalHealthLabel
{
	font-size: 14px;
	font-family: numericSans;
	horizontal-align: right;
	margin-right: 12px;
	margin-top: 0px;
	font-weight: semi-bold;
	color: offWhite;
	opacity: 0.2;
	transform: rotateZ(-3deg);
}

.healthRegenLabel
{
	vertical-align: center;
}

.healtRegenArrows
{
	height: 9.5px;
	width: 12.5px;
	background-image: url("s2r://panorama/images/hud/regen_arrows_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	vertical-align: center;
}

.shieldNumbersContainer
{
	margin-top: 63px;
	horizontal-align: right;
	margin-right: 23px;
	margin-left: 0px;
	width: 60px;
}

.shield_bar_numbers
{
	opacity: 1;
	z-index: 100;
	horizontal-align: left;
	color: offBlack;
	padding: 3px;
}

#BulletShieldNumbers,#TechShieldNumbers
{
	visibility: collapse;
}

#BulletShieldNumbers
{
	horizontal-align: left;
	margin-left: 2px;
}

#TechShieldNumbers
{
	horizontal-align: left;
	margin-left: 2px;
}

.shield_bar_numbers .progress_bar_max
{
	color: offBlack;
	font-family: numericSans;
	font-weight: semi-bold;
	font-size: 12px;
	vertical-align: bottom;
	color: #ffffff30;
	visibility: collapse;
}

.shield_bar_numbers .progress_bar_current
{
	font-weight: bold;
	color: offBlack;
	font-family: sansMono;
	font-size: 14px;
	text-shadow: 0px 0px 0px 5.0 #0F2100;
}

#BulletShieldNumbers .progress_bar_current
{
	color: offWhite;
}

.HasBulletShield #BulletShieldNumbers
{
	visibility: visible;
}

#TechShieldNumbers .progress_bar_current
{
	color: spiritBrightColor;
	color: spiritLightColor;
}

.HasTechShield #TechShieldNumbers
{
	visibility: visible;
}

.HasTechShield #BulletShieldNumbers
{
	margin-top: -7px;
}

.HasBulletShield #TechShieldNumbers
{
	margin-left: 17px;
	margin-top: 10px;
}

.TechShieldBroken #TechShieldNumbers .progress_bar_current,.BulletShieldBroken #BulletShieldNumbers .progress_bar_current
{
	color: rgb(255, 130, 130);
	opacity: 0.5;
	text-shadow: 0px 0px 0px 5.0 red&50;
	margin-left: 5px;
}

#RejuvenatorContainer
{
	width: 40px;
	height: 40px;
	background-color: red;
}

#techResistContainer
{
	visibility: collapse;
}

#gold_container
{
	width: fill-parent-flow(1);
	height: 60px;
	flow-children: down;
}

#gold_text_container
{
	width: fill-parent-flow(1);
	vertical-align: center;
	flow-children: right;
}

#ability_point_container
{
	height: 60px;
	width: 60px;
}

.total_gold
{
	height: 40px;
	width: fill-parent-flow(1);
	color: white;
	font-size: 30px;
	text-shadow: 2px 2px 5px 1 black;
	margin-left: 5px;
}

.hudCorner
{
	width: 12px;
	height: 12px;
	ignore-parent-flow: true;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/corner_cap_png.vtex");
	background-size: contain;
	opacity: 0.2;
	img-shadow: 0px 0px 12px 3.0 #000000aa;
}

.corner1
{
	horizontal-align: left;
	vertical-align: top;
	transform: rotateZ(270deg) translateX(-1px) translateY(-1px);
	transform: rotateZ(270deg);
}

.corner2
{
	horizontal-align: right;
	vertical-align: top;
	transform: rotateZ(0deg);
}

.corner3
{
	horizontal-align: right;
	vertical-align: bottom;
	transform: rotateZ(90deg);
}

.corner4
{
	horizontal-align: left;
	vertical-align: bottom;
	transform: rotateZ(180deg);
}

.infiniteMoney #hudAPPointsNum
{
	visibility: collapse;
}

#hudAPPointsNum
{
	font-size: 20px;
	vertical-align: middle;
	color: blueAPTextColor;
	font-weight: semi-bold;
	font-family: numericSans;
	color: #e3fcff;
}

#hudAPPointsAvailable
{
	margin-left: -8px;
	height: 40px;
	width: 65px;
	background-color: #10130D;
	vertical-align: center;
}

.bottomCurrencyContainer
{
	flow-children: right;
	margin-left: 20px;
}

.currency_gold
{
	margin-top: 5px;
	margin-left: 10px;
	vertical-align: center;
	font-size: 48px;
	color: #FFED79;
	font-weight: bold;
}

CitadelHudShieldsContainer
{
	ignore-parent-flow: true;
	margin-top: 175px;
	horizontal-align: right;
	z-index: 3;
}

#StatusEffects
{
	ignore-parent-flow: true;
}

