/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
.PlayerIntentsContainer
{
	width: 100%;
	height: 100%;
	z-index: 100;
}

.PlayerIntentsIntro
{
	width: 450px;
	height: 500px;
	font-size: 18px;
	font-weight: semi-bold;
	color: #222222ee;
	opacity: 1;
	margin: 125px 30px 0px 0px;
	horizontal-align: right;
	transition-property: opacity;
	transition-duration: 0.1s;
	flow-children: right;
	z-index: 100;
	background-color: #47D3FF70;
	border: 3px solid #47D3FF;
	border-radius: 10px;
}

#TeamsContainer
{
	height: 500px;
	width: 700px;
}

CitadelHudPlayerIntentsTeam
{
	width: 100%;
	height: 100%;
	height: fit-children;
	flow-children: down;
	vertical-align: center;
}

CitadelHudPlayerIntentsTeam .PlayerContents
{
	flow-children: down;
	height: fit-children;
}

CitadelHudPlayerIntentsTeam.Enemy .PlayerContents
{
	flow-children: down;
	height: fit-children;
	margin-left: 250px;
}

CitadelHudPlayerIntentsTeam.Friendly
{
	margin-left: 0px;
	margin-right: 0px;
}

CitadelHudPlayerIntentsTeam.Enemy
{
	margin-right: 0px;
	margin-left: 0px;
	visibility: collapse;
}

CitadelHudPlayerIntentsTeam.Enemy.ShowEnemyTeam
{
	visibility: visible;
}

#PlayersContainer
{
	height: fit-children;
	width: fit-children;
	flow-children: down;
	margin-right: 0px;
	border-radius: 3px;
}

.Enemy #PlayersContainer
{
	margin-left: 0px;
}

CitadelHudPlayerIntentsPlayer
{
	width: 200px;
	height: 70px;
	ui-scale: 120%;
	margin-right: -6px;
	flow-children: down;
	border: 1px solid black;
	opacity: 0.85;
}

.PlayerIntentContainer
{
	width: 200px;
	flow-children: down;
}

#PlayerIntent
{
	horizontal-align: right;
	color: black;
	padding-right: 5px;
}

CitadelHudPlayerIntentsPlayer.YellowLaneDeduced
{
	background-color: laneYellowColor;
}

CitadelHudPlayerIntentsPlayer.OrangeLaneDeduced
{
	background-color: laneOrangeColor;
}

CitadelHudPlayerIntentsPlayer.BlueLaneDeduced
{
	background-color: laneBlueColor;
}

CitadelHudPlayerIntentsPlayer.PurpleLaneDeduced
{
	background-color: lanePurpleColor;
}

CitadelHudPlayerIntentsPlayer.YellowLaneIntention #PlayerIntentContainer
{
	border: 15px solid laneYellowColor;
}

CitadelHudPlayerIntentsPlayer.OrangeLaneIntention #PlayerIntentContainer
{
	border: 15px solid laneOrangeColor;
}

CitadelHudPlayerIntentsPlayer.BlueLaneIntention #PlayerIntentContainer
{
	border: 15px solid orangeLane;
}

CitadelHudPlayerIntentsPlayer.PurpleLaneIntention #PlayerIntentContainer
{
	border: 15px solid lanePurpleColor;
}

.HeroContents
{
	height: 70px;
	width: 100%;
	border-radius: 5px;
	flow-children: none;
}

.Dead .HeroContentsBG
{
	background-color: #000000aa;
}

.HeroInnerContent
{
	height: 70px;
	flow-children: none;
	width: 100%;
	z-index: 1;
}

.HeroIconContainer
{
	opacity-mask: url("s2r://panorama/images/hud/top_bar/topbar_player_left_portrait_mask.vsvg");
	height: 100%;
	width: 190px;
	margin-left: -6px;
}

.Enemy .HeroIconContainer
{
	opacity-mask: url("s2r://panorama/images/hud/top_bar/topbar_player_right_portrait_mask.vsvg");
	margin-right: -8px;
}

#HeroIcon
{
	vertical-align: top;
	horizontal-align: center;
	ignore-parent-flow: true;
	overflow: noclip;
	height: 50px;
	width: 100%;
	z-index: 1;
}

.Enemy #HeroIcon
{
	margin-right: 0px;
}

.Dead #HeroIcon
{
	wash-color: #FF5656;
	brightness: 0.25;
}

.Disconnected #HeroIcon
{
	brightness: 0.25;
}

.DeathStatus
{
	horizontal-align: left;
	vertical-align: bottom;
	height: 17px;
	width: 100%;
	visibility: collapse;
	z-index: 3;
	background-color: #000000ee;
}

.Enemy .DeathStatus
{
	horizontal-align: right;
}

.Dead .DeathStatus
{
	visibility: visible;
}

.RespawnContainer
{
	height: fit-children;
	width: fit-children;
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
}

.Enemy .RespawnContainer
{
	flow-children: left;
	horizontal-align: center;
}

.DeathIcon
{
	width: 13px;
	height: 15px;
	wash-color: #FF5656;
	vertical-align: center;
	margin: 0px;
	opacity: 0.6;
	margin-right: 3px;
	margin-top: -2px;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/hud/icons/skull.vsvg");
}

.Enemy .DeathIcon
{
	margin-right: 0px;
	margin-left: 3px;
}

.RespawnTimer
{
	font-family: exo;
	color: #FFFFFF30;
	color: #FF5656;
	color: #ffffff;
	font-size: 12px;
	margin-bottom: 1px;
	font-weight: semi-bold;
	vertical-align: center;
	margin-top: 0px;
	font-family: CriteriaCF;
}

.Disconnected .NetworkStatus
{
	visibility: visible;
}

#ChatWheelMessageContainer
{
	overflow: noclip;
	width: 1px;
	height: fit-children;
	vertical-align: center;
	horizontal-align: center;
}

#ChatWheelMessageContainer
{
	margin-top: 80px;
	width: 100%;
	height: 170px;
}

.ChatLineContainer
{
	opacity: 1.0;
	margin-left: 2px;
	flow-children: down;
}

.Enemy .ChatLineContainer
{
	margin-left: 12px;
}

#ChatWheelMessageContainer .ChatLine
{
	background-color: white;
	border-radius: 5px;
	border: 0px solid black;
	overflow: noclip;
	font-weight: thin;
	text-shadow: 1px 1.5px 0px 2 #000000;
	box-shadow: 3px 3px 0px 23.0 #000000;
	line-height: 16px;
	vertical-align: center;
	font-size: 15px;
	margin-bottom: 5px;
	text-shadow: none;
	font-weight: semibold;
	text-overflow: shrink;
	text-align: left;
	padding: 3px 10px 4px 10px;
	horizontal-align: center;
	color: black;
	z-index: 100;
}

.PingArrow
{
	width: 15px;
	height: 15px;
	background-size: 100% 100%;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/icons/ping_speech_bubble_arrow_psd.vtex");
	z-index: -1;
}

.ChatWheelRow0 .PingArrow
{
	height: 15px;
}

.ChatWheelRow1 .PingArrow
{
	height: 45px;
}

.ChatWheelRow2 .PingArrow
{
	height: 75px;
}

.ChatWheelRow3 .PingArrow
{
	height: 105px;
}

.ChatWheelRow4 .PingArrow
{
	height: 135px;
}

.ChatWheelRow5 .PingArrow
{
	height: 165px;
}

.thumbsUpIcon
{
	background-image: url("s2r://panorama/images/hud/ping/ping_icon_thanks.vsvg");
	height: 15px;
	width: 15px;
	margin-left: 5px;
	background-size: 100% 100%;
	vertical-align: center;
}

#ResponsesContainer
{
	width: 500px;
	margin-top: -15px;
	overflow: noclip;
	z-index: 101;
	height: 40px;
}

#NegativeResponses
{
	background-color: red;
}

#PositiveResponses
{
	margin-left: 200px;
}

#NegativeResponses,#PositiveResponses
{
	opacity: 0;
	width: fit-children;
	height: 42px;
}

.hasPositiveResponse #PositiveResponses,.hasNegativeResponse #NegativeResponses
{
	opacity: 1;
}

CitadelHeroImage.isResponseImage
{
	height: 40px;
	width: height-percentage( 100% );
	margin-left: 2px;
}

#PositiveBackground
{
	background-color: #1371ff;
	height: 25px;
	width: 100%;
	vertical-align: bottom;
	border-radius: 10px;
}

#PositiveResponseHeroImages
{
	flow-children: right;
	margin-left: 25px;
	z-index: 2;
}

