/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#scope
{
	opacity: 0;
	width: 100%;
	height: 100%;
	flow-children: down;
}

.scoped #scope
{
	opacity: 1;
	width: 100%;
	height: 100%;
	flow-children: down;
}

#scope_left_bar
{
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.95);
	width: 35%;
	height: 100%;
}

#scope_right_bar
{
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.95);
	width: 35%;
	height: 100%;
	margin-left: 65%;
}

#scope_center
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

#scope_left
{
	opacity: 1;
	width: fill-parent-flow(0.5);
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
}

#scope_right
{
	width: fill-parent-flow(0.5);
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
}

#scope_img
{
	width: height-percentage(100%);
	height: 100%;
	background-image: url("s2r://panorama/images/hud/crosshair/scope_common_psd.vtex");
	background-size: 100% 100%;
}

