/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.modifier_icons_only .modifier
{
	width: 38px;
	height: 38px;
	background-image: none;
	margin: 0px 5px;
}

#modifier_buildup_line
{
	visibility: collapse;
	height: 2px;
	width: 100%;
	background-color: white;
	margin-top: 2px;
}

.buildup #modifier_buildup_line
{
	visibility: visible;
}

.modifier_icon
{
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: bottom;
	width: 32px;
	height: 32px;
	background-image: none;
	vertical-align: bottom;
}

.modifier_icon_clipped
{
	border-radius: 3px;
	border: 3px solid white;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	background-position: center;
}

.buildup .modifier_icon_clipped
{
	border: 3px solid none;
}

.modifier_icon_bg
{
	opacity: 0.2;
	border-radius: 3px;
	border: 3px solid none;
}

#modifier_stack_count
{
	background-color: rgba( 0, 0, 0, .75 );
	color: white;
	horizontal-align: right;
	vertical-align: bottom;
	padding: 1px;
	border-radius: 1px;
	visibility: collapse;
}

.has_stacks #modifier_stack_count
{
	visibility: visible;
}

.modifier_damage_over_time .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/damage_over_time_icon_png.vtex");
	background-color: red;
}

.poison .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_bullet_poison_psd.vtex");
	background-color: red;
}

.toxic .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_bullet_poison_psd.vtex");
	background-image: url("s2r://panorama/images/hud/modifiers/icon_toxic.vsvg");
	background-color: red;
}

.flame_dash_burn .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_burn.vsvg");
}

.napalm_debuff .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/inferno_molotov_psd.vtex");
}

.afterburn_dot .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_burn.vsvg");
}

.fixated .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_fixated_psd.vtex");
	background-color: red;
}

.marksman .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/hornet/hornet_assassinate_psd.vtex");
	background-color: red;
}

.sentry_stack .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/engineer_turret_psd.vtex");
	background-color: red;
}

.fissure_wall .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/engineer_fissure_2_psd.vtex");
	background-color: red;
}

.galvanic_buildup .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/electrified_bullets_psd.vtex");
}

.ionized_bullets_charged .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_ionized_psd.vtex");
	wash-color: rgb(255, 70, 255);
}

.tesla_coil_range .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_coil_range_psd.vtex");
	wash-color: rgb(255, 70, 255);
}

.bullet_armor_reduction .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_bullet_armor_reduce_psd.vtex");
	background-image: url("s2r://panorama/images/hud/modifiers/icon_bullet_armor_down.vsvg");
}

.regenerative_armor .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/last_stand_psd.vtex");
	background-color: green;
}

.tech_armor_reduction .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_tech_armor_reduce_psd.vtex");
	background-image: url("s2r://panorama/images/hud/modifiers/icon_tech_armor_down.vsvg");
}

.cooldown_reduction_pickup .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/property_cooldown_large_psd.vtex");
}

.clip_size_pickup .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/clip_size_psd.vtex");
}

.zipline_speed_pickup .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/zipline_speed_psd.vtex");
}

.health_regen_pickup .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_regen_psd.vtex");
}

.extra_stamina_pickup .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/property_cooldown_large_psd.vtex");
}

.fire_rate_pickup .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/fire_rate_psd.vtex");
}

.move_speed_pickup .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/sprint_booster_psd.vtex");
}

.healing_prevented .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/death_icon_png.vtex");
}

.silence_buildup .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_emp_charge_up_psd.vtex");
	background-image: url("s2r://panorama/images/hud/modifiers/icon_emp.vsvg");
}

.silence_proc .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_emp_charge_up_psd.vtex");
	background-image: url("s2r://panorama/images/hud/modifiers/icon_emp.vsvg");
}

.tech_overflow_buildup .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/tech_damage_psd.vtex");
}

.disarm_buildup .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/disarm_psd.vtex");
}

.disarm .modifier_icon,.disarm_proc .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/disarm_psd.vtex");
}

.toxic_buildup .modifier_icon,.toxic_proc .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/toxic_bullets_psd.vtex");
}

.bleeding_buildup .modifier_icon
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/serrated_bullets_psd.vtex");
}

.immobilize_buildup .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/immobilize_psd.vtex");
	background-image: url("s2r://panorama/images/hud/modifiers/icon_immobilized.vsvg");
}

.immobilized .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/immobilize_psd.vtex");
	background-image: url("s2r://panorama/images/hud/modifiers/icon_immobilized.vsvg");
}

.slowed .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_move_slow_psd.vtex");
	background-image: url("s2r://panorama/images/hud/modifiers/icon_slow.vsvg");
}

.enhanced_move_speed .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/leap_psd.vtex");
	wash-color: green;
}

.bleeding_dot .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/damage_over_time_icon_png.vtex");
}

.infection_buildup .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_infection_psd.vtex");
	background-color: red;
}

.infection_dot .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_infection_psd.vtex");
	background-color: red;
}

.drone_attached_dot .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_infection_psd.vtex");
	background-color: red;
}

.shiv_dagger .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_shiv_bleed_psd.vtex");
}

.blood_shard .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_shiv_bleed_psd.vtex");
}

.trophy_kill .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/shiv/shiv_trophy_kill_psd.vtex");
}

.charged_tackle_buff .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/sumo/sumo_charge_psd.vtex");
}

.hijacks_weapon_jammer .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_hijack_weapon_jammer_psd.vtex");
	wash-color: red;
}

.hijack_detecting_enemies .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/detecting_enemies_png.vtex");
}

.yamato_power_slash .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_power_slash_psd.vtex");
}

.nano_army_target .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/nano/nano_replicate_psd.vtex");
}

.viscous_goo_grenade .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/viscous/viscous_goo_ball_psd.vtex");
}

.viscous_bowling_ball .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/viscous/viscous_goo_sphere_psd.vtex");
}

.modifier_cadence_bullet_shard .modifier_icon,.modifier_cadence_bullet_shard_max .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_cadence_bullet_shard_psd.vtex");
}

.modifier_cadence_crescendo_post_aoe .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_cadence_crescendo_psd.vtex");
}

.modifier_pocket_affliction .modifier_icon
{
	background-image: url("s2r://panorama/images/hud/abilities/synth/synth_affliction_psd.vtex");
}

