/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHudAbilityInterrupt
{
	background-color: #000000ee;
	flow-children: right;
	padding: 12px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

CitadelHudAbilityInterrupt.ability_canceled
{
	opacity: 1;
}

CitadelHudAbilityInterrupt Image
{
	width: 40px;
	height: 40px;
	margin-right: 4px;
	border-radius: 4px;
}

CitadelHudAbilityInterrupt Label
{
	font-size: 24px;
	vertical-align: center;
	padding: 4px;
}

.interrupted_text
{
	font-size: 20px;
	color: gray;
	margin-right: 10px;
	font-style: italic;
	font-weight: semi-bold;
}

#interrupted_ability_icon
{
	margin-right: 10px;
}

