/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelScoreboardMods
{
	height: 400px;
	width: 100%;
}

Label
{
	font-family: 'Retail Demo';
}

.isPostGame CitadelScoreboardMods
{
	horizontal-align: center;
	width: 100%;
	flow-children: right;
	height: 350px;
}

CitadelScoreboardMods CitadelModsPurchasedPanel
{
	width: 100px;
	animation-name: none;
	margin-left: 4px;
	margin-right: 4px;
}

CitadelScoreboardMods CitadelModsPurchasedPanel.mod_universal
{
	width: 60px;
}

CitadelScoreboardMods CitadelModsPurchasedPanel.mod_universal_locked
{
	width: 120px;
}

CitadelScoreboardMods CitadelModsPurchasedPanel.mod_universal,CitadelScoreboardMods CitadelModsPurchasedPanel.mod_universal_locked
{
	margin-left: 0px;
	margin-right: 0px;
	height: 90px;
	margin-top: 10px;
}

#ModRowsContainer
{
	horizontal-align: center;
	width: fit-children;
	flow-children: right;
}

CitadelScoreboardMods #ModRowsContainer
{
	background-color: #00000030;
	horizontal-align: center;
}

#ModIconsContainer
{
	flow-children: right;
}

.modRow
{
	flow-children: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

.modRowIcon
{
	height: 45px;
	width: 45px;
	background-position: 50% 50%;
	background-size: 75% 75%;
	background-repeat: no-repeat;
	vertical-align: center;
	margin-right: 8px;
	border: 1px solid white;
	border-radius: 5px;
}

.NamesContainer
{
	vertical-align: top;
	horizontal-align: left;
	padding: 20px 30px;
	z-index: 5;
	flow-children: down;
	visibility: visible;
	ignore-parent-flow: true;
}

#ScoreboardHeroImage
{
	width: 100%;
	vertical-align: bottom;
}

#ScoreboardHeroContainer
{
	height: 100%;
	width: 145px;
	background-color: #00000040;
}

.PlayerName
{
	font-size: 22px;
	font-weight: semi-bold;
	color: offWhite;
	opacity: 0.8;
}

#ScoreboardModsHeroName
{
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;
	z-index: 2;
	margin-top: -5px;
	color: offWhite;
}

.PlayerHealth
{
	flow-children: right;
	visibility: collapse;
}

.PlayerHealth Label
{
	font-size: 18px;
	font-weight: medium;
	vertical-align: middle;
}

.HealthIcon
{
	width: 25px;
	height: 25px;
	opacity: 0.2;
	margin-right: 5px;
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_psd.vtex");
	background-size: contain;
}

.TotalNetworth
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 15px;
	flow-children: right;
}

.ModPurchasedSummary
{
	width: 80px;
	height: 50px;
	background-color: black;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 50px;
}

.SoulsImage
{
	background-size: 100% 100%;
	vertical-align: center;
	background-image: url("s2r://panorama/images/hud/core/icon_soul.vsvg");
	height: 18px;
	width: 15px;
	wash-color: #ADFFDE;
	opacity: 0.3;
}

.SoulsValue,.ScoreLabel
{
	color: #70F8C1;
	font-size: 24px;
	font-weight: bold;
	vertical-align: center;
	margin-left: 4px;
	font-family: "Swear Text Demo";
}

#StatsContainer
{
	height: 100%;
	width: fit-children;
	flow-children: down;
	margin-left: 10px;
}

#HeroStatsContainer
{
	horizontal-align: left;
	height: 400px;
	width: 400px;
	flow-children: right-wrap;
	flow-children: right;
}

#ScoreboardStatsLabel,#AbilityListHeader
{
	color: white;
	horizontal-align: center;
	font-size: 24px;
}

#AbilityListHeader
{
	visibility: collapse;
}

#AbilityList
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 40px;
	margin-top: 20px;
}

.AbilityModsContainer
{
	padding: 15px;
	height: 100%;
	flow-children: down;
	width: fit-children;
}

.Seperator
{
	width: 100px;
	height: 100%;
	background-color: #000000BB;
	horizontal-align: right;
	z-index: 2;
	visibility: collapse;
}

.ShowingRight .Seperator
{
	horizontal-align: left;
}

.mod_armor
{
	margin-left: 10px;
	margin-right: 10px;
}

CitadelPostGame .mod_weapon,CitadelPostGame .mod_armor,CitadelPostGame .mod_tech
{
	margin-left: 5px;
	margin-right: 5px;
}

CitadelScoreboardMods CitadelHudAbilityButton
{
	tooltip-body-position: 50% 50%;
}

CitadelPostGame #InfoIcon,CitadelPostGame #PlayerInfoContainer,CitadelPostGame CitadelHudModBarGraph
{
	visibility: collapse;
}

#InfoIcon
{
	ui-scale: 120%;
	margin: 40px;
	ignore-parent-flow: true;
	z-index: 99;
	visibility: collapse;
}

CitadelScoreboardMods.hideScoreboardMods,.wants_scoreboard CitadelHudTopBar CitadelScoreboardMods.hideScoreboardMods
{
	visibility: collapse;
}

.HeroStats
{
	width: fill-parent-flow(1.0);
	height: 100%;
}

#PlayerInfoContainer
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	margin-left: 330px;
	margin-bottom: 50px;
}

.StatLabel
{
	width: 25px;
	text-align: center;
	vertical-align: center;
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #FFFFFF10;
}

.StatLabel.NetworthStatLabel,.StatLabel.HeroDmgStatLabel,.StatLabel.ObjectiveDmgStatLabel,.StatLabel.HealingStatLabel
{
	width: 90px;
}

.StatLabelsContainer .StatLabel
{
	border-radius: 5px 5px 0px 0px;
}

.AdditionalStatsContainer .StatLabel
{
	padding-top: 10px;
	border-radius: 0px 0px 5px 5px;
}

CitadelHudModBarGraph
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	margin-bottom: 15px;
	margin-left: 100px;
	ui-scale: 200%;
}

.HeroStatsContainer
{
	vertical-align: top;
	horizontal-align: right;
	z-index: 3;
	margin-bottom: 0px;
	flow-children: down;
	margin-top: 10px;
	padding: 20px 0px 20px 20px;
}

.ShowingRight .HeroStatsContainer
{
	horizontal-align: left;
}

.HeroStat
{
	vertical-align: middle;
	width: 90px;
	height: 90px;
	overflow: noclip;
	margin-bottom: -10px;
}

.HeroStat.courage,.HeroStat.spirit
{
	transform: translateX(-20px);
}

.CategoryIcon
{
	width: 50px;
	height: 50px;
	horizontal-align: center;
	background-size: contain;
	opacity: 1;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.courage .CategoryIcon
{
	background-image: url("s2r://panorama/images/shop/keystat_courage_png.vtex");
	margin-top: -5px;
	margin-right: 30px;
}

.fortitude .CategoryIcon
{
	background-image: url("s2r://panorama/images/shop/keystat_fortitude_png.vtex");
	margin-top: -5px;
	margin-left: 25px;
}

.spirit .CategoryIcon
{
	background-image: url("s2r://panorama/images/shop/keystat_spirit_png.vtex");
	margin-top: 0px;
	margin-right: 25px;
}

.BackgroundLayer
{
	width: 70%;
	height: 70%;
	horizontal-align: center;
	vertical-align: center;
	pre-transform-rotate2d: 45deg;
	border: 5px solid #ffffff30;
	border-radius: 3px;
}

.courage .BackgroundLayer
{
	background-color: #392608;
	border: 5px solid #FFA31B50;
}

.fortitude .BackgroundLayer
{
	background-color: #0C3433;
	border: 5px solid #0DACAA50;
}

.spirit .BackgroundLayer
{
	background-color: #1F3400;
	border: 5px solid #98D63B50;
}

.HeroStatNumber
{
	font-size: 32px;
	horizontal-align: center;
	vertical-align: center;
	font-weight: bold;
	font-family: "NewSpiritTRIAL";
	font-family: sansMono;
	color: offWhite;
}

.courage .HeroStatNumber
{
	text-shadow: 0px 0px 3px 10.0 #312409;
}

.fortitude .HeroStatNumber
{
	text-shadow: 0px 0px 3px 10.0 #0C3433;
}

.spirit .HeroStatNumber
{
	text-shadow: 0px 0px 3px 10.0 #1F3400;
}

.HeroStatLabel
{
	font-size: 12px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 12px;
	margin-left: 2px;
	font-weight: bold;
	font-family: "NewSpiritTRIAL";
}

.courage .HeroStatLabel
{
	color: courageBrightColor;
}

.fortitude .HeroStatLabel
{
	color: fortitudeBrightColor;
}

.spirit .HeroStatLabel
{
	color: spiritBrightColor;
}

#HeroStatsBtn
{
	background-color: offWhite;
	horizontal-align: center;
	vertical-align: center;
	z-index: 10;
	ignore-parent-flow: true;
}

#HeroStatsBtn Label
{
	color: offBlack;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 10px 6px 10px;
	border-radius: 2px;
}

.isPostGame #HeroStatsBtn
{
	horizontal-align: left;
	vertical-align: bottom;
	margin: 30px;
}

.UniversalSlotsLabel
{
	margin-top: 17px;
	color: #676767;
	horizontal-align: center;
	font-weight: bold;
	font-size: 16px;
}

