/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
@keyframes 'ShowMessage'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
		opacity: 0;
	}
	
	20%
	{
		opacity: 1;
	}
	
	30%
	{
		pre-transform-scale2d: 1.5;
		transform: rotateZ(-3deg) translateX(0px);
		opacity: 1;
	}
	
	40%
	{
		pre-transform-scale2d: 1.5;
		transform: rotateZ(-3deg) translateX(0px);
		opacity: 1;
	}
	
	65%
	{
		opacity: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
		opacity: 0;
	}
	
}

.WindowRoot
{
	height: 300px;
	width: 300px;
	font-size: 40px;
	opacity: 1;
}

.HudIndicatorText
{
	padding: 10px 10px 10px 40px;
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 0px 4.0 black;
	font-weight: bold;
	font-style: italic;
	font-size: 8px;
}

.weapon .HudIndicatorText
{
	color: courageLightColor;
}

.armor .HudIndicatorText
{
	color: fortitudeBrightColor;
}

.tech .HudIndicatorText
{
	color: spiritBrightColor;
}

.HudIndicatorContainer
{
	horizontal-align: center;
	vertical-align: center;
	height: fit-children;
	width: fit-children;
	flow-children: right;
	z-index: 10;
	opacity: 0;
	animation-name: ShowMessage;
	animation-duration: 1s;
}

.HudIndicatorIcon
{
	visibility: collapse;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	horizontal-align: center;
	vertical-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/headshot_psd.vtex");
}

.distance_near .HudIndicatorText
{
	text-shadow: 0px 0px 0px 4.0 black;
	font-size: 22px;
}

.distance_normal .HudIndicatorText
{
	text-shadow: 0px 0px 0px 3.0 black;
	font-size: 18px;
}

.distance_far .HudIndicatorText
{
	text-shadow: 0px 0px 0px 2.0 black;
	font-size: 14px;
}

.distance_very_far .HudIndicatorText
{
	text-shadow: 0px 0px 0px 1.0 black;
	font-size: 12px;
}

.distance_extremely_far .HudIndicatorText
{
	text-shadow: 0px 0px 0px 1.0 black;
	font-size: 10px;
}

