/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
@import url("s2r://panorama/styles/ability_icons.vcss_c");
@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
#TimeControlDropDownDropDownMenu,.TimeControlOption
{
	max-width: 150px;
	text-overflow: shrink;
}

#TimeControlDropDownDropDownMenu:disabled,.TimeControlOption:disabled
{
	opacity: 0.5;
}

@define bgColor: #b7b7b7;
@define bgColorDark: #909090;
@define abilityDamageBarColor: #8A55B3;
@define weaponDamageBarColor: #af731d;
@define tooltipBGolor: #5f5f5f;
@define tooltipBGColorDark: #282828;
@define tooltipBGColorMid: #515151;
@define tooltipBGColorLight: #909090;
@define tooltipTextColorDefault: white;
@define tooltipHeroNameColor: #ffefd7;
@define tooltipPlayerNameColor: #a69d8f;
.DamageRatioProgressBar
{
	border: 1px solid #00000090;
	border-radius: 2px;
	width: 25px;
	height: 100px;
	margin: 5px 9px;
}

.DamageRatioProgressBar.Horizontal
{
	width: 160px;
	height: 40px;
}

.DamageRatioProgressBar .ProgressBarLeft
{
	background-color: weaponDamageBarColor;
}

.DamageRatioProgressBar .ProgressBarMiddle
{
	background-color: abilityDamageBarColor;
}

.HudDamageReport.Tab
{
	width: fit-children;
	margin-right: 0px;
}

.connectedToHeroTesting .HudDamageReport.Tab
{
	vertical-align: bottom;
	margin: 0px;
	margin-bottom: 100px;
}

.HudDamageReport.Tab .DamageSection,.HudDamageReport.Tab .TimeControl
{
	visibility: collapse;
}

.HudDamageReport.Tab .Header .DamageReportHeader
{
	font-size: 18px;
	margin-right: 0px;
}

.HudDamageReport.Tab .Header .CloseButton
{
	visibility: collapse;
}

.HudDamageReport.Tab .Header #ViewingHeroImage
{
	max-height: 40px;
	margin: 4px;
}

.HudDamageReport.Tab #ReportContents
{
	opacity: 0.8;
}

.HudDamageReport.Compact
{
	width: fit-children;
	margin-right: 0px;
}

.HudDamageReport.Compact .TimeControl
{
	visibility: collapse;
}

.HudDamageReport.Compact .Header .DamageReportHeader
{
	font-size: 18px;
	margin-right: 0px;
}

.HudDamageReport.Compact .Header #ViewingHeroImage
{
	max-height: 40px;
	margin: 4px;
}

.HudDamageReport.Compact .DamageByHero
{
	visibility: collapse;
}

.HudDamageReport.Compact .Header
{
	width: 400px;
}

.HudDamageReport.Compact .TopDamageSources
{
	visibility: collapse;
}

.HudDamageReport.Outgoing .Header .DamageReportHeader.Received
{
	visibility: collapse;
}

.HudDamageReport.Outgoing .Header .DamageReportHeader.Outgoing
{
	visibility: visible;
}

.HudDamageReport.Outgoing .DamageByHero
{
	visibility: collapse;
}

.HudDamageReport.Outgoing .TopDamageSources
{
	visibility: collapse;
}

.HudDamageReport.Outgoing .ShowMore
{
	visibility: collapse;
}

.HudDamageReport.Full .ShowMore
{
	visibility: collapse;
}

.HudDamageReport.gDetailView.gBrowsingBuilds:not(.Hidden)
{
	visibility: collapse;
}

.HudDamageReport
{
	vertical-align: top;
	horizontal-align: right;
	z-index: 199;
	margin-top: 130px;
	width: 470px;
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #ffffff01;
	font-family: sans;
	flow-children: right;
	transform: translateX(0px);
	transition-duration: 0.1s;
	transition-property: transform;
	transition-timing-function: ease-in-out;
	border-radius: 10px;
	visibility: collapse;
}

.HudDamageReport.ShowAlways:not(.Hidden),.HudDamageReport.gScoreboardOpen:not(.Hidden),.dead .HudDamageReport:not(.Hidden),.spec_mode .HudDamageReport:not(.Hidden)
{
	visibility: visible;
}

.HudDamageReport.gShopOpen
{
	opacity: 1;
	margin-top: 150px;
	z-index: 201;
}

.HudDamageReport.gShopOpen #ReportContents
{
	opacity: 1;
}

.HudDamageReport.gShopOpen.Tab #ReportContents
{
	opacity: 1;
}

.HudDamageReport.gShopOpen.Tab .Header
{
	margin-left: 0px;
	padding: 10px;
	flow-children: right;
	vertical-align: middle;
	background-color: #2E2E2E;
}

.HudDamageReport #ReportContents
{
	flow-children: down;
	background-color: #1E2616;
	z-index: 2;
	opacity: 0.98;
}

.HudDamageReport .Header
{
	margin-left: 0px;
	padding: 10px;
	flow-children: right;
	vertical-align: middle;
	background-color: #10130D;
	height: 70px;
	transition-property: brightness,opacity;
	transition-duration: 0.1s;
}

.HudDamageReport .Header:hover
{
	brightness: 1.3;
	opacity: 1;
}

.HudDamageReport .Header #ViewingHeroImage
{
	max-height: 45px;
	margin: 8px;
	vertical-align: center;
}

.HudDamageReport .Header .DamageReportHeader
{
	font-size: 20px;
	vertical-align: middle;
	font-weight: bold;
	margin: 4px;
	margin-left: 10px;
}

.Tab .HudDamageReport .Header .DamageReportHeader
{
	font-size: 16px;
}

.HudDamageReport .Header .DamageReportHeader.Outgoing
{
	visibility: collapse;
}

.HudDamageReport .Header .TimeControl
{
	max-width: 150px;
	margin-right: 20px;
	margin: 4px 20px;
	vertical-align: center;
	horizontal-align: right;
}

.HudDamageReport .Header .CloseButton
{
	width: 36px;
	height: 36px;
	vertical-align: middle;
	horizontal-align: right;
	background-size: auto 50%;
	background-position: center;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
}

.HudDamageReport .Header .CloseButton:hover
{
	pre-transform-scale2d: 1.2;
}

.HudDamageReport .DamageSection
{
	width: 100%;
	flow-children: down;
}

.HudDamageReport .DamageControlRow
{
	width: 100%;
	flow-children: right;
	horizontal-align: center;
	background-color: #00000050;
	padding: 4px 8px;
}

.HudDamageReport .DamageControlRow .LabelArea
{
	flow-children: down;
	margin: 0px 10px;
}

.HudDamageReport .DamageControlRow .LabelArea .DamageDesc
{
	horizontal-align: left;
	vertical-align: center;
	color: rgb(24, 24, 24);
	opacity: 0.9;
	font-weight: bold;
	font-size: 16px;
}

.HudDamageReport .DamageControlRow .TimeControl
{
	horizontal-align: right;
	vertical-align: center;
}

.HudDamageReport .DamageControlRow .DamageBreakdown
{
	flow-children: right;
	vertical-align: middle;
	horizontal-align: center;
	margin: 4px;
}

.HudDamageReport .DamageControlRow .DamageBreakdown .DamageRatioProgressBar
{
	height: 100%;
	vertical-align: center;
	width: fill-parent-flow(1.0);
	margin: 0px 5px;
}

.HudDamageReport .DamageControlRow .DamageBreakdown .DamageRatioProgressBar:hover
{
	brightness: 1;
}

.HudDamageReport .DamageControlRow .DamageBreakdown .DamagePercent
{
	font-size: 14px;
	font-weight: bold;
	color: black;
	opacity: 1;
}

.HudDamageReport .DamageControlRow .DamageBreakdown .weaponDmg
{
	color: courageBrightColor;
}

.HudDamageReport .DamageControlRow .DamageBreakdown .spiritDmg
{
	color: spiritBrightColor;
}

.HudDamageReport .DamageSection #DamageByHero
{
	flow-children: right;
	height: 180px;
	padding: 0px;
	horizontal-align: center;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn
{
	margin: 3px;
	flow-children: down;
	border: 1px solid #00000000;
	background-color: #ffffff05;
	border-radius: 3px;
	opacity: 1;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.05s;
	transition-timing-function: ease;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn:hover
{
	brightness: 1;
	background-color: #c5c5c520;
	box-shadow: 0px 0px 20px #00000070;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn.Focused
{
	border: 2px solid #ffffff20;
	background-color: #ffffff10;
	opacity: 1;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn .HeroIconContainer
{
	max-height: 55px;
	horizontal-align: center;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn .NeutralImage
{
	width: 43px;
	height: 55px;
	visibility: collapse;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn.Neutrals #HeroImage
{
	visibility: collapse;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn.Neutrals .NeutralImage
{
	visibility: visible;
}

.HudDamageReport .DamageSection #DamageByAbility
{
	flow-children: down;
	background-color: #00000050;
}

.HudDamageReport .DamageSection .TopDamageSources
{
	margin-top: 10px;
	vertical-align: center;
	horizontal-align: center;
	font-weight: semi-bold;
	color: offWhite;
}

.NoDisplayedDamage .HudDamageReport .DamageSection .TopDamageSources
{
	visibility: collapse;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph
{
	vertical-align: center;
	horizontal-align: left;
	flow-children: none;
	margin: 20px;
	margin-left: 60px;
	min-height: 150px;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice
{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	vertical-align: center;
	horizontal-align: center;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.WeaponDamage
{
	background-color: weaponDamageBarColor;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.AbilityDamage
{
	background-color: abilityDamageBarColor;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.DamagePriority9
{
	brightness: 1.2;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.DamagePriority8
{
	brightness: 1.1;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.DamagePriority6
{
	brightness: 0.9;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.DamagePriority5
{
	brightness: 0.8;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.DamagePriority4
{
	brightness: 0.6;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.DamagePriority3
{
	brightness: 0.4;
}

.HudDamageReport .DamageSection .Footer
{
	width: 100%;
	flow-children: right;
	background-color: offBlack;
}

.HudDamageReport .DamageSection .Footer .DamageTotal
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	padding: 10px;
}

.HudDamageReport .DamageSection .Footer .DamageTotal .LabelArea
{
	vertical-align: center;
	flow-children: right;
	horizontal-align: center;
}

.HudDamageReport .DamageSection .Footer .DamageTotal .ShowMore
{
	vertical-align: center;
	background-color: #2e2e2e;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 5px;
	margin-left: 20px;
}

.HudDamageReport .DamageSection .Footer .DamageTotal .ShowMore:hover
{
	brightness: 1.3;
}

.HudDamageReport .DamageSection .Footer .DamageTotal .ShowMore Label
{
	font-size: 16px;
}

.HudDamageReport .DamageSection .Footer .DamageTotal .DamageDesc
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.5;
	font-weight: semi-bold;
	font-size: 16px;
	margin-right: 5px;
}

.HudDamageReport .DamageSection .Footer .DamageTotal .DamageValue
{
	vertical-align: bottom;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	horizontal-align: center;
	font-family: sansMono;
}

.HudDamageReport .DamageSection .DamageDealtToggleButton
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 30px;
	height: 30px;
	background-size: auto 50%;
	background-position: center;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/icons/icon_graph.vsvg");
	transition-property: pre-transform-scale2d;
	transition-duration: 0.3s;
}

.HudDamageReport .DamageSection .DamageDealtToggleButton:hover
{
	pre-transform-scale2d: 1.1;
}

.HudDamageReport.NoDisplayedDamage .DamageSection .TopDamageSources
{
	visibility: collapse;
}

.HudDamageRows
{
	padding: 10px;
	width: 100%;
}

.HudDamageRows.HideUnitImage #RowImage
{
	visibility: collapse;
}

.HudDamageRows #Data
{
	width: 100%;
	flow-children: down;
}

.HudDamageRows #Data .AbilityDamageContainer
{
	width: 100%;
	flow-children: right;
}

.HudDamageRows #Data .AbilityDamageContainer #RowImage
{
	width: 36px;
	height: 36px;
	opacity: 0.9;
	vertical-align: center;
	horizontal-align: center;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer
{
	width: 100%;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageRatioProgressBar
{
	width: 100%;
	background-color: #982F2F30;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageValue
{
	vertical-align: center;
	horizontal-align: right;
	height: 40px;
	min-width: 50px;
	text-align: center;
	font-weight: semi-bold;
	font-size: 16px;
	margin-right: 10px;
	padding: 9px 10px;
	background-color: #00000090;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner
{
	margin-left: 10px;
	flow-children: right;
	vertical-align: center;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner #AbilityImage
{
	width: 30px;
	height: 30px;
	opacity: 0.9;
	vertical-align: center;
	margin: 3px;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner .AbilityName
{
	vertical-align: center;
	horizontal-align: left;
	margin-left: 5px;
	font-weight: semi-bold;
	font-size: 17px;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner .killing_blow
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-left: 40px;
	visibility: collapse;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100px;
	height: 35px;
	x: -24px;
	y: -11px;
	z-index: 100;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner .Hits
{
	color: #ffffff50;
	vertical-align: center;
	horizontal-align: center;
	margin-left: 10px;
	font-size: 12px;
	font-weight: semi-bold;
	background-color: #00000070;
	border-radius: 3px;
	padding: -2px 5px 2px 5px;
	visibility: collapse;
}

.Language_english .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_english_png.vtex");
}

.Language_schinese .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_schinese_png.vtex");
}

.Language_brazilian .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_brazilian_png.vtex");
}

.Language_czech .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_czech_png.vtex");
}

.Language_french .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_french_png.vtex");
}

.Language_german .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_german_png.vtex");
}

.Language_italian .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_italian_png.vtex");
}

.Language_indonesian .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_indonesian_png.vtex");
}

.Language_korean .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_korean_png.vtex");
}

.Language_latam .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_latam_png.vtex");
}

.Language_polish .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_polish_png.vtex");
}

.Language_russian .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_russian_png.vtex");
}

.Language_spanish .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_spanish_png.vtex");
}

.Language_thai .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_thai_png.vtex");
}

.Language_turkish .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_turkish_png.vtex");
}

.Language_ukrainian .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_ukrainian_png.vtex");
}

.HudDamageRows.AllHeroDamage #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner .AbilityImage
{
	visibility: collapse;
}

.LocalPlayerDead .HudDamageRows #Data .AbilityDamageContainer.isKillingBlow .AbilityDamageBarContainer .killing_blow
{
	visibility: visible;
}

CitadelTooltipDamageReportHeroSummary #Contents,CitadelTooltipDamageReportAbilitySummary #Contents
{
	padding: 0px;
}

.SummaryTooltip
{
	width: 400px;
	background-color: tooltipBGColorMid;
	flow-children: down;
}

.SummaryTooltip .Header
{
	padding: 8px 12px;
	width: 100%;
	background-color: tooltipBGColorDark;
	flow-children: right;
}

.SummaryTooltip .Header .NameContainer
{
	flow-children: down;
	width: 100%;
}

.SummaryTooltip .Header .NameContainer .HeroName,.SummaryTooltip .Header .NameContainer .ViewingHeroName
{
	font-size: 24px;
	font-weight: bold;
	font-family: serif;
	text-transform: uppercase;
	margin-bottom: -4px;
}

.AllHeroes .SummaryTooltip .Header .NameContainer .HeroName
{
	visibility: collapse;
}

.SummaryTooltip .Header .NameContainer .ViewingHeroName
{
	visibility: collapse;
}

.AllHeroes .SummaryTooltip .Header .NameContainer .ViewingHeroName
{
	visibility: visible;
}

.SummaryTooltip .Header .NameContainer .HeroSubtitle
{
	font-weight: semi-bold;
	opacity: 0.6;
}

.SummaryTooltip .Data
{
	padding: 8px;
	flow-children: down;
	width: 100%;
}

.SummaryTooltip .Footer
{
	padding: 0px;
	width: 100%;
	background-color: tooltipBGColorLight;
}

.AbilitySummary .AbilityProgressBarContainer
{
	width: 100%;
	margin: 8px;
}

.AbilitySummary .Footer
{
	height: 40px;
	background-color: tooltipBGColorDark;
}

.AbilitySummary .Footer .DamageTotalContainer
{
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
}

.AbilitySummary .Footer .DamageTotalContainer .TotalLabel
{
	vertical-align: center;
	font-size: 18px;
	margin-right: 10px;
	font-weight: semi-bold;
	opacity: 0.7;
}

.AbilitySummary .Footer .DamageTotalContainer .DamageValue
{
	vertical-align: center;
	font-size: 24px;
	font-weight: bold;
	font-family: sansMono;
}

#ReportToggle
{
	width: 220px;
	height: 50px;
	transform: rotateZ(90deg);
	margin-left: 0px;
	horizontal-align: right;
	vertical-align: middle;
	ignore-parent-flow: true;
	border-radius: 5px 5px 0px 0px;
	background-color: grey;
	background-color: gradient( linear, 0% 100%, 0% 70%, from( #3d3d3d ), to( grey ) );
	background-image: url("s2r://panorama/images/shop/dmg_report_texture_png.vtex");
	background-img-opacity: 0.2;
	z-index: 1;
	visibility: collapse;
}

#ReportToggle Label
{
	horizontal-align: center;
	vertical-align: middle;
	font-weight: semi-bold;
	opacity: 0.9;
}

.HeroSummary
{
	width: 360px;
}

.HeroSummary .Data
{
	height: 180px;
}

.HeroSummary .ModsContainer
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 15px;
	margin-left: 20px;
	height: fit-children;
	width: 368px;
	flow-children: right;
	visibility: visible;
	ui-scale: 90%;
}

.HeroSummary .Footer
{
	padding-top: 10px;
	background-color: tooltipBGColorDark;
	height: fit-children;
}

