/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.hud_castbars
{
	flow-children: up;
}

#castbars
{
	flow-children: up;
}

.castbar
{
	background-color: #000000aa;
	width: 550px;
	height: 60px;
	text-align: left;
	border-radius: 4px;
}

#cast_progress
{
	width: 100%;
	height: 100%;
	background-color: #B2A333FF;
}

.castbar_name
{
	font-size: 30px;
	color: white;
	vertical-align: center;
	padding-left: 20px;
	text-transform: uppercase;
}

.hint
{
	font-size: 14px;
	color: white;
	vertical-align: bottom;
	horizontal-align: left;
	visibility: collapse;
	margin-left: 40px;
	margin-bottom: 2px;
}

.channeling .cancel_hint
{
	visibility: visible;
}

.channeling_cancel_by_attack .cancel_hint_attack
{
	visibility: visible;
}

.cast_delay .cancel_hint
{
	visibility: visible;
}

