/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define weaponColor: #FFA826;
@define techColor: #00DDFF;
.hud_damage_summary
{
	background-color: #10130D;
	width: 420px;
	height: fit-children;
	vertical-align: TOP;
	horizontal-align: right;
	margin-right: 32px;
	margin-top: 200px;
	border-radius: 10px;
	border: 1px solid #ffffff01;
	transition-property: opacity;
	transition-duration: 0.15s;
	font-family: sans;
	opacity: 0;
	z-index: 1000;
	visibility: collapse;
}

.deathReplayActive .hud_damage_summary
{
	ui-scale: 100%;
}

.hud_dmg_summary_title
{
	width: 100%;
	background-color: #00000090;
}

.category_title
{
	color: #FFEFD7;
	font-size: 22px;
	margin: 10px;
	vertical-align: center;
	font-weight: bold;
}

.category_button_hint
{
	font-size: 12px;
	font-weight: bold;
	color: grey;
	margin-top: 32px;
	margin-left: 10px;
}

.summary_hint
{
	font-size: 14px;
	margin: 2px 10px;
	horizontal-align: right;
	vertical-align: middle;
	color: #ffffff90;
	font-weight: medium;
}

.deathReplayActive .summary_hint
{
	visibility: collapse;
}

.active.hud_damage_summary
{
	opacity: 1;
	flow-children: down;
}

.summary_title
{
	color: white;
	font-size: 18px;
	margin-left: 8px;
	margin-top: 2px;
}

.lost_gold
{
	color: gold;
	font-size: 30px;
	margin-left: 8px;
	margin-top: 2px;
	visibility: collapse;
}

.has_lost_gold .lost_gold
{
	visibility: visible;
}

#heroes
{
	flow-children: down;
	width: 100%;
	height: fit-children;
}

.hero_damage_summary
{
	padding-right: 6px;
	width: 100%;
	flow-children: right;
	background-color: #1E2616;
}

.hero_damage_summary.even
{
	background-color: #10130D;
}

.hero_image_container
{
	height: 100%;
	width: 120px;
}

#hero_image
{
	height: 100%;
}

#damages
{
	flow-children: down;
	height: fit-children;
	overflow: noclip;
	padding: 3px 0px;
}

.damage_snippet
{
	height: 40px;
	width: 290px;
	margin: 2px 0px;
	overflow: noclip;
}

#ability_image
{
	width: 26px;
	height: 26px;
	vertical-align: center;
	margin-left: 8px;
	border-radius: 3px;
}

.text_line
{
	flow-children: right;
	line-height: 20px;
	vertical-align: center;
}

#ability_name
{
	color: white;
	font-family: sans;
	font-weight: semi-bold;
	text-shadow: 1px 1px #00000090;
	font-size: 16px;
	vertical-align: center;
	margin-left: 45px;
	line-height: 20px;
	transition-duration: 0.1s;
	transition-property: color, text-shadow;
}

.justUpdated #ability_name
{
	text-shadow: 0px 0px 5px white;
	transition-duration: 0.4s;
}

#ability_hits
{
	color: #ffffff50;
	vertical-align: middle;
	margin-left: 10px;
	font-size: 12px;
	font-weight: semi-bold;
	background-color: #00000070;
	border-radius: 3px;
	padding: -2px 5px 2px 5px;
}

#damage_numbers
{
	horizontal-align: right;
	vertical-align: center;
	height: 100%;
	width: 60px;
	background-color: #00000090;
}

#numbers_container
{
	flow-children: up;
	vertical-align: middle;
	horizontal-align: middle;
}

#ability_damage
{
	font-size: 18px;
	transition-duration: 0.1s;
	transition-property: color, text-shadow;
	vertical-align: center;
	text-align: center;
	font-weight: semi-bold;
	font-family: sansMono;
	color: #FFAD33AE;
}

.abilityDamage #ability_damage
{
	color: #CE90FF;
}

.justUpdated #ability_damage
{
	text-shadow: 0px 0px 5px red;
	transition-duration: 0.4s;
}

.justUpdated.abilityDamage #ability_damage
{
	text-shadow: 0px 0px 5px lightblue;
}

#ability_absorbed
{
	color: grey;
	font-size: 12px;
	text-decoration: line-through;
	vertical-align: center;
	visibility: collapse;
	horizontal-align: middle;
	margin-bottom: -5px;
}

.hasReducedDamage #ability_absorbed
{
	visibility: visible;
}

#damage_bar_container
{
	width: 100%;
	height: 100%;
	background-color: #982F2F50;
}

#damage_bar
{
	width: 100%;
	height: 52px;
	background-color: #FFAD3350;
	vertical-align: center;
}

.abilityDamage #damage_bar
{
	background-color: #8A55B3;
}

.killing_blow
{
	ignore-parent-flow: true;
	visibility: collapse;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100px;
	height: 35px;
	x: -24px;
	y: -11px;
	z-index: 100;
	background-image: url("s2r://panorama/images/hud/dmgsummary_killing_blow.vsvg");
}

.isKillingBlow .killing_blow
{
	visibility: visible;
}

.killing_blow Label
{
	font-size: 16px;
	font-weight: bold;
	font-family: sans;
	color: #fff;
	text-shadow: 0px 0px 3.0 #FF5656;
}

.DamageRatioContainer
{
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: center;
	width: fit-children;
	flow-children:down;
	margin-right:5px;
	visibility: collapse;
}

.ShowDamageRatio .DamageRatioContainer
{
	visibility: visible;
}

.DamageRatioLabels
{
	flow-children: right;
	vertical-align: center;
	width: 100%;
	padding-right: 5px;
}

.BulletRatioLabel
{
	ignore-parent-flow:true;
	horizontal-align: left;
	vertical-align: center;
	text-align: left;
	margin-left:10px;
}

.TechRatioLabel
{
	ignore-parent-flow:true;
	horizontal-align: right;
	vertical-align: center;
	text-align: right;
}

.WeaponDamageIcon
{
	width: 20px;
	height: 20px;
	background-size:100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/control_icons/mod_track_weapon_psd.vtex");
	wash-color: weaponColor;
}

.TechDamageIcon
{
	width: 20px;
	height: 20px;
	background-size:100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/control_icons/mod_track_tech_psd.vtex");
	wash-color: #CE90FF;
}

#DamageRatioProgressBar
{
	horizontal-align: right;
	vertical-align: center;
	width: 150px;
	height: 32px;
	margin-left: 5px;
	margin-right:5px;
	border-radius:0px;
}

#DamageRatioProgressBar_Left
{
	background-color: #FFAD3350;
}

#DamageRatioProgressBar_Right
{
	background-color: #8A55B3;
}

