/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
.SpectateBar
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000ee ), to( #00000000 ) );
	padding-bottom: 2px;
	font-size: 18px;
	color: #ffffffaa;
	line-height: 22px;
	border-top: 8px solid offBlack;
}

#spectate_target
{
	flow-children: down;
	margin: 10px 0px 0px 20px;
}

.spectatingTitle
{
	font-size: 16px;
	font-weight: semi-bold;
	opacity: 0.5;
}

#next_prev
{
	flow-children: right;
	margin-top: 5px;
}

.SpectateBar.spectatingUnit
{
	background-color: #FFEFD730;
}

.SpectateBar.spectatingUnit.spectatingTeam1
{
	background-color: team1Color&50;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( team1Color&30 ), to( team1Color&00 ) );
	border-color: team1Color;
}

.SpectateBar.spectatingUnit.spectatingTeam2
{
	background-color: team2Color&50;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( team2Color&30 ), to( team2Color&00 ) );
	border-color: team2Color;
}

.dead .SpectateBar.spectatingUnit
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( colorEnemy&30 ), to( colorEnemy&00 ) );
	border-color: colorEnemy;
}

.keyBind
{
	background-color: #ffffff30;
	color: offWhite;
	border-radius: 2px;
	padding: -2px 5px 1px 5px;
	margin-right: 5px;
	opacity: 1;
}

.spectatorOnlyControl
{
	visibility: collapse;
}

.spacer
{
	margin-right: 40px;
}

.TeamSpectator .spectatorOnlyControl
{
	visibility: visible;
}

.spectatingUnitControl,.TeamSpectator .spectatingUnitControl
{
	visibility: collapse;
}

.spectatingUnit .spectatingUnitControl
{
	visibility: visible;
}

.playerName
{
	visibility: collapse;
}

.spectatingUnit .playerName
{
	visibility: visible;
}

.flightControl,.TeamSpectator .flightControl
{
	visibility: collapse;
}

.spectateModeRoaming .flightControl
{
	visibility: visible;
}

.spectatingUnit .notSpectatingUnitControl,.TeamSpectator .spectatingUnit .notSpectatingUnitControl
{
	visibility: collapse;
}

#title_area
{
	flow-children: right;
}

.highlighted
{
	color: offWhite;
	font-weight: bold;
	font-size: 24px;
	opacity: 1;
}

.highlightedTeam
{
	font-size: 16px;
	font-weight: semi-bold;
	margin-left: 4px;
}

.spectatingTeam1 .highlightedTeam
{
	color: team1ColorBright&90;
}

.spectatingTeam2 .highlightedTeam
{
	color: team2ColorBright&90;
}

.mouseButtons
{
	background-image: url("s2r://panorama/images/hud/mouse_icon_two_buttons.vsvg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 20px;
	width: 17px;
	margin-right: 5px;
	margin-top: 3px;
	visibility: collapse;
	wash-color: #F3F0E7;
}

.defaultCycleButtons.spectatingUnit .mouseButtons
{
	visibility: visible;
}

.nextPrevBinds
{
	visibility: collapse;
}

.spectatingUnit .nextPrevBinds
{
	visibility: visible;
}

.spectatingUnit.defaultCycleButtons .nextPrevBinds
{
	visibility: collapse;
}

#cursor_mode
{
	horizontal-align: left;
	vertical-align: center;
	flow-children: right;
}

.spectateModeRoaming #cursor_mode
{
	visibility: collapse;
}

#camera_section
{
	horizontal-align: right;
	flow-children: down;
	margin-right: 20px;
	margin-top: 10px;
}

#swap_camera,#flight_control,#cursor_mode,#change_teams
{
	flow-children: right;
	horizontal-align: left;
	margin-bottom: 5px;
}

#flight_control
{
	flow-children: down;
	margin-top: 5px;
}

#fly_up,#fly_down
{
	flow-children: right;
	horizontal-align: left;
	margin-bottom: 5px;
}

#swap_camera
{
	margin-top: 5px;
}

.keybindTitle
{
	font-weight: semi-bold;
	font-size: 15px;
}

.keyBind
{
	font-weight: semi-bold;
	font-size: 14px;
	color: offWhite&ee;
	max-height: 24px;
}

.InlineGlyph
{
	max-height: 18px;
}

.TeamSpectator .spectatingUnit #change_teams
{
	visibility: visible;
	flow-children: right;
}

#respawn_section
{
	visibility: collapse;
	flow-children: right;
	margin-left: 20px;
}

.respawnTimer
{
	font-size: 20px;
}

.marginLabel
{
	margin-left: 10px;
}

.viewing_as_player #flight_control
{
	visibility: collapse;
}

.spectateModeRoaming #change_teams
{
	visibility: collapse;
}

