/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define playerStatusWidth: 400px;
@define playerStatusDistFromTop: 575px;
@define playerStatusOffsetX: 400px;
@define DistFromWindowBorder: 20px;
@define DistFromWindowBorderWithSpecBar: 60px;
@define ActionButtonHeight: 50px;
@define colorEnemy: #FF410D;
@define colorEnemy_70: #b32e09;
@define colorFriendly: #00ff99;
@define colorFriendlyHealthbar: #2d806faa;
@define colorLocalHealthbar: #00994D;
