/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@keyframes 'StunAnim'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

.stunned #fancy_progress_container,.MODIFIER_STATE_COMMAND_RESTRICTED #fancy_progress_container
{
	visibility: visible;
}

.stunned #basic_progress_container,.MODIFIER_STATE_COMMAND_RESTRICTED #basic_progress_container
{
	visibility: collapse;
}

.stunned .ModifierProgressBarContainer,.MODIFIER_STATE_COMMAND_RESTRICTED .ModifierProgressBarContainer
{
	visibility: collapse;
}

.stunned .ModifierProgressBar,.MODIFIER_STATE_COMMAND_RESTRICTED .ModifierProgressBar
{
	background-color: gold;
}

.stunned .SplitLabelProgressBar,.MODIFIER_STATE_COMMAND_RESTRICTED .SplitLabelProgressBar
{
	visibility: visible;
	ui-scale: 180%;
}

.stunned .SplitLabelProgressBar .SplitLabelName Label,.MODIFIER_STATE_COMMAND_RESTRICTED .SplitLabelProgressBar .SplitLabelName Label
{
	letter-spacing: 2px;
}

.stunned .SplitLabelProgressBar .SplitLabelName Image,.MODIFIER_STATE_COMMAND_RESTRICTED .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: StunAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-frame-time: 0ms;
}

.stunned .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd),.MODIFIER_STATE_COMMAND_RESTRICTED .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.stunned .SplitLabelProgressBar .SplitLabelName Image:nth-child(even),.MODIFIER_STATE_COMMAND_RESTRICTED .SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.stunned .SplitLabelProgressBar .SplitLabelProgress,.MODIFIER_STATE_COMMAND_RESTRICTED .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: gold;
}

.stunned.dynamo2 .SplitLabelProgressBar,.MODIFIER_STATE_COMMAND_RESTRICTED.dynamo2 .SplitLabelProgressBar
{
	ui-scale: 140%;
}

.stunned.dynamo2 .BarAndNameContainer,.MODIFIER_STATE_COMMAND_RESTRICTED.dynamo2 .BarAndNameContainer
{
	visibility: collapse;
}

@keyframes 'SilenceAnim'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

.silence #fancy_progress_container,.MODIFIER_STATE_SILENCED #fancy_progress_container
{
	visibility: visible;
}

.silence #basic_progress_container,.MODIFIER_STATE_SILENCED #basic_progress_container
{
	visibility: collapse;
}

.silence .ModifierProgressBarContainer,.MODIFIER_STATE_SILENCED .ModifierProgressBarContainer
{
	visibility: collapse;
}

.silence .ModifierProgressBar,.MODIFIER_STATE_SILENCED .ModifierProgressBar
{
	background-color: spiritColor;
}

.silence .SplitLabelProgressBar,.MODIFIER_STATE_SILENCED .SplitLabelProgressBar
{
	visibility: visible;
	ui-scale: 160%;
}

.silence .SplitLabelProgressBar .SplitLabelName Image,.MODIFIER_STATE_SILENCED .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: SilenceAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-frame-time: 300ms;
}

.silence .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd),.MODIFIER_STATE_SILENCED .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.silence .SplitLabelProgressBar .SplitLabelName Image:nth-child(even),.MODIFIER_STATE_SILENCED .SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.silence .SplitLabelProgressBar .SplitLabelProgress,.MODIFIER_STATE_SILENCED .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: spiritColor;
}

@keyframes 'DisarmAnim'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

.disarm_proc #fancy_progress_container,.MODIFIER_STATE_DISARMED #fancy_progress_container
{
	visibility: visible;
}

.disarm_proc #basic_progress_container,.MODIFIER_STATE_DISARMED #basic_progress_container
{
	visibility: collapse;
}

.disarm_proc .ModifierProgressBarContainer,.MODIFIER_STATE_DISARMED .ModifierProgressBarContainer
{
	visibility: collapse;
}

.disarm_proc .ModifierProgressBar,.MODIFIER_STATE_DISARMED .ModifierProgressBar
{
	background-color: colorEnemy;
}

.disarm_proc .SplitLabelProgressBar,.MODIFIER_STATE_DISARMED .SplitLabelProgressBar
{
	visibility: visible;
	ui-scale: 160%;
}

.disarm_proc .SplitLabelProgressBar .SplitLabelName Image,.MODIFIER_STATE_DISARMED .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: DisarmAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-frame-time: 300ms;
}

.disarm_proc .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd),.MODIFIER_STATE_DISARMED .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.disarm_proc .SplitLabelProgressBar .SplitLabelName Image:nth-child(even),.MODIFIER_STATE_DISARMED .SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.disarm_proc .SplitLabelProgressBar .SplitLabelProgress,.MODIFIER_STATE_DISARMED .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: colorEnemy;
}

@keyframes 'SleepAnim'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

.sleep_proc #fancy_progress_container
{
	visibility: visible;
}

.sleep_proc #basic_progress_container
{
	visibility: collapse;
}

.sleep_proc .ModifierProgressBarContainer
{
	visibility: collapse;
}

.sleep_proc .ModifierProgressBar
{
	background-color: slategray;
}

.sleep_proc .SplitLabelProgressBar
{
	visibility: visible;
	ui-scale: 160%;
}

.sleep_proc .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: SleepAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-frame-time: 300ms;
}

.sleep_proc .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.sleep_proc .SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.sleep_proc .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: slategray;
}

@keyframes 'ImmobilizedAnim'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

.immobilize_proc #fancy_progress_container
{
	visibility: visible;
}

.immobilize_proc #basic_progress_container
{
	visibility: collapse;
}

.immobilize_proc .ModifierProgressBarContainer
{
	visibility: collapse;
}

.immobilize_proc .ModifierProgressBar
{
	background-color: #349c4c;
}

.immobilize_proc .SplitLabelProgressBar
{
	visibility: visible;
	ui-scale: 160%;
}

.immobilize_proc .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: ImmobilizedAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-frame-time: 300ms;
}

.immobilize_proc .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.immobilize_proc .SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.immobilize_proc .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: #349c4c;
}

@keyframes 'TetherAnim'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

.tether_proc #fancy_progress_container
{
	visibility: visible;
}

.tether_proc #basic_progress_container
{
	visibility: collapse;
}

.tether_proc .ModifierProgressBarContainer
{
	visibility: collapse;
}

.tether_proc .ModifierProgressBar
{
	background-color: hornetColor;
}

.tether_proc .SplitLabelProgressBar
{
	visibility: visible;
	ui-scale: 160%;
}

.tether_proc .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: TetherAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-frame-time: 300ms;
}

.tether_proc .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.tether_proc .SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.tether_proc .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: hornetColor;
}

@keyframes 'PetrifyAnim'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

.viper_petrify #fancy_progress_container
{
	visibility: visible;
}

.viper_petrify #basic_progress_container
{
	visibility: collapse;
}

.viper_petrify .ModifierProgressBarContainer
{
	visibility: collapse;
}

.viper_petrify .ModifierProgressBar
{
	background-color: viperColor;
}

.viper_petrify .SplitLabelProgressBar
{
	visibility: visible;
	ui-scale: 160%;
}

.viper_petrify .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: TetherAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-frame-time: 300ms;
}

.viper_petrify .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.viper_petrify .SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.viper_petrify .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: viperColor;
}

@keyframes 'UrnAnim'
{
	0%
	{
		transform: translateY(0px);
	}
	
	50%
	{
		transform: translateY(-5px);
	}
	
	0%
	{
		transform: translateY(0px);
	}
	
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL #fancy_progress_container
{
	visibility: visible;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL #basic_progress_container
{
	visibility: collapse;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .BarAndNameContainer
{
	visibility: collapse;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL #ExtraInfo
{
	visibility: visible;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .ModifierProgressBarContainer
{
	visibility: collapse;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .ModifierProgressBar
{
	background-color: colorEnemy;
	background-color: green;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar
{
	visibility: visible;
	ui-scale: 160%;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar .SplitLabelName Label
{
	font-style: italic;
	letter-spacing: -1px;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: UrnAnim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-frame-time: 00ms;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n)
{
	animation-delay: 0.0s;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+1)
{
	animation-delay: 0.1s;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+2)
{
	animation-delay: 0.2s;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+3)
{
	animation-delay: 0.3s;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+4)
{
	animation-delay: 0.4s;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+5)
{
	animation-delay: 0.5s;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+6)
{
	animation-delay: 0.6s;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+7)
{
	animation-delay: 0.7s;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+8)
{
	animation-delay: 0.8s;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: colorEnemy;
	wash-color: shardColor;
}

