/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define health_row_bottom_align: 1;
@define health_row_right_align: 0;
@define min_row_to_scale_height: 1;
@define max_row_to_scale_height: 4;
@define max_pips_per_row: 10;
@define min_pips_to_scale_width: 6;
@define max_pip_height: 25px;
@define min_pip_height: 12px;
@define creep_max_pip_height: 12px;
@define max_pip_width: 25px;
@define min_pip_width: 18px;
@define max_shield_pip_height: 10px;
@define pip_horizontal_padding: 4px;
@define boss_pip_horizontal_padding: 1px;
@define pip_vertical_padding: 4px;
@define pip_health_border_color: #33333300;
@define pip_bullet_shield_border_color: darkorange;
@define pip_tech_shield_border_color: darkblue;
@define gap_between_bullet_and_tech_shield: 8px;
@define delta_max_height: 35px;
@define delta_small_lifetime: 0.2;
@define delta_large_lifetime: 1.2;
@define delta_small_value: 20;
@define delta_large_value: 200;
@define pip_empty_color: #ffffff60;
@define pip_health_friendly_color: #E4D0B2;
@define pip_temp_health_friendly_color: #87FF87;
@define pip_health_enemy_color: #FF410D;
@define pip_health_team1_color: #E7B659;
@define pip_health_team2_color: #5B79E6;
@define pip_health_invuln_enemy_color: #8B0000;
@define pip_temp_health_enemy_color: #FF8787;
@define pip_health_neutral_color: #7DDAB0;
@define pip_bullet_shield_color: orange;
@define pip_temp_bullet_shield_color: #FFA07A;
@define pip_tech_shield_color: #00FFFF;
@define pip_temp_tech_shield_color: #AED6F1;
@define pip_delta_damage_start_color: rgba( 255, 215, 216, 1 );
@define pip_delta_damage_end_color: rgba( 255, 0, 0, 0 );
@define pip_delta_heal_start_color: rgba( 133, 255, 133, 1 );
@define pip_delta_heal_end_color: rgba( 10, 230, 80, 0 );
@define pip_delta_absorb_bullet_start_color: rgba( 255, 250, 219, 1 );
@define pip_delta_absorb_bullet_end_color: rgba( 255, 250, 219, 0 );
@define pip_delta_absorb_tech_start_color: rgba( 255, 250, 219, 1 );
@define pip_delta_absorb_tech_end_color: rgba( 255, 250, 219, 0 );
.healthpips
{
	min-width: 158px;
	max-width: 262px;
}

.localPlayer.healthpips
{
	width: 293px;
	min-width: 293px;
	max-width: 293px;
}

.citadel_nano_predatory_statue #healthpips
{
	min-width: 25px;
	max-width: 25px;
}

