/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
@import url("s2r://panorama/styles/ability_icons.vcss_c");
@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'quickbuy_pulse'
{
	0%
	{
		brightness: 0.9;
		pre-transform-scale2d: 0.95;
	}
	
	50%
	{
		brightness: 1.1;
		pre-transform-scale2d: 1.05;
	}
	
	100%
	{
		brightness: 0.9;
		pre-transform-scale2d: 0.95;
	}
	
}

.HudQuickbuy
{
	vertical-align: bottom;
	horizontal-align: right;
	height: fit-children;
	margin-left: 370px;
	margin-bottom: 6px;
	border-radius: 4px;
	opacity: 0.5;
	overflow: noclip;
	padding: 5px;
}

.gShopOpen .HudQuickbuy
{
	margin-left: 600px;
	margin-bottom: 30px;
	opacity: 1;
}

.AspectRatio16x10 .gShopOpen .HudQuickbuy
{
	margin-left: 555px;
}

.gShopOpen .HudQuickbuy .Contents
{
	opacity: 1;
}

.ShowQueue .HudQuickbuy .Contents,.gScoreboardOpen .HudQuickbuy .Contents,.gShopOpen .HudQuickbuy .Contents
{
	opacity: 1;
}

.gScoreboardOpen .HudQuickbuy
{
	opacity: 1;
}

.HudQuickbuy.ItemsReady
{
	opacity: 1;
}

.HudQuickbuy.ItemsReady .Contents
{
	opacity: 1;
}

.HudQuickbuy Label
{
	color: offBlack;
}

.Contents
{
	opacity: 0.1;
	width: 70px;
	height: 70px;
	margin-bottom: 10px;
	vertical-align: bottom;
	border: 2px solid offWhite&30;
	border-radius: 5px;
}

.gShopOpen .Contents
{
	width: 80px;
	height: 80px;
	margin-bottom: 0px;
}

.EmptyContents
{
	width: 80px;
	height: 80px;
	visibility: collapse;
	opacity: 1;
	flow-children: down;
	border-radius: 4px;
	background-color: #ffffff05;
	margin-bottom: 0px;
	opacity: 0.5;
	border: 2px solid offWhite&10;
}

.EmptyContents:hover
{
	opacity: 1;
}

.EmptyContents .QuickbuyLabel
{
	vertical-align: top;
	horizontal-align: center;
	opacity: 1;
	color: offWhite&50;
	font-weight: semi-bold;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 5px;
	margin-bottom: -3px;
}

.EmptyContents .rightClick
{
	width: 30px;
	height: 30px;
	background-image: url("s2r://panorama/images/glyphs/mouse2_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	horizontal-align: center;
	margin: 10px;
	opacity: 0.5;
}

.ShowQueue .Empty .EmptyContents,.gScoreboardOpen .Empty .EmptyContents,.gShopOpen .Empty .EmptyContents
{
	visibility: visible;
}

.Empty .Contents
{
	visibility: collapse;
}

.QuickbuyStatus
{
	flow-children: right;
}

.QuickbuyLabel,.QuickbuyLabelQueueSize
{
	opacity: 0.8;
	visibility: collapse;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.QuickbuyLabel
{
	visibility: visible;
}

.QuickbuyItem
{
	width: 50px;
	padding: 4px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	height: 50px;
	box-shadow: 0px 0px 40px #00000020;
	transition-property: width, opacity;
	transition-duration: 0.1s;
}

.QuickbuyItem:hover
{
	brightness: 1.1;
	width: 230px;
}

.QuickbuyItem:hover .NamePanel
{
	opacity: 1;
}

.QuickbuyItem.CanBuyItem .ReadyIcon
{
	opacity: 1;
}

.InShopZone .QuickbuyItem .ReadyIcon
{
	animation-name: quickbuy_pulse;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
}

.QuickbuyItem .NamePanel
{
	margin-left: 10px;
	flow-children: down;
	vertical-align: center;
}

.QuickbuyItem #ModIcon
{
	vertical-align: center;
	horizontal-align: center;
	margin-top: 3px;
}

.QuickbuyItem #ModName
{
	vertical-align: bottom;
	width: 145px;
	max-height: 30px;
	text-overflow: shrink;
	font-size: 15px;
	font-weight: bold;
	color: offWhite;
}

.QuickbuyItem .CostPanel
{
	visibility: collapse;
	padding: 2px;
	flow-children: right;
	vertical-align: center;
	horizontal-align: right;
}

.QuickbuyItem .CostPanel #ModCost
{
	color: shardColor;
	text-shadow: 1px 1px 0px #00000090;
}

Label.instructionalText
{
	font-size: 14px;
	font-weight: semi-bold;
	vertical-align: bottom;
	margin-top: 5px;
	opacity: 0;
	color: offWhite;
}

Label.instructionalText .rightClick
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/glyphs/mouse2_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.gShopOpen Label.instructionalText
{
	opacity: 0.4;
}

.Empty Label.instructionalText
{
	opacity: 0;
}

.CanBuyItemsHighlight
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: blue;
}

#QuickbuyNext
{
	width: 100%;
	height: 100%;
	background-color: offWhite&10;
	flow-children: none;
}

#QuickbuyNext .QuickbuyItem
{
	height: 100%;
}

#QuickbuyNext .NamePanel
{
	visibility: collapse;
}

#QuickbuyNext #ModIcon
{
	ui-scale: 120%;
	horizontal-align: center;
	vertical-align: middle;
	tooltip-position: top;
}

#QuickbuyNext CitadelModIcon
{
	tooltip-position: left;
}

#QuickbuyNext .QuickbuyLabel .QuickbuyLabel,.MoreThanOneItemInQueue #QuickbuyNext .QuickbuyLabel
{
	visibility: collapse;
}

#QuickbuyNext .QuickbuyLabel .QuickbuyLabelQueueSize,.MoreThanOneItemInQueue #QuickbuyNext .QuickbuyLabelQueueSize
{
	visibility: visible;
}

.ShowQueue #QuickbuyNext .ItemReadyIndicator,.gScoreboardOpen #QuickbuyNext .ItemReadyIndicator,.gShopOpen #QuickbuyNext .ItemReadyIndicator
{
	visibility: collapse;
}

#QuickbuyQueue
{
	flow-children: down;
	width: 230px;
	visibility: collapse;
	margin-bottom: 80px;
	padding-bottom: 25px;
}

#QuickbuyQueue .QuickbuyLabel,#QuickbuyQueue .QuickbuyLabelQueueSize
{
	visibility: collapse;
}

#QuickbuyQueue #ModIcon
{
	ui-scale: 80%;
}

#QuickbuyQueue .QuickbuyItem
{
	width: 230px;
	opacity: 1;
	brightness: 0.8;
	background-color: #555;
}

#QuickbuyQueue .QuickbuyItem.Odd
{
	background-color: #666;
}

.Empty #QuickbuyQueue
{
	padding-bottom: 0px;
}

.ReadyIcon
{
	ignore-parent-flow: true;
	width: 20px;
	height: 20px;
	background-color: #22CC22DD;
	border-radius: 50%;
	opacity: 0;
	vertical-align: bottom;
	horizontal-align: right;
	border: 1px solid #00000044;
}

#QuickbuyQueue .ReadyIcon
{
	vertical-align: center;
	margin-right: 5px;
}

.ItemReadyIndicator
{
	ignore-parent-flow: true;
	vertical-align: middle;
	horizontal-align: right;
	width: 15px;
	height: 15px;
	background-color: #22CC22DD;
	border-radius: 50%;
	margin-right: 10px;
	visibility: collapse;
}

.ItemReadyIndicator .ItemReadyLabel
{
	vertical-align: center;
	horizontal-align: center;
	color: white;
	font-size: 14px;
	text-align: center;
}

.ShowQueue .ItemReadyIndicator,.gScoreboardOpen .ItemReadyIndicator,.gShopOpen .ItemReadyIndicator
{
	visibility: collapse;
}

.QueueSize
{
	ignore-parent-flow: true;
	vertical-align: top;
	horizontal-align: right;
	width: 23px;
	height: 23px;
	background-color: #777777;
	border-radius: 0px 0px 0px 50px;
	padding: 0px 0px 3px 0px;
	visibility: visible;
}

.QueueSize .ItemReadyLabel
{
	vertical-align: center;
	horizontal-align: center;
	color: white;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	margin-left: 3px;
	margin-bottom: 3px;
}

CitadelHudQuickbuy:hover #QuickbuyQueue
{
	visibility: visible;
}

