/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@import url("s2r://panorama/styles/ability_icons.vcss_c");
#TimeControlDropDownDropDownMenu,.TimeControlOption
{
	max-width: 150px;
	text-overflow: shrink;
}

#TimeControlDropDownDropDownMenu:disabled,.TimeControlOption:disabled
{
	opacity: 0.5;
}

@define bgColor: #b7b7b7;
@define bgColorDark: #909090;
@define abilityDamageBarColor: #8A55B3;
@define weaponDamageBarColor: #af731d;
@define abilityDamageBarColorDecreased: #5A3593;
@define weaponDamageBarColorDecreased: #875100;
@define abilityDamageBarColorIncreased: #8c4379;
@define weaponDamageBarColorIncreased: #8c501b;
@define tooltipBGolor: #5f5f5f;
@define tooltipBGColorDark: #282828;
@define tooltipBGColorMid: #515151;
@define tooltipBGColorLight: #909090;
@define tooltipTextColorDefault: white;
@define tooltipHeroNameColor: #ffefd7;
@define tooltipPlayerNameColor: #a69d8f;
.DamageRatioProgressBar
{
	border: 1px solid #00000090;
	border-radius: 2px;
	width: 25px;
	height: 100px;
	margin: 5px 9px;
	margin-right: 5px;
	horizontal-align: center;
}

.DamageRatioProgressBar.Horizontal
{
	width: 160px;
	height: 40px;
}

.DamageRatioProgressBar .ProgressBarLeft
{
	background-color: weaponDamageBarColor;
}

.DamageRatioProgressBar #WeaponBarAdjusted,.DamageRatioProgressBar #AbilityBarAdjusted
{
	horizontal-align: right;
	height: 100%;
	background-color: #1E2616;
}

.DamageRatioProgressBar #WeaponBarAdjusted
{
	border: 2px dashed weaponDamageBarColor;
	background-color: weaponDamageBarColorDecreased;
}

.hasIncreasedDamage .DamageRatioProgressBar #WeaponBarAdjusted
{
	background-color: weaponDamageBarColorIncreased;
}

.DamageRatioProgressBar #AbilityBarAdjusted
{
	border: 2px dashed abilityDamageBarColor;
	background-color: abilityDamageBarColorDecreased;
}

.hasIncreasedDamage .DamageRatioProgressBar #AbilityBarAdjusted
{
	background-color: abilityDamageBarColorIncreased;
}

.DamageRatioProgressBar .ProgressBarMiddle
{
	background-color: abilityDamageBarColor;
}

.HudDamageReport.Tab
{
	width: fit-children;
	margin-right: 0px;
}

.HudDamageReport.Tab .Header
{
	width: fit-children;
}

.HudDamageReport.Tab .DamageSection,.HudDamageReport.Tab .TimeControl
{
	visibility: collapse;
}

.HudDamageReport.Tab .Header .DamageReportHeader
{
	font-size: 18px;
	margin-right: 0px;
}

.HudDamageReport.Tab .Header .CloseButton
{
	visibility: collapse;
}

.HudDamageReport.Tab .Header #ViewingHeroImage
{
	max-height: 40px;
	margin: 4px;
}

.HudDamageReport.Tab #ReportContents
{
	opacity: 0.8;
}

.HudDamageReport.Compact
{
	margin-right: 0px;
}

.HudDamageReport.Compact .DamageByHeroContainer
{
	visibility: collapse;
}

.HudDamageReport.Compact .TopDamageSources
{
	visibility: collapse;
}

.DamageReportHeader.LastRespawn
{
	visibility: collapse;
}

.ShowingLastLife.Compact .DamageReportHeader.LastRespawn,.ShowingLastLife.Outgoing .DamageReportHeader.LastRespawn
{
	visibility: visible;
}

.ShowingLastLife .TimeControl
{
	visibility: collapse;
}

.HudDamageReport.Outgoing .Header .DamageReportHeader.Received
{
	visibility: collapse;
}

.HudDamageReport.Outgoing .Header .DamageReportHeader.Outgoing
{
	visibility: visible;
}

.HudDamageReport.Outgoing .DamageByHeroContainer
{
	visibility: collapse;
}

.HudDamageReport.Outgoing .TopDamageSources
{
	visibility: collapse;
}

.HudDamageReport.Outgoing .ShowMore
{
	visibility: collapse;
}

.HudDamageReport.Full .ShowMore
{
	visibility: collapse;
}

.HudDamageReport.Full .DamageControlRow
{
	visibility: visible;
}

.HudDamageReport
{
	vertical-align: top;
	horizontal-align: right;
	margin-top: 230px;
	width: 470px;
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #ffffff01;
	font-family: sans;
	flow-children: right;
	transform: translateX(0px);
	transition-duration: 0.2s;
	transition-property: transform, opacity;
	transition-timing-function: ease-in-out;
	border-radius: 10px;
	visibility: collapse;
}

.HudDamageReport.gDetailView
{
	opacity: 0;
}

.HudDamageReport.ShowAlways:not(.Hidden),.HudDamageReport.gScoreboardOpen:not(.Hidden),.dead .HudDamageReport:not(.Hidden),.spec_mode .HudDamageReport:not(.Hidden),.connectedToHeroTesting .HudDamageReport.gScoreboardOpen,.connectedToHeroTesting .HudDamageReport.gShopOpen,.connectedToHeroTesting .HudDamageReport.gDetailView
{
	visibility: visible;
}

.HudDamageReport.gShopOpen.gEditingBuilds
{
	visibility: collapse;
}

.connectedToHeroTesting .HudDamageReport
{
	margin-top: 250px;
}

.connectedToHeroTesting .HudDamageReport.gScoreboardOpen
{
	margin-right: 400px;
}

.HudDamageReport.gShopOpen
{
	opacity: 1;
	margin-top: 80px;
	z-index: 1;
	horizontal-align: left;
}

.HudDamageReport.gShopOpen #ReportContents
{
	opacity: 1;
}

.HudDamageReport.gShopOpen.Tab #ReportContents
{
	opacity: 1;
}

.HudDamageReport.gShopOpen.Tab .Header
{
	margin-left: 0px;
	padding: 10px;
	flow-children: right;
	vertical-align: middle;
	background-color: #2E2E2E;
}

.HudDamageReport #ReportContents
{
	flow-children: down;
	background-color: #1E2616;
	horizontal-align: right z-index: 2;
	opacity: 0.98;
}

.HudDamageReport .Header
{
	width: 470px;
	margin-left: 0px;
	padding: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	flow-children: right;
	vertical-align: middle;
	background-color: #10130D;
	height: 70px;
	transition-property: brightness,opacity;
	transition-duration: 0.1s;
}

.HudDamageReport .Header:hover
{
	brightness: 1.3;
	opacity: 1;
}

.HudDamageReport .Header #ViewingHeroImage
{
	max-height: 45px;
	margin: 8px;
	vertical-align: center;
}

.HudDamageReport .Header .DamageReportHeader
{
	font-size: 20px;
	vertical-align: middle;
	font-weight: bold;
	margin: 4px;
	margin-left: 10px;
	width: 165px;
	text-overflow: shrink;
}

.Tab .HudDamageReport .Header .DamageReportHeader
{
	font-size: 16px;
}

.HudDamageReport .Header .DamageReportHeader.Outgoing
{
	visibility: collapse;
}

.HudDamageReport .Header .TimeControl
{
	max-width: 150px;
	margin: 4px 10px;
	vertical-align: center;
	horizontal-align: right;
}

.HudDamageReport .Header .CloseButton
{
	width: 36px;
	height: 36px;
	vertical-align: middle;
	horizontal-align: right;
	background-size: auto 50%;
	background-position: center;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
}

.HudDamageReport .Header .CloseButton:hover
{
	pre-transform-scale2d: 1.2;
}

.HudDamageReport .DamageSection
{
	width: 100%;
	flow-children: down;
}

.HudDamageReport .DamageControlRow
{
	visibility: collapse;
	width: 100%;
	flow-children: right;
	horizontal-align: center;
	background-color: #00000050;
	padding: 4px 8px;
}

.HudDamageReport .DamageControlRow .LabelArea
{
	flow-children: down;
	margin: 0px 10px;
}

.HudDamageReport .DamageControlRow .LabelArea .DamageDesc
{
	horizontal-align: left;
	vertical-align: center;
	color: rgb(24, 24, 24);
	opacity: 0.9;
	font-weight: bold;
	font-size: 16px;
}

.HudDamageReport .DamageControlRow .TimeControl
{
	horizontal-align: right;
	vertical-align: center;
}

.HudDamageReport .DamageControlRow .DamageBreakdown
{
	flow-children: right;
	vertical-align: middle;
	horizontal-align: center;
	margin: 4px;
}

.HudDamageReport .DamageControlRow .DamageBreakdown .DamageRatioProgressBar
{
	height: 100%;
	vertical-align: center;
	width: fill-parent-flow(1.0);
	margin: 0px 5px;
}

.HudDamageReport .DamageControlRow .DamageBreakdown .DamageRatioProgressBar:hover
{
	brightness: 1;
}

.HudDamageReport .DamageControlRow .DamageBreakdown .DamagePercent
{
	font-size: 14px;
	font-weight: bold;
	color: black;
	opacity: 1;
}

.HudDamageReport .DamageControlRow .DamageBreakdown .weaponDmg
{
	color: courageBrightColor;
}

.HudDamageReport .DamageControlRow .DamageBreakdown .spiritDmg
{
	color: spiritBrightColor;
}

.HudDamageReport.ShowDamageByHero .DamageSection #DamageByHero
{
	visibility: visible;
}

.HudDamageReport.ShowDamageByHero .DamageSection .DamageByHeroContainer .CloseButton
{
	background-size: auto 50%;
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
}

.HudDamageReport.ShowDamageByHero .DamageSection .DamageByHeroContainer .DamageByHeroLabel
{
	visibility: collapse;
}

.HudDamageReport .DamageSection .DamageByHeroContainer
{
	horizontal-align: center;
	width: 100%;
}

.HudDamageReport .DamageSection .DamageByHeroContainer .DamageByHeroToggle
{
	vertical-align: top;
	horizontal-align: left;
	ignore-parent-flow: true;
	flow-children: right;
	transition-property: brightness;
	transition-duration: 0.1s;
	transition-timing-function: ease;
}

.HudDamageReport .DamageSection .DamageByHeroContainer .DamageByHeroToggle:hover
{
	brightness: 1.2;
}

.HudDamageReport .DamageSection .DamageByHeroContainer .CloseButton
{
	width: 25px;
	height: 25px;
	margin: 4px;
	margin-left: 8px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/icons/icon_plus_white_png.vtex");
	background-size: auto 75%;
	background-color: none;
	wash-color: offWhite;
}

.HudDamageReport .DamageSection .DamageByHeroContainer .DamageByHeroLabel
{
	vertical-align: center;
}

.HudDamageReport .DamageSection #DamageByHero
{
	flow-children: right;
	padding: 0px;
	horizontal-align: center;
	visibility: collapse;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn
{
	margin: 3px;
	flow-children: down;
	border: 1px solid #00000000;
	background-color: #ffffff05;
	border-radius: 3px;
	opacity: 1;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.05s;
	transition-timing-function: ease;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn:hover
{
	brightness: 1;
	background-color: #c5c5c520;
	box-shadow: 0px 0px 20px #00000070;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn.Focused
{
	border: 2px solid #ffffff20;
	background-color: #ffffff10;
	opacity: 1;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn .HeroIconContainer
{
	max-height: 45px;
	horizontal-align: center;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn .NeutralImage
{
	width: 43px;
	height: 55px;
	visibility: collapse;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn.Neutrals #HeroImage
{
	visibility: collapse;
}

.HudDamageReport .DamageSection #DamageByHero .HeroDamageColumn.Neutrals .NeutralImage
{
	visibility: visible;
}

.HudDamageReport .DamageSection #DamageByAbility
{
	flow-children: down;
	background-color: #00000050;
}

.HudDamageReport .DamageSection .TopDamageSources
{
	margin-top: 10px;
	vertical-align: center;
	horizontal-align: center;
	font-weight: semi-bold;
	color: offWhite;
	visibility: collapse;
}

.NoDisplayedDamage .HudDamageReport .DamageSection .TopDamageSources
{
	visibility: collapse;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph
{
	vertical-align: center;
	horizontal-align: left;
	flow-children: none;
	margin: 20px;
	margin-left: 60px;
	min-height: 150px;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice
{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	vertical-align: center;
	horizontal-align: center;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.WeaponDamage
{
	background-color: weaponDamageBarColor;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.AbilityDamage
{
	background-color: abilityDamageBarColor;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.DamagePriority9
{
	brightness: 1.2;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.DamagePriority8
{
	brightness: 1.1;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.DamagePriority6
{
	brightness: 0.9;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.DamagePriority5
{
	brightness: 0.8;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.DamagePriority4
{
	brightness: 0.6;
}

.HudDamageReport .DamageSection #DamageDealtPieGraph .PieSlice.DamagePriority3
{
	brightness: 0.4;
}

.HudDamageReport .DamageSection .Footer
{
	width: 100%;
	flow-children: right;
	background-color: offBlack;
}

.HudDamageReport .DamageSection .Footer .DamageTotal
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	padding: 10px;
}

.HudDamageReport .DamageSection .Footer .DamageTotal .LabelArea
{
	vertical-align: center;
	flow-children: right;
	horizontal-align: center;
}

.HudDamageReport .DamageSection .Footer .DamageTotal .ShowMore
{
	vertical-align: center;
	background-color: #2e2e2e;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 5px;
	margin-left: 20px;
}

.HudDamageReport .DamageSection .Footer .DamageTotal .ShowMore:hover
{
	brightness: 1.3;
}

.HudDamageReport .DamageSection .Footer .DamageTotal .ShowMore Label
{
	font-size: 16px;
}

.HudDamageReport .DamageSection .Footer .DamageTotal .DamageDesc
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.5;
	font-weight: semi-bold;
	font-size: 16px;
	margin-right: 5px;
}

.HudDamageReport .DamageSection .Footer .DamageTotal .DamageValue
{
	vertical-align: bottom;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	horizontal-align: center;
	font-family: sansMono;
}

.HudDamageReport .DamageSection .DamageDealtToggleButton
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 30px;
	height: 30px;
	background-size: auto 50%;
	background-position: center;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/icons/icon_graph.vsvg");
	transition-property: pre-transform-scale2d;
	transition-duration: 0.3s;
}

.HudDamageReport .DamageSection .DamageDealtToggleButton:hover
{
	pre-transform-scale2d: 1.1;
}

.HudDamageReport.NoDisplayedDamage .DamageSection .TopDamageSources
{
	visibility: collapse;
}

.HudDamageRows
{
	padding: 10px;
	padding-top: 5px;
	width: 100%;
}

.HudDamageRows.HideUnitImage #RowImage
{
	visibility: collapse;
}

.HudDamageRows #Data
{
	width: 100%;
	flow-children: down;
}

.HudDamageRows #Data .AbilityDamageContainer
{
	width: 100%;
	flow-children: right;
}

.HudDamageRows #Data .AbilityDamageContainer #RowImage
{
	width: 36px;
	height: 36px;
	vertical-align: center;
	horizontal-align: center;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer
{
	width: 100%;
	flow-children: right;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageRatioProgressBar
{
	width: fill-parent-flow(1.0);
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageValueContainer
{
	width: 50px;
	height: 80%;
	vertical-align: center;
	background-color: #00000090;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageValueContainer .DamageValue
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-weight: semi-bold;
	font-size: 16px;
	text-overflow: shrink;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner
{
	ignore-parent-flow: true;
	margin-left: 10px;
	flow-children: right;
	vertical-align: center;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner #AbilityImage
{
	width: 30px;
	height: 30px;
	opacity: 0.9;
	vertical-align: center;
	margin: 3px;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner .AbilityName
{
	vertical-align: center;
	horizontal-align: left;
	margin-left: 5px;
	font-weight: semi-bold;
	font-size: 17px;
	max-width: 140px;
	max-height: 36px;
	text-overflow: shrink;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner .ExtraInfoContainer
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: right;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner .killing_blow
{
	visibility: collapse;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 80px;
	height: 35px;
	margin-left: 5px;
	x: -24px;
	y: -11px;
	z-index: 100;
}

.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner .Hits,.HudDamageRows #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner .Adjusted
{
	color: #ffffff80;
	vertical-align: center;
	horizontal-align: center;
	margin-left: 5px;
	font-size: 12px;
	font-weight: semi-bold;
	background-color: #00000070;
	border-radius: 3px;
	padding: 3px 2px 3px 5px;
	visibility: collapse;
}

.Language_english .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_english_png.vtex");
}

.Language_schinese .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_schinese_png.vtex");
}

.Language_brazilian .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_brazilian_png.vtex");
}

.Language_czech .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_czech_png.vtex");
}

.Language_french .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_french_png.vtex");
}

.Language_german .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_german_png.vtex");
}

.Language_italian .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_italian_png.vtex");
}

.Language_indonesian .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_indonesian_png.vtex");
}

.Language_koreana .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_koreana_png.vtex");
}

.Language_latam .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_latam_png.vtex");
}

.Language_polish .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_polish_png.vtex");
}

.Language_russian .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_russian_png.vtex");
}

.Language_spanish .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_spanish_png.vtex");
}

.Language_thai .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_thai_png.vtex");
}

.Language_turkish .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_turkish_png.vtex");
}

.Language_ukrainian .killing_blow
{
	background-image: url("s2r://panorama/images/hud/text_images/killing_blow/killing_blow_ukrainian_png.vtex");
}

.HudDamageRows.AllHeroDamage #Data .AbilityDamageContainer .AbilityDamageBarContainer .DamageBarInner .AbilityImage
{
	visibility: collapse;
}

.LocalPlayerDead .HudDamageRows #Data .AbilityDamageContainer.isKillingBlow .AbilityDamageBarContainer .killing_blow
{
	visibility: visible;
}

.HudDamageReport .HudDamageRows #Data .AbilityDamageContainer.ShowHits .AbilityDamageBarContainer .Hits
{
	visibility: visible;
}

.HudDamageRows #Data .AbilityDamageContainer.hasIncreasedDamage .AbilityDamageBarContainer .PercentIncreased
{
	visibility: visible;
}

.HudDamageRows #Data .AbilityDamageContainer.hasDecreasedDamage .AbilityDamageBarContainer .PercentDecreased
{
	visibility: visible;
}

CitadelTooltipDamageReportHeroSummary #Contents,CitadelTooltipDamageReportAbilitySummary #Contents
{
	padding: 0px;
}

.SummaryTooltip
{
	width: 400px;
	background-color: tooltipBGColorMid;
	flow-children: down;
}

.SummaryTooltip .Header
{
	padding: 8px 12px;
	width: 100%;
	background-color: tooltipBGColorDark;
	flow-children: right;
}

.SummaryTooltip .Header .NameContainer
{
	flow-children: down;
	width: 100%;
}

.SummaryTooltip .Header .NameContainer .HeroName,.SummaryTooltip .Header .NameContainer .ViewingHeroName
{
	font-size: 24px;
	font-weight: bold;
	font-family: serif;
	text-transform: uppercase;
	margin-bottom: -4px;
}

.AllHeroes .SummaryTooltip .Header .NameContainer .HeroName
{
	visibility: collapse;
}

.SummaryTooltip .Header .NameContainer .ViewingHeroName
{
	visibility: collapse;
}

.AllHeroes .SummaryTooltip .Header .NameContainer .ViewingHeroName
{
	visibility: visible;
}

.SummaryTooltip .Header .NameContainer .HeroSubtitle
{
	font-weight: semi-bold;
	opacity: 0.6;
}

.SummaryTooltip .Data
{
	padding: 8px;
	flow-children: down;
	width: 100%;
}

.SummaryTooltip .Footer
{
	padding: 0px;
	width: 100%;
	background-color: tooltipBGColorLight;
}

.AbilitySummary .AbilityProgressBarContainer
{
	width: 100%;
	margin: 8px;
}

.AbilitySummary .Footer
{
	height: 40px;
	background-color: tooltipBGColorDark;
}

.AbilitySummary .Footer .DamageTotalContainer
{
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
}

.AbilitySummary .Footer .DamageTotalContainer .TotalLabel
{
	vertical-align: center;
	font-size: 18px;
	margin-right: 10px;
	font-weight: semi-bold;
	opacity: 0.7;
}

.AbilitySummary .Footer .DamageTotalContainer .DamageValue
{
	vertical-align: center;
	font-size: 24px;
	font-weight: bold;
	font-family: sansMono;
}

#ReportToggle
{
	width: 220px;
	height: 50px;
	transform: rotateZ(90deg);
	margin-left: 0px;
	horizontal-align: right;
	vertical-align: middle;
	ignore-parent-flow: true;
	border-radius: 5px 5px 0px 0px;
	background-color: grey;
	background-color: gradient( linear, 0% 100%, 0% 70%, from( #3d3d3d ), to( grey ) );
	background-image: url("s2r://panorama/images/shop/dmg_report_texture_png.vtex");
	background-img-opacity: 0.2;
	z-index: 1;
	visibility: collapse;
}

#ReportToggle Label
{
	horizontal-align: center;
	vertical-align: middle;
	font-weight: semi-bold;
	opacity: 0.9;
}

.HeroSummary
{
	width: 360px;
}

.HeroSummary .Data
{
	height: 180px;
}

.HeroSummary .ModsContainer
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 15px;
	margin-left: 20px;
	height: fit-children;
	width: 368px;
	flow-children: right;
	visibility: visible;
	ui-scale: 90%;
}

.HeroSummary .Footer
{
	padding-top: 10px;
	background-color: tooltipBGColorDark;
	height: fit-children;
}

