/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define hintShowDuration: 0.25s;
@define hintTimingFunction: ease-in;
@define colorEmphasis: #FFCC00;
@define colorCommonOffBlack: #222222;
@define brandGreen: #C4FF47;
.TutorialPanel
{
	background-color: #00000000;
	width: 100%;
	height: 100%;
	z-index: 1000;
	transition-property: background-color;
	transition-duration: 0.3s;
}

#HeroTrainingIntro,#HeroTrainingOutro
{
	width: 600px;
	height: fit-children;
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

.showIntroModal #HeroTrainingIntro
{
	visibility: visible;
}

.showOutroModal #HeroTrainingOutro
{
	visibility: visible;
}

.showIntroModal .TutorialPanel,.showOutroModal .TutorialPanel
{
	background-color: #000000ee;
}

.showIntroModal .TutorialTasksContainer,.showOutroModal .TutorialTasksContainer
{
	visibility: collapse;
}

.introHeader
{
	width: 100%;
}

.introHeader Label
{
	font-size: 48px;
	font-weight: bold;
	vertical-align: middle;
	color: offWhite;
	font-family: serif;
	horizontal-align: center;
	text-align: center;
}

.ReportCardPanel .introHeader Label
{
	font-size: 16px;
	horizontal-align: center;
}

.introText
{
	font-size: 20px;
	opacity: 0.8;
	padding: 20px;
	font-weight: medium;
	text-align: center;
}

.introHighlight
{
	font-weight: semi-bold;
	color: #ffffff;
	background-color: red;
	border: 1px solid red;
}

.OutroNavigation
{
	flow-children: right;
	width: fit-children;
	vertical-align: center;
	horizontal-align: center;
	margin-bottom: 10px;
}

#StartButton,#ContinueButton
{
	background-color: offWhite;
	horizontal-align: center;
	margin-top: 10px;
	border-radius: 2px;
	margin-bottom: 30px;
	margin: 10px;
}

#StartButton Label,#ContinueButton Label
{
	font-size: 32px;
	font-family: serif;
	font-weight: bold;
	padding: 5px 30px;
	color: offBlack;
}

#StartButton:hover #ContinueButton:hover
{
	transform: translateY(-5px);
	brightness: 2;
}

#StartButton:hover Label #ContinueButton:hover Label
{
	color: offWhite;
}

.TutorialTasksContainer
{
	width: 320px;
	horizontal-align: right;
	margin: 30px;
	height: fit-children;
	overflow: noclip;
	ui-scale: 110%;
}

.heroTestingRideZiplineFinished .gShopOpen .TutorialTasksContainer
{
	vertical-align: bottom;
	height: 200px;
}

.TutorialPanel.HideSandboxTasks
{
	visibility: collapse;
}

.nonGuidedTesting .TutorialPanel
{
	visibility: collapse;
}

.NewPlayerTable
{
	flow-children: down;
	width: 100%;
}

.NewPlayerHeader
{
	margin-bottom: 0px;
	background-color: offBlack;
	width: 100%;
	padding: 10px;
}

.NewPlayerIcon
{
	width: 18px;
	height: 18px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_thumbsup.vsvg");
	wash-color: offWhite;
	background-size: contain;
	margin-bottom: 3px;
}

.NewPlayerTitle
{
	font-weight: bold;
	font-size: 18px;
	color: offWhite;
	vertical-align: middle;
	margin-top: 0px;
	margin-left: 28px;
	horizontal-align: left;
}

.EntryName
{
	font-weight: bold;
	horizontal-align: center;
	color: #222222;
}

.TaskStatus
{
	width: 40px;
	height: 40px;
	horizontal-align: right;
	margin-right: 5px;
	background-image: url("s2r://panorama/images/getting_started/checklist_task_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: visible;
}

.completed .TaskStatus
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
}

.sandboxAbility1Used .Ability1 .TaskStatus,.sandboxAbility1Passive .Ability1 .TaskStatus,.sandboxAbility2Used .Ability2 .TaskStatus,.sandboxAbility2Passive .Ability2 .TaskStatus,.sandboxAbility3Used .Ability3 .TaskStatus,.sandboxAbility3Passive .Ability3 .TaskStatus,.sandboxAbility4Used .Ability4 .TaskStatus,.sandboxAbility4Passive .Ability4 .TaskStatus
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
}

.NewPlayerTask
{
	width: 100%;
	font-size: 18px;
	font-weight: semi-bold;
	color: offWhite;
	opacity: 1;
	vertical-align: top;
	flow-children: down;
	background-color: offBlack&ee;
	border-radius: 5px;
	border: 3px solid offBlack;
}

.NewPlayerTask.FinishedRow
{
	flow-children: down;
}

.TaskText
{
	flow-children: down;
	margin: 10px;
	width: 100%;
}

.footnote
{
	color: #ffffff50;
	text-transform: uppercase;
	font-weight: medium;
	font-size: 14px;
}

.TaskSteps
{
	flow-children: down;
	height: 100%;
	width: 100%;
	border: 1px solid red;
}

.TaskName
{
	vertical-align: middle;
	font-size: 18px;
	horizontal-align: left;
	vertical-align: middle;
	font-weight: bold;
	margin: 5px 0px;
}

.TaskNumber
{
	font-size: 14px;
	font-style: italic;
	color: offWhite&70;
	margin-top: 2px;
	margin-bottom: -3px;
}

.TaskDesc
{
	vertical-align: middle;
	font-size: 16px;
	font-weight: normal;
}

@keyframes 'taskComplete'
{
	0%
	{
		brightness: 1;
		ui-scale: 100%;
		opacity: 1;
		wash-color: #00FF9900;
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		transform: translateY(10px);
		brightness: 2;
		opacity: 1;
		wash-color: #00FF99;
		pre-transform-scale2d: 1.15;
	}
	
	100%
	{
		brightness: 1;
		ui-scale: 100%;
		opacity: 0;
		wash-color: #00FF9900;
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'showTask'
{
	0%
	{
		opacity: 0;
		brightness: 2;
	}
	
	70%
	{
		opacity: 0;
		brightness: 2;
	}
	
	100%
	{
		opacity: 1;
		brightness: 1;
		pre-transform-scale2d: 1;
	}
	
}

#TutorialTask1,#TutorialTask2A,#TutorialTask2,#TutorialTask3,#TutorialTask4,#TutorialTask5,#TutorialTask6
{
	opacity: 0;
}

#TutorialTask1
{
	opacity: 1;
}

.heroTestingMovementFinished #TutorialTask1,.heroTestingMovementFinished #TutorialTask2,.heroTestingMovementFinished #TutorialTask3,.heroTestingMovementFinished #TutorialTask4
{
	opacity: 0;
}

.heroTestingMovementFinished #TutorialTask2A
{
	opacity: 1;
	animation-name: showTask;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

.heroTestingAbilityLearnFinished #TutorialTask1,.heroTestingAbilityLearnFinished #TutorialTask2A,.heroTestingAbilityLearnFinished #TutorialTask3,.heroTestingAbilityLearnFinished #TutorialTask4
{
	opacity: 0;
}

.heroTestingAbilityLearnFinished #TutorialTask2
{
	opacity: 1;
	animation-name: showTask;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
}

.heroTestingAbilityPurchasedFinished #TutorialTask1,.heroTestingAbilityPurchasedFinished #TutorialTask2A,.heroTestingAbilityPurchasedFinished #TutorialTask2,.heroTestingAbilityPurchasedFinished #TutorialTask4
{
	opacity: 0;
}

.heroTestingAbilityPurchasedFinished #TutorialTask3
{
	opacity: 1;
	animation-name: showTask;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
}

.heroTestingAbilityUpgradeFinished #TutorialTask1,.heroTestingAbilityUpgradeFinished #TutorialTask2A,.heroTestingAbilityUpgradeFinished #TutorialTask2,.heroTestingAbilityUpgradeFinished #TutorialTask3
{
	opacity: 0;
}

.heroTestingAbilityUpgradeFinished #TutorialTask4
{
	opacity: 1;
	animation-name: showTask;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
}

.heroTestingRideZiplineFinished #TutorialTask4
{
	opacity: 0;
}

.heroTestingRideZiplineFinished #TutorialTask5
{
	opacity: 1;
	animation-name: showTask;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
}

.heroTestingModPurchasedFinished #TutorialTask5
{
	opacity: 0;
}

.heroTestingModPurchasedFinished #TutorialTask6
{
	opacity: 1;
	animation-name: showTask;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
}

.heroTestingMovementFinished #TutorialTask1,.heroTestingAbilityLearnFinished #TutorialTask2A,.heroTestingAbilityPurchasedFinished #TutorialTask2,.heroTestingAbilityUpgradeFinished #TutorialTask3,.heroTestingRideZiplineFinished #TutorialTask4,.heroTestingModPurchasedFinished #TutorialTask5
{
	animation-name: taskComplete;
	animation-duration: 0.9s;
	animation-iteration-count: 1;
}

.MovementRow
{
	flow-children: right;
	width: 100%;
	height: fit-children;
	margin: 3px 0px;
}

.topRow
{
	margin-top: 15px;
}

.KeyboardShortcut
{
	font-size: 16px;
	font-weight: bold;
	background-color: #00000060;
	padding: 2px 10px 4px 10px;
	min-width: 105px;
	text-align: center;
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: middle;
	border-radius: 2px;
	color: offWhite;
}

.Command
{
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	margin-top: 1px;
	color: offWhite;
}

.InlineGlyph
{
	width: 20px;
	height: 20px;
}

.TaskName.Completed
{
	vertical-align: middle;
	font-weight: medium;
	color: #ffffff90;
}

.NewPlayerTaskSpacer
{
	width: 2px;
	height: 30px;
	background-color: #ffffff50;
	background-color: brandGreen;
	horizontal-align: right;
	margin: 0px 25px 0px 10px;
	visibility: visible;
	opacity: 0.75;
	border-radius: 3px;
}

#TutorialTask6
{
	visibility: collapse;
}

.AbilityUse,.AbilityUsed,.AbilityPassive
{
	font-size: 16px;
	font-weight: bold;
	background-color: #000000aa;
	padding: 2px 10px 3px 10px;
	margin-right: 10px;
	min-width: 90px;
	text-align: center;
	visibility: collapse;
}

.AbilityLearn
{
	font-size: 16px;
	font-weight: bold;
	background-color: #000000aa;
	padding: 2px 10px 3px 10px;
	margin-right: 10px;
	min-width: 90px;
	text-align: center;
	color: #000000;
	background-color: #B265EF;
}

.AbilityPassive,.AbilityUsed
{
	color: #ffffff;
}

.AbilityIcon
{
	width: 28px;
	height: 28px;
	vertical-align: middle;
	border-radius: 2px;
	margin-right: 10px;
}

.sandboxAbility1Learn .Ability1 .AbilityLearn,.sandboxAbility2Learn .Ability2 .AbilityLearn,.sandboxAbility3Learn .Ability3 .AbilityLearn,.sandboxAbility4Learn .Ability4 .AbilityLearn
{
	background-color: #555;
	color: #ffffff;
}

.sandboxAbility1Use .Ability1 .AbilityUse,.sandboxAbility1Used .Ability1 .AbilityUsed,.sandboxAbility1Passive .Ability1 .AbilityPassive,.sandboxAbility2Use .Ability2 .AbilityUse,.sandboxAbility2Used .Ability2 .AbilityUsed,.sandboxAbility2Passive .Ability2 .AbilityPassive,.sandboxAbility3Use .Ability3 .AbilityUse,.sandboxAbility3Used .Ability3 .AbilityUsed,.sandboxAbility3Passive .Ability3 .AbilityPassive,.sandboxAbility4Use .Ability4 .AbilityUse,.sandboxAbility4Used .Ability4 .AbilityUsed,.sandboxAbility4Passive .Ability4 .AbilityPassive
{
	visibility: visible;
}

