/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHudEscapeMenu
{
	width: 100%;
	height: 100%;
	background-color: #000c;
	transition-property: opacity;
	transition-duration: 0.2s;
	flow-children: none;
}

.InHideout CitadelHudEscapeMenu
{
	background-color: #0000;
}

#EscapeBackground
{
	width: 100%;
	height: 100%;
}

.ShowEscapeMenu #EscapeBackground
{
	animation-duration: 0.12s;
	animation-timing-function: ease-in-out;
}

@keyframes 'EscapeFade'
{
	0%
	{
		box-shadow: inset #31385000 0px 0px 0px;
	}
	
	100%
	{
		box-shadow: inset #31385033 0px 0px 800px;
	}
	
}

#LeftStripe
{
	height: 100%;
	width: 680px;
	flow-children: down;
	background-size: 100%;
	background-position: right;
	opacity: 0.0;
	transform: translateX( -40px );
	transition-property: opacity, transform;
	transition-duration: 0.2s;
}

.ShowEscapeMenu #LeftStripe
{
	opacity: 1.0;
	transform: none;
}

#LeftStripeBlur
{
	padding: 16px;
	height: 100%;
	width: 1000px;
	world-blur: menuBlur;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffffff ), to( #ffffff00 ) );
	background-color: gradient( linear, 100% 0%, 30% 0%, from( #0c0c0c00 ), to( #030303cc ) );
}

#Menu
{
	flow-children: none;
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 92px;
	vertical-align: bottom;
	overflow: noclip;
}

#ContextualMenu
{
	flow-children: down;
	margin-top: 260px;
}

#ContextualMenu .nav_menu_item
{
	background-image: url("s2r://panorama/images/main_menu/nav_bg_01.vsvg");
	background-img-opacity: 0.7;
	background-size: 100%;
	padding: 8px 32px 6px;
	margin-bottom: 12px;
	pre-transform-scale2d: 0.98;
	pre-transform-rotate2d: -1deg;
	opacity-mask: url("s2r://panorama/images/main_menu/text_speckle_mask_main_psd.vtex") 0.7;
	opacity-mask-scale: 100% 200%;
}

#ContextualMenu .nav_menu_item .menuButtonLabel
{
	color: offWhite&cc;
}

#ContextualMenu .nav_menu_item.endsession
{
	background-image: url("s2r://panorama/images/main_menu/nav_bg_red.vsvg");
}

#ContextualMenu .nav_menu_item:hover Label.menuButtonLabel
{
	color: offWhite;
}

#ContextualMenu .nav_menu_item:hover
{
	pre-transform-scale2d: 1;
	background-img-opacity: 1;
}

.nav_menu_item
{
	flow-children: right;
	overflow: noclip;
	transition-property: pre-transform-scale2d, background-img-opacity;
	transition-duration: 0.08s;
}

.nav_menu_item:hover
{
	sound: soundMainMenuHover;
}

.nav_menu_item:active
{
	sound: soundMainMenuActivate;
}

.nav_menu_item:disabled
{
	brightness: 0.3;
}

.nav_menu_item:hover Label.menuButtonLabel
{
	color: #69e799;
	pre-transform-scale2d: 1.00;
}

.nav_menu_item:active Label
{
	color: offWhite&cc;
}

.nav_menu_item:active Image
{
	opacity: 1;
}

.nav_menu_item Label.menuButtonLabel
{
	font-size: 44px;
	font-weight: bold;
	vertical-align: center;
	font-family: block;
	overflow: noclip;
	transition-property: color, transform;
	transition-duration: 0.12s;
	color: offWhite&cc;
	overflow: noclip;
	opacity-mask-scale: 160% 160%;
}

.nav_menu_item .menuButtonLabel
{
	horizontal-align: middle;
	text-overflow: shrink;
}

.nav_menu_item.primary
{
	margin: 0px;
	padding: 0px 0px;
	horizontal-align: left;
	flow-children: right;
	overflow: noclip;
}

#quit
{
	background-image: url("s2r://panorama/images/main_menu/exit_bg.vsvg");
	background-size: 100%;
	background-img-opacity: 0.7;
	padding: 6px 12px 5px 12px;
	margin: 20px 0px 0px -12px;
	opacity-mask: url("s2r://panorama/images/main_menu/text_speckle_mask_main_psd.vtex") 0.7;
	opacity-mask-scale: 100% 200%;
	transition-property: color, background-color, box-shadow, text-shadow, background-img-opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#quit Label
{
	font-size: 24px;
	color: offWhite&aa;
	font-family: block;
	transition-property: color, background-color, box-shadow, text-shadow;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#quit:hover
{
	background-img-opacity: 1;
}

#quit:hover Label
{
	color: offWhite&aa;
	text-shadow: 0px 0px 16px #FF565622;
}

.nav_menu_item.resume:hover Label
{
	color: ritualGreenLight;
	z-index: 100;
	font-size: 60px;
	transform: rotateZ(-1deg);
}

.nav_menu_item.suboption
{
	background-color: #7FAE3A;
	border-radius: 0px 0px 3px 3px;
	margin: 0px;
	margin-bottom: 10px;
	margin-top: 2px;
	visibility: collapse;
}

.nav_menu_item.suboption Label
{
	color: #262626;
}

.nav_menu_item.minor
{
	background-color: none;
	margin: 0px;
}

.nav_menu_item.minor Label
{
	font-size: 24px;
	height: 32px;
	padding-top: 2px;
	color: offWhite&44;
	vertical-align: middle;
	font-family: block;
	overflow: noclip;
	transition-property: color;
	transition-duration: 0.1s;
}

.nav_menu_item.minor .smallIcon
{
	width: 20px;
	height: 20px;
	opacity: 0.2;
	margin-right: 6px;
	vertical-align: middle;
	wash-color: offWhite;
	visibility: collapse;
	transition-property: opacity, wash-color;
	transition-duration: 0.3s;
}

.nav_menu_item.minor .smallIcon.GearIcon
{
	background-image: url("s2r://panorama/images/icons/icon_gear.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.nav_menu_item.minor:hover Label
{
	color: #4DD88366;
}

.nav_menu_item.minor:hover .smallIcon
{
	wash-color: #4DD883;
	opacity: 1;
}

.nav_menu_item.minor.QuickZoo
{
	margin-left: 4px;
}

.MenuIcon
{
	width: 50px;
	height: 60px;
	ignore-parent-flow: true;
	transform: translateY(30px);
	horizontal-align: left;
	wash-color: offWhite;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-delay: 0s;
}

.nav_menu_item:hover .MenuIcon
{
	opacity: 0.1;
	transition-duration: 0s;
}

#changehero .MenuIcon
{
	background-image: url("s2r://panorama/images/icons/hero_grid.vsvg");
	width: 60px;
	transform: translateX(230px) translateY(55px) rotateZ(-12deg);
}

#SubOptions
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	overflow: noclip;
	vertical-align: bottom;
	margin: 0px 0px 132px 8px;
}

#QuickMute
{
	width: 24px;
	height: 24px;
	background-image: url("s2r://panorama/images/icons/icon_sound_on.vsvg");
	background-size: contain;
	opacity: 0.2;
	margin-left: 8px;
	vertical-align: middle;
	transform: translateY( -2px );
	transition-property: opacity, pre-transform-scale2d, background-image;
	transition-duration: 0.2s;
}

#QuickMute:hover
{
	pre-transform-scale2d: 1.1;
	saturation: 0.8;
}

.muted #QuickMute
{
	background-image: url("s2r://panorama/images/icons/icon_sound_off.vsvg");
}

.muted #QuickMute:hover
{
	pre-transform-scale2d: 1.2;
}

.QuickZoo
{
	width: 24px;
	height: 24px;
	background-image: url("s2r://panorama/images/icons/icon_zoo.vsvg");
	background-size: contain;
	opacity: 0.05;
	wash-color: offWhite;
	vertical-align: middle;
	transform: translateY( -2px );
	margin-left: 20px;
	transition-property: opacity, pre-transform-scale2d, background-image;
	transition-duration: 0.2s;
}

.QuickZoo:hover
{
	pre-transform-scale2d: 1.1;
	saturation: 0.8;
}

.OptionGroup
{
	flow-children: down;
	margin: 0px 0px 24px 0px;
}

.MatchmakingOptions
{
	visibility: collapse;
}

.ShowMatchmakingOptions .MatchmakingOptions
{
	visibility: visible;
}

.ReconnectOptions
{
	visibility: collapse;
}

.CanReconnect .ReconnectOptions
{
	visibility: visible;
}

#disconnect
{
	visibility: collapse;
}

.CanDisconnect #disconnect
{
	visibility: visible;
}

#abandon
{
	visibility: collapse;
}

.CanAbandon #abandon
{
	visibility: visible;
}

#changehero
{
	visibility: collapse;
	pre-transform-rotate2d: -1.7deg;
	vertical-align: bottom;
	margin-bottom: 280px;
	opacity-mask: url("s2r://panorama/images/main_menu/text_speckle_mask_main_psd.vtex") 0.7;
	opacity-mask-scale: 100% 200%;
}

#changehero Label.menuButtonLabel
{
	font-size: 60px;
}

#changehero:hover
{
	pre-transform-rotate2d: -2.8deg;
}

.CanChangeHero #changehero
{
	visibility: visible;
}

.IsMatchmaking #changehero
{
	pre-transform-scale2d: 1;
}

.ShowEscapeMenu #changehero
{
	animation-name: ChangeHeroIntro;
	animation-duration: .24s;
	animation-timing-function: ease-in-out;
}

@keyframes 'ChangeHeroIntro'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 0.2;
		pre-transform-rotate2d: -10deg;
	}
	
	80%
	{
		pre-transform-scale2d: 1.1;
		pre-transform-rotate2d: 2deg;
	}
	
	100%
	{
		opacity: 1;
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: -2.2deg;
	}
	
}

.FeedbackRow
{
	margin-top: 28px;
	flow-children: right;
}

.FeedbackRow #PlayerFeedback .menuButtonLabel
{
	text-transform: uppercase;
}

.FeedbackRow #Unstick
{
	width: 24px;
	height: 24px;
	background-image: url("s2r://panorama/images/icons/icon_refresh.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.05;
	margin-left: 8px;
	vertical-align: middle;
	transform: translateY( -2px );
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.FeedbackRow #Unstick:hover
{
	pre-transform-scale2d: 1.1;
	saturation: 0.8;
}

.SettingsRow
{
	flow-children: right;
	overflow: noclip;
}

#EscapeButton
{
	flow-children: right;
	vertical-align: bottom;
	margin: 16px;
	opacity: 0.2;
	transition-property: brightness;
	transition-timing-function: ease-in-out;
	transition-duration: 0.10s;
}

#EscapeButton:hover
{
	brightness: 2.0;
}

#EscapeButton > Label
{
	margin-left: 6px;
	font-size: 20px;
	color: offWhite&88;
	font-family: block;
	text-transform: uppercase;
	vertical-align: center;
	padding-top: 1px;
}

#SocialContainer
{
	vertical-align: top;
	horizontal-align: right;
	flow-children: down;
	width: 600px;
	opacity: 0.0;
	transform: translateX( 40px );
	transition-property: opacity, transform;
	transition-duration: 0.2s;
}

.ShowEscapeMenu #SocialContainer
{
	opacity: 1.0;
	transform: none;
}

#devCommandsMenu
{
	width: 600px;
	width: 400px;
	horizontal-align: right;
	vertical-align: bottom;
	z-index: 99;
}

#RightSideBlur
{
	height: 100%;
	width: 720px;
	world-blur: ingameHudBlur;
	opacity-brush: gradient( linear, 100% 0%, 0% 0%, from( #ffffff ), to( #ffffff00 ) );
	horizontal-align: right;
}

#RightSide
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #040402 ), to( #04040222 ) );
	flow-children: down;
}

#RightSide #PartySpacer
{
	horizontal-align: right;
	margin: 16px 16px 0px 0px;
	height: 84px;
}

#RightSide .FriendsOrPlayersTabs
{
	horizontal-align: right;
	width: 400px;
	margin: 0px 20px 8px 0px;
	visibility: collapse;
}

.ShowPlayers #RightSide .FriendsOrPlayersTabs
{
	visibility: visible;
}

#RightSide .FriendsOrPlayersTabs .Center
{
	flow-children: right;
	horizontal-align: center;
}

#RightSide .FriendsOrPlayersTabs .FriendsOrPlayersButton
{
	background-color: #181716;
	border: 1px solid #181716;
	border-radius: 20px;
	margin: 4px;
	width: 188px;
	padding: 2px 0px;
}

#RightSide .FriendsOrPlayersTabs TabButton Label
{
	padding: 0px 20px;
	font-size: 16px;
	font-weight: semi-bold;
	text-align: center;
	horizontal-align: center;
	color: offWhite&44;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#RightSide .FriendsOrPlayersTabs TabButton:selected
{
	background-color: offWhite&22;
}

#RightSide .FriendsOrPlayersTabs TabButton:selected Label
{
	color: offWhite;
}

#RightSide .FriendsOrPlayersContents
{
	width: 100%;
	horizontal-align: right;
	padding-right: 16px;
	margin-top: 4px;
	opacity: 0.0;
	transform: translateX( 40px );
	transition-property: opacity, transform;
	transition-duration: 0.08s;
	transition-timing-function: ease-in-out;
}

.ShowEscapeMenu #RightSide .FriendsOrPlayersContents
{
	opacity: 1.0;
	transform: none;
}

#RightSide .FriendsOrPlayersContents TabContents
{
	width: 100%;
	opacity: 0.0;
	transform: translateX( 20px );
	transition-property: opacity, transform;
	transition-duration: 0.2s;
}

#RightSide .FriendsOrPlayersContents TabContents:selected
{
	opacity: 1.0;
	transform: none;
}

#RightSide .FriendsOrPlayersContents TabContents #FriendsList
{
	width: 100%;
}

#RightSide .FriendsOrPlayersContents TabContents #PlayersList
{
	width: 100%;
}

#PrivilegedFeatures
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 48px;
}

