/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.damageImpactContainer
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: top;
	width: fit-children;
	height: fit-children;
	ui-scale: 80%;
	margin-top: 170px;
	transition-property: opacity;
	transition-duration: 1s;
}

#damageImpactInfo
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
	transition-property: opacity;
	transition-duration: 1s;
}

.damageImpactInstance
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
	pre-transform-scale2d: .1;
	opacity: 0;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: .32s;
	transition-timing-function: cubic-bezier(.75,1.53,.97,1.4);
	margin: 20px;
}

.playerName
{
	flow-children: right;
	font-size: 18px;
	color: #FF5F11;
	margin-left: 4px;
	vertical-align: center;
}

.is_heal .playerName
{
	color: #eae4c8;
	text-shadow: 0px 0px 3.0 #000000;
	font-weight: bold;
}

.damageValue
{
	visibility: collapse;
}

.healthBarContainer
{
	width: 140px;
	height: 30px;
	background-color: #222222;
	border-bottom: 2px solid #343435;
	z-index: 2;
	border: 2px solid #222;
}

#healthBar
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

#healthRemaining
{
	flow-children: right;
	width: 120px;
	height: 100%;
	background-color: #884A2D;
	border-bottom: 2px solid #FD6011;
}

.is_heal #healthRemaining
{
	background-color: #eae4c8;
	border-bottom: 2px solid #fffcea;
}

#healthRemoved
{
	width: 10px;
	height: 100%;
	background-color: white;
	transition-property: width, background-color;
	transition-duration: 0.5s;
}

.techShieldBarContainer
{
	width: 140px;
	height: 15px;
	background-color: #222222;
	border-bottom: 2px solid #343435;
	z-index: 2;
	border: 2px solid #222;
	visibility: collapse;
}

.has_tech_shield .techShieldBarContainer
{
	visibility: visible;
}

#techShieldBar
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

#techShieldRemaining
{
	flow-children: right;
	width: 120px;
	height: 100%;
	background-color:lightblue;
	border-bottom: 2px solid rgb(3, 141, 233);
	transition-property: width;
	transition-duration: 0.5s;
}

.is_heal #techShieldRemaining
{
	transition-duration: 1s;
}

#techShieldRemoved
{
	width: 10px;
	height: 100%;
	background-color: white;
	transition-property: width, background-color;
	transition-duration: 0.5s;
}

.bulletShieldBarContainer
{
	width: 140px;
	height: 15px;
	background-color: #222222;
	border-bottom: 2px solid #343435;
	z-index: 2;
	border: 2px solid #222;
	visibility: collapse;
}

.has_bullet_shield .bulletShieldBarContainer
{
	visibility: visible;
}

#bulletShieldBar
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

#bulletShieldRemaining
{
	flow-children: right;
	width: 120px;
	height: 100%;
	background-color: orange;
	border-bottom: 2px solid rgb(209, 108, 0);
	transition-property: width;
	transition-duration: 0.5s;
}

.is_heal #bulletShieldRemaining
{
	transition-duration: 1s;
}

#bulletShieldRemoved
{
	width: 10px;
	height: 100%;
	background-color: white;
	transition-property: width, background-color;
	transition-duration: 0.5s;
}

#heroIconContainer
{
	width: 120px;
	height: 120px;
	margin-bottom: -16px;
	horizontal-align: center;
}

#heroIconBackground
{
	width: 120px;
	height: 120px;
	border: 2px solid black;
	border-radius: 50%;
	background-color: #900;
	box-shadow: fill 0px 2px 12px black;
}

.is_heal #heroIconBackground
{
	background-color: rgb(15, 110, 2);
}

#heroIcon
{
	visibility: visible;
	width: 120px;
	height: 120px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.killText
{
	vertical-align: center;
	horizontal-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	pre-transform-rotate2d: -25deg;
	color: white;
	visibility: collapse;
	text-transform: uppercase;
}

.killed #killLabel
{
	visibility: visible;
}

.assist #assistLabel
{
	visibility: visible;
}

#heroIcon.heroDead
{
	wash-color: red;
}

.damageImpactInstance.fadeIn.fadeOut
{
	opacity: 0;
	pre-transform-scale2d: 1;
}

.damageImpactInstance.fadeIn
{
	transition-duration: 3s;
	pre-transform-scale2d: 1;
	opacity: 1;
}

