/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHudPersonalBest
{
	width: 300px;
	height: 450px;
	border: 5px solid #ffffff90;
	background-color: #ffffff20;
	horizontal-align: center;
	margin-top: 200px;
	border-radius: 200px 200px 5px 5px;
	visibility: collapse;
	flow-children: down;
	animation-name: DeathStatTransitionIn;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

@keyframes 'DeathStatTransitionIn'
{
	0%
	{
		opacity: 0;
		transform: translateY(180px);
		pre-transform-scale2d: 0.8;
	}
	
	60%
	{
		opacity: 1;
		transform: translateY(0px);
		pre-transform-scale2d: 1.2;
	}
	
	90%
	{
		opacity: 1;
		transform: translateY(0px);
		pre-transform-scale2d: 1.2;
	}
	
	100%
	{
		opacity: 1;
		transform: translateY(0px);
		pre-transform-scale2d: 1;
	}
	
}

#Intro
{
	horizontal-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
	font-weight: bold;
}

.IntroText
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	color: #ffffff90;
}

#StatContent
{
	horizontal-align: center;
	flow-children: down;
	width: 100%;
}

#StatIcon
{
	horizontal-align: center;
	width: 200px;
	height: 170px;
	margin-bottom: -30px;
	opacity-mask: url("s2r://panorama/images/masks/fade-bottom_psd.vtex");
	horizontal-align: center;
}

.ability_stat #StatIcon
{
	width: 80px;
	height: 80px;
	margin: 20px;
}

.StatTitle
{
	width: 100%;
	padding: 0px 10px;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 0px 5px #000000 3.0;
	height: 86px;
	text-overflow: shrink;
	font-family: sans;
}

#StatAchievement
{
	horizontal-align: center;
	margin-bottom: 10px;
}

.NewRecord
{
	color: #00FF99;
	font-weight: bold;
	text-shadow: 0px 0px 3.0 #00000060;
	visibility: visible;
	margin: 5px 0px;
}

#StatDescription
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: down;
	text-align: center;
	background-color: #ffffff90;
	padding: 0px 10px;
	width: 100%;
	min-height: 130px;
	font-family: sans;
}

.StatDesc
{
	text-align: center;
	font-size: 18px;
	color: #525252;
	font-weight: medium;
	vertical-align: middle;
	text-overflow: shrink;
	horizontal-align: center;
}

.PrevStatDesc
{
	text-align: center;
	font-size: 12px;
	color: grey;
	font-weight: medium;
	vertical-align: middle;
	text-overflow: shrink;
	horizontal-align: center;
}

.highlight
{
	font-weight: bold;
	color: #2c2c2c;
}

