/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@import url("s2r://panorama/styles/ability_icons.vcss_c");
.QuickbuyItem
{
	width: 50px;
	padding: 4px;
	horizontal-align: center;
	opacity: 0.5;
	flow-children: right;
	height: 50px;
	box-shadow: 0px 0px 40px #00000020;
	transition-property: width, opacity;
	transition-duration: 0.1s;
}

.QuickbuyPurchaseToast .QuickbuyItem
{
	width: 230px;
	min-height: 60px;
	height: fit-children;
}

.QuickbuyItem.IsBeingDragged
{
	horizontal-align: left;
	width: 230px;
}

.QuickbuyItem.IsBeingDragged.isWeapon
{
	background-color: weaponColorMedium;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( weaponColorMedium ), to( offWhite&30 ) );
}

.QuickbuyItem.IsBeingDragged.isArmor
{
	background-color: fortitudeColor;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( fortitudeColor ), to( offWhite&30 ) );
}

.QuickbuyItem.IsBeingDragged.isTech
{
	background-color: spiritColor;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( spiritColor ), to( offWhite&30 ) );
}

.QuickbuyItem:hover
{
	width: 230px;
}

.QuickbuyItem:hover .NamePanel
{
	opacity: 1;
}

.QuickbuyItem.CanAffordCumulative
{
	opacity: 1;
}

.QuickbuyItem.CanAffordCumulative .ReadyIcon
{
	opacity: 1;
}

.QuickbuyItem.CanAffordCumulative.exceedsItemSlot
{
	opacity: 0.3;
}

.QuickbuyItem.CanAffordCumulative.exceedsItemSlot .ReadyIcon
{
	opacity: 1;
}

.QuickbuyItem.Sell
{
	wash-color: #0000FF88;
}

.QuickbuyItem .NumberLabel
{
	vertical-align: center;
	padding: 4px;
	font-weight: bold;
	text-align: center;
	width: 30px;
	margin-right: 5px;
	text-overflow: shrink;
}

.ToastPanel .QuickbuyItem .NumberLabel
{
	visibility: collapse;
}

.QuickbuyItem .NamePanel
{
	margin-left: 10px;
	flow-children: down;
	vertical-align: center;
}

.QuickbuyItem #ModIcon
{
	vertical-align: center;
	horizontal-align: left;
	margin-top: 3px;
}

.QuickbuyItem #ModName
{
	vertical-align: bottom;
	max-height: 30px;
	text-overflow: shrink;
	font-size: 16px;
	font-weight: bold;
	color: offWhite;
}

.QuickbuyItem .CostPanel
{
	visibility: visible;
	padding: 0px;
	flow-children: right;
	vertical-align: center;
	horizontal-align: left;
	margin-top: -2px;
	padding: 0px 3px;
	border-radius: 3px;
}

.QuickbuyItem .CostPanel #ModCost
{
	color: shardColor;
	color: #ff6161;
	font-weight: bold;
	font-size: 16px;
	margin-left: 3px;
}

.QuickbuyItem .CostPanel .goldIcon
{
	height: 15px;
	width: 8px;
	margin-top: 3px;
	wash-color: #ff6161;
}

.QuickbuyItem.IsDragTarget
{
	saturation: 0;
	brightness: 1.2;
}

.ExampleToast #ModName
{
	color: offBlack;
	margin-top: 0px;
	margin-left: 0px;
}

#QuickbuyNext
{
	width: 100%;
	height: 100%;
	background-color: offWhite&10;
}

#QuickbuyNext #ItemContentPanel
{
	flow-children: none;
	horizontal-align: center;
	vertical-align: center;
}

#QuickbuyNext .QuickbuyItem
{
	height: 100%;
}

#QuickbuyNext .NamePanel,#QuickbuyNext #ControlIcons
{
	visibility: collapse;
}

#QuickbuyNext #ModIcon
{
	ui-scale: 120%;
	horizontal-align: center;
	vertical-align: middle;
	tooltip-position: top;
}

#QuickbuyNext CitadelModIcon
{
	tooltip-position: left;
}

#QuickbuyNext .QuickbuyLabel .QuickbuyLabel,.MoreThanOneItemInQueue #QuickbuyNext .QuickbuyLabel
{
	visibility: collapse;
}

#QuickbuyNext .QuickbuyLabel .QuickbuyLabelQueueSize,.MoreThanOneItemInQueue #QuickbuyNext .QuickbuyLabelQueueSize
{
	visibility: visible;
}

#QuickbuyNext .ReadyIcon
{
	ignore-parent-flow: true;
}

.ShowQueue #QuickbuyNext .ItemReadyIndicator,.gScoreboardOpen #QuickbuyNext .ItemReadyIndicator,.gShopOpen #QuickbuyNext .ItemReadyIndicator
{
	visibility: collapse;
}

#ReorderButton
{
	margin-left: 0px;
	width: 30px;
	height: 30px;
	vertical-align: center;
	horizontal-align: right;
	margin-right: 3px;
	visibility: collapse;
	background-size: auto 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/icons/icon_reorder.vsvg");
	transition-property: opacity;
	wash-color: #000;
	opacity: 0.3;
}

.ToastPanel #ReorderButton
{
	visibility: collapse;
}

.IsBeingDragged #ReorderButton
{
	visibility: collapse;
}

#ReorderButton:hover
{
	opacity: 0.5;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.gShopOpen #ReorderButton
{
	visibility: visible;
}

.gScoreboardOpen .InShopZone #ReorderButton
{
	visibility: visible;
}

#ControlIcons
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: middle;
}

.QuickbuyLabel,.QuickbuyLabelQueueSize
{
	opacity: 0.8;
	visibility: collapse;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.Language_japanese .QuickbuyLabel
{
	max-height: 24px;
	text-overflow: shrink;
}

.QuickbuyLabel
{
	visibility: visible;
	opacity: 0.6;
	margin-left: 0px;
}

#QuickbuyQueue .QuickbuyLabel,#QuickbuyQueue .QuickbuyLabelQueueSize,#QuickbuySellQueue .QuickbuyLabel,#QuickbuySellQueue .QuickbuyLabelQueueSize
{
	visibility: collapse;
}

#QuickbuyQueue #ModIcon,#QuickbuySellQueue #ModIcon
{
	ui-scale: 90%;
	padding: 0px;
	height: 100%;
}

#QuickbuyQueue .QuickbuyItem,#QuickbuySellQueue .QuickbuyItem
{
	width: 95%;
	horizontal-align: left;
	brightness: 0.8;
	background-color: offWhite&50;
}

#QuickbuyQueue .QuickbuyItem.isWeapon,#QuickbuySellQueue .QuickbuyItem.isWeapon
{
	background-color: weaponColorMedium;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( weaponColorMedium ), to( offWhite&30 ) );
}

#QuickbuyQueue .QuickbuyItem.isArmor,#QuickbuySellQueue .QuickbuyItem.isArmor
{
	background-color: fortitudeColor;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( fortitudeColor ), to( offWhite&30 ) );
}

#QuickbuyQueue .QuickbuyItem.isTech,#QuickbuySellQueue .QuickbuyItem.isTech
{
	background-color: spiritColor;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( spiritColor ), to( offWhite&30 ) );
}

#QuickbuyQueue .QuickbuyItem.CanAffordCumulative,#QuickbuySellQueue .QuickbuyItem.CanAffordCumulative
{
	border-bottom: 1px solid #00000040;
}

#QuickbuyQueue .QuickbuyItem.CanAffordCumulative:hover,#QuickbuySellQueue .QuickbuyItem.CanAffordCumulative:hover
{
	brightness: 1.5;
}

#ItemContentPanel
{
	flow-children: right;
}

#ItemContentPanel:hover
{
	brightness: 1.1;
	pre-transform-scale2d: 1.02;
	transition-property: brigtness,pre-transform-scale2d;
	transition-duration: 0.1s;
}

.CanAffordCumulative .CostPanel #ModCost
{
	color: shardColor;
}

.CanAffordCumulative .CostPanel .goldIcon
{
	wash-color: shardColor;
}

.QuickbuyPurchaseToast .CostPanel #ModCost
{
	color: shardColor;
}

.QuickbuyPurchaseToast .CostPanel .goldIcon
{
	wash-color: shardColor;
}

#HudMini .CostPanel
{
	visibility: collapse;
}

#DeleteButton
{
	margin-left: 0px;
	width: 30px;
	height: 30px;
	vertical-align: center;
	horizontal-align: right;
	visibility: collapse;
	background-size: auto 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
	wash-color: #000;
	opacity: 0.3;
}

.ToastPanel #DeleteButton
{
	visibility: collapse;
}

.IsBeingDragged #DeleteButton
{
	visibility: collapse;
}

#DeleteButton:hover
{
	brightness: 1.1;
	wash-color: #ff6161;
	opacity: 0.7;
	pre-transform-scale2d: 1.1;
	transition-property: brigtness,pre-transform-scale2d;
	transition-duration: 0.1s;
}

.gShopOpen #DeleteButton
{
	visibility: visible;
}

.gScoreboardOpen .InShopZone #DeleteButton
{
	visibility: visible;
}

#ExceedItemSlotLabel,#SellItemSlotLabel
{
	visibility: collapse;
	font-size: 12px;
	vertical-align: center;
	color: #ffffff90;
	font-weight: semi-bold;
	margin-left: 5px;
	background-color: #ffffff90;
	color: offBlack;
	color: colorEnemy;
	padding: 0px 3px;
	border-radius: 2px;
}

#ExceedItemSlotLabel Label
{
	font-weight: bold;
}

.exceedsItemSlot #ExceedItemSlotLabel
{
	visibility: visible;
}

.ToastPanel .exceedsItemSlot #ExceedItemSlotLabel
{
	visibility: collapse;
}

.Sell #SellItemSlotLabel
{
	visibility: visible;
}

.ToastPanel .Sell #SellItemSlotLabel
{
	visibility: collapse;
}

