/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

#silenced_effect
{
	opacity: 0;
	background-color: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( rgba( 0, 0, 0, 0 ) ), color-stop( 0.4, rgba(0, 0, 0, 0 ) ), color-stop( 0.6, rgba(223, 183, 255, 0.3) ), to( rgba(226, 195, 255, 0.4) ) );
	width: 100%;
	height: 100%;
	transition: opacity 0.1s ease-in 0.0s, background-color 0.35s ease-out 0.0s;
}

.silenced #silenced_effect
{
	opacity: 1;
	background-color: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( rgba( 0, 0, 0, 0 ) ), color-stop( 0.65, rgba(0, 0, 0, 0 ) ), color-stop( 0.75, rgba(167, 59, 255, 0.2) ), to( rgba(132, 0, 255, 0.4) ) );
	transition: opacity 0.1s ease-in 0.0s, background-color 1s ease-out 0.0s;
}

@keyframes 'cast_cast_flash'
{
	0%
	{
		background-color: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( rgba( 0, 0, 0, 0 ) ), color-stop( 0.3, rgba(0, 0, 0, 0 ) ), color-stop( 0.4, rgba(246, 179, 255, 0.3) ), to( rgba(248, 195, 250, 0.4) ) );
	}
	
	100%
	{
		background-color: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( rgba( 0, 0, 0, 0 ) ), color-stop( 0.5, rgba(0, 0, 0, 0 ) ), color-stop( 0.6, rgba(167, 59, 255, 0.3) ), to( rgba(132, 0, 255, 0.4) ) );
	}
	
}

.cast_failed.silenced #silenced_effect
{
	animation-name: cast_cast_flash;
	animation-duration: 0.1s;
	animation-iteration-count: 1;
	transition-property: background-color;
}

