/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHudShieldsContainer
{
	height: 120px;
	width: 70px;
	visibility: collapse;
}

.ShieldContainer
{
	visibility: collapse;
	overflow: noclip;
}

.HasBulletShield #BulletShieldContainer,.HasTechShield #TechShieldContainer
{
	visibility: visible;
}

#TechShieldContainer
{
	margin-top: 0px;
	margin-right: 20px;
	horizontal-align: right;
}

.HasBulletShield #TechShieldContainer
{
	margin-right: 0px;
	margin-top: 45px;
}

.RadialClipProgress,.RadialClipBackground
{
	height: 45px;
	width: 45px;
	border-radius: 25px;
	transform: rotateY( 180deg );
}

.RadialClipBackground
{
	background-color: #0F2100;
}

#BulletRadialClipProgress
{
	border: 3px solid courageBrightColor;
}

#TechRadialClipProgress
{
	border: 3px solid spiritBrightColor;
}

.ShieldsCurrentValue
{
	vertical-align: bottom;
	horizontal-align: right;
	font-size: 14px;
	margin-bottom: 4px;
	font-weight: bold;
	text-shadow: 0px 0px 0px 3.0 offBlack;
	transform: rotateZ(-10deg);
}

.ShieldIcon
{
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 4px;
	height: 23px;
	width: 21px;
	background-size: 100% 100%;
	wash-color: offWhite;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.BulletShieldIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_force.vsvg");
	opacity: 0.7;
	wash-color: courageBrightColor;
}

.TechShieldIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_mystic.vsvg");
	wash-color: spiritBrightColor;
	opacity: 0.7;
}

.BulletShieldEmpty #BulletShieldContainer,.TechShieldEmpty #TechShieldContainer
{
	opacity: 0.5;
}

.BulletShieldEmpty #BulletShieldContainer .BulletShieldIcon,.TechShieldEmpty #TechShieldContainer .TechShieldIcon
{
	wash-color: none;
}

.BulletShieldEmpty #BulletShieldContainer .ShieldsCurrentValue,.TechShieldEmpty #TechShieldContainer .ShieldsCurrentValue
{
	color: #cc340a;
}

CitadelHudShieldsContainer
{
	visibility: collapse;
}

