/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
@define hintShowDuration: 0.25s;
@define hintTimingFunction: ease-in;
@define colorEmphasis: #FFCC00;
@define colorCommonOffBlack: #222222;
.ReportCardContainer
{
	width: 100%;
	height: 100%;
	z-index: 100;
	color: offWhite;
}

#UnlockToBegin
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: 280px;
	background-color: #000000ee;
	padding: 30px 70px;
	border-radius: 10px;
	visibility: collapse;
}

#UnlockToBegin Label
{
	font-size: 24px;
	font-weight: semi-bold;
	color: offWhite;
}

.GameStatePreGame.unlock_available #UnlockToBegin
{
	visibility: visible;
}

#ReportCardIntro
{
	width: 600px;
	height: fit-children;
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

#ReportCardOutro
{
	width: 600px;
	height: fit-children;
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

#IntroLeft
{
	width: 600px;
	height: 100%;
	flow-children: down;
	height: fit-children;
	padding-bottom: 30px;
}

#IntroLeft
{
	width: 100%;
	height: fit-children;
	padding-bottom: 30px;
}

#IntroRight
{
	width: 300px;
	min-height: 390px;
	flow-children: down;
	background-color: #00000030;
	visibility: collapse;
}

.introHeader
{
	width: 100%;
}

#IntroRight .introHeader
{
	background-color: offBlack;
}

.ReportCardPanel .introHeader
{
	height: 35px;
}

.introHeader Label
{
	font-size: 36px;
	font-weight: bold;
	vertical-align: middle;
	horizontal-align: center;
	font-family: serif;
}

#IntroRight .introHeader Label,.ReportCardPanel .introHeader Label
{
	font-size: 16px;
	horizontal-align: center;
}

.introText
{
	font-size: 20px;
	color: offWhite&90;
	padding: 20px;
	font-weight: medium;
	text-align: center;
}

.introHighlight
{
	font-weight: bold;
	color: offWhite;
}

#StartButton
{
	background-color: offWhite;
	horizontal-align: center;
	margin-top: 10px;
	border-radius: 2px;
	transition-property: background-color;
	transition-duration: 0.2s;
}

#StartButton Label
{
	font-size: 36px;
	font-family: serif;
	font-weight: bold;
	padding: 5px 30px;
	color: #333;
}

#StartButton:hover
{
	background-color: offBlack;
}

#StartButton:hover Label
{
	color: offWhite;
	font-style: italic;
}

.targetsContainer
{
	flow-children: down;
	horizontal-align: center;
	margin: 10px 30px 20px 30px;
}

.trainingTarget
{
	flow-children: right;
	margin: 10px 0px;
}

.trainingTargetIcon
{
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-right: 10px;
	background-size: contain;
	img-shadow: 0px 0px 20px #000000;
	margin-top: 5px;
}

.ReportCardPanel .trainingTargetIcon,#ReportCardOutro .trainingTargetIcon
{
	horizontal-align: center;
}

.VISIBILITY_COLLAPSE
{
	visibility: collapse;
}

.trainingTargetIcon.last_hits
{
	wash-color: #02EAEA;
	wash-color: brandGreen;
	background-image: url("s2r://panorama/images/post_game/stat_objective_damage_png.vtex");
}

.trainingTargetIcon.orbs_secured
{
	wash-color: #02EAEA;
	wash-color: brandGreen;
	background-image: url("s2r://panorama/images/post_game/stat_objective_damage_png.vtex");
}

.trainingTargetIcon.orbs_denied
{
	wash-color: #02EAEA;
	wash-color: brandGreen;
	background-image: url("s2r://panorama/images/post_game/stat_objective_damage_png.vtex");
}

.trainingTargetIcon.hero_damage
{
	wash-color: #FF5D5D;
	wash-color: brandGreen;
	background-image: url("s2r://panorama/images/post_game/stat_hero_damage_png.vtex");
}

.trainingTargetIcon.guardian_damage
{
	wash-color: #02EAEA;
	wash-color: brandGreen;
	background-image: url("s2r://panorama/images/post_game/stat_objective_damage_png.vtex");
	animation-name: guardian-bounce;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

#NetWorthMedal1
{
	visibility: collapse;
}

@keyframes 'guardian-bounce'
{
	0%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.1;
		brightness: 2;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

.trainingTargetIcon.total_networth
{
	wash-color: #FFCC00;
	background-image: url("s2r://panorama/images/post_game/stat_networth_png.vtex");
}

.trainingTargetIcon.damage_taken
{
	wash-color: #C730CA;
	wash-color: brandGreen;
	background-image: url("s2r://panorama/images/post_game/stat_assists_png.vtex");
}

.trainingTargetText
{
	flow-children: down;
	vertical-align: middle;
}

.targetTitle
{
	font-weight: bold;
	font-size: 18px;
}

.targetDesc
{
	font-size: 16px;
	color: #ffffff90;
}

.targetDesc .yellowhighlight
{
	color: gold;
	font-weight: semi-bold;
}

.targetDesc .redhighlight
{
	color: rgb(255, 77, 77);
	font-weight: semi-bold;
}

.targetDesc .highlight
{
	color: #dedede;
	font-weight: semi-bold;
}

.ReportCardPanel
{
	width: 250px;
	font-size: 18px;
	font-weight: semi-bold;
	color: #222222ee;
	opacity: 1;
	margin: 30px 30px 0px 0px;
	horizontal-align: right;
	transition-property: opacity;
	transition-duration: 0.1s;
	flow-children: right;
	z-index: 100;
	background-color: offBlack&aa;
	border: 3px solid offWhite;
	border-radius: 10px;
}

.powerUpStep
{
	padding: 10px;
	font-weight: semi-bold;
	font-size: 16px;
	color: #c2f1ff;
	text-align: center;
}

.ap
{
	color: #02EAEA;
}

.creds
{
	color: #FFCC00;
}

.OrbsTroopersImage
{
	width: 100%;
	height: 200px;
	background-image: url("s2r://panorama/images/getting_started/lane_training_trooper_coin_png.vtex");
	background-size: contain;
	background-position: 0px bottom;
	margin-left: 15px;
	background-repeat: no-repeat;
	vertical-align: bottom;
	ignore-parent-flow: true;
	opacity: 0.6;
}

.ReportCardPanel .OrbsTroopersImage
{
	height: 320px;
	saturation: 0;
	opacity: 0.3;
	brightness: 0.3;
}

.ReportCardOutro .OrbsTroopersImage
{
	opacity: 0.6;
}

.ObjectiveComplete .ReportCardPanel
{
	width: 500px;
	opacity: 1.0;
	horizontal-align: center;
	vertical-align: center;
	margin: 0px;
	background-color: #ffffffee;
	opacity: 0;
}

#LaningMetrics,#PowerUp,#KillGuardian
{
	opacity: 0;
}

.ObjectiveLaningMetrics #LaningMetrics
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.ObjectivePowerUp #LaningMetrics
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.ObjectivePowerUp #PowerUp
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.ObjectiveKillGuardian #PowerUp
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.ObjectiveKillGuardian #KillGuardian
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.ReportCard
{
	flow-children: right;
	width: 100%;
}

.ReportCardTable
{
	flow-children: down;
	width: 100%;
	padding-bottom: 5px;
}

.ObjectiveComplete .ReportCardTable
{
	padding-bottom: 0px;
}

.ReportCardRow
{
	flow-children: right;
}

.ReportCardEntry
{
	flow-children: down;
	horizontal-align: left;
	margin: 10px 0px;
}

.TaskDesc
{
	flow-children: down;
}

.EntryName
{
	font-weight: bold;
	horizontal-align: left;
	color: offWhite;
	vertical-align: middle;
	margin-top: 0px;
	text-align: left;
}

.EntryDesc
{
	font-size: 15px;
	font-weight: medium;
	color: offWhite&90;
}

#PowerUp .EntryDesc
{
	margin-top: 3px;
}

.Completed .EntryDesc
{
	visibility: collapse;
}

.Completed .EntryName
{
	margin-top: 3px;
}

#ReportCardTitle
{
	margin-bottom: 10px;
	background-color: #222222ee;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
}

.ReportEntryContainer
{
	flow-children: down;
	horizontal-align: center;
	padding: 15px 10px 15px 15px;
}

#ReportCardTitle .EntryName
{
	font-weight: bold;
	font-size: 22px;
	color: #ffffff;
}

#ReportCardTitle .EntryValue
{
	font-size: 14px;
	font-style: italic;
	color: #ffffff90;
}

.EntryValue
{
	horizontal-align: center;
}

.yourscore
{
	font-weight: bold;
}

#GradingFinishedControls
{
	visibility: collapse;
	flow-children: down;
	background-color: #00000030;
	width: 100%;
	padding: 20px 0px;
	margin-top: 10px;
}

.GradingFinished
{
	text-align: center;
	horizontal-align: center;
	margin-bottom: 10px;
	font-size: 16px;
}

.initialPresentation
{
	text-align: center;
	horizontal-align: center;
	margin-bottom: 10px;
	font-size: 18px;
}

.ScoreContainer
{
	flow-children: right;
	horizontal-align: center;
}

#PowerUp .ScoreContainer,#KillGuardian .ScoreContainer
{
	padding: 10px;
}

.Checkbox
{
	width: 35px;
	height: 35px;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/getting_started/checklist_task_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: visible;
	opacity: 0.6;
	margin-right: 8px;
}

.Completed .Checkbox
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
	animation-name: medal-in;
	animation-iteration-count: 1;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}

.ObjectiveKillGuardian #PowerUp .Checkbox
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
	animation-name: medal-in;
	animation-iteration-count: 1;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}

.Medal
{
	width: 25px;
	height: 25px;
	vertical-align: middle;
	border: 1px solid #ffffff20;
	background-color: #00000060;
	border-radius: 50px;
	margin-right: 10px;
	margin-top: 2px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	horizontal-align: center;
	margin-bottom: 5px;
}

@keyframes 'medal-in'
{
	0%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
	70%
	{
		pre-transform-scale2d: 2;
		brightness: 3;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

.Iron
{
	background-image: url("s2r://panorama/images/post_game/medal_iron_png.vtex");
	border: 1px solid #00000000;
	background-color: #00000000;
	border-radius: 0px;
	animation-name: medal-in;
	animation-iteration-count: 1;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}

.Bronze
{
	background-image: url("s2r://panorama/images/post_game/medal_bronze_png.vtex");
	border: 1px solid #00000000;
	background-color: #00000000;
	border-radius: 0px;
	animation-name: medal-in;
	animation-iteration-count: 1;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}

.Silver
{
	background-image: url("s2r://panorama/images/post_game/medal_silver_png.vtex");
	border: 1px solid #00000000;
	background-color: #00000000;
	border-radius: 0px;
	animation-name: medal-in;
	animation-iteration-count: 1;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}

.Gold
{
	background-image: url("s2r://panorama/images/post_game/medal_gold_png.vtex");
	border: 1px solid #00000000;
	background-color: #00000000;
	border-radius: 0px;
	animation-name: medal-in;
	animation-iteration-count: 1;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}

#GradingFinishedControls .ReportCardRow
{
	horizontal-align: center;
}

.ObjectiveComplete #GradingFinishedControls
{
	visibility: visible;
}

.GradingFinishedButton
{
	padding: 10px 20px;
	horizontal-align: right;
	background-color: #222222;
	margin: 0px 3px;
}

.GradingFinishedButton Label
{
	font-family: CriteriaCF;
	font-weight: bold;
	color: #ffffff;
}

.GradingFinishedButton:hover
{
	background-color: #C4FF47;
}

.GradingFinishedButton:hover Label
{
	color: #222222;
}

#InitialPresentationControls
{
	visibility: collapse;
}

#InitialPresentationControls .ReportCardRow
{
	horizontal-align: center;
}

.initialPresentation #InitialPresentationControls
{
	visibility: visible;
}

.initialPresentation #ReportCardIntro
{
	visibility: visible;
}

#ReportCardOutro,#ReportCardIntro
{
	opacity: 0;
	transition-duration: 0.5s;
	transition-property: opacity;
	transition-timing-function: ease-in;
}

.initialPresentation #ReportCardIntro
{
	opacity: 1;
}

.ObjectiveComplete #ReportCardOutro
{
	opacity: 1;
}

#DimOverlay
{
	width: 100%;
	height: 100%;
	background-color: #000000ee;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.ObjectiveComplete #DimOverlay,.initialPresentation #DimOverlay
{
	opacity: 1;
}

@keyframes 'taskComplete'
{
	0%
	{
		brightness: 1;
		ui-scale: 100%;
		opacity: 1;
		wash-color: #00FF9900;
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		transform: translateY(10px);
		brightness: 2;
		opacity: 1;
		wash-color: #00FF99;
		pre-transform-scale2d: 1.15;
	}
	
	100%
	{
		brightness: 1;
		ui-scale: 100%;
		opacity: 0;
		wash-color: #00FF9900;
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'showTask'
{
	0%
	{
		opacity: 0;
		brightness: 2;
	}
	
	70%
	{
		opacity: 0;
		brightness: 2;
	}
	
	100%
	{
		opacity: 1;
		brightness: 1;
		pre-transform-scale2d: 1;
	}
	
}

.reminderNudge .ReportCardPanel
{
	animation-name: reminderNudge;
	animation-iteration-count: 1;
	animation-duration: 1.3s;
	animation-timing-function: ease;
}

@keyframes 'reminderNudge'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translate3d(0px, 0px, 0px);
		brightness: 1;
	}
	
	30%
	{
		transform: translate3d(-20px, 40px, 0px);
		pre-transform-scale2d: 1.2;
		brightness: 1.5;
	}
	
	70%
	{
		transform: translate3d(-20px, 40px, 0px);
		pre-transform-scale2d: 1.2;
		brightness: 1.5;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: translate3d(0px, 0px, 0px);
		brightness: 1;
	}
	
}

