/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHudJoinTeam
{
	width: 100%;
	height: 100%;
	background-color: #000e;
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.joined_team CitadelHudJoinTeam
{
	opacity: 0.0;
}

.MainContents
{
	width: 800px;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: down;
}

.JoinTeamButton
{
	transition-property: brightness;
	transition-duration: 0.2s;
}

.JoinTeamButton:hover
{
	brightness: 2.0;
	sound: "UI.TeamPick.Hover";
}

.JoinTeamButton.active
{
	brightness: 1.5;
	sound: "UI.TeamPick.Select";
}

.JoinTeamButton Label
{
	horizontal-align: center;
	text-align: center;
	font-family: block;
	text-shadow: 0px 0px 4px black;
}

.AutoTeamButton
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #222 ), to( #000 ) );
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.AutoTeamButton Label
{
	font-size: 64px;
	padding: 64px 16px;
}

.TeamButtons
{
	width: 100%;
	flow-children: right;
}

.TeamButtons .TeamButton
{
	width: fill-parent-flow( 1.0 );
}

.TeamButtons .TeamButton Label
{
	horizontal-align: center;
	text-align: center;
	font-size: 24px;
	font-family: block;
	padding: 16px;
}

.TeamButtons .TeamButton.AmberButton
{
	border-bottom-left-radius: 16px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( team1ColorDark ), to( team1ColorDarker ) );
}

.TeamButtons .TeamButton.SapphireButton
{
	border-bottom-right-radius: 16px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( team2ColorDark ), to( team2ColorDarker ) );
}

.SpectateButton
{
	margin-top: 32px;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #333 ), to( #222 ) );
	border-radius: 16px;
}

.SpectateButton Label
{
	font-size: 32px;
	padding: 24px 16px;
}

