/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.hud_modifier_history
{
	background-color: #10130Daa;
	border-radius: 10px;
	border: 1px solid #ffffff01;
	vertical-align: center;
	margin-top: 280px;
	margin-right: 0px;
	min-height: 108px;
	visibility: collapse;
}

.hud_modifier_history.active
{
	visibility: collapse;
}

.deathReplayActive .hud_modifier_history
{
	background-color: #000000ff;
	vertical-align: bottom;
	margin-bottom: 0px;
	horizontal-align: center;
	margin-right: 5%;
	margin-left: 28%;
	width: 100%;
}

#timeline_wipe
{
	background-color: #ffffff08;
	height: 100%;
	width: 0%;
}

#modifier_tracks
{
	width: 100%;
	flow-children: down;
	margin-top: 8px;
}

.modifier_history_track
{
	height: 26px;
	width: 100%;
	margin-bottom: 2px;
}

.modifier_history_item
{
	height: fit-children;
	opacity: 0.4;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.modifier_history_item.active
{
	opacity: 1;
}

.modifier_tag
{
	flow-children: right;
}

.modifier_history_icon
{
	visibility: collapse;
}

.hasSmallIcon .modifier_history_icon
{
	visibility: visible;
}

#item_icon
{
	width: 24px;
	height: 24px;
}

#item_icon,.modifier_icon.modifier_history_icon
{
	ui-scale: 80%;
	margin-bottom: 4px;
}

.hasSmallIcon #item_icon
{
	visibility: collapse;
}

.modifier_name
{
	color: white;
	text-overflow: shrink;
	vertical-align: bottom;
	font-size: 14px;
	margin-bottom: 1px;
}

#modifier_duration_bar
{
	width: 100%;
	height: 4px;
	vertical-align: bottom;
}

.buff #modifier_duration_bar
{
	background-color: green;
}

.debuff #modifier_duration_bar
{
	background-color: red;
}

