/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define HealthbarWidth: 90px;
@define HealthbarMinWidth: 90px;
@define HealthbarHeight: 230px;
@define HealthbarMinHeight: 40px;
@define HealthbarReorganizeSpeed: 4000;
@define HealthbarStackOffX: -20px;
@define HealthbarStackOffY: 0.0px;
@define HealthbarStackAngle: -4.0;
.bars_container
{
	margin-top: 20px;
	margin-right: 20px;
	ignore-parent-flow: true;
	overflow: noclip;
	flow-children: right;
	horizontal-align: right;
	height: 280px;
	width: 100%;
	padding: 0px;
}

#health_bars_container
{
	ignore-parent-flow: true;
	horizontal-align: right;
	width: 100%;
}

#shield_bar,#tech_shield_bar
{
	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid offBlack;
	font-size: 12px;
	visibility: collapse;
	border-radius: 3px;
	ignore-parent-flow: true;
	horizontal-align: right;
	transform: rotateZ(12deg);
	margin-right: 29px;
	margin-top: 30px;
}

.shieldActive #shield_bar
{
	visibility: visible;
}

.shieldActive #tech_shield_bar
{
	margin-right: 12px;
}

.techShieldActive #tech_shield_bar
{
	visibility: visible;
}

#shield_bar .ProgressBarLeft
{
	background-color: courageBrightColor;
	background-color: #4bdc68;
}

#tech_shield_bar .ProgressBarLeft
{
	background-color: spiritBrightColor;
}

#shield_bar .ProgressBarMiddle,#tech_shield_bar .ProgressBarMiddle
{
	background-color: rgba(0, 0, 0, 0);
}

#shield_bar .ProgressBarRight,#tech_shield_bar .ProgressBarRight
{
	background-color: rgba(0, 0, 0, 0);
}

#shield_bar .progress_bar_current,#tech_shield_bar .progress_bar_current
{
	font-size: 14px;
	line-height: 14px;
	margin-top: 1px;
}

#shield_bar .progress_bar_divider,#tech_shield_bar .progress_bar_divider
{
	font-size: 14px;
	line-height: 14px;
}

#shield_bar .progress_bar_max,#tech_shield_bar .progress_bar_max
{
	font-size: 12px;
	line-height: 14px;
	font-weight: medium;
	vertical-align: bottom;
	margin-left: 2px;
	margin-top: 4px;
}

