/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHudModifiers_Entry
{
	width: fit-children;
	height: fit-children;
	margin-bottom: 5px;
	margin-top: 5px;
	animation-name: Anim_Stamp;
	animation-iteration-count: 1;
	animation-duration: 0.2s;
	animation-timing-function: ease-out;
}

@keyframes 'Anim_Stamp'
{
	0%
	{
		transform: scale3d(1.5, 1.5, 1) rotateZ( -5deg );
		brightness: 1;
		opacity: 0;
	}
	
	80%
	{
		transform: scale3d(0.9, 0.9, 1) rotateZ( 2deg );
		brightness: 5;
		opacity: 1;
	}
	
	100%
	{
		transform: scale3d(1, 1, 1) rotateZ( 0deg );
		brightness: 1;
		opacity: 1;
	}
	
}

.hud_modifiers
{
	flow-children: up;
	horizontal-align: center;
}

#BuffModifiers,#DebuffModifiers
{
	flow-children: up;
	horizontal-align: center;
}

.modifier_icons_only #BuffModifiers,.modifier_icons_only #DebuffModifiers
{
	flow-children: right;
	min-height: 34px;
}

#DebuffModifiers
{
	margin-bottom: 7px;
}

.modifier
{
	background-color: #000000aa;
	width: 200px;
	min-height: 38px;
	text-align: left;
	border-radius: 4px;
	horizontal-align: center;
}

#ModifierProgressContainer
{
	width: 100%;
	height: 100%;
}

.hide_progress_bar #ModifierProgressContainer
{
	visibility: collapse;
}

.text_line
{
	flow-children: right;
	height: 100%;
	width: 100%;
}

.modifier_name
{
	font-size: 20px;
	font-weight: medium;
	color: white;
	vertical-align: center;
	margin-left: 10px;
	text-transform: uppercase;
}

.modifier_stacks,#hud_aura_modifiers .modifier .modifier_stacks
{
	font-size: 24px;
	color: white;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
}

.modifier_stacks_container
{
	visibility: collapse;
}

.has_stacks .modifier_stacks_container
{
	visibility: visible;
	height: 100%;
	width: 36px;
	horizontal-align: right;
}

.modifier_hint
{
	font-size: 14px;
	color: white;
	vertical-align: bottom;
	horizontal-align: right;
	text-align: right;
	margin-right: 10px;
	visibility: collapse;
}

.has_modifier_hint .modifier_hint
{
	visibility: visible;
}

#hero_icon,.has_stacks #hero_icon,.has_stacks.has_hero_icon #hero_icon
{
	visibility: collapse;
	width: height-percentage(100%);
}

.has_hero_icon #hero_icon
{
	visibility: visible;
	vertical-align: center;
	margin-left: 5px;
	padding: 3px;
	height: 100%;
}

.modifier_icon
{
	visibility: collapse;
}

#hud_aura_modifiers .modifier
{
	height: 48px;
	background-color: #00000055;
	border-radius: 5px;
}

#hud_aura_modifiers .modifier Label
{
	font-weight: semi-bold;
	font-size: 16px;
	vertical-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	max-width: 160px;
	white-space: normal;
	max-height: 55px;
	line-height: 16px;
}

#hud_aura_modifiers .buff .modifier
{
	background-color: #00B27240;
	border: 3px solid #00B27280;
}

#hud_aura_modifiers .buff.hide_progress_bar .modifier
{
	background-color: #00B272;
	border: 3px solid #00B27280;
}

#hud_aura_modifiers .debuff .modifier
{
	background-color: #FF410D20;
	border: 3px solid #FF410D50;
}

#hud_aura_modifiers .debuff.buildup .modifier
{
	background-color: #00000060;
	border: 3px solid #FF410D50;
}

@define modifiersBorderRadius: 3px;
#modifier_progress_container
{
	border-radius: modifiersBorderRadius;
	width: 100%;
	height: 100%;
}

#modifier_progress
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_png.vtex");
	background-size: 100% 250%;
}

.modifier.MODIFIER_STATE_SILENCED
{
	box-shadow: inset #f476ff06 -5px 0px 10px 0px;
}

.MODIFIER_STATE_SILENCED #bar_b
{
	background-color: silencedDebuffColor;
}

.modifier.MODIFIER_STATE_STUNNED
{
	box-shadow: inset #ff000006 -5px 0px 10px 0px;
	background-color: stunnedColor;
}

.debuff.MODIFIER_STATE_STUNNED #modifier_progress
{
	background-color: stunnedDebuffColor;
}

.buildup #modifier_progress
{
	background-color: #ff4646;
	background-color: #ff464630;
}

.buildup_applied #modifier_progress
{
	background-color: #ff9494;
	transition-property: background-color;
	transition-duration: 0.2s;
}

.buildup_applied .modifier
{
	background-color: #5c2b2baa;
	transition-property: background-color;
	transition-duration: 0.2s;
}

.buildup.modifier_citadel_silence_proc_buildup #modifier_progress
{
	background-color: rgb(204, 0, 255);
}

.buildup_applied.modifier_citadel_silence_proc_buildup #modifier_progress
{
	background-color: rgb(204, 0, 255);
}

#hud_aura_modifiers .modifier_name
{
	font-size: 16px;
	text-transform: none;
	padding-left: 0px;
	margin-left: 8px;
	letter-spacing: 1px;
	font-weight: semi-bold;
}

#hud_aura_modifiers Label
{
	letter-spacing: 1px;
	font-weight: bold;
}

#hud_aura_modifiers #hero_icon
{
	width: 50px;
	height: 50px;
}

#hud_aura_modifiers #item_icon,#hud_aura_modifiers .modifier_icon
{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-left: 5px;
	background-size: 100% 100%;
}

.hasSmallIcon .modifier_icon
{
	visibility: visible;
}

.hasSmallIcon #item_icon
{
	visibility: collapse;
}

.modifier_custom
{
	flow-children: down;
}

.modifier_and_name
{
	width: 100%;
	height: 32px;
}

.modifier_custom.debuff
{
	background-color: rgba( 96, 64, 64, 0.5 );
}

.modifier_custom.buff
{
	background-color: rgba( 64, 96, 64, 0.5 );
}

.modifier_stats_table
{
	flow-children: down;
}

.modifier_stats_row
{
	flow-children: right;
	margin-top: 4px;
	margin-left: 10px;
	visibility: collapse;
}

.rows1 #modifier_stats_row1
{
	visibility: visible;
}

.rows2 #modifier_stats_row2
{
	visibility: visible;
}

.rows3 #modifier_stats_row3
{
	visibility: visible;
}

.rows4 #modifier_stats_row4
{
	visibility: visible;
}

.modifier_stats_cell
{
	width: 160px;
	color: white;
	font-size: 18px;
}

.center_modifiers #bar_container
{
	width: 330px;
	height: 30px;
	horizontal-align: left;
	vertical-align: middle;
}

.center_modifiers #bar_container
{
	visibility: visible;
}

.hide_progress_bar #bar_container
{
	visibility: collapse;
}

.center_modifiers #channel_and_name
{
	flow-children: down;
	min-height: 60px;
	padding: 5px;
}

.center_modifiers #item_icon
{
	width: 50px;
	height: 50px;
	vertical-align: center;
	z-index: 1;
	background-color: none;
	wash-color: offWhite;
	img-shadow: 0px 0px 10px 4.0 vivaciousGreen;
	visibility: collapse;
}

#bar_text_container
{
	flow-children: right;
	width: 100%;
}

.center_modifiers .bar_text_container
{
	min-height: 30px;
	width: 100%;
}

.center_modifiers #bar_outline
{
	width: 100%;
	height: 100%;
	border: 3px solid #ffffff50;
}

.center_modifiers #bar_fg
{
	width: 100%;
	height: 100%;
	margin: 5px;
	border-radius: 2px;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_png.vtex");
}

.center_modifiers #bar_bg
{
	width: 100%;
	height: 100%;
	background-color: vivaciousGreen;
	border-radius: modifiersBorderRadius;
}

.center_modifiers .buff #bar_bg
{
	background-color: vivaciousGreen;
}

.center_modifiers .debuff #bar_bg
{
	background-color: debuffColor;
}

.center_modifiers .active #bar_container
{
	visibility: visible;
}

.center_modifiers .modifier_name
{
	font-size: 20px;
	line-height: 24px;
	color: offWhite;
	text-transform: uppercase;
	font-weight: semi-bold;
	text-shadow: 0px 2px 2px 3.0 vivaciousGreen;
	text-overflow: shrink;
	margin-bottom: 0px;
	margin-left: 0;
}

#fancy_progress_container
{
	flow-children: down;
	visibility: collapse;
	overflow: noclip;
}

#fancy_progress_container #hero_icon
{
	width: 50px;
	height: 50px;
	margin-bottom: 5px;
}

#fancy_progress_container .AbilityNameLabel
{
	vertical-align: center;
}

.ability_name_container
{
	width: fit-children;
	flow-children: right;
	horizontal-align: right;
}

.BarAndNameContainer
{
	ignore-parent-flow: true;
	flow-children: down;
	width: 100%;
	vertical-align: top;
	margin-top: 70px;
}

.AbilityNameIcon
{
	width: 36px;
	height: 36px;
	vertical-align: center;
	margin-right: 5px;
}

.ability_icon .AbilityNameIcon
{
	wash-color: offWhite;
}

.AbilityNameLabel
{
	font-size: 26px;
	font-weight: bold;
	text-shadow: 0px 0px 0px 5.0 offBlack;
	font-family: oracle;
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
	vertical-align: bottom;
	color: offWhite&50;
}

.ModifierProgressBarContainer
{
	width: 94%;
	margin: 0px 18px;
	height: 12px;
	background-color: offWhite;
	border-radius: 2px;
	horizontal-align: center;
	border: 4px solid offBlack;
}

.ModifierProgressBar
{
	width: 100%;
	height: 100%;
	horizontal-align: left;
	background-color: darkgrey;
}

.SplitLabelProgressBar
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	overflow: noclip;
}

.SplitLabelProgressBar .SplitLabelName Label
{
	padding: 12px;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0px 0px 0px 6 offBlack;
	font-family: oracle;
	text-transform: uppercase;
	text-align: center;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	width: 100%;
	height: 100%;
	wash-color: darkorange;
}

#ExtraInfo
{
	horizontal-align: center;
	margin-top: -10px;
	visibility: collapse;
	flow-children: down;
}

#ExtraInfo Label
{
	font-size: 18px;
	font-family: block;
	font-weight: bold;
	text-transform: uppercase;
	opacity: 0.8;
	color: offWhite;
	horizontal-align: center;
	margin-bottom: 5px;
}

#ExtraInfo .UrnWarning
{
	color: #FF5656;
}

#hint_container
{
	height: fit-children;
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 6px;
	flow-children: down;
	visibility: collapse;
}

.canCancel #hint_container
{
	visibility: visible;
}

.movement_control_hint
{
	visibility: collapse;
}

.hint
{
	flow-children: right;
	font-size: 14px;
	color: #ffffff;
	vertical-align: bottom;
	font-weight: bold;
	margin-top: 2px;
}

.keybind
{
	font-size: 13px;
	color: #ffffff90;
	background-color: #00000080;
	width: 80px;
	padding-bottom: 1px;
	margin-right: 5px;
	text-align: center;
}

.action
{
	text-align: center;
	text-transform: uppercase;
	font-weight: semi-bold;
}

.hide_progress_bar
{
	visibility: collapse;
}

