/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.kill_hype_container
{
	flow-children: down;
}

.kill_streak_entry
{
	font-size: 40px;
	text-align: center center;
	opacity: 1;
	flow-children: right;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.fade_out
{
	opacity: 0;
}

.player_name_text
{
	color:white;
}

.generic_text
{
	color: white;
}

.first_blood_text
{
	color: darkred;
	font-style: italic;
	font-weight: bold;
}

.killing_spree_text
{
	color: orangered;
	font-style: italic;
	font-weight: bold;
}

.dominating_text
{
	color: rebeccapurple;
	font-style: italic;
	font-weight: bold;
}

.mega_kill_text
{
	color: deeppink;
	font-style: italic;
	font-weight: bold;
}

.unstoppable_text
{
	color: darkorange;
	font-style: italic;
	font-weight: bold;
}

.wicked_sick_text
{
	color: yellowgreen;
	font-style: italic;
	font-weight: bold;
}

.monster_kill_text
{
	color: darkblue;
	font-style: italic;
	font-weight: bold;
}

.godlike_text
{
	color: orangered;
	font-style: italic;
	font-weight: bold;
}

.beyond_godlike_text
{
	color:red;
	font-weight: bold;
	font-style: italic;
}

#hero_icon
{
	padding-right: 5px;
	width: 64px;
	height: 64px;
	border-radius: 6px;
}

