/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

#player_teams_container
{
	width: 100%;
}

#team_1_container
{
	horizontal-align: left;
}

#team_2_container
{
	horizontal-align: right;
}

#team_neutral_container
{
	width: 100%;
	max-width: 500px;
	horizontal-align: center;
}

.team_container
{
	flow-children: down;
	width: 510px;
}

.group_container
{
	width: 100%;
	flow-children: right;
}

