/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

.objective
{
	width: 100%;
	height: 75px;
	margin-top: 10px;
	border-radius: 8px;
	visibility: collapse;
}

.is_tier1.objective
{
	width: 70%;
	horizontal-align: center;
}

.friend .objective.is_active
{
	animation-name: health_appear_patron;
	animation-iteration-count: 1;
	animation-duration: 1s;
}

@keyframes 'health_appear_patron'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.2;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

.friend .objective.is_shield_generator.is_active
{
	animation-name: health_appear_shieldgens;
	animation-iteration-count: 1;
	animation-duration: 1s;
}

@keyframes 'health_appear_shieldgens'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
	50%
	{
		pre-transform-scale2d: 1.05;
		transform: translateY(0px);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
}

#unit_data
{
	width: 100%;
	height: 100%;
	flow-children: down;
	z-index: 10;
}

.objective.is_active
{
	visibility: visible;
}

#name
{
	vertical-align: center;
	text-shadow: 0px 0px 10px 1 black;
	font-family: serif;
	text-transform: uppercase;
	vertical-align: bottom;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 22px;
	horizontal-align: middle;
	text-align: center;
}

.group_container #name,.is_tier1 #name
{
	font-size: 18px;
}

#top
{
	horizontal-align: center;
}

#bottom
{
	flow-children: down;
	height: 100%;
	width: 100%;
}

#shield_image
{
	width: 25px;
	height: 25px;
	background-size: 25px;
	background-image: url("s2r://panorama/images/upgrades/mods_armor/revitalizer_psd.vtex");
	wash-color:rgb(27, 236, 132);
	vertical-align: middle;
	margin-top: 10px;
	margin-left: -20px;
	img-shadow: 0px 0px 2px 3.0 #000000;
	visibility: collapse;
}

.backdoor_protected #shield_image
{
	visibility: visible;
}

#healthbar_background
{
	width: 100%;
	height: 100%;
	background-color: black;
	margin: 0px 5px 5px 5px;
	border-radius: 3px;
	border: 2px solid offBlack&30;
}

.backdoor_protected #healthbar_background
{
	border: 2px solid rgb(22, 192, 127);
}

#healthbar_progress
{
	width: 100%;
	height: 100%;
}

#healthbar_progress .ProgressBarLeft
{
	visibility: visible;
	background-color: colorEnemy;
	height: 100%;
}

#healthbar_progress .ProgressBarMiddle
{
	opacity: 0;
}

.on_damaged #healthbar_progress .ProgressBarMiddle
{
	background-color: rgb(255, 226, 226);
	opacity: 1;
	transition-property: background-color, opacity;
	transition-duration: 0.5s;
}

.team1 #healthbar_progress .ProgressBarLeft
{
	background-color: team1Color;
}

.team2 #healthbar_progress .ProgressBarLeft
{
	background-color: team2Color;
}

.friend #healthbar_progress .ProgressBarLeft
{
	background-color: offWhite;
}

.friend .on_damaged #healthbar_progress .ProgressBarMiddle
{
	background-color: rgb(165, 34, 34);
	opacity: 1;
	transition-property: background-color, opacity;
	transition-duration: 0.5s;
}

.neutral #healthbar_progress .ProgressBarLeft
{
	background-color: rgb(0, 76, 216);
	background-color: shardColor;
}

.neutral.on_damaged #healthbar_progress .ProgressBarMiddle
{
	background-color: rgb(176, 59, 59);
	opacity: 1;
	transition-property: background-color, opacity;
	transition-duration: 0.5s;
}

.is_dead #healthbar_background
{
	opacity: 0.5;
}

.is_weakened #healthbar_background
{
	opacity: 1;
}

.entityImage
{
	width: 80px;
	height: 50px;
	margin-left: -40px;
}

#deadlabel
{
	visibility: collapse;
	horizontal-align: center;
	width: 100%;
	height: 80%;
	font-family: serif;
	font-weight: semi-bold;
	font-size: 26px;
	vertical-align: bottom;
	opacity: 0;
	background-color: rgb(186, 29, 29);
	z-index: 100;
}

.is_tier1 #deadlabel,.is_shield_generator #deadlabel
{
	height: 70%;
}

@keyframes 'is_dead_pulse'
{
	0%
	{
		opacity: 0;
	}
	
	16%
	{
		opacity: 1;
	}
	
	33%
	{
		opacity: 0;
	}
	
	50%
	{
		opacity: 1;
	}
	
	66%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.is_dead #deadlabel
{
	animation-name: is_dead_pulse;
	animation-duration: 3.0s;
	animation-iteration-count: 1;
	visibility: visible;
}

@keyframes 'is_dead_pulse'
{
	0%
	{
		opacity: 0;
	}
	
	16%
	{
		opacity: 1;
	}
	
	33%
	{
		opacity: 0;
	}
	
	50%
	{
		opacity: 1;
	}
	
	66%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

#deadlabel Label
{
	vertical-align: middle;
	font-size: 30px;
	font-weight: semi-bold;
	text-align: center;
	color: offWhite;
	horizontal-align: center;
}

.is_dead #unit_data
{
	visibility: visible;
}

@keyframes 'is_dead_fade'
{
	90%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

#transformingLabel
{
	visibility: collapse;
	horizontal-align: center;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-color: gray;
	z-index: 100;
}

#transformingLabel Label
{
	vertical-align: middle;
	font-size: 25px;
	margin-top: 5px;
	font-weight: semi-bold;
	text-transform: uppercase;
	font-family: serif;
	letter-spacing: 0.5px;
	text-align: center;
	color: white;
	horizontal-align: center;
}

.friend .is_transforming #transformingLabel
{
	animation-name: is_transforming_pulse_friend;
	animation-duration: 7.0s;
	animation-iteration-count: infinite;
	visibility: visible;
}

.is_transforming #transformingLabel
{
	animation-name: is_transforming_pulse;
	animation-duration: 7.0s;
	animation-iteration-count: infinite;
	visibility: visible;
}

@keyframes 'is_transforming_pulse_friend'
{
	0%
	{
		background-color: colorEnemy;
	}
	
	50%
	{
		background-color: offBlack;
	}
	
	100%
	{
		background-color: colorEnemy;
	}
	
}

@keyframes 'is_transforming_pulse'
{
	0%
	{
		background-color: gray;
	}
	
	50%
	{
		background-color: offBlack;
	}
	
	100%
	{
		background-color: gray;
	}
	
}

.objective.is_dead
{
	animation-name: is_dead_fade;
	animation-duration: 4.0s;
	animation-iteration-count: 1;
}

.HealthBars
{
	flow-children: right;
	height: 100%;
	width: 100%;
}

#bulletshield_background
{
	width: 100px;
	height: 100%;
	background-color: black;
	margin: 0px 0px 5px 5px;
	border-radius: 3px;
	border: 2px solid black;
	visibility: collapse;
}

.HasBulletShield #bulletshield_background
{
	visibility: visible;
}

.is_dead #bulletshield_background
{
	visibility: collapse;
}

#bulletshield_progress
{
	width: 100%;
	height: 100%;
}

#bulletshield_progress .ProgressBarLeft
{
	visibility: visible;
	background-color: orange;
}

#bulletshield_progress .ProgressBarMiddle
{
	opacity: 0;
}

.is_shield_generator,.is_barracks_boss
{
	width: 50%;
}

.is_shield_generator.is_dead
{
	opacity: 0.5;
	wash-color: gray;
}

#out_of_range
{
	ignore-parent-flow: true;
	horizontal-align: middle;
	vertical-align: middle;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: semi-bold;
	z-index: 100;
	opacity: 0.7;
	margin-top: -2px;
	color: offBlack;
	visibility: collapse;
}

.is_mid.cant_damage #out_of_range
{
	visibility: visible;
}

#boss_background
{
	width: 100%;
	height: 80%;
	ignore-parent-flow: true;
	background-color: green;
	background-color: rgba(0, 0, 0, 0.8);
	vertical-align: bottom;
	border-radius: 5px;
	border: 3px solid #00000030;
	opacity: 0.5;
}

.is_tier1 #boss_background,.is_shield_generator #boss_background
{
	height: 70%;
}

.yellowLane #boss_background
{
	background-color: rgba(192, 192, 65, 0.8);
}

.greenLane #boss_background
{
	background-color: rgba(255, 144, 53, 0.8);
}

.greenLane #boss_background
{
	background-color: laneGreenColor&80;
}

.blueLane #boss_background
{
	background-color: rgba(65, 122, 192, 0.8);
}

.purpleLane #boss_background
{
	background-color: rgba(105, 65, 192, 0.8);
}

.is_mid #boss_background
{
	background-color: shardColor&50;
}

#team_1_container .is_shield_generator #boss_background,#team_1_container .is_titan #boss_background,.spec_mode #team_1_container .yellowLane #boss_background,.spec_mode #team_1_container .greenLane #boss_background,.spec_mode #team_1_container .blueLane #boss_background,.spec_mode #team_1_container .purpleLane #boss_background
{
	background-color: team1Color&80;
}

#team_2_container .is_shield_generator #boss_background,#team_2_container .is_titan #boss_background,.spec_mode #team_2_container .yellowLane #boss_background,.spec_mode #team_2_container .greenLane #boss_background,.spec_mode #team_2_container .blueLane #boss_background,.spec_mode #team_2_container .purpleLane #boss_background
{
	background-color: team2Color&80;
}

.cant_damage
{
	opacity: 0.2;
}

@keyframes 'laneYellow_is_being_attacked'
{
	0%
	{
		background-color: rgba(192, 192, 65, 0.8);
	}
	
	50%
	{
		background-color: colorEnemy ;
	}
	
	100%
	{
		background-color: rgba(192, 192, 65, 0.8);
	}
	
}

@keyframes 'laneOrange_is_being_attacked'
{
	0%
	{
		background-color: rgba(221, 120, 37, 0.8);
	}
	
	50%
	{
		background-color: colorEnemy ;
	}
	
	100%
	{
		background-color: rgba(221, 120, 37, 0.8);
	}
	
}

@keyframes 'laneBlue_is_being_attacked'
{
	0%
	{
		background-color: rgba(65, 122, 192, 0.8);
	}
	
	50%
	{
		background-color: colorEnemy ;
	}
	
	100%
	{
		background-color: rgba(65, 122, 192, 0.8);
	}
	
}

@keyframes 'lanePurple_is_being_attacked'
{
	0%
	{
		background-color: rgba(105, 65, 192, 0.8);
	}
	
	50%
	{
		background-color: colorEnemy ;
	}
	
	100%
	{
		background-color: rgba(105, 65, 192, 0.8);
	}
	
}

@keyframes 'laneGreen_is_being_attacked'
{
	0%
	{
		background-color: laneGreenColor&80;
	}
	
	50%
	{
		background-color: colorEnemy ;
	}
	
	100%
	{
		background-color: laneGreenColor&80;
	}
	
}

@keyframes 'team1_is_being_attacked'
{
	0%
	{
		background-color: team1Color&80;
	}
	
	50%
	{
		background-color: colorEnemy;
	}
	
	100%
	{
		background-color: team1Color&80;
	}
	
}

@keyframes 'team2_is_being_attacked'
{
	0%
	{
		background-color: team2Color&80;
	}
	
	50%
	{
		background-color: colorEnemy;
	}
	
	100%
	{
		background-color: team2Color&80;
	}
	
}

#player_teams_container #team_1_container.friend .on_damaged #boss_background
{
	animation-name: team1_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#player_teams_container #team_2_container.friend .on_damaged #boss_background
{
	animation-name: team2_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#player_teams_container #team_1_container.friend .yellowLane.on_damaged #boss_background,#player_teams_container #team_2_container.friend .yellowLane.on_damaged #boss_background
{
	animation-name: laneYellow_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#player_teams_container #team_1_container.friend .greenLane.on_damaged #boss_background,#player_teams_container #team_2_container.friend .greenLane.on_damaged #boss_background
{
	animation-name: laneOrange_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#player_teams_container #team_1_container.friend .blueLane.on_damaged #boss_background,#player_teams_container #team_2_container.friend .blueLane.on_damaged #boss_background
{
	animation-name: laneBlue_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#player_teams_container #team_1_container.friend .purpleLane.on_damaged #boss_background,#player_teams_container #team_2_container.friend .purpleLane.on_damaged #boss_background
{
	animation-name: lanePurple_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

#player_teams_container #team_1_container.friend .greenLane.on_damaged #boss_background,#player_teams_container #team_2_container.friend .greenLane.on_damaged #boss_background
{
	animation-name: laneGreen_is_being_attacked;
	animation-iteration-count: infinite;
	animation-duration: 0.8s;
}

