/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHudMatchStart
{
	width: 100%;
	height: 100%;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

CitadelHudMatchStart.ShowMatchStart
{
	opacity: 1.0;
}

@keyframes 'MatchStartAnim'
{
	0%
	{
		opacity: 0.0;
	}
	
	30%
	{
		opacity: 0.0;
	}
	
	35%
	{
		opacity: 1.0;
	}
	
	90%
	{
		opacity: 1.0;
	}
	
	100%
	{
		opacity: 0.0;
	}
	
}

@keyframes 'SlowRotate'
{
	0%
	{
		pre-transform-rotate2d: 0deg;
	}
	
	100%
	{
		pre-transform-rotate2d: 360deg;
	}
	
}

@keyframes 'ScaleUp'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateX(0px);
	}
	
	100%
	{
		pre-transform-scale2d: 1.2;
		transform: translateX(50px);
	}
	
}

@keyframes 'ScaleUp2'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateX(0px);
	}
	
	100%
	{
		pre-transform-scale2d: 1.2;
		transform: translateX(-50px);
	}
	
}

.MatchStartDetails
{
	horizontal-align: center;
	width: 100%;
	height: 100%;
	opacity: 0.0001;
}

.ShowMatchStart .MatchStartDetails
{
	animation-name: MatchStartAnim;
	animation-duration: 7.0s;
	animation-delay: 1.0s;
	animation-iteration-count: 1;
}

.MatchStartDetails #TextureLayer
{
	width: 100%;
	height: 100%;
}

.Team1 .MatchStartDetails #TextureLayer #Texture1
{
	width: 500px;
	height: 100%;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/match_intro/team1_texture_1_png.vtex");
	background-size: auto 100%;
	background-repeat: no-repeat;
	animation-name: ScaleUp;
	animation-duration: 10s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

.Team2 .MatchStartDetails #TextureLayer #Texture1
{
	width: 4000px;
	height: 4000px;
	background-image: url("s2r://panorama/images/match_intro/team2_texture_png.vtex");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.5;
	animation-name: SlowRotate;
	animation-duration: 100s;
	animation-iteration-count: infinite;
}

.Team1 .MatchStartDetails #TextureLayer #Texture2
{
	width: 500px;
	height: 100%;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/match_intro/team1_texture_2_png.vtex");
	background-size: auto 100%;
	background-repeat: no-repeat;
	animation-name: ScaleUp2;
	animation-duration: 10s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

.Team2 .MatchStartDetails #TextureLayer #Texture2
{
	visibility: collapse;
}

.MatchStartDetails #TeamNameContainer
{
	width: 1200px;
	height: 500px;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
}

.MatchStartDetails #TeamName
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	opacity-mask-threshold: 0% 10%;
	opacity-mask-scale: contain;
	opacity-mask: url("s2r://panorama/images/hud/objectives/team1_patron_logo_reveal_mask_psd.vtex");
}

.Team1 .MatchStartDetails #TeamName
{
	background-image: url("s2r://panorama/images/hud/objectives/team1_patron_logo_psd.vtex");
	animation-name: Team1LogoReveal;
	animation-duration: .75s;
	animation-delay: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.Team2 .MatchStartDetails #TeamName
{
	background-image: url("s2r://panorama/images/hud/objectives/team2_patron_logo_png.vtex");
	wash-color: silvered;
}

@keyframes 'Team1LogoReveal'
{
	0%
	{
		opacity: 1;
		opacity-mask-threshold: 100% 10%;
		opacity-mask-scale: contain;
		opacity-mask: url("s2r://panorama/images/hud/objectives/team1_patron_logo_reveal_mask_psd.vtex");
	}
	
	100%
	{
		opacity: 1;
		opacity-mask-threshold: 0% 10%;
		opacity-mask-scale: contain;
		opacity-mask: url("s2r://panorama/images/hud/objectives/team1_patron_logo_reveal_mask_psd.vtex");
	}
	
}

