/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHudHideout
{
	width: 100%;
	height: 100%;
	background-color: black;
	transition-property: background-color;
	transition-duration: 2.0s;
}

CitadelHudHideout.HasHero
{
	background-color: transparent;
	transition-duration: 0.0s;
}

#IntroContainer
{
	horizontal-align: center;
	height: 100%;
	width: 100%;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.inHideoutIntro .InIntro #IntroContainer
{
	opacity: 1.0;
}

#IntroContainer .GameSubtext
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: bottom;
	text-align: center;
	font-size: 20px;
	text-shadow: 0px 0px 12px #00000088;
	text-transform: uppercase;
	font-family: block;
	font-weight: black;
	color: #96DBD0;
	margin: 12px;
}

#IntroContainer .GameSubtext Label
{
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0.2;
	font-family: block;
	font-size: 15.85px;
	letter-spacing: 0.4px;
}

#IntroContainer #BuildNumber
{
	opacity: 0.4;
	margin-top: -3px;
	font-weight: light;
	color: #969087;
	horizontal-align: right;
	font-family: sans;
	font-size: 14px;
}

#IntroContainer .IntroText
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	margin-top: 440px;
	font-size: 20px;
	text-shadow: 0px 0px 12px #00000088;
	text-transform: uppercase;
	font-family: block;
	font-weight: black;
	color: #96DBD0;
}

#IntroContainer .IntroLegalFooter
{
	vertical-align: bottom;
	horizontal-align: center;
	width: 100%;
}

#IntroContainer .IntroLegalFooter #IntroLegalFooterLabel
{
	width: 1000px;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 15px;
	text-align: center;
	font-size: 14px;
}

#IntroContainer .IntroLegalFooter .IntroLegalFooterRating
{
	vertical-align: bottom;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/hud/hideout/cadpa16_psd.vtex");
	background-size: contain;
	height: 104px;
	width: 81px;
	margin-right: 15px;
	margin-bottom: 15px;
	transition-property: brightness;
	transition-duration: 0.05s;
}

#IntroContainer .IntroLegalFooter .IntroLegalFooterRating:hover
{
	brightness: 1.1;
}

#IntroContainer .IntroLegalFooter .IntroLegalFooterRating:active
{
	brightness: 0.95;
}

.MainContents
{
	width: 100%;
	height: 100%;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 1.0s;
}

.HasHero .MainContents
{
	opacity: 1.0;
}

.inHideoutIntro .MainContents
{
	opacity: 0.0;
}

.TopLeft
{
	margin: 16px;
	margin-top: 100px;
	vertical-align: top;
	flow-children: down;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.DailyBonusEligible .TopLeft
{
	opacity: 1.0;
}

.BottomLeft
{
	margin: 16px;
	vertical-align: bottom;
	flow-children: right;
	opacity: 0.2;
}

.BottomLeft .MenuHint
{
	flow-children: right;
	margin-top: 8px;
	margin-right: 24px;
}

.BottomRight
{
	margin: 16px;
	vertical-align: bottom;
	horizontal-align: right;
	flow-children: down;
}

@keyframes 'RotateIconFindMatch'
{
	0%
	{
		pre-transform-rotate2d: 0deg;
	}
	
	100%
	{
		pre-transform-rotate2d: 360deg;
	}
	
}

#HeroVotePrompt
{
	flow-children: right;
	background-image: url("s2r://panorama/images/main_menu/hero_release_vote/text_backer_box_alt_psd.vtex");
	background-img-opacity: .8;
	background-size: 100% 100%;
	padding: 5px 20px;
	horizontal-align: center;
	text-align: center;
}

.QuestPromptHeader
{
	color: offWhite;
	font-size: 16px;
	font-family: block;
	margin-left: 16px;
	opacity: 1;
	color:offWhite&44;
	text-transform: uppercase;
}

#HeroVotePipOff
{
	width: 33px;
	height: 33px;
	margin-right: 8px;
	margin-left: -5px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/hud/hideout/quest_radio_off_psd.vtex");
	background-size: contain;
}

.QuestPrompt
{
	color: offWhite;
	font-size: 26px;
	font-family: oracle;
	font-weight: black;
	opacity-mask: url("s2r://panorama/images/main_menu/hero_release_vote/text_speckle_mask_psd.vtex");
	opacity-mask-scale: 200% 700%;
}

#DailyVoteBonus
{
	color: White;
	opacity: 1;
	margin-left: 10px;
	animation-name: QuestGroove;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes 'QuestGroove'
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(2deg);
	}
	
	50%
	{
		transform: rotateZ(2deg);
	}
	
	51%
	{
		transform: rotateZ(-1deg);
	}
	
	75%
	{
		transform: rotateZ(-1deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

#LatestNews
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-top: 16px;
	visibility: collapse;
}

#LatestNews.HasNewsEntry:not(.NewsEntryAlreadySeen)
{
	visibility: visible;
}

.ShowSurvey #LatestNews.HasNewsEntry:not(.NewsEntryAlreadySeen)
{
	visibility: collapse;
}

.gShopOpen #LatestNews.HasNewsEntry:not(.NewsEntryAlreadySeen)
{
	visibility: collapse;
}

#PrewarmStatus
{
	horizontal-align: right;
	width: 408px;
}

.SurveyContainer
{
	width: 600px;
	horizontal-align: right;
	visibility: collapse;
}

.ShowSurvey .SurveyContainer
{
	visibility: visible;
}

