/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define chatBorderColor: #000000;
@define chatBorderWidth: 1px;
@define chatBorderStyle: solid;
@define chatBackgroundColor: #161E24;
@define chatTransitionDuration: 0.3s;
CitadelHudChat
{
	width: 100%;
	height: 100%;
	transition-property: position;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	z-index: 99999;
}

.GameStateHeroSelection #FullChatContainer
{
	margin-left: 0px;
	width: 420px;
}

#FullChatContainer
{
	horizontal-align: left;
	vertical-align: bottom;
	width: 430px;
	height: 270px;
	margin-left: 400px;
}

#PingLinesArea
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: 150px;
	min-width: 380px;
	height: fit-children;
	flow-children: down;
	overflow: squish scroll;
	background-color: #000000AA;
	border-radius: 5px;
}

#PingLinesArea VerticalScrollBar,#PingLinesArea VerticalScrollBar .ScrollThumb
{
	opacity: 0.0;
}

CitadelHudChat.ChatExpanded
{
	sound: "ui_chat_slide_in";
	sound-out: "ui_chat_slide_out";
}

#ChatMainPanel
{
	flow-children: down;
	vertical-align: bottom;
	vertical-align: bottom;
	transition-property: width, transform;
	transition-duration: chatTransitionDuration;
	transition-timing-function: ease-in-out;
}

#ChatLinesArea
{
	width: 100%;
}

#ChatLinesWrapper
{
	overflow: squish noclip;
	width: 100%;
}

VerticalScrollBar,VerticalScrollBar .ScrollThumb
{
	width: 8px;
	height: 100%;
	horizontal-align: right;
	layout-position: fixed;
	transition-property: transform;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

VerticalScrollBar .ScrollThumb
{
	width: 8px;
	min-height: 32px;
	border-top: 1px solid #aaaaaa88;
	border-right: 1px solid #000000ff;
	transition-property: position;
	transition-property: background-color, transform, position;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	background-color: #566767;
}

#ChatLinesPanel
{
	width: 100%;
	max-height: 285px;
	flow-children: down;
	vertical-align: top;
	overflow: squish scroll;
	padding-right: 14px;
	transform: scaleY( -1.0 );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000 ), color-stop( 0.01, #0000 ), color-stop( 0.1, #0000 ), to( #0000 ) );
	transition-property: background-color;
	transition-duration: .23s;
	transition-timing-function: ease-in-out;
}

#HudChat.Active #ChatLinesPanel
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000 ), color-stop( 0.01, #000d ), color-stop( 0.5, #000d ), to( #000000 ) );
}

.Active #ChatLinesPanel VerticalScrollBar,.Active #ChatLinesPanel VerticalScrollBar .ScrollThumb
{
	opacity: 1.0;
}

#ChatLinesPanel VerticalScrollBar,#ChatLinesPanel VerticalScrollBar .ScrollThumb
{
	opacity: 0.0;
}

#ChatLinesOverlay
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #161E24ff ), color-stop( 0.02, #161E24ff ), color-stop( 0.2, #161E2400 ), to( #161E2400 ) );
	opacity: 0;
	width: 73.9%;
	height: 100%;
	border-left: chatBorderWidth chatBorderStyle chatBorderColor;
	transition-property: opacity;
	transition-duration: chatTransitionDuration;
	width: 100%;
}

#ChatLinesContainer
{
	border: 0px solid black;
	height: 225px;
	margin-bottom: 0px;
	background-color: #00000000;
	opacity-mask: url("s2r://panorama/images/chat_wheel/hudchat_mask_psd.vtex") 1.0;
	width: 100%;
	overflow: squish;
	border-left: chatBorderWidth chatBorderStyle transparent;
	border-right: chatBorderWidth chatBorderStyle transparent;
	border-bottom: chatBorderWidth chatBorderStyle transparent;
	transform: scaleY( -1.0 );
	transition-property: background-color, height, opacity-mask;
	transition-duration: chatTransitionDuration;
}

#HudChat #ChatControls
{
	opacity: 0;
	background-color: #000c;
	text-shadow: 1px 1.5px 0px 2 #000000;
	border-radius: 6px;
	margin-top: -1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000f ), color-stop( 0.8, #000d ), to( #000a ) );
	flow-children: right;
}

#HudChat.Active #ChatControls
{
	opacity: 1;
}

.ChatTargetHidden #ChatInput
{
	padding-left: 6px;
}

#ChatInput
{
	vertical-align: bottom;
	width: fill-parent-flow( 1.0 );
	height: 32px;
	border: 0px solid black;
	background-color: rgba(0,0,0,0);
	white-space: nowrap;
	color: white;
}

#ChatInput #PlaceholderText
{
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: -5px;
}

#ChatTargetLabel,#ChatScrollUpButton,#ChatScrollDownButton
{
	height: 100%;
	vertical-align: middle;
}

#ChatTargetLabel,#ChatInput
{
	font-size: 16px;
	padding: 6px 3px 5px 3px;
	vertical-align: middle;
}

#ChatTargetLabel
{
	max-width: 180px;
	padding-right: 0px;
	padding-left: 5px;
	color: white;
}

.ChatTargetHidden #ChatTargetLabel
{
	visibility: collapse;
}

.HeroIcon
{
	width: 30px;
	height: 30px;
	margin-right: 5px;
	vertical-align: center;
	margin-top: -5px;
}

#PingLinesArea .HeroIcon
{
	height: 35px;
	width: 35px;
	padding-left: 5px;
}

.ChatWheelIcon
{
	height: 20px;
	width: 20px;
	vertical-align: top;
	margin-bottom: 3px;
	margin-top: -3px;
}

.ChatLineContainer
{
	margin-left: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 409px;
	flow-children: right;
	height: fit-children;
	transition-property: opacity, height, margin, transform;
	transition-duration: 0s, 0.4s, 0.4s, 0.4s;
	opacity: 1;
}

#PingLinesArea .ChatLineContainer
{
	height: 35px;
	width: fit-children;
	margin-left: 0px;
}

.ChatLine
{
	color: white;
	font-size: 16px;
	font-weight: thin;
	font-size: 18px;
	text-shadow: 1px 1.5px 0px 2 #000000;
	line-height: 16px;
	vertical-align: center;
}

#PingLinesArea .ChatLine
{
	font-size: 20px;
	text-shadow: none;
	font-weight: semibold;
	text-overflow: shrink;
	padding-right: 5px;
}

.strikeThrough .ChatLine
{
	text-decoration: line-through;
}

.ChatLine .blueChatText
{
	color: #11aeff;
}

.ChatLine .orangeChatText
{
	color: #d37b08;
}

.ChatLine .yellowChatText
{
	color: #ecec00;
}

.ChatLine .purpleChatText
{
	color: #ff06ff;
}

.ChatLine .friendlyTeam
{
	color: lightgreen;
}

.ChatLine .enemyTeam
{
	color: darkorange;
}

.ChatLine .weaponModText
{
	color: orange;
}

.ChatLine .armorModText
{
	color: lightgreen;
}

.ChatLine .blueChatTech
{
	color: #00ccff;
}

.ChatLineContainer.Expired
{
	opacity: 0;
}

.ChatLineContainer.QuickHide.Expired
{
	transition-duration: 0.0s;
	opacity: 0;
}

#PingLinesArea .ChatLineContainer.Expired
{
	opacity: 0;
	height: 0px;
	margin: 0px 0px 0px 5px;
	transform: translateY( -30px );
}

.Active .ChatLineContainer.Expired
{
	transition-property: opacity;
	transition-duration: 0.0s;
	opacity: 1;
}

.ChatLinePrefix
{
	margin-right: 3px;
}

.onlyAddingSoContentCompiles
{
	background-image: url("s2r://panorama/images/chat_wheel/chat_wheel_icon_png.vtex");
}

.ChatLine .purchaseText
{
	color: grey;
}

.ChatLine .ChatPersona
{
	color: #0dff41;
}

