/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@keyframes 'pulse'
{
	0%
	{
		brightness: 0.5;
		pre-transform-scale2d: 0.1;
		opacity: 1.0;
	}
	
	50%
	{
		opacity: 1.0;
	}
	
	100%
	{
		brightness: 1.0;
		pre-transform-scale2d: 1.5;
		opacity: 0.0;
	}
	
}

.WindowRoot
{
	width: 800px;
	height: 800px;
}

.bg
{
	height: 100%;
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/world_space/status_bg_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.9;
}

.pulse_bg
{
	height: 65%;
	width: 65%;
	vertical-align: center;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/control_points/locked_icon_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.9;
}

.pulse_outer
{
	height: 80%;
	width: 80%;
	vertical-align: center;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/world_space/status_border_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.9;
	visibility: collapse;
}

.event_is_soon .pulse_outer
{
	visibility: visible;
	animation-name: pulse;
	animation-duration: 3.0s;
	animation-iteration-count: infinite;
}

.event_is_imminent .pulse_outer
{
	visibility: visible;
	animation-name: pulse;
	animation-duration: 0.45s;
	animation-iteration-count: infinite;
}

#progress_bar_bg
{
	height: 100%;
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	border-radius: 50%;
	clip: radial( 50% 50%, 0deg, 360deg );
	border: 60px dashed rgb(80, 26, 119);
	opacity: 1.0;
	margin: 70px;
}

#progress_bar
{
	height: 100%;
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	border-radius: 50%;
	clip: radial( 50% 50%, 0deg, 360deg );
	border: 90px solid #FFFFFFFF;
	opacity: 1.0;
	margin: 70px;
}

.name
{
	width: 100%;
	font-size: 160px;
	vertical-align: center;
	horizontal-align: center;
	color: white;
	text-align: center;
	min-width: 200%;
	font-family: sans;
	font-weight: semi-bold;
	text-overflow: shrink;
	opacity: 1.0;
}

.powerup.WindowRoot
{
	width: 400px;
	height: 400px;
	margin-left: 200px;
}

.pulse_only_container
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.full_container
{
	width: 100%;
	height: 100%;
}

.powerup .full_container
{
	visibility: collapse;
}

.powerup .pulse_only_container
{
	visibility: visible;
}

.locked .name
{
	visibility: collapse;
}

.locked #progress_bar_bg
{
	visibility: collapse;
}

.locked #progress_bar
{
	visibility: collapse;
}

.locked .bg
{
	background-image: url("s2r://panorama/images/hud/control_points/locked_icon_psd.vtex");
	wash-color: #DDDDDD;
	width: 70%;
	height: 70%;
}

