/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.WindowRoot
{
	width: 100%;
	height: 100%;
}

#UnitStatus
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	flow-children: up;
	pre-transform-scale2d: 1;
}

.hideoutLabel
{
	width: 100%;
	height: 100%;
}

#Play,#Learn,#Watch,#Atrium,#TeleportToSandbox,#TeleportToHideout
{
	visibility: collapse;
}

.play #Play
{
	visibility: visible;
}

.learn #Learn
{
	visibility: visible;
}

.watch #Watch
{
	visibility: visible;
}

.shop #Atrium
{
	visibility: visible;
}

.tpSandbox #TeleportToSandbox
{
	visibility: visible;
}

.tpHideout #TeleportToHideout
{
	visibility: visible;
}

.name
{
	font-size: 200px;
	text-align: center;
	color: white;
	color: rgb(191, 176, 124);
	font-family: sans;
	font-weight: semi-bold;
	text-overflow: shrink;
	text-align: center;
	horizontal-align: center;
	vertical-align: middle;
	text-shadow: 0px 0px 20.0 #00000020;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}

.hideoutLabel .name
{
	font-family: oracle;
	font-size: 400px;
	width: fit-children;
	height: fit-children;
}

.play .name.playLabel
{
	background-color: #0000;
	visibility: visible;
	wash-color: rgb(73, 211, 115);
	font-size: 600px;
	text-align: center;
	vertical-align: middle;
	animation-name: UIGroove;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.vote .name.voteLabel
{
	visibility: visible;
}

.name.subLabel
{
	font-family: block;
	text-transform: uppercase;
	opacity: 0.5;
	font-size: 300px;
}

.background
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/main_menu/hideout/play_sigil_backer.vsvg");
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
	background-size: 70% 70%;
	background-position: center;
	background-repeat: no-repeat;
	wash-color: rgb(73, 211, 115);
	opacity: 0.8;
	opacity: 0;
	animation-name: SigilRotate;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transition-property: opacity;
	transition-duration: 0.5s;
}

#Atrium
{
	flow-children: down;
}

.Language_japanese .name
{
	font-size: 190px;
}

HideoutWorld_HeroReleaseVoteStatus Label.hasNoVotes,HideoutWorld_HeroReleaseVoteStatus Label.hasVotes
{
	visibility: collapse;
}

HideoutWorld_HeroReleaseVoteStatus.HasRemainingVotes Label.hasVotes
{
	visibility: visible;
	padding: 16px 60px;
	color: rgb(238, 222, 140);
}

HideoutWorld_HeroReleaseVoteStatus:not(.HasRemainingVotes) Label.hasNoVotes
{
	visibility: visible;
	padding: 16px 60px;
}

@keyframes 'UIGroove'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateX(0px);
	}
	
	50%
	{
		pre-transform-scale2d: 1;
		transform: translateX(3px) rotateZ(0deg);
		brightness: 3;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: translateX(0px);
	}
	
}

@keyframes 'SigilRotate'
{
	0%
	{
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 0deg;
	}
	
	50%
	{
		pre-transform-scale2d: 1.2;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 360deg;
	}
	
}

@keyframes 'SigilRotateActivate'
{
	0%
	{
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 0deg;
	}
	
	50%
	{
		pre-transform-scale2d: 1.5;
		brightness: 3;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 360deg;
	}
	
}

