/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.WindowRoot
{
	width: 100%;
	height: 100%;
}

#UnitStatus
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	flow-children: up;
}

.name
{
	width: 100%;
	font-size: 200px;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: sans;
	font-weight: semi-bold;
	text-overflow: shrink;
	padding: 0px 40px;
}

.hideoutLabel .name
{
	visibility: collapse;
	color: white;
	border-radius: 6px;
	font-family: block;
	text-transform: uppercase;
	text-shadow: 12px 12px 0px 5 black;
	color: rgb(73, 211, 115);
	width: fit-children;
	horizontal-align: center;
}

.watch .name.watchLabel
{
	visibility: visible;
}

.learn .name.learnLabel
{
	visibility: visible;
}

.play .name.playLabel
{
	background-color: #0000;
	visibility: visible;
}

.vote .name.voteLabel
{
	visibility: visible;
}

.tpSandbox .name.tpLabel
{
	visibility: visible;
}

.tpHideout .name.hideoutLabel
{
	visibility: visible;
}

.shop .name.shopLabel
{
	visibility: visible;
}

.Language_japanese .name
{
	font-size: 190px;
}

HideoutWorld_HeroReleaseVoteStatus Label.hasNoVotes,HideoutWorld_HeroReleaseVoteStatus Label.hasVotes
{
	visibility: collapse;
}

HideoutWorld_HeroReleaseVoteStatus.HasRemainingVotes Label.hasVotes
{
	visibility: visible;
}

HideoutWorld_HeroReleaseVoteStatus:not(.HasRemainingVotes) Label.hasNoVotes
{
	visibility: visible;
}

