/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.WindowRoot
{
	width: 100%;
	height: 100%;
}

#UnitStatus
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	flow-children: up;
}

.name
{
	width: 100%;
	font-size: 200px;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: sans;
	font-weight: semi-bold;
}

