/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.TriggerRoot
{
	width: 100%;
	height: 100%;
	font-family: exo;
	font-size: 48px;
	color: rgba(243, 240, 231, 0.75);
	background-color: rgba(26, 26, 26, 0.5);
	border: 4px solid rgba(26, 26, 26, 0.5);
	flow-children: down;
	opacity: 1;
	animation-name: showPrompt;
	animation-duration: 0.15s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.showPrompt .TriggerRoot
{
	opacity: 1;
	animation-name: showPrompt;
	animation-duration: 0.15s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes 'showPrompt'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.hidePrompt .TriggerRoot
{
	opacity: 1;
	animation-name: hidePrompt;
	animation-duration: 0.45s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes 'hidePrompt'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

.marquee
{
	width: 100%;
	height: 55%;
	margin-bottom: 32px;
	vertical-align: center;
	flow-children: down;
}

.containerTwoCol
{
	width: 100%;
	height: 45%;
	flow-children: right;
}

.containerColA
{
	width: 50%;
	height: 100%;
	margin-right: 2px;
	background-color: rgba(139, 92, 21, 0.1);
	flow-children: down;
}

.containerColB
{
	width: 50%;
	height: 100%;
	margin-left: 16px;
	background-color: rgba(8, 119, 58, 0.1);
	flow-children: down;
}

.basicText
{
	visibility: visible;
	width: 100%;
	margin-top: 48px;
	text-align: center;
}

.cityName
{
	visibility: visible;
	width: 100%;
	margin-top: -48px;
	vertical-align: center;
	text-align: center;
	font-size: 192px;
	font-weight: semi-bold;
}

.textShop
{
	margin-top: 16px;
	horizontal-align: center;
	text-align: center;
	vertical-align: center;
	font-size: 48px;
	color: rgba(255, 168, 38, 1);
}

.inputTextContainer
{
	width: 128px;
	height: 128px;
	horizontal-align: center;
	vertical-align: center;
	background-color: rgba(255, 168, 38, 1);
	border-radius: 16px;
}

.inputText
{
	visibility: visible;
	width: 100%;
	padding-top: -16px;
	font-size: 96px;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	color: rgba(0, 0, 0, 1);
}

.textRegen
{
	width: 100%;
	margin-top: 16px;
	font-size: 48px;
	text-align: center;
	color: rgba(38, 255, 128, 1);
}

.textRegenStatus
{
	visibility: visible;
	width: 100%;
	text-align: center;
	font-size: 96px;
	font-weight: semi-bold;
	color: rgba(38, 255, 128, 1);
}

