/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.WindowRoot
{
	width: 100%;
	height: 100%;
}

#UnitStatus
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	flow-children: up;
	pre-transform-scale2d: 1;
}

.hideoutLabel
{
	width: 100%;
	height: 100%;
}

#Play,#Learn,#Watch,#Atrium,#News,#Seasonal2025,#TeleportToSandbox,#TeleportToHideout
{
	visibility: collapse;
}

.play #Play
{
	visibility: visible;
}

.learn #Learn
{
	visibility: visible;
}

.watch #Watch
{
	visibility: visible;
}

.shop #Atrium
{
	visibility: visible;
}

.news #News
{
	visibility: visible;
}

.seasonal #Seasonal2025
{
	visibility: visible;
}

.tpSandbox #TeleportToSandbox
{
	visibility: visible;
}

.tpHideout #TeleportToHideout
{
	visibility: visible;
}

.EvaluationBranch #Watch
{
	opacity: 0.0;
}

.name
{
	font-size: 200px;
	text-align: center;
	color: white;
	color: rgb(191, 176, 124);
	font-family: sans;
	font-weight: semi-bold;
	text-overflow: shrink;
	text-align: center;
	horizontal-align: center;
	vertical-align: middle;
	text-shadow: 0px 0px 20.0 #00000020;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}

.hideoutLabel .name
{
	font-family: oracle;
	font-size: 400px;
	width: fit-children;
	height: fit-children;
}

.play .name.playLabel
{
	background-color: #0000;
	visibility: visible;
	wash-color: rgb(73, 211, 115);
	font-size: 600px;
	text-align: center;
	vertical-align: middle;
	animation-name: UIGroove;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.vote .name.voteLabel
{
	width: 100%;
	visibility: visible;
	flow-children: down;
	height: fit-children;
	vertical-align: top;
}

.name.subLabel
{
	font-family: block;
	text-transform: uppercase;
	opacity: 0.5;
	font-size: 300px;
}

.name.tpLabel
{
	font-size: 360px;
}

.seasonal .name.seasonalLabel
{
	background-color: #0000;
	visibility: visible;
	wash-color: rgb(136, 212, 235);
	font-size: 320px;
	text-align: center;
	vertical-align: middle;
	line-height: 97%;
	padding: 0px 100px;
	animation-name: UIGroove;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.background
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/main_menu/hideout/play_sigil_backer.vsvg");
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
	background-size: 70% 70%;
	background-position: center;
	background-repeat: no-repeat;
	wash-color: rgb(73, 211, 115);
	opacity: 0.8;
	opacity: 0;
	animation-name: SigilRotate;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transition-property: opacity;
	transition-duration: 0.5s;
}

#Atrium
{
	flow-children: down;
}

#SnowflakeBG
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/seasonal/2025/hideout_label_backer_psd.vtex");
	background-size: 100% 100%;
}

.Language_japanese .name
{
	font-size: 190px;
}

HideoutWorld_HeroReleaseVoteStatus #VoteHeader,HideoutWorld_HeroReleaseVoteStatus #VoteHeader_HasVotes
{
	padding: 16px 60px;
	text-shadow: 12px 12px 22px black 1;
	color: rgb(90, 175, 220);
	font-size: 300px;
}

HideoutWorld_HeroReleaseVoteStatus #VoteHeader
{
	visibility: visible;
}

HideoutWorld_HeroReleaseVoteStatus.HasRemainingVotes #VoteHeader
{
	visibility: collapse;
}

HideoutWorld_HeroReleaseVoteStatus #VoteHeader_HasVotes
{
	visibility: collapse;
}

HideoutWorld_HeroReleaseVoteStatus.HasRemainingVotes #VoteHeader_HasVotes
{
	visibility: visible;
}

HideoutWorld_HeroReleaseVoteStatus #RemainingVotesContainer
{
	width: 100%;
	visibility: collapse;
	flow-children: none;
}

HideoutWorld_HeroReleaseVoteStatus.HasRemainingVotes #RemainingVotesContainer
{
	visibility: visible;
}

HideoutWorld_HeroReleaseVoteStatus #RemainingVotes_Shadow
{
	font-size: 200px;
	font-family: sans;
	color: rgba(0, 0, 0, 0);
	vertical-align: center;
	horizontal-align: center;
	margin-left: 5px;
	margin-top: 5px;
}

HideoutWorld_HeroReleaseVoteStatus #RemainingVotes
{
	font-size: 200px;
	font-family: sans;
	color: rgb(187, 203, 212);
	vertical-align: center;
	horizontal-align: center;
}

@keyframes 'UIGroove'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateX(0px);
	}
	
	50%
	{
		pre-transform-scale2d: 1;
		transform: translateX(3px) rotateZ(0deg);
		brightness: 3;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: translateX(0px);
	}
	
}

@keyframes 'SigilRotate'
{
	0%
	{
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 0deg;
	}
	
	50%
	{
		pre-transform-scale2d: 1.2;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 360deg;
	}
	
}

@keyframes 'SigilRotateActivate'
{
	0%
	{
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 0deg;
	}
	
	50%
	{
		pre-transform-scale2d: 1.5;
		brightness: 3;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 360deg;
	}
	
}

