/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.in_world_ability_panel
{
	border-radius: 6px;
	border: 6px solid orange;
	border-radius: 16px;
	width: 640px;
	height: 100%;
	background-color: rgba( 60, 60, 60, 1 );
	font-family: play;
	flow-children: down;
}

.header
{
	width: 100%;
	height: 96px;
	flow-children: right;
	background-color: rgba(0, 0, 0, 0.5);
}

.ability_name
{
	font-size: 30px;
	line-height: 26px;
	font-weight: bold;
	text-align: left;
	color: orange;
	vertical-align: center;
	margin: 8px;
	margin-left: 16px;
}

#ability_desc
{
	font-size: 24px;
	line-height: 24px;
	width: 100%;
	color: white;
	margin: 16px;
}

#ability_icon
{
	width: 96px;
	height: 96px;
	wash-color: orange;
	vertical-align: top;
}

