/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.TriggerRoot
{
	width: 100%;
	height: 100%;
	font-family: exo;
	font-size: 48px;
	font-weight: semi-bold;
	opacity: 0;
}

.showPrompt .TriggerRoot
{
	animation-name: showPrompt;
	animation-duration: 0.15s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	opacity: 1;
}

@keyframes 'showPrompt'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.hidePrompt .TriggerRoot
{
	animation-name: hidePrompt;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes 'hidePrompt'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

.container
{
	width: 100%;
	height: 200px;
	margin: 2px;
	border: 0px solid rgba(255, 168, 38, 0.0);
	vertical-align: bottom;
	background-color: rgba(255, 168, 38, 0.25);
	flow-children: down;
	opacity: 0.7;
}

.orange.container
{
	background-color: rgba(255, 125, 38, 0.25);
}

.blue.container
{
	background-color: rgba(38, 194, 255, 0.25);
}

.purple.container
{
	background-color: rgba(230, 38, 255, 0.25);
}

.localPlayerLane .container
{
	opacity: 1;
	border: 6px solid white;
	border-radius: 6px;
}

.basicText
{
	visibility: visible;
	width: 100%;
	margin: 16px;
	text-align: center;
	color: rgba(255, 168, 38, 1);
}

.orange.basicText
{
	color: rgb(255, 136, 38);
}

.blue.basicText
{
	color: rgb(38, 175, 255);
}

.purple.basicText
{
	color: rgb(212, 38, 255);
}

.inputTextContainer
{
	width: 160px;
	height: 40px;
	margin-top: 8px;
	margin-bottom: 4px;
	horizontal-align: center;
	background-color: rgba(255, 168, 38, 1);
	border-radius: 4px;
}

.orange.inputTextContainer
{
	background-color: rgb(255, 136, 38);
}

.blue.inputTextContainer
{
	background-color: rgb(38, 175, 255);
}

.purple.inputTextContainer
{
	background-color: rgb(212, 38, 255);
}

.inputText
{
	visibility: visible;
	width: 100%;
	padding-top: -8px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	color: rgba(0, 0, 0, 1);
}

