/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.TriggerRoot
{
	width: 100%;
	height: 100%;
	font-family: exo;
	font-size: 32px;
	opacity: 0;
}

.showPrompt .TriggerRoot
{
	opacity: 1;
	animation-name: showPromptAnim;
	animation-duration: 0.15s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes 'showPromptAnim'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.hidePrompt .TriggerRoot
{
	animation-name: hidePromptAnim;
	animation-duration: 0.45s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes 'hidePromptAnim'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

.container
{
	width: 100%;
	height: 200px;
	margin: 2px;
	border: 0px solid rgba(255, 168, 38, 0.0);
	vertical-align: bottom;
	background-color: rgba(255, 168, 38, 0.15);
	flow-children: down;
}

.basicText
{
	visibility: visible;
	width: 100%;
	text-align: center;
	color: rgba(255, 168, 38, 1);
}

.inputTextContainer
{
	width: 80px;
	height: 80px;
	margin-top: 32px;
	margin-bottom: 16px;
	horizontal-align: center;
	background-color: rgba(255, 168, 38, 1);
	border-radius: 8px;
}

.inputText
{
	visibility: visible;
	width: 100%;
	padding-top: -8px;
	font-size: 64px;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	color: rgba(0, 0, 0, 1);
}

