/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.LoadingRoot
{
	width: 100%;
	height: 100%;
	background-color: black;
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.LoadingDetails
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
}

.LoadingDetails Label
{
	font-size: 28px;
	font-family: block;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.LoadingDetails .SpinnerContainer
{
	width: 64px;
	height: 64px;
	flow-children: none;
	wash-color: offWhite&44;
	opacity: 0.03;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.LoadingDetails .SpinnerOuter
{
	width: 64px;
	height: 64px;
	background-image: url("s2r://panorama/images/main_menu/deadlock_logo_outer.vsvg");
	background-texture-size: 64px 64px;
	background-size: 64px 64px;
	flow-children: none;
	animation-name: RotateOuter;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.LoadingDetails .SpinnerInner
{
	vertical-align: middle;
	horizontal-align: center;
	background-size: contain;
	width: 64px;
	height: 64px;
	background-texture-size: 64px 64px;
	background-size: 64px 64px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("s2r://panorama/images/main_menu/deadlock_logo_inner.vsvg");
	animation-name: RotateInner;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

