/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelLocalPlayerDetails
{
	flow-children: right;
	transition-property: brightness;
	transition-duration: 0.2s;
}

CitadelLocalPlayerDetails:hover
{
	brightness: 2.0;
}

CitadelLocalPlayerDetails:active
{
	brightness: 1.5;
}

CitadelLocalPlayerDetails .Details
{
	flow-children: down;
	vertical-align: middle;
	margin-right: 12px;
}

CitadelLocalPlayerDetails .Details #UserName
{
	horizontal-align: right;
}

CitadelLocalPlayerDetails .Details #UserName Label
{
	text-align: right;
	font-size: 28px;
	height: 32px;
	font-weight: semi-bold;
	color: offWhite&aa;
}

CitadelLocalPlayerDetails .Details #RichPresence
{
	horizontal-align: right;
}

CitadelLocalPlayerDetails .Details #RichPresence Label
{
	text-align: right;
	font-size: 16px;
	color: offWhite&44;
}

CitadelLocalPlayerDetails #HeroBadge
{
	ui-scale: 120%;
	tooltip-position: bottom;
}

