/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.ping_panel
{
	width: 200px;
	height: 200px;
	opacity: 1;
}

#circle
{
	width: 100%;
	height: 100%;
	border: 20px solid rgb(0, 255, 191);
	border-radius: 50%;
	opacity: 0;
	transition-property: width, height, border;
	transition-duration: 1s;
	vertical-align: center;
	horizontal-align: center;
}

.location_set #circle
{
	opacity: 0.5;
	border: 3px solid rgb(0, 255, 191);
	width: 15px;
	height: 15px;
}

#center
{
	opacity: 0;
	width: 15px;
	height: 15px;
	border: 3px solid rgb(0, 255, 191);
	border-radius: 50%;
	vertical-align: center;
	horizontal-align: center;
}

.location_set #center
{
	opacity: 0.5;
}

.BaseUnderAttack #center,.BaseUnderAttack #circle
{
	border: 3px solid red;
}

.EntityPing #center,.EntityPing #circle
{
	border: 3px solid #0eff42;
}

.EnemyPing #center,.EnemyPing #circle
{
	border: 3px solid red;
}

.NeutralPing #center,.NeutralPing #circle
{
	border: 3px solid blue;
}

.location_set #circle
{
	animation-name: player-ping-pulse;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'player-ping-pulse'
{
	0%
	{
		pre-transform-scale2d: 1.0;
	}
	
	33%
	{
		pre-transform-scale2d: 1.0;
	}
	
	66%
	{
		pre-transform-scale2d: 4.0;
	}
	
	100%
	{
		pre-transform-scale2d: 0.1;
	}
	
}

@keyframes 'hero-ping-pulse'
{
	0%
	{
		pre-transform-scale2d: 1.0;
	}
	
	33%
	{
		pre-transform-scale2d: 1.5;
	}
	
	66%
	{
		pre-transform-scale2d: 1.5;
	}
	
	100%
	{
		pre-transform-scale2d: 1.0;
	}
	
}

#hero_img
{
	height: 15px;
	width: 15px;
	vertical-align: center;
	horizontal-align: center;
}

.location_set #hero_img
{
	animation-name: hero-ping-pulse;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

