/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.MainBody
{
	width: 1200px;
	height: 800px;
	flow-children: down;
	horizontal-align: center;
	padding: 20px;
}

.Header
{
	width: 100%;
}

.TabGroup
{
	flow-children: right;
	horizontal-align: left;
}

.loading .TabGroup,.has_error .TabGroup
{
	visibility: collapse;
}

.CloseButton
{
	width: 48px;
	height: 48px;
	background-color: rgba( 255, 255, 255, 0.02 );
	horizontal-align: right;
	background-image: url("s2r://panorama/images/control_icons/purgatory_png.vtex");
	background-size: 100% 100%;
}

.CloseButton:hover
{
	brightness: 2.0;
}

.Tab
{
	height: 48px;
	border: 1px solid black;
	border-radius: 15px 15px 0 0;
	padding: 5px 30px;
}

.Tab Label
{
	font-size: 28px;
}

.Tab:hover
{
	brightness: 2.0;
}

.Tab.Activated
{
	background-color: #333333;
	brightness: 2.0;
}

#LoadingBody
{
	flow-children: right;
	visibility: collapse;
}

.loading #LoadingBody
{
	visibility: visible;
}

.LoadingContents Label
{
	vertical-align: center;
	margin-right: 20px;
	font-size: 32px;
}

.LoadingContents
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
}

.TabContents
{
	padding-top: 15px;
	width: 100%;
	height: 100%;
}

#ErrorBody
{
	visibility: collapse;
}

.has_error #ErrorBody
{
	visibility: visible;
}

.ErrorContents
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
}

#TabBody
{
	width: 100%;
	height: 100%;
}

.loading #TabBody,.has_error #TabBody
{
	visibility: collapse;
}

.loaded #TabBody
{
	visibility: visible;
}

.has_error #TabBody
{
	visibility: collapse;
}

#LoadingSpinner
{
	width: 48px;
	height: 48px;
}

.ErrorMsg
{
	horizontal-align: center;
	font-size: 32px;
	margin-bottom: 30px;
}

#RetryButton
{
	horizontal-align: center;
}

MatchDetailsSummaryInfo,MatchDetailsSummaryTable
{
	width: 100%;
}

MatchDetailsGraphs,MatchDetailsItems,MatchDetailsObjectives
{
	width: 100%;
	height: 100%;
}

MatchDetailsKillMatrix
{
	horizontal-align: center;
	margin-top: 40px;
}

MatchDetailsKillMap
{
	horizontal-align: center;
	margin-top: 40px;
}

.TabOverview
{
	flow-children: down;
}

