/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.ObjectivesPage
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

#objectives_map
{
	width: 600px;
	height: 600px;
	horizontal-align: center;
	vertical-align: center;
}

