/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.history_match
{
	width: 49%;
	height: 104px;
	flow-children: right;
	color: white;
	background-color: #FF000008;
	padding: 10px;
	margin-bottom: 5px;
	border: 2px solid red;
	margin: 5px;
}

.history_match:hover
{
	brightness: 2.0;
}

.won_match
{
	background-color: #00FF0008;
	border-color: green;
}

.match_error
{
	background-color: #FFFF0008;
	border-color: yellow;
}

#hero_image_small
{
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

#objectives_map
{
	width: 80px;
	height: 80px;
	margin-right: 20px;
	border: 1px solid black;
}

.missing_hero #hero_image_small,.missing_hero .hero_name
{
	opacity: 0;
}

.contents
{
	width: 100%;
	flow-children: down;
}

.match_row
{
	width: 100%;
	font-size: 18px;
}

.left_align
{
	horizontal-align: left;
}

.right_align
{
	horizontal-align: right;
}

.match_info
{
	font-size: 26px;
}

.hero_name,.kda
{
	font-size: 24px;
}

.match_status
{
	color: red;
}

.won_match .match_status
{
	color: green;
}

.match_error .match_status
{
	color: yellow;
}

