/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.KillMapCtn
{
	flow-children: right;
}

.TeamList
{
	flow-children: down;
	width: 100px;
}

.KillMapBody
{
	width: 600px;
	height: 600px;
	margin: 0px 20px;
}

.KillMapImg
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/main_menu/minimap_png.vtex");
	background-size: 100% 100%;
}

#Team0List .Player
{
	background-color: #225522;
}

#Team1List .Player
{
	background-color: #552222;
}

.Player
{
	opacity: 0.2;
}

.Player:hover
{
	brightness: 2.0;
}

.ShowPlayer0 #Player0,.ShowPlayer1 #Player1,.ShowPlayer2 #Player2,.ShowPlayer3 #Player3,.ShowPlayer4 #Player4,.ShowPlayer5 #Player5,.ShowPlayer6 #Player6,.ShowPlayer7 #Player7,.ShowPlayer8 #Player8,.ShowPlayer9 #Player9,.ShowPlayer10 #Player10,.ShowPlayer11 #Player11
{
	opacity: 1;
}

#KillMapOverlay
{
	width: 100%;
	height: 100%;
}

.Killer
{
	wash-color: red;
	background-image: url("s2r://panorama/images/control_icons/friend_png.vtex");
	background-size: 100% 100%;
	margin-left: -7px;
	margin-top: -7px;
	width: 15px;
	height: 15px;
	visibility: collapse;
}

.Victim
{
	wash-color: blue;
	background-image: url("s2r://panorama/images/control_icons/purgatory_png.vtex");
	background-size: 100% 100%;
	margin-left: -7px;
	margin-top: -7px;
	width: 15px;
	height: 15px;
	visibility: collapse;
}

.ShowPlayer0 .Player0Kill,.ShowPlayer1 .Player1Kill,.ShowPlayer2 .Player2Kill,.ShowPlayer3 .Player3Kill,.ShowPlayer4 .Player4Kill,.ShowPlayer5 .Player5Kill,.ShowPlayer6 .Player6Kill,.ShowPlayer7 .Player7Kill,.ShowPlayer8 .Player8Kill,.ShowPlayer9 .Player9Kill,.ShowPlayer10 .Player10Kill,.ShowPlayer11 .Player11Kill
{
	visibility: visible;
}

.ShowPlayer0 .Player0Victim,.ShowPlayer1 .Player1Victim,.ShowPlayer2 .Player2Victim,.ShowPlayer3 .Player3Victim,.ShowPlayer4 .Player4Victim,.ShowPlayer5 .Player5Victim,.ShowPlayer6 .Player6Victim,.ShowPlayer7 .Player7Victim,.ShowPlayer8 .Player8Victim,.ShowPlayer9 .Player9Victim,.ShowPlayer10 .Player10Victim,.ShowPlayer11 .Player11Victim
{
	visibility: visible;
}

.IsHovering .Killer,.IsHovering .Victim
{
	visibility: collapse;
}

.Player0Hover .Player0Kill,.Player1Hover .Player1Kill,.Player2Hover .Player2Kill,.Player3Hover .Player3Kill,.Player4Hover .Player4Kill,.Player5Hover .Player5Kill,.Player6Hover .Player6Kill,.Player7Hover .Player7Kill,.Player8Hover .Player8Kill,.Player9Hover .Player9Kill,.Player10Hover .Player10Kill,.Player11Hover .Player11Kill,.Player0Hover .Player0Victim,.Player1Hover .Player1Victim,.Player2Hover .Player2Victim,.Player3Hover .Player3Victim,.Player4Hover .Player4Victim,.Player5Hover .Player5Victim,.Player6Hover .Player6Victim,.Player7Hover .Player7Victim,.Player8Hover .Player8Victim,.Player9Hover .Player9Victim,.Player10Hover .Player10Victim,.Player11Hover .Player11Victim
{
	visibility: visible;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	margin-top: -10px;
}

