/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.KillMatrix
{
	flow-children: down;
}

.ColHeaderGroup
{
	flow-children: right;
}

#ColHeaderList
{
	flow-children: right;
}

#ColRowList
{
	flow-children: down;
}

.ColHeaderWidth
{
	width: 84px;
}

.ColHeaderHeight
{
	height: 84px;
}

.RowHeaderWidth
{
	width: 84px;
}

.RowHeaderHeight
{
	height: 84px;
}

.ColHeader
{
	background-color: #225522;
}

.RowHeader
{
	background-color: #552222;
}

.Cell
{
	border-right: 1px solid #444444;
	border-bottom: 1px solid #444444;
	padding-right: 5px;
}

.Cell Label
{
	font-size: 32px;
}

.CellLabelCol
{
	color: green;
	vertical-align: top;
	horizontal-align: left;
	margin-left: 5px;
}

.CellLabelRow
{
	color: red;
	vertical-align: bottom;
	horizontal-align: right;
}

.CellLabelSeparator
{
	visibility: collapse;
	font-size: 180px;
	vertical-align: center;
	horizontal-align: center;
}

#RowList
{
	flow-children: down;
}

.Row
{
	flow-children: right;
}

#CellList
{
	flow-children: right;
}

.HighlightCol
{
	brightness: 2.0;
}

.HighlightRow
{
	brightness: 2.0;
}

.HighlightCell
{
	brightness: 2.0;
}

.Cell.HighlightCellCol,.Cell.HighlightCol
{
	background-color: #112211;
}

.Cell.HighlightCellRow,.Cell.HighlightRow
{
	background-color: #221111;
}

.Cell.HighlightCell
{
	background-color: #333333;
}

.HighlightRow .CellLabelRow
{
	brightness: 2.0;
}

.HighlightCol .CellLabelCol
{
	brightness: 2.0;
}

