/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define playerDetailsWidth: 88px;
.GraphPage
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

.DropDownIntro
{
	ignore-parent-flow: true;
	margin-top: 10px;
	margin-left: 15px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: semi-bold;
	opacity: 0.3;
}

DropDown
{
	border: 0px solid offWhite&05;
	background-color: offWhite&05;
	height: 60px;
	min-width: 400px;
	box-shadow: none;
	margin-bottom: 16px;
	border-radius: 5px;
	wash-color: offWhite;
	background-position: right 36px 85%;
	world-blur: ingameHudBlur;
}

DropDown Label
{
	font-size: 24px;
	font-weight: bold;
	margin-top: 23px;
	font-family: oracle;
	text-overflow: shrink;
	color: white;
}

DropDownMenu.DropDownMenuVisible
{
	width: 400px;
	background-color: offBlack;
	max-height: 550px;
	padding-bottom: 10px;
}

.DeckDropdownCategory
{
	background-color: offBlack;
}

DropDownMenu Label
{
	background-color: offWhite&05;
}

.TeamsRow
{
	width: 1260px;
	height: 170px;
	margin-bottom: 10px;
	horizontal-align: center;
}

.DeckDropdownCategory
{
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: semi-bold;
	opacity: 0.2;
}

#HeroImage
{
	width: 95px;
	height: 120px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #222222 ) );
}

.Team1 .PlayerContainer
{
	background-color: team1Color&20;
}

.Team2 .PlayerContainer
{
	background-color: team2Color&20;
}

#PlayerColor
{
	width: 100%;
	height: 7px;
}

#TeamCtnLeft
{
	horizontal-align: left;
	flow-children: left;
}

#TeamCtnRight
{
	horizontal-align: right;
	flow-children: right;
}

.MainCol
{
	width: 100%;
	height: 100%;
	max-height: 780px;
	margin-top: 20px;
	flow-children: down;
}

.GraphSelectCtn
{
	width: 100%;
}

.GraphOptionsCtn
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: middle;
	margin-right: 20px;
	visibility: collapse;
}

.ShowGraph .GraphOptionsCtn
{
	visibility: visible;
}

#GraphTeamOption
{
	visibility: collapse;
}

.CanShowAsTeam #GraphTeamOption
{
	visibility: visible;
}

.GraphOption
{
	flow-children: right;
}

#GraphPctOption
{
	visibility: collapse;
}

.OptionLabel
{
	font-size: 16px;
	font-style: italic;
	font-weight: semi-bold;
	opacity: 0.3;
	margin-right: 15px;
	margin-left: 20px;
	vertical-align: center;
	color: offWhite;
}

.GraphOptionButton
{
	border: 1px solid offWhite&88;
	padding: 8px 5px;
	min-width: 80px;
}

.GraphOptionButton Label
{
	text-align: center;
	horizontal-align: center;
	width: fit-children;
	vertical-align: center;
	font-weight: medium;
	margin-bottom: 2px;
}

.ShowAsValue #ValueButton,.ShowAsPct #PctButton,.ShowAsPlayer #HeroButton,.ShowAsTeam #TeamButton
{
	background-color: offWhite&66;
	color: black;
	font-size: 16px;
	border: 1px solid offWhite&88;
}

.ShowAsValue #ValueButton Label,.ShowAsPct #PctButton Label,.ShowAsPlayer #HeroButton Label,.ShowAsTeam #TeamButton Label
{
	color: offBlack;
	font-weight: semi-bold;
}

#TeamButton Label,#PlayerButton Label
{
	text-overflow: shrink;
}

#HeroButton,#ValueButton
{
	border-radius: 3px 0px 0px 3px;
}

#TeamButton,#PctButton
{
	border-radius: 0px 3px 3px 0px;
}

.GraphCtn
{
	width: 100%;
	height: fill-parent-flow(1.0);
	height: 700px;
	visibility: collapse;
	padding: 20px;
	background-color: #00000000;
}

.ShowGraph .GraphCtn
{
	visibility: visible;
}

.LaneStatsCtn
{
	width: 100%;
	height: 100%;
	visibility: collapse;
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( team1Color&11 ), to( team2Color&11 ) );
}

.GraphFlipTeams .LaneStatsCtn
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( team1Color&11 ), to( team2Color&11 ) );
}

.ShowLaneStats .LaneStatsCtn
{
	visibility: visible;
}

.TeamCtn
{
	flow-children: right;
	width: 528px;
	height: 100%;
}

#Graph
{
	width: 100%;
	height: 100%;
	height: 700px;
	saturation: 0.8;
	brightness: 0.5;
}

#XLabels
{
	width: 100%;
	height: 100%;
}

#YLabels
{
	width: 100%;
	height: 100%;
}

.YAxisLabel
{
	color: #6E7D87;
	background-color: #000000DD;
	horizontal-align: right;
	color: #CCCCCC;
	padding-left: 3px;
}

.XAxisLabel
{
	color: #6E7D87;
	padding-left: 6px;
	color: #CCCCCC;
	background-color: #000000DD;
}

.ShowLaneColors .TeamCtn .LaneYellow .PlayerContainer
{
	background-color: #88770066;
	background-color: laneYellowColor&30;
}

.ShowLaneColors .TeamCtn .LaneGreen .PlayerContainer
{
	background-color: #77332266;
	background-color: laneGreenColor&60;
}

.ShowLaneColors .TeamCtn .LaneBlue .PlayerContainer
{
	background-color: #0000AA66;
	background-color: laneBlueColor&30;
}

.ShowLaneColors .TeamCtn .LanePurple .PlayerContainer
{
	background-color: #88008866;
	background-color: lanePurpleColor&30;
}

.Player
{
	width: playerDetailsWidth;
	brightness: 0.1;
	height: 100%;
}

.PlayerContainer
{
	flow-children: down;
	background-color: black;
	height: 100%;
}

.Player Label,CitadelUserName
{
	horizontal-align: center;
}

.Selected.Player
{
	brightness: 1.0;
}

.Player:hover
{
	brightness: 1.0;
}

.PlayerLevel,#PlayerUserName
{
	visibility: collapse;
	font-weight: semi-bold;
	font-size: 13px;
	text-overflow: shrink;
	max-height: 22px;
	vertical-align: center;
}

.PlayerLevel
{
	font-weight: bold;
	margin: 5px;
}

CitadelPostGame .PlayerLevel,CitadelPostGame #PlayerUserName
{
	visibility: visible;
}

.linePanel
{
	width: 1px;
	height: 100%;
	background-color: grey;
	visibility: collapse;
	horizontal-align: right;
}

.PlayerNetWorthTooltipTarget:hover .linePanel
{
	visibility: visible;
}

#SwitchPage
{
	flow-children: down;
	horizontal-align: middle;
	vertical-align: top;
	margin-top: 100px;
	opacity: 0.3;
}

.DontShowSwitchPage #SwitchPage
{
	visibility: collapse;
}

#SwitchPage Label
{
	font-size: 18px;
	font-weight: bold;
	color: offWhite;
	text-transform: uppercase;
	padding: 8px 0px 12px 0px;
}

#GraphIcon
{
	width: 20px;
	height: 20px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/icons/icon_graph.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8;
	wash-color: offWhite;
}

#NavArrow
{
	width: 20px;
	height: 10px;
	wash-color: offWhite;
	opacity: 0.8;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/icons/icon_carat.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotateZ(180deg);
}

#SwitchPage:hover
{
	opacity: 0.8;
}

.LaneBody
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

.LaneStatPlayer
{
	flow-children: down;
	margin: 10px;
}

.LaneStatPlayerCtn
{
	flow-children: down;
	vertical-align: center;
	margin: 0px 30px;
}

.LaneStats
{
	flow-children: down;
	vertical-align: center;
}

.LaneStat
{
	width: 350px;
	height: 40px;
	border: 2px solid offBlack;
	margin: 10px;
}

.BackgroundBars
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.LabelCtn
{
	width: 100%;
	height: 100%;
	padding: 0px 15px;
}

.LeftLabel
{
	width: 100%;
	text-align: left;
	font-size: 20px;
	font-weight: semi-bold;
	vertical-align: center;
	text-shadow: 1px 1px 0px #00000090;
}

.RightLabel
{
	width: 100%;
	text-align: right;
	font-size: 20px;
	font-weight: semi-bold;
	vertical-align: center;
	text-shadow: 1px 1px 0px #00000090;
}

.StatName
{
	width: 100%;
	text-align: center;
	font-size: 16px;
	vertical-align: center;
	font-weight: bold;
	text-shadow: 1px 1px 0px #00000090;
}

#LeftHighlightBar,.GraphFlipTeams #RightHighlightBar
{
	background-color: team1Color;
}

#LeftBar,.GraphFlipTeams #RightBar
{
	background-color: team1Color&88;
}

#RightBar,.GraphFlipTeams #LeftBar
{
	background-color: team2Color&88;
}

#RightHighlightBar,.GraphFlipTeams #LeftHighlightBar
{
	background-color: team2Color;
}

.StatGroupLabel
{
	width: 100%;
	text-align: center;
	font-size: 25px;
	margin: 10px 0px;
	font-weight: bold;
}

#PlayerUserName Label
{
	font-weight: semi-bold;
	font-size: 17px;
	height: 26px;
	text-align: center;
	text-overflow: shrink;
}

.TopPanel
{
	horizontal-align: center;
}

#HeroImageArea
{
	width: 100%;
	height: 100px;
}

.HeroIconContainer
{
	width: playerDetailsWidth;
	vertical-align: bottom;
}

#HeroBadge
{
	vertical-align: bottom;
	horizontal-align: center;
	ignore-parent-flow: true;
	z-index: 1;
	visibility: visible;
}

.HeroContents
{
	height: 120px;
	width: 100%;
	flow-children: none;
	z-index: 2;
	margin-top: 0px;
}

.HeroContentsCoinBackground
{
	height: 100%;
	width: 100%;
	background-img-opacity: 1;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	opacity: 0;
	background-image: url("s2r://panorama/images/hud/top_bar/coin_background_selected.vsvg");
	background-img-opacity: 1;
	opacity-brush: gradient( linear, 0% 100%, 0% 0%, from( #00000090 ), to( #e8e8e860 ) );
	transition-property: opacity;
	transition-duration: 0.25s;
}

.LocalPlayer .HeroContentsCoinBackground,.SpectatorTarget .HeroContentsCoinBackground,.IsInLocalPlayerLane .HeroContentsCoinBackground
{
	opacity: 0.5;
}

.team1 .IsInLocalPlayerLane .HeroContentsCoinBackground
{
	wash-color: team1Color;
}

.team2 .IsInLocalPlayerLane .HeroContentsCoinBackground
{
	wash-color: team2Color;
}

.team1 .SpectatorTarget .HeroContentsCoinBackground,.team1 .LocalPlayer .HeroContentsCoinBackground
{
	brightness: 3;
	wash-color: team1Color;
	opacity: 1;
}

.team2 .SpectatorTarget .HeroContentsCoinBackground,.team2 .LocalPlayer .HeroContentsCoinBackground
{
	brightness: 3;
	wash-color: team2Color;
	opacity: 1;
}

.LocalPlayer .HeroContentsCoinBackground,.SpectatorTarget .HeroContentsCoinBackground,.IsInLocalPlayerLane .HeroContentsCoinBackground
{
	wash-color: colorEnemy;
}

.HeroContentsCoinInnerBorder
{
	height: 100%;
	width: 100%;
	background-image: url("s2r://panorama/images/hud/top_bar/coin_inner_border.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	opacity: 0;
}

.Team1 .HeroContentsCoinInnerBorder
{
	wash-color: team1Color;
}

.Team2 .HeroContentsCoinInnerBorder
{
	wash-color: team2Color;
}

.SoulsValueContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 0px;
	padding: 1px 5px 0px 5px;
	border-radius: 0px 0px 3px 3px;
	background-color: offBlack;
	margin-top: 76px;
	padding-top: 20px;
	box-shadow: 2px 2px 0px #00000050;
	border-bottom: 3px solid #00000000;
}

.GameMode_StreetBrawl .SoulsValueContainer
{
	visibility: collapse;
}

.team1 .SoulsValueContainer
{
	background-color: team1Color;
}

.team2 .SoulsValueContainer
{
	background-color: team2Color;
}

.SoulsValue
{
	color: offWhite;
	font-size: 15px;
	font-family: oracle;
	font-weight: bold;
	vertical-align: center;
	color: offWhite;
	vertical-align: middle;
	margin-left: 0px;
	opacity: 1;
	text-align: center;
	horizontal-align: center;
	text-overflow: shrink min( 15px );
}

.team1 .SoulsValue
{
	wash-color: team1Foreground;
}

.GameClock
{
	width: fit-children;
	vertical-align: top;
	horizontal-align: center;
	background-color: #00000090;
	ignore-parent-flow: true;
	world-blur: ingameHudBlur;
	padding: 5px;
	margin-top: 8px;
	overflow: noclip;
	border-radius: 5px;
}

.GameTime
{
	font-size: 14px;
	color: offWhite&90;
	horizontal-align: center;
	vertical-align: center;
	width: 80px;
	height: 20px;
	font-weight: semi-bold;
	text-align: center;
	padding: 2px 10px;
	font-family: block;
	margin-top: 1px;
}

.TeamNetworth
{
	width: 300px;
	margin-top: 45px;
	horizontal-align: center;
}

.GameMode_StreetBrawl .TeamNetworth
{
	visibility: collapse;
}

.TeamScore
{
	width: 145px;
}

.TeamScore.Right
{
	horizontal-align: right;
}

.ScoreBG
{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	wash-color: #000000;
	padding-left: 50px;
	opacity-mask: url("s2r://panorama/images/masks/dust_01_psd.vtex");
}

.Right .ScoreBG
{
	padding-left: 0px;
	padding-right: 50px;
}

.team1 .ScoreBG
{
	wash-color: team1Color;
}

.team2 .ScoreBG
{
	wash-color: team2Color;
}

.ScoreLabel
{
	horizontal-align: center;
	font-size: 22px;
	font-weight: bold;
	vertical-align: center;
	text-align: center;
	color: white;
	font-family: oracle;
}

.ScoreLabel .demote
{
	font-size: 14px;
	color: offWhite&90;
}

.TeamIcon
{
	background-size: 100% 100%;
	vertical-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 28px;
	width: 30px;
	margin: 2px;
}

.team1 .TeamIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_team1_psd.vtex");
}

.team2 .TeamIcon
{
	background-image: url("s2r://panorama/images/hud/core/icon_team2_psd.vtex");
}

.ScoreContainer
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: middle;
	padding-right: 5px;
}

.Language_brazilian .ScoreContainer
{
	padding-right: 2px;
}

.Language_czech .ScoreContainer
{
	padding-right: 1px;
}

.Language_german .ScoreContainer
{
	padding-right: 5px;
}

.Language_latam .ScoreContainer
{
	padding-right: 1px;
}

.Language_polish .ScoreContainer
{
	padding-right: 0px;
}

.Language_russian .ScoreContainer
{
	padding-right: 0px;
}

.Language_spanish .ScoreContainer
{
	padding-right: 2px;
}

.Right .ScoreContainer
{
	horizontal-align: left;
	padding-right: 0px;
	padding-left: 5px;
}

.Language_brazilian .Right .ScoreContainer
{
	padding-left: 2px;
}

.Language_czech .Right .ScoreContainer
{
	padding-left: 1px;
}

.Language_german .Right .ScoreContainer
{
	padding-left: 5px;
}

.Language_latam .Right .ScoreContainer
{
	padding-left: 1px;
}

.Language_polish .Right .ScoreContainer
{
	padding-left: 0px;
}

.Language_russian .Right .ScoreContainer
{
	padding-left: 0px;
}

.Language_spanish .Right .ScoreContainer
{
	padding-left: 2px;
}

.team1 .ScoreContainer
{
	wash-color: team1Foreground;
}

