/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.SummaryTable
{
	margin-top: 20px;
	width: 100%;
	flow-children: down;
}

.TableHeader
{
	width: 100%;
	background-color: black;
	flow-children: right;
}

#PlayerList
{
	width: 100%;
	flow-children: down;
}

.PlayerRow
{
	width: 100%;
	flow-children: right;
	height: 40px;
}

.UserCol
{
	width: 28%;
}

.HeroCol
{
	width: 24%;
}

.StatCol
{
	width: 12%;
}

.PlayerRow .UserCol
{
	flow-children: right;
}

.PlayerRow .HeroCol
{
	flow-children: right;
}

.PlayerRow CitadelHeroImage
{
	width: 32px;
	height: 32px;
	margin-right: 20px;
	vertical-align: center;
}

.Team0
{
	background-color: #003300;
}

.Team1
{
	background-color: #330000;
}

.OddRow.Team0
{
	background-color: #115511;
}

.OddRow.Team1
{
	background-color: #551111;
}

.HeroName
{
	vertical-align: center;
}

#UserName
{
	vertical-align: center;
}

.PlayerRow .StatCol
{
	vertical-align: center;
}

.PlayerRow CitadelAvatarImage
{
	margin-left: 15px;
	width: 32px;
	height: 32px;
	margin-right: 20px;
}

.PlayerRow CitadelUserName
{
	width: 100%;
	height: 30px;
	vertical-align: center;
}

.PlayerRow .UserCol
{
	vertical-align: center;
}

.PlayerRow .HeroCol
{
	vertical-align: center;
}

.TableHeader .UserCol
{
	padding-left: 15px;
}

.PlayerRow Label
{
	font-size: 24px;
}

