/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.GraphPage
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

.DropDownIntro
{
	ignore-parent-flow: true;
	margin-top: 10px;
	margin-left: 15px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: semi-bold;
	opacity: 0.3;
}

DropDown
{
	border: 0px solid offWhite&05;
	background-color: offBlack;
	height: 80px;
	min-width: 400px;
	box-shadow: none;
}

DropDown Label
{
	font-size: 32px;
	font-weight: bold;
	margin-top: 23px;
	font-family: serif;
}

DropDownMenu.DropDownMenuVisible
{
	width: 400px;
	background-color: offBlack;
	max-height: 500px;
	padding-bottom: 10px;
}

.DeckDropdownCategory
{
	background-color: offBlack;
}

DropDownMenu Label
{
	background-color: offWhite&05;
}

.TeamsRow
{
	width: 100%;
	height: 170px;
	margin-bottom: 10px;
}

.DeckDropdownCategory
{
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: semi-bold;
	opacity: 0.2;
}

#HeroImage
{
	width: 95px;
	height: 120px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #222222 ) );
}

.Team1 .PlayerContainer
{
	background-color: team1Color&20;
}

.Team2 .PlayerContainer
{
	background-color: team2Color&20;
}

#PlayerColor
{
	width: 100%;
	height: 7px;
}

#TeamCtnLeft
{
	horizontal-align: left;
}

#TeamCtnRight
{
	horizontal-align: right;
}

.MainCol
{
	width: 100%;
	height: 100%;
	max-height: 780px;
	margin-top: 20px;
	flow-children: down;
	background-color: #000000aa;
}

.GraphSelectCtn
{
	width: 100%;
	background-color: offBlack&90;
}

.GraphOptionsCtn
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: middle;
	margin-right: 20px;
	visibility: collapse;
}

.ShowGraph .GraphOptionsCtn
{
	visibility: visible;
}

#GraphTeamOption
{
	visibility: collapse;
}

.CanShowAsTeam #GraphTeamOption
{
	visibility: visible;
}

.GraphOption
{
	flow-children: right;
}

#GraphPctOption
{
	visibility: collapse;
}

.OptionLabel
{
	font-size: 16px;
	font-style: italic;
	font-weight: semi-bold;
	opacity: 0.3;
	margin-right: 15px;
	margin-left: 20px;
	vertical-align: center;
}

.GraphOptionButton
{
	border: 1px solid ritualGreen&30;
	padding: 8px 5px;
	min-width: 80px;
}

.GraphOptionButton Label
{
	width: 100%;
	text-align: center;
	vertical-align: center;
	font-weight: medium;
	margin-bottom: 2px;
}

.ShowAsValue #ValueButton,.ShowAsPct #PctButton,.ShowAsPlayer #HeroButton,.ShowAsTeam #TeamButton
{
	background-color: ritualGreen;
	color: black;
	font-size: 16px;
	border: 1px solid ritualGreen;
}

.ShowAsValue #ValueButton Label,.ShowAsPct #PctButton Label,.ShowAsPlayer #HeroButton Label,.ShowAsTeam #TeamButton Label
{
	color: offBlack;
	font-weight: semi-bold;
}

#HeroButton,#ValueButton
{
	border-radius: 3px 0px 0px 3px;
}

#TeamButton,#PctButton
{
	border-radius: 0px 3px 3px 0px;
}

.GraphCtn
{
	width: 100%;
	height: fill-parent-flow(1.0);
	height: 700px;
	visibility: collapse;
	padding: 20px;
	background-color: black;
}

.ShowGraph .GraphCtn
{
	visibility: visible;
}

.LaneStatsCtn
{
	width: 100%;
	height: 100%;
	visibility: collapse;
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( team1Color&11 ), to( team2Color&11 ) );
}

.GraphFlipTeams .LaneStatsCtn
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( team1Color&11 ), to( team2Color&11 ) );
}

.ShowLaneStats .LaneStatsCtn
{
	visibility: visible;
}

.TeamCtn
{
	flow-children: right;
	height: 100%;
}

#Graph
{
	width: 100%;
	height: 100%;
	height: 700px;
}

#XLabels
{
	width: 100%;
	height: 100%;
}

#YLabels
{
	width: 100%;
	height: 100%;
}

.YAxisLabel
{
	color: #6E7D87;
	background-color: #000000DD;
	horizontal-align: right;
	color: #CCCCCC;
	padding-left: 3px;
}

.XAxisLabel
{
	color: #6E7D87;
	padding-left: 6px;
	color: #CCCCCC;
	background-color: #000000DD;
}

.ShowLaneColors .TeamCtn .LaneYellow .PlayerContainer
{
	background-color: #88770066;
}

.ShowLaneColors .TeamCtn .LaneOrange .PlayerContainer
{
	background-color: #77332266;
}

.ShowLaneColors .TeamCtn .LaneBlue .PlayerContainer
{
	background-color: #0000AA66;
}

.ShowLaneColors .TeamCtn .LanePurple .PlayerContainer
{
	background-color: #88008866;
}

.Player
{
	width: 95px;
	brightness: 0.1;
	padding: 0px 5px;
	height: 100%;
}

.PlayerContainer
{
	flow-children: down;
	background-color: black;
	height: 100%;
}

.Player Label,CitadelUserName
{
	horizontal-align: center;
}

.Selected.Player
{
	brightness: 1.0;
}

.Player:hover
{
	brightness: 1.0;
}

.PlayerLevel,#PlayerUserName
{
	visibility: collapse;
	font-weight: semi-bold;
	font-size: 13px;
	text-overflow: shrink;
	max-height: 22px;
	vertical-align: center;
}

.PlayerLevel
{
	font-weight: bold;
	margin: 5px;
}

CitadelPostGame .PlayerLevel,CitadelPostGame #PlayerUserName
{
	visibility: visible;
}

.linePanel
{
	width: 1px;
	height: 100%;
	background-color: grey;
	visibility: collapse;
	horizontal-align: right;
}

.PlayerNetWorthTooltipTarget:hover .linePanel
{
	visibility: visible;
}

#SwitchPage
{
	flow-children: down;
	horizontal-align: middle;
	vertical-align: top;
	margin-top: 100px;
	opacity: 0.3;
}

#SwitchPage Label
{
	font-size: 18px;
	font-weight: bold;
	color: offWhite;
	text-transform: uppercase;
	padding: 8px 0px 12px 0px;
}

#GraphIcon
{
	width: 20px;
	height: 20px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/icons/icon_graph.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8;
	wash-color: offWhite;
}

#NavArrow
{
	width: 20px;
	height: 10px;
	wash-color: offWhite;
	opacity: 0.8;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/icons/icon_carat.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotateZ(180deg);
}

#SwitchPage:hover
{
	opacity: 0.8;
}

.LaneBody
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

.LaneStatPlayer
{
	flow-children: down;
	margin: 10px;
}

.LaneStatPlayerCtn
{
	flow-children: down;
	vertical-align: center;
	margin: 0px 30px;
}

.LaneStats
{
	flow-children: down;
	vertical-align: center;
}

.LaneStat
{
	width: 350px;
	height: 40px;
	border: 2px solid offBlack;
	margin: 10px;
}

.BackgroundBars
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.LabelCtn
{
	width: 100%;
	height: 100%;
	padding: 0px 15px;
}

.LeftLabel
{
	width: 100%;
	text-align: left;
	font-size: 20px;
	font-weight: semi-bold;
	vertical-align: center;
	text-shadow: 1px 1px 0px #00000090;
}

.RightLabel
{
	width: 100%;
	text-align: right;
	font-size: 20px;
	font-weight: semi-bold;
	vertical-align: center;
	text-shadow: 1px 1px 0px #00000090;
}

.StatName
{
	width: 100%;
	text-align: center;
	font-size: 16px;
	vertical-align: center;
	font-weight: bold;
	text-shadow: 1px 1px 0px #00000090;
}

#LeftHighlightBar,.GraphFlipTeams #RightHighlightBar
{
	background-color: team1Color;
}

#LeftBar,.GraphFlipTeams #RightBar
{
	background-color: team1Color&88;
}

#RightBar,.GraphFlipTeams #LeftBar
{
	background-color: team2Color&88;
}

#RightHighlightBar,.GraphFlipTeams #LeftHighlightBar
{
	background-color: team2Color;
}

.StatGroupLabel
{
	width: 100%;
	text-align: center;
	font-size: 25px;
	margin: 10px 0px;
	font-weight: bold;
}

#PlayerUserName Label
{
	font-weight: semi-bold;
	font-size: 17px;
	height: 26px;
	text-align: center;
	text-overflow: shrink;
}

