/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.MatchDetails
{
	margin-top: 10px;
	width: 100%;
}

.LeftAlign
{
	horizontal-align: left;
}

.RightAlign
{
	horizontal-align: right;
}

.CenterAlign
{
	horizontal-align: center;
}

.Column
{
	flow-children: down;
}

.TeamScore
{
	flow-children: right;
}

.TeamScoreLabel
{
	margin-right: 5px;
}

.TeamScore .Team0
{
	color: green;
}

.TeamScore .Team1
{
	color: red;
}

.Team0Winner .MatchStatus
{
	color: green;
}

.Team1Winner .MatchStatus
{
	color: red;
}

.ServerError .MatchStatus
{
	color: yellow;
}

Label
{
	font-size: 25px;
}

