/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.ReplayContainer
{
	flow-children: right;
}

.ReplayButton
{
	color: offWhite;
	padding: 10px 20px;
	flow-children: right;
	border-radius: 50px;
	opacity: 0.2;
	transition-property: brightness, opacity;
	transition-duration: 0.12s;
	transition-timing-function: ease-in-out;
}

.ReplayButton:hover
{
	opacity: .4;
}

#ReplayIcon
{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 4px;
	background-image: url("s2r://panorama/images/icons/icon_download.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	wash-color: keybindHousingBGColor;
	visibility: collapse;
}

.Enabled #ReplayIcon
{
	visibility: visible;
}

.ReplayDownloaded #ReplayIcon
{
	visibility: visible;
	background-image: url("s2r://panorama/images/icons/icon_play.vsvg");
}

Label
{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
	font-family: block;
	padding-top: 2px;
	margin-left: 6px;
	color: #969087;
}

.Enabled .ReplayButton:hover
{
	sound: soundMainMenuHover;
}

#DeleteReplayButton
{
	visibility: collapse;
}

#DeleteReplayButton Label
{
	color: rgb(255, 108, 108);
	font-weight: semi-bold;
}

#DeleteReplayButton:hover
{
	background-color: #9e2a2a48;
}

.ReplayDownloaded #DeleteReplayButton
{
	visibility: visible;
}

