/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.ItemsPage
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.TeamsCol
{
	width: 55px;
	height: 100%;
	flow-children: down;
	margin-right: 6px;
}

.MainCol
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

.TeamCtn
{
	width: 100%;
	flow-children: down;
}

#TeamCtn0
{
	background-color: #115511;
	margin-bottom: 20px;
}

#TeamCtn1
{
	background-color: #551111;
}

.Player
{
	brightness: 0.1;
}

.Selected.Player
{
	brightness: 1.0;
}

.Player:hover
{
	brightness: 1.0;
}

#ItemCtn
{
	width: 100%;
	overflow: squish scroll;
	flow-children: down;
}

.Item,.Ability
{
	flow-children: right;
	font-size: 24px;
}

.MatchTime
{
	width: 100px;
	text-align: left;
	font-size: 24px;
}

.AbilityLevel
{
	width: 120px;
	font-size: 24px;
}

.Cost
{
	width: 120px;
	font-size: 24px;
}

.AbilityName
{
	font-size: 24px;
}

.Type
{
	font-size: 24px;
	width: 140px;
}

.ListRow
{
	padding: 5px 10px;
	width: 100%;
}

.ListRow.Even
{
	background-color: #111111;
}

.Weapon .Type
{
	color: red;
}

.Armor .Type
{
	color: blue;
}

.Tech .Type
{
	color: green;
}

.Ability .Type
{
	color: white;
}

