/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.precache
{
	background-image: url("s2r://panorama/images/npcs/neutral_bot_psd.vtex");
	background-image: url("s2r://panorama/images/npcs/trooper_psd.vtex");
	background-image: url("s2r://panorama/images/npcs/tier_1_boss_psd.vtex");
	background-image: url("s2r://panorama/images/npcs/tier_2_boss_psd.vtex");
	background-image: url("s2r://panorama/images/npcs/tier_3_boss_psd.vtex");
	background-image: url("s2r://panorama/images/npcs/patron_psd.vtex");
	background-image: url("s2r://panorama/images/npcs/turret_psd.vtex");
	background-image: url("s2r://panorama/images/npcs/shield_generator_psd.vtex");
	background-image: url("s2r://panorama/images/npcs/core_psd.vtex");
}

