/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#ObjectivesMap
{
	vertical-align: top;
	horizontal-align: center;
	margin-top: 35px;
	width: 100px;
	height: 100px;
	ui-scale: 70%;
	transform: translateY(0px);
	opacity: 1;
}

.GameStatePreGame #ObjectivesMap
{
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 1.5s;
	transition-timing-function: ease-in;
	transition-delay: 1s;
}

.ObjectiveCtn
{
	width: 100%;
	height: 100%;
	background-color: #00000030;
	padding: 10px;
	border-radius: 5px;
}

.MatchComplete .ObjectiveCtn
{
	background-color: #ffffff03;
}

.Team2IsFriend .ObjectiveCtn
{
	transform: rotateY(180deg) rotateX(180deg);
}

.Background
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.IconCtn
{
	width: 100%;
	height: 100%;
}

.Icon
{
	border-radius: 50%;
	width: 10%;
	height: 10%;
}

.Icon.Titan
{
	border-radius: 2px;
}

.Team1
{
	background-color: team1ColorDark;
	background-color: offBlack;
	opacity: 0.8;
}

.Team2
{
	background-color: team2ColorDark;
	background-color: offBlack;
	opacity: 0.8;
}

.FeaturedMatch .Team1,.FeaturedMatch .Team2
{
	opacity: 0.8;
	background-color: offBlack;
}

.Alive.Team1
{
	opacity: 1;
	background-color: team1Color;
}

.Alive.Team2
{
	opacity: 1;
	background-color: team2Color;
}

.Team1IsFriend .Alive.Team1
{
	background-color: offWhite;
}

.Team2IsFriend .Alive.Team2
{
	background-color: offWhite;
}

.Team1IsEnemy .Alive.Team1
{
	background-color: colorEnemy;
}

.Team2IsEnemy .Alive.Team2
{
	background-color: colorEnemy;
}

#Team1Core
{
	margin-left: 35%;
	margin-top: 93%;
	width: 30%;
	height: 8%;
	border-radius: 20px;
}

#Team1Titan
{
	margin-left: 45%;
	margin-top: 79%;
}

#Team1Tier2_1
{
	margin-left: 15%;
	margin-top: 67%;
}

#Team1Tier2_2
{
	margin-left: 35%;
	margin-top: 67%;
}

#Team1Tier2_3
{
	margin-left: 55%;
	margin-top: 67%;
}

#Team1Tier2_4
{
	margin-left: 75%;
	margin-top: 67%;
}

#Team1Tier1_1
{
	margin-left: 11%;
	margin-top: 53%;
}

#Team1Tier1_2
{
	margin-left: 32%;
	margin-top: 53%;
}

#Team1Tier1_3
{
	margin-left: 57%;
	margin-top: 53%;
}

#Team1Tier1_4
{
	margin-left: 79%;
	margin-top: 53%;
}

#Team2Core
{
	margin-left: 35%;
	margin-top: 0%;
	width: 30%;
	height: 8%;
	border-radius: 20px;
}

#Team2Titan
{
	margin-left: 45%;
	margin-top: 11%;
}

#Team2Tier2_1
{
	margin-left: 15%;
	margin-top: 25%;
}

#Team2Tier2_2
{
	margin-left: 35%;
	margin-top: 25%;
}

#Team2Tier2_3
{
	margin-left: 55%;
	margin-top: 25%;
}

#Team2Tier2_4
{
	margin-left: 75%;
	margin-top: 25%;
}

#Team2Tier1_1
{
	margin-left: 11%;
	margin-top: 39%;
}

#Team2Tier1_2
{
	margin-left: 32%;
	margin-top: 39%;
}

#Team2Tier1_3
{
	margin-left: 57%;
	margin-top: 39%;
}

#Team2Tier1_4
{
	margin-left: 79%;
	margin-top: 39%;
}

