/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPlayersListEntry
{
	flow-children: right;
	height: 60px;
}

.Controls
{
	height: 100%;
}

.Controls .ToggleMuteButton
{
	width: 24px;
	height: 24px;
	margin-right: 8px;
	vertical-align: middle;
	wash-color: #E4D5BF;
	opacity: 0.2;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: collapse;
}

.Controls .ToggleMuteButton.MuteButton
{
	background-image: url("s2r://panorama/images/icons/icon_mic.vsvg");
}

.Controls .ToggleMuteButton.UnmuteButton
{
	background-image: url("s2r://panorama/images/icons/icon_mic_muted.vsvg");
}

.CanBeMuted:not(.IsMuted) .MuteButton
{
	visibility: visible;
}

.CanBeMuted.IsMuted .UnmuteButton
{
	visibility: visible;
}

#MainContents
{
	background-color: #ffffff04;
	flow-children: right;
	width: 400px;
	transition-property: brightness;
	transition-duration: 0.2s;
}

#MainContents:hover
{
	brightness: 2.0;
}

#MainContents:active
{
	brightness: 1.5;
}

#MainContents #HeroBadge
{
	ui-scale: 56%;
	margin-left: 2px;
	margin-top: -4px;
}

#MainContents .Details
{
	vertical-align: middle;
	flow-children: down;
	margin-left: 8px;
}

#MainContents .Details .PlayerName
{
	color: #A09F95;
	height: 22px;
	font-weight: semi-bold;
}

#MainContents .Details .PlayerHero
{
	color: #A09F95;
	font-size: 14px;
	margin-top: -4px;
	visibility: collapse;
}

.HasHero #MainContents .Details .PlayerHero
{
	visibility: visible;
}

#MainContents
{
	height: 56px;
	width: 384px;
	margin-right: 12px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #17161548 ), to( #17161523 ) );
	background-image: url("s2r://panorama/images/friends_list/friend_bg_psd.vtex");
	background-img-opacity: 0.02;
	border-radius: 40px 3px 3px 40px;
	world-blur: ingameHudBlur;
	transition-property: background-color;
	transition-duration: 0.08s;
}

CitadelFriendsListEntry:hover #MainContents
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #e341c908 ), to( #e341c903 ) );
	background-img-opacity: 0.02;
}

