/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPlayersList
{
	flow-children: down;
}

CitadelPlayersList #Teams
{
	width: 100%;
	flow-children: down;
	horizontal-align: right;
	overflow: squish scroll;
}

.Team
{
	flow-children: down;
	margin-bottom: 16px;
	width: 100%;
}

.Team .TeamHeader
{
	flow-children: right;
	horizontal-align: right;
}

.Team .TeamHeader #TeamControls
{
	height: 100%;
}

.Team .TeamHeader .TeamHeaderMain
{
	flow-children: right;
	width: 396px;
	height: 20px;
	margin-bottom: 4px;
}

.Team .TeamHeader .TeamHeaderMain .TeamName
{
	font-size: 14px;
	vertical-align: bottom;
	margin-right: 16px;
	font-style: italic;
	font-weight: semi-bold;
	saturation: 0.9;
	opacity: 0.5;
}

.Team .TeamHeader .TeamHeaderMain .TeamRelationship
{
	font-family: block;
	font-size: 20px;
	text-transform: uppercase;
	color: offWhite&88;
	vertical-align: bottom;
}

.Team #TeamEntries
{
	flow-children: down;
	width: 100%;
}

.Team #TeamEntries CitadelPlayersListEntry
{
	horizontal-align: right;
}

.Team.Team1 .TeamName
{
	color: team1Color;
}

.Team.Team2 .TeamName
{
	color: team2Color;
}

.LocalTeamControls
{
	height: 100%;
}

.LocalTeamControls .VoiceControlsButton
{
	width: 36px;
	height: 36px;
	margin: 0px 8px 0px 0px;
	context-menu-position: left;
	tooltip-position: top;
	wash-color: #E4D5BF;
	background-image: url("s2r://panorama/images/icons/icon_chat_options.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

