/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@define backgroundGradient: gradient( linear, 0% 0%, 0% 100%, from( #ffffff02 ), to( #ffffff04 ) );
@define backgroundGradientHover: gradient( linear, 0% 0%, 0% 100%, from( #ffffff06 ), to( #ffffff10) );
@define backgroundGradientActive: gradient( linear, 0% 0%, 0% 100%, from( #ffffff04 ), to( #ffffff0f ) );
CitadelProfileCard
{
	width: 100%;
	pre-transform-scale2d: 1;
	overflow: noclip;
	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

CitadelTooltipProfileCard CitadelProfileCard
{
	width: 366px;
	background-color: #222;
}

CitadelTooltipProfileCard #ContentsMainForeground
{
	padding: 0px 0px;
}

CitadelTooltipProfileCard #Showcase
{
	height: 50px;
	width: 100%;
	border-right: 0px;
}

#MiniProfileContainer
{
	width: 100%;
}

#ContentsMain
{
	width: 100%;
	min-height: 60px;
	height: fit-children;
	overflow: noclip;
	transition-property: box-shadow, brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

CitadelTooltipPartyRostersForHero #ContentsMain
{
	min-height: 50px;
}

#ContentsMainBackground
{
	width: 100%;
	height: 100%;
}

#ContentsMainForeground
{
	flow-children: down;
	width: 100%;
	min-height: 70px;
	overflow: noclip;
}

CitadelTooltipPartyRostersForHero #ContentsMainForeground
{
	padding: 0px 0px;
}

#LeftColumn #ContentsMain
{
	margin-top: 30px;
	margin-left: 30px;
}

#CardHeader
{
	padding-left: 0px;
	flow-children: right;
	width: 100%;
	height: 70px;
	overflow: noclip;
}

CitadelTooltipPartyRostersForHero #CardHeader
{
	margin-bottom: 0px;
}

CitadelProfileCard.HideRankTier #CardHeader
{
	width: 100%;
}

.Loading #CardHeader
{
	visibility: collapse;
}

CitadelRankedBadgeMini
{
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: middle;
	ignore-parent-flow: true;
	ui-scale: 150%;
	margin-right: 5px;
	visibility: collapse;
}

.isFriend.hasPlayerRank CitadelRankedBadgeMini,.isLocalPlayer.hasPlayerRank CitadelRankedBadgeMini
{
	visibility: visible;
}

CitadelProfileCard #AvatarImage
{
	width: 45px;
	height: 45px;
	border: 2px solid transparent;
	margin-top: -2px;
	margin-left: -2px;
	margin: 3px;
	horizontal-align: right;
	transition-property: border;
	transition-duration: 0.1s;
}

CitadelProfileCard #AvatarImage.HasCompendium Image
{
	box-shadow: inset #00000000 1.5px 1.5px 3px 3px;
}

.nicknameContainer
{
	margin-top: -7px;
	visibility: collapse;
}

CitadelTooltipProfileCard .nicknameContainer
{
	visibility: visible;
}

.ProfileTextDetails
{
	vertical-align: middle;
	margin-left: 10px;
	flow-children: down;
}

#AccountArea
{
	flow-children: right;
	padding: 10px;
	max-width: 310px;
}

.NameContainer
{
	vertical-align: middle;
}

#UserName
{
	visibility: visible;
}

#UserName Label
{
	font-weight: semi-bold;
	font-size: 20px;
	color: #ffffff50;
	white-space: nowrap;
	height: fit-children;
	margin-bottom: 6px;
}

#UserNickname
{
	margin-top: -6px;
	margin-right: 4px;
}

#UserNickname Label
{
	font-size: 16px;
}

#UserNickname Label .PersonaName
{
	color: #888888;
	font-size: 16px;
}

#UserRichPresence
{
	margin-top: -2px;
}

#UserRichPresence Label
{
	font-size: 16px;
	text-shadow: 2px 2px 5px #000000;
}

#CardMain
{
	width: 100%;
	visibility: collapse;
}

#HomeProfileContainer #CardMain
{
	visibility: collapse;
}

.FixedSize #CardMain
{
	height: 152px;
}

#CardLoading
{
	horizontal-align: center;
	vertical-align: middle;
	margin: 10px 0px;
	visibility: collapse;
}

.Spinner
{
	width: 25px;
	height: 25px;
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/control_icons/spinner_png.vtex");
	background-size: contain;
	animation-name: RotateIcon;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transition-property: opacity, pre-transform-rotate2d;
	transition-duration: 0.3s;
}

@keyframes 'RotateIcon'
{
	0%
	{
		pre-transform-rotate2d: 0deg;
	}
	
	100%
	{
		pre-transform-rotate2d: 360deg;
	}
	
}

#CardLoading .Spinner
{
	vertical-align: middle;
}

#CardContents
{
	width: 100%;
	margin-left: 3px;
	flow-children: right;
	background-color: #00000050;
	border: 1px solid rgba(17, 17, 17, 0.568);
}

.Loading #CardContents
{
	visibility: collapse;
}

.Loading #CardLoading
{
	visibility: visible;
}

#BottomRow
{
	flow-children: right;
	width: 100%;
	visibility: collapse;
}

.StatsActive #BottomRow
{
	visibility: visible;
}

#StatItems
{
	flow-children: right;
	vertical-align: middle;
	width: fill-parent-flow( 1.0 );
	height: 50px;
	visibility: collapse;
}

.StatsActive #StatItems
{
	visibility: visible;
}

.Stat
{
	padding: 5px;
	width: fill-parent-flow( 1.0 );
	flow-children: down;
	horizontal-align: center;
}

#StatTitle,#PickNone Label
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: baseText;
	margin-top: -2px;
}

#StatValue
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	color: #ffffffaa;
	font-weight: semi-bold;
}

.StatDropdown
{
	height: 100%;
	width: fill-parent-flow( 1.0 );
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;
	box-shadow: none;
	background-color: none;
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_green_png.vtex");
}

#Stat0
{
	border-right: 1px solid #111;
}

.StatDropdown:hover
{
	background-color: none;
}

.StatDropdown .Stat
{
	width: 100%;
}

.StatDropdown:hover .Stat
{
	background-color: backgroundGradientHover;
}

.StatDropdown:active .Stat
{
	background-color: backgroundGradientActive;
}

.StatDropdown .Stat Label
{
	margin: 0px 29px 0px 0px;
}

.StatDropdownMenu
{
	width: 148px;
}

#PickNone
{
	width: 100%;
	height: 100%;
	background-color: backgroundGradient;
}

#PickNone:hover
{
	background-color: backgroundGradientHover;
}

.StatDropdown:active #PickNone
{
	background-color: backgroundGradientActive;
}

#PickNone Label
{
	vertical-align: middle;
}

.StatDropdownMenu #PickNone
{
	height: fit-children;
}

.StatDropdownMenu #PickNone Label
{
	padding: 7px 2px 4px 2px;
	margin: 0px;
	border: 0px;
	border-bottom: 2px solid #00000066;
}

.StatDropdownMenu .Stat
{
	width: 100%;
	padding: 2px;
	margin: 0px;
	border-bottom: 2px solid #00000066;
	transition-property: background-color;
	transition-duration: 0.1s;
}

.StatDropdownMenu .Stat Label
{
	border: 0px;
	padding: 0px;
	background-color: none;
}

.StatDropdownMenu .Stat Label:hover
{
	border: 0px;
	padding: 0px;
	background-color: none;
}

.StatDropdownMenu .Stat #StatTitle
{
	margin-top: 3px;
}

#ProfileCardStats .Stat
{
	padding: 0px;
}

#ProfileCardStats .Stat #StatTitle
{
	font-size: 16px;
	letter-spacing: 1px;
	color: #666666;
	text-transform: uppercase;
}

#ProfileCardStats .Stat #StatValue
{
	margin-top: -2px;
	font-size: 36px;
	color: white;
}

#Showcase
{
	width: 45%;
	height: 100%;
	border-right: 1px solid #111;
}

.NoShowcase:not(.PlusSubscriber) #Showcase
{
	visibility: collapse;
}

#ShowcaseItems
{
	flow-children: right;
	height: 50px;
	width: 100%;
}

.ShowcaseItem
{
	height: 100%;
	width: 100%;
	context-menu-position: bottom;
	context-menu-body-position: 100% 0%;
}

.ShowcaseItem #ShowcaseItemContents
{
	width: 100%;
	height: 100%;
}

.ShowcaseItem:hover #ShowcaseItemContents
{
	background-color: backgroundGradientHover;
}

#ShowcaseItems .ShowcaseItem:hover #ShowcaseItemContents
{
	background-color: none;
}

.ShowcaseHero CitadelHeroImage
{
	height: 100%;
	width: height-percentage( 100% );
	vertical-align: middle;
	saturation: 0;
	opacity: 0.5;
	transition-property: pre-transform-scale2d, saturation, opacity;
	transition-duration: 0.2s;
}

.ShowcaseHero:hover CitadelHeroImage
{
	pre-transform-scale2d: 1.05;
	saturation: 1;
	opacity: 1;
}

#ShowcaseItems .ShowcaseHero:hover CitadelHeroImage
{
	pre-transform-scale2d: 1;
}

#CardOverlay
{
	opacity: 1;
	width: 100%;
	height: 100%;
}

#ProfileBadgeBackground
{
	visibility: collapse;
}

CitadelProfileCard #RankTierContainer
{
	horizontal-align: right;
	margin-right: -2px;
	width: 88px;
	height: 88px;
	margin-top: -5px;
	margin-right: 5px;
	tooltip-position: bottom;
	tooltip-body-position: 50% 10%;
}

CitadelTooltipProfileCard #RankTierContainer
{
	margin-top: 0px;
}

CitadelProfileCard.HideRankTier #RankTierContainer
{
	visibility: collapse;
}

CitadelProfileCard #ProfileBadge
{
	horizontal-align: right;
	margin-right: -2px;
	margin-top: 32px;
	width: 88px;
	height: 88px;
	tooltip-position: bottom;
	tooltip-body-position: 50% 10%;
}

CitadelTooltipProfileCard CitadelProfileCard #ProfileBadge,#ContextMenuBody CitadelProfileCard #ProfileBadge
{
	margin-top: 2px;
}

CitadelTooltipProfileCard CitadelProfileCard #ProfileBadgeBackground,#ContextMenuBody CitadelProfileCard #ProfileBadgeBackground
{
	margin-top: 6px;
}

CitadelProfileCard.Loading #ProfileBadge,CitadelProfileCard.Loading #ProfileBadgeBackground
{
	visibility: collapse;
}

#ModelTest3
{
	width: 290px;
	height: 290px;
	horizontal-align: right;
	margin-left: 165px;
	margin-top: -32px;
	padding-top: 20px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
	opacity: 1;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-delay: 1.3s;
	transition-duration: .5s;
}

.CitadelHeroContainer
{
	height: 100%;
	flow-children: right;
}

.CitadelHeroContainerText
{
	vertical-align: middle;
	padding-left: 10px;
	flow-children: down;
}

.CitadelHeroContainerText Label
{
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: baseText;
}

Label.CitadelHeroTitle
{
	font-size: 16px;
	font-weight: semi-bold;
	horizontal-align: left;
	color: #ffffffaa;
	max-width: 100%;
	text-overflow: shrink;
}

#PartyInfo
{
	width: 100%;
	visibility: collapse;
	flow-children: down;
}

.ShowPartyInfo #PartyInfo
{
	visibility: visible;
}

.ShowPartyInfo #CardMain
{
	visibility: collapse;
}

.PartyStateBanner
{
	margin-top: 10px;
	width: 100%;
	padding: 10px 0px;
	visibility: collapse;
}

.PartyStateBannerText
{
	horizontal-align: center;
	text-align: center;
	font-size: 20px;
	color: black;
	width: 100%;
}

#InMatchmakingBanner
{
	background-color: grey;
}

#InviteBanner
{
	background-color: cyan;
}

#NotReadyBanner
{
	background-color: colorEnemy;
}

#ReadyBanner
{
	background-color: brandGreen;
}

#RosterSection
{
	flow-children: down;
	width: 100%;
	visibility: collapse;
}

.ShowRoster #RosterSection
{
	visibility: visible;
}

.RosterTitle
{
	font-size: 15px;
	color: white;
	horizontal-align: center;
	margin: 10px 0px;
}

#RosterList
{
	flow-children: down;
	horizontal-align: center;
}

.RosterRow
{
	flow-children: right;
	horizontal-align: left;
}

.RosterIcon
{
	width: 60px;
	height: 80px;
	margin: 5px;
	border: 3px solid offWhite;
	background-color: #e3e2b597;
	border-radius: 5px;
}

.PriorityPick
{
	border: 3px solid #ffc533;
	background-color: #ffe58f90;
}

.HighPriorityPick
{
	border: 3px solid #a464ff;
	background-color: #dd9eff90;
}

.PartyMember.InMatchmaking #InMatchmakingBanner,.PartyMember.IsReady #ReadyBanner,.PartyMember #NotReadyBanner,#InviteBanner
{
	visibility: visible;
}

.PartyMember #InviteBanner,.InMatchmaking #NotReadyBanner,.InMatchmaking #ReadyBanner,.IsReady #NotReadyBanner
{
	visibility: collapse;
}

#HeroInfo
{
	width: 100%;
	flow-children: right;
	visibility: collapse;
	background-color: #000022;
	padding: 2px;
}

.HasHero #HeroInfo
{
	visibility: visible;
}

.HeroName
{
	margin-left: 10px;
	font-size: 25px;
	vertical-align: center;
}

#HeroImage
{
	width: 60px;
	height: 80px;
	border: 1px solid white;
}

.HideShowcase #CardContents
{
	visibility: collapse;
}

#AccountID
{
	visibility: collapse;
	width: 100%;
	background-color: black;
}

.ShowAccountID #AccountID
{
	visibility: visible;
}

.AccountID
{
	margin: 5px 10px;
}

