/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define colorWhite: #FFFFFF;
@define colorCommonOffWhite: #F3F0E7;
@define colorCommonDarkGray: #2e2c27;
@define colorCommonDarkestGray: #1a1a1a;
@define colorEnemy: #FF410D;
@define colorModsShop: #FFDB79;
@define colorGold: #FFCC00;
@define colorUpgrades: #00FFFF;
@define colorInfoContainer: rgba(0, 0, 0, 0.9);
@define colorNavBtnHover: rgba(243, 240, 231, 0.1);
@define colorNavBtnSelected: rgba(0, 0, 0, 1);
@define colorNavTextHover: rgba(243, 240, 231, 1);
@define colorNavTextSelected: brandGreen;
@define fontSizeBodySmall: 18px;
@define fontSizeBody: 21px;
@define fontSizeBodyLarge: 30px;
@define fontSizeHeader: 36px;
@define show_overview_movie_path: "file://{resources}/videos/getting_started_overview.webm";
@define show_the_map_welcome_movie_path: "file://{resources}/videos/getting_started_intro.webm";
@define show_the_map_troopers_movie_path: "file://{resources}/videos/getting_started_map_troopers.webm";
@define show_the_map_guardians_movie_path: "file://{resources}/videos/getting_started_map_t1_guardian.webm";
@define show_the_map_walkers_movie_path: "file://{resources}/videos/getting_started_map_t2_guardian.webm";
@define show_the_map_lanes_movie_path: "file://{resources}/videos/getting_started_map_lane.webm";
@define show_neutrals_movie_path: "file://{resources}/videos/getting_started_map_neutrals.webm";
@define show_the_map_core_movie_path: "file://{resources}/videos/getting_started_map_core.webm";
@define show_upgrades_last_hit_movie_path: "file://{resources}/videos/getting_started_upgrades_lasthit.webm";
@define show_upgrades_yellow_orbs_movie_path: "file://{resources}/videos/getting_started_upgrades_orbs.webm";
@define show_upgrades_deny_movie_path: "file://{resources}/videos/getting_started_upgrades_deny.webm";
@define show_upgrades_killing_guardians_movie_path: "file://{resources}/videos/getting_started_upgrades_kill_guardian.webm" ;
@define show_upgrades_going_home_movie_path: "file://{resources}/videos/getting_started_upgrades_go_home.webm" ;
@define show_upgrades_upgrade_abilities_movie_path: "file://{resources}/videos/getting_started_upgrades_upgrade_abilities.webm" ;
@define show_upgrades_buy_mods_movie_path: "file://{resources}/videos/getting_started_upgrades_buy_mods.webm" ;
@define show_basics_jump_movie_path:"file://{resources}/videos/getting_started_movement_jump.webm";
@define show_advanced_double_jump_movie_path:"file://{resources}/videos/getting_started_movement_double_jump.webm";
@define show_advanced_dodge_movie_path: "file://{resources}/videos/getting_started_movement_dodge.webm";
@define show_advanced_airdash_movie_path: "file://{resources}/videos/getting_started_movement_airdash.webm";
@define show_advanced_dodge_jump_movie_path: "file://{resources}/videos/getting_started_movement_dodge_jump.webm";
@define show_basics_mantle_movie_path: "file://{resources}/videos/getting_started_movement_mantle.webm";
@define show_advanced_slide_movie_path: "file://{resources}/videos/getting_started_movement_slide.webm";
@define show_basics_zipline_movie_path: "file://{resources}/videos/getting_started_movement_zipline.webm";
@define show_basics_shoot_movie_path: "file://{resources}/videos/getting_started_combat_shoot.webm";
@define show_basics_aim_movie_path: "file://{resources}/videos/getting_started_combat_aim.webm";
@define show_basics_abilities_movie_path: "file://{resources}/videos/getting_started_combat_abilities.webm";
@define show_basics_melee_movie_path: "file://{resources}/videos/getting_started_combat_melee.webm";
@define show_advanced_parry_movie_path: "file://{resources}/videos/getting_started_combat_parry.webm";
@define show_outro_movie_path: "file://{resources}/videos/getting_started_outro.webm";
@define show_the_map_welcome_track_id: 207;
@define show_the_map_lanes_track_id: 200;
@define show_the_map_troopers_track_id: 201;
@define show_the_map_guardians_track_id: 202;
@define show_the_map_walkers_track_id: 203;
@define show_the_map_core_track_id: 206;
@define show_basics_jump_track_id: 407;
@define show_basics_zipline_track_id: 402;
@define show_basics_mantle_track_id: 401;
@define show_advanced_slide_track_id: 404;
@define show_advanced_double_jump_track_id: 403;
@define show_advanced_dodge_track_id: 405;
@define show_advanced_airdash_track_id: 406;
@define show_advanced_dodge_jump_track_id: 408;
@define show_basics_shoot_track_id: 500;
@define show_basics_aim_track_id: 501;
@define show_basics_abilities_track_id: 503;
@define show_basics_melee_track_id: 504;
@define show_advanced_parry_track_id: 505;
@define show_upgrades_last_hit_track_id: 300;
@define show_upgrades_yellow_orbs_track_id: 301;
@define show_upgrades_deny_track_id: 302;
@define show_upgrades_killing_guardians_track_id: 303;
@define show_upgrades_going_home_track_id: 304;
@define show_upgrades_upgrade_abilities_track_id: 305;
@define show_upgrades_buy_mods_track_id: 306;
@define show_neutrals_track_id: 307;
@define show_outro_track_id: 600;
@define show_the_map_welcome_audio: "NPC.Reporter.NewPlayer.VO.Guide.TheMap.Welcome";
@define show_the_map_welcome_next_category: "show_the_map";
@define show_the_map_welcome_next_sub_category: "show_the_map_welcome";
@define show_the_map_lanes_audio: "NPC.Reporter.NewPlayer.VO.Guide.TheMap.Lanes";
@define show_the_map_lanes_next_category: "show_the_map";
@define show_the_map_lanes_next_sub_category: "show_the_map_lanes";
@define show_the_map_troopers_audio: "NPC.Reporter.NewPlayer.VO.Guide.TheMap.Troopers";
@define show_the_map_troopers_next_category: "show_the_map";
@define show_the_map_troopers_next_sub_category: "show_the_map_troopers";
@define show_the_map_guardians_audio: "NPC.Reporter.NewPlayer.VO.Guide.TheMap.Guardians";
@define show_the_map_guardians_next_category: "show_the_map";
@define show_the_map_guardians_next_sub_category: "show_the_map_guardians";
@define show_the_map_walkers_audio: "NPC.Reporter.NewPlayer.VO.Guide.TheMap.Walkers";
@define show_the_map_walkers_next_category: "show_the_map";
@define show_the_map_walkers_next_sub_category: "show_the_map_walkers";
@define show_the_map_core_audio: "NPC.Reporter.NewPlayer.VO.Guide.TheMap.Core";
@define show_the_map_core_next_category: "show_the_map";
@define show_the_map_core_next_sub_category: "show_the_map_core";
@define show_upgrades_last_hit_audio: "NPC.Reporter.NewPlayer.VO.Guide.Upgrades.LastHit";
@define show_upgrades_last_hit_next_category: "show_upgrades";
@define show_upgrades_last_hit_next_sub_category: "show_upgrades_last_hit";
@define show_upgrades_yellow_orbs_audio: "NPC.Reporter.NewPlayer.VO.Guide.Upgrades.YellowOrbs";
@define show_upgrades_yellow_orbs_next_category: "show_upgrades";
@define show_upgrades_yellow_orbs_next_sub_category: "show_upgrades_yellow_orbs";
@define show_upgrades_deny_audio: "NPC.Reporter.NewPlayer.VO.Guide.Upgrades.Deny";
@define show_upgrades_deny_next_category: "show_upgrades";
@define show_upgrades_deny_next_sub_category: "show_upgrades_deny";
@define show_upgrades_killing_guardians_audio: "NPC.Reporter.NewPlayer.VO.Guide.Upgrades.KillingGuardians";
@define show_upgrades_killing_guardians_next_category: "show_upgrades";
@define show_upgrades_killing_guardians_next_sub_category: "show_upgrades_killing_guardians";
@define show_upgrades_going_home_audio: "NPC.Reporter.NewPlayer.VO.Guide.Upgrades.GoingHome";
@define show_upgrades_going_home_next_category: "show_upgrades";
@define show_upgrades_going_home_next_sub_category: "show_upgrades_going_home";
@define show_upgrades_upgrade_abilities_audio: "NPC.Reporter.NewPlayer.VO.Guide.Upgrades.UpgradeAbilities";
@define show_upgrades_upgrade_abilities_next_category: "show_upgrades";
@define show_upgrades_upgrade_abilities_next_sub_category: "show_upgrades_upgrade_abilities";
@define show_upgrades_buy_mods_audio: "NPC.Reporter.NewPlayer.VO.Guide.Upgrades.BuyMods";
@define show_upgrades_buy_mods_next_category: "show_upgrades";
@define show_upgrades_buy_mods_next_sub_category: "show_upgrades_buy_mods";
@define show_neutrals_audio: "NPC.Reporter.NewPlayer.VO.Guide.TheMap.Neutrals";
@define show_neutrals_next_category: "show_upgrades";
@define show_neutrals_next_sub_category: "show_neutrals";
@define show_basics_jump_audio: "NPC.Reporter.NewPlayer.VO.Guide.Movement.Jump";
@define show_basics_jump_next_category: "show_basics";
@define show_basics_jump_next_sub_category: "show_basics_jump";
@define show_basics_zipline_audio: "NPC.Reporter.NewPlayer.VO.Guide.Movement.Zipline";
@define show_basics_zipline_next_category: "show_basics";
@define show_basics_zipline_next_sub_category: "show_basics_zipline";
@define show_basics_mantle_audio: "NPC.Reporter.NewPlayer.VO.Guide.Movement.Mantle";
@define show_basics_mantle_next_category: "show_basics";
@define show_basics_mantle_next_sub_category: "show_basics_mantle";
@define show_basics_shoot_audio: "NPC.Reporter.NewPlayer.VO.Guide.Combat.Shoot";
@define show_basics_shoot_next_category: "show_basics";
@define show_basics_shoot_next_sub_category: "show_basics_shoot";
@define show_basics_aim_audio: "NPC.Reporter.NewPlayer.VO.Guide.Combat.Aim";
@define show_basics_aim_next_category: "show_basics";
@define show_basics_aim_next_sub_category: "show_basics_aim";
@define show_basics_abilities_audio: "NPC.Reporter.NewPlayer.VO.Guide.Combat.Abilities";
@define show_basics_abilities_next_category: "show_basics";
@define show_basics_abilities_next_sub_category: "show_basics_abilities";
@define show_basics_melee_audio: "NPC.Reporter.NewPlayer.VO.Guide.Combat.Melee";
@define show_basics_melee_next_category: "show_basics";
@define show_basics_melee_next_sub_category: "show_basics_melee";
@define show_advanced_slide_audio: "NPC.Reporter.NewPlayer.VO.Guide.Movement.Slide";
@define show_advanced_slide_next_category: "show_advanced";
@define show_advanced_slide_next_sub_category: "show_advanced_slide";
@define show_advanced_double_jump_audio: "NPC.Reporter.NewPlayer.VO.Guide.Movement.DoubleJump";
@define show_advanced_double_jump_next_category: "show_advanced";
@define show_advanced_double_jump_next_sub_category: "show_advanced_double_jump";
@define show_advanced_dodge_audio: "NPC.Reporter.NewPlayer.VO.Guide.Movement.Dodge";
@define show_advanced_dodge_next_category: "show_advanced";
@define show_advanced_dodge_next_sub_category: "show_advanced_dodge";
@define show_advanced_airdash_audio: "NPC.Reporter.NewPlayer.VO.Guide.Movement.AirDash";
@define show_advanced_airdash_next_category: "show_advanced";
@define show_advanced_airdash_next_sub_category: "show_advanced_airdash";
@define show_advanced_dodge_jump_audio: "NPC.Reporter.NewPlayer.VO.Guide.Movement.DodgeJump";
@define show_advanced_dodge_jump_next_category: "show_advanced";
@define show_advanced_dodge_jump_next_sub_category: "show_advanced_dodge_jump";
@define show_advanced_parry_audio: "NPC.Reporter.NewPlayer.VO.Guide.Combat.Parry";
@define show_advanced_parry_next_category: "show_advanced";
@define show_advanced_parry_next_sub_category: "show_advanced_parry";
@define show_outro_audio: "NPC.Reporter.NewPlayer.VO.Guide.Outro";
@define show_outro_next_category: "show_outro";
@define show_outro_next_sub_category: "show_outro";
CitadelQuickGuide
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	color: colorWhite;
	background-color: colorCommonDarkGray;
	font-family: sans;
}

.quick_guide_page
{
	height: 100%;
	width: 100%;
	visibility: collapse;
	background-size: 100% 100%;
}

CitadelQuickGuide.Hidden
{
	opacity: 0;
}

.page_container
{
	width: 100%;
	height: 100%;
}

.nav_menu
{
	width: 100%;
	height: 180px;
	z-index: 10;
	flow-children: down;
}

.nav_row
{
	width: 100%;
	height: 60%;
	background-color: offBlack;
	flow-children: right;
}

.nav_sub_row
{
	width: 100%;
	height: 40%;
	opacity: 0.8;
	background-color: black;
	flow-children: right;
	visibility: collapse;
}

.nav_col
{
	width: 480px;
	height: 100%;
	background-color: colorCommonDarkGray;
	flow-children: right;
}

.topMenuContainer
{
	width: 100%;
	height: 100px;
	flow-children: right;
}

.menuContainer
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.headerContainer
{
	width: 600px;
	height: 150px;
	flow-children: right;
}

#inputBar
{
	width: 72px;
	height: 100%;
	vertical-align: bottom;
	background-color: colorCommonDarkestGray;
	flow-children: right;
}

#inputBar Label
{
	padding: 16px;
	vertical-align: center;
	font-weight: bold;
}

#btnBack
{
	width: fit-children;
	padding: 8px;
	flow-children: right;
}

#btnBack:hover
{
	background-color: colorNavBtnHover;
}

#btnBack:hover Label
{
	color: #fff;
}

#btnBack:hover #BackArrowContainer
{
	background-color: #FF4613;
}

#btnBack:hover .backArrow
{
	wash-color: #fff;
}

#BackArrowContainer
{
	width: 56px;
	height: 56px;
	vertical-align: center;
	border-radius: 4px;
	background-color: #CC340A;
}

.backArrow
{
	width: 40px;
	height: 40px;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/icons/arrow_west.vsvg");
	horizontal-align: center;
	vertical-align: center;
	wash-color: colorCommonOffWhite;
}

.pageHeader
{
	width: 100%;
	height: 100%;
	font-weight: semi-bold;
	flow-children: right;
}

.headerHorizontalRule
{
	width: 100%;
	height: 12px;
	margin-top: 8px;
	background-color: colorCommonDarkGray;
}

.headerLabel
{
	vertical-align: center;
	padding-left: 40px;
	font-size: 50px;
	color: offWhite;
	font-family: serif;
}

.nav_container
{
	flow-children: right;
	vertical-align: middle;
	height: 100%;
	width: fill-parent-flow(1.0);
}

.nav_subhead
{
	text-transform: uppercase;
	color: brandGreen;
	margin-left: 40px;
	margin-bottom: 10px;
}

.section_divider
{
	height: 2px;
	background-color: #ffffff30;
	width: 100%;
	margin: 40px;
}

.nav_menu_item
{
	height: 100%;
	flow-children: right;
}

.nav_sub_menu_item
{
	height: 100%;
	flow-children: right;
	vertical-align: center;
}

.nav_sub_row_container
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
	height: 100%;
}

.nav_divider
{
	margin-left: 40px;
}

.nav_divider Label
{
	padding-right: 32px;
	font-size: fontSizeBodyLarge;
}

.nav_menu_item Label
{
	padding-left: 35px;
	padding-right: 35px;
	vertical-align: center;
	font-weight: bold;
	font-size: 26px;
	color: colorCommonDarkGray;
	color: offWhite;
	font-family: sans;
}

.nav_sub_menu_item
{
	background-color: #00000000;
	transition-property: background-color;
	transition-duration: 0.2s;
}

.nav_sub_menu_item Label
{
	padding-left: 35px;
	padding-right: 35px;
	vertical-align: middle;
	font-weight: semi-bold;
	font-size: 22px;
	color: #ffffff90;
	transition-property: color;
	transition-duration: 0.2s;
}

.progress_bar
{
	width: 100%;
	height: 8px;
}

.progress_bar .ProgressBarLeft
{
	background-color: brandGreen;
}

.nav_menu_item:hover Label
{
	color: brandGreen;
}

.nav_sub_menu_item:hover Label
{
	color: brandGreen;
}

.show_overview .nav_overview
{
	background-color: brandGreen;
}

.show_overview .nav_overview Label
{
	color: colorNavTextSelected;
	color: colorNavBtnSelected;
}

.show_the_map .nav_the_map
{
	background-color: colorNavBtnSelected;
	background-color: brandGreen;
}

.show_the_map #map_sub_menu
{
	visibility: visible;
}

.show_the_map .nav_the_map Label
{
	color: colorNavBtnSelected;
}

.show_the_map_lanes .nav_the_map_lanes Label
{
	color: colorNavTextSelected;
	color: #000000;
}

.show_the_map_welcome .nav_the_map_welcome,.show_the_map_lanes .nav_the_map_lanes,.show_the_map_troopers .nav_the_map_troopers,.show_the_map_guardians .nav_the_map_guardians,.show_the_map_walkers .nav_the_map_walkers,.show_the_map_core .nav_the_map_core,.show_the_map_neutrals .nav_neutrals
{
	background-color: colorNavTextSelected;
}

.show_the_map_welcome .nav_the_map_welcome Label,.show_the_map_troopers .nav_the_map_troopers Label,.show_the_map_guardians .nav_the_map_guardians Label,.show_the_map_walkers .nav_the_map_walkers Label,.show_the_map_core .nav_the_map_core Label,.show_the_map_neutrals .nav_neutrals Label
{
	color: colorNavTextSelected;
	color: #000000;
}

.show_upgrades .nav_upgrades
{
	background-color: brandGreen;
}

.show_upgrades .nav_upgrades Label
{
	color: colorNavTextSelected;
	color: colorNavBtnSelected;
}

.show_upgrades #upgrades_sub_menu
{
	visibility: visible;
}

.show_upgrades_last_hit .nav_upgrades_last_hit Label,.show_upgrades_yellow_orbs .nav_upgrades_yellow_orbs Label,.show_upgrades_deny .nav_upgrades_deny Label,.show_upgrades_killing_guardians .nav_upgrades_killing_guardians Label,.show_upgrades_going_home .nav_upgrades_going_home Label,.show_upgrades_upgrade_abilities .nav_upgrades_upgrade_abilities Label,.show_upgrades_buy_mods .nav_upgrades_buy_mods Label,.show_neutrals .nav_neutrals Label
{
	color: colorNavTextSelected;
	color: #000000;
}

.show_upgrades_last_hit .nav_upgrades_last_hit,.show_upgrades_yellow_orbs .nav_upgrades_yellow_orbs,.show_upgrades_deny .nav_upgrades_deny,.show_upgrades_killing_guardians .nav_upgrades_killing_guardians,.show_upgrades_going_home .nav_upgrades_going_home,.show_upgrades_upgrade_abilities .nav_upgrades_upgrade_abilities,.show_upgrades_buy_mods .nav_upgrades_buy_mods,.show_neutrals .nav_neutrals
{
	background-color: colorNavTextSelected;
}

.show_basics .nav_basics
{
	background-color: brandGreen;
}

.show_basics #basics_sub_menu
{
	visibility: visible;
}

.show_basics .nav_basics Label,.show_basics_jump .nav_basics_jump Label,.show_advanced_slide .nav_advanced_slide Label,.show_basics_mantle .nav_basics_mantle Label,.show_basics_shoot .nav_basics_shoot Label,.show_basics_aim .nav_basics_aim Label,.show_basics_abilities .nav_basics_abilities Label,.show_basics_melee .nav_basics_melee Label,.show_advanced_double_jump .nav_advanced_double_jump Label,.show_advanced_dodge .nav_advanced_dodge Label,.show_advanced_airdash .nav_advanced_airdash Label,.show_advanced_dodge_jump .nav_advanced_dodge_jump Label,.show_basics_zipline .nav_basics_zipline Label
{
	color: colorNavTextSelected;
	color: #000000;
	font-weight: bold;
}

.show_basics_jump .nav_basics_jump,.show_advanced_slide .nav_advanced_slide,.show_basics_mantle .nav_basics_mantle,.show_basics_shoot .nav_basics_shoot,.show_basics_aim .nav_basics_aim,.show_basics_abilities .nav_basics_abilities,.show_basics_melee .nav_basics_melee,.show_advanced_double_jump .nav_advanced_double_jump,.show_advanced_dodge .nav_advanced_dodge,.show_advanced_airdash .nav_advanced_airdash,.show_advanced_dodge_jump .nav_advanced_dodge_jump,.show_basics_zipline .nav_basics_zipline
{
	background-color: colorNavTextSelected;
	font-weight: bold;
}

.show_advanced #advanced_sub_menu
{
	visibility: visible;
}

.show_advanced .nav_advanced
{
	background-color: colorNavBtnSelected;
}

.show_advanced .nav_advanced
{
	background-color: brandGreen;
}

.show_advanced .nav_advanced Label
{
	color: #000000;
}

.show_advanced_parry .nav_advanced_parry Label
{
	color: colorNavTextSelected;
	color: #000000;
}

.show_advanced_parry .nav_advanced_parry
{
	background-color: colorNavTextSelected;
}

.show_overview #overview_page,.show_the_map #map_page,.show_outro #outro_page
{
	visibility: visible;
}

.show_the_map_welcome #mapWelcome,.show_the_map_lanes #mapLanes,.show_the_map_troopers #mapTroopers,.show_the_map_guardians #mapTier1,.show_the_map_walkers #mapTier2,.show_the_map_core #mapCore,.show_upgrades_last_hit #upgrades_page_last_hit,.show_upgrades_last_hit_melee #upgrades_page_last_hit_melee,.show_upgrades_yellow_orbs #upgrades_page_yellow_orbs,.show_upgrades_deny #upgrades_page_deny,.show_upgrades_killing_guardians #upgrades_page_killing_guardians,.show_upgrades_going_home #upgrades_page_going_home,.show_upgrades_upgrade_abilities #upgrades_page_upgrade_abilities,.show_upgrades_buy_mods #upgrades_page_buy_mods,.show_neutrals #upgradesNeutrals,.show_basics_jump #basics_page_jump,.show_advanced_slide #basics_page_slide,.show_basics_mantle #basics_page_mantle,.show_advanced_double_jump #basics_page_double_jump,.show_advanced_dodge #basics_page_dodge,.show_advanced_airdash #basics_page_airdash,.show_advanced_dodge_jump #basics_page_dodge_jump,.show_basics_zipline #basics_page_zipline,.show_basics_shoot #basics_page_shoot,.show_basics_aim #basics_page_aim,.show_basics_abilities #basics_page_abilities,.show_basics_melee #basics_page_melee,.show_advanced_parry #advanced_page_parry
{
	visibility: visible;
}

.show_outro .nav_outro
{
	background-color: colorNavBtnSelected;
}

.show_outro .nav_outro
{
	background-color: brandGreen;
}

.show_outro .nav_outro Label
{
	color: #000000;
}

#full_screen_movie
{
	background-color: black;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.infoContainer
{
	width: 600px;
	margin-top: 200px;
	margin-right: 20px;
	background-color: colorInfoContainer;
	flow-children: down;
	z-index: 10;
	horizontal-align: right;
}

#overview_page .infoContainer
{
	margin-top: 200px;
}

.infoContainerPadding
{
	width: 100%;
	padding: 24px;
	flow-children: down;
}

.red
{
	color: #FF410D;
}

.emphasisModsShop
{
	font-weight: semi-bold;
	color: colorModsShop;
}

.emphasisUpgrades
{
	font-weight: semi-bold;
	color: colorUpgrades;
}

.emphasisEnemy
{
	font-weight: semi-bold;
	color: colorEnemy;
}

.yellow
{
	color: colorModsShop;
}

.white
{
	color: colorCommonOffWhite;
}

.keybind
{
	color: brandGreen;
	font-weight: bold;
}

.gameplay_section
{
	width: 100%;
	margin-top: 48px;
	margin-bottom: 48px;
	flow-children: right;
}

.line_break
{
	width: 100%;
	height: 1px;
}

.section_text_block
{
	flow-children: down;
	margin-left: 32px;
}

.section_description
{
	font-size: fontSizeHeader;
	font-weight: bold;
}

.section_description Label
{
	color: colorWhite;
	width: 100%;
}

.section_description_subLine
{
	font-size: fontSizeBody;
	flow-children: right;
	margin-top: 5px;
}

.section_description_subLine
{
	color: #ffffffaa;
	width: 100%;
	font-size: 20px;
	font-weight: normal;
	margin-left: 2px;
}

.apIcon
{
	width: 32px;
	height: 32px;
	margin-right: 16px;
	wash-color: colorUpgrades;
}

.goldIcon
{
	width: 32px;
	height: 32px;
	margin-right: 16px;
	wash-color: colorGold;
}

.goldIcon.enemy
{
	wash-color: colorEnemy;
}

.controlContainer
{
	width: 100%;
	height: 120px;
	flow-children: right;
}

.controlVertAlign
{
	vertical-align: center;
	flow-children: right;
}

.controlIconContainer
{
	width: 96px;
	margin-top: 4px;
	margin-right: 16px;
	horizontal-align: center;
	flow-children: down;
}

.controlIcon
{
	width: 48px;
	height: 48px;
	horizontal-align: center;
	wash-color: colorCommonOffWhite;
}

.controlKeyBindContainer
{
	horizontal-align: center;
	flow-children: right;
}

.controlKeyBind
{
	min-width: 32px;
	min-height: 32px;
	margin: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	border-radius: 4px;
	text-align: center vertical-algin: center;
	font-weight: bold;
	font-size: fontSizeBodySmall;
	color: colorCommonOffWhite;
	background-color: rgba(240, 233, 231, 0.1);
}

.controlTextContainer
{
	width: 500px;
	flow-children: down;
}

.controlTitle
{
	width: 100%;
	font-size: fontSizeBodyLarge;
	font-weight: semi-bold;
	color: colorCommonOffWhite;
}

.controlDescription
{
	width: 100%;
}

.controls_line
{
	margin-top: 4px;
}

.mapContentContainer
{
	width: fit-children;
	height: 100%;
	flow-children: right;
	horizontal-align: center;
	perspective: 1000;
}

.mapContentContainer .infoContainer
{
	width: 888px;
	margin-top: 220px;
	margin-right: 100px;
	margin-left: 100px;
}

.mapInfoImage
{
	width: 100%;
	height: 500px;
	background-color: #555;
}

.mapDescription
{
	width: 500px;
	height: 500px;
	background-color: #000000;
	horizontal-align: right;
	margin-right: 100px;
	margin-top: 200px;
	opacity: 1;
}

.mapDescription Label
{
	color: #ffffff;
}

.gameMap
{
	pre-transform-scale2d: 0.8;
	width: 700px;
	height: 700px;
	align: center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	ui-scale: 50%;
	margin-top: -30px;
	margin-bottom: -70px;
}

.show_the_map_welcome .gameMap
{
	visibility: collapse;
}

.imageMap
{
	background-image: url("s2r://panorama/images/getting_started/map_bg_nolines_png.vtex");
	opacity: 0.2;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}

.imageLines
{
	background-image: url("s2r://panorama/images/getting_started/map_bg_lines_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}

.lineBlue1
{
	background-color: #0099FF;
}

.deadZone
{
	background-color: yellow;
	background-color: #00000000;
}

.deadZone1
{
	position: 60px 260px 0px;
	height: 180px;
	width: 100px;
}

.deadZone2
{
	position: 185px 160px 0px;
	height: 380px;
	width: 125px;
}

.deadZone3
{
	position: 335px 260px 0px;
	height: 180px;
	width: 100px;
}

.deadZone4
{
	position: 200px 0px 0px;
	height: 50px;
	width: 100px;
}

.deadZone5
{
	position: 200px 650px 0px;
	height: 50px;
	width: 100px;
}

.deadZone6
{
	position: 0px 200px 0px;
	height: 400px;
	width: 40px;
}

.deadZone7
{
	position: 455px 200px 0px;
	height: 400px;
	width: 50px;
}

.deadZoneCorner1
{
	position: -100px -100px 0px;
	height: 290px;
	width: 290px;
	transform: rotateZ(45deg);
}

.deadZoneCorner2
{
	position: 310px -100px 0px;
	height: 290px;
	width: 290px;
	transform: rotateZ(-45deg);
}

.deadZoneCorner3
{
	position: -100px 510px 0px;
	height: 290px;
	width: 290px;
	transform: rotateZ(45deg);
}

.deadZoneCorner4
{
	position: 310px 510px 0px;
	height: 290px;
	width: 290px;
	transform: rotateZ(-45deg);
}

.imageCore.enemy
{
	width: 100px;
	height: 158px;
	background-image: url("s2r://panorama/images/getting_started/map_core_enemy_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	pre-transform-scale2d: 1;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
}

.imageCore.friendly
{
	width: 100px;
	height: 158px;
	background-image: url("s2r://panorama/images/getting_started/map_core_friendly_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	pre-transform-scale2d: 1;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
}

.imageTier1
{
	width: 35px;
	height: 35px;
	background-image: url("s2r://panorama/images/getting_started/map_t1_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	pre-transform-scale2d: 1;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
}

.imageTier2
{
	width: 40px;
	height: 40px;
	background-image: url("s2r://panorama/images/getting_started/map_t2_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	pre-transform-scale2d: 1;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
}

.imageTroopers
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/getting_started/map_troopers_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	pre-transform-scale2d: 1;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
}

.imageMid
{
	width: 40px;
	height: 40px;
	background-image: url("s2r://panorama/images/getting_started/map_rejuv_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	pre-transform-scale2d: 1;
	align: center center;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
}

.imageNeutrals
{
	width: 80px;
	height: 80px;
	background-image: url("s2r://panorama/images/getting_started/map_neutrals_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	pre-transform-scale2d: 1;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
}

.imageTier2.enemy,.imageTier1.enemy,.imageTroopers.enemy,.imageCore.enemy
{
	wash-color: #FF410D;
}

.imageTier2.friendly,.imageTier1.friendly,.imageTroopers.friendly,.imageCore.friendly
{
	wash-color: offWhite;
}

.imageTier2.tier2_1.enemy
{
	position: 160px 140px 0px;
}

.imageTier2.tier2_2.enemy
{
	position: 275px 180px 0px;
}

.imageTier2.tier2_3.enemy
{
	position: 380px 195px 0px;
}

.imageTier2.tier2_4.enemy
{
	position: 500px 160px 0px;
}

.imageTier2.tier2_1.friendly
{
	position: 170px 505px 0px;
}

.imageTier2.tier2_2.friendly
{
	position: 285px 500px 0px;
}

.imageTier2.tier2_3.friendly
{
	position: 390px 470px 0px;
}

.imageTier2.tier2_4.friendly
{
	position: 505px 510px 0px;
}

.imageTier1.tier1_1.enemy
{
	position: 150px 275px 0px;
}

.imageTier1.tier1_2.enemy
{
	position: 285px 250px 0px;
}

.imageTier1.tier1_3.enemy
{
	position: 425px 300px 0px;
}

.imageTier1.tier1_4.enemy
{
	position: 550px 280px 0px;
}

.imageTier1.tier1_1.friendly
{
	position: 117px 390px 0px;
}

.imageTier1.tier1_2.friendly
{
	position: 242px 370px 0px;
}

.imageTier1.tier1_3.friendly
{
	position: 384px 410px 0px;
}

.imageTier1.tier1_4.friendly
{
	position: 520px 390px 0px;
}

.imageTroopers.enemy
{
	position: 413px 345px 0px;
}

.imageTroopers.friendly
{
	position: 392px 365px 0px;
}

.imageNeutrals
{
	position: 217px 420px 0px;
}

.imageCore.enemy
{
	position: 300px -10px 0px;
}

.imageCore.friendly
{
	position: 300px 555px 0px;
}

@keyframes 'glow'
{
	0%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
	50%
	{
		brightness: 3;
		pre-transform-scale2d: 1.15;
		transform: translateY(-2px) rotateZ(0deg);
	}
	
	100%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
}

@keyframes 'glowLines'
{
	0%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
	50%
	{
		brightness: 3;
		pre-transform-scale2d: 1.01;
		transform: translateY(0px) rotateZ(0deg);
	}
	
	100%
	{
		brightness: 1;
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
	
}

.imageTier1,.imageTier2,.imageCore,.imageTroopers,.imageNeutrals,.imageMid
{
	animation-name: glow;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.imageLines
{
	animation-name: glowLines;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.show_the_map_guardians .imageTier1
{
	pre-transform-scale2d: 1.4;
	animation: none;
	brightness: 2;
}

.show_the_map_walkers .imageTier2
{
	pre-transform-scale2d: 1.4;
	animation: none;
	brightness: 2;
}

.show_the_map_core .imageCore
{
	pre-transform-scale2d: 1.4;
	animation: none;
	brightness: 2;
}

.show_the_map_troopers .imageTroopers
{
	pre-transform-scale2d: 1.4;
	animation: none;
	brightness: 2;
}

.show_the_map_lanes .imageLines
{
	pre-transform-scale2d: 1.02;
	animation: none;
	brightness: 2;
}

.show_the_map_neutrals .imageNeutrals,.show_the_map_neutrals .imageMid
{
	pre-transform-scale2d: 1.4;
	animation: none;
	brightness: 2;
}

.show_the_map_guardians .imageLines,.show_the_map_walkers .imageLines,.show_the_map_welcome .imageLines,.show_the_map_core .imageLines,.show_the_map_troopers .imageLines,.show_neutrals .imageLines
{
	animation-iteration-count: 0;
}

.infoContainer.mapDefault
{
	visibility: collapse;
	min-height: 500px;
}

.infoContainer.mapDefault #movie_player
{
	visibility: collapse;
}

.show_the_map_welcome .infoContainer.mapDefault,.show_the_map_troopers .infoContainer.mapDefault,.show_the_map_guardians .infoContainer.mapDefault,.show_the_map_walkers .infoContainer.mapDefault,.show_neutrals .infoContainer.mapDefault,.show_the_map_core .infoContainer.mapDefault,.show_the_map_lanes .infoContainer.mapDefault
{
	visibility: collapse;
}

.infoContainerPadding.mapWelcome,.infoContainerPadding.mapMid,.infoContainerPadding.mapTroopers,.infoContainerPadding.mapCore,.infoContainerPadding.mapTier1,.infoContainerPadding.mapTier2,.infoContainerPadding.mapLanes,.infoContainerPadding.mapNeutrals
{
	visibility: collapse;
}

.show_the_map_welcome .infoContainerPadding.mapWelcome,.show_the_map_guardians .infoContainerPadding.mapTier1,.show_the_map_walkers .infoContainerPadding.mapTier2,.show_the_map_troopers .infoContainerPadding.mapTroopers,.show_the_map_core .infoContainerPadding.mapCore,.show_the_map_neutrals .infoContainerPadding.mapNeutrals,.show_the_map_lanes .infoContainerPadding.mapLanes
{
	visibility: visible;
}

.mapInfoTitle
{
	flow-children: right;
}

.mapInfoTitle Label
{
	margin-right: 10px;
}

.map_legend_item
{
	font-size: 22px;
	font-family: "Exo";
	font-weight: bold;
	color: #ffffffaa;
}

.descImage
{
	animation: none;
	margin-right: 5px;
	vertical-align: middle;
}

.legendTitle
{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff50;
	margin-top: 30px;
	padding-top: 20px;
	width: 100%;
	border-top: 1px solid #ffffff20;
}

.show_the_map_welcome .imageTroopers,.show_the_map_welcome .imageTier1,.show_the_map_welcome .imageTier2,.show_the_map_welcome .imageCore,.show_the_map_welcome .imageMid,.show_the_map_welcome .imageLines,.show_the_map_welcome .imageNeutrals,.show_the_map_troopers .imageTier1,.show_the_map_troopers .imageTier2,.show_the_map_troopers .imageCore,.show_the_map_troopers .imageMid,.show_the_map_troopers .imageLines,.show_the_map_troopers .imageNeutrals,.show_the_map_guardians .imageTroopers,.show_the_map_guardians .imageTier2,.show_the_map_guardians .imageCore,.show_the_map_guardians .imageMid,.show_the_map_guardians .imageLines,.show_the_map_guardians .imageNeutrals,.show_the_map_walkers .imageTroopers,.show_the_map_walkers .imageTier1,.show_the_map_walkers .imageCore,.show_the_map_walkers .imageMid,.show_the_map_walkers .imageLines,.show_the_map_walkers .imageNeutrals,.show_the_map_core .imageTroopers,.show_the_map_core .imageTier1,.show_the_map_core .imageTier2,.show_the_map_core .imageMid,.show_the_map_core .imageLines,.show_the_map_core .imageNeutrals,.show_the_map_lanes .imageTroopers,.show_the_map_lanes .imageTier1,.show_the_map_lanes .imageTier2,.show_the_map_lanes .imageMid,.show_the_map_lanes .imageCore,.show_the_map_lanes .imageNeutrals,.show_the_map_neutrals .imageTroopers,.show_the_map_neutrals .imageTier1,.show_the_map_neutrals .imageTier2,.show_the_map_neutrals .imageCore,.show_the_map_neutrals .imageLines
{
	animation: none;
	opacity: 0.1;
	saturation: 0.5;
}

.legendItem
{
	flow-children: right;
	margin: 5px 0px;
}

.legendItem Label
{
	margin-left: 10px;
	font-weight: semi-bold;
	color: #ffffff90;
	font-size: 18px;
	vertical-align: middle;
}

.imageLinesIcon
{
	width: 40px;
	height: 40px;
	background-image: url("s2r://panorama/images/getting_started/map_lanes_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	pre-transform-scale2d: 1;
}

.legendItem .descImage
{
	width: 30px;
	height: 30px;
}

.legendItem .descImage.imageLinesIcon
{
	width: 64px;
	height: 30px;
	background-size: 90%;
	padding: 5px;
}

.buttonGreen
{
	flow-children: right;
	width: fit-children;
	padding-left: 50px;
	transition-property: background-color, brightness;
	transition-duration: 0.2s;
	padding: 10px 30px 10px 20px;
	background-color: #ffffff15;
	border-radius: 5px;
	margin: 5px 0px;
	background-color: brandGreen;
	border-radius: 3px 3px 0px 0px;
	margin: 0px;
	margin-bottom: 20px;
	flow-children: none;
	margin-top: 30px;
}

.buttonGreen:hover
{
	brightness: 1.6;
}

.buttonGreen:active
{
	background-color: rgba(255, 255, 255, 0.25);
}

.buttonGreen Label
{
	vertical-align: middle;
	font-style: normal;
	font-family: "CriteriaCF";
	font-weight: semi-bold;
	font-size: 32px;
	color: #262626;
	text-align: left;
	horizontal-align: left;
	letter-spacing: 0px;
	transition-property: color, transform;
	transition-duration: 0.2s;
	margin-left: 40px;
}

.Arrow
{
	vertical-align: middle;
	margin-right: 15px;
	width: 30px;
	height: 30px;
	horizontal-align: left;
	pre-transform-rotate2d: 180deg;
	transition-property: margin-left, wash-color, transform;
	transition-duration: 0.3s;
	wash-color: #262626;
}

