/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.BindingRow
{
	background-color: none;
	flow-children: down;
	width: 100%;
	height: fit-children;
	margin: 0px;
	tooltip-position: bottom;
}

.BindingRow:disabled
{
	opacity: 0.3;
}

.ExtraTopSpace
{
	margin-top: 16px;
}

.HeroAbilityBindAbilityButton
{
	flow-children: none;
}

.ItemBindButton
{
	flow-children: none;
}

#BindingLabelContainer,#BindingLabelContainer2
{
	vertical-align: center;
	width: fit-children;
	height: 100%;
	flow-children: right;
}

#BindingLabelContainer .Background,#BindingLabelContainer2 .Background
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	margin: 2px;
	background-color: rgba(0, 0, 0, 0.75);
	background-image: url("s2r://panorama/images/textures/paper_tile_1k_01_png.vtex");
	box-shadow: inset rgba( 0, 0, 0, 0) 0px 2px 6px;
	brightness: 0.75;
	opacity: 0;
	transition-property: opacity, box-shadow;
	transition-duration: 0.2s;
}

#BindingLabelContainer .Border,#BindingLabelContainer2 .Border
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 5px solid transparent;
	border-image: url("s2r://panorama/images/buttons/input_field_border_png.vtex");
	border-image-slice: 5px fill;
	border-image-width: 5;
	border-image-outset: 5px;
	border-image-repeat: repeat;
	wash-color: offWhite;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.noKeyBinding #BindingLabelContainer,.noKeyBinding #BindingLabelContainer2
{
	width: 128px;
	height: 24px;
}

.noKeyBinding #BindingLabelContainer .Background,.noKeyBinding #BindingLabelContainer2 .Background
{
	box-shadow: inset rgba( 0, 0, 0, 0.5) 0px 2px 6px;
	opacity: 1;
}

.noKeyBinding #BindingLabelContainer .Border,.noKeyBinding #BindingLabelContainer2 .Border
{
	opacity: 0.05;
}

.KeybindConjunction
{
	visibility: collapse;
}

.hasPrimaryBinding.hasSecondaryBinding .KeybindConjunction
{
	vertical-align: center;
	margin-right: 16px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: offWhite&33;
	visibility: visible;
}

#BindingLabelContainer.ActiveBindButton,#BindingLabelContainer2.ActiveBindButton
{
	background-color: #1350a9;
	width: 100%;
	animation-name: BackgroundPulse;
	animation-duration: 1.35s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.HeroAbilityBindAbilityButton #BindingLabelContainer,.ItemBindButton #BindingLabelContainer,.HeroAbilityBindAbilityButton #BindingLabelContainer2,.ItemBindButton #BindingLabelContainer2
{
	flow-children: none;
	horizontal-align: left;
}

#mod
{
	visibility: collapse;
	margin-right: -2px;
	text-overflow: shrink;
}

#dash
{
	visibility: collapse;
	margin-right: 1px;
}

b
{
	font-weight: bold;
}

#Contents
{
	vertical-align: center;
}

.ClearKeybinding
{
	width: 32px;
	height: 24px;
	vertical-align: center;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/icons/delete_small.vsvg");
	background-size: 20px;
	background-texture-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #C0B4A2;
}

#ClearAndResetContainer
{
	width: fit-children;
	vertical-align: center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-delay: 0.25s;
}

#ResetBindingButton
{
	visibility: visible;
	width: 32px;
	height: 24px;
	vertical-align: center;
	text-overflow: shrink;
	background-image: url("s2r://panorama/images/icons/settings_reset.vsvg");
	background-size: 24px;
	background-texture-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: offWhite;
}

#ResetBindingButton:disabled
{
	opacity: 0.1;
	wash-color: colorEnemy;
}

#PushToTalkBinder #ResetBindingButton,#PushToTalkPartyBinder #ResetBindingButton,#MuteConsoleBinder #ResetBindingButton
{
	visibility: collapse;
}

.HeroAbilityBindAbilityButton .ClearKeybinding,.ItemBindButton .ClearKeybinding
{
	vertical-align: top;
}

.ActiveBindButton:selected #mod,.ActiveBindButton:selected #dash
{
	visibility: collapse;
}

.Modifier #dash,.Modifier #dash,.Modifier #mod,.Modifier #mod
{
	visibility: visible;
}

.HeroAbilityBindAbilityButton .Modifier #mod,.ItemBindButton .Modifier #mod
{
	visibility: visible;
	margin-top: 14px;
	font-size: 14px;
	opacity: 0.55;
}

.HeroAbilityBindAbilityButton .Modifier #dash,.ItemBindButton .Modifier #dash
{
	visibility: collapse;
}

#KeybindContainer
{
	vertical-align: center;
}

#KeybindContainer:hover #LabelFXContainer
{
	background-color: rgba(0, 0, 0, 0.75);
}

#KeybindContainer:hover #ClearAndResetContainer
{
	opacity: 1;
}

#KeybindContainer:hover Label
{
	transition-property: color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

.BindingRowLabel
{
	letter-spacing: 1px;
	background-color: #141616;
	width: fill-parent-flow( 0.7 );
	margin-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: center;
	padding-left: 8px;
	font-size: 18px;
	color: #7d8688;
	horizontal-align: left;
	transition-property: color, background-color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

.SettingLabel
{
	width: 280px;
	padding-right: 16px;
	vertical-align: center;
	font-weight: semi-bold;
	transition-property: color;
	transition-duration: 0.1s;
}

.SettingLabel.LabelRight
{
	margin-left: 16px;
}

.SettingLabel.LabelRight.Active
{
	color: brandGreen;
}

#KeybindContainer.CannotEdit:hover #LabelFXContainer,.CannotEdit #LabelFXContainer,#KeybindContainer.CannotEdit:hover #LabelFXContainer2,.CannotEdit #LabelFXContainer2,#KeybindContainer.CannotEdit:hover .BindingRowLabel
{
	background-color: #141616;
}

.CannotEdit:hover Label
{
	color: #7d8688;
}

.CannotEdit:hover #LabelFXContainer Label,.CannotEdit:hover #LabelFXContainer2 Label
{
	color: #8d9698;
}

.HeroAbilityBindAbilityButton .BindingRowLabel,.ItemBindButton .BindingRowLabel
{
	width: 68.1%;
	margin-right: 0px;
}

.BindingRowButton
{
	border: 1px solid red;
}

#ItemBindingContents .BindingRowButton
{
	color: white;
	text-shadow: 0px 0px 3px 3.0 #000000;
}

.BindingRowButton:hover
{
	color: white;
}

.HeroAbilityBindAbilityButton
{
	width: 84px;
	height: 84px;
	margin: 12px;
	margin-top: 13px;
	background-color: #323836;
	border: 2px solid #414a45;
}

.HeroAbilityBindAbilityButton,.ItemBindButton
{
	background-color: #2B2F30;
	color: #7d8688;
	transition-property: transform, background-color, border, color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

#AbilityBindings_Hero .HeroAbilityBindAbilityButton
{
	background-color: transparent;
}

.HeroAbilityBindAbilityButton:hover,.ItemBindButton:hover
{
	background-color: #424c49;
	border-color: #5b6a62;
	color: white;
}

.HeroAbilityBindAbilityButton:disabled,.ItemBindButton:disabled
{
	opacity: 0.2;
}

.HeroAbilityBindAbilityButton .BindingRowLabel
{
	width: 100%;
	color: #414a45;
	font-size: 40px;
	font-weight: thin;
	background-color: transparent;
	vertical-align: bottom;
	horizontal-align: right;
	text-align: right;
	height: fit-children;
	margin-right: 4px;
	margin-bottom: -12px;
	transition-property: color, background-color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

.HeroAbilityBindAbilityButton:hover .BindingRowLabel
{
	color: #7d8688;
	background-color: transparent;
}

.HeroAbilityBindAbilityButton .BindingRowButton
{
	color: #879092;
	color: white;
	font-size: 15px;
	vertical-align: top;
	horizontal-align: left;
	text-align: left;
	background-color: transparent;
	padding-left: 4px;
	text-shadow: 0px 0px 3px 3.0 #000000;
	text-overflow: shrink;
}

.PerUnitKeybindsActive .HeroAbilityBindAbilityButton .BindingRowButton
{
	color: #7A7A7A;
}

.IsDefaultHeroKeybinds.PerUnitKeybindsActive .HeroAbilityBindAbilityButton .BindingRowButton
{
	color: white;
}

.PerUnitKeybindsActive.HasPerUnitKeybinds .HeroAbilityBindAbilityButton .BindingRowButton
{
	color: white;
}

#ItemQuickcast .ItemBindButton
{
	border: 2px solid #1d1e21;
}

.ItemBindButton
{
	width: 96px;
	height: 79px;
	width: 84px;
	height: 69px;
	margin: 14px;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 12px;
	border: 2px solid #414a45;
}

.ItemBindButton .BindingRowLabel
{
	background-color: transparent;
}

.ItemBindButton .BindingRowButton
{
	background-color: transparent;
	vertical-align: top;
	horizontal-align: left;
	text-align: left;
	padding-left: 4px;
	font-size: 15px;
	transition-property: color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

.ActiveBindButton:selected
{
	background-color: #1350a9;
	animation-name: BackgroundPulse;
	animation-duration: 1.35s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.BindingRow:selected #LabelFXContainer
{
	border: 2px solid #5c99ff;
	box-shadow: #5c99ff22 0px 0px 8px 0px ;
}

#LabelFXContainer:selected,#LabelFXContainer2:selected
{
	border: 0px solid transparent;
}

.ActiveBindFX:selected
{
	opacity: 1;
	transition-duration: 0.1s;
}

.HeroAbilityBindAbilityButton:selected,.ItemBindButton:selected
{
	background-color: #323836;
	border: 2px solid #5c99ff;
	padding-left: 0px;
	box-shadow: #5c99ff22 0px 0px 8px 0px ;
}

#LabelFXContainer,#LabelFXContainer2
{
	flow-children: right;
	horizontal-align: right;
	width: 320px;
	height: 100%;
	margin-right: 16px;
	background-color: #C0B4A203;
	transition-property: box-shadow, background-color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
	visibility: collapse;
}

.hasPrimaryBinding #LabelFXContainer
{
	visibility: visible;
}

.noKeyBinding #LabelFXContainer
{
	visibility: visible;
}

.hasSecondaryBinding #LabelFXContainer2
{
	visibility: visible;
}

#KeybindContainer:hover .BindingRowLabel
{
	background-color: #2B2F30;
}

.ActiveBindFX
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.36s;
	transition-timing-function: ease-in-out;
}

@keyframes 'BackgroundPulse'
{
	0%
	{
		background-color: #1350a9;
	}
	
	50%
	{
		background-color: #021088;
	}
	
	100%
	{
		background-color: #1350a9;
	}
	
}

.ControlGroupRow .BindingRowLabel
{
	width: 50%;
}

.ControlGroupRow #LabelFXContainer,.ControlGroupRow #LabelFXContainer2
{
	width: 47%;
}

#ItemsTPBindingContainer .ItemBindButton #BindingLabelContainer,#ItemsTPBindingContainer .ItemBindButton #BindingLabelContainer2
{
	padding-left: 6px;
	padding-top: 6px;
}

#ItemsNeutralSlotBindingContainer .ItemBindButton #BindingLabelContainer,#ItemsNeutralSlotBindingContainer .ItemBindButton #BindingLabelContainer2
{
	padding-left: 6px;
	padding-top: 6px;
}

#ItemsTPBindingContainer .ItemBindButton .ClearKeybinding,#ItemsNeutralSlotBindingContainer .ItemBindButton .ClearKeybinding
{
	width: 18px;
	height: 18px;
	margin-right: 8px;
	margin-top: 8px;
}

#ChatWheelConceptsContainer #ChatWheelConceptsWrapper
{
	margin-left: 800px;
}

#QuickCastContainer
{
	visibility: collapse;
	horizontal-align: right;
	margin: 0px 68px 0px 0px;
	flow-children: right;
	vertical-align: top;
}

.canQuickCast #QuickCastContainer
{
	visibility: visible;
}

.QuickCastDesc
{
	vertical-align: center;
	font-weight: semi-bold;
	margin-right: 10px;
}

#HeroIcon
{
	visibility: collapse;
	height: 24px;
	width: 24px;
	vertical-align: center;
	margin-right: 12px;
	img-shadow: 0px 0px 16px #000000aa;
}

.isUnitSpecificBind #HeroIcon
{
	visibility: visible;
}

.unitSpecificBindIndicator
{
	visibility: collapse;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: brandGreen;
	vertical-align: center;
	margin-right: 12px;
}

#QuickCastDropDown
{
	width: 270px;
}

#UnitHasBindsIndicator.QuickCastBind
{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: brandGreen;
	visibility: collapse;
	vertical-align: center;
	margin-right: 10px;
}

#AddSecondaryBindingContainer
{
	vertical-align: center;
	width: fit-children;
	height: 100%;
	padding-left: 12px;
	padding-right: 12px;
	background-color: offWhite&0a;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0);
	transition-property: background-color, box-shadow, opacity;
	transition-duration: 0.3s;
}

#AddSecondaryBindingContainer .ExpandSecondary
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-family: block;
	color: offWhite&66;
}

#AddSecondaryBindingContainer:hover
{
	background-color: offWhite&22;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
}

#AddSecondaryBindingContainer:hover Label
{
	color: white;
}

#AddSecondaryBindingContainer:active
{
	sound: "UI.MainMenu.Activate";
	brightness: 1.5;
	transform: scale3d( 0.98, 0.98, 1 );
}

.hasPrimaryBinding.hasSecondaryBinding.BindingRow:hover #AddSecondaryBindingContainer
{
	visibility: collapse;
}

.noKeyBinding.BindingRow:hover #AddSecondaryBindingContainer
{
	visibility: collapse;
}

#ChatWheelConceptsContainer
{
	ignore-parent-flow: true;
}

.isChatWheelBinder #ChatWheelConceptsContainer
{
	visibility: visible;
}

.pingOptionLabel
{
	width: 100%;
}

#ChatWheelConcepts,#ChatWheelConceptsDropDownMenu
{
	width: 200px;
}

