/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

.BindingRow
{
	background-color: none;
	flow-children: down;
	width: 100%;
	height: fit-children;
	margin: 4px 0px 4px 0px;
	tooltip-position: bottom;
}

.BindingRow:disabled
{
	opacity: 0.3;
}

.ExtraTopSpace
{
	margin-top: 16px;
}

.HeroAbilityBindAbilityButton
{
	flow-children: none;
}

.ItemBindButton
{
	flow-children: none;
}

#BindingLabelContainer
{
	height: 100%;
	horizontal-align: center;
	flow-children: right;
}

#BindingLabelContainer.ActiveBindButton
{
	background-color: #1350a9;
	width: 100%;
	animation-name: BackgroundPulse;
	animation-duration: 1.35s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.HeroAbilityBindAbilityButton #BindingLabelContainer,.ItemBindButton #BindingLabelContainer
{
	flow-children: none;
	horizontal-align: left;
}

#mod
{
	visibility: collapse;
	margin-right: -2px;
	text-overflow: shrink;
}

#dash
{
	visibility: collapse;
	margin-right: 1px;
}

b
{
	font-weight: bold;
}

#Contents
{
	vertical-align: center;
}

.ClearKeybinding
{
	width: 24px;
	height: 24px;
	vertical-align: center;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
}

#ClearAndResetContainer
{
	vertical-align: center;
}

#ResetBindingButton
{
	margin-left: 10px;
}

#ResetBindingButton:disabled
{
	opacity: 0.1;
}

#PushToTalkBinder #ResetBindingButton,#PushToTalkPartyBinder #ResetBindingButton,#MuteConsoleBinder #ResetBindingButton
{
	visibility: collapse;
}

.HeroAbilityBindAbilityButton .ClearKeybinding,.ItemBindButton .ClearKeybinding
{
	vertical-align: top;
}

CitadelSettingsKeyBinder:selected .ActiveBindButton #mod,CitadelSettingsKeyBinder:selected .ActiveBindButton #dash
{
	visibility: collapse;
}

.Modifier #dash,.Modifier #dash,.Modifier #mod,.Modifier #mod
{
	visibility: visible;
}

.HeroAbilityBindAbilityButton .Modifier #mod,.ItemBindButton .Modifier #mod
{
	visibility: visible;
	margin-top: 14px;
	font-size: 14px;
	opacity: 0.55;
}

.HeroAbilityBindAbilityButton .Modifier #dash,.ItemBindButton .Modifier #dash
{
	visibility: collapse;
}

#KeybindContainer:hover .BindingRowButton
{
	color: white;
}

#KeybindContainer:hover Label
{
	color: white;
	transition-property: color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

.BindingRowLabel
{
	letter-spacing: 1px;
	background-color: #141616;
	width: fill-parent-flow( 0.7 );
	margin-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: center;
	padding-left: 8px;
	font-size: 18px;
	color: #7d8688;
	horizontal-align: left;
	transition-property: color, background-color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

#KeybindContainer.CannotEdit:hover #LabelFXContainer,.CannotEdit #LabelFXContainer,#KeybindContainer.CannotEdit:hover .BindingRowLabel
{
	background-color: #141616;
}

.CannotEdit:hover Label
{
	color: #7d8688;
}

.CannotEdit:hover #LabelFXContainer Label
{
	color: #8d9698;
}

.HeroAbilityBindAbilityButton .BindingRowLabel,.ItemBindButton .BindingRowLabel
{
	width: 68.1%;
	margin-right: 0px;
}

.BindingRowButton
{
	color: #8d9698;
	text-align: center;
	font-size: 18px;
	vertical-align: center;
	text-overflow: shrink;
}

#ItemBindingContents .BindingRowButton
{
	color: white;
	text-shadow: 0px 0px 3px 3.0 #000000;
}

.BindingRowButton:hover
{
	color: white;
}

.HeroAbilityBindAbilityButton
{
	width: 84px;
	height: 84px;
	margin: 12px;
	margin-top: 13px;
	background-color: #323836;
	border: 2px solid #414a45;
}

.HeroAbilityBindAbilityButton,.ItemBindButton
{
	background-color: #2B2F30;
	color: #7d8688;
	transition-property: transform, background-color, border, color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

#AbilityBindings_Hero .HeroAbilityBindAbilityButton
{
	background-color: transparent;
}

.HeroAbilityBindAbilityButton:hover,.ItemBindButton:hover
{
	background-color: #424c49;
	border-color: #5b6a62;
	color: white;
}

.HeroAbilityBindAbilityButton:disabled,.ItemBindButton:disabled
{
	opacity: 0.2;
}

.HeroAbilityBindAbilityButton .BindingRowLabel
{
	width: 100%;
	color: #414a45;
	font-size: 40px;
	font-weight: thin;
	background-color: transparent;
	vertical-align: bottom;
	horizontal-align: right;
	text-align: right;
	height: fit-children;
	margin-right: 4px;
	margin-bottom: -12px;
	transition-property: color, background-color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

.HeroAbilityBindAbilityButton:hover .BindingRowLabel
{
	color: #7d8688;
	background-color: transparent;
}

.HeroAbilityBindAbilityButton .BindingRowButton
{
	color: #879092;
	color: white;
	font-size: 15px;
	vertical-align: top;
	horizontal-align: left;
	text-align: left;
	background-color: transparent;
	padding-left: 4px;
	text-shadow: 0px 0px 3px 3.0 #000000;
	text-overflow: shrink;
}

.PerUnitKeybindsActive .HeroAbilityBindAbilityButton .BindingRowButton
{
	color: #7A7A7A;
}

.IsDefaultHeroKeybinds.PerUnitKeybindsActive .HeroAbilityBindAbilityButton .BindingRowButton
{
	color: white;
}

.PerUnitKeybindsActive.HasPerUnitKeybinds .HeroAbilityBindAbilityButton .BindingRowButton
{
	color: white;
}

#ItemQuickcast .ItemBindButton
{
	border: 2px solid #1d1e21;
}

.ItemBindButton
{
	width: 96px;
	height: 79px;
	width: 84px;
	height: 69px;
	margin: 14px;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 12px;
	border: 2px solid #414a45;
}

.ItemBindButton .BindingRowLabel
{
	background-color: transparent;
}

.ItemBindButton .BindingRowButton
{
	background-color: transparent;
	vertical-align: top;
	horizontal-align: left;
	text-align: left;
	padding-left: 4px;
	font-size: 15px;
	transition-property: color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

CitadelSettingsKeyBinder:selected .ActiveBindButton
{
	background-color: #1350a9;
	animation-name: BackgroundPulse;
	animation-duration: 1.35s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.BindingRow:selected #LabelFXContainer
{
	border: 2px solid #5c99ff;
	box-shadow: #5c99ff22 0px 0px 8px 0px ;
}

.ItemBindButton.BindingRow:selected #LabelFXContainer,.HeroAbilityBindAbilityButton.BindingRow:selected #LabelFXContainer
{
	border: 0px solid transparent;
}

CitadelSettingsKeyBinder:selected .ActiveBindFX
{
	opacity: 1;
	transition-duration: 0.1s;
}

.HeroAbilityBindAbilityButton:selected,.ItemBindButton:selected
{
	background-color: #323836;
	border: 2px solid #5c99ff;
	padding-left: 0px;
	box-shadow: #5c99ff22 0px 0px 8px 0px ;
}

#LabelFXContainer
{
	background-color: #2b2f30;
	width: fill-parent-flow( 0.3 );
	height: 100%;
	horizontal-align: right;
	transition-property: box-shadow, background-color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

#KeybindContainer:hover #LabelFXContainer
{
	background-color: #393e3f;
}

#KeybindContainer:hover .BindingRowLabel
{
	background-color: #2B2F30;
}

.ActiveBindFX
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.36s;
	transition-timing-function: ease-in-out;
}

@keyframes 'BackgroundPulse'
{
	0%
	{
		background-color: #1350a9;
	}
	
	50%
	{
		background-color: #021088;
	}
	
	100%
	{
		background-color: #1350a9;
	}
	
}

.ControlGroupRow .BindingRowLabel
{
	width: 50%;
}

.ControlGroupRow #LabelFXContainer
{
	width: 47%;
}

#ItemsTPBindingContainer .ItemBindButton #BindingLabelContainer
{
	padding-left: 6px;
	padding-top: 6px;
}

#ItemsNeutralSlotBindingContainer .ItemBindButton #BindingLabelContainer
{
	padding-left: 6px;
	padding-top: 6px;
}

#ItemsTPBindingContainer .ItemBindButton .ClearKeybinding,#ItemsNeutralSlotBindingContainer .ItemBindButton .ClearKeybinding
{
	width: 18px;
	height: 18px;
	margin-right: 8px;
	margin-top: 8px;
}

#QuickCastContainer
{
	visibility: collapse;
	horizontal-align: right;
	margin: 5px 68px 5px 5px;
	flow-children: right;
}

.canQuickCast #QuickCastContainer
{
	visibility: visible;
}

.QuickCastDesc
{
	vertical-align: center;
}

.unitSpecificBindIndicator
{
	visibility: collapse;
	horizontal-align: right;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: brandGreen;
	vertical-align: center;
	margin-right: 10px;
}

.isUnitSpecificBind .unitSpecificBindIndicator
{
	visibility: visible;
}

#QuickCastDropDown
{
	width: 270px;
}

#UnitHasBindsIndicator
{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: brandGreen;
	visibility: collapse;
	horizontal-align: right;
	margin-right: 10px;
	vertical-align: center;
	margin-bottom: 3px;
}

.isUnitSpecificBind #UnitHasBindsIndicator
{
	visibility: visible;
}

