/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

AbilitySlotMenu
{
	flow-children: down;
	horizontal-align: center;
	padding: 10px;
	margin-top: 10px;
	width: 100%;
	ui-scale: 80%;
}

PopupActivatedAbilitiesSelection AbilitySlotMenu
{
	height: 150px;
	width: 100%;
	background-color: none;
	ui-scale: 100%;
}

.mods_dash
{
	background-color: grey;
	height: 1px;
	vertical-align: center;
	width: 40%;
}

.mods_header_text
{
	width: 696px;
	color: rgba(255, 255, 255, 0.1);
	text-align: center;
	vertical-align: center;
	font-size: 14px;
	font-weight: bold;
}

#abilitiesContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

AbilitySlotIcon
{
	height: 74px;
	width: 48px;
}

.mods_line
{
	width: 100%;
	flow-children: right;
}

#acitveModDragLabel
{
	horizontal-align: center;
	width: fit-children;
	font-weight: normal;
}

PopupActivatedAbilitiesSelection #headerContainer
{
	visibility: collapse;
}

