/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_shared_colors.vcss_c");
TeamChatStatus
{
	width: 330px;
	margin-top: 160px;
	vertical-align: top;
	horizontal-align: center;
	flow-children: down;
	font-family: sans;
	visibility: collapse;
}

.connectedToHeroTesting TeamChatStatus,.connectedToLaneTraining.connectedToGame TeamChatStatus
{
	visibility: collapse;
}

.replay_playback TeamChatStatus
{
	visibility: collapse;
}

TeamChatStatus.JoiningChat
{
	visibility: visible;
}

.wants_scoreboard TeamChatStatus,TeamChatStatus.gDetailView
{
	opacity: 0;
}

#chat_count_zone
{
	width: 100%;
	max-width: 280px;
	horizontal-align: center;
	flow-children: down;
	padding: 8px;
	border-radius: 8px;
	background-color: offWhite&60;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #9DC3DF ), color-stop (0.5, #ffffff50), to( #9DC3DF ) );
	border: 3px solid #ffffff30;
	margin-bottom: 20px;
}

.InPartyChat #chat_count_zone
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #63d28660 ), color-stop( 0.5, #ffffff70 ), to( #63d28660 ) );
}

#chat_count_zone Label
{
	horizontal-align: center;
	color: offBlack;
	font-weight: bold;
	text-transform: uppercase;
}

.InPartyChat .player_num
{
	visibility: collapse;
}

.chat_number
{
	flow-children: right;
	horizontal-align: middle;
}

.chat_number Label
{
	font-size: 26px;
	color: offBlack;
	font-weight: bold;
}

.subtext
{
	font-size: 15px;
	opacity: 0.8;
}

.playersInPartyChat,.InPartyChat .playersInTeamChat
{
	visibility: collapse;
}

.InPartyChat .playersInPartyChat
{
	visibility: visible;
}

.chat_type_icon
{
	width: 26px;
	height: 26px;
	vertical-align: middle;
	margin-right: 10px;
	background-image: url("s2r://panorama/images/global/chat_type_teamchat.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	wash-color: offBlack;
}

.InPartyChat .chat_type_icon
{
	background-image: url("s2r://panorama/images/global/chat_type_partychat.vsvg");
	wash-color: none;
}

#joining_zone
{
	width: 100%;
	flow-children: down;
	visibility: collapse;
	padding: 8px;
}

#joining_zone Label
{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-shadow: 2px 2px 0px #00000090;
}

.JoiningChat #joining_zone
{
	visibility: visible;
}

#join_chat_progress
{
	opacity: 1;
	border-radius: 5px;
	border: 3px solid offBlack;
}

.ProgressBarLeft
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #9DC3DF ), to( #ffffff80 ) );
}

.joinChatMessage
{
	background-color: #9DC3DF80;
	horizontal-align: center;
	border-radius: 4px;
	border: 2px solid #ffffff30;
	animation-name: joinTeamChat;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	visibility: collapse;
}

.CanJoinTeamChat:not(.JoiningChat) .joinChatMessage
{
	visibility: visible;
}

.InPartyChat .joinChatMessage
{
	visibility: collapse;
}

.joinChatMessage Label
{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1px;
	color: #ffffff;
	horizontal-align: center;
	padding: 0px 20px;
}

@keyframes 'joinTeamChat'
{
	0%
	{
		pre-transform-scale2d: 1.03;
		background-color: #9DC3DF80;
	}
	
	50%
	{
		pre-transform-scale2d: 1;
		background-color: #9DC3DF30;
	}
	
	100%
	{
		pre-transform-scale2d: 1.03;
		background-color: #9DC3DF80;
	}
	
}

