/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

TeamStatusPanelPlayer
{
	width: 200px;
	height: 24px;
	margin-left: 0px;
	margin-right: 20px;
	margin-bottom: 4px;
	horizontal-align: right;
	flow-children: none;
}

TeamStatusPanelPlayer#team_status_panel_spectator
{
	width: 320px;
	height: 24px;
}

.player_text
{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
	vertical-align: center;
	background-color: none;
	visibility: visible;
	horizontal-align: right;
	margin-right: 30px;
	text-align: right;
}

#network_icon
{
	height: 20px;
	width: 20px;
	horizontal-align: right;
	vertical-align: center;
	visibility: collapse;
}

.disconnected #network_icon
{
	visibility: visible;
}

.disconnected
{
	text-shadow: none;
	color: lightgrey;
}

#voicebar
{
	width: 22px;
	height: 13px;
	z-index: 10;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/hud/voice_icon_png.vtex");
	margin-left: 5px;
	horizontal-align: right;
	vertical-align: center;
	visibility: collapse;
	margin-top: 3px;
}

.voiceActive #voicebar
{
	visibility: visible;
}

#playerimage
{
	width: 15px;
	height: 15px;
	vertical-align: middle;
	z-index: 1;
	flow-children: none;
	horizontal-align: right;
	margin-right: 2px;
}

.disconnected #playerimage
{
	visibility: collapse;
}

