/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define UltimateReadyColor: rgb(100, 204, 255);
#players_container
{
	width: 100%;
	flow-children: right;
}

.top_left_team_panel #players_container
{
	horizontal-align: right;
}

#team_status_panel_spectator #players_container
{
	flow-children: down;
}

.team_name_panel
{
	height: 24px;
	width: 100%;
}

.team_wins_panel
{
	visibility: collapse;
}

.per_player_status
{
	width: 100%;
	height: 100%;
	flow-children: down;
	margin-top: 4px;
}

.player_text
{
	font-size: 18px;
	width: 100%;
	color: white;
	margin-left: 90px;
	margin-top: 12px;
	vertical-align: bottom;
	background-color: none;
	margin-bottom: -14px;
	visibility: collapse;
}

.wants_hero_select .player_text
{
	visibility: visible;
}

.enemy .player_text
{
	text-align: right;
	margin-left: 0px;
	margin-right: 90px;
}

.healthbar_area
{
	height: 52px;
	width: 100%;
	flow-children: right;
}

.healthbar_container
{
	width: 100%;
	height: 52px;
	border-radius: 0px;
	flow-children: right;
}

.enemy .healthbar_container
{
	flow-children: left;
}

.enemy .healthbar_area
{
	flow-children: left;
}

.choosing_text
{
	visibility: collapse;
	color: grey;
	font-size: 18px;
	vertical-align: center;
	margin-left: 8px;
	margin-top: 8px;
}

.choosing_hero .choosing_text
{
	visibility: visible;
}

#choosing_icon
{
	horizontal-align: right;
	vertical-align: center;
	height: 24px;
	width: 24px;
	visibility: collapse;
	z-index: 2;
}

.right_team #choosing_icon
{
	horizontal-align: left;
}

@keyframes 'icon_rotate'
{
	0%
	{
		transform: rotateZ(0deg);
	}
	
	50%
	{
		transform: rotateZ(-180deg);
	}
	
	100%
	{
		transform: rotateZ(-360deg);
	}
	
}

.choosing_hero #choosing_icon
{
	visibility: visible;
	animation-name: icon_rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#network_icon
{
	horizontal-align: right;
	vertical-align: center;
	height: 24px;
	width: 24px;
	z-index: 2;
	visibility: collapse;
}

.right_team #network_icon
{
	horizontal-align: left;
}

.disconnected #network_icon
{
	visibility: visible;
}

#healthbar_bg
{
	width: 160px;
	height: 28px;
	margin: 0px;
	padding: 0px;
	vertical-align: bottom;
	background-color: rgba(192, 192, 192, 0.05);
	border: 1px solid rgba(0,0,0, 0.2);
	border-radius: 0px 6px 6px 0px;
}

#rejuvenator_icon
{
	width: 24px;
	height: 24px;
	vertical-align: middle;
	horizontal-align: left;
}

.enemy #rejuvenator_icon
{
	horizontal-align: right;
}

#rejuvenator
{
	visibility: collapse;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	margin-top: 8px;
	margin-left: 8px;
}

.enemy #rejuvenator
{
	margin-left: 0px;
	margin-right: 8px;
}

.has_rejuvenator #rejuvenator
{
	visibility: visible;
}

.enemy #healthbar_bg
{
	border-radius: 6px 0px 0px 6px;
}

.wants_hero_select #healthbar_bg
{
	width: 70px;
}

.has_hero #healthbar_bg
{
	width: 160px;
}

#player_value
{
	color: white;
	font-size: 18px;
	width: 36px;
	height: 28px;
	padding-top: 2px;
	vertical-align: bottom;
	border-radius: 6px 0px 0px 6px;
	background-color: #00000066;
	opacity: 0;
	text-overflow: shrink;
}

.enemy #player_value
{
	border-radius: 0px 6px 6px 0px;
}

.has_hero #player_value
{
	opacity: 1;
}

.wants_hero_select #player_value
{
	opacity: 0;
}

.gold
{
	color: white;
	vertical-align: center;
	text-align: center;
	visibility: collapse;
}

.k_sign
{
	margin-left: -2px;
	margin-right: 6px;
	vertical-align: center;
	text-align: center;
	visibility: collapse;
}

.ap
{
	color: white;
	vertical-align: center;
	horizontal-align: center;
	font-size: 20px;
}

.player_dead #healthbar_bg
{
	background-color: rgba(0,0,0, 0.9);
}

#healthbar
{
	width: 100%;
	height: 28px;
	vertical-align: bottom;
}

.friend #healthbar
{
	background-color: colorFriendlyHealthbar;
}

.friend.localplayer #healthbar
{
	background-color: colorFriendlyHealthbar;
}

.friend.localplayer .player_text
{
	color: #fff;
}

.enemy #healthbar
{
	background-color: #893d28aa;
	horizontal-align: right;
}

.neutral #healthbar
{
	background-color: #00000088;
}

.player_dead #healthbar
{
	background-color: #00000000;
}

.disconnected #healthbar,.disconnected.friend #healthbar,.disconnected.enemy #healthbar
{
	background-color: grey;
}

#healthbar_bottom_edge
{
	width: 100%;
	height: 4px;
	background-color: colorFriendly;
	vertical-align: bottom;
}

.enemy #healthbar_bottom_edge
{
	vertical-align: bottom;
	background-color: #FF410D;
}

#healthbar_bg_bottom_edge
{
	width: 100%;
	height: 4px;
	background-color: rgba(192, 192, 192, 0.3);
	vertical-align: bottom;
	z-index: 10;
}

.top_right_team_panel #healthbar_bg_bottom_edge
{
	transform: scaleX(-1);
}

.player_dead #healthbar_bg_bottom_edge
{
	background-color: rgba(192, 192, 192, 0.0);
}

.disconnected,.disconnected.enemy,.disconnected.friend .player_text
{
	text-shadow: none;
	color: lightgrey;
}

#playerimage
{
	width: 40px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	z-index: 1;
	vertical-align: bottom;
}

.playerimage_bg
{
	width: 40px;
	height: 28px;
	margin-left: -40px;
	vertical-align: bottom;
	background-color: rgba(0, 0, 0, 0.9);
}

.enemy .playerimage_bg
{
	margin-left: 0px;
	margin-right: -40px;
}

.enemy #playerimage
{
	horizontal-align: right;
}

.player_dead #playerimage
{
	saturation: 0.35;
	brightness: 0.5;
}

.disconnected #playerimage
{
	saturation: 0;
	brightness: 0.5;
}

#hero_name
{
	visibility: collapse;
}

#player_name
{
	visibility: visible;
	opacity: 1;
}

.wants_hero_select #hero_name
{
	visibility: visible;
}

.wants_hero_select #player_name
{
	visibility: collapse;
}

.name_text
{
	vertical-align: center;
	color: colorFriendly;
	margin-left: 24px;
	font-size: 18px;
}

.player_dead .name_text
{
	color: rgba(255, 255, 255, 0.5);
}

.enemy .name_text
{
	horizontal-align: right;
	margin-right: 24px;
	color: #FF410D;
}

.player_dead .name_text
{
	visibility: collapse;
}

#death_state
{
	horizontal-align: right;
	visibility: collapse;
	flow-children: left;
}

.player_dead #death_state
{
	visibility: visible;
	font-size: 18px;
	color: red;
	vertical-align: center;
}

.enemy.player_dead #death_state
{
	horizontal-align: left;
	flow-children: right;
}

#death_icon
{
	vertical-align: center;
	margin-right: 4px;
	margin-left: 4px;
}

.respawn_timer
{
	width: 24px;
	text-overflow: shrink;
	color: red;
}

#voicebar
{
	background-color: lightblue;
	width: 100%;
	height: 4px;
	vertical-align: top;
	z-index: 1;
	margin-left: 34px;
}

#ultimate_state
{
	height: 20px;
	width: 20px;
	horizontal-align: left;
	z-index: 2;
}

.enemy #ultimate_state
{
	horizontal-align: right;
}

#ultimate_ready
{
	height: 20px;
	width: 20px;
	vertical-align: center;
	visibility: collapse;
	margin-top: 2px;
}

.has_ultimate #ultimate_ready
{
	visibility: visible;
	wash-color: grey;
}

.has_ultimate .name_text
{
	margin-left: 24px;
}

.has_ultimate.ultimate_ready #ultimate_ready
{
	visibility: visible;
	wash-color: none;
}

.player_dead.has_ultimate.ultimate_ready #ultimate_ready
{
	visibility: collapse;
}

.player_dead.has_ultimate .name_text
{
	margin-left: 8px;
}

.player_dead.has_ultimate .enemy .name_text
{
	margin-right: 8px;
}

.tick
{
	width: 2px;
	background-color: rgba(0, 0, 0, 0.521);
	height: 4px;
}

.tick.darkTick
{
	background-color: rgba(0, 0, 0, 1);
}

