/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@import url("s2r://panorama/styles/unit_status_icons.vcss_c");
@define Team1Color: #E7B659;
@define Team2Color: #5B79E6;
@define TeamNeutralColor: #5befb5;
@define TeamEnemyColor: #e16161;
@define TeamFriendColor: #FFEFD7;
@define Team1DamageDeltaColor: #f24d4d;
@define Team2DamageDeltaColor: #f24d4d;
@define TeamNeutralDamageDeltaColor: #f24d4d;
@define TeamEnemyDamageDeltaColor: #ffec5c;
@define TeamFriendDamageDeltaColor: #84807a;
@define UnitPowerLevelColor_Default: #ffffff;
@define UnitPowerLevelColor_Threat:#c29345;
@define UnitPowerLevelColor_SuperThreat: #ab4949;
@define UnitPowerLevelColor_Weak: #676f85;
@define BulletShieldColor: #fcb43d;
@define TechShieldColor: #e29afd;
@define DropshadowColor: #121018C0;
.WindowRoot
{
	width: 100%;
	height: fit-children;
	flow-children: up;
}

#UnitStatus
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	vertical-align: bottom;
	horizontal-align: center;
}

.beingSpectatedInEye #UnitStatus
{
	visibility: collapse;
}

#InfoHealthContainer
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
	visibility: visible;
}

.health_hidden #InfoHealthContainer,.GameStatePreGame #InfoHealthContainer
{
	visibility: collapse;
}

.health_particle_active #LevelHealthContainer
{
	visibility: collapse;
}

#unit_info_container.unit_info_panel
{
	width: 300px;
	height: width-percentage(100%);
	vertical-align: middle;
	horizontal-align: right;
	z-index: 3;
	flow-children: left;
}

#unit_info_bg
{
	width: 100%;
	height: 100%;
	visibility: visible;
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_bg_psd.vtex");
	background-size: 100% 100%;
	horizontal-align: right;
	vertical-align: middle;
	z-index: 3;
}

.team_neutral #unit_info_bg
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_neutral_1_psd.vtex");
}

.boss_tier1 #unit_info_bg,.boss_tier2 #unit_info_bg,.boss_tier3 #unit_info_bg
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_boss_bg_psd.vtex");
}

.sentry #unit_info_bg
{
	visibility:collapse;
}

#unit_ult_ready_icon
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_ultready_bg_psd.vtex");
	background-size: 100%;
	visibility: collapse;
	brightness: 2;
}

.boss_tier1 #unit_ult_ready_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_ultready_boss_tier1_psd.vtex");
}

.boss_tier2 #unit_ult_ready_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_ultready_boss_tier2_psd.vtex");
}

.boss_tier3 #unit_ult_ready_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_ultready_boss_tier3_psd.vtex");
}

.boss_barracks #unit_ult_ready_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_ultready_boss_barracks_psd.vtex");
}

.team1 #unit_ult_ready_icon
{
	wash-color: Team1Color;
}

.team2 #unit_ult_ready_icon
{
	wash-color: Team2Color;
}

.team_neutral #unit_ult_ready_icon
{
	wash-color: TeamNeutralColor;
}

.enemy #unit_ult_ready_icon
{
	wash-color: TeamEnemyColor;
}

.friend #unit_ult_ready_icon
{
	wash-color: TeamFriendColor;
}

#unit_info_icon
{
	width: 100%;
	height: 100%;
	horizontal-align: middle;
	vertical-align: middle;
	margin-top: -16px;
	img-shadow: 0px 10px 1.0 1.0 DropshadowColor;
}

.SuperThreat #unit_info_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_superthreat_psd.vtex");
	background-size: 100%;
}

#unit_level_label
{
	font-size: 120px;
	color: UnitPowerLevelColor_Default;
	visibility: visible;
	text-align: center;
	font-weight: bold;
	font-family: sans;
	text-transform: uppercase;
	vertical-align: bottom;
	text-shadow: 0px 0px 10px 12 DropshadowColor;
	text-align: center;
	vertical-align: middle;
	horizontal-align: center;
	visibility: visible;
	z-index: 2;
}

#bounty_gold_label
{
	font-size: 100px;
	color: UnitPowerLevelColor_Default;
	visibility: visible;
	color: #46e2ac;
	font-weight: bold;
	font-family: sans;
	text-shadow: 0px 0px 4px 4 DropshadowColor;
	text-align: center;
	vertical-align: top;
	horizontal-align: middle;
	width: 300px;
	visibility: visible;
	z-index: 2;
}

#unit_resist_container
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
	vertical-align: middle;
	horizontal-align: left;
}

#unit_bullet_resist_image
{
	height: 90px;
	width: 90px;
	background-size: 100%;
}

#unit_tech_resist_image
{
	height: 90px;
	width: 90px;
	background-size: 100%;
}

.bullet_resist_negative
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_bullet_resist_negative_psd.vtex");
}

.tech_resist_negative
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_tech_resist_negative_psd.vtex");
}

.bullet_resist_low
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_bullet_resist_low_psd.vtex");
}

.tech_resist_low
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_tech_resist_low_psd.vtex");
}

.bullet_resist_high
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_bullet_resist_high_psd.vtex");
}

.tech_resist_high
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_tech_resist_high_psd.vtex");
}

# #unit_healthbar_container
{
	height: 130px;
	width: 900px;
	margin-left: -90px;
	margin-right: 180px;
	vertical-align: middle;
}

.boss_tier1 #unit_healthbar_container,.boss_tier2 #unit_healthbar_container,.boss_tier3 #unit_healthbar_container
{
	height: 170px;
	width: 1400px;
}

.sentry #unit_healthbar_container
{
	height: 80px;
	width: 600px;
}

#unit_healthbar_bg
{
	width: 100%;
	height: 100%;
	horizontal-align: right;
	vertical-align: middle;
	visibility: visible;
	border-image-source: url("s2r://panorama/images/hud/world_space/hero_healthbar_bg_psd.vtex");
	border-image-repeat: round;
	border-image-slice: 28% fill;
	border-width: 20px;
	border-color: #ffffffff;
	flow-children: right;
	z-index: 0;
}

#unit_healthbar_missing
{
	width: 100%;
	height: 100%;
	visibility: visible;
	horizontal-align: left;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_missing_psd.vtex");
	background-size: 1024px 128px;
}

#unit_healthbar_active_parent
{
	height: 100%;
	width: 100%;
	horizontal-align: left;
	flow-children: right;
	padding: 0px;
}

#unit_healthbar_lagging
{
	horizontal-align: left;
	vertical-align: middle;
	min-width: 32px;
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_psd.vtex");
	background-size: 1024px 128px;
	z-index: 3;
	wash-color: red;
	box-shadow: inset DropshadowColor 4px 8px 5px 0px;
}

#unit_healthbar_healing
{
	horizontal-align: left;
	vertical-align: middle;
	flow-children: right;
	width: 0%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_psd.vtex");
	background-size: 1024px 128px;
	wash-color: #5fff80;
	z-index: 5;
	box-shadow: fill #488e4020 0px 0px 30px 0px;
}

.team1 #unit_healthbar_lagging
{
	wash-color: Team1Color;
}

.team2 #unit_healthbar_lagging
{
	wash-color: Team2Color;
}

.team_neutral #unit_healthbar_lagging
{
	wash-color: TeamNeutralColor;
}

.enemy #unit_healthbar_lagging
{
	wash-color: TeamEnemyColor;
}

.friend #unit_healthbar_lagging
{
	wash-color: TeamFriendColor;
}

#unit_healthbar_highlight
{
	horizontal-align: left;
	vertical-align: middle;
	flow-children: right;
	width: 0%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_psd.vtex");
	background-size: 1024px 128px;
	wash-color: black;
	z-index: 5;
	box-shadow: fill #ff000010 0px 0px 30px 0px;
}

.team1 #unit_healthbar_highlight
{
	wash-color: Team1DamageDeltaColor;
}

.team2 #unit_healthbar_highlight
{
	wash-color: Team2DamageDeltaColor;
}

.team_neutral #unit_healthbar_highlight
{
	wash-color: TeamNeutralDamageDeltaColor;
}

.enemy #unit_healthbar_highlight
{
	wash-color: TeamEnemyDamageDeltaColor;
}

.friend #unit_healthbar_highlight
{
	wash-color: TeamFriendDamageDeltaColor;
}

#unit_healthbar_bullet_shield
{
	min-width: 0%;
	max-width: 100%;
	width: 50%;
	height: 100%;
	wash-color: BulletShieldColor;
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_psd.vtex");
	background-size: 1024px 128px;
	z-index: 2;
	box-shadow: inset DropshadowColor 0px 8px 5px -2px;
}

#unit_healthbar_tech_shield
{
	min-width: 0%;
	max-width: 100%;
	width: 50%;
	height: 100%;
	wash-color: TechShieldColor;
	background-image: url("s2r://panorama/images/hud/world_space/hero_healthbar_fill_center_psd.vtex");
	background-size: 1024px 128px;
	z-index: 1;
	box-shadow: inset DropshadowColor 0px 8px 5px -2px;
}

#unit_healthbar_pip_label
{
	width: 100%;
	height: 100%;
	font-size: 40px;
	color: #1c2029f5;
	font-weight: bold;
	text-align: justify-letter-spacing;
	letter-spacing: 0px;
	white-space: nowrap;
	overflow: clip;
	z-index: 4;
	margin: 16px;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: -10px;
	text-shadow: 3px 0px 0px 3 DropshadowColor;
}

#unit_healthbar_fg
{
	width: 100%;
	height: 100%;
	visibility: visible;
	border-image-source: url("s2r://panorama/images/hud/world_space/hero_healthbar_fg_psd.vtex");
	border-image-repeat: round round;
	border-image-slice: 3px 3px 3px 3px fill;
	border-width: 3px;
	z-index: 4;
}

#state_container
{
	height: 100%;
	width: 100%;
	visibility: visible;
}

#state_icon
{
	width: 400px;
	height: 400px;
	background-size: 100%;
	horizontal-align:middle;
	vertical-align:middle;
	visibility: visible;
	overflow:noclip;
	brightness: 1;
}

#state_progressbar
{
	width: 100%;
	height: 100%;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_state_progressbar_psd.vtex");
	background-size: 100%;
	z-index: -1;
}

.team1 #state_progressbar
{
	wash-color: Team1Color;
}

.team2 #state_progressbar
{
	wash-color: Team2Color;
}

.team_neutral #state_progressbar
{
	wash-color: TeamNeutralColor;
}

.enemy #state_progressbar
{
	wash-color: TeamEnemyColor;
}

.friend #state_progressbar
{
	wash-color: TeamFriendColor;
}

.pip_only #healthpips
{
	visibility: collapse;
}

#pip_image
{
	horizontal-align: center;
	width: 50px;
	height: 50px;
	wash-color: TeamNeutralColor;
	opacity: 0.7;
	visibility: collapse;
}

.pip_only #pip_image
{
	visibility: visible;
}

.team1 #pip_image
{
	wash-color: Team1Color;
}

.team2 #pip_image
{
	wash-color: Team2Color;
}

.friend #pip_image
{
	wash-color: lightgreen;
}

.enemy #pip_image
{
	wash-color: red;
}

#bounty,#status,#stacks
{
	width: 100%;
	height: fit-children;
	font-size: 90px;
	color: #ffffffff;
	text-align: right;
	horizontal-align: left;
	vertical-align: top;
	visibility: collapse;
	text-shadow: 0px 0px 9px 12 DropshadowColor;
}

#name
{
	width: fit-children;
	height: 120px;
	font-size: 80px;
	color: #ffffff90;
	text-align: center;
	font-weight: bold;
	font-family: sans;
	text-transform: uppercase;
	horizontal-align: middle;
	vertical-align: bottom;
	animation: none;
	background-color: none;
	visibility: collapse;
}

.GameStatePreGame.player #name,.player.show_name #name
{
	visibility: visible;
}

.player.beingSpectatedInEye #name
{
	visibility: collapse;
}

#NameVoiceContainer
{
	flow-children: right;
	horizontal-align: center;
	height: 25px;
	overflow: noclip;
	width: 100%;
}

.health_hidden #NameVoiceContainer
{
	margin-bottom: 40px;
}

.show_bounty.enemy #bounty
{
	color: gold;
	visibility: visible;
}

.player .team_color
{
	visibility: visible;
}

