/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@import url("s2r://panorama/styles/unit_status_icons.vcss_c");
@define Team1Color: #E7B659;
@define Team2Color: #5B79E6;
@define TeamNeutralColor: #7DDAB0;
.WindowRoot
{
	width: 100%;
	height: 100%;
}

#UnitStatus
{
	width: 100%;
	height: 100%;
	flow-children: up;
}

.beingSpectatedInEye #UnitStatus
{
	visibility: collapse;
}

#LevelHealthContainer
{
	width: fit-children;
	horizontal-align: center;
	flow-children: right;
	visibility: visible;
}

.health_hidden #LevelHealthContainer
{
	visibility: collapse;
}

.health_particle_active #LevelHealthContainer
{
	visibility: collapse;
}

.player #PlayerLevel
{
	visibility: visible;
}

#level Label
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	vertical-align: middle;
}

#range_indicator
{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	vertical-align: bottom;
	margin-bottom: 30px;
	visibility: collapse;
}

.enemy.player #range_indicator
{
	visibility: visible;
}

.pip_only #healthpips
{
	visibility: collapse;
}

#pip_image
{
	horizontal-align: center;
	width: 50px;
	height: 50px;
	wash-color: TeamNeutralColor;
	opacity: 0.7;
	visibility: collapse;
}

.pip_only #pip_image
{
	visibility: visible;
}

.team1 #pip_image
{
	wash-color: Team1Color;
}

.team2 #pip_image
{
	wash-color: Team2Color;
}

.friend #pip_image
{
	wash-color: lightgreen;
}

.enemy #pip_image
{
	wash-color: red;
}

#stacks
{
	width: fit-children;
	height: fit-children;
	font-size: 35px;
	color: #ffffffff;
	text-align: center;
	visibility: collapse;
	vertical-align: bottom;
	horizontal-align: right;
	text-shadow: 0px 0px 2px 5 #000000;
}

#name
{
	height: 28px;
	font-size: 25px;
	color: #ffffff90;
	text-align: center;
	font-weight: bold;
	font-family: sans;
	text-transform: uppercase;
	vertical-align: bottom;
	width: 100%;
	visibility: collapse;
}

#NameVoiceContainer
{
	flow-children: right;
	horizontal-align: center;
	height: 25px;
	overflow: noclip;
	width: 100%;
}

.health_hidden #NameVoiceContainer
{
	margin-bottom: 40px;
}

.GameStatePreGame.player #name,.player.show_name #name
{
	visibility: visible;
}

.show_bounty.enemy #bounty
{
	color: gold;
	visibility: visible;
}

.player .team_color
{
	visibility: visible;
}

.statusEffect
{
	height: 70px;
	width: 70px;
	img-shadow: 0px 0px 0.0 0.0 DropshadowColor;
}

#status_container
{
	height: 100%;
	width: fit-children;
	margin-bottom: 0px;
	margin-right: 60px;
}

