/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.WindowRoot
{
	height: 100%;
	width: 100%;
}

#StaggerPanel
{
	height: 100%;
	width: 100%;
}

#stagger_root
{
	flow-children: down;
	height: fit-children;
	width: fit-children;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 200px;
	transition-property: opacity;
	transition-duration: 0.15s;
}

#stagger_root
{
	margin-left: 200px;
	margin-top: 10px;
	transform: rotateZ( -10.0deg );
}

.active #stagger_root
{
	visibility: visible;
	animation-iteration-count: 1;
	animation-duration: 0.2s;
	animation-timing-function: ease-out;
}

@keyframes 'Anim_Stamp'
{
	0%
	{
		pre-transform-scale2d: 0.8;
		brightness: 1;
		opacity: 0;
	}
	
	70%
	{
		pre-transform-scale2d: 1.2;
		opacity: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		opacity: 1;
	}
	
}

#channel_and_name
{
	flow-children: down;
	height: fit-children;
	width: 330px;
}

@keyframes 'WiggleUpDown'
{
	0%
	{
		transform: translateY( -2px ) rotateZ( 10.0deg );
	}
	
	100%
	{
		transform: translateY( 2px ) rotateZ( -10.0deg );
	}
	
}

.SplitLabelProgressBar
{
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/main_menu/text_speckle_mask_main_psd.vtex") 0.7;
	opacity-mask-scale: 100% 200%;
}

.SplitLabelProgressBar .SplitLabelName Label
{
	font-size: 48px;
	font-weight: bold;
	text-shadow: 0px 0px 0px 8 black;
	font-family: oracle;
	text-transform: uppercase;
	text-align: center;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	width: 100%;
	height: 100%;
	wash-color: darkorange;
}

.staggered .SplitLabelName Image:nth-child(even)
{
	animation-name: WiggleUpDown;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-frame-time: 200ms;
}

.staggered .SplitLabelName Image:nth-child(odd)
{
	animation-name: WiggleUpDown;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-frame-time: 200ms;
}

.hide
{
	opacity:0;
}

