/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@define DropshadowColor: #121018C0;
#status_container
{
	height: 190px;
	width: fit-children;
	vertical-align: bottom;
	horizontal-align: middle;
	flow-children: right;
	margin-left: 60px;
}

.status_panel
{
	width: 100%;
	height: fit-children;
	horizontal-align: middle;
	vertical-align: bottom;
}

#status
{
	visibility: visible;
}

#stacks
{
	vertical-align: bottom;
	horizontal-align: center;
	visibility: collapse;
	z-index: 2;
}

.has_stacks #stacks
{
	visibility: visible;
}

#status_duration
{
	background-color: white;
	height: 100%;
}

.MODIFIER_STATE_IS_ASLEEP #status_duration
{
	background-color: rgb(255, 0, 195);
}

.MODIFIER_STATE_BURNING #status_duration
{
	background-color: rgb(243, 102, 46);
}

.MODIFIER_STATE_DRONE_ATTACHED #status_duration
{
	background-color: rgb(130, 16, 248);
}

.MODIFIER_STATE_SILENCED #status_duration
{
	background-color: rgb(204, 0, 255);
}

.buildup.silence_buildup #status_duration
{
	background-color: rgb(232, 138, 255);
}

.buildup.galvanic_buildup #status_duration
{
	background-color: rgb(232, 138, 255);
}

.buildup #status_duration
{
	background-color: rgb(128, 128, 128);
}

#status_duration_bg
{
	height: 12px;
	width: 500%;
	background-color: rgb(37, 37, 37);
	margin-top: 30px;
}

.statusEffectImage
{
	height: 60%;
	width: 60%;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	vertical-align: center;
	horizontal-align: center;
	wash-color: white;
}

.statusEffect
{
	height: 180px;
	width: 180px;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/hud/world_space/status_bg_psd.vtex");
	img-shadow: 0px 16px 0.0 1.0 DropshadowColor;
	background-size: 100%;
}

.statusEffectContainer
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
}

.buildup #StatusEffectCooldownOverlay
{
	vertical-align: bottom;
	height: 100%;
	width: 100%;
}

#StatusEffectsBorder
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/world_space/status_border_psd.vtex");
	background-size: 100%;
	z-index: -2;
	wash-color: white;
}

#StatusEffectInner
{
	height: 100%;
	width: 100%;
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/hud/world_space/status_inner_psd.vtex");
	background-size: 100%;
}

#StatusEffectCooldownOverlay
{
	height: 100%;
	width: 100%;
	z-index: -2;
}

.sleep_proc #state_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_sleep_icon_psd.vtex");
}

.stunned #state_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_stunned_icon_psd.vtex");
}

.silence_proc #state_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_silence_icon_psd.vtex");
}

.disarm_proc #state_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_silence_icon_psd.vtex");
}

.immobilize_proc #state_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_immobilize_icon_psd.vtex");
}

.tether_proc #state_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_tether_icon_psd.vtex");
}

.unstoppable #state_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_unstoppable_icon_psd.vtex");
}

.decay #state_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_decay_icon_psd.vtex");
}

.containment #state_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_slowinghex_icon_psd.vtex");
}

.glitched #state_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_curse_icon_psd.vtex");
}

@define WeaponBuffColor:#cd9629;
@define ArmorBuffColor: #55a950;
@define SpiritBuffColor: #8954cd;
@define DebuffColor: #d74646;
@define SpiritDebuffColor: #8954cd;
@define StatusIconColor: #1c2029;
.fleetfoot_boots #StatusEffectInner
{
	wash-color: WeaponBuffColor;
}

.fleetfoot_boots .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/fleetfoot_boots_psd.vtex");
	wash-color: StatusIconColor;
}

.dps_aura #StatusEffectInner
{
	wash-color: WeaponBuffColor;
}

.dps_aura .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/bullet_damage_aura_psd.vtex");
	wash-color: StatusIconColor;
}

.fervor_aura #StatusEffectInner
{
	wash-color: WeaponBuffColor;
}

.fervor_aura .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/fervor_psd.vtex");
	wash-color: StatusIconColor;
}

.silencer_proc_active #StatusEffectInner
{
	wash-color: WeaponBuffColor;
}

.silencer_proc_active .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/emp_bullets_psd.vtex");
	wash-color: StatusIconColor;
}

.surging_power_active #StatusEffectInner
{
	wash-color: WeaponBuffColor;
}

.surging_power_active .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/vampiric_burst_psd.vtex");
	wash-color: StatusIconColor;
}

.stimpak #StatusEffectInner
{
	wash-color: ArmorBuffColor;
}

.stimpak .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/stimpak_psd.vtex");
	wash-color: StatusIconColor;
}

.return_fire #StatusEffectInner
{
	wash-color: ArmorBuffColor;
}

.return_fire .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/return_fire_psd.vtex");
	wash-color: StatusIconColor;
}

.health_nova #StatusEffectInner
{
	wash-color: ArmorBuffColor;
}

.health_nova .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/cloaking_device_psd.vtex");
	wash-color: StatusIconColor;
}

.metal_skin #StatusEffectInner
{
	wash-color: ArmorBuffColor;
}

.metal_skin .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/metal_skin_psd.vtex");
	wash-color: StatusIconColor;
}

.rescue_beam #StatusEffectInner
{
	wash-color: ArmorBuffColor;
}

.rescue_beam .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/medic_beam_psd.vtex");
	wash-color: StatusIconColor;
}

.inhibitor #StatusEffectInner
{
	wash-color: DebuffColor;
}

.inhibitor .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/inhibitor_psd.vtex");
	wash-color: StatusIconColor;
}

.siphon_bullets #StatusEffectInner
{
	wash-color: DebuffColor;
}

.siphon_bullets .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/siphon_bullets_psd.vtex");
	wash-color: StatusIconColor;
}

.cloaking_device_active_ambush #StatusEffectInner
{
	wash-color: WeaponBuffColor;
}

.cloaking_device_active_ambush .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_utility/cloaking_device_psd.vtex");
	wash-color: StatusIconColor;
}

.colossus_active #StatusEffectInner
{
	wash-color: ArmorBuffColor;
}

.colossus_active .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/colossus_psd.vtex");
	wash-color: StatusIconColor;
}

.infuser_active #StatusEffectInner
{
	wash-color: SpiritBuffColor;
}

.infuser_active .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/infuser_psd.vtex");
	wash-color: StatusIconColor;
}

.tech_bleed #StatusEffectInner
{
	wash-color: SpiritBuffColor;
}

.tech_bleed .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/magic_reverb_psd.vtex");
	wash-color: StatusIconColor;
}

.escalating_exposure #StatusEffectInner
{
	wash-color: DebuffColor;
}

.escalating_exposure .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/escalating_exposure_psd.vtex");
	wash-color: StatusIconColor;
}

.sand_phantom_passive_victim #StatusEffectInner
{
	wash-color: DebuffColor;
}

.sand_phantom_passive_victim .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/mirage/mirage_sand_phantom_psd.vtex");
	wash-color: StatusIconColor;
}

.decay #StatusEffectInner
{
	wash-color: DebuffColor;
}

.decay .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/rupture_psd.vtex");
	wash-color: StatusIconColor;
}

.containment #StatusEffectInner
{
	wash-color: DebuffColor;
}

.containment .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/immobilize_psd.vtex");
	wash-color: StatusIconColor;
}

.withering_whip #StatusEffectInner
{
	wash-color: DebuffColor;
}

.withering_whip .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/disarm_psd.vtex");
	wash-color: StatusIconColor;
}

.delayed_stun #StatusEffectInner
{
	wash-color: DebuffColor;
}

.delayed_stun .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/knockdown_psd.vtex");
	wash-color: StatusIconColor;
}

.magiccarpet #StatusEffectInner
{
	wash-color: SpiritBuffColor;
}

.magiccarpet .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/kelvin/ice_path_psd.vtex");
	wash-color: StatusIconColor;
}

.mokrill_scorn #StatusEffectInner
{
	wash-color: DebuffColor;
}

.mokrill_scorn .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/grappler/grappler_regen_psd.vtex");
	wash-color: StatusIconColor;
}

.napalm_debuff #StatusEffectInner
{
	wash-color: DebuffColor;
}

.napalm_debuff .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/inferno_molotov_psd.vtex");
	wash-color: StatusIconColor;
}

.afterburn_buildup #StatusEffectInner,.afterburn_dot #StatusEffectInner
{
	wash-color: #da7b30;
}

.afterburn_dot .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/status_afterburn_psd.vtex");
}

.afterburn_buildup .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/status_afterburn_psd.vtex");
}

.freezing_buildup #StatusEffectInner,.freezing_proc #StatusEffectInner
{
	wash-color: #68bee5;
}

.freezing_proc .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_freeze.vsvg");
	wash-color: StatusIconColor;
}

.freezing_buildup .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_freeze.vsvg");
	wash-color: StatusIconColor;
}

.blood_shard #StatusEffectInner
{
	wash-color: DebuffColor;
}

.blood_shard .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/ghost_malice_png.vtex");
	wash-color: StatusIconColor;
}

.fissure_wall #StatusEffectInner
{
	wash-color: DebuffColor;
}

.fissure_wall .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/engineer_fissure_2_psd.vtex");
	wash-color: StatusIconColor;
}

.chrono_pulse_grenade #StatusEffectInner
{
	wash-color: DebuffColor;
}

.chrono_pulse_grenade .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/chrono/chrono_time_bomb_psd.vtex");
	wash-color: StatusIconColor;
}

.modifier_pocket_affliction #StatusEffectInner
{
	wash-color: DebuffColor;
}

.modifier_pocket_affliction .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/synth/synth_affliction_psd.vtex");
	wash-color: StatusIconColor;
}

.shiv_dagger #StatusEffectInner
{
	wash-color: DebuffColor;
}

.shiv_dagger .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/shiv/shiv_toss_psd.vtex");
	wash-color: StatusIconColor;
}

.bleeding_buildup #StatusEffectInner,.bleeding_dot #StatusEffectInner
{
	wash-color: DebuffColor;
}

.bleeding_buildup .statusEffectImage,.bleeding_dot .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_bleed.vsvg");
	wash-color: StatusIconColor;
}

.fixated #StatusEffectInner
{
	wash-color: WeaponBuffColor;
}

.fixated .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/haze_fixation_png.vtex");
	wash-color: StatusIconColor;
}

.disarm_proc #state_icon
{
	background-image: url("s2r://panorama/images/hud/world_space/hero_info_panel_disarm_icon_psd.vtex");
}

.disarm_buildup #StatusEffectCooldownOverlay
{
	background-color: #FF3300AA;
}

.disarm_buildup .statusEffectImage,.disarm_proc .statusEffectImage,.disarm_immune .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_disarm.vsvg");
}

.disarm_proc .statusEffectsBorder,.disarm_immune .statusEffectsBorder
{
	border: 5px solid #ff977d;
}

.disarm_proc .statusEffectInner,.disarm_immune .statusEffectInner
{
	background-color: #FF3300;
}

.silence_buildup #StatusEffectCooldownOverlay
{
	background-color: #A45CFFAA;
}

.silence_buildup .statusEffectImage,.silence_proc .statusEffectImage,.silence_immunity .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_emp.vsvg");
}

.silence_proc .statusEffectsBorder,.silence_immunity .statusEffectsBorder
{
	border: 5px solid #d1acff;
}

.silence_proc .statusEffectInner,.silence_immunity .statusEffectInner
{
	background-color: #A45CFF;
}

.tech_overflow_buildup #StatusEffectCooldownOverlay
{
	background-color: #009CB3;
}

.tech_overflow_buildup .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_tech/tech_damage_psd.vtex");
}

.hollowpoint #StatusEffectCooldownOverlay
{
	background-color: #B70000AA;
}

.hollowpoint .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/longshot_psd.vtex");
	background-size: 80% 80%;
}

.hollowpoint .statusEffectsBorder
{
	border: 5px solid #ffb676;
}

.hollowpoint .statusEffectInner
{
	background-color: #e47411;
}

.sleep_buildup #StatusEffectCooldownOverlay
{
	background-color: #A45CFFAA;
}

.sleep_buildup .statusEffectImage,.sleep_proc .statusEffectImage,.sleep_immunity .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_sleep.vsvg");
}

.sleep_proc .statusEffectsBorder,.sleep_immunity .statusEffectsBorder
{
	border: 5px solid #99b3da;
}

.sleep_proc .statusEffectInner,.sleep_immunity .statusEffectInner
{
	background-color: #366ab7;
}

.flame_dash_burn .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/inferno_dash_psd.vtex");
}

.flame_dash_burn .statusEffectsBorder
{
	border: 5px solid #ffbf84;
}

.flame_dash_burn .statusEffectInner
{
	background-color: #FF810D;
}

.toxic_proc .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_toxic.vsvg");
	wash-color: #ffcc83;
}

.toxic_buildup .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_toxic.vsvg");
	wash-color: DropshadowColor;
}

.surgingPower #StatusEffectInner,.surgingPower #StatusEffectInner
{
	wash-color: #5b2626;
}

.surgingPower .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/status_surgingpower_psd.vtex");
	wash-color: white;
	img-shadow: 0px 0px 30.0px 2.0 red;
}

.marksman #StatusEffectCooldownOverlay
{
	background-color: #B70000AA;
}

.marksman .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/hornet/hornet_assassinate_psd.vtex");
	background-size: 80% 80%;
}

.marksman .statusEffectsBorder
{
	border: 5px solid #ffb676;
}

.marksman .statusEffectInner
{
	background-color: #e47411;
}

.galvanic_buildup #StatusEffectCooldownOverlay
{
	background-color: #4FD5D6AA;
}

.galvanic_buildup .statusEffectImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/electrified_bullets_psd.vtex");
}

.slowed #StatusEffectCooldownOverlay
{
	background-color: #ff00c7AA;
}

.slowed .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_slow.vsvg");
}

.slowed .statusEffectsBorder
{
	border: 5px solid #ff7de2;
}

.slowed .statusEffectInner
{
	background-color: #ff00c7;
}

.immobilize_buildup #StatusEffectCooldownOverlay
{
	background-color: #00D1FFAA;
}

.immobilize_buildup .statusEffectImage,.immobilize_proc .statusEffectImage,.immobilize_immunity .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_immobilized.vsvg");
}

.immobilize_proc .statusEffectsBorder,.immobilize_immunity .statusEffectsBorder
{
	border: 5px solid #7de8ff;
}

.immobilize_proc .statusEffectInner,.immobilize_immunity .statusEffectInner
{
	background-color: #00D1FF;
}

.stunned #StatusEffectCooldownOverlay
{
	background-color: #ffb800AA;
}

.stunned .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_stun.vsvg");
}

.stunned .statusEffectsBorder
{
	border: 5px solid #ffdb7d;
}

.stunned .statusEffectInner
{
	background-color: #ffb800;
}

.yamato_power_slash #StatusEffectCooldownOverlay
{
	background-color: #B70000AA;
}

.yamato_power_slash .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_power_slash_psd.vtex");
	background-size: 100% 100%;
}

.yamato_power_slash .statusEffectsBorder
{
	border: 5px solid #b8c5ff;
}

.yamato_power_slash .statusEffectInner
{
	background-color: #4a08ff;
}

.nano_army_target .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/nano/nano_replicate_psd.vtex");
}

.immuneImage
{
	z-index: 2;
	height: 100%;
	width: 100%;
	background-size: 70% 70%;
	background-image: url("s2r://panorama/images/hud/modifiers/immunity_overlay.vsvg");
	background-position: center;
	background-repeat: no-repeat;
	visibility: collapse;
	opacity: 0.7;
	wash-color: red;
}

.modifierImmunity .immuneImage
{
	visibility: visible;
}

.viscous_goo_grenade #StatusEffectCooldownOverlay
{
	background-color: #67FB27AA;
}

.viscous_goo_grenade .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/viscous/viscous_goo_ball_psd.vtex");
	background-size: 100% 100%;
}

.viscous_goo_grenade .statusEffectsBorder
{
	border: 5px solid #02B11A;
}

.viscous_goo_grenade .statusEffectInner
{
	background-color: #3ABF00;
}

.viscous_bowling_ball #StatusEffectCooldownOverlay
{
	background-color: #67FB27AA;
}

.viscous_bowling_ball .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/viscous/viscous_goo_sphere_psd.vtex");
	background-size: 100% 100%;
}

.viscous_bowling_ball .statusEffectsBorder
{
	border: 5px solid #02B11A;
}

.viscous_bowling_ball .statusEffectInner
{
	background-color: #3ABF00;
}

.modifier_cadence_bullet_shard .statusEffectImage,.modifier_cadence_bullet_shard_max .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_cadence_bullet_shard_psd.vtex");
	background-size: 70% 70%;
}

.modifier_cadence_bullet_shard .statusEffectsBorder
{
	border: 5px solid #00ce9e;
}

.modifier_cadence_bullet_shard_max .statusEffectsBorder
{
	border: 5px solid #e67d06;
}

.modifier_cadence_bullet_shard .statusEffectInner
{
	background-color: #0d9165;
}

.modifier_cadence_bullet_shard_max .statusEffectInner
{
	background-color: #f46b03;
}

.modifier_cadence_crescendo_post_aoe .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/modifier_cadence_crescendo_psd.vtex");
	background-size: 70% 70%;
}

.modifier_cadence_crescendo_post_aoe .statusEffectsBorder
{
	border: 5px solid #00ce9e;
}

.modifier_cadence_crescendo_post_aoe .statusEffectInner
{
	background-color: #0d9165;
}

.sentry_stack #StatusEffectCooldownOverlay
{
	background-color: #B70000AA;
}

.sentry_stack .statusEffectImage
{
	background-image: url("s2r://panorama/images/hud/abilities/engineer_turret_psd.vtex");
	background-size: 80% 80%;
}

.sentry_stack .statusEffectsBorder
{
	border: 5px solid #ffb676;
}

.sentry_stack .statusEffectInner
{
	background-color: #e47411;
}

.proced
{
	animation-name: effect_procced;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

@keyframes 'effect_procced'
{
	0%
	{
		pre-transform-scale2d: 1.2, 0.8;
		brightness: 2;
	}
	
	50%
	{
		pre-transform-scale2d: 0.95, 1.03;
		brightness: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1, 1;
		brightness: 1;
	}
	
}

.pulse
{
	animation-name: effect_pulse;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

@keyframes 'effect_pulse'
{
	0%
	{
		pre-transform-scale2d: 1.0, 1.1;
		brightness: 2.0;
	}
	
	25%
	{
		pre-transform-scale2d: 1.0, 1.0;
		brightness: 1.05;
	}
	
	100%
	{
		pre-transform-scale2d: 1.0, 1.0;
		brightness: 1;
	}
	
}

.pulse_radial
{
	animation-name: effect_pulse_radial;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

@keyframes 'effect_pulse_radial'
{
	0%
	{
		pre-transform-scale2d: 1.1, 1.1;
		brightness: 1.15;
	}
	
	50%
	{
		pre-transform-scale2d: 0.98, 0.98;
		brightness: 1.;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

.heartbeat
{
	animation-name: effect_heartbeat;
	animation-duration: 2s;
	animation-iteration-count: 0;
	animation-timing-function: linear;
}

@keyframes 'effect_heartbeat'
{
	0%
	{
		pre-transform-scale2d: 1, 1;
		brightness: 1;
	}
	
	3%
	{
		pre-transform-scale2d: 0.7, 1.2;
		brightness: 1;
	}
	
	6%
	{
		pre-transform-scale2d: 1.1, 0.8;
		brightness: 2;
	}
	
	9%
	{
		pre-transform-scale2d: 0.7, 1.2;
		brightness: 1;
	}
	
	12%
	{
		pre-transform-scale2d: 1.1, 0.8;
		brightness: 2;
	}
	
	18%
	{
		pre-transform-scale2d: 1, 1;
		brightness: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1, 1;
		brightness: 1;
	}
	
}

.pulse_vertical
{
	animation-name: effect_pulse_vertical;
	animation-duration: 0.1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

@keyframes 'effect_pulse_vertical'
{
	0%
	{
		pre-transform-scale2d: 1, 1.3;
		brightness: 3;
	}
	
	50%
	{
		pre-transform-scale2d: 1, 1.0;
		brightness: 1.5;
	}
	
	100%
	{
		pre-transform-scale2d: 1, 1;
		brightness: 1;
	}
	
}

