/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

UpgradeShop_AbilityButton
{
	width: 148px;
	height: 262px;
	flow-children: none;
	border-radius: 6px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: rgba(0, 0, 0, 0.2);
	tooltip-position: right;
	tooltip-body-position: 0% 0%;
}

UpgradeShop_AbilityButton.can_train
{
	background-color: rgba(0, 221, 255, 0.2);
}

CitadelScoreboardMods UpgradeShop_AbilityButton
{
	width: 250px;
	height: 82px;
	border-radius: 0px;
}

UpgradeShop_AbilityButton.has_level
{
	background-color: rgba(255, 255, 255, 0.025);
}

UpgradeShop_AbilityButton.has_level:hover
{
	background-color: rgba(255, 255, 255, 0.25);
}

UpgradeShop_AbilityButton.can_train:hover
{
	background-color: rgba(0, 221, 255, 0.4);
}

UpgradeShop_AbilityButton.selected.has_level .box
{
	background-color: rgba(255, 255, 255, 0.4);
}

UpgradeShop_AbilityButton:hover
{
	background-color: rgba(255, 255, 255, 0.1);
}

UpgradeShop_AbilityButton.selected .box
{
	background-color: rgba(255, 255, 255, 0.1);
	border: 4px solid white;
}

CitadelScoreboardMods .box
{
	margin-left: 20px;
	flow-children: right;
	width: 220px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

CitadelScoreboardMods .UpgradeReadyText,CitadelScoreboardMods .ClickToUnlock
{
	visibility: collapse;
}

.box
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	padding-top: 18px;
	padding-bottom: 3px;
	z-index: 98;
	border: 4px solid #FFFFFF00;
}

.abiityIconAndKeyContainer
{
	flow-children: right;
	border-radius: 4px;
	horizontal-align: center;
	vertical-align: center;
}

.ability_image_container
{
	width: 96px;
	height: 96px;
	horizontal-align: center;
}

CitadelScoreboardMods .ability_image_container
{
	width: 80px;
	height: 80px;
	vertical-align: center;
}

UpgradeShop_AbilityButton:hover #ability_image
{
	opacity: 0.6;
}

UpgradeShop_AbilityButton.has_level:hover #ability_image
{
	opacity: 1;
}

UpgradeShop_AbilityButton.selected #ability_image
{
	opacity: 0.6;
}

UpgradeShop_AbilityButton.selected.has_level #ability_image
{
	opacity: 1;
}

.upgrade_arrow
{
	horizontal-align: center;
	opacity: 0;
	height: 0px;
	margin-top: 4px;
	visibility: collapse;
}

.can_train .upgrade_arrow
{
	visibility: visible;
	opacity: 1;
	height: 12px;
	animation-name: upgrade_pulse;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
}

UpgradeShop_AbilityButton:hover .upgrade_arrow
{
	visibility: collapse;
}

#ability_image
{
	width: 96px;
	height: 96px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.7;
	wash-color: black;
	visibility: collapse;
}

.has_image #ability_image
{
	visibility: visible;
}

.has_level #ability_image
{
	opacity: 1;
	wash-color: none;
}

.can_train #ability_image,.upgrade_available #ability_image
{
	animation-name: upgrade_pulse;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
	wash-color: #00DDFF;
}

#ability_name,.UpgradeReadyText,.ClickToUnlock
{
	font-size: 16px;
	vertical-align: center;
	horizontal-align: center;
	color: white;
	text-align: center;
}

.UpgradeReadyText
{
	margin-top: 10px;
	visibility: collapse;
}

.ClickToUnlock
{
	margin-top: 15px;
	visibility: collapse;
	text-transform: uppercase;
	border-radius: 3px;
	border: 1px solid white;
	padding: 4px;
}

.can_train .UpgradeReadyText,.can_train .ClickToUnlock
{
	visibility: visible;
}

.has_image #ability_name
{
	visibility: collapse;
}

.level_box
{
	width: 20px;
	height: 20px;
	border-radius: 4px 0px 0px 0px;
	background-color: rgba( 255, 255, 255, 0.2 );
	visibility: collapse;
	vertical-align: bottom;
	horizontal-align: right;
	font-size: 14px;
	font-weight: bold;
}

.has_level .level_box
{
	visibility: visible;
}

.has_level .level_box
{
	color: gold;
}

.can_train .level_box
{
	color: black;
	background-color: gold;
}

.level_box Label
{
	vertical-align: center;
	horizontal-align: center;
}

.upgrade_text
{
	horizontal-align: center;
	font-size: 21px;
	color: #ffcc00;
	visibility: collapse;
}

.can_train:hover .upgrade_text
{
	visibility: visible;
	animation-name: upgrade_pulse;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
}

.ability_key
{
	horizontal-align: center;
	font-size: 18px;
	color: rgba( 255, 255, 255, 0.1 );
	margin-top: 8px;
	text-transform: uppercase;
	visibility: collapse;
}

#teams_sheet .ability_key
{
	opacity: 0;
}

.ability_level
{
	horizontal-align: center;
	font-size: 24px;
	color: rgba( 255, 255, 255, 0.5 );
	margin-top: 4px;
}

#teams_sheet .ability_level
{
	opacity: 0;
}

UpgradeShop_AbilityButton:hover .ability_level
{
	color: rgba( 255, 255, 255, 1 );
}

UpgradeShop_AbilityButton:hover .ability_key
{
	color: rgba( 255, 255, 255, 0.5 );
}

UpgradeShop_AbilityButton:hover .ap_text
{
	color: rgba( 255, 255, 255, 0.5 );
}

.ap_text
{
	horizontal-align: center;
	font-size: 18px;
	color: rgba( 255, 255, 255, 0.2 );
	visibility: collapse;
	margin-top: 4px;
}

.level_requirement_not_met .ap_text
{
	visibility: visible;
}

@keyframes 'upgrade_pulse'
{
	0%
	{
		opacity: 0.1;
	}
	
	50%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0.1;
	}
	
}

@keyframes 'bg_upgrade_pulse'
{
	0%
	{
		opacity: 0.1;
	}
	
	50%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0.1;
	}
	
}

CitadelScoreboardMods #ability_level_container
{
	flow-children: right;
	margin-left: 20px;
	horizontal-align: left;
}

#ability_level_container
{
	flow-children: down;
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
}

.has_level #ability_level_container
{
	visibility: visible;
}

.has_1_levels #ability_level_1
{
	visibility: visible;
}

.has_2_levels #ability_level_2
{
	visibility: visible;
}

.has_3_levels #ability_level_3
{
	visibility: visible;
}

.has_4_levels #ability_level_4
{
	visibility: visible;
}

.has_5_levels #ability_level_5
{
	visibility: visible;
}

.ability_level_pip
{
	margin-bottom: 8px;
	height: 24px;
	width: 24px;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/hud/hero_ability_pip_upgraded_png.vtex");
	wash-color: black;
	visibility: collapse;
	opacity: 0.3;
}

CitadelScoreboardMods .ability_level_pip
{
	margin-bottom: 0px;
	margin-right: 5px;
}

.has_level .ability_level_pip
{
	wash-color: black;
	opacity: 0.3;
}

.has_1_upgrades #ability_level_1,.has_2_upgrades #ability_level_1,.has_2_upgrades #ability_level_2,.has_3_upgrades #ability_level_1,.has_3_upgrades #ability_level_2,.has_3_upgrades #ability_level_3,.has_4_upgrades #ability_level_1,.has_4_upgrades #ability_level_2,.has_4_upgrades #ability_level_3,.has_4_upgrades #ability_level_4,.has_5_upgrades #ability_level_1,.has_5_upgrades #ability_level_2,.has_5_upgrades #ability_level_3,.has_5_upgrades #ability_level_4,.has_5_upgrades #ability_level_5
{
	background-image: url("s2r://panorama/images/shop/ability_bolt_purchased_png.vtex");
	wash-color: none;
	opacity: 1;
}

.has_upgrade_1 #ability_level_1,.has_upgrade_2 #ability_level_2,.has_upgrade_3 #ability_level_3,.has_upgrade_4 #ability_level_4,.has_upgrade_5 #ability_level_5
{
	background-image: url("s2r://panorama/images/shop/ability_bolt_purchased_png.vtex");
	wash-color: none;
	opacity: 1;
}

CitadelScoreboardMods UpgradeShop_AbilityButton
{
	ui-scale: 80%;
}

#UpgradeArrowPanel
{
	flow-children: down;
	width: 100%;
	height: fit-children;
	opacity: 0;
	vertical-align: center;
	horizontal-align: center;
	margin-top: 20px;
	overflow: noclip;
}

.UpgradeArrow
{
	height: 10px;
	width: 15px;
	vertical-align: center;
	horizontal-align: center;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/control_icons/ability_upgrade_arrow_white_png.vtex");
	animation-name: upgrade_arrow_fade;
	animation-duration: 1.25s;
	animation-iteration-count: infinite;
}

@keyframes 'upgrade_arrow_fade'
{
	0%
	{
		transform: translateY( 8px );
	}
	
	50%
	{
		transform: translateY( -8px );
	}
	
	100%
	{
		transform: translateY( 8px );
	}
	
}

.can_train #UpgradeArrowPanel,.upgrade_available #UpgradeArrowPanel
{
	opacity: 1;
}

CitadelScoreboardMods UpgradeShop_AbilityButton #UpgradeArrowPanel
{
	visibility: collapse;
}

#UnlocksAtContainer
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 30px;
}

.has_level #UnlocksAtContainer,.can_train #UnlocksAtContainer,CitadelScoreboardMods #UnlocksAtContainer
{
	visibility: collapse;
}

#GoldAmountContainer
{
	horizontal-align: center;
	flow-children: down;
}

.blackNumber
{
	color: #000000DD;
}

.unlocksAtGold
{
	color: white;
	font-weight: bold;
	font-size: 21px;
	margin-left: 5px;
	horizontal-align: center;
}

.percentToUnlock
{
	font-size: 18px;
}

#UnlocksAt
{
	horizontal-align: center;
	text-transform: uppercase;
	color: #777777;
	font-size: 14px;
	font-weight: bold;
	margin-top: -5px;
}

#UnlocksGoldImage
{
	background-image: url("s2r://panorama/images/hud/orb_icon_png.vtex");
	height: 16px;
	width: 16px;
	background-size: 100% 100%;
	vertical-align: center;
}

#AbililtyTrainProgressBar
{
	width: 148px;
	height: 292px;
	visibility: collapse;
	vertical-align: bottom;
}

#AbililtyTrainProgressBar .ProgressBarLeft
{
	background-color: #13adc5;
}

.GoldProgressBar #AbililtyTrainProgressBar .ProgressBarLeft
{
	background-color: #FFED7980;
}

.showProgressBar #AbililtyTrainProgressBar
{
	visibility: visible;
}

CitadelScoreboardMods .showProgressBar #AbililtyTrainProgressBar
{
	visibility: collapse;
}

.bonusCounter
{
	font-size: 18px;
	font-weight: bold;
	horizontal-align: left;
	text-align: center;
	vertical-align: bottom;
	color: black;
	background-color: rgba(200, 200, 200, 0.95);
	opacity: 0;
	ignore-parent-flow: true;
}

.hasBonusCounter .bonusCounter
{
	opacity: 1;
	z-index: 1;
}

