/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelTooltipModDetails
{
	width: 450px;
	opacity: 0;
	font-family: sans;
	flow-children: down;
	margin-bottom: 10px;
	padding: 15px;
}

CitadelTooltipModDetails.TooltipPositionRight #PrimaryTooltipContainer
{
	flow-children: right;
}

CitadelTooltipModDetails.TooltipPositionLeft #PrimaryTooltipContainer
{
	flow-children: left;
}

CitadelTooltipModDetails.TooltipPositionLeft .AnnotationContainer
{
	horizontal-align: right;
}

CitadelTooltipModDetails.HasModifiedAbilities
{
	width: 840px;
}

#ModTooltipContainer
{
	flow-children: down;
	width: 450px;
	border-radius: 8px;
	box-shadow: 0px 0px 20px #00000060;
	z-index: 2;
}

CitadelTooltipModDetails.WeaponMod #ModTooltipContainer
{
	background-color: #7f4f05;
	background-color: #704505;
	background-color: courageDarkColor;
}

CitadelTooltipModDetails.ArmorMod #ModTooltipContainer
{
	background-color: fortitudeDarkColor;
}

CitadelTooltipModDetails.TechMod #ModTooltipContainer
{
	background-color: spiritDarkColor;
}

CitadelTooltipModDetails.TooltipVisible
{
	transition-duration: 0.1s;
	opacity: 1;
}

.HeaderContainer
{
	height: 96px;
	flow-children: right;
}

.AttributeLineItem
{
	width: 100%;
	margin: 2px 0px;
}

.HeaderContainer
{
	padding: 0px 20px 0px 20px;
	width: 100%;
}

.ModNameContainer
{
	vertical-align: center;
}

.WeaponMod .HeaderContainer
{
	background-color: weaponColorMedium;
}

.ArmorMod .HeaderContainer
{
	background-color: fortitudeColor;
}

.TechMod .HeaderContainer
{
	background-color: spiritColor;
}

.PassiveTierBonus
{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: center;
	margin-left: 10px;
	visibility: collapse;
}

#BonusLineItem .PassiveTierBonus
{
	visibility: visible;
}

.WeaponMod .PassiveTierBonus
{
	color: weaponColor;
}

.ArmorMod .PassiveTierBonus
{
	color: armorColor;
}

.TechMod .PassiveTierBonus
{
	color: techColor;
}

.HideImportantAttribute.NoAppliedStats .StatsAppliedBackground
{
	visibility: collapse;
}

.NoAppliedStats .StatsAppliedBackground
{
	horizontal-align: center;
}

.NoAppliedStats #ImportantAttributeContainer
{
	width:100%;
	horizontal-align: center;
}

.NoAppliedStats #StatsAppliedContainer
{
	visibility: collapse;
}

.AppliedAttributes,#AbilityTypeSection
{
	width: 100%;
	height: fit-children;
}

#AbilityTypeSection
{
	padding: 10px 16px;
}

.AppliedAttributesContainer
{
	width: 100%;
}

.StatsAppliedBackground
{
	width: 100%;
	border-radius: 5px;
	margin-top: 15px;
	flow-children: right;
	min-height: 70px;
}

.HasMultipleImportantProperties .StatsAppliedBackground
{
	flow-children: down;
}

.RemoveAttributesBackground .StatsAppliedBackground
{
	background-color: none;
}

.RemoveAttributesBackground #StatsAppliedContainer
{
	padding: 0px 0px;
}

.NoImportantAttributes .StatsAppliedBackground
{
	width: fit-children;
	horizontal-align: center;
	visibility: visible;
}

.HideImportantAttribute .StatsAppliedBackground
{
	min-height: 40px;
}

#AttributesSection_Innate .StatsAppliedBackground
{
	background-color: none;
	min-height: 0px;
	margin-top: 0px;
}

#StatsAppliedContainer
{
	width: 100%;
	padding: 10px 15px;
	flow-children: down;
	vertical-align: middle;
	background-color: #00000066;
	margin-left: 2px;
	min-height: 70px;
}

.HideImportantAttribute #StatsAppliedContainer
{
	background-color: #00000060;
	margin-left: 0px;
	min-height: 0px;
}

.HasMultipleImportantProperties #StatsAppliedContainer
{
	flow-children: right-wrap;
	margin-top: 3px;
	margin-left: 0px;
	min-height: 0px;
}

#AttributesSection_Innate #StatsAppliedContainer
{
	background-color: #00000000;
}

.HasMultipleImportantProperties #StatsAppliedContainer CitadelModifiedAttributeLabel
{
	width: 49%;
	padding: 2px 0px;
}

.NoImportantAttributes #StatsAppliedContainer
{
	visibility: collapse;
}

#AttributesSection_Innate #StatsAppliedContainer
{
	padding: 0px 0px;
}

#StatsAppliedContainer Label
{
	font-size: 18px;
}

.CooldownHeader
{
	background-color: offBlack&50;
	height: 32px;
	width: 100%;
}

#AbilityType_Innate .CooldownHeader
{
	visibility: collapse;
}

#AbilityType_Active .CooldownHeader
{
	background-color: offBlack&aa;
}

#AbilityType_Passive .CooldownHeader
{
	background-color: offBlack&90;
}

.ActivePassiveLabel
{
	margin-right: 8px;
	font-weight: bold;
	vertical-align: middle;
	margin-left: 20px;
	margin-bottom: 2px;
}

#AbilityType_Passive .ActivePassiveLabel
{
	font-style: italic;
	font-weight: semi-bold;
	opacity: 0.5;
}

#AbilityType_Innate .ActivePassiveLabel
{
	font-style: italic;
	font-weight: semi-bold;
	opacity: 0.3;
}

.AttributeBonusValue
{
	margin-right: 5px;
}

.CooldownContainer
{
	horizontal-align: right;
	ignore-parent-flow: true;
	height: 100%;
	background-color: #0b1313;
	padding: 0px 20px;
	visibility: collapse;
}

.hasCooldown .CooldownContainer
{
	visibility: visible;
}

.CooldownImage
{
	height: 22px;
	width: 22px;
	background-image: url("s2r://panorama/images/upgrades/property_cooldown_large_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	vertical-align: center;
	margin-right: 5px;
}

#CooldownLabel
{
	margin-bottom: 1px;
	vertical-align: middle;
}

#CooldownLabel Label
{
	font-weight: bold;
}

.ModName
{
	font-weight: bold;
	font-size: 28px;
	text-shadow: 2px 2px 0px #00000030;
}

.ModName.PropertySearchMatch
{
	animation-name: SearchHighlight;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.ModCost
{
	font-weight: bold;
	font-size: 20px;
	color: shardColor;
	vertical-align: middle;
}

.ModPurchasedLabel
{
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	color: #000000aa;
	margin-right: 3px;
	vertical-align: middle;
}

.ModPurchasedCheck
{
	width: 23px;
	height: 23px;
	background-image: url("s2r://panorama/images/shop/purchased_check_png.vtex");
	background-size: contain;
	vertical-align: middle;
}

.goldIcon
{
	width: 16px;
	height: 22px;
	margin-top: 3px;
}

.StatValue,.AttributeBonusValue
{
	font-weight: bold;
	margin-right: 10px;
	font-size: 19px;
	margin-top: -1.5px;
}

.AttributeBonusName,.ModInfoLabel
{
	font-size: 18px;
	line-height: 135%;
	font-weight: medium;
	color: #CDCDCD;
}

.HideDescription .ModInfoLabel
{
	visibility: collapse;
}

.ModInfoLabel .highlight
{
	font-weight: semi-bold;
	color: #F8F8F8;
}

.ModInfoLabel .spacer
{
	font-size: 8px;
	color: #ffffff00;
}

.ModInfoLabel .highlight_weapon,.ModInfoLabel .highlight_courage
{
	color: courageBrightColor;
	font-weight: bold;
}

.ModInfoLabel .highlight_tech,.ModInfoLabel .highlight_spirit
{
	color: spiritBrightColor;
	font-weight: bold;
}

.ModInfoLabel .highlight_armor,.ModInfoLabel .highlight_fortitude
{
	color: fortitudeBrightColor;
	font-weight: bold;
}

.ModInfoLabel .isNegative
{
	color: rgb(255, 106, 106);
	font-weight: bold;
}

.ModInfoLabel
{
	width: fill-parent-flow( 1.0 );
	vertical-align: top;
	color: #CDCDCD;
}

#AttributesSection_Innate .ModInfoLabel
{
	margin-bottom: 10px;
}

.ModInfoLabel.PropertySearchMatch
{
	animation-name: SearchHighlightDesc;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
}

@keyframes 'SearchHighlightDesc'
{
	0%
	{
		brightness: 1;
	}
	
	50%
	{
		brightness: 2;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

.ModInfoLabel .InlineGlyph
{
	width: 20px;
	height: 20px;
}

CitadelAltInfoPanel
{
	visibility: collapse;
}

.HasAnyModifiedTextLabel CitadelAltInfoPanel
{
	visibility: visible;
}

.AffectedAbilitiesHeader,#AffectedAbilities
{
	width: 100%;
}

.AffectedAbilitiesHeader
{
	background-color: #a9a9a9;
	padding: 10px;
}

.WeaponMod .AffectedAbilitiesHeader
{
	background-color: weaponColorMedium;
}

.ArmorMod .AffectedAbilitiesHeader
{
	background-color: fortitudeColor;
}

.TechMod .AffectedAbilitiesHeader
{
	background-color: spiritColor;
}

.AffectedAbilitiesHeader Label
{
	font-weight: bold;
	color: offWhite;
	font-size: 18px;
}

.AffectedAbilitiesContainer
{
	visibility: collapse;
	background-color: #626262;
	width: 350px;
	margin-left: 10px;
	border-radius: 8px;
	box-shadow: 0px 0px 20px #00000060;
}

.TooltipPositionLeft .AffectedAbilitiesContainer
{
	margin-left: 0px;
	margin-right: 10px;
}

CitadelTooltipModDetails.WeaponMod .AffectedAbilitiesContainer
{
	background-color: courageDarkColor;
}

CitadelTooltipModDetails.ArmorMod .AffectedAbilitiesContainer
{
	background-color: fortitudeDarkColor;
}

CitadelTooltipModDetails.TechMod .AffectedAbilitiesContainer
{
	background-color: spiritDarkColor;
}

#AffectedAbilities
{
	padding: 10px;
}

.HasModifiedAbilities .AffectedAbilitiesContainer
{
	visibility: visible;
	z-index: 1;
}

.usedAsComponent .AffectedAbilitiesContainer
{
	visibility: collapse;
}

#TierBonusContainer,.ImportantStatBox,.StatusEffectBox
{
	background-color: #00000060;
	vertical-align: center;
	width: 100%;
}

.ImportantStatBox,.StatusEffectBox
{
	height: 100%;
}

.HasNoPlayer #TierBonusContainer
{
	visibility: collapse;
}

.HideStatsApplied .ImportantStatBox
{
	background-color: #00000070;
}

.ImportantStatBox
{
	height: 100%;
}

.ImportantStatContent
{
	flow-children: down;
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
}

.HideStatsApplied .ImportantStatContent
{
	flow-children: right;
	height: 100%;
	width: 100%;
}

#TierBonusContainer
{
	horizontal-align: right;
	ignore-parent-flow: true;
	width: 85px;
}

#DefensiveTag
{
	horizontal-align: right;
	margin-top: 20px;
	flow-children: right;
	background-color: #1091A5;
	padding: 2px 5px;
	border-radius: 2px;
	visibility: collapse;
}

.defensive #DefensiveTag
{
	visibility: visible;
}

.DefensiveIcon
{
	width: 22px;
	height: 22px;
	horizontal-align: right;
	vertical-align: bottom;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude_shield.vsvg");
	background-img-opacity: 0.9;
	border-radius: 2px 0px 0px 0px;
}

#DefensiveTag Label
{
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
	color: offWhite;
	vertical-align: middle;
	margin-left: 3px;
	margin-bottom: 1px;
	color: offWhite;
}

#ImportantAttributeContainer
{
	width: 130px;
	height: 100%;
}

.HasMultipleImportantProperties #ImportantAttributeContainer
{
	flow-children: right;
	width: 100%;
	height: 70px;
}

.HasMultipleImportantProperties #ImportantAttribute
{
	width: fill-parent-flow( 1 );
}

#ImportantAttribute.PropertySearchMatch
{
	animation-name: SearchHighlight;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	background-color: #ffffff00;
	animation-delay: 1s;
	background-color: rgba(255, 255, 151, 0.05);
}

@keyframes 'SearchHighlight'
{
	0%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1;
		brightness: 2;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

.HideImportantAttribute #ImportantAttributeContainer
{
	visibility: collapse;
}

.HasBoxedAttribute #ImportantAttributeContainer
{
	visibility: visible;
}

.HideStatsApplied #ImportantAttributeContainer
{
	width: 100%;
}

.ImportantStatImageValueContainer
{
	horizontal-align: center;
	margin-bottom: -5px;
}

.HideStatsApplied .ImportantStatImageValueContainer
{
	height: 100%;
	width: 100px;
	background-color: #000000AA;
	padding: 20px;
	margin-right: 30px;
}

#TierBonusValue,#ImportantStatValue
{
	color: white;
}

.ImportantStatLabelsContainer
{
	flow-children: down;
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
}

.HideStatsApplied .ImportantStatLabelsContainer
{
	horizontal-align: left;
}

.HideStatsApplied .ImportantStatLabelsContainer Label
{
	text-align: left;
}

.ModCostContainer,.IsPurchased .ModPurchasedContainer,.usedAsComponent .ModPurchasedContainer,.ForceShowSellPrice .ModCostContainer,.IsPurchased.ForceShowSellPrice .ModCostContainer
{
	visibility: visible;
}

.IsPurchased .ModCostContainer,.usedAsComponent .ModCostContainer,.ModPurchasedContainer,.ForceShowSellPrice .ModPurchasedContainer
{
	visibility: collapse;
}

.ImportantStatType
{
	horizontal-align: center;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	padding: 0px 2px;
	font-weight: medium;
	width: fit-children;
	max-height: 40px;
}

.StatusEffectType
{
	horizontal-align: center;
	text-align: left;
}

.StatusEffectBulletDebuff
{
	text-align: left;
}

.StatusEffectType .ImportantStatType
{
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.prop_bullet_damage .ImportantStatType
{
	color: courageBrightColor;
	font-weight: semi-bold;
}

.prop_tech_damage .ImportantStatType
{
	color: spiritBrightColor;
	font-weight: semi-bold;
}

.prop_healing .ImportantStatType,.prop_health .ImportantStatType
{
	color: armorColor;
	font-weight: semi-bold;
}

.TierBonusLabel
{
	font-size: 12px;
	width: 100%;
	text-align: center;
	background-color: #00000055;
	padding-top: 2px;
	padding-bottom: 2px;
}

.ImportantStatLabel
{
	font-style: italic;
	font-weight: semi-bold;
	font-size: 16px;
	width: 100%;
	text-align: center;
	opacity: 0.3;
}

.HideStatLabel .ImportantStatLabel
{
	visibility: collapse;
}

.ImportantStatImage
{
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: center;
	margin-right: 3px;
}

.AttributesContainer,#SectionsContainer
{
	width: 100%;
	height: fit-children;
}

.HideStatsApplied .AttributesContainer
{
	flow-children: up;
}

#ComponentOfContainer,#ComponentUsedContainer
{
	width: 100%;
	background-color: colorCommonDarkGray;
	visibility: collapse;
	background-color: #00000040;
	flow-children: down;
}

.usedAsComponent #ComponentUsedContainer,.isComponentOf #ComponentOfContainer
{
	visibility: visible;
}

#ComponentsContainer
{
	width: 100%;
	flow-children: down;
	background-color: colorCommonDarkGray;
	visibility: collapse;
	background-color: #00000090;
}

.WeaponMod #ComponentsContainer
{
	background-color: courageColor;
}

.ArmorMod #ComponentsContainer
{
	background-color: fortitudeDarkerColor;
}

.TechMod #ComponentsContainer
{
	background-color: spiritDarkerColor;
}

.hasComponentMods #ComponentsContainer
{
	visibility: visible;
}

#ComponentOfList,#ComponentUsedList
{
	flow-children: right-wrap;
	width: fill-parent-flow( 1.0 );
	padding: 3px 0px 8px 20px;
}

#ComponentsList
{
	flow-children: right-wrap;
	padding: 5px 10px 4px 15px;
}

.componentMod
{
	flow-children: right;
	background-color: #00000060;
	border-radius: 50px;
	margin: 2px;
}

#ComponentOfContainer .componentMod,#ComponentUsedContainer .componentMod
{
	margin: 5px 5px 5px 0px;
	horizontal-align: left;
}

#ComponentOfContainer .componentOwned.componentMod,#ComponentOfContainer .IsPurchased .componentMod,#ComponentUsedContainer .componentOwned.componentMod,#ComponentUsedContainer .IsPurchased .componentMod
{
	background-color: #00000000;
	opacity: 0.8;
}

.componentOwned.componentMod,.IsPurchased .componentMod
{
	background-color: #00000050;
	opacity: 0.8;
}

.componentModDetails
{
	flow-children: down;
	vertical-align: center;
	padding: 0px 15px 2px 0px;
	background-color: offBlack&10;
}

#ComponentsLabelContainer
{
	vertical-align: middle;
}

.componentsLabel
{
	color: #ffffff90;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px 0px 0px 20px;
	margin-top: 2px;
	margin-bottom: -5px;
}

#ComponentOfContainer #ComponentsLabelContainer,#ComponentUsedContainer #ComponentsLabelContainer
{
	vertical-align: middle;
	margin-right: 10px;
	width: 152px;
}

.isComponentOf #ComponentOfContainer #ComponentsLabelContainer
{
	vertical-align: top;
	margin-top: 10px;
}

#ComponentOfContainer .componentsLabel,#ComponentUsedContainer .componentsLabel
{
	margin: 0px;
}

.componentModIconContainer
{
	vertical-align: center;
	padding: 5px;
	background-color: #009CB3;
	border-radius: 80px;
	margin-right: 5px;
}

.isArmorComponent .componentModIconContainer
{
	background-color: fortitudeBrightColor;
}

.isWeaponComponent .componentModIconContainer
{
	background-color: courageBrightColor;
}

.isTechComponent .componentModIconContainer
{
	background-color: spiritBrightColor;
}

.owned_item .componentModIconContainer,.componentOwned .componentModIconContainer,.IsPurchased .isTechComponent .componentModIconContainer,.IsPurchased .isWeaponComponent .componentModIconContainer
{
	background-color: #000000;
}

#ComponentOfContainer .isWeaponComponent .componentModIconContainer,#ComponentUsedContainer .isWeaponComponent .componentModIconContainer
{
	background-color: courageLightColor;
}

#ComponentOfContainer .isTechComponent .componentModIconContainer,#ComponentUsedContainer .isTechComponent .componentModIconContainer
{
	background-color: spiritLightColor;
}

#componentModIcon
{
	width: 26px;
	height: 26px;
	border-radius: 4px;
	vertical-align: center;
	opacity: 0.9;
}

.owned_item #componentModIcon,.componentOwned #componentModIcon
{
	wash-color: colorCommonOffWhite;
}

.isTechComponent #componentModIcon
{
	wash-color: spiritDarkerColor;
}

.isWeaponComponent #componentModIcon
{
	wash-color: courageDarkerColor;
}

.isArmorComponent #componentModIcon
{
	wash-color: spiritDarkerColor;
}

.componentOwned #componentModIcon
{
	wash-color: offWhite;
}

.componentOwned.isWeaponComponent #componentModIcon
{
	wash-color: courageBrightColor;
}

.componentOwned.isArmorComponent #componentModIcon
{
	wash-color: fortitudeBrightColor;
}

.componentOwned.isTechComponent #componentModIcon
{
	wash-color: spiritBrightColor;
}

#componentOwnedIcon
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateX(3px) translateY(5px);
	wash-color: fortitudeBrightColor;
	vertical-align: bottom;
	horizontal-align: right;
	visibility: collapse;
	img-shadow: 0px 0px 0px 3.0 offBlack;
}

.componentOwned #componentOwnedIcon
{
	visibility: visible;
}

#ComponentOfContainer .isWeaponComponent #componentModIcon,#ComponentUsedContainer .isWeaponComponent #componentModIcon
{
	wash-color: courageColor;
	opacity: 1;
}

#ComponentOfContainer .isTechComponent #componentModIcon,#ComponentUsedContainer .isTechComponent #componentModIcon
{
	wash-color: spiritColor;
	opacity: 1;
}

#ComponentOfContainer #componentModIconContainer,#ComponentUsedContainer #componentModIconContainer
{
	padding: 2px;
	margin-right: 10px;
}

#ComponentOfContainer #componentModIcon,#ComponentUsedContainer #componentModIcon
{
	width: 20px;
	height: 20px;
	border-radius: 4px;
	vertical-align: center;
	opacity: 0.75;
}

.componentModName
{
	color: rgba(243, 240, 231, 0.7);
	font-size: 16px;
	font-weight: semi-bold;
	max-width: 200px;
	text-overflow: shrink;
}

.owned_item .componentModName,.componentOwned .componentModName,.IsPurchased .componentModName
{
	color: rgba(243, 240, 231, 0.7);
	margin-bottom: 0px;
}

#ComponentOfContainer .componentModName,#ComponentUsedContainer .componentModName
{
	color: rgba(243, 240, 231, 0.7);
	font-style: normal;
}

.componentModOwnedDisplay
{
	color: colorCommonOffWhite;
	font-size: 16px;
	font-weight: medium;
	font-style: italic;
	visibility: collapse;
	color: #ffffff;
	opacity: 0.2;
}

.componentModRequiredDisplay
{
	visibility: collapse;
}

.componentRequired .componentModRequiredDisplay
{
	color: gold;
	font-size: 13px;
	font-weight: semi-bold;
	visibility: visible;
	font-family: sansMono;
	visibility: collapse;
}

.componentModConsumedDisplay
{
	color: colorCommonOffWhite;
	font-size: 18px;
	visibility: collapse;
}

.owned_item .componentModConsumedDisplay
{
	visibility: collapse;
}

#OwnedByContainer
{
	visibility: collapse;
	width: 100%;
	height: fit-children;
	padding: 5px 2px 5px 2px;
	flow-children: right;
}

.OwnedByFriends #OwnedByContainer
{
	visibility: visible;
}

.OwnedByLabel
{
	margin-left: 10px;
	vertical-align: center;
}

.hero_icon
{
	height: 30px;
	width: 30px;
	margin-right: 10px;
	vertical-align: center;
}

#OwnedByList
{
	margin-left: 15px;
}

.AnnotationContainer
{
	visibility: collapse;
	width: 450px;
	padding: 5px;
	padding-left: 8px;
	background-color: buildsDarkColor;
	margin-top: 5px;
	max-height: 60px;
}

.AnnotationContainer #AuthorAvatar
{
	vertical-align: top;
	width: 32px;
	height: 32px;
	margin: 3px;
	margin-right: 8px;
}

.AnnotationContainer Label
{
	vertical-align: center;
	color: offWhite;
	font-weight: semi-bold;
	font-size: 16px;
	text-overflow: shrink;
}

.HasAnnotation .AnnotationContainer
{
	visibility: visible;
}

.ImportantProperty1
{
	margin-right: 2px;
}

.ImportantProperty2
{
	margin-left: 2px;
}

.ImportantProperty3
{
	margin-left: 2px;
}

