/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.PartyCodeContents
{
	flow-children: down;
	min-width: 200px;
	vertical-align: center;
}

.Title
{
	horizontal-align: center;
	text-align: center;
	font-family: block;
	text-transform: uppercase;
	color: offWhite&88;
	margin-top: 8px;
}

.PartyCode
{
	horizontal-align: center;
	vertical-align: center;
	letter-spacing: 4px;
	margin: 4px 4px 8px 4px;
	height: 28px;
}

.PartyCodeHidden .PartyCode
{
	brightness: 0.4;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.Prompt
{
	flow-children: right;
	height: 28px;
	min-width: 80px;
	margin: 0px 12px;
	horizontal-align: center;
}

.Prompt Label
{
	font-family: block;
	color: offWhite&44;
	margin-left: 4px;
	min-width: 60px;
}

.ShowPartyCode
{
	visibility: collapse;
}

.PartyCodeHidden .ShowPartyCode
{
	visibility: visible;
}

.HidePartyCode
{
	visibility: visible;
}

.PartyCodeHidden .HidePartyCode
{
	visibility: collapse;
}

#Prompts
{
	flow-children: down;
	min-width: 160px;
}

