/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelTooltipChooseVotingPoster
{
	font-family: sans;
	flow-children: down;
	padding: 10px;
	z-index: 2;
	background-color: #125b2930;
	world-blur: ingameHudBlur;
	border-radius: 3px;
	border: 2px solid offWhite&20;
	visibility: collapse;
}

CitadelTooltipChooseVotingPoster.TooltipVisible
{
	visibility: visible;
}

.HeaderContainer
{
	horizontal-align: center;
}

.HeaderContainer .HeaderLabel
{
	font-weight: bold;
	horizontal-align: center;
	vertical-align: bottom;
	text-align: center;
	font-family: block;
	text-transform: uppercase;
	font-size: 24px;
	text-shadow: 2px 2px 0px black;
	margin-top: 5px;
	color: offWhite&90;
}

#VotingButtonList
{
	padding: 20px;
	flow-children: right;
}

.VotingButtonContainer
{
	saturation: 0.5;
	opacity: 0.5;
	border-radius: 2px;
	box-shadow: 0px 0px 10px offBlack&90;
	margin: 4px;
	margin-left: 8px;
	margin-right: 8px;
	flow-children: down;
}

.VotingButtonContainer:hover
{
	brightness: 1.1;
	saturation: 1;
	opacity: 1;
}

.VotingButtonContainer.VoteActive
{
	opacity: 1;
	saturation: 1;
}

.VotingButtonContainer #HeroImage
{
	width: 40px;
	height: width-percentage( 135.7% );
	visibility: collapse;
}

.VotingButtonContainer #PosterImage
{
	width: 65px;
	height: width-percentage( 135.7% );
	horizontal-align: center;
}

.VotingButtonContainer .SelectedLabel
{
	visibility: collapse;
}

.VotingButtonContainer.VoteActive .SelectedLabel
{
	visibility: visible;
}

.VotingButtonContainer .HeroName
{
	visibility: collapse;
}

.VotingButtonContainer .HeroName
{
	horizontal-align: center;
	vertical-align: bottom;
	text-align: center;
	margin-bottom: 4px;
	font-size: 14px;
	text-shadow: 2px 2px 4px 5 black;
}

.VotingButtonContainer .SelectedLabel
{
	horizontal-align: center;
	vertical-align: bottom;
	text-align: center;
	margin-bottom: 4px;
	font-size: 14px;
	text-shadow: 2px 2px 4px 5 black;
}

