/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#Contents
{
	flow-children: down;
	font-family: sans;
	background-color: #414141;
	padding: 0px;
	width: 260px;
	border: 0px solid offWhite&10;
	border-radius: 3px;
}

.TopFormulaContainer
{
	horizontal-align: center;
	padding: 7px 20px;
}

.BottomFormulaContainer
{
	horizontal-align: center;
	background-color: #000000aa;
	padding: 6px 20px;
}

.ScaleAddition,.ScalingValue,.ScalingStatImage,.ModsAddition,.ModsValue,.LevelBonusValue,.LevelBonusAddition
{
	visibility: collapse;
}

.HasScaledValue .ScaleAddition,.HasScaledValue .ScalingValue,.HasScaledValue .ScalingStatImage,.HasModsValue .ModsAddition,.HasModsValue .ModsValue,.HasLevelBonusValue .LevelBonusValue,.HasLevelBonusValue .LevelBonusAddition
{
	visibility: visible;
}

.SpiritStat .ScalingStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_spirit.vsvg");
	wash-color: spiritBrightColor;
}

.CourageStat .ScalingStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_courage.vsvg");
	wash-color: courageBrightColor;
}

.FortitudeStat .ScalingStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude.vsvg");
	wash-color: fortitudeBrightColor;
}

.ModsValue,.LevelBonusValue
{
	color: #ffffff80;
}

.ScalingStatImage
{
	height: 14px;
	width: 14px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: center;
}

.ScalingStatValue
{
	font-size: 12px;
	vertical-align: center;
}

.TopFormulaContainer Label
{
	font-weight: bold;
	font-size: 20px;
}

.BottomFormulaContainer Label
{
	font-size: 15px;
}

.BottomFormulaContainer .ScalingValue
{
	font-weight: medium;
	opacity: 0.6;
	color: #999;
}

.BottomFormulaContainer .CurrentStatValue
{
	font-weight: bold;
}

.BottomFormulaContainer .FormulaBaseLabel
{
	color: #ffffff;
	font-weight: medium;
	font-family: sans;
	opacity: 0.8;
}

.AdditionLabel
{
	margin: 3px 1px 0px 1px;
	font-weight: normal;
	font-family: sans;
	opacity: 0.2;
}

.CourageStat .CurrentStatValue
{
	color: courageBrightColor;
}

.FortitudeStat .CurrentStatValue
{
	color: fortitudeBrightColor;
}

.SpiritStat .CurrentStatValue
{
	color: spiritBrightColor;
}

#BasePanel
{
	margin-top: 5px;
}

.MainStatValue,.SubStatValue,.TotalStatValue
{
	width: 100%;
	padding: 2px 15px;
}

.isZeroValue
{
	opacity: 0.2;
}

.TotalStatValue
{
	background-color: #2F2F2F;
	padding: 5px 20px 8px 20px;
	margin-top: 8px;
}

.MainStatValue Label,.TotalStatValue Label
{
	color: offWhite;
	font-weight: bold;
}

.SpiritStat.MainStatValue Label
{
	color: spiritBrightColor;
}

.SubStatValue
{
	margin-left: 20px;
	opacity: 0.6;
}

.StatName
{
	font-weight: medium;
	font-size: 16px;
}

.StatValue
{
	horizontal-align: right;
	font-family: sansMono;
	font-size: 16px;
}

#StatsBreakdownContainer
{
	width: 100%;
	height: fit-children;
}

