/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

@define weaponColorBright: #E58A00;
@define weaponColorMedium: #C87903;
@define weaponColorDark: #7F4F05;
@define armorColorBright: #00F794;
@define armorColorMedium: #00A664;
@define armorColorDark: #274C3D;
@define techColorBright: #00DDFF;
@define techColorMedium: #009BB2;
@define techColorDark: #245359;
.DiffArrow
{
	height: 12px;
	width: 12px;
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: center;
	wash-color: colorCommonOffWhite;
	opacity: 0.25;
}

.TierBonusType
{
	font-size: 16px;
}

.PrefixValue,.PostfixValue
{
	color: #ffffff50;
}

.StatusEffectEMP .ImportantStatImage,.StatusEffectEMP #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_emp.vsvg");
	wash-color: #D1ACFF;
}

.StatusEffectStun .ImportantStatImage,.StatusEffectStun #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_stun.vsvg");
	wash-color: #FFCC00;
}

.StatusEffectFreeze .ImportantStatImage,.StatusEffectFreeze #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_freeze.vsvg");
	wash-color: #95D4DE;
}

.StatusEffectBurn .ImportantStatImage,.StatusEffectBurn #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_burn.vsvg");
	wash-color: #FF810D;
}

.StatusEffectSleep .ImportantStatImage,.StatusEffectSleep #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_sleep.vsvg");
	wash-color: #95c0ff;
}

.StatusEffectDisarmed .ImportantStatImage,.StatusEffectDisarmed #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_disarm.vsvg");
	wash-color: #ff704c;
}

.StatusEffectImmobilize .ImportantStatImage,.StatusEffectImmobilize #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_immobilized.vsvg");
	wash-color: #00D1FF;
}

.StatusEffectTether .ImportantStatImage,.StatusEffectTether #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_tether.vsvg");
	wash-color: #C4C800;
}

.StatusEffectInvisible .ImportantStatImage,.StatusEffectInvisible #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_invisible.vsvg");
	wash-color: #848484;
	vertical-align: middle;
	background-position: center;
}

.StatusEffectStacks .ImportantStatImage,.StatusEffectStacks #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_stacks.vsvg");
	wash-color: #848484;
	background-repeat: no-repeat;
}

.StatusEffectInfiniteClip .ImportantStatImage,.StatusEffectInfiniteClip #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/icons/icon_infinite.vsvg");
	wash-color: courageBrightColor;
	background-repeat: no-repeat;
}

.StatusEffectBulletDebuff .ImportantStatImage,.StatusEffectBulletDebuff #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_toxic.vsvg");
	wash-color: #D1ACFF;
}

.StatusEffectBuff .ImportantStatImage,.StatusEffectBuff #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_toxic.vsvg");
	wash-color: #D1ACFF;
}

.StatusEffectPetrify .ImportantStatImage,.StatusEffectPetrify #StatusEffectIcon
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_petrify_psd.vtex");
	wash-color: #ddd9cc;
}

.prop_healing .ImportantStatImage
{
	background-image: url("s2r://panorama/images/upgrades/property_health_regen_psd.vtex");
	wash-color: armorColor;
}

.prop_bullet_armor_up .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_armor_force.vsvg");
	wash-color: courageBrightColor;
	width: 18px;
}

.prop_bullet_armor_down .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_armor_force.vsvg");
	wash-color: courageBrightColor;
	width: 18px;
}

.prop_bullet_damage .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_force.vsvg");
	wash-color: courageBrightColor;
	margin-right: 3px;
}

.prop_tech_damage .ImportantStatImage
{
	background-image: url("s2r://panorama/images/damage_tech_psd.vtex");
	wash-color: #00DDFF;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/core/icon_damage_mystic.vsvg");
	wash-color: spiritBrightColor;
	width: 15px;
}

.prop_fireRate .ImportantStatImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_weapon/fire_rate_psd.vtex");
	wash-color: courageBrightColor;
	margin-right: 3px;
}

.prop_tech_armor_down .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_armor_mystic.vsvg");
	wash-color: spiritBrightColor;
	background-size: contain;
	background-repeat: no-repeat;
	width: 18px;
}

.prop_tech_armor_up .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_armor_mystic.vsvg");
	wash-color: spiritBrightColor;
	background-size: contain;
	background-repeat: no-repeat;
	width: 18px;
}

.prop_slow .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/modifiers/icon_slow.vsvg");
	opacity: 0.3;
	background-size: contain;
	background-repeat: no-repeat;
}

.prop_generic .ImportantStatImage
{
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #ffffff10;
	width: 0px;
	height: 0px;
	margin: 0px;
}

.prop_courage .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_courage.vsvg");
	wash-color: courageBrightColor;
	margin-right: 3px;
}

.prop_fortitude .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude.vsvg");
	wash-color: fortitudeBrightColor;
	margin-right: 3px;
}

.prop_spirit .ImportantStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_spirit.vsvg");
	wash-color: spiritBrightColor;
	margin-right: 3px;
}

