/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelTooltipAbilityDetails
{
	width: 540px;
	background-color: #3A3A3A;
	box-shadow: fill rgba(0, 0, 0, 0.35) 0px 0px 12px 4px;
	margin: 10px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
	flow-children: down;
}

.wants_scoreboard CitadelTooltipAbilityDetails,.gDetailView CitadelTooltipAbilityDetails
{
	margin-bottom: 50px;
}

.TexturePanel
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/textures/ability_tooltip_grain_png.vtex");
	-s2-mix-blend-mode: multiply;
}

CitadelTooltipAbilityDetails.TooltipVisible
{
	transition-duration: 0.1s;
	opacity: 1;
}

AbilityDetailsPanel
{
	width: 100%;
}

.AbilityList
{
	flow-children: down;
	width: 100%;
	background-color: #00000030;
}

.abilityUpgradesHeader
{
	horizontal-align: center;
	margin-top: 15px;
	font-weight: bold;
	opacity: 0.6;
	font-size: 14px;
	text-transform: uppercase;
}

#BottomHeader
{
	width: 100%;
	color: offWhite;
	padding-left: 20px;
	padding-top: 10px;
	font-family: "New Spirit Trial";
	font-weight: bold;
}

CitadelAbilityUpgradeList
{
	padding: 20px;
	flow-children: up;
}

.AnnotationContainer
{
	visibility: collapse;
	width: 100%;
	padding: 5px;
	padding-left: 8px;
	background-color: buildsDarkColor;
	margin-top: 5px;
	max-height: 60px;
	horizontal-align: center;
}

.AnnotationContainer #AuthorAvatar
{
	vertical-align: top;
	width: 32px;
	height: 32px;
	margin: 3px;
	margin-right: 8px;
	visibility: collapse;
}

.AnnotationContainer Label
{
	vertical-align: center;
	color: offWhite;
	font-weight: semi-bold;
	font-size: 16px;
	text-overflow: shrink;
	horizontal-align: center;
}

.HasAnnotation .AnnotationContainer
{
	visibility: visible;
}

