/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#Contents
{
	flow-children: down;
	background-color: none;
	border: 0px solid transparent;
	box-shadow: none;
	padding: 0px;
}

.Row
{
	flow-children: right;
	height: 44px;
	border: 2px solid black;
	min-width: 200px;
}

.Row.LabelRow
{
	min-width: 300px;
}

.ValueName
{
	width: 170px;
}

.Row
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #111111 ), to( #000000 ) );
}

.Row.Dire
{
	background-color: team2ColorDarker;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1d153b ), to( team2ColorDarker ) );
}

.Row.Radiant
{
	background-color: team1ColorDarker;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #302b1f ), to( team1ColorDarker ) );
}

.Row.MatchTime
{
	background-color: black;
	width: 100%;
}

.Row.MatchTime Label
{
	text-align: center;
	width: 100%;
}

.Row CitadelHeroImage
{
	width: 35px;
	width: 35px;
	vertical-align: middle;
}

.Row Label
{
	vertical-align: center;
	margin-left: 12px;
	font-weight: semi-bold;
	text-overflow: shrink;
}

#ColorBar
{
	vertical-align: center;
	height: 100%;
	margin-right: 2px;
	width: 4px;
}

.ValueLabel
{
	horizontal-align: right;
	width: 70px;
}

.PctLabel
{
	horizontal-align: right;
	text-align: right;
	width: 50px;
	opacity: 0.3;
	font-size: 14px;
	font-weight: normal;
	margin-right: 10px;
}

