/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelTierBonusTooltip
{
	visibility: collapse;
}

CitadelTierBonusTooltip.TooltipVisible
{
	visibility: visible;
}

.tierBonusContainer
{
	font-weight: semi-bold;
	flow-children: down;
	transition: opacity 0.15s ease-in-out 0.0s;
	opacity: 0.7;
	horizontal-align: center;
	vertical-align: top;
	padding: 5px 10px;
	horizontal-align: right;
	ignore-parent-flow: true;
	border-radius: 5px;
}

.WeaponTierBonus .tierBonusContainer
{
	background-color: courageDarkerColor;
}

.ArmorTierBonus .tierBonusContainer
{
	background-color: fortitudeDarkerColor;
}

.TechTierBonus .tierBonusContainer
{
	background-color: spiritDarkerColor;
}

.ModTierHovered .tierBonusContainer
{
	opacity: 1;
}

.tierBonusLabel
{
	font-size: 14px;
	text-transform: uppercase;
	opacity: 0.6;
	color: offWhite;
	horizontal-align: center;
	visibility: collapse;
}

.tierBonus
{
	vertical-align: center;
	font-weight: bold;
	horizontal-align: middle;
	flow-children: right;
}

.tierBonusTier
{
	font-size: 14px;
	color: courageBrightColor;
}

.tierBonusValue
{
	font-size: 20px;
	z-index: 2;
	vertical-align: middle;
	horizontal-align: center;
}

.tierBonusImage
{
	height: 20px;
	width: 20px;
	background-size: contain;
	horizontal-align: left;
	margin-left: 8px;
	margin-right: 5px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.TierBonusType
{
	horizontal-align: center;
	font-size: 16px;
	vertical-align: middle;
}

.WeaponTierBonus .TierBonusType
{
	color: courageBrightColor;
}

.TechTierBonus .TierBonusType
{
	color: spiritBrightColor;
}

.ArmorTierBonus .TierBonusType
{
	color: fortitudeBrightColor;
}

.WeaponTierBonus .tierBonusImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_damage_force.vsvg");
	wash-color: courageBrightColor;
}

.ArmorTierBonus .tierBonusImage
{
	background-image: url("s2r://panorama/images/upgrades/mods_armor/health_psd.vtex");
	wash-color: fortitudeBrightColor;
}

.TechTierBonus .tierBonusImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_spirit.vsvg");
	wash-color: spiritBrightColor;
}

