/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.TooltipContainer #Contents.RosterSelectHeroContents
{
	margin-left: 30px;
}

.Row
{
	flow-children: right;
}

.Row CitadelBinding
{
	margin-right: 8px;
	vertical-align: middle;
}

.Row Label
{
	vertical-align: middle;
}

.AddToRoster
{
	visibility: collapse;
}

.NotInRoster .AddToRoster
{
	visibility: visible;
}

.NotInRoster .RemoveFromRoster
{
	visibility: collapse;
}

.MakePriority
{
	visibility: collapse;
}

.InRoster .MakePriority
{
	visibility: visible;
}

.MakeHighPriority
{
	visibility: collapse;
}

.InRoster_Priority .MakeHighPriority
{
	visibility: visible;
}

.ClearPriority
{
	visibility: collapse;
}

.InRoster_HighPriority .ClearPriority
{
	visibility: visible;
}

