/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelAbilityUpgradeButton
{
	width: 31%;
	height: 160px;
	margin-bottom: 8px;
	border-radius: 4px;
	background-color: offWhite&05;
	flow-children: down;
	margin: 5px;
}

CitadelAbilityUpgradeButton.hasUpgrade
{
	border: 3px solid #00000080;
}

.abilityUpgradeContent
{
	height: fill-parent-flow(1.0);
	width: 100%;
	background-color: #444;
	flow-children: down;
}

.abilityUpgradeDesc
{
	horizontal-align: middle;
	padding: 3px 8px;
	flow-children: down;
	vertical-align: middle;
}

.abilityPointsRequiredContainer
{
	width: 100%;
	height: 30px;
	background-color: offBlack;
	horizontal-align: center;
}

.hasUpgrade .abilityPointsRequiredContainer
{
	background-color: spiritDarkerColor;
}

.abilityPointValueContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

.abilityPointBolt
{
	width: 16px;
	height: 16px;
	background-size: 16px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/hud/hero_ability_pip_psd.vtex");
	wash-color: spiritBrightColor;
}

.abilityPointsRequiredLabel
{
	font-size: 20px;
	font-weight: bold;
	margin-left: 4px;
}

#upgradeDesc
{
	font-size: 17px;
	font-weight: semi-bold;
	color: colorCommonDarkestGray;
	color: offWhite;
	text-overflow: shrink;
	text-align: center;
	opacity: 0.6;
}

.upgradeBonusAmount
{
	vertical-align: center;
	color: colorCommonDarkestGray;
	font-weight: bold;
	font-size: 22px;
	horizontal-align: middle;
	color: offWhite;
	text-align: center;
}

CitadelAbilityUpgradeButton.UpgradeAvailable .abilityUpgradeContent
{
	background-color: spiritColor;
}

CitadelAbilityUpgradeButton.cantAffordUpgrade,CitadelAbilityUpgradeButton.canAffordUpgrade,CitadelAbilityUpgradeButton.abilityNotTrained
{
	opacity: 0.5;
	border: 2px solid #00000000;
	background-color: #00000090;
}

CitadelAbilityUpgradeButton.cantAffordUpgrade .abilityUpgradeContent,CitadelAbilityUpgradeButton.canAffordUpgrade .abilityUpgradeContent,CitadelAbilityUpgradeButton.abilityNotTrained .abilityUpgradeContent
{
	background-color: #333;
	color: offBlack;
}

CitadelAbilityUpgradeButton.cantAffordUpgrade.upgradePipHovered,CitadelAbilityUpgradeButton.canAffordUpgrade.upgradePipHovered,CitadelAbilityUpgradeButton.abilityNotTrained .upgradePipHovered
{
	border: 2px solid offBlack;
}

CitadelAbilityUpgradeButton.cantAffordUpgrade.upgradePipHovered .abilityUpgradeContent,CitadelAbilityUpgradeButton.canAffordUpgrade.upgradePipHovered .abilityUpgradeContent
{
	background-color: #444;
	color: offWhite;
}

.cantAffordUpgrade #upgradeDesc,CitadelAbilityUpgradeButton.cantAffordUpgrade #upgradeDesc,.cantAffordUpgrade .upgradeBonusAmount,CitadelAbilityUpgradeButton.cantAffordUpgrade .upgradeBonusAmount,.canAffordUpgrade #upgradeDesc,CitadelAbilityUpgradeButton.canAffordUpgrade #upgradeDesc,.canAffordUpgrade .upgradeBonusAmount,CitadelAbilityUpgradeButton.canAffordUpgrade .upgradeBonusAmount
{
	color: colorCommonOffWhite;
	opacity: 0.5;
}

CitadelAbilityUpgradeButton.cantAffordUpgrade .abilityPointBolt
{
	wash-color: colorEnemy;
}

.cantAffordUpgrade .abilityPointsRequiredLabel
{
	color: colorEnemy;
}

CitadelAbilityUpgradeButton.hasUpgrade .abilityUpgradeContent
{
	background-color: spiritDarkColor;
	color: offBlack;
	opacity: 0.5;
}

CitadelAbilityUpgradeButton.hasUpgrade.upgradePipHovered .abilityUpgradeContent
{
	background-color: spiritColor;
	color: offBlack;
}

CitadelAbilityUpgradeButton.hasUpgrade.upgradePipHovered
{
	border: 3px solid offBlack;
}

.hasUpgrade #upgradeDesc,.hasUpgrade .upgradeBonusAmount
{
	opacity: 1;
}

.hasUpgrade .abilityPointBolt
{
	width: 20px;
	height: 20px;
	opacity: 0.3;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("s2r://panorama/images/hud/ability_upgrade_check_psd.vtex");
	wash-color: offWhite;
}

.hasUpgrade .abilityPointsRequiredLabel
{
	visibility: collapse;
}

CitadelHeroDetailsPage CitadelAbilityUpgradeButton
{
	margin: 3px 20px;
	max-height: 60px;
}

.customDescription .upgradeBonusAmount
{
	visibility: collapse;
}

.verticalAlignCenter
{
	vertical-align: center;
}

.highlight
{
	font-weight: bold;
}

