/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelTooltipBookTOC
{
	background-color: geistBookDarkColor;
	box-shadow: fill rgba(0, 0, 0, 0.35) 0px 0px 12px 4px;
	margin: 10px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
	flow-children: down;
	padding: 10px 20px;
	width: 360px;
}

CitadelTooltipBookTOC.TooltipVisible
{
	transition-duration: 0.1s;
	opacity: 1;
}

.Title
{
	font-size: 24px;
	width: 100%;
	text-align: center;
	margin-bottom: 12px;
	font-weight: bold;
}

.has_icon #Icon
{
	visibility: visible;
}

#Icon
{
	visibility: collapse;
	horizontal-align: center;
	width: 100%;
	border: 1px solid #aaaaaa;
}

.has_summary .Summary
{
	visibility: visible;
}

.Summary
{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: medium;
	visibility: collapse;
	opacity: 0.9;
}

CitadelTooltipBookTOC.is_locked
{
	background-color: #3A0000;
}

.is_locked .Locked
{
	visibility: visible;
}

.Locked
{
	visibility: collapse;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/upgrades/lock_icon_psd.vtex");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

