/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelTooltipAbilityDetails
{
	width: 560px;
	margin: 0px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
	flow-children: down;
	padding: 10px;
}

.wants_scoreboard CitadelTooltipAbilityDetails,.gDetailView CitadelTooltipAbilityDetails
{
	margin-bottom: 50px;
}

.TexturePanel2
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/tooltips/ability/ability_texture_layer_png.vtex");
	background-size: 100% 100%;
	img-shadow: 0px 0px 20px 3.0 #000000;
	wash-color: spiritBrightColor;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes 'textureShift2'
{
	0%
	{
		ui-scale: 80%;
	}
	
	100%
	{
		ui-scale: 100%;
	}
	
}

.TexturePanel
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/tooltips/ability/ability_tooltip_bg_png.vtex");
	background-size: 100% 100%;
	img-shadow: 0px 0px 20px 3.0 #000000;
	margin: 10px 0px;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes 'textureShift'
{
	0%
	{
		transform: skew(0deg);
	}
	
	100%
	{
		transform: skew(1deg);
	}
	
}

CitadelTooltipAbilityDetails.TooltipVisible
{
	transition-duration: 0.1s;
	opacity: 1;
}

AbilityDetailsPanel
{
	width: 100%;
}

.AbilityList
{
	flow-children: down;
	width: 100%;
}

.abilityUpgradesHeader
{
	horizontal-align: center;
	margin-top: 15px;
	font-weight: bold;
	opacity: 0.6;
	font-size: 14px;
	text-transform: uppercase;
}

#BottomHeader
{
	width: 100%;
	color: offWhite;
	padding-left: 20px;
	padding-top: 10px;
	font-family: "New Spirit Trial";
	font-weight: bold;
}

CitadelAbilityUpgradeList
{
	padding: 10px 8px 10px 20px;
	flow-children: up;
}

.AnnotationContainer
{
	visibility: collapse;
	width: 100%;
	padding: 5px;
	padding-left: 8px;
	background-color: buildsDarkColor;
	margin-top: 5px;
	max-height: 60px;
	horizontal-align: center;
}

.AnnotationContainer #AuthorAvatar
{
	vertical-align: top;
	width: 32px;
	height: 32px;
	margin: 3px;
	margin-right: 8px;
	visibility: collapse;
}

.AnnotationContainer Label
{
	vertical-align: center;
	color: offWhite;
	font-weight: semi-bold;
	font-size: 16px;
	text-overflow: shrink;
	horizontal-align: center;
}

.HasAnnotation .AnnotationContainer
{
	visibility: visible;
}

