/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.MinimapContents
{
	flow-children: down;
	min-width: 200px;
	vertical-align: center;
}

.Title
{
	horizontal-align: center;
	text-align: center;
	font-family: block;
	text-transform: uppercase;
	color: offWhite&88;
	margin-top: 8px;
	margin-bottom: 12px;
}

.Prompt
{
	flow-children: right;
	height: 28px;
	min-width: 80px;
	margin: 0px 12px;
	horizontal-align: center;
}

.Prompt.KeybindTitle
{
	font-weight: semi-bold;
	font-size: 14px;
	vertical-align: center;
	height: 24px;
	line-height: 16px;
	color: offWhite&88;
	margin: 2px 0px;
}

#Prompts
{
	flow-children: down;
	min-width: 160px;
}

