/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.PriorityTokenContents
{
	width: 400px;
}

.Title
{
	font-family: block;
	text-transform: uppercase;
	margin-top: 12px;
}

.Desc
{
	color: #999;
	font-size: 18px;
}

.StatusRow
{
	flow-children: right;
	margin: 12px 0px 12px 0px;
	visibility: collapse;
}

.StatusRow .TokenImage
{
	width: 62px;
	height: 62px;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/ultra_priority_token_psd.vtex");
	background-size: cover;
	border-radius: 50%;
}

.StatusRow .TokenImage Label
{
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.StatusRow .TokenImage #ProgressOverlay
{
	width: 100%;
	height: 100%;
	background-color: #000c;
	clip: radial( 50% 50%, 0deg, 120deg );
}

.StatusRow .StatusText
{
	vertical-align: middle;
	margin-left: 24px;
	font-size: 24px;
}

