/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelTooltipModDetails
{
	width: 450px;
	opacity: 0;
	font-family: sans;
	flow-children: down;
	margin-bottom: 10px;
	padding: 15px;
	z-index: 2;
}

.usingComponentGrouping #PrimaryTooltipContainer,.usingComponentGrouping CitadelTooltipModDetails.TooltipPositionRight #PrimaryTooltipContainer,.usingComponentGrouping CitadelTooltipModDetails.TooltipPositionLeft #PrimaryTooltipContainer
{
	flow-children: down;
}

CitadelTooltipModDetails.TooltipPositionRight #PrimaryTooltipContainer
{
	flow-children: right;
}

CitadelTooltipModDetails.TooltipPositionLeft #PrimaryTooltipContainer
{
	flow-children: left;
}

.usingComponentGrouping CitadelTooltipModDetails.HasModifiedAbilities
{
	width: 450px;
}

CitadelTooltipModDetails.HasModifiedAbilities
{
	width: 840px;
}

#ModTooltipContainer
{
	flow-children: down;
	width: 450px;
	border-radius: 8px;
	box-shadow: 0px 0px 20px #00000060;
	z-index: 2;
	background-size: cover;
}

.availableAsComponent #ModTooltipContainer,.hasComponents #ModTooltipContainer
{
	border-radius: 8px 8px 0px 0px;
}

.AttributesContainer
{
	background-color: #000000;
	background-img-opacity: 0.8;
}

.WeaponMod .AttributesContainer
{
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_bg_weapon_psd.vtex");
}

.ArmorMod .AttributesContainer
{
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_bg_vitality_psd.vtex");
}

.TechMod .AttributesContainer
{
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_bg_spirit_psd.vtex");
}

CitadelTooltipModDetails.TooltipVisible
{
	transition-duration: 0.1s;
	opacity: 1;
}

.HeaderContainer
{
	min-height: 96px;
	height: fit-children;
	flow-children: right;
}

.AttributeLineItem
{
	width: 100%;
	margin: 2px 0px;
}

.HeaderContainer
{
	padding: 0px 20px 0px 20px;
	width: 100%;
}

.ModNameContainer
{
	vertical-align: center;
	background-size: cover;
}

.WeaponMod .HeaderContainer
{
	background-color: weaponColorMedium;
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_header_weapon_psd.vtex");
}

.ArmorMod .HeaderContainer
{
	background-color: fortitudeColor;
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_header_vitality_psd.vtex");
}

.TechMod .HeaderContainer
{
	background-color: spiritColor;
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_header_spirit_psd.vtex");
}

.PassiveTierBonus
{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: center;
	margin-left: 10px;
	visibility: collapse;
}

#BonusLineItem .PassiveTierBonus
{
	visibility: visible;
}

.WeaponMod .PassiveTierBonus
{
	color: weaponColor;
}

.ArmorMod .PassiveTierBonus
{
	color: armorColor;
}

.TechMod .PassiveTierBonus
{
	color: techColor;
}

.HideImportantAttribute.NoAppliedStats .StatsAppliedBackground
{
	visibility: collapse;
}

.NoAppliedStats .StatsAppliedBackground
{
	horizontal-align: center;
}

.NoAppliedStats #ImportantAttributeContainer
{
	width:100%;
	horizontal-align: center;
}

.NoAppliedStats #StatsAppliedContainer
{
	visibility: collapse;
}

.AppliedAttributes,#AbilityTypeSection
{
	width: 100%;
	height: fit-children;
}

#AbilityTypeSection
{
	padding: 8px 14px 12px 14px;
}

.AppliedAttributesContainer
{
	width: 100%;
}

.StatsAppliedBackground
{
	width: 100%;
	border-radius: 5px;
	margin-top: 15px;
	flow-children: right;
	min-height: 80px;
}

.NoAppliedStats .StatsAppliedBackground
{
	min-height: 80px;
}

.HasMultipleImportantProperties .StatsAppliedBackground,.HasFourImportantProperties .StatsAppliedBackground
{
	flow-children: down;
}

.RemoveAttributesBackground .StatsAppliedBackground
{
	background-color: none;
}

.RemoveAttributesBackground #StatsAppliedContainer
{
	padding: 0px 0px;
}

.NoImportantAttributes .StatsAppliedBackground
{
	width: fit-children;
	horizontal-align: center;
	visibility: visible;
}

.HideImportantAttribute .StatsAppliedBackground
{
	min-height: 40px;
}

#AttributesSection_Innate .StatsAppliedBackground
{
	background-color: none;
	margin-top: 0px;
}

#StatsAppliedContainer
{
	width: 100%;
	padding: 10px 15px;
	flow-children: down;
	vertical-align: middle;
	background-color: #00000066;
	margin-left: 2px;
	min-height: 80px;
}

.ScalingStat #StatsAppliedContainer
{
	height: fit-children;
	min-height: 100px;
}

.HideImportantAttribute #StatsAppliedContainer
{
	background-color: #00000060;
	margin-left: 0px;
	min-height: 0px;
}

.HasMultipleImportantProperties #StatsAppliedContainer,.HasFourImportantProperties #StatsAppliedContainer
{
	flow-children: right-wrap;
	margin-top: 3px;
	margin-left: 0px;
	min-height: 0px;
}

#AttributesSection_Innate #StatsAppliedContainer
{
	background-color: #00000000;
}

.HasMultipleImportantProperties #StatsAppliedContainer CitadelModifiedAttributeLabel,.HasFourImportantProperties #StatsAppliedContainer CitadelModifiedAttributeLabel
{
	width: 49%;
	padding: 2px 0px;
}

.NoImportantAttributes #StatsAppliedContainer
{
	visibility: collapse;
}

#AttributesSection_Innate #StatsAppliedContainer
{
	padding: 0px 0px;
}

#StatsAppliedContainer Label
{
	font-size: 18px;
}

.CooldownHeader
{
	background-color: offBlack&50;
	height: 32px;
	width: 100%;
}

#AbilityType_Innate .CooldownHeader
{
	visibility: collapse;
}

#AbilityType_Active .CooldownHeader
{
	background-color: offBlack&aa;
}

#AbilityType_Passive .CooldownHeader
{
	background-color: offBlack&90;
}

.ActivePassiveLabel
{
	margin-right: 8px;
	font-weight: bold;
	vertical-align: middle;
	margin-left: 20px;
	margin-bottom: 2px;
}

#AbilityType_Passive .ActivePassiveLabel
{
	font-style: italic;
	font-weight: semi-bold;
	opacity: 0.5;
}

#AbilityType_Innate .ActivePassiveLabel
{
	font-style: italic;
	font-weight: semi-bold;
	opacity: 0.3;
}

.AttributeBonusValue
{
	margin-right: 5px;
}

.CooldownContainer,.ChargeUpContainer,.StacksContainer
{
	height: 100%;
	background-color: offBlack;
	padding: 0px 20px;
	visibility: collapse;
}

.StacksContainer
{
	background-color: offBlack&50;
	padding: 0px 20px 0px 15px;
}

.StacksDescLabel
{
	font-size: 16px;
	vertical-align: center;
	margin-right: 8px;
	opacity: 0.8;
	font-weight: semi-bold;
}

.hasCooldown .CooldownContainer
{
	visibility: visible;
}

.hasChargeUp .ChargeUpContainer
{
	visibility: visible;
}

.hasStacks .StacksContainer
{
	visibility: visible;
}

.CooldownImage
{
	height: 22px;
	width: 22px;
	background-image: url("s2r://panorama/images/upgrades/property_cooldown_large_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	vertical-align: center;
	margin-right: 5px;
}

.ChargeUpImage
{
	height: 22px;
	width: 22px;
	background-image: url("s2r://panorama/images/upgrades/property_chargeup_large_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	vertical-align: center;
	margin-right: 5px;
}

#CooldownLabel,#ChargeUpLabel,#StacksLabel
{
	margin-bottom: 1px;
	vertical-align: middle;
}

#CooldownLabel Label,#ChargeUplabel Label,#StacksLabel
{
	font-weight: bold;
}

.WeaponMod .StacksContainer
{
	wash-color: courageBrightColor&ea;
}

.ArmorMod .StacksContainer
{
	wash-color: fortitudeBrightColor&ea;
}

.TechMod .StacksContainer
{
	wash-color: spiritBrightColor&ea;
}

.ModName
{
	font-weight: bold;
	font-size: 28px;
	text-shadow: 2px 2px 0px #00000030;
	max-width: 300px;
	text-overflow: shrink;
}

.ModName.PropertySearchMatch
{
	animation-name: SearchHighlight;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.ModCost
{
	font-weight: bold;
	font-size: 20px;
	color: shardColor;
	vertical-align: middle;
}

.cantAfford .ModCost
{
	color: #ffa1a1;
}

.cantAfford .goldIcon
{
	wash-color: #ffa1a1;
}

.connectedToHeroTesting .cantAfford .ModCost
{
	color: shardColor;
}

.connectedToHeroTesting .cantAfford .goldIcon
{
	wash-color: shardColor;
}

.ModPurchasedLabel
{
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	color: #000000aa;
	margin-right: 3px;
	vertical-align: middle;
}

.ModPurchasedCheck
{
	width: 23px;
	height: 23px;
	background-image: url("s2r://panorama/images/shop/purchased_check_png.vtex");
	background-size: contain;
	vertical-align: middle;
}

.goldIcon
{
	width: 16px;
	height: 22px;
	margin-top: 3px;
}

.StatValue,.AttributeBonusValue
{
	font-weight: bold;
	margin-right: 10px;
	font-size: 19px;
	margin-top: -1.5px;
}

.AttributeBonusName,.ModInfoLabel
{
	font-size: 18px;
	line-height: 135%;
	font-weight: medium;
	color: #CDCDCD;
}

.HideDescription .ModInfoLabel
{
	visibility: collapse;
}

.ModInfoLabel .highlight
{
	font-weight: semi-bold;
	color: #F8F8F8;
}

.ModInfoLabel .diminish
{
	font-style: italic;
	color: #bfbbb090;
	font-weight: semi-bold;
	font-size: 15px;
}

.ModInfoLabel .spacer
{
	font-size: 8px;
	color: #ffffff00;
}

.ModInfoLabel .highlight_weapon,.ModInfoLabel .highlight_courage
{
	color: courageBrightColor;
	font-weight: bold;
}

.ModInfoLabel .highlight_tech,.ModInfoLabel .highlight_spirit
{
	color: spiritBrightColor;
	font-weight: bold;
}

.ModInfoLabel .highlight_armor,.ModInfoLabel .highlight_fortitude
{
	color: fortitudeBrightColor;
	font-weight: bold;
}

.ModInfoLabel .isNegative
{
	color: rgb(255, 106, 106);
	font-weight: bold;
}

.ModInfoLabel
{
	width: fill-parent-flow( 1.0 );
	vertical-align: top;
	color: #CDCDCD;
}

#AttributesSection_Innate .ModInfoLabel
{
	margin-bottom: 10px;
}

.ModInfoLabel.PropertySearchMatch
{
	animation-name: SearchHighlightDesc;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
}

@keyframes 'SearchHighlightDesc'
{
	0%
	{
		brightness: 1;
	}
	
	50%
	{
		brightness: 2;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

.ModInfoLabel .InlineGlyph
{
	width: 20px;
	height: 20px;
}

CitadelAltInfoPanel
{
	visibility: collapse;
}

.AffectedAbilitiesHeader,#AffectedAbilities
{
	width: 100%;
}

.AffectedAbilitiesHeader
{
	background-color: #a9a9a9;
	padding: 10px;
}

.WeaponMod .AffectedAbilitiesHeader
{
	background-color: weaponColorMedium;
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_modifies_header_weapon_psd.vtex");
}

.ArmorMod .AffectedAbilitiesHeader
{
	background-color: fortitudeColor;
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_modifies_header_vitality_psd.vtex");
}

.TechMod .AffectedAbilitiesHeader
{
	background-color: spiritColor;
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_modifies_header_spirit_psd.vtex");
}

.AffectedAbilitiesHeader Label
{
	font-weight: bold;
	color: offWhite;
	font-size: 18px;
}

.AffectedAbilitiesContainer
{
	width: 350px;
	border-radius: 0px 8px 8px 0px;
	margin-top: 9px;
}

.HeaderAttributesContainer
{
	flow-children: right;
	height: 100%;
	horizontal-align: right;
}

.AffectedAbilitiesTogglePanel
{
	visibility: collapse;
	flow-children: down;
	width: 100%;
	height: fit-children;
	background-color: #626262;
	box-shadow: 0px 0px 20px #00000060;
}

.gScoreboardOpen.HasModifiedAbilities .AffectedAbilitiesTogglePanel
{
	visibility: visible;
}

.usingComponentGrouping .AffectedAbilitiesContainer
{
	horizontal-align: center;
	margin-top: 10px;
}

#ViewImpactBox
{
	flow-children: down;
	visibility: collapse;
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: center;
	border: 2px solid #00000070;
	padding: 10px 10px;
	height: 80px;
	background-color: offBlack;
	animation-name: viewDetailsFlash;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

@keyframes 'viewDetailsFlash'
{
	0%
	{
		brightness: 1;
		background-img-opacity: 0.6;
	}
	
	50%
	{
		brightness: 1.2;
		opacity: 1;
		background-img-opacity: 1;
	}
	
	100%
	{
		brightness: 1;
		background-img-opacity: 0.6;
	}
	
}

#ViewImpactBox Label
{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 2px;
	text-shadow: 0px 0px 3px #000000;
}

.TooltipPositionRight #ViewImpactBox
{
	horizontal-align: left;
	border-radius: 0px 8px 8px 0px;
}

.impactBinding
{
	horizontal-align: center;
}

.HasModifiedAbilities #ViewImpactBox
{
	visibility: visible;
}

.gScoreboardOpen.HasModifiedAbilities #ViewImpactBox
{
	visibility: collapse;
}

.TooltipPositionLeft .AffectedAbilitiesContainer
{
	border-radius: 8px 0px 0px 8px;
}

CitadelTooltipModDetails.WeaponMod .AffectedAbilitiesTogglePanel
{
	background-color: courageDarkColor;
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_bg_modifies_weapon_psd.vtex");
	background-size: cover;
}

.WeaponMod #ViewImpactBox
{
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_modifies_header_weapon_psd.vtex");
}

CitadelTooltipModDetails.ArmorMod .AffectedAbilitiesTogglePanel
{
	background-color: fortitudeDarkColor;
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_bg_modifies_vitality_psd.vtex");
	background-size: cover;
}

.ArmorMod #ViewImpactBox
{
	background-color: fortitudeDarkColor;
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_modifies_header_vitality_psd.vtex");
}

CitadelTooltipModDetails.TechMod .AffectedAbilitiesTogglePanel
{
	background-color: spiritDarkColor;
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_bg_modifies_spirit_psd.vtex");
	background-size: cover;
}

.TechMod #ViewImpactBox
{
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_modifies_header_spirit_psd.vtex");
	brightness: 1.5;
}

#AffectedAbilities
{
	padding: 10px;
}

.HasModifiedAbilities .AffectedAbilitiesContainer
{
	z-index: 1;
}

.gScoreboardOpen .HasModifiedAbilities .AffectedAbilitiesContainer
{
	opacity: 1;
}

.usedAsComponent .AffectedAbilitiesContainer
{
	visibility: collapse;
}

#TierBonusContainer,.ImportantStatBox,.StatusEffectBox
{
	background-color: #00000060;
	vertical-align: center;
	width: 100%;
}

.HasFourImportantProperties .ImportantStatBox
{
	vertical-align: top;
}

.ImportantStatBox,.StatusEffectBox
{
	height: 100%;
}

.HasNoPlayer #TierBonusContainer
{
	visibility: collapse;
}

.HideStatsApplied .ImportantStatBox
{
	background-color: #00000070;
}

.ImportantStatBox
{
	height: 100%;
}

.ImportantStatContent
{
	flow-children: down;
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
}

.HideStatsApplied .ImportantStatContent
{
	flow-children: right;
	height: 100%;
	width: 100%;
}

#TierBonusContainer
{
	horizontal-align: right;
	ignore-parent-flow: true;
	width: 85px;
	visibility: collapse;
}

#ImportantAttributeContainer
{
	min-height: 80px;
	width: 130px;
	height: 100%;
}

.HasFourImportantProperties #ImportantAttributeContainer,.NoAppliedStats.HasFourImportantProperties #ImportantAttributeContainer
{
	flow-children: right-wrap;
	width: 100%;
	min-height: 140px;
	height: 140px;
}

.HasMultipleImportantProperties #ImportantAttributeContainer
{
	flow-children: right;
	width: 100%;
	height: fit-children;
}

.NoAppliedStats #ImportantAttributeContainer
{
	height: 100%;
}

.HasMultipleImportantProperties #ImportantAttribute
{
	width: fill-parent-flow( 1 );
}

.HasFourImportantProperties #ImportantAttribute
{
	width: 49%;
	height: 70px;
}

#ImportantAttribute
{
	height: 100%;
}

#ImportantAttribute.PropertySearchMatch
{
	animation-name: SearchHighlight;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	background-color: #ffffff00;
	animation-delay: 1s;
	background-color: rgba(255, 255, 151, 0.05);
}

@keyframes 'SearchHighlight'
{
	0%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1;
		brightness: 2;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

#ScalingStatValue
{
	horizontal-align: right;
	vertical-align: top;
	margin-right: 3px;
	ignore-parent-flow: true;
	ui-scale: 80%;
}

.HideImportantAttribute #ImportantAttributeContainer
{
	visibility: collapse;
}

.HasBoxedAttribute #ImportantAttributeContainer
{
	visibility: visible;
}

.HideStatsApplied #ImportantAttributeContainer
{
	width: 100%;
}

.ImportantStatImageValueContainer
{
	horizontal-align: center;
	margin-bottom: -5px;
}

.HideStatsApplied .ImportantStatImageValueContainer
{
	height: 100%;
	width: 100px;
	background-color: #000000AA;
	padding: 20px;
	margin-right: 30px;
}

#TierBonusValue,#ImportantStatValue
{
	color: white;
}

.ImportantStatLabelsContainer
{
	flow-children: down;
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
}

.HideStatsApplied .ImportantStatLabelsContainer
{
	horizontal-align: left;
}

.HideStatsApplied .ImportantStatLabelsContainer Label
{
	text-align: left;
}

.ModCostContainer,.IsPurchased .ModPurchasedContainer,.usedAsComponent .ModPurchasedContainer
{
	visibility: visible;
}

.IsPurchased .ModCostContainer,.usedAsComponent .ModCostContainer,.ModPurchasedContainer
{
	visibility: collapse;
}

.ImportantStatType
{
	horizontal-align: center;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	padding: 0px 2px;
	font-weight: medium;
	max-height: 40px;
	text-overflow: shrink;
}

.StatusEffectType
{
	horizontal-align: center;
	text-align: left;
}

.StatusEffectBulletDebuff
{
	text-align: left;
}

.StatusEffectType .ImportantStatType
{
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.prop_bullet_damage .ImportantStatType
{
	color: courageBrightColor;
	font-weight: semi-bold;
}

.prop_tech_damage .ImportantStatType
{
	color: spiritBrightColor;
	font-weight: semi-bold;
}

.prop_healing .ImportantStatType,.prop_health .ImportantStatType
{
	color: armorColor;
	font-weight: semi-bold;
}

.TierBonusLabel
{
	font-size: 12px;
	width: 100%;
	text-align: center;
	background-color: #00000055;
	padding-top: 2px;
	padding-bottom: 2px;
}

.ImportantStatLabel
{
	font-style: italic;
	font-weight: semi-bold;
	font-size: 16px;
	width: 100%;
	text-align: center;
	opacity: 0.3;
	text-overflow: shrink;
}

.HideStatLabel .ImportantStatLabel
{
	visibility: collapse;
}

.ImportantStatImage
{
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: center;
	margin-right: 3px;
}

.AttributesContainer,#SectionsContainer
{
	width: 100%;
	height: fit-children;
}

.HideStatsApplied .AttributesContainer
{
	flow-children: up;
}

.componentsSection
{
	width: 100%;
	max-width: 450px;
	flow-children: down;
	z-index: 100;
	visibility: collapse;
}

.hasComponents .componentsSection,.availableAsComponent .componentsSection,.usedAsComponent .componentsSection
{
	visibility: visible;
}

.TooltipPositionLeft .componentsSection
{
	horizontal-align: right;
}

.TooltipPositionLeft.HasModifiedAbilities .componentsSection
{
	margin-right: 10px;
}

.componentsSection .componentGroup
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
}

.componentsSection .componentGroup .componentsLabel
{
	color: #ffffff50;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
	background-color: offBlack;
	background-img-opacity: 0.5;
	padding: 4px 10px 2px 10px;
	width: 100%;
	text-align: left;
}

.WeaponMod .componentsSection .componentGroup .componentsLabel
{
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_bg_modifies_weapon_psd.vtex");
}

.ArmorMod .componentsSection .componentGroup .componentsLabel
{
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_bg_modifies_vitality_psd.vtex");
}

.TechMod .componentsSection .componentGroup .componentsLabel
{
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_bg_modifies_spirit_psd.vtex");
}

.componentsSection .componentGroup .componentsList
{
	width: 100%;
	flow-children: right-wrap;
	horizontal-align: left;
	padding: 0px 5px 5px 10px;
	background-color: offBlack;
	background-img-opacity: 0.5;
	border-radius: 0px 0px 5px 5px;
}

.WeaponMod .componentsSection .componentGroup .componentsList
{
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_bg_modifies_weapon_psd.vtex");
}

.ArmorMod .componentsSection .componentGroup .componentsList
{
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_bg_modifies_vitality_psd.vtex");
}

.TechMod .componentsSection .componentGroup .componentsList
{
	background-image: url("s2r://panorama/images/shop/catalog/catalog_tooltip_bg_modifies_spirit_psd.vtex");
}

#ComponentsContainer
{
	visibility: collapse;
}

.hasComponents #ComponentsContainer
{
	visibility: visible;
}

#ComponentOfContainer
{
	visibility: collapse;
}

.availableAsComponent #ComponentOfContainer
{
	visibility: visible;
}

#ComponentUsedContainer
{
	visibility: collapse;
}

.usedAsComponent #ComponentUsedContainer
{
	visibility: visible;
}

.componentMod
{
	flow-children: right;
	margin-right: 8px;
}

.componentMod .componentModIconContainer
{
	vertical-align: center;
	background-color: #009CB3;
	margin-right: 6px;
}

.componentMod .componentModIconContainer #componentModIcon
{
	width: 30px;
	height: 30px;
	vertical-align: center;
	opacity: 0.9;
}

.componentMod .componentModIconContainer .componentOwnedIcon
{
	width: 26px;
	height: 26px;
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateX(3px) translateY(3px);
	wash-color: fortitudeBrightColor;
	vertical-align: center;
	horizontal-align: middle;
	visibility: collapse;
	img-shadow: 0px 0px 0px 3.0 offBlack;
}

.componentMod .componentModName
{
	color: offWhite&90;
	font-weight: bold;
	max-width: 200px;
	text-overflow: shrink;
	font-size: 14px;
	vertical-align: middle;
}

.componentMod.componentOwned
{
	background-color: #00000050;
	opacity: 0.8;
}

.componentMod.componentOwned #componentModIcon
{
	opacity: 0.3;
	wash-color: offWhite;
}

.componentMod.componentOwned .componentOwnedIcon
{
	visibility: visible;
}

.componentMod.componentOwned .componentModName
{
	font-style: italic;
}

#OwnedByContainer
{
	visibility: collapse;
	width: 100%;
	height: fit-children;
	padding: 5px 2px 5px 2px;
	flow-children: right;
}

.OwnedByLabel
{
	margin-left: 10px;
	vertical-align: center;
}

.hero_icon
{
	height: 30px;
	width: 30px;
	margin-right: 10px;
	vertical-align: center;
}

#OwnedByList
{
	margin-left: 15px;
}

.BuildInfoContainer
{
	visibility: collapse;
	margin-left: 4px;
	width: 450px;
	padding: 5px;
	background-color: buildsDarkColor;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( buildsColor ), to( buildsDarkColor&ee ) );
	border: 2px solid buildsLightColor&50;
	flow-children: right;
	border-radius: 5px;
}

.TooltipPositionLeft .BuildInfoContainer
{
	horizontal-align: right;
	margin-right: 10px;
}

.TooltipPositionRight .BuildInfoContainer
{
	horizontal-align: left;
}

.HasNotes .BuildInfoContainer
{
	visibility: visible;
}

.BuildInfoContainer .NotesContainer
{
	flow-children: down;
	margin-left: 10px;
	vertical-align: center;
	horizontal-align: left;
}

#AuthorAvatar
{
	horizontal-align: left;
	vertical-align: center;
	width: 32px;
	height: 32px;
	margin: 3px;
	margin-right: 8px;
}

.ModifiesLabel
{
	max-height: 60px;
	flow-children: right;
	horizontal-align: left;
	visibility: collapse;
	horizontal-align: left;
	vertical-align: center;
	color: offWhite;
	font-weight: semi-bold;
	font-size: 16px;
	text-overflow: shrink;
	text-shadow: 0px 0px 3px #00000090;
}

.HasAnnotation .ModifiesLabel
{
	visibility: visible;
}

.BuildInfoLabel
{
	visibility: collapse;
}

.HasSellPriority .SellPriorityLabel
{
	visibility: visible;
}

.HasRequiredFlexSlots .RequiredFlexSlotsLabel
{
	visibility: visible;
}

.ImbueTargetContainer
{
	flow-children: right;
	visibility: collapse;
	horizontal-align: left;
}

.ImbueTargetContainer Label
{
	vertical-align: center;
	color: offWhite;
	font-weight: semi-bold;
	font-size: 16px;
	text-overflow: shrink;
	text-shadow: 0px 0px 3px #00000090;
}

.ImbueTargetContainer #ImbueTargetAbilityIcon
{
	ui-scale: 40%;
	margin-left: 5px;
	vertical-align: center;
}

.HasImbueTarget .ImbueTargetContainer
{
	visibility: visible;
}

.ImportantProperty1
{
	margin-right: 2px;
}

.ImportantProperty2
{
	margin-left: 2px;
}

.HasFourImportantProperties .ImportantProperty3,.HasFourImportantProperties .ImportantProperty4
{
	margin-top: 2px;
}

.HasFourImportantProperties .ImportantProperty3
{
	margin-left: 0px;
	margin-right: 2px;
}

.ImportantProperty3
{
	margin-left: 2px;
}

.ImportantProperty4
{
	margin-left: 2px;
}

