/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

CitadelUITextTooltip.newPlayersTooltip,CitadelUITextTooltip.heroLabsHeroTooltip
{
	padding-bottom: 0px;
}

.TextContents
{
	min-width: 80px;
	max-width: 350px;
	flow-children: down;
	max-height: 600px;
}

#TextLabel
{
	font-size: 18px;
	color: white;
	vertical-align: middle;
	text-overflow: ellipsis;
}

.GameModeTooltip #TextLabel
{
	font-size: 20px;
	color: white;
	horizontal-align: left;
	vertical-align: middle;
}

.BindingsTooltip #TextLabel
{
	font-weight: thin;
	color: #dddddd;
	font-size: 17px;
}

.ShortTextTooltip #TextLabel
{
	font-size: 20px;
	color: #c8c8c8;
	horizontal-align: left;
	vertical-align: middle;
	max-width: 400px;
}

.LongTextTooltip .TextContents
{
	max-width: 900px;
}

.rosterErrorText
{
	color: red;
}

.newPlayersTooltip.BottomArrowVisible #BottomArrow,.newPlayersTooltip.TopArrowVisible #TopArrow,.newPlayersTooltip.LeftArrowVisible #LeftArrow,.newPlayersTooltip.RightArrowVisible #RightArrow
{
	visibility: collapse;
}

.newPlayersTooltip
{
	padding: 0px;
	border: 0px;
	height: 40px;
	margin-bottom: 20px;
}

.newPlayersTooltip #Contents
{
	background-color: #87d316;
	padding: 5px;
	border: 0px;
	border-radius: 4px;
	box-shadow: 0px 0px 20px #00000090;
}

.newPlayersTooltip #TextLabel
{
	color: #222;
	font-weight: bold;
	padding: 0px 8px;
	font-size: 18px;
}

.heroLabsHeroTooltip.BottomArrowVisible #BottomArrow,.heroLabsHeroTooltip.TopArrowVisible #TopArrow,.heroLabsHeroTooltip.LeftArrowVisible #LeftArrow,.heroLabsHeroTooltip.RightArrowVisible #RightArrow
{
	visibility: collapse;
}

.heroLabsHeroTooltip
{
	padding: 0px;
	border: 0px;
	height: 40px;
	margin-bottom: 20px;
}

.heroLabsHeroTooltip #Contents
{
	background-color: #d36c16;
	padding: 5px;
	border: 0px;
	border-radius: 4px;
	box-shadow: 0px 0px 20px #00000090;
}

.heroLabsHeroTooltip #TextLabel
{
	color: #ddd;
	font-weight: bold;
	padding: 0px 8px;
	font-size: 18px;
}

@keyframes 'FlashErrorLabel'
{
	0%
	{
		color: #FF410D;
	}
	
	25%
	{
		color: white;
	}
	
	50%
	{
		color: #FF410D;
	}
	
	75%
	{
		color: white;
	}
	
	100%
	{
		color: #FF410D;
	}
	
}

.shopMessage.failedToBuy #TextLabel
{
	animation-name: FlashErrorLabel;
	animation-duration: 1s;
	animation-iteration-count: 2;
}

