/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelObjectivesTooltip
{
	width: 350px;
	height: 350px;
	margin-left: 10px;
	visibility: collapse;
	background-color: black;
	padding: 20px;
}

CitadelObjectivesTooltip.TooltipVisible
{
	visibility: visible;
}

#objectives
{
	width: 100%;
	height: 100%;
}

