/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

#Contents.HoverTooltipContents
{
	background-color: transparent;
	border: 0px solid transparent;
	padding: 0px;
	flow-children: none;
	box-shadow: none;
	world-blur: none;
	border-radius: 0px;
}

#HeroCardHoverFX
{
	width: 404px;
	height: 550px;
	wash-color: offWhite;
	brightness: 1;
	animation-name: cardPulse;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.InRoster #HeroCardHoverFX
{
	brightness: 1;
}

.InRoster_Priority #HeroCardHoverFX
{
	brightness: 1.5;
}

.InRoster_HighPriority #HeroCardHoverFX
{
	brightness: 2;
}

@keyframes 'flame_burn'
{
	0%
	{
		brightness: 3;
	}
	
	50%
	{
		brightness: 6;
	}
	
	100%
	{
		brightness: 3;
	}
	
}

#HeroCard
{
	border-radius: 2px;
	width: 80px;
	height: 120px;
	ui-scale: 150%;
	vertical-align: middle;
	horizontal-align: middle;
	overflow: noclip;
	padding: 10px;
	animation-name: cardPulse;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.hero_atlas .InRoster #HeroCard
{
	wash-color: abramsColor;
}

.hero_bebop .InRoster #HeroCard
{
	wash-color: bebopColor;
}

.hero_bookworm .InRoster #HeroCard
{
	wash-color: bookwormColor;
}

.hero_nano .InRoster #HeroCard
{
	wash-color: nanoColor;
}

.hero_doorman .InRoster #HeroCard
{
	wash-color: doormanColor;
}

.hero_drifter .InRoster #HeroCard
{
	wash-color: drifterColor;
}

.hero_dynamo .InRoster #HeroCard
{
	wash-color: dynamoColor;
}

.hero_frank .InRoster #HeroCard
{
	wash-color: frankColor;
}

.hero_orion .InRoster #HeroCard
{
	wash-color: orionColor;
}

.hero_haze .InRoster #HeroCard
{
	wash-color: hazeColor;
}

.hero_astro .InRoster #HeroCard
{
	wash-color: astroColor;
}

.hero_inferno .InRoster #HeroCard
{
	wash-color: infernoColor;
}

.hero_tengu .InRoster #HeroCard
{
	wash-color: tenguColor;
}

.hero_kelvin .InRoster #HeroCard
{
	wash-color: kelvinColor;
}

.hero_ghost .InRoster #HeroCard
{
	wash-color: ghostColor;
}

.hero_lash .InRoster #HeroCard
{
	wash-color: lashColor;
}

.hero_forge .InRoster #HeroCard
{
	wash-color: forgeColor;
}

.hero_mirage .InRoster #HeroCard
{
	wash-color: mirageColor;
}

.hero_krill .InRoster #HeroCard
{
	wash-color: krillColor;
}

.hero_chrono .InRoster #HeroCard
{
	wash-color: chronoColor;
}

.hero_synth .InRoster #HeroCard
{
	wash-color: synthColor;
}

.hero_priest .InRoster #HeroCard
{
	wash-color: priestColor;
}

.hero_punkgoat .InRoster #HeroCard
{
	wash-color: punkgoatColor;
}

.hero_gigawatt .InRoster #HeroCard
{
	wash-color: gigawattColor;
}

.hero_shiv .InRoster #HeroCard
{
	wash-color: shivColor;
}

.hero_magician .InRoster #HeroCard
{
	wash-color: magicianColor;
}

.hero_vampirebat .InRoster #HeroCard
{
	wash-color: vampirebatColor;
}

.hero_hornet .InRoster #HeroCard
{
	wash-color: hornetColor;
}

.hero_viscous .InRoster #HeroCard
{
	wash-color: viscousColor;
}

.hero_viper .InRoster #HeroCard
{
	wash-color: viperColor;
}

.hero_warden .InRoster #HeroCard
{
	wash-color: wardenColor;
}

.hero_wraith .InRoster #HeroCard
{
	wash-color: wraithColor;
}

.hero_yamato .InRoster #HeroCard
{
	wash-color: yamatoColor;
}

#HeroBG
{
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

.InRoster #HeroBG
{
	background-color: offWhite;
}

.InRoster_Priority #HeroBG
{
	background-color: #74ddb3;
}

.InRoster_HighPriority #HeroBG
{
	background-color: #33e59f;
}

#CardBacker
{
	width: 100%;
	height: 100%;
	wash-color: #80706d;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/card_backer_psd.vtex");
	background-size: contain;
}

.InRoster #CardBacker
{
	wash-color: #d4d4d4;
}

.InRoster_Priority #CardBacker
{
	wash-color: #74ddb3;
}

.InRoster_HighPriority #CardBacker
{
	wash-color: #33e59f;
}

#HeroImage
{
	width: 100% - 5px;
	height: 100% - 5px;
}

@keyframes 'cardPulse'
{
	0%
	{
		transform: rotateZ(-5deg);
	}
	
	40%
	{
		transform: rotateZ(5deg);
	}
	
	100%
	{
		transform: rotateZ(-5deg);
	}
	
}

.InRoster #HeroCard
{
	animation-name: addRoster;
	animation-iteration-count: 1;
	animation-duration: 0.2s;
}

@keyframes 'addRoster'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	50%
	{
		pre-transform-scale2d: 1.2;
		transform: rotateZ(2deg);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
}

.InRoster_Priority #HeroCard
{
	animation-name: addPriority;
	animation-iteration-count: 1;
	animation-duration: 0.3s;
}

@keyframes 'addPriority'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	25%
	{
		pre-transform-scale2d: 1.2;
		transform: rotateZ(-10deg);
	}
	
	75%
	{
		pre-transform-scale2d: 1.2;
		transform: rotateZ(10deg);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
}

.InRoster_HighPriority #HeroCard
{
	animation-name: addHighPriority;
	animation-iteration-count: 1;
	animation-duration: 0.3s;
}

@keyframes 'addHighPriority'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
	25%
	{
		pre-transform-scale2d: 1.4;
		transform: rotateZ(-10deg);
	}
	
	75%
	{
		pre-transform-scale2d: 1.4;
		transform: rotateZ(10deg);
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		transform: rotateZ(0deg);
	}
	
}

#RosterStatus
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 190px;
	margin-left: -40px;
	flow-children: right;
}

#RosterStatus Label
{
	font-family: block;
	text-shadow: 0px 0px 0px 5.0 offBlack;
	font-size: 16px;
	padding: 1px 3px;
}

#RosterStatus .inRoster
{
	visibility: collapse;
	text-transform: lowercase;
}

.InRoster #RosterStatus .inRoster
{
	visibility: visible;
}

#RosterStatus .priority
{
	visibility: collapse;
	color: #9bf4d1;
	text-transform: lowercase;
}

.InRoster_Priority #RosterStatus .priority
{
	visibility: visible;
}

#RosterStatus .highPriority
{
	visibility: collapse;
	color: #5efebe;
	text-transform: lowercase;
}

.InRoster_HighPriority #RosterStatus .highPriority
{
	visibility: visible;
}

.InRoster_Priority #RosterStatus
{
	animation-name: TagGroove2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.InRoster_HighPriority #RosterStatus
{
	animation-name: TagGroove3;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	margin-left: 0px;
}

#SelectedState
{
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

#CardShape
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/card_border_psd.vtex");
	background-size: 100% 100%;
	wash-color: #7A7979;
}

.InRoster #CardShape
{
	wash-color: #d4d4d4;
}

.InRoster_Priority #CardShape
{
	wash-color: #74ddb3;
}

.InRoster_HighPriority #CardShape
{
	wash-color: #33e59f;
}

.InRoster_PriorityToken #CardShape
{
	wash-color: #dab5ff;
}

#Starred
{
	width: 20px;
	height: 10px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	wash-color: shardColor;
	visibility: collapse;
	margin-right: 0px;
	animation-name: cardPulse;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.InRoster_Priority #Starred
{
	visibility: visible;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/priority_png.vtex");
	img-shadow: 0px 0px 3.0 #000000;
}

.InRoster_HighPriority #Starred
{
	visibility: visible;
	width: 22px;
	height: 20px;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/priority_high_png.vtex");
	img-shadow: 0px 0px 3.0 #000000;
}

@keyframes 'TagGroove1'
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(2deg);
	}
	
	50%
	{
		transform: rotateZ(2deg);
	}
	
	51%
	{
		transform: rotateZ(-1deg);
	}
	
	75%
	{
		transform: rotateZ(-1deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

@keyframes 'TagGroove2'
{
	0%
	{
		transform: rotateZ(4deg);
	}
	
	25%
	{
		transform: rotateZ(4deg);
	}
	
	26%
	{
		transform: rotateZ(-1deg);
	}
	
	50%
	{
		transform: rotateZ(-1deg);
	}
	
	51%
	{
		transform: rotateZ(0deg);
	}
	
	75%
	{
		transform: rotateZ(0deg);
	}
	
	76%
	{
		transform: rotateZ(2deg);
	}
	
	100%
	{
		transform: rotateZ(2deg);
	}
	
}

@keyframes 'TagGroove3'
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(-1deg);
	}
	
	50%
	{
		transform: rotateZ(-1deg);
	}
	
	51%
	{
		transform: rotateZ(2deg);
	}
	
	75%
	{
		transform: rotateZ(2deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

.LockedHeroIcon
{
	width: 25px;
	height: 25px;
	horizontal-align: right;
	vertical-align: bottom;
	ignore-parent-flow: true;
	background-size: contain;
	margin-top: 2px;
	padding: 0px 0px 3px 0px;
	opacity: 1;
	visibility: collapse;
}

.prereleaseOnly .LockedHeroIcon
{
	visibility: visible;
}

.LockIcon
{
	width: 16px;
	height: 30px;
	background-image: url("s2r://panorama/images/control_icons/lock_medium_png.vtex");
	background-size: contain;
	wash-color: offWhite;
	img-shadow: 0px 0px 10px #000000ee;
	opacity: 0.6;
	margin-top: 2px;
	background-position: center;
	horizontal-align: center;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.PriorityToken
{
	width: 50px;
	height: 50px;
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/ultra_priority_token_psd.vtex");
	background-size: cover;
	border-radius: 50%;
	vertical-align: bottom;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 190px;
	margin-left: -50px;
	visibility: collapse;
}

.PriorityToken Label
{
	vertical-align: middle;
	text-overflow: shrink;
	width: 100%;
	text-align: center;
}

.InRoster_PriorityToken .PriorityToken
{
	visibility: visible;
}

