/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelPlayerLevelDisplayTooltip
{
	width: fit-children;
	height: 900px;
	visibility: collapse;
	margin-left: 10px;
	border-radius: 5px;
	margin: 10px;
}

CitadelPlayerLevelDisplayTooltip.TooltipVisible
{
	visibility: visible;
}

