/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.TooltipContainer #Contents.RosterSelectHeroContents
{
	margin-left: 30px;
	padding: 12px 12px 10px 12px;
	border: 0px solid transparent;
	border-radius: 0px;
	background-color: transparent;
}

.Controls
{
	height: fit-children;
	border: 1px solid rgba(255, 255, 255, 0.025);
	border-radius: 8px;
	background-color: #181716ee;
	flow-children: down;
	padding: 12px 12px 10px 12px;
}

.Controls .Row
{
	flow-children: right;
	margin-bottom: 2px;
}

.Controls .Row CitadelBinding
{
	margin-right: 8px;
	vertical-align: middle;
}

.Controls .Row Label
{
	vertical-align: middle;
	font-weight: semi-bold;
}

.AddToRoster
{
	visibility: collapse;
}

.Banned .AddToRoster,.NotInRoster .AddToRoster
{
	visibility: visible;
}

.RemoveFromRoster
{
	visibility: visible;
}

.Banned .RemoveFromRoster,.NotInRoster .RemoveFromRoster
{
	visibility: collapse;
}

.MakePriority
{
	visibility: collapse;
}

.InRoster .MakePriority
{
	visibility: visible;
}

.MakeHighPriority
{
	visibility: collapse;
}

.InRoster_Priority .MakeHighPriority
{
	visibility: visible;
}

.ClearPriority
{
	visibility: collapse;
}

.InRoster_HighPriority .ClearPriority
{
	visibility: visible;
}

.MakeBanned
{
	visibility: collapse;
}

.AllowBans .MakeBanned
{
	visibility: visible;
}

.Banned .MakeBanned
{
	visibility: collapse;
}

.HeroBanNotAllowed_NewHero .MakeBanned
{
	visibility: visible;
	wash-color: #666;
}

.HeroBanNotAllowed_NewHero .MakeBanned Label
{
	color: offWhite;
}

.ClearBan
{
	visibility: collapse;
}

.AllowBans.Banned .ClearBan
{
	visibility: visible;
}

.NewHeroInvalidBan
{
	visibility: collapse;
}

.NewHeroInvalidBan Label
{
	color: #666;
	font-size: 14px;
	margin-top: 5px;
	font-style: italic;
}

.HeroBanNotAllowed_NewHero .NewHeroInvalidBan
{
	visibility: visible;
}

.BannedWarning
{
	margin-top: 12px;
	border: 1px solid rgba(255, 255, 255, 0.025);
	border-radius: 8px;
	background-color: #660000f1;
	flow-children: down;
	padding: 10px 12px;
	max-width: 300px;
	visibility: collapse;
}

.AllowBans.Banned .BannedWarning
{
	visibility: visible;
}

.BannedWarning .BannedWarningTitle
{
	font-family: oracle;
	text-transform: uppercase;
	font-weight: bold;
	color: offWhite;
}

.BannedWarning .BannedWarningDesc
{
	color: offWhite&66;
	font-size: 16px;
	font-weight: medium;
}

