/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#Contents.SpiritStatTooltip
{
	padding: 0px;
	background-color: #322537;
}

.SpiritStatTooltip
{
	width: 400px;
	padding: 0px;
	border-radius: 8px;
}

.SpiritStatTooltip Label.spirit_color
{
	color: spiritBrightColor;
}

.SpiritStatTooltip .SpiritStatUpper
{
	flow-children:down;
	width: 100%;
	padding: 10px 20px 0px 20px;
}

.SpiritStatTooltip .SpiritStatUpper .SpiritStatHeader
{
	width: 100%;
	flow-children: right;
	margin-bottom: 8px;
}

.SpiritStatTooltip .SpiritStatUpper .SpiritStatHeader .SpiritStatLogo
{
	width: 28px;
	height: 28px;
	background-image: url("s2r://panorama/images/shop/keystat_spirit_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

.SpiritStatTooltip .SpiritStatUpper .SpiritStatHeader .SpiritStatTitle
{
	margin-left: 8px;
	font-size: 20px;
	vertical-align: center;
	color: spiritLightColor;
	font-weight: bold;
}

.SpiritStatTooltip .SpiritStatUpper .SpiritStatDesc
{
	font-weight: semi-bold;
}

.SpiritStatTooltip .SpiritStatUpper .SpiritStatDesc .spirit_color
{
	color: spiritLightColor;
	font-weight: semi-bold;
}

.SpiritStatTooltip .SpiritStatLower
{
	width: 100%;
	flow-children: right;
	margin-top: 20px;
	padding: 10px;
	background-color: #00000090;
	padding: 15px 20px 15px 20px;
}

.SpiritStatTooltip .SpiritStatLower Label
{
	vertical-align: middle;
	font-weight: semi-bold;
	font-size: 17px;
	margin-right: 10px;
	width: fill-parent-flow(1.0);
}

.SpiritStatTooltip .SpiritStatLower .SpiritStatExample
{
	horizontal-align: right;
	width: 120px;
	height: 60px;
	background-image: url("s2r://panorama/images/npe/spirit_explainer_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

