/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.PartyCodeContents
{
	flow-children: down;
	min-width: 200px;
	vertical-align: center;
}

.Prompt
{
	flow-children: right;
	height: 28px;
	min-width: 80px;
	margin: 0px 12px;
	horizontal-align: center;
	margin-top: 2px;
}

.Prompt Label
{
	font-family: block;
	color: offWhite&44;
	margin-left: 4px;
	min-width: 60px;
	vertical-align: center;
}

#CopyBinding
{
	vertical-align: center;
}

#Prompts
{
	flow-children: down;
	min-width: 160px;
}

