/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHeroStatsTooltip
{
	width: fit-children;
	height: fit-children;
	visibility: collapse;
	background-color: rgba(26,26,26, 1);
}

CitadelHeroStatsTooltip.TooltipVisible
{
	visibility: visible;
}

#HeroStatsTooltip
{
	flow-children: down;
	height: fit-children;
	width: 520px;
	margin: 16px;
	horizontal-align: center;
}

