/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelCreepGoldTooltip
{
	width: fit-children;
	height: fit-children;
	visibility: collapse;
	background-color: rgba(26,26,26, 1);
}

#CreepStatsContainer
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	horizontal-align: center;
	width: fit-children;
	margin-bottom: 15px;
}

.creepStatsTitle
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	horizontal-align: center;
	font-size: 26px;
	margin-bottom: 60px;
}

.creepStat
{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 15px;
}

.creepStat Label
{
	horizontal-align: center;
}

