/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

#Contents
{
	flow-children: down;
}

#AwardImage
{
	height: 35px;
	width: 35px;
	background-size: 100% 100%;
}

.awardType
{
	vertical-align: center;
	margin-left: 5px;
}

