/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#Contents
{
	flow-children: down;
	font-family: sansMono;
	background-color: #232323;
	padding: 0px;
	min-width: 100px;
}

.TopFormulaContainer
{
	horizontal-align: center;
	padding: 7px 20px;
}

.BottomFormulaContainer
{
	horizontal-align: center;
	background-color: #000000aa;
	padding: 6px 20px;
}

.ScaleAddition,.ScalingValue,.ScalingStatImage,.ModsAddition,.ModsValue
{
	visibility: collapse;
}

.HasScaledValue .ScaleAddition,.HasScaledValue .ScalingValue,.HasScaledValue .ScalingStatImage,.HasModsValue .ModsAddition,.HasModsValue .ModsValue
{
	visibility: visible;
}

.SpiritStat .ScalingStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_spirit.vsvg");
	wash-color: spiritBrightColor;
}

.CourageStat .ScalingStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_courage.vsvg");
	wash-color: courageBrightColor;
}

.FortitudeStat .ScalingStatImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude.vsvg");
	wash-color: fortitudeBrightColor;
}

.ModsValue
{
	color: #ffffff80;
}

.ScalingStatImage
{
	height: 14px;
	width: 14px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: center;
}

.TopFormulaContainer Label
{
	font-weight: bold;
	font-size: 20px;
}

.BottomFormulaContainer Label
{
	font-size: 15px;
}

.BottomFormulaContainer .ScalingValue
{
	font-weight: medium;
	opacity: 0.6;
	color: #999;
}

.BottomFormulaContainer .CurrentStatValue
{
	font-weight: bold;
}

.BottomFormulaContainer .FormulaBaseLabel
{
	color: #ffffff;
	font-weight: medium;
	font-family: sans;
	opacity: 0.8;
}

.AdditionLabel
{
	margin: 3px 1px 0px 1px;
	font-weight: normal;
	font-family: sans;
	opacity: 0.2;
}

.CourageStat .CurrentStatValue
{
	color: courageBrightColor;
}

.FortitudeStat .CurrentStatValue
{
	color: fortitudeBrightColor;
}

.SpiritStat .CurrentStatValue
{
	color: spiritBrightColor;
}

