/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

#PostGameHealing
{
	flow-children: down;
}

.stat_row
{
	flow-children: right;
	height: 32px;
}

.stat_row .description
{
	vertical-align: center;
	font-size: 20px;
	font-weight: normal;
	width: 150px;
	margin-right: 10px;
	text-overflow: shrink;
}

.stat_row .value
{
	vertical-align: center;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	width: 80px;
	text-overflow: shrink;
}

