/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

#Contents.StatsPanelTooltipContents
{
	flow-children: right;
}

#WeaponStats,#ArmorStats,#TechStats
{
	width: 520px;
	flow-children: down;
	border-radius: 10px;
	padding-top: 0px;
	padding: 0px;
}

