/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

#CustomHeroBackground
{
	opacity: 0.3;
	wash-color: abramsColor;
}

#CustomHeroBackground #HeroBackground
{
	background-color: #575757;
	width: 100%;
	height: 100%;
}

#CustomHeroBackground #Section1
{
	background-image: url("s2r://panorama/images/heroes/backgrounds/test/mask_nw_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: 10;
	animation-name: section1Anim;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

#CustomHeroBackground #Section2
{
	background-image: url("s2r://panorama/images/heroes/backgrounds/test/mask_center_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: 10;
	animation-name: section2Anim;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

#CustomHeroBackground #Section3
{
	background-image: url("s2r://panorama/images/heroes/backgrounds/test/mask_bottom_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	animation-name: section3Anim;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

#CustomHeroBackground #Section4
{
	background-image: url("s2r://panorama/images/heroes/backgrounds/test/mask_ne_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	animation-name: section1Anim;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

@keyframes 'section1Anim'
{
	0%
	{
		transform: rotateZ(0deg) skew(2deg);
	}
	
	20%
	{
		pre-transform-scale2d: 1;
	}
	
	40%
	{
		pre-transform-scale2d: 1.01;
	}
	
	60%
	{
		pre-transform-scale2d: 1;
		transform: skew(-2deg);
	}
	
	80%
	{
		pre-transform-scale2d: 1.01;
	}
	
	100%
	{
		transform: rotateZ(0deg) skew(2deg);
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'section2Anim'
{
	0%
	{
		transform: rotateZ(0deg) skew(2deg);
	}
	
	20%
	{
		pre-transform-scale2d: 1;
	}
	
	40%
	{
		pre-transform-scale2d: 1.02;
	}
	
	60%
	{
		pre-transform-scale2d: 1;
		transform: skew(2deg);
	}
	
	80%
	{
		pre-transform-scale2d: 1.02;
	}
	
	100%
	{
		transform: rotateZ(0deg) skew(2deg);
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'section3Anim'
{
	0%
	{
		transform: rotateZ(0deg) skew(-2deg);
	}
	
	20%
	{
		pre-transform-scale2d: 1;
	}
	
	40%
	{
		pre-transform-scale2d: 1.03;
	}
	
	60%
	{
		pre-transform-scale2d: 1;
		transform: skew(2deg);
	}
	
	80%
	{
		pre-transform-scale2d: 1.03;
	}
	
	100%
	{
		transform: rotateZ(0deg) skew(-2deg);
		pre-transform-scale2d: 1;
	}
	
}

