/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.playOfTheGameContainer
{
	width: 100%;
	height: 100%;
}

#HudPlayOfTheGame
{
	ui-scale: 100% 100% 100%;
	width: 100%;
	height: 100%;
}

.playOfTheGameIntroTextContainer
{
	flow-children: down;
	width: 100%;
	height: fit-children;
	vertical-align: center;
	horizontal-align: center;
}

.playOfTheGameTextHeader
{
	width: 100%;
	vertical-align: top;
	horizontal-align: center;
	margin-left: 30px;
	font-size: 40px;
	text-align: left;
}

.playOfTheGameIntroText
{
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	margin: 30px;
	font-size: 30px;
}

.playOfTheGameIntroLogo
{
	vertical-align: center;
	horizontal-align: center;
	width: 130px;
	height: 130px;
}

.replayIntroBG
{
	width: 100%;
	height: 100%;
	background-color: #000000ff;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: linear;
	background-image: url("s2r://panorama/images/textures/bg_smoke_psd.vtex");
}

.replayIntroStart
{
	opacity: 1;
}

.replayStart
{
	opacity: 0;
}

.replayOutroStart
{
	opacity: 1;
}

.calloutContainer
{
	margin-left: 100px;
	margin-top: 100px;
	horizontal-align: left;
	vertical-align: top;
	visibility: collapse;
	opacity: 0;
}

.calloutMinorContainer
{
	margin-right: 100px;
	margin-bottom: 100px;
	horizontal-align: right;
	vertical-align: bottom;
	visibility: collapse;
	opacity: 0;
}

#PlayerHighlightContainer
{
	width: 50%;
	height: 50%;
	margin-left: 100px;
	horizontal-align: left;
	vertical-align: center;
	flow-children: down;
}

.topPlayerLabel
{
	margin: 10px;
	margin-left: 15px;
	font-size: 30px;
	color: goldColor;
	pre-transform-rotate2d: -7deg;
}

.playerLabel
{
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
}

.playerHighlight
{
	width: 400px;
	height: 130px;
	margin: 10px;
}

.playerHighlightSmall
{
	background-color: colorCommonDarkestGray;
}

.playerHighlightLarge
{
	background-color: colorCommonDarkGray;
	width: 550px;
	height: 160px;
}

#PlayOfTheGameHeroCalloutLogo
{
	width: 100%;
	height: 100%;
}

.playerCalloutTextContainer
{
	width: 100%;
	height: fit-children;
	background-color: gradient( linear, 75% 0%, 100% 0%, from( #111111 ), to( #4d586000 ) );
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
}

.playerCalloutContainer
{
	width: 450px;
	height: 150px;
	vertical-align: bottom;
	horizontal-align: left;
	margin-left: 200px;
	margin-bottom: 300px;
	flow-children: right;
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.05s;
	transition-timing-function: linear;
}

#PlayOfTheGamePlayerCalloutBadge
{
	width: 130px;
	height: 130px;
	box-shadow: #00000055 0px 0px 4px 0px ;
}

.showCallout
{
	visibility: visible;
	opacity: 1;
}

