/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelHudReplay
{
	width: 272px;
}

CitadelHudReplay.Hidden
{
	visibility: collapse;
}

#SpectatorOptionsContainer
{
	width: 100%;
	transition-property: transform;
	transition-duration: 0.15s;
}

#SpectatorOptionsContainer.Hidden
{
	transform: translateX(272px);
}

#PlaybackControls
{
	flow-children: down;
	padding: 8px;
	width: 100%;
	transition-property: background-color;
	transition-duration: 0.2s;
	background-color: #252727ee;
	transition-property: background-color;
	transition-duration: 0.15s;
}

#PlaybackControls.ShowExpandedPlaybackControls
{
	background-color: #454747ee;
}

#MainPlaybackControls
{
	flow-children: right;
	width: 100%;
}

.PlayControls
{
	width: fit-children;
	flow-children: right;
	vertical-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

#ExpandedPlaybackControls
{
	flow-children: down;
	width: 100%;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.ShowExpandedPlaybackControls #ExpandedPlaybackControls,#PlaybackControls.ShowExpandedPlaybackControls
{
	visibility: visible;
}

.SpeedControls
{
	flow-children: right;
	horizontal-align: center;
}

.BottomControlLabel
{
	color: #535F73;
	font-weight: bold;
	font-size: 14px;
	margin-top: 1px;
	visibility: collapse;
}

#PlayButton
{
	width: 44px;
	height: 44px;
	vertical-align: middle;
	horizontal-align: center;
	background-color: #576886aa;
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin: 0px 5px 0px 5px;
	transition-property: background-color, wash-color;
	transition-duration: 0.15s;
}

#PlayButton:hover
{
	background-color: #556683dd;
}

#PlayButton:active
{
	brightness: 0.5;
}

#PlayButton.Play .PlayButtonIcon
{
	background-image: url("s2r://panorama/images/hud/replay/play_icon_psd.vtex");
}

#PlayButton.Pause .PlayButtonIcon
{
	background-image: url("s2r://panorama/images/hud/replay/pause_icon_psd.vtex");
}

.PlayButtonIcon
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	horizontal-align: center;
	wash-color: #8199C5;
	width: 24px;
	height: 24px;
	transition-property: background-color, wash-color, background-image;
	transition-duration: 0.15s;
}

#PlayButton:hover .PlayButtonIcon
{
	wash-color: #e9eaec;
}

.JumpButton
{
	margin: 0px 5px 0px 5px;
	vertical-align: middle;
	background-color: #576886bb;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	tooltip-position: bottom;
	tooltip-body-position: 50% 50%;
	transition-property: background-color, wash-color;
	transition-duration: 0.15s;
}

.JumpButton:hover
{
	background-color: #556683dd;
}

.JumpButton:active
{
	brightness: 0.5;
}

.PlaybackIsLive #SkipForward1Button,.PlaybackIsLive #SkipForward2Button
{
	saturation: 0.8;
	brightness: 0.5;
	wash-color: #a2c0f744;
}

.PlaybackIsLive #SkipForward1Button:hover .JumpButtonIcon,.PlaybackIsLive #SkipForward2Button:hover .JumpButtonIcon,.PlaybackIsLive #SkipForward1Button:hover .JumpButtonNumber,.PlaybackIsLive #SkipForward2Button:hover .JumpButtonNumber
{
	wash-color: #8199C5;
}

.PlaybackIsLive #SkipForward1Button:hover,.PlaybackIsLive #SkipForward2Button:hover
{
	background-color: #556683bb;
}

.ShowNumber .JumpButtonNumber,.JumpButtonIcon
{
	vertical-align: middle;
	horizontal-align: center;
	wash-color: #8199C5;
	width: 18px;
	height: 18px;
	font-weight: bold;
	color: #e3eafa;
	transition-property: background-color, wash-color;
	transition-duration: 0.15s;
}

.JumpButtonIcon
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ShowNumber .JumpButtonNumber
{
	width: 32px;
	font-size: 14px;
	text-align: center;
}

.JumpButton:hover .JumpButtonNumber,.JumpButton:hover .JumpButtonIcon
{
	wash-color: #e9eaec;
}

.ShowNumber .JumpButtonIcon,.JumpButtonNumber
{
	visibility: collapse;
}

.JumpButtonIcon,.ShowNumber .JumpButtonNumber
{
	visibility: visible;
}

#SkipBackward2
{
	background-image: url("s2r://panorama/images/hud/replay/jump_back3_icon_psd.vtex");
}

#SkipBackward1
{
	background-image: url("s2r://panorama/images/hud/replay/jump_back2_icon_psd.vtex");
}

#SkipForward1
{
	background-image: url("s2r://panorama/images/hud/replay/jump_skip2_icon_psd.vtex");
}

#SkipForward2
{
	background-image: url("s2r://panorama/images/hud/replay/jump_skip3_icon_psd.vtex");
}

#ReplayScrubber
{
	width: fill-parent-flow(1.0);
	vertical-align: center;
}

#TimeDisplay,#TimeDisplay Label
{
	flow-children: right;
	vertical-align: middle;
	margin-top: 2px;
	font-weight: bold;
	font-style: italic;
	font-family: monospaceNumbersFont;
}

#TotalTime,#TimeSeparator
{
	color: #535F73;
	font-size: 14px;
}

#CurrentTime,#TotalTime
{
	width: 70px;
}

#CurrentTime
{
	color: #8199C5;
	text-align: left;
	font-size: 16px;
	width: fit-children;
	horizontal-align: center;
}

#TimeSeparator
{
	margin-left: 5px;
	margin-right: 1px;
}

.BottomControlButton
{
	flow-children: right;
	overflow: noclip;
	transition-property: brightness;
	transition-duration: 0.15s;
}

.BottomControlButton:hover
{
	brightness: 2;
}

#SpeedDropdown
{
	width: 100px;
}

.SpeedControls
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	width: 200px;
}

#SpeedControlsCenter
{
	flow-children: right;
	horizontal-align: center;
}

.SpeedControls .JumpButton
{
	width: 20px;
	height: 20px;
	background-color: #4D5C7644;
}

#SpeedLess,#SpeedMore
{
	width: 12px;
	height: 12px;
}

#SpeedLess
{
	background-image: url("s2r://panorama/images/hud/replay/minus_icon_psd.vtex");
}

#SpeedMore
{
	background-image: url("s2r://panorama/images/hud/replay/plus_icon_psd.vtex");
}

.CantDecrementSpeed #SpeedLess,.CantIncrementSpeed #SpeedMore
{
	opacity: 0.25;
}

#CameraTakeoverProgressBar
{
	height: 2px;
	width: 100%;
	border-radius: 0px;
	background-color: #000000cc;
}

.MarkerControls
{
	width: fit-children;
	flow-children: right;
	vertical-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

#MarkerTypeDropdown
{
	width: 150px;
}

.NextMarkerButton
{
	margin: 0px 5px 0px 5px;
	vertical-align: middle;
	background-color: #576886bb;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	tooltip-position: bottom;
	tooltip-body-position: 50% 50%;
	transition-property: background-color, wash-color;
	transition-duration: 0.15s;
}

.NextMarkerButton:hover
{
	background-color: #556683dd;
}

.NextMarkerButton:active
{
	brightness: 0.5;
}

#PrevMarker
{
	background-image: url("s2r://panorama/images/hud/replay/jump_back2_icon_psd.vtex");
}

#NextMarker
{
	background-image: url("s2r://panorama/images/hud/replay/jump_skip2_icon_psd.vtex");
}

