/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelDevControlLibrary
{
	width: 100%;
	height: 100%;
	background-color: #555555;
	flow-children: down;
	z-index: 100;
}

Button
{
	background-color: #333333;
}

Button Label
{
	padding: 10px 20px;
	font-weight: bold;
	text-transform: uppercase;
}

Label
{
	padding: 5px 0px;
}

.exit_button
{
	width: 48px;
	height: 48px;
	background-color: rgba( 255, 255, 255, 0.02 );
	horizontal-align: right;
	background-image: url("s2r://panorama/images/control_icons/purgatory_png.vtex");
	background-size: 100% 100%;
}

.exit_button:hover
{
	brightness: 2.0;
}

.spacer
{
	height: 50px;
	width: 100%;
}

.ZooHeader
{
	padding: 30px 0px 30px 0px;
	margin-left: 60px;
	margin-right: 60px;
	width: 100%;
	height: fit-children;
	border-bottom: 1px solid black;
}

.ZooHeaderText
{
	color: white;
	font-size: 32px;
	width: 100%;
	vertical-align: center;
}

.ZooSubtitle
{
	font-weight: bold;
	margin: 30px 0px 10px 0px;
}

.ZooContainerPanel
{
	margin: 20px 60px 60px 60px;
	width: 100%;
	flow-children: down;
	visibility: collapse;
}

.TabsContainer
{
	margin-left: 200px;
	height: 100%;
}

.ZooHeaderTabButton
{
	color: white;
	font-size: 32px;
	vertical-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

.ZooHeaderTabButton:hover
{
	brightness: 3.0;
}

.ShowingTextTab #TextPanelContainer,.ShowingButtonTab #ButtonPanelContainer
{
	visibility: visible;
}

.ShowingTextTab .TextButton,.ShowingButtonTab .ButtonsButton
{
	brightness: 1.5;
	color: offWhite;
}

.IgnoreFlow
{
	ignore-parent-flow: true;
}

#CardStates
{
	flow-children: right;
}

#CardStates .HeroCard
{
	margin: 5px;
}

.HeroCard
{
	width: 165px;
	height: 210px;
	background-color: #999999;
	font-family: "Exo";
	transition-property: brightness, z-index, opacity, box-shadow;
	transition-duration: 0.1s;
	brightness: 0.9;
}

.HeroCard:hover
{
	brightness: 1.3;
	z-index: 10;
	box-shadow: 0px 0px 30px #00000090;
}

#GrainOverlay
{
	width: 100%;
	height: 100%;
	-s2-mix-blend-mode: multiply;
	opacity: 0.9;
	background-image: url("s2r://panorama/images/textures/card_grain_png.vtex");
}

#HeroImage
{
	width: 165px;
	height: 165px;
	background-color: #999999;
	background-position: center;
	background-size: 100% auto;
}

.archer #HeroImage
{
	background-image: url("s2r://panorama/images/heroes/archer_sm_psd.vtex");
}

.bull #HeroImage
{
	background-image: url("s2r://panorama/images/heroes/bull_sm_psd.vtex");
}

.sumo #HeroImage
{
	background-image: url("s2r://panorama/images/heroes/sumo_sm_psd.vtex");
}

#Add
{
	width: 35px;
	height: 35px;
	background-color: #F3F0E7;
	horizontal-align: right;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60% 60%;
	opacity: 0;
	transition-duration: 0.3s;
	border-radius: 0px 0px 0px 4px;
	transition-property: opacity;
	background-image: url("s2r://panorama/images/icons/icon_add.vsvg");
	transition-duration: 0.3s;
	transition-property: opacity;
}

.HeroCard:hover #Add
{
	opacity: 1;
}

.add #Add
{
	background-color: #1d1d1d;
	background-image: url("s2r://panorama/images/icons/icon_add_white.vsvg");
	opacity: 1;
}

#Unavailable
{
	width: 35px;
	height: 35px;
	background-color: #FF6363;
	horizontal-align: right;
	border-radius: 0px 0px 0px 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 17% 60%;
	opacity: 0;
	background-image: url("s2r://panorama/images/icons/icon_alert.vsvg");
}

#HeroUnavailable
{
	font-size: 14px;
	text-align: left;
	color: #111111;
	visibility: collapse;
	padding: -6px 5px 5px 8px;
}

.unavailable #Unavailable,.unavailable #HeroUnavailable
{
	opacity: 1;
	visibility: visible;
}

.unavailable #HeroImage
{
	background-color: #8b2c2c;
}

#Starred
{
	width: 35px;
	height: 35px;
	border-radius: 0px 0px 4px 0px;
	background-color: #F3F0E7;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75% 70%;
	transition-duration: 0.3s;
	transition-property: opacity;
	opacity: 0;
	background-image: url("s2r://panorama/images/icons/icon_star.vsvg");
}

.starred #Starred
{
	opacity: 1;
}

.inroster:hover #Starred
{
	opacity: 0.5;
}

.makepref #Starred
{
	opacity: 1;
}

.makepref #Starred
{
	background-color: #1d1d1d;
	background-image: url("s2r://panorama/images/icons/icon_star_white.vsvg");
	opacity: 1;
}

#NamePlate
{
	width: 100%;
	min-height: 45px;
	background-color: #F3F0E7;
	vertical-align: bottom;
	flow-children: down;
}

#HeroInfo
{
	flow-children: down;
	padding: 0px 5px 5px 8px;
	min-height: 40px;
}

#HeroName
{
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	color: #111111;
	letter-spacing: -1px;
	height: 36px;
	text-overflow: shrink;
	margin-bottom: -6px;
}

#AddToRoster,#MakePreferred
{
	background-color: #1D1D1D;
	width: 100%;
	opacity: 0;
	vertical-align: bottom;
	transition-duration: 0.3s;
	transition-property: opacity, height;
}

#AddToRoster Label,#MakePreferred Label
{
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	color: #F3F0E7;
	line-height: 26px;
	margin-bottom: -6px;
	padding: 0px 5px 0px 8px;
}

.add #AddToRoster
{
	opacity: 1;
	height: fit-children;
}

#Add:hover #AddToRoster
{
	background-color: #000000;
}

.starred #Add,.inroster #Add,.makepref #Add
{
	visibility: collapse;
}

.makepref #MakePreferred
{
	opacity: 1;
	height: fit-children;
}

.ObjectiveTaken
{
	width: 400px;
	height: fit-children;
	background-color: #ffffff90;
}

.ObjectiveTaken.lanePurple
{
	background-color: lanePurpleColor&20;
}

.ObjectiveTaken.objectiveLost
{
	background-color: #FF959520;
}

.ObjectiveContent
{
	flow-children: down;
	width: 100%;
}

.topBand
{
	width: 100%;
	height: 5px;
	background-color: lanePurpleColor;
	margin-bottom: 10px;
	opacity: 0.5;
}

.objectiveLost .topBand
{
	background-color: #FF9595aa;
}

.messageIntro
{
	font-size: 12px;
	font-family: CriteriaCF;
	font-weight: semi-bold;
	letter-spacing: 1px;
	horizontal-align: center;
	text-transform: uppercase;
	color: #ffffff90;
}

.messageMain
{
	font-size: 26px;
	font-weight: bold;
	horizontal-align: center;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: -10px;
	margin-bottom: 7px;
}

.hudCorner
{
	width: 12px;
	height: 12px;
	ignore-parent-flow: true;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/corner_cap_png.vtex");
	background-size: contain;
	opacity: 0.2;
	img-shadow: 0px 0px 12px 3.0 #000000aa;
}

#HudCurrentAPContainer .hudCorner
{
	wash-color: #7FEEFF;
}

.lanePurple .hudCorner
{
	wash-color: lanePurpleColor&90;
}

.corner1
{
	horizontal-align: left;
	vertical-align: top;
	transform: rotateZ(270deg);
}

.corner2
{
	horizontal-align: right;
	vertical-align: top;
	transform: rotateZ(0deg);
}

.corner3
{
	horizontal-align: right;
	vertical-align: bottom;
	transform: rotateZ(90deg);
}

.corner4
{
	horizontal-align: left;
	vertical-align: bottom;
	transform: rotateZ(180deg);
}

@keyframes 'corner1Animate'
{
	0%
	{
		transform: translateY(-50px) translateX(50px) rotateZ(270deg);
	}
	
	100%
	{
		transform: translateY(0px) translateX(0px) rotateZ(270deg);
	}
	
}

#LevelUpContainer
{
	flow-children: down;
}

#LevelUp
{
	width: 400px;
	height: fit-children;
	background-color: #95ECFF40;
}

#LevelUp .messageIntro
{
	margin-top: 10px;
}

#LevelUp .messageMain
{
	font-size: 36px;
	font-weight: normal;
}

#LevelUp .messageMain .levelNumber
{
	font-weight: bold;
}

.LevelUpItem
{
	background-color: #ffffff50;
	width: 100%;
	margin: 5px 0px 0px 0px;
}

.LevelUpItem Label
{
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	horizontal-align: center;
	color: #ffffff;
	font-weight: semi-bold;
}

.annotationContainer
{
	margin: 14px 0px 14px 0px;
	height: 150px;
	flow-children: right;
}

.annotation
{
	width: 128px;
	height: 128px;
}

.annotationObjectiveBG
{
	wash-color: #FF3300;
}

.annotationPlayerBG
{
	wash-color: #FF3300;
}

.annotation Image
{
	vertical-align: center;
	horizontal-align: center;
}

.annotationArrowRotate
{
	animation-name: arrowRotate;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'arrowRotate'
{
	0%
	{
		pre-transform-rotate2d: 0deg;
	}
	
	100%
	{
		pre-transform-rotate2d: 360deg;
	}
	
}

.pingPulse1
{
	wash-color: #FF3300;
	animation-name: pingPulse;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.pingPulse2
{
	wash-color: #FF3300;
	animation-name: pingPulse;
	animation-duration: 1.5s;
	animation-delay: 0.35s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.pingPulse3
{
	wash-color: #FF3300;
	animation-name: pingPulse;
	animation-duration: 1.5s;
	animation-delay: 0.7s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'pingPulse'
{
	0%
	{
		opacity: 1;
		pre-transform-scale2d: 1;
	}
	
	59.99%
	{
		opacity: 0;
		pre-transform-scale2d: 3;
	}
	
	60%
	{
		opacity: 0;
		pre-transform-scale2d: 1;
	}
	
	99.99%
	{
		opacity: 0;
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		opacity: 1;
		pre-transform-scale2d: 1;
	}
	
}

#AvatarImage
{
	width: 64px;
	height: 64px;
}

#ChatWheelTest
{
	z-index: 9999;
	height: 650px;
	width: 650px;
	vertical-align: center;
	horizontal-align: center;
	margin-top: 400px;
}

.chatwheel
{
	vertical-align: center;
	horizontal-align: center;
	height: 590px;
	width: 590px;
	background-color: #000000ee;
	opacity-mask: url("s2r://panorama/images/masks/chat_wheel_mask_psd.vtex");
	border-radius: 50%;
	clip: radial( 50% 50%, -21.5deg, 43deg );
}

.TestText
{
	color: #FFFFFFee;
	horizontal-align: center;
	font-weight: medium;
	font-size: 18px;
}

#ChatWheel1
{
	transform: rotateZ( 0deg );
}

#ChatWheel1 .TestText
{
	transform: rotateZ( -0deg ) translate3d(0px, 40px, 0px);
}

#ChatWheel2
{
	transform: rotateZ( 45deg );
}

#ChatWheel2 .TestText
{
	transform: rotateZ( -45deg ) translate3d(0px, 40px, 0px);
}

#ChatWheel3
{
	transform: rotateZ( 90deg );
}

#ChatWheel3 .TestText
{
	transform: rotateZ( -90deg ) translate3d(0px, 40px, 0px);
}

#ChatWheel4
{
	transform: rotateZ( 135deg );
}

#ChatWheel4 .TestText
{
	transform: rotateZ( -135deg ) translate3d(0px, 40px, 0px);
}

#ChatWheel5
{
	transform: rotateZ( 180deg );
}

#ChatWheel5 .TestText
{
	transform: rotateZ( -180deg ) translate3d(0px, 40px, 0px);
}

#ChatWheel6
{
	transform: rotateZ( 225deg );
}

#ChatWheel6 .TestText
{
	transform: rotateZ( -225deg ) translate3d(0px, 40px, 0px);
}

#ChatWheel7
{
	transform: rotateZ( 270deg );
}

#ChatWheel7 .TestText
{
	transform: rotateZ( -270deg ) translate3d(0px, 40px, 0px);
}

#ChatWheel8
{
	transform: rotateZ( 315deg );
}

#ChatWheel8 .TestText
{
	transform: rotateZ( -315deg ) translate3d(0px, 40px, 0px);
}

