/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelTarotTile
{
	width: 200px;
	height: 200px;
}

.TileBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #222 ), to( #333 ) );
	border: 1px solid #000;
}

#TileImage
{
	width: 100%;
	height: 100%;
}

#TileStats
{
	width: 100%;
	height: 100%;
}

.TileStat
{
	flow-children: down;
	padding: 4px;
	visibility: collapse;
}

.TileStat.HasStat
{
	visibility: visible;
}

.TileStat .TileStatValue
{
	text-shadow: 2px 2px 4px 3 black;
}

.TileStat .TileStatName
{
	font-size: 14px;
	margin-top: -2px;
	text-shadow: 2px 2px 4px 3 black;
}

.TileStat.Top
{
	horizontal-align: center;
	vertical-align: top;
}

.TileStat.Top Label
{
	horizontal-align: center;
	text-align: center;
}

.TileStat.Right
{
	horizontal-align: right;
	vertical-align: middle;
}

.TileStat.Right Label
{
	horizontal-align: right;
	text-align: right;
}

.TileStat.Left
{
	horizontal-align: left;
	vertical-align: middle;
}

.TileStat.Left Label
{
	horizontal-align: left;
	text-align: left;
}

.TileStat.Bottom
{
	horizontal-align: center;
	vertical-align: bottom;
}

.TileStat.Bottom Label
{
	horizontal-align: center;
	text-align: center;
}

