/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelTarotPlaytestContextMenu #Contents
{
	background-color: #222;
	flow-children: right;
	padding: 16px;
}

#HeroImage
{
	width: 100px;
	height: 150px;
	background-color: black;
	margin-right: 16px;
}

#HeroImage:hover
{
	brightness: 2.0;
}

#HeroImage:active
{
	brightness: 1.5;
}

#HeroImage > Label
{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
	text-overflow: shrink;
	font-family: serif;
	letter-spacing: 0.5px;
	horizontal-align: center;
	text-shadow: 0px 0px 0px 5.0 offBlack&90, 2px 2px 0px 3.0 offBlack;
	text-transform: uppercase;
	max-height: 30px;
	color: offWhite;
	font-weight: bold;
}

.ButtonsContainer
{
	flow-children: down;
	vertical-align: middle;
}

.ButtonsContainer .PlayMatchButton
{
	horizontal-align: center;
}

.ButtonsContainer .ButtonsRow
{
	flow-children: right;
	horizontal-align: center;
}

.ButtonsContainer .ButtonsRow RadioButton
{
	ui-scale: 80%;
}

.ButtonsContainer .PlaytestRecord
{
	horizontal-align: center;
	margin-top: 12px;
}

