/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.PopupSubtitle
{
	horizontal-align: center;
	text-align: center;
}

.Earnings
{
	flow-children: right;
}

.EnergyContainer
{
	vertical-align: middle;
	flow-children: down;
	width: 200px;
}

.EnergyContainer .EnergyTitle
{
	horizontal-align: center;
	text-align: center;
}

.EnergyContainer .EnergyValue
{
	horizontal-align: center;
	text-align: center;
	font-size: 48px;
	color: turquoise;
	font-weight: bold;
}

.SecondaryButton
{
	horizontal-align: center;
}

