/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define cellWidth: 200px;
@define cellHeight: 200px;
CitadelTarotPage
{
	width: 100%;
	height: 100%;
}

.MainContents
{
	width: 1600px;
	height: 1000px;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;
}

.MainContents .AsyncSuccessContainer
{
	flow-children: down;
}

.MainContents .Header
{
	width: 100%;
	flow-children: right;
}

.MainContents .Columns
{
	flow-children: right;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.MainContents .Columns .LeftColumn
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
	margin-right: 12px;
}

.MainContents .Columns .LeftColumn .SelectedBoard
{
	height: fill-parent-flow( 1.0 );
	width: 100%;
	background-color: black;
	margin-bottom: 12px;
	overflow: scroll;
	padding: 12px;
}

.MainContents .Columns .LeftColumn #TilesInventory
{
	background-color: black;
	width: 100%;
	height: 224px;
	padding: 12px 0px 12px 12px;
	flow-children: right;
	overflow: scroll;
}

.MainContents .Columns .LeftColumn #TilesInventory CitadelTarotTile
{
	margin-right: 12px;
}

.MainContents .Columns .RightColumn
{
	flow-children: down;
	width: 300px;
}

.Header
{
	height: 90px;
}

.Header .CurrentBoardLabel
{
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.Header #SelectBoardDropDown
{
	vertical-align: middle;
	ui-scale: 120%;
}

.Header .SatisfiedCount
{
	vertical-align: middle;
	font-size: 20px;
}

.Header .CompletedLabel
{
	vertical-align: middle;
	color: #00ff00;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	visibility: collapse;
}

.Header .DebugControls
{
	width: 300px;
	height: 100%;
	margin-left: 12px;
}

.Header .DebugControls .Center
{
	vertical-align: middle;
	horizontal-align: center;
	flow-children: right;
}

.BoardCompleted .SatisfiedCount
{
	visibility: collapse;
}

.BoardCompleted #CompleteButton
{
	visibility: collapse;
}

.BoardCompleted .CompletedLabel
{
	visibility: visible;
}

.DebugButton
{
	background-color: #333;
	border: 2px solid #444;
	padding: 4px 8px;
	margin: 8px;
	context-menu-position: bottom;
}

.DebugButton:hover
{
	brightness: 2.0;
}

.DebugButton:active
{
	brightness: 1.5;
}

.RunesSection
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	background-color: black;
	flow-children: down;
	padding: 12px;
}

.RunesSection .EnergyTitle
{
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.RunesSection .EnergyValue
{
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: turquoise;
	font-size: 64px;
}

.RunesSection .EnergyDesc
{
	horizontal-align: center;
	text-align: center;
	margin-bottom: 12px;
}

.RunesSection #RunesInventory
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: down;
	overflow: squish scroll;
}

.RuneInventoryItem
{
	horizontal-align: center;
	width: 150px;
	height: 150px;
	margin-bottom: 12px;
	brightness: 0.2;
	saturation: 0.2;
}

.RuneInventoryItem:enabled
{
	brightness: 1.0;
	saturation: 1.0;
}

.RuneInventoryItem:enabled:hover
{
	brightness: 2.0;
}

.RuneInventoryItem:enabled:active
{
	brightness: 1.0;
}

.RuneInventoryItem.RuneActive
{
	box-shadow: 0px 0px 4px turquoise;
}

.RuneInventoryItem #Rune
{
	width: 100%;
	height: 100%;
}

.RuneInventoryItem .Cost
{
	horizontal-align: center;
	text-align: center;
	vertical-align: bottom;
	font-size: 42px;
	font-weight: bold;
	text-shadow: 2px 2px 8px black;
	color: turquoise;
}

#BoardGrid
{
	flow-children: down;
}

#BoardGrid .GridRow
{
	flow-children: right;
}

#BoardGrid .GridCell
{
	border: 1px solid #333;
	width: cellWidth;
	height: cellHeight;
}

