/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelTarotDebugContextMenu #Contents
{
	background-color: #222;
}

.Row
{
	flow-children: right;
}

.Row .RowLabel
{
	vertical-align: middle;
	text-align: right;
	width: 70px;
	margin-right: 8px;
}

.Row DropDown
{
	vertical-align: middle;
	width: 200px;
}

.Row NumberEntry
{
	vertical-align: middle;
	margin-left: 8px;
}

