/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'TagAlong'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

@keyframes 'Sleep'
{
	0%
	{
		transform: translateY(0px);
	}
	
	100%
	{
		transform: translateY(-7px);
	}
	
}

#fancy_progress_container
{
	visibility: visible;
}

#basic_progress_container
{
	visibility: collapse;
}

.ModifierProgressBar
{
	background-color: dynamoColor;
}

#BuffModifiers .dynamo2 .SplitLabelProgressBar
{
	ui-scale: 180%;
	transform: rotateZ(-8deg);
	margin-left: 300px;
	border: 1px solid red;
}

#BuffModifiers .dynamo2 .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: TagAlong;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#BuffModifiers .dynamo2 .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n)
{
	animation-delay: 0.0s;
}

#BuffModifiers .dynamo2 .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+1)
{
	animation-delay: 0.1s;
}

#BuffModifiers .dynamo2 .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+2)
{
	animation-delay: 0.2s;
}

#BuffModifiers .dynamo2 .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+3)
{
	animation-delay: 0.3s;
}

#BuffModifiers .dynamo2 .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+4)
{
	animation-delay: 0.4s;
}

#BuffModifiers .dynamo2 .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+5)
{
	animation-delay: 0.5s;
}

#BuffModifiers .dynamo2 .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+6)
{
	animation-delay: 0.6s;
}

#BuffModifiers .dynamo2 .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+7)
{
	animation-delay: 0.7s;
}

#BuffModifiers .dynamo2 .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: familiarColor;
}

#BuffModifiers .dynamo2 .BarAndNameContainer
{
	visibility: collapse;
}

#BuffModifiers .dynamo2 .AbilityNameLabel
{
	visibility: collapse;
}

@keyframes 'TextWiggle'
{
	0%
	{
		transform: translateY( -2px ) rotateZ( 0.0deg );
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		transform: translateY( 2px ) rotateZ( 0.0deg );
		pre-transform-scale2d: 1.01;
	}
	
}

.SplitLabelProgressBar .SplitLabelName Label
{
	font-size: 34px;
	text-shadow: 0px 0px 6.0 offBlack;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-name: TextWiggle;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-name: TextWiggle;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: fortitudeBrightColor;
}

@keyframes 'Zoomies'
{
	0%
	{
		transform: skew( -10deg ) translate3d( -2px, 0px, 0px );
	}
	
	100%
	{
		transform: skew( -10deg ) translate3d( 2px, 0px, 0px );
	}
	
}

.citadel_ability_self_vacuum .SplitLabelProgressBar
{
	ui-scale: 130%;
}

.citadel_ability_self_vacuum .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: Zoomies;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.citadel_ability_self_vacuum .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n)
{
	animation-delay: 0.0s;
}

.citadel_ability_self_vacuum .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+1)
{
	animation-delay: 0.1s;
}

.citadel_ability_self_vacuum .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+2)
{
	animation-delay: 0.2s;
}

.citadel_ability_self_vacuum .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+3)
{
	animation-delay: 0.3s;
}

.citadel_ability_self_vacuum .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+4)
{
	animation-delay: 0.4s;
}

.citadel_ability_self_vacuum .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: dynamoColor;
}

