/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@define CurseBeckonsDuration: 3.2s;
@keyframes 'DefaultAnim'
{
	0%
	{
		transform: translateY( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateY( -1px );
	}
	
}

@keyframes 'CurseTakesHold'
{
	0%
	{
		transform: translateY(0px);
	}
	
	5%
	{
		transform: translateY(1px);
	}
	
	10%
	{
		transform: translateY(-0px);
	}
	
	15%
	{
		transform: translateY(-1px);
	}
	
	20%
	{
		transform: translateY(0px);
	}
	
	25%
	{
		transform: translateY(1px);
	}
	
	30%
	{
		transform: translateY(0px);
	}
	
	35%
	{
		transform: translateY(1px) translateX(-1px);
	}
	
	40%
	{
		transform: translateY(-1px) translateX(0px);
	}
	
	45%
	{
		transform: translateY(0px) translateX(1px);
	}
	
	50%
	{
		transform: translateY(-1px);
	}
	
	55%
	{
		transform: translateY(0px);
	}
	
	60%
	{
		transform: translateY(1px);
	}
	
	65%
	{
		transform: translateY(-1px) translateX(-1px);
	}
	
	70%
	{
		transform: translateY(1px) translateX(0px);
	}
	
	72%
	{
		transform: translateY(-2px) translateX(-1px);
	}
	
	75%
	{
		transform: translateY(-2px) translateX(0px);
	}
	
	78%
	{
		transform: translateY(0px) translateX(-1px);
	}
	
	80%
	{
		transform: translateY(2px) translateX(1px);
	}
	
	81%
	{
		transform: translateY(0px) translateX(0px);
	}
	
	82%
	{
		transform: translateY(-3px) translateX(1px);
	}
	
	83%
	{
		transform: translateY(0px) translateX(-1px);
	}
	
	84%
	{
		transform: translateY(-3px) translateX(1px);
	}
	
	85%
	{
		transform: translateY(0px) translateX(-1px);
	}
	
	86%
	{
		transform: translateY(-3px) translateX(1px);
	}
	
	87%
	{
		transform: translateY(0px) translateX(-1px);
	}
	
	88%
	{
		transform: translateY(-3px) translateX(1px);
	}
	
	89%
	{
		transform: translateY(0px) translateX(-1px);
	}
	
	90%
	{
		transform: translateY(2px) translateX(1px);
	}
	
	91%
	{
		transform: translateY(0px) translateX(0px);
	}
	
	92%
	{
		transform: translateY(-3px) translateX(1px);
	}
	
	93%
	{
		transform: translateY(0px) translateX(-1px);
	}
	
	94%
	{
		transform: translateY(4px) translateX(0px);
	}
	
	95%
	{
		transform: translateY(0px) translateX(-1px);
	}
	
	96%
	{
		transform: translateY(-5px) translateX(2px);
	}
	
	97%
	{
		transform: translateY(0px) translateX(0px);
	}
	
	98%
	{
		transform: translateY(-5px) translateX(2px);
	}
	
	99%
	{
		transform: translateY(0px) translateX(-2px);
	}
	
	100%
	{
		transform: translateY(5px) translateX(0px);
	}
	
}

@keyframes 'ScaleBar'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	33%
	{
		pre-transform-scale2d: 1.1;
	}
	
	66%
	{
		pre-transform-scale2d: 1.2;
	}
	
	100%
	{
		pre-transform-scale2d: 1.5;
	}
	
}

#fancy_progress_container
{
	visibility: visible;
}

#basic_progress_container
{
	visibility: collapse;
}

.ModifierProgressBarContainer
{
	visibility: collapse;
}

.ModifierProgressBar
{
	background-color: werewolfColor;
}

.MODIFIER_STATE_WEREWOLF_READY .SplitLabelProgressBar
{
	ui-scale: 130%;
	animation-name: ScaleBar;
	animation-duration: CurseBeckonsDuration;
	animation-iteration-count: 1;
	animation-frame-time: 200ms;
}

.MODIFIER_STATE_WEREWOLF_READY .SplitLabelProgressBar .SplitLabelName Label
{
	text-transform: none;
}

.MODIFIER_STATE_WEREWOLF_READY .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: CurseTakesHold;
	animation-duration: CurseBeckonsDuration;
	animation-iteration-count: 1;
	animation-frame-time: 200ms;
}

.MODIFIER_STATE_WEREWOLF_READY .SplitLabelProgressBar .SplitLabelName Image:nth-child(3n)
{
	animation-delay: 0.0s;
}

.MODIFIER_STATE_WEREWOLF_READY .SplitLabelProgressBar .SplitLabelName Image:nth-child(3n+1)
{
	animation-delay: 0.1s;
}

.MODIFIER_STATE_WEREWOLF_READY .SplitLabelProgressBar .SplitLabelName Image:nth-child(3n+2)
{
	animation-delay: 0.2s;
}

.MODIFIER_STATE_WEREWOLF_READY .SplitLabelProgressBar .SplitLabelName Label
{
	animation-name: changeTintBorder;
	animation-duration: CurseBeckonsDuration;
	animation-iteration-count: 1;
}

.MODIFIER_STATE_WEREWOLF_READY .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: werewolfColor;
	animation-name: changeTint;
	animation-duration: CurseBeckonsDuration;
	animation-iteration-count: 1;
}

@keyframes 'changeTint'
{
	0%
	{
		wash-color: werewolfColor;
	}
	
	100%
	{
		wash-color: offBlack&aa;
	}
	
}

@keyframes 'changeTintBorder'
{
	0%
	{
		color: offWhite;
		text-shadow: 0px 0px 0px 6 offBlack;
	}
	
	100%
	{
		color: #a81d0d;
		text-shadow: 0px 0px 0px 6 offBlack;
	}
	
}

.transformed .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: DefaultAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-frame-time: 300ms;
}

.transformed .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.transformed .SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.transformed .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: #a81d0d;
}

