/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'Alive1'
{
	0%
	{
		transform: rotateZ( 10deg ) translateY(-10px);
	}
	
	100%
	{
		transform: rotateZ( 0deg ) translateY(0px);
	}
	
}

@keyframes 'Alive2'
{
	0%
	{
		transform: rotateZ( 10deg ) translateY(10px);
	}
	
	100%
	{
		transform: rotateZ( 0deg ) translateY(0px);
	}
	
}

@keyframes 'DefaultAnim'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

.ability_element_progress.ability_frank_painaura
{
	transform: rotateZ(-8deg);
}

.ability_element_progress.ability_frank_revive
{
	margin-left: 0px;
	transform: rotateZ(0deg);
}

.SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: DefaultAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: frankColor;
}

.ability_frank_revive .SplitLabelProgressBar .SplitLabelName Label
{
	font-size: 40px;
	text-shadow: 0px 0px 0px 6.0 offBlack;
}

.ability_frank_revive .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: DefaultAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.ability_frank_revive .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.ability_frank_revive .SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.ability_frank_revive .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: frankColor;
}

.ability_frank_painaura .SplitLabelProgressBar .SplitLabelName Label
{
	font-size: 36px;
	text-shadow: 0px 0px 0px 6.0 offBlack;
}

.ability_frank_painaura .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: DefaultAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.ability_frank_painaura .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.ability_frank_painaura .SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.ability_frank_painaura .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: frankColor;
}

