/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'AfflictedAnim'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

#fancy_progress_container
{
	visibility: visible;
}

#basic_progress_container
{
	visibility: collapse;
}

.ModifierProgressBarContainer
{
	visibility: collapse;
}

.ModifierProgressBar
{
	background-color: gold;
}

.SplitLabelProgressBar
{
	ui-scale: 180%;
}

.SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: AfflictedAnim;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-frame-time: 200ms;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+1)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+2)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+3)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+4)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: synthColor;
}

