/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'Zoomies'
{
	0%
	{
		transform: skew( -10deg ) translate3d( 0px, -2px, 0px );
	}
	
	100%
	{
		transform: skew( -10deg ) translate3d( 0px, 2px, 0px );
	}
	
}

.SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: Zoomies;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n)
{
	animation-delay: 0.0s;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+1)
{
	animation-delay: 0.1s;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+2)
{
	animation-delay: 0.2s;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+3)
{
	animation-delay: 0.3s;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+4)
{
	animation-delay: 0.4s;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: krillColor;
}

