/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'Combo1'
{
	0%
	{
		transform: rotateZ( 0deg ) translate3d( 0px, 0px, 0px );
	}
	
	100%
	{
		transform: rotateZ( -1deg ) translate3d( 0px, 5px, 0px );
	}
	
}

.SplitLabelProgressBar
{
	ui-scale: 100%;
}

.SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: Combo1;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+1)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+2)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+3)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+4)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+5)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: ghostColor;
}

