/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'TagAlong'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

@keyframes 'Sleep'
{
	0%
	{
		transform: translateY(0px);
	}
	
	100%
	{
		transform: translateY(-7px);
	}
	
}

#fancy_progress_container
{
	visibility: visible;
}

#basic_progress_container
{
	visibility: collapse;
}

.ModifierProgressBar
{
	background-color: krillColor;
}

.SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: Sleep;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n)
{
	animation-delay: 0.0s;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+1)
{
	animation-delay: 0.1s;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+2)
{
	animation-delay: 0.2s;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+3)
{
	animation-delay: 0.3s;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+4)
{
	animation-delay: 0.4s;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+5)
{
	animation-delay: 0.5s;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+6)
{
	animation-delay: 0.6s;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+7)
{
	animation-delay: 0.7s;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: familiarColor;
}

#BuffModifiers .SplitLabelProgressBar
{
	ui-scale: 180%;
	transform: rotateZ(-8deg);
	margin-left: 300px;
}

#BuffModifiers .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: TagAlong;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#BuffModifiers .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n)
{
	animation-delay: 0.0s;
}

#BuffModifiers .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+1)
{
	animation-delay: 0.1s;
}

#BuffModifiers .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+2)
{
	animation-delay: 0.2s;
}

#BuffModifiers .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+3)
{
	animation-delay: 0.3s;
}

#BuffModifiers .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+4)
{
	animation-delay: 0.4s;
}

#BuffModifiers .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+5)
{
	animation-delay: 0.5s;
}

#BuffModifiers .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+6)
{
	animation-delay: 0.6s;
}

#BuffModifiers .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+7)
{
	animation-delay: 0.7s;
}

#BuffModifiers .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: familiarColor;
}

#BuffModifiers .BarAndNameContainer
{
	visibility: collapse;
}

#BuffModifiers .AbilityNameLabel
{
	visibility: collapse;
}

