/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'Combo1'
{
	0%
	{
		transform: rotateZ( 0deg ) translate3d( 0px, 0px, 0px );
	}
	
	100%
	{
		transform: rotateZ( -5deg ) translate3d( 0px, 0px, 50px );
	}
	
}

#fancy_progress_container
{
	visibility: visible;
}

#basic_progress_container
{
	visibility: collapse;
}

.ModifierProgressBar
{
	background-color: krillColor;
}

.SplitLabelProgressBar
{
	ui-scale: 180%;
}

.SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: Combo1;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-frame-time: 200ms;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+1)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+2)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+3)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+4)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: krillColor;
}

