/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'Alive1'
{
	0%
	{
		transform: rotateZ( 10deg ) translateY(-10px);
	}
	
	100%
	{
		transform: rotateZ( 0deg ) translateY(0px);
	}
	
}

@keyframes 'Alive2'
{
	0%
	{
		transform: rotateZ( 10deg ) translateY(10px);
	}
	
	100%
	{
		transform: rotateZ( 0deg ) translateY(0px);
	}
	
}

.ability_element_progress
{
	margin-left: 0px;
	transform: rotateZ(0deg);
}

.SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: Alive1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n)
{
	animation-delay: 0.1s;
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+1)
{
	animation-delay: 0.2s;
	animation-name: Alive2;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+2)
{
	animation-delay: 0.3s;
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+3)
{
	animation-delay: 0.4s;
	animation-name: Alive2;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+4)
{
	animation-delay: 0.5s;
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+5)
{
	animation-delay: 0.6s;
	animation-name: Alive2;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: frankColor;
}

