/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'TextWiggle'
{
	0%
	{
		transform: translateY( -1px ) translateX( -1px );
	}
	
	100%
	{
		transform: translateY( 1px ) translateX( 0px );
	}
	
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-name: TextWiggle;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-name: TextWiggle;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: bebopColor;
	wash-color: rgb(221, 85, 236);
}

