/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'TextWiggle'
{
	0%
	{
		transform: translateY( -2px ) rotateZ( 0.0deg );
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		transform: translateY( 2px ) rotateZ( 0.0deg );
		pre-transform-scale2d: 1.01;
	}
	
}

.SplitLabelProgressBar .SplitLabelName Label
{
	font-size: 34px;
	text-shadow: 0px 0px 6.0 offBlack;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-name: TextWiggle;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-name: TextWiggle;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: fortitudeBrightColor;
}

