/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'TextWiggle'
{
	0%
	{
		transform: translateY( 0px ) translateX( 0px ) rotateZ(0deg);
	}
	
	100%
	{
		transform: translateY( -10px ) translateX( -2px ) rotateZ(-3deg);
	}
	
}

@keyframes 'Rumble'
{
	0%
	{
		transform: translateY( 2px ) translateX( 0px ) rotateZ(0deg);
	}
	
	100%
	{
		transform: translateY( -2px ) translateX( 0px ) rotateZ(0deg);
	}
	
}

.SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: Rumble;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+1)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+2)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+3)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+4)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+5)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+6)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: forgeColor;
}

