/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@keyframes 'green_flash'
{
	0%
	{
		border: 8px solid rgba(0, 255, 0, 0.8);
	}
	
	30%
	{
		border: 8px solid rgba(0, 255, 0, 0.8);
	}
	
	100%
	{
		border: 8px solid rgba(255, 255, 255, 0.35);
	}
	
}

.green_flash #circular_progress
{
	animation-name: green_flash;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
}

