/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'TextWiggle'
{
	0%
	{
		transform: translateY( -1px ) rotateZ( 0.0deg );
	}
	
	100%
	{
		transform: translateY( 1px ) rotateZ( 0.0deg );
	}
	
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-name: TextWiggle;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-frame-time: 200ms;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-name: TextWiggle;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-frame-time: 200ms;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: gigawattColor;
}

