/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

Citadel_AbilityHUDElement_ButtonHint
{
	vertical-align: center;
	horizontal-align: center;
	height: 400px;
}

#TopContainer
{
	flow-children: up;
	horizontal-align: center;
	vertical-align: center;
	transform: translateY(-130px);
}

#TopContainer .priority_bucket
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 10px;
}

#RightContainer
{
	flow-children: right;
	transform: translateX(100px);
	margin-left: 50%;
	vertical-align: center;
	horizontal-align: left;
}

#RightContainer .priority_bucket
{
	flow-children: down;
	horizontal-align: left;
	vertical-align: center;
	margin-right: 20px;
}

#LeftContainer
{
	flow-children: left;
	transform: translateX(-100px);
	margin-right: 50%;
	vertical-align: center;
	horizontal-align: right;
}

#LeftContainer .priority_bucket
{
	flow-children: down;
	horizontal-align: left;
	vertical-align: center;
	margin-left: 20px;
}

#BottomContainer
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: bottom;
}

#BottomContainer .priority_bucket
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

