/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.ability_element_skillshot_targeting
{
	height: sizeSmall;
	width: 500px;
	vertical-align: center;
	horizontal-align: center;
}

#cast
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.active #cast
{
	visibility: visible;
}

#center_circle
{
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.4;
	width: 64px;
	height: width-percentage(100%);
	opacity: elementOpacity;
	border-radius: 50%;
	border: 2px solid salmon;
}

