/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.ability_element_progress
{
	height: fit-children;
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
}

#ability_icon
{
	width: 30px;
	height: 30px;
	opacity: 0.8;
	img-shadow: 0px 0px 10px #00000030;
	align: center top;
	margin-top: 155px;
	visibility: collapse;
}

#circular_progress_container
{
	clip: radial( 50% 50%, 0deg, 360deg );
	width: 70px;
	height: 70px;
	vertical-align: center;
	horizontal-align: center;
}

#circular_progress_backer
{
	width: 145px;
	height: 145px;
	vertical-align: center;
	horizontal-align: center;
	border-radius: 50%;
	clip: radial( 50% 50%, 0deg, 360deg );
	border: 6px solid #ffffff40;
	visibility: collapse;
	border: 4px solid #ffffff40;
	width: 70px;
	height: 70px;
}

#circular_progress
{
	width: 145px;
	height: 145px;
	vertical-align: center;
	horizontal-align: center;
	border-radius: 50%;
	border: 6px solid #00DDFF;
	visibility: collapse;
	width: 70px;
	height: 70px;
	border: 4px solid #92CD38;
}

.medium #circular_progress,.medium #circular_progress_backer
{
	width: sizeMedium;
	height: sizeMedium;
}

.small #circular_progress,.small #circular_progress_backer
{
	width: sizeSmall;
	height: sizeSmall;
}

.active #circular_progress,.active #circular_progress_backer
{
	visibility: visible;
}

