/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.ability_element_progress
{
	visibility: collapse;
	flow-children: down;
	height: fit-children;
	width: fit-children;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 200px;
	transition-property: opacity;
	transition-duration: 0.15s;
}

.ability_element_progress
{
	margin-left: 500px;
	transform: rotateZ(-10deg);
}

.active.ability_element_progress
{
	visibility: visible;
	animation-name: Anim_Stamp;
	animation-iteration-count: 1;
	animation-duration: 0.2s;
	animation-timing-function: ease-out;
}

@keyframes 'Anim_Stamp'
{
	0%
	{
		pre-transform-scale2d: 0.8;
		brightness: 1;
		opacity: 0;
	}
	
	70%
	{
		pre-transform-scale2d: 1.2;
		opacity: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		opacity: 1;
	}
	
}

#channel_and_name
{
	flow-children: down;
	height: fit-children;
	width: 530px;
}

@keyframes 'WiggleUpDown'
{
	0%
	{
		transform: translateY( -2px ) rotateZ( 10.0deg );
	}
	
	100%
	{
		transform: translateY( 2px ) rotateZ( -10.0deg );
	}
	
}

.SplitLabelProgressBar
{
	horizontal-align: center;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/main_menu/text_speckle_mask_main_psd.vtex") 0.7;
	opacity-mask-scale: 100% 200%;
}

.SplitLabelProgressBar .SplitLabelName Label
{
	padding: 16px;
	font-size: 48px;
	font-weight: bold;
	text-shadow: 0px 0px 0px 8 black;
	font-family: oracle;
	text-transform: uppercase;
	text-align: center;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	width: 100%;
	height: 100%;
	wash-color: spiritBrightColor;
}

#hint_container
{
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.5;
	ui-scale: 90%;
	margin-top: -5px;
	flow-children: right;
	visibility: collapse;
}

.canCancel #hint_container
{
	visibility: visible;
}

.movement_control_hint
{
	visibility: collapse;
}

.hint
{
	flow-children: right;
	font-size: 14px;
	color: #ffffff;
	vertical-align: bottom;
	font-weight: bold;
	margin-top: 2px;
}

.keybind
{
	font-size: 13px;
	color: #ffffff90;
	background-color: #00000080;
	width: 80px;
	margin-right: 5px;
	font-weight: bold;
	text-align: center;
}

.action
{
	text-align: center;
	text-transform: uppercase;
	font-weight: semi-bold;
	font-size: 16px;
	margin-left: 5px;
	text-shadow: 1px 1px 0px 2.0 vivaciousGreen;
}

.channeling .cancel_hint
{
	visibility: visible;
}

.channeling_cancel_by_attack .cancel_hint_attack
{
	visibility: visible;
}

.cast .cancel_hint
{
	visibility: visible;
}

#CancelKeyBinding
{
	visibility: collapse;
}

.supports_cancel_key #CancelKeyBinding
{
	visibility: visible;
}

#AbilityKeyBinding
{
	visibility: collapse;
}

.supports_ability_key #AbilityKeyBinding
{
	visibility: visible;
}

.slash
{
	visibility: collapse;
	height: 100%;
	font-size: 22px;
}

.supports_cancel_key.supports_ability_key .slash
{
	visibility: visible;
}

