/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.ability_element_charges
{
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
}

.ability_element_charges.active
{
	visibility: visible;
}

.charge
{
	width: 125px;
	height: 125px;
	vertical-align: center;
	horizontal-align: center;
}

.charge_fg
{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	clip: radial( 50% 50%, 0deg, 360deg );
	border: 8px solid elementBGColor;
}

.charge_bg
{
	width: 123px;
	height: 123px;
	opacity: 1;
	border-radius: 50%;
	clip: radial( 50% 50%, 0deg, 360deg );
	border: 4px solid black;
}

#charge1 .charge_bg
{
	clip: radial( 50% 50%, 90deg, 90deg );
}

.charge_fg
{
	border: 8px solid rgb(255, 238, 0);
	opacity: 0.8;
}

.ready .charge_fg
{
	border: 8px solid rgb(255, 255, 255);
}

#charges_container
{
	opacity: 0.1;
}

#charges_container:not(.ready)
{
	opacity: elementOpacity;
}

