/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
.ability_element_punkgoat
{
	visibility: visible;
	height: 80px;
	width: 400px;
	margin-bottom: 230px;
	horizontal-align: center;
	vertical-align: bottom;
}

#pg_parent_cnt
{
	flow-children: right;
	height: 100%;
	width: 100%;
}

.parent_container
{
	height: fit-children;
	width: fit-children;
}

#pg_blasted_stacks
{
	width: 100%;
	height: fit-children;
	font-size: 50px;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	text-shadow: 0px 0px 5px 50 rgb(0, 0, 0);
	font-weight: bold;
	font-family: sans;
	visibility: collapse;
}

.no_final_stack #pg_blasted_4_cnt
{
	visibility: collapse;
}

#blasted_icon
{
	margin: 5px;
	width: 65px;
	height: 80px;
	background-image: url("s2r://panorama/images/hud/abilities/punkgoat/goat_blasted_psd.vtex");
	background-size: 100% 100%;
	background-color: black;
}

.bar_container_up
{
	horizontal-align: center;
	border-radius: 4px;
	vertical-align: middle;
}

.bar_container
{
	width: 200px;
	height: 25px;
	vertical-align: middle;
}

.bar_fg
{
	width: 100%;
	height: 100%;
	margin: 3px;
	background-color: #feffdc;
	z-index: 2;
	horizontal-align: left;
}

.in_recovery .bar_fg
{
	background-color: #b78ef5;
}

.bar_bg
{
	width: 100%;
	height: 100%;
	margin: 3px;
	background-color: #191919;
	z-index: 1;
	align: center center;
}

