/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.ability_element_progress
{
	height: sizeSmall;
	width: 500px;
	vertical-align: center;
	horizontal-align: center;
}

.ability_element_progress.medium
{
	height: sizeMedium;
}

.ability_element_progress.large
{
	height: sizeLarge;
}

.progress
{
	width: sizeSmall;
	height: sizeSmall;
	opacity: elementOpacity;
	border-radius: 50%;
	border: 8px solid elementBGColor;
}

.medium .progress
{
	width: sizeMedium;
	height: sizeMedium;
}

.large .progress
{
	width: sizeLarge;
	height: sizeLarge;
}

#cast
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.active #cast
{
	visibility: visible;
}

#left_progress
{
	clip: radial( 50% 50%, 180deg, 180deg );
}

#right_progress
{
	clip: radial( 50% 50%, 0deg, 180deg );
}

#center_circle
{
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.2;
}

.charge_level
{
	width: 4px;
	height: 20px;
	background-color: elementBGColor;
}

.charge_level.left.charge1
{
	vertical-align: center;
	horizontal-align: center;
	x:-80px;
}

.charge_level.right.charge1
{
	vertical-align: center;
	horizontal-align: center;
	x: 80px;
}

.charge_level.left.charge2
{
	vertical-align: center;
	horizontal-align: center;
	x:-50px;
}

.charge_level.right.charge2
{
	vertical-align: center;
	horizontal-align: center;
	x: 50px;
}

