/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
#progress
{
	height: 100%;
	width: 100%;
}

.ability_element_zipline_lane_selection
{
	visibility: collapse;
	height: 50%;
	width: 50%;
	vertical-align: center;
	horizontal-align: center;
	margin-bottom: 260px;
}

.active .ability_element_zipline_lane_selection
{
	visibility: visible;
}

#ZiplineMergeHintContainer
{
	flow-children: down;
	horizontal-align: center;
}

#ZiplineMergeHintContainer.DirectionToSapphire.DirectionToSpawn,#ZiplineMergeHintContainer.DirectionToAmber.DirectionToEnemy
{
	visibility: collapse;
}

#ZiplineMergeHintContainer.DirectionToSpawn #ZiplineMergeHint
{
	flow-children: right;
}

#ZiplineMergeHintContainer.DirectionToSapphire #ZiplineMergeHint
{
	flow-children: right;
}

#ZiplineMergeHintContainer #ZiplineDesc
{
	text-align: center;
	horizontal-align: center;
	background-color: #000a;
	padding: 4px 16px;
	border-radius: 12px;
}

#ZiplineMergeHintContainer #LeftLaneHint .ZiplineArrowOuter,#ZiplineMergeHintContainer.DirectionToSapphire #YellowLaneHint .ZiplineArrowOuter
{
	transform: rotateZ(-60deg);
}

#ZiplineMergeHintContainer #RightLaneHint .ZiplineArrowOuter,#ZiplineMergeHintContainer.DirectionToAmber #YellowLaneHint .ZiplineArrowOuter
{
	transform: rotateZ(60deg);
}

#ZiplineMergeHintContainer #LeftLaneHint .ZiplineArrowOuter,#ZiplineMergeHintContainer #RightLaneHint .ZiplineArrowOuter
{
	saturation: 0;
	brightness: 1.4;
	wash-color: #ccc;
}

#ZiplineMergeHintContainer #YellowLaneHint .ZiplineArrowOuter
{
	hue-rotation: 190deg;
	brightness: 1.4;
	wash-color: #dd0;
}

#ZiplineMergeHintContainer #YellowLaneHint .LaneLabel
{
	wash-color: #dd0;
}

#ZiplineMergeHintContainer.DirectionToEnemy .ReturningLabel,#ZiplineMergeHintContainer.DirectionToSpawn .LeavingLabel
{
	visibility: collapse;
}

#ZiplineMergeHintContainer #BlueLaneHint
{
	margin-bottom: 32px;
}

#ZiplineMergeHintContainer #BlueLaneHint .ZiplineArrowOuter
{
	wash-color: #0cf;
}

#ZiplineMergeHintContainer #BlueLaneHint .LaneLabel
{
	wash-color: #0cf;
}

#ZiplineMergeHintContainer.HideBlue #BlueLaneHint
{
	opacity: 0;
}

#ZiplineMergeHintContainer.ShowBlue #BlueLaneHint
{
	opacity: 1;
}

#ZiplineMergeHintContainer.DirectionToSapphire #GreenLaneHint .ZiplineArrowOuter
{
	transform: rotateZ(60deg);
}

#ZiplineMergeHintContainer.DirectionToAmber #GreenLaneHint .ZiplineArrowOuter
{
	transform: rotateZ(-60deg);
}

#ZiplineMergeHintContainer #GreenLaneHint .ZiplineArrowOuter
{
	hue-rotation: -110deg;
	brightness: 1.4;
	wash-color: #0c0;
}

#ZiplineMergeHintContainer #GreenLaneHint .LaneLabel
{
	wash-color: #0c0;
}

#ZiplineMergeHintContainer .LaneHint
{
	vertical-align: bottom;
	margin: 4px;
	padding: 12px;
}

#ZiplineMergeHintContainer .LaneLabel
{
	text-transform: uppercase;
	horizontal-align: center;
	text-align: center;
	text-shadow: 1px 1px 4px black 12;
	background-color: #000a;
	padding: 4px 16px;
	border-radius: 12px;
}

#ZiplineMergeHintContainer .ZiplineArrowOuter
{
	padding: 16px;
}

#ZiplineMergeHintContainer .ZiplineHintArrow
{
	background-image: url("s2r://panorama/images/textures/ziplinehint_arrow_psd.vtex");
	width: 140px;
	height: 140px;
	background-repeat: no-repeat;
	background-size: cover;
	pre-transform-scale2d: 0.6;
	saturation: 0.8;
	brightness: 0.8;
	animation-duration: 0.3s;
	animation-iteration-count: 2;
	animation-timing-function: ease-out;
}

#ZiplineMergeHintContainer.GreenActive #LeftLaneHint .ZiplineArrowOuter,#ZiplineMergeHintContainer.YellowActive #RightLaneHint .ZiplineArrowOuter,#ZiplineMergeHintContainer.YellowActive #YellowLaneHint .ZiplineArrowOuter,#ZiplineMergeHintContainer.BlueActive #BlueLaneHint .ZiplineArrowOuter,#ZiplineMergeHintContainer.GreenActive #GreenLaneHint
{
	wash-color: white;
}

#ZiplineMergeHintContainer.GreenActive #LeftLaneHint .ZiplineArrowOuter .ZiplineHintArrow,#ZiplineMergeHintContainer.YellowActive #RightLaneHint .ZiplineArrowOuter .ZiplineHintArrow,#ZiplineMergeHintContainer.YellowActive #YellowLaneHint .ZiplineArrowOuter .ZiplineHintArrow,#ZiplineMergeHintContainer.BlueActive #BlueLaneHint .ZiplineArrowOuter .ZiplineHintArrow,#ZiplineMergeHintContainer.GreenActive #GreenLaneHint .ZiplineHintArrow
{
	pre-transform-scale2d: 1;
	saturation: 1;
	brightness: 1.3;
	background-image: url("s2r://panorama/images/textures/ziplinehint_arrow_glow_psd.vtex");
	animation-name: ZiplineActiveArrow;
}

@keyframes 'ZiplineActiveArrow'
{
	0%
	{
		transform: translateY(0px);
	}
	
	50%
	{
		transform: translateY(-35px);
	}
	
	100%
	{
		transform: translateY(0px);
	}
	
}

