/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.ability_element_charges
{
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
}

.view_is_in_eye .ability_element_charges.active
{
	visibility: visible;
}

.charge
{
	width: 200px;
	height: 200px;
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
	opacity: 0.5;
}

.charge.has_charge
{
	visibility: visible;
}

.charge_fg
{
	width: 125px;
	height: 125px;
	border-radius: 50%;
	vertical-align: center;
	horizontal-align: center;
	clip: radial( 50% 50%, 0deg, 360deg );
	border: 8px solid elementBGColor;
}

.charge_bg
{
	width: 123px;
	height: 123px;
	opacity: 1;
	border-radius: 50%;
	vertical-align: center;
	horizontal-align: center;
	clip: radial( 50% 50%, 0deg, 360deg );
	border: 4px solid black;
}

.charge_drained
{
	width: 125px;
	height: 125px;
	border-radius: 50%;
	vertical-align: center;
	horizontal-align: center;
	clip: radial( 50% 50%, 0deg, 360deg );
	border: 8px solid red;
	visibility: collapse;
}

#charge1.charge_count_1
{
	clip: radial( 50% 50%, 90deg, 90deg );
}

#charge1.charge_count_2
{
	clip: radial( 50% 50%, 90deg, 42deg );
}

#charge2.charge_count_2
{
	clip: radial( 50% 50%, 139deg, 42deg );
}

#charge1.charge_count_3
{
	clip: radial( 50% 50%, 90deg, 26deg );
}

#charge2.charge_count_3
{
	clip: radial( 50% 50%, 121deg, 26deg );
}

#charge3.charge_count_3
{
	clip: radial( 50% 50%, 152deg, 26deg );
}

#charge1.charge_count_4
{
	clip: radial( 50% 50%, 90deg, 20deg );
}

#charge2.charge_count_4
{
	clip: radial( 50% 50%, 113deg, 20deg );
}

#charge3.charge_count_4
{
	clip: radial( 50% 50%, 136deg, 20deg );
}

#charge4.charge_count_4
{
	clip: radial( 50% 50%, 159deg, 20deg );
}

#charge1.charge_count_5
{
	clip: radial( 50% 50%, 90deg, 15.5deg );
}

#charge2.charge_count_5
{
	clip: radial( 50% 50%, 108.5deg, 15.5deg );
}

#charge3.charge_count_5
{
	clip: radial( 50% 50%, 127deg, 15.5deg );
}

#charge4.charge_count_5
{
	clip: radial( 50% 50%, 146deg, 15deg );
}

#charge5.charge_count_5
{
	clip: radial( 50% 50%, 164deg, 15deg );
}

#charge1.charge_count_6
{
	clip: radial( 50% 50%, 90deg, 13deg );
}

#charge2.charge_count_6
{
	clip: radial( 50% 50%, 105.3deg, 13deg );
}

#charge3.charge_count_6
{
	clip: radial( 50% 50%, 120.6deg, 13deg );
}

#charge4.charge_count_6
{
	clip: radial( 50% 50%, 135.9deg, 13deg );
}

#charge5.charge_count_6
{
	clip: radial( 50% 50%, 151.2deg, 13deg );
}

#charge6.charge_count_6
{
	clip: radial( 50% 50%, 166.5deg, 13deg );
}

#charge1.charge_count_7
{
	clip: radial( 50% 50%, 90deg, 10.86deg );
}

#charge2.charge_count_7
{
	clip: radial( 50% 50%, 102.857deg, 10.86deg );
}

#charge3.charge_count_7
{
	clip: radial( 50% 50%, 115.714deg, 10.86deg );
}

#charge4.charge_count_7
{
	clip: radial( 50% 50%, 128.571deg, 10.86deg );
}

#charge5.charge_count_7
{
	clip: radial( 50% 50%, 141.428deg, 10.86deg );
}

#charge6.charge_count_7
{
	clip: radial( 50% 50%, 154.285deg, 10.86deg );
}

#charge7.charge_count_7
{
	clip: radial( 50% 50%, 167.142deg, 10.86deg );
}

.charge_fg.charging
{
	border: 8px solid rgb(255, 238, 0);
}

.charge_fg.draining
{
	border: 8px solid rgb(235, 89, 44);
}

#charges_container
{
	opacity: 0.8;
}

@keyframes 'red_flash_bg'
{
	0%
	{
		border: 5px solid rgba(255, 0, 0, 1 );
	}
	
	10%
	{
		border: 5px solid rgba(255, 0, 0, 1 );
	}
	
	100%
	{
		border: 5px solid rgba(0, 0, 0, 1);
	}
	
}

.no_stamina .charge_bg
{
	animation-name: red_flash_bg;
	animation-duration: 0.2s;
	animation-iteration-count: 4;
}

@keyframes 'blue_flash_bg'
{
	0%
	{
		border: 5px solid black;
	}
	
	10%
	{
		border: 5px solid rgba(0, 145, 162, 1 );
	}
	
	50%
	{
		border: 5px solid rgba(0, 145, 162, 1 );
	}
	
	100%
	{
		border: 5px solid black;
	}
	
}

.roll_jump_window .charge_bg
{
	animation-name: blue_flash_bg;
	animation-duration: 0.4s;
}

@keyframes 'blue_flash_fg'
{
	0%
	{
		border: 8px solid elementBGColor;
	}
	
	10%
	{
		border: 8px solid rgba(108, 239, 255, 1 );
	}
	
	50%
	{
		border: 8px solid rgba(91, 195, 255, 1 );
	}
	
	100%
	{
		border: 8px solid elementBGColor;
	}
	
}

.roll_jump_window .charge_fg
{
	animation-name: blue_flash_fg;
	animation-duration: 0.4s;
}

@keyframes 'orange_flash_bg'
{
	0%
	{
		border: 5px solid black;
	}
	
	10%
	{
		border: 5px solid rgba(255, 106, 0, 1);
	}
	
	50%
	{
		border: 5px solid rgba(255, 106, 0, 1 );
	}
	
	100%
	{
		border: 5px solid black;
	}
	
}

.roll_slide_window .charge_bg
{
	animation-name: orange_flash_bg;
	animation-duration: 0.4s;
}

@keyframes 'orange_flash_fg'
{
	0%
	{
		border: 8px solid elementBGColor;
	}
	
	10%
	{
		border: 8px solid rgba(255, 106, 0, 1);
	}
	
	50%
	{
		border: 8px solid rgba(255, 106, 0, 1);
	}
	
	100%
	{
		border: 8px solid elementBGColor;
	}
	
}

.roll_slide_window .charge_fg
{
	animation-name: orange_flash_fg;
	animation-duration: 0.4s;
}

@keyframes 'stam_drained'
{
	0%
	{
		opacity: 1;
		pre-transform-scale2d: 1;
	}
	
	20%
	{
		opacity: 1;
		pre-transform-scale2d: 1.15;
	}
	
	50%
	{
		opacity: 1;
		pre-transform-scale2d: 1.2;
	}
	
	100%
	{
		opacity: 0;
		pre-transform-scale2d: 1.25;
	}
	
}

.drained .charge_drained
{
	animation-name: stam_drained;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	opacity: 0;
	visibility: visible;
}

