/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.ability_element_progress
{
	height: sizeLarge;
	width: 500px;
	vertical-align: center;
	horizontal-align: center;
}

.ability_element_progress.medium
{
	height: sizeMedium;
}

.ability_element_progress.large
{
	height: sizeLarge;
}

.progress
{
	width: sizeSmall;
	height: sizeSmall;
	opacity: elementOpacity;
	border-radius: 50%;
	border: 8px solid elementBGColor;
}

.medium .progress
{
	width: sizeMedium;
	height: sizeMedium;
}

.large .progress
{
	width: sizeLarge;
	height: sizeLarge;
}

#cast
{
	width: 100%;
	height: 100%;
	opacity: 0.0001;
}

.active #cast
{
	opacity: 1.0;
}

#center_circle
{
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.2;
	width: 50px;
	height: 50px;
	border: 6px;
}

#large_circle
{
	vertical-align: center;
	horizontal-align: center;
	width: sizeLarge;
	height: sizeLarge;
	border: 5px;
}

.active #large_circle
{
	animation-name: ScaleCircle;
	animation-duration: 1.25s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes 'ScaleCircle'
{
	0%
	{
		pre-transform-scale2d: 1.0;
	}
	
	100%
	{
		pre-transform-scale2d: 0.0;
	}
	
}

