/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.ability_element_sprint
{
	height: fit-children;
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	x:55px;
	y:55px;
}

#ability_icon
{
	width: 30px;
	height: 30px;
	opacity: 0.8;
	img-shadow: 0px 0px 10px #00000030;
	align: center top;
	margin-top: 155px;
	visibility: collapse;
}

#circular_progress_backer
{
	vertical-align: center;
	horizontal-align: center;
	border-radius: 50%;
	clip: radial( 50% 50%, 0deg, 360deg );
	visibility: collapse;
	width: 135px;
	height: 135px;
	visibility: collapse;
}

#circular_progress
{
	vertical-align: center;
	horizontal-align: center;
	border-radius: 50%;
	clip: radial( 50% 50%, 0deg, 360deg );
	visibility: collapse;
	width: 15px;
	height: 15px;
	background-color: red;
}

.medium #circular_progress,.medium #circular_progress_backer
{
	width: sizeMedium;
	height: sizeMedium;
}

.small #circular_progress,.small #circular_progress_backer
{
	width: sizeSmall;
	height: sizeSmall;
}

.active #circular_progress,.active #circular_progress_backer
{
	visibility: visible;
}

