/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.ability_element_progress
{
	height: sizeSmall;
	vertical-align: center;
	horizontal-align: center;
	margin-top: 550px;
}

@keyframes 'charged_text'
{
	0%
	{
		color: #dab0ffc2;
	}
	
	50%
	{
		color: white;
	}
	
	100%
	{
		color: #dab0ffc2;
	}
	
}

.charged_text,.expiring_text
{
	font-size: 16px;
	color: #dab0ffc2;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0px 0px 5px #000000;
	font-family: sans;
	margin-bottom: 4px;
	vertical-align: bottom;
	horizontal-align: right;
	visibility: collapse;
}

.expiring_text
{
	font-size: 12px;
	vertical-align: center;
	horizontal-align: center;
	color: white;
	z-index: 100;
	margin-top: 1.5px;
}

.fully_charged .charged_text
{
	visibility: visible;
	animation-name: charged_text;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
}

.fully_charged .expiring_text
{
	visibility: visible;
}

@keyframes 'charged_border'
{
	0%
	{
		border-color: #dab0ffc2;
	}
	
	50%
	{
		border-color: white;
	}
	
	100%
	{
		border-color: #dab0ffc2;
	}
	
}

.fully_charged #bar_fg
{
	width: 100%;
	height: 100%;
	margin: 5px;
	border-radius: 2px;
	background-color: #dab0ffc2;
	z-index: 2;
	horizontal-align: left;
}

.fully_charged #bar_bg
{
	width: 100%;
	height: 100%;
	margin: 5px;
	border-radius: 2px;
	z-index: 1;
	align: center center;
}

