/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

.ability_element_icon
{
	height: 130px;
	width: 130px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: left;
}

#icon
{
	visibility: collapse;
	width: 25px;
	height: 25px;
	opacity: 0.5;
}

.small #icon
{
	opacity: 0.5;
}

.active #icon
{
	visibility: visible;
}

