/* Prettified by Source 2 Viewer 11.0.0.0 - https://valveresourceformat.github.io */

@define elementBGColor: white;
@define elementOpacity: 0.5;
@define sizeLarge: 120px;
@define sizeMedium: 80px;
@define sizeSmall: 50px;
.excluded .ability_element
{
	visibility: collapse;
}

