/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
.ability_element_progress
{
	visibility: collapse;
	flow-children: up;
	height: 500px;
	width: 400px;
	margin-bottom: 230px;
	horizontal-align: center;
	vertical-align: bottom;
}

.active.ability_element_progress
{
	visibility: visible;
}

#channel_and_name
{
	flow-children: down;
	min-height: 60px;
	margin-left: 60px;
}

#ability_icon
{
	width: 50px;
	height: 50px;
	ignore-parent-flow: true;
	vertical-align: bottom;
	z-index: 1;
	background-color: #00000070;
	border-radius: 4px;
	img-shadow: 0px 0px 10px 4.0 #000000;
}

#bar_container
{
	width: 300px;
	height: 30px;
	horizontal-align: center;
	border-radius: 4px;
	vertical-align: middle;
}

.bar_text_container
{
	min-height: 30px;
	width: 100%;
}

#bar_outline
{
	width: 100%;
	height: 100%;
	border: 3px solid #ffffff50;
}

#bar_fg
{
	width: 100%;
	height: 100%;
	margin: 5px;
	border-radius: 2px;
	background-color: #dab0ffc2;
	z-index: 2;
	horizontal-align: left;
}

#bar_bg
{
	width: 100%;
	height: 100%;
	margin: 5px;
	border-radius: 2px;
	background-color: #ffffff10;
	z-index: 1;
	align: center center;
}

.active #bar_container
{
	visibility: visible;
}

.castbar_name
{
	font-size: 16px;
	color: #ffffffee;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0px 0px 5px #000000;
	font-family: sans;
	margin-bottom: 4px;
	vertical-align: bottom;
}

#hint_container
{
	height: fit-children;
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 6px;
	flow-children: down;
	visibility: collapse;
}

.canCancel #hint_container
{
	visibility: visible;
}

.movement_control_hint
{
	visibility: collapse;
}

.hint
{
	flow-children: right;
	font-size: 14px;
	color: #ffffff;
	vertical-align: bottom;
	font-weight: bold;
	margin-top: 2px;
}

.keybind
{
	font-size: 13px;
	color: #ffffff90;
	background-color: #00000080;
	width: 80px;
	margin-right: 5px;
	font-weight: bold;
	text-align: center;
}

.action
{
	text-align: center;
	text-transform: uppercase;
	font-weight: semi-bold;
	font-size: 16px;
}

.channeling .cancel_hint
{
	visibility: visible;
}

.channeling_cancel_by_attack .cancel_hint_attack
{
	visibility: visible;
}

.cast .cancel_hint
{
	visibility: visible;
}

