/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPostGameProgress
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/post_game/mvp_bg_png.vtex");
	background-size: contain;
}

.ProgressScreen
{
	width: 100%;
	height: 100%;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.ProgressScreen.MVPTeam1
{
	background-color: gradient( linear, 0% 0%, 50% 100%, from( team1Color&10 ), to( team1Color&00 ) );
}

.ProgressScreen.MVPTeam2
{
	background-color: gradient( linear, 0% 0%, 50% 100%, from( team2Color&10 ), to( team2Color&00 ) );
}

.ProgressScreen.ShowProgressScreen
{
	opacity: 1.0;
}

.Loading
{
	horizontal-align: center;
	vertical-align: middle;
	flow-children: down;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-delay: 0.5s;
}

.LoadingScreens .Loading
{
	opacity: 1.0;
	transition-delay: 0.0s;
}

.Loading .Spinner
{
	horizontal-align: center;
	wash-color: #999;
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/control_icons/spinner_png.vtex");
	background-size: contain;
	animation-name: RotateIcon;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#MVPScreen #MVPHeroScenePanel
{
	width: 60%;
	height: 100%;
	horizontal-align: right;
	margin-right: 600px;
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	opacity: 0.0;
	transform: translateX( 100px );
	transition-timing-function: ease-in-out;
}

#MVPScreen.ShowMVPHero #MVPHeroScenePanel
{
	opacity: 1.0;
	transform: none;
}

#MVPScreen .MVPDetails
{
	width: 800px;
	flow-children: down;
	vertical-align: middle;
	overflow: noclip;
}

#MVPScreen .MVPDetails .MVPTitle
{
	font-size: 240px;
	horizontal-align: center;
	text-align: center;
	color: electricYellow;
	font-weight: bold;
	text-shadow: 0px 0px 0px 20 black;
	font-family: block;
	overflow: noclip;
	padding: 12px;
	margin: 60px 0px 0px 120px;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
}

#MVPScreen .MVPDetails #MVPAccolades
{
	flow-children: down;
	horizontal-align: center;
	margin-bottom: 16px;
}

#MVPScreen .MVPDetails .MVPPlayerIdentity
{
	flow-children: down;
	width: 100%;
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	opacity: 0.0;
	transform: translateY( 20px );
	transition-timing-function: ease-in-out;
}

#MVPScreen .MVPDetails #MVPHeroLogo
{
	horizontal-align: center;
}

#MVPScreen .MVPDetails .MVPPlayedBy
{
	horizontal-align: center;
	text-align: center;
	font-size: 24px;
	font-family: oracle;
	color: offWhite&88;
}

#MVPScreen .MVPDetails #MVPPlayerName
{
	horizontal-align: center;
}

#MVPScreen .MVPDetails #MVPPlayerName Label
{
	text-align: center;
	font-size: 40px;
	font-family: oracle;
	color: offWhite;
	margin-top: -8px;
}

#MVPScreen.ShowMVPTitle .MVPTitle
{
	opacity: 1.0;
	transform: translateY( -20px ) rotateY( 10deg );
}

#MVPScreen.ShowMVPHero .MVPPlayerIdentity,#MVPScreen.ShowMVPHero #MVPHeroScenePanel
{
	opacity: 1.0;
	transform: none;
}

.Accolade
{
	flow-children: down;
	margin-bottom: 32px;
	transition-property: opacity, transform;
	transition-duration: 0.1s;
	opacity: 0.0;
	transform: translateX( 20px );
}

.Accolade.ShowAccolade
{
	opacity: 1.0;
	transform: none;
}

.Accolade #AccoladeStars
{
	flow-children: right;
}

.Accolade #AccoladeStars .AccoladeStar
{
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("s2r://panorama/images/icons/icon_star_white.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: electricYellow;
}

.Accolade .AccoladeTitle
{
	font-size: 24px;
	color: electricYellow;
	text-shadow: 0px 0px 0px 5 black;
	font-family: block;
	margin-top: 2px;
}

.Accolade .AccoladeDesc
{
	color: #999;
	font-size: 18px;
	text-shadow: 0px 0px 0px 3 black;
	margin-top: -4px;
}

.Accolade .AccoladeDesc .StatValue
{
	color: white;
}

#HonorableMentions
{
	horizontal-align: right;
	flow-children: right;
	vertical-align: middle;
	margin-right: 40px;
}

.MVPHonorableMention
{
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	opacity: 0.0;
	transform: translateY( 20px );
}

.MVPHonorableMention.ShowHonorableMention
{
	opacity: 1.0;
	transform: none;
}

.MVPHonorableMention .MainContents
{
	width: 300px;
	flow-children: down;
	horizontal-align: center;
}

.MVPHonorableMention .HeroFrame
{
	width: 100%;
	height: 680px;
	background-color: team1ColorFade;
	opacity-mask: url("s2r://panorama/images/masks/hero_card_mask_a_png.vtex");
	opacity-mask-scale: 100% 100%;
}

.MVPHonorableMention .HeroFrame #HeroScenePanel
{
	width: 100%;
	height: 100%;
}

.MVPHonorableMention .HeroFrame #HeroLogo
{
	ui-scale: 32%;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 36px;
}

.MVPHonorableMention.Team2 .HeroFrame
{
	background-color: team2ColorFade;
	opacity-mask: url("s2r://panorama/images/masks/hero_card_mask_b_png.vtex");
}

.MVPHonorableMention .Footer
{
	flow-children: down;
	margin-top: 4px;
	width: 100%;
}

.MVPHonorableMention .Footer .PlayedBy
{
	color: offWhite&88;
	horizontal-align: center;
	text-align: center;
	font-family: oracle;
}

.MVPHonorableMention .Footer #PlayerName
{
	horizontal-align: center;
}

.MVPHonorableMention .Footer #PlayerName Label
{
	margin-top: -4px;
	color: offWhite;
	text-align: center;
	font-family: oracle;
	font-size: 28px;
}

.MVPHonorableMention #Accolades
{
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 180px;
}

.MVPHonorableMention #Accolades .Accolade
{
	opacity: 1.0;
	transform: none;
}

#PlayerProgressScreen #PlayerProgressHeroScenePanel
{
	horizontal-align: right;
	width: 70%;
	height: 100%;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
	transform: translateX( 100px );
}

#PlayerProgressScreen .PlayerProgressDetails
{
	flow-children: down;
	width: 1000px;
	vertical-align: middle;
}

#PlayerProgressScreen .PlayerProgressDetails .PlayerTop
{
	horizontal-align: center;
	flow-children: down;
	transition-property: opacity, transform;
	transition-duration: 1.0s;
	transition-delay: 0.3s;
	opacity: 0.0;
	transform: translateY( -20px );
}

#PlayerProgressScreen .PlayerProgressDetails .PlayerIdentity
{
	flow-children: right;
	horizontal-align: center;
}

#PlayerProgressScreen .PlayerProgressDetails .PlayerIdentity #PlayerProgressPlayerName
{
	vertical-align: middle;
	margin-left: 16px;
}

#PlayerProgressScreen .PlayerProgressDetails .PlayerIdentity #PlayerProgressPlayerName Label
{
	font-size: 32px;
}

#PlayerProgressScreen .PlayerProgressDetails #PlayerProgressHeroLogo
{
	horizontal-align: center;
}

#PlayerProgressScreen .PlayerProgressDetails #PlayerProgressAccolades
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 40px;
}

#PlayerProgressScreen.ShowPlayerHero #PlayerProgressHeroScenePanel
{
	opacity: 1.0;
	transform: none;
}

#PlayerProgressScreen.ShowPlayerHero .PlayerTop
{
	opacity: 1.0;
	transform: none;
}

