/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@keyframes 'AwardReveal'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 0.2;
		pre-transform-rotate2d: -10deg;
	}
	
	80%
	{
		pre-transform-scale2d: 1.1;
		pre-transform-rotate2d: 2deg;
	}
	
	100%
	{
		opacity: 1;
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: -2.2deg;
	}
	
}

CitadelPostGameAward
{
	flow-children: right;
	horizontal-align: left;
	vertical-align: center;
	width: fit-children;
	pre-transform-rotate2d: -3deg;
	overflow: noclip;
	margin-bottom: -8px;
	ui-scale: 96%;
}

CitadelPostGameAward.Animate
{
	animation-name: AwardReveal;
	animation-duration: .24s;
	animation-timing-function: ease-in-out;
}

CitadelPostGameAward.MVPAward
{
	transition-property: opacity, transform;
	transition-duration: 0.1s;
	opacity: 0.0;
	transform: translateX( 20px );
}

CitadelPostGameAward.MVPAward.ShowAward
{
	opacity: 1.0;
	transform: none;
}

CitadelPostGameAward .AwardIcon
{
	width: 28px;
	height: 28px;
	vertical-align: middle;
	background-position: center;
	background-size: 26px 26px;
	background-repeat: no-repeat;
	brightness: 0.6;
	background-color: offBlack;
	border-radius: 32px;
	margin-top: 16px;
	margin-right: -6px;
}

CitadelPostGameAward .AwardNumber,CitadelPostGameAward .AwardX
{
	font-family: oracle;
	font-size: 48px;
	font-weight: bold;
	text-shadow: 0 0 0 20 black;
	vertical-align: top;
	wash-color: eggshell;
	overflow: noclip;
	padding: 4px;
}

CitadelPostGameAward .AwardNumber .demote,CitadelPostGameAward .AwardNumber.AwardX,CitadelPostGameAward .AwardX .demote,CitadelPostGameAward .AwardX.AwardX
{
	font-size: 36px;
}

CitadelPostGameAward .AwardX
{
	visibility: collapse;
}

CitadelPostGameAward .AwardDescription
{
	font-family: block;
	font-size: 18px;
	text-shadow: 0 0 0 14 black;
	font-weight: bold;
	vertical-align: middle;
	color: eggshell;
	text-transform: uppercase;
	max-width: 152px;
	overflow: noclip;
	padding: 4px;
	margin-top: 2px;
}

CitadelPostGameAward.AwardAssists .AwardNumber
{
	color: lightRedShine;
}

CitadelPostGameAward.AwardAssists .AwardIcon
{
	background-image: url("s2r://panorama/images/post_game/attributes/icon_kill.vsvg");
	wash-color: #a05c3d;
	background-size: 20px 20px;
	margin-right: -8px;
}

CitadelPostGameAward.AwardMaxKillstreak .AwardNumber,CitadelPostGameAward.AwardMaxKillstreak .AwardX,CitadelPostGameAward.AwardKills .AwardNumber,CitadelPostGameAward.AwardKills .AwardX,CitadelPostGameAward.AwardMeleeKills .AwardNumber,CitadelPostGameAward.AwardMeleeKills .AwardX,CitadelPostGameAward.AwardAbilityKills .AwardNumber,CitadelPostGameAward.AwardAbilityKills .AwardX,CitadelPostGameAward.AwardWeaponKills .AwardNumber,CitadelPostGameAward.AwardWeaponKills .AwardX,CitadelPostGameAward.AwardHeadshotKills .AwardNumber,CitadelPostGameAward.AwardHeadshotKills .AwardX
{
	color: redShine;
}

CitadelPostGameAward.AwardMaxKillstreak .AwardX,CitadelPostGameAward.AwardKills .AwardX,CitadelPostGameAward.AwardMeleeKills .AwardX,CitadelPostGameAward.AwardAbilityKills .AwardX,CitadelPostGameAward.AwardWeaponKills .AwardX,CitadelPostGameAward.AwardHeadshotKills .AwardX
{
	vertical-align: bottom;
	margin-bottom: 4px;
	margin-left: -8px;
	z-index: -1;
}

CitadelPostGameAward.AwardMaxKillstreak .AwardIcon,CitadelPostGameAward.AwardKills .AwardIcon,CitadelPostGameAward.AwardMeleeKills .AwardIcon,CitadelPostGameAward.AwardAbilityKills .AwardIcon,CitadelPostGameAward.AwardWeaponKills .AwardIcon,CitadelPostGameAward.AwardHeadshotKills .AwardIcon
{
	background-image: url("s2r://panorama/images/post_game/attributes/icon_kill.vsvg");
	wash-color: #ab3b2a;
}

CitadelPostGameAward.AwardMaxKillstreak .AwardX
{
	visibility: visible;
}

CitadelPostGameAward.AwardPlayerDmg .AwardNumber
{
	color: steelShine;
}

CitadelPostGameAward.AwardPlayerDmg .AwardIcon
{
	background-image: url("s2r://panorama/images/post_game/attributes/icon_playerdmg.vsvg");
	wash-color: #908c74;
}

CitadelPostGameAward.AwardObjDmg .AwardNumber
{
	color: steelShine;
}

CitadelPostGameAward.AwardObjDmg .AwardIcon
{
	background-image: url("s2r://panorama/images/post_game/attributes/icon_objdmg.vsvg");
	wash-color: #908c74;
}

CitadelPostGameAward.AwardHealing .AwardNumber
{
	color: greenShine;
}

CitadelPostGameAward.AwardHealing .AwardIcon
{
	background-image: url("s2r://panorama/images/post_game/attributes/icon_heart.vsvg");
	wash-color: #75834f;
}

CitadelPostGameAward.AwardSouls .AwardNumber
{
	color: soulShine;
}

CitadelPostGameAward.AwardSouls .AwardIcon
{
	background-image: url("s2r://panorama/images/post_game/attributes/icon_souls.vsvg");
	wash-color: #50855a;
}

CitadelPostGameAward.Rank2 .rank_demote,CitadelPostGameAward.Rank3 .rank_demote
{
	font-size: 16px;
	color: #696053;
}

