/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.LocalPlayerBackground
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #00000000), to( #000000 ) );
	width: 100%;
	height: 100%;
}

#HeroScenePanel
{
	horizontal-align: right;
	width: 70%;
	height: 100%;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
	transform: translateX( 100px );
}

.ShowPlayerHero #HeroScenePanel
{
	opacity: 1.0;
	transform: none;
}

.PlayerDetails
{
	flow-children: down;
	width: 1000px;
	vertical-align: middle;
}

.PlayerDetails .PlayerTop
{
	horizontal-align: center;
	flow-children: down;
	transition-property: opacity, transform;
	transition-duration: 1.0s;
	transition-delay: 0.3s;
	opacity: 0.0;
	transform: translateY( -20px );
}

.ShowPlayerHero .PlayerDetails .PlayerTop
{
	opacity: 1.0;
	transform: none;
}

.PlayerDetails .PlayerIdentity
{
	flow-children: down;
	horizontal-align: center;
}

.PlayerDetails .PlayerIdentity #HeroBadge
{
	visibility: collapse;
}

.PlayerDetails .PlayerIdentity .PlayedBy
{
	color: offWhite&10;
	horizontal-align: center;
	text-align: center;
	font-family: oracle;
	margin: 0px 0px 4px 0px;
}

.PlayerDetails .PlayerIdentity #PlayerName
{
	horizontal-align: center;
}

.PlayerDetails .PlayerIdentity #PlayerName Label
{
	margin-top: -4px;
	color: offWhite;
	text-align: center;
	font-family: oracle;
	font-size: 28px;
}

.PlayerDetails #HeroLogo
{
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/post_game/hero_logo_mask_psd.vtex");
	opacity-mask-scale: 100% 100%;
	max-width: 400px;
}

.PlayerDetails #Accolades
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 40px;
}

