/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPostGamePlayerContextMenu #Contents
{
	flow-children: right;
	border: 0px;
	background-color: #212121;
	box-shadow: none;
	padding: 8px;
}

CitadelPostGamePlayerContextMenu Button
{
	width: 36px;
	height: 36px;
	border-radius: 48px;
	padding: 0 12px;
	tooltip-position: bottom;
	wash-color: offWhite;
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: offWhite&08;
	margin: 0px 4px;
}

#AddToPartyButton
{
	background-color: green;
	visibility: collapse;
}

#ViewProfileButton
{
	background-image: url("s2r://panorama/images/icons/view_profile.vsvg");
	wash-color: offWhite;
	background-img-opacity: 0.8;
}

#AddToFriendsButton
{
	background-image: url("s2r://panorama/images/icons/add_friend.vsvg");
	wash-color: offWhite;
	background-img-opacity: 0.8;
}

#ReportButton
{
	background-image: url("s2r://panorama/images/icons/report.vsvg");
	wash-color: #ee5945;
	background-color: #ee594518;
}

