/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPostGameProgressMVP
{
	width: 100%;
	height: 100%;
}

.MVPHeroContainer
{
	width: 100%;
	height: 100%;
	margin-left: 100px;
	opacity-mask: url("s2r://panorama/images/masks/wipe_horizontal_1024x512_psd.vtex");
	opacity-mask-scale: cover;
	opacity-mask-threshold: 100% 50%;
	transform: translateX( 100px );
	transition-property: opacity-mask, transform;
	transition-duration: 1.0s;
	transition-timing-function: linear, ease-in-out;
}

.ShowMVPHero .MVPHeroContainer
{
	opacity-mask-threshold: 0% 50%;
	transform: none;
	transition-duration: 0.0s;
}

.MVPHeroContainer #MVPHeroScenePanel
{
	width: 100%;
	height: 100%;
	horizontal-align: right;
	margin-right: 40px;
	opacity-mask: url("s2r://panorama/images/post_game/mvp_fade_psd.vtex");
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transform: translateX( -520px );
	transition-timing-function: ease-in-out;
}

.MVPBackground
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #00000000), to( #000000 ) );
	width: 100%;
	height: 100%;
}

.MatchMode
{
	font-family: block;
	font-size: 24px;
	color: copperFlat&15;
	margin: 20px 28px;
	visibility: visible;
	horizontal-align: right;
}

.MVPDetails
{
	width: 1200px;
	height: 720px;
	flow-children: none;
	vertical-align: bottom;
	overflow: noclip;
	transform: translateX( 120px );
}

.MVPDetails .MVPLockup
{
	flow-children: right;
	pre-transform-rotate2d: -3deg;
	width: fit-children;
	horizontal-align: left;
	transform: translateX( -80px );
	animation-name: LightPulse;
	animation-iteration-count: infinite;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	height: 140px;
	margin-top: 44px;
}

.ShowMVPTitle .MVPDetails .MVPLockup
{
	transform: translateX( -20px );
	transition-duration: 0.2s;
}

.MVPDetails .MVPTitle
{
	font-size: 80px;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-weight: bold;
	overflow: noclip;
	padding: 12px;
	font-family: oracle;
	color: goldenLightShine;
	text-shadow: 0px 0px 0px 12 black;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 28px;
	opacity: 0.0;
}

.ShowMVPTitle .MVPDetails .MVPTitle
{
	opacity: 1.0;
	transition-duration: 0.0s;
}

.MVPDetails .MVPTrophy
{
	background-image: url("s2r://panorama/images/post_game/mvp_trophy.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	brightness: 1.9;
	saturation: 0.9;
	opacity: 1;
	width: 120px;
	height: 160px;
	img-shadow: 0px 0px 4px #00000088;
	horizontal-align: center;
	vertical-align: center;
	margin-right: -20px;
}

.MVPDetails #MVPAccolades
{
	flow-children: down;
	horizontal-align: center;
	margin-bottom: 16px;
	visibility: collapse;
}

.MVPDetails #MVPAwards
{
	ignore-parent-flow: true;
	flow-children: down;
	horizontal-align: left;
	vertical-align: top;
	transform: translateX( 20px );
	margin-top: 200px;
}

.MVPDetails #MVPAwards CitadelPostGameAward:nth-child(1)
{
	margin-left: 0px;
}

.MVPDetails #MVPAwards CitadelPostGameAward:nth-child(2)
{
	margin-left: 20px;
}

.MVPDetails #MVPAwards CitadelPostGameAward:nth-child(3)
{
	margin-left: 40px;
}

.MVPDetails #MVPAwards CitadelPostGameAward:nth-child(4)
{
	margin-left: 60px;
}

.MVPDetails #MVPAwards CitadelPostGameAward:nth-child(5)
{
	margin-left: 80px;
}

.MVPDetails .MVPPlayerIdentity
{
	flow-children: down;
	width: 100%;
	height: 400px;
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 1.0s;
	transition-timing-function: ease-in-out;
	vertical-align: bottom;
	opacity: 0.0;
	transform: translateY( 20px );
}

.ShowMVPHero .MVPDetails .MVPPlayerIdentity
{
	opacity: 1.0;
	transform: none;
	transition-duration: 0.0s;
}

.MVPDetails #MVPHeroLogo
{
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/post_game/hero_logo_mask_psd.vtex");
	opacity-mask-scale: 100% 100%;
	wash-color: goldenLight&88;
	max-width: 400px;
	brightness: 1.4;
}

.MVPDetails .MVPPlayedBy
{
	horizontal-align: center;
	text-align: center;
	font-size: 20px;
	font-family: oracle;
	color: offWhite&10;
	font-weight: light;
	margin: 8px 0px 8px 0px;
}

.MVPDetails #MVPPlayerName
{
	horizontal-align: center;
}

.MVPDetails #MVPPlayerName Label
{
	text-align: center;
	font-size: 24px;
	font-family: oracle;
	color: offWhite;
	margin-top: -8px;
}

.MVPDetails #MVPCommendButton
{
	horizontal-align: center;
	margin-top: 12px;
}

#HonorableMentions
{
	horizontal-align: right;
	flow-children: right;
	vertical-align: bottom;
	margin-right: 120px;
}

.MVPHonorableMention
{
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	margin: 4px 12px 160px 12px;
	opacity: 0.0;
	transform: translateY( 20px );
}

.MVPHonorableMention.ShowHonorableMention
{
	opacity: 1.0;
	transform: none;
	transition-duration: 0.0s;
}

.MVPHonorableMention .MainContents
{
	width: 260px;
	flow-children: down;
	horizontal-align: center;
}

.MVPHonorableMention #KeyPlayerParticlePanel
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	z-index: -1;
	overflow: noclip;
	margin-right: 8px;
	margin-top: 0px;
	margin-bottom: 40px;
	transition-duration: 0.5s;
	transition-property: opacity, pre-transform-scale2d, transform;
	transform: translateY(30px);
	opacity: 0.2;
	opacity-mask: url("s2r://panorama/images/post_game/keyplayer_fade_psd.vtex");
}

.MVPHonorableMention .KeyPlayerForeground
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/post_game/keyplayer_fg_01_psd.vtex");
	background-size: cover;
}

.MVPHonorableMention .HeroFrame
{
	width: 100%;
	height: 680px;
	ui-scale: 86%;
}

.MVPHonorableMention .HeroFrame #HeroScenePanel
{
	width: 100%;
	height: 100%;
	pre-transform-scale2d: 0.9;
	opacity-mask: url("s2r://panorama/images/post_game/keyplayer_mask_psd.vtex");
	opacity-mask-scale: 100% 100%;
}

.MVPHonorableMention .Footer
{
	flow-children: down;
	margin-top: 16px;
	width: 100%;
}

.MVPHonorableMention .Footer .PlayedBy
{
	color: offWhite&10;
	horizontal-align: center;
	text-align: center;
	font-family: oracle;
	margin: 0px 0px 4px 0px;
	font-size: 20px;
}

.MVPHonorableMention .Footer #PlayerName
{
	horizontal-align: center;
}

.MVPHonorableMention .Footer #PlayerName Label
{
	margin-top: -4px;
	color: offWhite;
	text-align: center;
	font-family: oracle;
	font-size: 24px;
	horizontal-align: center;
	max-width: 240px;
	text-overflow: shrink;
	height: 32px;
}

.MVPHonorableMention .Footer .CommendButton
{
	horizontal-align: center;
	margin-top: 12px;
}

.MVPHonorableMention #Accolades
{
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 180px;
}

.MVPHonorableMention #Accolades CitadelPostGameProgressAccolade
{
	opacity: 0.0;
	transform: none;
}

.MVPHonorableMention #Awards
{
	flow-children: down;
	vertical-align: bottom;
	margin-left: -8px;
	margin-bottom: 316px;
}

.KeyPlayerIdentity
{
	height: 140px;
	width: 100%;
	flow-children: down;
	margin-top: -28px;
}

.KeyPlayerIdentity .KeyPlayerTitle
{
	font-size: 20px;
	horizontal-align: center;
	vertical-align: bottom;
	text-align: center;
	font-weight: light;
	overflow: noclip;
	margin-top: -16px;
	font-family: oracle;
	color: goldenShine;
	text-shadow: 0px 0px 0px 8 black;
	letter-spacing: 2px;
	text-transform: uppercase;
	animation-name: LightPulse;
	animation-iteration-count: infinite;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.KeyPlayerIdentity .KeyPlayerTrophy
{
	background-image: url("s2r://panorama/images/post_game/key_player_trophy.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	width: 120px;
	height: 160px;
	margin-top: -20px;
	img-shadow: 0px 0px 40px #000000;
	horizontal-align: center;
	vertical-align: top;
	ui-scale: 50%;
}

.KeyPlayerIdentity #HeroLogo
{
	ui-scale: 32%;
	vertical-align: bottom;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/post_game/hero_logo_mask_psd.vtex");
	opacity-mask-scale: 100% 100%;
	wash-color: goldenLight&cc;
	height: 200px;
}

.CommendButton
{
	width: 40px;
	height: 40px;
	background-color: #ffffff04;
	border-radius: 50%;
	pre-transform-scale2d: 0.9;
	box-shadow: 1px 1px 12px #00000033;
	tooltip-position: bottom;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.08s;
	transition-timing-function: ease-in-out;
}

.CommendButton:disabled
{
	opacity: 0.0;
}

.CommendButton:hover
{
	pre-transform-scale2d: 1;
	brightness: 1.3;
}

.CommendButton:active
{
	pre-transform-scale2d: 0.9;
	brightness: 1.3;
	sound: "UI.CommendConfirmation";
}

.CommendButton .commendIcon
{
	vertical-align: middle;
}

