/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPostGameProgressAccolade
{
	flow-children: down;
	margin-bottom: 32px;
	transition-property: opacity, transform;
	transition-duration: 0.1s;
	opacity: 0.0;
	transform: translateX( 20px );
}

CitadelPostGameProgressAccolade.ShowAccolade
{
	opacity: 1.0;
	transform: none;
}

CitadelPostGameProgressAccolade #AccoladeStars
{
	flow-children: right;
}

CitadelPostGameProgressAccolade #AccoladeStars .AccoladeStar
{
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("s2r://panorama/images/icons/icon_star_white.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: electricYellow;
}

CitadelPostGameProgressAccolade .AccoladeTitle
{
	font-size: 24px;
	color: electricYellow;
	text-shadow: 0px 0px 0px 5 black;
	font-family: block;
	margin-top: 2px;
}

CitadelPostGameProgressAccolade .AccoladeDesc
{
	color: #999;
	font-size: 18px;
	text-shadow: 0px 0px 0px 3 black;
	margin-top: -4px;
}

CitadelPostGameProgressAccolade .AccoladeDesc .StatValue
{
	color: white;
}

