/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPostGame
{
	height: 100%;
	width: 100%;
	background-color: offBlack;
}

.tabPage
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.Body
{
	width: 100%;
	height: 100%;
}

.Body .MainContents
{
	width: 100%;
	height: 100%;
	transition-property: blur;
	transition-duration: 0.5s;
}

.ProgressState_Active .Body .MainContents
{
	blur: gaussian( 8 );
}

.matchOutcomeContainer
{
	flow-children: down;
	margin: 130px 20px 0px 0px;
	horizontal-align: right;
	visibility: collapse;
}

.matchOutcomeContainer .matchOutcomeLabel
{
	color: white;
	font-size: 32px;
	text-transform: uppercase;
	visibility: collapse;
	margin-top: -8px;
}

.isSpectator .matchOutcomeContainer #OutcomeVictory,.isSpectator .matchOutcomeContainer #OutcomeDefeat
{
	visibility: collapse;
}

.matchIDLabel
{
	color: #787878;
	font-size: 18px;
	font-family: Retail Text Demo;
	vertical-align: middle;
}

#BottomCenterButtonsContainer
{
	vertical-align: bottom;
	horizontal-align: center;
}

#BottomRightButtonsContainer
{
	horizontal-align: right;
}

.GraphsSelected #BottomCenterButtonsContainer,.GraphsSelected #BottomRightButtonsContainer,.GraphsSelected .matchOutcomeContainer
{
	visibility: collapse;
}

#ReplayButton
{
	width: fit-children;
}

.ErrorContents
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
}

.ErrorContents .ErrorMsg
{
	horizontal-align: center;
	font-size: 32px;
	text-transform: none;
	max-width: 800px;
	margin-bottom: 4px;
}

.ErrorContents #RetryButton
{
	horizontal-align: center;
	ui-scale: 125%;
}

.ErrorContents #RetryButton:hover
{
	sound: soundMainMenuHover;
}

.ErrorContents #RetryButton:active
{
	sound: soundMainMenuActivate;
}

#PageContainer
{
	width: 100%;
	height: 100%;
}

#ScoreboardPage,#GraphsPage
{
	opacity: 0;
}

.ScoreboardSelected #ScoreboardPage,.GraphsSelected #GraphsPage
{
	opacity: 1;
}

#Graphs
{
	width: 100%;
	height: 100%;
	margin: 0px 80px 80px 80px;
}

#PostGameProgress
{
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.0s;
}

.ProgressState_Active #PostGameProgress
{
	opacity: 1.0;
	transition-duration: 0.2s;
}

#ConfirmButton
{
	flow-children: right;
	visibility: visible;
	vertical-align: bottom;
	horizontal-align: middle;
	z-index: 101;
	margin-bottom: -10px;
}

#ConfirmButton:hover:enabled
{
	sound: "UI.HeroCard.Hover";
}

#ConfirmButton #PlayButtonFX
{
	width: 400px;
	height: 110px;
	vertical-align: middle;
	ignore-parent-flow: true;
	horizontal-align: center;
	opacity: 0;
	margin-left: 100px;
	margin-bottom: 30px;
	transition-property: opacity;
	transition-duration: 0.2s;
}

#ConfirmButton .buttonContent
{
	margin-top: 40px;
	horizontal-align: left vertical-align: middle;
	z-index: 2;
	horizontal-align: middle;
	min-width: 280px;
}

#ConfirmButton .buttonContent SplitLabel
{
	horizontal-align: center;
}

#ConfirmButton .buttonContent SplitLabel Image
{
	transition-property: transform;
	transition-duration: 0.2s;
}

#ConfirmButton .buttonContent .btn_bg
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	wash-color: rgb(18, 18, 18);
	transition-property: background-color, transform, background-image, border;
	transition-duration: 0.2s;
}

#ConfirmButton .buttonContent .btn_texture
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/temp/play_box_psd.vtex");
	background-size: 100% 100%;
	opacity: 0.2;
	wash-color: #93aead;
}

#ConfirmButton:hover .btn_bg
{
	transform: rotateZ(-3deg);
}

#ConfirmButton:hover .btn_texture
{
	background-image: url("s2r://panorama/images/main_menu/pick_screen/temp/play_box_fill_psd.vtex");
	transform: rotateZ(-3deg);
	opacity: 1;
	wash-color: offWhite;
}

#ConfirmButton:hover Label
{
	font-style: italic;
	color: offBlack;
}

#ConfirmButton:hover #PlayButtonFX
{
	opacity: 1;
}

#ConfirmButton:hover #playTest
{
	wash-color: offBlack;
	opacity: 1;
}

#ConfirmButton:hover SplitLabel Image:nth-child(1)
{
	transform: rotateZ(-5deg);
}

#ConfirmButton:hover SplitLabel Image:first-child
{
	transform: rotateZ(-5deg);
}

#ConfirmButton:hover SplitLabel Image:nth-child(even)
{
	transform: translateY(-1px);
}

#ConfirmButton:hover SplitLabel Image:nth-child(odd)
{
	transform: translateY(1px);
}

#ConfirmButton:hover SplitLabel Image:last-child
{
	transform: rotateZ(3deg);
}

#ConfirmButton:active
{
	sound: "UI.Roster.Confirm";
}

#ConfirmButton Label
{
	font-size: 30px;
	font-weight: bold;
	color: offWhite&ee;
	font-family: oracle;
	text-transform: uppercase;
	vertical-align: middle;
	horizontal-align: middle;
	transition-duration: 0.2s;
	text-overflow: shrink;
	max-width: 300px;
	letter-spacing: 1px;
	padding: 5px 0px;
	text-align: center;
}

.Language_polish #ConfirmButton Label
{
	letter-spacing: 4px;
}

.Language_russian #ConfirmButton Label
{
	letter-spacing: 7px;
}

.Language_ukrainian #ConfirmButton Label
{
	letter-spacing: 7px;
}

#ConfirmButton:disabled
{
	opacity: 0.1;
	saturation: 0;
}

#ConfirmButton:hover .btn_fx
{
	opacity: 1;
}

