/* Prettified by Source 2 Viewer 10.2.0.0 - https://valveresourceformat.github.io */

.tabPage
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.matchOutcomeContainer
{
	flow-children: down;
	margin: 130px 20px 0px 0px;
	horizontal-align: right;
	visibility: collapse;
}

.isSpectator .matchOutcomeContainer #OutcomeVictory,.isSpectator .matchOutcomeContainer #OutcomeDefeat
{
	visibility: collapse;
}

.isSpectator .personaNavDivider,.isSpectator .Personal
{
	opacity: 0;
}

.matchIDLabel
{
	color: #787878;
	font-size: 18px;
	font-family: Retail Text Demo;
	vertical-align: middle;
}

.loading .matchIDLabel
{
	visibility: collapse;
}

.matchOutcomeLabel
{
	color: white;
	font-size: 32px;
	text-transform: uppercase;
	visibility: collapse;
	margin-top: -8px;
}

#BottomButtonsContainer
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 40px;
}

.GraphsSelected #BottomButtonsContainer,.GraphsSelected .matchOutcomeContainer,.HeroAchievementsSelected #BottomButtonsContainer
{
	visibility: collapse;
}

.isMatchHistory #EnterMatchmaking,.isMatchHistory #LeaveMatchmaking,.in_matchmaking .isMatchHistory #LeaveMatchmaking
{
	visibility: collapse;
}

#ReplayButton,.isMatchHistory.loading #ReplayButton
{
	width: fit-children;
	height: 100px;
	visibility: collapse;
	margin-right: 110px;
}

.has_error.isMatchHistory #ReplayButton
{
	visibility: collapse;
}

.isMatchHistory #ReplayButton
{
	visibility: visible;
}

.bottomButtons
{
	margin-left: 10px;
	margin-right: 10px;
	background-color: #007f92;
	padding: 5px;
	border-radius: 8px;
}

.bottomButtons Label
{
	font-size: 24px;
	color: white;
}

#MatchmakingEnabledLabel
{
	color: white;
	vertical-align: bottom;
	horizontal-align: center;
	ignore-parent-flow: true;
	margin-bottom: 25px;
	font-size: 24px;
	text-transform: uppercase;
}

.in_matchmaking #EnterMatchmaking,#LeaveMatchmaking,#MatchmakingEnabledLabel
{
	visibility: collapse;
}

.in_matchmaking #LeaveMatchmaking,.in_matchmaking #MatchmakingEnabledLabel
{
	visibility: visible;
}

.bottomButtons:hover
{
	background-color: #00c4e1;
}

#LoadingBody
{
	flow-children: right;
	visibility: collapse;
	vertical-align: center;
	horizontal-align: center;
}

.loading #LoadingBody
{
	visibility: visible;
}

#ErrorBody
{
	visibility: collapse;
	vertical-align: center;
	horizontal-align: center;
}

.has_error #ErrorBody
{
	visibility: visible;
}

.ErrorContents
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
}

.ErrorMsg
{
	horizontal-align: center;
	font-size: 32px;
	margin-bottom: 30px;
}

#RetryButton
{
	horizontal-align: center;
}

.has_error #ErrorBody
{
	visibility: visible;
}

.loading #TabBody,.has_error #TabBody
{
	visibility: collapse;
}

.LoadingContents Label
{
	vertical-align: center;
	margin-right: 20px;
	font-size: 32px;
}

.LoadingContents
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
}

#LoadingSpinner
{
	width: 48px;
	height: 48px;
	animation-name: RotateIcon;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transition-property: opacity, pre-transform-rotate2d;
	transition-duration: 0.3s;
}

@keyframes 'RotateIcon'
{
	0%
	{
		pre-transform-rotate2d: 0deg;
	}
	
	100%
	{
		pre-transform-rotate2d: 360deg;
	}
	
}

#PageContainer
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 1;
}

#PostGameNavigation
{
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 1;
	visibility: collapse;
}

.has_error #PageContainer,.loading #PageContainer,.has_error #PostGameNavigation,.loading #PostGameNavigation
{
	visibility: collapse;
}

#NavigationButtonsContainer
{
	vertical-align: top;
	horizontal-align: right;
	flow-children: down;
}

#ScoreboardPage,#HeroAchievementsPage,#GraphsPage
{
	opacity: 0;
}

.ScoreboardSelected #ScoreboardPage,.GraphsSelected #GraphsPage
{
	opacity: 1;
}

#Graphs
{
	width: 100%;
	height: 100%;
	margin: 0px 80px 80px 80px;
}

.HeroStatsWIP
{
	margin-top: 40px;
	padding: 80px 140px 80px 140px;
	border: 1px solid grey;
}

@define twoAwardMargin: 24px;
@define negativeTwoAwardMargin: -24px;
@define threeAwardMargin: 48px;
@define negativeThreeAwardMargin: -48px;
@define fourAwardMargin: 72px;
@define negativeFourAwardMargin: -72px;
@define fiveAwardMargin: 96px;
@define negativeFiveAwardMargin: -96px;
@define playerAwardSize: 34px;
.playerRewardsContainer
{
	flow-children: right;
	z-index: 5;
	width: fit-children;
	height: 34px;
	transition-duration: 5s;
	transition-property: opacity;
	opacity: 0;
}

.hasPlayerAwards .playerRewardsContainer
{
	opacity: 1;
}

.friend.hasAwards2.playerRewardsContainer
{
	margin-right: twoAwardMargin;
	margin-left: negativeTwoAwardMargin;
}

.friend.hasAwards3.playerRewardsContainer
{
	margin-right: threeAwardMargin;
	margin-left: negativeThreeAwardMargin;
}

.friend.hasAwards4.playerRewardsContainer
{
	margin-right: fourAwardMargin;
	margin-left: negativeFourAwardMargin;
}

.friend.hasAwards5.playerRewardsContainer
{
	margin-right: fiveAwardMargin;
	margin-left: negativeFiveAwardMargin;
}

.playerAward
{
	height: playerAwardSize;
	width: playerAwardSize;
	background-size: 100% 100%;
}

.playerAward.negativeLeftMargin
{
	margin-left: -10px;
}

