/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPostGameNew
{
	width: 100%;
	height: 100%;
	background-color: offBlack;
}

.ScoreboardBackground
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #00000000), to( #000000 ) );
	width: 100%;
	height: 100%;
}

#Team1 .ScoreboardBackground
{
	background-color: gradient( radial, 50% 0%, 0% 0%, 40% 40%, from( team1ColorDarker&12 ), to( #000000bb ) );
}

#Team2 .ScoreboardBackground
{
	background-color: gradient( radial, 50% 0%, 0% 0%, 40% 40%, from( team2ColorAlt&12 ), to( #000000bb ) );
}

.Body
{
	width: 100%;
	height: 100%;
}

.FooterBar
{
	vertical-align: bottom;
	width: 100%;
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	opacity: 0.0;
	transform: translateY( 20px );
}

.ProgressState_None .FooterBar,.ProgressState_Completed .FooterBar
{
	opacity: 1.0;
	transform: none;
}

.FooterBarBL
{
	margin: 16px;
	height: 28px;
	horizontal-align: left;
	vertical-align: bottom;
	flow-children: right;
}

.FooterBarBL CitadelBindingButton
{
	margin-right: 12px;
	opacity: 0.2;
}

.FooterBarMid
{
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: none;
	width: 1200px;
	height: 200px;
}

.FooterBarBR
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: right;
}

.FooterBarBR #ReplayButton
{
	margin: 0px 8px 12px 0px;
}

CitadelPostGameNew.ProgressState_Loading .AsyncLoadingContainer
{
	visibility: visible;
}

CitadelPostGameNew.ProgressState_Loading .AsyncSuccessContainer
{
	visibility: collapse;
}

#ScreensCarousel
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

#ScreensCarousel .PostGameScreen
{
	width: 100%;
	height: 100%;
	opacity: 0.0;
	transition-property: opacity, position, transform;
	transition-duration: 0.2s;
}

#ScreensCarousel .PostGameScreen.Focused
{
	opacity: 1.0;
}

#ScreensCarousel .PostGameScreen.RightOfFocus1
{
	opacity: 0.2;
	transform: translateX( -340px );
}

#ScreensCarousel .PostGameScreen.LeftOfFocus1
{
	opacity: 0.2;
	transform: translateX( 340px );
}

#Team1
{
	background-image: url("s2r://panorama/images/post_game/bg_team1_psd.vtex");
	background-size: cover;
	background-position: center;
}

#Team2
{
	background-image: url("s2r://panorama/images/post_game/bg_team2_psd.vtex");
	background-size: cover;
	background-position: center;
}

#MVPScreen
{
	background-image: url("s2r://panorama/images/post_game/mvp_bg_png.vtex");
	background-size: cover;
	background-position: center;
}

#ScoreboardScreen
{
	background-image: url("s2r://panorama/images/post_game/mvp_bg_png.vtex");
	background-size: cover;
	background-position: center;
}

#GraphsScreen
{
	background-image: url("s2r://panorama/images/post_game/mvp_bg_png.vtex");
	background-size: cover;
	background-position: center;
}

.AspectRatio16x10 #ScreensCarousel .PostGameScreen.RightOfFocus1.Team
{
	transform: translateX( -210px );
}

.AspectRatio16x10 #ScreensCarousel .PostGameScreen.RightOfFocus1.Scoreboard
{
	transform: translateX( -300px );
}

.AspectRatio16x10 #ScreensCarousel .PostGameScreen.LeftOfFocus1.Team
{
	transform: translateX( 210px );
}

.AspectRatio16x10 #ScreensCarousel .PostGameScreen.LeftOfFocus1.Scoreboard
{
	transform: translateX( 300px );
}

.Team.IsWinningTeam .DefeatLabel,.VictoryLabel
{
	visibility: collapse;
}

.Team.IsWinningTeam .VictoryLabel,.DefeatLabel
{
	visibility: visible;
}

#Team1
{
	background-color: gradient( radial, 50% 0%, 0% 0%, 40% 40%, from( team1Color&10 ), to( team1ColorDarker&08 ) );
}

#Team2
{
	background-color: gradient( radial, 50% 0%, 0% 0%, 40% 40%, from( team2Color&10 ), to( team2ColorDarker&08 ) );
}

.ChangeScreenButton
{
	height: 100%;
	width: 210px;
	overflow: clip;
	visibility: collapse;
	transition-property: background-color;
	transition-duration: 0.32s;
	transition-timing-function: ease-in-out;
}

.ChangeScreenButton .ChangeScreenArrow
{
	width: 72px;
	height: 72px;
	border-radius: 60px;
	background-color: offWhite&05;
	wash-color: offWhite;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0;
	background-image: url("s2r://panorama/images/icons/arrow_east.vsvg");
	background-size: 40%;
	background-position: center;
	background-img-opacity: 0.7;
	background-repeat: no-repeat;
	padding: 12px;
	box-shadow: 1px 1px 8px #00000033;
	margin-bottom: 60px;
	transition-property: opacity;
	transition-duration: 0.08s;
	transition-delay: 0.08s;
	transition-timing-function: ease-in-out;
}

.ChangeScreenButton.ChangeScreenLeft
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000dd ), to( #00000000 ) );
}

.ChangeScreenButton.ChangeScreenLeft .ChangeScreenArrow
{
	transform: rotateZ(180deg);
}

.HasPreviousScreen.ProgressState_None .ChangeScreenButton.ChangeScreenLeft,.HasPreviousScreen.ProgressState_Completed .ChangeScreenButton.ChangeScreenLeft
{
	visibility: visible;
}

.ChangeScreenButton.ChangeScreenRight
{
	horizontal-align: right;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), to( #000000dd ) );
}

.HasNextScreen.ProgressState_None .ChangeScreenButton.ChangeScreenRight,.HasNextScreen.ProgressState_Completed .ChangeScreenButton.ChangeScreenRight
{
	visibility: visible;
}

.ChangeScreenButton:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), to( #00000000 ) );
}

.ChangeScreenButton:hover .ChangeScreenArrow
{
	opacity: 0.8;
}

.TeamPlayerContainer
{
	flow-children: right;
	width: fit-children;
	horizontal-align: center;
	vertical-align: center;
	ui-scale: 96%;
	transform: translateY(16px);
}

.TeamNameContainer
{
	flow-children: down;
	vertical-align: top;
	horizontal-align: center;
}

.TeamName
{
	width: 500px;
	height: 120px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
	pre-transform-scale2d: 0.8;
}

#Team1 .TeamName
{
	background-image: url("s2r://panorama/images/hud/objectives/team1_patron_logo_psd.vtex");
	margin-top: -16px;
	wash-color: team1Color;
}

#Team2 .TeamName
{
	background-image: url("s2r://panorama/images/hud/objectives/team2_patron_logo_psd.vtex");
	margin-top: -8px;
	wash-color: team2Color;
}

#ScoreboardScreen #Scoreboard
{
	background-color: none;
	padding: 0px 0px 60px 0px;
	horizontal-align: center;
}

#GraphsScreen #Graphs
{
	margin: 0px 40px 160px 40px;
	horizontal-align: center;
}

.VictoryLabel,.DefeatLabel
{
	font-family: oracle;
	font-weight: bold;
	font-size: 48px;
	line-height: 72px;
	pre-transform-rotate2d: -3deg;
	margin-top: 28px;
	horizontal-align: center;
	animation-name: AwardReveal;
	animation-duration: .24s;
	animation-timing-function: ease-in-out;
}

.DefeatLabel
{
	font-size: 48px;
}

.Player
{
	width: 284px;
	height: 900px;
	ui-scale: 90%;
	margin-right: -4px;
	margin-left: -4px;
	overflow: noclip;
	background-repeat: no-repeat;
}

.Player .PlayerCard
{
	width: 100%;
	height: 100%;
}

.Player .HeroScenePanelBackground
{
	width: 100%;
	height: 800px;
	background-color: offBlack;
	background-position: center;
	background-image: url("s2r://panorama/images/post_game/card_hero_back_06_png.vtex");
	background-size: cover;
}

.Player CitadelHeroScenePanelNew
{
	width: 100%;
	height: 800px;
	opacity-mask-scale: 100% 100%;
	opacity-mask-position: 0px 0px;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.Player CitadelHeroScenePanelNew.SceneLoaded
{
	opacity: 1.0;
}

.Player .HeroScenePanelTint
{
	width: 100%;
	height: 800px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.5, #00000066 ), color-stop( 0.7, #000000cc ), to( #000000 ) );
	opacity-mask-scale: 100% 100%;
	background-position: center;
	opacity-mask-position: 0px 0px;
}

.Player .CardBottom
{
	vertical-align: bottom;
	width: 100%;
	margin-bottom: 188px;
	flow-children: down;
}

.Player .CardBottom #HeroLogo
{
	visibility: collapse;
	ui-scale: 32%;
	margin-bottom: 12px;
	margin-top: 8px;
	horizontal-align: center;
	vertical-align: bottom;
	pre-transform-rotate2d: -3deg;
	opacity-mask: url("s2r://panorama/images/post_game/hero_logo_mask_psd.vtex") 0.5;
	opacity-mask-scale: 100% 100%;
}

.Player .CardBottom #AwardsContainer
{
	width: 100%;
	flow-children: up;
	vertical-align: bottom;
	margin: 0px 8px 0px 28px;
}

#HeroScenePanelBacker
{
	width: 100%;
	height: 100%;
	max-width: 1800px;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/post_game/bg_team_mask_psd.vtex");
	opacity-mask-scale: 100% 100%;
	blur: gaussian(2px);
	pre-transform-scale2d: 1.1;
}

.AspectRatio21x9 #HeroScenePanelBacker
{
	margin-right: 0px;
}

#Team1 #HeroScenePanelBacker
{
	wash-color: team1Color;
	opacity: .08;
}

#Team2 #HeroScenePanelBacker
{
	wash-color: team2ColorAlt;
	opacity: .1;
}

.Player .HeroMaskPanel
{
	width: 100%;
	height: 800px;
}

.Player.Left3 .HeroMaskPanel
{
	opacity-mask: url("s2r://panorama/images/post_game/card_hero_mask_01_png.vtex");
}

.Player.Left2 .HeroMaskPanel
{
	opacity-mask: url("s2r://panorama/images/post_game/card_hero_mask_02_png.vtex");
}

.Player.Left1 .HeroMaskPanel
{
	opacity-mask: url("s2r://panorama/images/post_game/card_hero_mask_03_png.vtex");
}

.Player.Right1 .HeroMaskPanel
{
	opacity-mask: url("s2r://panorama/images/post_game/card_hero_mask_04_png.vtex");
}

.Player.Right2 .HeroMaskPanel
{
	opacity-mask: url("s2r://panorama/images/post_game/card_hero_mask_05_png.vtex");
}

.Player.Right3 .HeroMaskPanel
{
	opacity-mask: url("s2r://panorama/images/post_game/card_hero_mask_06_png.vtex");
}

.PlayerBorder
{
	width: 100%;
	height: 800px;
	background-img-opacity: 0.6;
	background-size: cover;
	background-repeat: no-repeat;
	wash-color: #302f2e;
}

#Team1 .Player.IsLocalPlayer .PlayerBorder
{
	wash-color: team1Color&33;
	img-shadow: 0px 0px 120px team1Color;
}

#Team2 .Player.IsLocalPlayer .PlayerBorder
{
	wash-color: team2Color&33;
	img-shadow: 0px 0px 120px team2Color;
}

.Player.Left3 .PlayerBorder
{
	background-image: url("s2r://panorama/images/post_game/card_back_01.vsvg");
}

.Player.Left2 .PlayerBorder
{
	background-image: url("s2r://panorama/images/post_game/card_back_02.vsvg");
}

.Player.Left1 .PlayerBorder
{
	background-image: url("s2r://panorama/images/post_game/card_back_03.vsvg");
}

.Player.Right1 .PlayerBorder
{
	background-image: url("s2r://panorama/images/post_game/card_back_04.vsvg");
}

.Player.Right2 .PlayerBorder
{
	background-image: url("s2r://panorama/images/post_game/card_back_05.vsvg");
}

.Player.Right3 .PlayerBorder
{
	background-image: url("s2r://panorama/images/post_game/card_back_06.vsvg");
}

.Player.IsLocalPlayer .PlayerBorder
{
	img-shadow: 0px 0px 80px offWhite&44;
	opacity-mask: url("s2r://panorama/images/post_game/hero_logo_mask_psd.vtex") 0.4;
	opacity-mask-scale: 100% 100%;
}

.Player.IsLocalPlayer .PlayerCard
{
	animation-name: LightPulse;
	animation-duration: 1.7s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.Player.MVP_Rank1 .PlayerBorder
{
	wash-color: goldenLight;
	img-shadow: 0px 0px 80px offWhite&44;
	opacity-mask: url("s2r://panorama/images/post_game/hero_logo_mask_psd.vtex");
	opacity-mask-scale: 100% 100%;
	brightness: 2.3;
}

.Player.MVP_Rank2 .PlayerBorder,.Player.MVP_Rank3 .PlayerBorder
{
	wash-color: goldenLight;
	img-shadow: 0px 0px 80px offWhite&44;
	opacity-mask: url("s2r://panorama/images/post_game/hero_logo_mask_psd.vtex");
	opacity-mask-scale: 100% 100%;
	brightness: 0.5;
}

.Player.MVP_Rank1 .PlayerCard,.Player.MVP_Rank2 .PlayerCard,.Player.MVP_Rank3 .PlayerCard
{
	pre-transform-scale2d: 1.015;
}

.MVPContainer
{
	horizontal-align: center;
	vertical-align: top;
	animation-name: AwardReveal;
	animation-duration: .24s;
	animation-timing-function: ease-in-out;
	margin-left: -20px;
	margin-top: 48px;
}

.MVPContainer .MVP,.MVPContainer .MVP_HonorableMention
{
	font-size: 22px;
	font-family: oracle;
	color: goldenLightShine;
	text-shadow: 0px 0px 0px 12 black;
	padding: 12px 0px 0px 0px;
	letter-spacing: 2px;
	text-transform: uppercase;
	vertical-align: center;
	text-overflow: shrink;
}

.MVPContainer .MVP
{
	visibility: collapse;
	margin-top: 32px;
	font-size: 64px;
	font-weight: bold;
	pre-transform-rotate2d: -3deg;
	padding-left: 80px;
	animation-duration: 1.5s;
}

.Player.MVP_Rank1 .MVPContainer .MVP
{
	visibility: visible;
}

.MVPContainer .MVP_HonorableMention
{
	visibility: collapse;
	animation-duration: 1.7s;
	pre-transform-rotate2d: -2deg;
	padding-left: 72px;
	font-weight: light;
}

.Player.MVP_Rank2 .MVPContainer .MVP_HonorableMention,.Player.MVP_Rank3 .MVPContainer .MVP_HonorableMention
{
	visibility: visible;
}

.MVPContainer .MVPTrophy
{
	background-image: url("s2r://panorama/images/post_game/mvp_trophy.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	opacity: 1;
	margin-bottom: -8px;
	width: 120px;
	height: 160px;
	img-shadow: 0px 0px 4px #00000088;
	horizontal-align: left;
	vertical-align: center;
	ui-scale: 70%;
}

.MVPContainer .KeyPlayerTrophy
{
	background-image: url("s2r://panorama/images/post_game/key_player_trophy.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	width: 120px;
	height: 160px;
	img-shadow: 0px 0px 4px #00000088;
	horizontal-align: left;
	vertical-align: center;
	ui-scale: 70%;
}

.Player.Left3 .MVPContainer
{
	margin-top: 0px;
}

.Player.Left2 .MVPContainer
{
	margin-top: 16px;
}

.Player.Right2 .MVPContainer
{
	margin-top: 16px;
}

.Player.Right3 .MVPContainer
{
	margin-top: 0px;
}

#LocalPlayerIdentifier
{
	wash-color: offWhite;
	background-image: url("s2r://panorama/images/icons/caret_up.vsvg");
	background-size: contain;
	width: fit-children;
	height: fit-children;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 10px;
	vertical-align: bottom;
	visibility: collapse;
	opacity: 0.6;
}

#LocalPlayerIdentifier Label
{
	font-family: block;
	text-transform: lowercase;
	color: white;
	text-align: center;
	font-size: 22px;
	padding: 0px 8px;
}

#Team1 #LocalPlayerIdentifier
{
	wash-color: team1Color;
	text-shadow: 0px 0px 10px team1Color;
}

#Team2 #LocalPlayerIdentifier
{
	wash-color: team2Color;
	text-shadow: 0px 0px 10px team2Color;
}

.Player.IsLocalPlayer #LocalPlayerIdentifier
{
	visibility: visible;
}

#CommendPlayerButton
{
	vertical-align: bottom;
	tooltip-position: bottom;
	background-color: offWhite&05;
	margin-left: 28px;
}

#CommendPlayerButton:active
{
	sound: "UI.CommendConfirmation";
}

#PlayerName,#PlayerName Label
{
	width: 100%;
	text-align: center;
	vertical-align: bottom;
	horizontal-align: center;
	font-family: oracle;
	font-size: 24px;
	margin-bottom: 28px;
	max-width: 240px;
	text-overflow: shrink;
	height: 60px;
}

#Team1 .Player.IsLocalPlayer #PlayerName Label
{
	text-shadow: 0px 0px 10px team1Color;
}

#Team2 .Player.IsLocalPlayer #PlayerName Label
{
	text-shadow: 0px 0px 10px team2Color;
}

.PlayerActionContainer
{
	width: fit-children;
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
}

.HeroName
{
	horizontal-align: center;
	text-align: center;
	font-size: 20px;
	font-family: oracle;
	color: offWhite&10;
	font-weight: light;
	margin: 0px 0px 88px 0px;
	vertical-align: bottom;
}

@keyframes 'AwardReveal'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 0.2;
		pre-transform-rotate2d: -10deg;
	}
	
	80%
	{
		pre-transform-scale2d: 1.1;
		pre-transform-rotate2d: 2deg;
	}
	
	100%
	{
		opacity: 1;
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: -2.2deg;
	}
	
}

@keyframes 'LightPulse'
{
	0%
	{
		pre-transform-scale2d: 1.01;
	}
	
	50%
	{
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1.01;
	}
	
}

@keyframes 'PostWobble'
{
	0%
	{
		pre-transform-rotate2d: -0.2deg;
	}
	
	50%
	{
		pre-transform-rotate2d: 0.2deg;
	}
	
	100%
	{
		pre-transform-rotate2d: -0.2deg;
	}
	
}

#CitadelPostGameNew:not(.CanCommendPlayers) #CommendPlayerButton
{
	visibility: collapse;
}

.Player.CommendedPlayer #CommendPlayerButton,.Player.IsLocalPlayer #CommendPlayerButton
{
	visibility: collapse;
}

#CitadelPostGameNew:not(.CanCommendPlayers) #ShowPlayerContextMenuButton
{
	visibility: collapse;
}

.Player.CommendedPlayer #CommendPlayerButton,.Player.IsLocalPlayer #ShowPlayerContextMenuButton
{
	visibility: collapse;
}

#PlayAgainButton
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: middle;
	z-index: 101;
	margin-bottom: -16px;
	pre-transform-scale2d: 0.9;
	opacity: 0.0;
	transform: translateY( 20px );
	margin-left: -820px;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
}

.CanPlayAgain.ProgressState_Completed #PlayAgainButton
{
	opacity: 1.0;
	transform: none;
}

#PlayAgainButton:hover:enabled
{
	sound: "UI.HeroCard.Hover";
}

#PlayAgainButton #PlayButtonFX
{
	width: 400px;
	height: 110px;
	vertical-align: middle;
	ignore-parent-flow: true;
	horizontal-align: center;
	opacity: 0;
	margin-left: 100px;
	margin-bottom: 30px;
	transition-property: opacity;
	transition-duration: 0.2s;
}

#PlayAgainButton .buttonContent
{
	margin-top: 52px;
	horizontal-align: left vertical-align: middle;
	z-index: 2;
	horizontal-align: middle;
	min-width: 280px;
}

#PlayAgainButton .buttonContent SplitLabel
{
	horizontal-align: center;
}

#PlayAgainButton .buttonContent SplitLabel Image
{
	transition-property: transform;
	transition-duration: 0.2s;
}

#PlayAgainButton .buttonContent .btn_bg
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	wash-color: rgb(18, 18, 18);
	transition-property: background-color, transform, background-image, border;
	transition-duration: 0.2s;
}

#PlayAgainButton .buttonContent .btn_texture
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/main_menu/pick_screen/temp/play_box_psd.vtex");
	background-size: 100% 100%;
	opacity: 0.2;
	wash-color: #93aead;
}

#PlayAgainButton:hover .btn_bg
{
	transform: rotateZ(-3deg);
}

#PlayAgainButton:hover .btn_texture
{
	background-image: url("s2r://panorama/images/main_menu/pick_screen/temp/play_box_fill_psd.vtex");
	transform: rotateZ(-3deg);
	opacity: 1;
	wash-color: offWhite;
}

#PlayAgainButton:hover Label
{
	font-style: italic;
	color: offBlack;
}

#PlayAgainButton:hover #PlayButtonFX
{
	opacity: 1;
}

#PlayAgainButton:hover #playTest
{
	wash-color: offBlack;
	opacity: 1;
}

#PlayAgainButton:hover SplitLabel Image:nth-child(1)
{
	transform: rotateZ(-5deg);
}

#PlayAgainButton:hover SplitLabel Image:first-child
{
	transform: rotateZ(-5deg);
}

#PlayAgainButton:hover SplitLabel Image:nth-child(even)
{
	transform: translateY(-1px);
}

#PlayAgainButton:hover SplitLabel Image:nth-child(odd)
{
	transform: translateY(1px);
}

#PlayAgainButton:hover SplitLabel Image:last-child
{
	transform: rotateZ(3deg);
}

#PlayAgainButton:active
{
	sound: "UI.Roster.Confirm";
}

#PlayAgainButton Label
{
	font-size: 30px;
	font-weight: bold;
	color: offWhite&ee;
	font-family: oracle;
	text-transform: uppercase;
	vertical-align: middle;
	horizontal-align: middle;
	transition-duration: 0.2s;
	text-overflow: shrink;
	max-width: 300px;
	letter-spacing: 1px;
	padding: 5px 0px;
	text-align: center;
}

.Language_polish #PlayAgainButton Label
{
	letter-spacing: 4px;
}

.Language_russian #PlayAgainButton Label
{
	letter-spacing: 7px;
}

.Language_ukrainian #PlayAgainButton Label
{
	letter-spacing: 7px;
}

#PlayAgainButton:disabled
{
	opacity: 0.1;
	saturation: 0;
}

#PlayAgainButton:hover .btn_fx
{
	opacity: 1;
}

#ShowPlayerContextMenuButton
{
	width: 24px;
	height: 24px;
	vertical-align: center;
	margin-left: 4px;
	background-image: url("s2r://panorama/images/icons/icon_chevron_down.vsvg");
	background-size: contain;
	wash-color: offWhite;
	opacity: 0.3;
	context-menu-position: bottom;
	img-shadow: 1px 1px 12px #00000033;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.08s;
	transition-timing-function: ease-in-out;
	pre-transform-scale2d: 0.9;
}

#ShowPlayerContextMenuButton:hover
{
	pre-transform-scale2d: 1;
}

.ViewOtherTeam
{
	horizontal-align: right;
	margin: 136px 24px;
}

.ViewOtherTeam Label
{
	font-family: block;
	text-transform: uppercase;
	font-size: 14px;
	color: silvered&08;
	text-align: right;
}

.CarouselNav
{
	flow-children: right;
	width: fit-children;
	height: 60px;
	margin-bottom: 16px;
	vertical-align: bottom;
	horizontal-align: center;
}

.CarouselNav .CarouselNavArrow
{
	width: 44px;
	height: 44px;
	border-radius: 60px;
	background-color: keybindHousingBGColor&88;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.12;
	pre-transform-scale2d: .82;
	transition-property: brightness, opacity, transform;
	transition-duration: 0.12s;
	transition-timing-function: ease-in-out;
}

.CarouselNav .CarouselNavArrow .NavArrowIcon
{
	background-image: url("s2r://panorama/images/icons/arrow_east.vsvg");
	background-size: 100%;
	width: 18px;
	height: 18px;
	background-position: center;
	horizontal-align: center;
	vertical-align: center;
	background-repeat: no-repeat;
	wash-color: offWhite;
}

.CarouselNav .CarouselNavArrow:hover:enabled
{
	brightness: 2.0;
}

.CarouselNav .CarouselNavArrow:active
{
	brightness: 1.5;
}

.CarouselNav .CarouselNavArrow:disabled
{
	opacity: 0.02;
}

.CarouselNav #CarouselNavLeftArrow
{
	transform: scaleX( -1.0 );
	margin-right: 8px;
}

.CarouselNav #CarouselNavRightArrow
{
	margin-left: 8px;
}

.CarouselNav #CarouselNavItems
{
	flow-children: right;
	vertical-align: center;
}

.CarouselNav #CarouselNavItems .CarouselNavItem
{
	width: 44px;
	height: 44px;
	margin: -4px;
	background-color: keybindHousingBGColor&88;
	border: 2px solid transparent;
	tooltip-position: top;
	border-radius: 60px;
	pre-transform-scale2d: .6;
	opacity: 0.12;
	world-blur: ingameHudBlur;
	transition-property: pre-transform-scale2d, opacity;
	transition-duration: 0.08s;
	transition-timing-function: ease-in-out;
}

.CarouselNav #CarouselNavItems .CarouselNavItem:hover
{
	opacity: 0.4;
}

.CarouselNav #CarouselNavItems .CarouselNavItem:selected
{
	opacity: .5;
	pre-transform-scale2d: .82;
	background-color: offWhite&88;
}

.CarouselNav #CarouselNavItems .CarouselNavItem:selected .Icon
{
	wash-color: offBlack;
}

.CarouselNav #CarouselNavItems .CarouselNavItem Label
{
	vertical-align: middle;
	width: 100%;
	text-overflow: shrink;
	text-transform: uppercase;
	text-align: center;
	color: white;
	visibility: collapse;
}

.CarouselNav #CarouselNavItems .CarouselNavItem .Icon
{
	width: 100%;
	height: 100%;
	background-size: 76%;
	background-repeat: no-repeat;
	background-position: center;
	background-texture-size: 28px 28px;
	margin: 2px;
	wash-color: offWhite;
}

.CarouselNav #CarouselNavItems .CarouselNavItem.MVP .Icon
{
	background-image: url("s2r://panorama/images/post_game/nav_icon_trophy.vsvg");
	background-size: 72%;
}

.CarouselNav #CarouselNavItems .CarouselNavItem.Team1 .Icon
{
	background-image: url("s2r://panorama/images/post_game/nav_icon_team1_png.vtex");
	background-size: 100%;
}

.CarouselNav #CarouselNavItems .CarouselNavItem.Team2 .Icon
{
	background-image: url("s2r://panorama/images/post_game/nav_icon_team2_png.vtex");
	background-size: 100%;
}

.CarouselNav #CarouselNavItems .CarouselNavItem.Scoreboard .Icon
{
	background-image: url("s2r://panorama/images/post_game/nav_icon_scoreboard.vsvg");
}

.CarouselNav #CarouselNavItems .CarouselNavItem.Graphs .Icon
{
	background-image: url("s2r://panorama/images/post_game/nav_icon_graphs.vsvg");
}

.AsyncLoadingContainer
{
	background-color: black;
}

