/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

CitadelPostGame
{
	height: 100%;
	width: 100%;
	background-color: offBlack;
}

.BackgroundPanel
{
	width: 1400px;
	height: 100%;
	background-color: #6d469c50;
	transform: skew(-25deg) translateX(-650px);
}

#PostGameNavigation
{
	horizontal-align: right;
	flow-children: right;
	width: fit-children;
	margin: 30px;
}

#PostGameNavigation Label
{
	text-transform: uppercase;
	font-weight: semi-bold;
	color: #ffffff80;
}

.HeroAchievementsSelected #PostGameNavigation .Personal Label,.ScoreboardSelected #PostGameNavigation .Scoreboard Label,.GraphsSelected #PostGameNavigation .Graphs Label
{
	color: #ffffff;
}

.PostGameNav
{
	margin: 0px 20px;
}

.NavDivider
{
	color: #ffffff30;
}

#Timer
{
	width: 60px;
	height: 60px;
	horizontal-align: right;
	vertical-align: bottom;
	margin: 20px;
	border-radius: 30px;
	border: 3px solid #ffffff50;
	visibility: collapse;
}

#Timer Label
{
	horizontal-align: center;
	vertical-align: middle;
	font-size: 26px;
	font-weight: bold;
	color: #ffffff50;
	margin-top: -3px;
}

.showingTimer #Timer
{
	visibility: visible;
}

#MatchOutcome
{
	width: 400px;
	padding: 20px;
}

.MatchComplete
{
	font-size: 20px;
	font-weight: medium;
	text-transform: uppercase;
	font-family: CriteriaCF;
	color: #ffffff90;
	margin-bottom: -5px;
}

.VictoryDefeat
{
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: CriteriaCF;
	width: 100%;
	color: #ffffff;
}

#PersonalContent
{
	width: 100%;
	height: 100%;
}

#HeroScenePanel
{
	width: 800px;
	height: 100%;
	background-color: #00000001;
}

.IntroContent
{
	margin-bottom: 30px;
}

.HeroContent
{
	margin-right: 150px;
	margin-top: 150px;
	width: 800px;
	horizontal-align: right;
}

.HeroName
{
	font-size: 100px;
	margin-bottom: -10px;
	font-weight: bold;
	font-family: "Market Deco";
}

.PlayerName Label
{
	color: #999;
	font-size: 30px;
	text-transform: uppercase;
}

.BaseStats
{
	width: 800px;
}

.BaseStat
{
	width: 148px;
	height: 250px;
	margin-right: 15px;
	animation-name: none;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: 0;
	opacity: 0;
}

.tabSelected .BaseStat
{
	animation-name: fadeUp;
	animation-iteration-count: 1;
	opacity: 1;
}

.BaseStat.Kills
{
	animation-delay: 0s;
}

.BaseStat.Assists
{
	animation-delay: 0.2s;
}

.BaseStat.PlayerDmg
{
	animation-delay: 0.3s;
}

.BaseStat.Healing
{
	animation-delay: 0.4s;
}

.BaseStat.Assists
{
	animation-delay: 0.5s;
}

.BaseStat.NetWorth
{
	animation-delay: 0.5s;
	margin-right: 0px;
}

#HeroStatContainer
{
	flow-children:down;
	width: 100%;
	height: 180px;
	margin-top: 50px;
	animation-duration: 2s;
	animation-delay: 0.8s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-name: fadeUp;
	visibility: collapse;
}

#HeroStatsIntro
{
	horizontal-align: center;
	margin-bottom: 10px;
}

#HeroStatsIntro Label
{
	horizontal-align: center;
	text-transform: uppercase;
	color: #ffffff60;
	font-family: CriteriaCF;
	text-transform: uppercase;
}

@keyframes 'fadeUp'
{
	0%
	{
		transform: translateY(100px);
		opacity: 0;
	}
	
	50%
	{
		transform: translateY(100px);
		opacity: 0;
	}
	
	100%
	{
		transform: translateY(0px);
		opacity: 1;
	}
	
}

.StatIcon
{
	width: 100px;
	height: 100px;
	background-image: url("s2r://panorama/images/post_game/stat_objective_damage_png.vtex");
	background-size: contain;
	horizontal-align: center;
	img-shadow: 0px 0px 12px 5.0 #000000;
}

.Kills .StatIcon
{
	background-image: url("s2r://panorama/images/post_game/stat_kills_png.vtex");
}

.Kills.Best .StatIcon
{
	wash-color: #FF5D5D;
}

.Assists .StatIcon
{
	background-image: url("s2r://panorama/images/post_game/stat_assists_png.vtex");
}

.Assists.Best .StatIcon
{
	wash-color: #C730CA;
}

.ObjectiveDmg .StatIcon
{
	background-image: url("s2r://panorama/images/post_game/stat_objective_damage_png.vtex");
}

.ObjectiveDmg.Best .StatIcon
{
	wash-color: #02EAEA;
}

.PlayerDmg .StatIcon
{
	background-image: url("s2r://panorama/images/post_game/stat_hero_damage_png.vtex");
}

.PlayerDmg.Best .StatIcon
{
	wash-color: #2972FF;
}

.Healing .StatIcon
{
	background-image: url("s2r://panorama/images/post_game/stat_healing_png.vtex");
}

.Healing.Best .StatIcon
{
	wash-color: #00FF99;
}

.NetWorth .StatIcon
{
	background-image: url("s2r://panorama/images/post_game/stat_networth_png.vtex");
}

.NetWorth.Best .StatIcon
{
	wash-color: #FFCC00;
}

.BestInMatch
{
	font-size: 13px;
	text-transform: uppercase;
	horizontal-align: center;
	opacity: 0;
	font-family: CriteriaCF;
}

.Best .BestInMatch
{
	opacity: 1;
}

.StatBackground
{
	background-color: #ffffff05;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff07 ), to( #ffffff01 ) );
	height: 160px;
	width: 100%;
	vertical-align: bottom;
	ignore-parent-flow: true;
	border-radius: 5px;
}

.StatCore
{
	width: 100%;
	font-size: 14px;
	flow-children: down;
}

.StatAmount
{
	font-size: 28px;
	margin-bottom: -5px;
	font-weight: bold;
	margin-top: 20px;
	text-transform: uppercase;
	horizontal-align: center;
}

.StatCore .StatAmount
{
	margin-top: 10px;
}

.StatLabel
{
	font-size: 20px;
	color: #ffffff90;
	horizontal-align: center;
	text-align: center;
	font-weight: semi-bold;
	line-height: 20px;
}

.PersonalBest
{
	vertical-align: bottom;
	margin-bottom: 15px;
	flow-children: right;
	horizontal-align: center;
}

.PersonalBest Label
{
	font-size: 12px;
	color: #ffffff50;
	horizontal-align: center;
}

.StatCarat
{
	background-image: url("s2r://panorama/images/post_game/icon_carat.vsvg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 8px;
	height: 8px;
	vertical-align: middle;
	margin-right: 3px;
	margin-top: 2px;
}

.StatCarat.Positive
{
	wash-color: #00FF99;
}

.StatCarat.Negative
{
	wash-color: #FF410D;
	pre-transform-rotate2d: 180deg;
}

.StatAward
{
	width: 100%;
	height: 30px;
	ignore-parent-flow: true;
	vertical-align: bottom;
	flow-children: right;
	background-color: rgb(55, 71, 212);
	opacity: 0;
	border-radius: 0px 0px 3px 3px;
}

.BronzeAward .StatAward,.SilverAward .StatAward,.GoldAward .StatAward
{
	opacity: 1;
}

.StatAward Label
{
	font-size: 14px;
	vertical-align: middle;
	font-weight: semi-bold;
	text-transform: uppercase;
	font-family: CriteriaCF;
	text-overflow: shrink;
	margin-top: 7px;
	text-shadow: 0px 0px 2px #000000;
}

.AwardName Label
{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 5px;
}

.Medal
{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 5px;
	background-size: contain;
	background-repeat: no-repeat;
}

.MedalContent
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: middle;
}

.BronzeAward .Medal
{
	background-image: url("s2r://panorama/images/post_game/medal_bronze_png.vtex");
}

.BronzeAward .StatAward
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #CF9866 ), to( #974E2F ) );
}

.BronzeAward .AwardBG
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #CF986620 ), to( #CF986600 ) );
}

.SilverAward .Medal
{
	background-image: url("s2r://panorama/images/post_game/medal_silver_png.vtex");
}

.SilverAward .StatAward
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #a7adbb ), to( #7783A0 ) );
}

.SilverAward .AwardBG
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #a7adbb20 ), to( #a7adbb00 ) );
}

.GoldAward .Medal
{
	background-image: url("s2r://panorama/images/post_game/medal_gold_png.vtex");
}

.GoldAward .StatAward
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #B08248 ), to( #A66A1D ) );
}

.GoldAward .AwardBG
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #B0824820 ), to( #B0824800 ) );
}

.HeroStats
{
	width: 100%;
	height: 140px;
	flow-children: right;
}

.AwardBG
{
	width: 100%;
	height: 100%;
	z-index: 1;
	ignore-parent-flow: true;
}

.HeroStat
{
	flow-children: down;
	width: fill-parent-flow(1.0);
	height: 100%;
}

.HeroStat.Stat1
{
	border-radius: 3px 0px 0px 0px;
}

.HeroStat.Stat5
{
	border-radius: 0px 3px 0px 0px;
}

.StatContent
{
	width: 100%;
	height: 110px;
	z-index: 1;
	flow-children: down;
	background-color: #ffffff05;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff07 ), to( #ffffff01 ) );
}

.StatDivider
{
	width: 3px;
	height: 110px;
}

.HeroStat .StatAmount
{
	font-size: 26px;
}

.mostKills
{
	background-image: url("s2r://panorama/images/post_game/stat_kills_png.vtex");
	wash-color: #FF5D5D;
}

.mostDamage
{
	background-image: url("s2r://panorama/images/post_game/stat_objective_damage_png.vtex");
	wash-color: #02EAEA;
}

.mostHealing
{
	background-image: url("s2r://panorama/images/post_game/stat_healing_png.vtex");
	wash-color: #00FF99;
}

.highestNetworth
{
	background-image: url("s2r://panorama/images/post_game/stat_networth_png.vtex");
	wash-color: #FFCC00;
}

.mostAssists
{
	background-image: url("s2r://panorama/images/post_game/stat_assists_png.vtex");
	wash-color: #C730CA;
}

.mostHeroDamage
{
	background-image: url("s2r://panorama/images/post_game/stat_hero_damage_png.vtex");
	wash-color: #2972FF;
}

