/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

#Contents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303030fc ), to( #333333fc ) );
	padding: 7px 10px 10px 10px;
	border: 2px solid black;
	margin: 5px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) );
	background-color: #231F20;
	border-top: 2px solid #7A7A7A;
	border-bottom: 2px solid #7A7A7A;
	box-shadow: inset #00000040 0px 5px 100px 30px;
	background-image: url("s2r://panorama/images/textures/bg_smoke_psd.vtex");
	background-img-opacity: 0.3;
	background-size: cover;
	padding: 20px;
	min-width: 300px;
	vertical-align: middle;
	horizontal-align: center;
	opacity: 1.0;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
	flow-children: down;
}

#Contents.PlayerMenuContents
{
	background-color: #1b1d24;
	width: 1000px;
	padding: 24px 24px 24px 24px;
	vertical-align: middle;
	horizontal-align: center;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

#ChatLineContextMenu #Contents.PlayerMenuContents
{
	width: 500px;
	horizontal-align: right;
	margin-right: 20px;
}

.GameMode_Duos #ChatLineContextMenu #Contents.PlayerMenuContents
{
	width: 1000px;
}

.IsPlatformMobile #Contents.PlayerMenuContents
{
	padding: 6px 6px 6px 6px;
}

#LeftArrow,#RightArrow,#TopArrow,#BottomArrow
{
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: contain;
	z-index: 1;
	visibility: collapse;
}

#LeftArrow,#RightArrow
{
	width: 24px;
	height: 24px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 4px;
}

#LeftArrow
{
	wash-color: #666666;
	margin-right: -5px;
	visibility: collapse;
}

.ShowLeftArrowImage #LeftArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_left_png.vtex");
	wash-color: #252b30;
}

#ChatLineContextMenu #LeftArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_left_png.vtex");
	width: 24px;
	height: 24px;
	wash-color: #2b2a2c;
	margin-right: -3px;
}

.IsPlatformMobile #ChatLineContextMenu #LeftArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_left_png.vtex");
	width: 60px;
	height: 60px;
	wash-color: #2b2a2c;
	margin-right: -8px;
}

#RightArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_right_png.vtex");
}

#TopArrow,#BottomArrow
{
	width: 24px;
	height: 21px;
	margin-left: 12px;
	margin-right: 12px;
}

#TopArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_top_png.vtex");
}

#BottomArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_bottom_png.vtex");
}

#ContextMenuBody.LeftArrowVisible #LeftArrow
{
	visibility: visible;
}

#ContextMenuBody.RightArrowVisible #RightArrow
{
	visibility: visible;
}

#ContextMenuBody.TopArrowVisible #TopArrow
{
	visibility: visible;
}

#ContextMenuBody.BottomArrowVisible #BottomArrow
{
	visibility: visible;
}

.ContextMenu_NoArrow #ContextMenuBody.LeftArrowVisible #LeftArrow
{
	visibility: collapse;
}

.ContextMenu_NoArrow #ContextMenuBody.RightArrowVisible #RightArrow
{
	visibility: collapse;
}

.ContextMenu_NoArrow #ContextMenuBody.TopArrowVisible #TopArrow
{
	visibility: collapse;
}

.ContextMenu_NoArrow #ContextMenuBody.BottomArrowVisible #BottomArrow
{
	visibility: collapse;
}

#ContextMenuBody.LeftArrowVisible #Contents
{
	margin-left: 0px;
	min-height: 60px;
}

#ContextMenuBody.RightArrowVisible #Contents
{
	margin-right: 0px;
	min-height: 60px;
}

#ContextMenuBody.BottomArrowVisible #Contents
{
	margin-bottom: 0px;
	min-width: 60px;
}

#ContextMenuBody.TopArrowVisible #Contents
{
	margin-top: 0px;
	min-width: 60px;
}

#ContextMenuBody
{
	flow-children: down;
}

.ContextMenuBodyRow
{
	flow-children: right;
}

#MenuOptionsPanel Button Label
{
	text-align: center;
	horizontal-align: center;
	color: #ffffffaa;
	padding: 2px 10px 4px 10px;
	font-size: 18px;
	font-weight: bold;
	transition-duration: 0.2s;
	transition-property: color;
}

#MenuOptionsPanel Button:hover
{
	background-color: #8588a033;
}

#MenuOptionsPanel Button:hover Label
{
	color: white;
}

